Repository symfony/symfony, pull requests merged in 2018-07, with the labels that each got.

#27752 [Cache] provider does not respect option maxIdLength with versioning enabled
  src/Symfony/Component/Cache/Tests/Adapter/MaxIdLengthAdapterTest.php
  src/Symfony/Component/Cache/Traits/AbstractTrait.php
Labels: Bug, Cache, Status: Reviewed

#27659 [HttpKernel] Make AbstractTestSessionListener compatible with CookieClearingLogoutHandler
  src/Symfony/Component/HttpKernel/EventListener/AbstractTestSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TestSessionListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#27503 [Serializer] Allow to pass a single value for the groups opt
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
Labels: Feature, Serializer, Status: Reviewed

#27317 [VarDumper] make control characters non-selectable in HTML
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
  src/Symfony/Component/VarDumper/Resources/css/htmlDescriptor.css
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/HtmlDumperTest.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/dumb-var.php
Labels: DX, Feature, Status: Needs Work

#27618 [PropertyInfo] added handling of nullable types in PhpDoc
  composer.json
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
  src/Symfony/Component/PropertyInfo/composer.json
Labels: Bug, PropertyInfo, Status: Reviewed

#27803 [Workflow] Update phpdoc to fit a used className
  src/Symfony/Component/Workflow/Event/Event.php
Labels: Bug, Status: Reviewed, Workflow

#27809 [HttpFoundation] Fix tests: new message for status 425
  src/Symfony/Component/HttpFoundation/Response.php
Labels: Bug, HttpFoundation, Status: Reviewed

#27794 Add color support for Hyper terminal .
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Component/Console/Output/StreamOutput.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Console, Feature, Status: Reviewed

#27801 [MonologBridge] Add ProcessorInterface, enabling autoconfiguration of monolog processors
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Processor/ProcessorInterface.php
  src/Symfony/Bridge/Monolog/Processor/TokenProcessor.php
  src/Symfony/Bridge/Monolog/Processor/WebProcessor.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Feature, MonologBridge, Status: Reviewed

#27813 [Doctrine Bridge] Fixed usage of wrong variable when tagged subscriber is invalid
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPass.php
Labels: Bug, Status: Reviewed

#27830 [Dependency-Injection] Fix issue where non-defined services were attempted to be removed
  src/Symfony/Component/DependencyInjection/Compiler/RemoveUnusedDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RemoveUnusedDefinitionsPassTest.php
Labels: Bug, Status: Reviewed

#27798 [Security] Use AuthenticationTrustResolver in SimplePreAuthenticationListener
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_listeners.xml
  src/Symfony/Component/Security/Http/Firewall/SimplePreAuthenticationListener.php
Labels: Feature, Security, Status: Reviewed

#27831 Check for Hyper terminal on all operating systems.
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Component/Console/Output/StreamOutput.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Bug, Status: Reviewed

#27836 [HttpFoundation] add tests for FlashBagInterface::setAll()
  src/Symfony/Component/HttpFoundation/Tests/Session/Flash/FlashBagTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#27834 [DI] Don't show internal service id on binding errors
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInstanceofConditionalsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveInstanceofConditionalsPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27719 [FrameworkBundle] add conflict for non-compatible TwigBridge version
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed

#27820 [Messenger] Fix a bug when having more than one named handler per message subscriber
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, Status: Reviewed

#27847 [Security] Fix accepting null as $uidKey in LdapUserProvider
  src/Symfony/Component/Security/Core/User/LdapUserProvider.php
Labels: Bug, Security, Status: Reviewed

#27758 [WebProfilerBundle] Prevent toolbar links color override by css
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#27849 [DomCrawler] Fix ChoiceFormField::select() PHPDoc
  src/Symfony/Component/DomCrawler/Field/ChoiceFormField.php
Labels: DomCrawler, Status: Reviewed

#27848 [Workflow] Fixed BC break
  src/Symfony/Component/Workflow/Event/Event.php
Labels: Bug, Status: Reviewed, Workflow

#27858 [Console] changed warning verbosity; fixes typo
  src/Symfony/Component/Console/Command/Command.php
Labels: Console, Status: Reviewed

#27650 [SecurityBundle] Add json login ldap
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/JsonLoginLdapFactory.php
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/JsonLoginLdapTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/JsonLoginLdap/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/JsonLoginLdap/config.yml
Labels: Feature, Ldap, SecurityBundle, Status: Reviewed

#27870 [FrameworkBundle] Fixed phpdoc in MicroKernelTrait::configureRoutes()
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#27869 Replaced AppBundle mentions with App
  src/Symfony/Bundle/SecurityBundle/Command/UserPasswordEncoderCommand.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
Labels: Bug, Status: Reviewed

#27866 improve deprecation messages
  src/Symfony/Bundle/TwigBundle/Extension/ActionsExtension.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
Labels: Status: Reviewed

#27850 [Security] Allow passing null as $filter in LdapUserProvider to get the default filter
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/User/LdapUserProvider.php
Labels: Feature, Security, Status: Reviewed

#27805 [Workflow] Fix autofit label in rendering
  src/Symfony/Component/Workflow/Dumper/GraphvizDumper.php
  src/Symfony/Component/Workflow/Tests/Dumper/GraphvizDumperTest.php
  src/Symfony/Component/Workflow/Tests/Dumper/StateMachineGraphvizDumperTest.php
Labels: Bug, Status: Reviewed, Workflow

#27728 [TwigBridge] Fix missing path and separators in loader paths list on debug:twig output
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/Tests/Command/DebugCommandTest.php
Labels: Bug, Status: Reviewed, TwigBridge

#27435 [OptionResolver] resolve arrays
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: Bug, Status: Reviewed

#27020 [Serializer] Allow to access to the format and context in circular ref handler
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Feature, Serializer, Status: Reviewed

#27519 [HttpKernel][FrameworkBundle] Turn HTTP exceptions to HTTP status codes by default
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.xml
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ExceptionListenerTest.php
Labels: Feature, FrameworkBundle, HttpKernel, Status: Reviewed

#27782 [DI] Fix dumping ignore-on-uninitialized references to synthetic services
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
Labels: Bug, DependencyInjection, Status: Needs Review

#27885 [HttpFoundation] don't encode cookie name for BC
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/Tests/Fixtures/response-functional/cookie_urlencode.expected
Labels: Bug, HttpFoundation, Status: Needs Review

#27868 improve deprecation messages
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheWarmupCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/XliffLintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/YamlLintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Translation/TranslatorTest.php
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
  src/Symfony/Bundle/SecurityBundle/Command/UserPasswordEncoderCommand.php
  src/Symfony/Bundle/SecurityBundle/Security/FirewallContext.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/UserPasswordEncoderCommandTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Security/FirewallContextTest.php
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Form/Extension/Core/Type/TimezoneType.php
  src/Symfony/Component/HttpKernel/Controller/ControllerResolver.php
  src/Symfony/Component/HttpKernel/Controller/TraceableControllerResolver.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/Security/Http/Logout/LogoutUrlGenerator.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPass.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/TranslationPassTest.php
  src/Symfony/Component/Translation/Tests/Writer/TranslationWriterTest.php
  src/Symfony/Component/Translation/Translator.php
  src/Symfony/Component/Translation/Writer/TranslationWriter.php
  src/Symfony/Component/VarDumper/Caster/Caster.php
  src/Symfony/Component/VarDumper/Cloner/Data.php
  src/Symfony/Component/VarDumper/Test/VarDumperTestTrait.php
Labels: Status: Reviewed

#27899 add @xabbuh as a code owner of the Yaml component
  .github/CODEOWNERS
Labels: Status: Reviewed

#27902 Fix the detection of the Process new argument
  src/Symfony/Component/Process/Process.php
Labels: Bug, Process, Status: Reviewed

#27889 [Form] Replace .initialism with .text-uppercase.
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
Labels: Bug, Form, Status: Reviewed

#27887 [Form] Removed .mb-0 in errors.
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Form/Tests/AbstractBootstrap4HorizontalLayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractBootstrap4LayoutTest.php
Labels: Bug, Form, Status: Reviewed

#27886 [Form] Removed .form-control-label class.
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Form/Tests/AbstractBootstrap4HorizontalLayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractBootstrap4LayoutTest.php
Labels: Bug, Form, Status: Reviewed

#27882 [MonologBridge] Prefer PSR-3 to interact with Monolog in tests
  src/Symfony/Bridge/Monolog/Tests/Handler/ConsoleHandlerTest.php
  src/Symfony/Bridge/Monolog/Tests/LoggerTest.php
Labels: Bug, MonologBridge, Status: Reviewed

#27903 [Lock] fix lock file permissions
  src/Symfony/Component/Lock/Store/FlockStore.php
Labels: Bug, Lock, Status: Reviewed

#27904 [Filesystem] fix lock file permissions
  src/Symfony/Component/Filesystem/LockHandler.php
Labels: Bug, Filesystem, Status: Reviewed

#27777 [Console] fix typo in phpdoc
  src/Symfony/Component/Console/Output/OutputInterface.php
Labels: Console, Status: Needs Review

#27826 [Serializer] Fix serialization of items with groups across entities and discrimination map
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyMessageNumberTwo.php
Labels: Bug, Serializer, Status: Reviewed

#27845 [DI] Improve exception messages by hiding the hidden ids they contain
  src/Symfony/Component/DependencyInjection/Compiler/CheckExceptionOnInvalidReferenceBehaviorPass.php
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Compiler/ServiceLocatorTagPass.php
  src/Symfony/Component/DependencyInjection/ServiceLocator.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckExceptionOnInvalidReferenceBehaviorPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ServiceLocatorTest.php
Labels: DependencyInjection, Status: Reviewed

#27821 [Process][Console] deprecated defining commands as strings
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Helper/ProcessHelper.php
  src/Symfony/Component/Console/Tests/Helper/ProcessHelperTest.php
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Process/CHANGELOG.md
  src/Symfony/Component/Process/PhpProcess.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessFailedExceptionTest.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Console, Deprecation, Feature, Process, Status: Reviewed

#27774 [FrameworkBundle] allow turning routes to utf8 mode by default
  UPGRADE-4.2.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing.xml
  src/Symfony/Bundle/FrameworkBundle/Routing/DelegatingLoader.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/DelegatingLoaderTest.php
Labels: Deprecation, Feature, FrameworkBundle, Status: Reviewed

#27694 [FrameworkBundle][Cache] Allow configuring PDO-based cache pools, with table auto-creation on first use
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Tests/Adapter/PdoDbalAdapterTest.php
  src/Symfony/Component/Cache/Traits/PdoTrait.php
  src/Symfony/Component/Cache/composer.json
Labels: Cache, Feature, FrameworkBundle, Status: Reviewed

#27697 [ProxyManagerBridge][DI] allow proxifying interfaces with "lazy: Some\ProxifiedInterface"
  .php_cs.dist
  src/Symfony/Bridge/ProxyManager/CHANGELOG.md
  src/Symfony/Bridge/ProxyManager/LazyProxy/Instantiator/LazyLoadingValueHolderFactory.php
  src/Symfony/Bridge/ProxyManager/LazyProxy/Instantiator/LazyLoadingValueHolderFactoryV2.php
  src/Symfony/Bridge/ProxyManager/LazyProxy/Instantiator/RuntimeInstantiator.php
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/LazyLoadingValueHolderGenerator.php
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/Fixtures/proxy-factory.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/Fixtures/proxy-implem.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/ProxyDumperTest.php
  src/Symfony/Bridge/ProxyManager/composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/LazyTrait.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/lazy_fqcn.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/lazy_fqcn.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/prototype_array.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_lazy_fqcn.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_lazy_fqcn.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Feature, ProxyManagerBridge, Status: Reviewed

#26933 [Console] Add title table
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Helper/TableStyle.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: Console, Feature, Status: Reviewed

#27879 [Routing] deprecate non string requirement names
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/RequirementsWithoutPlaceholderNameController.php
  src/Symfony/Component/Routing/Tests/Fixtures/requirements_without_placeholder_name.yml
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
Labels: Deprecation, Routing, Status: Reviewed

#27918 [Console] correctly return parameter's default value on "--"
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Input/ArrayInput.php
  src/Symfony/Component/Console/Tests/Input/ArgvInputTest.php
  src/Symfony/Component/Console/Tests/Input/ArrayInputTest.php
Labels: Bug, Console, Status: Reviewed

#27923 [Form/Profiler] Massively reducing memory footprint of form profiling pages...
  src/Symfony/Component/Form/Extension/DataCollector/FormDataExtractor.php
Labels: Bug, Form, Status: Reviewed

#27915 [DependencyInjection] add missing test for #27710
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: DependencyInjection, Status: Reviewed

#27913 [EventDispatcher] Clear orphaned events on reset
  src/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcher.php
  src/Symfony/Component/EventDispatcher/Tests/Debug/TraceableEventDispatcherTest.php
Labels: Bug, EventDispatcher, Status: Reviewed

#27929 [HttpFoundation] Fixed phpdoc for get method of HeaderBag
  src/Symfony/Component/HttpFoundation/HeaderBag.php
Labels: HttpFoundation, Status: Needs Review

#27878 improve deprecation messages
  src/Symfony/Bundle/SecurityBundle/Security/FirewallContext.php
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/DependencyInjection/Compiler/AnalyzeServiceReferencesPass.php
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/RemoveUnusedDefinitionsPass.php
Labels: Status: Reviewed

#27807 Added new methods submitForm and clickLink to Client class
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/BrowserKit/Tests/ClientTest.php
Labels: BrowserKit, Feature, Status: Reviewed

#27931 [SecurityBundle] fix tests
  src/Symfony/Bundle/SecurityBundle/Tests/Security/FirewallContextTest.php
Labels: SecurityBundle, Status: Needs Review

#27927 [HttpFoundation] Suppress side effects in 'get' and 'has' methods of NamespacedAttributeBag
  src/Symfony/Component/HttpFoundation/Session/Attribute/NamespacedAttributeBag.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Attribute/NamespacedAttributeBagTest.php
Labels: HttpFoundation, Status: Reviewed

#27947 Rename Contract to Contracts
  composer.json
  src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php
  src/Symfony/Bridge/Monolog/Logger.php
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/DoctrineProvider.php
  src/Symfony/Component/Cache/ResettableInterface.php
  src/Symfony/Component/Cache/Simple/ChainCache.php
  src/Symfony/Component/Cache/Simple/TraceableCache.php
  src/Symfony/Component/Cache/Traits/ProxyTrait.php
  src/Symfony/Component/Console/Formatter/OutputFormatterStyleStack.php
  src/Symfony/Component/DependencyInjection/ResettableContainerInterface.php
  src/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcherInterface.php
  src/Symfony/Component/ExpressionLanguage/Compiler.php
  src/Symfony/Component/HttpKernel/DataCollector/DataCollectorInterface.php
  src/Symfony/Component/HttpKernel/DataCollector/EventDataCollector.php
  src/Symfony/Component/HttpKernel/DependencyInjection/ServicesResetter.php
  src/Symfony/Component/HttpKernel/Profiler/Profiler.php
  src/Symfony/Component/Security/Core/Authentication/Token/Storage/TokenStorage.php
  src/Symfony/Component/Stopwatch/Stopwatch.php
  src/Symfony/Component/Validator/Validator/TraceableValidator.php
  src/Symfony/Contracts/.gitignore
  src/Symfony/Contracts/CHANGELOG.md
  src/Symfony/Contracts/LICENSE
  src/Symfony/Contracts/README.md
  src/Symfony/Contracts/Service/ResetInterface.php
  src/Symfony/Contracts/composer.json
  src/Symfony/Contracts/phpunit.xml.dist
Labels: Bug, Status: Needs Review

#27941 [WebProfilerBundle] Fixed icon alignment issue using Bootstrap 4.1.2
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#27940 [Security] Update user phpdoc on tokens
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
Labels: Bug, Security, Status: Reviewed

#27829 [DoctrineBridge] Inject the entity manager instead of the class metadata factory in DoctrineExtractor
  UPGRADE-5.0.md
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
Labels: Deprecation, DoctrineBridge, Status: Reviewed

#27891 [Finder] Allow arrays as parameters of some methods for better fluent experience and code readability
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
Labels: Feature, Finder, Status: Reviewed

#27958 [Form] Remaining changes for bootstrap 4 file fields
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Component/Form/Tests/AbstractBootstrap4LayoutTest.php
Labels: Bug, Form, Status: Reviewed

#27966 [FrameworkBundle] fixed brackets position in method calls
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#27950 [FrameworkBundle] fix compatibility with older Cache versions
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Contracts/CHANGELOG.md
  src/Symfony/Contracts/README.md
Labels: Bug, FrameworkBundle, Status: Reviewed

#27968 [FrameworkBundle] add missing XSD entry for taggable cache pools
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, FrameworkBundle, Status: Reviewed

#27971 Fix SVGs not scaling in IE9, IE10, and IE11
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
Labels: Bug, Status: Reviewed

#27978 [WebProfilerBundle] Show relative path of the template and improving panel view
  src/Symfony/Bridge/Twig/Extension/CodeExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/CodeExtensionTest.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/twig.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/twig.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: Feature, Status: Reviewed, WebProfilerBundle

#27975 [MonologBridge] Improve FirePHPHandler
  src/Symfony/Bridge/Monolog/Handler/FirePHPHandler.php
Labels: MonologBridge, Status: Reviewed

#27976 [Security] Remember me: allow to set the samesite cookie flag
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/RememberMeFactory.php
  src/Symfony/Component/Security/Http/RememberMe/AbstractRememberMeServices.php
  src/Symfony/Component/Security/Http/RememberMe/PersistentTokenBasedRememberMeServices.php
  src/Symfony/Component/Security/Http/RememberMe/TokenBasedRememberMeServices.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentTokenBasedRememberMeServicesTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/TokenBasedRememberMeServicesTest.php
Labels: Feature, Security, SecurityBundle, Status: Reviewed

#27956 Added types and tweaked PHPdoc of clickLink() and submitForm() methods
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/BrowserKit/Tests/ClientTest.php
Labels: BrowserKit, Status: Reviewed

#27943 [Security] Deprecate returning stringish objects from Security::getUser
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Security.php
  src/Symfony/Component/Security/Core/Tests/SecurityTest.php
Labels: Bug, Security, Status: Reviewed

#27983 [DX] Fix PHPDoc return type
  src/Symfony/Component/HttpKernel/Event/GetResponseEvent.php
Labels: Bug, DX, Status: Reviewed

#27678 Allow to configure some options of the profiler interface
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/settings.html.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#27986 Fix test file relative for AppVeyor
  src/Symfony/Bridge/Twig/Tests/Extension/CodeExtensionTest.php
Labels: Status: Reviewed

#27939 Fix tests
  composer.json
Labels: Status: Reviewed

#27827 [Serializer] Supports nested abstract items
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyMessageNumberTwo.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Bug, Serializer, Status: Reviewed

#26193 Fix false-positive deprecation notices for TranslationLoader and WriteCheckSessionHandler
  src/Symfony/Bundle/FrameworkBundle/Translation/TranslationLoader.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/WriteCheckSessionHandler.php
Labels: Bug, Status: Reviewed

#27841 [Messenger] Envelope-aware middleware is never called with a message
  UPGRADE-4.2.md
  src/Symfony/Component/Messenger/Asynchronous/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Middleware/Enhancers/ActivationMiddlewareDecorator.php
  src/Symfony/Component/Messenger/Middleware/ValidationMiddleware.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/ValidationMiddlewareTest.php
Labels: BC Break, Messenger, Status: Reviewed

#27993 [Validator] Add missing UUID validator message translation (en)
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
Labels: Bug, Status: Needs Review, Validator

#27994 [Validator] Add missing UUID validator message translation (hu)
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
Labels: Bug, Status: Needs Review

#27992 add missing translation for uuid validator
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Bug, Status: Needs Review

#27997 Serbo-Croatian has Serbian plural rule
  src/Symfony/Component/Translation/PluralizationRules.php
Labels: Feature, Status: Needs Review

#27999 [Validator] Add several missing translations of the UUID validation message.
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
Labels: Bug, Status: Needs Review, Validator

#28030 Fix UUID error message id in translation files
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
Labels: Status: Needs Review

#28005 [HttpKernel] Fixed templateExists on parse error of the template name
  src/Symfony/Component/HttpKernel/Fragment/HIncludeFragmentRenderer.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/HIncludeFragmentRendererTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#28031 Release v2.8.43
  CHANGELOG-2.8.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28037 [Form] fix truncating form views in data collector
  src/Symfony/Component/Form/Extension/DataCollector/FormDataCollector.php
  src/Symfony/Component/Form/Extension/DataCollector/FormDataExtractor.php
Labels: Form, Status: Needs Review

#28039 Release v3.4.13
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28042 Release v4.0.13
  CHANGELOG-4.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28043 Release v4.1.2
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28014 [Messenger] Fix chaining senders with their aliases
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_routing.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_routing.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_routing.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Messenger, Status: Reviewed

#28046 [PhpUnitBridge] Describe weak_vendors properly
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
Labels: Status: Reviewed

#28052 [HttpKernel] Fix merging bindings for controllers' locators
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: Bug, HttpKernel, Status: Reviewed

#28025 Use an empty string as default for assertEquals
  src/Symfony/Component/ClassLoader/Tests/ClassMapGeneratorTest.php
  src/Symfony/Component/DomCrawler/Tests/CrawlerTest.php
  src/Symfony/Component/Stopwatch/Tests/StopwatchEventTest.php
  src/Symfony/Component/Stopwatch/Tests/StopwatchTest.php
  src/Symfony/Component/Yaml/Tests/Fixtures/escapedCharacters.yml
Labels: Status: Reviewed

#28059 [Messenger] Fix error message on undefined message class for non-subscriber handler
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, Messenger, Status: Reviewed

#28082 Renaming internal test class to help auto-completion
  src/Symfony/Component/HttpKernel/Tests/Controller/ControllerResolverTest.php
Labels: Bug, Status: Reviewed

#28080 [HttpFoundation] fixed using _method parameter with invalid type
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#28067 [Intl] Replace svn with git in the icu data update script
  src/Symfony/Component/Intl/Resources/bin/icu.ini
  src/Symfony/Component/Intl/Resources/bin/update-data.php
  src/Symfony/Component/Intl/Resources/data/git-info.txt
  src/Symfony/Component/Intl/Resources/data/svn-info.txt
  src/Symfony/Component/Intl/Tests/Util/GitRepositoryTest.php
  src/Symfony/Component/Intl/Util/GitRepository.php
  src/Symfony/Component/Intl/Util/SvnCommit.php
  src/Symfony/Component/Intl/Util/SvnRepository.php
Labels: Intl, Status: Reviewed

#28066 [HttpFoundation] Remove unnecessary condition in MongoDbSessionHandler
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MongoDbSessionHandler.php
Labels: Bug, HttpFoundation, Status: Reviewed

#28045 [HttpFoundation] Fix Cookie::isCleared
  src/Symfony/Component/HttpFoundation/Cookie.php
  src/Symfony/Component/HttpFoundation/Tests/CookieTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#28057 [DI] Improve class named servics error message
  src/Symfony/Component/DependencyInjection/Compiler/CheckDefinitionValidityPass.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: DependencyInjection, Status: Reviewed

#28003 [HttpKernel] Fixes invalid REMOTE_ADDR in inline subrequest when configuring trusted proxy with subnet
  src/Symfony/Component/HttpKernel/Fragment/InlineFragmentRenderer.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/InlineFragmentRendererTest.php
Labels: Bug, HttpKernel, Status: Reviewed
