Repository symfony/symfony, pull requests merged in 2018-12, with the labels that each got.

#29396 fix type for $value in DocBlock
  src/Symfony/Component/Intl/NumberFormatter/NumberFormatter.php
Labels: Status: Reviewed

#29397 [WebProfilerBundle] Fix title case
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/events.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#29395 [FrameworkBundle][Messenger] Restore check for messenger serializer default id
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_routing.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_transport.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_transport_no_serializer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_routing.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_transport.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_transport_no_serializer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_routing.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_transport.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_transport_no_serializer.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_transports.yml
Labels: Bug, FrameworkBundle, Messenger, Status: Reviewed

#29394 [Config] fix path exclusion during glob discovery
  src/Symfony/Component/Config/Resource/GlobResource.php
  src/Symfony/Component/Config/Tests/Resource/GlobResourceTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: Bug, Config, Status: Needs Review

#29393 [DI] fix edge case in InlineServiceDefinitionsPass
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
Labels: Bug, DependencyInjection, Status: Reviewed

#29386 undeprecate the single-colon notation for controllers
  src/Symfony/Bundle/FrameworkBundle/Routing/DelegatingLoader.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/DelegatingLoaderTest.php
Labels: Status: Reviewed

#29381 Added upgrade to HandlersLocator
  UPGRADE-4.2.md
Labels: Status: Reviewed

#29399 [FrameworkBundle] define doctrine as default_pdo_provider only if the package is installed
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#29145 [Workflow] Trigger `entered` event for subject entering in the Workflow for the first time
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Event/Event.php
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
  src/Symfony/Component/Workflow/Workflow.php
Labels: Feature, Status: Reviewed, Workflow

#29127 [DomCrawler] Added return of element name in `extract()` method
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/CrawlerTest.php
Labels: Feature, Status: Reviewed

#28976 [DI] Add a "default" EnvProcessor
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Exception/EnvNotFoundException.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterEnvVarProcessorsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_default_env.php
Labels: DependencyInjection, Feature, Status: Reviewed

#28858 [DI] Deprecated using env vars with cannotBeEmpty()
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/ScalarNode.php
  src/Symfony/Component/Config/Definition/VariableNode.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: DependencyInjection, Deprecation, Feature, Status: Reviewed

#28853 [LDAP] Add TIMEOUT Option to LDAP Connection Options
  src/Symfony/Component/Ldap/Adapter/ExtLdap/ConnectionOptions.php
  src/Symfony/Component/Ldap/CHANGELOG.md
Labels: Feature, Ldap, Status: Reviewed

#28479 [Validator] Checking a BIC along with an IBAN
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Bic.php
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Tests/Constraints/BicValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#29400 Add upgrade from 4.2 to 4.3
  UPGRADE-4.2.md
  UPGRADE-4.3.md
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/VariableNode.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: Bug, Status: Needs Review

#28954 [Debug] Mark ErrorHandler and ExceptionHandler classes as final
  src/Symfony/Component/Debug/CHANGELOG.md
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/Debug/ExceptionHandler.php
Labels: Debug, Deprecation, Status: Reviewed

#29414 [DI] Fix dumping expressions accessing single-use private services
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_env_in_id.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_requires.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_legacy_privates.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_locator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_private_frozen.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_private_in_expression.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_uninitialized_ref.php
Labels: Bug, DependencyInjection, Status: Reviewed

#29420 [WebProfilerBundle][4.2] Deny messenger <4.2
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: Bug, Status: Reviewed, WebProfilerBundle

#29418 [VarExporter] fix dumping protected property from abstract classes
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/abstract-parent.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/final-error.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/private.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Bug, Status: Needs Review

#29404 [WebProfilerBundle] Fix log filter in dark mode
  src/Symfony/Bundle/TwigBundle/Resources/views/exception.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Bug, Status: Reviewed

#29421 [TwigBundle] Sync tab navigation css
  src/Symfony/Bundle/TwigBundle/Resources/views/exception.css.twig
Labels: Bug, Status: Reviewed, TwigBundle

#29424 [Routing] fix taking verb into account when redirecting
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Routing/Tests/Matcher/RedirectableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Bug, Routing, Status: Needs Review

#29415 [WebProfilerBundle] Split form field heading
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/form.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#29432 [DI] dont inline when lazy edges are found
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
Labels: Bug, DependencyInjection, Status: Needs Review

#29445 [FrameworkBundle] Fix empty output for debug:autowiring when reflection-docblock is not installed
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#29441 [Routing] ignore trailing slash for non-GET requests
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Bug, Routing, Status: Needs Review

#29446 [VarExporter] fix dumping private properties from abstract classes
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Internal/Hydrator.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/abstract-parent.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/final-error.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/private.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Bug, Status: Needs Review

#29461 [Contracts] extract LocaleAwareInterface out of TranslatorInterface
  UPGRADE-4.2.md
  src/Symfony/Bridge/Twig/Tests/Extension/Fixtures/StubTranslator.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/DataCollectorTranslatorPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/Fixtures/StubTranslator.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/HttpKernel/EventListener/TranslatorListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TranslatorListenerTest.php
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Translation/DataCollectorTranslator.php
  src/Symfony/Component/Translation/LoggingTranslator.php
  src/Symfony/Component/Translation/TranslatorInterface.php
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/Tests/DependencyInjection/AddValidatorInitializersPassTest.php
  src/Symfony/Component/Validator/Util/LegacyTranslatorProxy.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
  src/Symfony/Component/Validator/composer.json
  src/Symfony/Contracts/Translation/LocaleAwareInterface.php
  src/Symfony/Contracts/Translation/TranslatorInterface.php
  src/Symfony/Contracts/Translation/TranslatorTrait.php
Labels: BC Break, Bug, Status: Reviewed

#29482 Fixes sprintf(): Too few arguments in MessageFormatter::choiceFormat
  src/Symfony/Component/Translation/Formatter/MessageFormatter.php
Labels: Bug, Status: Needs Review

#29479 Fix TransChoiceTokenParser deprecation message
  src/Symfony/Bridge/Twig/TokenParser/TransChoiceTokenParser.php
Labels: Bug, Status: Needs Review

#29464 [DoctrineBridge] Conflict with Messenger <4.2
  src/Symfony/Bridge/Doctrine/composer.json
Labels: DoctrineBridge, Messenger, Status: Reviewed

#29436 [Cache] Fixed Memcached adapter doClear()to call flush()
  src/Symfony/Component/Cache/Tests/Adapter/MemcachedAdapterTest.php
  src/Symfony/Component/Cache/Traits/MemcachedTrait.php
Labels: Bug, Cache, Status: Reviewed

#29481 [TwigBridge] Deprecating legacy Twig paths in DebugCommand and simplifications
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/Tests/Command/DebugCommandTest.php
  src/Symfony/Bridge/Twig/Tests/Fixtures/Resources/BarBundle/views/base.html.twig
  src/Symfony/Bridge/Twig/Tests/Fixtures/templates/bundles/UnknownBundle/base.html.twig
  src/Symfony/Bridge/Twig/Tests/Fixtures/templates/bundles/WebProfileBundle/Profiler/base.html.twig
Labels: Bug, Status: Reviewed, TwigBridge

#29486 Release v2.7.50
  CHANGELOG-2.7.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#29487 Release v2.8.49
  CHANGELOG-2.8.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#29491 Release v4.0.15
  CHANGELOG-4.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#29492 Release v4.1.9
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#29493 Release v4.2.1
  CHANGELOG-4.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#29502 [Serializer] change timezone to fix tests on Windows
  src/Symfony/Component/Serializer/Tests/Normalizer/DateTimeNormalizerTest.php
Labels: Bug, Serializer, Status: Reviewed

#29499 [Validator] Fixed grouped composite constraints
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
  src/Symfony/Component/Validator/Validator/RecursiveContextualValidator.php
Labels: Bug, Status: Reviewed, Validator

#29523 [Hackday][DependencyInjection] Doc block for ContainerBagInterface and ParameterBagInterface
  src/Symfony/Component/DependencyInjection/ParameterBag/ContainerBagInterface.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBagInterface.php
Labels: DependencyInjection, Status: Reviewed

#29500 [Form] filter out invalid Intl values
  src/Symfony/Component/Form/Extension/Core/Type/CountryType.php
  src/Symfony/Component/Form/Extension/Core/Type/CurrencyType.php
  src/Symfony/Component/Form/Extension/Core/Type/LanguageType.php
  src/Symfony/Component/Form/Extension/Core/Type/LocaleType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CountryTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CurrencyTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/LanguageTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/LocaleTypeTest.php
Labels: Bug, Form, Status: Reviewed

#29307 [Form] Filter arrays out of scalar form types
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/Tests/CompoundFormTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/UrlTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
Labels: Bug, Form, Status: Reviewed

#29501 [Form] filter out invalid language values
  src/Symfony/Component/Form/ChoiceList/Loader/IntlCallbackChoiceLoader.php
  src/Symfony/Component/Form/Tests/ChoiceList/Loader/IntlCallbackChoiceLoaderTest.php
Labels: Bug, Form, Status: Reviewed

#29398 [FrameworkBundle][Controller] Use interface from Contracts to remove deprecation arnings
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
Labels: FrameworkBundle, Status: Reviewed

#29531 [Validator] Added IBAN format for Vatican City State
  src/Symfony/Component/Validator/Constraints/IbanValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/IbanValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#29515 Add a docblock for FormFactoryInterface
  src/Symfony/Component/Form/FormFactoryInterface.php
Labels: Feature, Status: Reviewed

#29539 [WebProfilerBundle][TwigBundle] CSS fixes
  src/Symfony/Bundle/TwigBundle/Resources/views/exception.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Bug, Status: Reviewed, TwigBundle, WebProfilerBundle

#29323 [Security] defer log message in guard authenticator
  src/Symfony/Component/Security/Guard/Firewall/GuardAuthenticationListener.php
Labels: Bug, Status: Reviewed

#29513 [Hackday][Serializer] Deserialization ignores argument type hint from phpdoc for array in constructor argument
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/DeserializeNestedArrayOfObjectsTest.php
Labels: Bug, Serializer, Status: Reviewed

#29520 Feature/add missing space
  src/Symfony/Component/DependencyInjection/ServiceLocator.php
  src/Symfony/Component/DependencyInjection/Tests/ServiceLocatorTest.php
Labels: Bug, Status: Reviewed

#29452 [Form] Shortcut debug:form for partial type name
  src/Symfony/Component/Form/Command/DebugCommand.php
Labels: Feature, Form, Status: Reviewed

#29439 [PhpUnitBridge] install PHPUnit 7 on PHP 7.1 and fix requir. for PHPUnit 6
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Feature, PhpUnitBridge, Status: Reviewed

#29168 [Console] Add hyperlinks support
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Formatter/OutputFormatter.php
  src/Symfony/Component/Console/Formatter/OutputFormatterStyle.php
  src/Symfony/Component/Console/Tests/Formatter/OutputFormatterTest.php
Labels: Console, Feature, Status: Reviewed

#29504 [Validator] Add support for UATP card validation
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/CardSchemeValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/CardSchemeValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#29408 [Security] getTargetPath of TargetPathTrait must return string or null
  src/Symfony/Component/Security/Http/Util/TargetPathTrait.php
Labels: Bug, Security, Status: Reviewed

#29309 Optimize perf by replacing call_user_func with dynamic variables
  src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php
  src/Symfony/Bridge/Doctrine/Form/Type/EntityType.php
  src/Symfony/Bridge/Monolog/Handler/ServerLogHandler.php
  src/Symfony/Bridge/ProxyManager/LazyProxy/Instantiator/RuntimeInstantiator.php
  src/Symfony/Component/Cache/Tests/Adapter/PhpArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/CacheItemTest.php
  src/Symfony/Component/Cache/Tests/Simple/PhpArrayCacheTest.php
  src/Symfony/Component/Config/ConfigCacheFactory.php
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/Config/ResourceCheckerConfigCacheFactory.php
  src/Symfony/Component/Config/Util/XmlUtils.php
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Helper/ProcessHelper.php
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Helper/ProgressIndicator.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/CssSelector/XPath/Translator.php
  src/Symfony/Component/Debug/DebugClassLoader.php
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/Debug/ExceptionHandler.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/LazyProxy/Instantiator/RealServiceInstantiator.php
  src/Symfony/Component/DependencyInjection/Loader/ClosureLoader.php
  src/Symfony/Component/EventDispatcher/Debug/WrappedListener.php
  src/Symfony/Component/EventDispatcher/EventDispatcher.php
  src/Symfony/Component/Finder/Iterator/CustomFilterIterator.php
  src/Symfony/Component/Form/CallbackTransformer.php
  src/Symfony/Component/Form/ChoiceList/ArrayChoiceList.php
  src/Symfony/Component/Form/ChoiceList/Factory/DefaultChoiceListFactory.php
  src/Symfony/Component/Form/ChoiceList/Loader/CallbackChoiceLoader.php
  src/Symfony/Component/Form/Extension/Core/EventListener/ResizeFormListener.php
  src/Symfony/Component/Form/Extension/HttpFoundation/HttpFoundationRequestHandler.php
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Extension/Validator/Type/UploadValidatorExtension.php
  src/Symfony/Component/Form/NativeRequestHandler.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/UploadValidatorExtensionTest.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PdoSessionHandlerTest.php
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
  src/Symfony/Component/OptionsResolver/Debug/OptionsResolverIntrospector.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Routing/Loader/ObjectRouteLoader.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Templating/PhpEngine.php
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Translation/PluralizationRules.php
  src/Symfony/Component/Validator/Constraints/CallbackValidator.php
  src/Symfony/Component/Validator/Constraints/ChoiceValidator.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Dumper/AbstractDumper.php
  src/Symfony/Component/VarDumper/VarDumper.php
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Status: Reviewed

#28931 [PhpUnitBridge] Added ClassExistsMock
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/ClassExistsMock.php
  src/Symfony/Bridge/PhpUnit/Tests/ClassExistsMockTest.php
Labels: Feature, PhpUnitBridge, Status: Reviewed

#29549 [WebLink] Fixed documentation link
  src/Symfony/Component/WebLink/README.md
Labels: Status: Reviewed

#29555 [WebProfilerBundle] Improve PHP extension badges
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/config.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/no-gray.svg
Labels: Feature, Status: Reviewed, WebProfilerBundle

#29043 Update ValidationListener.php
  src/Symfony/Component/Form/Extension/Validator/EventListener/ValidationListener.php
Labels: Bug, Form, Status: Reviewed

#29527 [TwigBridge][Form] Prevent multiple rendering of form collection prototypes
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
Labels: Bug, Form, Status: Reviewed, TwigBridge

#29582 [DI] move RegisterServiceSubscribersPass before DecoratorServicePass
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#29584 [FrameworkBundle] fix describing routes with no controllers
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#29586 Fix typos in doc blocks
  src/Symfony/Bundle/FrameworkBundle/Controller/RedirectController.php
Labels: Status: Reviewed

#29587 [Debug] ignore underscore vs backslash namespaces in DebugClassLoader
  src/Symfony/Component/Debug/DebugClassLoader.php
Labels: Bug, Debug, Status: Reviewed

#29542 [Routing] fix dumping same-path routes with placeholders
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher13.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
Labels: Bug, Routing, Status: Needs Review

#29235 [VarDumper] add support for links in CliDumper
  src/Symfony/Bundle/DebugBundle/DependencyInjection/DebugExtension.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Feature, Status: Needs Review, VarDumper

#29108 [DI] compute autowiring error messages lazily
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TestServiceContainerWeakRefPass.php
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/DefinitionErrorExceptionPass.php
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveChildDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Exception/AutowiringFailedException.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/DefinitionTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#29589 [VarExporter] dont call userland code with uninitialized objects
  src/Symfony/Component/VarExporter/Internal/Registry.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/foo-serializable.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Bug, Status: Needs Review

#29558 [Messenger] Restore message handlers laziness
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, Messenger, Status: Reviewed

#29517 [Hackday][Messenger] Add an alias for transport.symfony_serializer so SerializerInterface can be autowired
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
Labels: Messenger, Status: Reviewed

#29591 [Cache] Fix undefined variable in ArrayTrait
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Simple/ArrayCache.php
  src/Symfony/Component/Cache/Traits/ArrayTrait.php
Labels: Bug, Cache, Status: Reviewed

#29286 [WebProfilerBundle] Enable translation filters
  src/Symfony/Bundle/TwigBundle/Resources/views/exception.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/translation.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#29594 EventSubscriberInterface isn't a man
  src/Symfony/Component/EventDispatcher/EventSubscriberInterface.php
Labels: Bug, EventDispatcher, Status: Reviewed

#29596 Don't use he in docs when its not needed
  src/Symfony/Component/EventDispatcher/EventDispatcherInterface.php
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
Labels: Bug, Status: Needs Review

#29602 [DX] rename unit test controller
  src/Symfony/Component/HttpKernel/Tests/HttpKernelTest.php
Labels: DX, Status: Reviewed

#29606 [Form] Fixed FormErrorIterator class phpdoc
  src/Symfony/Component/Form/FormErrorIterator.php
Labels: Bug, Form, Status: Reviewed

#29600 Vietnamese translations improvement
  src/Symfony/Component/Security/Core/Resources/translations/security.vi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
Labels: Bug, Status: Needs Review

#29611 Adjust tests to work in the armhf architecture. Fixes #29281.
  src/Symfony/Component/VarDumper/Tests/Caster/SplCasterTest.php
Labels: Bug, Status: Reviewed

#29621 [Security] Prefer clone() over unserialize(serialize()) for user refreshment
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
Labels: Bug, Security, Status: Reviewed

#29619 [Console] OutputFormatter: move strtolower to createStyleFromString
  src/Symfony/Component/Console/Formatter/OutputFormatter.php
Labels: Console, Status: Reviewed

#29533 Fixed public directory when configured in composer.json
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Bundle/WebServerBundle/DependencyInjection/WebServerExtension.php
  src/Symfony/Bundle/WebServerBundle/Tests/DependencyInjection/WebServerExtensionTest.php
  src/Symfony/Bundle/WebServerBundle/Tests/DependencyInjection/composer.json
Labels: Bug, Status: Reviewed

#29411 [EventDispatcher] Revers event tracing order
  src/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcher.php
  src/Symfony/Component/EventDispatcher/Tests/Debug/TraceableEventDispatcherTest.php
Labels: Bug, EventDispatcher, Status: Reviewed

#29626 [Routing] fix trailing slash redirections involving a trailing var
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/RedirectableUrlMatcher.php
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher0.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher10.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher11.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher12.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher13.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher3.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher4.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher5.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher6.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher7.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher8.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher9.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Bug, Routing, Status: Needs Review

#29620 [Console] Test href case conservation
  src/Symfony/Component/Console/Tests/Formatter/OutputFormatterTest.php
Labels: Bug, Console, Status: Reviewed

#29409 Fix env fallback to an unresolved variable
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: Feature, Status: Reviewed

#29546 [DI] map snake-case ids of service subscribers to camel-case autowiring aliases
  src/Symfony/Component/DependencyInjection/Compiler/RegisterServiceSubscribersPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#28581 [DomCrawler] return empty string on `Crawler::text()` and `Crawler::html()` instead of an exception
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/CrawlerTest.php
Labels: BC Break, DomCrawler, Feature, Status: Reviewed

#29648 [Cache] fix Simple\Psr6Cache proxying of metadata
  src/Symfony/Component/Cache/Simple/Psr6Cache.php
  src/Symfony/Component/Cache/Tests/Adapter/SimpleCacheAdapterTest.php
Labels: Bug, Cache, Status: Needs Review

#29645 Allow running PHPUnit with "xdebug.scream" ON
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, Status: Reviewed

#29644 [Cache] fix bad optim
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Cache/Simple/PhpFilesCache.php
  src/Symfony/Component/Cache/Traits/PhpFilesTrait.php
Labels: Bug, Cache, Status: Needs Review

#29639 [Yaml] detect circular references
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#29625 Add Vietnamese translation for validators
  src/Symfony/Component/Form/Resources/translations/validators.vi.xlf
Labels: Status: Needs Review

#29613 [VarDumper] Use hyperlinks in CliDescriptor
  src/Symfony/Component/VarDumper/Command/Descriptor/CliDescriptor.php
Labels: Feature, Status: Reviewed, VarDumper

#29670 Fix wrong calls to clearstatcache
  src/Symfony/Component/Finder/Tests/FinderTest.php
Labels: Bug, Status: Reviewed

#29671 [Config] remove redundant method calls
  src/Symfony/Component/Config/Exception/FileLoaderLoadException.php
Labels: Config, Status: Reviewed

#29674 [Console] fix PHPDoc in Command
  src/Symfony/Component/Console/Command/Command.php
Labels: Bug, Console, Status: Reviewed

#29672 [Tests] Change to willThrowException
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Loader/TemplateLocatorTest.php
  src/Symfony/Bundle/TwigBundle/Tests/Loader/FilesystemLoaderTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/EventListener/WebDebugToolbarListenerTest.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Form/Tests/SimpleFormTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TranslatorListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/HIncludeFragmentRendererTest.php
  src/Symfony/Component/Intl/Tests/Data/Bundle/Reader/BundleEntryReaderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/AuthenticationProviderManagerTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/DaoAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/LdapBindAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/PreAuthenticatedAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/RememberMeAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/SimpleAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/UserAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/User/ChainUserProviderTest.php
  src/Symfony/Component/Security/Core/Tests/User/LdapUserProviderTest.php
  src/Symfony/Component/Security/Guard/Tests/Firewall/GuardAuthenticationListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AbstractPreAuthenticatedListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/RememberMeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SimplePreAuthenticationListenerTest.php
  src/Symfony/Component/Security/Http/Tests/HttpUtilsTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentTokenBasedRememberMeServicesTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/TokenBasedRememberMeServicesTest.php
Labels: Status: Needs Review

#29642 [VarDumper] Add descriptors tests
  src/Symfony/Component/VarDumper/Command/Descriptor/HtmlDescriptor.php
  src/Symfony/Component/VarDumper/Tests/Command/Descriptor/CliDescriptorTest.php
  src/Symfony/Component/VarDumper/Tests/Command/Descriptor/HtmlDescriptorTest.php
  src/Symfony/Component/VarDumper/composer.json
Labels: Bug, Status: Reviewed, VarDumper

#29597 [DI] fix reporting bindings on overriden services as unused
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveChildDefinitionsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/instanceof.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/prototype.expected.yml
Labels: Bug, DependencyInjection, Status: Reviewed

#29636 [Twig] Remove spaces to fix whitespace in tags
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
Labels: Bug, Status: Reviewed, TwigBridge

#29681 [Stopwatch] Fixed phpdoc for category name
  src/Symfony/Component/Stopwatch/Stopwatch.php
  src/Symfony/Component/Stopwatch/Tests/StopwatchTest.php
Labels: Bug, Status: Reviewed, Stopwatch

#29702 [Process] Fix: Method can also return null
  src/Symfony/Component/Process/ExecutableFinder.php
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Bug, Status: Reviewed

#29712 Fixed minor typos
  src/Symfony/Bridge/Doctrine/RegistryInterface.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/HttpKernel/DependencyInjection/AddAnnotatedClassesToCachePass.php
  src/Symfony/Component/Translation/Catalogue/TargetOperation.php
  src/Symfony/Component/Translation/Tests/TranslatorCacheTest.php
  src/Symfony/Component/Translation/TranslatorInterface.php
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
Labels: Status: Reviewed

#29711 Fixed minor typos in an error message
  src/Symfony/Component/Console/Helper/ProcessHelper.php
Labels: Console, Status: Reviewed

#29668 [Console][VarDumper] Ignore href for PhpStorm terminal emulator
  src/Symfony/Component/Console/Formatter/OutputFormatterStyle.php
  src/Symfony/Component/Console/Tests/Formatter/OutputFormatterStyleTest.php
  src/Symfony/Component/Console/Tests/Formatter/OutputFormatterTest.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Tests/Command/Descriptor/CliDescriptorTest.php
Labels: Bug, Console, Status: Reviewed, VarDumper
