Repository symfony/symfony, pull requests merged in 2018-02, with the labels that each got.

#26122 Revert "[Workflow] Added the symfony/phpunit-bridge"
  src/Symfony/Component/Workflow/composer.json
  src/Symfony/Component/Workflow/phpunit.xml.dist
Labels: Status: Reviewed, Workflow

#26125 [PropertyInfo] fix tests
  src/Symfony/Component/PropertyInfo/Tests/Extractors/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractors/ReflectionExtractorTest.php
Labels: Bug, PropertyInfo, Status: Reviewed

#26087 do not mock the container builder in tests
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/AddCacheWarmerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/AddConstraintValidatorsPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/LegacyFragmentRendererPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/LoggingTranslatorPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/ProfilerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/SerializerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/TranslatorPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Validator/ConstraintValidatorFactoryTest.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Compiler/TwigLoaderPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ExtensionCompilerPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Extension/ExtensionTest.php
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/FragmentRendererPassTest.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/MergeExtensionConfigurationPassTest.php
Labels: Status: Reviewed

#26137 [HttpKernel] don't try to wire Request argument with controller.service_arguments
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
Labels: HttpKernel, Status: Reviewed

#26128 [HttpKernel] Make kernel build time optionally deterministic
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, Feature, Status: Reviewed

#26127 Deterministic time in cache items for reproducible builds
  src/Symfony/Component/Cache/Traits/FilesystemTrait.php
Labels: Feature, Status: Reviewed

#26110 Bump default PHPUnit version from 6.3 to 6.5
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, Status: Reviewed

#26043 [Serialized] add context to serialize and deserialize
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Serializer.php
Labels: Bug, Status: Reviewed

#26020 [Lock] Log already-locked errors as "notice" instead of "warning"
  src/Symfony/Component/Lock/Lock.php
  src/Symfony/Component/Lock/Tests/LockTest.php
Labels: Feature, Status: Needs Review

#26082 [Cache][WebProfiler][3.4] fix collecting cache stats with sub-requests + allow clearing calls
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/DataCollector/CacheDataCollector.php
Labels: Bug, Cache, Status: Reviewed

#26139 [Bridge\PhpUnit] Cleanup BC layer
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerForV5.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerForV6.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerForV7.php
  src/Symfony/Bridge/PhpUnit/SymfonyTestsListener.php
Labels: Status: Reviewed

#26040 [Process] Check PHP_BINDIR before $PATH in PhpExecutableFinder
  src/Symfony/Component/Process/PhpExecutableFinder.php
Labels: Bug, Process, Status: Reviewed

#26123 [Workflow] Drop nofooter option in PlantUmlDumper (dead code)
  src/Symfony/Component/Workflow/Dumper/PlantUmlDumper.php
  src/Symfony/Component/Workflow/Tests/Dumper/PlantUmlDumperTest.php
  src/Symfony/Component/Workflow/Tests/fixtures/puml/arrow/complex-state-machine-marking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/arrow/complex-state-machine-nomarking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/arrow/complex-workflow-marking-nofooter.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/arrow/complex-workflow-marking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/arrow/complex-workflow-nomarking-nofooter.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/arrow/complex-workflow-nomarking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/arrow/simple-workflow-marking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/arrow/simple-workflow-nomarking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/square/complex-workflow-marking-nofooter.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/square/complex-workflow-marking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/square/complex-workflow-nomarking-nofooter.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/square/complex-workflow-nomarking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/square/simple-workflow-marking-nofooter.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/square/simple-workflow-marking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/square/simple-workflow-nomarking-nofooter.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/square/simple-workflow-nomarking.puml
Labels: Status: Reviewed, Workflow

#26073 [DoctrineBridge] Add support for datetime immutable types in doctrine type guesser
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.php
Labels: Feature, Status: Reviewed

#26119 [TwigBundle][WebProfilerBundle] Fix JS collision
  src/Symfony/Bundle/TwigBundle/Resources/views/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, Status: Needs Review, TwigBundle, WebProfilerBundle

#26150 [Process] fix test case
  src/Symfony/Component/Process/PhpExecutableFinder.php
  src/Symfony/Component/Process/Tests/PhpExecutableFinderTest.php
Labels: Process, Status: Needs Review

#26148 [DI] Move "include_once" out of closure factories
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
Labels: Bug, DependencyInjection, Status: Reviewed

#26152 [Intl] Add polyfill for Locale::canonicalize()
  src/Symfony/Component/Intl/Locale/Locale.php
  src/Symfony/Component/Intl/Tests/Locale/LocaleTest.php
  src/Symfony/Component/Validator/Constraints/LocaleValidator.php
  src/Symfony/Component/Validator/composer.json
Labels: Bug, Feature, Intl, Status: Needs Review

#26100 [Routing] Throw 405 instead of 404 when redirect is not possible
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Matcher/DumpedRedirectableUrlMatcherTest.php
Labels: Bug, Routing, Status: Reviewed

#26159 created validator.tl.xlf for Form/Translations
  src/Symfony/Component/Form/Resources/translations/validators.tl.xlf
Labels: Bug, Status: Needs Review

#26161 [DI] Top micro benchmarks
  src/Symfony/Component/DependencyInjection/Container.php
Labels: DependencyInjection, Performance, Status: Reviewed

#26089 [PhpUnitBridge] Added support for PHPUnit 7 in Coverage Listener
  src/Symfony/Bridge/PhpUnit/CoverageListener.php
  src/Symfony/Bridge/PhpUnit/Legacy/CoverageListenerForV5.php
  src/Symfony/Bridge/PhpUnit/Legacy/CoverageListenerForV6.php
  src/Symfony/Bridge/PhpUnit/Legacy/CoverageListenerForV7.php
  src/Symfony/Bridge/PhpUnit/Tests/CoverageListenerTest.php
  src/Symfony/Bridge/PhpUnit/Tests/Fixtures/coverage/tests/bootstrap.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#26170 [PHPUnit bridge] Avoid running the remove command without any packages
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, PhpUnitBridge, Status: Reviewed

#26169 [Routing] Handle very large set of dynamic routes
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher10.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/PhpMatcherDumperTest.php
Labels: Bug, Routing, Status: Needs Review

#26173 [Security] fix accessing request values
  src/Symfony/Component/Security/Http/Firewall/SimpleFormAuthenticationListener.php
Labels: Bug, Security, Status: Reviewed

#26165 do not mock the container builder in tests
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolPrunerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/ConfigCachePassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/LoggingTranslatorPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/PropertyInfoPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/SerializerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/UnusedTagsPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Validator/ConstraintValidatorFactoryTest.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Compiler/TwigLoaderPassTest.php
  src/Symfony/Component/Config/Tests/DependencyInjection/ConfigCachePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ExtensionCompilerPassTest.php
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/FragmentRendererPassTest.php
  src/Symfony/Component/PropertyInfo/Tests/DependencyInjection/PropertyInfoPassTest.php
  src/Symfony/Component/Serializer/Tests/DependencyInjection/SerializerPassTest.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/TranslationDumperPassTest.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/TranslationExtractorPassTest.php
  src/Symfony/Component/Validator/Tests/ContainerConstraintValidatorFactoryTest.php
  src/Symfony/Component/Validator/Tests/DependencyInjection/AddConstraintValidatorsPassTest.php
  src/Symfony/Component/Workflow/Tests/DependencyInjection/ValidateWorkflowsPassTest.php
Labels: Status: Reviewed

#24308 [Validator] support protocolless urls validation
  src/Symfony/Component/Validator/Constraints/Url.php
  src/Symfony/Component/Validator/Constraints/UrlValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
Labels: Feature, Status: Needs Review, Validator

#26180 Fix undiscoverablility of SymfonyTestsListenerForV7
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerForV7.php
Labels: Bug, Status: Needs Review

#26184 Fix undiscoverablility of SymfonyTestsListenerForV7
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerForV7.php
Labels: Bug, Status: Needs Review

#25975 Added a README entry to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#26191 [HttpFoundation] Add x-zip-compressed to MimeTypeExtensionGuesser.
  src/Symfony/Component/HttpFoundation/File/MimeType/MimeTypeExtensionGuesser.php
Labels: Feature, HttpFoundation, Status: Reviewed

#26176 Retro-fit proxy code to make it deterministic for older proxy manager implementations
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/ProxyDumperTest.php
Labels: Bug, Status: Reviewed

#26211 [Console] Suppress warning from sapi_windows_vt100_support
  src/Symfony/Component/Console/Output/StreamOutput.php
Labels: Bug, Console, Status: Reviewed

#26195 [Serializer] remove unneeded php doc line
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
Labels: Serializer, Status: Reviewed

#26208 [Routing] Fix same-prefix aggregation
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/Dumper/StaticPrefixCollection.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher11.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/PhpMatcherDumperTest.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/StaticPrefixCollectionTest.php
Labels: Bug, Routing, Status: Reviewed

#26212 [WebProfilerBundle] Tweak default route name
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/request.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#25369 [Serializer] add a context key to return always as collection for XmlEncoder
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Feature, Status: Reviewed

#25218 [Serializer] add a constructor arguement to return csv always as collection
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
Labels: Bug, Serializer, Status: Reviewed

#24763 [Process] Allow writing portable "prepared" command lines
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Feature, Process, Status: Reviewed

#26228 [HttpFoundation] Fix missing "throw" in JsonResponse
  src/Symfony/Component/HttpFoundation/JsonResponse.php
Labels: Bug, HttpFoundation, Status: Reviewed

#26233 Clean calls to http_build_query()
  src/Symfony/Component/DomCrawler/Form.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Security/Http/Logout/LogoutUrlGenerator.php
Labels: Bug, Status: Needs Review

#26206 [Stopwatch] updated phpdoc due to the addition of optional float precision
  src/Symfony/Component/Stopwatch/StopwatchEvent.php
Labels: Bug, Status: Reviewed, Stopwatch

#26157 [HttpKernel] Send new session cookie from AbstractTestSessionListener after session invalidation
  src/Symfony/Component/HttpKernel/EventListener/AbstractTestSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TestSessionListenerTest.php
Labels: Bug, Status: Reviewed

#26088 [FrameworkBundle] Fix using annotation_reader in compiler pass to inject configured cache provider
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddAnnotationsCachedReaderPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Status: Reviewed

#25605 [PropertyInfo] Added support for extracting type from constructor
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractors/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php71Dummy.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php71DummyChild.php
Labels: Feature, PropertyInfo, Status: Reviewed

#26229 removed version in @final @internal for version < 4.0
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
  src/Symfony/Bridge/Twig/Extension/RoutingExtension.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/RouterCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheWarmupCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDumpReferenceCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/EventDispatcherDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterMatchCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/XliffLintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/YamlLintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Controller/Controller.php
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
  src/Symfony/Bundle/FrameworkBundle/Controller/RedirectController.php
  src/Symfony/Bundle/FrameworkBundle/Controller/TemplateController.php
  src/Symfony/Bundle/SecurityBundle/Command/UserPasswordEncoderCommand.php
  src/Symfony/Component/Debug/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/Debug/Tests/Fixtures/AnnotatedClass.php
  src/Symfony/Component/Debug/Tests/Fixtures/FinalClass.php
  src/Symfony/Component/Debug/Tests/Fixtures/FinalMethod.php
  src/Symfony/Component/Debug/Tests/Fixtures/InternalClass.php
  src/Symfony/Component/Debug/Tests/Fixtures/InternalTrait2.php
  src/Symfony/Component/Debug/Tests/phpt/debug_class_loader.phpt
  src/Symfony/Component/DependencyInjection/Compiler/ServiceReferenceGraph.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/NullDumper.php
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpKernel/CacheClearer/ChainCacheClearer.php
  src/Symfony/Component/HttpKernel/CacheWarmer/CacheWarmerAggregate.php
  src/Symfony/Component/HttpKernel/EventListener/SessionListener.php
  src/Symfony/Component/HttpKernel/EventListener/TestSessionListener.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/SerializerExtractor.php
  src/Symfony/Component/PropertyInfo/PropertyInfoCacheExtractor.php
  src/Symfony/Component/PropertyInfo/PropertyInfoExtractor.php
  src/Symfony/Component/PropertyInfo/Type.php
  src/Symfony/Component/Security/Guard/GuardAuthenticatorHandler.php
  src/Symfony/Component/Serializer/Encoder/ChainDecoder.php
  src/Symfony/Component/Serializer/Encoder/ChainEncoder.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Yaml/Dumper.php
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Yaml.php
Labels: Status: Reviewed

#24778 [BrowserKit] add a way to switch to ajax for one request
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/BrowserKit/Tests/ClientTest.php
Labels: BrowserKit, Feature, Status: Reviewed

#25557 [WebProfilerBundle] add a way to limit ajax request
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, Feature, Status: Reviewed, WebProfilerBundle

#26225 Make deprecation notices less verbose
  UPGRADE-4.1.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DataCollector/RequestDataCollector.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.xml
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml
  src/Symfony/Bundle/SecurityBundle/SecurityUserValueResolver.php
  src/Symfony/Component/Config/Definition/Builder/NodeDefinition.php
  src/Symfony/Component/EventDispatcher/CHANGELOG.md
  src/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcherInterface.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/File/UploadedFile.php
  src/Symfony/Component/HttpFoundation/Tests/File/UploadedFileTest.php
  src/Symfony/Component/HttpKernel/EventListener/SaveSessionListener.php
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Tests/User/UserCheckerTest.php
  src/Symfony/Component/Security/Core/User/AdvancedUserInterface.php
  src/Symfony/Component/Security/Core/User/UserChecker.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Dumper/FileDumper.php
  src/Symfony/Component/Translation/Writer/TranslationWriter.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Email.php
  src/Symfony/Component/Validator/Constraints/EmailValidator.php
  src/Symfony/Component/Validator/Constraints/Url.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailTest.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
  src/Symfony/Component/Workflow/Registry.php
  src/Symfony/Component/Workflow/SupportStrategy/ClassInstanceSupportStrategy.php
  src/Symfony/Component/Workflow/SupportStrategy/SupportStrategyInterface.php
Labels: Status: Reviewed

#26227 Add support for URL-like DSNs for the PdoSessionHandler
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PdoSessionHandlerTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#26236 [PropertyInfo] ReflectionExtractor: give a chance to other extractors if no properties
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractors/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/NoProperties.php
Labels: Bug, PropertyInfo, Status: Reviewed

#26234 [FrameworkBundle] Add missing XML config for circular_reference_handler
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/full.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#26232 [Lock] Add a TTL to refresh lock
  src/Symfony/Component/Lock/Lock.php
  src/Symfony/Component/Lock/LockInterface.php
  src/Symfony/Component/Lock/Tests/LockTest.php
Labels: Feature, Status: Reviewed

#26218 [MonologBridge] Allow to change level format in ConsoleFormatter
  src/Symfony/Bridge/Monolog/Formatter/ConsoleFormatter.php
Labels: Feature, MonologBridge, Status: Reviewed

#26075 [Validator] Deprecate use of `Locale` validation constraint without setting "canonicalize" option to `true`
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Locale.php
  src/Symfony/Component/Validator/Constraints/LocaleValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/LocaleValidatorTest.php
Labels: Deprecation, Status: Reviewed, Validator

#26175 [Security] Add configuration for Argon2i encryption
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/argon2i_encoder.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/argon2i_encoder.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/argon2i_encoder.yml
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Core/Encoder/Argon2iPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/EncoderFactory.php
  src/Symfony/Component/Security/Core/Tests/Encoder/Argon2iPasswordEncoderTest.php
Labels: Feature, Status: Reviewed

#26240 Another PR template tweak
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#26254 fix custom radios/inputs for checkbox/radio type
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
Labels: Bug, Status: Reviewed

#26253 [Routing] Fix suffix aggregation
  src/Symfony/Component/Routing/Matcher/Dumper/StaticPrefixCollection.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher12.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/PhpMatcherDumperTest.php
Labels: Bug, Routing, Status: Reviewed

#26251 Document the container.autowiring.strict_mode option
  UPGRADE-4.0.md
Labels: Status: Reviewed

#26264 [HttpKernel] fix EventDispatcher component dependency
  src/Symfony/Component/HttpKernel/composer.json
Labels: Bug, HttpKernel, Status: Reviewed

#26266 [HttpKernel] Fix BC of the test suite
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ContainerControllerResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ControllerResolverTest.php
Labels: HttpKernel, Status: Reviewed

#26265 [PropertyInfo] throw exception if docblock factory does not exist
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
Labels: Bug, PropertyInfo, Status: Reviewed

#26274 [VarDumper] Fixed PHPDoc
  src/Symfony/Component/VarDumper/Cloner/Data.php
Labels: Status: Reviewed, VarDumper

#26278 add container.autowiring.strict_mode to 3.4 docs
  UPGRADE-3.4.md
Labels: Status: Reviewed

#26282 [Console] fix console test
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Console, Status: Reviewed

#26289 [Security] Add missing use of Role
  src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
Labels: Bug, Security, Status: Reviewed

#26285 [FrameworkBundle] fix lowest supported Serializer version
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#26283 [Routing] Redirect from trailing slash to no-slash when possible
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/Dumper/StaticPrefixCollection.php
  src/Symfony/Component/Routing/Matcher/RedirectableUrlMatcher.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher0.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher10.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher11.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher12.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher13.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher3.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher4.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher5.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher6.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher7.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher8.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher9.php
  src/Symfony/Component/Routing/Tests/Matcher/DumpedRedirectableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/StaticPrefixCollectionTest.php
  src/Symfony/Component/Routing/Tests/Matcher/RedirectableUrlMatcherTest.php
Labels: Feature, Routing, Status: Reviewed

#26298 Fix ArrayInput::toString() for InputArgument::IS_ARRAY args
  src/Symfony/Component/Console/Input/ArrayInput.php
  src/Symfony/Component/Console/Tests/Input/ArrayInputTest.php
Labels: Bug, Console, Status: Reviewed

#26303 [WebProfilerBundle] fix test after ajax path updated
  src/Symfony/Bundle/WebProfilerBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Status: Reviewed, WebProfilerBundle

#26280 [FrameworkBundle] clarify changelog and upgrade instructions
  UPGRADE-4.1.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
Labels: FrameworkBundle, Status: Reviewed

#26307 [Routing] Revert throwing 405 on missed slash/scheme redirections
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Matcher/DumpedRedirectableUrlMatcherTest.php
Labels: Routing, Status: Reviewed

#26275 Set controller without __invoke method from invokable class
  src/Symfony/Bundle/FrameworkBundle/Routing/AnnotatedRouteControllerLoader.php
Labels: Status: Reviewed

#26319 Use long array syntax
  src/Symfony/Component/DependencyInjection/Tests/Compiler/MergeExtensionConfigurationPassTest.php
Labels: Bug, Status: Needs Review

#26320 [appveyor] Workaround GitHub disabling of low versions of TLS
  appveyor.yml
  src/Symfony/Component/Routing/Tests/RouterTest.php
Labels: Status: Needs Review

#26312 [Routing] Don't throw 405 when scheme requirement doesn't match
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Routing/Tests/Matcher/DumpedUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Bug, Routing, Status: Reviewed

#26318 [Routing] Fix GC control of PHP-DSL
  src/Symfony/Component/Routing/Loader/Configurator/CollectionConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/RouteConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/Traits/AddTrait.php
  src/Symfony/Component/Routing/Tests/Fixtures/php_dsl.php
Labels: Bug, Routing, Status: Needs Review

#26290 [FrameworkBundle] [Console][DX] add a warning when command is not found
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/ApplicationTest.php
Labels: Bug, Console, DX, FrameworkBundle, Status: Reviewed

#26270 [WebProfilerBundle] limit ajax request to 100 and remove the last one
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#26304 [Routing] support scheme requirement without redirectable dumped matcher
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/RedirectableUrlMatcher.php
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher0.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher10.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher11.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher12.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher13.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher3.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher4.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher5.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher6.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher7.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher8.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher9.php
  src/Symfony/Component/Routing/Tests/Matcher/DumpedUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/PhpMatcherDumperTest.php
  src/Symfony/Component/Routing/Tests/Matcher/RedirectableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Feature, Routing, Status: Reviewed

#26334 [SecurityBundle] Deprecate switch_user.stateless config node
  UPGRADE-4.1.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/container1.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/no_custom_user_checker.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/container1.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/no_custom_user_checker.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/container1.yml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/no_custom_user_checker.yml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/JsonLogin/switchuser_stateless.yml
Labels: Deprecation, SecurityBundle, Status: Reviewed

#26330 [FORM] Fix HTML errors.
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
Labels: Bug, Form, Status: Reviewed

#26346 Release v2.7.42
  CHANGELOG-2.7.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review
