Repository symfony/symfony, pull requests merged in 2018-06, with the labels that each got.

#27485 [BrowserKit] Fix a BC break in Client affecting Panthère
  src/Symfony/Component/BrowserKit/Client.php
Labels: BrowserKit, Bug, Status: Reviewed

#27475 simple-phpunit: remove outdated appveryor workaround
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Status: Reviewed

#27077 [DependencyInjection] add ServiceSubscriberTrait
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/ServiceSubscriberTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestDefinition1.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestDefinition2.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestDefinition3.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestServiceSubscriberChild.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestServiceSubscriberParent.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestServiceSubscriberTrait.php
  src/Symfony/Component/DependencyInjection/Tests/ServiceSubscriberTraitTest.php
Labels: DependencyInjection, Status: Reviewed

#27318 [Cache] memcache connect should not add duplicate entries on sequential calls
  src/Symfony/Component/Cache/Tests/Simple/MemcachedCacheTest.php
  src/Symfony/Component/Cache/Traits/MemcachedTrait.php
Labels: Bug, Cache, Status: Needs Review

#27458 [WebProfilerBundle] fixed getSession when no session has been set deprecation warnings
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/results.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#27462 [FrameworkBundle] Deprecate auto-injection of the container in AbstractController instances
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerResolver.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerResolverTest.php
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#27481 [DI] Don't generate factories for errored services
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_errored_definition.php
Labels: DependencyInjection, Performance, Status: Reviewed

#27472 [DI] Ignore missing tree root nodes on validate
  src/Symfony/Component/Config/Definition/Builder/TreeBuilder.php
  src/Symfony/Component/Config/Definition/Exception/TreeWithoutRootNodeException.php
  src/Symfony/Component/DependencyInjection/Compiler/ValidateEnvPlaceholdersPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
  src/Symfony/Component/DependencyInjection/composer.json
Labels: Bug, DependencyInjection, Status: Reviewed

#27471 [DI] Improve performance of removing/inlining passes
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolClearerPassTest.php
  src/Symfony/Component/DependencyInjection/Compiler/AbstractRecursivePass.php
  src/Symfony/Component/DependencyInjection/Compiler/AnalyzeServiceReferencesPass.php
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Compiler/RemoveUnusedDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/RepeatablePassInterface.php
  src/Symfony/Component/DependencyInjection/Compiler/RepeatedPass.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AnalyzeServiceReferencesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/InlineServiceDefinitionsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RemoveUnusedDefinitionsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_instanceof.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_instanceof.yml
Labels: DependencyInjection, Deprecation, Performance, Status: Reviewed

#27501 [FrameworkBundle] Fix test-container on kernel reboot, revert to returning the real container from Client::getContainer()
  src/Symfony/Bundle/FrameworkBundle/Client.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TestServiceContainerRealRefPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TestServiceContainerWeakRefPass.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/test.xml
  src/Symfony/Bundle/FrameworkBundle/Test/TestContainer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDumpTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/LogoutTest.php
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: BC Break, Bug, FrameworkBundle, Status: Reviewed

#27502 Remove mentions of "beta" in composer.json files
  src/Symfony/Component/Security/Csrf/composer.json
  src/Symfony/Component/Security/composer.json
Labels: Status: Reviewed

#27516 Revert "bug #26138 [HttpKernel] Catch HttpExceptions when templating is not installed (cilefen)"
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.xml
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ExceptionListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#27514 [Debug] Pass previous exception to FatalErrorException
  src/Symfony/Component/Debug/Exception/ClassNotFoundException.php
  src/Symfony/Component/Debug/Exception/FatalErrorException.php
  src/Symfony/Component/Debug/Exception/UndefinedFunctionException.php
  src/Symfony/Component/Debug/Exception/UndefinedMethodException.php
Labels: Bug, Debug, Status: Reviewed

#27545 Update Finder.php
  src/Symfony/Component/Finder/Finder.php
Labels: Bug, Deprecation, Feature, Status: Needs Review

#27542 [WebServerBundle] Improve the error message when web server is already running
  src/Symfony/Bundle/WebServerBundle/Command/ServerStartCommand.php
Labels: Status: Reviewed

#27532 Fix security-core cross-dependencies, fixes #27507
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Security/Csrf/composer.json
  src/Symfony/Component/Security/Guard/composer.json
  src/Symfony/Component/Security/Http/composer.json
Labels: Bug, Status: Reviewed

#27553 [Finder] revert #27545
  src/Symfony/Component/Finder/Finder.php
Labels: Bug, Finder, Status: Needs Review

#27357 [Lock] Remove released semaphore
  src/Symfony/Component/Lock/Store/SemaphoreStore.php
  src/Symfony/Component/Lock/Tests/Store/SemaphoreStoreTest.php
Labels: Bug, Lock, Status: Reviewed

#27416 TagAwareAdapter over non-binary memcached connections corrupts memcache
  src/Symfony/Component/Cache/Tests/Simple/MemcachedCacheTextModeTest.php
  src/Symfony/Component/Cache/Traits/MemcachedTrait.php
Labels: Bug, Status: Reviewed

#27561 [FrameworkBundle] decouple some cache-warmer's test from internal details
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/SerializerCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/ValidatorCacheWarmerTest.php
Labels: FrameworkBundle, Status: Needs Review

#27326 [Serializer] deserialize from xml: Fix a collection that contains the only one element
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Bug, Status: Reviewed

#27511 [Routing] fix matching host patterns, utf8 prefixes and non-capturing groups
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/Dumper/StaticPrefixCollection.php
  src/Symfony/Component/Routing/RouteCompiler.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher10.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher12.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher13.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher8.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/RouteCompilerTest.php
Labels: Bug, Routing, Status: Reviewed

#27452 Avoid migration on stateless firewalls
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/GuardAuthenticationFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/HttpBasicFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/HttpDigestFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/RemoteUserFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/SimplePreAuthenticationFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/X509Factory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Guard/GuardAuthenticatorHandler.php
  src/Symfony/Component/Security/Guard/Tests/GuardAuthenticatorHandlerTest.php
  src/Symfony/Component/Security/Http/Firewall/AbstractPreAuthenticatedListener.php
  src/Symfony/Component/Security/Http/Firewall/BasicAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/DigestAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/SimplePreAuthenticationListener.php
Labels: Bug, Security, Status: Reviewed

#27556 Avoiding session migration for stateless firewall UsernamePasswordJsonAuthenticationListener
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/JsonLoginFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/Firewall/UsernamePasswordJsonAuthenticationListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/UsernamePasswordJsonAuthenticationListenerTest.php
Labels: Bug, Status: Reviewed

#27009 [Cache] Add stampede protection via probabilistic early expiration
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/CacheInterface.php
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
  src/Symfony/Component/Cache/Tests/Adapter/ArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/ChainAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/NamespacedProxyAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PhpArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/ProxyAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
  src/Symfony/Component/Cache/Tests/CacheItemTest.php
  src/Symfony/Component/Cache/Traits/GetTrait.php
Labels: Cache, Deprecation, Feature, Status: Reviewed

#27549 [Cache] Unconditionally use PhpFilesAdapter for system pools
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Simple/PhpArrayCache.php
  src/Symfony/Component/Cache/Simple/PhpFilesCache.php
  src/Symfony/Component/Cache/Tests/Adapter/MaxIdLengthAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PhpFilesAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/PhpFilesCacheTest.php
  src/Symfony/Component/Cache/Traits/AbstractTrait.php
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
  src/Symfony/Component/Cache/Traits/PhpArrayTrait.php
  src/Symfony/Component/Cache/Traits/PhpFilesTrait.php
Labels: Cache, Deprecation, Status: Reviewed

#27566 [FrameworkBundle] fix for allowing single colon controller notation
  src/Symfony/Bundle/FrameworkBundle/Routing/DelegatingLoader.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/DelegatingLoaderTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#27031 [Cache] Use sub-second accuracy for internal expiry calculations
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Cache/Simple/ArrayCache.php
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
  src/Symfony/Component/Cache/Tests/Fixtures/ArrayCache.php
  src/Symfony/Component/Cache/Traits/ArrayTrait.php
Labels: Cache, Status: Reviewed

#27576 [Cache] Fix expiry comparisons in array-based pools
  src/Symfony/Component/Cache/Tests/Fixtures/ArrayCache.php
  src/Symfony/Component/Cache/Traits/ArrayTrait.php
Labels: Bug, Cache, Status: Needs Review

#27584 Avoid calling eval when there is no script embedded in the toolbar
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, Status: Reviewed

#27315 [TwigBundle] add exception chain breadcrumbs navigation
  src/Symfony/Bundle/TwigBundle/Resources/views/Exception/exception.html.twig
  src/Symfony/Bundle/TwigBundle/Resources/views/Exception/traces.html.twig
  src/Symfony/Bundle/TwigBundle/Resources/views/exception.css.twig
Labels: DX, Feature, Status: Reviewed

#27598 [Cache] Fix typo in comment.
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Cache, Status: Reviewed

#27528 [FrameworkBundle] give access to non-shared services when using test.service_container
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/TestServiceContainerRefPassesTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#27591 [VarDumper] Fix dumping ArrayObject and ArrayIterator instances
  src/Symfony/Component/VarDumper/Caster/SplCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Caster/SplCasterTest.php
Labels: Bug, Status: Reviewed, VarDumper

#27593 [ProxyManagerBridge] Fixed support of private services
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/ProxyDumperTest.php
Labels: Bug, ProxyManagerBridge, Status: Needs Review

#27596 [Framework][Workflow] Added support for interfaces
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, Status: Reviewed, Workflow

#27604 [Cache] Prevent stampede at warmup using flock()
  src/Symfony/Component/Cache/LockRegistry.php
  src/Symfony/Component/Cache/Tests/LockRegistryTest.php
  src/Symfony/Component/Cache/Traits/GetTrait.php
Labels: Cache, Feature, Status: Reviewed

#27563 [Cache] Improve perf of array-based pools
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Simple/ArrayCache.php
  src/Symfony/Component/Cache/Tests/Adapter/ArrayAdapterTest.php
  src/Symfony/Component/Cache/Traits/ArrayTrait.php
Labels: Cache, Performance, Status: Reviewed

#27543 [Cache] serialize objects using native arrays when possible
  .php_cs.dist
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Cache/Marshaller/PhpMarshaller.php
  src/Symfony/Component/Cache/Marshaller/PhpMarshaller/Configurator.php
  src/Symfony/Component/Cache/Marshaller/PhpMarshaller/Reference.php
  src/Symfony/Component/Cache/Marshaller/PhpMarshaller/Registry.php
  src/Symfony/Component/Cache/Simple/PhpArrayCache.php
  src/Symfony/Component/Cache/Simple/PhpFilesCache.php
  src/Symfony/Component/Cache/Tests/Adapter/PhpArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-iterator.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-iterator.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-object-custom.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-object-custom.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-object.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-object.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/bool.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/clone.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/clone.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/datetime.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/datetime.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/private.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/private.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/serializable.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/serializable.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/simple-array.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/spl-object-storage.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/spl-object-storage.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/wakeup.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/wakeup.php
  src/Symfony/Component/Cache/Tests/Marshaller/PhpMarshallerTest.php
  src/Symfony/Component/Cache/Tests/Simple/PhpArrayCacheTest.php
  src/Symfony/Component/Cache/Traits/ApcuTrait.php
  src/Symfony/Component/Cache/Traits/PhpArrayTrait.php
  src/Symfony/Component/Cache/Traits/PhpFilesTrait.php
  src/Symfony/Component/Cache/composer.json
Labels: Cache, Performance, Status: Reviewed

#27630 [Validator][Form] Remove BOM in some xlf files
  src/Symfony/Component/Form/Resources/translations/validators.hy.xlf
  src/Symfony/Component/Form/Resources/translations/validators.lt.xlf
  src/Symfony/Component/Form/Resources/translations/validators.mn.xlf
  src/Symfony/Component/Form/Resources/translations/validators.ru.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
Labels: Bug, Status: Needs Review

#27632 [HttpFoundation] Ensure RedisSessionHandler::updateTimestamp returns a boolean
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/RedisSessionHandler.php
Labels: Bug, HttpFoundation, Status: Reviewed

#27623 [minor] SCA
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/UserPasswordEncoderCommandTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
  src/Symfony/Component/Intl/Data/Generator/LanguageDataGenerator.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
Labels: Status: Reviewed

#27633 [Messenger] Fixed MessengerPass::guessHandledClasses return type
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, Messenger, Status: Reviewed

#27551 [FrameworkBundle] show public/private for aliases in debug:container command
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/alias_1.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/alias_2.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/alias_with_definition_1.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/alias_with_definition_2.txt
Labels: Feature, FrameworkBundle, Status: Reviewed

#27535 [TwigBundle] Enhance the twig not found exception
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/Loader/NativeFilesystemLoader.php
  src/Symfony/Bundle/TwigBundle/Tests/Loader/NativeFilesystemLoaderTest.php
Labels: Feature, Status: Needs Review

#26486 [HttpFoundation] Adds getAcceptableFormats() method for Request
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#27467 [HttpKernel] fix session tracking in surrogate master requests
  src/Symfony/Component/HttpFoundation/Session/Session.php
  src/Symfony/Component/HttpFoundation/Session/SessionBagProxy.php
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: Bug, HttpKernel, Status: Reviewed

#27277 [OptionsResolver] Introduce ability to deprecate options, allowed types and values
  src/Symfony/Component/OptionsResolver/CHANGELOG.md
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: Feature, OptionsResolver, Status: Reviewed

#27611 [FrameworkBundle][SecurityBundle] Moved security expression providers pass logic to SecurityBundle
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddExpressionLanguageProvidersPass.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/AddExpressionLanguageProvidersPassTest.php
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/AddExpressionLanguageProvidersPass.php
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Compiler/AddExpressionLanguageProvidersPassTest.php
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: Status: Reviewed

#27421 CacheWarmerAggregate handle deprecations logs
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.xml
  src/Symfony/Component/HttpKernel/CacheWarmer/CacheWarmerAggregate.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#27382 [Form] Fix error when rendering a DateIntervalType form with exactly 0 weeks
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateIntervalToArrayTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateIntervalToArrayTransformerTest.php
Labels: Bug, Status: Reviewed

#27643 [FrameworkBundle] Fixed tests added in #27611
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/AddExpressionLanguageProvidersPassTest.php
Labels: FrameworkBundle, Status: Needs Review

#26845 [Config] Fixing GlobResource when inside phar archive
  src/Symfony/Component/Config/Resource/GlobResource.php
Labels: Bug, Config, Status: Reviewed

#27651 [Messenger] Fixed MessengerPass::guessHandledClasses return type
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, Messenger, Status: Needs Review

#27637 Set serialize_precision explicitly to avoid fancy float rounding
  src/Symfony/Component/HttpFoundation/Tests/JsonResponseTest.php
Labels: Bug, Status: Reviewed

#27653 [Translation] Improved the performance of the lint:xliff command
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/Util/XliffUtils.php
Labels: Feature, Performance, Status: Reviewed, Translator

#27657 [ExpressionLanguage] change `evaluate()` docblock return type from string to mixed
  src/Symfony/Component/ExpressionLanguage/ExpressionLanguage.php
Labels: Status: Reviewed

#27605 [DX] Log potential redirect loops caused by forced HTTPS
  src/Symfony/Component/Security/Http/Firewall/ChannelListener.php
Labels: DX, Feature, Status: Reviewed

#27646 [Cache] added support for phpredis 4 `compression` and `tcp_keepalive` options
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Tests/Adapter/PredisAdapterTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Cache, Feature, Status: Reviewed

#27609 Remove direct dependencies on doctrine/common
  composer.json
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Routing/composer.json
Labels: Status: Reviewed

#27662 [HttpKernel] fix handling of nested Error instances
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
Labels: Bug, HttpKernel, Status: Reviewed

#27669 [Filesystem] fix file lock on SunOS
  src/Symfony/Component/Filesystem/LockHandler.php
Labels: Bug, Filesystem, Status: Reviewed

#27668 [Lock] use 'r+' for fopen (fixes issue on Solaris)
  src/Symfony/Component/Lock/Store/FlockStore.php
Labels: Bug, Lock, Status: Reviewed

#27664 [FrameworkBundle] Ignore keepQueryParams attribute when generating route redirect
  src/Symfony/Bundle/FrameworkBundle/Controller/RedirectController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/RedirectControllerTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#27670 [Cache] Fix locking on Solaris
  src/Symfony/Component/Cache/LockRegistry.php
Labels: Bug, Cache, Status: Needs Review

#27672 [Cache] fix visibility of RedisTrait::init()
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Cache, Status: Reviewed

#27663 [Serializer] Updates DocBlock to a mixed param type
  src/Symfony/Component/Serializer/Normalizer/NormalizerInterface.php
Labels: Bug, Status: Reviewed

#26534 allow_extra_attributes does not throw an exception as documented
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Bug, Serializer, Status: Reviewed

#27676 [minor] SCA
  src/Symfony/Component/DependencyInjection/Loader/Configurator/DefaultsConfigurator.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/IntegerToLocalizedStringTransformer.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/PersistentToken.php
  src/Symfony/Component/Security/Core/User/LdapUserProvider.php
  src/Symfony/Component/Translation/Extractor/AbstractFileExtractor.php
Labels: Status: Reviewed

#27686 [Debug] Fixed remark about debug class loader in docblock of Debug::enable()
  src/Symfony/Component/Debug/Debug.php
Labels: Bug, Debug, Status: Reviewed

#27681 [DI] Avoid leaking unused env placeholders
  src/Symfony/Component/DependencyInjection/Compiler/ValidateEnvPlaceholdersPass.php
  src/Symfony/Component/DependencyInjection/ParameterBag/EnvPlaceholderParameterBag.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27688 [DI] fix dumping errored definitions
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
Labels: Bug, DependencyInjection, Status: Reviewed

#27687 [HttpKernel] fix argument's error messages in ServiceValueResolver
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/ServiceValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/ServiceValueResolverTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#27690 [DI] Resolve env placeholder in logs
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27691 [DI] Cleanup unused service_subscriber.locator tag
  src/Symfony/Component/DependencyInjection/Compiler/ResolveServiceSubscribersPass.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27247 [Form] Deprecate `searchAndRenderBlock` returning empty string
  UPGRADE-4.2.md
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_rows.html.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/FormRenderer.php
Labels: Deprecation, Form, Status: Reviewed

#27700 [Di] Fix undefined variable found by Php Inspections (EA Ultimate)
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Needs Review

#27701 [SecurityBundle] Dont throw if "security.http_utils" is not found
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/AddSessionDomainConstraintPass.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Compiler/AddSessionDomainConstraintPassTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#27580 [Form] Add ability to clear form errors
  src/Symfony/Component/Form/ClearableErrorsInterface.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/Tests/CompoundFormTest.php
Labels: Feature, Form, Status: Reviewed

#27702 [TwigBundle] bump lowest deps to fix issue with "double-colon" controller service refs
  src/Symfony/Bundle/TwigBundle/composer.json
Labels: Bug, Status: Needs Review, TwigBundle

#27560 Add note about changed form processing when using PUT requests
  UPGRADE-3.0.md
Labels: Status: Reviewed

#27626 [TwigBundle][DX] Only add the Twig WebLinkExtension if the WebLink component is enabled
  src/Symfony/Bridge/Twig/UndefinedCallableHandler.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
Labels: Bug, DX, Status: Reviewed, TwigBundle

#27699 Redesigned the default error page in production
  src/Symfony/Bundle/TwigBundle/Resources/views/Exception/error.html.twig
Labels: Status: Reviewed

#27703 Release v2.8.42
  CHANGELOG-2.8.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27704 Release v3.4.12
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27705 Release v4.0.12
  CHANGELOG-4.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27706 Release v4.1.1
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27586 [PropertyAccess] Add Property Path to Exception Message
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
Labels: Feature, PropertyAccess, Status: Reviewed

#27712 [Serializer] CsvEncoder::AS_COLLECTION_KEY constant
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
Labels: Serializer, Status: Reviewed

#27476 [Config] deprecate tree builders without root nodes
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/DebugBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/DebugBundle/composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/Builder/TreeBuilder.php
  src/Symfony/Component/Config/Tests/Definition/Builder/ExprBuilderTest.php
  src/Symfony/Component/Config/Tests/Definition/Builder/TreeBuilderTest.php
  src/Symfony/Component/Config/Tests/Definition/FinalizationTest.php
  src/Symfony/Component/Config/Tests/Definition/MergeTest.php
  src/Symfony/Component/Config/Tests/Definition/NormalizationTest.php
  src/Symfony/Component/Config/Tests/Fixtures/Configuration/ExampleConfiguration.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/MergeExtensionConfigurationPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
  src/Symfony/Component/DependencyInjection/composer.json
Labels: Config, Deprecation, Feature, Status: Reviewed

#26946 [WebProfilerBundle] Display uploaded files in the profiler
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/request.html.twig
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
Labels: Feature, Status: Reviewed, WebProfilerBundle

#27716 [DI] fix dumping deprecated service in yaml
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27722 Redesign the Debug error page in prod
  src/Symfony/Component/Debug/ExceptionHandler.php
Labels: Bug, Debug, Status: Reviewed

#26300 [PropertyInfo] Implement "Collection" types in PhpDocExtractor
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
Labels: Feature, PropertyInfo, Status: Reviewed

#27499 Improved an error message related to controllers
  src/Symfony/Component/HttpKernel/HttpKernel.php
Labels: Feature, HttpKernel, Status: Reviewed

#27714 [HttpFoundation] fix session tracking counter
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Controller/SessionController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Resources/config/routing.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SessionTest.php
  src/Symfony/Component/HttpFoundation/Session/Session.php
  src/Symfony/Component/HttpFoundation/Session/SessionBagProxy.php
Labels: Bug, HttpFoundation, Status: Reviewed

#27734 [Cache] ArrayAdapter and NullAdapter don't need stampede protection
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/NullAdapter.php
Labels: Bug, Status: Needs Review

#27675 [DoctrineBridge] always load event listeners lazy via ServiceLocator
  UPGRADE-4.2.md
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPass.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPassTest.php
Labels: Deprecation, DoctrineBridge, Feature, Status: Reviewed

#27757 [Validator] Fix the namespace of RegexTest
  src/Symfony/Component/Validator/Tests/Constraints/RegexTest.php
Labels: Status: Needs Review, Validator

#27771 [Form] relax fixtures for forward compat
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/default_option_with_normalizer.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/overridden_option_with_default_closures.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/required_option_with_allowed_values.txt
Labels: Form, Status: Reviewed

#27710 [DependencyInjection] fix handling of empty DI extension configs
  src/Symfony/Component/DependencyInjection/Compiler/ValidateEnvPlaceholdersPass.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27779 [Lock] Fix SemaphoreStoreTest on OS X
  src/Symfony/Component/Lock/Tests/Store/SemaphoreStoreTest.php
Labels: Lock, Status: Reviewed

#27766 [VarDumper] show proxified class on hover
  src/Symfony/Component/VarDumper/Caster/ProxyManagerCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Feature, Status: Reviewed, VarDumper

#27768 [VarDumper] display the signature of callables
  src/Symfony/Component/VarDumper/Caster/ClassStub.php
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/StubCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/HtmlDumperTest.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/FooInterface.php
Labels: Feature, Status: Reviewed, VarDumper

#27781 Respect alpha order in UPGRADE-4.2 file
  UPGRADE-4.2.md
Labels: Status: Reviewed

#27784 [Form] Fix fixtures for forward compat
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/default_option_with_normalizer.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/overridden_option_with_default_closures.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/required_option_with_allowed_values.txt
Labels: Form, Status: Needs Review
