Repository symfony/symfony, pull requests merged in 2018-10, with the labels that each got.

#28656 When a CSRF occures on a Form submit add a cause on the FormError object
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Csrf/EventListener/CsrfValidationListener.php
  src/Symfony/Component/Form/Tests/Extension/Csrf/Type/FormTypeCsrfExtensionTest.php
Labels: Feature, Status: Needs Review

#28647 [Console] Add missing null to input values allowed types
  src/Symfony/Component/Console/Input/InputArgument.php
  src/Symfony/Component/Console/Input/InputInterface.php
  src/Symfony/Component/Console/Input/InputOption.php
Labels: Console, Status: Reviewed

#28664 [Console] Don't return early as this bypasses the auto exit feature
  src/Symfony/Component/Console/Application.php
Labels: Bug, Console, Status: Reviewed

#28670 Fix a typo in error messages
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/GuardAuthenticationFactory.php
  src/Symfony/Component/Security/Guard/Firewall/GuardAuthenticationListener.php
Labels: Bug, Security, Status: Reviewed

#28672 [DI] fix error in dumped container
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_almost_circular.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
Labels: Bug, DependencyInjection, Status: Reviewed

#28674 [CS] Remove unused variables passed to closures
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Form/Tests/Fixtures/AlternatingRowType.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
  src/Symfony/Component/OptionsResolver/Tests/LegacyOptionsTest.php
Labels: Status: Reviewed

#28679 [FrameworkBundle] Add vscode editor to ide config
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#28676 [CS] Remove empty comment
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: Status: Reviewed

#28673 [CS] Use combined assignment operators when possible
  src/Symfony/Bundle/FrameworkBundle/Command/ServerRunCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ServerStartCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ServerStatusCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ServerStopCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
  src/Symfony/Component/ClassLoader/ClassCollectionLoader.php
  src/Symfony/Component/Console/Input/InputDefinition.php
  src/Symfony/Component/Form/Tests/Util/StringUtilTest.php
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Status: Reviewed

#28675 [CS] Enforces null type hint on last position in phpDocs
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/DoctrineChoiceLoader.php
  src/Symfony/Bundle/FrameworkBundle/Translation/PhpStringTokenParser.php
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Question/Question.php
  src/Symfony/Component/CssSelector/Node/ElementNode.php
  src/Symfony/Component/CssSelector/Node/SelectorNode.php
  src/Symfony/Component/CssSelector/Parser/TokenStream.php
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Form/Button.php
  src/Symfony/Component/Form/ChoiceList/Factory/ChoiceListFactoryInterface.php
  src/Symfony/Component/Form/ChoiceList/Factory/PropertyAccessDecorator.php
  src/Symfony/Component/Form/ChoiceList/LazyChoiceList.php
  src/Symfony/Component/Form/ChoiceList/Loader/ChoiceLoaderInterface.php
  src/Symfony/Component/Form/Extension/Csrf/CsrfExtension.php
  src/Symfony/Component/Form/Extension/Csrf/EventListener/CsrfValidationListener.php
  src/Symfony/Component/Form/Extension/Csrf/Type/FormTypeCsrfExtension.php
  src/Symfony/Component/Form/Extension/Validator/Type/UploadValidatorExtension.php
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/MappingRule.php
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationMapper.php
  src/Symfony/Component/Form/FormConfigBuilderInterface.php
  src/Symfony/Component/Form/FormConfigInterface.php
  src/Symfony/Component/Form/FormTypeInterface.php
  src/Symfony/Component/Form/SubmitButton.php
  src/Symfony/Component/Form/Util/ServerParams.php
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/HeaderBag.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
  src/Symfony/Component/HttpKernel/Config/FileLocator.php
  src/Symfony/Component/HttpKernel/Profiler/MongoDbProfilerStorage.php
  src/Symfony/Component/HttpKernel/Profiler/Profile.php
  src/Symfony/Component/Intl/Intl.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/ProcessBuilder.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
  src/Symfony/Component/PropertyAccess/PropertyPathBuilder.php
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Security/Csrf/CsrfTokenManager.php
  src/Symfony/Component/Security/Guard/GuardAuthenticatorHandler.php
  src/Symfony/Component/Serializer/NameConverter/CamelCaseToSnakeCaseNameConverter.php
  src/Symfony/Component/Stopwatch/Section.php
  src/Symfony/Component/Translation/Catalogue/AbstractOperation.php
  src/Symfony/Component/Validator/ExecutionContext.php
  src/Symfony/Component/Validator/ExecutionContextInterface.php
  src/Symfony/Component/Validator/Validator.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Status: Reviewed

#28648 [PHPUnitBridge] Fix ClockMock microtime() format
  src/Symfony/Bridge/PhpUnit/ClockMock.php
  src/Symfony/Bridge/PhpUnit/Tests/ClockMockTest.php
Labels: Bug, PhpUnitBridge, Status: Needs Review

#28661 [Serializer] Add an option to skip null values
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Feature, Serializer, Status: Reviewed

#28691 [Cache] add RedisClusterProxy to create lazy connections to Redis clusters
  src/Symfony/Component/Cache/Traits/RedisClusterProxy.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/RedisSessionHandler.php
  src/Symfony/Component/Lock/Store/RedisStore.php
  src/Symfony/Component/Lock/Store/StoreFactory.php
Labels: Cache, Feature, Status: Needs Review

#28690 [FrameworkBundle] dont suggest hidden services in debug:container and debug:autow commands
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#28644 [Validator] Pre-check constraint validator dependencies
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Constraints/Country.php
  src/Symfony/Component/Validator/Constraints/Currency.php
  src/Symfony/Component/Validator/Constraints/Email.php
  src/Symfony/Component/Validator/Constraints/Expression.php
  src/Symfony/Component/Validator/Constraints/Language.php
  src/Symfony/Component/Validator/Constraints/Locale.php
Labels: Deprecation, Feature, Status: Reviewed, Validator

#28571 [DependencyInjection] Improve ServiceLocatorTagPass service matching
  src/Symfony/Component/DependencyInjection/Compiler/ServiceLocatorTagPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ServiceLocatorTagPassTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#28683 Remove redundant path check
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Status: Reviewed

#28626 [Translation] marked getFallbackLocales() as internal
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/DataCollector/TranslationDataCollector.php
  src/Symfony/Component/Translation/Translator.php
Labels: Deprecation, Status: Reviewed

#28697 [Messenger] drop "handler." prefix from ContainerHandlerLocator
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Handler/Locator/AbstractHandlerLocator.php
  src/Symfony/Component/Messenger/Handler/Locator/ContainerHandlerLocator.php
  src/Symfony/Component/Messenger/Handler/Locator/HandlerLocator.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/Handler/Locator/ContainerHandlerLocatorTest.php
Labels: BC Break, Messenger, Status: Reviewed

#28693 [Security] Deprecate simple_preauth and simple_form in favor of Guard
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/SimpleFormFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/SimplePreAuthenticationFactory.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_listeners.xml
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/container1.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/simple_auth.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/container1.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/simple_auth.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/container1.yml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/simple_auth.yml
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authentication/Provider/SimpleAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Authentication/SimpleAuthenticatorInterface.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/SimpleAuthenticationProviderTest.php
  src/Symfony/Component/Security/Http/Authentication/SimpleAuthenticationHandler.php
  src/Symfony/Component/Security/Http/Authentication/SimpleFormAuthenticatorInterface.php
  src/Symfony/Component/Security/Http/Authentication/SimplePreAuthenticatorInterface.php
  src/Symfony/Component/Security/Http/Firewall/SimpleFormAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/SimplePreAuthenticationListener.php
  src/Symfony/Component/Security/Http/Tests/Authentication/SimpleAuthenticationHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SimplePreAuthenticationListenerTest.php
Labels: Deprecation, Security, SecurityBundle, Status: Reviewed

#28638 [Console] Fix clearing sections containing questions
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Output/ConsoleSectionOutput.php
  src/Symfony/Component/Console/Tests/Output/ConsoleSectionOutputTest.php
Labels: Bug, Console, Status: Needs Work

#28688 [FWBundle] Throw if PropertyInfo is enabled, but the component isn't installed
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, Status: Reviewed

#28653 [FrameworkBundle] Deprecate the "--env" and "--no-debug" console options
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
Labels: Console, Deprecation, Feature, Status: Reviewed

#28604 [Finder] fixed root directory access for ftp/sftp wrapper
  src/Symfony/Component/Finder/Finder.php
Labels: Bug, Finder, Status: Reviewed

#28705 Release v3.4.17
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28707 Release v4.1.6
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28669 [Serializer] Object class resolver
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
Labels: Feature, Serializer, Status: Reviewed

#28505 [Serialized] allow configuring the serialized name of properties through metadata
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Serializer/Annotation/SerializedName.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Mapping/AttributeMetadata.php
  src/Symfony/Component/Serializer/Mapping/AttributeMetadataInterface.php
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/XmlFileLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/schema/dic/serializer-mapping/serializer-mapping-1.0.xsd
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
  src/Symfony/Component/Serializer/Tests/Annotation/SerializedNameTest.php
  src/Symfony/Component/Serializer/Tests/Fixtures/SerializedNameDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/serialization.xml
  src/Symfony/Component/Serializer/Tests/Fixtures/serialization.yml
  src/Symfony/Component/Serializer/Tests/Mapping/AttributeMetadataTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/NameConverter/MetadataAwareNameConverterTest.php
Labels: Feature, Status: Reviewed

#28714 Fix phpdocs
  src/Symfony/Component/Console/Command/Command.php
Labels: Bug, Status: Reviewed

#28747 [Messenger] Remove forgotten experimental annotation in Doctrine bridge
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineTransactionMiddlewareFactory.php
Labels: Messenger, Status: Reviewed

#28745 [WebServerBundle] Deprecate relying on --env in server:start and server:run
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/WebServerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebServerBundle/Command/ServerRunCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStartCommand.php
Labels: Deprecation, Status: Reviewed, WebServerBundle

#28739 [Validator][minor] Fixed method in phpDoc
  src/Symfony/Component/Validator/Context/ExecutionContextInterface.php
Labels: Status: Reviewed, Validator

#28742 Added LB translation for #27993 (UUID validator message translation)
  src/Symfony/Component/Validator/Resources/translations/validators.lb.xlf
Labels: Status: Reviewed

#28719 Correct PHPDoc type for float ttl
  src/Symfony/Component/Lock/Factory.php
Labels: Bug, Lock, Status: Reviewed

#28708 clarify the cache.pools.provider option
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Status: Reviewed

#28717 [Messenger] Fix middleware docblocks
  src/Symfony/Component/Messenger/Middleware/Enhancers/ActivationMiddlewareDecorator.php
  src/Symfony/Component/Messenger/Middleware/ValidationMiddleware.php
Labels: Messenger, Status: Reviewed

#28751 [FrameworkBundle] Register messenger before the profiler
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Messenger, Status: Reviewed

#28759 [Messenger] Fix CS
  src/Symfony/Component/Messenger/Asynchronous/Transport/WrapIntoReceivedMessage.php
Labels: Messenger, Status: Reviewed

#28735 [FWBundle] Automatically enable PropertyInfo when using Flex
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Status: Reviewed

#28762 [FrameworkBundle] Fix 3.4 tests
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: FrameworkBundle, Status: Reviewed

#28767 [Validator] Add a missing translation
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Status: Reviewed, Validator

#28770 Fix class documentation
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
Labels: Status: Reviewed

#28763 [WebProfilerBundle] Extract server parameters into their own tab
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/request.html.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#28072 [Security] Do not deauthenticate user when the first refreshed user has changed
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
Labels: Bug, Security, Status: Reviewed

#28778 [WebServerBundle] fix command description
  src/Symfony/Bundle/WebServerBundle/Command/ServerStatusCommand.php
Labels: Bug, Status: Reviewed

#28789 [Form] fix a return type hint
  src/Symfony/Component/Form/FormBuilder.php
  src/Symfony/Component/Form/Tests/FormBuilderTest.php
Labels: Bug, Form, Status: Reviewed

#28753 [DI] minor optim for dumped container
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
Labels: DependencyInjection, Status: Reviewed

#28783 [FrameworkBundle] add missing cache prefix seed attribute to XSD
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, FrameworkBundle, Status: Reviewed

#28728 [EventDispatcher] Remove template method in test case
  src/Symfony/Component/EventDispatcher/Tests/GenericEventTest.php
Labels: EventDispatcher, Status: Reviewed

#24530 [Form] simplify the form type extension registration
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/form.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/form_csrf.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/form_debug.xml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Form/AbstractExtension.php
  src/Symfony/Component/Form/AbstractTypeExtension.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/DependencyInjection/FormPass.php
  src/Symfony/Component/Form/Extension/Csrf/Type/FormTypeCsrfExtension.php
  src/Symfony/Component/Form/Extension/DataCollector/Type/DataCollectorTypeExtension.php
  src/Symfony/Component/Form/Extension/DependencyInjection/DependencyInjectionExtension.php
  src/Symfony/Component/Form/Extension/HttpFoundation/Type/FormTypeHttpFoundationExtension.php
  src/Symfony/Component/Form/Extension/Validator/Type/FormTypeValidatorExtension.php
  src/Symfony/Component/Form/Extension/Validator/Type/RepeatedTypeValidatorExtension.php
  src/Symfony/Component/Form/Extension/Validator/Type/SubmitTypeValidatorExtension.php
  src/Symfony/Component/Form/Extension/Validator/Type/UploadValidatorExtension.php
  src/Symfony/Component/Form/FormFactoryBuilder.php
  src/Symfony/Component/Form/FormTypeExtensionInterface.php
  src/Symfony/Component/Form/PreloadedExtension.php
  src/Symfony/Component/Form/Tests/AbstractTypeExtensionTest.php
  src/Symfony/Component/Form/Tests/DependencyInjection/FormPassTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ExtendedChoiceTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/DataCollector/Type/DataCollectorTypeExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/DependencyInjection/DependencyInjectionExtensionTest.php
  src/Symfony/Component/Form/Tests/Fixtures/ChoiceTypeExtension.php
  src/Symfony/Component/Form/Tests/Fixtures/FooTypeBarExtension.php
  src/Symfony/Component/Form/Tests/Fixtures/FooTypeBazExtension.php
  src/Symfony/Component/Form/Tests/Fixtures/LazyChoiceTypeExtension.php
  src/Symfony/Component/Form/Tests/Fixtures/TestExtension.php
Labels: Feature, Form, Status: Reviewed

#28718 [Cache] add CacheInterface::delete() + improve CacheTrait
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/NullAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/Traits/ContractsTrait.php
  src/Symfony/Contracts/Cache/CacheInterface.php
  src/Symfony/Contracts/Cache/CacheTrait.php
  src/Symfony/Contracts/Cache/GetForCacheItemPoolTrait.php
  src/Symfony/Contracts/Cache/ItemInterface.php
  src/Symfony/Contracts/Cache/TagAwareCacheInterface.php
  src/Symfony/Contracts/Tests/Cache/CacheTraitTest.php
Labels: Cache, Feature, Status: Reviewed

#28788 invalidate stale commits for PRs too
  .github/rm-invalid-lowest-lock-files.php
Labels: Status: Reviewed

#28704 [Form] fix multi-digit seconds fraction handling
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToRfc3339Transformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToRfc3339TransformerTest.php
Labels: Bug, Form, Status: Reviewed

#28689 [Process] fix locking of pipe files on Windows
  src/Symfony/Component/Process/Pipes/WindowsPipes.php
Labels: Bug, Process, Status: Reviewed

#28476 Added different protocols to be allowed as asset base_url
  src/Symfony/Component/Asset/CHANGELOG.md
  src/Symfony/Component/Asset/Tests/UrlPackageTest.php
  src/Symfony/Component/Asset/UrlPackage.php
Labels: Feature, Status: Reviewed

#28543 Added the Code of Conduct file
  CODE_OF_CONDUCT.md
Labels: Status: Reviewed

#28061 [Security] add port in access_control
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/container1.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/container1.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/container1.yml
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/RequestMatcher.php
  src/Symfony/Component/HttpFoundation/Tests/RequestMatcherTest.php
Labels: Feature, HttpFoundation, SecurityBundle, Status: Reviewed

#27967 [Finder] Added a way to inverse a previous sorting
  src/Symfony/Component/Finder/CHANGELOG.md
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Iterator/ReverseSortingIterator.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
  src/Symfony/Component/Finder/Tests/Iterator/ReverseSortingIteratorTest.php
Labels: Feature, Finder, Status: Reviewed

#27261 [VarDumper] Allow to use a light theme out of the box
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
Labels: Feature, Status: Reviewed, VarDumper

#27291 [OptionsResolver] Added support for nesting options definition
  src/Symfony/Component/OptionsResolver/CHANGELOG.md
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: Feature, OptionsResolver, Status: Reviewed

#26771 [Filesystem] Fix mirroring a directory with a relative path and a custom iterator
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Bug, Filesystem, Status: Reviewed

#26324 [Form] allow additional http methods in form configuration
  src/Symfony/Bundle/FrameworkBundle/Resources/config/form.xml
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/FormConfigBuilder.php
  src/Symfony/Component/Form/Tests/FormConfigTest.php
Labels: Feature, Form, Status: Reviewed

#28802 [Finder] make reverse sorting a bit more generic
  src/Symfony/Component/Finder/CHANGELOG.md
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Iterator/ReverseSortingIterator.php
  src/Symfony/Component/Finder/Iterator/SortableIterator.php
  src/Symfony/Component/Finder/Tests/Iterator/ReverseSortingIteratorTest.php
Labels: Finder, Status: Reviewed

#26261 [Validator] Improvement: provide file basename for constr. violation messages in FileValidator.
  src/Symfony/Component/Validator/Constraints/FileValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTest.php
Labels: Status: Reviewed, Validator

#24151 Display the log context in the debug pages
  src/Symfony/Bundle/TwigBundle/Resources/views/Exception/logs.html.twig
  src/Symfony/Bundle/TwigBundle/Resources/views/exception.css.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#24263 Filter logs by level
  src/Symfony/Bundle/TwigBundle/Resources/views/Exception/logs.html.twig
  src/Symfony/Bundle/TwigBundle/Resources/views/base_js.html.twig
  src/Symfony/Bundle/TwigBundle/Resources/views/exception.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/logger.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#28798 [Routing] simplify PhpMatcherDumper by splitting code logic from route data
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherTrait.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher0.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher10.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher11.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher12.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher13.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher3.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher4.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher5.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher6.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher7.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher8.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher9.php
Labels: Routing, Status: Reviewed

#28805 Revert "feature #27549 [Cache] Unconditionally use PhpFilesAdapter for system pools"
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
Labels: Bug, Cache, Status: Reviewed

#28760 [DI] fix dumping inline services again
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container19.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services19.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_adawson.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_self_ref.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_adawson.yml
Labels: Bug, DependencyInjection, Status: Needs Review

#28811 Remove usage of sf2 when possible
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/CacheClearCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Translation/TranslatorTest.php
  src/Symfony/Component/Form/Tests/CompoundFormTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Attribute/AttributeBagTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MongoDbSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PdoSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/MockFileSessionStorageTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/NativeSessionStorageTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/PhpBridgeSessionStorageTest.php
  src/Symfony/Component/HttpKernel/Tests/CacheClearer/ChainCacheClearerTest.php
  src/Symfony/Component/HttpKernel/Tests/CacheWarmer/CacheWarmerAggregateTest.php
  src/Symfony/Component/HttpKernel/Tests/CacheWarmer/CacheWarmerTest.php
  src/Symfony/Component/HttpKernel/Tests/Profiler/FileProfilerStorageTest.php
  src/Symfony/Component/HttpKernel/Tests/Profiler/ProfilerTest.php
  src/Symfony/Component/Translation/Tests/TranslatorCacheTest.php
Labels: Status: Reviewed

#28780 [CS] Enable phpdoc_types_order
  .php_cs.dist
Labels: Status: Reviewed

#28814 CS fixes
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Component/EventDispatcher/ContainerAwareEventDispatcher.php
  src/Symfony/Component/Form/FormConfigBuilderInterface.php
  src/Symfony/Component/Form/FormInterface.php
  src/Symfony/Component/Form/FormRendererEngineInterface.php
  src/Symfony/Component/Form/Util/OrderedHashMapIterator.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/NativeFileSessionHandler.php
  src/Symfony/Component/Intl/DateFormatter/IntlDateFormatter.php
  src/Symfony/Component/Intl/NumberFormatter/NumberFormatter.php
Labels: Status: Needs Review

#28822 [Validator] Changed translation "epost-adress" to "e-postadress"
  src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf
Labels: Bug, Status: Reviewed, Validator

#28815 YamlEncoder handle yml format
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Encoder/YamlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/YamlEncoderTest.php
Labels: Feature, Status: Reviewed

#28826 [Dotenv] Class should be case sensitive
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
Labels: Status: Reviewed

#28830 'yml' is not a format and shouldn't be visible as constant from 'YamlEncoder'
  src/Symfony/Component/Serializer/Encoder/YamlEncoder.php
Labels: Status: Reviewed

#28834 Allow integers as default console option value
  src/Symfony/Component/Console/Input/InputOption.php
Labels: Bug, Status: Reviewed

#28835 [FrameworkBundle] Setting missing default paths under BC layer
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#28828 [Validator] Add a missing Polish translation
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Status: Reviewed, Validator

#28839 [LDAP] Revamp LDAP options with nested options definition
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
  src/Symfony/Component/Ldap/composer.json
Labels: Ldap, Status: Reviewed

#27772 [Console] Fixes multiselect choice question defaults in non-interactive mode
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
Labels: Bug, Console, Status: Reviewed

#28841 Sync English translations
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
Labels: Status: Needs Review

#28808 [HttpKernel] Add a note about env name restrictions
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: HttpKernel, Status: Needs Review

#26190 [SecurityBundle] Improve error when argon2i is not available
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
Labels: SecurityBundle, Status: Reviewed

#28842 [Validator] Deprecate checkMX and checkHost on Email validator
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Component/Validator/Constraints/Email.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailValidatorTest.php
Labels: Deprecation, Status: Reviewed, Validator

#28845 Revert "feature #27801 [MonologBridge] Add ProcessorInterface, enabling autoconfiguration of monolog processors"
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Processor/ProcessorInterface.php
  src/Symfony/Bridge/Monolog/Processor/TokenProcessor.php
  src/Symfony/Bridge/Monolog/Processor/WebProcessor.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: MonologBridge, Status: Reviewed

#28813 Fix for race condition in console output stream write
  src/Symfony/Component/Console/Output/StreamOutput.php
Labels: Bug, Console, Status: Reviewed

#28712 [Form] reverse transform RFC 3339 formatted dates
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToHtml5LocalDateTimeTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToHtml5LocalDateTimeTransformerTest.php
Labels: Bug, Form, Status: Reviewed

#28866 [travis] build libsodium only if it's not already enabled
  .travis.yml
Labels: Status: Needs Review

#28864 [Process] A test case for stringifying of Process arguments
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Process, Status: Needs Review

#28863 [Process] Allow to pass null arguments to Process
  src/Symfony/Component/Process/Process.php
Labels: Bug, Process, Status: Needs Review

#28871 [Validator] use constraint options instead of properties
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Component/Validator/Constraints/Email.php
Labels: Status: Reviewed, Validator

#28867 [FWBundle] Uniformize errors when a component is missing
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Status: Reviewed

#28807 [HttpFoundation] Make ResponseHeaderBag::makeDisposition static
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
  src/Symfony/Component/HttpFoundation/ResponseHeaderBag.php
  src/Symfony/Component/HttpFoundation/Tests/HeaderUtilsTest.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseHeaderBagTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#28880 [HttpFoundation] Publicify new consts
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
Labels: Deprecation, Feature, HttpFoundation, Status: Needs Review

#28809 [HttpKernel] Deprecate the Kernel name
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolClearerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolPassTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/config.html.twig
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolClearerPassTest.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolPassTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/KernelInterface.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/ConfigDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Deprecation, Feature, HttpKernel, Status: Reviewed

#28883 UPGRADE-5.0.md: missing backtick
  UPGRADE-5.0.md
Labels: Status: Reviewed

#28810 [HttpKernel] Deprecate usage of getRootDir() and kernel.root_dir
  UPGRADE-5.0.md
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Templating/Helper/CodeHelper.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/CacheClearCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/Fixture/TestAppKernel.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolClearerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/config/framework.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/FirewallEntryPoint/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/config/framework.yml
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolClearerPassTest.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolPassTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/123/Kernel123.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/KernelForTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Deprecation, Status: Reviewed

#28888 [HttpKernel] fix kernel.name deprecation
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/collectors.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolClearerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolPassTest.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/config.html.twig
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolClearerPassTest.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolPassTest.php
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/ConfigDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#28890 [HttpKernel] fix deprecating KernelInterface::getRootDir()
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Templating/Helper/CodeHelper.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/CacheClearCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/Fixture/TestAppKernel.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationDebugCommandTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/KernelInterface.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/KernelWithoutBundles.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: HttpKernel, Status: Reviewed

#28838 [DI] Default undefined env to empty string during compile
  src/Symfony/Component/DependencyInjection/Compiler/ValidateEnvPlaceholdersPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27043 [Form][TwigBridge] Add help_attr
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionDivLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionTableLayoutTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_help.html.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperDivLayoutTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperTableLayoutTest.php
  src/Symfony/Component/Form/Extension/Core/Type/FormType.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.txt
Labels: Feature, Form, Status: Reviewed, TwigBridge

#28901 [HttpKernel] Introduce KernelInterface::getProjectDir()
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Component/HttpKernel/KernelInterface.php
Labels: Feature, HttpKernel, Status: Reviewed

#28840 add missing double-quotes to extra_fields output message
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
Labels: Bug, Form, Status: Reviewed

#28801 Convert InsufficientAuthenticationException to HttpException with 401 status code
  src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ExceptionListenerTest.php
Labels: Bug, Status: Reviewed

#28910 [Serializer] Improve perf a bit by not using a signaling exception when not needed
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Component/Form/FormConfigBuilder.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Serializer/Mapping/Factory/ClassMetadataFactory.php
  src/Symfony/Component/Serializer/Mapping/Factory/ClassResolverTrait.php
Labels: Serializer, Status: Reviewed

#28906 Redesigned the log message filter
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Status: Reviewed, WebProfilerBundle

#28922 [Cache] Fix outdated CHANGELOG line
  src/Symfony/Component/Cache/CHANGELOG.md
Labels: Cache, Status: Reviewed

#28915 [Config] Fix @method annotation
  src/Symfony/Component/Config/Definition/Builder/ParentNodeDefinitionInterface.php
Labels: Bug, Config, Status: Reviewed

#28930 [Security] Fix "exclude-from-classmap"
  src/Symfony/Component/Security/composer.json
Labels: Bug, Security, Status: Reviewed

#28921 [FrameworkBundle] Fix CacheInterface ns
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#28891 [TwigBundle] Deprecating support for legacy templates directories
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/templates/base.html.twig
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/Resources/TwigBundle/views/layout.html.twig
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/Resources/views/layout.html.twig
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/TwigExtensionTest.php
  src/Symfony/Bundle/TwigBundle/Tests/Fixtures/templates/Resources/TwigBundle/views/layout.html.twig
  src/Symfony/Bundle/TwigBundle/Tests/Functional/NoTemplatingEntryTest.php
  src/Symfony/Bundle/TwigBundle/Tests/Functional/templates/index.html.twig
  src/Symfony/Bundle/TwigBundle/Tests/Loader/FilesystemLoaderTest.php
Labels: Deprecation, Status: Reviewed, TwigBundle

#28893 [TwigBundle] Fix usage of TwigBundle without FrameworkBundle
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
  src/Symfony/Bundle/TwigBundle/Tests/Functional/EmptyAppTest.php
Labels: Bug, Status: Reviewed

#28913 Fix debug:container which crash when the service class has no doc comment
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/AbstractDescriptorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/ObjectsProvider.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_1.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_1.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_1.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_1.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_2.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_2.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_2.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_2.xml
Labels: Bug, FrameworkBundle, Status: Reviewed

#28936 [WebProfilerBundle] Replay referer URL
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#28909 [Messenger] made dispatch() and handle() return void
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineTransactionMiddleware.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/messenger.html.twig
  src/Symfony/Component/Messenger/Asynchronous/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Messenger/Handler/ChainHandler.php
  src/Symfony/Component/Messenger/MessageBus.php
  src/Symfony/Component/Messenger/MessageBusInterface.php
  src/Symfony/Component/Messenger/Middleware/AllowNoHandlerMiddleware.php
  src/Symfony/Component/Messenger/Middleware/Enhancers/ActivationMiddlewareDecorator.php
  src/Symfony/Component/Messenger/Middleware/Enhancers/TraceableMiddleware.php
  src/Symfony/Component/Messenger/Middleware/HandleMessageMiddleware.php
  src/Symfony/Component/Messenger/Middleware/LoggingMiddleware.php
  src/Symfony/Component/Messenger/Middleware/MiddlewareInterface.php
  src/Symfony/Component/Messenger/Middleware/ValidationMiddleware.php
  src/Symfony/Component/Messenger/Tests/DataCollector/MessengerDataCollectorTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/Handler/ChainHandlerTest.php
  src/Symfony/Component/Messenger/Tests/MessageBusTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/AllowNoHandlerMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/Enhancers/ActivationMiddlewareDecoratorTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/Enhancers/TraceableMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/HandleMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/LoggingMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/ValidationMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/TraceableMessageBusTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/Fixtures/long_receiver.php
  src/Symfony/Component/Messenger/TraceableMessageBus.php
Labels: BC Break, Messenger, Status: Reviewed

#28914 [Messenger] make Envelope first class citizen for middleware handlers
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineTransactionMiddleware.php
  src/Symfony/Component/Messenger/Asynchronous/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Envelope.php
  src/Symfony/Component/Messenger/EnvelopeAwareInterface.php
  src/Symfony/Component/Messenger/MessageBus.php
  src/Symfony/Component/Messenger/Middleware/AllowNoHandlerMiddleware.php
  src/Symfony/Component/Messenger/Middleware/Enhancers/ActivationMiddlewareDecorator.php
  src/Symfony/Component/Messenger/Middleware/Enhancers/TraceableMiddleware.php
  src/Symfony/Component/Messenger/Middleware/HandleMessageMiddleware.php
  src/Symfony/Component/Messenger/Middleware/LoggingMiddleware.php
  src/Symfony/Component/Messenger/Middleware/MiddlewareInterface.php
  src/Symfony/Component/Messenger/Middleware/ValidationMiddleware.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/EnvelopeTest.php
  src/Symfony/Component/Messenger/Tests/MessageBusTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/AllowNoHandlerMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/Enhancers/ActivationMiddlewareDecoratorTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/Enhancers/TraceableMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/HandleMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/LoggingMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/ValidationMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/TraceableMessageBusTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpSenderTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpTransportTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Enhancers/StopWhenMemoryUsageIsExceededReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Enhancers/StopWhenMessageCountIsExceededReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/SerializerTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
Labels: BC Break, Messenger, Status: Reviewed

#28907 [Messenger] make middlewares truly lazy on a bus
  src/Symfony/Component/Messenger/MessageBus.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/MessageBusTest.php
Labels: Bug, Messenger, Status: Reviewed

#28908 [Messenger] internal cleanups
  src/Symfony/Component/Messenger/Asynchronous/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Asynchronous/Routing/AbstractSenderLocator.php
  src/Symfony/Component/Messenger/Asynchronous/Routing/ContainerSenderLocator.php
  src/Symfony/Component/Messenger/Asynchronous/Routing/SenderLocator.php
  src/Symfony/Component/Messenger/Asynchronous/Routing/SenderLocatorInterface.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Messenger/Envelope.php
  src/Symfony/Component/Messenger/Handler/ChainHandler.php
  src/Symfony/Component/Messenger/Handler/Locator/AbstractHandlerLocator.php
  src/Symfony/Component/Messenger/Handler/Locator/ContainerHandlerLocator.php
  src/Symfony/Component/Messenger/Handler/Locator/HandlerLocator.php
  src/Symfony/Component/Messenger/Handler/Locator/HandlerLocatorInterface.php
  src/Symfony/Component/Messenger/Middleware/HandleMessageMiddleware.php
  src/Symfony/Component/Messenger/Middleware/LoggingMiddleware.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Routing/ContainerSenderLocatorTest.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Routing/SenderLocatorTest.php
  src/Symfony/Component/Messenger/Tests/DataCollector/MessengerDataCollectorTest.php
  src/Symfony/Component/Messenger/Tests/Handler/Locator/ContainerHandlerLocatorTest.php
  src/Symfony/Component/Messenger/Tests/TraceableMessageBusTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Enhancers/StopWhenTimeLimitIsReachedReceiverTest.php
  src/Symfony/Component/Messenger/TraceableMessageBus.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpSender.php
  src/Symfony/Component/Messenger/Transport/Enhancers/StopWhenTimeLimitIsReachedReceiver.php
  src/Symfony/Component/Messenger/Transport/SenderInterface.php
Labels: BC Break, Messenger, Status: Reviewed

#28941 [TwigBundle] Right trim plain text traces
  src/Symfony/Bundle/TwigBundle/Resources/views/Exception/traces_text.html.twig
Labels: Feature, Status: Reviewed, TwigBundle

#28951 [HttpFoundation] Merging arrays in a loop is slow and causes high CPU usage
  src/Symfony/Component/HttpFoundation/Request.php
Labels: HttpFoundation, Status: Needs Review

#28940 [Process] Adds usleep(1000) to ease CPU usage.
  src/Symfony/Component/Process/Process.php
Labels: Bug, Status: Reviewed

#28953 [WebProfilerBundle] Reword referer link
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#28958 [Process] fix waitUntil+add tests
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Bug, Process, Status: Needs Review

#28939 [WebProfilerBundle] Remove application name
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/collectors.xml
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/config.html.twig
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/ConfigDataCollectorTest.php
Labels: Bug, Deprecation, Feature, Status: Reviewed, WebProfilerBundle

#28942 [WebProfilerBundle] Disable messenger panel if needed
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/messenger.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#28875 [FWBundle] Add a new method AbstractController::addLink()
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#28960 also clean away the NO_AUTO_CACHE_CONTROL_HEADER if we have no session
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
Labels: Bug, Status: Reviewed

#27917 [Validator] catch any UnexpectedValueException on validation
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/AllValidator.php
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Constraints/ChoiceValidator.php
  src/Symfony/Component/Validator/Constraints/CollectionValidator.php
  src/Symfony/Component/Validator/Constraints/CountValidator.php
  src/Symfony/Component/Validator/Constraints/CountryValidator.php
  src/Symfony/Component/Validator/Constraints/CurrencyValidator.php
  src/Symfony/Component/Validator/Constraints/DateTimeValidator.php
  src/Symfony/Component/Validator/Constraints/DateValidator.php
  src/Symfony/Component/Validator/Constraints/EmailValidator.php
  src/Symfony/Component/Validator/Constraints/FileValidator.php
  src/Symfony/Component/Validator/Constraints/IbanValidator.php
  src/Symfony/Component/Validator/Constraints/IpValidator.php
  src/Symfony/Component/Validator/Constraints/IsbnValidator.php
  src/Symfony/Component/Validator/Constraints/IssnValidator.php
  src/Symfony/Component/Validator/Constraints/LanguageValidator.php
  src/Symfony/Component/Validator/Constraints/LengthValidator.php
  src/Symfony/Component/Validator/Constraints/LocaleValidator.php
  src/Symfony/Component/Validator/Constraints/LuhnValidator.php
  src/Symfony/Component/Validator/Constraints/RegexValidator.php
  src/Symfony/Component/Validator/Constraints/TimeValidator.php
  src/Symfony/Component/Validator/Constraints/UrlValidator.php
  src/Symfony/Component/Validator/Constraints/UuidValidator.php
  src/Symfony/Component/Validator/Exception/UnexpectedValueException.php
  src/Symfony/Component/Validator/Tests/Constraints/AllValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/BicValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/ChoiceValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CollectionValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CountValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CountryValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CurrencyValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/DateTimeValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/DateValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/IpValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/IsbnValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/IssnValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LanguageValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LocaleValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LuhnValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/RegexValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/TimeValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/UuidValidatorTest.php
  src/Symfony/Component/Validator/Validator/RecursiveContextualValidator.php
Labels: Feature, Status: Reviewed, Validator

#28965 [Process] pass all output to the wait-until callback
  src/Symfony/Component/Process/Process.php
Labels: Bug, Process, Status: Needs Review

#28968 [OptionsResolver] Fixed explicitly ignores a depreciation
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: OptionsResolver, Status: Reviewed

#28947 [Messenger] remove classifying sub-namespaces in favor of semantic ones
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Middleware/ActivationMiddleware.php
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Middleware/TraceableMiddleware.php
  src/Symfony/Component/Messenger/Stamp/ReceivedStamp.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/CallbackReceiver.php
  src/Symfony/Component/Messenger/Tests/Middleware/ActivationMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/TraceableMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Stamp/SerializerStampTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Receiver/StopWhenMemoryUsageIsExceededReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Receiver/StopWhenMessageCountIsExceededReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Receiver/StopWhenTimeLimitIsReachedReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Sender/Locator/ContainerSenderLocatorTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Sender/Locator/SenderLocatorTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpReceiver.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpSender.php
  src/Symfony/Component/Messenger/Transport/Receiver/ReceiverInterface.php
  src/Symfony/Component/Messenger/Transport/Receiver/StopWhenMemoryUsageIsExceededReceiver.php
  src/Symfony/Component/Messenger/Transport/Receiver/StopWhenMessageCountIsExceededReceiver.php
  src/Symfony/Component/Messenger/Transport/Receiver/StopWhenTimeLimitIsReachedReceiver.php
  src/Symfony/Component/Messenger/Transport/Sender/ChainSender.php
  src/Symfony/Component/Messenger/Transport/Sender/Locator/AbstractSenderLocator.php
  src/Symfony/Component/Messenger/Transport/Sender/Locator/ContainerSenderLocator.php
  src/Symfony/Component/Messenger/Transport/Sender/Locator/SenderLocator.php
  src/Symfony/Component/Messenger/Transport/Sender/Locator/SenderLocatorInterface.php
  src/Symfony/Component/Messenger/Transport/Sender/SenderInterface.php
  src/Symfony/Component/Messenger/Transport/TransportInterface.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Messenger, Status: Reviewed

#28945 [Messenger] remove AllowNoHandlerMiddleware in favor of a constructor argument on HandleMessageMiddleware
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_multiple_buses.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_multiple_buses.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_multiple_buses.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Handler/Locator/AbstractHandlerLocator.php
  src/Symfony/Component/Messenger/Handler/Locator/HandlerLocatorInterface.php
  src/Symfony/Component/Messenger/Middleware/AllowNoHandlerMiddleware.php
  src/Symfony/Component/Messenger/Middleware/HandleMessageMiddleware.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/Handler/Locator/ContainerHandlerLocatorTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/AllowNoHandlerMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/HandleMessageMiddlewareTest.php
Labels: Messenger, Status: Reviewed

#28860 [Form] Deprecate TimezoneType regions option
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/TimezoneType.php
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TimezoneTypeTest.php
Labels: Deprecation, Feature, Form, Status: Reviewed

#28982 Fix typo in Messenger examples
  UPGRADE-4.2.md
Labels: Deprecation, Feature, Status: Reviewed

#28980 [Messenger] If `framework.messenger.buses.X.middleware` is empty, it will be `null`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, Messenger, Status: Reviewed

#28955 [Messenger] send using the routing_key for AMQP transport
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#28967 [TwigBridge] Remove $rootDir argument in CodeExtension
  src/Symfony/Bridge/Twig/Extension/CodeExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/CodeExtensionTest.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
  src/Symfony/Bundle/TwigBundle/composer.json
Labels: Bug, Status: Reviewed, TwigBridge

#28533 [DotEnv] Add a new loadForEnv() method mimicking Ruby's dotenv behavior
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
Labels: Feature, Status: Reviewed

#28983 [Messenger] make dispatch(), handle() and send() methods return Envelope
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/MessageBus.php
  src/Symfony/Component/Messenger/MessageBusInterface.php
  src/Symfony/Component/Messenger/Middleware/ActivationMiddleware.php
  src/Symfony/Component/Messenger/Middleware/HandleMessageMiddleware.php
  src/Symfony/Component/Messenger/Middleware/LoggingMiddleware.php
  src/Symfony/Component/Messenger/Middleware/MiddlewareInterface.php
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Middleware/StackMiddleware.php
  src/Symfony/Component/Messenger/Middleware/TraceableMiddleware.php
  src/Symfony/Component/Messenger/Middleware/ValidationMiddleware.php
  src/Symfony/Component/Messenger/Tests/DataCollector/MessengerDataCollectorTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/MessageBusTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/ActivationMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/HandleMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/MiddlewareTestCase.php
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/TraceableMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/TraceableMessageBusTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/Fixtures/long_receiver.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/TraceableMessageBus.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpSender.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpTransport.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
  src/Symfony/Component/Messenger/Transport/Sender/ChainSender.php
  src/Symfony/Component/Messenger/Transport/Sender/SenderInterface.php
Labels: Feature, Messenger, Status: Reviewed

#28988 Remove reference to http digest authentication
  src/Symfony/Component/Security/README.md
Labels: Bug, Status: Reviewed

#28996 [FrameworkBundle] Fix broken exception message
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
Labels: FrameworkBundle, Status: Needs Review

#28997 [FrameworkBundle] Deprecating support for legacy translations directory
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/Resources/translations/test_default.en.xlf
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Deprecation, Feature, FrameworkBundle, Status: Reviewed

#28999 [Messenger] Fix DoctrineTransactionMiddleware after MiddlewareInterface bc-break
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineTransactionMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Messenger/DummyMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Messenger/ThrowingMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineTransactionMiddlewareTest.php
  src/Symfony/Bridge/Doctrine/composer.json
Labels: Bug, Messenger, Status: Reviewed

#28854 [VarDumper] Scroll into view when searching
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
Labels: Feature, Status: Reviewed, VarDumper

#28892 [FrameworkBundle] Deprecate support for legacy directories in Translation comands
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandTest.php
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#28985 [Messenger] Move MiddlewareTestCase in Test ns
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Messenger/DummyMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Messenger/ThrowingMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineTransactionMiddlewareTest.php
  src/Symfony/Component/Messenger/Test/Middleware/MiddlewareTestCase.php
  src/Symfony/Component/Messenger/Tests/Middleware/ActivationMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/HandleMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/LoggingMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/TraceableMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/ValidationMiddlewareTest.php
Labels: Feature, Messenger, Status: Reviewed

#29003 Remove unneeded tearDown method
  src/Symfony/Component/Security/Guard/Tests/Authenticator/FormLoginAuthenticatorTest.php
Labels: Status: Reviewed

#29002 [FrameworkBundle] Display a proper warning for deprecated --env and --no-debug options
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
Labels: FrameworkBundle, Status: Reviewed

#29004 [BrowserKit] Remove undefined variable $str
  src/Symfony/Component/BrowserKit/Cookie.php
  src/Symfony/Component/BrowserKit/Tests/CookieTest.php
Labels: BrowserKit, Bug, Status: Reviewed
