Repository symfony/symfony, pull requests merged in 2018-05, with the labels that each got.

#27109 [Form] fixes instance variable phpdoc in FormRegistry class
  src/Symfony/Component/Form/FormRegistry.php
Labels: Form, Status: Reviewed

#27110 [Messenger] Reset traceable buses
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Messenger/TraceableMessageBus.php
Labels: Bug, Messenger, Status: Reviewed

#27111 Use symfony/polyfill-ctype
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Component/Config/composer.json
  src/Symfony/Component/DomCrawler/composer.json
  src/Symfony/Component/ExpressionLanguage/composer.json
  src/Symfony/Component/Filesystem/composer.json
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Intl/composer.json
  src/Symfony/Component/PropertyAccess/composer.json
  src/Symfony/Component/Security/Csrf/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Templating/composer.json
  src/Symfony/Component/Validator/composer.json
  src/Symfony/Component/Yaml/composer.json
Labels: Bug, Serializer, Status: Needs Review

#27116 [Validator] make phpdoc of ObjectInitializerInterface interface more accurate
  src/Symfony/Component/Validator/ObjectInitializerInterface.php
Labels: Status: Reviewed, Validator

#27115 [Validator] fixes phpdoc reference to an interface that was removed in Symfony 3.0
  src/Symfony/Component/Validator/ObjectInitializerInterface.php
Labels: Status: Needs Review, Validator

#26955 [DebugBundle][VarDumper] Fix server dumper placeholder command
  src/Symfony/Bundle/DebugBundle/Command/ServerDumpPlaceholderCommand.php
Labels: DebugBundle, Status: Reviewed, VarDumper

#27104 [DX] Redirect to proper Symfony version documentation
  src/Symfony/Bundle/TwigBundle/Resources/views/layout.html.twig
Labels: Status: Reviewed, TwigBundle

#27135 [FrameworkBundle] Use the correct service id for CachePoolPruneCommand in its compiler pass
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/CachePoolPrunerPass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolPrunerPassTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#27123 [DebugBundle][HttpKernel] Update var-dumper requirement for components using SourceContextProvider
  src/Symfony/Bundle/DebugBundle/composer.json
  src/Symfony/Component/HttpKernel/composer.json
Labels: Bug, DebugBundle, Status: Reviewed

#27122 [DI] Minor performance tweak in PriorityTaggedServiceTrait
  link
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bridge/Monolog/Tests/Processor/DebugProcessorTest.php
  src/Symfony/Component/Console/Descriptor/TextDescriptor.php
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Compiler/PriorityTaggedServiceTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/PassConfigTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/PriorityTaggedServiceTraitTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/ProjectExtension.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
Labels: DependencyInjection, Status: Reviewed

#27133 [Doctrine Bridge] fix priority for doctrine event listeners
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPass.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPassTest.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#27129 [Messenger] Rename Adapters to Transports
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineTransactionMiddleware.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_transport_no_serializer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_transport_no_serializer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_transport_no_serializer.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_transports.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/Asynchronous/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Handler/Locator/ContainerHandlerLocator.php
  src/Symfony/Component/Messenger/Handler/Locator/HandlerLocator.php
  src/Symfony/Component/Messenger/Handler/Locator/HandlerLocatorInterface.php
  src/Symfony/Component/Messenger/MessageBus.php
  src/Symfony/Component/Messenger/Middleware/HandleMessageMiddleware.php
  src/Symfony/Component/Messenger/Middleware/LoggingMiddleware.php
  src/Symfony/Component/Messenger/Middleware/MiddlewareInterface.php
  src/Symfony/Component/Messenger/Middleware/TolerateNoHandler.php
  src/Symfony/Component/Messenger/Middleware/ValidationMiddleware.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/MessageBusTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/HandleMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpSenderTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/Fixtures/long_receiver.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpFactory.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpReceiver.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpSender.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpTransportFactory.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Exception/RejectMessageExceptionInterface.php
  src/Symfony/Component/Messenger/Transport/Factory/ChainTransportFactory.php
  src/Symfony/Component/Messenger/Transport/Factory/TransportFactoryInterface.php
  src/Symfony/Component/Messenger/Transport/Serialization/DecoderInterface.php
  src/Symfony/Component/Messenger/Transport/Serialization/EncoderInterface.php
  src/Symfony/Component/Messenger/composer.json
Labels: Messenger, Status: Reviewed

#27130 [Messenger] Add a new time limit receiver
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Tests/Transport/Enhancers/StopWhenTimeLimitIsReachedReceiverTest.php
  src/Symfony/Component/Messenger/Transport/Enhancers/StopWhenTimeLimitIsReachedReceiver.php
Labels: Feature, Messenger, Status: Reviewed

#27156 [FrameworkBundle] Remove dead code
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: FrameworkBundle, Status: Needs Review

#27150 [FrameworkBundle] replace remaining adapters with transports
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
Labels: FrameworkBundle, Status: Needs Review

#27144 [FrameworkBundle] Hide some lock-related services
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: FrameworkBundle, Status: Reviewed

#27143 [Console] By default hide the short exception trace line from exception messages in Symfony's commands
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/AbstractConfigCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDumpReferenceCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
  src/Symfony/Bundle/SecurityBundle/Command/SetAclCommand.php
  src/Symfony/Bundle/SecurityBundle/Command/UserPasswordEncoderCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerLogCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStatusCommand.php
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Bug, Console, Status: Reviewed

#27158 [Cache] fix logic for fetching tag versions on TagAwareAdapter
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
Labels: Bug, Cache, Status: Reviewed

#27163 [Messenger] Rename TolerateNoHandler to AllowNoHandlerMiddleware
  src/Symfony/Component/Messenger/Middleware/AllowNoHandlerMiddleware.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/AllowNoHandlerMiddlewareTest.php
Labels: Messenger, Status: Reviewed

#27171 [Form][minor] Fixed typo RecursiveIterator -> RecursiveIteratorIterator
  src/Symfony/Component/Form/Util/InheritDataAwareIterator.php
Labels: Form, Status: Needs Review

#27152 [HttpFoundation] use brace-style regex delimiters
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#27170 Show the deprecations tab by default in the logger panel
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/logger.html.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#27162 [FrameworkBundle][Messenger] Remove convention-based service id generation for buses
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_multiple_buses.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_multiple_buses.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_multiple_buses.yml
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#27168 [HttpKernel] Add Kernel::getAnnotatedClassesToCompile()
  src/Symfony/Component/HttpKernel/DependencyInjection/AddAnnotatedClassesToCachePass.php
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Feature, HttpKernel, Status: Reviewed

#27176 [Messenger] Fix missing s/tolerate_no_handler/allow_no_handler/g
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_multiple_buses.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_multiple_buses.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_multiple_buses.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Status: Reviewed

#27178 [Messenger] Add missing `@experimental` annotations
  src/Symfony/Component/Messenger/Handler/MessageHandlerInterface.php
  src/Symfony/Component/Messenger/Handler/MessageSubscriberInterface.php
  src/Symfony/Component/Messenger/Transport/Factory/TransportFactoryInterface.php
Labels: Messenger, Status: Reviewed

#26945 [Messenger] Support configuring messages when dispatching
  src/Symfony/Component/Messenger/Asynchronous/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Asynchronous/Transport/ReceivedMessage.php
  src/Symfony/Component/Messenger/Asynchronous/Transport/WrapIntoReceivedMessage.php
  src/Symfony/Component/Messenger/Envelope.php
  src/Symfony/Component/Messenger/EnvelopeAwareInterface.php
  src/Symfony/Component/Messenger/EnvelopeItemInterface.php
  src/Symfony/Component/Messenger/MessageBus.php
  src/Symfony/Component/Messenger/MessageBusInterface.php
  src/Symfony/Component/Messenger/Middleware/Configuration/ValidationConfiguration.php
  src/Symfony/Component/Messenger/Middleware/LoggingMiddleware.php
  src/Symfony/Component/Messenger/Middleware/ValidationMiddleware.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Transport/Serialization/SerializerConfigurationTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/EnvelopeTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/Configuration/ValidationConfigurationTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/ValidationMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpSenderTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/Fixtures/long_receiver.php
  src/Symfony/Component/Messenger/Tests/Transport/Enhancers/StopWhenMemoryUsageIsExceededReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Enhancers/StopWhenMessageCountIsExceededReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/SerializerTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpReceiver.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpSender.php
  src/Symfony/Component/Messenger/Transport/Enhancers/StopWhenMemoryUsageIsExceededReceiver.php
  src/Symfony/Component/Messenger/Transport/Enhancers/StopWhenMessageCountIsExceededReceiver.php
  src/Symfony/Component/Messenger/Transport/ReceiverInterface.php
  src/Symfony/Component/Messenger/Transport/SenderInterface.php
  src/Symfony/Component/Messenger/Transport/Serialization/DecoderInterface.php
  src/Symfony/Component/Messenger/Transport/Serialization/EncoderInterface.php
  src/Symfony/Component/Messenger/Transport/Serialization/Serializer.php
  src/Symfony/Component/Messenger/Transport/Serialization/SerializerConfiguration.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Feature, Messenger, Status: Reviewed

#27181 Release v4.1.0-BETA1
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27183 Fixed return type
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Bug, Status: Needs Review

#27155 Added new templates for GitHub issues
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Documentation_issue.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Security_issue.md
  .github/ISSUE_TEMPLATE/Support_question.md
Labels: Status: Reviewed

#27198 [Messenger] Fix the transport factory after moving it
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
Labels: Bug, Messenger, Status: Reviewed

#27138 [HttpKernel] Better exception page when the controller returns nothing
  src/Symfony/Component/HttpKernel/Exception/ControllerDoesNotReturnResponseException.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/HttpKernelTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#27199 [Messenger] Fix default bus name
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Bug, Messenger, Status: Reviewed

#27189 [Profiler] Fix dump makes toolbar disappear
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#27192 [Messenger] Improved exception on invalid message type
  src/Symfony/Component/Messenger/Exception/InvalidArgumentException.php
  src/Symfony/Component/Messenger/MessageBus.php
  src/Symfony/Component/Messenger/Tests/MessageBusTest.php
Labels: Bug, Messenger, Status: Reviewed

#27209 [Workflow] add is deprecated since Symfony 4.1. Use addWorkflow() instead
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, Status: Reviewed, Workflow

#27075 [DI][DX] Allow exclude to be an array of patterns
  src/Symfony/Component/DependencyInjection/Loader/Configurator/PrototypeConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/prototype_array.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/prototype_array.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_prototype_array.xml
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DX, DependencyInjection, Feature, Status: Reviewed

#27206 [Messenger] Add more tests around the AMQP transport
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpTransportFactoryTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpTransportTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpTransport.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpTransportFactory.php
Labels: Messenger, Status: Reviewed

#27184 [Messenger] Fix return senders based on the message parents/interfaces
  src/Symfony/Component/Messenger/Asynchronous/Routing/SenderLocator.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Routing/SenderLocatorTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/DummyMessage.php
  src/Symfony/Component/Messenger/Tests/Fixtures/DummyMessageInterface.php
Labels: Bug, Messenger, Status: Reviewed

#27220 [Messenger] Fix new AMQP Transport test with Envelope & fix contract
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpTransportTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpTransport.php
Labels: Bug, Messenger, Status: Reviewed

#27225 [Messenger] Autoconfiguring TransportFactoryInterface classes
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Feature, Messenger, Status: Reviewed

#27224 [Messenger] Make sure default receiver name is set before command configuration
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
  src/Symfony/Component/Messenger/composer.json
Labels: Bug, Messenger, Status: Reviewed

#27228 [Messenger] Remove autoconfiguration for Sender/ReceiverInterface
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, Messenger, Status: Reviewed

#27227 [HttpKernel] Handle NoConfigurationException "onKernelException()"
  src/Symfony/Component/HttpKernel/EventListener/RouterListener.php
Labels: Bug, HttpKernel, Status: Needs Review

#27222 [WebProfilerBundle][Cache] Fix misses calculation when calling getItems
  src/Symfony/Component/Cache/DataCollector/CacheDataCollector.php
Labels: Bug, Cache, Status: Reviewed, WebProfilerBundle

#27231 [FrameworkBundle] Fix cache:clear on vagrant
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#27190 [Workflow] Added DefinitionBuilder::setMetadataStore().
  src/Symfony/Component/Workflow/Definition.php
  src/Symfony/Component/Workflow/DefinitionBuilder.php
  src/Symfony/Component/Workflow/Tests/DefinitionBuilderTest.php
Labels: Status: Reviewed, Workflow

#27193 Improve github issue templates
  .github/ISSUE_TEMPLATE/1_Bug_report.md
  .github/ISSUE_TEMPLATE/2_Feature_request.md
  .github/ISSUE_TEMPLATE/3_Support_question.md
  .github/ISSUE_TEMPLATE/4_Documentation_issue.md
  .github/ISSUE_TEMPLATE/5_Security_issue.md
Labels: Status: Needs Work

#27191 [DI] Display previous error messages when throwing unused bindings
  src/Symfony/Component/DependencyInjection/Compiler/AbstractRecursivePass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27236 [Filesystem] Fix usages of error_get_last()
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Finder/SplFileInfo.php
  src/Symfony/Component/HttpFoundation/File/File.php
  src/Symfony/Component/HttpFoundation/File/UploadedFile.php
  src/Symfony/Component/Process/Pipes/AbstractPipes.php
  src/Symfony/Component/Process/Pipes/UnixPipes.php
Labels: Bug, Filesystem, Status: Reviewed

#27232 [Cache][Lock] Fix usages of error_get_last()
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Lock/Store/FlockStore.php
Labels: Bug, Filesystem, Status: Reviewed

#27252 [HttpKernel] Make TraceableValueResolver $stopwatch mandatory
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/TraceableValueResolver.php
  src/Symfony/Component/HttpKernel/DependencyInjection/ControllerArgumentValueResolverPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/ControllerArgumentValueResolverPassTest.php
Labels: HttpKernel, Status: Reviewed

#27237 [Debug] Fix populating error_get_last() for handled silent errors
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/Debug/Tests/ErrorHandlerTest.php
Labels: Bug, Debug, Status: Reviewed

#27214 [HttpKernel] Fix services are no longer injected into __invoke controllers method
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RemoveEmptyControllerArgumentLocatorsPass.php
Labels: Bug, HttpKernel, Status: Reviewed

#27255 Minor tweak in the issue templates
  .github/ISSUE_TEMPLATE/1_Bug_report.md
  .github/ISSUE_TEMPLATE/2_Feature_request.md
  .github/ISSUE_TEMPLATE/3_Support_question.md
  .github/ISSUE_TEMPLATE/4_Documentation_issue.md
  .github/ISSUE_TEMPLATE/5_Security_issue.md
Labels: Status: Reviewed

#27263 [Profiler] Remove propel & event_listener_loading category identifiers
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.html.twig
Labels: Status: Reviewed, WebProfilerBundle

#27128 [Messenger] Middleware factories support in config
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineTransactionMiddlewareFactory.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_middleware_factory_erroneous_format.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_multiple_buses.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_multiple_buses.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_middleware_factory_erroneous_format.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_multiple_buses.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/XmlFrameworkExtensionTest.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Feature, Messenger, Status: Reviewed

#27250 [Session] limiting :key for GET_LOCK to 64 chars
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
Labels: Status: Reviewed

#27256 Cleanup 2 tests for the HttpException classes
  src/Symfony/Component/HttpKernel/Tests/Exception/UnprocessableEntityHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/UnsupportedMediaTypeHttpExceptionTest.php
Labels: Status: Reviewed

#27265 [DI] Shared services should not be inlined in non-shared ones
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/InlineServiceDefinitionsPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27281 [HttpKernel] Fix dealing with self/parent in ArgumentMetadataFactory
  src/Symfony/Bridge/PhpUnit/Legacy/CoverageListenerTrait.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/weak_vendors_on_eval_d_deprecation.phpt
  src/Symfony/Bridge/Twig/NodeVisitor/Scope.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTest.php
  src/Symfony/Component/Cache/DataCollector/CacheDataCollector.php
  src/Symfony/Component/CssSelector/Node/Specificity.php
  src/Symfony/Component/CssSelector/XPath/XPathExpr.php
  src/Symfony/Component/Debug/Exception/FlattenException.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/InstanceofConfigurator.php
  src/Symfony/Component/Form/FormView.php
  src/Symfony/Component/Form/Tests/AbstractBootstrap4LayoutTest.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactory.php
  src/Symfony/Component/HttpKernel/Profiler/Profiler.php
  src/Symfony/Component/HttpKernel/Tests/ControllerMetadata/ArgumentMetadataFactoryTest.php
  src/Symfony/Component/HttpKernel/Tests/Profiler/ProfilerTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/ParentDummy.php
  src/Symfony/Component/PropertyInfo/Type.php
  src/Symfony/Component/Routing/Matcher/Dumper/DumperCollection.php
  src/Symfony/Component/Routing/RouteCollectionBuilder.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Serializer/Mapping/AttributeMetadataInterface.php
  src/Symfony/Component/Serializer/Mapping/ClassMetadataInterface.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Translation/MessageCatalogueInterface.php
  src/Symfony/Component/Validator/Mapping/ClassMetadata.php
Labels: Bug, Status: Needs Review

#27287 [PropertyInfo] fix resolving parent|self type hints
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/SerializerExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php7Dummy.php
Labels: Bug, PropertyInfo, Status: Needs Review

#27002 [Messenger] implement several senders using a ChainSender
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_routing.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_routing.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_routing.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/Asynchronous/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Asynchronous/Routing/SenderLocator.php
  src/Symfony/Component/Messenger/Asynchronous/Routing/SenderLocatorInterface.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Routing/SenderLocatorTest.php
  src/Symfony/Component/Messenger/Transport/ChainSender.php
Labels: Feature, Messenger, Status: Reviewed

#27230 [Messenger] Select alternatives on missing receiver arg or typo
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: DX, Feature, Messenger, Status: Reviewed

#27268 [DI] fine tune dumped factories
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_errored_definition.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_private_in_expression.php
Labels: DependencyInjection, Performance, Status: Reviewed

#27286 [Translation] Add Occitan plural rule
  src/Symfony/Component/Translation/PluralizationRules.php
Labels: Feature, Status: Reviewed, Translator

#27270 [Routing] Fix adding name prefix to canonical route names
  src/Symfony/Component/Routing/RouteCollection.php
  src/Symfony/Component/Routing/Tests/RouteCollectionTest.php
Labels: Bug, Status: Reviewed

#27295 Fix security/* cross-dependencies
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/Security/Guard/composer.json
  src/Symfony/Component/Security/Http/composer.json
Labels: Status: Reviewed

#26781 [Form] Fix precision of MoneyToLocalizedStringTransformer's divisions on transform()
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformerTest.php
  src/Symfony/Component/Intl/NumberFormatter/NumberFormatter.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/AbstractNumberFormatterTest.php
Labels: Bug, Form, Status: Reviewed

#27278 [Lock] Skip test if posix extension is not installed
  src/Symfony/Component/Lock/Tests/Store/BlockingStoreTestTrait.php
Labels: Bug, Lock, Status: Reviewed

#27118 [BrowserKit] Adds support for meta refresh
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/BrowserKit/Tests/ClientTest.php
Labels: BrowserKit, Feature, Status: Reviewed

#27267 [DependencyInjection] resolve array env vars
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: Bug, Status: Reviewed

#27264 [Validator] Use strict type in URL validator
  src/Symfony/Component/Validator/Constraints/UrlValidator.php
Labels: Bug, Status: Reviewed

#27249 [HttpKernel] do file_exists() check instead of silent notice
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: HttpKernel, Status: Reviewed

#27069 [LDAP] Add "applyOperations" method to EntryManager
  src/Symfony/Component/Ldap/Adapter/ExtLdap/EntryManager.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/UpdateOperation.php
  src/Symfony/Component/Ldap/Exception/UpdateOperationException.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/LdapManagerTest.php
Labels: Feature, Status: Reviewed

#27310 [Security] do not mock the session in token storage tests
  src/Symfony/Component/Security/Csrf/Tests/TokenStorage/SessionTokenStorageTest.php
Labels: Security, Status: Reviewed

#27312 [PhpUnitBridge] Supress deprecation notices thrown when getting private services from container in tests
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#27305 [Security/Core] Add "is_granted()" to security expressions, deprecate "has_role()"
  UPGRADE-4.2.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/StandardFormLogin/config.yml
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authorization/ExpressionLanguageProvider.php
  src/Symfony/Component/Security/Core/Authorization/Voter/ExpressionVoter.php
  src/Symfony/Component/Security/Core/Tests/Authorization/ExpressionLanguageTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/ExpressionVoterTest.php
Labels: Deprecation, Feature, Status: Reviewed

#27327 Release v2.7.47
  CHANGELOG-2.7.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27328 Release v2.8.40
  CHANGELOG-2.8.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27329 Release v3.4.10
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27330 Release v4.0.10
  CHANGELOG-4.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27331 Release v4.1.0-BETA2
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26929 [Cache] Add [Taggable]CacheInterface, the easiest way to use a cache
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/NullAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableTagAwareAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/CacheInterface.php
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Cache/DataCollector/CacheDataCollector.php
  src/Symfony/Component/Cache/Exception/LogicException.php
  src/Symfony/Component/Cache/TaggableCacheInterface.php
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
  src/Symfony/Component/Cache/Tests/Adapter/PhpArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/CacheItemTest.php
  src/Symfony/Component/Cache/Traits/GetTrait.php
Labels: Cache, Feature, Status: Reviewed

#27157 [DI] Select specific key from an array resolved env var
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterEnvVarProcessorsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#27165 [DI] Allow binding by type+name
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/BindTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/NamedArgumentsDummy.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#27337 [FrameworkBundle] fix typo in CacheClearCommand
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#27338 [Form] fix tests on old phpunit versions
  src/Symfony/Component/Form/Test/Traits/ValidatorExtensionTrait.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ValidatorExtensionTest.php
  src/Symfony/Component/Serializer/Mapping/AttributeMetadataInterface.php
Labels: Form, Status: Needs Review

#27341 [WebProfilerBundle] Fixed validator/dump trace CSS
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#27361 [DI] remove dead code
  src/Symfony/Component/DependencyInjection/LazyProxy/ProxyHelper.php
Labels: DependencyInjection, Status: Reviewed

#27359 [HttpFoundation] Fix perf issue during MimeTypeGuesser intialization
  src/Symfony/Component/HttpFoundation/File/MimeType/MimeTypeGuesser.php
Labels: Bug, HttpFoundation, Performance, Status: Reviewed

#27364 [DI] Fix bad exception on uninitialized references to non-shared services
  src/Symfony/Component/DependencyInjection/Compiler/CheckExceptionOnInvalidReferenceBehaviorPass.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckExceptionOnInvalidReferenceBehaviorPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27374 Release v2.7.48
  CHANGELOG-2.7.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27375 Release v2.8.41
  CHANGELOG-2.8.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27377 Release v3.3.17
  CHANGELOG-3.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27376 [Github] Update the pull-request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#27380 Release v3.4.11
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27383 Release v4.0.11
  CHANGELOG-4.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27349 [Security] Fix missing use in UserInterface
  src/Symfony/Component/Security/Core/User/UserInterface.php
Labels: Bug, Security, Status: Reviewed

#27350 [HttpKernel] fix deprecation in AbstractTestSessionListener
  src/Symfony/Component/HttpKernel/EventListener/AbstractTestSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TestSessionListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#27367 [FrameworkBundle] cleanup generated test container
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TestServiceContainerRealRefPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TestServiceContainerWeakRefPass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/TestServiceContainerTest.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#27371 Tweak Argon2 test config
  src/Symfony/Component/Security/Core/Tests/Encoder/Argon2iPasswordEncoderTest.php
Labels: Bug, Status: Reviewed

#27379 [FrameworkBundle] Fix using test.service_container when Client is rebooted
  src/Symfony/Bundle/FrameworkBundle/Client.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/test.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/AutowiringTypesTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolClearCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolsTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SerializerTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AutowiringTypesTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/LogoutTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/LogoutWithoutSessionInvalidation/config.yml
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Needs Review

#27352 Remove reference to the test container after kernel shutdown
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
Labels: Bug, Status: Reviewed

#27355 Add code of Conduct links in our README
  README.md
Labels: Status: Reviewed

#27369 [HttpFoundation] Fix cookie test with xdebug
  src/Symfony/Component/HttpFoundation/Tests/Fixtures/response-functional/common.inc
Labels: Bug, HttpFoundation, Status: Reviewed

#27366 [DI] never inline lazy services
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27363 [DI] remove dead code
  src/Symfony/Component/DependencyInjection/LazyProxy/ProxyHelper.php
Labels: DependencyInjection, Status: Reviewed

#27358 [PhpUnitBridge] silence some stderr outputs
  src/Symfony/Bridge/PhpUnit/Tests/CoverageListenerTest.php
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, PhpUnitBridge, Status: Reviewed

#27365 [Serializer] Check the value of enable_max_depth if defined
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Bug, Serializer, Status: Reviewed

#27347 [Validator] Update sl translation
  src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf
Labels: Status: Needs Review, Validator

#27344 [HttpKernel] reset kernel start time on reboot
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Bug, HttpKernel, Status: Needs Review

#27336 [Security][SecurityBundle] FirewallMap/FirewallContext deprecations
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/SecurityBundle/Security/FirewallContext.php
  src/Symfony/Bundle/SecurityBundle/Tests/DataCollector/SecurityDataCollectorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Debug/TraceableFirewallListenerTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Security/FirewallContextTest.php
  src/Symfony/Component/Security/Http/Firewall.php
  src/Symfony/Component/Security/Http/FirewallMapInterface.php
  src/Symfony/Component/Security/Http/Tests/FirewallTest.php
Labels: Deprecation, Security, SecurityBundle, Status: Reviewed

#27388 [Routing] Account for greediness when merging route patterns
  src/Symfony/Component/Routing/Matcher/Dumper/StaticPrefixCollection.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher11.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Bug, Routing, Status: Needs Review

#27390 Release v4.1.0-BETA3
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27297 Triggering RememberMe's loginFail() when token cannot be created
  src/Symfony/Component/Security/Http/Firewall/RememberMeListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/RememberMeListenerTest.php
Labels: Bug, Status: Reviewed

#27303 [Process] Consider "executable" suffixes first on Windows
  src/Symfony/Component/Process/ExecutableFinder.php
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Bug, Status: Reviewed

#26973 [HttpKernel] Set first trusted proxy as REMOTE_ADDR in InlineFragmentRenderer.
  src/Symfony/Component/HttpKernel/Fragment/InlineFragmentRenderer.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/InlineFragmentRendererTest.php
Labels: HttpKernel, Status: Reviewed

#27402 [HttpFoundation] Change PHPDoc in ResponseHeaderBag::getCookies() to help IDEs
  src/Symfony/Component/HttpFoundation/ResponseHeaderBag.php
Labels: Status: Reviewed

#26934 [FrameworkBundle] Allow configuring taggable cache pools
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/CachePoolClearerPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/CachePoolPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolClearerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolsTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/redis_config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/redis_custom_config.yml
Labels: Feature, FrameworkBundle, Status: Reviewed

#27393 [Form] mention "help" field option in UPGRADE file
  UPGRADE-4.1.md
Labels: Status: Reviewed

#27272 [FrameworkBundle] Change priority of AddConsoleCommandPass to TYPE_BEFORE_REMOVING
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Component/Console/Tests/DependencyInjection/AddConsoleCommandPassTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#27024 [Finder] added "use natural sort" option
  src/Symfony/Component/Finder/CHANGELOG.md
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Iterator/SortableIterator.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
  src/Symfony/Component/Finder/Tests/Iterator/DateRangeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/DepthRangeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/ExcludeDirectoryFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/FileTypeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/RealIteratorTestCase.php
  src/Symfony/Component/Finder/Tests/Iterator/SizeRangeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/SortableIteratorTest.php
Labels: Feature, Finder, Status: Reviewed

#27414 CODEOWNERS: some more rules
  .github/CODEOWNERS
Labels: Status: Reviewed

#27415 Insert correct parameter_bag service in AbstractController
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: Bug, Status: Reviewed

#27420 Revert "feature #26702 Mark ExceptionInterfaces throwable (ostrolucky)"
  src/Symfony/Component/Asset/Exception/ExceptionInterface.php
  src/Symfony/Component/Console/Exception/ExceptionInterface.php
  src/Symfony/Component/CssSelector/Exception/ExceptionInterface.php
  src/Symfony/Component/Dotenv/Exception/ExceptionInterface.php
  src/Symfony/Component/Filesystem/Exception/ExceptionInterface.php
  src/Symfony/Component/Form/Exception/ExceptionInterface.php
  src/Symfony/Component/Intl/Exception/ExceptionInterface.php
  src/Symfony/Component/Ldap/Exception/ExceptionInterface.php
  src/Symfony/Component/Lock/Exception/ExceptionInterface.php
  src/Symfony/Component/Messenger/Exception/ExceptionInterface.php
  src/Symfony/Component/OptionsResolver/Exception/ExceptionInterface.php
  src/Symfony/Component/Process/Exception/ExceptionInterface.php
  src/Symfony/Component/PropertyAccess/Exception/ExceptionInterface.php
  src/Symfony/Component/Routing/Exception/ExceptionInterface.php
  src/Symfony/Component/Security/Core/Exception/ExceptionInterface.php
  src/Symfony/Component/Serializer/Exception/ExceptionInterface.php
  src/Symfony/Component/Translation/Exception/ExceptionInterface.php
  src/Symfony/Component/Validator/Exception/ExceptionInterface.php
  src/Symfony/Component/Workflow/Exception/ExceptionInterface.php
  src/Symfony/Component/Yaml/Exception/ExceptionInterface.php
Labels: Bug, Status: Reviewed

#27417 [WebProfilerBundle] Make Twig bundle an explicit dependency
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: Feature, Status: Reviewed, WebProfilerBundle

#27424 Release v4.1.0
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27389 [Serializer] Fix serializer tries to denormalize null values on nullable properties
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/NullableConstructorArgumentDummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
Labels: Bug, Serializer, Status: Reviewed

#27431 [Messenger] Fix suggested enqueue adapter package
  src/Symfony/Component/Messenger/composer.json
Labels: Messenger, Status: Reviewed

#27430 [PropertyInfo] Add an alias to the property info type extractor
  src/Symfony/Bundle/FrameworkBundle/Resources/config/property_info.xml
Labels: Feature, PropertyInfo, Status: Reviewed

#27429 [PropertyInfo] Auto-enable PropertyInfo component
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Feature, PropertyInfo, Status: Reviewed

#27343 [Messenger][Profiler] Show dispatch caller
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/messenger.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Messenger/Tests/DataCollector/MessengerDataCollectorTest.php
  src/Symfony/Component/Messenger/Tests/TraceableMessageBusTest.php
  src/Symfony/Component/Messenger/TraceableMessageBus.php
Labels: Feature, Messenger, Status: Reviewed, WebProfilerBundle

#27406 [Security] Add missing upgrade note about GuardAuthenticationListener-related deprecation
  UPGRADE-3.4.md
  UPGRADE-4.0.md
  src/Symfony/Component/Security/CHANGELOG.md
Labels: Deprecation, Status: Reviewed

#27398 [Cache] Remove TaggableCacheInterface, alias cache.app.taggable to CacheInterface
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableTagAwareAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/CacheInterface.php
  src/Symfony/Component/Cache/TaggableCacheInterface.php
Labels: Cache, Feature, Status: Reviewed
