Repository symfony/symfony, pull requests merged in 2018-04, with the labels that each got.

#26727 [HttpCache] Unlink tmp file on error
  src/Symfony/Component/HttpKernel/HttpCache/Store.php
Labels: Bug, Status: Reviewed

#26739 [FrameworkBundle] add PHP errors options to XML schema definition
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/php_errors_disabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/php_errors_enabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/php_errors_disabled.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/php_errors_enabled.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/php_errors_disabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/php_errors_enabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#26741 Release v2.7.44
  CHANGELOG-2.7.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26742 Release v2.8.37
  CHANGELOG-2.8.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26609 [Console] Fix check of color support on Windows
  src/Symfony/Component/Console/Output/StreamOutput.php
Labels: Bug, Console, Status: Reviewed

#26749 Add PHPDbg support to HTTP components
  src/Symfony/Component/Debug/Debug.php
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/Process/PhpExecutableFinder.php
  src/Symfony/Component/VarDumper/VarDumper.php
Labels: Bug, Status: Reviewed

#26702 Mark ExceptionInterfaces throwable
  src/Symfony/Component/Asset/Exception/ExceptionInterface.php
  src/Symfony/Component/Console/Exception/ExceptionInterface.php
  src/Symfony/Component/CssSelector/Exception/ExceptionInterface.php
  src/Symfony/Component/Dotenv/Exception/ExceptionInterface.php
  src/Symfony/Component/Filesystem/Exception/ExceptionInterface.php
  src/Symfony/Component/Form/Exception/ExceptionInterface.php
  src/Symfony/Component/Intl/Exception/ExceptionInterface.php
  src/Symfony/Component/Ldap/Exception/ExceptionInterface.php
  src/Symfony/Component/Lock/Exception/ExceptionInterface.php
  src/Symfony/Component/Messenger/Exception/ExceptionInterface.php
  src/Symfony/Component/OptionsResolver/Exception/ExceptionInterface.php
  src/Symfony/Component/Process/Exception/ExceptionInterface.php
  src/Symfony/Component/PropertyAccess/Exception/ExceptionInterface.php
  src/Symfony/Component/Routing/Exception/ExceptionInterface.php
  src/Symfony/Component/Security/Core/Exception/ExceptionInterface.php
  src/Symfony/Component/Serializer/Exception/ExceptionInterface.php
  src/Symfony/Component/Translation/Exception/ExceptionInterface.php
  src/Symfony/Component/Validator/Exception/ExceptionInterface.php
  src/Symfony/Component/Workflow/Exception/ExceptionInterface.php
  src/Symfony/Component/Yaml/Exception/ExceptionInterface.php
Labels: Bug, OptionsResolver, Status: Reviewed

#26475 [HttpFoundation] split FileException into specialized ones about upload handling
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/File/Exception/CannotWriteFileException.php
  src/Symfony/Component/HttpFoundation/File/Exception/ExtensionFileException.php
  src/Symfony/Component/HttpFoundation/File/Exception/FormSizeFileException.php
  src/Symfony/Component/HttpFoundation/File/Exception/IniSizeFileException.php
  src/Symfony/Component/HttpFoundation/File/Exception/NoFileException.php
  src/Symfony/Component/HttpFoundation/File/Exception/NoTmpDirFileException.php
  src/Symfony/Component/HttpFoundation/File/Exception/PartialFileException.php
  src/Symfony/Component/HttpFoundation/File/UploadedFile.php
  src/Symfony/Component/HttpFoundation/Tests/File/UploadedFileTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#26387 [Yaml] Fix regression when trying to parse multiline
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#26751 Release v3.4.7
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26752 Release v4.0.7
  CHANGELOG-4.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26764 [DependencyInjection] fix expected exception message
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#26765 [Routing] fix merge
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
Labels: Bug, Routing, Status: Needs Review

#26758 [WebProfilerBundle][HttpKernel] Make FileLinkFormatter URL format generation lazy
  src/Symfony/Bundle/WebProfilerBundle/DependencyInjection/WebProfilerExtension.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/profiler.xml
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
Labels: Bug, HttpKernel, Status: Reviewed, WebProfilerBundle

#26685 [Messenger] Add a `MessageHandlerInterface` (multiple messages + auto-configuration)
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Handler/MessageHandlerInterface.php
  src/Symfony/Component/Messenger/Handler/MessageSubscriberInterface.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Feature, Messenger, Status: Reviewed

#26776 [VarDumper] Skip some tests on custom xdebug.file_link_format
  src/Symfony/Component/VarDumper/Tests/Caster/ExceptionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/HtmlDumperTest.php
Labels: Status: Reviewed, VarDumper

#26782 [FrameworkBundle] Fix validation configuration default test case
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: FrameworkBundle, Status: Reviewed

#26763 [Finder] Remove duplicate slashes in filenames
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/SplFileInfo.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
  src/Symfony/Component/Finder/Tests/Iterator/FilePathsIteratorTest.php
Labels: Finder, Status: Reviewed

#23707 [Monolog Bridge][DX] Add a Monolog activation strategy for ignoring specific HTTP codes
  src/Symfony/Bridge/Monolog/Handler/FingersCrossed/HttpCodeActivationStrategy.php
  src/Symfony/Bridge/Monolog/Tests/Handler/FingersCrossed/HttpCodeActivationStrategyTest.php
Labels: Feature, MonologBridge, Status: Reviewed

#26785 [Finder] fix tests
  src/Symfony/Component/Finder/Tests/BsdFinderTest.php
  src/Symfony/Component/Finder/Tests/GnuFinderTest.php
Labels: Bug, Finder, Status: Reviewed

#26786 [Messenger] Mention the interface is a marker
  src/Symfony/Component/Messenger/Handler/MessageHandlerInterface.php
Labels: Messenger, Status: Reviewed

#26792 [Routing] Fix throwing NoConfigurationException instead of 405
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher0.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher3.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher4.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher5.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher6.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher7.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Bug, Routing, Status: Needs Review

#26788 [Security] Load the user before pre/post auth checks when needed
  src/Symfony/Component/Security/Core/Authentication/Provider/SimpleAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/SimpleAuthenticationProviderTest.php
Labels: Bug, Security, Status: Reviewed

#26794 [PhpUnitBridge] Catch deprecation error handler
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#26797 [SecurityBundle] Fix Typo in Guard Factory
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/GuardAuthenticationFactory.php
Labels: SecurityBundle, Status: Needs Review

#26801 Update da translations
  src/Symfony/Component/Form/Resources/translations/validators.da.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.da.xlf
  src/Symfony/Component/Security/Resources/translations/security.da.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.da.xlf
Labels: Bug, Status: Needs Review

#26767 [Form] ability to set rounding strategy for MoneyType
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/MoneyType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/MoneyTypeTest.php
Labels: Feature, Status: Reviewed

#21856 [LDAP] Allow adding and removing values to/from multi-valued attributes
  src/Symfony/Component/Ldap/Adapter/ExtLdap/EntryManager.php
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/LdapManagerTest.php
Labels: Feature, Ldap, Status: Reviewed

#26684 [Messenger] Remove the Doctrine middleware configuration from the FrameworkBundle
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_doctrine.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_doctrine.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_doctrine.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Messenger, Status: Reviewed

#26802 [Security] register custom providers on ExpressionLanguage directly
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddExpressionLanguageProvidersPass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/AddExpressionLanguageProvidersPassTest.php
Labels: Bug, Security, Status: Reviewed

#26800 [PhpUnitBridge] Search for SYMFONY_PHPUNIT_REMOVE env var in phpunit.xml then phpunit.xml.dist
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Feature, PhpUnitBridge, Status: Reviewed

#26804 [Messenger] Fix handles tag attribute
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, Status: Reviewed

#26811 [PhpUnitBridge] Search for other SYMFONY_* env vars in phpunit.xml then phpunit.xml.dist
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Feature, PhpUnitBridge, Status: Reviewed

#26818 [FrameworkBundle] remove CSRF Twig extension when class is missing
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#26799 [DI][Config] Fix empty env validation
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/Config/Definition/ScalarNode.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: Bug, Config, DependencyInjection, Status: Reviewed

#26528 [Debug] Support any Throwable object in FlattenException
  src/Symfony/Component/Debug/Exception/FlattenException.php
  src/Symfony/Component/Debug/Tests/Exception/FlattenExceptionTest.php
Labels: Deprecation, Feature, Status: Reviewed

#26096 [HttpFoundation] Added a migrating session handler
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MigratingSessionHandler.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MigratingSessionHandlerTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#26841 Release v2.8.38
  CHANGELOG-2.8.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26849 Release v4.0.8
  CHANGELOG-4.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26847 [Console] add support for iterable in output
  UPGRADE-4.1.md
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Output/Output.php
  src/Symfony/Component/Console/Output/OutputInterface.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tests/Output/OutputTest.php
Labels: Console, Feature, Status: Reviewed

#26828 [HttpFoundation] Have MigratingSessionHandler implement SessionUpdateTimestampHandlerInterface
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MigratingSessionHandler.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MigratingSessionHandlerTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#26834 [Yaml] Throw parse error on unfinished inline map
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Status: Reviewed, Yaml

#26863 [Console] Support iterable in SymfonyStyle::write/writeln
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/command/command_4_with_iterators.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/output/output_4_with_iterators.txt
Labels: Console, Status: Reviewed

#26862 [Messenger] Rename the middleware tag
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
Labels: Messenger, Status: Reviewed

#26874 [FrameworkBundle] Fixed configuration of php_errors.log
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#26875 [Console] Don't go past exact matches when autocompleting
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
Labels: Bug, Console, Status: Reviewed

#26632 [Messenger] Add AMQP adapter
  .travis.yml
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_adapter.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_adapter.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_adapter.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/Adapter/AmqpExt/AmqpAdapterFactory.php
  src/Symfony/Component/Messenger/Adapter/AmqpExt/AmqpFactory.php
  src/Symfony/Component/Messenger/Adapter/AmqpExt/AmqpReceiver.php
  src/Symfony/Component/Messenger/Adapter/AmqpExt/AmqpSender.php
  src/Symfony/Component/Messenger/Adapter/AmqpExt/Connection.php
  src/Symfony/Component/Messenger/Adapter/AmqpExt/Exception/RejectMessageExceptionInterface.php
  src/Symfony/Component/Messenger/Adapter/Factory/AdapterFactoryInterface.php
  src/Symfony/Component/Messenger/Adapter/Factory/ChainAdapterFactory.php
  src/Symfony/Component/Messenger/Asynchronous/Transport/WrapIntoReceivedMessage.php
  src/Symfony/Component/Messenger/Tests/Adapter/AmqpExt/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Adapter/AmqpExt/AmqpReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Adapter/AmqpExt/AmqpSenderTest.php
  src/Symfony/Component/Messenger/Tests/Adapter/AmqpExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Tests/Adapter/AmqpExt/Fixtures/long_receiver.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Routing/SenderLocatorTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/MessageBusTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Transport/Enhancers/MaximumCountReceiver.php
  src/Symfony/Component/Messenger/Transport/ReceiverInterface.php
  src/Symfony/Component/Messenger/Worker.php
  src/Symfony/Component/Messenger/composer.json
Labels: :snowflake: Feature Freeze, Feature, Messenger, Status: Reviewed

#26907 [Messenger] Minor improvements and cleanup
  src/Symfony/Component/Messenger/Adapter/AmqpExt/AmqpReceiver.php
  src/Symfony/Component/Messenger/Adapter/AmqpExt/Connection.php
  src/Symfony/Component/Messenger/Asynchronous/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Asynchronous/Routing/SenderLocator.php
  src/Symfony/Component/Messenger/ContainerHandlerLocator.php
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Messenger/Debug/LoggingMiddleware.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Exception/ValidationFailedException.php
  src/Symfony/Component/Messenger/HandlerLocator.php
  src/Symfony/Component/Messenger/MessageBus.php
  src/Symfony/Component/Messenger/Middleware/ValidationMiddleware.php
  src/Symfony/Component/Messenger/Tests/Adapter/AmqpExt/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Transport/Serialization/Serializer.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Messenger, Status: Reviewed

#26920 [PhpUnit Bridge] Fixes a non-initialized variable
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, Status: Reviewed

#26914 [Messenger] Add tests for ChainHandler class
  src/Symfony/Component/Messenger/Tests/Handler/ChainHandlerTest.php
Labels: Messenger, Status: Reviewed

#26913 [Messenger] Add tests for ValidationMiddleware
  src/Symfony/Component/Messenger/Tests/Middleware/HandleMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/ValidationMiddlewareTest.php
  src/Symfony/Component/Messenger/composer.json
Labels: Messenger, Status: Reviewed

#26773 [HttpKernel] Make ServiceValueResolver work if controller namespace starts with a backslash in routing
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/ServiceValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/ServiceValueResolverTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#26912 [Messenger] Testing LoggingMiddleware and minor improvements
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/Debug/LoggingMiddleware.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/Debug/LoggingMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/composer.json
Labels: Messenger, Status: Reviewed

#26922 [TwigBundle] fix rendering exception stack traces
  src/Symfony/Bundle/TwigBundle/Resources/views/Exception/traces.txt.twig
  src/Symfony/Bundle/TwigBundle/Resources/views/Exception/traces_text.html.twig
Labels: Bug, Status: Reviewed, TwigBundle

#26932 [Form] Fixed trimming choice values
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
Labels: Bug, Status: Reviewed

#26895 [Config] Fixes the valid placeholder types for variable node
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: Bug, Config, Status: Reviewed

#26643 Fix that ESI/SSI processing can turn a "private" response "public"
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/ResponseCacheStrategyTest.php
Labels: Bug, Status: Reviewed

#26947 [Messenger] Support nested configuration on adapters
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_adapter.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_adapter.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_adapter.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Messenger, Status: Reviewed

#26899 [Routing] Fix loading multiple class annotations for invokable classes
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationDirectoryLoaderTest.php
Labels: Bug, Routing, Status: Reviewed

#26959 [Console] Fix PSR exception context key
  src/Symfony/Component/Console/EventListener/ErrorListener.php
  src/Symfony/Component/Console/Tests/EventListener/ErrorListenerTest.php
Labels: Bug, Status: Reviewed

#26886 Don't assume that file binary exists on *nix OS
  src/Symfony/Component/HttpFoundation/File/MimeType/FileBinaryMimeTypeGuesser.php
Labels: Bug, HttpFoundation, Status: Reviewed

#26960 [Messenger] Allow sender tag name omission
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, Messenger, Status: Reviewed

#26956 [Messenger][AmqpExt] Allow disabling the auto-setup of the connection
  src/Symfony/Component/Messenger/Adapter/AmqpExt/Connection.php
  src/Symfony/Component/Messenger/Tests/Adapter/AmqpExt/ConnectionTest.php
Labels: Bug, Messenger, Status: Reviewed

#26787 [Security] Make security.providers optional
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/MissingUserProviderBundle/MissingUserProviderBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/MissingUserProviderTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/MissingUserProvider/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/MissingUserProvider/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/MissingUserProvider/routing.yml
  src/Symfony/Component/Security/Core/User/MissingUserProvider.php
Labels: Feature, Security, Status: Reviewed

#26980 [TwigBundle] fix formatting arguments in plaintext format
  src/Symfony/Bundle/TwigBundle/Resources/views/Exception/trace.txt.twig
Labels: Bug, Status: Reviewed, TwigBundle

#26982 [Cache] Add missing `@internal` tag on ProxyTrait
  src/Symfony/Component/Cache/Traits/ProxyTrait.php
Labels: Cache, Status: Reviewed

#26770 Do not normalize array keys in twig globals
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Bug, Status: Reviewed

#26877 Add working orphaned events template
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/events.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#26833 [HttpKernel] Added support for timings in ArgumentValueResolvers
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/TraceableValueResolver.php
  src/Symfony/Component/HttpKernel/DependencyInjection/ControllerArgumentValueResolverPass.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/TraceableValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/ControllerArgumentValueResolverPassTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#26984 [Cache] Inline some hot function calls
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Cache/Simple/AbstractCache.php
  src/Symfony/Component/Cache/Simple/ArrayCache.php
  src/Symfony/Component/Cache/Simple/ChainCache.php
  src/Symfony/Component/Cache/Simple/PhpArrayCache.php
  src/Symfony/Component/Cache/Simple/Psr6Cache.php
  src/Symfony/Component/Cache/Simple/TraceableCache.php
  src/Symfony/Component/Cache/Traits/AbstractTrait.php
  src/Symfony/Component/Cache/Traits/PhpArrayTrait.php
  src/Symfony/Component/Cache/Traits/PhpFilesTrait.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Needs Review

#26938 [minor] SCA
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/TemplateFinder.php
  src/Symfony/Bundle/FrameworkBundle/Templating/Helper/CodeHelper.php
  src/Symfony/Component/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Component/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Component/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Component/Console/Input/InputOption.php
  src/Symfony/Component/Validator/Mapping/Factory/LazyLoadingMetadataFactory.php
Labels: Status: Reviewed

#26986 [TwigBundle] fix tests
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Bug, Status: Needs Review, TwigBundle

#25841 [DoctrineBridge] Fix bug when indexBy is meta key in PropertyInfo\DoctrineExtractor
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineDummy.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineRelation.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#23659 [HttpKernel] LoggerDataCollector: splitting logs on different sub-requests
  src/Symfony/Bridge/Monolog/Logger.php
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bridge/Monolog/Tests/LoggerTest.php
  src/Symfony/Bridge/Monolog/Tests/Processor/DebugProcessorTest.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/collectors.xml
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
  src/Symfony/Component/HttpKernel/Log/DebugLoggerInterface.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/LoggerDataCollectorTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#26988 Fix wrong phpdoc
  src/Symfony/Component/Serializer/Exception/MissingConstructorArgumentsException.php
Labels: Status: Needs Review

#26999 [VarDumper] Fix dumping of SplObjectStorage
  src/Symfony/Component/VarDumper/Caster/SplCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/SplCasterTest.php
Labels: Bug, Status: Reviewed, VarDumper

#26998 Revert the type declaration of Role merged in #26821
  src/Symfony/Component/Security/Core/Authorization/Voter/ExpressionVoter.php
Labels: Status: Reviewed

#26910 Use new PHP7.2 functions in hasColorSupport
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Component/Console/Output/StreamOutput.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Bug, Status: Reviewed

#26014 [Security] Fixed being logged out on failed attempt in guard
  src/Symfony/Component/Security/Guard/GuardAuthenticatorHandler.php
  src/Symfony/Component/Security/Guard/Tests/GuardAuthenticatorHandlerTest.php
Labels: Bug, Security, Status: Reviewed

#26791 [BrowserKit] Bypass Header Informations
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/BrowserKit/Tests/ClientTest.php
Labels: BrowserKit, Bug, Status: Reviewed

#24699 [HttpFoundation] Add HeaderUtils class
  src/Symfony/Component/HttpFoundation/AcceptHeader.php
  src/Symfony/Component/HttpFoundation/AcceptHeaderItem.php
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Cookie.php
  src/Symfony/Component/HttpFoundation/HeaderBag.php
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/ResponseHeaderBag.php
  src/Symfony/Component/HttpFoundation/Tests/AcceptHeaderItemTest.php
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
  src/Symfony/Component/HttpFoundation/Tests/CookieTest.php
  src/Symfony/Component/HttpFoundation/Tests/HeaderUtilsTest.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseHeaderBagTest.php
Labels: Bug, Feature, HttpFoundation, Status: Reviewed

#26990 declare types in array_map callbacks
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: Status: Reviewed

#26994 [PhpUnitBridge] Add type hints
  src/Symfony/Bridge/PhpUnit/Legacy/CommandForV5.php
  src/Symfony/Bridge/PhpUnit/Legacy/CommandForV6.php
  src/Symfony/Bridge/PhpUnit/Legacy/TestRunnerForV5.php
  src/Symfony/Bridge/PhpUnit/Legacy/TestRunnerForV6.php
  src/Symfony/Bridge/PhpUnit/TextUI/Command.php
  src/Symfony/Bridge/PhpUnit/TextUI/TestRunner.php
Labels: Bug, Status: Reviewed

#27012 [DoctrineBridge] Improve exception message at `IdReader::getIdValue()`
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/IdReader.php
Labels: DoctrineBridge, Status: Reviewed

#26832 [MonologBridge] Added WebSubscriberProcessor to ease processor configuration
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Processor/WebProcessor.php
Labels: Feature, MonologBridge, Status: Reviewed

#27013 [HttpFoundation] Add HTTP_EARLY_HINTS const
  src/Symfony/Component/HttpFoundation/Response.php
Labels: Status: Reviewed

#27025 [DI] Add check of internal type to ContainerBuilder::getReflectionClass
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#27042 [DI] Handle invalid extension configuration class
  UPGRADE-4.1.md
  UPGRADE-5.0.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Extension/Extension.php
Labels: Bug, DependencyInjection, Deprecation, Status: Reviewed

#27001 [Messenger] Typecast the auto-setup as a bool.
  src/Symfony/Component/Messenger/Adapter/AmqpExt/Connection.php
  src/Symfony/Component/Messenger/Tests/Adapter/AmqpExt/ConnectionTest.php
Labels: Bug, Messenger, Status: Reviewed

#27017 [Serializer] Allow to access to the context and various other infos in callbacks and max depth handler
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Feature, Serializer, Status: Reviewed

#27044 [Security] Skip user checks if not implementing UserInterface
  src/Symfony/Component/Security/Core/Authentication/Provider/SimpleAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/SimpleAuthenticationProviderTest.php
Labels: Bug, Security, Status: Reviewed

#26831 [Bridge/Doctrine] count(): Parameter must be an array or an object that implements Countable
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#27016 [Security][Guard] GuardAuthenticationProvider::authenticate cannot return null
  src/Symfony/Component/Security/Guard/Provider/GuardAuthenticationProvider.php
  src/Symfony/Component/Security/Guard/Tests/Provider/GuardAuthenticationProviderTest.php
Labels: Bug, Security, Status: Reviewed

#27048 [FrameworkBundle] Register all private services on the test service container
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TestServiceContainerWeakRefPass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TestServiceContainer/NonPublicService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TestServiceContainer/PrivateService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TestServiceContainer/PublicService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TestServiceContainer/UnusedPrivateService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/TestServiceContainerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TestServiceContainer/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TestServiceContainer/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TestServiceContainer/services.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TestServiceContainer/test_disabled.yml
Labels: Bug, FrameworkBundle, Status: Reviewed

#26864 [Messenger] Define multiple buses from the `framework.messenger.buses` configuration
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_multiple_buses.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_validation_disabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_validation_enabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_multiple_buses.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_validation_disabled.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_validation_enabled.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_multiple_buses.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_validation_disabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_validation_enabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Middleware/LoggingMiddleware.php
  src/Symfony/Component/Messenger/Middleware/TolerateNoHandler.php
  src/Symfony/Component/Messenger/Tests/DataCollector/MessengerDataCollectorTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/LoggingMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/TolerateNoHandlerTest.php
  src/Symfony/Component/Messenger/Tests/TraceableMessageBusTest.php
  src/Symfony/Component/Messenger/TraceableMessageBus.php
Labels: Feature, Messenger, Status: Reviewed

#27051 [WebProfilerBundle][Messenger] Show bus name in profiler panel
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/messenger.html.twig
Labels: Messenger, Status: Reviewed

#27059 Make the simple auth provider the same as in Symfony 2.7
  src/Symfony/Component/Security/Core/Authentication/Provider/SimpleAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/SimpleAuthenticationProviderTest.php
Labels: Bug, Status: Reviewed

#27052 [FrameworkBundle] Add Messenger tags to unused whitelist
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
Labels: FrameworkBundle, Messenger, Status: Reviewed

#27064 [VarDumper] Fix HtmlDumper classes match
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
Labels: Bug, Status: Reviewed, VarDumper

#27061 [HttpKernel] Don't clean legacy containers that are still loaded
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, HttpKernel, Status: Reviewed

#27068 [appveyor] use PHP 7.1 to run composer
  appveyor.yml
Labels: Status: Needs Review

#26975 [Messenger] Add a memory limit option for `ConsumeMessagesCommand`
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.xml
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Tests/Adapter/AmqpExt/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/CallbackReceiver.php
  src/Symfony/Component/Messenger/Tests/Transport/Enhancers/StopWhenMemoryUsageIsExceededReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Enhancers/StopWhenMessageCountIsExceededReceiverTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Transport/Enhancers/StopWhenMemoryUsageIsExceededReceiver.php
  src/Symfony/Component/Messenger/Transport/Enhancers/StopWhenMessageCountIsExceededReceiver.php
Labels: Feature, Messenger, Status: Reviewed

#27032 [Messenger][DX] Validate that the message exists to be able to configure its routing
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Messenger/BarMessage.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Messenger/FooMessage.php
Labels: DX, Messenger, Status: Reviewed

#27070 Release v2.7.46
  CHANGELOG-2.7.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27019 [HttpFoundation] Fixes to new HeaderUtils class
  src/Symfony/Component/HttpFoundation/AcceptHeaderItem.php
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
Labels: Bug, HttpFoundation, Status: Reviewed

#27067 [HttpFoundation] Fix setting session-related ini settings
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/NativeSessionStorageTest.php
Labels: Bug, Status: Reviewed

#27085 [HttpKernel] fix duplicate controller resolver test case
  src/Symfony/Component/HttpKernel/Tests/Controller/ControllerResolverTest.php
Labels: HttpKernel, Status: Needs Review

#27062 [SecurityBundle] Register a `UserProviderInterface` alias if one provider only
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Feature, SecurityBundle, Status: Reviewed

#27083 [Messenger] Restore wildcard support in routing
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_routing.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_routing.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_routing.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Messenger, Status: Reviewed

#27063 [Translator] Further postpone adding resource files
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
Labels: Status: Reviewed, Translator

#27007 [Cache] TagAwareAdapterInterface::invalidateTags() should commit deferred items
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
Labels: Bug, Cache, Ready, Status: Needs Review

#27049 [Serializer] Cache the normalizer to use when possible
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/CacheableSupportsMethodInterface.php
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/CustomNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateIntervalNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/JsonSerializableNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
  src/Symfony/Component/Serializer/Serializer.php
Labels: Feature, Serializer, Status: Reviewed

#26138 [HttpKernel] Catch HttpExceptions when templating is not installed
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.xml
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ExceptionListenerTest.php
Labels: Bug, HttpKernel, Ready, Status: Reviewed

#26655 [WebProfilerBundle] Make WDT follow ajax requests if header set
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar_js.html.twig
Labels: Feature, Status: Reviewed

#26866 [VarDumper] Add controller & project dir to HTML output
  src/Symfony/Component/VarDumper/Command/Descriptor/CliDescriptor.php
  src/Symfony/Component/VarDumper/Command/Descriptor/HtmlDescriptor.php
  src/Symfony/Component/VarDumper/Dumper/ContextProvider/RequestContextProvider.php
  src/Symfony/Component/VarDumper/Resources/css/htmlDescriptor.css
Labels: Bug, Feature, Status: Reviewed, VarDumper

#27088 ResolveBindingsPass: Don't throw error for unused service, missing parent class
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
Labels: Status: Reviewed

#27095 Release v2.8.39
  CHANGELOG-2.8.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27092 [Workflow] "clear()" instead of "reset()"
  UPGRADE-4.1.md
  UPGRADE-5.0.md
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/DefinitionBuilder.php
  src/Symfony/Component/Workflow/Event/GuardEvent.php
  src/Symfony/Component/Workflow/TransitionBlockerList.php
Labels: Status: Reviewed

#27087 [HttpFoundation] Rename HeaderUtils methods
  src/Symfony/Component/HttpFoundation/AcceptHeader.php
  src/Symfony/Component/HttpFoundation/AcceptHeaderItem.php
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/Cookie.php
  src/Symfony/Component/HttpFoundation/HeaderBag.php
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/ResponseHeaderBag.php
  src/Symfony/Component/HttpFoundation/Tests/HeaderUtilsTest.php
Labels: HttpFoundation, Status: Reviewed

#27100 [Messenger] Late collect & clone messages
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Messenger/Tests/DataCollector/MessengerDataCollectorTest.php
Labels: Messenger, Status: Reviewed

#24896 Add CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: Status: Reviewed, diversity

#27079 Added .github/CODEOWNERS
  .github/CODEOWNERS
Labels: Status: Reviewed
