Repository symfony/symfony, pull requests merged in 2018-08, with the labels that each got.

#28098 Release v2.7.49
  CHANGELOG-2.7.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28099 Release v3.3.18
  CHANGELOG-3.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28102 Release v3.4.14
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28103 Release v4.0.14
  CHANGELOG-4.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28104 Release v4.1.3
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28044 [DoctrineBridge] allow dev versions of Doctrine again
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
Labels: DoctrineBridge, Status: Needs Review

#28038 Remove direct dependencies on doctrine/common
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
Labels: Status: Needs Work

#28110 [2.7] Make CI green
  .travis.yml
  src/Symfony/Component/HttpFoundation/Response.php
Labels: Status: Reviewed

#28083 Remove the Expires header when calling Response::expire()
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#28055 [PropertyInfo] Allow nested collections
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractors/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractors/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
Labels: Bug, Status: Reviewed

#28012 [PropertyInfo] Allow nested collections
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
Labels: Bug, Status: Needs Review

#28035 [DomCrawler] Allow using non-absolute base URIs
  src/Symfony/Component/DomCrawler/AbstractUriElement.php
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/DomCrawler/Image.php
  src/Symfony/Component/DomCrawler/Tests/ImageTest.php
  src/Symfony/Component/DomCrawler/Tests/LinkTest.php
Labels: DomCrawler, Feature, Status: Reviewed

#28112 Fix CSS property typo
  src/Symfony/Component/VarDumper/Resources/css/htmlDescriptor.css
Labels: Bug, Status: Reviewed

#27763 [WebProfilerBundle] Append new ajax request to the end of the list
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#21002 [Form] Added options for separate date/time labels in DateTimeType.
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
Labels: Feature, Form, Status: Reviewed

#28114 [travis] merge "same Symfony version" jobs in one
  .travis.yml
  src/Symfony/Component/Debug/Tests/phpt/decorate_exception_hander.phpt
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Status: Needs Review

#28123 [SecurityBundle] reference individual security-* packages
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: SecurityBundle, Status: Reviewed

#28136 [Security] Remove wrong sentence about ACL
  src/Symfony/Component/Security/README.md
Labels: Security, Status: Reviewed

#28135 Update validators.nl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
Labels: Bug, Status: Reviewed

#28120 [Routing] Fixed scheme redirecting for root path
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher0.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher10.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher11.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher12.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher13.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher3.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher4.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher5.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher6.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher7.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher8.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher9.php
  src/Symfony/Component/Routing/Tests/Matcher/RedirectableUrlMatcherTest.php
Labels: Bug, Routing, Status: Reviewed

#28115 [Form] Remove extra .form-group wrapper around file widget in bootstrap 4
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4LayoutTest.php
Labels: Bug, Form, Status: Reviewed

#28146 [travis] cache composer.lock files for deps=low
  .github/rm-invalid-lowest-lock-files.php
  .travis.yml
Labels: Status: Needs Review

#28152 [Translation] fix perf of lint:xliff command
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Translation/Resources/schemas/xliff-core-1.2-strict.xsd
Labels: Bug, Status: Reviewed, Translator

#28151 [Translation] dedup XSD files
  src/Symfony/Component/Translation/Loader/schema/dic/xliff-core/xliff-core-1.2-strict.xsd
  src/Symfony/Component/Translation/Resources/schemas/xliff-core-2.0.xsd
  src/Symfony/Component/Translation/Resources/schemas/xml.xsd
  src/Symfony/Component/Translation/Util/XliffUtils.php
Labels: Status: Reviewed, Translator

#28144 [HttpFoundation] fix false-positive ConflictingHeadersException
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Needs Review

#28060 [DI] Fix false-positive circular ref leading to wrong exceptions or infinite loops at runtime
  src/Symfony/Component/DependencyInjection/Compiler/ResolveReferencesToAliasesPass.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_almost_circular.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
Labels: Bug, DependencyInjection, Status: Needs Review

#27806 [DI] Allow autoconfiguring bindings
  src/Symfony/Component/DependencyInjection/Argument/BoundArgument.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInstanceofConditionalsPass.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/InstanceofConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveInstanceofConditionalsPassTest.php
Labels: DependencyInjection, Feature, Status: Needs Review

#28160 [DI] fix analyzing lazy refs involved in circular loops
  src/Symfony/Component/DependencyInjection/Compiler/AnalyzeServiceReferencesPass.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
Labels: Bug, DependencyInjection, Status: Needs Review

#28159 [DI] Fix autowire inner service
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
Labels: Bug, DependencyInjection, Status: Needs Review

#28174 Remove the HTML5 validation from the profiler URL search form
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/search.html.twig
Labels: Bug, Status: Reviewed

#28182 [DI] Fix dumping service locators
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
Labels: Bug, DependencyInjection, Status: Needs Review

#28085 [Config] show proposals when unsupported option is provided
  src/Symfony/Component/Config/Definition/ArrayNode.php
  src/Symfony/Component/Config/Tests/Definition/ArrayNodeTest.php
Labels: Config, DX, Feature, Status: Reviewed

#28019 [Filesystem] Add test to prevent regression when using array|resource with dumpFile
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Bug, Filesystem, Status: Reviewed

#28027 [Config] Rename FileLoaderLoadException to LoaderLoadException
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/Routing/DelegatingLoader.php
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Exception/FileLoaderImportCircularReferenceException.php
  src/Symfony/Component/Config/Exception/FileLoaderLoadException.php
  src/Symfony/Component/Config/Exception/LoaderLoadException.php
  src/Symfony/Component/Config/Loader/DelegatingLoader.php
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/Config/Loader/Loader.php
  src/Symfony/Component/Config/Tests/Exception/LoaderLoadExceptionTest.php
  src/Symfony/Component/Config/Tests/Loader/DelegatingLoaderTest.php
  src/Symfony/Component/Config/Tests/Loader/LoaderTest.php
  src/Symfony/Component/Routing/RouteCollectionBuilder.php
  src/Symfony/Component/Routing/composer.json
Labels: Config, Deprecation, Status: Reviewed

#27957 [Routing] Add fallback to cultureless locale for internationalized routes
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Generator/Dumper/PhpGeneratorDumper.php
  src/Symfony/Component/Routing/Generator/UrlGenerator.php
  src/Symfony/Component/Routing/Tests/Generator/Dumper/PhpGeneratorDumperTest.php
Labels: Feature, Routing, Status: Reviewed

#28187 [Yaml] clean up unused code
  src/Symfony/Component/Yaml/Parser.php
Labels: Status: Reviewed, Yaml

#28176 [DI] [FrameworkBundle] Add LoggerAwareInterface to auto configuration
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: DependencyInjection, Feature, FrameworkBundle, Status: Reviewed

#28113 [Form] Add help texts for checkboxes in horizontal bootstrap 4 forms
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_horizontal_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4HorizontalLayoutTest.php
Labels: Bug, Form, Status: Reviewed

#28192 [PhpUnitBridge] Add missing stderr redirection
  src/Symfony/Bridge/PhpUnit/Tests/CoverageListenerTest.php
Labels: Bug, PhpUnitBridge, Status: Needs Review

#28069 [Validator] New `DivisibleBy` constraint for testing divisibility
  src/Symfony/Component/Validator/Constraints/DivisibleBy.php
  src/Symfony/Component/Validator/Constraints/DivisibleByValidator.php
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
  src/Symfony/Component/Validator/Tests/Constraints/DivisibleByValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#28219 Removed dead code in Kernel
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: HttpKernel, Status: Reviewed

#28199 [travis][appveyor] use symfony/flex to accelerate builds
  .travis.yml
  appveyor.yml
Labels: Status: Reviewed

#28224 [Security\Http] Restore laziness of listener iterator
  src/Symfony/Component/Security/Http/Firewall.php
Labels: Status: Needs Review

#28127 [WebProfilerBundle] Remove useless macro arguments
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.html.twig
Labels: Status: Reviewed, WebProfilerBundle

#28227 [travis] fix composer.lock invalidation for deps=low
  .github/rm-invalid-lowest-lock-files.php
Labels: Status: Needs Review

#28156 [Serializer] Fix the XML comments encoding
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Bug, Serializer, Status: Reviewed

#28188 [Cache] make PhpMarshaller handle hard references
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Marshaller/PhpMarshaller.php
  src/Symfony/Component/Cache/Marshaller/PhpMarshaller/Configurator.php
  src/Symfony/Component/Cache/Marshaller/PhpMarshaller/Marshaller.php
  src/Symfony/Component/Cache/Marshaller/PhpMarshaller/Registry.php
  src/Symfony/Component/Cache/Marshaller/PhpMarshaller/Values.php
  src/Symfony/Component/Cache/Simple/PhpArrayCache.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-iterator.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-iterator.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-object-custom.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-object.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/array-object.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/clone.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/clone.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/datetime.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/datetime.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/hard-references-recursive.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/hard-references.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/incomplete-class.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/private.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/private.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/serializable.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/serializable.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/spl-object-storage.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/spl-object-storage.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/wakeup.optimized.php
  src/Symfony/Component/Cache/Tests/Marshaller/Fixtures/wakeup.php
  src/Symfony/Component/Cache/Tests/Marshaller/PhpMarshallerTest.php
  src/Symfony/Component/Cache/Traits/PhpArrayTrait.php
  src/Symfony/Component/Cache/Traits/PhpFilesTrait.php
Labels: Bug, Cache, Status: Needs Review

#28230 [Form] fix data mapper return type in docblock
  src/Symfony/Component/Form/FormConfigInterface.php
Labels: Form, Status: Reviewed

#28228 [Validator] Fix precision issue regarding floats and DivisibleBy constraint
  src/Symfony/Component/Validator/Constraints/DivisibleByValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/DivisibleByValidatorTest.php
Labels: Bug, Status: Needs Review, Validator

#28255 [travis] enable Redis cluster
  .travis.yml
  src/Symfony/Component/Cache/Tests/Adapter/RedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/RedisClusterCacheTest.php
  src/Symfony/Component/Lock/Store/RedisStore.php
  src/Symfony/Component/Lock/Tests/Store/RedisClusterStoreTest.php
Labels: Status: Needs Review

#28252 [DoctrineBridge] support __toString as documented for UniqueEntityValidator
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#28249 [Cache] enable Memcached::OPT_TCP_NODELAY to fix perf of misses
  src/Symfony/Component/Cache/Tests/Adapter/MemcachedAdapterTest.php
  src/Symfony/Component/Cache/Traits/MemcachedTrait.php
Labels: Bug, Cache, Status: Reviewed

#28234 [DI] Allow autowiring by type + parameter name
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/RegisterServiceSubscribersPass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/TypedReference.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#28220 [PropertyAccess] fix type error handling when writing values
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/ReturnTyped.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
Labels: Bug, PropertyAccess, Status: Reviewed

#28221 [DomCrawler] Add a way to filter direct children
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/CrawlerTest.php
Labels: DomCrawler, Feature, Status: Needs Work

#28218 Improve support for anonymous classes
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/Debug/Exception/FlattenException.php
  src/Symfony/Component/Debug/ExceptionHandler.php
  src/Symfony/Component/Debug/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
  src/Symfony/Component/VarDumper/Caster/ClassStub.php
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/ExceptionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/StubCasterTest.php
Labels: Feature, Status: Reviewed

#27890 Mock date() in ClockMock
  src/Symfony/Bridge/PhpUnit/ClockMock.php
  src/Symfony/Bridge/PhpUnit/Tests/ClockMockTest.php
Labels: Bug, Status: Reviewed

#28258 [travis] fix composer.lock invalidation for deps=low
  .github/rm-invalid-lowest-lock-files.php
Labels: Status: Needs Review

#28241 [HttpKernel] fix forwarding trusted headers as server parameters
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpKernel/HttpCache/SubRequestHandler.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/InlineFragmentRendererTest.php
Labels: Bug, HttpKernel, Status: Needs Review

#27926 [Serializer] XmlEncoder doesn't ignore PI nodes while encoding
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Serializer, Status: Reviewed

#28284 [PhpUnitBridge] keep compat with composer 1.0
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, PhpUnitBridge, Status: Reviewed

#28247 [Messenger] Don't make EnvelopeItemInterface extend Serializable
  UPGRADE-4.2.md
  src/Symfony/Component/Messenger/Asynchronous/Transport/ReceivedMessage.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/EnvelopeItemInterface.php
  src/Symfony/Component/Messenger/Middleware/Configuration/ValidationConfiguration.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Transport/Serialization/SerializerConfigurationTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/AnEnvelopeItem.php
  src/Symfony/Component/Messenger/Tests/Middleware/Configuration/ValidationConfigurationTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/SerializerTest.php
  src/Symfony/Component/Messenger/Transport/Serialization/SerializerConfiguration.php
Labels: BC Break, Messenger, Status: Reviewed

#28281 [Serializer] Update changelog about the new $encoderIgnoredNodeTypes arg in XmlEncoder contrustor
  src/Symfony/Component/Serializer/CHANGELOG.md
Labels: Serializer, Status: Reviewed

#28280 [Cache] minor code update to leverage PHP 7.1
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
Labels: Cache, Status: Reviewed

#28278 [HttpFoundation] Fix unprepared BinaryFileResponse sends empty file
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#28277 [Serializer] AbstractObjectNormalizer improve performance
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Serializer, Status: Reviewed

#28236 Don't "replace" symfony/contracts
  composer.json
Labels: Status: Reviewed

#28222 [WebProfilerBundle] Limit width of toolbar item
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#28286 Release v2.8.45
  CHANGELOG-2.8.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28288 [travis] disable symfony/flex during phpunit install
  .travis.yml
Labels: Status: Needs Review

#28290 Release v3.4.15
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#28070 [Translator] Use ICU parent locales as fallback locales
  src/Symfony/Component/Intl/Data/Generator/LocaleDataGenerator.php
  src/Symfony/Component/Intl/Data/Util/LocaleScanner.php
  src/Symfony/Component/Intl/Tests/Data/Util/LocaleScannerTest.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Resources/data/parents.json
  src/Symfony/Component/Translation/Tests/TranslatorTest.php
  src/Symfony/Component/Translation/Translator.php
Labels: Feature, Status: Reviewed

#28243 [FrameworkBundle] Deprecate `Symfony\Bundle\FrameworkBundle\Controller\Controller`
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/Controller.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/TestController.php
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#28275 [Messenger] Only subscribe to a given bus from the MessageSubscriber
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Feature, Messenger, Status: Reviewed

#28190 [Messenger] Add a --bus option to the messenger:consume-messages command
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.xml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Feature, Messenger, Status: Reviewed

#28271 [Messenger] Allow interfaces to be type-hinted as well
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Handler/Locator/ContainerHandlerLocator.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Asynchronous/Routing/SenderLocatorTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/ChildDummyMessage.php
  src/Symfony/Component/Messenger/Tests/Handler/Locator/ContainerHandlerLocatorTest.php
Labels: Feature, Messenger, Status: Reviewed

#28297 [HttpKernel] Fix inheritdocs
  src/Symfony/Component/DependencyInjection/ContainerAwareInterface.php
  src/Symfony/Component/HttpKernel/Bundle/Bundle.php
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Work

#28294 [Messenger] Remove the "obscure" message subscriber configuration
  UPGRADE-4.2.md
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Handler/MessageSubscriberInterface.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: BC Break, Messenger, Status: Reviewed

#28310 [Finder] Update PHPdoc append()
  src/Symfony/Component/Finder/Finder.php
Labels: Bug, Finder, Status: Needs Review

#28311 [DI] Fix phpdoc
  src/Symfony/Component/DependencyInjection/Definition.php
Labels: DependencyInjection, Status: Reviewed

#28289 [Serializer] Add support for ignoring comments while XML encoding
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Feature, Serializer, Status: Reviewed

#28269 [Cache] improve perf when using RedisCluster by reducing roundtrips to the servers
  src/Symfony/Component/Cache/Tests/Adapter/PredisRedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Cache, Feature, Status: Needs Review

#28264 [VarDumper] make RedisCaster handle RedisCluster and dump all options on all drivers
  src/Symfony/Component/VarDumper/Caster/RedisCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Caster/RedisCasterTest.php
Labels: Status: Needs Review, VarDumper
