Repository symfony/symfony, pull requests merged in 2018-03, with the labels that each got.

#26349 Fix typo in test method name
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
Labels: Bug, Status: Needs Review

#26361 Release v2.8.35
  CHANGELOG-2.8.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26362 Release v3.4.5
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26363 Release v4.0.5
  CHANGELOG-4.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26358 [FrameworkBundle] Silence "Failed to remove directory" on cache:clear
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#26369 Use fill instead of style for svg colors
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/forward.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/redirect.svg
Labels: Bug, Status: Reviewed

#26276 [Doc] Add entry for `container.dumper.inline_class_loader` param at `UPGRADE-3.4.md` and `UPGRADE-4.0.md`
  UPGRADE-3.4.md
  UPGRADE-4.0.md
Labels: DependencyInjection, Status: Reviewed

#26355 [DI] Fix missing "id" normalization when dumping the container
  src/Symfony/Component/DependencyInjection/Compiler/AnalyzeServiceReferencesPass.php
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/DecoratorServicePass.php
  src/Symfony/Component/DependencyInjection/Compiler/FactoryReturnTypePass.php
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/RegisterServiceSubscribersPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ReplaceAliasByActualDefinitionPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveHotPathPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInvalidReferencesPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveReferencesToAliasesPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveServiceSubscribersPass.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
Labels: Bug, DependencyInjection, Status: Needs Review

#26396 Improve the documentation of `Finder::exclude()`
  src/Symfony/Component/Finder/Finder.php
Labels: Finder, Status: Reviewed

#26410 [WebProfilerBundle] Made the translation profiler panel more compact
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/translation.html.twig
Labels: Status: Reviewed, WebProfilerBundle

#26393 [DI] Skip resource tracking if disabled
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: Bug, DependencyInjection, Status: Reviewed

#26372 Revert "feature #24763 [Process] Allow writing portable "prepared" command lines (Simperfit)"
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Feature, Process, Status: Reviewed

#26414 Release v2.7.43
  CHANGELOG-2.7.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26415 Release v2.8.36
  CHANGELOG-2.8.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26416 Release v3.4.6
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26418 Release v4.0.6
  CHANGELOG-4.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#26424 [SecurityBundle] Make extra character non mandatory in regex
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/UserPasswordEncoderCommandTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#26450 [CssSelector] Fix CSS identifiers parsing - they can start with dash
  src/Symfony/Component/CssSelector/Parser/Tokenizer/TokenizerPatterns.php
  src/Symfony/Component/CssSelector/Tests/Parser/ParserTest.php
Labels: Bug, CssSelector, Status: Reviewed

#26474 reword some deprecation messages
  src/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcherInterface.php
  src/Symfony/Component/HttpFoundation/File/UploadedFile.php
  src/Symfony/Component/Security/Core/User/AdvancedUserInterface.php
Labels: Status: Reviewed

#26480 [minor] SCA with Php Inspections (EA Ultimate)
  src/Symfony/Bridge/Twig/Translation/TwigExtractor.php
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/Form/ChoiceList/LegacyChoiceListAdapter.php
  src/Symfony/Component/Form/Extension/Core/Type/FormType.php
  src/Symfony/Component/Form/Extension/Validator/EventListener/ValidationListener.php
  src/Symfony/Component/Form/Extension/Validator/ValidatorTypeGuesser.php
Labels: Status: Reviewed

#23409 [Security] AuthenticationUtils::getLastUsername() return type inconsistency
  UPGRADE-4.1.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Http/Authentication/AuthenticationUtils.php
Labels: Bug, Security, Status: Reviewed

#26469 Make KernelInterface docblock more fit for bundle-less environment
  src/Symfony/Component/HttpKernel/KernelInterface.php
Labels: Bug, Status: Reviewed

#26485 [DomCrawler] Improve the sprintf() call in selectLink()
  src/Symfony/Component/DomCrawler/Crawler.php
Labels: DomCrawler, Status: Reviewed

#26465 Default deleteFileAfterSend() to true
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
Labels: Status: Reviewed

#26487 [DI] Remove dead dumper check
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Reviewed

#26433 [DomCrawler] extract(): fix a bug when the attribute list is empty
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/CrawlerTest.php
Labels: Bug, DomCrawler, Status: Reviewed

#26400 [Config] ReflectionClassResource check abstract class
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
Labels: Bug, Config, Status: Reviewed

#26421 [Config] Add characters to the regex
  src/Symfony/Component/Config/Tests/Util/XmlUtilsTest.php
Labels: Config, Status: Reviewed

#26443 [Fix][3.4][HttpFoundation] Fix the updating of timestamp in the MemcachedSessionHandler
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MemcachedSessionHandler.php
Labels: Bug, HttpFoundation, Status: Reviewed

#26520 Added some HTML5 features to the Symfony Profiler
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/logger.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/results.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/search.html.twig
Labels: :snowflake: Feature Freeze, Feature, Status: Reviewed, WebProfilerBundle

#26288 [FrameworkBundle] show the unregistered command warning at the end of the list command
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/ApplicationTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#26509 [BrowserKit] Avoid nullable values in some Client's methods
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/BrowserKit/Exception/BadMethodCallException.php
  src/Symfony/Component/BrowserKit/Tests/ClientTest.php
  src/Symfony/Component/HttpKernel/Client.php
Labels: BrowserKit, Deprecation, Status: Reviewed

#26551 [Serializer] Remove const override
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Serializer, Status: Reviewed

#26548 [DomCrawler] Change bad wording in ChoiceFormField::untick
  src/Symfony/Component/DomCrawler/Field/ChoiceFormField.php
Labels: Bug, DomCrawler, Status: Reviewed

#26544 [DomCrawler] Avoid a useless call to strtolower
  src/Symfony/Component/DomCrawler/Field/InputFormField.php
Labels: DomCrawler, Feature, Status: Reviewed

#26499 [FrameworkBundle] Allow fetching private services from test clients
  src/Symfony/Bundle/FrameworkBundle/Client.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TestServiceContainerRealRefPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TestServiceContainerWeakRefPass.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/test.xml
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Test/TestContainer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/PropertyInfoTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Serializer/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/config/framework.yml
Labels: Feature, FrameworkBundle, Status: Reviewed

#26356 [FrameworkBundle] HttpCache is not longer abstract
  src/Symfony/Bundle/FrameworkBundle/HttpCache/HttpCache.php
Labels: FrameworkBundle, Status: Reviewed

#26545 [DomCrawler] Fix the PHPDoc of ChoiceFormField::setValue
  src/Symfony/Component/DomCrawler/Field/ChoiceFormField.php
Labels: DomCrawler, Status: Reviewed

#26565 [BrowserKit] Fix Cookie's PHPDoc
  src/Symfony/Component/BrowserKit/Cookie.php
Labels: BrowserKit, Status: Reviewed

#26566 [BrowserKit] Improves CookieJar::get
  src/Symfony/Component/BrowserKit/CookieJar.php
Labels: BrowserKit, Status: Reviewed

#25456 [Console] Make pretty the `box` style table
  UPGRADE-4.1.md
  UPGRADE-5.0.md
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Helper/TableStyle.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: :snowflake: Feature Freeze, Console, Feature, Status: Reviewed

#26580 Add hint in Github pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#26591 [TwigBridge] Make sure we always render errors. Eventhough labels are disabled
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Component/Form/Tests/AbstractBootstrap4LayoutTest.php
Labels: Bug, Status: Reviewed, TwigBridge

#26408 Readd 'form_label_errors' block to disable errors on form labels
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
Labels: Bug, Status: Reviewed

#26564 [HttpFoundation] deprecate call to Request::getSession() when Request::hasSession() returns false
  UPGRADE-4.1.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/SessionValueResolver.php
  src/Symfony/Component/Security/Guard/Authenticator/AbstractFormLoginAuthenticator.php
Labels: Deprecation, HttpFoundation, Status: Reviewed

#26567 [DoctrineBridge] Don't rely on ClassMetadataInfo->hasField in DoctrineOrmTypeGuesser anymore
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.php
  src/Symfony/Bridge/Doctrine/Tests/Form/DoctrineOrmTypeGuesserTest.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#26590 Make sure form errors is valid HTML
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Component/Form/Tests/AbstractBootstrap4HorizontalLayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractBootstrap4LayoutTest.php
Labels: Status: Reviewed

#26570 [TwigBundle] document TwigRenderer BC break in UPGRADE-3.4
  UPGRADE-3.4.md
Labels: Bug, Status: Reviewed, TwigBundle

#26568 [Debug] Reset previous exception handler earlier to prevent infinite loop
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/Debug/Tests/ErrorHandlerTest.php
Labels: Bug, Debug, Status: Needs Review

#26518 [Routing] Allow inline definition of requirements and defaults
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Routing/Tests/RouteTest.php
Labels: :snowflake: Feature Freeze, Feature, Routing, Status: Reviewed

#26538 [Routing] remove capturing groups from requirements, they break the merged regex
  src/Symfony/Component/Routing/RouteCompiler.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/RouteCompilerTest.php
Labels: Bug, Routing, Status: Reviewed

#26592 [FrameworkBundle] Use `a::b` notation in ControllerTrait docblock
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
Labels: FrameworkBundle, Status: Needs Review

#26582 [Validator] Fix docblock of ClassMetadata#members
  src/Symfony/Component/Validator/Mapping/ClassMetadata.php
Labels: Bug, Status: Needs Review, Validator

#26578 [HttpKernel] Allow generators in registerBundle
  src/Symfony/Component/HttpKernel/KernelInterface.php
Labels: Bug, HttpKernel, Status: Needs Review

#26562 [Bridge\PhpUnit] Cannot autoload class "\Symfony\Bridge\PhpUnit\SymfonyTestsListener"
  src/Symfony/Bridge/PhpUnit/CoverageListener.php
  src/Symfony/Bridge/PhpUnit/SymfonyTestsListener.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#26427 [DependencyInjection] fix regression when extending the Container class without a constructor
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Container/NoConstructorContainer.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_constructor_without_arguments.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_with_optional_constructor_arguments.php
Labels: Bug, DependencyInjection, Status: Reviewed

#26273 [Security][Profiler] Display the original expression in 'Access decision log'
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
Labels: Feature, Security, Status: Reviewed, WebProfilerBundle

#26297 [Config] Backport string|null api for node names
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/Config/Definition/Builder/NodeBuilder.php
  src/Symfony/Component/Config/Definition/Builder/NodeDefinition.php
Labels: Bug, Config, Status: Reviewed

#26569 [BrowserKit] Fix cookie path handling when $domain is null
  src/Symfony/Component/BrowserKit/CookieJar.php
  src/Symfony/Component/BrowserKit/Tests/CookieJarTest.php
Labels: BrowserKit, Bug, Status: Reviewed

#26604 [Console] Fix docblock of DescriptorInterface::describe
  src/Symfony/Component/Console/Descriptor/DescriptorInterface.php
Labels: Bug, Console, Status: Reviewed

#26449 Make ProgressBar::setMaxSteps public
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Feature, Status: Reviewed

#24401 [Form] Change datetime to datetime-local for HTML5 datetime input
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Tests/AbstractBootstrap3LayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
Labels: Bug, Form, Status: Reviewed

#26381 Transform both switchToXHR() and removeXhr() to xmlHttpRequest()
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/BrowserKit/Tests/ClientTest.php
Labels: :snowflake: Feature Freeze, Deprecation, Feature, Status: Reviewed

#26337 [Finder] Fixed leading/trailing / in filename
  src/Symfony/Component/Finder/SplFileInfo.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
  src/Symfony/Component/Finder/Tests/Iterator/FilePathsIteratorTest.php
Labels: Bug, Finder, Status: Reviewed

#26612 [PHPunit] suite variable should be used
  src/Symfony/Bridge/PhpUnit/Legacy/CoverageListenerForV7.php
Labels: Bug, Status: Reviewed

#25197 [FrameworkBundle][TwigBridge] make csrf_token() usable without forms
  src/Symfony/Bridge/Twig/Extension/CsrfExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/security_csrf.xml
Labels: :snowflake: Feature Freeze, Feature, FrameworkBundle, Status: Needs Work, TwigBridge

#26614 [Routing] use American English
  src/Symfony/Component/Routing/Loader/schema/routing/routing-1.0.xsd
  src/Symfony/Component/Routing/Tests/Fixtures/localized.xml
  src/Symfony/Component/Routing/Tests/Loader/XmlFileLoaderTest.php
Labels: Status: Reviewed

#26121 [FrameworkBundle] feature: add the ability to search a route
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/RouterDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/RouterDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/RouterDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/RouterDebug/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/RouterDebug/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/RouterDebug/routing.yml
Labels: Feature, FrameworkBundle, Status: Reviewed

#26615 [Workflow] removed bc break
  src/Symfony/Component/Workflow/Event/GuardEvent.php
Labels: Status: Reviewed, Workflow

#26092 [Workflow] Add a MetadataStore to fetch some metadata
  UPGRADE-4.1.md
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/WorkflowExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/WorkflowExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/workflows.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflow_with_arguments_and_service.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflow_with_multiple_transitions_with_same_name.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflow_with_support_and_support_strategy.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflow_with_type_and_service.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflow_without_support_and_support_strategy.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflows.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/workflows.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Definition.php
  src/Symfony/Component/Workflow/Event/Event.php
  src/Symfony/Component/Workflow/Metadata/GetMetadataTrait.php
  src/Symfony/Component/Workflow/Metadata/InMemoryMetadataStore.php
  src/Symfony/Component/Workflow/Metadata/MetadataStoreInterface.php
  src/Symfony/Component/Workflow/Tests/EventListener/GuardListenerTest.php
  src/Symfony/Component/Workflow/Tests/Metadata/InMemoryMetadataStoreTest.php
  src/Symfony/Component/Workflow/Workflow.php
  src/Symfony/Component/Workflow/WorkflowInterface.php
Labels: Deprecation, Feature, Status: Reviewed, Workflow

#26625 [Process] Remove a useless cast
  src/Symfony/Component/Process/Process.php
Labels: Process, Status: Reviewed

#26284 [Routing] allow no-slash root on imported routes
  src/Symfony/Component/Routing/Loader/Configurator/ImportConfigurator.php
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Routing/Loader/schema/routing/routing-1.0.xsd
  src/Symfony/Component/Routing/Tests/Fixtures/import_with_no_trailing_slash/routing.xml
  src/Symfony/Component/Routing/Tests/Fixtures/import_with_no_trailing_slash/routing.yml
  src/Symfony/Component/Routing/Tests/Fixtures/php_dsl.php
  src/Symfony/Component/Routing/Tests/Fixtures/php_dsl_sub.php
  src/Symfony/Component/Routing/Tests/Fixtures/php_dsl_sub_root.php
  src/Symfony/Component/Routing/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
Labels: :snowflake: Feature Freeze, Feature, Routing, Status: Reviewed

#26635 [DI] Dont tell about autoregistration in strict autowiring mode
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
Labels: Bug, DependencyInjection, Status: Reviewed

#26634 [DI] Cleanup remainings from autoregistration
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#26636 [DI] deprecate TypedReference::canBeAutoregistered() and getRequiringClass()
  UPGRADE-4.1.md
  UPGRADE-5.0.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/RegisterServiceSubscribersPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/TypedReference.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: DependencyInjection, Deprecation, Status: Needs Review

#26626 [WebProfilerBundle] use the router to resolve file links
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/profiler.xml
  src/Symfony/Component/Routing/Router.php
Labels: Bug, Status: Reviewed, WebProfilerBundle

#26639 [SecurityBundle] Added an alias from RoleHierarchyInterface to security.role_hierarchy
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml
Labels: SecurityBundle, Status: Reviewed

#22150 [Serializer] Added a ConstraintViolationListNormalizer
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.xml
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ConstraintViolationListNormalizerTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Feature, Serializer, Status: Reviewed

#26220 [HttpFoundation] Use parse_str() for query strings normalization
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: :snowflake: Feature Freeze, Feature, HttpFoundation, Status: Needs Review

#26644 [Routing] fix tests
  src/Symfony/Component/Routing/composer.json
Labels: Bug, Routing, Status: Reviewed

#26651 [Workflow] Added a TransitionException
  src/Symfony/Component/Workflow/Exception/NotEnabledTransitionException.php
  src/Symfony/Component/Workflow/Exception/TransitionException.php
  src/Symfony/Component/Workflow/Exception/UndefinedTransitionException.php
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
  src/Symfony/Component/Workflow/Workflow.php
Labels: Feature, Status: Reviewed, Workflow

#26657 [Workflow] Fixed default parameters
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Workflow/Metadata/InMemoryMetadataStore.php
Labels: Bug, Status: Reviewed, Workflow

#26658 Adding support to bind scalar values to controller arguments
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
Labels: :snowflake: Feature Freeze, Bug, Feature, Status: Reviewed

#26649 [Messenger] Remove the default transport if no `serializer` service
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
Labels: Bug, Messenger, Status: Reviewed

#26676 [Messenger] Uses the `messenger.message_handler` tag instead of `message.handler`
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
Labels: Bug, Messenger, Status: Reviewed

#26654 [VarDumper] Provide binary, allowing to start a server at any time
  src/Symfony/Component/VarDumper/Resources/bin/var-dump-server
  src/Symfony/Component/VarDumper/composer.json
Labels: Feature, Status: Reviewed, VarDumper

#26665 Improved the Ajax profiler panel when there are exceptions
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/ajax.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#26281 [FrameworkBundle] keep query in redirect
  src/Symfony/Bundle/FrameworkBundle/Controller/RedirectController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/RedirectControllerTest.php
Labels: Feature, Status: Reviewed

#26668 [WebProfilerBundle] Live duration of AJAX request
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#26498 Allow "json:" env var processor to accept null value
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_json_env.php
Labels: Feature, Status: Reviewed

#26504 [FrameworkBundle] framework.php_errors.log now accept a log level
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Feature, FrameworkBundle, Status: Needs Work

#26687 Use 3rd person verb form in command description
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolPruneCommand.php
Labels: FrameworkBundle, Status: Reviewed

#26662 [DI] Fix hardcoded cache dir for warmups
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
Labels: Bug, DependencyInjection, Status: Reviewed

#26670 [FrameworkBundle] Remove double cache generation by detecting fresh kernels on cache:clear
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/HttpKernel/CacheWarmer/CacheWarmerAggregate.php
Labels: Status: Reviewed

#26703 [Messenger] Fix messenger profiler name
  src/Symfony/Bundle/FrameworkBundle/DataCollector/MessengerDataCollector.php
Labels: Bug, Messenger, Status: Reviewed

#26595 [DI] Do not suggest writing an implementation when multiple exist
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#26672 [Messenger] Compile-time errors fixes and tweaks
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/composer.json
Labels: Messenger, Status: Reviewed

#26675 [HttpKernel] DumpDataCollector: do not flush when a dumper is provided
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/DumpDataCollectorTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#26706 [Messenger] Make NoHandlerForMessageException a logic exception
  src/Symfony/Component/Messenger/Exception/NoHandlerForMessageException.php
Labels: Messenger, Status: Reviewed

#26661 [Translation] XLIFF2: Make sure to trim source if it is too long for "name"
  src/Symfony/Component/Translation/Dumper/XliffFileDumper.php
Labels: Bug, Status: Reviewed, Translator

#26693 [Console] Add box-double table style
  UPGRADE-4.1.md
  UPGRADE-5.0.md
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Helper/TableStyle.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: Console, Feature, Status: Reviewed

#26715 Added LB translation for #26327 (Errors sign for people that do not see colors)
  src/Symfony/Component/Validator/Resources/translations/validators.lb.xlf
Labels: Status: Reviewed
