Repository symfony/symfony, pull requests merged in 2019-06, with the labels that each got.

#31779 [Form] do not iterate twice on the extended types
  src/Symfony/Component/Form/AbstractExtension.php
Labels: Form, Status: Reviewed

#31761 [TwigBridge] suggest Translation Component when TranslationExtension is used
  src/Symfony/Bridge/Twig/Extension/TranslationExtension.php
Labels: Bug, Status: Reviewed, TwigBridge

#31783 [Security][Guard] Forbid security-http >= 5.0
  src/Symfony/Component/Security/Guard/composer.json
Labels: Security, Status: Needs Review

#31787 Add missing Croatian translations
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
Labels: Status: Needs Review

#31785 [Messenger] Deprecate passing a bus locator to ConsumeMessagesCommand's constructor
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
Labels: Status: Reviewed

#31777 [Form] remove deprecated date types options handling
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
Labels: BC Break, Form, Status: Needs Review

#31760 [Cache] remove deprecated PSR-16 implementations et al.
  src/Symfony/Component/Cache/Adapter/ApcuAdapter.php
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/DoctrineAdapter.php
  src/Symfony/Component/Cache/Adapter/MemcachedAdapter.php
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Cache/Adapter/SimpleCacheAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Cache/LockRegistry.php
  src/Symfony/Component/Cache/Simple/AbstractCache.php
  src/Symfony/Component/Cache/Simple/ApcuCache.php
  src/Symfony/Component/Cache/Simple/ArrayCache.php
  src/Symfony/Component/Cache/Simple/ChainCache.php
  src/Symfony/Component/Cache/Simple/DoctrineCache.php
  src/Symfony/Component/Cache/Simple/FilesystemCache.php
  src/Symfony/Component/Cache/Simple/MemcachedCache.php
  src/Symfony/Component/Cache/Simple/NullCache.php
  src/Symfony/Component/Cache/Simple/PdoCache.php
  src/Symfony/Component/Cache/Simple/PhpArrayCache.php
  src/Symfony/Component/Cache/Simple/PhpFilesCache.php
  src/Symfony/Component/Cache/Simple/Psr6Cache.php
  src/Symfony/Component/Cache/Simple/RedisCache.php
  src/Symfony/Component/Cache/Simple/TraceableCache.php
  src/Symfony/Component/Cache/Tests/Adapter/SimpleCacheAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/AbstractRedisCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/ApcuCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/ArrayCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/CacheTestCase.php
  src/Symfony/Component/Cache/Tests/Simple/ChainCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/DoctrineCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/FilesystemCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/MemcachedCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/MemcachedCacheTextModeTest.php
  src/Symfony/Component/Cache/Tests/Simple/NullCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/PdoCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/PdoDbalCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/PhpArrayCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/PhpArrayCacheWithFallbackTest.php
  src/Symfony/Component/Cache/Tests/Simple/PhpArrayCacheWrapper.php
  src/Symfony/Component/Cache/Tests/Simple/PhpFilesCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/Psr6CacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/Psr6CacheWithAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/Psr6CacheWithoutAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/RedisArrayCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/RedisCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/RedisClusterCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/TraceableCacheTest.php
  src/Symfony/Component/Cache/Tests/Traits/TagAwareTestTrait.php
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Cache/Traits/AbstractTrait.php
  src/Symfony/Component/Cache/Traits/ApcuTrait.php
  src/Symfony/Component/Cache/Traits/ArrayTrait.php
  src/Symfony/Component/Cache/Traits/DoctrineTrait.php
  src/Symfony/Component/Cache/Traits/MemcachedTrait.php
  src/Symfony/Component/Cache/Traits/PdoTrait.php
  src/Symfony/Component/Cache/Traits/PhpArrayTrait.php
  src/Symfony/Component/Cache/Traits/PhpFilesTrait.php
Labels: BC Break, Cache, Status: Reviewed

#31802 update italian validator translation
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Bug, Status: Reviewed

#31805 fix typo in PR #31802
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Bug, Status: Needs Review

#31509 [Monolog] Setup the LoggerProcessor after all other processor
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
Labels: Feature, Status: Reviewed

#31821 [FrameworkBundle][TwigBundle] Add missing deprecations for PHP templating layer
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/TemplateController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/TemplateControllerTest.php
  src/Symfony/Bundle/TwigBundle/CacheWarmer/TemplateCacheCacheWarmer.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
  src/Symfony/Bundle/TwigBundle/Resources/config/templating.xml
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
  src/Symfony/Component/HttpKernel/Fragment/HIncludeFragmentRenderer.php
Labels: Deprecation, FrameworkBundle, Status: Reviewed, TwigBundle

#31813 fix type hint for salt in PasswordEncoderInterface
  src/Symfony/Component/Security/Core/Encoder/BasePasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/PasswordEncoderInterface.php
Labels: Bug, Security, Status: Reviewed

#31822 Simplify code - catch \Throwable capture all exceptions
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Reviewed

#31815 [Translator] Collect locale details earlier in the process
  src/Symfony/Component/Translation/DataCollector/TranslationDataCollector.php
Labels: Bug, Status: Reviewed, Translator

#31786 [Translation] Fixed case sensitivity of lint:xliff command
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Translation/Tests/Command/XliffLintCommandTest.php
Labels: Bug, Status: Reviewed, Translator

#31594 [Security] add PasswordEncoderInterface::needsRehash()
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Encoder/BasePasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/NativePasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/PasswordEncoderInterface.php
  src/Symfony/Component/Security/Core/Encoder/SodiumPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/UserPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/UserPasswordEncoderInterface.php
  src/Symfony/Component/Security/Core/Tests/Encoder/BasePasswordEncoderTest.php
  src/Symfony/Component/Security/Core/Tests/Encoder/NativePasswordEncoderTest.php
  src/Symfony/Component/Security/Core/Tests/Encoder/SodiumPasswordEncoderTest.php
  src/Symfony/Component/Security/Core/Tests/Encoder/UserPasswordEncoderTest.php
Labels: Deprecation, Feature, Security, Status: Reviewed

#31828 [TwigBundle] mark TemplateIterator as internal
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/CacheWarmer/TemplateCacheWarmer.php
  src/Symfony/Bundle/TwigBundle/TemplateIterator.php
Labels: Status: Reviewed, TwigBundle

#31334 [Messenger] Add clear Entity Manager middleware
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineClearEntityManagerMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineClearEntityManagerMiddlewareTest.php
Labels: Feature, Messenger, Status: Reviewed

#31827 [Form][DX] Improved error message on create a form builder with invalid options
  src/Symfony/Component/Form/ResolvedFormType.php
  src/Symfony/Component/Form/Tests/ResolvedFormTypeTest.php
Labels: DX, Feature, Form, Status: Reviewed

#31831 [HttpClient] add $response->cancel()
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Contracts/HttpClient/ResponseInterface.php
Labels: BC Break, Feature, Status: Reviewed

#31739 [FrameworkBundle] Add missing BC layer for deprecated ControllerNameParser injections
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerNameParser.php
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerResolver.php
  src/Symfony/Bundle/FrameworkBundle/EventListener/ResolveControllerNameSubscriber.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.xml
  src/Symfony/Bundle/FrameworkBundle/Routing/DelegatingLoader.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerResolverTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/EventListener/ResolveControllerNameSubscriberTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/DelegatingLoaderTest.php
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#31661 [Translation] refactor ArrayLoader::flatten
  src/Symfony/Component/Translation/Loader/ArrayLoader.php
Labels: Status: Reviewed, Translator

#31811 [DoctrineBridge] don't add embedded properties to wrapping class metadata
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/DoctrineLoaderEmbed.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/DoctrineLoaderEntity.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Bridge/Doctrine/Validator/DoctrineLoader.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#31774 [Mailer] Fix the possibility to set a From header from MessageListener
  src/Symfony/Component/Mailer/DelayedSmtpEnvelope.php
  src/Symfony/Component/Mailer/SmtpEnvelope.php
  src/Symfony/Component/Mailer/Tests/SmtpEnvelopeTest.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
Labels: Bug, Status: Needs Review

#31514 Add exception as HTML comment to beginning and end of `exception_full.html.twig`
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/Resources/views/Exception/exception_full.html.twig
  src/Symfony/Bundle/TwigBundle/Resources/views/layout.html.twig
Labels: Feature, Status: Reviewed

#31526 [Validator] Add compared value path to violation parameters
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/AbstractComparisonValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/AbstractComparisonValidatorTestCase.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanOrEqualValidatorWithPositiveOrZeroConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanValidatorWithPositiveConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanOrEqualValidatorWithNegativeOrZeroConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanValidatorWithNegativeConstraintTest.php
Labels: Feature, Status: Reviewed, Validator

#31407 [Security] added support for updated "distinguished name" format in x509 authentication
  src/Symfony/Component/Security/Http/Firewall/X509AuthenticationListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/X509AuthenticationListenerTest.php
Labels: Security, Status: Needs Review

#31832 [HttpClient] fix unregistering the debug buffer when using curl
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, Status: Reviewed

#31633 [Messenger][DoctrineBridge] Extract Abstract Doctrine Middleware
  src/Symfony/Bridge/Doctrine/Messenger/AbstractDoctrineMiddleware.php
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineClearEntityManagerMiddleware.php
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineCloseConnectionMiddleware.php
  src/Symfony/Bridge/Doctrine/Messenger/DoctrinePingConnectionMiddleware.php
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineTransactionMiddleware.php
Labels: DoctrineBridge, Messenger, Status: Reviewed

#31351 [Validator] Improve TypeValidator to handle array of types
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/TypeValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/TypeValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#31781 [Monolog] adding the new `$request` argument and remove deprecation
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Logger.php
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bridge/Monolog/Tests/LoggerTest.php
  src/Symfony/Bridge/Monolog/Tests/Processor/DebugProcessorTest.php
  src/Symfony/Component/HttpKernel/Log/DebugLoggerInterface.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ExceptionListenerTest.php
Labels: Status: Reviewed

#31597 [Security] add MigratingPasswordEncoder
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Encoder/EncoderFactory.php
  src/Symfony/Component/Security/Core/Encoder/MigratingPasswordEncoder.php
  src/Symfony/Component/Security/Core/Tests/Encoder/MigratingPasswordEncoderTest.php
Labels: Feature, Security, Status: Reviewed

#31837 Change type hints
  src/Symfony/Component/Mailer/DelayedSmtpEnvelope.php
  src/Symfony/Component/Mailer/Tests/SmtpEnvelopeTest.php
  src/Symfony/Component/Mime/MessageConverter.php
Labels: Bug, Mailer, Mime, Status: Reviewed

#31838 [MonologBridge] conflict with HttpKernel component 5.0
  src/Symfony/Bridge/Monolog/composer.json
Labels: Bug, MonologBridge, Status: Reviewed

#31790 [Messenger] set amqp content_type based on serialization format
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpSenderTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/SerializerTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpSender.php
  src/Symfony/Component/Messenger/Transport/Serialization/Serializer.php
Labels: Bug, Messenger, Status: Reviewed

#31836 [DoctrineBridge] do not process private properties from parent class
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/DoctrineLoaderEntity.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/DoctrineLoaderParentEntity.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Bridge/Doctrine/Validator/DoctrineLoader.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#31702 [FrameworkBundle] Remove support for the bundle:controller:action notation
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerNameParser.php
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerResolver.php
  src/Symfony/Bundle/FrameworkBundle/EventListener/ResolveControllerNameSubscriber.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.xml
  src/Symfony/Bundle/FrameworkBundle/Routing/DelegatingLoader.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerNameParserTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerResolverTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/EventListener/ResolveControllerNameSubscriberTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/DelegatingLoaderTest.php
Labels: FrameworkBundle, Status: Reviewed

#31640 Fix inconsistency in json format regarding DST value
  src/Symfony/Component/VarDumper/Tests/Caster/IntlCasterTest.php
Labels: Bug, Status: Reviewed

#31782 [Security][Http] Remove BC layers
  src/Symfony/Bundle/SecurityBundle/Debug/WrappedListener.php
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Guard/Firewall/GuardAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall.php
  src/Symfony/Component/Security/Http/Firewall/AbstractAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/AbstractPreAuthenticatedListener.php
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
  src/Symfony/Component/Security/Http/Firewall/AnonymousAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/BasicAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/ChannelListener.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php
  src/Symfony/Component/Security/Http/Firewall/LegacyListenerTrait.php
  src/Symfony/Component/Security/Http/Firewall/ListenerInterface.php
  src/Symfony/Component/Security/Http/Firewall/LogoutListener.php
  src/Symfony/Component/Security/Http/Firewall/RememberMeListener.php
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Security/Http/Firewall/UsernamePasswordJsonAuthenticationListener.php
  src/Symfony/Component/Security/Http/RememberMe/ResponseListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ExceptionListenerTest.php
  src/Symfony/Component/Security/Http/Tests/FirewallTest.php
Labels: Security, Status: Needs Review

#31852 [Form] add missing symfony/service-contracts dependency
  src/Symfony/Component/Form/composer.json
Labels: Status: Reviewed

#31658 [HTTP Foundation] Deprecate passing argument to method Request::isMethodSafe()
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpKernel/EventListener/FragmentListener.php
  src/Symfony/Component/HttpKernel/HttpCache/HttpCache.php
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php
Labels: Deprecation, Status: Reviewed

#31860 [HttpFoundation] work around PHP 7.3 bug related to json_encode()
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Component/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Component/Form/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Component/HttpFoundation/JsonResponse.php
  src/Symfony/Component/Serializer/Encoder/JsonEncode.php
  src/Symfony/Component/Translation/Dumper/JsonFileDumper.php
Labels: Bug, HttpFoundation, Status: Reviewed

#31861 [HttpClient] work around PHP 7.3 bug related to json_encode()
  src/Symfony/Component/HttpClient/HttpClientTrait.php
Labels: Bug, Status: Reviewed

#31856 [VarDumper] fix dumping the cloner itself
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Bug, Status: Needs Review, VarDumper

#31854 Rename the Symfony Mailer service implementation to avoid conflict with SwitMailer
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.xml
Labels: Bug, Status: Reviewed

#31849 [Console] Add check for Konsole/Yakuake to disable hyperlinks
  src/Symfony/Component/Console/Formatter/OutputFormatterStyle.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Bug, Console, Status: Reviewed

#31823 [TwigBundle] remove legacy template dirs from iterator
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
  src/Symfony/Bundle/TwigBundle/TemplateIterator.php
  src/Symfony/Bundle/TwigBundle/Tests/Fixtures/templates/Resources/BarBundle/views/base.html.twig
  src/Symfony/Bundle/TwigBundle/Tests/Fixtures/templates/Resources/views/layout.html.twig
  src/Symfony/Bundle/TwigBundle/Tests/Fixtures/templates/Resources/views/sub/sub.html.twig
  src/Symfony/Bundle/TwigBundle/Tests/TemplateIteratorTest.php
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPass.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/TranslationPassTest.php
  src/Symfony/Component/Translation/composer.json
Labels: BC Break, Status: Reviewed, TwigBundle

#31846 [Mailer] Set default crypto method
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/SocketStream.php
Labels: Bug, Status: Reviewed

#31834 [HttpClient] Don't throw InvalidArgumentException on bad Location header
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Contracts/HttpClient/Test/Fixtures/web/index.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Bug, Status: Reviewed

#31866 [Routing] revert deprecation of Serializable in routing
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/CompiledRoute.php
  src/Symfony/Component/Routing/Route.php
Labels: Routing, Status: Reviewed

#31868 [HttpKernel] Fix handling non-catchable fatal errors
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.xml
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/DebugHandlersListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ExceptionListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#31869 Fix json-encoding when JSON_THROW_ON_ERROR is used
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Component/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Component/Form/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Component/HttpFoundation/JsonResponse.php
  src/Symfony/Component/Serializer/Encoder/JsonDecode.php
  src/Symfony/Component/Serializer/Encoder/JsonEncode.php
  src/Symfony/Component/Translation/Dumper/JsonFileDumper.php
Labels: Bug, Status: Reviewed

#31871 [HttpClient] revert bad logic around JSON_THROW_ON_ERROR
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
Labels: Bug, Status: Reviewed

#31850 [HttpClient] add $response->cancel()
  composer.json
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Contracts/HttpClient/ResponseInterface.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Bug, HttpClient, Status: Reviewed

#31863 [HttpFoundation] Fixed case-sensitive handling of cache-control header in RedirectResponse constructor
  src/Symfony/Component/HttpFoundation/RedirectResponse.php
  src/Symfony/Component/HttpFoundation/Tests/RedirectResponseTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#31864 [Cache] Fixed undefined variable in ArrayTrait
  src/Symfony/Component/Cache/Traits/ArrayTrait.php
Labels: Bug, Cache, Status: Reviewed

#31792 [Routing] remove deprecations
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/RouterCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Routing/RedirectableUrlMatcher.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/RouterCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/RedirectableUrlMatcherTest.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/CompiledRoute.php
  src/Symfony/Component/Routing/Generator/Dumper/PhpGeneratorDumper.php
  src/Symfony/Component/Routing/Loader/ObjectRouteLoader.php
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Routing/Router.php
  src/Symfony/Component/Routing/Tests/Generator/Dumper/PhpGeneratorDumperTest.php
  src/Symfony/Component/Routing/Tests/Loader/ObjectRouteLoaderTest.php
  src/Symfony/Component/Routing/Tests/Matcher/DumpedRedirectableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/DumpedUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/PhpMatcherDumperTest.php
Labels: BC Break, Routing, Status: Needs Review

#31875 [Routing] remove dead fixtures
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher0.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher10.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher11.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher12.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher13.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher3.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher4.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher5.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher6.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher7.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher8.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher9.php
Labels: Routing, Status: Reviewed

#31872 [Messenger] Add missing runtime check for ext redis version
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#31674 [BrowserKit] remove deprecated code
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/BrowserKit/Response.php
  src/Symfony/Component/BrowserKit/Tests/AbstractBrowserTest.php
  src/Symfony/Component/BrowserKit/Tests/HttpBrowserTest.php
  src/Symfony/Component/BrowserKit/Tests/ResponseTest.php
Labels: BrowserKit, Status: Needs Review

#31143 ChoiceType callable deprecation after/before seems wrong
  UPGRADE-4.0.md
Labels: Status: Reviewed

#31878 Add a missing quote in PropertyAccessorInterface::getValue() DocBlock
  src/Symfony/Component/PropertyAccess/PropertyAccessorInterface.php
Labels: Status: Reviewed

#31888 Fix DoctrineBridge upgrade 5.0
  UPGRADE-5.0.md
Labels: Status: Needs Review

#31887 [DoctrineBridge] Removed legacy code related to DoctrineChoiceLoader
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/DoctrineChoiceLoader.php
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/DoctrineChoiceLoaderTest.php
Labels: DoctrineBridge, Status: Needs Review

#31874 [Doctrine Bridge] Check field type before adding Length constraint
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/DoctrineLoaderEntity.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Bridge/Doctrine/Validator/DoctrineLoader.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#31879 [Cache] Pass arg to get callback everywhere
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/NullAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
Labels: Bug, Cache, Status: Reviewed

#31881 [FramworkBundle][HttpKernel] fix KernelBrowser BC layer
  src/Symfony/Bundle/FrameworkBundle/Client.php
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Component/HttpKernel/Client.php
  src/Symfony/Component/HttpKernel/HttpKernelBrowser.php
Labels: Bug, HttpKernel, Status: Reviewed

#31880 [FrameworkBundle] fix BC-breaking property in WebTestAssertionsTrait
  src/Symfony/Bundle/FrameworkBundle/Test/WebTestAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Test/WebTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Test/WebTestCaseTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#31893 [HttpKernel] fix link to source generation
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
Labels: Bug, HttpKernel, Status: Reviewed

#31865 [Form] Fix wrong DateTime on outdated ICU library
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformer.php
Labels: Bug, Form, Intl, Status: Reviewed

#31894 Fix wrong requirements for ocramius/proxy-manager in root composer.json
  composer.json
Labels: Bug, ProxyManagerBridge, Status: Reviewed

#31901 Release v4.3.1
  CHANGELOG-4.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#31907 [FrameworkBundle] fix compat with some SF5 components
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ValidatorCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/ConcreteMicroKernel.php
Labels: FrameworkBundle, Status: Needs Review

#31898 [Validator] remove deprecated code paths
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Email.php
  src/Symfony/Component/Validator/Constraints/EmailValidator.php
  src/Symfony/Component/Validator/Constraints/Locale.php
  src/Symfony/Component/Validator/Context/ExecutionContext.php
  src/Symfony/Component/Validator/Context/ExecutionContextFactory.php
  src/Symfony/Component/Validator/DependencyInjection/AddValidatorInitializersPass.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailTest.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LocaleValidatorTest.php
  src/Symfony/Component/Validator/Tests/DependencyInjection/AddValidatorInitializersPassTest.php
  src/Symfony/Component/Validator/Tests/ValidatorBuilderTest.php
  src/Symfony/Component/Validator/Util/LegacyTranslatorProxy.php
  src/Symfony/Component/Validator/Validation.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
  src/Symfony/Component/Validator/ValidatorBuilderInterface.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilder.php
Labels: BC Break, Status: Needs Review, Validator

#31899 [FrameworkBundle] remove deprecated code paths
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AnnotationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/SerializerCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ValidatorCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Client.php
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerAwareCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Controller/Controller.php
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
  src/Symfony/Bundle/FrameworkBundle/DataCollector/RequestDataCollector.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddExpressionLanguageProvidersPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/CacheCollectorPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/CachePoolClearerPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/CachePoolPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/CachePoolPrunerPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/identity_translator.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/ApplicationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/TestAbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/TestController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/AddExpressionLanguageProvidersPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CacheCollectorPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolClearerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolPrunerPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/validation_strict_email_and_validation_mode.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/validation_strict_email_disabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/validation_strict_email_enabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/validation_strict_email_and_validation_mode.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/validation_strict_email_disabled.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/validation_strict_email_enabled.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/validation_strict_email_and_validation_mode.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/validation_strict_email_disabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/validation_strict_email_enabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Translation/TranslatorTest.php
Labels: BC Break, FrameworkBundle, Status: Needs Review

#31900 [FrameworkBundle] Fixed replace argument of `routing.loader` service
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#31903 [HttpKernel] Fix missing use for request and response classes
  src/Symfony/Component/HttpKernel/HttpKernelBrowser.php
Labels: Bug, HttpKernel, Status: Needs Review

#31890 Several components are incompatible with HttpKernel 5.0
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/Security/Http/composer.json
  src/Symfony/Component/Security/composer.json
Labels: Status: Reviewed

#31908 [Validator] fix deprecation layer of ValidatorBuilder
  UPGRADE-4.2.md
  UPGRADE-5.0.md
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Bug, Status: Needs Review, Validator

#31924 [Workflow] Removed un-used dependency in composer.json
  src/Symfony/Component/Workflow/composer.json
Labels: Status: Reviewed, Workflow

#31922 [Serializer] Fix DataUriNormalizer docblock & composer suggest section
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Status: Needs Review

#31925 [Form] fix usage of legacy TranslatorInterface
  src/Symfony/Component/Form/Extension/Core/Type/FileType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FileTypeTest.php
Labels: Bug, Form, Status: Reviewed

#31928 [FrameworkBundle] avoid service id conflicts with Swiftmailer
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.xml
Labels: Bug, FrameworkBundle, Status: Reviewed

#31923 [Serializer] Fix DataUriNormalizer deprecation (MIME type guesser is optional)
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
Labels: Bug, Serializer, Status: Needs Review

#31933 [DependencyInjection] fix the ValidateEnvPlaceHolderPassTest that was using a deprecated path for TreeBuilder
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: DependencyInjection, Deprecation, Status: Reviewed

#31912 [Translation] remove deprecated code paths
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/TranslationExtension.php
  src/Symfony/Bridge/Twig/Node/TransNode.php
  src/Symfony/Bridge/Twig/Tests/Extension/TranslationExtensionTest.php
  src/Symfony/Bridge/Twig/Tests/NodeVisitor/TranslationDefaultDomainNodeVisitorTest.php
  src/Symfony/Bridge/Twig/Tests/NodeVisitor/TranslationNodeVisitorTest.php
  src/Symfony/Bridge/Twig/Tests/NodeVisitor/TwigNodeProvider.php
  src/Symfony/Bridge/Twig/Tests/Translation/TwigExtractorTest.php
  src/Symfony/Bridge/Twig/TokenParser/TransChoiceTokenParser.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/identity_translator.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Resources/views/translation.html.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Form/Extension/Core/CoreExtension.php
  src/Symfony/Component/Form/Extension/Core/EventListener/TransformationFailureListener.php
  src/Symfony/Component/Form/Extension/Core/Type/FileType.php
  src/Symfony/Component/Form/Extension/Core/Type/TransformationFailureExtension.php
  src/Symfony/Component/Form/Extension/Csrf/CsrfExtension.php
  src/Symfony/Component/Form/Extension/Csrf/EventListener/CsrfValidationListener.php
  src/Symfony/Component/Form/Extension/Csrf/Type/FormTypeCsrfExtension.php
  src/Symfony/Component/Form/Extension/Validator/Type/UploadValidatorExtension.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FileTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/UploadValidatorExtensionTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/EventListener/TranslatorListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TranslatorListenerTest.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/DataCollectorTranslator.php
  src/Symfony/Component/Translation/Dumper/FileDumper.php
  src/Symfony/Component/Translation/Extractor/PhpExtractor.php
  src/Symfony/Component/Translation/Formatter/ChoiceMessageFormatterInterface.php
  src/Symfony/Component/Translation/Formatter/MessageFormatter.php
  src/Symfony/Component/Translation/IdentityTranslator.php
  src/Symfony/Component/Translation/Interval.php
  src/Symfony/Component/Translation/LoggingTranslator.php
  src/Symfony/Component/Translation/MessageSelector.php
  src/Symfony/Component/Translation/PluralizationRules.php
  src/Symfony/Component/Translation/Tests/DataCollectorTranslatorTest.php
  src/Symfony/Component/Translation/Tests/Extractor/PhpExtractorTest.php
  src/Symfony/Component/Translation/Tests/Formatter/MessageFormatterTest.php
  src/Symfony/Component/Translation/Tests/IntervalTest.php
  src/Symfony/Component/Translation/Tests/LoggingTranslatorTest.php
  src/Symfony/Component/Translation/Tests/MessageSelectorTest.php
  src/Symfony/Component/Translation/Tests/PluralizationRulesTest.php
  src/Symfony/Component/Translation/Tests/TranslatorTest.php
  src/Symfony/Component/Translation/Tests/Writer/TranslationWriterTest.php
  src/Symfony/Component/Translation/Tests/fixtures/extractor/translation.html.php
  src/Symfony/Component/Translation/Translator.php
  src/Symfony/Component/Translation/TranslatorInterface.php
  src/Symfony/Component/Translation/Writer/TranslationWriter.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilder.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilderInterface.php
Labels: BC Break, Status: Needs Review, Translator

#31932 [Config] remove the root method and the nullable name
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/Builder/TreeBuilder.php
  src/Symfony/Component/Config/Tests/Definition/Builder/TreeBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: Config, Deprecation, Status: Reviewed

#31939 [travis] increase concurrency
  .travis.yml
Labels: Status: Needs Review

#31936 PropertyInfoLoader should not try to add validation to non-existent property
  src/Symfony/Component/Validator/Mapping/Loader/PropertyInfoLoader.php
  src/Symfony/Component/Validator/Tests/Fixtures/PropertyInfoLoaderEntity.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/PropertyInfoLoaderTest.php
Labels: Bug, Status: Reviewed

#31941 [TwigBundle] fix tests
  src/Symfony/Bundle/TwigBundle/Tests/Loader/FilesystemLoaderTest.php
Labels: Status: Needs Review, TwigBundle

#31938 [FrameworkBundle] fix FC with HttpKernel v5
  src/Symfony/Bundle/FrameworkBundle/EventListener/ResolveControllerNameSubscriber.php
  src/Symfony/Bundle/FrameworkBundle/Tests/EventListener/ResolveControllerNameSubscriberTest.php
Labels: FrameworkBundle, Status: Reviewed

#31944 [DI] Fix suspicious test
  src/Symfony/Component/Config/Definition/Exception/TreeWithoutRootNodeException.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#31945 [DI][5.0] Fix suspicious test
  src/Symfony/Component/Config/Definition/Builder/TreeBuilder.php
  src/Symfony/Component/Config/Definition/Exception/TreeWithoutRootNodeException.php
  src/Symfony/Component/DependencyInjection/Compiler/ValidateEnvPlaceholdersPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#31771 [Serializer] Remove last deprecated/obsolete paths
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/SerializerCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Encoder/JsonDecode.php
  src/Symfony/Component/Serializer/Encoder/JsonEncode.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Serializer/composer.json
Labels: FrameworkBundle, Serializer, Status: Needs Review

#31949 Remove various legacy code paths
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/Tests/Debug/TraceableFirewallListenerTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/Builder/ParentNodeDefinitionInterface.php
  src/Symfony/Component/Form/Extension/Core/Type/FileType.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Client.php
  src/Symfony/Component/HttpKernel/Fragment/InlineFragmentRenderer.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/HttpKernelBrowser.php
  src/Symfony/Component/HttpKernel/KernelInterface.php
  src/Symfony/Component/Ldap/Adapter/EntryManagerInterface.php
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authentication/AuthenticationProviderManager.php
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
  src/Symfony/Component/Security/Core/Authorization/Voter/TraceableVoter.php
  src/Symfony/Component/Security/Core/Encoder/PasswordEncoderInterface.php
  src/Symfony/Component/Security/Core/Encoder/UserPasswordEncoderInterface.php
  src/Symfony/Component/Security/Core/Exception/AuthenticationException.php
  src/Symfony/Component/Security/Guard/GuardAuthenticatorHandler.php
  src/Symfony/Component/Workflow/Workflow.php
Labels: BC Break, Status: Needs Review

#31222 [Form] Add Button type back to Form::getClickedButton docblock
  src/Symfony/Component/Form/Form.php
Labels: Form, Status: Reviewed

#31678 [Config] Removed env var support with cannotBeEmpty()
  src/Symfony/Component/Config/Definition/VariableNode.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: Config, Status: Reviewed

#31951 [DI] remove deprecated code paths
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/RouterCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/TranslationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/CompatibilityServiceSubscriberInterface.php
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
  src/Symfony/Bundle/TwigBundle/CacheWarmer/TemplateCacheWarmer.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/CompatibilityServiceSubscriberInterface.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolClearerPassTest.php
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/DependencyInjection/Compiler/AnalyzeServiceReferencesPass.php
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/RemoveUnusedDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/RepeatablePassInterface.php
  src/Symfony/Component/DependencyInjection/Compiler/RepeatedPass.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/ResettableContainerInterface.php
  src/Symfony/Component/DependencyInjection/ServiceSubscriberInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/DecoratorServicePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/TypedReference.php
Labels: DependencyInjection, Status: Needs Review

#31672 [HttpKernel] remove all deprecated code from http kernel
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandTest.php
  src/Symfony/Bundle/TwigBundle/Resources/config/console.xml
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/KernelInterface.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/KernelForOverrideName.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: HttpKernel, Status: Reviewed

#31321 [DI] deprecates tag !tagged in favor of !tagged_iterator
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.xml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/anonymous.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/anonymous.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/services9.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services9.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_tagged_arguments.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/service_instanceof_factory.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services9.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_tagged_argument.yml
Labels: DependencyInjection, Deprecation, Status: Reviewed

#31950 [OptionsResolver] fix adding $triggerDeprecation to Options::offsetGet()
  src/Symfony/Component/OptionsResolver/Options.php
Labels: OptionsResolver, Status: Reviewed

#31962 Fix reporting unsilenced deprecations from insulated tests
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Component/BrowserKit/Client.php
Labels: Bug, Status: Needs Review

#31967 [DI] remove deprecated tag !tagged in favor of !tagged_iterator
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
Labels: BC Break, DependencyInjection, Status: Needs Review

#31451 [FrameworkBundle] Allow dots in translation domains
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/translations/domain.with.dots.en.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Resources/translations/domain.with.dots.en.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Translation/TranslatorTest.php
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#31963 [Form] test case is not legacy
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
Labels: Form, Status: Reviewed

#31919 [WebProfilerBundle] Select default theme based on user preferences
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base.html.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#31980 [HttpClient] make Psr18Client implement relevant PSR-17 factories
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Psr18Client.php
Labels: Feature, Status: Reviewed

#31982 [HttpClient] fix Psr18Client handling of non-200 response codes
  src/Symfony/Component/HttpClient/Psr18Client.php
  src/Symfony/Component/HttpClient/Tests/Psr18ClientTest.php
Labels: Bug, Status: Reviewed

#31956 [Mailer] Changed EventDispatcherInterface dependency from Component to Contracts
  src/Symfony/Component/Mailer/Bridge/Amazon/Http/Api/SesTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Http/SesTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Smtp/SesTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/composer.json
  src/Symfony/Component/Mailer/Bridge/Google/Smtp/GmailTransport.php
  src/Symfony/Component/Mailer/Bridge/Google/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Http/Api/MandrillTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Http/MandrillTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Smtp/MandrillTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailgun/Http/Api/MailgunTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Http/MailgunTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Smtp/MailgunTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/composer.json
  src/Symfony/Component/Mailer/Bridge/Postmark/Http/Api/PostmarkTransport.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Smtp/PostmarkTransport.php
  src/Symfony/Component/Mailer/Bridge/Postmark/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Http/Api/SendgridTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Smtp/SendgridTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/composer.json
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Tests/TransportTest.php
  src/Symfony/Component/Mailer/Transport.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
  src/Symfony/Component/Mailer/Transport/Http/AbstractHttpTransport.php
  src/Symfony/Component/Mailer/Transport/Http/Api/AbstractApiTransport.php
  src/Symfony/Component/Mailer/Transport/SendmailTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
  src/Symfony/Component/Mailer/composer.json
Labels: BC Break, Status: Reviewed

#31988 [TwigBridge] add back possibility to use form themes without translations
  src/Symfony/Bridge/Twig/composer.json
Labels: Bug, Status: Reviewed, TwigBridge

#31976 [HttpClient] add HttplugClient for compat with libs that need httplug v1 or v2
  composer.json
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Tests/HttplugClientTest.php
  src/Symfony/Component/HttpClient/composer.json
Labels: Feature, Status: Reviewed

#31994 [HttpKernel] Remove TestEventDispatcher
  src/Symfony/Component/HttpKernel/Tests/Fixtures/TestEventDispatcher.php
Labels: Bug, HttpKernel, Status: Reviewed

#31999 [PhpunitBridge] Restore php 5.5 compat
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
Labels: Bug, Deprecation, PhpUnitBridge, Status: Reviewed

#32002 [Mailer] made code more robust
  src/Symfony/Component/Mailer/SmtpEnvelope.php
Labels: Bug, Status: Reviewed

#31992 Fix sender/recipients in SMTP Envelope
  src/Symfony/Component/Mailer/DelayedSmtpEnvelope.php
  src/Symfony/Component/Mailer/Tests/SmtpEnvelopeTest.php
Labels: Bug, Status: Needs Review

#32017 [Contracts] add missing required dependencies
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/composer.json
Labels: Bug, Status: Reviewed

#32011 [HttpClient] fix closing debug stream prematurely
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, Status: Reviewed

#32014 Do not log or call the proxy function when the locale is the same
  src/Symfony/Component/Translation/LoggingTranslator.php
Labels: Bug, Status: Reviewed, Translator

#32020 CS fixes native functions
  .php_cs.dist
  src/Symfony/Bridge/Doctrine/Test/DoctrineTestHelper.php
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/ProxyDumperTest.php
  src/Symfony/Bridge/Twig/Tests/Command/DebugCommandTest.php
  src/Symfony/Bridge/Twig/UndefinedCallableHandler.php
  src/Symfony/Component/Cache/Traits/PhpArrayTrait.php
  src/Symfony/Component/Cache/Traits/PhpFilesTrait.php
  src/Symfony/Component/Debug/DebugClassLoader.php
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
  src/Symfony/Component/HttpKernel/DataCollector/TimeDataCollector.php
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php
  src/Symfony/Component/HttpKernel/HttpCache/SubRequestHandler.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/TimeDataCollectorTest.php
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/AnonymousToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/RememberMeToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
  src/Symfony/Component/Security/Core/Encoder/Argon2iPasswordEncoder.php
  src/Symfony/Component/Security/Core/Exception/AccountStatusException.php
  src/Symfony/Component/Security/Core/Exception/AuthenticationException.php
  src/Symfony/Component/Security/Core/Exception/CustomUserMessageAuthenticationException.php
  src/Symfony/Component/Security/Core/Exception/UsernameNotFoundException.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
  src/Symfony/Component/Security/Guard/Token/PostAuthenticationGuardToken.php
  src/Symfony/Component/Security/Http/Firewall/SimpleFormAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/UsernamePasswordFormAuthenticationListener.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Translation/Resources/bin/translation-status.php
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
Labels: Status: Reviewed

#32006 Fix binary operation `+`, `-` or `*` on string by type casting to integer
  src/Symfony/Component/Form/Extension/Core/Type/BirthdayType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/DayOfYearTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/FullTransformer.php
  src/Symfony/Component/Validator/Constraints/IssnValidator.php
  src/Symfony/Component/Validator/Constraints/LuhnValidator.php
  src/Symfony/Component/VarDumper/Caster/DateCaster.php
Labels: Bug, Status: Reviewed

#32024 [VarDumper] fix dumping objects that implement __debugInfo()
  src/Symfony/Component/VarDumper/Caster/Caster.php
Labels: Bug, Status: Reviewed, VarDumper

#32026 [VarDumper] caster for HttpClient's response dumps all info
  src/Symfony/Component/VarDumper/Caster/SymfonyCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Feature, Status: Reviewed, VarDumper

#32012 Add statement to fileLink to ignore href code when no fileLink.
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
Labels: Bug, Status: Reviewed

#32000 [Routing] fix absolute url generation when scheme is not known
  src/Symfony/Component/Routing/Generator/UrlGenerator.php
  src/Symfony/Component/Routing/Tests/Generator/UrlGeneratorTest.php
Labels: Bug, Routing, Status: Reviewed

#31998 Parameterize Mailgun's region
  src/Symfony/Component/Mailer/Bridge/Mailgun/Http/Api/MailgunTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Http/MailgunTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Smtp/MailgunTransport.php
  src/Symfony/Component/Mailer/Tests/TransportTest.php
  src/Symfony/Component/Mailer/Transport.php
  src/Symfony/Component/Mailer/composer.json
Labels: Bug, Status: Reviewed

#32036 [Messenger] improve logs
  src/Symfony/Component/Messenger/Middleware/HandleMessageMiddleware.php
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Retry/MultiplierRetryStrategy.php
  src/Symfony/Component/Messenger/Stamp/RedeliveryStamp.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Messenger, Status: Reviewed

#31959 [DomCrawler][Feature][DX] Add Form::getName() method
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/DomCrawler/Form.php
  src/Symfony/Component/DomCrawler/Tests/FormTest.php
Labels: DomCrawler, Feature, Status: Reviewed

#32007 [Serializer] Handle true and false appropriately in CSV encoder
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
Labels: Bug, Serializer, Status: Reviewed

#32037 [Form] validate composite constraints in all groups
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
Labels: Bug, Form, Status: Reviewed

#31287 [Config] Introduce find method in ArrayNodeDefinition to ease configuration tree manipulation
  src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php
  src/Symfony/Component/Config/Tests/Definition/Builder/ArrayNodeDefinitionTest.php
Labels: Config, Feature, Status: Reviewed

#32022 [HttpClient] Don't use CurlHttpClient on Windows when curl.cainfo is not set
  src/Symfony/Component/HttpClient/HttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, Status: Reviewed

#32041 [Validator] Deprecate unused arg in ExpressionValidator
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/ExpressionValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/ExpressionValidatorTest.php
Labels: Deprecation, Status: Reviewed, Validator

#32025 SimpleCacheAdapter fails to cache any item if a namespace is used
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/SimpleCacheAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/SimpleCacheAdapterTest.php
  src/Symfony/Component/Cache/Traits/AbstractTrait.php
Labels: Bug, Status: Reviewed

#32035 [Messenger] fix delay delivery for non-fanout exchanges
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#32047 [Validator] prevent double deprecation message
  src/Symfony/Component/Validator/Constraints/ExpressionValidator.php
Labels: Bug, Status: Reviewed, Validator

#32040 [DI] Show the right class autowired when providing a non-existing class
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/ConstructNotExists.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_not_existing.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#32059 [PhpUnitBridge] Bump PHPUnit 7+8
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Feature, PhpUnitBridge, Status: Reviewed

#32057 [HttpFoundation] Fix SA/phpdoc JsonResponse
  src/Symfony/Component/HttpFoundation/JsonResponse.php
Labels: HttpFoundation, Status: Reviewed

#32065 [HttpClient] throw DecodingExceptionInterface when toArray() fails because of content-type error
  src/Symfony/Component/HttpClient/Exception/JsonException.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Contracts/HttpClient/Exception/DecodingExceptionInterface.php
  src/Symfony/Contracts/HttpClient/ResponseInterface.php
Labels: Bug, Status: Reviewed

#32066 Fine tune constructor types
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/Config/Definition/Builder/NodeDefinition.php
  src/Symfony/Component/Config/Resource/GlobResource.php
  src/Symfony/Component/Config/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/DomCrawler/AbstractUriElement.php
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/FormConfigBuilder.php
  src/Symfony/Component/Form/FormError.php
  src/Symfony/Component/Form/FormFactory.php
  src/Symfony/Component/Form/Tests/Extension/Csrf/Type/FormTypeCsrfExtensionTest.php
  src/Symfony/Component/Form/Tests/FormConfigTest.php
  src/Symfony/Component/HttpFoundation/RedirectResponse.php
  src/Symfony/Component/HttpFoundation/Tests/RedirectResponseTest.php
  src/Symfony/Component/Validator/ConstraintViolation.php
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilder.php
Labels: Status: Reviewed

#32052 [Messenger] fix AMQP delay queue to be per exchange
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#32071 Fix expired lock not cleaned
  src/Symfony/Component/Lock/Lock.php
  src/Symfony/Component/Lock/Store/CombinedStore.php
  src/Symfony/Component/Lock/Store/ExpiringStoreTrait.php
  src/Symfony/Component/Lock/Store/MemcachedStore.php
  src/Symfony/Component/Lock/Store/RedisStore.php
  src/Symfony/Component/Lock/Tests/Store/ExpiringStoreTestTrait.php
Labels: Bug, Status: Reviewed

#32076 [Lock] Fix PDO prune not called
  src/Symfony/Component/Lock/Store/PdoStore.php
Labels: Bug, Lock, Status: Needs Review

#32075 [Lock] Fix expired lock not cleaned in ZooKeeper
  src/Symfony/Component/Lock/Store/ZookeeperStore.php
Labels: Bug, Status: Needs Review

#32074 Add BC layer for updated constructor types
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/Config/Definition/Builder/NodeDefinition.php
  src/Symfony/Component/Form/FormConfigBuilder.php
  src/Symfony/Component/Form/FormError.php
  src/Symfony/Component/HttpFoundation/RedirectResponse.php
  src/Symfony/Component/Validator/ConstraintViolation.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilder.php
Labels: Status: Needs Review

#31764 [FrameworkBundle] add attribute stamps
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
Labels: Feature, Ready, Status: Reviewed

#32082 [CACHE] Correct required file added in #32054
  src/Symfony/Component/Cache/Exception/LogicException.php
Labels: Bug, Cache, Status: Needs Review

#32092 [FrameworkBundle] minor: fix typo in SessionTest
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SessionTest.php
Labels: FrameworkBundle, Status: Reviewed

#32090 [Debug] workaround BC break in PHP 7.3
  src/Symfony/Component/Debug/ErrorHandler.php
Labels: Bug, Debug, Status: Reviewed

#32100 Update ajax security cheat sheet link
  src/Symfony/Component/HttpFoundation/JsonResponse.php
Labels: Bug, Status: Reviewed
