Repository symfony/symfony, pull requests merged in 2019-01, with the labels that each got.

#29617 [Console] Add specific replacement for help text in single command applications
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
Labels: Bug, Console, Status: Needs Review

#29721 [SecurityBundle] Fix traceable voters
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/AddSecurityVotersPass.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Compiler/AddSecurityVotersPassTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#29726 [Lock] Fix lock test random failure
  src/Symfony/Component/Lock/Tests/Store/ExpiringStoreTestTrait.php
Labels: Bug, Lock, Status: Reviewed

#29704 [FrameworkBundle] improve errors in tests missing the BrowserKit component
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Test/WebTestCase.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#29742 update year in license files
  LICENSE
  src/Symfony/Bridge/Doctrine/LICENSE
  src/Symfony/Bridge/Monolog/LICENSE
  src/Symfony/Bridge/PhpUnit/LICENSE
  src/Symfony/Bridge/ProxyManager/LICENSE
  src/Symfony/Bridge/Twig/LICENSE
  src/Symfony/Bundle/DebugBundle/LICENSE
  src/Symfony/Bundle/FrameworkBundle/LICENSE
  src/Symfony/Bundle/SecurityBundle/LICENSE
  src/Symfony/Bundle/TwigBundle/LICENSE
  src/Symfony/Bundle/WebProfilerBundle/LICENSE
  src/Symfony/Bundle/WebServerBundle/LICENSE
  src/Symfony/Component/Asset/LICENSE
  src/Symfony/Component/BrowserKit/LICENSE
  src/Symfony/Component/Cache/LICENSE
  src/Symfony/Component/ClassLoader/LICENSE
  src/Symfony/Component/Config/LICENSE
  src/Symfony/Component/Console/LICENSE
  src/Symfony/Component/CssSelector/LICENSE
  src/Symfony/Component/Debug/LICENSE
  src/Symfony/Component/DependencyInjection/LICENSE
  src/Symfony/Component/DomCrawler/LICENSE
  src/Symfony/Component/Dotenv/LICENSE
  src/Symfony/Component/EventDispatcher/LICENSE
  src/Symfony/Component/ExpressionLanguage/LICENSE
  src/Symfony/Component/Filesystem/LICENSE
  src/Symfony/Component/Finder/LICENSE
  src/Symfony/Component/Form/LICENSE
  src/Symfony/Component/HttpFoundation/LICENSE
  src/Symfony/Component/HttpKernel/LICENSE
  src/Symfony/Component/Inflector/LICENSE
  src/Symfony/Component/Intl/LICENSE
  src/Symfony/Component/Ldap/LICENSE
  src/Symfony/Component/Lock/LICENSE
  src/Symfony/Component/OptionsResolver/LICENSE
  src/Symfony/Component/Process/LICENSE
  src/Symfony/Component/PropertyAccess/LICENSE
  src/Symfony/Component/PropertyInfo/LICENSE
  src/Symfony/Component/Routing/LICENSE
  src/Symfony/Component/Security/Core/LICENSE
  src/Symfony/Component/Security/Csrf/LICENSE
  src/Symfony/Component/Security/Guard/LICENSE
  src/Symfony/Component/Security/Http/LICENSE
  src/Symfony/Component/Security/LICENSE
  src/Symfony/Component/Serializer/LICENSE
  src/Symfony/Component/Stopwatch/LICENSE
  src/Symfony/Component/Templating/LICENSE
  src/Symfony/Component/Translation/LICENSE
  src/Symfony/Component/Validator/LICENSE
  src/Symfony/Component/VarDumper/LICENSE
  src/Symfony/Component/WebLink/LICENSE
  src/Symfony/Component/Workflow/LICENSE
  src/Symfony/Component/Yaml/LICENSE
Labels: Status: Reviewed

#29741 [VarExporter] fix exporting array indexes
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/partially-indexed-array.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Bug, Status: Reviewed

#29743 [EventDispatcher] Fixed phpdoc on interface
  src/Symfony/Component/EventDispatcher/EventDispatcherInterface.php
Labels: Bug, EventDispatcher, Status: Reviewed

#29718 [PHPUnit bridge] Bump php version of PHPUnit-bridge
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/composer.json
Labels: Feature, Status: Reviewed

#29283 [Serializer] CsvEncoder no header option (encode / decode)
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
Labels: Feature, Status: Reviewed

#29723 "ParserTest->getParserTestData()" -> only some more tests
  src/Symfony/Component/CssSelector/Tests/Parser/ParserTest.php
Labels: Status: Needs Review

#29658 [Validator] Choices constraint improvement
  src/Symfony/Component/Validator/Constraints/ChoiceValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/ChoiceValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#29186 [HttpKernel] Increase priority of AddRequestFormatsListener
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/EventListener/AddRequestFormatsListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/AddRequestFormatsListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#29483 [HttpKernel] Set the default locale early
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/EventListener/LocaleListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/LocaleListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#24576 [FrameworkBundle] Added `ControllerTrait::isFormValid`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#29752 [Process] Fix: Adjust DocBlock
  src/Symfony/Component/Process/ExecutableFinder.php
Labels: Bug, Status: Reviewed

#29738 [Intl] handle null date and time types
  src/Symfony/Component/Intl/DateFormatter/IntlDateFormatter.php
  src/Symfony/Component/Intl/Tests/DateFormatter/AbstractIntlDateFormatterTest.php
Labels: Bug, Intl, Status: Reviewed

#29755 Improved BIC + IBAN validator for some special cases
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/BicValidatorTest.php
Labels: Bug, Status: Reviewed, Validator

#29761 [PHPUnitBridge][TestSuite] Do not risk waiting 100 seconds
  src/Symfony/Component/Process/Tests/KillableProcessWithOutput.php
Labels: PhpUnitBridge, Status: Reviewed

#29720 Revert "minor #28610 [Form] Check for Intl availibility (ro0NL)"
  src/Symfony/Component/Form/Extension/Core/Type/CountryType.php
  src/Symfony/Component/Form/Extension/Core/Type/CurrencyType.php
  src/Symfony/Component/Form/Extension/Core/Type/LanguageType.php
  src/Symfony/Component/Form/Extension/Core/Type/LocaleType.php
Labels: Form, Status: Reviewed

#29680 [Form] Add new block_prefix option for an easy form theming
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/BaseType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FormTypeTest.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.txt
Labels: Feature, Form, Status: Reviewed

#29695 [Form] Do not ignore the choice groups for caching
  src/Symfony/Component/Form/ChoiceList/Factory/CachingFactoryDecorator.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/CachingFactoryDecoratorTest.php
Labels: Bug, Form, Ready, Status: Reviewed

#29754 Ensure final input of CommandTester works with default
  src/Symfony/Component/Console/Tester/CommandTester.php
  src/Symfony/Component/Console/Tests/Tester/CommandTesterTest.php
Labels: Bug, Console, Status: Reviewed

#29778 remove no longer needed PHP version checks
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/ObjectsProvider.php
  src/Symfony/Component/EventDispatcher/Tests/Debug/WrappedListenerTest.php
Labels: Status: Reviewed

#29776 remove no longer needed PHP version checks
  .github/build-packages.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/DumpDataCollectorTest.php
Labels: Status: Reviewed

#29769 [Form] Fix FormDefaultChoiceListFactory test
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/DefaultChoiceListFactoryTest.php
Labels: Bug, Form, Status: Reviewed

#29788 Changed gender choice types to color
  src/Symfony/Component/Form/Forms.php
  src/Symfony/Component/Form/Tests/CompoundFormPerformanceTest.php
Labels: Status: Reviewed

#29780 [Profiler] Still show locale and fallback locale even if no trans used
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/translation.html.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#29679 [HttpKernel] Correctly Render Signed URIs Containing Fragments
  src/Symfony/Component/HttpKernel/Tests/Fragment/EsiFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/HIncludeFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/SsiFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/UriSignerTest.php
  src/Symfony/Component/HttpKernel/UriSigner.php
Labels: Bug, Status: Reviewed

#29509 [Validator] Add tests in regex validator for objects with __toString method
  src/Symfony/Component/Validator/Tests/Constraints/RegexValidatorTest.php
Labels: Status: Needs Work, Validator

#29494 [HttpFoundation] Fix request uri when it starts with double slashes
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#28902 [Debug] Detect virtual methods using @method
  src/Symfony/Component/Debug/DebugClassLoader.php
  src/Symfony/Component/Debug/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/Debug/Tests/Fixtures/VirtualClass.php
  src/Symfony/Component/Debug/Tests/Fixtures/VirtualClassMagicCall.php
  src/Symfony/Component/Debug/Tests/Fixtures/VirtualInterface.php
  src/Symfony/Component/Debug/Tests/Fixtures/VirtualSubInterface.php
  src/Symfony/Component/Debug/Tests/Fixtures/VirtualTrait.php
Labels: Debug, Feature, Status: Reviewed

#29782 [Intl] make type-hinted arguments nullable
  src/Symfony/Component/Intl/DateFormatter/IntlDateFormatter.php
Labels: Bug, Intl, Status: Reviewed

#29791 [PropertyAccess] remove doubled dot from exception message
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: PropertyAccess, Status: Reviewed

#29792 [DependencyInjection] properly fix tests on PHP 5
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveNamedArgumentsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FactoryDummy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FactoryDummyWithoutReturnTypes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestDefinition1.php
Labels: Bug, DependencyInjection, Status: Reviewed

#29799 [Validator] Add Japanese translation for #28479
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
Labels: Status: Reviewed

#29801 Release v3.4.21
  CHANGELOG-3.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#29802 Release v4.1.10
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#29803 Release v4.2.2
  CHANGELOG-4.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#29762 Improved performance of LoggerDataCollector
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
Labels: Performance, Status: Reviewed, WebProfilerBundle

#29821 [VarDumper] add caster for OpenSSL X.509 resources
  src/Symfony/Component/VarDumper/Caster/ConstStub.php
  src/Symfony/Component/VarDumper/Caster/ResourceCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Feature, Status: Reviewed, VarDumper

#29815 [Console] Fix phpdoc for InputOption shortcut
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Input/InputOption.php
Labels: Bug, Console, Status: Reviewed

#29829 [TwigBridge] account for the short array syntax in Twig
  src/Symfony/Bridge/Twig/Node/DumpNode.php
  src/Symfony/Bridge/Twig/Node/SearchAndRenderBlockNode.php
  src/Symfony/Bridge/Twig/Tests/Node/DumpNodeTest.php
  src/Symfony/Bridge/Twig/Tests/Node/FormThemeTest.php
  src/Symfony/Bridge/Twig/Tests/Node/SearchAndRenderBlockNodeTest.php
  src/Symfony/Bridge/Twig/Tests/Node/TransNodeTest.php
  src/Symfony/Bridge/Twig/composer.json
Labels: Status: Reviewed, TwigBridge

#29860 [Console] Fix composer.json suggest/provide
  src/Symfony/Component/Console/composer.json
Labels: Console, Status: Reviewed

#29833 [DebugClassLoader] expose proxyfied findFile() method
  src/Symfony/Component/Debug/DebugClassLoader.php
Labels: Status: Reviewed

#29849 [Validator] Fixed exception wording
  src/Symfony/Component/Validator/ContainerConstraintValidatorFactory.php
Labels: Status: Reviewed, Validator

#29840 [FrameworkBundle] pass project dir into the assets install command
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.xml
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#29853 Revert "bug #29597 [DI] fix reporting bindings on overriden services as unused"
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveChildDefinitionsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/instanceof.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/prototype.expected.yml
Labels: Bug, DependencyInjection, Status: Reviewed

#29148 Load original file metadata when loading Xliff 1.2 files
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/Tests/Loader/XliffFileLoaderTest.php
  src/Symfony/Component/Translation/Tests/fixtures/resources-multi-files.xlf
Labels: Status: Reviewed

#29797 [Dotenv] improved code coverage and removed unreachable code
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
Labels: Dotenv, Status: Reviewed

#29837 Fix SwiftMailerHandler to support Monolog's latest reset functionality
  src/Symfony/Bridge/Monolog/Handler/SwiftMailerHandler.php
Labels: Bug, MonologBridge, Status: Reviewed

#29745 SCA: minor code tweaks
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Serializer/Mapping/Loader/XmlFileLoader.php
Labels: Status: Reviewed

#29873 [Debug] remove return type hint for PHP 5 compatibility
  src/Symfony/Component/Debug/DebugClassLoader.php
Labels: Bug, Debug, Status: Reviewed

#29864 [Form] SA fix
  src/Symfony/Component/Form/Test/Traits/ValidatorExtensionTrait.php
Labels: Bug, Form, Status: Reviewed

#29875 [TwigBridge] fix compatibility with Twig >= 2.6.1
  src/Symfony/Bridge/Twig/TokenParser/TransChoiceTokenParser.php
  src/Symfony/Bridge/Twig/TokenParser/TransTokenParser.php
Labels: Bug, Status: Reviewed, TwigBridge

#29813 [FrameworkBundle] Remove ControllerTrait::isFormValid()
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
Labels: FrameworkBundle, Status: Needs Work

#29879 Removing isFormValid remnants
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
Labels: Bug, Status: Reviewed

#29885 Update MimeType extensions
  src/Symfony/Component/HttpFoundation/File/MimeType/MimeTypeExtensionGuesser.php
Labels: Bug, Status: Reviewed

#29886 [DependencyInjection] fix test after revert of bugfix
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/prototype_array.expected.yml
Labels: DependencyInjection, Status: Reviewed

#29894 [DependencyInjection] the string "0" is a valid service identifier
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services6.xml
Labels: Bug, DependencyInjection, Status: Reviewed

#29899 Simplify PHPUnit exception expectations
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
  src/Symfony/Component/BrowserKit/Tests/CookieTest.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
  src/Symfony/Component/Console/Tests/Formatter/OutputFormatterStyleTest.php
  src/Symfony/Component/CssSelector/Tests/Parser/ParserTest.php
  src/Symfony/Component/CssSelector/Tests/Parser/TokenStreamTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/EventDispatcher/Tests/GenericEventTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateIntervalToArrayTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateIntervalToStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToTimestampTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/PercentToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CollectionTypeTest.php
  src/Symfony/Component/Form/Tests/FormBuilderTest.php
  src/Symfony/Component/HttpFoundation/Tests/File/FileTest.php
  src/Symfony/Component/HttpFoundation/Tests/File/MimeType/MimeTypeTest.php
  src/Symfony/Component/HttpFoundation/Tests/File/UploadedFileTest.php
  src/Symfony/Component/HttpKernel/Tests/Config/FileLocatorTest.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/AbstractNumberFormatterTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/LdapManagerTest.php
  src/Symfony/Component/Ldap/Tests/LdapTest.php
  src/Symfony/Component/Routing/Tests/Generator/UrlGeneratorTest.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
  src/Symfony/Component/Templating/Tests/PhpEngineTest.php
  src/Symfony/Component/Translation/Tests/Catalogue/AbstractOperationTest.php
  src/Symfony/Component/Validator/Tests/ConstraintTest.php
  src/Symfony/Component/Validator/Tests/Mapping/ClassMetadataTest.php
  src/Symfony/Component/Validator/Tests/Mapping/GetterMetadataTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/MemberMetadataTest.php
  src/Symfony/Component/Validator/Tests/Mapping/PropertyMetadataTest.php
Labels: Status: Reviewed

#29892 [TwigBridge] remove unreachable code
  src/Symfony/Bridge/Twig/Tests/Node/TransNodeTest.php
Labels: Status: Reviewed, TwigBridge

#29914 ensure compatibility with older PHPUnit mocks
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ProfilerListenerTest.php
Labels: Status: Reviewed

#29863 [Security] Do not mix password_*() API with libsodium one
  src/Symfony/Component/Security/Core/Encoder/Argon2iPasswordEncoder.php
Labels: Bug, Security, Status: Reviewed

#29928 [DependencyInjection] forward the parse error to the calling code
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
Labels: DependencyInjection, Status: Reviewed

#29937 [DependencyInjection] fix tests
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Status: Reviewed

#29868 Grammar fix in exception message
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
Labels: Dotenv, Status: Reviewed

#29942 [HttpFoundation] Add missing changelog/upgrade notes
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/File/MimeType/ExtensionGuesserInterface.php
  src/Symfony/Component/HttpFoundation/File/MimeType/MimeTypeGuesserInterface.php
Labels: HttpFoundation, Status: Reviewed

#29960 Fix heredoc
  src/Symfony/Component/Translation/Tests/fixtures/extractor/translation.html.php
Labels: Bug, Status: Reviewed

#29954 [Form] synchronise the form builder docblock
  src/Symfony/Bridge/Doctrine/Tests/Form/EventListener/MergeDoctrineCollectionListenerTest.php
  src/Symfony/Component/Form/FormBuilder.php
  src/Symfony/Component/Form/ResolvedFormType.php
  src/Symfony/Component/Form/Test/TypeTestCase.php
  src/Symfony/Component/Form/Tests/AbstractFormTest.php
  src/Symfony/Component/Form/Tests/ButtonTest.php
  src/Symfony/Component/Form/Tests/Extension/Csrf/EventListener/CsrfValidationListenerTest.php
  src/Symfony/Component/Form/Tests/ResolvedFormTypeTest.php
Labels: Form, Status: Reviewed

#29964 [HttpKernel] Fix HttpKernel Debug requirement
  src/Symfony/Component/HttpKernel/composer.json
Labels: Bug, HttpKernel, Status: Reviewed

#29850 [FrameworkBundle] xliff-version option to translation update command
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
Labels: Feature, Status: Reviewed

#29920 [Debug][DebugClassLoader] Match more cases for final, deprecated and internal classes / methods extends
  src/Symfony/Component/Debug/DebugClassLoader.php
  src/Symfony/Component/Debug/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/Debug/Tests/Fixtures/FinalClass.php
  src/Symfony/Component/Debug/Tests/Fixtures/FinalClasses.php
Labels: Bug, Debug, Status: Reviewed

#29980 [Process] disable transient test on Windows
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Process, Status: Needs Review

#29965 Dont advertize what symfony/symfony "provides"
  composer.json
Labels: Status: Reviewed

#29847 [Cache] fix used variable name
  src/Symfony/Component/Cache/Simple/Psr6Cache.php
  src/Symfony/Component/Cache/Tests/Fixtures/ExternalAdapter.php
  src/Symfony/Component/Cache/Tests/Simple/Psr6CacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/Psr6CacheWithAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/Psr6CacheWithoutAdapterTest.php
Labels: Bug, Cache, Status: Reviewed

#29889 [Serializer] Docblock about throwing exceptions on serializer
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerInterface.php
Labels: Serializer, Status: Reviewed

#29934 ensure compatibility with older PHPUnit mocks
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Profiler/TemplateManagerTest.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/Tests/AbstractFormTest.php
  src/Symfony/Component/Form/Tests/AbstractRequestHandlerTest.php
  src/Symfony/Component/Form/Tests/CompoundFormTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/FixUrlProtocolListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/MergeCollectionListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/ResizeFormListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/TrimListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Csrf/EventListener/CsrfValidationListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/HttpFoundation/HttpFoundationRequestHandlerTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/EventListener/ValidationListenerTest.php
  src/Symfony/Component/Form/Tests/NativeRequestHandlerTest.php
  src/Symfony/Component/Form/Tests/ResolvedFormTypeTest.php
  src/Symfony/Component/Form/Tests/SimpleFormTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/ClassMetadataTest.php
  src/Symfony/Component/Validator/Tests/Validator/TraceableValidatorTest.php
Labels: Status: Reviewed

#29975 [Mime] fix adding extensions when creating a MimeTypes instance
  src/Symfony/Component/Mime/MimeTypes.php
Labels: Bug, Status: Needs Review

#29961 [Translation] Concatenated translation messages
  src/Symfony/Component/Translation/Extractor/PhpExtractor.php
  src/Symfony/Component/Translation/Tests/Extractor/PhpExtractorTest.php
  src/Symfony/Component/Translation/Tests/fixtures/extractor/translation.html.php
Labels: Bug, Status: Reviewed, Translator

#29926 [Form] Changed UrlType input type to text when default_protocol is not null
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Form/Extension/Core/Type/UrlType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
Labels: Bug, Form, Status: Reviewed

#29869 [Debug][ErrorHandler] Preserve our error handler when a logger sets another one
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/Debug/Tests/ErrorHandlerTest.php
  src/Symfony/Component/Debug/Tests/Fixtures/LoggerThatSetAnErrorHandler.php
Labels: Bug, Debug, Status: Reviewed

#29861 [Form][TwigBridge] Add help_html
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionDivLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionTableLayoutTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_help.html.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperDivLayoutTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/FormType.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.txt
Labels: Feature, Form, Status: Reviewed, TwigBridge

#29844 [Console] Fixed #29835: ConfirmationQuestion with default true for answer '0'
  src/Symfony/Component/Console/Question/ConfirmationQuestion.php
  src/Symfony/Component/Console/Tests/Question/ConfirmationQuestionTest.php
Labels: Bug, Console, Status: Reviewed

#29794 Always pass $key to NullAdapter->createCacheItem
  src/Symfony/Component/Cache/Adapter/NullAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/NullAdapterTest.php
Labels: Bug, Cache, Status: Reviewed

#29783 [HttpFoundation] MemcachedSessionHandler::close() must close connection
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MemcachedSessionHandler.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MemcachedSessionHandlerTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#29770 [Routing] Make important parameters required when matching
  src/Symfony/Component/Routing/Generator/UrlGenerator.php
  src/Symfony/Component/Routing/RouteCompiler.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Bug, Routing, Status: Reviewed

#29764 [HttpFoundation] Check file exists before unlink
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
Labels: Bug, HttpFoundation, Status: Needs Review

#29777 [VarDumper] Improve performance of AbstractCloner
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Performance, Status: Reviewed, VarDumper

#29992 [DependencyInjection] fix DOM element namespace URL access
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
Labels: Bug, DependencyInjection, Status: Needs Review

#29996 Remove gendered pronouns
  src/Symfony/Component/Form/FormRenderer.php
  src/Symfony/Component/Form/Tests/AbstractTableLayoutTest.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, Status: Reviewed

#29998 remove accidentally added changelog entries
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
Labels: Status: Reviewed

#29936 [Mime] Add a set of default content-types for some extensions
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Resources/bin/update_mime_types.php
Labels: Feature, Status: Reviewed

#29984 [VarDumper] Fixed search bar
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
Labels: Feature, Status: Reviewed, VarDumper

#28721 [Form] deprecate some options for single_text widgets
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
Labels: Deprecation, Form, Status: Needs Review

#29724 [PHPUnitBridge] Static access in closure
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
Labels: Status: Reviewed

#30000 [Mime] move add mime type guesser pass to the component
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Component/Mime/DependencyInjection/AddMimeTypeGuesserPass.php
  src/Symfony/Component/Mime/Tests/DependencyInjection/AddMimeTypeGuesserPassTest.php
  src/Symfony/Component/Mime/composer.json
Labels: Mime, Status: Reviewed

#29995 [DI] add id of referencing service when a deprecated alias is found
  src/Symfony/Component/DependencyInjection/Alias.php
  src/Symfony/Component/DependencyInjection/Compiler/RemoveUnusedDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveReferencesToAliasesPass.php
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/DependencyInjection/Tests/AliasTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveReferencesToAliasesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/DefinitionTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/container_alias_deprecation.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_errored_definition.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/deprecated_alias_definitions.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services9.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/deprecated_alias_definitions.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services9.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DX, DependencyInjection, Status: Reviewed

#30004 Fix format strings for deprecation notices
  src/Symfony/Bundle/FrameworkBundle/Templating/Helper/TranslatorHelper.php
  src/Symfony/Component/Translation/IdentityTranslator.php
  src/Symfony/Component/Translation/LoggingTranslator.php
Labels: Bug, Status: Reviewed, Translator

#30003 Remove unreachable code
  src/Symfony/Component/VarDumper/Server/Connection.php
Labels: Status: Reviewed, VarDumper

#30009 [MonologBridge] Remove unused local variable
  src/Symfony/Bridge/Monolog/Handler/FingersCrossed/HttpCodeActivationStrategy.php
Labels: MonologBridge, Status: Reviewed

#29641 [Validator] NotBlank: add a new option to allow null values
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/NotBlank.php
  src/Symfony/Component/Validator/Constraints/NotBlankValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/NotBlankValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#30012 [Routing] backport tests from 4.1
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Routing, Status: Needs Review

#30006 [Security] don't do nested calls to serialize()
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/AnonymousToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/RememberMeToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
  src/Symfony/Component/Security/Core/Exception/AccountStatusException.php
  src/Symfony/Component/Security/Core/Exception/AuthenticationException.php
  src/Symfony/Component/Security/Core/Exception/CustomUserMessageAuthenticationException.php
  src/Symfony/Component/Security/Core/Exception/UsernameNotFoundException.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Exception/CustomUserMessageAuthenticationExceptionTest.php
  src/Symfony/Component/Security/Guard/Token/PostAuthenticationGuardToken.php
Labels: Bug, Security, Status: Reviewed

#30013 [Routing] dont redirect routes with greedy trailing vars with no explicit slash
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher1.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher10.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher11.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher12.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher13.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher2.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher3.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher5.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher6.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher7.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/url_matcher8.php
Labels: Bug, Routing, Status: Needs Review

#30016 Release v4.1.11
  CHANGELOG-4.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#29532 [Messenger] fixed RabbitMQ arguments not passed as integer values
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#30019 [Mime] improve some types in docblocks
  src/Symfony/Component/Mime/MimeTypeGuesserInterface.php
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/MimeTypesInterface.php
Labels: Mime, Status: Reviewed

#30031 [Console] Make "warning" in SymfonyStyle use orange color
  src/Symfony/Component/Console/Style/SymfonyStyle.php
Labels: Console, Status: Reviewed

#30034 [Config] ensure moving away from Serializable wont break cache:clear
  src/Symfony/Component/Config/ResourceCheckerConfigCache.php
Labels: Bug, Config, Status: Reviewed

#30035 Mark some/most implementations of Serializable as `@internal`
  src/Symfony/Component/Config/Resource/ClassExistenceResource.php
  src/Symfony/Component/Config/Resource/ComposerResource.php
  src/Symfony/Component/Config/Resource/DirectoryResource.php
  src/Symfony/Component/Config/Resource/FileExistenceResource.php
  src/Symfony/Component/Config/Resource/FileResource.php
  src/Symfony/Component/Config/Resource/GlobResource.php
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/DependencyInjection/Config/AutowireServiceResource.php
  src/Symfony/Component/DependencyInjection/Config/ContainerParametersResource.php
  src/Symfony/Component/Form/FormError.php
  src/Symfony/Component/HttpKernel/Config/EnvParametersResource.php
  src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
  src/Symfony/Component/Validator/Constraint.php
Labels: Status: Reviewed

#30037 Disable Twig in the profiler menu when Twig is not used
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/twig.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#29999 [PropertyAccess] speed up accessing object properties
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: Performance, PropertyAccess, Status: Reviewed

#30044 [Security] Fix serialization workaround in CustomUserMessageAuthenticationException
  src/Symfony/Component/Security/Core/Exception/CustomUserMessageAuthenticationException.php
  src/Symfony/Component/Security/Core/Tests/Exception/CustomUserMessageAuthenticationExceptionTest.php
Labels: Bug, Status: Needs Review

#30041 PHPUnit Bridge: Rollback to traditional array syntax.
  src/Symfony/Bridge/PhpUnit/ClockMock.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/DnsMock.php
  src/Symfony/Bridge/PhpUnit/Legacy/CoverageListenerTrait.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerForV5.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerForV6.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerForV7.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/PhpUnit/Legacy/TestRunnerForV5.php
  src/Symfony/Bridge/PhpUnit/Legacy/TestRunnerForV6.php
  src/Symfony/Bridge/PhpUnit/Legacy/TestRunnerForV7.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/default.phpt
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/shutdown_deprecations.phpt
  src/Symfony/Bridge/PhpUnit/Tests/DnsMockTest.php
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, PhpUnitBridge, Status: Reviewed

#30046 [DI] Fix dumping Doctrine-like service graphs
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Needs Review

#29779 [Security] Declare exceptions that are already thrown by implementations
  src/Symfony/Component/Security/Core/Encoder/PasswordEncoderInterface.php
Labels: Bug, Security, Status: Reviewed

#29753 [Console] Add an iterate method to the ProgressBar class
  composer.json
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
  src/Symfony/Component/Console/composer.json
Labels: Console, Feature, Status: Reviewed

#30042 Fix typo in Norwegian translation
  src/Symfony/Component/Security/Core/Resources/translations/security.nb.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.no.xlf
Labels: Status: Reviewed
