Repository symfony/symfony, pull requests merged in 2019-12, with the labels that each got.

#34740 Release v3.4.36
  CHANGELOG-3.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34741 Release v4.3.9
  CHANGELOG-4.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34742 Release v4.4.1
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34743 Release v5.0.1
  CHANGELOG-5.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34757 [DI] Fix making the container path-independent when the app is in /app
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Reviewed

#34771 Deprecate *Response::create() methods
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/ConcreteMicroKernel.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/JsonResponse.php
  src/Symfony/Component/HttpFoundation/RedirectResponse.php
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
  src/Symfony/Component/HttpFoundation/Tests/JsonResponseTest.php
  src/Symfony/Component/HttpFoundation/Tests/RedirectResponseTest.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
  src/Symfony/Component/HttpFoundation/Tests/StreamedResponseTest.php
Labels: Deprecation, HttpFoundation, Status: Reviewed

#34763 [Security/Core] Fix checking for SHA256/SHA512 passwords
  src/Symfony/Component/Security/Core/Encoder/NativePasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/SodiumPasswordEncoder.php
  src/Symfony/Component/Security/Core/Tests/Encoder/NativePasswordEncoderTest.php
  src/Symfony/Component/Security/Core/Tests/Encoder/SodiumPasswordEncoderTest.php
Labels: Bug, Status: Reviewed

#34778 [Cache][Lock] fix tests
  src/Symfony/Component/Cache/Tests/Adapter/PdoAdapterTest.php
  src/Symfony/Component/Lock/Tests/Store/PdoStoreTest.php
Labels: Cache, Lock, Status: Reviewed

#34758 Allow copy instead of symlink for ./link script
  link
Labels: Status: Reviewed

#34721 [MonologBridge] Add test on ServerLogHandler
  src/Symfony/Bridge/Monolog/Tests/Handler/ServerLogHandlerTest.php
Labels: MonologBridge, Status: Needs Review

#34784 [FrameworkBundle] Set the parameter bag as resolved in ContainerLintCommand
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#34786 [SecurityBundle] Use config variable in AnonymousFactory
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AnonymousFactory.php
Labels: Bug, Status: Reviewed

#34779 [Security] do not validate passwords when the hash is null
  src/Symfony/Component/Security/Core/Authentication/Provider/DaoAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Encoder/UserPasswordEncoder.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/DaoAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Validator/Constraints/UserPasswordValidator.php
Labels: Bug, Security, Status: Needs Review

#34759 [SecurityBundle] Fix switch_user provider configuration handling
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#34738 [SecurityBundle] Passwords are not encoded when algorithm set to "true"
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
Labels: Bug, Security, Status: Reviewed

#34797 [Translation] Fix FileDumper behavior
  src/Symfony/Component/Translation/Dumper/FileDumper.php
  src/Symfony/Component/Translation/Tests/Dumper/FileDumperTest.php
Labels: Bug, Status: Reviewed, Translator

#34795 [Routing][ObjectLoader] Remove forgotten deprecation after merge
  src/Symfony/Component/Routing/Loader/ObjectLoader.php
Labels: Routing, Status: Reviewed

#34794 [DependencyInjection] Resolve expressions in CheckTypeDeclarationsPass
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#34776 [DI] fix resolving bindings for named TypedReference
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#34820 [FrameworkBundle][SodiumVault] Create secrets directory only when it is used
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
Labels: FrameworkBundle, Status: Reviewed

#34811 [TwigBridge] Update bootstrap_4_layout.html.twig missing switch-custom label
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
Labels: Bug, Status: Reviewed, TwigBridge

#34765 [DoctrineBridge] Removed QueryBuilder type hint in getLoader()
  src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php
  src/Symfony/Bridge/Doctrine/Form/Type/EntityType.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#34832 [3.4][Validator] Allow underscore character "_" in URL username and password
  src/Symfony/Component/Validator/Constraints/UrlValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
Labels: Bug, Status: Reviewed, Validator

#34755 [FrameworkBundle] resolve service locators in `debug:*` commands
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#34739 [Security] Make remember-me user providers lazy
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/RememberMeFactory.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/RememberMe/AbstractRememberMeServices.php
Labels: Security, SecurityBundle, Status: Reviewed

#34829 [Messenger] "set up" typo fix
  src/Symfony/Component/Messenger/Command/SetupTransportsCommand.php
  src/Symfony/Component/Messenger/Tests/Command/SetupTransportsCommandTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
Labels: Messenger, Status: Reviewed

#34827 [HttpFoundation] get currently session.gc_maxlifetime if ttl doesnt exists
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/RedisSessionHandler.php
Labels: Bug, Status: Reviewed

#34850 [DotEnv] Remove `usePutEnv` property default value
  src/Symfony/Component/Dotenv/Dotenv.php
Labels: Dotenv, Status: Reviewed

#34859 [SecurityBundle] Fix TokenStorage::reset not called in stateless firewall
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterTokenUsageTrackingPass.php
Labels: Bug, SecurityBundle, Status: Reviewed

#34788 [SecurityBundle] Properly escape regex in AddSessionDomainConstraintPass
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/AddSessionDomainConstraintPass.php
Labels: Bug, SecurityBundle, Status: Reviewed

#34802 [Security] Check UserInterface::getPassword is not null before calling needsRehash
  src/Symfony/Component/Security/Core/Encoder/UserPasswordEncoder.php
Labels: Bug, Security, Status: Reviewed

#34856 [Validator] mark the Composite constraint as internal
  src/Symfony/Component/Validator/Constraints/Composite.php
Labels: Status: Reviewed, Validator

#34854 [Messenger] gracefully handle missing event dispatchers
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Worker.php
  src/Symfony/Component/Security/Core/Authorization/Voter/TraceableVoter.php
  src/Symfony/Component/Security/Guard/GuardAuthenticatorHandler.php
  src/Symfony/Component/Security/Http/Firewall/AbstractAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/AbstractPreAuthenticatedListener.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Firewall/RememberMeListener.php
  src/Symfony/Component/Security/Http/Firewall/SimplePreAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Security/Http/Firewall/UsernamePasswordJsonAuthenticationListener.php
  src/Symfony/Component/Workflow/Workflow.php
Labels: Bug, Messenger, Status: Reviewed

#34812 [Yaml] fix parsing negative octal numbers
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Status: Reviewed, Yaml

#34782 [String] inline Latin-ASCII rules
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/Tests/SluggerTest.php
Labels: Bug, Status: Reviewed

#34801 [String] implement __sleep()/__wakeup() on strings
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/UnicodeString.php
Labels: Bug, Status: Reviewed

#34839 [Cache] fix memory leak when using PhpArrayAdapter
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Simple/PhpArrayCache.php
  src/Symfony/Component/Cache/Tests/Adapter/PhpArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PhpArrayAdapterWithFallbackTest.php
  src/Symfony/Component/Cache/Tests/Simple/PhpArrayCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/PhpArrayCacheWithFallbackTest.php
  src/Symfony/Component/Cache/Traits/PhpArrayTrait.php
Labels: Bug, Cache, Status: Reviewed

#34783 [DependencyInjection] Handle env var placeholders in CheckTypeDeclarationsPass
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#34762 [Config] never try loading failed classes twice with ClassExistenceResource
  src/Symfony/Component/Config/Resource/ClassExistenceResource.php
  src/Symfony/Component/Config/Tests/Fixtures/BadFileName.php
  src/Symfony/Component/Config/Tests/Resource/ClassExistenceResourceTest.php
Labels: Bug, Config, Status: Needs Review

#34769 [DependencyInjection] Autowire public typed properties
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowireRequiredPropertiesPass.php
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowireRequiredPropertiesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_74.php
Labels: DependencyInjection, Feature, Status: Reviewed

#34760 [Mailer] Fix SMTP Authentication when using STARTTLS
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
Labels: Bug, Mailer, Status: Reviewed

#34888 [TwigBundle] add tags before processing them
  src/Symfony/Bundle/TwigBundle/TwigBundle.php
Labels: Bug, Status: Reviewed, TwigBundle

#34903 Fixing bad order of operations with null coalescing operator
  src/Symfony/Component/Serializer/Normalizer/ProblemNormalizer.php
Labels: Bug, Status: Reviewed

#34902 [PropertyAccess] forward caught exception
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: PropertyAccess, Status: Reviewed

#34895 [Validator][ConstraintValidator] Stop passing unnecessary timezone argument to \DateTime
  src/Symfony/Component/Validator/ConstraintValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/AbstractComparisonValidatorTestCase.php
Labels: Status: Reviewed, Validator

#34842 [ExpressionLanguage] Process division by zero
  src/Symfony/Component/ExpressionLanguage/Node/BinaryNode.php
  src/Symfony/Component/ExpressionLanguage/composer.json
Labels: Bug, ExpressionLanguage, Status: Needs Review

#34723 [FrameworkBundle] Use UserInterface to @return in getUser method
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
Labels: FrameworkBundle, Security, Status: Reviewed

#34780 [CI] Replace php7.4snapshot with php7.4 in Travis configuration
  .travis.yml
Labels: Status: Needs Review

#34601 [MonologBridge] Fix debug processor datetime type
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bridge/Monolog/Tests/Processor/DebugProcessorTest.php
Labels: Bug, MonologBridge, Status: Reviewed

#34449 [Yaml] Implement multiline string as scalar block for tagged values
  src/Symfony/Component/Yaml/Dumper.php
  src/Symfony/Component/Yaml/Tests/DumperTest.php
  src/Symfony/Component/Yaml/Tests/Fixtures/multiple_lines_as_literal_block_for_tagged_values.yml
Labels: Bug, Status: Reviewed, Yaml

#34438 [HttpFoundation] Use `Cache-Control: must-revalidate` only if explicit lifetime has been given
  src/Symfony/Component/HttpFoundation/ResponseHeaderBag.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseHeaderBagTest.php
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
Labels: Bug, Status: Reviewed

#34896 [Cache] fix memory leak when using PhpFilesAdapter
  src/Symfony/Component/Cache/Tests/Adapter/PhpFilesAdapterAppendOnlyTest.php
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
  src/Symfony/Component/Cache/Traits/PhpFilesTrait.php
Labels: Bug, Cache, Status: Needs Review

#34862 [FrameworkBundle][ContainerLintCommand] Reinitialize bundles when the container is reprepared
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#34848 [Process] change the syntax of portable command lines
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Bug, Process, Status: Needs Review

#34694 [Validator] Fix auto-mapping constraints should not be validated
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Bridge/Doctrine/Validator/DoctrineLoader.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Validator/Mapping/AutoMappingStrategy.php
  src/Symfony/Component/Validator/Mapping/GenericMetadata.php
  src/Symfony/Component/Validator/Mapping/Loader/AutoMappingTrait.php
  src/Symfony/Component/Validator/Mapping/Loader/PropertyInfoLoader.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/PropertyInfoLoaderTest.php
Labels: Bug, Status: Reviewed, Validator

#34912 [Debug] Updated the README to deprecate the component
  src/Symfony/Component/Debug/README.md
Labels: Debug, ErrorHandler, Status: Needs Review

#34917 Don't patch BadFileName.php fixture file
  .github/patch-types.php
Labels: Status: Needs Review

#34787 [Cache] Propagate expiry when syncing items in ChainAdapter
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/ChainAdapterTest.php
Labels: Bug, Cache, Status: Reviewed

#34924 [ErrorHandler] Enabled the dark theme for exception pages
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
  src/Symfony/Component/ErrorHandler/Resources/assets/css/exception.css
  src/Symfony/Component/ErrorHandler/Resources/views/exception_full.html.php
Labels: ErrorHandler, Feature, Status: Reviewed

#34920 [Routing] fix memoryleak when loading compiled routes
  src/Symfony/Component/Routing/Router.php
Labels: Bug, Routing, Status: Reviewed

#34918 [Translation] fix memoryleak in PhpFileLoader
  src/Symfony/Component/Translation/Loader/PhpFileLoader.php
Labels: Bug, Status: Reviewed, Translator

#34886 [HttpKernel] fix triggering deprecation in file locator
  src/Symfony/Component/HttpKernel/Config/FileLocator.php
Labels: Bug, HttpKernel, Status: Reviewed

#34921 [HttpFoundation] Removed "Content-Type" from the preferred format guessing mechanism
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#34878 [TwigBundle] fix broken FilesystemLoader::exists() with Twig 3
  src/Symfony/Bundle/TwigBundle/Loader/FilesystemLoader.php
  src/Symfony/Bundle/TwigBundle/Tests/Loader/FilesystemLoaderTest.php
Labels: Bug, Status: Reviewed

#34923 [DI] Fix support for immutable setters in CallTrait
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/CallTrait.php
Labels: DependencyInjection, Feature, Status: Reviewed

#34949 [DoctrineBridge] try to fix deprecations from doctrine/persistence
  src/Symfony/Bridge/Doctrine/CacheWarmer/ProxyCacheWarmer.php
  src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterMappingsPass.php
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/DoctrineChoiceLoader.php
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/IdReader.php
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmExtension.php
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.php
  src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php
  src/Symfony/Bridge/Doctrine/Form/Type/EntityType.php
  src/Symfony/Bridge/Doctrine/ManagerRegistry.php
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/RegistryInterface.php
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Bridge/Doctrine/Test/TestRepositoryFactory.php
  src/Symfony/Bridge/Doctrine/Tests/DataCollector/DoctrineDataCollectorTest.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/ContainerAwareFixture.php
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/DoctrineChoiceLoaderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/DoctrineOrmTypeGuesserTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypePerformanceTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php
  src/Symfony/Bridge/Doctrine/Validator/DoctrineInitializer.php
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Bug, DoctrineBridge, Status: Needs Review

#34955 Require doctrine/persistence ^1.3
  composer.json
  src/Symfony/Bridge/Doctrine/CacheWarmer/ProxyCacheWarmer.php
  src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/DoctrineChoiceLoader.php
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/IdReader.php
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmExtension.php
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.php
  src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php
  src/Symfony/Bridge/Doctrine/Form/Type/EntityType.php
  src/Symfony/Bridge/Doctrine/ManagerRegistry.php
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/RegistryInterface.php
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Bridge/Doctrine/Test/DoctrineTestHelper.php
  src/Symfony/Bridge/Doctrine/Test/TestRepositoryFactory.php
  src/Symfony/Bridge/Doctrine/Tests/DataCollector/DoctrineDataCollectorTest.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/ContainerAwareFixture.php
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/DoctrineChoiceLoaderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/DoctrineOrmTypeGuesserTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypePerformanceTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php
  src/Symfony/Bridge/Doctrine/Validator/DoctrineInitializer.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, Status: Reviewed

#34963 [Lock] fix constructor argument type declaration
  src/Symfony/Component/Lock/Factory.php
  src/Symfony/Component/Lock/Tests/LockFactoryTest.php
Labels: Bug, Lock, Status: Reviewed

#34967 [HttpFoundation] fix redis multi host dsn not recognized
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/SessionHandlerFactory.php
Labels: Bug, Status: Reviewed

#34922 [FrameworkBundle][Secrets] Hook configured local dotenv file
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/secrets.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#34916 [DI] Add support for defining method calls in InlineServiceConfigurator
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/Configurator/InlineServiceConfigurator.php
Labels: DependencyInjection, Feature, Status: Reviewed

#34957 [Security] Revert "AbstractAuthenticationListener.php error instead info"
  src/Symfony/Component/Security/Http/Firewall/AbstractAuthenticationListener.php
Labels: Bug, Security, Status: Reviewed

#34935 [FrameworkBundle][DependencyInjection] Skip removed ids in the lint container command and its associated pass
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
Labels: Bug, DependencyInjection, FrameworkBundle, Status: Reviewed

#34904 [Validator][ConstraintValidator] Safe fail on invalid timezones
  src/Symfony/Component/Validator/ConstraintValidator.php
  src/Symfony/Component/Validator/Tests/ConstraintValidatorTest.php
Labels: Bug, Status: Reviewed, Validator

#34872 [FrameworkBundle] Added flex-compatible default implementations for `MicroKernelTrait::registerBundles()` and `getProjectDir()`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#34873 [FrameworkBundle] Allow using a ContainerConfigurator in MicroKernelTrait::configureContainer()
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/ConcreteMicroKernel.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelTraitTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelWithConfigureRoutes.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/Configurator/RoutingConfigurator.php
  src/Symfony/Component/Routing/RouteCollectionBuilder.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#34973 [SecurityBundle][FirewallMap] Remove unused property
  src/Symfony/Bundle/SecurityBundle/Security/FirewallMap.php
Labels: SecurityBundle, Status: Reviewed

#34975 [Messenger] Fixed syntax in comment
  src/Symfony/Component/Messenger/Handler/MessageSubscriberInterface.php
Labels: Messenger, Status: Reviewed

#34981 stop using deprecated Doctrine persistence classes
  src/Symfony/Bridge/Doctrine/ManagerRegistry.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#34978 [Cache] Fix wrong classname in deprecation message
  src/Symfony/Component/Cache/Simple/ApcuCache.php
Labels: Bug, Status: Needs Review

#34976 Fix regex lookahead syntax in ApplicationTest
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Status: Reviewed

#34966 [DI] Improve performance of processDefinition
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInstanceofConditionalsPass.php
Labels: DependencyInjection, Performance, Status: Reviewed

#34915 [FrameworkBundle] Fix invalid Windows path normalization in TemplateNameParser
  src/Symfony/Bundle/FrameworkBundle/Templating/TemplateNameParser.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/TemplateNameParserTest.php
Labels: Bug, Status: Reviewed

#34956 [Messenger][AMQP] Use delivery_mode=2 by default
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
Labels: Messenger, Status: Reviewed

#34791 [Serializer] Skip uninitialized (PHP 7.4) properties in PropertyNormalizer and ObjectNormalizer
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Php74Dummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Bug, Serializer, Status: Reviewed

#34900 [DoctrineBridge] Fixed submitting invalid ids when using queries with limit
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/ORMQueryBuilderLoader.php
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#34887 [FrameworkBundle] Add info & example to auto_mapping config
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: FrameworkBundle, Status: Reviewed

#34991 CS for AccessDecisionManager
  src/Symfony/Component/Security/Core/Authorization/AccessDecisionManager.php
Labels: Status: Reviewed

#34985 [FrameworkBundle][ContainerLintCommand] Improve messages when the kernel or the container is not supported
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
Labels: FrameworkBundle, Status: Reviewed

#29839 [Validator] fix comparisons with null values at property paths
  src/Symfony/Component/Validator/Constraints/GreaterThanOrEqualValidator.php
  src/Symfony/Component/Validator/Constraints/GreaterThanValidator.php
  src/Symfony/Component/Validator/Constraints/LessThanOrEqualValidator.php
  src/Symfony/Component/Validator/Constraints/LessThanValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/AbstractComparisonValidatorTestCase.php
  src/Symfony/Component/Validator/Tests/Constraints/EqualToValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanOrEqualValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/IdenticalToValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanOrEqualValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/NotEqualToValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/NotIdenticalToValidatorTest.php
Labels: Bug, Ready, Status: Reviewed, Validator

#34994 [Validator] skip not applicable tests
  src/Symfony/Component/Validator/Tests/Constraints/LessThanOrEqualValidatorWithNegativeOrZeroConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanValidatorWithNegativeConstraintTest.php
Labels: Status: Needs Review, Validator

#34977 [EventDispatcher] Deprecate LegacyEventDispatcherProxy
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Component/EventDispatcher/CHANGELOG.md
  src/Symfony/Component/EventDispatcher/LegacyEventDispatcherProxy.php
  src/Symfony/Component/Mailer/Mailer.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Worker.php
  src/Symfony/Component/Notifier/Chatter.php
  src/Symfony/Component/Notifier/Texter.php
  src/Symfony/Component/Notifier/Transport/AbstractTransport.php
  src/Symfony/Component/Notifier/Transport/AbstractTransportFactory.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Deprecation, EventDispatcher, Status: Reviewed

#34996 Fix displaying anonymous classes on PHP 7.4
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Debug/Exception/FlattenException.php
  src/Symfony/Component/Debug/ExceptionHandler.php
  src/Symfony/Component/Debug/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/VarDumper/Caster/ClassStub.php
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
Labels: Bug, Status: Needs Review

#34707 [Validation][FrameworkBundle] Allow EnableAutoMapping to work without auto-mapping namespaces
  UPGRADE-4.4.md
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/DependencyInjection/AddAutoMappingConfigurationPass.php
  src/Symfony/Component/Validator/Mapping/Loader/AutoMappingTrait.php
  src/Symfony/Component/Validator/Tests/DependencyInjection/AddAutoMappingConfigurationPassTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/PropertyInfoLoaderTest.php
Labels: BC Break, Bug, DoctrineBridge, FrameworkBundle, Ready, Status: Reviewed

#34881 [FrameworkBundle] Allow using the kernel as a registry of controllers and service factories
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelTraitTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/flex-style/config/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/flex-style/src/FlexStyleMicroKernel.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/DependencyInjection/Loader/Configurator/AbstractConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ServicesConfigurator.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
Labels: Feature, FrameworkBundle, Ready, Status: Reviewed

#35005 [HttpClient] force HTTP/1.1 when NTLM auth is used
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: Bug, HttpClient, Status: Needs Review

#35000 [Console][SymfonyQuestionHelper] Handle multibytes question choices keys and custom prompt
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Helper/SymfonyQuestionHelper.php
  src/Symfony/Component/Console/Tests/Helper/SymfonyQuestionHelperTest.php
Labels: Bug, Console, Status: Reviewed

#33670 [DI] Service locators can't be decorated
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
Labels: DependencyInjection, Ready, Status: Reviewed

#34954 [Mailer] Fixed undefined index when sending via Mandrill API
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillApiTransport.php
Labels: Bug, Mailer, Ready, Status: Reviewed

#34998 [DI] fix auto-binding service providers to their service subscribers
  src/Symfony/Component/DependencyInjection/Compiler/RegisterServiceSubscribersPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestServiceSubscriber.php
Labels: Bug, DependencyInjection, Status: Needs Review

#35008 [Console][QuestionHelper] Use string type declaration
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Console, Status: Reviewed

#35020 [HttpFoundation] use utf8mb4_bin to align code with documentation
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
Labels: Bug, HttpFoundation, Status: Reviewed

#35010 [VarDumper] ignore failing __debugInfo()
  src/Symfony/Component/VarDumper/Caster/Caster.php
Labels: Bug, Status: Needs Review, VarDumper

#35014 [HttpClient] make pushed responses retry-able
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Internal/PushedResponse.php
Labels: Bug, HttpClient, Status: Needs Review

#35015 [Config] fix perf of glob discovery when GLOB_BRACE is not available
  src/Symfony/Component/Config/Resource/GlobResource.php
  src/Symfony/Component/Config/Tests/Resource/GlobResourceTest.php
Labels: Config, Performance, Status: Needs Review

#35028 [TwigBridge] Fix invalid typehint for subject in is_granted Twig function
  src/Symfony/Bridge/Twig/Extension/SecurityExtension.php
Labels: Bug, Status: Reviewed, TwigBridge

#35027 Docs - Update debug section of UPGRADE guides for 4.4 and 5.0 versions.
  UPGRADE-4.4.md
  UPGRADE-5.0.md
Labels: Status: Reviewed

#35025 [HttpClient][Psr18Client] Remove Psr18ExceptionTrait
  src/Symfony/Component/HttpClient/Psr18Client.php
Labels: Bug, HttpClient, Status: Reviewed

#35024 [HttpFoundation] fix pdo session handler for sqlsrv
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
Labels: Bug, HttpFoundation, Status: Reviewed

#35023 [HttpKernel] ignore failures generated by opcache.restrict_api
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, HttpKernel, Status: Reviewed

#35022 [Dotenv] FIX missing getenv
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
Labels: Bug, Dotenv, Status: Reviewed

#35021 [DI] Enable inline_class_loader in debug mode
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: DependencyInjection, Status: Needs Review

#35029 [DI] allow "." and "-" in env processor lines
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/DependencyInjection/ParameterBag/EnvPlaceholderParameterBag.php
  src/Symfony/Component/DependencyInjection/Tests/ParameterBag/EnvPlaceholderParameterBagTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#35036 [HttpFoundation] Remove obsolete reference
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
Labels: Status: Needs Review

#35044 [DoctrineBridge] Cleanup 3.4 legacy
  src/Symfony/Bridge/Doctrine/ManagerRegistry.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#35049 [ProxyManager] fix generating proxies for root-namespaced classes
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/Fixtures/php/lazy_service_structure.txt
Labels: Bug, Status: Needs Review

#35039 [DI] skip looking for config class when the extension class is anonymous
  src/Symfony/Component/DependencyInjection/Extension/Extension.php
Labels: Bug, DependencyInjection, Status: Reviewed

#35051 [DependencyInjection] Fix binding tagged services to containers
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/NamedArgumentsDummy.php
Labels: Bug, DependencyInjection, Status: Needs Review

#35053 Release v4.4.2
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#35055 Release v5.0.2
  CHANGELOG-5.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#35090 Add note about HTTP status code change
  UPGRADE-4.4.md
Labels: Status: Reviewed, TwigBundle

#35094 [Console] Fix filtering out identical alternatives when there is a command loader
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Bug, Console, Status: Reviewed

#35056 Fixed test added in #35022
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
Labels: Bug, Deprecation, Feature, Status: Needs Review

#35064 [Validator] Add the missing translations for the Chinese (Taiwan) ("zh_TW") locale
  src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf
Labels: Status: Reviewed, Validator

#35075 X-Accel Nginx URL updated
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
Labels: Status: Needs Review

#35080 [Notifier] Add phpdoc types to supported schemes method
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport/AbstractTransportFactory.php
Labels: Status: Reviewed

#35093 [String][UnicodeString] Remove unneeded flag in chunk regex pattern
  src/Symfony/Component/String/UnicodeString.php
Labels: Status: Needs Review

#35106 Use spaces correctly to display options in DebugCommand
  src/Symfony/Component/Messenger/Command/DebugCommand.php
  src/Symfony/Component/Messenger/Tests/Command/DebugCommandTest.php
Labels: Bug, Status: Reviewed

#35079 [Serializer] add array cache in front of serializer cache
  src/Symfony/Component/Serializer/Mapping/Factory/CacheClassMetadataFactory.php
Labels: Cache, Performance, Status: Reviewed

#35067 [DependencyInjection][CheckTypeDeclarationsPass] Handle \Closure for callable
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/BarMethodCall.php
Labels: Bug, DependencyInjection, Status: Reviewed

#35091 [String] Add the reverse() method
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/CHANGELOG.md
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
Labels: Feature, Status: Reviewed

#34768 [FrameworkBundle] Remove env var table from AboutCommand
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
Labels: FrameworkBundle, Status: Reviewed

#34986 [Form] Added default `inputmode` attribute to Search, Email and Tel form types
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/EmailType.php
  src/Symfony/Component/Form/Extension/Core/Type/SearchType.php
  src/Symfony/Component/Form/Extension/Core/Type/TelType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/EmailTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/SearchTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TelTypeTest.php
Labels: Feature, Form, Status: Reviewed

#35060 [Security] Fix missing defaults for auto-migrating encoders
  src/Symfony/Component/Security/Core/Encoder/EncoderFactory.php
  src/Symfony/Component/Security/Core/Tests/Encoder/EncoderFactoryTest.php
Labels: Bug, Security, Status: Needs Review

#34869 [Console] Improve speed NullOutput
  src/Symfony/Component/Console/Formatter/NullOutputFormatter.php
  src/Symfony/Component/Console/Formatter/NullOutputFormatterStyle.php
  src/Symfony/Component/Console/Output/NullOutput.php
  src/Symfony/Component/Console/Tests/Formatter/NullOutputFormatterStyleTest.php
  src/Symfony/Component/Console/Tests/Formatter/NullOutputFormatterTest.php
  src/Symfony/Component/Console/Tests/Output/NullOutputTest.php
Labels: Console, Feature, Performance, Status: Reviewed

#35016 [Profiler] wording
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/info.html.twig
Labels: Status: Reviewed, WebProfilerBundle

#35103 [Translation] Use `locale_parse` for computing fallback locales
  src/Symfony/Component/Translation/Tests/TranslatorTest.php
  src/Symfony/Component/Translation/Translator.php
Labels: Bug, Status: Reviewed, Translator

#35122 [Translation] Add missing use statement
  src/Symfony/Component/Translation/DataCollector/TranslationDataCollector.php
Labels: Status: Reviewed, Translator

#35113 [VarDumper] Fix "Undefined index: argv" when using CliContextProvider
  src/Symfony/Component/VarDumper/Dumper/ContextProvider/CliContextProvider.php
Labels: Bug, Status: Reviewed

#35117 [Cache] do not overwrite variable value
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
Labels: Bug, Cache, Status: Reviewed

#35120 [HttpClient] fix scheduling pending NativeResponse
  src/Symfony/Component/HttpClient/Internal/NativeClientState.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
Labels: Bug, HttpClient, Status: Needs Review

#35152 Fix Nexmo notifier bridge namespace
  src/Symfony/Component/Notifier/Bridge/Nexmo/composer.json
Labels: Bug, Status: Reviewed

#35148 [HttpClient] fix typo
  src/Symfony/Component/HttpClient/NativeHttpClient.php
Labels: Bug, HttpClient, Status: Reviewed

#35141 [Console][FormatterHelper] Use helper strlen statically and remove duplicated code
  src/Symfony/Component/Console/Helper/FormatterHelper.php
Labels: Console, Status: Reviewed

#35132 [DebugBundle] Make RemoveWebServerBundleLoggerPass internal
  src/Symfony/Bundle/DebugBundle/DependencyInjection/Compiler/RemoveWebServerBundleLoggerPass.php
Labels: DebugBundle, Status: Needs Review

#35149 doctrine/doctrine-bundle ^1.5 is not compatible with Symfony 5
  composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: Status: Reviewed

#35133 [DebugBundle] Drop RemoveWebServerBundleLoggerPass
  src/Symfony/Bundle/DebugBundle/DebugBundle.php
  src/Symfony/Bundle/DebugBundle/DependencyInjection/Compiler/RemoveWebServerBundleLoggerPass.php
Labels: DebugBundle, Status: Needs Review

#35125 [Translator] fix performance issue in MessageCatalogue and catalogue operations
  src/Symfony/Component/Translation/MessageCatalogue.php
Labels: Performance, Status: Reviewed, Translator
