Repository symfony/symfony, pull requests merged in 2019-02, with the labels that each got.

#30050 [Cache] fix pruning pdo cache for vendors that throw on execute
  src/Symfony/Component/Cache/Traits/PdoTrait.php
Labels: Bug, Status: Reviewed

#30048 [DependencyInjection] Fix serialization of \Closure in RemoveUnusedDefinitionsPass
  src/Symfony/Component/DependencyInjection/Compiler/RemoveUnusedDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RemoveUnusedDefinitionsPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#30030 Use system wide memcached.so
  .travis.yml
Labels: Status: Needs Review

#30068 Release v4.2.3
  CHANGELOG-4.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#27898 [Yaml] Fixed invalid Parser behavior
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Component/Yaml/CHANGELOG.md
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#30087 [PhpUnitBridge] fix PHP 5.3 compat
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/default.phpt
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/fake_vendor/acme/lib/deprecation_riddled.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/shutdown_deprecations.phpt
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/weak_vendors_on_non_vendor.phpt
Labels: Bug, PhpUnitBridge, Status: Reviewed

#30078 [Messenger] Fix DataCollector template
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/messenger.html.twig
Labels: Bug, Messenger, Status: Reviewed

#30069 [VarDumper] Fixed phpDoc
  src/Symfony/Component/VarDumper/Dumper/AbstractDumper.php
Labels: Status: Reviewed, VarDumper

#30065 [Filesystem] Fixed some docblocks and typos
  src/Symfony/Component/Filesystem/Exception/IOExceptionInterface.php
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: Filesystem, Status: Reviewed

#30074 Fix wrong value in file id attribute for Xliff 2.0
  src/Symfony/Component/Translation/Dumper/XliffFileDumper.php
  src/Symfony/Component/Translation/Tests/Dumper/XliffFileDumperTest.php
  src/Symfony/Component/Translation/Tests/fixtures/resources-2.0+intl-icu.xlf
Labels: Bug, Status: Reviewed, Translator

#30062 [Form] do not overwrite the constraint being evaluated
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
Labels: Bug, Form, Status: Reviewed

#30058 [Routing] fix perf issue when dumping large number of routes
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
Labels: Bug, Performance, Routing, Status: Reviewed

#30052 [Security] Replace serialization API
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/AnonymousToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/RememberMeToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
  src/Symfony/Component/Security/Core/Exception/AccountStatusException.php
  src/Symfony/Component/Security/Core/Exception/AuthenticationException.php
  src/Symfony/Component/Security/Core/Exception/CustomUserMessageAuthenticationException.php
  src/Symfony/Component/Security/Core/Exception/UsernameNotFoundException.php
  src/Symfony/Component/Security/Guard/Token/PostAuthenticationGuardToken.php
Labels: Deprecation, Security, Status: Reviewed

#30024 [Debug] Display more details in the simple error page of Debug
  src/Symfony/Component/Debug/ExceptionHandler.php
  src/Symfony/Component/Debug/Tests/ExceptionHandlerTest.php
Labels: Debug, Feature, Status: Reviewed

#29884 [Form] CsrfValidationListener marks the token as invalid if it is not a string
  src/Symfony/Component/Form/Extension/Csrf/EventListener/CsrfValidationListener.php
  src/Symfony/Component/Form/Tests/Extension/Csrf/EventListener/CsrfValidationListenerTest.php
Labels: Bug, Form, Status: Reviewed, Validator

#30100 [FrameworkBundle] Update the xsd to match the actual session configuration
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, FrameworkBundle, Status: Needs Review

#30101 [FrameworkBundle] update xsd to match the 4.2 configuration
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, FrameworkBundle, Status: Reviewed

#30106 [FrameworkBundle] fix xsd
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, FrameworkBundle, Status: Needs Review

#30102 [Workflow] Graphviz dumper escape not always a string
  src/Symfony/Component/Workflow/Dumper/GraphvizDumper.php
Labels: Bug, Status: Reviewed, Workflow

#30075 [DependencyInjection] Added information about deprecated aliases in debug:autowiring
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/AliasTest.php
  src/Symfony/Component/DependencyInjection/Tests/DefinitionTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/deprecated_alias_definitions.xml
Labels: DependencyInjection, Feature, Status: Reviewed

#30093 [DependencyInjection] add $lazyLoad context to the generated code for lazy non-shared service by PhpDumper
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_non_shared_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/foo_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
Labels: Bug, DependencyInjection, Status: Reviewed

#30108 [Form] replace mocks with real objects in tests
  src/Symfony/Component/Form/Tests/AbstractRequestHandlerTest.php
  src/Symfony/Component/Form/Tests/DependencyInjection/FormPassTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataMapper/PropertyPathMapperTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/FixUrlProtocolListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/MergeCollectionListenerArrayObjectTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/MergeCollectionListenerArrayTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/MergeCollectionListenerCustomArrayObjectTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/MergeCollectionListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/ResizeFormListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/TrimListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FileTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Csrf/EventListener/CsrfValidationListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/DependencyInjection/DependencyInjectionExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/HttpFoundation/HttpFoundationRequestHandlerTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/EventListener/ValidationListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/FormTypeValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/UploadValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Util/ServerParamsTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ValidatorTypeGuesserTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/ViolationMapperTest.php
  src/Symfony/Component/Form/Tests/NativeRequestHandlerTest.php
Labels: Form, Status: Reviewed

#30084 Fix KernelTestCase compatibility for PhpUnit 8
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
Labels: Bug, Status: Reviewed

#30076 [Form] ignore _method forms in NativeRequestHandler
  src/Symfony/Component/Form/NativeRequestHandler.php
  src/Symfony/Component/Form/Tests/NativeRequestHandlerTest.php
Labels: Bug, Form, Status: Reviewed

#30063 [Form] don't lose int precision with not needed type casts
  src/Symfony/Component/Form/Extension/Core/DataTransformer/IntegerToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/IntegerTypeTest.php
Labels: Bug, Form, Status: Reviewed

#30061 [Form] render integer types with grouping as text input
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Form/Extension/Core/Type/IntegerType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
Labels: Bug, Form, Status: Reviewed

#30027 [FrameworkBundle] Add sid_length and sid_bits_per_character session ini options in session configuration
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Feature, FrameworkBundle, Status: Reviewed

#30057 New extensions were released supporting PHP 7.3
  .travis.yml
Labels: Status: Needs Review

#30112 Remove "internal" annotation from datacollector serialization methods
  src/Symfony/Component/Form/Extension/DataCollector/FormDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
Labels: Status: Needs Review

#30113 [Form] replace mocks with real objects in tests
  src/Symfony/Component/Form/Tests/Extension/DependencyInjection/DependencyInjectionExtensionTest.php
Labels: Form, Status: Needs Review

#30130 [WebProfilerBundle] Add ajax request number
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/ajax.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Status: Reviewed, WebProfilerBundle

#30064 [Form][MappingRule] Remove unnecessary cast
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/MappingRule.php
Labels: Form, Status: Reviewed

#30119 [Form] add missing null return type
  src/Symfony/Component/Form/FormTypeGuesserInterface.php
Labels: Bug, Form, Status: Reviewed

#30142 add xabbuh as code owner of the Form component
  .github/CODEOWNERS
Labels: Status: Reviewed

#30124 Fix KernelTestCase compatibility for PhpUnit 8 (bis)
  src/Symfony/Bundle/FrameworkBundle/Test/KernelShutdownOnTearDownTrait.php
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#30144 [Validator] Added a missing translation
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
Labels: Status: Reviewed, Validator

#30143 [PhpunitBridge] dropping ext-zip suggestion as its no longer needed
  src/Symfony/Bridge/PhpUnit/composer.json
Labels: Bug, PhpUnitBridge, Status: Reviewed

#30136 use PropertyAccessorInterface instead of PropertyAccessor
  src/Symfony/Component/Validator/Constraints/AbstractComparisonValidator.php
Labels: Status: Reviewed, Validator

#30132 [Form] add back test after fixing it
  src/Symfony/Component/Form/Tests/AbstractRequestHandlerTest.php
Labels: Form, Status: Reviewed

#30122 [Security] fix switch user without having current token
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
Labels: Bug, Security, Status: Reviewed

#30111 [SecurityBundle] Deprecate the normalization of the cookie names
  UPGRADE-5.0.md
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/logout_delete_cookies.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/logout_delete_cookies.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/logout_delete_cookies.yml
Labels: SecurityBundle, Status: Reviewed

#30001 [FrameworkBundle] consolidate the mime types service definition
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mime_type.xml
Labels: FrameworkBundle, Status: Reviewed

#30199 [Validator] Add the missing translations for the French (fr) locale
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
Labels: Bug, Status: Reviewed, Validator

#30201 [Validator] Add the missing translations for the Portuguese ("pt") locale
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
Labels: Status: Reviewed, Validator

#30214 [Validator] Add missing translation for Polish (pl) locale
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Bug, Status: Reviewed, Validator

#30209 [Validator] Add missing translations for IT to Validator
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Bug, Status: Reviewed, Validator

#30210 [Validator] Add the missing translations for the Galician (gl) locale
  src/Symfony/Component/Validator/Resources/translations/validators.gl.xlf
Labels: Bug, Status: Reviewed, Validator

#30202 [Validator] Add missing DE validator translations
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
Labels: Bug, Status: Reviewed, Validator

#30205 [Validator] Add the missing translations for the Arabic (ar) locale
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
Labels: Bug, Status: Reviewed, Validator

#30208 [Validator] Add the missing translations for the Welsh (cy) locale
  src/Symfony/Component/Validator/Resources/translations/validators.cy.xlf
Labels: Bug, Status: Reviewed, Validator

#30200 Update validators.hu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
Labels: Bug, Status: Reviewed

#30198 Update validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
Labels: Bug, Status: Reviewed

#30203 Added missing translations in validators.tr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
Labels: Bug, Status: Reviewed

#30204 Add missing ID_id validators translation
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
Labels: Status: Reviewed

#30157 [Validator] Add some missing contents to the English translation
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
Labels: Bug, Status: Reviewed, Validator

#30207 [Validator] Add the missing translations for the Russian (ru) locale
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
Labels: Bug, Status: Reviewed, Validator

#30216 [Validator] Add the missing translations for the Dutch (nl) locale
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
Labels: Status: Reviewed, Validator

#30217 Update validators.sq.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sq.xlf
Labels: Status: Needs Review

#30219 Validator: add the Persian translations
  src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf
Labels: Status: Reviewed

#29767 Nullable environment variable processor
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterEnvVarProcessorsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: Feature, Status: Reviewed

#28635 [Form] Add label_translation_parameters, help_translation_parameters and attr_translation_parameters options to base form type
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/Fixtures/StubTranslator.php
  src/Symfony/Bridge/Twig/Tests/Extension/Fixtures/templates/form/custom_widgets.html.twig
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/attributes.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/button_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_help.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_label.html.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/Fixtures/StubTranslator.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/BaseType.php
  src/Symfony/Component/Form/Extension/Core/Type/FormType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BaseTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FormTypeTest.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.txt
Labels: Feature, Status: Reviewed, Translator

#30126 [Form] forward valid numeric values to transform()
  src/Symfony/Component/Form/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformerTest.php
Labels: Bug, Form, Status: Reviewed

#28477 [Validator] Add new json Validator
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Json.php
  src/Symfony/Component/Validator/Constraints/JsonValidator.php
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Tests/Constraints/JsonValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#30220 [Validator] added missing translation for UK validator
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
Labels: Bug, Status: Reviewed, Validator

#29121 [FrameworkBundle][Translation] Add support for Translator paths, Twig paths and Translator aware services paths in commands
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/DependencyInjection/TranslationDebugPass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TestBundle.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/TranslationDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TransDebug/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TransDebug/config.yml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPass.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/TranslationPassTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed, Translator

#30090 [FrameworkBundle] add constraint validators before optimizations
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#28812 [Form] add a convenience method to get the parent form in Twig templates
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/FormExtension.php
Labels: Feature, Form, Status: Reviewed

#30224 Update validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
Labels: Bug, Status: Reviewed

#30223 Updated validators.eu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf
Labels: Status: Reviewed, Validator

#30232 [FrameworkBundle][TwigBridge] fix tests
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractDivLayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractTableLayoutTest.php
Labels: Status: Needs Review, TwigBridge

#30238 properly move test methods
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionDivLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionTableLayoutTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperDivLayoutTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperTableLayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractDivLayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractTableLayoutTest.php
Labels: Status: Needs Review

#30227 Update validators.bg.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf
Labels: Bug, Status: Reviewed, Validator

#30234 [Routing] fix changelog typo
  src/Symfony/Component/Routing/CHANGELOG.md
Labels: Routing, Status: Reviewed

#30241 allow to skip tests based on the supported version
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypePerformanceTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionDivLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionTableLayoutTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperDivLayoutTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperTableLayoutTest.php
  src/Symfony/Component/Form/Test/FormPerformanceTestCase.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BaseTypeTest.php
  src/Symfony/Component/Form/Tests/VersionAwareTest.php
Labels: DoctrineBridge, Form, FrameworkBundle, Status: Reviewed, TwigBridge

#30246 (finally) fix version dependent Form tests
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionDivLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionTableLayoutTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperDivLayoutTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperTableLayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BaseTypeTest.php
Labels: DoctrineBridge, Form, FrameworkBundle, Status: Needs Review, TwigBridge

#30231 [FrameworkBundle] ignore not-existent service definitions
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#30262 [TwigBridge] fix tests by adapting Twig namespace changes
  src/Symfony/Bridge/Twig/Tests/Node/TransNodeTest.php
Labels: Status: Reviewed, TwigBridge

#30251 #30172 Add the missing validation translations for the Luxembourgish …
  src/Symfony/Component/Validator/Resources/translations/validators.lb.xlf
Labels: Bug, Status: Reviewed, Validator

#30242 Update validators.lt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
Labels: Bug, Status: Needs Work

#30239 Add missing Romanian translations for validator
  src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf
Labels: Status: Reviewed, Validator

#30233 [Twig] removed usage of non-namespaced classes
  src/Symfony/Bridge/Twig/DataCollector/TwigDataCollector.php
Labels: Status: Needs Review

#30245 fix lost namespace in eval
  src/Symfony/Bundle/FrameworkBundle/Test/KernelShutdownOnTearDownTrait.php
Labels: Bug, Status: Reviewed

#30120 [FrameworkBundle][Translation] Added support for PHP files with trans() in translation commands
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Controller/TransController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TransDebug/TransConstructArgService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TransDebug/TransMethodCallsService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TransDebug/TransPropertyService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TransDebug/TransSubscriberService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/TranslationDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TransDebug/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TransDebug/services.yml
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPathsPass.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/TranslationPathsPassTest.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/fixtures/ControllerArguments.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/fixtures/ServiceArguments.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/fixtures/ServiceMethodCalls.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/fixtures/ServiceProperties.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/fixtures/ServiceSubscriber.php
Labels: Feature, FrameworkBundle, Status: Reviewed, Translator

#30264 [Debug][ErrorHandler] Preserve next error handler
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/Debug/Tests/ErrorHandlerTest.php
  src/Symfony/Component/Debug/Tests/Fixtures/ErrorHandlerThatUsesThePreviousOne.php
  src/Symfony/Component/Debug/Tests/Fixtures/LoggerThatSetAnErrorHandler.php
Labels: Bug, Debug, Status: Needs Review

#30261 [Translation] restore compatibility with FrameworkBundle 4.2
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPass.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/TranslationPassTest.php
Labels: Bug, Status: Reviewed, Translator

#30247 Don't resolve the Deprecation error handler mode until a deprecation is triggered
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
Labels: Bug, Status: Reviewed

#30236 Add element to ghost in Exception
  src/Symfony/Component/Debug/ExceptionHandler.php
Labels: Status: Reviewed

#30273 [Validator] Added missing use statement for UnexpectedTypeException
  src/Symfony/Component/Validator/Constraints/CountValidator.php
Labels: Bug, Status: Reviewed, Validator

#30274 [VarDumper] fix serializing Stub instances
  src/Symfony/Component/VarDumper/Cloner/Stub.php
Labels: Bug, Status: Needs Review, VarDumper

#30051 Drop \Serializable implementations
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Resource/ClassExistenceResource.php
  src/Symfony/Component/Config/Resource/ComposerResource.php
  src/Symfony/Component/Config/Resource/DirectoryResource.php
  src/Symfony/Component/Config/Resource/FileExistenceResource.php
  src/Symfony/Component/Config/Resource/FileResource.php
  src/Symfony/Component/Config/Resource/GlobResource.php
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/Config/ResourceCheckerConfigCache.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Config/ContainerParametersResource.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/FormError.php
  src/Symfony/Component/Form/Tests/Extension/DataCollector/FormDataCollectorTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
Labels: BC Break, Status: Reviewed

#30278 Remove unnecessary ProgressBar stdout writes (fixes flickering)
  src/Symfony/Component/Console/Helper/ProgressBar.php
Labels: Bug, Console, Status: Reviewed

#30276 [Validator] improve translations for albanian ("sq") locale
  src/Symfony/Component/Validator/Resources/translations/validators.sq.xlf
Labels: Status: Reviewed, Validator

#30279 [TwigBridge] Fix test
  src/Symfony/Bridge/Twig/Tests/Node/TransNodeTest.php
Labels: Status: Needs Review, TwigBridge

#30282 [Security\Guard] bump lowest version of security-core
  src/Symfony/Component/Security/Guard/composer.json
Labels: Status: Reviewed

#30284 [Validator] Added missing translations for Norwegian ("no") locale #30179
  src/Symfony/Component/Validator/Resources/translations/validators.no.xlf
Labels: Status: Reviewed

#30237 [Translation] Added a script to display the status of translations
  src/Symfony/Component/Translation/Resources/bin/translation-status.php
Labels: Status: Reviewed, Translator

#30292 [Validator] Sync Norwegian translation files
  src/Symfony/Component/Validator/Resources/translations/validators.nb.xlf
Labels: Status: Reviewed, Validator

#30295 [VarDumper] dump Closures' parameters once: in their signatures
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/HtmlDumperTest.php
Labels: Status: Reviewed, VarDumper

#30296 [VarDumper] link paths in stack traces to IDE
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
Labels: Status: Needs Review, VarDumper

#30271 [Console] Fix command testing with missing user inputs
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Tester/CommandTester.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
  src/Symfony/Component/Console/Tests/Helper/SymfonyQuestionHelperTest.php
  src/Symfony/Component/Console/Tests/Tester/CommandTesterTest.php
Labels: Bug, Console, Status: Reviewed

#30305 [Form] Fix describing closures
  src/Symfony/Component/Form/Console/Descriptor/TextDescriptor.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/default_option_with_normalizer.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/overridden_option_with_default_closures.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/required_option_with_allowed_values.txt
Labels: Form, Status: Needs Review

#30309 [Validator] Add the missing translations for the Greek (el) locale
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
Labels: Status: Needs Review, Validator

#30308 [Validator] Added missing translations pt_BR
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
Labels: Status: Needs Review, Validator

#30294 [FrameworkBundle] Fix Descriptor throwing on non existent parent
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#30230 [Form] undeprecate date formats in single_text widgets
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
Labels: Bug, Form, Status: Reviewed

#29887 [Form] Add input_format option to DateType and DateTimeType
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTypeTest.php
Labels: Feature, Form, Status: Reviewed

#30313 Avoid mutating the Finder when building the iterator
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
Labels: Bug, Finder, Status: Reviewed

#30265 [Form] do not validate non-submitted form fields in PATCH requests
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationMapper.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/ViolationMapperTest.php
Labels: Bug, Form, Status: Reviewed

#30324 [Validator] Fixed duplicate UUID
  src/Symfony/Component/Validator/Constraints/LessThanOrEqual.php
Labels: Bug, Status: Reviewed, Validator

#28969 [Form] deprecate using invalid names for buttons
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Component/Form/ButtonBuilder.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Tests/ButtonBuilderTest.php
Labels: Deprecation, Form, Status: Reviewed

#30319 [Console] Doc Block: More intuitive usage example in ArrayInput.
  src/Symfony/Component/Console/Input/ArrayInput.php
Labels: Console, Status: Reviewed

#30267 [Form] add option to render NumberType as type="number"
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/NumberType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/NumberTypeTest.php
Labels: Feature, Form, Status: Reviewed

#29822 [EventDispatcher] Fix unknown priority
  src/Symfony/Component/EventDispatcher/Debug/WrappedListener.php
Labels: Bug, EventDispatcher, Status: Reviewed

#30249 [Routing] deprecate some router options
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing.xml
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Router.php
  src/Symfony/Component/Routing/Tests/RouterTest.php
Labels: Deprecation, Routing, Status: Reviewed

#29981 [Security] Complain about an empty decision strategy
  src/Symfony/Component/Security/Core/Authorization/AccessDecisionManager.php
Labels: Bug, Security, Status: Reviewed

#30277 [Console] Prevent ArgvInput::getFirstArgument() from returning an option value
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Input/InputDefinition.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/Input/ArgvInputTest.php
Labels: Bug, Console, Status: Reviewed

#30243 [Validator] Added missing translations for Afrikaans
  src/Symfony/Component/Validator/Resources/translations/validators.af.xlf
Labels: Bug, Status: Reviewed, Validator

#30326 Additional addons for the ghost
  src/Symfony/Component/Debug/ExceptionHandler.php
Labels: Status: Reviewed

#30301 [VarDumper] add link to source next to class names
  src/Symfony/Bundle/DebugBundle/DependencyInjection/DebugExtension.php
  src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
  src/Symfony/Component/HttpKernel/Tests/Debug/FileLinkFormatterTest.php
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Dumper/ContextProvider/RequestContextProvider.php
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Cloner/VarClonerTest.php
  src/Symfony/Component/VarDumper/VarDumper.php
Labels: Feature, Status: Reviewed, VarDumper

#29865 [Console] Added suggestions for missing packages
  src/Symfony/Bundle/FrameworkBundle/EventListener/SuggestMissingPackageSubscriber.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/ApplicationTest.php
Labels: DX, Feature, FrameworkBundle, Status: Reviewed

#28723 [Form] deprecate custom formats with HTML5 widgets
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTypeTest.php
Labels: Deprecation, Form, Status: Reviewed

#28919 [DX][WebProfilerBundle] Add Pretty Print functionality for Request Content
  src/Symfony/Bundle/TwigBundle/Resources/views/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/request.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RequestDataCollectorTest.php
Labels: DX, Feature, Status: Reviewed, WebProfilerBundle

#27570 [PropertyInfo] Added support for extract type from default value
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/DefaultValue.php
Labels: Feature, PropertyInfo, Status: Reviewed

#27601 [Routing] fix URL generation with look-around requirements
  src/Symfony/Component/Routing/Generator/UrlGenerator.php
  src/Symfony/Component/Routing/Tests/Generator/UrlGeneratorTest.php
Labels: Bug, Routing, Status: Reviewed

#30330 [FrameworkBundle] fix lowest supported Routing component version
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Needs Review

#30327 [HttpKernel] Fix possible infinite loop of exceptions
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
Labels: Bug, HttpKernel, Status: Reviewed

#30311 [VarDumper] Implement DsCaster
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/DsCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Feature, Status: Reviewed, VarDumper

#30344 be keen to newcomers
  UPGRADE-4.0.md
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterMappingsPass.php
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/CacheClearCommandTest.php
  src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php
  src/Symfony/Component/Config/Definition/PrototypedArrayNode.php
  src/Symfony/Component/DependencyInjection/LazyProxy/Instantiator/RealServiceInstantiator.php
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Form/ChoiceList/ArrayChoiceList.php
  src/Symfony/Component/Form/ChoiceList/LazyChoiceList.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/FormRenderer.php
  src/Symfony/Component/HttpKernel/Fragment/InlineFragmentRenderer.php
  src/Symfony/Component/Intl/Data/Generator/LocaleDataGenerator.php
  src/Symfony/Component/Validator/Constraints/Regex.php
  src/Symfony/Component/Validator/Mapping/ClassMetadataInterface.php
  src/Symfony/Component/Workflow/Tests/Validator/StateMachineValidatorTest.php
  src/Symfony/Component/Workflow/Tests/Validator/WorkflowValidatorTest.php
Labels: Status: Reviewed

#30357 [TwigBridge] rename parent_form() to form_parent()
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/FormExtension.php
Labels: Status: Reviewed, TwigBridge

#30355 [Translations] added missing Croatian validators
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
Labels: Status: Needs Review

#30356 [FrameworkBundle][SecurityBundle] speed up tests running them without debug flag
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/WebTestCase.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/WebTestCase.php
Labels: FrameworkBundle, SecurityBundle, Status: Reviewed

#30345 [Monolog] Added a way to configure the ConsoleFormatter from the ConsoleHandler
  src/Symfony/Bridge/Monolog/Handler/ConsoleHandler.php
Labels: Feature, MonologBridge, Status: Reviewed

#30349 [VarDumper] fix dumping Ds maps and pairs
  src/Symfony/Component/VarDumper/Caster/DsCaster.php
  src/Symfony/Component/VarDumper/Caster/DsPairStub.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Bug, Status: Reviewed, VarDumper

#30350 [VarDumper] Keep a ref to objects to ensure their handle cannot be reused while cloning
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
Labels: Bug, Status: Reviewed, VarDumper

#30351 Fix getItems() performance issue with RedisCluster (php-redis)
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Reviewed

#30354 [Console] handles multi-byte characters in autocomplete
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
Labels: Bug, Status: Reviewed

#30347 [Security] Change FormAuthenticator if condition
  src/Symfony/Component/Security/Http/Firewall/SimpleFormAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/UsernamePasswordFormAuthenticationListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/UsernamePasswordFormAuthenticationListenerTest.php
Labels: Bug, Security, Status: Reviewed

#30331 [Cache] fix warming up cache.system and apcu
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
Labels: Bug, Status: Reviewed

#30329 [Form] IntegerType: reject submitted non-integer numbers
  src/Symfony/Component/Form/Extension/Core/DataTransformer/IntegerToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/IntegerToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/IntegerTypeTest.php
Labels: Bug, Form, Status: Needs Review

#30352 [Validator] Update Serbian translation file
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
Labels: Status: Reviewed, Validator

#30364 [FrameworkBundle] Removed eval() from KernelShutdownOnTearDownTrait
  src/Symfony/Bundle/FrameworkBundle/Test/KernelShutdownOnTearDownTrait.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#30363 Fixed the DebugClassLoader compatibility with eval()'d code on Darwin
  src/Symfony/Component/Debug/DebugClassLoader.php
  src/Symfony/Component/Debug/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/Debug/Tests/Fixtures/DefinitionInEvaluatedCode.php
Labels: Bug, Status: Reviewed

#26532 [HttpKernel] Correctly merging cache directives in HttpCache/ResponseCacheStrategy
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/ResponseCacheStrategyTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#30374 [Validator] Add the missing translations for the Latvian ("lv") locale #30174
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
Labels: Status: Reviewed, Validator

#22048 [Security] deprecate the Role and SwitchUserRole classes
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Bridge/Monolog/Processor/TokenProcessor.php
  src/Symfony/Bridge/Monolog/Tests/Processor/TokenProcessorTest.php
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DataCollector/SecurityDataCollectorTest.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authentication/Provider/UserAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/AnonymousToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/Storage/TokenStorage.php
  src/Symfony/Component/Security/Core/Authentication/Token/SwitchUserToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
  src/Symfony/Component/Security/Core/Authorization/Voter/ExpressionVoter.php
  src/Symfony/Component/Security/Core/Authorization/Voter/RoleHierarchyVoter.php
  src/Symfony/Component/Security/Core/Authorization/Voter/RoleVoter.php
  src/Symfony/Component/Security/Core/Role/Role.php
  src/Symfony/Component/Security/Core/Role/RoleHierarchy.php
  src/Symfony/Component/Security/Core/Role/RoleHierarchyInterface.php
  src/Symfony/Component/Security/Core/Role/SwitchUserRole.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/PreAuthenticatedAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/RememberMeAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/UserAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AnonymousTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/PreAuthenticatedTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/RememberMeTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/Storage/TokenStorageTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/SwitchUserTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/UsernamePasswordTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AuthorizationCheckerTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/ExpressionVoterTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/RoleHierarchyVoterTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/RoleVoterTest.php
  src/Symfony/Component/Security/Core/Tests/Role/RoleHierarchyTest.php
  src/Symfony/Component/Security/Core/Tests/Role/RoleTest.php
  src/Symfony/Component/Security/Core/Tests/Role/SwitchUserRoleTest.php
  src/Symfony/Component/Security/Guard/Token/PostAuthenticationGuardToken.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Security/Http/Tests/Controller/UserValueResolverTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Logout/LogoutUrlGeneratorTest.php
  src/Symfony/Component/Security/Http/composer.json
  src/Symfony/Component/Workflow/EventListener/GuardListener.php
  src/Symfony/Component/Workflow/Tests/EventListener/GuardListenerTest.php
Labels: Deprecation, Security, Status: Reviewed

#30382 Fix git diff marker
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Bug, HttpFoundation, Status: Reviewed

#30380 [WebProfilerBundle] Fix row update on finish ajax request
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#30399 Drop spurious execution bit
  src/Symfony/Component/Translation/DataCollector/TranslationDataCollector.php
Labels: Bug, Status: Reviewed, Translator

#30383 [WebProfilerBundle] toolbar: invisible route name in Firefox
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle
