Repository symfony/symfony, pull requests merged in 2019-07, with the labels that each got.

#32301 [Workflow] Remove DefinitionBuilder::setInitialPlace()
  src/Symfony/Component/Workflow/DefinitionBuilder.php
  src/Symfony/Component/Workflow/Tests/DefinitionBuilderTest.php
Labels: Status: Needs Review, Workflow

#32046 [FrameworkBundle] Unconditionally register the DateIntervalNormalizer
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: FrameworkBundle, Status: Reviewed

#32319 fix workflow config examples
  UPGRADE-4.3.md
Labels: Status: Reviewed

#32297 fix invalid call to PhpFileLoader::load() in a test
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/merge.php
Labels: Status: Needs Review

#32288 fix invalid call to PhpFileLoader::load() in a test
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/sodium_encoder.php
Labels: Status: Needs Review

#32298 [Cache] finish type-hints
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/ApcuAdapter.php
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/DoctrineAdapter.php
  src/Symfony/Component/Cache/Adapter/FilesystemTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/MemcachedAdapter.php
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Cache/Adapter/Psr16Adapter.php
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
  src/Symfony/Component/Cache/Traits/FilesystemTrait.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Cache, Status: Reviewed

#32285 [CSRF] add more parameter types
  src/Symfony/Component/Security/Csrf/CsrfTokenManager.php
  src/Symfony/Component/Security/Csrf/CsrfTokenManagerInterface.php
  src/Symfony/Component/Security/Csrf/Tests/CsrfTokenManagerTest.php
  src/Symfony/Component/Security/Csrf/TokenStorage/NativeSessionTokenStorage.php
  src/Symfony/Component/Security/Csrf/TokenStorage/SessionTokenStorage.php
  src/Symfony/Component/Security/Csrf/TokenStorage/TokenStorageInterface.php
Labels: Status: Reviewed

#31825 [Messenger] Added support for auto trimming of redis streams
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Feature, Messenger, Status: Reviewed

#32331 [Workflow] only decorate when an event dispatcher was passed
  src/Symfony/Component/Workflow/Workflow.php
Labels: Bug, Status: Reviewed, Workflow

#32255 [HttpFoundation] Drop support for ApacheRequest
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Component/HttpFoundation/ApacheRequest.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Tests/ApacheRequestTest.php
Labels: Deprecation, HttpFoundation, Status: Reviewed

#32322 [FrameworkBundle] Simplified some code in the DI configuration
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: FrameworkBundle, Status: Reviewed

#32337 [Filesystem] added missing deprecations to UPGRADE-4.3.md
  UPGRADE-4.3.md
Labels: Bug, Filesystem, Status: Reviewed

#32267 [FrameworkBundle] deprecate the framework.templating option
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#32269 [PropertyAccess] Adds entries to CHANGELOG and UPGRADE
  UPGRADE-4.4.md
  src/Symfony/Component/PropertyAccess/CHANGELOG.md
Labels: Deprecation, PropertyAccess, Status: Reviewed

#32317 [Mime] Updated some PHPDoc contents
  src/Symfony/Component/Mime/Crypto/SMimeEncrypter.php
  src/Symfony/Component/Mime/Crypto/SMimeSigner.php
Labels: Mime, Status: Reviewed

#32309 Fixing validation for messenger transports retry_strategy service key
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, Status: Reviewed

#32306 [DependencyInjection] Removed unused field
  src/Symfony/Component/DependencyInjection/Compiler/AnalyzeServiceReferencesPass.php
Labels: Bug, DependencyInjection, Status: Reviewed

#32316 [Ldap] Document the new exceptions thrown by the code
  src/Symfony/Component/Ldap/Adapter/ConnectionInterface.php
Labels: Ldap, Status: Reviewed

#32315 [Filesystem] deprecate calling isAbsolutePath with a null
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Component/Filesystem/CHANGELOG.md
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Deprecation, Filesystem, Status: Reviewed

#32323 [FrmaeworkBundle] More simplifications in the DI configuration
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: FrameworkBundle, Status: Reviewed

#32081 [WIP][Mailer] Overwrite envelope sender and recipients from config
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/MailerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Mailer/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Mailer/config.yml
Labels: Deprecation, Feature, Status: Reviewed

#32254 [Security] [Guard] Added type-hints to AuthenticatorInterface
  src/Symfony/Component/Security/Guard/AbstractGuardAuthenticator.php
  src/Symfony/Component/Security/Guard/AuthenticatorInterface.php
  src/Symfony/Component/Security/Guard/Tests/Authenticator/FormLoginAuthenticatorTest.php
Labels: Security, Status: Reviewed

#32305 [HttpKernel][DX] Improve the error message when not defining the controller as a service but using construct parameters
  src/Symfony/Component/HttpKernel/Controller/ContainerControllerResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ContainerControllerResolverTest.php
Labels: DX, HttpKernel, Status: Reviewed

#31528 [Validator] Add a Length::$allowEmptyString option to reject empty strings
  UPGRADE-4.4.md
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/BaseUser.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/DoctrineLoaderEntity.php
  src/Symfony/Bridge/Doctrine/Tests/Resources/validator/BaseUser.xml
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/FormTypeValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ValidatorTypeGuesserTest.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Length.php
  src/Symfony/Component/Validator/Constraints/LengthValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthValidatorTest.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
Labels: Deprecation, Feature, Status: Reviewed, Validator

#32281 [DependencyInjection] Annotated correct return type for getInEdges()/getOutEdges()
  src/Symfony/Component/DependencyInjection/Compiler/ServiceReferenceGraphNode.php
Labels: Bug, DependencyInjection, Status: Reviewed

#32334 [Messenger] Fix authentication for redis transport
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Status: Reviewed

#32265 [Validator] deprecate non-string constraint violation codes
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/ConstraintViolation.php
  src/Symfony/Component/Validator/Constraints/FileValidator.php
  src/Symfony/Component/Validator/Tests/ConstraintViolationTest.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTest.php
  src/Symfony/Component/Validator/Tests/Violation/ConstraintViolationBuilderTest.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilder.php
Labels: Deprecation, Status: Reviewed, Validator

#32231 [HttpClient] Add support for NTLM authentication
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
Labels: Feature, Status: Reviewed

#32188 [PropertyInfo] add static cache to ContextFactory
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
Labels: PropertyInfo, Status: Reviewed

#32340 [Messager] Simplified MessageBus::__construct()
  src/Symfony/Component/Messenger/MessageBus.php
Labels: Messenger, Status: Reviewed

#32338 [Messenger] Added more test for MessageBus
  src/Symfony/Component/Messenger/Tests/MessageBusTest.php
Labels: Messenger, Status: Reviewed

#32302 [Mime] Remove @internal annotations for the serialize methods
  src/Symfony/Component/Mime/Message.php
  src/Symfony/Component/Mime/RawMessage.php
Labels: Bug, Status: Reviewed

#32299 [Lock] Stores must implement `putOffExpiration`
  src/Symfony/Component/Lock/Store/ZookeeperStore.php
  src/Symfony/Component/Lock/StoreInterface.php
Labels: Bug, Lock, Status: Reviewed

#32344 [HttpFoundation][HttpKernel] Improving the request/response format autodetection
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
Labels: Feature, HttpFoundation, HttpKernel, Status: Reviewed

#32207 [FrameworkBundle] Allow to use the BrowserKit assertions with Panther and API Platform's test client
  src/Symfony/Bundle/FrameworkBundle/Test/BrowserKitAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Test/DomCrawlerAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Test/WebTestAssertionsTrait.php
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorAttributeValueSame.php
Labels: FrameworkBundle, Status: Reviewed

#32348 [HttpFoundation] Accept must take the lead for Request::getPreferredFormat()
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#32354 [Messenger] Use ConnectionRegistry instead of RegistryInterface
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineTransportFactoryTest.php
  src/Symfony/Component/Messenger/Transport/Doctrine/DoctrineTransportFactory.php
  src/Symfony/Component/Messenger/composer.json
Labels: Messenger, Status: Reviewed

#32353 [Security] Added type-hints to user providers
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Security/Core/User/ChainUserProvider.php
  src/Symfony/Component/Security/Core/User/InMemoryUserProvider.php
  src/Symfony/Component/Security/Core/User/LdapUserProvider.php
  src/Symfony/Component/Security/Core/User/MissingUserProvider.php
  src/Symfony/Component/Security/Core/User/UserProviderInterface.php
Labels: Security, Status: Reviewed

#32352 [Security] Added type-hints to password encoders
  src/Symfony/Component/Security/Core/Encoder/BasePasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/MessageDigestPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/MigratingPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/NativePasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/PasswordEncoderInterface.php
  src/Symfony/Component/Security/Core/Encoder/Pbkdf2PasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/PlaintextPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/SodiumPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/UserPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/UserPasswordEncoderInterface.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/DaoAuthenticationProviderTest.php
Labels: Security, Status: Reviewed

#32351 [Security] Added type-hints to auth providers, tokens and voters
  src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Security/Core/Authentication/Provider/DaoAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Authentication/Provider/LdapBindAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Authentication/Provider/UserAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/InMemoryTokenProvider.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/TokenProviderInterface.php
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/RememberMeToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
  src/Symfony/Component/Security/Core/Authorization/Voter/Voter.php
  src/Symfony/Component/Security/Core/Tests/Authentication/AuthenticationTrustResolverTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/DaoAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/VoterTest.php
  src/Symfony/Component/Security/Guard/Token/PreAuthenticationGuardToken.php
  src/Symfony/Component/Security/Guard/composer.json
Labels: Security, Status: Reviewed

#32346 [ExpressionLanguage] [5.0] add type-hints whenever possible
  src/Symfony/Component/ExpressionLanguage/Compiler.php
  src/Symfony/Component/ExpressionLanguage/ExpressionFunction.php
  src/Symfony/Component/ExpressionLanguage/ExpressionLanguage.php
  src/Symfony/Component/ExpressionLanguage/Lexer.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/Token.php
  src/Symfony/Component/ExpressionLanguage/TokenStream.php
Labels: ExpressionLanguage, Status: Reviewed

#32358 [HttpFoundation] Removed ApacheRequest
  src/Symfony/Component/HttpFoundation/ApacheRequest.php
  src/Symfony/Component/HttpFoundation/Tests/ApacheRequestTest.php
Labels: BC Break, HttpFoundation, Status: Reviewed

#32365 [DI] fix processing of regular parameter bags by MergeExtensionConfigurationPass
  src/Symfony/Component/DependencyInjection/Compiler/MergeExtensionConfigurationPass.php
Labels: Bug, DependencyInjection, Status: Needs Review

#32363 [FrameworkBundle] reset cache pools between requests
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#32359 [ErrorCatcher] Pretty print JSON formatted errors
  src/Symfony/Component/ErrorCatcher/ErrorRenderer/JsonErrorRenderer.php
  src/Symfony/Component/ErrorCatcher/Tests/ErrorRenderer/JsonErrorRendererTest.php
Labels: ErrorCatcher, Feature, Status: Reviewed

#32372 [Validator] Fix tests
  src/Symfony/Component/Validator/ConstraintViolation.php
  src/Symfony/Component/Validator/Tests/ConstraintViolationTest.php
  src/Symfony/Component/Validator/Tests/Violation/ConstraintViolationBuilderTest.php
Labels: Bug, Status: Needs Review, Validator

#32369 [ErrorCatcher] Fixed some escaping in error renderers
  src/Symfony/Component/ErrorCatcher/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorCatcher/ErrorRenderer/XmlErrorRenderer.php
Labels: Bug, ErrorCatcher, Status: Reviewed

#32380 [Messenger] fix broken key normalization
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, Messenger, Status: Reviewed

#32373 [Validator] Change Length::$allowEmptyString default to false & make it optional
  UPGRADE-5.0.md
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/BaseUser.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/DoctrineLoaderEntity.php
  src/Symfony/Bridge/Doctrine/Tests/Resources/validator/BaseUser.xml
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/FormTypeValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ValidatorTypeGuesserTest.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Length.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthValidatorTest.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
Labels: BC Break, Feature, Status: Reviewed, Validator

#32328 [CssSelector] [5.0] Add type-hint whenever possible
  src/Symfony/Component/CssSelector/CssSelectorConverter.php
  src/Symfony/Component/CssSelector/Exception/SyntaxErrorException.php
Labels: CssSelector, Status: Reviewed

#32294 [FrameworkBundle] Allow creating chained cache pools by providing several adapters
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/cache.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/cache.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#32286 [Config] finish adding parameter types
  src/Symfony/Bundle/FrameworkBundle/Command/AbstractConfigCommand.php
  src/Symfony/Bundle/FrameworkBundle/Routing/DelegatingLoader.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Config/ConfigCacheFactory.php
  src/Symfony/Component/Config/ConfigCacheFactoryInterface.php
  src/Symfony/Component/Config/Definition/ArrayNode.php
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php
  src/Symfony/Component/Config/Definition/Builder/ExprBuilder.php
  src/Symfony/Component/Config/Definition/Builder/MergeBuilder.php
  src/Symfony/Component/Config/Definition/Builder/NodeBuilder.php
  src/Symfony/Component/Config/Definition/Builder/NodeDefinition.php
  src/Symfony/Component/Config/Definition/Builder/NormalizationBuilder.php
  src/Symfony/Component/Config/Definition/Dumper/XmlReferenceDumper.php
  src/Symfony/Component/Config/Definition/PrototypeNodeInterface.php
  src/Symfony/Component/Config/Definition/PrototypedArrayNode.php
  src/Symfony/Component/Config/FileLocator.php
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/Config/Loader/Loader.php
  src/Symfony/Component/Config/ResourceCheckerConfigCacheFactory.php
  src/Symfony/Component/Config/Tests/ConfigCacheFactoryTest.php
  src/Symfony/Component/Config/Tests/Fixtures/Builder/NodeBuilder.php
  src/Symfony/Component/Config/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/Config/Tests/Loader/LoaderTest.php
  src/Symfony/Component/Config/Util/XmlUtils.php
  src/Symfony/Component/DependencyInjection/Config/ContainerParametersResourceChecker.php
  src/Symfony/Component/DependencyInjection/Loader/ClosureLoader.php
  src/Symfony/Component/DependencyInjection/Loader/DirectoryLoader.php
  src/Symfony/Component/DependencyInjection/Loader/GlobFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/IniFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
  src/Symfony/Component/Routing/Loader/AnnotationDirectoryLoader.php
  src/Symfony/Component/Routing/Loader/AnnotationFileLoader.php
  src/Symfony/Component/Routing/Loader/ClosureLoader.php
  src/Symfony/Component/Routing/Loader/DirectoryLoader.php
  src/Symfony/Component/Routing/Loader/GlobFileLoader.php
  src/Symfony/Component/Routing/Loader/ObjectRouteLoader.php
  src/Symfony/Component/Routing/Loader/PhpFileLoader.php
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Routing/composer.json
Labels: Config, Status: Reviewed

#32273 [Process] [5.0] Replace docblocks by type-hints
  src/Symfony/Component/Process/ExecutableFinder.php
  src/Symfony/Component/Process/PhpExecutableFinder.php
  src/Symfony/Component/Process/Pipes/PipesInterface.php
  src/Symfony/Component/Process/Pipes/UnixPipes.php
  src/Symfony/Component/Process/Pipes/WindowsPipes.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/ProcessUtils.php
Labels: Process, Status: Reviewed

#32234 [PropertyAccess] Add type-hints to public interfaces and classes
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/PropertyPath.php
  src/Symfony/Component/PropertyAccess/PropertyPathBuilder.php
  src/Symfony/Component/PropertyAccess/PropertyPathInterface.php
Labels: PropertyAccess, Status: Reviewed

#32223 [Workflow] Added parameter typhint where possible
  src/Symfony/Component/Workflow/DefinitionBuilder.php
  src/Symfony/Component/Workflow/Dumper/DumperInterface.php
  src/Symfony/Component/Workflow/Dumper/GraphvizDumper.php
  src/Symfony/Component/Workflow/Event/Event.php
  src/Symfony/Component/Workflow/Event/GuardEvent.php
  src/Symfony/Component/Workflow/EventListener/GuardExpression.php
  src/Symfony/Component/Workflow/EventListener/GuardListener.php
  src/Symfony/Component/Workflow/Exception/NotEnabledTransitionException.php
  src/Symfony/Component/Workflow/Exception/TransitionException.php
  src/Symfony/Component/Workflow/Exception/UndefinedTransitionException.php
  src/Symfony/Component/Workflow/Marking.php
  src/Symfony/Component/Workflow/MarkingStore/MethodMarkingStore.php
  src/Symfony/Component/Workflow/Registry.php
  src/Symfony/Component/Workflow/SupportStrategy/InstanceOfSupportStrategy.php
  src/Symfony/Component/Workflow/SupportStrategy/WorkflowSupportStrategyInterface.php
  src/Symfony/Component/Workflow/Validator/DefinitionValidatorInterface.php
  src/Symfony/Component/Workflow/Validator/StateMachineValidator.php
  src/Symfony/Component/Workflow/Validator/WorkflowValidator.php
  src/Symfony/Component/Workflow/Workflow.php
  src/Symfony/Component/Workflow/WorkflowInterface.php
Labels: Status: Reviewed, Workflow

#32218 [5.0] [Translator] Add parameter type-hints where possible
  src/Symfony/Component/Translation/Catalogue/AbstractOperation.php
  src/Symfony/Component/Translation/Catalogue/MergeOperation.php
  src/Symfony/Component/Translation/Catalogue/OperationInterface.php
  src/Symfony/Component/Translation/Catalogue/TargetOperation.php
  src/Symfony/Component/Translation/DataCollectorTranslator.php
  src/Symfony/Component/Translation/Dumper/CsvFileDumper.php
  src/Symfony/Component/Translation/Dumper/DumperInterface.php
  src/Symfony/Component/Translation/Dumper/FileDumper.php
  src/Symfony/Component/Translation/Dumper/IcuResFileDumper.php
  src/Symfony/Component/Translation/Dumper/IniFileDumper.php
  src/Symfony/Component/Translation/Dumper/JsonFileDumper.php
  src/Symfony/Component/Translation/Dumper/MoFileDumper.php
  src/Symfony/Component/Translation/Dumper/PhpFileDumper.php
  src/Symfony/Component/Translation/Dumper/PoFileDumper.php
  src/Symfony/Component/Translation/Dumper/QtFileDumper.php
  src/Symfony/Component/Translation/Dumper/XliffFileDumper.php
  src/Symfony/Component/Translation/Dumper/YamlFileDumper.php
  src/Symfony/Component/Translation/Extractor/AbstractFileExtractor.php
  src/Symfony/Component/Translation/Extractor/ChainExtractor.php
  src/Symfony/Component/Translation/Extractor/ExtractorInterface.php
  src/Symfony/Component/Translation/Extractor/PhpExtractor.php
  src/Symfony/Component/Translation/Extractor/PhpStringTokenParser.php
  src/Symfony/Component/Translation/Formatter/MessageFormatter.php
  src/Symfony/Component/Translation/Formatter/MessageFormatterInterface.php
  src/Symfony/Component/Translation/Loader/ArrayLoader.php
  src/Symfony/Component/Translation/Loader/CsvFileLoader.php
  src/Symfony/Component/Translation/Loader/FileLoader.php
  src/Symfony/Component/Translation/Loader/IcuDatFileLoader.php
  src/Symfony/Component/Translation/Loader/IcuResFileLoader.php
  src/Symfony/Component/Translation/Loader/JsonFileLoader.php
  src/Symfony/Component/Translation/Loader/LoaderInterface.php
  src/Symfony/Component/Translation/Loader/QtFileLoader.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/LoggingTranslator.php
  src/Symfony/Component/Translation/MessageCatalogue.php
  src/Symfony/Component/Translation/MessageCatalogueInterface.php
  src/Symfony/Component/Translation/MetadataAwareInterface.php
  src/Symfony/Component/Translation/Reader/TranslationReader.php
  src/Symfony/Component/Translation/Reader/TranslationReaderInterface.php
  src/Symfony/Component/Translation/Translator.php
  src/Symfony/Component/Translation/TranslatorBagInterface.php
  src/Symfony/Component/Translation/Util/ArrayConverter.php
  src/Symfony/Component/Translation/Writer/TranslationWriter.php
  src/Symfony/Component/Translation/Writer/TranslationWriterInterface.php
Labels: Status: Reviewed, Translator

#32216 [5.0] [WebProfilerBundle] Add parameter type-hints where possible
  src/Symfony/Bundle/WebProfilerBundle/Controller/ExceptionController.php
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Controller/RouterController.php
  src/Symfony/Bundle/WebProfilerBundle/Csp/ContentSecurityPolicyHandler.php
  src/Symfony/Bundle/WebProfilerBundle/Profiler/TemplateManager.php
  src/Symfony/Bundle/WebProfilerBundle/Twig/WebProfilerExtension.php
Labels: Status: Reviewed, WebProfilerBundle

#32106 [FrameworkBundle] Use default_locale as default value for translator.fallbacks
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#32379 [SecurityBundle] conditionally register services
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
Labels: Bug, SecurityBundle, Status: Reviewed

#32390 [DependencyInjection] Deprecated passing Parameter instances as class name to Definition
  UPGRADE-4.4.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/DependencyInjection/Tests/DefinitionTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Deprecation, Status: Reviewed

#32391 [FrameworkBundle] pass default cache lifetime as an integer
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#32399 [Messenger] Don't pass objects as class name to ContainerBuilder::register
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, Status: Reviewed

#32295 [FrameworkBundle] Add autowiring alias for PSR-14
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#32393 clean up remaining deprecations
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilder.php
Labels: BC Break, Status: Reviewed

#32404 [Validator] remove tests for legacy behaviour
  src/Symfony/Component/Validator/ConstraintViolation.php
  src/Symfony/Component/Validator/Tests/ConstraintViolationTest.php
  src/Symfony/Component/Validator/Tests/Violation/ConstraintViolationBuilderTest.php
Labels: Status: Reviewed, Validator

#32266 [DependencyInjection] Add type-hints to interfaces and implementations.
  src/Symfony/Component/DependencyInjection/Alias.php
  src/Symfony/Component/DependencyInjection/ChildDefinition.php
  src/Symfony/Component/DependencyInjection/Compiler/MergeExtensionConfigurationPass.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/ContainerInterface.php
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/EnvVarProcessorInterface.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/BindTrait.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/CallTrait.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/ClassTrait.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/DecorateTrait.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/DeprecateTrait.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/FileTrait.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/ShareTrait.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/TagTrait.php
  src/Symfony/Component/DependencyInjection/ParameterBag/EnvPlaceholderParameterBag.php
  src/Symfony/Component/DependencyInjection/ParameterBag/FrozenParameterBag.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBagInterface.php
  src/Symfony/Component/DependencyInjection/ReverseContainer.php
  src/Symfony/Component/DependencyInjection/ServiceLocator.php
  src/Symfony/Component/DependencyInjection/TaggedContainerInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterEnvVarProcessorsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerTest.php
  src/Symfony/Component/DependencyInjection/Tests/DefinitionTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services12.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services19.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services26.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services8.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_array_params.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_base64_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_csv_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_default_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_env_in_id.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_errored_definition.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_requires.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_json_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_query_string_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_unsupported_characters.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_url_env.php
Labels: DependencyInjection, Status: Reviewed

#32398 [Messenger] Removes deprecated call to ReflectionType::__toString() on MessengerPass
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
Labels: Messenger, Status: Reviewed

#32419 [Workflow] Add missing test for workflow dump description
  src/Symfony/Component/Workflow/Tests/WorkflowBuilderTrait.php
  src/Symfony/Component/Workflow/Tests/fixtures/puml/square/simple-workflow-marking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/square/simple-workflow-nomarking.puml
Labels: Bug, Status: Reviewed, Workflow

#32416 [Console] Update inherit and add licence
  src/Symfony/Component/Console/CommandLoader/CommandLoaderInterface.php
  src/Symfony/Component/Console/CommandLoader/ContainerCommandLoader.php
  src/Symfony/Component/Console/Formatter/OutputFormatterStyle.php
  src/Symfony/Component/Console/Formatter/OutputFormatterStyleInterface.php
Labels: Console, Status: Reviewed

#32384 [Mime] add check for openssl when using SMime
  src/Symfony/Component/ErrorCatcher/Exception/FlattenException.php
  src/Symfony/Component/Mime/Crypto/SMimeEncrypter.php
  src/Symfony/Component/Mime/Crypto/SMimeSigner.php
  src/Symfony/Component/Mime/Tests/Crypto/SMimeEncryptorTest.php
  src/Symfony/Component/Mime/Tests/Crypto/SMimeSignerTest.php
Labels: Mime, Status: Reviewed

#32401 [Intl] Init compile tmp volume
  src/Symfony/Component/Intl/Resources/bin/compile
Labels: Bug, Intl, Status: Reviewed

#32413 [Messenger] fix publishing headers set on AmqpStamp
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpStamp.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#32385 Fix CS regarding nullable arguments
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/HttpFoundation/UrlHelper.php
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
  src/Symfony/Component/HttpKernel/EventListener/LocaleAwareListener.php
  src/Symfony/Component/Security/Core/Authentication/AuthenticationTrustResolver.php
  src/Symfony/Component/Serializer/Extractor/ObjectPropertyListExtractor.php
Labels: Status: Reviewed

#32243 [5.0][Finder] add parameter type-hints
  src/Symfony/Component/Finder/Comparator/Comparator.php
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Glob.php
  src/Symfony/Component/Finder/Iterator/ExcludeDirectoryFilterIterator.php
  src/Symfony/Component/Finder/Iterator/FilecontentFilterIterator.php
  src/Symfony/Component/Finder/Iterator/FilenameFilterIterator.php
  src/Symfony/Component/Finder/Iterator/MultiplePcreFilterIterator.php
  src/Symfony/Component/Finder/Iterator/PathFilterIterator.php
  src/Symfony/Component/Finder/Iterator/SortableIterator.php
  src/Symfony/Component/Finder/Tests/Iterator/MultiplePcreFilterIteratorTest.php
Labels: Finder, Status: Reviewed

#32247 [5.0][Filesystem] add parameter type hints
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Filesystem, Status: Reviewed

#32290 [HttpClient] Add $response->toStream() to cast responses to regular PHP streams
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Psr18Client.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Component/HttpClient/Response/StreamWrapper.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/NativeHttpClientTest.php
Labels: Feature, Ready, Status: Reviewed

#32417 [Intl] Remove --dev from intl compile autoloader
  src/Symfony/Component/Intl/Resources/bin/autoload.php
Labels: Bug, Intl, Status: Reviewed

#32329 [DomCrawler] [5.0] add type-hint whenever possible
  src/Symfony/Component/DomCrawler/AbstractUriElement.php
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Field/ChoiceFormField.php
  src/Symfony/Component/DomCrawler/Field/FileFormField.php
  src/Symfony/Component/DomCrawler/Field/FormField.php
  src/Symfony/Component/DomCrawler/Form.php
  src/Symfony/Component/DomCrawler/FormFieldRegistry.php
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTest.php
  src/Symfony/Component/DomCrawler/Tests/Field/FileFormFieldTest.php
Labels: DomCrawler, Status: Reviewed

#32280 [BrowserKit] [5.0] Add type-hint to all classes
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/BrowserKit/Cookie.php
  src/Symfony/Component/BrowserKit/CookieJar.php
  src/Symfony/Component/BrowserKit/Response.php
Labels: BrowserKit, Status: Reviewed

#32415 [Translation] deprecate passing a null locale
  src/Symfony/Component/Translation/MessageCatalogue.php
  src/Symfony/Component/Translation/Tests/MessageCatalogueTest.php
  src/Symfony/Component/Translation/Tests/TranslatorTest.php
  src/Symfony/Component/Translation/Translator.php
Labels: Deprecation, Status: Reviewed, Translator

#32313 [Templating] Added type-hints to all classes
  src/Symfony/Component/Templating/Helper/Helper.php
  src/Symfony/Component/Templating/Helper/HelperInterface.php
  src/Symfony/Component/Templating/Helper/SlotsHelper.php
  src/Symfony/Component/Templating/Loader/CacheLoader.php
  src/Symfony/Component/Templating/Loader/ChainLoader.php
  src/Symfony/Component/Templating/Loader/FilesystemLoader.php
  src/Symfony/Component/Templating/Loader/LoaderInterface.php
  src/Symfony/Component/Templating/PhpEngine.php
  src/Symfony/Component/Templating/TemplateReference.php
  src/Symfony/Component/Templating/TemplateReferenceInterface.php
  src/Symfony/Component/Templating/Tests/Loader/CacheLoaderTest.php
  src/Symfony/Component/Templating/Tests/Loader/LoaderTest.php
  src/Symfony/Component/Templating/Tests/PhpEngineTest.php
Labels: Status: Reviewed, Templating

#32408 [Stopwatch] Deprecate passing null in Section::get() method.
  UPGRADE-4.4.md
  src/Symfony/Component/Stopwatch/CHANGELOG.md
  src/Symfony/Component/Stopwatch/Section.php
Labels: Deprecation, Status: Needs Work, Stopwatch

#31876 [WebProfilerBundle] Add clear button to ajax tab
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/ajax.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#32383 [Serializer] AbstractObjectNormalizer ignores the property types of discriminated classes
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/AbstractDummyFirstChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/AbstractDummySecondChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyFirstChildQuux.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummySecondChildQuux.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Bug, Serializer, Status: Reviewed

#31626 [Console] allow answer to be trimmed by adding a flag
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Question/Question.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
Labels: Console, Feature, Status: Reviewed

#31266 [Translator] Load plurals from po files properly
  src/Symfony/Component/Translation/Loader/PoFileLoader.php
  src/Symfony/Component/Translation/Tests/Loader/PoFileLoaderTest.php
  src/Symfony/Component/Translation/Tests/fixtures/missing-plurals.po
  src/Symfony/Component/Translation/Tests/fixtures/plurals.po
Labels: Bug, Status: Reviewed

#31267 [Translator] Load plurals from mo files properly
  src/Symfony/Component/Translation/Loader/MoFileLoader.php
  src/Symfony/Component/Translation/Tests/Loader/MoFileLoaderTest.php
  src/Symfony/Component/Translation/Tests/fixtures/plurals.mo
Labels: Bug, Status: Reviewed

#31269 [Translator] Dump native plural formats to po files
  src/Symfony/Component/Translation/Dumper/PoFileDumper.php
  src/Symfony/Component/Translation/Tests/Dumper/PoFileDumperTest.php
  src/Symfony/Component/Translation/Tests/Loader/PoFileLoaderTest.php
  src/Symfony/Component/Translation/Tests/fixtures/plurals.po
Labels: Feature, Status: Reviewed

#32392 [Messenger] Doctrine Transport: Support setting auto_setup from DSN
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#26339 [Console] Add ProgressBar::preventRedrawFasterThan() and forceRedrawSlowerThan() methods
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Console, Feature, Status: Reviewed, ⭐️ EUFOSSA Hackathon

#32318 [Console] [5.0] Add all type-hint
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Command/LockableTrait.php
  src/Symfony/Component/Console/CommandLoader/CommandLoaderInterface.php
  src/Symfony/Component/Console/CommandLoader/ContainerCommandLoader.php
  src/Symfony/Component/Console/CommandLoader/FactoryCommandLoader.php
  src/Symfony/Component/Console/Descriptor/ApplicationDescription.php
  src/Symfony/Component/Console/Descriptor/Descriptor.php
  src/Symfony/Component/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Component/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Component/Console/Formatter/OutputFormatter.php
  src/Symfony/Component/Console/Formatter/OutputFormatterInterface.php
  src/Symfony/Component/Console/Formatter/OutputFormatterStyle.php
  src/Symfony/Component/Console/Formatter/OutputFormatterStyleInterface.php
  src/Symfony/Component/Console/Formatter/WrappableOutputFormatterInterface.php
  src/Symfony/Component/Console/Helper/DebugFormatterHelper.php
  src/Symfony/Component/Console/Helper/FormatterHelper.php
  src/Symfony/Component/Console/Helper/Helper.php
  src/Symfony/Component/Console/Helper/HelperSet.php
  src/Symfony/Component/Console/Helper/ProcessHelper.php
  src/Symfony/Component/Console/Helper/ProgressIndicator.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Helper/TableStyle.php
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Input/ArrayInput.php
  src/Symfony/Component/Console/Input/Input.php
  src/Symfony/Component/Console/Input/InputDefinition.php
  src/Symfony/Component/Console/Input/InputInterface.php
  src/Symfony/Component/Console/Input/StringInput.php
  src/Symfony/Component/Console/Output/BufferedOutput.php
  src/Symfony/Component/Console/Output/ConsoleOutput.php
  src/Symfony/Component/Console/Output/NullOutput.php
  src/Symfony/Component/Console/Output/Output.php
  src/Symfony/Component/Console/Output/OutputInterface.php
  src/Symfony/Component/Console/Output/StreamOutput.php
  src/Symfony/Component/Console/Style/OutputStyle.php
  src/Symfony/Component/Console/Style/StyleInterface.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tester/ApplicationTester.php
  src/Symfony/Component/Console/Tester/TesterTrait.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
  src/Symfony/Component/Console/Tests/Helper/TableStyleTest.php
  src/Symfony/Component/Console/Tests/Output/OutputTest.php
Labels: Console, Status: Reviewed

#32423 [ServerBundle] Display all logs by default
  src/Symfony/Bundle/WebServerBundle/Command/ServerLogCommand.php
Labels: Feature, Status: Reviewed

#32284 [Cache] Add argument $prefix to AdapterInterface::clear()
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Component/Cache/Adapter/AdapterInterface.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/NullAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
  src/Symfony/Component/Cache/Tests/Adapter/DoctrineAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/MemcachedAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PhpArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/Psr16AdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/SimpleCacheAdapterTest.php
  src/Symfony/Component/Cache/Traits/AbstractTrait.php
  src/Symfony/Component/Cache/Traits/ArrayTrait.php
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
  src/Symfony/Component/Cache/Traits/FilesystemTrait.php
  src/Symfony/Component/Cache/Traits/PhpArrayTrait.php
  src/Symfony/Component/Cache/Traits/PhpFilesTrait.php
Labels: Cache, Feature, Ready, Status: Reviewed

#32283 [DependencyInjection][ProxyManagerBridge] Added type-hints to LazyProxy classes and interfaces
  src/Symfony/Bridge/ProxyManager/LazyProxy/Instantiator/RuntimeInstantiator.php
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/ProxyDumperTest.php
  src/Symfony/Bridge/ProxyManager/composer.json
  src/Symfony/Component/DependencyInjection/LazyProxy/Instantiator/InstantiatorInterface.php
  src/Symfony/Component/DependencyInjection/LazyProxy/Instantiator/RealServiceInstantiator.php
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/DumperInterface.php
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/NullDumper.php
  src/Symfony/Component/DependencyInjection/LazyProxy/ProxyHelper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/classes.php
Labels: DependencyInjection, Status: Reviewed

#31554 [SECURITY] AbstractAuthenticationListener.php error instead info. Rebase of #28462
  src/Symfony/Component/Security/Http/Firewall/AbstractAuthenticationListener.php
Labels: Bug, Security, Status: Reviewed

#31217 [WebserverBundle] Deprecate the bundle in favor of symfony local server
  src/Symfony/Bundle/WebServerBundle/Command/ServerLogCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerRunCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStartCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStatusCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStopCommand.php
  src/Symfony/Bundle/WebServerBundle/DependencyInjection/WebServerExtension.php
  src/Symfony/Bundle/WebServerBundle/Tests/DependencyInjection/WebServerExtensionTest.php
  src/Symfony/Bundle/WebServerBundle/WebServer.php
  src/Symfony/Bundle/WebServerBundle/WebServerBundle.php
  src/Symfony/Bundle/WebServerBundle/WebServerConfig.php
Labels: Deprecation, Status: Reviewed

#32418 [Console] Added Application::reset()
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
Labels: Feature, FrameworkBundle, Status: Reviewed

#27905 [MonologBridge] Monolog 2 compatibility
  composer.json
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Handler/ChromePhpHandler.php
  src/Symfony/Bridge/Monolog/Handler/ConsoleHandler.php
  src/Symfony/Bridge/Monolog/Handler/FingersCrossed/HttpCodeActivationStrategy.php
  src/Symfony/Bridge/Monolog/Handler/FingersCrossed/NotFoundActivationStrategy.php
  src/Symfony/Bridge/Monolog/Handler/FirePHPHandler.php
  src/Symfony/Bridge/Monolog/Handler/ServerLogHandler.php
  src/Symfony/Bridge/Monolog/Handler/SwiftMailerHandler.php
  src/Symfony/Bridge/Monolog/Logger.php
  src/Symfony/Bridge/Monolog/composer.json
Labels: BC Break, Feature, MonologBridge, Status: Reviewed, ⭐️ EUFOSSA Hackathon

#32424 [Console] don't redraw progress bar more than every 100ms by default
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Console, Status: Reviewed

#31820 [SecurityBundle] Fix profiler dump for non-invokable security listeners
  src/Symfony/Bundle/SecurityBundle/Debug/WrappedListener.php
  src/Symfony/Bundle/SecurityBundle/Tests/Debug/TraceableFirewallListenerTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#32056 [DI] deprecate booting the kernel twices
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Test/WebTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SessionTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityRoutingIntegrationTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#31620 [FrameworkBundle] Inform the user when save_path will be ignored
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/session_savepath.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/session_savepath.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/session_savepath.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Needs Work

#31511 [Validator] Allow to use property paths to get limits in range constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Range.php
  src/Symfony/Component/Validator/Constraints/RangeValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeTest.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#32428 [Stopwatch] Fix missing deprecations
  src/Symfony/Component/HttpKernel/Tests/Debug/TraceableEventDispatcherTest.php
  src/Symfony/Component/Stopwatch/Section.php
Labels: Bug, Status: Reviewed, Stopwatch

#32429 [VarDumper] Let browsers trigger their own search on double CMD/CTRL + F
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
Labels: Feature, Status: Reviewed, VarDumper

#32434 [Lock] Fix tests
  src/Symfony/Component/Lock/Store/CombinedStore.php
  src/Symfony/Component/Lock/Store/FlockStore.php
  src/Symfony/Component/Lock/Store/MemcachedStore.php
  src/Symfony/Component/Lock/Store/PdoStore.php
  src/Symfony/Component/Lock/Store/RedisStore.php
  src/Symfony/Component/Lock/Store/SemaphoreStore.php
  src/Symfony/Component/Lock/Store/ZookeeperStore.php
  src/Symfony/Component/Lock/Tests/Store/CombinedStoreTest.php
Labels: Lock, Status: Reviewed

#31975 Dynamic bundle assets
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Component/HttpKernel/Bundle/Bundle.php
  src/Symfony/Component/HttpKernel/Bundle/BundleInterface.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: BC Break, Feature, Status: Reviewed

#32432 [DependencyInjection] Added tests to cover the possibility of having scalars as services
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/ScalarFactory.php
Labels: Bug, Status: Reviewed

#32448 [Translator] Improve fa translations
  src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf
Labels: Feature, Status: Reviewed, Translator

#32446 [Lock] rename and deprecate Factory into LockFactory
  src/Symfony/Component/Console/Command/LockableTrait.php
  src/Symfony/Component/Console/Tests/Command/LockableTraitTest.php
  src/Symfony/Component/Lock/Factory.php
  src/Symfony/Component/Lock/LockFactory.php
  src/Symfony/Component/Lock/Tests/LockFactoryTest.php
Labels: Deprecation, Lock, Status: Reviewed

#32449 [Lock] minor: add missing alias for PersistStoreInterface
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Feature, Lock, Status: Reviewed

#32441 [PHPUnit Bridge] Spell "triggering" properly
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
Labels: Bug, Status: Reviewed

#32450 [Lock][Console] bump lock requirement in console
  src/Symfony/Component/Console/composer.json
Labels: Console, Lock, Status: Reviewed

#32458 Remove support for Twig 1.x
  composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/VarDumper/composer.json
Labels: Status: Reviewed

#32457 [Translator] Improve farsi(persian) translations for Form
  src/Symfony/Component/Form/Resources/translations/validators.fa.xlf
Labels: Feature, Status: Reviewed

#32451 [Validator] Fix Changelog for #31511
  src/Symfony/Component/Validator/CHANGELOG.md
Labels: Status: Reviewed, Validator

#32464 [WebProfilerBundle] Fix Twig 1.x compatibility
  src/Symfony/Bundle/WebProfilerBundle/Controller/ExceptionController.php
Labels: Bug, Status: Reviewed, WebProfilerBundle

#32462 [WebProfilerBundle] Deprecating templateExists method
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/Controller/ExceptionController.php
  src/Symfony/Bundle/WebProfilerBundle/Profiler/TemplateManager.php
Labels: Deprecation, Status: Reviewed, WebProfilerBundle

#32461 [WebProfilerBundle] Removed templateExists method
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/Controller/ExceptionController.php
  src/Symfony/Bundle/WebProfilerBundle/Profiler/TemplateManager.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Profiler/TemplateManagerTest.php
Labels: Status: Reviewed, WebProfilerBundle

#32470 Rename ErrorCatcher to ErrorRenderer (rendering part only)
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/error_catcher.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/error_renderer.xml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/TwigBundle/Controller/ExceptionController.php
  src/Symfony/Bundle/TwigBundle/Controller/PreviewErrorController.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExceptionListenerPass.php
  src/Symfony/Bundle/TwigBundle/Tests/Controller/ExceptionControllerTest.php
  src/Symfony/Bundle/TwigBundle/Tests/Controller/PreviewErrorControllerTest.php
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/Controller/ExceptionController.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/profiler.xml
  src/Symfony/Bundle/WebProfilerBundle/Tests/DependencyInjection/WebProfilerExtensionTest.php
  src/Symfony/Component/Debug/CHANGELOG.md
  src/Symfony/Component/Debug/Exception/FlattenException.php
  src/Symfony/Component/ErrorRenderer/.gitignore
  src/Symfony/Component/ErrorRenderer/CHANGELOG.md
  src/Symfony/Component/ErrorRenderer/DependencyInjection/ErrorRendererPass.php
  src/Symfony/Component/ErrorRenderer/DependencyInjection/LazyLoadingErrorRenderer.php
  src/Symfony/Component/ErrorRenderer/ErrorRenderer.php
  src/Symfony/Component/ErrorRenderer/ErrorRenderer/ErrorRendererInterface.php
  src/Symfony/Component/ErrorRenderer/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorRenderer/ErrorRenderer/JsonErrorRenderer.php
  src/Symfony/Component/ErrorRenderer/ErrorRenderer/TxtErrorRenderer.php
  src/Symfony/Component/ErrorRenderer/ErrorRenderer/XmlErrorRenderer.php
  src/Symfony/Component/ErrorRenderer/Exception/ErrorRendererNotFoundException.php
  src/Symfony/Component/ErrorRenderer/Exception/FlattenException.php
  src/Symfony/Component/ErrorRenderer/LICENSE
  src/Symfony/Component/ErrorRenderer/README.md
  src/Symfony/Component/ErrorRenderer/Tests/DependencyInjection/ErrorRendererPassTest.php
  src/Symfony/Component/ErrorRenderer/Tests/DependencyInjection/LazyLoadingErrorRendererTest.php
  src/Symfony/Component/ErrorRenderer/Tests/ErrorRenderer/HtmlErrorRendererTest.php
  src/Symfony/Component/ErrorRenderer/Tests/ErrorRenderer/JsonErrorRendererTest.php
  src/Symfony/Component/ErrorRenderer/Tests/ErrorRenderer/TxtErrorRendererTest.php
  src/Symfony/Component/ErrorRenderer/Tests/ErrorRenderer/XmlErrorRendererTest.php
  src/Symfony/Component/ErrorRenderer/Tests/ErrorRendererTest.php
  src/Symfony/Component/ErrorRenderer/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/ErrorRenderer/composer.json
  src/Symfony/Component/ErrorRenderer/phpunit.xml.dist
  src/Symfony/Component/HttpKernel/DataCollector/ExceptionDataCollector.php
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/ExceptionDataCollectorTest.php
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageToFailureTransportListener.php
  src/Symfony/Component/Messenger/Stamp/RedeliveryStamp.php
  src/Symfony/Component/Messenger/Tests/Stamp/RedeliveryStampTest.php
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: ErrorCatcher, Status: Needs Review

#32494 [HttpKernel] fix tests
  src/Symfony/Component/HttpKernel/Tests/Debug/TraceableEventDispatcherTest.php
Labels: HttpKernel, Status: Needs Review

#32498 [Validator] remove invalid test cases
  src/Symfony/Component/Validator/Tests/Constraints/RangeValidatorTest.php
Labels: Status: Needs Review, Validator

#32478 Remove experimental notice from components
  src/Symfony/Component/HttpClient/README.md
  src/Symfony/Component/Mailer/README.md
  src/Symfony/Component/Messenger/README.md
  src/Symfony/Component/Mime/README.md
Labels: Status: Reviewed

#32452 [Bundles] Rename getPublicPath() as getPublicDir()
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Component/HttpKernel/Bundle/Bundle.php
  src/Symfony/Component/HttpKernel/Bundle/BundleInterface.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Status: Reviewed

#32500 [Debug][DebugClassLoader] Include found files instead of requiring them
  src/Symfony/Component/Debug/DebugClassLoader.php
Labels: Bug, Debug, Status: Reviewed

#32447 [LDAP] add new option implemented in php 7.1
  src/Symfony/Component/Ldap/Adapter/ExtLdap/ConnectionOptions.php
Labels: Feature, Ldap, Status: Reviewed

#32435 [Validator] Add a new constraint message when there is both min and max
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Range.php
  src/Symfony/Component/Validator/Constraints/RangeValidator.php
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Tests/Constraints/RangeValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#32476 Add missing message parameter
  src/Symfony/Component/HttpClient/HttpClientTrait.php
Labels: Bug, HttpClient, Status: Reviewed

#32501 [FrameworkBundle] Fix descriptor of routes described as callable array
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#32509 Added Nl translations
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
Labels: Status: Reviewed

#32514 [Validator] Add missing en and fr translation ids from 4.4
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
Labels: Status: Reviewed, Validator

#32518 [Validator] Add german translation for Range validator
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
Labels: Status: Reviewed

#32519 [Validator] Add danish translation for Range validator
  src/Symfony/Component/Validator/Resources/translations/validators.da.xlf
Labels: Status: Reviewed

#32517 [Validator] Added the Polish translation for the new Range validator
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Status: Reviewed, Validator

#32400 [Form] Name related PHPDoc fixes
  src/Symfony/Component/Form/Form.php
Labels: Bug, Form, Status: Reviewed

#32540 Add HTTPS to a URL
  src/Symfony/Component/Validator/README.md
Labels: Status: Reviewed

#32544 [Validator] Add Lithuanian translation for Range validator
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
Labels: Status: Reviewed, Validator

#32534 [Debug] remove outdated changelog entries
  src/Symfony/Component/Debug/CHANGELOG.md
Labels: Debug, Status: Reviewed

#32539 [Validator] Add missing Hungarian translations
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
Labels: Bug, Status: Reviewed, Validator

#32530 [Validator] sync translation files
  src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf
Labels: Status: Reviewed, Validator

#32533 fix some deprecations and add upgrade instructions
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/Test/WebTestCase.php
  src/Symfony/Bundle/WebServerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebServerBundle/Command/ServerLogCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerRunCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStartCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStatusCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStopCommand.php
  src/Symfony/Bundle/WebServerBundle/DependencyInjection/WebServerExtension.php
  src/Symfony/Bundle/WebServerBundle/WebServer.php
  src/Symfony/Bundle/WebServerBundle/WebServerBundle.php
  src/Symfony/Bundle/WebServerBundle/WebServerConfig.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/Lock/Store/CombinedStore.php
  src/Symfony/Component/Lock/Store/MemcachedStore.php
  src/Symfony/Component/Lock/Store/PdoStore.php
  src/Symfony/Component/Lock/Store/RedisStore.php
  src/Symfony/Component/Lock/Store/ZookeeperStore.php
Labels: FrameworkBundle, Lock, Status: Reviewed, WebServerBundle

#32466 [Config] Fix for signatures of typed properties
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/Config/Tests/Resource/ReflectionClassResourceTest.php
Labels: Bug, Status: Reviewed

#32536 [Translation] Use HTTPS and fix a url
  src/Symfony/Component/Translation/Loader/PoFileLoader.php
  src/Symfony/Component/Validator/Constraints/CardSchemeValidator.php
Labels: Status: Reviewed, Translator

#32531 remove deprecated features
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Bundle/FrameworkBundle/Test/WebTestCase.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FormLoginLdapFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/HttpBasicLdapFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/JsonLoginLdapFactory.php
  src/Symfony/Bundle/WebServerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebServerBundle/Command/ServerLogCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerRunCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStartCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStatusCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStopCommand.php
  src/Symfony/Bundle/WebServerBundle/DependencyInjection/WebServerExtension.php
  src/Symfony/Bundle/WebServerBundle/LICENSE
  src/Symfony/Bundle/WebServerBundle/README.md
  src/Symfony/Bundle/WebServerBundle/Resources/config/webserver.xml
  src/Symfony/Bundle/WebServerBundle/Resources/router.php
  src/Symfony/Bundle/WebServerBundle/Tests/DependencyInjection/WebServerExtensionTest.php
  src/Symfony/Bundle/WebServerBundle/Tests/DependencyInjection/composer.json
  src/Symfony/Bundle/WebServerBundle/WebServer.php
  src/Symfony/Bundle/WebServerBundle/WebServerBundle.php
  src/Symfony/Bundle/WebServerBundle/WebServerConfig.php
  src/Symfony/Bundle/WebServerBundle/composer.json
  src/Symfony/Bundle/WebServerBundle/phpunit.xml.dist
  src/Symfony/Component/HttpKernel/Bundle/BundleInterface.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authentication/Provider/LdapBindAuthenticationProvider.php
  src/Symfony/Component/Stopwatch/Section.php
  src/Symfony/Component/Translation/MessageCatalogue.php
  src/Symfony/Component/Translation/Tests/MessageCatalogueTest.php
  src/Symfony/Component/Translation/Translator.php
Labels: BC Break, FrameworkBundle, Security, SecurityBundle, Status: Reviewed, Stopwatch, Translator, WebServerBundle

#32511 [Debug][DebugClassLoader] Don't check class if the included file doesn't exist
  src/Symfony/Component/Debug/DebugClassLoader.php
Labels: Bug, Debug, Status: Reviewed

#32508 [Lock] add aliases for LockFactory
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/lock.xml
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Lock, Status: Reviewed

#32442 Adding missing event_dispatcher wiring for messenger.middleware.send_message
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
Labels: Bug, FrameworkBundle, Messenger, Status: Reviewed

#32553 [Mailer] Allow register mailer configuration in xml format
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/mailer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/mailer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/mailer.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Feature, Status: Reviewed

#32556 [Mailer] Add XML configuration for the mailer envelope
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/mailer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/mailer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/mailer.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Status: Reviewed

#32557 [HttpClient] make toStream() throw by default
  src/Symfony/Component/HttpClient/Psr18Client.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
Labels: HttpClient, Status: Reviewed
