Repository symfony/symfony, pull requests merged in 2019-05, with the labels that each got.

#31327 [TwigBridge] fix cross-version form theme tests
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
Labels: Status: Reviewed, TwigBridge

#31336 [DoctrineBridge] do not choke on not existing mapping field
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/BaseUser.php
  src/Symfony/Bridge/Doctrine/Tests/Resources/orm/BaseUser.orm.xml
  src/Symfony/Bridge/Doctrine/Validator/DoctrineLoader.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#31332 [Intl] Add phpdoc
  src/Symfony/Component/Intl/Currencies.php
  src/Symfony/Component/Intl/Languages.php
  src/Symfony/Component/Intl/Locales.php
  src/Symfony/Component/Intl/Regions.php
  src/Symfony/Component/Intl/Scripts.php
  src/Symfony/Component/Intl/Tests/CurrenciesTest.php
  src/Symfony/Component/Intl/Tests/ScriptsTest.php
  src/Symfony/Component/Intl/Tests/TimezonesTest.php
  src/Symfony/Component/Intl/Timezones.php
Labels: Bug, Intl, Status: Reviewed

#30970 [Messenger] Adding failure transport support
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRemoveCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Event/WorkerMessageReceivedEvent.php
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageToFailureTransportListener.php
  src/Symfony/Component/Messenger/Exception/UnknownSenderException.php
  src/Symfony/Component/Messenger/Middleware/AddBusNameStampMiddleware.php
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Retry/MultiplierRetryStrategy.php
  src/Symfony/Component/Messenger/Stamp/RedeliveryStamp.php
  src/Symfony/Component/Messenger/Stamp/SentToFailureTransportStamp.php
  src/Symfony/Component/Messenger/Stamp/TransportMessageIdStamp.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRemoveCommandTest.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRetryCommandTest.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesShowCommandTest.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageToFailureTransportListenerTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/AddBusNameStampMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Retry/MultiplierRetryStrategyTest.php
  src/Symfony/Component/Messenger/Tests/RetryIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Stamp/RedeliveryStampTest.php
  src/Symfony/Component/Messenger/Tests/Stamp/SentToFailureTransportStampTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineSenderTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Receiver/SingleMessageReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Sender/SendersLocatorTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpReceiver.php
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
  src/Symfony/Component/Messenger/Transport/Doctrine/DoctrineReceiver.php
  src/Symfony/Component/Messenger/Transport/Doctrine/DoctrineSender.php
  src/Symfony/Component/Messenger/Transport/Doctrine/DoctrineTransport.php
  src/Symfony/Component/Messenger/Transport/Receiver/ListableReceiverInterface.php
  src/Symfony/Component/Messenger/Transport/Receiver/ReceiverInterface.php
  src/Symfony/Component/Messenger/Transport/Receiver/SingleMessageReceiver.php
  src/Symfony/Component/Messenger/Transport/Sender/SenderInterface.php
  src/Symfony/Component/Messenger/Transport/Sender/SendersLocator.php
  src/Symfony/Component/Messenger/Transport/Sender/SendersLocatorInterface.php
  src/Symfony/Component/Messenger/Worker.php
  src/Symfony/Component/Messenger/composer.json
Labels: BC Break, Feature, Messenger, Status: Reviewed, ⭐️ EUFOSSA Hackathon

#31331 [Workflow] Fixed dumping when many transition with same name exist
  src/Symfony/Component/Workflow/Dumper/GraphvizDumper.php
  src/Symfony/Component/Workflow/Tests/Dumper/GraphvizDumperTest.php
Labels: Bug, Status: Reviewed, Workflow

#31326 fix ConsoleFormatter - call to a member function format() on string
  src/Symfony/Bridge/Monolog/Formatter/ConsoleFormatter.php
  src/Symfony/Bridge/Monolog/Tests/Formatter/ConsoleFormatterTest.php
Labels: Bug, Status: Reviewed

#31304 Made `debug:container` and `debug:autowiring` ignore starting backslash in service id
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
Labels: Bug, Status: Reviewed

#31292 [Validator] Allow intl timezones
  src/Symfony/Component/Validator/Constraints/Timezone.php
  src/Symfony/Component/Validator/Constraints/TimezoneValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/TimezoneValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#31288 [Messenger] RoutableMessageBus route to default bus
  src/Symfony/Component/Messenger/RoutableMessageBus.php
  src/Symfony/Component/Messenger/Tests/RoutableMessageBusTest.php
Labels: Bug, Messenger, Status: Reviewed

#31338 Revert "bug #30620 [FrameworkBundle][HttpFoundation] make session service resettable (dmaicher)"
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.xml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/HttpFoundation/Session/Session.php
  src/Symfony/Component/HttpFoundation/Tests/Session/SessionTest.php
Labels: Bug, FrameworkBundle, HttpFoundation, Status: Reviewed

#31343 [Translation] Fixes typo in comment
  src/Symfony/Component/Translation/Util/ArrayConverter.php
Labels: Status: Reviewed, Translator

#31339 Reword VarDumper description
  src/Symfony/Component/VarDumper/README.md
Labels: Status: Reviewed, VarDumper

#31345 Release v3.4.27
  CHANGELOG-3.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#31347 Release v4.2.8
  CHANGELOG-4.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#31352 [TwigBridge] fix conflict resolution
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
Labels: Status: Reviewed, TwigBridge

#31346 [Messenger] Lowercased method calls on \Redis
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Messenger, Status: Reviewed

#30985 [Form] Keep preferred choices order in ChoiceType
  src/Symfony/Component/Form/ChoiceList/Factory/DefaultChoiceListFactory.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/DefaultChoiceListFactoryTest.php
Labels: Feature, Form, Status: Reviewed, ⭐️ EUFOSSA Hackathon

#31344 [FrameworkBundle] Remove SendFailedMessageToFailureTransportListener if no failure transport
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#31384 [Mailer][Messenger] Changing messenger bus id from 'message_bus' to 'messenger.default_bus'
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.xml
Labels: Status: Needs Review

#31382 [PhpunitBridge] Fix not unserialized logs after DeprecationErrorHandler refacto
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#31380 [WebProfilerBundle] Don't filter submitted IP values
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
Labels: Bug, Status: Reviewed, WebProfilerBundle

#31372 Merges second DI section into first one
  UPGRADE-5.0.md
Labels: Status: Reviewed

#31377 [Console] Fix auto-complete for ChoiceQuestion (multi-select answers)
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
Labels: Bug, Console, Status: Reviewed

#31364 [Bridge/PhpUnit] Extract all the code but shebang from bin/simple-phpunit
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, Status: Reviewed

#31350 [Intl] Rename Regions to Countries
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Component/Form/Extension/Core/Type/CountryType.php
  src/Symfony/Component/Intl/CHANGELOG.md
  src/Symfony/Component/Intl/Countries.php
  src/Symfony/Component/Intl/Intl.php
  src/Symfony/Component/Intl/Tests/CountriesTest.php
  src/Symfony/Component/Intl/Tests/CurrenciesTest.php
  src/Symfony/Component/Intl/Tests/LanguagesTest.php
  src/Symfony/Component/Intl/Tests/LocalesTest.php
  src/Symfony/Component/Intl/Tests/ScriptsTest.php
  src/Symfony/Component/Intl/Tests/TimezonesTest.php
  src/Symfony/Component/Intl/Timezones.php
  src/Symfony/Component/Validator/Constraints/Bic.php
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Constraints/Country.php
  src/Symfony/Component/Validator/Constraints/CountryValidator.php
Labels: Bug, Intl, Status: Reviewed

#31353 [FrameworkBundle] Show injected services for iterator and array arguments
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_1.txt
Labels: Feature, FrameworkBundle, Status: Reviewed

#31354 [Intl][Validator] Handle alias locales/timezones
  src/Symfony/Component/Intl/Locales.php
  src/Symfony/Component/Intl/Tests/LocalesTest.php
  src/Symfony/Component/Intl/Tests/TimezonesTest.php
  src/Symfony/Component/Intl/Timezones.php
  src/Symfony/Component/Validator/Constraints/LocaleValidator.php
  src/Symfony/Component/Validator/Constraints/TimezoneValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/LocaleValidatorTest.php
Labels: Bug, Intl, Status: Reviewed, Validator

#31392 Make the exception messages consistent across the board
  src/Symfony/Component/Validator/Constraints/Bic.php
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Constraints/Country.php
  src/Symfony/Component/Validator/Constraints/CountryValidator.php
  src/Symfony/Component/Validator/Constraints/Currency.php
  src/Symfony/Component/Validator/Constraints/CurrencyValidator.php
  src/Symfony/Component/Validator/Constraints/Language.php
  src/Symfony/Component/Validator/Constraints/LanguageValidator.php
  src/Symfony/Component/Validator/Constraints/Locale.php
  src/Symfony/Component/Validator/Constraints/LocaleValidator.php
Labels: Status: Reviewed

#31389 [Messenger] fix wrong use of generator returns
  src/Symfony/Component/Messenger/Stamp/SentToFailureTransportStamp.php
  src/Symfony/Component/Messenger/Tests/Stamp/SentToFailureTransportStampTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineTransportTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Receiver/SingleMessageReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/RedisReceiverTest.php
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/RedisTransportTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpReceiver.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpTransport.php
  src/Symfony/Component/Messenger/Transport/Doctrine/DoctrineReceiver.php
  src/Symfony/Component/Messenger/Transport/Receiver/ListableReceiverInterface.php
  src/Symfony/Component/Messenger/Transport/Receiver/SingleMessageReceiver.php
  src/Symfony/Component/Messenger/Transport/RedisExt/RedisReceiver.php
  src/Symfony/Component/Messenger/Transport/RedisExt/RedisTransport.php
  src/Symfony/Component/Messenger/Worker.php
  src/Symfony/Component/Messenger/Worker/StopWhenRestartSignalIsReceived.php
Labels: Messenger, Status: Reviewed

#31387 [Messenger] Fix Redis Connection::get() after reject()
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#31060 [Validator] Make API endpoint for NotCompromisedPasswordValidator configurable
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/Validator/Constraints/NotCompromisedPasswordValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/NotCompromisedPasswordValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#31396 [Messenger] Fix rejecting of pending messages
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Status: Reviewed

#31366 [Intl] Cleanup
  src/Symfony/Component/Intl/CONTRIBUTING.md
  src/Symfony/Component/Intl/Data/Generator/CurrencyDataGenerator.php
  src/Symfony/Component/Intl/Data/Generator/RegionDataGenerator.php
  src/Symfony/Component/Intl/Data/Provider/CurrencyDataProvider.php
  src/Symfony/Component/Intl/Data/Provider/LanguageDataProvider.php
  src/Symfony/Component/Intl/Data/Provider/LocaleDataProvider.php
  src/Symfony/Component/Intl/Data/Provider/RegionDataProvider.php
  src/Symfony/Component/Intl/Data/Provider/ScriptDataProvider.php
  src/Symfony/Component/Intl/Tests/Data/Provider/AbstractCurrencyDataProviderTest.php
  src/Symfony/Component/Intl/Tests/Data/Provider/AbstractDataProviderTest.php
  src/Symfony/Component/Intl/Tests/Data/Provider/AbstractLanguageDataProviderTest.php
  src/Symfony/Component/Intl/Tests/Data/Provider/AbstractLocaleDataProviderTest.php
  src/Symfony/Component/Intl/Tests/Data/Provider/AbstractRegionDataProviderTest.php
  src/Symfony/Component/Intl/Tests/Data/Provider/AbstractScriptDataProviderTest.php
Labels: Intl, Status: Needs Review

#31405 [Dotenv] Test do not use putenv
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
Labels: Status: Reviewed

#31355 [Messenger] Adding final routing key to delay queue name
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
Labels: Bug, Messenger, Status: Needs Review

#31249 [Translator] Set sources when extracting strings from php files
  src/Symfony/Component/Translation/Extractor/PhpExtractor.php
  src/Symfony/Component/Translation/Tests/Extractor/PhpExtractorTest.php
Labels: Feature, Status: Reviewed, Translator

#31412 [Intl] recompile master
  src/Symfony/Component/Intl/Resources/data/locales/zh.json
Labels: Bug, Intl, Status: Needs Review

#31410 [Messenger] Fixing missed tests from #31355
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/ConnectionTest.php
Labels: Bug, Messenger, Status: Needs Review

#31411 [Intl] Fix root fallback locale
  src/Symfony/Component/Intl/Data/Generator/LocaleDataGenerator.php
  src/Symfony/Component/Intl/Data/Generator/RegionDataGenerator.php
  src/Symfony/Component/Intl/Locale.php
  src/Symfony/Component/Intl/Resources/bin/update-data.php
  src/Symfony/Component/Intl/Resources/data/locales/az_AZ.json
  src/Symfony/Component/Intl/Resources/data/locales/bs_BA.json
  src/Symfony/Component/Intl/Resources/data/locales/en_NH.json
  src/Symfony/Component/Intl/Resources/data/locales/en_RH.json
  src/Symfony/Component/Intl/Resources/data/locales/ff_CM.json
  src/Symfony/Component/Intl/Resources/data/locales/ff_GN.json
  src/Symfony/Component/Intl/Resources/data/locales/ff_MR.json
  src/Symfony/Component/Intl/Resources/data/locales/ff_SN.json
  src/Symfony/Component/Intl/Resources/data/locales/in.json
  src/Symfony/Component/Intl/Resources/data/locales/in_ID.json
  src/Symfony/Component/Intl/Resources/data/locales/iw.json
  src/Symfony/Component/Intl/Resources/data/locales/iw_IL.json
  src/Symfony/Component/Intl/Resources/data/locales/mo.json
  src/Symfony/Component/Intl/Resources/data/locales/no.json
  src/Symfony/Component/Intl/Resources/data/locales/no_NO.json
  src/Symfony/Component/Intl/Resources/data/locales/no_NO_NY.json
  src/Symfony/Component/Intl/Resources/data/locales/pa_IN.json
  src/Symfony/Component/Intl/Resources/data/locales/pa_PK.json
  src/Symfony/Component/Intl/Resources/data/locales/sh.json
  src/Symfony/Component/Intl/Resources/data/locales/sh_BA.json
  src/Symfony/Component/Intl/Resources/data/locales/sh_CS.json
  src/Symfony/Component/Intl/Resources/data/locales/sh_YU.json
  src/Symfony/Component/Intl/Resources/data/locales/sr_BA.json
  src/Symfony/Component/Intl/Resources/data/locales/sr_CS.json
  src/Symfony/Component/Intl/Resources/data/locales/sr_Cyrl_CS.json
  src/Symfony/Component/Intl/Resources/data/locales/sr_Cyrl_YU.json
  src/Symfony/Component/Intl/Resources/data/locales/sr_Latn_CS.json
  src/Symfony/Component/Intl/Resources/data/locales/sr_Latn_YU.json
  src/Symfony/Component/Intl/Resources/data/locales/sr_ME.json
  src/Symfony/Component/Intl/Resources/data/locales/sr_RS.json
  src/Symfony/Component/Intl/Resources/data/locales/sr_XK.json
  src/Symfony/Component/Intl/Resources/data/locales/sr_YU.json
  src/Symfony/Component/Intl/Resources/data/locales/tl.json
  src/Symfony/Component/Intl/Resources/data/locales/tl_PH.json
  src/Symfony/Component/Intl/Resources/data/locales/uz_AF.json
  src/Symfony/Component/Intl/Resources/data/locales/uz_UZ.json
  src/Symfony/Component/Intl/Resources/data/locales/zh_CN.json
  src/Symfony/Component/Intl/Resources/data/locales/zh_HK.json
  src/Symfony/Component/Intl/Resources/data/locales/zh_MO.json
  src/Symfony/Component/Intl/Resources/data/locales/zh_SG.json
  src/Symfony/Component/Intl/Resources/data/locales/zh_TW.json
  src/Symfony/Component/Intl/Tests/LocaleTest.php
Labels: Bug, Intl, Status: Needs Review

#31424 Fix tests
  .travis.yml
Labels: Status: Reviewed

#31428 Fix tests on Travis for 4.2
  .travis.yml
Labels: Status: Needs Review

#31427 [Intl] Enable error handler during compile
  src/Symfony/Component/Intl/Resources/bin/common.php
Labels: Bug, Intl, Status: Reviewed

#31435 Release v4.3.0-BETA1
  CHANGELOG-4.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#31439 Update PR template for 4.3
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#31432 [Intl] Add FallbackTrait for data generation
  src/Symfony/Component/Intl/Data/Generator/FallbackTrait.php
  src/Symfony/Component/Intl/Data/Generator/LocaleDataGenerator.php
Labels: Bug, Intl, Status: Reviewed

#31418 [FrameworkBundle] clarify the possible class/interface of the cache
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.xml
Labels: Bug, FrameworkBundle, Status: Needs Review

#31371 [DI] Removes number of elements information in debug mode
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/AbstractDescriptorTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#31261 [Console] Commands with an alias should not be recognized as ambiguous when using register
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/Fixtures/TestAmbiguousCommandRegistering.php
  src/Symfony/Component/Console/Tests/Fixtures/TestAmbiguousCommandRegistering2.php
Labels: Bug, Console, Status: Reviewed

#31440 [Contracts] Simplify implementation declarations
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Contracts/README.md
  src/Symfony/Contracts/composer.json
Labels: Status: Reviewed

#31207 [Routing] Fixed unexpected 404 NoConfigurationException
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherTrait.php
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Bug, Routing, Status: Reviewed

#31401 [Messenger] Simplifying SyncTransport and fixing bug with handlers transport
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Stamp/ForceCallHandlersStamp.php
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Sync/SyncTransportFactoryTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Sync/SyncTransportTest.php
  src/Symfony/Component/Messenger/Transport/Sync/SyncTransport.php
  src/Symfony/Component/Messenger/Transport/Sync/SyncTransportFactory.php
Labels: Bug, Messenger, Status: Reviewed

#31443 [Doctrine\Bridge] fix tests
  src/Symfony/Bridge/Doctrine/composer.json
Labels: Status: Needs Review

#31257 [DomCrawler] fix HTML5 parser integration
  src/Symfony/Component/DomCrawler/Crawler.php
Labels: Bug, DomCrawler, Status: Reviewed

#31453 Fix typo: depreciation -> deprecation
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: Status: Reviewed

#31448 [Form] Restore default locale during tests
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/IntegerToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/NumberToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/PercentToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/MoneyTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/NumberTypeTest.php
Labels: Bug, Form, Status: Needs Review

#31456 Remove deprecated usage of some Twig features
  composer.json
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/request.html.twig
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: Bug, Status: Reviewed

#31458 [TwigBundle] Fix Mailer integration in Twig
  src/Symfony/Bundle/TwigBundle/Resources/config/mailer.xml
Labels: Bug, Status: Reviewed, TwigBundle

#31465 [Serializer] Fix BC break: DEPTH_KEY_PATTERN must be public
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Serializer, Status: Reviewed

#31473 [Messenger] Fix doctrine tests
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineIntegrationTest.php
Labels: Bug, Messenger, Status: Reviewed

#31472 [Messenger] Fix routable message bus default bus
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Component/Messenger/RoutableMessageBus.php
  src/Symfony/Component/Messenger/Tests/RoutableMessageBusTest.php
Labels: Bug, Messenger, Status: Reviewed

#31425 [Messenger] On failure retry, make message appear received from original sender
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageToFailureTransportListener.php
  src/Symfony/Component/Messenger/Middleware/FailedMessageProcessingMiddleware.php
  src/Symfony/Component/Messenger/Stamp/RedeliveryStamp.php
  src/Symfony/Component/Messenger/Stamp/SentToFailureTransportStamp.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesShowCommandTest.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageToFailureTransportListenerTest.php
  src/Symfony/Component/Messenger/Tests/FailureIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/RetryIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Stamp/RedeliveryStampTest.php
  src/Symfony/Component/Messenger/Tests/Stamp/SentToFailureTransportStampTest.php
Labels: Bug, Messenger, Status: Reviewed

#31454 [Messenger] remove send_and_handle which can be achieved with SyncTransport
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_routing.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_routing.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_routing.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Transport/Sender/SendersLocator.php
  src/Symfony/Component/Messenger/Transport/Sender/SendersLocatorInterface.php
Labels: BC Break, Feature, Messenger, Status: Reviewed

#31469 [Workflow] Update WorkflowEvents typo
  src/Symfony/Component/Workflow/WorkflowEvents.php
Labels: Status: Reviewed, Workflow

#31475 [HttpFoundation] Allow set 'None' on samesite cookie flag
  src/Symfony/Component/HttpFoundation/Cookie.php
Labels: Bug, Status: Reviewed

#31442 [Validator] Fix finding translator parent definition in compiler pass
  src/Symfony/Component/Validator/DependencyInjection/AddValidatorInitializersPass.php
Labels: Bug, Status: Reviewed, Validator

#31445 [Messenger] Making cache rebuild correctly when message subscribers change
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/Config/Tests/Resource/ReflectionClassResourceTest.php
  src/Symfony/Component/Config/composer.json
Labels: Bug, Messenger, Status: Reviewed

#31438 [Serializer] Fix denormalization of object with variadic constructor typed argument
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/VariadicConstructorTypedArgsDummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
Labels: Bug, Status: Reviewed

#31395 [Cache] Log a more readable message when trying to cache an unsupported type
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Cache/Traits/ArrayTrait.php
Labels: Feature, Status: Needs Review

#30930 [FrameworkBundle] Fixed issue when a parameter contains a '%'
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Fixtures/describe_env_vars.txt
Labels: Bug, FrameworkBundle, Status: Reviewed, ⭐️ EUFOSSA Hackathon

#31479 [Cache] fix saving unrelated keys in recursive callback calls
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
  src/Symfony/Component/Cache/Tests/Adapter/PhpArrayAdapterTest.php
  src/Symfony/Component/Cache/Traits/ContractsTrait.php
Labels: Bug, Cache, Status: Reviewed

#31477 [PropertyAccess] Add missing property to PropertyAccessor
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: Bug, PropertyAccess, Status: Reviewed

#31488 Drop useless executable bit
  src/Symfony/Component/Validator/Constraints/Json.php
  src/Symfony/Component/Validator/Constraints/JsonValidator.php
Labels: Bug, Status: Needs Review

#31480 Update dependencies in the main component
  composer.json
Labels: Bug, Status: Reviewed

#31481 [Validator] Autovalidation: skip readonly props
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.xml
  src/Symfony/Component/Validator/Mapping/Loader/PropertyInfoLoader.php
  src/Symfony/Component/Validator/Tests/Fixtures/PropertyInfoLoaderEntity.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/PropertyInfoLoaderTest.php
Labels: Bug, Status: Reviewed, Validator

#31486 [Doctrine][PropertyInfo] Detect if the ID is writeable
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineGeneratedValue.php
Labels: Bug, Deprecation, Doctrine, Feature, PropertyInfo, Status: Reviewed

#31452 [FrameworkBundle] Add cache configuration for PropertyInfo
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/property_info.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#31294 [Form] Add intl/choice_translation_locale option to TimezoneType
  src/Symfony/Component/Form/Extension/Core/Type/TimezoneType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TimezoneTypeTest.php
Labels: Feature, Form, Status: Reviewed

#31483 [Messenger] Add `from_transport` in subscriber's phpdoc
  src/Symfony/Component/Messenger/Handler/MessageSubscriberInterface.php
Labels: Messenger, Status: Reviewed

#31463 [DI] default to service id - *not* FQCN - when building tagged locators
  src/Symfony/Component/DependencyInjection/Argument/TaggedIteratorArgument.php
  src/Symfony/Component/DependencyInjection/Compiler/PriorityTaggedServiceTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#31459 Fix the interface incompatibility of EventDispatchers
  src/Symfony/Component/EventDispatcher/LegacyEventDispatcherProxy.php
Labels: Bug, Status: Reviewed

#31420 [Console] optimisation getting the command when finding
  src/Symfony/Component/Console/Application.php
Labels: Console, Status: Reviewed

#31499 [Validator] Add the missing translations for the Danish ("da") locale
  src/Symfony/Component/Form/Resources/translations/validators.da.xlf
Labels: Bug, Status: Reviewed, Validator

#31498 [EventDispatcher] Fix interface name used in error messages
  src/Symfony/Component/EventDispatcher/LegacyEventDispatcherProxy.php
Labels: EventDispatcher, Status: Reviewed

#31030 [Serializer] Deprecate calling createChildContext without the format parameter
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Deprecation, Serializer, Status: Reviewed

#31513 [PropertyInfo] Add missing documentation link in Readme
  src/Symfony/Component/PropertyInfo/README.md
Labels: PropertyInfo, Status: Reviewed

#31525 [FrameworkBundle] Mention that the described service has been removed in debug:container
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#31535 [Debug] Wrap call to require_once in a try/catch
  src/Symfony/Component/Debug/FatalErrorHandler/ClassNotFoundFatalErrorHandler.php
Labels: Bug, Debug, Status: Reviewed

#31524 [HttpFoundation] prevent deprecation when filesize matches error code
  src/Symfony/Component/HttpFoundation/FileBag.php
Labels: Bug, HttpFoundation, Status: Reviewed

#31510 Use the current working dir as default first arg in 'link' binary
  link
Labels: Feature, Status: Reviewed

#31502 [WebProfilerBundle][Form] The form data collector return serialized data
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: Bug, Form, Status: Reviewed, WebProfilerBundle

#31493 [EventDispatcher] Removed "callable" type hint from WrappedListener constructor
  src/Symfony/Component/EventDispatcher/Debug/WrappedListener.php
Labels: Bug, EventDispatcher, Status: Reviewed

#31421 [Routing][AnnotationClassLoader] fix utf-8 encoding in default route name
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotatedClasses/EncodingClass.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationDirectoryLoaderTest.php
Labels: Bug, Routing, Status: Reviewed

#31335 [Doctrine] Respect parent class contract in ContainerAwareEventManager
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/Tests/ContainerAwareEventManagerTest.php
Labels: Bug, Doctrine, Ready, Status: Reviewed

#31544 [Messenger] Fix undefined index on read timeout
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#31542 [HttpClient] add missing argument check
  src/Symfony/Component/HttpClient/ScopingHttpClient.php
Labels: Bug, HttpClient, Status: Reviewed

#31551 [ProxyManager] isProxyCandidate() does not take into account interfaces
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/ProxyDumperTest.php
Labels: Bug, Status: Reviewed

#31550 [Mailer] adding experimental disclaimer in readme
  src/Symfony/Component/Mailer/README.md
Labels: Bug, Status: Needs Review

#31537 [Workflow] use method marking store
  src/Symfony/Component/Workflow/StateMachine.php
Labels: Status: Reviewed, Workflow

#31552 [Ldap] add a test to getResources and binding
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/EntryManagerTest.php
Labels: Ldap, Status: Reviewed

#31545 [Messenger] Fix redis Connection::get() should be non blocking by default
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#31471 [Messenger] Add "non sendable" stamps
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Envelope.php
  src/Symfony/Component/Messenger/Stamp/NonSendableStampInterface.php
  src/Symfony/Component/Messenger/Tests/EnvelopeTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/PhpSerializerTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/SerializerTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpReceivedStamp.php
  src/Symfony/Component/Messenger/Transport/Doctrine/DoctrineReceivedStamp.php
  src/Symfony/Component/Messenger/Transport/RedisExt/RedisReceivedStamp.php
  src/Symfony/Component/Messenger/Transport/Serialization/PhpSerializer.php
  src/Symfony/Component/Messenger/Transport/Serialization/Serializer.php
  src/Symfony/Component/Messenger/Transport/Serialization/SerializerInterface.php
Labels: Bug, Feature, Messenger, Status: Needs Review

#31482 [Messenger][DoctrineBridge] Throws UnrecoverableMessageHandlingException when passed invalid entity manager name
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineCloseConnectionMiddleware.php
  src/Symfony/Bridge/Doctrine/Messenger/DoctrinePingConnectionMiddleware.php
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineTransactionMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineCloseConnectionMiddlewareTest.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrinePingConnectionMiddlewareTest.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineTransactionMiddlewareTest.php
  src/Symfony/Bridge/Doctrine/composer.json
Labels: Bug, DoctrineBridge, Messenger, Status: Reviewed

#31553 [Ldap] add a test on parsing the rdn
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/EntryManagerTest.php
Labels: Status: Reviewed

#31219 [HttpClient] Allow arrays as query parameters
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
Labels: Bug, Status: Reviewed

#31566 [Security] fixed a fatal error when upgrading from 4.2
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
Labels: Bug, Security, Status: Reviewed

#31569 [HttpClient] Only use CURLMOPT_MAX_HOST_CONNECTIONS & CURL_VERSION_HTTP2 if defined
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: Bug, Status: Reviewed

#31577 Release v4.3.0-BETA2
  CHANGELOG-4.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#31570 [Security\Http] fix phpdoc
  src/Symfony/Component/Security/Http/Authorization/AccessDeniedHandlerInterface.php
Labels: Bug, Security, Status: Reviewed

#31543 [DI] deprecate short callables in yaml
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Deprecation, Status: Reviewed

#31568 [Process] Fix infinite waiting for stopped process
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ErrorProcessInitiator.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Bug, Status: Reviewed

#31541 [DI] fix using bindings with locators of service subscribers
  src/Symfony/Component/DependencyInjection/Compiler/ServiceLocatorTagPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ServiceLocatorTagPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestDefinition2.php
Labels: Bug, DependencyInjection, Status: Needs Review

#31437 [Cache] Add Redis Sentinel support
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Feature, Status: Reviewed

#31349 [WebProfilerBundle] Use absolute URL for profiler links
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar_item.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#31588 [Ldap] minor: fix phpdocs in the ldap component
  src/Symfony/Component/Ldap/Exception/ConnectionException.php
  src/Symfony/Component/Ldap/Exception/DriverNotFoundException.php
  src/Symfony/Component/Ldap/Exception/LdapException.php
Labels: Ldap, Status: Needs Review

#31589 [FrameworkBundle] improve cs
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: FrameworkBundle, Status: Reviewed

#31586 [HttpClient] display proper error message on TransportException when curl is used
  src/Symfony/Component/HttpClient/Exception/HttpExceptionTrait.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, Status: Reviewed

#31590 [Cache] improve logged messages
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
  src/Symfony/Component/Cache/Simple/AbstractCache.php
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Cache/Traits/AbstractTrait.php
  src/Symfony/Component/Cache/Traits/ArrayTrait.php
Labels: Bug, Cache, Status: Reviewed

#31591 [FrameworkBundle] fix named autowiring aliases for TagAwareCacheInterface
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#31565 [Mime][HttpFoundation] Added mime type audio/x-hx-aac-adts
  src/Symfony/Component/HttpFoundation/File/MimeType/MimeTypeExtensionGuesser.php
  src/Symfony/Component/Mime/MimeTypes.php
Labels: Bug, HttpFoundation, Status: Needs Review

#31599 [Translation] Fixed issue with new vs old TranslatorInterface in TranslationDataCollector
  src/Symfony/Component/Translation/DataCollectorTranslator.php
Labels: Bug, Status: Needs Review, Translator

#31598 Don't reference symfony/security
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Status: Reviewed

#31595 Make tempfile path unique
  src/Symfony/Component/HttpKernel/Tests/Log/LoggerTest.php
Labels: Bug, Status: Reviewed

#31603 [github] Implement the new security policy.
  .github/SECURITY.md
Labels: Status: Reviewed

#31607 [Filesystem] fix wrong method call casing
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: Filesystem, Status: Reviewed

#31606 [Finder] fix wrong method call casing
  src/Symfony/Component/Finder/Iterator/SortableIterator.php
Labels: Finder, Status: Reviewed

#31615 Allow WrappedListener to describe uncallable listeners
  src/Symfony/Component/EventDispatcher/Debug/WrappedListener.php
  src/Symfony/Component/EventDispatcher/Tests/Debug/WrappedListenerTest.php
Labels: Bug, Status: Reviewed

#31610 [HttpClient] fix handling exceptions thrown before first mock chunk
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: Bug, Status: Reviewed

#31539 [HttpKernel] Add lts config
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/config.html.twig
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/ConfigDataCollectorTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#31622 [Messenger] Fix incorrect error message when symfony/serializer is missing
  src/Symfony/Component/Messenger/Transport/Serialization/Serializer.php
Labels: Bug, Messenger, Status: Reviewed

#31629 Small grammar mistake in documentation
  src/Symfony/Component/HttpKernel/Controller/ControllerResolverInterface.php
Labels: Status: Reviewed

#31631 Fixes a small doc blocks syntax error
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Status: Reviewed

#31632 [Messenger] Use "real" memory usage to honor --memory-limit
  src/Symfony/Component/Messenger/Transport/Receiver/StopWhenMemoryUsageIsExceededReceiver.php
Labels: Bug, Messenger, Status: Reviewed

#31584 [Workflow] Do not trigger extra guards
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
  src/Symfony/Component/Workflow/Workflow.php
Labels: Bug, Status: Reviewed, Workflow

#31621 [Messenger] Fix missing auto_setup for RedisTransport
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#31625 [Messenger] Disable the SchemaAssetsFilter when setup the transport
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#31571 [Contracts] split in one package per sub-contracts
  src/Symfony/Contracts/Cache/LICENSE
  src/Symfony/Contracts/Cache/README.md
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/EventDispatcher/LICENSE
  src/Symfony/Contracts/EventDispatcher/README.md
  src/Symfony/Contracts/EventDispatcher/composer.json
  src/Symfony/Contracts/HttpClient/LICENSE
  src/Symfony/Contracts/HttpClient/README.md
  src/Symfony/Contracts/HttpClient/composer.json
  src/Symfony/Contracts/README.md
  src/Symfony/Contracts/Service/LICENSE
  src/Symfony/Contracts/Service/README.md
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/Translation/LICENSE
  src/Symfony/Contracts/Translation/README.md
  src/Symfony/Contracts/Translation/composer.json
  src/Symfony/Contracts/composer.json
Labels: Status: Reviewed

#31635 Reference individual contracts packages
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Monolog/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/EventDispatcher/composer.json
  src/Symfony/Component/ExpressionLanguage/composer.json
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/composer.json
  src/Symfony/Component/Stopwatch/composer.json
  src/Symfony/Component/Translation/Tests/IdentityTranslatorTest.php
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/composer.json
  src/Symfony/Contracts/Translation/Test/TranslatorTest.php
  src/Symfony/Contracts/phpunit.xml.dist
Labels: Status: Reviewed

#31637 Fix typo
  src/Symfony/Contracts/Service/composer.json
Labels: Status: Reviewed

#31642 FragmentListener - fix typo in annotation
  src/Symfony/Component/HttpKernel/EventListener/FragmentListener.php
Labels: Status: Reviewed

#31641 [HttpClient] make $response->getInfo('debug') return extended logs about the HTTP transaction
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
Labels: Feature, Status: Reviewed

#31646 Release v3.4.28
  CHANGELOG-3.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#31612 Use AsserEquals for floating-point values
  src/Symfony/Component/HttpFoundation/Tests/JsonResponseTest.php
Labels: Bug, Status: Reviewed

#31650 Create an abstract HTTP transport and extend it in all HTTP transports
  src/Symfony/Component/Mailer/Bridge/Amazon/Http/SesTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Http/MandrillTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Http/MailgunTransport.php
  src/Symfony/Component/Mailer/Transport/Http/AbstractHttpTransport.php
Labels: Status: Reviewed

#31651 Release v4.2.9
  CHANGELOG-4.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#31652 Release v4.3.0-RC1
  CHANGELOG-4.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#31657 Allow Symfony 5.0
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Monolog/composer.json
  src/Symfony/Bridge/ProxyManager/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/DebugBundle/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Bundle/WebServerBundle/composer.json
  src/Symfony/Component/Asset/composer.json
  src/Symfony/Component/BrowserKit/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Config/composer.json
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/Debug/composer.json
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/DomCrawler/composer.json
  src/Symfony/Component/Dotenv/composer.json
  src/Symfony/Component/EventDispatcher/composer.json
  src/Symfony/Component/ExpressionLanguage/composer.json
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Intl/composer.json
  src/Symfony/Component/Ldap/composer.json
  src/Symfony/Component/Mailer/Bridge/Amazon/composer.json
  src/Symfony/Component/Mailer/Bridge/Google/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailchimp/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailgun/composer.json
  src/Symfony/Component/Mailer/Bridge/Postmark/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendgrid/composer.json
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Component/Mime/composer.json
  src/Symfony/Component/PropertyAccess/composer.json
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Routing/composer.json
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/Csrf/composer.json
  src/Symfony/Component/Security/Guard/composer.json
  src/Symfony/Component/Security/Http/composer.json
  src/Symfony/Component/Security/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/composer.json
  src/Symfony/Component/VarDumper/composer.json
  src/Symfony/Component/VarExporter/composer.json
  src/Symfony/Component/WebLink/composer.json
  src/Symfony/Component/Workflow/composer.json
  src/Symfony/Component/Yaml/composer.json
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/EventDispatcher/composer.json
  src/Symfony/Contracts/HttpClient/composer.json
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/Translation/composer.json
  src/Symfony/Contracts/composer.json
Labels: Status: Needs Review

#31660 Bump deps to ^4.4|^5.0 for Symfony 5.0
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Monolog/composer.json
  src/Symfony/Bridge/PhpUnit/composer.json
  src/Symfony/Bridge/ProxyManager/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/DebugBundle/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Bundle/WebServerBundle/composer.json
  src/Symfony/Component/Asset/composer.json
  src/Symfony/Component/BrowserKit/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Config/composer.json
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/Debug/composer.json
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/DomCrawler/composer.json
  src/Symfony/Component/Dotenv/composer.json
  src/Symfony/Component/EventDispatcher/composer.json
  src/Symfony/Component/ExpressionLanguage/composer.json
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Intl/composer.json
  src/Symfony/Component/Ldap/composer.json
  src/Symfony/Component/Mailer/Bridge/Amazon/composer.json
  src/Symfony/Component/Mailer/Bridge/Google/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailchimp/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailgun/composer.json
  src/Symfony/Component/Mailer/Bridge/Postmark/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendgrid/composer.json
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Component/Mime/composer.json
  src/Symfony/Component/PropertyAccess/composer.json
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Routing/composer.json
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/Csrf/composer.json
  src/Symfony/Component/Security/Guard/composer.json
  src/Symfony/Component/Security/Http/composer.json
  src/Symfony/Component/Security/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/composer.json
  src/Symfony/Component/VarDumper/composer.json
  src/Symfony/Component/VarExporter/composer.json
  src/Symfony/Component/WebLink/composer.json
  src/Symfony/Component/Workflow/composer.json
  src/Symfony/Component/Yaml/composer.json
Labels: Status: Needs Review

#31664 [TwigBundle] Remove default value deprecation for twig.strict_variables option
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/customTemplateEscapingGuesser.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/empty.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/extra.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/formats.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/customTemplateEscapingGuesser.xml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/empty.xml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/formats.xml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/yml/customTemplateEscapingGuesser.yml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/yml/empty.yml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/yml/extra.yml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/yml/formats.yml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/TwigExtensionTest.php
  src/Symfony/Bundle/TwigBundle/Tests/Functional/CacheWarmingTest.php
  src/Symfony/Bundle/TwigBundle/Tests/Functional/EmptyAppTest.php
  src/Symfony/Bundle/TwigBundle/Tests/Functional/NoTemplatingEntryTest.php
Labels: Status: Reviewed, TwigBundle

#31681 [Validator] Remove checkDNS option in Url
  src/Symfony/Component/Validator/Constraints/Url.php
  src/Symfony/Component/Validator/Constraints/UrlValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
Labels: Status: Needs Review, Validator

#31680 [Validator] Remove fallback dependency checks
  src/Symfony/Component/Validator/Constraints/Bic.php
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Constraints/Country.php
  src/Symfony/Component/Validator/Constraints/CountryValidator.php
  src/Symfony/Component/Validator/Constraints/Currency.php
  src/Symfony/Component/Validator/Constraints/CurrencyValidator.php
  src/Symfony/Component/Validator/Constraints/Email.php
  src/Symfony/Component/Validator/Constraints/EmailValidator.php
  src/Symfony/Component/Validator/Constraints/Expression.php
  src/Symfony/Component/Validator/Constraints/ExpressionValidator.php
  src/Symfony/Component/Validator/Constraints/Language.php
  src/Symfony/Component/Validator/Constraints/LanguageValidator.php
  src/Symfony/Component/Validator/Constraints/Locale.php
  src/Symfony/Component/Validator/Constraints/LocaleValidator.php
Labels: Status: Needs Review, Validator
