Repository symfony/symfony, pull requests merged in 2019-11, with the labels that each got.

#34208 Release v3.4.33
  CHANGELOG-3.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34209 Release v4.3.6
  CHANGELOG-4.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34185 [Messenger] extract worker logic to listener and get rid of SendersLocatorInterface::getSenderByAlias
  UPGRADE-4.4.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Event/WorkerMessageFailedEvent.php
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageForRetryListener.php
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageToFailureTransportListener.php
  src/Symfony/Component/Messenger/Exception/UnknownSenderException.php
  src/Symfony/Component/Messenger/Middleware/RejectRedeliveredMessageMiddleware.php
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Stamp/RedeliveryStamp.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesShowCommandTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageForRetryListenerTest.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageToFailureTransportListenerTest.php
  src/Symfony/Component/Messenger/Tests/FailureIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/DummyMessageHandlerFailingFirstTimes.php
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Retry/MultiplierRetryStrategyTest.php
  src/Symfony/Component/Messenger/Tests/RetryIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Stamp/RedeliveryStampTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Sender/SendersLocatorTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Transport/Sender/SendersLocator.php
  src/Symfony/Component/Messenger/Transport/Sender/SendersLocatorInterface.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Messenger, Status: Reviewed

#34215 Fix typo
  src/Symfony/Bundle/FrameworkBundle/Test/MailerAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/MailerTest.php
Labels: Bug, Status: Reviewed

#34225 [HttpFoundation] MockFileSessionStorageTest::sessionDir being used after it's unset
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/MockFileSessionStorageTest.php
Labels: Bug, Status: Reviewed

#34226 Name test accordingly to the tested class
  src/Symfony/Component/EventDispatcher/Tests/LegacyEventDispatcherProxyTest.php
Labels: Status: Reviewed

#34035 [Serializer] Fix property name usage for denormalization
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/OtherSerializedNameDummy.php
  src/Symfony/Component/Serializer/Tests/NameConverter/MetadataAwareNameConverterTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Bug, Serializer, Status: Reviewed

#33854 [DI] Add ability to choose behavior of decorations on non existent decorated services
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/DecoratorServicePass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveChildDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInvalidReferencesPass.php
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/DecorateTrait.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Compiler/DecoratorServicePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveInvalidReferencesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/DefinitionTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/XmlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/YamlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container34.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services6.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/bad_decoration_on_invalid_null.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services34.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services6.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#34211 [Messenger] remove legacy code in SendersLocator
  src/Symfony/Component/Messenger/Transport/Sender/SendersLocator.php
Labels: Messenger, Status: Reviewed

#33954 Form theme: support Bootstrap 4 custom switches
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_base_layout.html.twig
Labels: Feature, Status: Reviewed, TwigBridge

#32061 Add new Form WeekType
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/week_widget.html.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/CoreExtension.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/WeekToArrayTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/WeekType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/WeekToArrayTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/WeekTypeTest.php
Labels: Feature, Form, Status: Reviewed

#34218 [Security] Fix SwitchUserToken wrongly deauthenticated
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/SwitchUserTokenTest.php
Labels: Bug, Security, Status: Reviewed

#34219 [Security] Add back ROLE_PREVIOUS_ADMIN to impersonated user
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
Labels: Bug, Security, Status: Reviewed

#34203 [FrameworkBundle] [HttpKernel] fixed correct EOL and EOM month
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
Labels: Status: Reviewed

#34179 [Stopwatch] Fixed a bug in StopwatchEvent::getStartTime
  src/Symfony/Component/Stopwatch/StopwatchEvent.php
  src/Symfony/Component/Stopwatch/Tests/StopwatchEventTest.php
Labels: Bug, Status: Reviewed, Stopwatch

#34165 [PropertyInfo] Fixed type extraction for nullable collections of non-nullable elements
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
Labels: Bug, PropertyInfo, Status: Reviewed

#34181 [Stopwatch] Fixed bug in getDuration when counting multiple ongoing periods
  src/Symfony/Component/Stopwatch/StopwatchEvent.php
  src/Symfony/Component/Stopwatch/Tests/StopwatchEventTest.php
Labels: Bug, Status: Reviewed, Stopwatch

#34153 [Validator] add missing translation for 94 (it)
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Bug, Status: Reviewed

#34160 Adding some validations tags on validators.et.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.et.xlf
Labels: Bug, Status: Reviewed, Validator

#34227 Simplify PHP CS Fixer configuration
  .php_cs.dist
Labels: Status: Reviewed

#34134 [Messenger] fix retry of messages losing the routing key and properties
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpStampTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpSender.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpStamp.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#31587 [Routing][Config] Allow patterns of resources to be excluded from config loading
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/Config/Tests/Fixtures/Include/ExcludeFile.txt
  src/Symfony/Component/Config/Tests/Fixtures/Include/IncludeAnotherFile.txt
  src/Symfony/Component/Config/Tests/Fixtures/Include/IncludeFile.txt
  src/Symfony/Component/Config/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/GlobFileLoaderTest.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/Configurator/RoutingConfigurator.php
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Routing/Loader/schema/routing/routing-1.0.xsd
  src/Symfony/Component/Routing/Tests/Loader/GlobFileLoaderTest.php
Labels: Feature, Routing, Status: Reviewed

#34197 [ErrorRenderer] Show generic message in non-debug mode
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/JsonLoginTest.php
  src/Symfony/Component/ErrorRenderer/ErrorRenderer/JsonErrorRenderer.php
  src/Symfony/Component/ErrorRenderer/ErrorRenderer/TxtErrorRenderer.php
  src/Symfony/Component/ErrorRenderer/ErrorRenderer/XmlErrorRenderer.php
  src/Symfony/Component/ErrorRenderer/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/ErrorRenderer/Tests/ErrorRenderer/JsonErrorRendererTest.php
  src/Symfony/Component/ErrorRenderer/Tests/ErrorRenderer/TxtErrorRendererTest.php
  src/Symfony/Component/ErrorRenderer/Tests/ErrorRenderer/XmlErrorRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ErrorControllerTest.php
Labels: ErrorRenderer, Status: Reviewed

#34229 [DependencyInjection] Fix broken references in tests
  src/Symfony/Component/DependencyInjection/Tests/LazyProxy/Instantiator/RealServiceInstantiatorTest.php
  src/Symfony/Component/DependencyInjection/Tests/LazyProxy/PhpDumper/NullDumperTest.php
Labels: Bug, DependencyInjection, Status: Needs Review

#34184 [VarDumper] display the method we're in when dumping stack traces
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Tests/Caster/ExceptionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
Labels: Status: Needs Review, VarDumper

#34230 [HttpKernel][DataCollectorInterface] Ease compatibility
  src/Symfony/Component/HttpKernel/DataCollector/DataCollectorInterface.php
Labels: HttpKernel, Status: Reviewed

#34188 [PhpUnitBridge] Also search for composer.phar in git root folder
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: PhpUnitBridge, Status: Needs Review

#33950 [FrameworkBundle] Avoid using of kernel after shutdown in KernelTestCase
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
Labels: Status: Reviewed

#34199 [HttpClient] Retry safe requests using HTTP/1.1 when HTTP/2 fails
  src/Symfony/Component/HttpClient/Chunk/ErrorChunk.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
Labels: Bug, HttpClient, Status: Needs Review

#33065 Deprecate things that prevent \Throwable from bubbling down
  UPGRADE-4.4.md
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/DataCollector/TwigDataCollector.php
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/DataCollector/RouterDataCollector.php
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/DataCollector/CacheDataCollector.php
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/AjaxDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/EventDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/ExceptionDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/MemoryDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/RouterDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/TimeDataCollector.php
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Profiler/Profiler.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/DebugHandlersListenerTest.php
  src/Symfony/Component/Mailer/DataCollector/MessageDataCollector.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/DataCollector/TranslationDataCollector.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/DataCollector/ValidatorDataCollector.php
Labels: Deprecation, Status: Needs Work

#31977 Add handling for delayed message to redis transport
  .travis.yml
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/RedisExtIntegrationTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
  src/Symfony/Component/Messenger/Transport/RedisExt/RedisSender.php
Labels: Feature, Messenger, Status: Reviewed

#34135 [Validator] Add the missing translations for the Hebrew ("he") locale and fix 2 typos
  src/Symfony/Component/Validator/Resources/translations/validators.he.xlf
Labels: Feature, Status: Reviewed, Validator

#34245 Fix WeekType tests
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
Labels: Status: Reviewed

#34244 [Inflector] add support for 'species'
  src/Symfony/Component/Inflector/Inflector.php
  src/Symfony/Component/Inflector/Tests/InflectorTest.php
Labels: Bug, Inflector, Status: Reviewed

#34251 [HttpClient] expose only gzip when doing transparent compression
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: Bug, HttpClient, Status: Needs Review

#34255 [HttpClient] fix after merge from 4.3
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
Labels: Bug, HttpClient, Status: Needs Review

#34250 [VarDumper] fix tests & displaying generators
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
Labels: Bug, Status: Needs Review, VarDumper

#34213 [Notifier][Telegram] Fixing Telegram token
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransportFactory.php
Labels: Bug, Notifier, Status: Reviewed

#34258 [HttpClient] fix support for NTLM auth
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, HttpClient, Status: Needs Review

#34260 [Messenger] conflict with FrameworkBundle < 4.4
  src/Symfony/Component/Messenger/composer.json
Labels: Bug, Messenger, Status: Needs Review

#34257 [DoctrineBridge] Reopen DoctrineDataCollector to extensibility
  UPGRADE-4.4.md
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php
Labels: Deprecation, DoctrineBridge, Status: Needs Review

#34261 [DoctrineBridge] fix min version of http-kernel
  src/Symfony/Bridge/Doctrine/composer.json
Labels: DoctrineBridge, Status: Needs Review

#34262 [DoctrineBridge] conflict with validator < 4.4
  src/Symfony/Bridge/Doctrine/composer.json
Labels: DoctrineBridge, Status: Needs Review

#34264 [VarDumper] Mark StubCaster as @final
  src/Symfony/Component/VarDumper/Caster/StubCaster.php
Labels: Deprecation, Status: Needs Review, VarDumper

#34246 [Serializer] Use context to compute MetadataAwareNameConverter cache
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
  src/Symfony/Component/Serializer/Tests/NameConverter/MetadataAwareNameConverterTest.php
Labels: Bug, Serializer, Status: Needs Review

#34267 Skip validation of services that make the CI fail
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TestBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/JsonLoginLdap/bundles.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
Labels: Status: Needs Review

#34249 [TwigBridge] Fix switch-custom changelog entry
  src/Symfony/Bridge/Twig/CHANGELOG.md
Labels: Status: Reviewed, TwigBridge

#34212 [Form] fix exception messages
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
Labels: Form, Status: Reviewed

#34129 [FrameworkBundle][Translation] Invalidate cached catalogues when the scanned directories change
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Resources/translations2/ccc.fr.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Translation/TranslatorTest.php
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Translation/Tests/TranslatorCacheTest.php
  src/Symfony/Component/Translation/Translator.php
Labels: Bug, FrameworkBundle, Status: Reviewed, Translator

#34272 [Debug] Remove it from master
  src/Symfony/Component/Debug/.gitattributes
Labels: Debug, Status: Reviewed

#34269 [ErrorHandler] Clean @final annotation from ErrorHandler
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
Labels: ErrorHandler, Status: Reviewed

#34268 [WebProfilerBundle] Clean @internal annotations
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Controller/RouterController.php
  src/Symfony/Bundle/WebProfilerBundle/Profiler/TemplateManager.php
Labels: Status: Reviewed, WebProfilerBundle

#34275 [FrameworkBundle] allow using secrets when the sodium ext is missing
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#34266 [VarDumper] Clean casters @final annotations
  src/Symfony/Component/VarDumper/Caster/AmqpCaster.php
  src/Symfony/Component/VarDumper/Caster/DOMCaster.php
  src/Symfony/Component/VarDumper/Caster/DateCaster.php
  src/Symfony/Component/VarDumper/Caster/DoctrineCaster.php
  src/Symfony/Component/VarDumper/Caster/DsCaster.php
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
  src/Symfony/Component/VarDumper/Caster/GmpCaster.php
  src/Symfony/Component/VarDumper/Caster/IntlCaster.php
  src/Symfony/Component/VarDumper/Caster/MemcachedCaster.php
  src/Symfony/Component/VarDumper/Caster/PdoCaster.php
  src/Symfony/Component/VarDumper/Caster/PgSqlCaster.php
  src/Symfony/Component/VarDumper/Caster/ProxyManagerCaster.php
  src/Symfony/Component/VarDumper/Caster/RedisCaster.php
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Caster/ResourceCaster.php
  src/Symfony/Component/VarDumper/Caster/SplCaster.php
  src/Symfony/Component/VarDumper/Caster/StubCaster.php
  src/Symfony/Component/VarDumper/Caster/SymfonyCaster.php
  src/Symfony/Component/VarDumper/Caster/XmlReaderCaster.php
  src/Symfony/Component/VarDumper/Caster/XmlResourceCaster.php
Labels: Status: Needs Review, VarDumper

#34270 [FrameworkBundle] Remove Lock deprecated services
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/lock.xml
Labels: FrameworkBundle, Status: Needs Review

#34271 [SecurityBundle] Remove deprecated service and code
  UPGRADE-5.0.md
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml
  src/Symfony/Bundle/SecurityBundle/Security/LazyFirewallContext.php
Labels: SecurityBundle, Status: Reviewed

#34216 [HttpClient] allow arbitrary JSON values in requests
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/HttpOptions.php
  src/Symfony/Contracts/HttpClient/HttpClientInterface.php
Labels: HttpClient, Status: Reviewed

#34286 Unallow symfony/http-kernel ^5.0
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/composer.json
Labels: Status: Reviewed

#34287 [HttpClient] Fix a crash when calling CurlHttpClient::__destruct()
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: Bug, HttpClient, Status: Needs Review

#34282 [DI] Dont cache classes with missing parents
  src/Symfony/Component/Config/Resource/ClassExistenceResource.php
  src/Symfony/Component/Config/Tests/Resource/ClassExistenceResourceTest.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#34285 [FrameworkBundle] fix SodiumVault after stof review
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#31310 [DependencyInjection] Added option `ignore_errors: not_found` for imported config files
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services4_bad_import_file_not_found.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services4_bad_import_nonvalid.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services4_bad_import_with_errors.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services4_bad_import_file_not_found.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services4_bad_import_nonvalid.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services4_bad_import_with_errors.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: Config, DependencyInjection, Deprecation, Feature, Routing, Status: Reviewed

#34284 [ErrorHandler] Remove Symfony ClassLoader support in an error enhancer
  src/Symfony/Component/ErrorHandler/ErrorEnhancer/ClassNotFoundErrorEnhancer.php
Labels: ErrorHandler, Status: Reviewed

#34265 Remove \Throwable bubbling down support deprecation layer
  UPGRADE-5.0.md
  src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php
  src/Symfony/Bridge/Twig/DataCollector/TwigDataCollector.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/DataCollector/RouterDataCollector.php
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Component/Cache/DataCollector/CacheDataCollector.php
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Form/Extension/DataCollector/FormDataCollector.php
  src/Symfony/Component/HttpClient/DataCollector/HttpClientDataCollector.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/HttpKernel/DataCollector/AjaxDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/DataCollectorInterface.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/EventDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/ExceptionDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/MemoryDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/RouterDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/TimeDataCollector.php
  src/Symfony/Component/HttpKernel/Profiler/Profiler.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/DataCollector/CloneVarDataCollector.php
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Mailer/DataCollector/MessageDataCollector.php
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Notifier/DataCollector/NotificationDataCollector.php
  src/Symfony/Component/Notifier/composer.json
  src/Symfony/Component/Translation/DataCollector/TranslationDataCollector.php
  src/Symfony/Component/Validator/DataCollector/ValidatorDataCollector.php
Labels: Status: Reviewed

#34295 [DI][FrameworkBundle] add EnvVarLoaderInterface - remove SecretEnvVarProcessor
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/secrets.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.xml
  src/Symfony/Bundle/FrameworkBundle/Secrets/DotenvVault.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/SecretEnvVarProcessor.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Secrets/SodiumVaultTest.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/EnvVarLoaderInterface.php
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: DependencyInjection, FrameworkBundle, Status: Reviewed

#34252 [Console] Add support for NO_COLOR env var
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Output/StreamOutput.php
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Feature, Status: Reviewed

#34297 [DI] fix locators with numeric keys
  src/Symfony/Component/DependencyInjection/Compiler/ServiceLocatorTagPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ServiceLocatorTagPassTest.php
Labels: Bug, DependencyInjection, Status: Needs Review

#34294 [Workflow] Fix error when we use ValueObject for the marking property
  src/Symfony/Component/Workflow/MarkingStore/MethodMarkingStore.php
  src/Symfony/Component/Workflow/Tests/MarkingStore/MethodMarkingStoreTest.php
Labels: Bug, Status: Reviewed

#34290 [DI] Remove LazyString from 4.4, before adding back to the String component
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/secrets.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/cache_env_var.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/cache_env_var.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/cache_env_var.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/LazyString.php
  src/Symfony/Component/DependencyInjection/Tests/LazyStringTest.php
  src/Symfony/Component/DependencyInjection/composer.json
Labels: DependencyInjection, Status: Needs Review

#34301 [DI] fix loading env while env loaders are loaded
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
Labels: Bug, DependencyInjection, Status: Needs Review

#32194 [HttpFoundation] Add a way to anonymize IPs
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/IpUtils.php
  src/Symfony/Component/HttpFoundation/Tests/IpUtilsTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#34302 [Workflow] Simplified EventDispatcherMock
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
Labels: Status: Reviewed, Workflow

#34299 [Routing] revert the return type for UrlGeneratorInterface::generate to remove null
  src/Symfony/Component/Routing/Generator/UrlGeneratorInterface.php
Labels: Bug, Routing, Status: Reviewed

#34303 [Messenger] Fixed bad event dispatcher mocks
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
Labels: Bug, Messenger, Status: Reviewed

#34139 [Security] Add migrating encoder configuration
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/migrating_encoder.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/migrating_encoder.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/migrating_encoder.yml
  src/Symfony/Component/Security/Core/Encoder/EncoderFactory.php
  src/Symfony/Component/Security/Core/Tests/Encoder/EncoderFactoryTest.php
Labels: Feature, Security, SecurityBundle, Status: Reviewed

#34304 [Security] Fix defining multiple roles per access_control rule
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
Labels: Bug, Security, Status: Reviewed

#33497 [Contracts] Add parameter type declarations to contracts
  composer.json
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/DataCollectorTranslatorPassTest.php
  src/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcher.php
  src/Symfony/Component/EventDispatcher/Debug/WrappedListener.php
  src/Symfony/Component/EventDispatcher/EventDispatcher.php
  src/Symfony/Component/EventDispatcher/EventDispatcherInterface.php
  src/Symfony/Component/EventDispatcher/ImmutableEventDispatcher.php
  src/Symfony/Component/EventDispatcher/composer.json
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/String/composer.json
  src/Symfony/Component/Translation/DataCollectorTranslator.php
  src/Symfony/Component/Translation/LoggingTranslator.php
  src/Symfony/Component/Translation/Translator.php
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/EventDispatcher/Event.php
  src/Symfony/Contracts/EventDispatcher/EventDispatcherInterface.php
  src/Symfony/Contracts/EventDispatcher/composer.json
  src/Symfony/Contracts/HttpClient/ChunkInterface.php
  src/Symfony/Contracts/HttpClient/HttpClientInterface.php
  src/Symfony/Contracts/HttpClient/ResponseInterface.php
  src/Symfony/Contracts/HttpClient/ResponseStreamInterface.php
  src/Symfony/Contracts/HttpClient/composer.json
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/Translation/LocaleAwareInterface.php
  src/Symfony/Contracts/Translation/TranslatorInterface.php
  src/Symfony/Contracts/Translation/TranslatorTrait.php
  src/Symfony/Contracts/Translation/composer.json
  src/Symfony/Contracts/composer.json
Labels: RFC, Status: Reviewed

#34307 [4.4] Disallow symfony/contracts v2
  composer.json
Labels: Bug, Status: Reviewed

#34308 [Security] Avoid unnecessary usage of Reflection
  src/Symfony/Component/Security/Core/Encoder/EncoderFactory.php
Labels: Security, Status: Reviewed

#34311 [Messenger] Removed strict types in DispatchAfterCurrentBusStamp
  src/Symfony/Component/Messenger/Stamp/DispatchAfterCurrentBusStamp.php
Labels: Bug, Messenger, Status: Reviewed

#34074 [5.0][Security] Minor clarification of the new isGranted signature
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationCheckerInterface.php
Labels: Security, Status: Reviewed

#34319 [Security] make ExceptionEvent handle all throwables
  src/Symfony/Component/HttpKernel/Event/ExceptionEvent.php
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
Labels: Security, Status: Reviewed

#34317 [HttpFoundation][Lock] Connection parameter corrected
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/SessionHandlerFactory.php
  src/Symfony/Component/Lock/Store/StoreFactory.php
Labels: Bug, Status: Needs Review

#34322 Release v3.4.34
  CHANGELOG-3.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34323 Release v4.3.7
  CHANGELOG-4.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34326 [HttpKernel] Fix missing import in GetResponseForExceptionEvent
  src/Symfony/Component/HttpKernel/Event/GetResponseForExceptionEvent.php
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
Labels: Bug, HttpKernel, Status: Needs Review

#34328 Sync UPGRADE-5.0 before beta
  UPGRADE-5.0.md
Labels: Status: Needs Review

#34327 Last cleanups before beta
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Component/DependencyInjection/ServiceLocator.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/Notifier/Notification/Notification.php
  src/Symfony/Component/Notifier/Recipient/AdminRecipient.php
  src/Symfony/Component/Notifier/Recipient/SmsRecipientInterface.php
Labels: Status: Needs Review

#34331 [TwigBundle] Restore the preview mechanism
  src/Symfony/Bridge/Twig/ErrorRenderer/TwigErrorRenderer.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
Labels: Status: Reviewed, TwigBridge, TwigBundle

#34316 more strict requirements of experimental components
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Notifier/Bridge/Nexmo/composer.json
  src/Symfony/Component/Notifier/Bridge/Slack/composer.json
  src/Symfony/Component/Notifier/Bridge/Telegram/composer.json
  src/Symfony/Component/Notifier/Bridge/Twilio/composer.json
Labels: FrameworkBundle, Notifier, Status: Needs Review, String

#34329 [ExpressionLanguage] add XOR operator
  src/Symfony/Component/ExpressionLanguage/CHANGELOG.md
  src/Symfony/Component/ExpressionLanguage/Lexer.php
  src/Symfony/Component/ExpressionLanguage/Node/BinaryNode.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/LexerTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/ParserTest.php
Labels: ExpressionLanguage, Feature, Status: Reviewed

#34332 Allow \Throwable $previous everywhere
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
  src/Symfony/Component/Config/Exception/FileLoaderImportCircularReferenceException.php
  src/Symfony/Component/Config/Exception/FileLocatorFileNotFoundException.php
  src/Symfony/Component/DependencyInjection/Exception/AutowiringFailedException.php
  src/Symfony/Component/DependencyInjection/Exception/EnvParameterException.php
  src/Symfony/Component/DependencyInjection/Exception/ParameterCircularReferenceException.php
  src/Symfony/Component/DependencyInjection/Exception/ParameterNotFoundException.php
  src/Symfony/Component/DependencyInjection/Exception/ServiceCircularReferenceException.php
  src/Symfony/Component/DependencyInjection/Exception/ServiceNotFoundException.php
  src/Symfony/Component/Dotenv/Exception/FormatException.php
  src/Symfony/Component/Dotenv/Exception/PathException.php
  src/Symfony/Component/Filesystem/Exception/FileNotFoundException.php
  src/Symfony/Component/Filesystem/Exception/IOException.php
  src/Symfony/Component/Mailer/Exception/HttpTransportException.php
  src/Symfony/Component/Routing/Exception/MethodNotAllowedException.php
  src/Symfony/Component/Security/Core/Exception/AccessDeniedException.php
  src/Symfony/Component/Security/Core/Exception/CustomUserMessageAuthenticationException.php
  src/Symfony/Component/Security/Core/Exception/LogoutException.php
  src/Symfony/Component/Serializer/Exception/ExtraAttributesException.php
  src/Symfony/Component/VarDumper/Exception/ThrowingCasterException.php
  src/Symfony/Component/Yaml/Exception/ParseException.php
Labels: Status: Reviewed

#34333 Revert "feature #34329 [ExpressionLanguage] add XOR operator (ottaviano)"
  src/Symfony/Component/ExpressionLanguage/CHANGELOG.md
  src/Symfony/Component/ExpressionLanguage/Lexer.php
  src/Symfony/Component/ExpressionLanguage/Node/BinaryNode.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/LexerTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/ParserTest.php
Labels: ExpressionLanguage, Feature, Status: Reviewed

#34336 Fix some \Throwable support remaining issues
  src/Symfony/Bridge/Twig/DataCollector/TwigDataCollector.php
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Component/Cache/DataCollector/CacheDataCollector.php
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/ErrorHandler/Exception/FlattenException.php
  src/Symfony/Component/ErrorHandler/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/Form/Extension/DataCollector/FormDataCollector.php
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/HttpClient/DataCollector/HttpClientDataCollector.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/HttpKernel/DataCollector/AjaxDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/EventDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/ExceptionDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/MemoryDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/RouterDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/TimeDataCollector.php
  src/Symfony/Component/HttpKernel/Profiler/Profiler.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/DataCollector/CloneVarDataCollector.php
  src/Symfony/Component/Mailer/DataCollector/MessageDataCollector.php
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Messenger/DataCollector/MessengerDataCollector.php
  src/Symfony/Component/Translation/DataCollector/TranslationDataCollector.php
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/DataCollector/ValidatorDataCollector.php
  src/Symfony/Component/Validator/composer.json
Labels: Bug, Status: Reviewed

#34338 Release v4.4.0-BETA1
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34339 Release v5.0.0-BETA1
  CHANGELOG-5.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34348 [Serializer] Fix ProblemNormalizer signature mismatch
  src/Symfony/Component/Serializer/Normalizer/ProblemNormalizer.php
Labels: Bug, Serializer, Status: Needs Review

#34343 [FrameworkBundle] Add missing conflict with symfony/serializer <4.4
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed

#34349 Release v2.8.52
  CHANGELOG-2.8.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34344 [Console] Constant STDOUT might be undefined
  src/Symfony/Component/Console/Terminal.php
Labels: Bug, Console, Status: Reviewed

#34340 Allow returning null from NormalizerInterface::normalize
  src/Symfony/Component/Serializer/Normalizer/NormalizerInterface.php
Labels: Bug, Status: Reviewed

#34350 Release v3.4.35
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34351 Release v4.2.12
  CHANGELOG-4.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34352 Release v4.3.8
  CHANGELOG-4.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34353 Release v4.4.0-BETA2
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34355 Release v5.0.0-BETA2
  CHANGELOG-5.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34370 [DI] fix detecting singly implemented interfaces
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#34369 [FrameworkBundle] Disallow WebProfilerBundle < 4.4
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed

#34367 [Form] Allow symfony/service-contracts v2
  src/Symfony/Component/Form/composer.json
Labels: Bug, Form, Status: Reviewed

#34380 [Mailer] Add UPGRADE entry about the null transport DSN
  UPGRADE-4.4.md
  src/Symfony/Component/Mailer/CHANGELOG.md
Labels: Mailer, Status: Reviewed

#34390 [FrameworkBundle] fix wiring of httplug client
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client.xml
Labels: Bug, FrameworkBundle, Status: Reviewed

#34381 [WebProfilerBundle] Require symfony/twig-bundle
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: Bug, Status: Reviewed, WebProfilerBundle

#34389 [WebProfilerBundle] add FrameworkBundle requirement
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: Bug, Status: Reviewed, WebProfilerBundle

#34383 [DI] Use reproducible entropy to generate env placeholders
  src/Symfony/Component/DependencyInjection/ParameterBag/EnvPlaceholderParameterBag.php
Labels: Bug, DependencyInjection, Status: Reviewed

#34399 [HttpKernel] dont check cache freshness more than once per process
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: HttpKernel, Performance, Status: Reviewed

#34396 [Finder] Allow ssh2 stream wrapper for sftp
  src/Symfony/Component/Finder/Finder.php
Labels: Bug, Finder, Status: Reviewed

#34404 [HttpClient] fix HttpClientDataCollector
  src/Symfony/Component/HttpClient/DataCollector/HttpClientDataCollector.php
Labels: Bug, HttpClient, Status: Needs Review

#34398 [Config] fix id-generation for GlobResource
  src/Symfony/Component/Config/Resource/GlobResource.php
Labels: Bug, Config, Status: Needs Review

#34400 [HttpKernel] collect bundle classes, not paths
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/config.html.twig
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
Labels: HttpKernel, Status: Needs Review

#34403 [Cache] Redis Tag Aware warn on wrong eviction policy
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
Labels: Bug, Status: Reviewed

#34401 Link the right file depending on the new version
  UPGRADE-4.0.md
Labels: Status: Reviewed

#34410 [HttpFoundation] Fix MySQL column type definition.
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
Labels: Bug, HttpFoundation, Status: Needs Review

#34411 [HttpKernel] Flatten "exception" controller argument if not typed
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ErrorListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#34408 [Cache] catch exceptions when using PDO directly
  src/Symfony/Component/Cache/Traits/PdoTrait.php
Labels: Bug, Cache, Status: Needs Review

#34415 Drop useless executable bit
  src/Symfony/Component/HttpClient/DependencyInjection/HttpClientPass.php
Labels: Bug, Status: Reviewed

#34384 [DoctrineBridge] Improve queries parameters display in Profiler
  src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php
  src/Symfony/Bridge/Doctrine/DataCollector/ObjectParameter.php
  src/Symfony/Bridge/Doctrine/Tests/DataCollector/DoctrineDataCollectorTest.php
Labels: Bug, DoctrineBridge, Ready, Status: Reviewed

#34397 [FrameworkBundle] Remove project dir from Translator cache vary scanned directories
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Translation/TranslatorTest.php
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
Labels: Bug, FrameworkBundle, Ready, Status: Reviewed

#34366 [HttpFoundation] Allow redirecting to URLs that contain a semicolon
  src/Symfony/Component/HttpFoundation/RedirectResponse.php
  src/Symfony/Component/HttpFoundation/Tests/RedirectResponseTest.php
Labels: Ready, Status: Reviewed

#34347 [Messenger] Perform no deep merging of bus middleware
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Feature, Messenger, Ready, Status: Reviewed

#34419 [Cache] Disable igbinary on PHP >= 7.4
  src/Symfony/Component/Cache/Marshaller/DefaultMarshaller.php
  src/Symfony/Component/Cache/Tests/Marshaller/DefaultMarshallerTest.php
Labels: Bug, Cache, Status: Needs Review

#32469 Add conflict rule for Monolog 2
  composer.json
Labels: Status: Needs Review

#34420 Release v4.4.0-RC1
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34425 Release v5.0.0-RC1
  CHANGELOG-5.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34422 Update HttpKernel.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
Labels: Bug, Status: Reviewed

#34426 Adjust pull request template for 5.1
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#34421 [Finder] Fixed docs
  src/Symfony/Component/Finder/Finder.php
Labels: Finder, Status: Needs Review

#34427 Relax requirements for experimental components
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Notifier/Bridge/Nexmo/composer.json
  src/Symfony/Component/Notifier/Bridge/Slack/composer.json
  src/Symfony/Component/Notifier/Bridge/Telegram/composer.json
  src/Symfony/Component/Notifier/Bridge/Twilio/composer.json
Labels: Status: Needs Review

#34429 Removed extra whitespace
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
Labels: Bug, Status: Needs Review

#34428 [Security] Fix best encoder not wired using migrate_from
  src/Symfony/Component/Security/Core/Encoder/EncoderFactory.php
  src/Symfony/Component/Security/Core/Tests/Encoder/EncoderFactoryTest.php
Labels: Bug, Security, Status: Reviewed

#34431 [HttpKernel] Drop deprecated ExceptionListener
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ExceptionListenerTest.php
Labels: HttpKernel, Status: Needs Review

#34430 [HttpKernel] Make ErrorListener::onKernelException()'s dispatcher argument explicit
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
Labels: HttpKernel, Status: Needs Review

#34435 States that the HttpClient provides a Http Async implementation
  src/Symfony/Component/HttpClient/composer.json
Labels: Status: Reviewed

#34434 [Routing] Fix ContainerLoader and ObjectLoaderTest
  src/Symfony/Component/Routing/Loader/ContainerLoader.php
  src/Symfony/Component/Routing/Loader/ObjectLoader.php
  src/Symfony/Component/Routing/Tests/Loader/ObjectLoaderTest.php
Labels: Bug, Routing, Status: Reviewed

#34448 [Form] allow button names to start with uppercase letter
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Component/Form/ButtonBuilder.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Tests/ButtonBuilderTest.php
Labels: Bug, Form, Status: Reviewed

#34451 [DependencyInjection] Fix dumping multiple deprecated aliases
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#34433 Remove wrong @group legacy annotations
  src/Symfony/Bundle/WebProfilerBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/DependencyInjection/WebProfilerExtensionTest.php
  src/Symfony/Component/HttpKernel/Tests/Bundle/BundleTest.php
  src/Symfony/Component/Routing/Loader/ObjectLoader.php
  src/Symfony/Component/Routing/Tests/Loader/ObjectLoaderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/DaoAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/UserAuthenticationProviderTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ExceptionListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/LogoutListenerTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/AbstractRememberMeServicesTest.php
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
Labels: Status: Reviewed

#34464 [Form] group constraints when calling the validator
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
Labels: Bug, Form, Status: Reviewed

#34471 Release v4.4.0
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34472 Release v5.0.0
  CHANGELOG-5.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#34474 [Messenger] Ignore stamps in in-memory transport
  src/Symfony/Component/Messenger/Tests/Transport/InMemoryTransportTest.php
  src/Symfony/Component/Messenger/Transport/InMemoryTransport.php
Labels: Bug, Messenger, Status: Reviewed
