Repository symfony/symfony, pull requests merged in 2019-10, with the labels that each got.

#33787 [Mailer] Tweak some code
  src/Symfony/Component/Mailer/Transport/RoundRobinTransport.php
  src/Symfony/Component/Mailer/Transport/Transports.php
Labels: Mailer, Status: Reviewed

#33777 Fix the :only-of-type pseudo class selector
  src/Symfony/Component/CssSelector/Tests/XPath/TranslatorTest.php
  src/Symfony/Component/CssSelector/XPath/Extension/PseudoClassExtension.php
Labels: Bug, Status: Reviewed

#33790 [Console] remove abbreviation support for hidden commands
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Console, Status: Reviewed

#33789 [Serializer] Deprecate the XmlEncoder::TYPE_CASE_ATTRIBUTES constant
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
Labels: Bug, Deprecation, Serializer, Status: Reviewed

#33701 [HttpKernel] wrap compilation of the container in an opportunistic lock
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Feature, HttpKernel, Performance, Status: Reviewed

#33798 [String] fix beforeLast/afterLast
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Bug, Status: Needs Review

#33797 [Cache] Fixed Redis Sentinel usage when only one Sentinel specified
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Reviewed

#33792 Sync Twig templateExists behaviors
  src/Symfony/Bridge/Twig/TwigEngine.php
  src/Symfony/Bundle/TwigBundle/Controller/ExceptionController.php
  src/Symfony/Bundle/WebProfilerBundle/Controller/ExceptionController.php
  src/Symfony/Bundle/WebProfilerBundle/Profiler/TemplateManager.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Profiler/TemplateManagerTest.php
  src/Symfony/Component/HttpKernel/Fragment/HIncludeFragmentRenderer.php
Labels: Status: Reviewed

#33803 [Serializer] Add note about deprecating the XmlEncoder::TYPE_CASE_ATTRIBUTES constant in upgrade
  UPGRADE-4.4.md
  UPGRADE-5.0.md
Labels: Serializer, Status: Reviewed

#33782 [DI] dont mandate a class on inline services with a factory
  src/Symfony/Component/DependencyInjection/Compiler/CheckDefinitionValidityPass.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckDefinitionValidityPassTest.php
Labels: DependencyInjection, Status: Reviewed

#33781 [AnnotationCacheWarmer] add RedirectController to annotation cache
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.xml
Labels: Bug, FrameworkBundle, Status: Needs Review

#33805 [FrameworkBundle] Fix wrong returned status code in ConfigDebugCommand
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#33807 [String] fix toAscii()
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/Tests/AbstractUtf8TestCase.php
Labels: Bug, Status: Needs Review

#33783 [WebProfilerBundle] Try to display the most useful panel by default
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Tests/Controller/ProfilerControllerTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Profiler/TemplateManagerTest.php
Labels: Deprecation, Feature, Status: Reviewed, WebProfilerBundle

#33788 [Serializer] Remove XmlEncoder::TYPE_CASE_ATTRIBUTES constant
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
Labels: Deprecation, Status: Reviewed

#33801 [DI] add tests loading calls with returns-clone
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/returns_clone.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/returns_clone.yaml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Status: Needs Review

#33795 [EventDispatcher] Added tests for aliased events
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
Labels: Bug, EventDispatcher, Status: Reviewed

#33744 [DI] Add CSV env var processor tests / support PHP 7.4
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#33775 [Console] Add deprecation message for non-int statusCode
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolDeleteCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolListCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolPruneCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheWarmupCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/EventDispatcherDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerLogCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStartCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStatusCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerStopCommand.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Command/HelpCommand.php
  src/Symfony/Component/Console/Command/ListCommand.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
  src/Symfony/Component/Console/Tests/Fixtures/BarHiddenCommand.php
  src/Symfony/Component/Console/Tests/Fixtures/Foo1Command.php
  src/Symfony/Component/Console/Tests/Fixtures/Foo2Command.php
  src/Symfony/Component/Console/Tests/Fixtures/Foo3Command.php
  src/Symfony/Component/Console/Tests/Fixtures/FooCommand.php
  src/Symfony/Component/Console/Tests/Fixtures/FooHiddenCommand.php
  src/Symfony/Component/Console/Tests/Fixtures/FooOptCommand.php
  src/Symfony/Component/Console/Tests/Fixtures/FooSubnamespaced1Command.php
  src/Symfony/Component/Console/Tests/Fixtures/FooSubnamespaced2Command.php
  src/Symfony/Component/Console/Tests/Fixtures/FooWithoutAliasCommand.php
  src/Symfony/Component/Console/Tests/Fixtures/FoobarCommand.php
  src/Symfony/Component/Console/Tests/Fixtures/TestAmbiguousCommandRegistering.php
  src/Symfony/Component/Console/Tests/Fixtures/TestAmbiguousCommandRegistering2.php
  src/Symfony/Component/Console/Tests/Fixtures/TestCommand.php
  src/Symfony/Component/ErrorRenderer/Command/DebugCommand.php
  src/Symfony/Component/Form/Command/DebugCommand.php
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Command/DebugCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRemoveCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Messenger/Command/SetupTransportsCommand.php
  src/Symfony/Component/Messenger/Command/StopWorkersCommand.php
  src/Symfony/Component/VarDumper/Command/ServerDumpCommand.php
Labels: Console, Deprecation, Status: Reviewed

#33815 [Workflow] Fixed default marking store value of Workflow
  src/Symfony/Component/Workflow/Workflow.php
Labels: Bug, Status: Reviewed, Workflow

#33814 [HttpFoundation] Check if data passed to SessionBagProxy::initialize is an array
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
Labels: Bug, HttpFoundation, Status: Reviewed

#33768 [String] Introduce a locale-aware Slugger in the String component
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Slugger/SlugConstructArgService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SluggerLocaleAwareTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Slugger/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Slugger/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Slugger/services.yml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/Slugger/AsciiSlugger.php
  src/Symfony/Component/String/Slugger/SluggerInterface.php
  src/Symfony/Component/String/Tests/SluggerTest.php
Labels: Feature, Status: Reviewed, String

#33808 [Console] Throw a TypeError for non-int return value calling Command::execute()
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/Command.php
Labels: BC Break, Console, Status: Needs Review

#33628 [DependencyInjection] added Ability to define a priority method for tagged service
  src/Symfony/Component/DependencyInjection/Argument/TaggedIteratorArgument.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/PriorityTaggedServiceTrait.php
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/XmlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/YamlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/BarTagClass.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FooBarTaggedForDefaultPriorityClass.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FooTagClass.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_tagged_arguments.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_tagged_argument.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#33819 Fixing 'TypeError' in LdapUser::getSalt()
  src/Symfony/Component/Ldap/Security/LdapUser.php
Labels: Bug, Ldap, Status: Reviewed

#33824 [WebProfilerBundle] Fix TemplateManager test
  src/Symfony/Bundle/WebProfilerBundle/Tests/Profiler/TemplateManagerTest.php
Labels: Status: Needs Review, WebProfilerBundle

#33799 [Security]: Don't let falsy usernames slip through impersonation
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
Labels: Bug, Security, Status: Reviewed

#33809 [HttpKernel] Inherit Throwable in HttpExceptionInterface
  src/Symfony/Component/HttpKernel/Exception/HttpExceptionInterface.php
Labels: HttpKernel, Status: Reviewed

#33835 [Workflow] Fixed BC break on WorkflowInterface
  UPGRADE-4.3.md
  UPGRADE-5.0.md
  src/Symfony/Component/Workflow/MarkingStore/MarkingStoreInterface.php
  src/Symfony/Component/Workflow/Workflow.php
  src/Symfony/Component/Workflow/WorkflowInterface.php
Labels: Status: Reviewed

#33836 Fixed invalid changelog 4.0.0 for VarDumper
  src/Symfony/Component/VarDumper/CHANGELOG.md
Labels: Status: Reviewed

#33831 [Validator] Fix wrong expression language value
  src/Symfony/Component/Validator/Constraints/ExpressionValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/ExpressionValidatorTest.php
Labels: Bug, Status: Reviewed, Validator

#33825 [FrameworkBundle] encourage installing intl when String is available
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/String/Slugger/AsciiSlugger.php
  src/Symfony/Component/String/composer.json
Labels: FrameworkBundle, Status: Reviewed

#33793 [EventDispatcher] A compiler pass for aliased userland events
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.xml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/EventBundle/DependencyInjection/EventExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/EventBundle/EventBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/EventBundle/EventSubscriber/TestSubscriber.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/EventAliasTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AliasedEvents/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AliasedEvents/config.yml
  src/Symfony/Component/EventDispatcher/CHANGELOG.md
  src/Symfony/Component/EventDispatcher/DependencyInjection/AddEventAliasesPass.php
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: EventDispatcher, Feature, Status: Reviewed

#33855 [Form] Update CHANGELOG.md
  src/Symfony/Component/Form/CHANGELOG.md
Labels: Bug, Form, Status: Reviewed

#33858 [DI] Whitelist error_renderer.renderer tag in UnusedTagsPass
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
Labels: DependencyInjection, Status: Reviewed

#33842 [Cache] fix logger usage in CacheTrait::doGet()
  src/Symfony/Contracts/Cache/CacheTrait.php
Labels: Bug, Cache, Status: Reviewed

#33860 Delete 5_Security_issue.md, in favor of GitHub SECURITY.md
  .github/ISSUE_TEMPLATE/5_Security_issue.md
Labels: Bug, Status: Needs Review

#33841 [VarDumper] fix dumping uninitialized SplFileInfo
  src/Symfony/Component/VarDumper/Caster/SplCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/SplCasterTest.php
Labels: Bug, Status: Reviewed, VarDumper

#33857 [DI] Whitelist validator.auto_mapper in UnusedTagsPass
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
Labels: DependencyInjection, Status: Reviewed

#33853 [HttpClient] fix "no_proxy" option ignored in NativeHttpClient
  src/Symfony/Component/HttpClient/NativeHttpClient.php
Labels: Bug, HttpClient, Status: Reviewed

#33846 [Cache] give 100ms before starting the expiration countdown
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Psr16Cache.php
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
  src/Symfony/Component/Cache/Traits/ContractsTrait.php
Labels: Bug, Cache, Status: Needs Review

#33864 Replace deprecated calls in tests
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
Labels: Status: Reviewed

#33865 Remove a test brought back with a merge
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Status: Needs Review

#33844 [Validator] Add the missing translations for the Thai ("th") locale
  src/Symfony/Component/Validator/Resources/translations/validators.th.xlf
Labels: Status: Reviewed, Validator

#33861 [CssSelector] Support *:only-of-type
  src/Symfony/Component/CssSelector/CHANGELOG.md
  src/Symfony/Component/CssSelector/Tests/XPath/TranslatorTest.php
  src/Symfony/Component/CssSelector/XPath/Extension/PseudoClassExtension.php
Labels: CssSelector, Feature, Status: Needs Review

#33863 [Routing] gracefully handle docref_root ini setting
  src/Symfony/Component/Routing/Matcher/Dumper/CompiledUrlMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/Dumper/StaticPrefixCollection.php
Labels: Bug, Routing, Status: Reviewed

#33868 Skip the intl notice if run with phpunit
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SluggerLocaleAwareTest.php
Labels: Status: Reviewed

#33880 [Validator] add notice in UPGRADE file for new Range constraint option
  UPGRADE-4.4.md
Labels: Status: Reviewed, Validator

#33877 Remove useless testCanCheckIfTerminalIsInteractive test case
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Status: Reviewed

#33866 [Intl] Update the ICU data to 65.1 (4.4 branch)
  src/Symfony/Component/Intl/Resources/data/languages/af.json
  src/Symfony/Component/Intl/Resources/data/languages/ar.json
  src/Symfony/Component/Intl/Resources/data/languages/ar_SA.json
  src/Symfony/Component/Intl/Resources/data/languages/be.json
  src/Symfony/Component/Intl/Resources/data/languages/bg.json
  src/Symfony/Component/Intl/Resources/data/languages/bs.json
  src/Symfony/Component/Intl/Resources/data/languages/bs_Cyrl.json
  src/Symfony/Component/Intl/Resources/data/languages/cy.json
  src/Symfony/Component/Intl/Resources/data/languages/de_CH.json
  src/Symfony/Component/Intl/Resources/data/languages/en_001.json
  src/Symfony/Component/Intl/Resources/data/languages/en_AU.json
  src/Symfony/Component/Intl/Resources/data/languages/en_CA.json
  src/Symfony/Component/Intl/Resources/data/languages/en_GB.json
  src/Symfony/Component/Intl/Resources/data/languages/en_IN.json
  src/Symfony/Component/Intl/Resources/data/languages/es_419.json
  src/Symfony/Component/Intl/Resources/data/languages/es_MX.json
  src/Symfony/Component/Intl/Resources/data/languages/es_US.json
  src/Symfony/Component/Intl/Resources/data/languages/eu.json
  src/Symfony/Component/Intl/Resources/data/languages/fr_CA.json
  src/Symfony/Component/Intl/Resources/data/languages/ga.json
  src/Symfony/Component/Intl/Resources/data/languages/ha.json
  src/Symfony/Component/Intl/Resources/data/languages/ha_NE.json
  src/Symfony/Component/Intl/Resources/data/languages/hy.json
  src/Symfony/Component/Intl/Resources/data/languages/ig.json
  src/Symfony/Component/Intl/Resources/data/languages/km.json
  src/Symfony/Component/Intl/Resources/data/languages/ky.json
  src/Symfony/Component/Intl/Resources/data/languages/lb.json
  src/Symfony/Component/Intl/Resources/data/languages/meta.json
  src/Symfony/Component/Intl/Resources/data/languages/mn.json
  src/Symfony/Component/Intl/Resources/data/languages/my.json
  src/Symfony/Component/Intl/Resources/data/languages/ps.json
  src/Symfony/Component/Intl/Resources/data/languages/pt_PT.json
  src/Symfony/Component/Intl/Resources/data/languages/qu.json
  src/Symfony/Component/Intl/Resources/data/languages/ru.json
  src/Symfony/Component/Intl/Resources/data/languages/sd.json
  src/Symfony/Component/Intl/Resources/data/languages/se_FI.json
  src/Symfony/Component/Intl/Resources/data/languages/sh_BA.json
  src/Symfony/Component/Intl/Resources/data/languages/sr_BA.json
  src/Symfony/Component/Intl/Resources/data/languages/sr_Cyrl_BA.json
  src/Symfony/Component/Intl/Resources/data/languages/sr_Latn_BA.json
  src/Symfony/Component/Intl/Resources/data/languages/sw.json
  src/Symfony/Component/Intl/Resources/data/languages/sw_KE.json
  src/Symfony/Component/Intl/Resources/data/languages/tg.json
  src/Symfony/Component/Intl/Resources/data/languages/tr.json
  src/Symfony/Component/Intl/Resources/data/languages/tt.json
  src/Symfony/Component/Intl/Resources/data/languages/yo.json
  src/Symfony/Component/Intl/Resources/data/languages/yo_BJ.json
  src/Symfony/Component/Intl/Tests/LanguagesTest.php
Labels: Intl, Status: Needs Review

#33834 [Validator] Fix ValidValidator group cascading usage
  src/Symfony/Component/Validator/Constraints/ValidValidator.php
Labels: Bug, Status: Reviewed, Validator

#33881 [VarDumper] Added a support for casting Ramsey/Uuid
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/ImagineCaster.php
  src/Symfony/Component/VarDumper/Caster/UuidCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Feature, Status: Reviewed, VarDumper

#33871 [HttpClient] bugfix exploding values of headers
  src/Symfony/Component/HttpClient/CachingHttpClient.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/CachingHttpClientTest.php
Labels: Bug, HttpClient, Status: Reviewed

#33882 [VarDumper] Made all casters final
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/AmqpCaster.php
  src/Symfony/Component/VarDumper/Caster/DOMCaster.php
  src/Symfony/Component/VarDumper/Caster/DateCaster.php
  src/Symfony/Component/VarDumper/Caster/DoctrineCaster.php
  src/Symfony/Component/VarDumper/Caster/DsCaster.php
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
  src/Symfony/Component/VarDumper/Caster/GmpCaster.php
  src/Symfony/Component/VarDumper/Caster/ImagineCaster.php
  src/Symfony/Component/VarDumper/Caster/IntlCaster.php
  src/Symfony/Component/VarDumper/Caster/MemcachedCaster.php
  src/Symfony/Component/VarDumper/Caster/PdoCaster.php
  src/Symfony/Component/VarDumper/Caster/PgSqlCaster.php
  src/Symfony/Component/VarDumper/Caster/ProxyManagerCaster.php
  src/Symfony/Component/VarDumper/Caster/RedisCaster.php
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Caster/ResourceCaster.php
  src/Symfony/Component/VarDumper/Caster/SplCaster.php
  src/Symfony/Component/VarDumper/Caster/SymfonyCaster.php
  src/Symfony/Component/VarDumper/Caster/UuidCaster.php
  src/Symfony/Component/VarDumper/Caster/XmlReaderCaster.php
  src/Symfony/Component/VarDumper/Caster/XmlResourceCaster.php
Labels: Status: Reviewed, VarDumper

#33856 [Messenger] Allow to configure the db index on Redis transport
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Feature, Messenger, Status: Reviewed

#33816 [String] renamed core classes to Byte/CodePoint/UnicodeString
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/CodePointString.php
  src/Symfony/Component/String/Resources/functions.php
  src/Symfony/Component/String/Slugger/AsciiSlugger.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
  src/Symfony/Component/String/Tests/ByteStringTest.php
  src/Symfony/Component/String/Tests/CodePointStringTest.php
  src/Symfony/Component/String/Tests/UnicodeStringTest.php
  src/Symfony/Component/String/UnicodeString.php
Labels: Status: Reviewed

#33878 [Console] Replace posix_isatty with cross-platform, always available stream_isatty
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Output/StreamOutput.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Status: Reviewed

#33886 [FrameworkBundle] Added missing return type
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/TestAbstractController.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#32308 [Messenger] DoctrineTransport: ensure auto setup is only done once
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineIntegrationTest.php
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Status: Reviewed

#33889 Release v3.4.32
  CHANGELOG-3.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#33742 [Crawler] document $default as string|null
  src/Symfony/Component/DomCrawler/Crawler.php
Labels: Status: Reviewed

#33891 Release v4.3.5
  CHANGELOG-4.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#33779 [DI] enable improved syntax for defining method calls in Yaml
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/alt_call.yaml
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#33893 [Validator] Add the missing translations for the Swedish ("sv") locale
  src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf
Labels: Status: Reviewed

#33907 [Validator] Adds missing translations for the Norwegian Bokmål ("nb") locale
  src/Symfony/Component/Validator/Resources/translations/validators.nb.xlf
Labels: Status: Reviewed, Validator

#33461 [Cache] Improve RedisTagAwareAdapter invalidation logic & requirements
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Tests/Adapter/PredisTagAwareRedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Reviewed

#33904 [String] Renamed a method argument
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/UnicodeString.php
Labels: Status: Reviewed, String

#33900 [HttpKernel] Fix to populate $dotenvVars in data collector when not using putenv()
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
Labels: Bug, HttpKernel, Status: Reviewed

#33885 [Form][DateTimeImmutableToDateTimeTransformer] Preserve microseconds and use \DateTime::createFromImmutable() when available
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeImmutableToDateTimeTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeImmutableToDateTimeTransformerTest.php
Labels: Bug, Form, Status: Reviewed

#33919 [VarDumper] fix array key error for class SymfonyCaster
  src/Symfony/Component/VarDumper/Caster/SymfonyCaster.php
Labels: Bug, Status: Needs Review, VarDumper

#33851 [EventDispatcher] Allow to omit the event name when registering listeners
  src/Symfony/Component/EventDispatcher/CHANGELOG.md
  src/Symfony/Component/EventDispatcher/DependencyInjection/RegisterListenersPass.php
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
Labels: EventDispatcher, Feature, Status: Reviewed

#32980 [Dotenv] support setting default env var values
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
Labels: Dotenv, Feature, Status: Reviewed

#33930 [Cache] clean tags folder on invalidation
  src/Symfony/Component/Cache/Adapter/FilesystemTagAwareAdapter.php
Labels: Bug, Cache, Status: Needs Review

#33922 [Cache] remove implicit dependency on symfony/filesystem
  src/Symfony/Component/Cache/Adapter/FilesystemTagAwareAdapter.php
Labels: Bug, Cache, Status: Reviewed

#33927 Allow to set SameSite config to 'none'
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/RememberMeFactory.php
Labels: Bug, Status: Reviewed

#33935 [HttpClient] send `Accept: */*` by default, fix removing it when needed
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: Bug, HttpClient, Status: Reviewed

#33937 [Cache] ignore unserialization failures in AbstractTagAwareAdapter::doDelete()
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
Labels: Bug, Cache, Status: Needs Review

#33936 [HttpClient] Missing argument in method_exists
  src/Symfony/Component/HttpClient/HttpClientTrait.php
Labels: Bug, Status: Reviewed

#33938 SCA: added missing break in a loop
  src/Symfony/Component/Cache/Traits/MemcachedTrait.php
Labels: Status: Reviewed

#33910 [Mime] added image/svg MIME support
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Tests/MimeTypesTest.php
Labels: Bug, Mime, Status: Reviewed

#33941 Keeping backward compatibility with legacy FlattenException usage
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/TwigBundle/Controller/ExceptionController.php
  src/Symfony/Bundle/TwigBundle/Controller/PreviewErrorController.php
  src/Symfony/Bundle/TwigBundle/Tests/Controller/ExceptionControllerTest.php
  src/Symfony/Bundle/TwigBundle/Tests/Controller/PreviewErrorControllerTest.php
  src/Symfony/Component/ErrorRenderer/Exception/FlattenException.php
  src/Symfony/Component/ErrorRenderer/Resources/stubs/Exception/FlattenException.php
  src/Symfony/Component/ErrorRenderer/composer.json
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ErrorController.php
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ErrorControllerTest.php
Labels: Bug, Deprecation, ErrorRenderer, HttpKernel, Status: Reviewed, TwigBundle

#33943 [VarDumper] fix resetting the "bold" state in CliDumper
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Status: Reviewed, VarDumper

#33914 [String] add $lastGlue argument to join() methods
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
  src/Symfony/Component/String/UnicodeString.php
Labels: Feature, Status: Reviewed

#33939 [Cache] add TagAwareMarshaller to optimize data storage when using AbstractTagAwareAdapter
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/FilesystemTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Marshaller/TagAwareMarshaller.php
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Cache, Status: Reviewed

#32943 [Dotenv] search variable values in ENV first then env file
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
  src/Symfony/Component/Dotenv/composer.json
Labels: Bug, Dotenv, Status: Reviewed

#33053 [ErrorHandler] Rework fatal errors
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Debug/Exception/ClassNotFoundException.php
  src/Symfony/Component/Debug/Exception/FatalErrorException.php
  src/Symfony/Component/Debug/Exception/FatalThrowableError.php
  src/Symfony/Component/Debug/Exception/OutOfMemoryException.php
  src/Symfony/Component/Debug/Exception/UndefinedFunctionException.php
  src/Symfony/Component/Debug/Exception/UndefinedMethodException.php
  src/Symfony/Component/Debug/FatalErrorHandler/UndefinedFunctionFatalErrorHandler.php
  src/Symfony/Component/Debug/FatalErrorHandler/UndefinedMethodFatalErrorHandler.php
  src/Symfony/Component/ErrorHandler/Error/ClassNotFoundError.php
  src/Symfony/Component/ErrorHandler/Error/FatalError.php
  src/Symfony/Component/ErrorHandler/Error/OutOfMemoryError.php
  src/Symfony/Component/ErrorHandler/Error/UndefinedFunctionError.php
  src/Symfony/Component/ErrorHandler/Error/UndefinedMethodError.php
  src/Symfony/Component/ErrorHandler/ErrorEnhancer/ClassNotFoundErrorEnhancer.php
  src/Symfony/Component/ErrorHandler/ErrorEnhancer/ErrorEnhancerInterface.php
  src/Symfony/Component/ErrorHandler/ErrorEnhancer/UndefinedFunctionErrorEnhancer.php
  src/Symfony/Component/ErrorHandler/ErrorEnhancer/UndefinedMethodErrorEnhancer.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/Exception/ClassNotFoundException.php
  src/Symfony/Component/ErrorHandler/Exception/ErrorException.php
  src/Symfony/Component/ErrorHandler/Exception/UndefinedFunctionException.php
  src/Symfony/Component/ErrorHandler/Exception/UndefinedMethodException.php
  src/Symfony/Component/ErrorHandler/FatalErrorHandler/FatalErrorHandlerInterface.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorEnhancer/ClassNotFoundErrorEnhancerTest.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorEnhancer/UndefinedFunctionErrorEnhancerTest.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorEnhancer/UndefinedMethodErrorEnhancerTest.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
  src/Symfony/Component/ErrorHandler/Tests/FatalErrorHandler/ClassNotFoundFatalErrorHandlerTest.php
  src/Symfony/Component/ErrorHandler/Tests/FatalErrorHandler/UndefinedFunctionFatalErrorHandlerTest.php
  src/Symfony/Component/ErrorHandler/Tests/FatalErrorHandler/UndefinedMethodFatalErrorHandlerTest.php
  src/Symfony/Component/ErrorHandler/Tests/phpt/decorate_exception_handler.phpt
  src/Symfony/Component/ErrorHandler/Tests/phpt/fatal_with_nested_handlers.phpt
  src/Symfony/Component/ErrorRenderer/Exception/FlattenException.php
  src/Symfony/Component/ErrorRenderer/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
Labels: ErrorHandler, Status: Reviewed

#33883 [Mailer] added ReplyTo option for PostmarkApiTransport
  src/Symfony/Component/Mailer/Bridge/Postmark/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkApiTransport.php
Labels: Feature, Mailer, Status: Reviewed

#33965 [HttpFoundation] Add plus character `+` to legal mime subtype
  src/Symfony/Component/HttpFoundation/File/MimeType/FileBinaryMimeTypeGuesser.php
Labels: Bug, Status: Reviewed

#33958 [DI] Add extra type check to php dumper
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Reviewed

#33964 Make Symfony\Contracts\Service\Test\ServiceLocatorTest abstract
  src/Symfony/Contracts/Service/Test/ServiceLocatorTest.php
Labels: Status: Reviewed

#33962 [Cache] fixed TagAwareAdapter returning invalid cache
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
Labels: Bug, Cache, Status: Reviewed

#33959 [Cache] fix 2RTT + race condition in AbstractTagAwareAdapter::deleteItems()
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/FilesystemTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
Labels: Cache, Status: Reviewed

#33944 [HttpClient] resolve promise chains on HttplugClient::wait()
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Internal/HttplugWaitLoop.php
  src/Symfony/Component/HttpClient/Response/HttplugPromise.php
  src/Symfony/Component/HttpClient/Tests/HttplugClientTest.php
Labels: HttpClient, Status: Needs Review

#33948 [PropertyInfo] Respect property name case when guessing from public method name
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
Labels: Bug, PropertyInfo, Status: Reviewed

#33896 [Serializer][CSV] Add context options to handle BOM
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
Labels: Feature, Status: Reviewed

#33974 [Cache] fix PHP 5.6 compatibility
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
Labels: Bug, Cache, Status: Reviewed

#33980 [HttpClient] try using php-http/discovery when nyholm/psr7 is not installed
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Psr18Client.php
Labels: Feature, HttpClient, Status: Reviewed

#33971 [String] optimize equalsTo/startsWith/endsWith
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/CodePointString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
  src/Symfony/Component/String/Tests/UnicodeStringTest.php
  src/Symfony/Component/String/UnicodeString.php
Labels: Status: Reviewed

#33970 [String] wrap(): test and fix
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
  src/Symfony/Component/String/Tests/UnicodeStringTest.php
Labels: Bug, Status: Reviewed

#33969 Increase limits for flakey appveyor tests
  src/Symfony/Component/VarDumper/Tests/Server/ConnectionTest.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Status: Reviewed

#33966 [FrameworkBundle] Improve the sorting of tagged services
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_priority_tag.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_priority_tag.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_priority_tag.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_priority_tag.xml
Labels: Feature, FrameworkBundle, Status: Reviewed

#33940 [String] bytesAt() and codePointsAt()
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/CodePointString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
  src/Symfony/Component/String/Tests/ByteStringTest.php
  src/Symfony/Component/String/Tests/CodePointStringTest.php
  src/Symfony/Component/String/Tests/UnicodeStringTest.php
Labels: Feature, Status: Reviewed

#33932 [String] Added test for replaceMatches
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
Labels: Status: Reviewed

#33973 [HttpClient] add HttpClient::createForBaseUri()
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttpClient.php
Labels: Feature, HttpClient, Status: Reviewed

#33961 [TwigBridge] Add show-deprecations option to the lint:twig command
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Command/LintCommand.php
Labels: Feature, Status: Reviewed, TwigBridge

#33987 [CI] fix building local packages
  .appveyor.yml
  .github/build-packages.php
  .travis.yml
Labels: Status: Reviewed

#33985 [HttpClient] workaround curl_multi_select() issue
  .appveyor.yml
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: HttpClient, Status: Needs Review

#33981 [ErrorRenderer] extend legacy exception for backwards compatibility
  src/Symfony/Component/Debug/Exception/FlattenException.php
  src/Symfony/Component/ErrorRenderer/Exception/FlattenException.php
  src/Symfony/Component/ErrorRenderer/Resources/stubs/Exception/FlattenException.php
  src/Symfony/Component/ErrorRenderer/composer.json
  src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php
Labels: Bug, ErrorRenderer, Status: Needs Review

#33994 [Mailer] Fix Mandrill Transport API payload for named addresses
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Http/Api/MandrillTransport.php
Labels: Bug, Mailer, Status: Reviewed

#33982 [HttpClient] improve StreamWrapper
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Component/HttpClient/Response/StreamWrapper.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: HttpClient, Status: Reviewed

#34012 Replace STDIN by php://stdin
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Status: Reviewed

#33818 [Yaml] Throw exception for tagged invalid inline elements
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Status: Reviewed, Yaml

#34023 [Dotenv] allow LF in single-quoted strings
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
Labels: Bug, Dotenv, Status: Reviewed

#34011 [String] Add AbstractString::toString() method
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Feature, Status: Reviewed

#34013 [DI] add `LazyString` for lazy computation of string values injected into services
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/LazyString.php
  src/Symfony/Component/DependencyInjection/Tests/LazyStringTest.php
  src/Symfony/Component/DependencyInjection/composer.json
Labels: DependencyInjection, Feature, Status: Reviewed

#34039 execute all compatible tests across versions
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypePerformanceTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
  src/Symfony/Component/Form/Tests/VersionAwareTest.php
Labels: Status: Needs Review

#34024 [Routing] fix route loading with wildcard, but dir or file is empty
  src/Symfony/Component/Routing/Loader/Configurator/RoutingConfigurator.php
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Routing/Tests/Fixtures/controller/empty_wildcard/.gitignore
  src/Symfony/Component/Routing/Tests/Fixtures/import_with_name_prefix/routing.yml
Labels: Bug, Routing, Status: Reviewed

#34041 [HttpKernel] fix wrong removal of the just generated container dir
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, HttpKernel, Status: Reviewed

#34049 [Workflow] Fix small typo in Exception message
  src/Symfony/Component/Workflow/Validator/StateMachineValidator.php
Labels: Status: Needs Review

#34044 [HttpClient] Add a canceled state to the ResponseInterface
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Contracts/HttpClient/ResponseInterface.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Feature, HttpClient, Status: Reviewed

#34048 [String] Fix of title() method
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
Labels: Bug, Status: Reviewed

#34055 [Console] Revert wrong change
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Bug, Console, Status: Reviewed

#34017 [Messenger] Fix ignored options in redis transport
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#34014 [DI] made the `%env(base64:...)%` processor able to decode base64url
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: DependencyInjection, Feature, Status: Needs Review

#34021 [TwigBridge] do not render errors for checkboxes twice
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_horizontal_layout.html.twig
Labels: Bug, Status: Reviewed, TwigBridge

#34027 [EventDispatcher] handle lazy-callable invokable
  src/Symfony/Component/EventDispatcher/EventDispatcher.php
  src/Symfony/Component/EventDispatcher/Tests/EventDispatcherTest.php
Labels: EventDispatcher, Feature, Status: Needs Review

#34036 [Lock] Set ReturnType of LockFactory to LockInterface
  src/Symfony/Component/Lock/LockFactory.php
Labels: Bug, Lock, Status: Reviewed

#34050 [VarDumper] improve displaying cut closures
  src/Symfony/Component/VarDumper/Caster/CutStub.php
Labels: Status: Needs Review, VarDumper

#34052 [HttpClient] skip tests implemented in 4.4
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
Labels: HttpClient, Status: Reviewed

#34069 [Messenger] Removing "sync" transport and replacing it with config trick
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_sync_transport.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_sync_transport.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_sync_transport.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Tests/Transport/Sync/SyncTransportFactoryTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Sync/SyncTransportTest.php
  src/Symfony/Component/Messenger/Transport/Sync/SyncTransport.php
  src/Symfony/Component/Messenger/Transport/Sync/SyncTransportFactory.php
Labels: Deprecation, Messenger, Status: Reviewed

#34070 [ErrorRenderer] FlattenException cannot be final
  src/Symfony/Component/ErrorRenderer/Exception/FlattenException.php
Labels: Bug, ErrorRenderer, Status: Reviewed

#34066 [Messenger] Fix worker-only Doctrine middleware from running always
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineClearEntityManagerMiddleware.php
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineCloseConnectionMiddleware.php
  src/Symfony/Bridge/Doctrine/Messenger/DoctrinePingConnectionMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineClearEntityManagerMiddlewareTest.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineCloseConnectionMiddlewareTest.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrinePingConnectionMiddlewareTest.php
Labels: Bug, Messenger, Status: Reviewed

#34067 Use port 465 for SES SMTP transport
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesSmtpTransport.php
Labels: Bug, Status: Reviewed

#34034 [Mailer][MailchimpBridge] Don't send address names if empty string
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillApiTransport.php
Labels: Bug, Mailer, Status: Reviewed

#34015 [Mailer] Fix typo
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpTransport.php
Labels: Bug, Mailer, Status: Reviewed

#34072 [Debug] remove return types that break FC badly
  src/Symfony/Component/Debug/Exception/FlattenException.php
  src/Symfony/Component/ErrorRenderer/Exception/FlattenException.php
Labels: Bug, Debug, Status: Reviewed

#34075 [ErrorHandler] Import missing classes
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
Labels: Bug, ErrorHandler, Status: Needs Review

#34060 [SecurityBundle] test with doctrine-bundle 2
  composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: SecurityBundle, Status: Needs Review

#34078 [FrameworkBundle] Don't reset the test container but the real one instead
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Test/TestContainer.php
  src/Symfony/Bundle/FrameworkBundle/Test/WebTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#34081 [Validator] Set Length::$allowEmptyString to false when a NotBlank contraint is defined
  src/Symfony/Component/Validator/Constraints/Length.php
  src/Symfony/Component/Validator/Constraints/LengthValidator.php
  src/Symfony/Component/Validator/Mapping/GenericMetadata.php
Labels: Bug, Status: Reviewed, Validator

#34082 Revert "[Messenger] Fix exception message of failed message is dropped
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRetryCommandTest.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Bug, Messenger, Status: Reviewed

#32341 [Messenger] Show exceptions after multiple retries
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesShowCommandTest.php
Labels: Bug, Messenger, Status: Reviewed

#34104 [Notifier] Defaults to NoNotifier when sending a notification without recipients
  src/Symfony/Component/Notifier/Notifier.php
Labels: Feature, Status: Reviewed

#34103 [Notifier] Fix default value for phone number of admins
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, Status: Reviewed

#34051 [HttpClient] allow option "buffer" to be a stream resource
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Contracts/HttpClient/HttpClientInterface.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Feature, HttpClient, Status: Reviewed

#34109 Notifier disable failed message listener by default
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier.xml
Labels: Bug, Feature, Status: Needs Review

#34107 [Messenger] prevent infinite redelivery loops and blocked queues
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Messenger/Exception/RejectRedeliveredMessageException.php
  src/Symfony/Component/Messenger/Middleware/RejectRedeliveredMessageMiddleware.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Bug, Messenger, Status: Reviewed

#32456 [Messenger] use database platform to convert correctly the DateTime
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/ConnectionTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineIntegrationTest.php
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Deprecation, Messenger, Status: Reviewed

#34110 [Messenger] remove infinite (nullable) max retries
  src/Symfony/Component/Messenger/Retry/MultiplierRetryStrategy.php
  src/Symfony/Component/Messenger/Tests/Retry/MultiplierRetryStrategyTest.php
Labels: Messenger, Status: Reviewed

#34097 [Validator] Ensure numeric subpaths do not cause errors on PHP 7.4
  src/Symfony/Component/Validator/Tests/Util/PropertyPathTest.php
  src/Symfony/Component/Validator/Util/PropertyPath.php
Labels: Bug, Status: Reviewed
