Repository symfony/symfony, pull requests merged in 2019-09, with the labels that each got.

#33408 Fix the profiler panel for Mailer
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, Status: Needs Review

#33402 [Finder] Prevent unintentional file locks in Windows
  src/Symfony/Component/Finder/Iterator/SortableIterator.php
Labels: Bug, Status: Needs Review

#33419 [Mailer] Renamed getName() to toString()
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/MailerTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Event/MessageEvent.php
  src/Symfony/Component/Mailer/Event/MessageEvents.php
  src/Symfony/Component/Mailer/Mailer.php
  src/Symfony/Component/Mailer/Test/TransportFactoryTestCase.php
  src/Symfony/Component/Mailer/Tests/Transport/FailoverTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/NullTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/RoundRobinTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/SendmailTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/EsmtpTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/SmtpTransportTest.php
  src/Symfony/Component/Mailer/Tests/TransportTest.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
  src/Symfony/Component/Mailer/Transport/NullTransport.php
  src/Symfony/Component/Mailer/Transport/RoundRobinTransport.php
  src/Symfony/Component/Mailer/Transport/SendmailTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
  src/Symfony/Component/Mailer/Transport/TransportInterface.php
Labels: Mailer, Status: Reviewed

#33424 [Mailer] Change the DSN semantics
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Mailer/config.yml
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesHttpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Google/Tests/Transport/GmailTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Google/Transport/GmailTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Tests/Transport/MandrillApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Tests/Transport/MandrillHttpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Tests/Transport/MandrillTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunHttpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Transport/PostmarkApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Transport/PostmarkTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridTransportFactory.php
  src/Symfony/Component/Mailer/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Mailer/Test/TransportFactoryTestCase.php
  src/Symfony/Component/Mailer/Tests/Transport/NullTransportFactoryTest.php
  src/Symfony/Component/Mailer/Tests/Transport/NullTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/SendmailTransportFactoryTest.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/EsmtpTransportFactoryTest.php
  src/Symfony/Component/Mailer/Transport/AbstractHttpTransport.php
  src/Symfony/Component/Mailer/Transport/AbstractTransportFactory.php
  src/Symfony/Component/Mailer/Transport/NullTransport.php
  src/Symfony/Component/Mailer/Transport/NullTransportFactory.php
  src/Symfony/Component/Mailer/Transport/SendmailTransportFactory.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransportFactory.php
Labels: BC Break, Feature, Mailer, Status: Reviewed

#33409 [Mailer] Add support for multiple mailers
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/MailerTest.php
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Mailer.php
  src/Symfony/Component/Mailer/Transport.php
  src/Symfony/Component/Mailer/Transport/Transports.php
Labels: Feature, Mailer, Status: Reviewed

#33428 Cleanup tests
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/KernelForTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/Lock/Tests/Store/BlockingStoreTestTrait.php
  src/Symfony/Component/Serializer/Tests/Encoder/ChainEncoderTest.php
Labels: Status: Needs Review

#33429 [Mailer] hotfix
  src/Symfony/Component/Mailer/Tests/Transport/TransportsTest.php
  src/Symfony/Component/Mailer/Transport/Transports.php
Labels: Bug, Mailer, Status: Needs Review

#33432 [Mailer] Fix Mailgun support when a response is not JSON as expected
  src/Symfony/Component/Mailer/Bridge/Mailgun/Http/Api/MailgunTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Http/MailgunTransport.php
Labels: Bug, Mailer, Status: Needs Review

#32903 [PHPUnit Bridge] Avoid registering listener twice
  src/Symfony/Bridge/PhpUnit/Legacy/CommandForV5.php
  src/Symfony/Bridge/PhpUnit/Legacy/CommandForV6.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#33431 Casting getInt to integer
  src/Symfony/Component/HttpFoundation/ParameterBag.php
Labels: Bug, Status: Reviewed

#33433 [Mailer] Add a more precise exception
  src/Symfony/Component/Mailer/Tests/Transport/TransportsTest.php
  src/Symfony/Component/Mailer/Transport/Transports.php
Labels: Mailer, Status: Reviewed

#33436 [DI] fix support for "!tagged_locator foo"
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/YamlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_tagged_argument.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#33329 [Translator] Nullable message id?
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Component/Translation/DataCollectorTranslator.php
  src/Symfony/Component/Translation/LoggingTranslator.php
  src/Symfony/Component/Translation/Tests/TranslatorTest.php
  src/Symfony/Component/Translation/Translator.php
  src/Symfony/Contracts/Translation/TranslatorTrait.php
Labels: Bug, Status: Reviewed, Translator

#33446 [TwigBridge] lint all templates from configured Twig paths if no argument was provided
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
Labels: Feature, Status: Reviewed, TwigBridge

#33439 [Validator] Sync string to date behavior and throw a better exception
  src/Symfony/Component/Validator/Constraints/AbstractComparisonValidator.php
  src/Symfony/Component/Validator/Constraints/RangeValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/AbstractComparisonValidatorTestCase.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeValidatorTest.php
Labels: Bug, Status: Reviewed, Validator

#33437 Fix #33427
  src/Symfony/Component/Translation/Formatter/IntlFormatter.php
  src/Symfony/Component/Translation/Tests/Formatter/IntlFormatterTest.php
Labels: Bug, Status: Reviewed, Translator

#33327 [ErrorHandler] Registering basic exception handler for late failures
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
Labels: ErrorHandler, Feature, Status: Reviewed

#33435 [Validator] Only handle numeric values in DivisibleBy
  src/Symfony/Component/Validator/Constraints/DivisibleByValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/DivisibleByValidatorTest.php
Labels: Bug, Status: Reviewed, Validator

#33434 [Validator] Add ConstraintValidator::formatValue() tests
  src/Symfony/Component/Validator/ConstraintValidator.php
  src/Symfony/Component/Validator/Tests/ConstraintValidatorTest.php
Labels: Status: Reviewed, Validator

#33447 [DI] fix failure
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Status: Needs Review

#33444 [HttpClient] improve handling of HTTP/2 PUSH, disable it by default
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Internal/PushedResponse.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
Labels: Bug, HttpClient, Status: Needs Review

#33430 [ErrorHandler][Bridge/PhpUnit] display deprecations for not-autoloaded classes
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
Labels: Bug, ErrorHandler, Status: Needs Review

#33452 [HttpClient] Fix a bug preventing Server Pushes to be handled properly
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: Bug, HttpClient, Status: Needs Review

#33391 [HttpClient] fix support for 103 Early Hints and other informational status codes
  src/Symfony/Component/HttpClient/Chunk/DataChunk.php
  src/Symfony/Component/HttpClient/Chunk/ErrorChunk.php
  src/Symfony/Component/HttpClient/Chunk/InformationalChunk.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Response/ResponseStream.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/NativeHttpClientTest.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Contracts/HttpClient/ChunkInterface.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Bug, HttpClient, Status: Reviewed

#33449 Fix gmail relay
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/AbstractStream.php
Labels: Bug, Status: Reviewed

#33454 [Mailer] Improve an exception when trying to send a RawMessage without an Envelope
  src/Symfony/Component/Mailer/Mailer.php
  src/Symfony/Component/Mailer/SmtpEnvelope.php
  src/Symfony/Component/Mailer/Tests/MailerTest.php
  src/Symfony/Component/Mailer/Tests/SmtpEnvelopeTest.php
  src/Symfony/Component/Mailer/Tests/Transport/AbstractTransportTest.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
Labels: Bug, Feature, Mailer, Status: Needs Review

#33387 [Mailer] maintain sender/recipient name in SMTP envelopes
  src/Symfony/Component/Mailer/DelayedSmtpEnvelope.php
  src/Symfony/Component/Mailer/Tests/SmtpEnvelopeTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
Labels: Bug, Mailer, Status: Reviewed

#33463 [Mailer] Fix an error message
  src/Symfony/Component/Mailer/Tests/Transport/DsnTest.php
  src/Symfony/Component/Mailer/Transport/Dsn.php
Labels: Bug, Mailer, Status: Reviewed

#33271 Added new ErrorController + Preview and enabling there the error renderer mechanism
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing/errors.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/Fixture/TestAppKernel.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/BundlePaths/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Fragment/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/MissingUserProviderTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/ExceptionController.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/JsonLogin/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/JsonLogin/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/JsonLogin/custom_handlers.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/config/twig.yml
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/Controller/ExceptionController.php
  src/Symfony/Bundle/TwigBundle/Controller/PreviewErrorController.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExceptionListenerPass.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
  src/Symfony/Bundle/TwigBundle/Tests/Controller/PreviewErrorControllerTest.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/customTemplateEscapingGuesser.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/empty.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/formats.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/TwigExtensionTest.php
  src/Symfony/Bundle/TwigBundle/Tests/Functional/NoTemplatingEntryTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ErrorController.php
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ErrorControllerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/DebugHandlersListenerTest.php
Labels: Deprecation, Feature, FrameworkBundle, HttpKernel, Status: Reviewed, TwigBundle

#33459 [Validator] Deprecated CacheInterface in favor of PSR-6
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ValidatorCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Mapping/Cache/CacheInterface.php
  src/Symfony/Component/Validator/Mapping/Cache/DoctrineCache.php
  src/Symfony/Component/Validator/Mapping/Cache/Psr6Cache.php
  src/Symfony/Component/Validator/Mapping/Factory/LazyLoadingMetadataFactory.php
  src/Symfony/Component/Validator/Tests/Mapping/Cache/DoctrineCacheTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Cache/Psr6CacheTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Factory/LazyLoadingMetadataFactoryTest.php
  src/Symfony/Component/Validator/Tests/ValidatorBuilderTest.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Deprecation, Status: Reviewed, Validator

#33460 [Validator] Removed CacheInterface in favor of PSR-6
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.xml
  src/Symfony/Component/Validator/Mapping/Cache/CacheInterface.php
  src/Symfony/Component/Validator/Mapping/Cache/DoctrineCache.php
  src/Symfony/Component/Validator/Mapping/Cache/Psr6Cache.php
  src/Symfony/Component/Validator/Mapping/Factory/LazyLoadingMetadataFactory.php
  src/Symfony/Component/Validator/Tests/Mapping/Cache/AbstractCacheTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Cache/DoctrineCacheTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Cache/Psr6CacheTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Factory/LazyLoadingMetadataFactoryTest.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: BC Break, Status: Needs Review, Validator

#33475 [Validator] Update "suggest" section in composer.json
  src/Symfony/Component/Validator/composer.json
Labels: Bug, Status: Needs Review, Validator

#33476 [TwigBundle] Remove legacy code
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/Fixture/TestAppKernel.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/BundlePaths/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Fragment/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/config/twig.yml
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/Controller/PreviewErrorController.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExceptionListenerPass.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/Resources/config/routing/errors.xml
  src/Symfony/Bundle/TwigBundle/Resources/config/schema/twig-1.0.xsd
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
  src/Symfony/Bundle/TwigBundle/Tests/Controller/PreviewErrorControllerTest.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/extra.xml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/TwigBundle/TwigBundle.php
Labels: Status: Reviewed, TwigBundle

#33480 [Mailer] Added messenger to dev dependencies
  src/Symfony/Component/Mailer/composer.json
Labels: Bug, Mailer, Status: Needs Review

#33481 [Messenger] fix empty amqp body returned as false
  src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpReceiver.php
Labels: Bug, Messenger, Status: Reviewed

#33479 [SecurityBundle] Fix 4.3 tests forward compat
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/MissingUserProviderTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/MissingUserProvider/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/MissingUserProvider/config.yml
Labels: SecurityBundle, Status: Reviewed

#31964 [Router] routing cache crash when using generator_class
  src/Symfony/Component/Routing/Router.php
Labels: Bug, Routing, Status: Reviewed

#33477 Add BC break note to UPGRADE-4.2.md
  UPGRADE-4.2.md
Labels: Status: Reviewed

#33469 [FrameworkBundle] Fixed suggested package for missing server:dump command
  src/Symfony/Bundle/FrameworkBundle/EventListener/SuggestMissingPackageSubscriber.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#31177 #21571 Comparing roles to detected that users has changed
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/SecuredPageBundle/Controller/AdminController.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/SecuredPageBundle/Resources/config/routing.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/SecuredPageBundle/SecuredPageBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/SecuredPageBundle/Security/Core/User/ArrayUserProvider.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AbstractTokenCompareRoles/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AbstractTokenCompareRoles/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AbstractTokenCompareRoles/routing.yml
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Tests/User/UserTest.php
  src/Symfony/Component/Security/Core/User/User.php
Labels: Bug, Security, SecurityBundle, Status: Reviewed

#33491 [Debug] disable new DebugClassLoader when testing the legacy one
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Test/WebTestCaseTest.php
  src/Symfony/Component/Debug/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/ErrorHandler/Tests/DebugClassLoaderTest.php
Labels: Debug, Status: Needs Review

#33471 [Mailer] Check email validity before opening an SMTP connection
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridApiTransportTest.php
  src/Symfony/Component/Mailer/SentMessage.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/SocketStream.php
  src/Symfony/Component/Mime/Email.php
  src/Symfony/Component/Mime/Message.php
  src/Symfony/Component/Mime/RawMessage.php
  src/Symfony/Component/Mime/Tests/EmailTest.php
Labels: Bug, Feature, Mailer, Status: Reviewed

#33490 [Bridge/Twig] use tty group on testLintDefaultPaths
  .travis.yml
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
Labels: Status: Needs Review

#33492 [MonologBridge] Bump min version for monolog ^1.25 and drop dead code
  composer.json
  src/Symfony/Bridge/Monolog/Handler/ElasticsearchLogstashHandler.php
  src/Symfony/Bridge/Monolog/Handler/FormattableHandlerTrait.php
  src/Symfony/Bridge/Monolog/Handler/ProcessableHandlerTrait.php
  src/Symfony/Bridge/Monolog/composer.json
Labels: MonologBridge, Status: Needs Review

#33482 fix tests mocking final events
  src/Symfony/Bridge/Monolog/Tests/Processor/RouteProcessorTest.php
  src/Symfony/Bridge/Monolog/Tests/Processor/WebProcessorTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/LocaleListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/ResponseListenerTest.php
  src/Symfony/Component/WebLink/Tests/EventListener/AddLinkHeaderListenerTest.php
Labels: Status: Reviewed

#33495 [SecurityBundle] Removed workaround introduced in 4.3
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/MissingUserProvider/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/MissingUserProvider/config.yml
Labels: SecurityBundle, Status: Needs Review

#33494 [Mailer] Change DSN syntax
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Tests/Transport/FailoverTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/RoundRobinTransportTest.php
  src/Symfony/Component/Mailer/Tests/TransportTest.php
  src/Symfony/Component/Mailer/Transport.php
  src/Symfony/Component/Mailer/Transport/FailoverTransport.php
  src/Symfony/Component/Mailer/Transport/RoundRobinTransport.php
Labels: BC Break, Feature, Status: Reviewed

#33297 Make dispatched events really final
  src/Symfony/Component/Console/Event/ConsoleCommandEvent.php
  src/Symfony/Component/Console/Event/ConsoleTerminateEvent.php
  src/Symfony/Component/Form/Event/PostSetDataEvent.php
  src/Symfony/Component/Form/Event/PostSubmitEvent.php
  src/Symfony/Component/Form/Event/PreSetDataEvent.php
  src/Symfony/Component/Form/Event/PreSubmitEvent.php
  src/Symfony/Component/Form/Event/SubmitEvent.php
  src/Symfony/Component/HttpKernel/Event/ControllerEvent.php
  src/Symfony/Component/HttpKernel/Event/ExceptionEvent.php
  src/Symfony/Component/HttpKernel/Event/FinishRequestEvent.php
  src/Symfony/Component/HttpKernel/Event/ResponseEvent.php
  src/Symfony/Component/HttpKernel/Event/TerminateEvent.php
  src/Symfony/Component/HttpKernel/Event/ViewEvent.php
  src/Symfony/Component/Security/Core/Event/AuthenticationFailureEvent.php
  src/Symfony/Component/Security/Core/Event/AuthenticationSuccessEvent.php
  src/Symfony/Component/Security/Http/Event/DeauthenticatedEvent.php
  src/Symfony/Component/Security/Http/Event/InteractiveLoginEvent.php
  src/Symfony/Component/Security/Http/Event/SwitchUserEvent.php
  src/Symfony/Component/Workflow/Event/AnnounceEvent.php
  src/Symfony/Component/Workflow/Event/CompletedEvent.php
  src/Symfony/Component/Workflow/Event/EnterEvent.php
  src/Symfony/Component/Workflow/Event/EnteredEvent.php
  src/Symfony/Component/Workflow/Event/GuardEvent.php
  src/Symfony/Component/Workflow/Event/LeaveEvent.php
  src/Symfony/Component/Workflow/Event/TransitionEvent.php
Labels: Status: Reviewed

#32742 [Console] Added support for definition list and horizontal table
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/command/command_18.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/command/command_19.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/output/output_18.txt
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/output/output_19.txt
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: Console, Feature, Status: Reviewed

#33496 Deprecated not passing dash symbol (-) to STDIN commands
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Yaml/CHANGELOG.md
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Deprecation, Status: Reviewed, Translator, TwigBridge, Yaml

#33487 [HttpKernel] Fix Apache mod_expires Session Cache-Control issue
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
Labels: Bug, Status: Reviewed

#33486 [VarDumper] Display fully qualified title
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
  src/Symfony/Component/VarDumper/Tests/Caster/ExceptionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/StubCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/HtmlDumperTest.php
Labels: Status: Reviewed

#33295 [OptionsResolver] Display full nested option hierarchy in exceptions
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: OptionsResolver, Status: Reviewed

#33189 New welcome page on startup for 4.4 LTS & 5.0
  src/Symfony/Component/HttpKernel/Resources/welcome.html.php
Labels: Feature, HttpKernel, Status: Reviewed

#32818 [HttpKernel] Fix getFileLinkFormat() to avoid returning the wrong URL in Profiler
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
Labels: Bug, HttpKernel, Status: Reviewed

#33500 Allow version 2 of the contracts package
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Monolog/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Config/composer.json
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/EventDispatcher/composer.json
  src/Symfony/Component/ExpressionLanguage/composer.json
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/composer.json
  src/Symfony/Component/Stopwatch/composer.json
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/composer.json
Labels: Status: Reviewed

#32032 [DI] generate preload.php file for PHP 7.4 in cache folder
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/Preloader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_requires.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
Labels: DependencyInjection, Feature, Status: Reviewed

#33504 SCA: minor code tweaks
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/Intl/Data/Util/LocaleScanner.php
Labels: Status: Reviewed

#33505 [HttpClient] fallbackto CURLMOPT_MAXCONNECTS when CURLMOPT_MAX_HOST_CONNECTIONS is not available
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: Bug, HttpClient, Status: Reviewed

#33266 [DependencyInjection] Add types to private/final/internal methods and constructors
  src/Symfony/Bundle/FrameworkBundle/Test/TestContainer.php
  src/Symfony/Component/DependencyInjection/Compiler/AbstractRecursivePass.php
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/RegisterEnvVarProcessorsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveHotPathPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInstanceofConditionalsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInvalidReferencesPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ServiceLocatorTagPass.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/GraphvizDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
  src/Symfony/Component/DependencyInjection/Extension/Extension.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/PrototypeConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/IniFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/ServiceLocator.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveParameterPlaceHoldersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/YamlDumperTest.php
Labels: DependencyInjection, Status: Needs Review

#33506 [appveyor] exclude tty group
  .appveyor.yml
Labels: Status: Needs Review

#33410 [HttpFoundation] Add types to private/final/internal methods and constructors
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Session/SessionBagProxy.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/RequestAttributeValueSame.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseHasCookie.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseHeaderBagTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MongoDbSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PdoSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/MockFileSessionStorageTest.php
Labels: HttpFoundation, Status: Needs Review

#33509 Remove legacy code from STDIN commands
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Yaml/CHANGELOG.md
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Status: Reviewed, Translator, TwigBridge, Yaml

#32565 [HttpClient] Allow enabling buffering conditionally with a Closure
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/CachingHttpClient.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
Labels: Feature, Ready, Status: Reviewed

#33512 [HttpClient] do not perform string operations on null
  src/Symfony/Component/HttpClient/HttpClientTrait.php
Labels: HttpClient, Status: Needs Review

#33511 Require exact match when reading from stdin with a dash
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Status: Reviewed

#33524 [HttpClient] fix calling the buffer-enabling callback
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, HttpClient, Status: Reviewed

#33525 [DI] fix Preloader
  src/Symfony/Component/DependencyInjection/Dumper/Preloader.php
Labels: Bug, DependencyInjection, Status: Reviewed

#33513 [Console] Use correct EventDispatcherInterface
  src/Symfony/Component/Console/Application.php
Labels: Bug, Console, Status: Reviewed

#33530 Remove Google references when not needed
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Component/BrowserKit/Tests/CookieTest.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/HttpKernel/Tests/ClientTest.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/SplCasterTest.php
Labels: Status: Reviewed

#33527 Dirname simplification
  .php_cs.dist
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
  src/Symfony/Bundle/FrameworkBundle/Client.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/CacheClearCommandTest.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
  src/Symfony/Component/Config/Resource/ComposerResource.php
  src/Symfony/Component/Debug/Tests/FatalErrorHandler/ClassNotFoundFatalErrorHandlerTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/Form/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/HttpKernel/Client.php
  src/Symfony/Component/Security/Core/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Validator/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/VarDumper/Caster/LinkStub.php
Labels: Status: Reviewed

#33518 [Yaml] don't dump a scalar tag value on its own line
  src/Symfony/Component/Yaml/Dumper.php
  src/Symfony/Component/Yaml/Tests/DumperTest.php
Labels: Status: Reviewed, Yaml

#33529 [DI] use dirname() when possible
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/container_alias_deprecation.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_constructor_without_arguments.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_with_mandatory_constructor_arguments.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_with_optional_constructor_arguments.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_without_constructor.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services1-1.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services1.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services12.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services13.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services19.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services24.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services26.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services33.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services8.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_adawson.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_array_params.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_base64_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_csv_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_dedup_lazy_proxy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_deep_graph.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_default_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_env_in_id.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_errored_definition.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_requires.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_self_ref.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_json_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_locator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_private_frozen.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_private_in_expression.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_query_string_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_tsantos.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_uninitialized_ref.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_unsupported_characters.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_url_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither.php
Labels: DependencyInjection, Status: Reviewed

#33539 [DI] fix related to preloading
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/ExpressionLanguage.php
Labels: Bug, DependencyInjection, Status: Needs Review

#33535 [WebProfilerBundle] Assign automatic colors to custom Stopwatch categories
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.js
Labels: DX, Feature, Status: Reviewed, Stopwatch, WebProfilerBundle

#33537 Update GitHub PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#33532 [HttpKernel] fix compat with legacy DebugClassLoader
  src/Symfony/Component/HttpKernel/DependencyInjection/AddAnnotatedClassesToCachePass.php
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, HttpKernel, Status: Reviewed

#33541 [DI] cascade preloading only to public parameters/properties
  src/Symfony/Component/DependencyInjection/Dumper/Preloader.php
  src/Symfony/Component/DependencyInjection/ExpressionLanguage.php
Labels: DependencyInjection, Status: Needs Review

#33503 [SecurityBundle] Move Anonymous DI integration to new AnonymousFactory
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AnonymousFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
Labels: Security, Status: Reviewed

#33521 Fixed incompatibility between ServiceSubscriberTrait and classes with protected $container property
  src/Symfony/Contracts/Service/ServiceSubscriberTrait.php
Labels: Bug, Status: Reviewed

#33546 [DependencyInjection] Accept existing interfaces as valid named args
  src/Symfony/Component/DependencyInjection/Compiler/ResolveNamedArgumentsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveNamedArgumentsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/NamedArgumentsDummy.php
Labels: Bug, DependencyInjection, Status: Reviewed

#33547 [HttpClient] Re-enable Server Push support
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: HttpClient, Status: Reviewed

#33517 [Yaml] properly catch legacy tag syntax usages
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#33554 [DoctrineBridge] getMetadataDriverClass() is abstract now
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
Labels: BC Break, DoctrineBridge, Status: Reviewed

#33557 [FrameworkBundle][ErrorRenderer] Use FileLinkFormatter service when possible
  src/Symfony/Bundle/FrameworkBundle/Resources/config/error_renderer.xml
Labels: ErrorRenderer, FrameworkBundle, Status: Reviewed

#33570 Fixed cache pools affecting each other due to an overwritten seed variable
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolPassTest.php
Labels: Bug, Status: Reviewed

#33562 [Mailer] rename SmtpEnvelope to Envelope
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/DelayedEnvelope.php
  src/Symfony/Component/Mailer/Envelope.php
  src/Symfony/Component/Mailer/Event/MessageEvent.php
  src/Symfony/Component/Mailer/Mailer.php
  src/Symfony/Component/Mailer/MailerInterface.php
  src/Symfony/Component/Mailer/Messenger/SendEmailMessage.php
  src/Symfony/Component/Mailer/SentMessage.php
  src/Symfony/Component/Mailer/Tests/EnvelopeTest.php
  src/Symfony/Component/Mailer/Tests/SentMessageTest.php
  src/Symfony/Component/Mailer/Tests/Transport/AbstractTransportTest.php
  src/Symfony/Component/Mailer/Tests/TransportTest.php
  src/Symfony/Component/Mailer/Transport/AbstractApiTransport.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
  src/Symfony/Component/Mailer/Transport/RoundRobinTransport.php
  src/Symfony/Component/Mailer/Transport/SendmailTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
  src/Symfony/Component/Mailer/Transport/TransportInterface.php
  src/Symfony/Component/Mailer/Transport/Transports.php
Labels: Mailer, Status: Reviewed

#33568 [Validator] don't change state in case of exception
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Bug, Status: Reviewed, Validator

#32763 [Console] Get dimensions from stty on windows if possible
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Terminal.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
  src/Symfony/Component/Console/Tests/TerminalTest.php
Labels: Bug, Console, Status: Reviewed

#33571 [Inflector] add support 'see' to 'ee' for singularize 'fees' to 'fee'
  src/Symfony/Component/Inflector/Inflector.php
  src/Symfony/Component/Inflector/Tests/InflectorTest.php
Labels: Bug, Inflector, Status: Reviewed

#33576 [DX] Fix "link" to sub-contracts packages
  link
Labels: Bug, DX, Status: Reviewed

#33575 [WebProfilerBundle] Fix time panel legend buttons
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.js
Labels: Bug, Status: Reviewed, WebProfilerBundle

#33582 [Mailer] Fix SmtpEnvelope renaming to Envelope
  src/Symfony/Component/Mailer/Event/MessageEvent.php
Labels: Bug, Mailer, Status: Needs Review

#33585 [Security] Removed unused argument in Test
  src/Symfony/Component/Security/Guard/Tests/GuardAuthenticatorHandlerTest.php
Labels: Bug, Security, Status: Reviewed

#32970 [Messenger] Don't deep-merge senders configuration
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, HttpClient, Messenger, Status: Reviewed

#33587 [WebProfilerBundle] Clean time.js
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.js
Labels: Status: Reviewed, WebProfilerBundle

#33588 [PropertyInfo] ensure compatibility with type resolver 0.5
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
Labels: Bug, PropertyInfo, Status: Reviewed

#33340 [Finder] Adjust regex to correctly match comments in gitignore contents
  src/Symfony/Component/Finder/Gitignore.php
  src/Symfony/Component/Finder/Tests/GitignoreTest.php
Labels: Bug, Finder, Status: Reviewed

#33597 [Cache] bump required symfony/contracts version
  composer.json
Labels: Bug, Cache, Status: Reviewed

#33595 [HttpClient] Add .gitignore file
  src/Symfony/Component/HttpClient/.gitignore
Labels: HttpClient, Status: Reviewed

#33601 [HttpClient] Add default value for Accept header
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
Labels: Bug, Status: Reviewed

#33600 [Messenger] Fix exception message of failed message is dropped on retry
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRetryCommandTest.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Bug, Messenger, Status: Reviewed

#33608 [Inflector] Add .gitignore file
  src/Symfony/Component/Inflector/.gitignore
Labels: Inflector, Status: Reviewed

#33610 Add gitignore file for Symfony 3.4
  src/Symfony/Component/PropertyInfo/.gitignore
  src/Symfony/Component/Workflow/.gitignore
Labels: Status: Reviewed

#33611 Add gitignore file for Symfony 4.3
  src/Symfony/Component/Mailer/.gitignore
  src/Symfony/Component/Mailer/Bridge/Amazon/.gitignore
  src/Symfony/Component/Mailer/Bridge/Google/.gitignore
  src/Symfony/Component/Mailer/Bridge/Mailchimp/.gitignore
  src/Symfony/Component/Mailer/Bridge/Mailgun/.gitignore
  src/Symfony/Component/Mailer/Bridge/Postmark/.gitignore
  src/Symfony/Component/Messenger/.gitignore
  src/Symfony/Contracts/Cache/.gitignore
  src/Symfony/Contracts/EventDispatcher/.gitignore
  src/Symfony/Contracts/HttpClient/.gitignore
  src/Symfony/Contracts/Service/.gitignore
  src/Symfony/Contracts/Translation/.gitignore
Labels: Status: Reviewed

#33613 Minor updates in the new Welcome page
  src/Symfony/Component/HttpKernel/Resources/welcome.html.php
Labels: Status: Reviewed

#33612 [Twig] Remove dead code
  src/Symfony/Bridge/Twig/Tests/TokenParser/FormThemeTokenParserTest.php
  src/Symfony/Bridge/Twig/Tests/Translation/TwigExtractorTest.php
  src/Symfony/Bridge/Twig/Translation/TwigExtractor.php
  src/Symfony/Bundle/TwigBundle/TwigEngine.php
Labels: Status: Reviewed

#33614 New tweaks to the Welcome Page
  src/Symfony/Component/HttpKernel/Resources/welcome.html.php
Labels: Status: Reviewed

#33586 [Cache][FrameworkBundle] fix tests
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Cache, FrameworkBundle, Status: Reviewed

#33616 Fix wrong namespace
  src/Symfony/Component/Messenger/Worker.php
Labels: Bug, Status: Reviewed

#33617 [Console] Fix tests
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
Labels: Bug, Console, Status: Needs Review

#33620 [Twig] Fix Twig config extra keys
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
Labels: Bug, Status: Reviewed

#33623 [DependencyInjection] Allow binding iterable and tagged services
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/NamedArgumentsDummy.php
Labels: DependencyInjection, Feature, Status: Reviewed

#33550 [HttpFoundation] Call AssertEquals with proper parameters
  src/Symfony/Component/HttpFoundation/Tests/JsonResponseTest.php
Labels: Bug, Status: Reviewed

#33523 Fix lint commands frozen on empty stdin
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/YamlLintCommandTest.php
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Translation/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Bug, Status: Reviewed

#33626 [PropertyInfo] ensure compatibility with type resolver 0.5
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
Labels: Bug, PropertyInfo, Status: Reviewed

#33618 fix tests depending on other components' tests
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerResolverTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Form/Test/FormPerformanceTestCase.php
  src/Symfony/Component/Form/Test/VersionAwareTest.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BaseTypeTest.php
  src/Symfony/Component/HttpKernel/Test/Controller/ContainerControllerResolverTestCase.php
  src/Symfony/Component/HttpKernel/Test/Controller/ControllerResolverTestCase.php
  src/Symfony/Component/HttpKernel/Test/Fixtures/Controller/NullableController.php
  src/Symfony/Component/HttpKernel/Test/Fixtures/Controller/VariadicController.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ContainerControllerResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ControllerResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/ControllerMetadata/ArgumentMetadataFactoryTest.php
Labels: DoctrineBridge, FrameworkBundle, Status: Reviewed

#33605 [Twig] Add NotificationEmail
  .appveyor.yml
  composer.json
  src/Symfony/Bridge/Twig/Mime/BodyRenderer.php
  src/Symfony/Bridge/Twig/Mime/NotificationEmail.php
  src/Symfony/Bridge/Twig/Resources/views/Email/default/notification/body.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Email/default/notification/body.txt.twig
  src/Symfony/Bridge/Twig/Resources/views/Email/zurb_2/main.css
  src/Symfony/Bridge/Twig/Resources/views/Email/zurb_2/notification/body.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Email/zurb_2/notification/body.txt.twig
  src/Symfony/Bridge/Twig/Resources/views/Email/zurb_2/notification/content_markdown.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Email/zurb_2/notification/local.css
  src/Symfony/Bridge/Twig/Tests/Mime/NotificationEmailTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Compiler/ExtensionPassTest.php
Labels: Feature, Mailer, Status: Reviewed

#33633 [TwigBridge] Fix undefined constant and other minor issues
  src/Symfony/Bridge/Twig/Mime/NotificationEmail.php
Labels: Bug, Status: Reviewed, TwigBridge

#33635 [FrameworkBundle] Cleanup
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/attributes.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/button_attributes.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/button_label.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/button_row.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/button_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/checkbox_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/choice_attributes.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/choice_options.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/choice_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/choice_widget_collapsed.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/choice_widget_expanded.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/choice_widget_options.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/collection_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/color_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/container_attributes.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/date_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/datetime_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/email_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_enctype.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_end.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_errors.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_help.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_label.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_rest.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_row.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_rows.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_start.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_widget_compound.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_widget_simple.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/hidden_row.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/hidden_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/integer_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/money_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/number_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/password_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/percent_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/radio_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/range_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/repeated_row.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/reset_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/search_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/submit_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/tel_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/textarea_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/time_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/url_widget.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/widget_attributes.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/Form/widget_container_attributes.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/FormTable/button_row.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/FormTable/form_row.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/FormTable/form_widget_compound.html.php
  src/Symfony/Bundle/FrameworkBundle/Resources/views/FormTable/hidden_row.html.php
Labels: FrameworkBundle, Status: Reviewed

#33632 [ErrorRenderer] fix Cannot use object of type ErrorException as array exception #33631
  src/Symfony/Component/ErrorRenderer/Resources/views/logs.html.php
Labels: Bug, ErrorRenderer, Status: Reviewed

#33567 Re-enable previously failing PHP 7.4 test cases
  .travis.yml
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/ValidatorCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/YamlLintCommandTest.php
  src/Symfony/Component/Config/Tests/Resource/ClassExistenceResourceTest.php
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Status: Needs Review

#33644 [Validator] fix tests
  src/Symfony/Component/Validator/Tests/Mapping/Factory/LazyLoadingMetadataFactoryTest.php
Labels: Status: Reviewed, Validator

#33643 [HttpClient] fix throwing HTTP exceptions when the 1st chunk is emitted
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Bug, HttpClient, Status: Needs Review

#33647 [Messenger] fix tests
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRetryCommandTest.php
Labels: Messenger, Status: Needs Review

#33648 [TwigBundle] fix accessing service arguments
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
Labels: Bug, Status: Needs Review, TwigBundle

#33652 [Cache] skip igbinary on PHP 7.4.0
  src/Symfony/Component/Cache/Marshaller/DefaultMarshaller.php
  src/Symfony/Component/Cache/Tests/Marshaller/DefaultMarshallerTest.php
Labels: Bug, Cache, Status: Reviewed

#33653 [travis] checkout previous major and test with patched components on deps=high
  .appveyor.yml
  .github/composer-config.json
  .travis.yml
Labels: Status: Needs Review

#33654 [travis] install from dist except for selected components
  .appveyor.yml
  .composer/config.json
  .github/composer-config.json
  .travis.yml
Labels: Status: Needs Review

#33656 [travis] honor .gitattributes when building local packages
  .github/build-packages.php
Labels: Status: Needs Review

#33657 [travis] fix testing flipped versions
  .travis.yml
Labels: Status: Needs Review

#33662 [Twig] Remove deprecated tag usage
  src/Symfony/Bridge/Twig/Resources/views/Email/zurb_2/notification/body.html.twig
Labels: Bug, Status: Reviewed, TwigBridge

#33665 [travis] fix CI
  .travis.yml
Labels: Status: Needs Review

#33673 [travis] more CI fixes
  .travis.yml
Labels: Status: Needs Review

#33660 Minor tweaks to the Welcome Page
  src/Symfony/Component/HttpKernel/Resources/welcome.html.php
Labels: Status: Reviewed

#33668 Fix version typo in deprecation notice
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
Labels: Bug, Status: Reviewed

#33666 [Lock] use Predis\ClientInterface instead of Predis\Client
  src/Symfony/Component/Lock/Store/RedisStore.php
  src/Symfony/Component/Lock/Store/StoreFactory.php
  src/Symfony/Component/Lock/Tests/Store/AbstractRedisStoreTest.php
Labels: Bug, Lock, Status: Reviewed

#33651 [Yaml] hint to the --parse-tags when parsing tags fails
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Feature, Status: Reviewed, Yaml

#33649 Allow Twig 3
  composer.json
  src/Symfony/Bridge/Twig/Extension/ProfilerExtension.php
  src/Symfony/Bridge/Twig/Node/DumpNode.php
  src/Symfony/Bridge/Twig/Node/FormThemeNode.php
  src/Symfony/Bridge/Twig/Node/RenderBlockNode.php
  src/Symfony/Bridge/Twig/Node/SearchAndRenderBlockNode.php
  src/Symfony/Bridge/Twig/Node/StopwatchNode.php
  src/Symfony/Bridge/Twig/Node/TransDefaultDomainNode.php
  src/Symfony/Bridge/Twig/Node/TransNode.php
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationNodeVisitor.php
  src/Symfony/Bridge/Twig/Tests/Extension/Fixtures/StubFilesystemLoader.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/Loader/NativeFilesystemLoader.php
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/Tests/Profiler/TemplateManagerTest.php
  src/Symfony/Bundle/WebProfilerBundle/Twig/WebProfilerExtension.php
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/VarDumper/composer.json
Labels: Feature, Status: Reviewed, TwigBridge, TwigBundle

#33641 Make legacy "wrong" RFC2047 encoding apply only to one header
  src/Symfony/Component/Mime/Header/ParameterizedHeader.php
  src/Symfony/Component/Mime/Tests/Header/ParameterizedHeaderTest.php
Labels: Bug, Status: Reviewed

#33609 [Form][SubmitType] Add "validate" option
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/SubmitType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/SubmitTypeTest.php
Labels: Feature, Form, Status: Reviewed

#33678 Various tweaks 4.3
  src/Symfony/Component/Console/Tests/Question/QuestionTest.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Security/Http/Firewall/LegacyListenerTrait.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
Labels: Bug, Status: Reviewed

#33677 Various tweaks 3.4
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
  src/Symfony/Component/Console/Tests/Input/InputDefinitionTest.php
  src/Symfony/Component/Console/Tests/Tester/CommandTesterTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/LdapManagerTest.php
  src/Symfony/Component/Routing/Loader/PhpFileLoader.php
  src/Symfony/Component/Security/Csrf/Tests/CsrfTokenManagerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/UsernamePasswordFormAuthenticationListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/UsernamePasswordJsonAuthenticationListenerTest.php
  src/Symfony/Component/Templating/Tests/Loader/LoaderTest.php
  src/Symfony/Component/Templating/Tests/PhpEngineTest.php
Labels: Bug, Status: Reviewed

#33675 [PhpUnit] Fix usleep mock return value
  src/Symfony/Bridge/PhpUnit/ClockMock.php
Labels: Bug, Status: Reviewed

#33686 Fixed a minor typo in the UPGRADE to 5.0 guide
  UPGRADE-5.0.md
Labels: Bug, Status: Reviewed

#33663 [Security] Make stateful firewalls turn responses private only when needed
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterTokenUsageTrackingPass.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/collectors.xml
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_listeners.xml
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_rememberme.xml
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
  src/Symfony/Component/HttpFoundation/Session/Session.php
  src/Symfony/Component/Security/Core/Authentication/Token/Storage/UsageTrackingTokenStorage.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/Storage/UsageTrackingTokenStorageTest.php
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Feature, Security, Status: Reviewed

#33584 [Security] Deprecate isGranted()/decide() on more than one attribute
  UPGRADE-4.4.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authorization/AccessDecisionManager.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AccessDecisionManagerTest.php
Labels: Deprecation, Security, Status: Reviewed

#33690 [Security/Http] fix typo in deprecation message
  src/Symfony/Component/Security/Http/Firewall.php
Labels: Status: Reviewed

#33693 [Security] use LegacyEventDispatcherProxy
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
Labels: Bug, Security, Status: Reviewed

#33696 [Security] tweak deprecation messages and changelog
  UPGRADE-5.0.md
  src/Symfony/Component/Security/Core/Authorization/AccessDecisionManager.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
Labels: Security, Status: Reviewed
