Repository symfony/symfony, pull requests merged in 2020-10, with the labels that each got.

#38308 [Security][RateLimiter] Added request rate limiter to prevent breadth-first attacks
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/FormLoginBundle/Resources/views/Login/login.html.twig
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/FormLoginTest.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/RateLimiter/AbstractRequestRateLimiter.php
  src/Symfony/Component/HttpFoundation/RateLimiter/RequestRateLimiterInterface.php
  src/Symfony/Component/RateLimiter/NoLimiter.php
  src/Symfony/Component/Security/Core/Exception/TooManyLoginAttemptsAuthenticationException.php
  src/Symfony/Component/Security/Http/EventListener/LoginThrottlingListener.php
  src/Symfony/Component/Security/Http/RateLimiter/DefaultLoginRateLimiter.php
  src/Symfony/Component/Security/Http/Tests/EventListener/LoginThrottlingListenerTest.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Bug, Feature, Security, Status: Reviewed

#38357 [DI] fix dumping non-shared lazy services
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
Labels: Bug, DependencyInjection, Status: Needs Review

#38363 Remove CHANGELOG files for 4.x
  CHANGELOG-4.0.md
  CHANGELOG-4.1.md
  CHANGELOG-4.2.md
  CHANGELOG-4.3.md
  CHANGELOG-4.4.md
Labels: Status: Needs Review

#38360 [BrowserKit] Cookie expiration at current timestamp
  src/Symfony/Component/BrowserKit/Cookie.php
Labels: Bug, Status: Needs Review

#38370 [DI] Fix changelog
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
Labels: Bug, DependencyInjection, Status: Reviewed

#38350 [TwigBundle] Only remove kernel exception listener if twig is used
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExceptionListenerPass.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Compiler/ExceptionListenerPassTest.php
Labels: Bug, Status: Reviewed, TwigBundle

#38368 [HttpClient] Fix using https with proxies
  src/Symfony/Component/HttpClient/NativeHttpClient.php
Labels: Bug, HttpClient, Status: Reviewed

#38373 [ErrorHandler][DebugClassLoader] Do not check Mockery mocks classes
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
Labels: Bug, ErrorHandler, Status: Reviewed

#38289 [HttpClient] provide response body to the RetryDecider
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Retry/ExponentialBackOff.php
  src/Symfony/Component/HttpClient/Retry/HttpStatusCodeDecider.php
  src/Symfony/Component/HttpClient/Retry/RetryBackOffInterface.php
  src/Symfony/Component/HttpClient/Retry/RetryDeciderInterface.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/Retry/ExponentialBackOffTest.php
  src/Symfony/Component/HttpClient/Tests/Retry/HttpStatusCodeDeciderTest.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
Labels: Deprecation, Feature, Status: Reviewed

#38361 Can define ChatMessage transport to null
  src/Symfony/Component/Notifier/Message/ChatMessage.php
Labels: Bug, Notifier, Status: Reviewed

#36152 [Messenger] dispatch event when a message is retried
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Event/AbstractWorkerMessageEvent.php
  src/Symfony/Component/Messenger/Event/WorkerMessageRetriedEvent.php
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageForRetryListener.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageForRetryListenerTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Feature, Messenger, Status: Reviewed

#38367 [RateLimiter] Fix cache storage (use namespaced pool + remove \Serializable)
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/rate_limiter.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
  src/Symfony/Component/RateLimiter/LimiterStateInterface.php
  src/Symfony/Component/RateLimiter/TokenBucket.php
  src/Symfony/Component/RateLimiter/Window.php
Labels: Bug, Status: Reviewed

#38372 [Routing] fix using !important and defaults/reqs in inline route definitions
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Routing/Tests/RouteTest.php
Labels: Bug, Routing, Status: Reviewed

#38375 [HttpClient] fix using proxies with NativeHttpClient
  src/Symfony/Component/HttpClient/NativeHttpClient.php
Labels: Bug, HttpClient, Status: Needs Review

#38377 [4.4] Ignore more deprecations for Mockery mocks
  src/Symfony/Bridge/Monolog/Logger.php
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Security/Core/Authentication/Token/Storage/TokenStorage.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Translation/Extractor/PhpExtractor.php
Labels: Bug, Status: Reviewed

#38379 [HttpClient] fix unsetting context[ssl][peer_name]
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
Labels: HttpClient, Status: Needs Review

#38354 [RateLimiter] add Limit::ensureAccepted() which throws RateLimitExceededException if not accepted
  src/Symfony/Component/RateLimiter/Exception/RateLimitExceededException.php
  src/Symfony/Component/RateLimiter/Limit.php
  src/Symfony/Component/RateLimiter/Tests/LimitTest.php
Labels: Feature, RFC, Status: Reviewed

#38383 [FrameworkBundle] disallow FrameworkBundle 4.4+
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed

#38380 [Form] propagate validation groups to subforms
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorFunctionalTest.php
Labels: Bug, Form, Status: Needs Review

#38384 [PhpUnitBridge] Fix Deprecation file when it comes from the TestsListener
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#38386 [5.1] Ignore more deprecations for Mockery mocks
  src/Symfony/Component/Routing/RouteCollection.php
Labels: Bug, Status: Needs Review

#38323 [Mime] Allow multiple parts with the same name in FormDataPart
  src/Symfony/Component/Mime/Part/Multipart/FormDataPart.php
  src/Symfony/Component/Mime/Tests/Part/Multipart/FormDataPartTest.php
Labels: Bug, Mime, Status: Reviewed

#38388 [HttpClient] Always "buffer" empty responses
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
Labels: Bug, HttpClient, Status: Needs Review

#38378 [HttpClient] Fix exception triggered with AsyncResponse
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
Labels: Bug, Status: Needs Review

#38391 [Security] Fixed undefined property in Firewall\ExceptionListener
  src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php
Labels: Bug, Security, Status: Reviewed

#38390 [Serializer][Minor] Fix circular reference exception message (bad limit displayed)
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/CircularReferenceTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Bug, Serializer, Status: Reviewed

#38385 [PropertyInfo] Fix failure over array<string,mixed> PhpDoc type
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
Labels: Bug, PropertyInfo, Status: Reviewed

#38224 [HttpFoundation] Add Request::toArray() for JSON content
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Exception/JsonException.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#38177 [Security] Magic login link authentication
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/EntryPointFactoryInterface.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FormLoginFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/GuardAuthenticationFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/HttpBasicFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginLinkFactory.php
  src/Symfony/Bundle/SecurityBundle/LoginLink/FirewallAwareLoginLinkHandler.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator_login_link.php
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Security/Factory/LoginLinkFactoryTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/LoginLink/TestCustomLoginLinkSuccessHandler.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/LoginLinkAuthenticationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/LoginLink/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/LoginLink/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/LoginLink/routing.yml
  src/Symfony/Bundle/SecurityBundle/Tests/LoginLink/FirewallAwareLoginLinkHandlerTest.php
  src/Symfony/Component/Security/Core/Resources/translations/security.en.xlf
  src/Symfony/Component/Security/Http/Authenticator/LoginLinkAuthenticator.php
  src/Symfony/Component/Security/Http/LoginLink/Exception/ExpiredLoginLinkException.php
  src/Symfony/Component/Security/Http/LoginLink/Exception/InvalidLoginLinkAuthenticationException.php
  src/Symfony/Component/Security/Http/LoginLink/Exception/InvalidLoginLinkException.php
  src/Symfony/Component/Security/Http/LoginLink/Exception/InvalidLoginLinkExceptionInterface.php
  src/Symfony/Component/Security/Http/LoginLink/ExpiredLoginLinkStorage.php
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkDetails.php
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkHandler.php
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkHandlerInterface.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/LoginLinkAuthenticatorTest.php
  src/Symfony/Component/Security/Http/Tests/LoginLink/ExpiredLoginLinkStorageTest.php
  src/Symfony/Component/Security/Http/Tests/LoginLink/LoginLinkHandlerTest.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Feature, Security, Status: Reviewed

#36291 [Lock] Fix StoreFactory to accept same DSN syntax as AbstractAdapter
  src/Symfony/Component/Lock/Store/StoreFactory.php
  src/Symfony/Component/Lock/Tests/Store/StoreFactoryTest.php
Labels: Bug, Lock, Status: Reviewed

#38307 [Form] Implement Twig helpers to get field variables
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/FormExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionFieldHelpersTest.php
  src/Symfony/Bundle/TwigBundle/Resources/config/form.php
Labels: Feature, Form, Status: Reviewed

#38397 [Console] Remove "php" invokation from help messages.
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/HelpCommand.php
  src/Symfony/Component/Console/Command/ListCommand.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
  src/Symfony/Component/Console/Tests/Fixtures/application_1.json
  src/Symfony/Component/Console/Tests/Fixtures/application_1.md
  src/Symfony/Component/Console/Tests/Fixtures/application_1.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_2.json
  src/Symfony/Component/Console/Tests/Fixtures/application_2.md
  src/Symfony/Component/Console/Tests/Fixtures/application_2.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_mbstring.md
  src/Symfony/Component/Console/Tests/Fixtures/application_run2.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_run3.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_run5.txt
Labels: Console, Feature, Status: Reviewed

#38404 [HttpClient] Minor fix of type and message in ExponentialBackOff
  src/Symfony/Component/HttpClient/Retry/ExponentialBackOff.php
Labels: HttpClient, Status: Reviewed

#38396 Handle consecutive supports() calls in the RememberMeAuthenticator
  src/Symfony/Component/Security/Http/Authenticator/RememberMeAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/RememberMeAuthenticatorTest.php
Labels: Bug, Status: Reviewed

#38402 Update security.he.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.he.xlf
Labels: Status: Needs Review

#38403 Remove array return type from Request::toArray()
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Bug, Status: Reviewed

#38395 [lock] Prevent user serializing the key when store does not support it.
  src/Symfony/Component/Lock/Exception/UnserializableKeyException.php
  src/Symfony/Component/Lock/Key.php
  src/Symfony/Component/Lock/Store/FlockStore.php
  src/Symfony/Component/Lock/Store/SemaphoreStore.php
  src/Symfony/Component/Lock/Store/ZookeeperStore.php
  src/Symfony/Component/Lock/Tests/KeyTest.php
  src/Symfony/Component/Lock/Tests/Store/FlockStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/SemaphoreStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/UnserializableTestTrait.php
  src/Symfony/Component/Lock/Tests/Store/ZookeeperStoreTest.php
Labels: Feature, Lock, Status: Reviewed

#36479 [Notifier][WebProfilerBundle][FrameworkBundle] Add notifier section to profiler
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_debug.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/notifier.html.twig
  src/Symfony/Component/Notifier/Message/ChatMessage.php
  src/Symfony/Component/Notifier/Message/EmailMessage.php
  src/Symfony/Component/Notifier/Message/MessageInterface.php
  src/Symfony/Component/Notifier/Message/SmsMessage.php
  src/Symfony/Component/Notifier/Transport/NullTransport.php
  src/Symfony/Component/Notifier/Transport/Transports.php
Labels: Feature, FrameworkBundle, Notifier, Status: Reviewed, WebProfilerBundle

#38405 Release v4.4.15
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#38406 Release v5.1.7
  CHANGELOG-5.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#38407 [Mime] Prefer .jpg instead of .jpeg
  src/Symfony/Component/HttpFoundation/Tests/File/UploadedFileTest.php
  src/Symfony/Component/Mime/MimeTypes.php
Labels: Mime, Status: Needs Review

#38369 [HttpFoundation] Expired cookies string representation consistency & tests
  src/Symfony/Component/HttpFoundation/Cookie.php
  src/Symfony/Component/HttpFoundation/Tests/CookieTest.php
Labels: HttpFoundation, Status: Reviewed

#38409 [Stopwatch] Added example to the README
  src/Symfony/Component/Stopwatch/README.md
Labels: Status: Reviewed, Stopwatch

#38408 Fix type annotation in ExpressionLanguage\Token
  src/Symfony/Component/ExpressionLanguage/Token.php
Labels: Bug, Status: Reviewed

#38411 Use PHPUnit 9.4 to run the test suite
  phpunit
Labels: Status: Reviewed

#38413 [HttpClient] change piority of RetryableHttpClient
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Feature, HttpClient, Status: Reviewed

#38417 Release v5.2.0-BETA1
  CHANGELOG-5.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#38253 [Cache] Allow ISO 8601 time intervals to specify default lifetime
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/cache.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/cache.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/config.yml
  src/Symfony/Component/Cache/Adapter/ParameterNormalizer.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
  src/Symfony/Component/Cache/LockRegistry.php
Labels: Cache, Feature, Status: Reviewed

#38418 [HttpClient] minor fixes in RetryableHttpClient
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
Labels: Bug, HttpClient, Status: Reviewed

#38410 [Validator] Migrate File and Image constraints to attributes
  src/Symfony/Component/Validator/Constraints/File.php
  src/Symfony/Component/Validator/Constraints/Image.php
  src/Symfony/Component/Validator/Tests/Constraints/FileTest.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/ImageTest.php
  src/Symfony/Component/Validator/Tests/Constraints/ImageValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#38419 [DoctrineBridge] fix and replace namespace to Uid
  src/Symfony/Bridge/Doctrine/IdGenerator/UlidGenerator.php
  src/Symfony/Bridge/Doctrine/IdGenerator/UuidV1Generator.php
  src/Symfony/Bridge/Doctrine/IdGenerator/UuidV4Generator.php
  src/Symfony/Bridge/Doctrine/IdGenerator/UuidV6Generator.php
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/EntityManager.php
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/UlidGeneratorTest.php
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/UuidV1GeneratorTest.php
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/UuidV4GeneratorTest.php
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/UuidV6GeneratorTest.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#38393 [FrameworkBundle] Add option --as-tree to translation:update command
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#38425 Move to the new default 5.x branch
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#38422 [SecurityGuard] Implement PostAuthenticationGuardToken::getFirewallName()
  src/Symfony/Component/Security/Guard/Token/PostAuthenticationGuardToken.php
Labels: Bug, Status: Needs Review

#38431 Remove "branch-alias", populate "version"
  .appveyor.yml
  .github/build-packages.php
  .travis.yml
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Monolog/composer.json
  src/Symfony/Bridge/ProxyManager/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/DebugBundle/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Bundle/WebServerBundle/composer.json
  src/Symfony/Component/Asset/composer.json
  src/Symfony/Component/BrowserKit/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/ClassLoader/composer.json
  src/Symfony/Component/Config/composer.json
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/CssSelector/composer.json
  src/Symfony/Component/Debug/composer.json
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/DomCrawler/composer.json
  src/Symfony/Component/Dotenv/composer.json
  src/Symfony/Component/EventDispatcher/composer.json
  src/Symfony/Component/ExpressionLanguage/composer.json
  src/Symfony/Component/Filesystem/composer.json
  src/Symfony/Component/Finder/composer.json
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Inflector/composer.json
  src/Symfony/Component/Intl/composer.json
  src/Symfony/Component/Ldap/composer.json
  src/Symfony/Component/Lock/composer.json
  src/Symfony/Component/OptionsResolver/composer.json
  src/Symfony/Component/Process/composer.json
  src/Symfony/Component/PropertyAccess/composer.json
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Routing/composer.json
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/Csrf/composer.json
  src/Symfony/Component/Security/Guard/composer.json
  src/Symfony/Component/Security/Http/composer.json
  src/Symfony/Component/Security/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Stopwatch/composer.json
  src/Symfony/Component/Templating/composer.json
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/composer.json
  src/Symfony/Component/VarDumper/composer.json
  src/Symfony/Component/WebLink/composer.json
  src/Symfony/Component/Workflow/composer.json
  src/Symfony/Component/Yaml/composer.json
Labels: Status: Needs Review

#38439 Update versions in composer.json
  .github/build-packages.php
  .travis.yml
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Monolog/composer.json
  src/Symfony/Bridge/PhpUnit/composer.json
  src/Symfony/Bridge/ProxyManager/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/DebugBundle/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Bundle/WebServerBundle/composer.json
  src/Symfony/Component/Asset/composer.json
  src/Symfony/Component/BrowserKit/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/ClassLoader/composer.json
  src/Symfony/Component/Config/composer.json
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/CssSelector/composer.json
  src/Symfony/Component/Debug/composer.json
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/DomCrawler/composer.json
  src/Symfony/Component/Dotenv/composer.json
  src/Symfony/Component/EventDispatcher/composer.json
  src/Symfony/Component/ExpressionLanguage/composer.json
  src/Symfony/Component/Filesystem/composer.json
  src/Symfony/Component/Finder/composer.json
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Inflector/composer.json
  src/Symfony/Component/Intl/composer.json
  src/Symfony/Component/Ldap/composer.json
  src/Symfony/Component/Lock/composer.json
  src/Symfony/Component/OptionsResolver/composer.json
  src/Symfony/Component/Process/composer.json
  src/Symfony/Component/PropertyAccess/composer.json
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Routing/composer.json
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/Csrf/composer.json
  src/Symfony/Component/Security/Guard/composer.json
  src/Symfony/Component/Security/Http/composer.json
  src/Symfony/Component/Security/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Stopwatch/composer.json
  src/Symfony/Component/Templating/composer.json
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/composer.json
  src/Symfony/Component/VarDumper/composer.json
  src/Symfony/Component/WebLink/composer.json
  src/Symfony/Component/Workflow/composer.json
  src/Symfony/Component/Yaml/composer.json
Labels: Status: Needs Review

#38394 [FrameworkBundle] Add check for installed yaml component
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDumpReferenceCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#38443 [String][AsciiSlugger] Fix typo
  src/Symfony/Component/String/Slugger/AsciiSlugger.php
Labels: Status: Needs Review, String

#38441 Estonian update
  src/Symfony/Component/Validator/Resources/translations/validators.et.xlf
Labels: Status: Reviewed

#38450 [Form] [Validator] added pt_BR translations
  src/Symfony/Component/Form/Resources/translations/validators.pt_BR.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
Labels: Form, Status: Reviewed, Validator

#38442 [VarDumper] fix truncating big arrays
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
  src/Symfony/Component/VarDumper/Tests/Cloner/VarClonerTest.php
Labels: Bug, Status: Reviewed, VarDumper

#38424 [Translation] Rename Translatable class to TranslatableMessage
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/TranslationExtension.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Extractor/PhpExtractor.php
  src/Symfony/Component/Translation/Resources/functions.php
  src/Symfony/Component/Translation/Tests/TranslatableTest.php
  src/Symfony/Component/Translation/Tests/fixtures/extractor/translatable-fqn.html.php
  src/Symfony/Component/Translation/Tests/fixtures/extractor/translatable.html.php
  src/Symfony/Component/Translation/TranslatableMessage.php
Labels: Feature, Status: Reviewed

#38446 [PropertyInfo] Extract from default value doesn't set collection boolean
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php74Dummy.php
Labels: Bug, PropertyInfo, Status: Reviewed

#38444 [PhpUnitBridge] fix running parallel tests with phpunit 9
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, PhpUnitBridge, Status: Reviewed

#38346 [lock] Add store dedicated to postgresql
  .github/workflows/tests.yml
  src/Symfony/Component/Lock/CHANGELOG.md
  src/Symfony/Component/Lock/Store/InMemoryStore.php
  src/Symfony/Component/Lock/Store/PdoStore.php
  src/Symfony/Component/Lock/Store/PostgreSqlStore.php
  src/Symfony/Component/Lock/Store/RedisStore.php
  src/Symfony/Component/Lock/Store/StoreFactory.php
  src/Symfony/Component/Lock/Tests/Store/BlockingStoreTestTrait.php
  src/Symfony/Component/Lock/Tests/Store/InMemoryStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/PostgreSqlDbalStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/PostgreSqlStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/StoreFactoryTest.php
Labels: Feature, Status: Reviewed

#38434 [HttpClient] Add jitter to RetryBackoff
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/HttpClient/Retry/ExponentialBackOff.php
  src/Symfony/Component/HttpClient/Tests/Retry/ExponentialBackOffTest.php
Labels: Feature, HttpClient, Status: Reviewed

#38392 [Ldap] Bypass the use of `ldap_control_paged_result` on PHP >= 7.3
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php
Labels: Status: Reviewed

#38455 [Form] Fix field_value Twig helper for multiple choices
  src/Symfony/Bridge/Twig/Extension/FormExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionFieldHelpersTest.php
Labels: Bug, Form, Status: Needs Review

#38453 [lock] Mark Key unserializable whith PgsqlStore
  src/Symfony/Component/Lock/Store/PostgreSqlStore.php
Labels: Bug, Lock, Status: Reviewed

#38456 [Cache] skip igbinary < 3.1.6
  src/Symfony/Component/Cache/Marshaller/DefaultMarshaller.php
  src/Symfony/Component/Cache/Tests/Marshaller/DefaultMarshallerTest.php
Labels: Bug, Cache, Status: Needs Review

#37733 [PhpUnitBridge] Add ability to set a baseline for deprecation testing
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/ConfigurationTest.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/baseline.phpt
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/baseline2.phpt
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/baseline3.phpt
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/generate_baseline.phpt
Labels: Feature, Status: Needs Review

#38476 [HttpClient] Fix missing abstract arg
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/http_client_retry.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/http_client_retry.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/http_client_retry.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, HttpClient, Status: Reviewed

#38474 [Notifier] Introduce NullMessage and remove transport setter in MessageInterface
  src/Symfony/Component/Notifier/Message/ChatMessage.php
  src/Symfony/Component/Notifier/Message/EmailMessage.php
  src/Symfony/Component/Notifier/Message/MessageInterface.php
  src/Symfony/Component/Notifier/Message/NullMessage.php
  src/Symfony/Component/Notifier/Message/SmsMessage.php
  src/Symfony/Component/Notifier/Transport/NullTransport.php
  src/Symfony/Component/Notifier/Transport/Transports.php
Labels: Status: Reviewed

#38484 [Messenger] Add DelayStamp::delayFor() and DelayStamp::delayUntil()
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Stamp/DelayStamp.php
  src/Symfony/Component/Messenger/Tests/Stamp/DelayStampTest.php
Labels: Feature, Messenger, Status: Reviewed

#38491 [Form] Add missing Serbian (latn & cyrl) validators translation
  src/Symfony/Component/Form/Resources/translations/validators.sr_Cyrl.xlf
  src/Symfony/Component/Form/Resources/translations/validators.sr_Latn.xlf
Labels: Status: Reviewed

#38481 [Form] Add Bosnian (bs) validators translation
  src/Symfony/Component/Form/Resources/translations/validators.bs.xlf
Labels: Form, Status: Reviewed

#38493 [HttpClient] Fix CurlHttpClient memory leak
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Contracts/HttpClient/Test/Fixtures/web/index.php
Labels: Bug, HttpClient, Status: Reviewed

#38510 [PropertyInfo] Support for the mixed type
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php80Dummy.php
Labels: Bug, PropertyInfo, Status: Reviewed

#38507 [Bug] Fix RateLimiter framework configuration
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, Status: Reviewed

#38506 [Security] Add error message when using LoginLinkHandler outside a firewall
  src/Symfony/Bundle/SecurityBundle/LoginLink/FirewallAwareLoginLinkHandler.php
Labels: Status: Reviewed

#38505 [Security][Login Link] Allow null and DateTime objects to be used as signatureProperties
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkHandler.php
  src/Symfony/Component/Security/Http/Tests/LoginLink/LoginLinkHandlerTest.php
Labels: Feature, Security, Status: Reviewed

#38508 [HttpClient] Content doesn't get decoded when fetched from an exception
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Contracts/HttpClient/Test/Fixtures/web/index.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Bug, HttpClient, Status: Needs Review

#38518 [HttpClient] fix decorating timeout errors
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
Labels: Bug, HttpClient, Status: Needs Review

#38520 [HttpClient] Fix nesteed stream in AsyncResponse
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
Labels: Bug, Status: Reviewed

#38523 [HttpClient] Fix multiple timeout with multiple retry
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
Labels: Bug, HttpClient, Status: Reviewed

#38521 [Typography] Fix SerializerAwareInterface description
  src/Symfony/Component/Serializer/Encoder/DecoderInterface.php
  src/Symfony/Component/Serializer/Encoder/EncoderInterface.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizerAwareInterface.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizerAwareTrait.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerAwareInterface.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerAwareTrait.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerInterface.php
  src/Symfony/Component/Serializer/SerializerAwareInterface.php
  src/Symfony/Component/Serializer/SerializerAwareTrait.php
  src/Symfony/Component/Serializer/SerializerInterface.php
Labels: Serializer, Status: Needs Review

#38530 [HttpClient] fix reading the body after a ClientException
  src/Symfony/Component/HttpClient/Internal/Canary.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Contracts/HttpClient/Test/Fixtures/web/index.php
Labels: Bug, HttpClient, Status: Needs Review

#38529 [Mailer] Fix mailjet image embedding
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetApiTransport.php
Labels: Bug, Mailer, Status: Reviewed

#38477 [Form] fix ViolationMapper was always generating a localized label for each FormType
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationMapper.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/ViolationMapperTest.php
Labels: Bug, Form, Status: Reviewed

#38522 [Notifier ] Add Discord notifier
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Discord/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Discord/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Discord/DiscordOptions.php
  src/Symfony/Component/Notifier/Bridge/Discord/DiscordTransport.php
  src/Symfony/Component/Notifier/Bridge/Discord/DiscordTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/AbstractDiscordEmbed.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/AbstractDiscordEmbedObject.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordAuthorEmbedObject.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordEmbed.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordEmbedInterface.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordEmbedObjectInterface.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordFieldEmbedObject.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordFooterEmbedObject.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordMediaEmbedObject.php
  src/Symfony/Component/Notifier/Bridge/Discord/LICENSE
  src/Symfony/Component/Notifier/Bridge/Discord/README.md
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Discord/composer.json
  src/Symfony/Component/Notifier/Bridge/Discord/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Status: Reviewed

#38525 [Serializer] Enabled mapping configuration via attributes
  .github/patch-types.php
  src/Symfony/Component/Serializer/Annotation/DiscriminatorMap.php
  src/Symfony/Component/Serializer/Annotation/Groups.php
  src/Symfony/Component/Serializer/Annotation/Ignore.php
  src/Symfony/Component/Serializer/Annotation/MaxDepth.php
  src/Symfony/Component/Serializer/Annotation/SerializedName.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/AbstractDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/AbstractDummyFirstChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/AbstractDummySecondChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/AbstractDummyThirdChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/GroupDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/GroupDummyChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/GroupDummyParent.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/IgnoreDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/MaxDepthDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/SerializedNameDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/AbstractDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/AbstractDummyFirstChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/AbstractDummySecondChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/AbstractDummyThirdChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/GroupDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/GroupDummyChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/GroupDummyParent.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/IgnoreDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/MaxDepthDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/SerializedNameDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/invalid-ignore.yml
  src/Symfony/Component/Serializer/Tests/Fixtures/serialization.xml
  src/Symfony/Component/Serializer/Tests/Fixtures/serialization.yml
  src/Symfony/Component/Serializer/Tests/Mapping/ClassDiscriminatorMappingTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/ClassMetadataFactoryCompilerTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/ClassMetadataFactoryTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/CompiledClassMetadataFactoryTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderWithAttributesTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderWithDoctrineAnnotationsTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/TestClassMetadataFactory.php
  src/Symfony/Component/Serializer/Tests/NameConverter/MetadataAwareNameConverterTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/GroupsTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/MaxDepthTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Feature, Serializer, Status: Reviewed

#38528 [Security] Making login link signature_properties option required
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginLinkFactory.php
Labels: Bug, Security, Status: Reviewed

#38533 [TwigBridge] Fix preload hint and remove "unlinked class class@anonymous" warning
  src/Symfony/Bridge/Twig/Extension/TranslationExtension.php
Labels: Bug, Status: Reviewed

#38532 [HttpClient] simplify retry mechanism around RetryStrategyInterface
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/http_client_retry.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/http_client_retry.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Retry/ExponentialBackOff.php
  src/Symfony/Component/HttpClient/Retry/GenericRetryStrategy.php
  src/Symfony/Component/HttpClient/Retry/HttpStatusCodeDecider.php
  src/Symfony/Component/HttpClient/Retry/RetryBackOffInterface.php
  src/Symfony/Component/HttpClient/Retry/RetryStrategyInterface.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/Retry/GenericRetryStrategyTest.php
  src/Symfony/Component/HttpClient/Tests/Retry/HttpStatusCodeDeciderTest.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
Labels: HttpClient, Status: Reviewed

#38544 [DI] fix dumping env vars
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Needs Review

#38545 [Notifier][WebProfilerBundle] Add notifier profiler panel icon
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/notifier.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/notifier.svg
Labels: Notifier, Status: Reviewed, WebProfilerBundle

#38460 Remove "version" from composer.json files, use "branch-version" instead
  .appveyor.yml
  .github/build-packages.php
  .travis.yml
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Monolog/composer.json
  src/Symfony/Bridge/PhpUnit/composer.json
  src/Symfony/Bridge/ProxyManager/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/DebugBundle/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Bundle/WebServerBundle/composer.json
  src/Symfony/Component/Asset/composer.json
  src/Symfony/Component/BrowserKit/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/ClassLoader/composer.json
  src/Symfony/Component/Config/composer.json
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/CssSelector/composer.json
  src/Symfony/Component/Debug/composer.json
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/DomCrawler/composer.json
  src/Symfony/Component/Dotenv/composer.json
  src/Symfony/Component/EventDispatcher/composer.json
  src/Symfony/Component/ExpressionLanguage/composer.json
  src/Symfony/Component/Filesystem/composer.json
  src/Symfony/Component/Finder/composer.json
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Inflector/composer.json
  src/Symfony/Component/Intl/composer.json
  src/Symfony/Component/Ldap/composer.json
  src/Symfony/Component/Lock/composer.json
  src/Symfony/Component/OptionsResolver/composer.json
  src/Symfony/Component/Process/composer.json
  src/Symfony/Component/PropertyAccess/composer.json
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Routing/composer.json
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/Csrf/composer.json
  src/Symfony/Component/Security/Guard/composer.json
  src/Symfony/Component/Security/Http/composer.json
  src/Symfony/Component/Security/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Stopwatch/composer.json
  src/Symfony/Component/Templating/composer.json
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/composer.json
  src/Symfony/Component/VarDumper/composer.json
  src/Symfony/Component/WebLink/composer.json
  src/Symfony/Component/Workflow/composer.json
  src/Symfony/Component/Yaml/composer.json
Labels: Status: Needs Review

#38546 [String] fix "is too large" ValueError on PHP 8
  src/Symfony/Component/String/UnicodeString.php
Labels: Bug, Status: Needs Review, String

#38550 [Security] Added check_post_only to the login link authenticator
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginLinkFactory.php
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Http/Authenticator/LoginLinkAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/LoginLinkAuthenticatorTest.php
Labels: Feature, Security, Status: Reviewed

#38551 Remove content-type check on toArray methods
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
Labels: Bug, Status: Reviewed

#38548 [FrameworkBundle] Bugfixes in buildDir in the CacheClear command
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
Labels: Status: Reviewed

#38557 Fix tests
  src/Symfony/Component/HttpClient/Tests/Response/MockResponseTest.php
Labels: Bug, Status: Reviewed

#38559 [Lock] Reset lifetime on acquireRead()
  src/Symfony/Component/Lock/Lock.php
  src/Symfony/Component/Lock/Tests/LockTest.php
Labels: Bug, Lock, Status: Reviewed

#38560 [CI] Silence errors when remove file/dir on test tearDown()
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/YamlLintCommandTest.php
  src/Symfony/Component/Config/Tests/ConfigCacheTest.php
  src/Symfony/Component/Config/Tests/Resource/FileExistenceResourceTest.php
  src/Symfony/Component/Config/Tests/Resource/FileResourceTest.php
  src/Symfony/Component/Config/Tests/ResourceCheckerConfigCacheTest.php
  src/Symfony/Component/DependencyInjection/Tests/Config/AutowireServiceResourceTest.php
  src/Symfony/Component/HttpFoundation/Tests/FileBagTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/MockFileSessionStorageTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/NativeSessionStorageTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/PhpBridgeSessionStorageTest.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTest.php
  src/Symfony/Component/Yaml/Tests/Command/LintCommandTest.php
Labels: Bug, Status: Needs Review

#38556 [CI] Fixed build on AppVeyor
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/YamlLintCommandTest.php
  src/Symfony/Component/Config/Tests/ConfigCacheTest.php
  src/Symfony/Component/Config/Tests/Resource/FileExistenceResourceTest.php
  src/Symfony/Component/Config/Tests/Resource/FileResourceTest.php
  src/Symfony/Component/Config/Tests/ResourceCheckerConfigCacheTest.php
  src/Symfony/Component/HttpFoundation/Tests/FileBagTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/MockFileSessionStorageTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/NativeSessionStorageTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/PhpBridgeSessionStorageTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineIntegrationTest.php
  src/Symfony/Component/Routing/Tests/RouterTest.php
  src/Symfony/Component/Translation/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTest.php
  src/Symfony/Component/Yaml/Tests/Command/LintCommandTest.php
Labels: Status: Needs Review

#38561 Fix tests typo
  src/Symfony/Component/Messenger/Tests/EventListener/StopWorkerOnRestartSignalListenerTest.php
Labels: Bug, Status: Reviewed

#38555 [Messenger] Fixed typos in Amqp Connection
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Messenger, Status: Needs Review

#38553 [Lock] Reset Key lifetime time before we acquire it
  src/Symfony/Component/Lock/Lock.php
  src/Symfony/Component/Lock/Tests/LockTest.php
Labels: Bug, Lock, Status: Reviewed

#38567 [Cache] Make Redis initializers static
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Reviewed

#38563 [Messenger][Redis] Adding support for lazy connect
  src/Symfony/Component/Messenger/Bridge/Redis/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisProxy.php
Labels: Feature, Messenger, Status: Reviewed

#38516 [HttpFoundation] Fix Range Requests
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
Labels: Bug, Status: Reviewed

#38552 [Security][Notifier] Added integration of Login Link with the Notifier component
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Mime/NotificationEmail.php
  src/Symfony/Bridge/Twig/Resources/views/Email/zurb_2/notification/body.html.twig
  src/Symfony/Bridge/Twig/Tests/Mime/NotificationEmailTest.php
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkNotification.php
Labels: Feature, Notifier, Security, Status: Reviewed

#38574 Add wouterj as codeowner for Security related packages
  .github/CODEOWNERS
Labels: Status: Reviewed

#38575 Add myself to CODEOWNERS for Security and Console
  .github/CODEOWNERS
Labels: Status: Needs Review

#38578 Add missing use statement
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, Status: Reviewed

#38576 Deeprecate lock service
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Deprecation, Status: Reviewed

#38565 [RateLimiter] Adding SlidingWindow algorithm
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Component/RateLimiter/Exception/InvalidIntervalException.php
  src/Symfony/Component/RateLimiter/Limiter.php
  src/Symfony/Component/RateLimiter/SlidingWindow.php
  src/Symfony/Component/RateLimiter/SlidingWindowLimiter.php
  src/Symfony/Component/RateLimiter/Tests/SlidingWindowLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/SlidingWindowTest.php
Labels: Feature, RateLimiter, Status: Reviewed

#38579 Fix: Typo
  src/Symfony/Component/RateLimiter/SlidingWindow.php
Labels: Bug, RateLimiter, Status: Reviewed

#38582 [DI] Fix Reflection file name with eval()\'d code
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Needs Review

#38581 [Semaphore] Reset Key lifetime time before we acquire it
  src/Symfony/Component/Semaphore/Key.php
  src/Symfony/Component/Semaphore/Semaphore.php
  src/Symfony/Component/Semaphore/Tests/SemaphoreTest.php
Labels: Bug, Semaphore, Status: Reviewed

#38584 [FrameworkBundle] Missing Changelog for deprecating services
  UPGRADE-5.2.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#38592 [Doctrine] Reference the correct interface in the RegistryInterface deprecation …
  UPGRADE-4.4.md
Labels: Bug, Doctrine, DoctrineBridge, Status: Reviewed

#38593 [Lock][Semaphore] Add Factory::createFromKey and deprecate lock.store services
  UPGRADE-5.2.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Lock/CHANGELOG.md
  src/Symfony/Component/Lock/LockFactory.php
  src/Symfony/Component/Lock/Tests/LockFactoryTest.php
  src/Symfony/Component/Semaphore/SemaphoreFactory.php
  src/Symfony/Component/Semaphore/Tests/SemaphoreFactoryTest.php
Labels: Deprecation, Lock, Semaphore, Status: Reviewed

#38562 [RateLimiter] Added reserve() to LimiterInterface and rename Limiter to RateLimiter
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/rate_limiter.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
  src/Symfony/Component/RateLimiter/CompoundLimiter.php
  src/Symfony/Component/RateLimiter/Exception/MaxWaitDurationExceededException.php
  src/Symfony/Component/RateLimiter/Exception/ReserveNotSupportedException.php
  src/Symfony/Component/RateLimiter/FixedWindowLimiter.php
  src/Symfony/Component/RateLimiter/LimiterInterface.php
  src/Symfony/Component/RateLimiter/NoLimiter.php
  src/Symfony/Component/RateLimiter/README.md
  src/Symfony/Component/RateLimiter/RateLimiter.php
  src/Symfony/Component/RateLimiter/Reservation.php
  src/Symfony/Component/RateLimiter/SlidingWindowLimiter.php
  src/Symfony/Component/RateLimiter/Tests/CompoundLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/FixedWindowLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/LimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/SlidingWindowLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/Storage/CacheStorageTest.php
  src/Symfony/Component/RateLimiter/TokenBucket.php
  src/Symfony/Component/RateLimiter/TokenBucketLimiter.php
  src/Symfony/Component/RateLimiter/Window.php
  src/Symfony/Component/Security/Http/RateLimiter/DefaultLoginRateLimiter.php
  src/Symfony/Component/Security/Http/Tests/EventListener/LoginThrottlingListenerTest.php
Labels: Feature, RateLimiter, Status: Reviewed

#38600 [DoctrineBridge] Convert values to Rfc4122 before inserting them into the database
  src/Symfony/Bridge/Doctrine/Tests/Types/UlidTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UuidTypeTest.php
  src/Symfony/Bridge/Doctrine/Types/AbstractUidType.php
Labels: Bug, Status: Reviewed

#38602 [Console] Fix signal management
  src/Symfony/Component/Console/Application.php
Labels: Bug, Console, Status: Reviewed

#38606 [WebProfilerBundle] Hide debug toolbar in print view
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#38605 [DoctrinBridge] make Uid types stricter
  src/Symfony/Bridge/Doctrine/Tests/Types/UlidBinaryTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UlidTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UuidBinaryTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UuidTypeTest.php
  src/Symfony/Bridge/Doctrine/Types/AbstractBinaryUidType.php
  src/Symfony/Bridge/Doctrine/Types/AbstractUidType.php
Labels: Bug, Status: Reviewed

#38604 [DoctrineBridge] indexBy does not refer to attributes, but to column names
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineDummy.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineRelation.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#38610 Bump APCu to 5.1.19 on Travis
  .travis.yml
Labels: Status: Reviewed

#38611 Bump igbinary to v3.1.6
  .travis.yml
Labels: Status: Reviewed

#38623 [HttpFoundation][RateLimiter] fix RequestRateLimiterInterface::reset()
  src/Symfony/Component/HttpFoundation/RateLimiter/AbstractRequestRateLimiter.php
  src/Symfony/Component/HttpFoundation/RateLimiter/RequestRateLimiterInterface.php
Labels: Bug, HttpFoundation, Status: Reviewed

#38618 [Messenger][Doctrine] Avoid early db access for pgsql detection
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransportFactory.php
Labels: Bug, Doctrine, Messenger, Status: Needs Review

#38612 [Messenger/Amqp] Allow setting option "login" in DSN
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#38619 Stop using set-env in GitHub actions
  .github/workflows/tests.yml
Labels: Bug, Status: Needs Review

#38636 Enable Doctrine tests on php 8
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Security/RememberMe/DoctrineTokenProviderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SetAclCommandTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PdoDbalAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/PdoDbalCacheTest.php
Labels: DoctrineBridge, Status: Reviewed

#38637 Enable Doctrine tests on php 8
  src/Symfony/Component/Cache/Tests/Adapter/PdoAdapterTest.php
  src/Symfony/Component/Lock/Tests/Store/PdoDbalStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/PdoStoreTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineIntegrationTest.php
Labels: Status: Reviewed

#38617 [Form] Add missing invalid_message translations
  src/Symfony/Component/Form/Extension/Core/Type/WeekType.php
  src/Symfony/Component/Form/Resources/translations/validators.en.xlf
  src/Symfony/Component/Form/Resources/translations/validators.nl.xlf
Labels: Bug, Form, Status: Reviewed

#38608 [RateLimiter] rename Limit to RateLimit and add RateLimit::getLimit()
  src/Symfony/Component/HttpFoundation/RateLimiter/AbstractRequestRateLimiter.php
  src/Symfony/Component/HttpFoundation/RateLimiter/RequestRateLimiterInterface.php
  src/Symfony/Component/RateLimiter/CompoundLimiter.php
  src/Symfony/Component/RateLimiter/Exception/MaxWaitDurationExceededException.php
  src/Symfony/Component/RateLimiter/Exception/RateLimitExceededException.php
  src/Symfony/Component/RateLimiter/FixedWindowLimiter.php
  src/Symfony/Component/RateLimiter/LimiterInterface.php
  src/Symfony/Component/RateLimiter/NoLimiter.php
  src/Symfony/Component/RateLimiter/RateLimit.php
  src/Symfony/Component/RateLimiter/Reservation.php
  src/Symfony/Component/RateLimiter/SlidingWindowLimiter.php
  src/Symfony/Component/RateLimiter/Tests/FixedWindowLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/RateLimitTest.php
  src/Symfony/Component/RateLimiter/Tests/SlidingWindowLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/TokenBucketLimiterTest.php
  src/Symfony/Component/RateLimiter/TokenBucketLimiter.php
Labels: RateLimiter, Status: Reviewed

#38638 [Form] Sync translations
  src/Symfony/Component/Form/Resources/translations/validators.en.xlf
Labels: Form, Status: Needs Review

#38426 [HttpClient] Parameterize list of retryable methods
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/http_client_retry.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/http_client_retry.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/http_client_retry.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/HttpClient/Retry/GenericRetryStrategy.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/Retry/GenericRetryStrategyTest.php
Labels: Feature, HttpClient, Status: Reviewed

#38646 Refractor AbstractBrowserTest to assertSame
  src/Symfony/Component/BrowserKit/Tests/AbstractBrowserTest.php
Labels: Status: Reviewed

#38644 [FrameworkBundle] remove transport factory service when class does not exist
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#38645 [PropertyAccess] forward the caught exception
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: Bug, PropertyAccess, Status: Reviewed

#38649 [HttpClient] skip Vulcain-based tests if the binary cannot be executed
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
Labels: HttpClient, Status: Reviewed

#38648 fix APCu installation for the nightly build job
  .travis.yml
Labels: Status: Reviewed

#38652 [Filesystem] Check if failed unlink was caused by permission denied
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Bug, Filesystem, Status: Needs Review

#38635 [Cache] Use correct expiry in ChainAdapter
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/ChainAdapterTest.php
Labels: Bug, Cache, Status: Reviewed

#38653 [DoctrineBridge] Enabled to use the UniqueEntity constraint as an attribute
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntity.php
  src/Symfony/Bridge/Doctrine/composer.json
Labels: DoctrineBridge, Feature, Status: Reviewed

#38595 [TwigBridge] do not translate null placeholders or titles
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
Labels: Bug, Status: Reviewed, TwigBridge
