Repository symfony/symfony, pull requests merged in 2020-05, with the labels that each got.

#36635 [Notifier] Fix 3 errors for bridge Mattermost
  src/Symfony/Component/Notifier/Bridge/Mattermost/MattermostTransport.php
Labels: Bug, Status: Reviewed

#36609 Add missing port SQS Host Header request
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Bug, Status: Reviewed

#36650 [Security] Fix bug introduced in entry_point configuration (#36575)
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
Labels: Bug, Security, Status: Reviewed

#36601 [Serializer] do not transform empty \Traversable to Array
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Bug, Status: Reviewed

#36613 [Form] provide a useful message when extension types don't match
  src/Symfony/Component/Form/Extension/DependencyInjection/DependencyInjectionExtension.php
  src/Symfony/Component/Form/Tests/Extension/DependencyInjection/DependencyInjectionExtensionTest.php
Labels: Form, Status: Reviewed

#36654 Fix Form annotation
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/FormInterface.php
Labels: Bug, Form, Status: Reviewed

#36627 [Validator] fix lazy property usage.
  src/Symfony/Component/Validator/Tests/Fixtures/Entity.php
  src/Symfony/Component/Validator/Tests/Validator/AbstractValidatorTest.php
  src/Symfony/Component/Validator/Validator/RecursiveContextualValidator.php
Labels: Bug, Status: Reviewed, Validator

#36667 fix sr_Latn translation
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
Labels: Bug, Status: Reviewed

#36666 [Security] Renamed VerifyAuthenticatorCredentialsEvent to CheckPassportEvent
  src/Symfony/Bundle/SecurityBundle/EventListener/FirewallEventBubblingListener.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator.xml
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/Authenticator/Token/PostAuthenticationToken.php
  src/Symfony/Component/Security/Http/Event/CheckPassportEvent.php
  src/Symfony/Component/Security/Http/EventListener/CheckCredentialsListener.php
  src/Symfony/Component/Security/Http/EventListener/CsrfProtectionListener.php
  src/Symfony/Component/Security/Http/EventListener/UserCheckerListener.php
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/CheckCredentialsListenerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/CsrfProtectionListenerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/UserCheckerListenerTest.php
Labels: Security, Status: Reviewed

#36661 [SecurityBundle] Fixed entry point service ID resolving and multiple guard entry points
  UPGRADE-5.1.md
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AbstractFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/EntryPointFactoryInterface.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FormLoginFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/GuardAuthenticationFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/HttpBasicFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/HttpBasicLdapFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Security/Factory/GuardAuthenticationFactoryTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: Bug, SecurityBundle, Status: Reviewed

#36574 [Security] Removed anonymous in the new security system
  UPGRADE-5.1.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AnonymousFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator.xml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Guarded/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/StandardFormLogin/config.yml
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AuthorizationCheckerTest.php
  src/Symfony/Component/Security/Http/Authenticator/AnonymousAuthenticator.php
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
  src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/AnonymousAuthenticatorTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
Labels: Feature, Security, Status: Reviewed

#36505 [Translation] Fix for translation:update command updating ICU messages
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Component/Translation/MessageCatalogue.php
  src/Symfony/Component/Translation/Tests/MessageCatalogueTest.php
Labels: Bug, Status: Reviewed, Translator

#36578 [Form] deprecate not using a rounding mode
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/DataTransformer/PercentToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/PercentType.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/PercentToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/PercentTypeTest.php
Labels: Bug, Deprecation, Form, Status: Reviewed

#36599 [HttpKernel] make kernels implementing `WarmableInterface` be part of the cache warmup stage
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#36586 [DI] allow loading and dumping tags with an attribute named "name"
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/anonymous.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/defaults.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/instanceof.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/lazy_fqcn.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/prototype.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/prototype_array.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/services9.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container9.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services9.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/integration/defaults_instanceof_importance/expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services9.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_tagged_argument.yml
Labels: DependencyInjection, Feature, Status: Reviewed

#36636 Add support of PHP8 static return type for withers
  .github/patch-types.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowireRequiredMethodsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowireRequiredMethodsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/WitherStaticReturnType.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither_staticreturntype.php
Labels: Status: Reviewed

#36660 [Messenger] Fix messenger:failed:remove can not remove single message
  src/Symfony/Component/Messenger/Command/FailedMessagesRemoveCommand.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRemoveCommandTest.php
Labels: Bug, Messenger, Status: Reviewed

#36094 [AmazonSqsMessenger] Use AsyncAws to handle SQS communication
  composer.json
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsReceiver.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsSender.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsTransport.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/composer.json
Labels: Feature, Messenger, Status: Reviewed

#36670 [Translations] Throw exception if xFileLoader dependencies don't exist.
  src/Symfony/Component/Translation/Loader/QtFileLoader.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
Labels: Feature, Status: Reviewed

#35453 [Messenger] Add option to stop the worker after a message failed
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnFailureLimitListener.php
  src/Symfony/Component/Messenger/Tests/EventListener/StopWorkerOnFailureLimitListenerTest.php
Labels: Feature, Messenger, Ready, Status: Reviewed

#36600 [Security] Added LDAP support to Authenticator system
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterLdapLocatorPass.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FormLoginLdapFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/HttpBasicLdapFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/JsonLoginLdapFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LdapFactoryTrait.php
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Ldap/Security/CheckLdapCredentialsListener.php
  src/Symfony/Component/Ldap/Security/LdapAuthenticator.php
  src/Symfony/Component/Ldap/Security/LdapBadge.php
  src/Symfony/Component/Ldap/Tests/Security/CheckLdapCredentialsListenerTest.php
Labels: Feature, Ready, Security, Status: Reviewed

#36673 [PhpUnitBridge] fix PHP 5.3 compat again
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, PhpUnitBridge, Status: Needs Review

#36651 [FrameworkBundle] Allow configuring the default base URI with a DSN
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_listeners.xml
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/RequestContext.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#36680 [3.4][Inflector] Improve testSingularize() argument name
  src/Symfony/Component/Inflector/Tests/InflectorTest.php
Labels: Inflector, Status: Reviewed

#36639 [Inflector] Fix testPluralize() arguments names
  src/Symfony/Component/Inflector/Tests/InflectorTest.php
Labels: Inflector, Status: Reviewed

#36675 Update exception.html.php
  src/Symfony/Component/ErrorHandler/Resources/views/exception.html.php
Labels: ErrorHandler, Status: Reviewed

#36672 [Validator] Skip validation when email is an empty object
  src/Symfony/Component/Validator/Constraints/EmailValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailValidatorTest.php
Labels: Bug, Status: Reviewed, Validator

#36647 Execute docker dependent tests with github actions
  .github/workflows/tests.yml
  .travis.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolsTest.php
  src/Symfony/Component/Cache/Tests/Adapter/AbstractRedisAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/MemcachedAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisRedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisTagAwareAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisTagAwareClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisTagAwareAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisTagAwareArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisTagAwareClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/AbstractRedisCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/MemcachedCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/MemcachedCacheTextModeTest.php
  src/Symfony/Component/Cache/Tests/Simple/RedisArrayCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/RedisCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/RedisClusterCacheTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/AbstractRedisSessionHandlerTestCase.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PredisClusterSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PredisSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/RedisArraySessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/RedisClusterSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/RedisSessionHandlerTest.php
  src/Symfony/Component/Lock/Tests/Store/MemcachedStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/PredisStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisArrayStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisClusterStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisStoreTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/RedisExtIntegrationTest.php
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/RedisTransportFactoryTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/RedisCasterTest.php
Labels: Status: Reviewed

#36683 [Yaml] fix parse error when unindented collections contain a comment
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/Fixtures/sfComments.yml
Labels: Bug, Status: Reviewed, Yaml

#36501 [DX] Show the ParseException message in all YAML file loaders
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Translation/Loader/YamlFileLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/YamlFileLoader.php
Labels: DX, Routing, Status: Reviewed, Translator, Validator

#36678 [WebProfiler] Do not add src-elem CSP directives if they do not exist
  src/Symfony/Bundle/WebProfilerBundle/Csp/ContentSecurityPolicyHandler.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Csp/ContentSecurityPolicyHandlerTest.php
Labels: Bug, Status: Needs Review

#36470 [DependencyInjection] Add a mechanism to deprecate public services to private
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AliasDeprecatedPublicServicesPass.php
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AliasDeprecatedPublicServicesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#36497 [Filesystem] Handle paths on different drives
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Bug, Filesystem, Status: Reviewed

#36590 [Console] Default hidden question to 1 attempt for non-tty session
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
Labels: Bug, Console, Status: Reviewed

#36684 Fix exception messages containing exception messages
  src/Symfony/Bundle/FrameworkBundle/Templating/Loader/TemplateLocator.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolsTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/RedisCacheTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/DependencyInjection/Compiler/AbstractRecursivePass.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/HttpKernel/Controller/ControllerResolver.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/Loader/YamlFileLoader.php
  src/Symfony/Component/Validator/Constraints/AbstractComparisonValidator.php
  src/Symfony/Component/Validator/Mapping/Loader/YamlFileLoader.php
Labels: Status: Needs Review

#36686 [5.0] Use PHP 7.2 minimum in tests run with github actions
  .github/workflows/tests.yml
Labels: Status: Needs Review

#36688 [Form] fix tests
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/PercentToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/PercentTypeTest.php
Labels: Form, Status: Needs Review

#36689 [Yaml] properly handle empty lines
  src/Symfony/Component/Yaml/Parser.php
Labels: Bug, Status: Needs Review, Yaml

#36557 [Messenger] Add support for RecoverableException
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageForRetryListener.php
  src/Symfony/Component/Messenger/Exception/RecoverableExceptionInterface.php
  src/Symfony/Component/Messenger/Exception/RecoverableMessageHandlingException.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageForRetryListenerTest.php
Labels: Feature, Messenger, Status: Reviewed

#36690 [Yaml] prevent notice for invalid octal numbers on PHP 7.4
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Status: Reviewed, Yaml

#34813 [Yaml] support YAML 1.2 octal notation, deprecate YAML 1.1 one
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Component/Yaml/CHANGELOG.md
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/Fixtures/YtsSpecificationExamples.yml
  src/Symfony/Component/Yaml/Tests/Fixtures/sfTests.yml
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Deprecation, Feature, Status: Reviewed, Yaml

#36569 [PhpUnitBridge] Mark parent class also covered in CoverageListener
  src/Symfony/Bridge/PhpUnit/Legacy/CoverageListenerTrait.php
Labels: Feature, PhpUnitBridge, Status: Reviewed

#36621 Log deprecations on a dedicated Monolog channel
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/DebugHandlersListenerTest.php
Labels: Feature, Status: Reviewed

#36656 [Security/Core] Add CustomUserMessageAccountStatusException
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Exception/CustomUserMessageAccountStatusException.php
Labels: Feature, Security, Status: Reviewed

#35849 [ExpressionLanguage] Added expression language syntax validator
  src/Symfony/Component/ExpressionLanguage/CHANGELOG.md
  src/Symfony/Component/ExpressionLanguage/ExpressionLanguage.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/Tests/ParserTest.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/ExpressionLanguageSyntax.php
  src/Symfony/Component/Validator/Constraints/ExpressionLanguageSyntaxValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/ExpressionLanguageSyntaxTest.php
  src/Symfony/Component/Validator/composer.json
Labels: ExpressionLanguage, Feature, Status: Reviewed

#36655 Automatically provide Messenger Doctrine schema to "diff"
  src/Symfony/Bridge/Doctrine/SchemaListener/MessengerTransportDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/PdoCacheAdapterDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/MessengerTransportDoctrineSchemaSubscriberTest.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/PdoCacheAdapterDoctrineSchemaSubscriberTest.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/PdoDbalAdapterTest.php
  src/Symfony/Component/Lock/Store/PdoStore.php
  src/Symfony/Component/Lock/Tests/Store/PdoDbalStoreTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineTransportTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/PostgreSqlConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransport.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/PostgreSqlConnection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/composer.json
Labels: Feature, Ready, Status: Reviewed

#36184 [FrameworkBundle] Deprecate renderView() in favor of renderTemplate()
  UPGRADE-5.1.md
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#36302 [Form] Add the html5 option to ColorType to validate the input
  src/Symfony/Bundle/FrameworkBundle/Resources/config/form.xml
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/CoreExtension.php
  src/Symfony/Component/Form/Extension/Core/Type/ColorType.php
  src/Symfony/Component/Form/Resources/translations/validators.en.xlf
  src/Symfony/Component/Form/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ColorTypeTest.php
Labels: Feature, Form, Status: Reviewed

#36471 [String] allow passing a string of custom characters to ByteString::fromRandom
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/CHANGELOG.md
  src/Symfony/Component/String/Tests/ByteStringTest.php
Labels: Feature, Status: Reviewed

#35545 [Serializer] Allow to include the severity in ConstraintViolationList
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ConstraintViolationListNormalizerTest.php
Labels: Feature, Serializer, Status: Reviewed

#36681 [FrameworkBundle] use the router context by default for assets
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AssetsContextPass.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/assets.xml
  src/Symfony/Component/Routing/RequestContext.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#36696 [Console] don't check tty on stdin, it breaks with "data lost during stream conversion"
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Bug, Console, Status: Reviewed

#36707 Force doctrine/dbal <=2.10.2 when testing
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
Labels: Status: Needs Review

#36709 Fix tests
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4LayoutTest.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreTest.php
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/Tests/ByteStringTest.php
Labels: Status: Needs Review

#36712 CI fixes
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/PercentToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/PercentType.php
  src/Symfony/Component/HttpClient/Tests/AmpHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/Inflector/Inflector.php
Labels: Status: Needs Review

#36711 [Form] deprecate `NumberToLocalizedStringTransformer::ROUND_*` constants
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4LayoutTest.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/DataTransformer/IntegerToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/PercentToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/IntegerType.php
  src/Symfony/Component/Form/Extension/Core/Type/MoneyType.php
  src/Symfony/Component/Form/Extension/Core/Type/NumberType.php
  src/Symfony/Component/Form/Extension/Core/Type/PercentType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/IntegerToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/NumberToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/PercentToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/PercentTypeTest.php
Labels: Feature, Form, Status: Reviewed

#36713 Release v5.1.0-BETA1
  CHANGELOG-5.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#36704 Configure services additionally required by the master branch
  .github/workflows/tests.yml
  src/Symfony/Component/Cache/Tests/Adapter/CouchbaseBucketAdapterTest.php
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsIntegrationTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/RdKafkaCasterTest.php
Labels: Status: Needs Review

#36724 [HttpFoundation] fix perf of ResponseHeaderBag::initDate()
  src/Symfony/Component/HttpFoundation/ResponseHeaderBag.php
Labels: Bug, HttpFoundation, Status: Reviewed

#36721 [FrameworkBundle] remove getProjectDir method from MicroKernelTrait
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/flex-style/src/FlexStyleMicroKernel.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#36748 [DI] reduce recursivity of ResolveHotPathPass
  src/Symfony/Component/DependencyInjection/Compiler/ResolveHotPathPass.php
Labels: DependencyInjection, Status: Reviewed

#36749 [DI] give priority to container.hot_path over container.no_preload
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Reviewed

#36737 [Cache] fix accepting sub-second max-lifetimes in ArrayAdapter
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
Labels: Bug, Cache, Status: Reviewed

#36744 Remove patches for Doctrine bugs and deprecations
  composer.json
  phpunit
  src/Symfony/Bridge/Doctrine/composer.json
Labels: Status: Needs Review

#36726 [FrameworkBundle] display actual target for error in AssetsInstallCommand
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#36710 [DI][EventDispatcher] added contract for implementation
  src/Symfony/Component/EventDispatcher/EventSubscriberInterface.php
Labels: Bug, DependencyInjection, EventDispatcher, Status: Reviewed

#36751 [Mime] fix bad method call on `EmailAddressContains`
  src/Symfony/Component/Mime/Test/Constraint/EmailAddressContains.php
Labels: Bug, Mime, Status: Needs Review

#36747 Queue name is a required parameter
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
Labels: Bug, Status: Needs Review

#36756 [3.4] CS fixes
  src/Symfony/Component/Config/Tests/Definition/Builder/ExprBuilderTest.php
  src/Symfony/Component/Console/Tests/TerminalTest.php
  src/Symfony/Component/Lock/Tests/Store/SemaphoreStoreTest.php
Labels: Status: Reviewed

#36757 [4.4] CS fixes
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineTransactionMiddlewareTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillHttpTransport.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
  src/Symfony/Component/Security/Core/Authorization/AccessDecisionManager.php
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
Labels: Status: Reviewed

#36758 [5.1] CS fixes
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/PassportTrait.php
  src/Symfony/Component/String/Tests/FunctionsTest.php
  src/Symfony/Component/VarDumper/Caster/RdKafkaCaster.php
Labels: Status: Reviewed

#36761 [PhpUnitBridge] fix bad test
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/DeprecationTest.php
Labels: PhpUnitBridge, Status: Needs Review

#36764 [HttpClient] remove "experimental" annotations
  src/Symfony/Contracts/HttpClient/Exception/ClientExceptionInterface.php
  src/Symfony/Contracts/HttpClient/Exception/DecodingExceptionInterface.php
  src/Symfony/Contracts/HttpClient/Exception/ExceptionInterface.php
  src/Symfony/Contracts/HttpClient/Exception/HttpExceptionInterface.php
  src/Symfony/Contracts/HttpClient/Exception/RedirectionExceptionInterface.php
  src/Symfony/Contracts/HttpClient/Exception/ServerExceptionInterface.php
  src/Symfony/Contracts/HttpClient/Exception/TransportExceptionInterface.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
  src/Symfony/Contracts/HttpClient/Test/TestHttpServer.php
Labels: HttpClient, Status: Needs Review

#36765 [HttpClient] fix dealing with informational response
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Tests/AmpHttpClientTest.php
Labels: Bug, HttpClient, Status: Needs Review

#36771 [HttpClient] test that timeout is not fatal
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: HttpClient, Status: Needs Review

#36763 [Security] Improve method signatures (minor)
  src/Symfony/Component/Security/Http/Authenticator/FormLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/HttpBasicAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/SelfValidatingPassport.php
Labels: Bug, Security, Status: Reviewed

#36716 [Mime] handle passing custom mime types as string
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Tests/MimeTypesTest.php
Labels: Bug, Mime, Status: Reviewed

#36777 [TwigBundle] FormExtension does not have a constructor anymore since sf 4.0
  src/Symfony/Bundle/TwigBundle/Resources/config/form.xml
Labels: Bug, Status: Reviewed, TwigBundle

#36773 [HttpClient] preserve the identity of responses streamed by TraceableHttpClient
  src/Symfony/Component/HttpClient/Response/TraceableResponse.php
  src/Symfony/Component/HttpClient/Tests/TraceableHttpClientTest.php
  src/Symfony/Component/HttpClient/TraceableHttpClient.php
Labels: Bug, HttpClient, Status: Reviewed

#36743 [Yaml] Fix escaped quotes in quoted multi-line string
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#36796 [DI] Use require_once instead of require when appending cache warmer-returned files to preload file
  src/Symfony/Component/DependencyInjection/Dumper/Preloader.php
Labels: Bug, DependencyInjection, Status: Needs Review

#36798 Secrets, Security, and Messenger commands descriptions should not end with a "." (dot)
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsDecryptToLocalCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsEncryptFromLocalCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsGenerateKeysCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsListCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsRemoveCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsSetCommand.php
  src/Symfony/Bundle/SecurityBundle/Command/UserPasswordEncoderCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRemoveCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
Labels: Bug, Status: Reviewed

#36795 [Messenger] Missing description in `messenger:setup-transports` command
  src/Symfony/Component/Messenger/Command/SetupTransportsCommand.php
Labels: Bug, Status: Reviewed

#36786 [WebProfiler] Remove 'none' when appending CSP tokens
  src/Symfony/Bundle/WebProfilerBundle/Csp/ContentSecurityPolicyHandler.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Csp/ContentSecurityPolicyHandlerTest.php
Labels: Bug, Status: Reviewed

#36794 [Serializer] fix issue with PHP 8
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
Labels: Bug, Serializer, Status: Reviewed

#36789 Change priority of KernelEvents::RESPONSE subscriber
  src/Symfony/Component/HttpKernel/EventListener/ProfilerListener.php
Labels: Bug, HttpKernel, Status: Reviewed

#36791 [FrameworkBundle] fix stringable annotation
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
Labels: FrameworkBundle, Status: Needs Review

#36829 [Security] Update test to test AccountStatusException behavior
  src/Symfony/Component/Security/Core/Tests/Authentication/AuthenticationProviderManagerTest.php
Labels: Security, Status: Needs Review

#36780 [Translator] embed resource name in error message
  src/Symfony/Component/Translation/Tests/TranslatorTest.php
  src/Symfony/Component/Translation/Translator.php
Labels: Status: Reviewed, Translator

#36811 [DependencyInjection] Fix register event listeners compiler pass
  src/Symfony/Component/EventDispatcher/DependencyInjection/RegisterListenersPass.php
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#36824 [Security/Core] fix compat of `NativePasswordEncoder` with pre-PHP74 values of `PASSWORD_*` consts
  src/Symfony/Component/Security/Core/Encoder/NativePasswordEncoder.php
  src/Symfony/Component/Security/Core/Tests/Encoder/NativePasswordEncoderTest.php
Labels: Bug, Status: Reviewed

#36823 [HttpClient] fix PHP warning + accept status code >= 600
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
Labels: Bug, HttpClient, Status: Reviewed

#36826 [String] Move Inflector's polyfill-ctype dependency to String
  src/Symfony/Component/Inflector/composer.json
  src/Symfony/Component/String/composer.json
Labels: Bug, Status: Reviewed, String

#36785 [Messenger] Move doctrine deps to require-dev
  src/Symfony/Component/Messenger/Bridge/Amqp/composer.json
  src/Symfony/Component/Messenger/Bridge/Doctrine/composer.json
Labels: Bug, Messenger, Status: Reviewed

#36805 [Security\Core] Fix NoopAuthenticationManager::authenticate() return value
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
  src/Symfony/Component/Security/Http/Authentication/NoopAuthenticationManager.php
Labels: Bug, Security, Status: Reviewed

#36776 Install mongodb/mongodb to enable mongodb tests
  .github/workflows/tests.yml
Labels: Status: Reviewed

#36806 RememberMeLogoutListener should depend on LogoutHandlerInterface
  src/Symfony/Component/Security/Http/EventListener/RememberMeLogoutListener.php
Labels: Bug, Status: Reviewed

#36800 [DI] Renamed some PHP-DSL functions
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/FactoryTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/anonymous.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/basic.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/child.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/defaults.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/instanceof.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/object.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/php7.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/services9.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/stack.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#36592 [BrowserKit] Allow Referer set by history to be overridden
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/BrowserKit/Tests/ClientTest.php
Labels: BrowserKit, Bug, Status: Reviewed

#36832 [Security] Improved upgrade path for custom remember me services
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Http/EventListener/RememberMeLogoutListener.php
  src/Symfony/Component/Security/Http/RememberMe/RememberMeServicesInterface.php
Labels: Security, Status: Reviewed

#36835 Release v5.1.0-RC1
  CHANGELOG-5.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#36838 [HttpKernel] Bring back the debug toolbar
  src/Symfony/Component/HttpKernel/EventListener/ProfilerListener.php
Labels: Bug, HttpKernel, Status: Reviewed

#36855 [HttpKernel] Fix error logger when stderr is redirected to /dev/null
  src/Symfony/Component/HttpKernel/Log/Logger.php
Labels: Bug, HttpKernel, Status: Reviewed

#36862 [Security] Unserialize $parentData, if needed, to avoid errors
  src/Symfony/Component/Security/Core/Authentication/Token/AnonymousToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/RememberMeToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/SwitchUserToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
  src/Symfony/Component/Security/Core/Exception/AccountStatusException.php
  src/Symfony/Component/Security/Core/Exception/CustomUserMessageAuthenticationException.php
  src/Symfony/Component/Security/Core/Exception/UsernameNotFoundException.php
  src/Symfony/Component/Security/Guard/Token/PostAuthenticationGuardToken.php
Labels: Bug, Security, Status: Needs Review

#36867 [PhpUnitBridge] fix bad detection of unsilenced deprecations
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#36833 [HttpKernel] Fix that the `Store` would not save responses with the X-Content-Digest header present
  src/Symfony/Component/HttpKernel/HttpCache/Store.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/StoreTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#36863 [Validator] Add missing translations of nn locale
  src/Symfony/Component/Validator/Resources/translations/validators.nn.xlf
Labels: Bug, Status: Reviewed, Validator

#36866 [DI][Preload] Remove preload primitive types
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: DependencyInjection, Status: Reviewed

#36859 [Validator] allow passing a validator to Validation::createCallable()
  src/Symfony/Component/Validator/Validation.php
Labels: Bug, Status: Reviewed, Validator

#36876 Use ">=" for the "php" requirement
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/Monolog/composer.json
  src/Symfony/Bridge/ProxyManager/composer.json
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/DebugBundle/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Bundle/WebServerBundle/composer.json
  src/Symfony/Component/BrowserKit/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Config/composer.json
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/Debug/composer.json
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/DomCrawler/composer.json
  src/Symfony/Component/ErrorHandler/composer.json
  src/Symfony/Component/EventDispatcher/composer.json
  src/Symfony/Component/ExpressionLanguage/composer.json
  src/Symfony/Component/Filesystem/composer.json
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Inflector/composer.json
  src/Symfony/Component/Intl/composer.json
  src/Symfony/Component/Ldap/composer.json
  src/Symfony/Component/Lock/composer.json
  src/Symfony/Component/Mailer/Bridge/Amazon/composer.json
  src/Symfony/Component/Mailer/Bridge/Google/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailchimp/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailgun/composer.json
  src/Symfony/Component/Mailer/Bridge/Postmark/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendgrid/composer.json
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Component/Mime/composer.json
  src/Symfony/Component/PropertyAccess/composer.json
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/Csrf/composer.json
  src/Symfony/Component/Security/Guard/composer.json
  src/Symfony/Component/Security/Http/composer.json
  src/Symfony/Component/Security/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Stopwatch/composer.json
  src/Symfony/Component/Templating/composer.json
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/Validator/composer.json
  src/Symfony/Component/VarDumper/composer.json
  src/Symfony/Component/WebLink/composer.json
  src/Symfony/Component/Workflow/composer.json
  src/Symfony/Component/Yaml/composer.json
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/composer.json
Labels: Status: Reviewed

#36882 [PhpUnitBridge] fix installing under PHP >= 8
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, PhpUnitBridge, Status: Reviewed

#36892 [Debug] Skip test that would trigger a fatal error on php 8
  src/Symfony/Component/Debug/Tests/DebugClassLoaderTest.php
Labels: Bug, Debug, Status: Reviewed

#36903 [Messenger] Add suggestion for Amazon SQS transport and make check more readable
  src/Symfony/Component/Messenger/Transport/TransportFactory.php
Labels: Messenger, Status: Needs Review

#36873 [Messenger] Fixed check for allowed options in AwsSqs configuration
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#36901 [HttpKernel] Prevent calling method_exists() with non-string values
  src/Symfony/Component/HttpKernel/Controller/ControllerResolver.php
Labels: Bug, HttpKernel, Status: Reviewed

#36897 [Debug] Undefined variables raise a warning in php 8
  src/Symfony/Component/Debug/Tests/ErrorHandlerTest.php
Labels: Bug, Debug, Status: Reviewed

#35944 [Security/Core] Fix wrong roles comparison
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
Labels: Bug, Security, Status: Reviewed

#36896 [Config] Removed implicit cast of ReflectionProperty to string
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
Labels: Bug, Config, Status: Reviewed

#36902 [Intl] Fix call to ReflectionProperty::getValue() for static properties
  src/Symfony/Component/Intl/Tests/NumberFormatter/AbstractNumberFormatterTest.php
Labels: Bug, Intl, Status: Reviewed

#36818 [Validator] deprecate the "allowEmptyString" option
  UPGRADE-5.2.md
  UPGRADE-6.0.md
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/DoctrineLoaderEntity.php
  src/Symfony/Bridge/Doctrine/Tests/Resources/validator/BaseUser.xml
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/FormTypeValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ValidatorTypeGuesserTest.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Length.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthValidatorTest.php
  src/Symfony/Component/Validator/composer.json
Labels: Deprecation, Status: Reviewed, Validator

#36886 [Validator] Make ExpressionLanguageSyntax validator usable with annotation
  src/Symfony/Component/Validator/Constraints/ExpressionLanguageSyntax.php
  src/Symfony/Component/Validator/Constraints/ExpressionLanguageSyntaxValidator.php
Labels: Bug, Status: Reviewed, Validator

#36869 [Form] don't add the inputmode attribute on fields whose type is the same
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/EmailType.php
  src/Symfony/Component/Form/Extension/Core/Type/SearchType.php
  src/Symfony/Component/Form/Extension/Core/Type/TelType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/EmailTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/SearchTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TelTypeTest.php
Labels: Form, Status: Reviewed

#36837 UploadedFile minor fixes
  src/Symfony/Component/HttpFoundation/File/UploadedFile.php
Labels: Bug, HttpFoundation, Status: Reviewed

#36790 Bump Doctrine DBAL to 2.10+
  composer.json
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.php
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineDummy.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineDummy210.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Lock/composer.json
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/composer.json
Labels: Feature, Status: Reviewed

#36839 [BrowserKit] Raw body with custom Content-Type header
  src/Symfony/Component/BrowserKit/HttpBrowser.php
  src/Symfony/Component/BrowserKit/Tests/HttpBrowserTest.php
Labels: BrowserKit, Bug, Status: Reviewed

#36898 [Debug] php 8 does not pass $context to error handlers
  src/Symfony/Component/Debug/Tests/Fixtures/ErrorHandlerThatUsesThePreviousOne.php
Labels: Bug, Debug, Status: Needs Review

#36904 [PropertyAccess] Parse php 8 TypeErrors correctly
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: Bug, PropertyAccess, Status: Reviewed

#36906 [DomCrawler] Catch expected ValueError
  src/Symfony/Component/DomCrawler/Crawler.php
Labels: Bug, DomCrawler, Status: Needs Review

#36908 [Cache][HttpClient] Made method signatures compatible with their corresponding traits
  src/Symfony/Component/Cache/Adapter/Psr16Adapter.php
  src/Symfony/Component/Cache/Traits/AbstractTrait.php
  src/Symfony/Component/Cache/Traits/ApcuTrait.php
  src/Symfony/Component/Cache/Traits/DoctrineTrait.php
  src/Symfony/Component/Cache/Traits/FilesystemTrait.php
  src/Symfony/Component/Cache/Traits/MemcachedTrait.php
  src/Symfony/Component/Cache/Traits/PdoTrait.php
  src/Symfony/Component/Cache/Traits/PhpFilesTrait.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
Labels: Bug, Cache, HttpClient, Status: Needs Review

#36915 [DomCrawler] Catch expected ValueError
  src/Symfony/Component/DomCrawler/Crawler.php
Labels: Bug, DomCrawler, Status: Needs Review

#36905 [Validator] Catch expected ValueError
  src/Symfony/Component/Validator/Constraints/LengthValidator.php
Labels: Bug, Status: Needs Review, Validator

#36899 [VarDumper] ReflectionFunction::isDisabled() is deprecated
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
Labels: Bug, Status: Needs Review, VarDumper

#36891 Address deprecation of ReflectionType::getClass()
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/HttpKernel/Controller/ControllerResolver.php
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
Labels: Bug, Status: Needs Review

#36895 Skip Doctrine DBAL on php 8 until we have a compatible version
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SetAclCommandTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PdoDbalAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/PdoDbalCacheTest.php
  src/Symfony/Component/Cache/composer.json
Labels: Bug, Status: Reviewed

#36909 [ErrorHandler] Apply php8 fixes from Debug component
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/ErrorHandlerThatUsesThePreviousOne.php
Labels: Bug, ErrorHandler, Status: Needs Review

#36919 Add php 8 to travis
  .travis.yml
Labels: Status: Needs Review

#36917 [Cache] Accessing undefined constants raises an Error in php8
  src/Symfony/Component/Cache/Tests/Adapter/MemcachedAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/MemcachedCacheTest.php
Labels: Bug, Cache, Status: Needs Review

#36920 [VarDumper] fix PHP 8 support
  src/Symfony/Component/VarDumper/Caster/Caster.php
  src/Symfony/Component/VarDumper/Caster/SplCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Caster/CasterTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/PdoCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/SplCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
Labels: Status: Needs Review, VarDumper

#36918 [Security] Removed "services" prototype node from "custom_authenticator"
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/CustomAuthenticatorFactory.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Status: Reviewed

#36921 [OptionsResolver][Serializer] Remove calls to deprecated ReflectionParameter::getClass()
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
Labels: Bug, OptionsResolver, Serializer, Status: Needs Review

#36924 [travis] skip extensions that dont compile on nightly
  .travis.yml
Labels: Status: Needs Review

#36928 [PropertyAccessor] Added missing property path on php 8
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: Bug, Status: Needs Review

#36933 [Process] Fix failing test on php 8
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Bug, Process, Status: Needs Review

#36932 Enable APCu for the php 8 build
  .travis.yml
Labels: Status: Needs Review

#36914 Parse and render anonymous classes correctly on php 8
  .travis.yml
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/Debug/Exception/FatalThrowableError.php
  src/Symfony/Component/Debug/Exception/FlattenException.php
  src/Symfony/Component/Debug/Tests/ErrorHandlerTest.php
  src/Symfony/Component/Debug/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/Debug/composer.json
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/Exception/FlattenException.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
  src/Symfony/Component/ErrorHandler/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/ErrorHandler/composer.json
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Messenger/Middleware/TraceableMiddleware.php
  src/Symfony/Component/Messenger/Tests/Middleware/TraceableMiddlewareTest.php
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Component/VarDumper/Caster/ClassStub.php
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
Labels: Bug, Console, Debug, ErrorHandler, Status: Needs Review

#36934 [travis] display deprecations in nightly jobs
  .travis.yml
Labels: Status: Needs Review

#36935 [HttpClient] Adjust AmpResponse to the stricter trait handling in php 8
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
Labels: Bug, HttpClient, Status: Needs Review

#36936 [FrameworkBundle] don't use abstract methods in MicroKernelTrait, their semantics changed in PHP 8
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#36937 [Lock] skip tests when ext-mongo is not installed
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreTest.php
Labels: Lock, Status: Needs Review

#36938 Don't call method_exists() with non-objects.
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddDebugLogProcessorPass.php
  src/Symfony/Component/HttpFoundation/InputBag.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransportFactory.php
Labels: Bug, Status: Needs Review
