Repository symfony/symfony, pull requests merged in 2020-12, with the labels that each got.

#39260 [DomCrawler] Fix small typos in changelog
  src/Symfony/Component/DomCrawler/CHANGELOG.md
Labels: DomCrawler, Status: Reviewed

#39261 [Security] fix #39249, default entry_point compiler pass was returning too early
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterEntryPointPass.php
Labels: Bug, Security, Status: Reviewed

#39263 [Security] more defensive PasswordMigratingListener
  src/Symfony/Component/Security/Http/EventListener/PasswordMigratingListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
Labels: Bug, Security, Status: Reviewed

#39270 [Inflector] Fix Notice when argument is empty string
  src/Symfony/Component/Inflector/Inflector.php
  src/Symfony/Component/Inflector/Tests/InflectorTest.php
Labels: Bug, Inflector, Status: Reviewed

#39244 [String] Fix Notice when argument is empty string
  src/Symfony/Component/String/Inflector/EnglishInflector.php
  src/Symfony/Component/String/Tests/EnglishInflectorTest.php
Labels: Bug, Status: Reviewed, String

#39256 [Workflow] Fixed case when the marking store is not defined
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Status: Reviewed, Workflow

#39274 [Yaml] fix lexing mapping values with trailing whitespaces
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#39279 [RateLimiter] Fix rate limiter documentation
  src/Symfony/Component/RateLimiter/README.md
Labels: Bug, RateLimiter, Status: Needs Review

#39236 [Notifier] Fix slack section block
  src/Symfony/Component/Notifier/Bridge/Slack/Block/SlackSectionBlock.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/Block/SlackSectionBlockTest.php
Labels: Bug, Notifier, Status: Reviewed

#39151 [DependencyInjection] Fixed incorrect report for private services if required service does not exist
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#39297 Remove Xdebug from php-extra runs
  .travis.yml
Labels: Bug, Status: Reviewed

#39304 Update README.md
  src/Symfony/Component/Notifier/README.md
Labels: Status: Needs Review

#39267 [Yaml] fix lexing backslashes in single quoted strings
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Needs Review, Yaml

#39315 Remove not used mailer_transport.xml service config
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.xml
Labels: Status: Needs Review

#39316 Fix github pr template and include 5.2 for bugfixes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review

#39286 [HttpClient] throw clearer error when no scheme is provided
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
Labels: Bug, DX, HttpClient, Status: Reviewed

#39300 [Notifier] Check for maximum number of buttons in slack action block
  src/Symfony/Component/Notifier/Bridge/Slack/Block/SlackActionsBlock.php
  src/Symfony/Component/Notifier/Bridge/Slack/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/Block/SlackActionsBlockTest.php
Labels: Feature, Notifier, Status: Reviewed

#39258 [Notifier] Add ContextBlock for slack notifier
  src/Symfony/Component/Notifier/Bridge/Slack/Block/SlackContextBlock.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/Block/SlackContextBlockTest.php
Labels: Feature, Notifier, Status: Reviewed

#39293 [HttpFoundation] Ignore stack trace printed by Xdebug 3
  src/Symfony/Component/HttpFoundation/Tests/Fixtures/response-functional/cookie_max_age.expected
Labels: Bug, HttpFoundation, Status: Reviewed

#39319 Add missing entries in .gitattributes
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/.gitattributes
  src/Symfony/Component/Messenger/Bridge/Amqp/.gitattributes
  src/Symfony/Component/Messenger/Bridge/Doctrine/.gitattributes
  src/Symfony/Component/Messenger/Bridge/Redis/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Firebase/.gitattributes
  src/Symfony/Component/Notifier/Bridge/FreeMobile/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Mattermost/.gitattributes
  src/Symfony/Component/Notifier/Bridge/OvhCloud/.gitattributes
  src/Symfony/Component/Notifier/Bridge/RocketChat/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Sinch/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Slack/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Telegram/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Twilio/.gitattributes
  src/Symfony/Component/String/.gitattributes
  src/Symfony/Component/Uid/.gitattributes
Labels: Status: Needs Review

#39313 [FrameworkBundle] TextDescriptor::formatControllerLink checked method…
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#39295 [HttpFoundation] Make sure we reuse the current PHP binary for the webserver process in functional tests.
  src/Symfony/Component/HttpFoundation/Tests/ResponseFunctionalTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/AbstractSessionHandlerTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#39252 [Mime] Leverage PHP 8's detection of CSV files
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Tests/Fixtures/mimetypes/abc.csv
  src/Symfony/Component/Mime/Tests/MimeTypesTest.php
Labels: Bug, Mime, Status: Reviewed

#39322 [HttpFoundation] Make test pass without Xdebug
  src/Symfony/Component/HttpFoundation/Tests/Fixtures/response-functional/cookie_max_age.expected
Labels: Bug, HttpFoundation, Status: Needs Review

#39220 [HttpKernel] Fix bug with whitespace in Kernel::stripComments()
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#39324 [SecurityBundle] Don't use the container as resource type in fixtures
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/argon2i_encoder.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/bcrypt_encoder.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/migrating_encoder.php
Labels: Bug, SecurityBundle, Status: Reviewed

#39317 [Form] Changed DataMapperInterface $forms parameter type to \Traversable
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/DataMapperInterface.php
  src/Symfony/Component/Form/Extension/Core/DataMapper/CheckboxListMapper.php
  src/Symfony/Component/Form/Extension/Core/DataMapper/DataMapper.php
  src/Symfony/Component/Form/Extension/Core/DataMapper/RadioListMapper.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataMapper/DataMapperTest.php
Labels: Deprecation, Form, Status: Reviewed

#39323 Search for pattern on debug:event-dispatcher
  src/Symfony/Bundle/FrameworkBundle/Command/EventDispatcherDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
Labels: Feature, Status: Reviewed

#39292 [DependencyInjection] Add missing parameter type declarations to loader classes
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/argon2i_encoder.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/bcrypt_encoder.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/migrating_encoder.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/GlobFileLoaderTest.php
Labels: DependencyInjection, Status: Reviewed

#39217 [Messenger] StopWorkersCommand improve doc helper
  src/Symfony/Component/Messenger/Command/StopWorkersCommand.php
Labels: Messenger, Status: Reviewed

#39331 [PhpUnitBridge] Fixed PHPunit 9.5 compatibility
  phpunit
  src/Symfony/Bridge/PhpUnit/Legacy/CoverageListenerTrait.php
  src/Symfony/Component/Security/phpunit.xml.dist
Labels: Bug, PhpUnitBridge, Status: Reviewed

#39333 [Form] do not apply the Valid constraint on scalar form data
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorFunctionalTest.php
Labels: Bug, Form, Status: Reviewed

#39042 [Console] Extracting ProgressBar's format's magic strings into const
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Console, Feature, Status: Reviewed

#39018 [FrameworkBundle] Fixed validation of php_errors.log
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/php_errors_log_levels.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/php_errors_log_levels.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/php_errors_log_levels.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#39335 [Notifier] Remove PHPUnit configuration files from components without tests
  src/Symfony/Component/Notifier/Bridge/Firebase/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/Mattermost/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/Nexmo/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/OvhCloud/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/RocketChat/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/Sinch/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/Twilio/phpunit.xml.dist
Labels: Bug, Notifier, Status: Reviewed

#39214 [Messenger] Test generated SQL
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/ConnectionTest.php
Labels: Messenger, Status: Reviewed

#39251 [DependencyInjection] Fix container linter for union types
  .github/patch-types.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/UnionConstructor.php
Labels: Bug, DependencyInjection, Status: Reviewed

#39338 [Notifier] Fix tests with PHPUnit 9.5
  src/Symfony/Component/Notifier/Bridge/LinkedIn/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/Smsapi/phpunit.xml.dist
Labels: Bug, Notifier, Status: Needs Review

#39276 [FrameworkBundle] Added option to specify the event dispatcher in debug:event-dispatcher
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/EventDispatcherDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#39343 Add missing entries in gitattributes
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Discord/.gitattributes
  src/Symfony/Component/Notifier/Bridge/GoogleChat/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Infobip/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Mobyt/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Smsapi/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Zulip/.gitattributes
  src/Symfony/Component/Semaphore/.gitattributes
Labels: Status: Reviewed

#39348 Fix broken link to documentation in Lock and Semaphore components
  src/Symfony/Component/Lock/README.md
  src/Symfony/Component/Semaphore/README.md
Labels: Bug, Status: Reviewed

#39332 Add Croatian (hr) translations
  src/Symfony/Component/Form/Resources/translations/validators.hr.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.hr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
Labels: Missing translations, Status: Reviewed

#39345 [Security][Validator] Add missing Portuguese translations
  src/Symfony/Component/Security/Core/Resources/translations/security.pt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
Labels: Missing translations, Security, Status: Reviewed, Validator

#39367 [Notifier] Fix: Remove unused sprintf() parameters
  src/Symfony/Component/Notifier/Bridge/Discord/DiscordTransport.php
Labels: Bug, Notifier, Status: Reviewed

#39366 Fix: Indentation
  src/Symfony/Component/Notifier/Bridge/LinkedIn/LinkedInTransport.php
Labels: Status: Reviewed

#39271 [HttpFoundation] Fix TypeError: Argument 1 passed to JsonResponse::setJson() must be of the type string, object given
  src/Symfony/Component/HttpFoundation/JsonResponse.php
  src/Symfony/Component/HttpFoundation/Tests/JsonResponseTest.php
  src/Symfony/Component/HttpFoundation/composer.json
Labels: Bug, DX, HttpFoundation, Status: Reviewed

#39310 [Notifier] Add exception for deprecated slack dsn
  src/Symfony/Component/Notifier/Bridge/Slack/README.md
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportFactoryTest.php
Labels: Bug, Notifier, Status: Reviewed

#39337 [Serializer] Fixed serialize and denormalize return types
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
  src/Symfony/Component/Serializer/SerializerInterface.php
Labels: Bug, Status: Reviewed

#39370 Run intl-data tests on resources change
  .github/workflows/intl-data-tests.yml
Labels: Status: Reviewed

#39327 [FrameworkBundle] Add validator.expression_language service
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#39340 [Security] Assert voter returns valid decision
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authorization/AccessDecisionManager.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AccessDecisionManagerTest.php
Labels: Deprecation, Security, Status: Reviewed

#39357 [FrameworkBundle] fix preserving some special chars in the query string
  src/Symfony/Bundle/FrameworkBundle/Controller/RedirectController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/RedirectControllerTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#39358 [HttpFoundation] fix parsing some special chars with HeaderUtils::parseQuery()
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
  src/Symfony/Component/HttpFoundation/Tests/HeaderUtilsTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#39377 [Messenger] Fixed wording in php doc
  src/Symfony/Component/Messenger/Exception/RecoverableExceptionInterface.php
Labels: Messenger, Status: Reviewed

#39361 [FrameworkBundle] acces public-deprecated services via the private container to remove false-positive deprecations
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TestServiceContainerWeakRefPass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/TestServiceContainerRefPassesTest.php
  src/Symfony/Component/Console/DependencyInjection/AddConsoleCommandPass.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#39298 [Cache] Fixed incorrect usage of UNLINK with PHPRedis with Redis < 4.0
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/RedisSessionHandler.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Cache, Status: Needs Review

#39246 [HttpFoundation] Throws cleanup
  src/Symfony/Component/HttpFoundation/JsonResponse.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
Labels: Bug, HttpFoundation, Status: Reviewed

#39379 [FrameworkBundle] fix lowest required HttpFoundation component
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed

#39226 [PhpUnitBridge] Fix disabling DeprecationErrorHandler from PHPUnit configuration file
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#39375 [SecurityBundle] fix LDAP-based HTTP Basic Auth entry point registration
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/HttpBasicLdapFactory.php
Labels: Bug, SecurityBundle, Status: Reviewed

#39016 [HttpKernel] Marked the class DebugHandlersListener as internal
  UPGRADE-5.3.md
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
Labels: Status: Reviewed

#39384 [Notifier] Streamline changelogs of notifier bridges
  src/Symfony/Component/Notifier/Bridge/Firebase/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/FreeMobile/CHANGELOG.md
Labels: Bug, Notifier, Status: Needs Review

#39385 Use php8 stable
  .travis.yml
Labels: Status: Reviewed

#39196 [DI] Fix Xdebug 3.0 detection
  src/Symfony/Component/DependencyInjection/Exception/AutowiringFailedException.php
Labels: Bug, Status: Reviewed

#39334 [Config][TwigBundle] Fixed syntax error in config
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configuration.php
  src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php
  src/Symfony/Component/Config/Tests/Definition/Dumper/YamlReferenceDumperTest.php
Labels: Bug, Config, Status: Reviewed, TwigBundle

#38622 [BrowserKit] Allowing body content from GET with a content-type
  src/Symfony/Component/BrowserKit/CHANGELOG.md
  src/Symfony/Component/BrowserKit/HttpBrowser.php
  src/Symfony/Component/BrowserKit/Tests/HttpBrowserTest.php
Labels: BrowserKit, Feature, Status: Reviewed

#38490 [ErrorHandler] fix html W3C compliance
  src/Symfony/Bridge/Twig/Extension/CodeExtension.php
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorHandler/Resources/assets/css/exception.css
  src/Symfony/Component/ErrorHandler/Resources/views/logs.html.php
  src/Symfony/Component/ErrorHandler/Resources/views/traces.html.php
  src/Symfony/Component/ErrorHandler/Resources/views/traces_text.html.php
Labels: Bug, ErrorHandler, Status: Needs Review

#39268 [HttpClient] Use decoration instead of class replacement for mock factory
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Feature, HttpClient, Status: Reviewed

#39341 [Form] Fixed StringUtil::trim() to trim ZERO WIDTH SPACE (U+200B) and SOFT HYPHEN (U+00AD)
  src/Symfony/Component/Form/Tests/Util/StringUtilTest.php
  src/Symfony/Component/Form/Util/StringUtil.php
Labels: Bug, Form, Status: Reviewed

#39142 [Config] Stop treating multiline resources as globs
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/Config/Tests/Loader/FileLoaderTest.php
Labels: Bug, Config, Status: Reviewed

#39405 [Serializer] Make fabbot happy with 5.2 tests CS
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Status: Reviewed

#39398 [ErrorHandler][HttpKernel] Add missing param annotation for $fileLinkFormat
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/Mime/Part/TextPart.php
Labels: ErrorHandler, HttpKernel, Status: Reviewed

#39418 [PhpUnitBridge] Fix PHP 5.5 compatibility
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#39417 [Form] Fix UUID exception
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/ORMQueryBuilderLoader.php
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/ORMQueryBuilderLoaderTest.php
Labels: Bug, Form, Status: Reviewed

#39412 [Notifier] Only use sprintf instead of sprintf and string concat
  src/Symfony/Component/Notifier/Exception/IncompleteDsnException.php
Labels: Notifier, Status: Needs Review

#39411 [Notifier] Remove trailing argument in tests
  src/Symfony/Component/Notifier/Bridge/Infobip/Tests/InfobipTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Sendinblue/Tests/SendinblueTransportTest.php
Labels: Notifier, Status: Reviewed

#39380 [Notifier] Remove @internal annotation from notifier transports
  src/Symfony/Component/Notifier/Bridge/RocketChat/RocketChatTransport.php
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransport.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
Labels: Bug, Notifier, Status: Reviewed

#39414 [Notifier] Remove @internal annotation from notifier transports
  src/Symfony/Component/Notifier/Bridge/Discord/DiscordTransport.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatTransport.php
Labels: Bug, Notifier, Status: Reviewed

#39401 [DoctrineBridge] no-op RegisterUidTypePass if DBAL types aren't loaded
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterUidTypePass.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/CompilerPass/RegisterUidTypePassTest.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#39378 [Messenger] Use "warning" instead of "error" log level for RecoverableException
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageForRetryListener.php
Labels: Feature, Messenger, Status: Reviewed

#39403 [Notifier] [Free Mobile] Add test
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportTest.php
Labels: Notifier, Status: Reviewed

#39409 [Notifier] [Twilio] Add tests
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/TwilioTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/TwilioTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/TwilioTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Twilio/phpunit.xml.dist
Labels: Bug, Notifier, Status: Reviewed

#39352 [TwigBridge] export concatenated translations
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationNodeVisitor.php
  src/Symfony/Bridge/Twig/Tests/Translation/TwigExtractorTest.php
Labels: Bug, Status: Reviewed, TwigBridge

#39203 [DI] Fix not working if only "default_index_method" used
  src/Symfony/Component/DependencyInjection/Argument/TaggedIteratorArgument.php
  src/Symfony/Component/DependencyInjection/Compiler/PriorityTaggedServiceTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/PriorityTaggedServiceTraitTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FooTaggedForInvalidDefaultMethodClass.php
Labels: Bug, DependencyInjection, Status: Reviewed

#39413 [Notifier] [Discord] Make webhookId argument required
  src/Symfony/Component/Notifier/Bridge/Discord/DiscordTransport.php
  src/Symfony/Component/Notifier/Bridge/Discord/DiscordTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordTransportFactoryTest.php
Labels: Bug, Notifier, Status: Needs Review

#38469 [Form] Add "choice_translation_parameters" option
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/ChoiceList/ChoiceList.php
  src/Symfony/Component/Form/ChoiceList/Factory/Cache/ChoiceTranslationParameters.php
  src/Symfony/Component/Form/ChoiceList/Factory/CachingFactoryDecorator.php
  src/Symfony/Component/Form/ChoiceList/Factory/ChoiceListFactoryInterface.php
  src/Symfony/Component/Form/ChoiceList/Factory/DefaultChoiceListFactory.php
  src/Symfony/Component/Form/ChoiceList/Factory/PropertyAccessDecorator.php
  src/Symfony/Component/Form/ChoiceList/View/ChoiceView.php
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/DefaultChoiceListFactoryTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.txt
Labels: Feature, Status: Reviewed

#39422 [Notifier] [Slack] Remove :void from test methods
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportFactoryTest.php
Labels: Notifier, Status: Needs Review

#39420 [Cache] Prevent notice on case matching metadata trick
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
Labels: Bug, Cache, Status: Needs Review

#39425 [Notifier] [Twilio] Fix tests
  src/Symfony/Component/Notifier/Bridge/Twilio/composer.json
Labels: Notifier, Status: Reviewed

#39228 [HttpClient] Fix content swallowed by AsyncClient initializer
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
Labels: Bug, HttpClient, Status: Reviewed

#39427 [Serializer][Validator] Mention annotation loaders handle PHP8 attributes
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/AnnotationLoader.php
Labels: Serializer, Status: Reviewed, Validator

#39432 Fix CS in changelogs - 4.4
  UPGRADE-4.0.md
  UPGRADE-4.4.md
  UPGRADE-5.0.md
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Debug/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/PropertyAccess/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
Labels: Status: Needs Review

#39431 [Cache] Make use of `read_timeout` in `\RedisSentinel` and `\Redis`
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Reviewed

#39434 [Cache] Bugfix provide the correct host and port when throwing the exception
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Needs Review

#39433 [Cache] fix setting "read_timeout" when using Redis
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Needs Review

#39426 [Notifier] [Free Mobile] Rename method to match other bridges
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportTest.php
Labels: Notifier, Status: Reviewed

#39408 [Notifier] [OvhCloud] Add tests
  src/Symfony/Component/Notifier/Bridge/OvhCloud/OvhCloudTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportTest.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/composer.json
  src/Symfony/Component/Notifier/Bridge/OvhCloud/phpunit.xml.dist
Labels: Bug, Notifier, Status: Needs Review

#39404 [Notifier] [Nexmo] Add tests
  src/Symfony/Component/Notifier/Bridge/Nexmo/NexmoTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Nexmo/Tests/NexmoTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Nexmo/Tests/NexmoTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Nexmo/composer.json
  src/Symfony/Component/Notifier/Bridge/Nexmo/phpunit.xml.dist
Labels: Notifier, Status: Reviewed

#39406 [Notifier] [Sinch] Add tests
  src/Symfony/Component/Notifier/Bridge/Sinch/SinchTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Sinch/Tests/SinchTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Sinch/Tests/SinchTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Sinch/composer.json
  src/Symfony/Component/Notifier/Bridge/Sinch/phpunit.xml.dist
Labels: Notifier, Status: Reviewed

#39435 Fix CS in Changelogs in 5.1
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineTransportTest.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/PropertyAccess/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
Labels: Status: Needs Review

#39436 Fix CS in link binary
  link
Labels: Status: Needs Review

#39437 Fix licence
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineTransportTest.php
Labels: Status: Needs Review

#39383 [Notifier] Streamline README files
  src/Symfony/Component/Notifier/Bridge/Firebase/README.md
  src/Symfony/Component/Notifier/Bridge/FreeMobile/README.md
  src/Symfony/Component/Notifier/Bridge/Mattermost/README.md
  src/Symfony/Component/Notifier/Bridge/Nexmo/README.md
  src/Symfony/Component/Notifier/Bridge/OvhCloud/README.md
  src/Symfony/Component/Notifier/Bridge/RocketChat/README.md
  src/Symfony/Component/Notifier/Bridge/Sinch/README.md
  src/Symfony/Component/Notifier/Bridge/Slack/README.md
  src/Symfony/Component/Notifier/Bridge/Telegram/README.md
  src/Symfony/Component/Notifier/Bridge/Twilio/README.md
Labels: Notifier, Status: Reviewed

#39439 Fix CS in Changelogs in 5.2
  UPGRADE-6.0.md
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Sendinblue/README.md
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Discord/README.md
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
Labels: Status: Reviewed

#39423 [Messenger] Added more descriptive exception message when handling of a message failed
  src/Symfony/Component/Messenger/Exception/HandlerFailedException.php
Labels: Messenger, Status: Reviewed

#39441 Fix CS in changelogs
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Security/CHANGELOG.md
Labels: Status: Reviewed

#39299 [PropertyInfo][Serializer] Fixed extracting ignored properties for Serializer
  src/Symfony/Component/PropertyInfo/Extractor/SerializerExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/SerializerExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/IgnorePropertyDummy.php
Labels: Bug, PropertyInfo, Serializer, Status: Reviewed

#39443 [Notifier] Add PHP 8 support for bridges
  src/Symfony/Component/Notifier/Bridge/Discord/composer.json
  src/Symfony/Component/Notifier/Bridge/Esendex/composer.json
  src/Symfony/Component/Notifier/Bridge/Infobip/composer.json
  src/Symfony/Component/Notifier/Bridge/Mobyt/composer.json
  src/Symfony/Component/Notifier/Bridge/Zulip/composer.json
Labels: Notifier, Status: Reviewed

#39447 [Notifier] [GoogleChat] Remove void return type from test methods
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportTest.php
Labels: Notifier, Status: Needs Review

#39448 [Notifier] [Sendinblue] Remove void return type from test methods
  src/Symfony/Component/Notifier/Bridge/Sendinblue/Tests/SendinblueTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Sendinblue/Tests/SendinblueTransportTest.php
Labels: Notifier, Status: Needs Review

#39446 [Notifier] Move ext-json below php requirement to stay consistent
  src/Symfony/Component/Notifier/Bridge/Mobyt/composer.json
  src/Symfony/Component/Notifier/Bridge/Sendinblue/composer.json
Labels: Notifier, Status: Needs Review

#39450 [Notifier] [Telegram] Remove void return type from test methods
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
Labels: Notifier, Status: Needs Review

#39453 [Notifier] Remove void return type from test methods
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/TwilioTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/TwilioTransportTest.php
Labels: Notifier, Status: Needs Review

#39462 [Mailer] Rename testsuites
  src/Symfony/Component/Mailer/Bridge/Amazon/phpunit.xml.dist
  src/Symfony/Component/Mailer/Bridge/Sendgrid/phpunit.xml.dist
Labels: Mailer, Status: Reviewed

#39464 [Mailer] [Amazon] Fix @param annotation
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesSmtpTransport.php
Labels: Mailer, Status: Reviewed

#39465 [Mailer] [Sendgrid] Use $scheme variable to stay consistent
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridTransportFactory.php
Labels: Mailer, Status: Reviewed

#39460 Remove void return type from test methods
  src/Symfony/Bridge/Doctrine/Tests/ContainerAwareEventManagerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/EventAliasTest.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/StringToFloatTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/NumberTypeTest.php
Labels: Status: Needs Review

#39467 Fix wrong comment about SES region
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesSmtpTransport.php
Labels: Bug, Status: Needs Review

#39472 Use more explicit variable name
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: Status: Reviewed

#39442 Fix enabled key for ratelimiter config
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, Status: Reviewed

#39365 [Notifier] [DX] UnsupportedMessageTypeException for notifier transports
  src/Symfony/Component/Notifier/Bridge/Discord/DiscordTransport.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Discord/composer.json
  src/Symfony/Component/Notifier/Bridge/Esendex/EsendexTransport.php
  src/Symfony/Component/Notifier/Bridge/Esendex/Tests/EsendexTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Esendex/composer.json
  src/Symfony/Component/Notifier/Bridge/Firebase/FirebaseTransport.php
  src/Symfony/Component/Notifier/Bridge/Firebase/composer.json
  src/Symfony/Component/Notifier/Bridge/FreeMobile/FreeMobileTransport.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportTest.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/composer.json
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatTransport.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportTest.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/composer.json
  src/Symfony/Component/Notifier/Bridge/Infobip/InfobipTransport.php
  src/Symfony/Component/Notifier/Bridge/Infobip/composer.json
  src/Symfony/Component/Notifier/Bridge/LinkedIn/LinkedInTransport.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Tests/LinkedInTransportTest.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/composer.json
  src/Symfony/Component/Notifier/Bridge/Mattermost/MattermostTransport.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/composer.json
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytTransport.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/composer.json
  src/Symfony/Component/Notifier/Bridge/Nexmo/NexmoTransport.php
  src/Symfony/Component/Notifier/Bridge/Nexmo/composer.json
  src/Symfony/Component/Notifier/Bridge/OvhCloud/OvhCloudTransport.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/composer.json
  src/Symfony/Component/Notifier/Bridge/RocketChat/RocketChatTransport.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/composer.json
  src/Symfony/Component/Notifier/Bridge/Sendinblue/SendinblueTransport.php
  src/Symfony/Component/Notifier/Bridge/Sendinblue/Tests/SendinblueTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Sendinblue/composer.json
  src/Symfony/Component/Notifier/Bridge/Sinch/SinchTransport.php
  src/Symfony/Component/Notifier/Bridge/Sinch/composer.json
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransport.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/composer.json
  src/Symfony/Component/Notifier/Bridge/Smsapi/SmsapiTransport.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/composer.json
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/composer.json
  src/Symfony/Component/Notifier/Bridge/Twilio/TwilioTransport.php
  src/Symfony/Component/Notifier/Bridge/Twilio/composer.json
  src/Symfony/Component/Notifier/Bridge/Zulip/ZulipTransport.php
  src/Symfony/Component/Notifier/Bridge/Zulip/composer.json
  src/Symfony/Component/Notifier/Exception/UnsupportedMessageTypeException.php
  src/Symfony/Component/Notifier/Transport/TransportInterface.php
Labels: Feature, Notifier, Status: Reviewed

#39474 [DomCrawler] Fix null namespace issue in Crawler
  src/Symfony/Component/DomCrawler/Crawler.php
Labels: Bug, DomCrawler, Status: Reviewed

#39410 [Notifier] Add HeaderBlock for slack notifier
  src/Symfony/Component/Notifier/Bridge/Slack/Block/SlackHeaderBlock.php
  src/Symfony/Component/Notifier/Bridge/Slack/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/Block/SlackHeaderBlockTest.php
Labels: Feature, Notifier, Status: Reviewed

#39456 [Notifier] [Free Mobile] Fix wrong scheme in mapping
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Bug, Notifier, Status: Reviewed

#39419 [PhpUnitBridge] bump "php" to 7.1+ and "phpunit" to 7.5+
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/ClassExistsMock.php
  src/Symfony/Bridge/PhpUnit/ClockMock.php
  src/Symfony/Bridge/PhpUnit/ConstraintTrait.php
  src/Symfony/Bridge/PhpUnit/CoverageListener.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/DeprecationGroup.php
  src/Symfony/Bridge/PhpUnit/DnsMock.php
  src/Symfony/Bridge/PhpUnit/Legacy/CommandForV6.php
  src/Symfony/Bridge/PhpUnit/Legacy/CommandForV7.php
  src/Symfony/Bridge/PhpUnit/Legacy/CommandForV9.php
  src/Symfony/Bridge/PhpUnit/Legacy/ConstraintTraitForV6.php
  src/Symfony/Bridge/PhpUnit/Legacy/CoverageListenerForV5.php
  src/Symfony/Bridge/PhpUnit/Legacy/CoverageListenerForV6.php
  src/Symfony/Bridge/PhpUnit/Legacy/SetUpTearDownTraitForV5.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerForV5.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerForV6.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/PhpUnit/SymfonyTestsListener.php
  src/Symfony/Bridge/PhpUnit/Tests/BootstrapTest.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/DeprecationTest.php
  src/Symfony/Bridge/PhpUnit/Tests/Fixtures/coverage/tests/bootstrap.php
  src/Symfony/Bridge/PhpUnit/TextUI/Command.php
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
  src/Symfony/Bridge/PhpUnit/bootstrap.php
  src/Symfony/Bridge/PhpUnit/composer.json
Labels: Feature, PhpUnitBridge, Status: Reviewed

#39480 [FrameworkBundle] Add "mailer" monolog channel to mailer transports
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
  src/Symfony/Component/Mailer/CHANGELOG.md
Labels: Feature, FrameworkBundle, Status: Reviewed

#39485 [Asset] Fix tests
  src/Symfony/Component/Asset/Tests/VersionStrategy/JsonManifestVersionStrategyTest.php
Labels: Asset, Bug, Status: Reviewed

#39486 [Asset] Fix tests for 5.1
  src/Symfony/Component/Asset/Tests/VersionStrategy/RemoteJsonManifestVersionStrategyTest.php
Labels: Asset, Bug, Status: Reviewed

#39489 [Notifier] Rename test method names
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/TwilioTransportFactoryTest.php
Labels: Notifier, Status: Needs Review

#39487 [PhpUnitBridge] Restore SetUpTearDownTraitForV5
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/Legacy/SetUpTearDownTraitForV7.php
  src/Symfony/Bridge/PhpUnit/SetUpTearDownTrait.php
  src/Symfony/Bridge/PhpUnit/Tests/CoverageListenerTest.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/DeprecationTest.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#39490 Remove check for unsupported PHP version
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/Intl/Tests/DateFormatter/Verification/IntlDateFormatterTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
Labels: Bug, Status: Needs Review

#39478 [FrameworkBundle] Fix missing kernel.build_dir on cache clear
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/CacheClearCommandTest.php
Labels: Bug, Status: Reviewed

#39476 [Lock] Prevent store exception break combined store
  src/Symfony/Component/Lock/Store/CombinedStore.php
  src/Symfony/Component/Lock/Tests/Store/CombinedStoreTest.php
Labels: Bug, Status: Reviewed

#39451 [Serializer] Fix EncoderInterface::encode() return type
  src/Symfony/Component/Serializer/Encoder/EncoderInterface.php
  src/Symfony/Component/Serializer/Tests/Encoder/ChainEncoderTest.php
Labels: Bug, Serializer, Status: Reviewed

#39444 [Notifier] [Discord] Fix exception message + test
  src/Symfony/Component/Notifier/Bridge/Discord/DiscordTransport.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordTransportTest.php
Labels: Bug, Notifier, Status: Reviewed

#39421 [PhpUnitBridge] Lint files with PHP 5.5
  .github/workflows/phpunit-bridge.yml
  src/Symfony/Bridge/PhpUnit/ClassExistsMock.php
Labels: PhpUnitBridge, Status: Reviewed

#39497 [PhpUnitBridge] [phpunit] Stop using deprecated trait
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/DeprecationTest.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#39455 [Notifier] Rework/streamline bridges (5.1)
  src/Symfony/Component/Notifier/Bridge/Firebase/FirebaseOptions.php
  src/Symfony/Component/Notifier/Bridge/Firebase/FirebaseTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Firebase/Tests/FirebaseTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Firebase/Tests/FirebaseTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Firebase/composer.json
  src/Symfony/Component/Notifier/Bridge/Firebase/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/FreeMobile/FreeMobileTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/MattermostTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/Tests/MattermostTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/Tests/MattermostTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/composer.json
  src/Symfony/Component/Notifier/Bridge/Mattermost/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/Nexmo/Tests/NexmoTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/RocketChatTransport.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/RocketChatTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/Tests/RocketChatTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/Tests/RocketChatTransportTest.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/composer.json
  src/Symfony/Component/Notifier/Bridge/RocketChat/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/Sinch/Tests/SinchTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/TwilioTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/TwilioTransportFactory.php
Labels: Notifier, Status: Reviewed

#39508 [Uid] Fix tests namespace
  src/Symfony/Component/Uid/Tests/UlidTest.php
  src/Symfony/Component/Uid/Tests/UuidTest.php
Labels: Status: Reviewed, Uid

#39360 [FrameworkBundler] Fix cache:clear with buildDir
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/collectors.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/CacheClearCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/ObjectsProvider.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, Status: Reviewed

#39494 Add missing symfony/deprecation-contracts requirement
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Messenger/Bridge/Amqp/composer.json
  src/Symfony/Component/Messenger/Bridge/Redis/composer.json
  src/Symfony/Component/Notifier/Bridge/Slack/composer.json
Labels: Bug, Status: Reviewed

#39484 [FrameworkBundle] Allow env variables in `json_manifest_path`
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/assets.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/assets.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/assets.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/assets.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Asset/CHANGELOG.md
  src/Symfony/Component/Asset/Tests/VersionStrategy/JsonManifestVersionStrategyTest.php
  src/Symfony/Component/Asset/Tests/VersionStrategy/RemoteJsonManifestVersionStrategyTest.php
  src/Symfony/Component/Asset/VersionStrategy/JsonManifestVersionStrategy.php
  src/Symfony/Component/Asset/VersionStrategy/RemoteJsonManifestVersionStrategy.php
  src/Symfony/Component/Asset/composer.json
Labels: Feature, FrameworkBundle, Status: Reviewed

#39502 Add missing symfony/deprecation-contracts requirement - 5.2
  src/Symfony/Component/Lock/composer.json
Labels: Bug, Status: Reviewed

#39503 Add missing symfony/deprecation-contracts requirement - 5.x
  src/Symfony/Bridge/PhpUnit/composer.json
Labels: Bug, Status: Reviewed

#39514 [Notifier] Fix wrong package names
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Bug, Notifier, Status: Reviewed

#39515 [Notifier] Fix wrong package name
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Bug, Notifier, Status: Needs Review

#39510 [Notifier]  [Free Mobile] Could not use custom host in DSN
  src/Symfony/Component/Notifier/Bridge/FreeMobile/FreeMobileTransport.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/FreeMobileTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportFactoryTest.php
Labels: Bug, Notifier, Status: Reviewed

#39509 [Notifier] Improve tests (5.1)
  src/Symfony/Component/Notifier/Bridge/Firebase/Tests/FirebaseTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/Tests/MattermostTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/Tests/MattermostTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Nexmo/Tests/NexmoTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/Tests/RocketChatTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/Tests/RocketChatTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Sinch/Tests/SinchTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/TwilioTransportFactoryTest.php
Labels: Notifier, Status: Reviewed

#39525 [VarDumper] dont hide any nodes until JS is proven to work
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
Labels: Bug, Status: Needs Review, VarDumper

#39526 [Notifier] Use assertSame()
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
Labels: Notifier, Status: Reviewed
