Repository symfony/symfony, pull requests merged in 2020-08, with the labels that each got.

#37712 [Mailer] Prevent MessageLoggerListener from leaking in env=prod
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_debug.php
Labels: Deprecation, Feature, Mailer, Status: Reviewed

#37565 [Validator] Add Isin validator constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Isin.php
  src/Symfony/Component/Validator/Constraints/IsinValidator.php
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Tests/Constraints/IsinValidatorTest.php
Labels: Feature, Status: Reviewed

#37669 [EventDispatcher] Minor: Avoid not needed null check in dispatch()
  src/Symfony/Component/EventDispatcher/EventDispatcher.php
Labels: EventDispatcher, Status: Reviewed

#37480 [Messenger] add redeliveredAt in RedeliveryStamp construct
  src/Symfony/Component/Messenger/Stamp/RedeliveryStamp.php
  src/Symfony/Component/Messenger/Tests/Stamp/RedeliveryStampTest.php
Labels: Status: Reviewed

#37732 [Console] Allow testing single command apps using CommandTester
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/SingleCommandApplication.php
  src/Symfony/Component/Console/Tests/Command/SingleCommandApplicationTest.php
Labels: Console, Feature, Status: Reviewed

#37730 [Validator] sync translations
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
Labels: Status: Reviewed, Validator

#37718 [Security] class Security implements AuthorizationCheckerInterface
  src/Symfony/Component/Security/Core/Security.php
Labels: Security, Status: Reviewed

#37701 [Serializer] Fix that it will never reach DOMNode
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Bug, Serializer, Status: Reviewed

#37729 [FrameworkBundle] fail properly when the required service is not defined
  src/Symfony/Bundle/FrameworkBundle/Test/MailerAssertionsTrait.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#37747 [Notifier] Make Freemobile config more flexible
  src/Symfony/Component/Notifier/Bridge/FreeMobile/FreeMobileTransport.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportTest.php
Labels: Feature, Notifier, Status: Needs Review

#37748 [Notifier] Fix SentMessage implementation
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/Notifier/Chatter.php
  src/Symfony/Component/Notifier/Texter.php
  src/Symfony/Component/Notifier/Transport/TransportInterface.php
Labels: Bug, Notifier, Status: Needs Review

#36616 [Notifier] Add Zulip notifier bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Zulip/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Zulip/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Zulip/LICENSE
  src/Symfony/Component/Notifier/Bridge/Zulip/README.md
  src/Symfony/Component/Notifier/Bridge/Zulip/ZulipOptions.php
  src/Symfony/Component/Notifier/Bridge/Zulip/ZulipTransport.php
  src/Symfony/Component/Notifier/Bridge/Zulip/ZulipTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Zulip/composer.json
  src/Symfony/Component/Notifier/Bridge/Zulip/phpunit.xml.dist
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#36692 [HttpClient] add EventSourceHttpClient to consume Server-Sent Events
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Chunk/ServerSentEvent.php
  src/Symfony/Component/HttpClient/EventSourceHttpClient.php
  src/Symfony/Component/HttpClient/Exception/EventSourceException.php
  src/Symfony/Component/HttpClient/Tests/Chunk/ServerSentEventTest.php
  src/Symfony/Component/HttpClient/Tests/EventSourceHttpClientTest.php
Labels: Feature, Status: Reviewed

#37741 Typo: somes styles fixed
  UPGRADE-5.0.md
Labels: Status: Needs Review

#37749 [Lock] downgrade log.info to log.debug
  src/Symfony/Component/Lock/Store/CombinedStore.php
Labels: Lock, Status: Reviewed

#36488 [Notifier] Add Google Chat bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/.gitattributes
  src/Symfony/Component/Notifier/Bridge/GoogleChat/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatOptions.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatTransport.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/LICENSE
  src/Symfony/Component/Notifier/Bridge/GoogleChat/README.md
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportTest.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/composer.json
  src/Symfony/Component/Notifier/Bridge/GoogleChat/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Feature, Notifier, Status: Reviewed

#37770 [String] We cannot have a "provides" function in test cases
  src/Symfony/Component/String/Tests/FunctionsTest.php
Labels: Bug, Status: Reviewed, String

#37764 Remove outdated references from base_js.html.twig file
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, Status: Reviewed

#37778 The PHPUnit\Util\XML class has been removed in PHPUnit 9.3
  src/Symfony/Component/Form/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Security/Core/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Validator/Tests/Resources/TranslationFilesTest.php
Labels: Bug, Status: Reviewed

#37779 [Console] The message of "class not found" errors has changed in php 8
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Bug, Console, Status: Reviewed

#37777 [PhpUnitBridge] Fix assertDoesNotMatchRegularExpression() polyfill
  src/Symfony/Bridge/PhpUnit/Legacy/PolyfillAssertTrait.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#37773 Modernized deprecated PHPUnit assertion calls
  composer.json
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/CacheClearCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/RouterDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Resources/IconTest.php
  src/Symfony/Component/Config/Tests/Util/XmlUtilsTest.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/Command/ListCommandTest.php
  src/Symfony/Component/Debug/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/Debug/Tests/ErrorHandlerTest.php
  src/Symfony/Component/Debug/Tests/FatalErrorHandler/ClassNotFoundFatalErrorHandlerTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
  src/Symfony/Component/HttpFoundation/Tests/File/FileTest.php
  src/Symfony/Component/HttpFoundation/Tests/File/UploadedFileTest.php
  src/Symfony/Component/HttpFoundation/Tests/RedirectResponseTest.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseHeaderBagTest.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/ConfigDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTestCase.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/Intl/Tests/Util/GitRepositoryTest.php
  src/Symfony/Component/Security/Http/Tests/EntryPoint/DigestAuthenticationEntryPointTest.php
  src/Symfony/Component/Yaml/Tests/Command/LintCommandTest.php
Labels: Bug, Status: Reviewed

#37774 [Console] Make sure we pass a numeric array of arguments to call_user_func_array()
  src/Symfony/Component/Console/Descriptor/TextDescriptor.php
Labels: Bug, Console, Status: Reviewed

#37754 [FrameworkBundle] Add days before expiration in "about" command
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
Labels: Feature, Status: Reviewed

#36496 [Notifier] added telegram options
  src/Symfony/Component/Notifier/Bridge/Telegram/Reply/Markup/AbstractTelegramReplyMarkup.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Reply/Markup/Button/AbstractKeyboardButton.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Reply/Markup/Button/InlineKeyboardButton.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Reply/Markup/Button/KeyboardButton.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Reply/Markup/ForceReply.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Reply/Markup/InlineKeyboardMarkup.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Reply/Markup/ReplyKeyboardMarkup.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Reply/Markup/ReplyKeyboardRemove.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramOptions.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
Labels: Feature, Notifier, Status: Reviewed

#37782 Made reference to PHPUnit\Util\XML::loadfile php5-compatible
  src/Symfony/Component/Form/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Security/Core/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Validator/Tests/Resources/TranslationFilesTest.php
Labels: Bug, Status: Reviewed

#37783 [ClassLoader][Routing] Fix namespace parsing on php 8
  src/Symfony/Component/ClassLoader/ClassCollectionLoader.php
  src/Symfony/Component/ClassLoader/ClassMapGenerator.php
  src/Symfony/Component/Routing/Loader/AnnotationFileLoader.php
Labels: Bug, Routing, Status: Reviewed

#37784 PHPUnit's assertContains() performs strict comparisons
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RequestDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/Profiler/FileProfilerStorageTest.php
  src/Symfony/Component/Translation/Tests/TranslatorTest.php
Labels: Bug, Status: Reviewed

#37763 Fix deprecated libxml_disable_entity_loader
  src/Symfony/Component/Config/Tests/Util/XmlUtilsTest.php
  src/Symfony/Component/Config/Util/XmlUtils.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/Tests/Loader/XliffFileLoaderTest.php
Labels: Bug, Status: Reviewed

#37750 Add Tagalog translations for validator messages 94, 95, 96 and 99
  src/Symfony/Component/Validator/Resources/translations/validators.tl.xlf
Labels: Status: Needs Review, Validator

#37790 Fix deprecated libxml_disable_entity_loader
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/Translation/Util/XliffUtils.php
Labels: Bug, Status: Needs Review

#36480 [Notifier] Add Infobip bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Infobip/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Infobip/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Infobip/InfobipTransport.php
  src/Symfony/Component/Notifier/Bridge/Infobip/InfobipTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Infobip/LICENSE
  src/Symfony/Component/Notifier/Bridge/Infobip/README.md
  src/Symfony/Component/Notifier/Bridge/Infobip/Tests/InfobipTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Infobip/Tests/InfobipTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Infobip/composer.json
  src/Symfony/Component/Notifier/Bridge/Infobip/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#37537 [HttpKernel] Provide status code in fragment handler exception
  src/Symfony/Component/HttpKernel/Fragment/FragmentHandler.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/FragmentHandlerTest.php
Labels: HttpKernel, Status: Reviewed

#37791 Fix redis connect with empty password
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Status: Reviewed

#37793 Revert "[DependencyInjection] Resolve parameters in tag arguments"
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: DependencyInjection, Status: Reviewed

#34704 [Messenger] Add method HandlerFailedException::getNestedExceptionOfClass
  src/Symfony/Component/Messenger/Exception/HandlerFailedException.php
  src/Symfony/Component/Messenger/Tests/Exception/HandlerFailedExceptionTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/MyOwnChildException.php
  src/Symfony/Component/Messenger/Tests/Fixtures/MyOwnException.php
Labels: Feature, Messenger, Status: Reviewed

#37767 [Form] fix mapping errors from unmapped forms
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationMapper.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/Fixtures/Issue.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/ViolationMapperTest.php
Labels: Bug, Form, Status: Needs Review

#37744 [Yaml] Fix for #36624; Allow PHP constant as first key in block
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#37676 [Stopwatch] Add name property to the stopwatchEvent
  src/Symfony/Component/Stopwatch/Section.php
  src/Symfony/Component/Stopwatch/StopwatchEvent.php
  src/Symfony/Component/Stopwatch/Tests/StopwatchEventTest.php
Labels: Feature, Status: Reviewed, Stopwatch

#29117 [Serializer] Add CompiledClassMetadataFactory
  .php_cs.dist
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/CacheWarmer/CompiledClassMetadataCacheWarmer.php
  src/Symfony/Component/Serializer/Mapping/Factory/ClassMetadataFactoryCompiler.php
  src/Symfony/Component/Serializer/Mapping/Factory/CompiledClassMetadataFactory.php
  src/Symfony/Component/Serializer/Tests/CacheWarmer/CompiledClassMetadataCacheWarmerTest.php
  src/Symfony/Component/Serializer/Tests/Fixtures/object-metadata.php
  src/Symfony/Component/Serializer/Tests/Fixtures/serializer.class.metadata.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/ClassMetadataFactoryCompilerTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/CompiledClassMetadataFactoryTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Feature, Serializer, Status: Reviewed

#37728 [FrameworkBundle] do not use deprecated mailer.logger_message_listener service
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Test/MailerAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Mailer/config.yml
Labels: Bug, FrameworkBundle, Status: Reviewed

#37804 [Console] Revert changes to Table->fillCells()
  src/Symfony/Component/Console/Helper/Table.php
Labels: Status: Reviewed

#37803 Fix for issue #37681
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/Html5ParserCrawlerTest.php
Labels: Bug, Status: Reviewed

#37683 [Console] allow multiline responses to console questions
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Helper/SymfonyQuestionHelper.php
  src/Symfony/Component/Console/Question/Question.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
  src/Symfony/Component/Console/Tests/Helper/SymfonyQuestionHelperTest.php
  src/Symfony/Component/Console/Tests/Question/QuestionTest.php
Labels: Console, Feature, Status: Reviewed

#35843 [Validator] Add target guards for Composite nested constraints
  src/Symfony/Component/Validator/Constraints/Composite.php
  src/Symfony/Component/Validator/Mapping/ClassMetadata.php
  src/Symfony/Component/Validator/Mapping/MemberMetadata.php
  src/Symfony/Component/Validator/Tests/Mapping/ClassMetadataTest.php
  src/Symfony/Component/Validator/Tests/Mapping/MemberMetadataTest.php
Labels: Bug, Status: Reviewed, Validator

#36140 [Validator] Add BC layer for notInRangeMessage when min and max are set
  src/Symfony/Component/Validator/Constraints/Range.php
  src/Symfony/Component/Validator/Constraints/RangeValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeTest.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeValidatorTest.php
Labels: Deprecation, Status: Reviewed, Validator

#37809 [Notifier] add doc for free mobile dsn
  src/Symfony/Component/Notifier/Bridge/FreeMobile/README.md
Labels: Notifier, Status: Reviewed

#37810 [Validator] RangeTest: fix expected deprecation
  src/Symfony/Component/Validator/Tests/Constraints/RangeTest.php
Labels: Status: Reviewed, Validator

#37771 Use PHPUnit 9.3 on php 8
  phpunit
Labels: Bug, Status: Reviewed

#37539 [Workflow] Added Context to Workflow Event
  src/Symfony/Bridge/Twig/Extension/WorkflowExtension.php
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Event/Event.php
  src/Symfony/Component/Workflow/Event/TransitionEvent.php
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
  src/Symfony/Component/Workflow/Workflow.php
Labels: Feature, Status: Reviewed, Workflow

#37811 [FrameworkBundle] Fix 7.4 CachePools integration tests
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/default.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/redis_config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/redis_custom_config.yml
Labels: FrameworkBundle, Status: Reviewed

#37813 [Workflow] Simplify code + Updated README.md
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Workflow.php
Labels: Status: Reviewed, Workflow

#37359 [Security] Add event to inspect authenticated token before it becomes effective
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/Event/AuthenticationTokenCreatedEvent.php
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerTest.php
Labels: Feature, Security, Status: Reviewed

#37332 [FrameworkBundle] Allow to leverage autoconfiguration for DataCollectors with template
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DataCollector/AbstractDataCollector.php
  src/Symfony/Bundle/FrameworkBundle/DataCollector/TemplateAwareDataCollectorInterface.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/ProfilerPass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/ProfilerPassTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#36648 [Notifier] Add Mobyt bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Mobyt/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Mobyt/LICENSE
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytOptions.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytTransport.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/README.md
  src/Symfony/Component/Notifier/Bridge/Mobyt/Tests/MobytOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/composer.json
  src/Symfony/Component/Notifier/Bridge/Mobyt/phpunit.xml.dist
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#37815 [Workflow] Choose which Workflow events should be dispatched
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Resources/config/workflow.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/workflow_with_no_events_to_dispatch.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/workflow_with_specified_events_to_dispatch.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflow_with_no_events_to_dispatch.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflow_with_specified_events_to_dispatch.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/workflow_with_no_events_to_dispatch.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/workflow_with_specified_events_to_dispatch.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
  src/Symfony/Component/Workflow/Workflow.php
Labels: Feature, Status: Reviewed, Workflow

#37725 [Form] Fix Guess phpdoc return type
  src/Symfony/Component/Form/Guess/Guess.php
Labels: Form, Status: Reviewed

#37820 add validator translation 99 for Italian language
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Status: Reviewed

#35967 [VarDumper] Add VAR_DUMPER_FORMAT=server format
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/VarDumper.php
Labels: Feature, Status: Reviewed, VarDumper

#36582 [Messenger] Add Beanstalkd bridge
  composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_transports.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/.gitattributes
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/.gitignore
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/LICENSE
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/README.md
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Tests/Fixtures/DummyMessage.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Tests/Transport/BeanstalkdReceiverTest.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Tests/Transport/BeanstalkdSenderTest.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Tests/Transport/BeanstalkdTransportFactoryTest.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Tests/Transport/BeanstalkdTransportTest.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Transport/BeanstalkdReceivedStamp.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Transport/BeanstalkdReceiver.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Transport/BeanstalkdSender.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Transport/BeanstalkdTransport.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Transport/BeanstalkdTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/composer.json
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/phpunit.xml.dist
  src/Symfony/Component/Messenger/Transport/TransportFactory.php
Labels: Feature, Messenger, Status: Reviewed

#37822 [Workflow] Improve and fix
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Component/Workflow/WorkflowEvents.php
Labels: Status: Reviewed, Workflow

#36596 Add cache.adapter.redis_tag_aware to use RedisCacheAwareAdapter
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/cache.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/cache.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Feature, Status: Reviewed

#37821 Postpone Range BC layer removal to 6.0.
  src/Symfony/Component/Validator/Constraints/Range.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeTest.php
  src/Symfony/Component/Validator/composer.json
Labels: Bug, Status: Reviewed

#37808 stop using the deprecated at() PHPUnit matcher
  src/Symfony/Bridge/Monolog/Tests/Handler/ConsoleHandlerTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/StopwatchExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/TemplateControllerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/DelegatingEngineTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Translation/TranslatorTest.php
  src/Symfony/Component/EventDispatcher/Tests/Debug/TraceableEventDispatcherTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/CachingFactoryDecoratorTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/LazyChoiceListTest.php
  src/Symfony/Component/Form/Tests/Extension/DataCollector/FormDataCollectorTest.php
  src/Symfony/Component/Form/Tests/FormRegistryTest.php
  src/Symfony/Component/Form/Tests/SimpleFormTest.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ContainerControllerResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TranslatorListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpKernelTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/Intl/Tests/Data/Bundle/Reader/BundleEntryReaderTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorCollectionTest.php
  src/Symfony/Component/Security/Http/Tests/FirewallTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ArrayDenormalizerTest.php
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
Labels: Status: Reviewed

#36131 [Mailer] Add a transport that uses php.ini settings for configuration
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Tests/Transport/NativeTransportFactoryTest.php
  src/Symfony/Component/Mailer/Transport.php
  src/Symfony/Component/Mailer/Transport/NativeTransportFactory.php
  src/Symfony/Component/Mailer/Transport/SendmailTransport.php
Labels: Feature, Mailer, Status: Reviewed

#37828 use expectWarning() when possible
  src/Symfony/Component/Intl/Tests/NumberFormatter/AbstractNumberFormatterTest.php
Labels: Status: Reviewed

#37823 [Messenger] Don't require doctrine/persistence when installing symfony/messenger
  src/Symfony/Component/Messenger/Bridge/Doctrine/composer.json
Labels: Messenger, Status: Reviewed

#37827 [Console] Rework the signal integration
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/SignalableCommandInterface.php
  src/Symfony/Component/Console/SignalRegistry/SignalRegistry.php
Labels: Console, Feature, Status: Reviewed

#37834 [FrameworkBundle] Remove unused form-resources complex type from XSD file
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: FrameworkBundle, Status: Reviewed

#37833 Added missing router config
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, Status: Reviewed

#37841 [VarDumper] Backport handler lock when using VAR_DUMPER_FORMAT
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/VarDumper/VarDumper.php
Labels: Bug, Status: Reviewed, VarDumper

#37843 [VarDumper] Fix exception about abstract_arg
  src/Symfony/Bundle/DebugBundle/Resources/config/services.php
  src/Symfony/Bundle/DebugBundle/Tests/DependencyInjection/DebugExtensionTest.php
Labels: Bug, Status: Reviewed, VarDumper

#37844 [Security] Add missing NullToken vote
  UPGRADE-5.2.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authorization/Voter/AuthenticatedVoter.php
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
Labels: Bug, Security, Status: Reviewed

#37138 [Notifier][Slack] Use Slack Web API chat.postMessage instead of WebHooks
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransport.php
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
Labels: Notifier, Status: Reviewed

#37840 [VarDumper] Support PHPUnit --colors option
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Feature, Status: Reviewed, VarDumper

#37845 [Serializer] Fix variadic support when using type hints
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/VariadicConstructorTypedArgsDummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
Labels: Bug, Serializer, Status: Needs Review

#37338 [Console] added TableCellStyle
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Helper/TableCell.php
  src/Symfony/Component/Console/Helper/TableCellStyle.php
  src/Symfony/Component/Console/Tests/Helper/TableCellStyleTest.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: Console, Feature, Status: Reviewed

#37586 [ErrorHandler][DebugClassLoader] Add mixed and static return types support
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/ErrorHandler/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/ReturnType.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/ReturnTypeParent.php
Labels: ErrorHandler, Feature, Status: Needs Review

#37218 [Lock] MongoDbStore skim non-standard options from uri
  src/Symfony/Component/Lock/Store/MongoDbStore.php
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreTest.php
Labels: Bug, Lock, Status: Reviewed

#37851 [Validator] Add Polish translation for ISIN constraint
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Status: Needs Review, Validator

#37849 [FrameworkBundle] Add missing mailer transports in xsd
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/mailer_with_dsn.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/mailer_with_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/mailer_with_dsn.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/mailer_with_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/mailer_with_dsn.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/mailer_with_transports.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#36810 [Messenger] Do not stack retry stamp
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageForRetryListener.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageForRetryListenerTest.php
Labels: Bug, Messenger, Status: Reviewed

#36340 [Serializer] Fix configuration of the cache key
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Bug, Serializer, Status: Needs Review

#37831 stop using deprecated PHPUnit APIs
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/ApplicationTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
  src/Symfony/Component/Finder/Tests/GitignoreTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/LocaleAwareListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/Mailer/Tests/Transport/FailoverTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/RoundRobinTransportTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/DispatchAfterCurrentBusMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/SerializerTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Mime/Tests/Encoder/Base64EncoderTest.php
  src/Symfony/Component/Mime/Tests/Encoder/QpMimeHeaderEncoderTest.php
  src/Symfony/Component/Mime/Tests/Encoder/Rfc2231EncoderTest.php
  src/Symfony/Component/Mime/Tests/Header/UnstructuredHeaderTest.php
  src/Symfony/Component/Mime/Tests/Part/Multipart/FormDataPartTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/DaoAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/LdapBindAuthenticationProviderTest.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
  src/Symfony/Component/Translation/Tests/Dumper/FileDumperTest.php
  src/Symfony/Component/Yaml/Tests/Command/LintCommandTest.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Status: Reviewed

#37852 [FrameworkBundle] Fix error in xsd
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, FrameworkBundle, Status: Reviewed

#37853 [Validator] ensure that the validator is a mock object for backwards-compatibility
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
Labels: Bug, Status: Needs Review, Validator

#37854 [FrameworkBundle] Fix mailer tests (FrameworkExtension)
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/mailer_with_dsn.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/mailer_with_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/mailer_with_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/mailer_with_transports.yml
Labels: Bug, FrameworkBundle, Status: Reviewed

#37847 [Serializer][Mime] Fix Mime message serialization
  src/Symfony/Bridge/Twig/Tests/Mime/TemplatedEmailTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Mime/Email.php
  src/Symfony/Component/Mime/Header/Headers.php
  src/Symfony/Component/Mime/Part/TextPart.php
  src/Symfony/Component/Mime/Tests/EmailTest.php
  src/Symfony/Component/Mime/Tests/MessageTest.php
  src/Symfony/Component/Mime/composer.json
  src/Symfony/Component/Serializer/Normalizer/MimeMessageNormalizer.php
  src/Symfony/Component/Serializer/composer.json
Labels: Bug, Feature, Mime, Serializer, Status: Needs Review

#37826 [Messenger] Fix BC layer for stamps moved into separate packages
  src/Symfony/Component/Messenger/Envelope.php
  src/Symfony/Component/Messenger/Tests/EnvelopeTest.php
Labels: Bug, Messenger, Status: Reviewed

#37855 [Validator] fix tests
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
Labels: Status: Needs Review, Validator

#37858 Fix tests namespaces
  src/Symfony/Component/Console/Tests/Formatter/NullOutputFormatterStyleTest.php
  src/Symfony/Component/Console/Tests/Formatter/NullOutputFormatterTest.php
  src/Symfony/Component/Validator/Tests/ValidationTest.php
Labels: Status: Reviewed

#37856 [Filesystem] replace the deprecated assertDirectoryNotExists() method
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Filesystem, Status: Needs Review

#37866 [Security] Fixed tests
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
Labels: Bug, Security, Status: Reviewed

#36925 [Security] Verifying if the password field is null
  src/Symfony/Component/Security/Http/Firewall/UsernamePasswordFormAuthenticationListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/UsernamePasswordFormAuthenticationListenerTest.php
Labels: Bug, Security, Status: Reviewed

#37867 [Messenger] Add message timestamp to amqp connection
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Feature, Messenger, Status: Reviewed

#37860 [Serializer][ClassDiscriminatorMapping] Fix getMappedObjectType() when a discriminator child extends another one
  src/Symfony/Component/Serializer/Mapping/ClassDiscriminatorMapping.php
  src/Symfony/Component/Serializer/Tests/Fixtures/AbstractDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/AbstractDummyThirdChild.php
  src/Symfony/Component/Serializer/Tests/Mapping/ClassDiscriminatorMappingTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
Labels: Bug, Serializer, Status: Reviewed

#37830 [Notifier] Add LinkedIn provider
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/LinkedIn/LinkedInOptions.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/LinkedInTransport.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/LinkedInTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/README.md
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Share/AbstractLinkedInShare.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Share/AuthorShare.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Share/LifecycleStateShare.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Share/ShareContentShare.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Share/ShareMediaShare.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Share/VisibilityShare.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Tests/LinkedInTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Tests/LinkedInTransportTest.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/composer.json
Labels: Deprecation, Feature, Notifier, Status: Reviewed

#37871 [Validator] mark the AssertingContextualValidator class as internal
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
Labels: Status: Reviewed, Validator

#36940 [Notifier] add support for smsapi-notifier
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Smsapi/LICENSE
  src/Symfony/Component/Notifier/Bridge/Smsapi/README.md
  src/Symfony/Component/Notifier/Bridge/Smsapi/SmsapiTransport.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/SmsapiTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/composer.json
  src/Symfony/Component/Notifier/Bridge/Smsapi/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#36541 ✨ [Mailer] Add Mailjet bridge
  src/Symfony/Component/Mailer/Bridge/Mailjet/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Mailjet/LICENSE
  src/Symfony/Component/Mailer/Bridge/Mailjet/README.md
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Transport/MailjetTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetSmtpTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/phpunit.xml.dist
  src/Symfony/Component/Mailer/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Mailer/Transport.php
  src/Symfony/Component/Mailer/composer.json
Labels: Feature, Mailer, Status: Reviewed

#37838 [Validator] fix tests
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
  src/Symfony/Component/Validator/Tests/Constraints/SequentiallyValidatorTest.php
Labels: Status: Reviewed, Validator

#37869 Fix the parameter names in the SecurityFactoryInterface::create() method
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/SecurityFactoryInterface.php
Labels: Bug, Status: Reviewed

#37872 [Sendgrid-Mailer] Fixed envelope recipients on sendgridApiTransport
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
Labels: Bug, Status: Reviewed

#37760 make return type correct
  src/Symfony/Component/Form/FormView.php
Labels: Bug, Status: Reviewed

#37877 fix: clarify parameter name to comply with deprecations from #34074
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationCheckerInterface.php
Labels: Status: Needs Review

#37878 🐛 [Mailer] Fix mailjet scheme bug
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetTransportFactory.php
Labels: Bug, Mailer, Status: Reviewed

#37755 Fix #37740: Cast all Request parameter values to string
  src/Symfony/Component/BrowserKit/Request.php
  src/Symfony/Component/BrowserKit/Tests/RequestTest.php
Labels: BrowserKit, Bug, Status: Reviewed

#36016 [Translation] Add a pseudo localization translator
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/PseudoLocalizationTranslator.php
  src/Symfony/Component/Translation/Tests/PseudoLocalizationTranslatorTest.php
Labels: Feature, Status: Reviewed, Translator

#37881 [Validator] Add Lithuanian translation for ISIN constraint
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
Labels: Status: Needs Review, Validator

#37868 [Lock] MongoDbStore handle duplicate querystring keys in mongodb uri when stripping
  src/Symfony/Component/Lock/Store/MongoDbStore.php
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreTest.php
Labels: Bug, Status: Reviewed

#37857 [PropertyInfo] Fix ReflectionExtractor + minor tweaks
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
Labels: Bug, PropertyInfo, Status: Needs Review

#37886 [Security] Fix tests
  src/Symfony/Component/Security/Http/Tests/Firewall/UsernamePasswordFormAuthenticationListenerTest.php
Labels: Security, Status: Needs Review

#32133 [PropertyAccess] Allow to disable magic __get & __set
  UPGRADE-5.2.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/property_access.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/property_accessor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/property_accessor.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/property_accessor.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/PropertyAccess/CHANGELOG.md
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/PropertyAccessorBuilder.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorBuilderTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
  src/Symfony/Component/PropertyAccess/composer.json
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/composer.json
Labels: Deprecation, Feature, PropertyAccess, Status: Reviewed

#37888 [Mailer] Reorder headers used to determine Sender
  src/Symfony/Component/Mailer/DelayedEnvelope.php
  src/Symfony/Component/Mailer/Tests/EnvelopeTest.php
Labels: Bug, Mailer, Status: Reviewed

#37890 [Notifier] Fixed base_uri while call auth/time API
  src/Symfony/Component/Notifier/Bridge/OvhCloud/OvhCloudTransport.php
Labels: Bug, Notifier, Status: Reviewed

#37891 [Mailer] Mailjet - properly format Cc and Bcc for API
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetApiTransport.php
Labels: Bug, Mailer, Status: Needs Review

#37895 [HttpClient][ResponseTrait] Fix typo
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
Labels: HttpClient, Status: Reviewed

#37900 [Mailer] Fixed mandrill api header structure
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Tests/Transport/MandrillApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillApiTransport.php
Labels: Bug, Mailer, Status: Needs Review

#37899 [Mailer] Support reply-to in SesApiAsyncAwsTransport
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesApiAsyncAwsTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiAsyncAwsTransport.php
Labels: Bug, Mailer, Status: Reviewed

#36515 [HttpKernel] Add `$kernel->getBuildDir()` to separate it from the cache directory
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Bundle/DebugBundle/Tests/DependencyInjection/DebugExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Compiler/AddSessionDomainConstraintPassTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/DependencyInjection/WebProfilerExtensionTest.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/KernelInterface.php
  src/Symfony/Component/HttpKernel/RebootableInterface.php
Labels: Feature, Status: Reviewed

#37889 Toolbar toggler accessibility
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.html.twig
Labels: Status: Reviewed

#37708 Allow Drupal to wrap the Symfony test listener
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
Labels: Status: Reviewed

#33540 [Serializer] Add special '*' serialization group that allows any group
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
Labels: BC Break, Feature, Serializer, Status: Reviewed

#36573 [Notifier] Add Esendex bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Esendex/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Esendex/EsendexTransport.php
  src/Symfony/Component/Notifier/Bridge/Esendex/EsendexTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Esendex/LICENSE
  src/Symfony/Component/Notifier/Bridge/Esendex/README.md
  src/Symfony/Component/Notifier/Bridge/Esendex/Tests/EsendexTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Esendex/composer.json
  src/Symfony/Component/Notifier/Bridge/Esendex/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#37943 [Security] Fixed RememberMeAuthenticator::autoLogin() logic in the authenticator
  src/Symfony/Component/Security/Http/Authenticator/RememberMeAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/RememberMeAuthenticatorTest.php
Labels: Bug, Security, Status: Reviewed

#37949 [Yaml] fix more numeric cases changing in PHP 8
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Status: Reviewed, Yaml

#37926 [lock] Lazy create table in lock PDO store
  src/Symfony/Component/Lock/Store/PdoStore.php
Labels: Feature, Lock, Status: Reviewed

#30335 [PropertyInfo] ConstructorExtractor which has higher priority than PhpDocExtractor and ReflectionExtractor
  src/Symfony/Component/PropertyInfo/DependencyInjection/PropertyInfoConstructorPass.php
  src/Symfony/Component/PropertyInfo/Extractor/ConstructorArgumentTypeExtractorInterface.php
  src/Symfony/Component/PropertyInfo/Extractor/ConstructorExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/DependencyInjection/PropertyInfoConstructorPassTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ConstructorExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/ConstructorDummy.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/DummyExtractor.php
Labels: Bug, Feature, PropertyInfo, Status: Needs Review

#37951 [FrameworkBundle] Make AbstractPhpFileCacheWarmer public
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AbstractPhpFileCacheWarmer.php
Labels: FrameworkBundle, Status: Needs Review

#37952 Backport: Improve link script with rollback when using symlink
  link
Labels: Status: Reviewed

#37953 [DI] fix dumping lazy non-shared services
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
Labels: Bug, DependencyInjection, Status: Reviewed

#37927 [HttpClient] fix chaining promises returned by HttplugClient
  src/Symfony/Component/HttpClient/Response/HttplugPromise.php
  src/Symfony/Component/HttpClient/Tests/Response/HttplugPromiseTest.php
Labels: Bug, HttpClient, Status: Reviewed

#37622 [PropertyAccess] Fix accessing dynamic properties
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/TestClassDynamicProperty.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
Labels: Bug, PropertyAccess, Status: Needs Review

#37941 [TwigBridge] allow null for $message of filter method `trans`
  src/Symfony/Bridge/Twig/Extension/TranslationExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/TranslationExtensionTest.php
Labels: Bug, Status: Needs Review, TwigBridge

#37942 [Security] Renamed provider key to firewall name
  UPGRADE-5.2.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AbstractFactory.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Security/Factory/AbstractFactoryTest.php
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authentication/Provider/PreAuthenticatedAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Authentication/Provider/RememberMeAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Authentication/Provider/UserAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/RememberMeToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/SwitchUserToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/PreAuthenticatedAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/RememberMeAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/UserAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/PreAuthenticatedTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/RememberMeTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/SwitchUserTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/UsernamePasswordTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/ExpressionLanguageTest.php
  src/Symfony/Component/Security/Http/Authentication/CustomAuthenticationSuccessHandler.php
  src/Symfony/Component/Security/Http/Authentication/DefaultAuthenticationSuccessHandler.php
  src/Symfony/Component/Security/Http/Authenticator/AbstractPreAuthenticatedAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/Token/PostAuthenticationToken.php
  src/Symfony/Component/Security/Http/Event/LoginSuccessEvent.php
  src/Symfony/Component/Security/Http/Firewall/AbstractAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/AbstractPreAuthenticatedListener.php
  src/Symfony/Component/Security/Http/Firewall/BasicAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Security/Http/Firewall/UsernamePasswordJsonAuthenticationListener.php
  src/Symfony/Component/Security/Http/Logout/LogoutUrlGenerator.php
  src/Symfony/Component/Security/Http/RememberMe/AbstractRememberMeServices.php
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/DefaultAuthenticationSuccessHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/RememberMeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/SessionStrategyListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Logout/LogoutUrlGeneratorTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/AbstractRememberMeServicesTest.php
  src/Symfony/Component/Security/Http/Tests/Util/TargetPathTraitTest.php
  src/Symfony/Component/Security/Http/Util/TargetPathTrait.php
Labels: Deprecation, Security, Status: Reviewed

#37962 Update Notifier bridge DSN in readme
  src/Symfony/Component/Notifier/Bridge/Firebase/README.md
  src/Symfony/Component/Notifier/Bridge/Mattermost/README.md
  src/Symfony/Component/Notifier/Bridge/RocketChat/README.md
  src/Symfony/Component/Notifier/Bridge/Sinch/README.md
Labels: Status: Reviewed

#37960 [PhpUnit] Add polyfill for assertMatchesRegularExpression()
  src/Symfony/Bridge/PhpUnit/Legacy/PolyfillTestCaseTrait.php
Labels: Bug, Feature, PhpUnitBridge, Status: Reviewed

#37934 [Mailer] Mailjet Add ability to pass custom headers to API
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Transport/MailjetApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Transport/MailjetTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/composer.json
Labels: Feature, Mailer, Status: Reviewed

#37846 [Security] Lazily load the user during the check passport event
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AuthenticatorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AuthenticatorBundle/ApiAuthenticator.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AuthenticatorBundle/ProfileController.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/CsrfFormLoginTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Authenticator/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Authenticator/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Authenticator/firewall_user_provider.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Authenticator/implicit_user_provider.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Authenticator/routing.yml
  src/Symfony/Component/Ldap/Tests/Security/CheckLdapCredentialsListenerTest.php
  src/Symfony/Component/Security/Guard/Authenticator/GuardBridgeAuthenticator.php
  src/Symfony/Component/Security/Guard/Tests/Authenticator/GuardBridgeAuthenticatorTest.php
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/Authenticator/AbstractPreAuthenticatedAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/FormLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/HttpBasicAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/JsonLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/UserBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Passport.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/SelfValidatingPassport.php
  src/Symfony/Component/Security/Http/Authenticator/RememberMeAuthenticator.php
  src/Symfony/Component/Security/Http/EventListener/CsrfProtectionListener.php
  src/Symfony/Component/Security/Http/EventListener/UserProviderListener.php
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerTest.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/JsonLoginAuthenticatorTest.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/X509AuthenticatorTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/CheckCredentialsListenerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/CsrfProtectionListenerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/RememberMeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/SessionStrategyListenerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/UserCheckerListenerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/UserProviderListenerTest.php
Labels: Deprecation, Feature, Security, Status: Reviewed

#37963 Update Notifier bridge DSN in readme
  src/Symfony/Component/Notifier/Bridge/Nexmo/README.md
  src/Symfony/Component/Notifier/Bridge/Slack/README.md
  src/Symfony/Component/Notifier/Bridge/Telegram/README.md
  src/Symfony/Component/Notifier/Bridge/Twilio/README.md
Labels: Status: Reviewed

#35780 [Semaphore] Added the component
  composer.json
  src/Symfony/Component/Semaphore/.gitattributes
  src/Symfony/Component/Semaphore/.gitignore
  src/Symfony/Component/Semaphore/CHANGELOG.md
  src/Symfony/Component/Semaphore/Exception/ExceptionInterface.php
  src/Symfony/Component/Semaphore/Exception/InvalidArgumentException.php
  src/Symfony/Component/Semaphore/Exception/RuntimeException.php
  src/Symfony/Component/Semaphore/Exception/SemaphoreAcquiringException.php
  src/Symfony/Component/Semaphore/Exception/SemaphoreExpiredException.php
  src/Symfony/Component/Semaphore/Exception/SemaphoreReleasingException.php
  src/Symfony/Component/Semaphore/Key.php
  src/Symfony/Component/Semaphore/LICENSE
  src/Symfony/Component/Semaphore/PersistingStoreInterface.php
  src/Symfony/Component/Semaphore/README.md
  src/Symfony/Component/Semaphore/Semaphore.php
  src/Symfony/Component/Semaphore/SemaphoreFactory.php
  src/Symfony/Component/Semaphore/SemaphoreInterface.php
  src/Symfony/Component/Semaphore/Store/RedisStore.php
  src/Symfony/Component/Semaphore/Store/Resources/redis_delete.lua
  src/Symfony/Component/Semaphore/Store/Resources/redis_put_off_expiration.lua
  src/Symfony/Component/Semaphore/Store/Resources/redis_save.lua
  src/Symfony/Component/Semaphore/Store/StoreFactory.php
  src/Symfony/Component/Semaphore/Tests/SemaphoreFactoryTest.php
  src/Symfony/Component/Semaphore/Tests/SemaphoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/AbstractRedisStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/AbstractStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/PredisStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/RedisArrayStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/RedisClusterStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/RedisStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/StoreFactoryTest.php
  src/Symfony/Component/Semaphore/composer.json
  src/Symfony/Component/Semaphore/phpunit.xml.dist
Labels: Feature, Status: Reviewed

#35893 [HttpClient][DI] Add an option to use the MockClient in functional tests
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/http_client_mock_response_factory.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/http_client_mock_response_factory.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/http_client_mock_response_factory.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: DependencyInjection, Feature, HttpClient, Status: Reviewed

#37578 [HttpClient] fix pausing AmpResponse
  composer.json
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Component/HttpClient/composer.json
Labels: Bug, HttpClient, Status: Reviewed

#37964 [PhpUnitBridge] Move assertMatchesRegularExpression in PolyfillAssertTrait
  src/Symfony/Bridge/PhpUnit/Legacy/PolyfillAssertTrait.php
  src/Symfony/Bridge/PhpUnit/Legacy/PolyfillTestCaseTrait.php
Labels: PhpUnitBridge, Status: Needs Review

#37965 Update Notifier bridge DSN in readme
  src/Symfony/Component/Notifier/Bridge/GoogleChat/README.md
  src/Symfony/Component/Notifier/Bridge/Infobip/README.md
  src/Symfony/Component/Notifier/Bridge/LinkedIn/README.md
  src/Symfony/Component/Notifier/Bridge/Mobyt/README.md
  src/Symfony/Component/Notifier/Bridge/Zulip/README.md
Labels: Status: Reviewed

#37432 [Mailer] Implement additional mailer transport options
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Tests/Transport/SendmailTransportFactoryTest.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/EsmtpTransportFactoryTest.php
  src/Symfony/Component/Mailer/Transport/SendmailTransportFactory.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransportFactory.php
Labels: Feature, Mailer, Status: Reviewed

#37970 [PhpUnitBridge] Polyfill new phpunit 9.1 assertions
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/Legacy/PolyfillAssertTrait.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#37973 [Security] Also mark the authenticator security system experimental in 5.2
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManagerInterface.php
  src/Symfony/Component/Security/Http/Authentication/UserAuthenticatorInterface.php
  src/Symfony/Component/Security/Http/Authenticator/AbstractAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/AbstractLoginFormAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/AbstractPreAuthenticatedAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/AuthenticatorInterface.php
  src/Symfony/Component/Security/Http/Authenticator/FormLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/HttpBasicAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/JsonLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/AnonymousPassport.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/BadgeInterface.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/CsrfTokenBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/PasswordUpgradeBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/PreAuthenticatedUserBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/RememberMeBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Credentials/CredentialsInterface.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Credentials/CustomCredentials.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Credentials/PasswordCredentials.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Passport.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/PassportInterface.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/PassportTrait.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/SelfValidatingPassport.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/UserPassportInterface.php
  src/Symfony/Component/Security/Http/Authenticator/X509Authenticator.php
  src/Symfony/Component/Security/Http/EventListener/CheckCredentialsListener.php
  src/Symfony/Component/Security/Http/EventListener/CsrfProtectionListener.php
  src/Symfony/Component/Security/Http/EventListener/PasswordMigratingListener.php
  src/Symfony/Component/Security/Http/EventListener/RememberMeListener.php
  src/Symfony/Component/Security/Http/EventListener/UserCheckerListener.php
  src/Symfony/Component/Security/Http/Firewall/AuthenticatorManagerListener.php
Labels: Security, Status: Reviewed

#37971 [PropertyInfo] Backport support for typed properties (PHP 7.4)
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php74Dummy.php
Labels: Bug, PropertyInfo, Status: Reviewed

#37983 [PropertyInfo] Fix ReflectionExtractor::getTypesFromConstructor
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
Labels: Bug, PropertyInfo, Status: Reviewed
