Repository symfony/symfony, pull requests merged in 2020-06, with the labels that each got.

#37032 [VarExporter] tfix: s/markAsSkipped/markTestSkipped/
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Bug, Status: Reviewed, VarExporter

#37028 [FrameworkBundle] Fix enabled_locales behavior
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#37031 [Security] Fixed PUBLIC_ACCESS in authenticated sessions
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
Labels: Bug, Security, Status: Reviewed

#37049 [Serializer] take into account the context when preserving empty array objects
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Bug, Serializer, Status: Reviewed

#37057 [Validator] simplify the tests
  src/Symfony/Component/Validator/Tests/Constraints/ExpressionLanguageSyntaxValidatorTest.php
Labels: Status: Reviewed, Validator

#37020 [ExpressionLanguage] reset the internal state when the parser is finished
  src/Symfony/Component/ExpressionLanguage/Parser.php
Labels: Bug, ExpressionLanguage, Status: Reviewed

#37056 [DoctrineBridge] register event listeners depending on the installed packages
  src/Symfony/Bridge/Doctrine/SchemaListener/MessengerTransportDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/PdoCacheAdapterDoctrineSchemaSubscriber.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#37077 [WebProfilerBundle] Move ajax clear event listener initialization on loadToolbar
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Status: Reviewed, WebProfilerBundle

#37058 [FrameworkBundle] Extension Serializer issue
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Serializer, Status: Reviewed

#37065 [HttpClient] Throw JsonException instead of TransportException on empty response in Response::toArray()
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Component/HttpClient/Tests/Response/MockResponseTest.php
Labels: Bug, HttpClient, Status: Reviewed

#37047 [SecurityBundle] Only register CSRF protection listener if CSRF is available
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterCsrfFeaturesPass.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterCsrfTokenClearingLogoutHandlerPass.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator.xml
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
Labels: Bug, Deprecation, SecurityBundle, Status: Reviewed

#37038 Fix invalid char in SQS Headers
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Bug, Deprecation, Status: Reviewed

#37022 [DependencyInjection] Improve missing package/version deprecation
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#36991 [String] use base58 by default in ByteString::fromRandom()
  src/Symfony/Component/String/ByteString.php
Labels: Status: Reviewed, String

#36665 SCA: file_exists -> is_dir|is_file in foundation and kernel
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpKernel/CacheWarmer/CacheWarmerAggregate.php
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
  src/Symfony/Component/HttpKernel/HttpCache/Store.php
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Reviewed

#37092 [PhpUnitBridge] fix undefined var on version 3.4
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, PhpUnitBridge, Status: Needs Review

#37095 [PhpUnitBridge] Fix undefined index when output of "composer show" cannot be parsed
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, PhpUnitBridge, Status: Needs Review

#37085 [Form] properly cascade validation to child forms
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
Labels: Bug, Form, Status: Reviewed

#37105 refs #36279 remove yellow color when merely deprecations are thrown
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/logger.html.twig
Labels: Feature, Status: Reviewed

#37109 Fix minor mistake in error message
  src/Symfony/Component/Mime/Address.php
Labels: Bug, Mime, Status: Reviewed

#37118 [Mime] Remove unused var
  src/Symfony/Component/Mime/Crypto/SMimeSigner.php
Labels: Mime, Status: Reviewed

#37048 [HttpClient] fix monitoring timeouts when other streams are active
  src/Symfony/Component/HttpClient/Internal/NativeClientState.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
  src/Symfony/Contracts/HttpClient/Test/TestHttpServer.php
Labels: Bug, HttpClient, Status: Needs Review

#37127 [Messenger/AmazonSqsBridge] Fixed left-over debug statement
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Bug, Status: Reviewed

#37117 [Messenger/DoctrineBridge] set column length for mysql 5.6 compatibility
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Bug, Status: Reviewed

#37053 [PropertyAccess] Fix getter call order BC
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/TestClass.php
  src/Symfony/Component/PropertyAccess/composer.json
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
Labels: Bug, PropertyAccess, Status: Reviewed

#37121 [Contracts] Add missing "extra.thanks" entries in composer.json
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/Deprecation/composer.json
  src/Symfony/Contracts/EventDispatcher/composer.json
  src/Symfony/Contracts/HttpClient/composer.json
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/Translation/composer.json
Labels: Contracts, Status: Needs Review

#37130 [Console] allow cursor to be used even when STDIN is not defined
  src/Symfony/Component/Console/Cursor.php
Labels: Bug, Console, Status: Reviewed

#37126 [SecurityBundle] Fix the session listener registration under the new authentication manager
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#37141 [Messenger] fix forward compatibility with Doctrine DBAL 2.11+
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
Labels: Messenger, Status: Reviewed

#37131 Update welcome.html.php
  src/Symfony/Component/HttpKernel/Resources/welcome.html.php
Labels: Status: Reviewed

#37154 [FrameworkBundle] Remove reference to APP_SECRET in MicroKernelTrait
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#36779 [HttpClient] add AsyncDecoratorTrait to ease processing responses without breaking async
  src/Symfony/Component/HttpClient/AsyncDecoratorTrait.php
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Chunk/ErrorChunk.php
  src/Symfony/Component/HttpClient/Internal/HttplugWaitLoop.php
  src/Symfony/Component/HttpClient/Psr18Client.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Response/AsyncContext.php
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Response/CommonResponseTrait.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Response/StreamWrapper.php
  src/Symfony/Component/HttpClient/Response/TransportResponseTrait.php
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
  src/Symfony/Component/HttpClient/Tests/Response/MockResponseTest.php
Labels: Feature, HttpClient, Status: Reviewed

#37136 [HttpClient] added support for pausing responses with a new `pause_handler` callable exposed as an info item
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
  src/Symfony/Component/HttpClient/Internal/NativeClientState.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: Feature, HttpClient, Status: Reviewed

#37163 [FrameworkBundle] Fix XSD definition
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, FrameworkBundle, Status: Reviewed

#37159 [Mailer] Fixed generator bug when creating multiple transports using Transport::fromDsn
  src/Symfony/Component/Mailer/Tests/TransportTest.php
  src/Symfony/Component/Mailer/Transport.php
Labels: Bug, Mailer, Status: Reviewed

#36736 [FrameworkBundle][Mailer] Add a way to configure some email headers from semantic configuration
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/mailer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/mailer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/mailer.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Mailer/EventListener/MessageListener.php
  src/Symfony/Component/Mailer/Tests/EventListener/MessageListenerTest.php
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Mime/Header/Headers.php
  src/Symfony/Component/Mime/Tests/Header/HeadersTest.php
Labels: Feature, FrameworkBundle, Mailer, Status: Reviewed

#37164 [WebProfilerBundle] Set NullLogger for functional tests
  src/Symfony/Bundle/WebProfilerBundle/Tests/Functional/WebProfilerBundleKernel.php
Labels: Status: Needs Review, WebProfilerBundle

#37114 Provides a way to override cache and log folders from the ENV
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: FrameworkBundle, Status: Reviewed

#37169 [Cache] fix forward compatibility with Doctrine DBAL 3
  src/Symfony/Component/Cache/Tests/Traits/PdoPruneableTrait.php
  src/Symfony/Component/Cache/Traits/PdoTrait.php
Labels: Bug, Cache, Status: Reviewed

#37167 [Mime] use fromString when creating a new Address
  src/Symfony/Component/Mime/Address.php
Labels: Bug, Mime, Status: Needs Review

#37145 [HttpClient] improve monitoring of timeouts with AmpHttpClient
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
Labels: Bug, HttpClient, Status: Needs Review

#37144 [DI] Add check around class_alias for generated proxy classes
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
Labels: Bug, DependencyInjection, Status: Needs Review

#37175 [Mime] Deprecate Address::fromString()
  UPGRADE-5.2.md
  UPGRADE-6.0.md
  src/Symfony/Component/Mime/Address.php
  src/Symfony/Component/Mime/CHANGELOG.md
  src/Symfony/Component/Mime/Tests/AddressTest.php
  src/Symfony/Component/Mime/composer.json
Labels: Deprecation, Mime, Status: Reviewed

#37147 [DependencyInjection] Display alternatives when a service is not found in CheckExceptionOnInvalidReferenceBehaviorPass
  src/Symfony/Component/DependencyInjection/Compiler/CheckExceptionOnInvalidReferenceBehaviorPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckExceptionOnInvalidReferenceBehaviorPassTest.php
Labels: DependencyInjection, Status: Reviewed

#37153 [PhpUnitBridge] Fix ExpectDeprecationTrait::expectDeprecation() conflict
  src/Symfony/Bridge/PhpUnit/ExpectDeprecationTrait.php
  src/Symfony/Bridge/PhpUnit/Legacy/ExpectDeprecationTraitBeforeV8_4.php
  src/Symfony/Bridge/PhpUnit/Legacy/ExpectDeprecationTraitForV8_4.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#37040 [PropertyInfo] Support using the SerializerExtractor with no group check
  src/Symfony/Component/PropertyInfo/Extractor/SerializerExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/SerializerExtractorTest.php
Labels: Feature, PropertyInfo, Status: Reviewed

#37039 [ExpressionLanguage] add details for error messages
  src/Symfony/Component/ExpressionLanguage/Node/GetAttrNode.php
Labels: ExpressionLanguage, Status: Reviewed

#36913 [FrameworkBundle] fix type annotation on ControllerTrait::addFlash()
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php
Labels: Status: Reviewed

#36775 [DependencyInjection] Add abstract_arg() and param()
  src/Symfony/Component/DependencyInjection/Loader/Configurator/AbstractConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
Labels: DependencyInjection, Feature, Status: Reviewed

#36802 [Console] Add support for true colors
  src/Symfony/Component/Console/Color.php
  src/Symfony/Component/Console/Formatter/OutputFormatterStyle.php
  src/Symfony/Component/Console/Tests/ColorTest.php
  src/Symfony/Component/Console/Tests/Formatter/OutputFormatterStyleTest.php
  src/Symfony/Component/Console/Tests/Formatter/OutputFormatterTest.php
Labels: Console, Feature, Status: Needs Work

#37181 [Mailer] Remove an internal annot
  src/Symfony/Component/Mailer/Messenger/SendEmailMessage.php
Labels: Bug, Mailer, Status: Needs Review

#37177 [Ldap] fix refreshUser() ignoring extra_fields
  src/Symfony/Component/Ldap/Security/LdapUserProvider.php
  src/Symfony/Component/Ldap/Tests/Security/LdapUserProviderTest.php
Labels: Bug, Ldap, Status: Reviewed

#36778 Use PHP instead of XML as the prefered service/route configuration in core
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/UnusedTagsPassUtils.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/Resources/config/console.php
  src/Symfony/Bundle/TwigBundle/Resources/config/console.xml
  src/Symfony/Bundle/TwigBundle/Resources/config/form.php
  src/Symfony/Bundle/TwigBundle/Resources/config/form.xml
  src/Symfony/Bundle/TwigBundle/Resources/config/mailer.php
  src/Symfony/Bundle/TwigBundle/Resources/config/mailer.xml
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
  src/Symfony/Bundle/TwigBundle/composer.json
Labels: Feature, Status: Reviewed

#37165 [Mime] Add DKIM support
  src/Symfony/Component/Mime/CHANGELOG.md
  src/Symfony/Component/Mime/Crypto/DkimOptions.php
  src/Symfony/Component/Mime/Crypto/DkimSigner.php
  src/Symfony/Component/Mime/Message.php
  src/Symfony/Component/Mime/Tests/Crypto/DkimSignerTest.php
Labels: Feature, Mime, Status: Reviewed

#37189 [Notifier] Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.xml
Labels: Notifier, Status: Reviewed

#37196 [HttpClient] make DNS resolution lazy with NativeHttpClient
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: HttpClient, Status: Reviewed

#37191 [HttpClient] fix offset computation for data chunks
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
Labels: Bug, HttpClient, Status: Reviewed

#37190 [HttpClient] disable AMP's inactivity timeout, we deal with it on our own already
  src/Symfony/Component/HttpClient/AmpHttpClient.php
Labels: Bug, HttpClient, Status: Reviewed

#37200 [FrameworkBundle] Convert config/mime_type.xml to .php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mime_type.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mime_type.xml
Labels: FrameworkBundle, Status: Reviewed

#37198 [FrameworkBundle] Add support for tagged_iterator/tagged_locator in unused tags util
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/UnusedTagsPassUtils.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#37201 [FrameworkBundle] Convert config/secrets.xml to .php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/secrets.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/secrets.xml
Labels: FrameworkBundle, Status: Reviewed

#37205 [Framework] Convert config/error_renderer.xml to php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/error_renderer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/error_renderer.xml
Labels: FrameworkBundle, Status: Reviewed

#37203 [PropertyInfo] Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/property_info.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/property_info.xml
Labels: FrameworkBundle, PropertyInfo, Status: Reviewed

#37054 [String] Fix ellipsis of truncate when not using cut option
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Bug, Status: Reviewed, String

#37044 [DependencyInjection] Apply ExpressionLanguageProviderPass to router.default
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddExpressionLanguageProvidersPass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/AddExpressionLanguageProvidersPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#37193 [DependencyInjection][CheckTypeDeclarationsPass] Always resolve parameters
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/BarMethodCall.php
Labels: Bug, DependencyInjection, Status: Reviewed

#37182 [HttpKernel] Fix regression where Store does not return response body correctly
  src/Symfony/Component/HttpKernel/HttpCache/Store.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/StoreTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#37214 Remove non-existing arg and param from serializer service config
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.xml
Labels: Bug, Status: Reviewed

#37219 FrameworkBundle fix incorrect nested arrays in php config
  src/Symfony/Bundle/FrameworkBundle/Resources/config/secrets.php
Labels: Bug, Status: Reviewed

#37206 [FrameworkBundle] Move security-csrf configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/security_csrf.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/security_csrf.xml
Labels: FrameworkBundle, Status: Reviewed

#37212 [FrameworkBundle] Move debug configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.xml
Labels: FrameworkBundle, Status: Reviewed

#37207 [Ssi] Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/ssi.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/ssi.xml
Labels: Status: Reviewed

#37199 [FrameworkBundle] Move profiling configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/profiling.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/profiling.xml
Labels: FrameworkBundle, Status: Reviewed

#37209 [DI][Framework] Use PHP instead of XML for test config
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/test.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/test.xml
Labels: DependencyInjection, Status: Reviewed

#37223 [FrameworkBundle] Move identity translator configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/identity_translator.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/identity_translator.xml
Labels: FrameworkBundle, Status: Reviewed

#37211 [Fragment] Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/fragment_listener.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/fragment_listener.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/fragment_renderer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/fragment_renderer.xml
Labels: Status: Reviewed

#37230 [FrameworkBundle] Move profiling collectors configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/collectors.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/collectors.xml
Labels: FrameworkBundle, Status: Reviewed

#37225 [SecurityBundle] convert templating configuration to PHP
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/templating_twig.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/templating_twig.xml
Labels: SecurityBundle, Status: Reviewed

#37215 [FrameworkBundle] Move web configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web_link.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web_link.xml
Labels: FrameworkBundle, Status: Reviewed

#37226 [Lock] Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/lock.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/lock.xml
Labels: Feature, Lock, Status: Reviewed

#37202 [PropertyAccess] Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/property_access.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/property_access.xml
Labels: PropertyAccess, Status: Reviewed

#37236 remove unused param from validator service config
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.xml
Labels: Status: Reviewed

#37232 [APP_CACHE_DIR] Ensure a split per environment when using that new variable
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: Status: Reviewed

#37103 [Form] switch the context when validating nested forms
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorFunctionalTest.php
  src/Symfony/Component/Form/composer.json
Labels: Bug, Form, Status: Reviewed

#37227 [DependencyInjection][CheckTypeDeclarationsPass] Handle unresolved parameters pointing to environment variables
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#37244 Release v3.4.42
  CHANGELOG-3.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#37246 Release v4.4.10
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#37247 Release v5.0.10
  CHANGELOG-5.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#37248 Release v5.1.1
  CHANGELOG-5.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#35834 [Notifier] Remove default transport property in Transports class
  src/Symfony/Component/Notifier/Channel/ChatChannel.php
  src/Symfony/Component/Notifier/Tests/Transport/TransportsTest.php
  src/Symfony/Component/Notifier/Transport/Transports.php
Labels: Feature, Notifier, Status: Reviewed

#37216 [FrameworkBundle] Move console configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.xml
Labels: Feature, FrameworkBundle, Status: Reviewed

#37241 [Console] Fix Docblock for CommandTester::getExitCode
  src/Symfony/Component/Console/Tester/TesterTrait.php
  src/Symfony/Component/Console/Tests/Tester/CommandTesterTest.php
Labels: Bug, Console, Status: Needs Review

#37217 [FrameworkBundle] Move session configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.xml
Labels: FrameworkBundle, Status: Reviewed

#37222 [Validator][FrameworkBundle] Move configurations from XML to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator_debug.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator_debug.xml
Labels: FrameworkBundle, Status: Reviewed, Validator

#37234 [Cache] Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache_debug.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache_debug.xml
Labels: Cache, Status: Reviewed

#37261 Fix register csrf protection listener
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterCsrfFeaturesPass.php
Labels: Bug, Status: Reviewed

#37276 [Form] Fixed block prefixes hierarchy of the CollectionType
  src/Symfony/Component/Form/Extension/Core/Type/CollectionType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CollectionTypeTest.php
Labels: Bug, Form, Ready, Status: Reviewed

#37279 [Form] Fixed prototype block prefixes hierarchy of the CollectionType
  src/Symfony/Component/Form/Extension/Core/Type/CollectionType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CollectionTypeTest.php
Labels: Bug, Form, Ready, Status: Reviewed

#36975 [PropertyInfo] Make PhpDocExtractor compatible with phpDocumentor v5
  composer.json
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/InvalidDummy.php
  src/Symfony/Component/PropertyInfo/composer.json
Labels: Bug, PropertyInfo, Ready, Status: Reviewed

#37160 Reset question validator attempts only for actual stdin
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
Labels: Bug, Ready, Status: Reviewed

#37283 [SecurityBundle] Fix CookieClearingLogoutListener DI configuration
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_listeners.xml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/LogoutTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Logout/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Logout/config_access.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Logout/config_cookie_clearing.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Logout/routing.yml
Labels: Bug, SecurityBundle, Status: Reviewed

#37204 [FrameworkBundle] Move mailer configuration to php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_debug.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_debug.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.xml
Labels: FrameworkBundle, Status: Reviewed

#37258 [FrameworkBundle] Move translation service configuration from xml to php #37186
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation_debug.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation_debug.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: FrameworkBundle, Status: Reviewed

#37265 [HttpFoundation] use InputBag for Request::$request only if data is coming from a form
  src/Symfony/Component/HttpFoundation/InputBag.php
  src/Symfony/Component/HttpFoundation/ParameterBag.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/InputBagTest.php
  src/Symfony/Component/HttpFoundation/Tests/ParameterBagTest.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Ready, Status: Reviewed

#37240 [WebProfilerBundle] Move xml service configuration to php
  src/Symfony/Bundle/WebProfilerBundle/DependencyInjection/WebProfilerExtension.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/profiler.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/profiler.xml
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/toolbar.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/toolbar.xml
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: Status: Reviewed, WebProfilerBundle

#37286 [Console] Reset question validator attempts only for actual stdin (bis)
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Bug, Console, Status: Reviewed

#37288 Release v5.1.2
  CHANGELOG-5.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#37280 [Routing] Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing.xml
Labels: Routing, Status: Reviewed

#37224 [FrameworkBundle] Move XML service configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.xml
Labels: FrameworkBundle, Status: Reviewed

#37287 [request] Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/request.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/request.xml
Labels: Bug, Deprecation, Feature, Status: Reviewed

#37238 [SecurityBundle] Move configuration from XML to PHP
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/collectors.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/collectors.xml
  src/Symfony/Bundle/SecurityBundle/Resources/config/console.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/console.xml
  src/Symfony/Bundle/SecurityBundle/Resources/config/guard.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/guard.xml
Labels: Status: Reviewed

#37237 [DebugBundle] Move xml service configuration to php
  src/Symfony/Bundle/DebugBundle/DependencyInjection/DebugExtension.php
  src/Symfony/Bundle/DebugBundle/Resources/config/services.php
  src/Symfony/Bundle/DebugBundle/Resources/config/services.xml
  src/Symfony/Bundle/DebugBundle/composer.json
Labels: DebugBundle, Status: Reviewed

#37296 [TwigBundle] Minor cleanup
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
Labels: Status: Reviewed, TwigBundle

#37273 Adding a few keywords
  src/Symfony/Component/Console/composer.json
Labels: Console, Status: Needs Review

#37255 [AssetBundle] Move xml service configuration to php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/assets.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/assets.xml
Labels: FrameworkBundle, Status: Reviewed

#37315 Adding a keyword for Packagist
  src/Symfony/Component/Console/composer.json
Labels: Status: Reviewed

#37321 [HttpClient] Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client_debug.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client_debug.xml
Labels: Feature, HttpClient, Status: Reviewed

#37327 [HttpFoundation] Allow `null` in InputBag@set
  src/Symfony/Component/HttpFoundation/InputBag.php
  src/Symfony/Component/HttpFoundation/Tests/InputBagTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#37342 [Cache] fix compat with DBAL v3
  src/Symfony/Component/Cache/Traits/PdoTrait.php
Labels: Bug, Cache, Status: Needs Review

#37339 [Security/Http] Remove unnecessary null check
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
Labels: Status: Needs Review

#37319 [HttpClient] Convert CurlHttpClient::handlePush() to instance method
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: HttpClient, Status: Reviewed

#37270 [FrameworkBundle] preserve dots in query-string when redirecting
  src/Symfony/Bundle/FrameworkBundle/Controller/RedirectController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/RedirectControllerTest.php
Labels: Bug, FrameworkBundle, Ready, Status: Reviewed

#36230 [VarDumper] Fix CliDumper coloration on light arrays
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
Labels: Bug, Status: Reviewed, VarDumper

#37090 [PhpUnitBridge] Streamline ansi/no-ansi of composer according to phpunit --colors option
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, Status: Needs Review

#37275 [DI] tighten detection of local dirs to prevent false positives
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services12.php
Labels: Bug, DependencyInjection, Ready, Status: Needs Review

#37340 [3.4] Fix support for PHP8 union types
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/DependencyInjection/LazyProxy/ProxyHelper.php
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
Labels: Bug, Status: Needs Review

#37269 [Lock][Messenger] Fix precedence of DSN options for 5.1
  src/Symfony/Component/Lock/Store/MongoDbStore.php
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Bug, Lock, Messenger, Status: Reviewed

#37341 [4.4] Fix support for PHP8 union types
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Dumper/Preloader.php
  src/Symfony/Component/DependencyInjection/Exception/InvalidParameterTypeException.php
  src/Symfony/Component/EventDispatcher/DependencyInjection/RegisterListenersPass.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactory.php
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Contracts/Service/ServiceLocatorTrait.php
  src/Symfony/Contracts/Service/ServiceSubscriberTrait.php
Labels: Bug, Status: Needs Review

#37271 [FrameworkBundle] preserve dots in query-string when redirecting
  src/Symfony/Bundle/FrameworkBundle/Controller/RedirectController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/RedirectControllerTest.php
Labels: Bug, FrameworkBundle, Ready, Status: Reviewed

#37268 [Messenger] Fix precedence of DSN options for 4.4
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Messenger, Ready, Status: Reviewed

#37128 Small update in our internal terminology
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/Tests/NoPrivateNetworkHttpClientTest.php
Labels: Bug, Status: Needs Review

#37289 [5.1] Fix support for PHP8 union types
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Component/DependencyInjection/Compiler/AutowireRequiredPropertiesPass.php
Labels: Bug, Status: Needs Review

#37346 Added Unit tests for php 8 union types
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/uniontype_classes.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php80Dummy.php
Labels: Bug, Status: Reviewed

#37303 Move configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/esi.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/esi.xml
Labels: Status: Reviewed

#37239 Migrate annotations configuration to PHP
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.xml
Labels: Status: Reviewed

#37353 [DI] disable preload.php on the CLI
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Reviewed

#37362 [SecurityBundle] Drop cache.security_expression_language service if invalid
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/AddExpressionLanguageProvidersPass.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#37345 [Form] collect all transformation failures
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorFunctionalTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
Labels: Bug, Form, Status: Reviewed

#37364 [Messenger] fixed queue_name option on amazon sqs connection
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#37366 [SecurityBundle] Fix UserCheckerListener registration with custom user checker
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#37318 [Security] Add attributes on Passport
  src/Symfony/Component/Security/Http/Authenticator/Passport/Passport.php
Labels: Feature, Security, Status: Reviewed

#37336 [Security] Let security factories add firewall listeners
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FirewallListenerFactoryInterface.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Feature, Security, Status: Reviewed

#37208 [FrameworkBundle] convert config/serializer.xml to php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: FrameworkBundle, Status: Reviewed

#37257 [FrameworkBundle] changed configuration file for messenger from xml to php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger_debug.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger_debug.xml
Labels: FrameworkBundle, Status: Reviewed

#37375 Relax tests to unlock change on master
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/CachePoolClearerPassTest.php
  src/Symfony/Component/Form/Tests/DependencyInjection/FormPassTest.php
  src/Symfony/Component/Validator/Tests/DependencyInjection/AddConstraintValidatorsPassTest.php
Labels: Status: Needs Review

#37372 Avoid accessibility errors on symfony web debug toolbar
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar_js.html.twig
Labels: Status: Reviewed

#37306 [Messenger] added support for Amazon SQS QueueUrl as DSN
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsTransportFactoryTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsTransportFactory.php
  src/Symfony/Component/Messenger/Transport/TransportFactory.php
Labels: Feature, Messenger, Status: Reviewed

#37351 [FrameworkBundle] allow enabling the HTTP cache using semantic configuration
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/HttpCache/HttpCache.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/ConcreteMicroKernel.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelTraitTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/KernelForTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Feature, FrameworkBundle, Ready, Status: Reviewed

#37376 [DI][FrameworkBundle] Remove "whitelist" occurrences
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/Resources/bin/check-unused-known-tags.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/UnusedTagsPassTest.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: DependencyInjection, FrameworkBundle, Status: Reviewed

#36304 Check whether path is file in DataPart::fromPath()
  src/Symfony/Component/Mime/Part/DataPart.php
Labels: Bug, Status: Reviewed
