Repository symfony/symfony, pull requests merged in 2020-03, with the labels that each got.

#35917 Add Polish translation
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Status: Reviewed

#35918 Add Spanish translation
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
Labels: Status: Needs Review

#35910 [SecurityBundle] Minor fixes in configuration tree builder
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/RememberMeFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/UserProvider/LdapFactory.php
Labels: Bug, SecurityBundle, Status: Reviewed

#35899 [DomCrawler] prevent deprecation being triggered from assertion
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorTextContains.php
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorTextSame.php
Labels: Bug, DomCrawler, Status: Reviewed

#35912 [FrameworkBundle] register only existing transport factories
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
Labels: Bug, FrameworkBundle, Status: Reviewed

#35907 [FrameworkBundle] register only existing transport factories
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
Labels: Bug, FrameworkBundle, Status: Reviewed

#35115 [HttpClient] Add portable HTTP/2 implementation based on Amp's HTTP client
  .appveyor.yml
  composer.json
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Internal/AmpBody.php
  src/Symfony/Component/HttpClient/Internal/AmpClientState.php
  src/Symfony/Component/HttpClient/Internal/AmpListener.php
  src/Symfony/Component/HttpClient/Internal/AmpResolver.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Tests/AmpHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/NativeHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/TestLogger.php
  src/Symfony/Component/HttpClient/composer.json
Labels: Feature, HttpClient, Status: Reviewed

#35928 [Routing] Prevent localized routes _locale default & requirement from being overridden
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Routing/Tests/RouteTest.php
Labels: Status: Reviewed

#35926 [Routing] Fix some wrong localized routes tests
  src/Symfony/Component/Routing/Tests/Generator/Dumper/CompiledUrlGeneratorDumperTest.php
  src/Symfony/Component/Routing/Tests/Generator/Dumper/PhpGeneratorDumperTest.php
  src/Symfony/Component/Routing/Tests/Generator/UrlGeneratorTest.php
Labels: Routing, Status: Needs Review

#35935 [String] fix failing test on PHP 8
  src/Symfony/Component/String/Tests/LazyStringTest.php
Labels: Status: Reviewed

#35937 Revert "bug symfony#28179 [DomCrawler] Skip disabled fields processing in Form"
  src/Symfony/Component/DomCrawler/Form.php
  src/Symfony/Component/DomCrawler/Tests/FormTest.php
Labels: Bug, DomCrawler, Status: Reviewed

#35948 [String] move symfony/translation-contracts to require-dev
  src/Symfony/Component/String/composer.json
Labels: Status: Reviewed

#35946 [DI] relax test to ignore changes to error message in master
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: DependencyInjection, Status: Reviewed

#35966 Use some PHP 5.4 constants unconditionally
  src/Symfony/Bundle/FrameworkBundle/Templating/Helper/FormHelper.php
  src/Symfony/Component/Form/FormRenderer.php
  src/Symfony/Component/Translation/Dumper/JsonFileDumper.php
Labels: Status: Reviewed

#35969 [Validator] Add two missing arabe translations
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
Labels: Status: Reviewed, Validator

#35958 improve PlaintextPasswordEncoder docBlock summary
  src/Symfony/Component/Security/Core/Encoder/PlaintextPasswordEncoder.php
Labels: Security, Status: Reviewed

#35963 Add new packages on the link script
  link
Labels: Status: Reviewed

#35962 [DI] fix dumping errored definitions
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_service_locator_argument.php
Labels: Bug, DependencyInjection, Status: Reviewed

#35957 [DI] ignore extra tags added by autoconfiguration in PriorityTaggedServiceTrait
  src/Symfony/Component/DependencyInjection/Compiler/PriorityTaggedServiceTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/PriorityTaggedServiceTraitTest.php
Labels: Bug, DependencyInjection, Status: Needs Review

#35970 [VarDumper] DumpServer: log whenever a payload is received
  src/Symfony/Component/VarDumper/Server/DumpServer.php
Labels: Feature, Status: Reviewed, VarDumper

#35980 [Messenger] Add ext-redis min version req to tests
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/RedisTransportFactoryTest.php
Labels: Messenger, Status: Reviewed

#35982 [DI] Fix XmlFileLoader bad error message
  src/Symfony/Component/Config/Tests/Fixtures/Util/not_readable.xml
  src/Symfony/Component/Config/Tests/Util/XmlUtilsTest.php
  src/Symfony/Component/Config/Util/XmlUtils.php
Labels: Bug, DependencyInjection, Status: Reviewed

#35978 [Messenger] Show message & handler(s) class description in debug:messenger
  src/Symfony/Component/Messenger/Command/DebugCommand.php
  src/Symfony/Component/Messenger/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/DummyCommandWithDescription.php
  src/Symfony/Component/Messenger/Tests/Fixtures/DummyCommandWithDescriptionHandler.php
Labels: Feature, Messenger, Status: Reviewed

#36004 [Yaml] fix dumping strings containing CRs
  src/Symfony/Component/Yaml/Dumper.php
  src/Symfony/Component/Yaml/Tests/DumperTest.php
Labels: Bug, Status: Reviewed, Yaml

#35993 Remove int return type from FlattenException::getCode
  src/Symfony/Component/ErrorHandler/Exception/FlattenException.php
  src/Symfony/Component/ErrorHandler/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/StringErrorCodeException.php
Labels: Bug, Status: Reviewed

#35999 [Mime] remove phpdoc mentioning Utf8AddressEncoder
  src/Symfony/Component/Mime/Encoder/IdnAddressEncoder.php
Labels: Mime, Status: Reviewed

#36015 [FrameworkBundle][Configuration] Fix translator enabled_locales configuration definition
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#36017 [HttpKernel] Fix support for single-colon syntax for controllers
  src/Symfony/Component/HttpKernel/DependencyInjection/RemoveEmptyControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RemoveEmptyControllerArgumentLocatorsPassTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#35997 [DX][Testing] Added a loginUser() method to test protected resources
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Bundle/FrameworkBundle/Test/TestBrowserToken.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Controller/SecurityController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Security/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Security/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Security/routing.yml
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: DX, Feature, Status: Reviewed

#36035 [String] Update wcswidth data
  src/Symfony/Component/String/Resources/data/wcswidth_table_wide.php
  src/Symfony/Component/String/Resources/data/wcswidth_table_zero.php
Labels: Bug, Status: Needs Review

#36033 [Validator][Range] Fix typos
  src/Symfony/Component/Validator/Constraints/Range.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeTest.php
Labels: Status: Needs Review, Validator

#36030 [SecurityBundle] Minor fix in LDAP config tree builder
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/UserProvider/LdapFactory.php
Labels: Bug, SecurityBundle, Status: Reviewed

#36008 [FrameworkBundle] remove redundant PHPDoc in console Descriptor
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
Labels: FrameworkBundle, Status: Needs Review

#35938 [Form] Handle false as empty value on expanded choices
  src/Symfony/Component/Form/Extension/Core/Type/CheckboxType.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CheckboxTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
Labels: Bug, Form, Status: Reviewed

#36023 [HttpClient] fix requests to hosts that idn_to_ascii() cannot handle
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Bug, HttpClient, Status: Needs Review

#35949 [DI] Fix container lint command when a synthetic service is used in an expression
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
Labels: Bug, Status: Reviewed

#35954 Add test for tagged iterator with numeric index
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveTaggedIteratorArgumentPassTest.php
Labels: Status: Needs Review

#36040 Fix Travis script
  .travis.yml
Labels: Status: Needs Review

#31375 [Form] Add label_html attribute
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3HorizontalLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4HorizontalLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionDivLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionTableLayoutTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Form/Extension/Core/Type/BaseType.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.txt
Labels: Feature, Form, Status: Reviewed

#35940 [UID] Added the component + Added support for UUID
  .travis.yml
  composer.json
  src/Symfony/Component/Uid/.gitattributes
  src/Symfony/Component/Uid/.gitignore
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/LICENSE
  src/Symfony/Component/Uid/README.md
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Uuid.php
  src/Symfony/Component/Uid/composer.json
  src/Symfony/Component/Uid/phpunit.xml.dist
Labels: Feature, Status: Reviewed

#35987 [DoctrineBridge][DoctrineExtractor] Fix wrong guessed type for "json" type
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#36041 [Config] fix import from config file using type: glob
  src/Symfony/Component/Config/Loader/FileLoader.php
Labels: Bug, Status: Reviewed

#36038 [HttpClient] disable debug log with curl 7.64.0
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, HttpClient, Status: Needs Review

#36056 [Security/Core] fix some annotations
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/AnonymousToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
Labels: Status: Reviewed

#36057 [Validator] clarify stringable type annotations
  src/Symfony/Component/Validator/ConstraintViolation.php
  src/Symfony/Component/Validator/ConstraintViolationInterface.php
  src/Symfony/Component/Validator/Context/ExecutionContextInterface.php
Labels: Status: Needs Review, Validator

#36059 [String] leverage Stringable from PHP 8
  composer.json
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/LazyString.php
  src/Symfony/Component/String/composer.json
Labels: Feature, Status: Needs Review

#35995 [FrameworkBundle] add --deprecations on debug:container command
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/AbstractDescriptorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/ObjectsProvider.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/cache/KernelContainerWithDeprecations.log
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/cache/KernelContainerWithoutDeprecations.log
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecations.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecations.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecations.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecations.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecations_empty.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecations_empty.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecations_empty.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecations_empty.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#36053 [Uid] make Uuid::getTime() return subseconds info
  src/Symfony/Component/Uid/InternalUtil.php
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Status: Reviewed

#36058 [Uid] make `Uuid::equals()` accept any types of argument for more flexibility
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Status: Reviewed

#36020 [Form] ignore microseconds submitted by Edge
  src/Symfony/Component/Form/Extension/Core/Type/TimeType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TimeTypeTest.php
Labels: Bug, Form, Status: Reviewed

#36064 [Uid] remove Uuid::getVariant()
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Status: Reviewed

#36042 [Uid] add support for Ulid
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/Tests/UlidTest.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/composer.json
Labels: Feature, Status: Reviewed, Uid

#36026 [Mime] Fix boundary header
  src/Symfony/Component/Mime/Part/AbstractMultipartPart.php
  src/Symfony/Component/Mime/Tests/Part/Multipart/FormDataPartTest.php
Labels: Bug, Mime, Status: Reviewed

#36070 [Uid] improve base convertion logic
  src/Symfony/Component/Uid/BinaryUtil.php
  src/Symfony/Component/Uid/InternalUtil.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Status: Needs Review

#36066 [Uid] use one class per type of UUID
  src/Symfony/Component/Uid/NullUuid.php
  src/Symfony/Component/Uid/Tests/UlidTest.php
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/Uuid.php
  src/Symfony/Component/Uid/UuidV1.php
  src/Symfony/Component/Uid/UuidV3.php
  src/Symfony/Component/Uid/UuidV4.php
  src/Symfony/Component/Uid/UuidV5.php
Labels: Feature, Status: Reviewed

#36076 [HttpClient] Fix typo
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/HttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
Labels: HttpClient, Status: Needs Review

#36078 [Uid] work around slow generation of v4 UUIDs
  src/Symfony/Component/Uid/UuidV4.php
Labels: Status: Reviewed

#36075 [UID] Rename NullUuid to NilUuid
  src/Symfony/Component/Uid/NilUuid.php
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Bug, Status: Reviewed

#36074 [Uid] add AbstractUid and interop with base-58/32/RFC4122 encodings
  src/Symfony/Component/Uid/AbstractUid.php
  src/Symfony/Component/Uid/BinaryUtil.php
  src/Symfony/Component/Uid/NilUuid.php
  src/Symfony/Component/Uid/Tests/UlidTest.php
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/Uuid.php
  src/Symfony/Component/Uid/UuidV1.php
  src/Symfony/Component/Uid/UuidV4.php
  src/Symfony/Component/Uid/UuidV6.php
Labels: Feature, Status: Reviewed

#36072 [SecurityBundle] Added XSD for the extension configuration
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Resources/config/schema/security-1.0.xsd
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/access_decision_manager_customized_config.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/access_decision_manager_default_strategy.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/access_decision_manager_service.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/access_decision_manager_service_and_strategy.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/argon2i_encoder.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/bcrypt_encoder.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/container1.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/firewall_provider.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/firewall_undefined_provider.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/listener_provider.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/listener_undefined_provider.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/logout_delete_cookies.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/merge.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/merge_import.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/migrating_encoder.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/no_custom_user_checker.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/remember_me_options.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/sodium_encoder.xml
Labels: Feature, SecurityBundle, Status: Reviewed

#36082 [Framework-Bundle] fixed kernel.secret not being overridden when loaded from extension using MicroKernelTrait
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelTraitTest.php
Labels: Bug, Status: Reviewed

#36081 Add missing dots at the end of exception messages
  src/Symfony/Bridge/Monolog/Handler/FingersCrossed/HttpCodeActivationStrategy.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/EventListener/ResolveControllerNameSubscriber.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Cache/Psr16Cache.php
  src/Symfony/Component/Cache/Traits/MemcachedTrait.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/BooleanToStringTransformer.php
  src/Symfony/Component/Form/ResolvedFormType.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/RedisSessionHandler.php
  src/Symfony/Component/HttpKernel/Controller/ContainerControllerResolver.php
  src/Symfony/Component/HttpKernel/Controller/ControllerResolver.php
  src/Symfony/Component/Intl/Data/Generator/LocaleDataGenerator.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php
  src/Symfony/Component/Ldap/Security/LdapUserProvider.php
  src/Symfony/Component/Lock/Store/PdoStore.php
  src/Symfony/Component/Mailer/Transport/AbstractApiTransport.php
  src/Symfony/Component/Messenger/RoutableMessageBus.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
  src/Symfony/Component/Mime/Part/DataPart.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/Routing/Loader/ObjectLoader.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/Util/XliffUtils.php
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Constraints/RangeValidator.php
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Status: Reviewed

#36085 Add missing dots at the end of exception messages
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/Cache/Adapter/ApcuAdapter.php
  src/Symfony/Component/Cache/Adapter/MemcachedAdapter.php
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransportFactory.php
Labels: Status: Needs Review

#36086 [UID] remove unused property
  src/Symfony/Component/Uid/Uuid.php
Labels: Status: Needs Review

#36087 Add missing dots at the end of exception messages
  src/Symfony/Bridge/Monolog/Handler/MailerHandler.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
  src/Symfony/Component/Lock/Store/MongoDbStore.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/Transport/TransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Firebase/FirebaseTransport.php
  src/Symfony/Component/PropertyInfo/PropertyWriteInfo.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Validator/Constraints/Count.php
Labels: Status: Needs Review

#35924 [HttpClient] make `HttpClient::create()` return an `AmpHttpClient` when `amphp/http-client` is found but curl is not or too old
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttpClient.php
  src/Symfony/Component/HttpClient/Internal/AmpClientState.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTest.php
  src/Symfony/Component/HttpClient/composer.json
Labels: Feature, HttpClient, Status: Reviewed

#36034 [PhpUnitBridge] Deprecate @expectedDeprecation annotation
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/DoctrineChoiceLoaderTest.php
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveReferencesToAliasesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/RoleVoterTest.php
Labels: Deprecation, Status: Reviewed

#36031 [Console] Fallback to default answers when unable to read input
  src/Symfony/Component/Console/Exception/MissingInputException.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
  src/Symfony/Component/Console/Tests/phpt/uses_stdin_as_interactive_input.phpt
Labels: Bug, Console, Status: Reviewed

#36003 [ErrorHandler][FrameworkBundle] better error messages in failing tests
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Test/BrowserKitAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Test/WebTestCaseTest.php
  src/Symfony/Component/ErrorHandler/CHANGELOG.md
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorHandler/ErrorRenderer/SerializerErrorRenderer.php
Labels: Feature, Status: Reviewed

#36069 [DI] skip untyped properties in AutowireRequiredPropertiesPass
  src/Symfony/Component/DependencyInjection/Compiler/AutowireRequiredPropertiesPass.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_74.php
Labels: Bug, DependencyInjection, Status: Reviewed

#35733 [Form] Added a "choice_filter" option to ChoiceType
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/ChoiceList/ChoiceList.php
  src/Symfony/Component/Form/ChoiceList/Factory/Cache/ChoiceFilter.php
  src/Symfony/Component/Form/ChoiceList/Factory/CachingFactoryDecorator.php
  src/Symfony/Component/Form/ChoiceList/Factory/ChoiceListFactoryInterface.php
  src/Symfony/Component/Form/ChoiceList/Factory/DefaultChoiceListFactory.php
  src/Symfony/Component/Form/ChoiceList/Factory/PropertyAccessDecorator.php
  src/Symfony/Component/Form/ChoiceList/Loader/FilterChoiceLoaderDecorator.php
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/CachingFactoryDecoratorTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/DefaultChoiceListFactoryTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/PropertyAccessDecoratorTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Loader/FilterChoiceLoaderDecoratorTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
  src/Symfony/Component/Form/Tests/Fixtures/ChoiceList/DeprecatedChoiceListFactory.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.txt
  src/Symfony/Component/Form/composer.json
Labels: Deprecation, Feature, Form, Status: Reviewed

#35729 [Form] Correctly round model with PercentType and add a rounding_mode option
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/DataTransformer/PercentToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/PercentType.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/PercentToLocalizedStringTransformerTest.php
Labels: Bug, Feature, Status: Reviewed

#35744 [Validator] Add AtLeastOne constraint and validator
  src/Symfony/Component/Validator/Constraints/AtLeastOneOf.php
  src/Symfony/Component/Validator/Constraints/AtLeastOneOfValidator.php
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
  src/Symfony/Component/Validator/Tests/Constraints/AtLeastOneOfTest.php
  src/Symfony/Component/Validator/Tests/Constraints/AtLeastOneOfValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#36063 [FrameworkBundle] start session on flashbag injection
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Controller/InjectedFlashbagSessionController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Resources/config/routing.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SessionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Session/config.yml
Labels: Bug, Status: Reviewed

#36092 [3.4] Minor fixes
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Component/Security/Core/User/UserInterface.php
Labels: Status: Reviewed

#36095 Quotes in exceptions messages
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/RouterCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Test/WebTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/RouterCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/TestAbstractController.php
  src/Symfony/Component/Cache/Adapter/MemcachedAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/ParameterBag/EnvPlaceholderParameterBagTest.php
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/ByteString.php
Labels: Status: Needs Review

#35847 [Notifier] Add unit tests
  src/Symfony/Component/Notifier/Tests/Channel/AbstractChannelTest.php
  src/Symfony/Component/Notifier/Tests/Channel/ChannelPolicyTest.php
Labels: Status: Reviewed

#36096 Fix quotes in exception messages
  src/Symfony/Component/Cache/Adapter/CouchbaseBucketAdapter.php
  src/Symfony/Component/HttpClient/Internal/AmpBody.php
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/Tests/NoPrivateNetworkHttpClientTest.php
  src/Symfony/Component/HttpClient/TraceableHttpClient.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransportFactory.php
  src/Symfony/Component/String/LazyString.php
  src/Symfony/Component/Validator/Constraints/Compound.php
  src/Symfony/Component/Validator/Tests/Constraints/CompoundTest.php
  src/Symfony/Component/Validator/Tests/Constraints/SequentiallyTest.php
Labels: Status: Reviewed

#36073 [PropertyAccess][DX] Improved errors when reading uninitialized properties
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/UninitializedPrivateProperty.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/UninitializedProperty.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
Labels: PropertyAccess, Status: Reviewed

#35936 [String] Add AbstractString::containsAny()
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/CHANGELOG.md
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Feature, Status: Reviewed

#36101 Fix more quotes in exception messages
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/MockHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/RedisSessionHandler.php
  src/Symfony/Component/Lock/Store/PdoStore.php
Labels: Status: Needs Review

#36088 [Form] Added "collection_entry" block prefix to CollectionType entries
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/CollectionType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CollectionTypeTest.php
  src/Symfony/Component/Form/Tests/Fixtures/BlockPrefixedFooTextType.php
Labels: Feature, Form, Status: Reviewed

#36121 [VarDumper] fix side-effect by not using mt_rand()
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
Labels: Bug, Status: Reviewed, VarDumper

#36108 [DI] Fix CheckTypeDeclarationPass
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/Foo.php
Labels: Bug, Status: Reviewed

#36118 [Security/Http] don't require the session to be started when tracking its id
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
Labels: Bug, Status: Reviewed

#36119 [PropertyAccess] Added missing new args in `PropertyAccessorBuilder`
  src/Symfony/Component/PropertyAccess/PropertyAccessorBuilder.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorBuilderTest.php
Labels: Feature, PropertyAccess, Status: Reviewed

#36120 [FrameworkBundle][PropertyAccess] Use injection for info extractors
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/property_info.xml
Labels: Feature, FrameworkBundle, PropertyAccess, Status: Reviewed

#36117 [PropertyAccess][DX] Added an `UninitializedPropertyException`
  src/Symfony/Component/PropertyAccess/CHANGELOG.md
  src/Symfony/Component/PropertyAccess/Exception/UninitializedPropertyException.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
Labels: DX, Feature, PropertyAccess, Status: Reviewed

#36103 [DI] fix preloading script generation
  src/Symfony/Bridge/Twig/Extension/TranslationExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
  src/Symfony/Bundle/TwigBundle/TwigBundle.php
  src/Symfony/Component/Cache/Adapter/AdapterInterface.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
  src/Symfony/Component/ErrorHandler/ErrorRenderer/CliErrorRenderer.php
  src/Symfony/Component/HttpFoundation/AcceptHeader.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/Session/Session.php
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
  src/Symfony/Component/HttpKernel/HttpClientKernel.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/Security/Core/Authentication/AuthenticationProviderManager.php
  src/Symfony/Component/Security/Core/Authorization/ExpressionLanguage.php
  src/Symfony/Component/Security/Http/Firewall/AnonymousAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/LegacyListenerTrait.php
  src/Symfony/Component/Stopwatch/Stopwatch.php
  src/Symfony/Component/Translation/Formatter/MessageFormatter.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
  src/Symfony/Component/WebLink/EventListener/AddLinkHeaderListener.php
  src/Symfony/Contracts/Cache/CacheTrait.php
  src/Symfony/Contracts/Service/ServiceLocatorTrait.php
Labels: Bug, DependencyInjection, Status: Reviewed

#36105 [FrameworkBundle] Fix deprecation message for booting a kernel twice
  src/Symfony/Bundle/FrameworkBundle/Test/WebTestCase.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FormLoginLdapFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/HttpBasicLdapFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/JsonLoginLdapFactory.php
  src/Symfony/Component/Security/Core/Authentication/Provider/LdapBindAuthenticationProvider.php
Labels: FrameworkBundle, Status: Reviewed

#36127 [FrameworkBundle][PropertyAccess] Add missing argument placeholders
  src/Symfony/Bundle/FrameworkBundle/Resources/config/property_access.xml
Labels: Bug, FrameworkBundle, PropertyAccess, Status: Reviewed

#36128 [Form][CheckboxType] Remove _false_is_empty flag
  src/Symfony/Component/Form/Extension/Core/Type/CheckboxType.php
  src/Symfony/Component/Form/Form.php
Labels: Form, Status: Reviewed

#36143 [FrameworkBundle] Fix Router Cache
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#36141 Prevent warning in proc_open()
  src/Symfony/Component/Process/Process.php
Labels: Bug, Status: Reviewed

#36144 [FrameworkBundle][Routing] Add link to source to router:match
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/TextDescriptorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/route_1_link.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/route_2_link.txt
Labels: Feature, FrameworkBundle, Routing, Status: Reviewed

#36151 [Security] Fixed hardcoded value of SODIUM_CRYPTO_PWHASH_MEMLIMIT_INTERACTIVE
  src/Symfony/Component/Security/Core/Encoder/SodiumPasswordEncoder.php
Labels: Bug, Security, Status: Reviewed

#36165 [Validator] Add missing translations
  src/Symfony/Component/Validator/Constraints/AtLeastOneOf.php
  src/Symfony/Component/Validator/Constraints/AtLeastOneOfValidator.php
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
  src/Symfony/Component/Validator/Tests/Constraints/AtLeastOneOfValidatorTest.php
Labels: Status: Reviewed, Validator

#36171 [Validator] Backport translations
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Status: Needs Review, Validator

#36148 [Mailer][Mailgun] Support more headers
  UPGRADE-5.1.md
  src/Symfony/Component/Mailer/Bridge/Mailgun/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunApiTransport.php
Labels: Mailer, Status: Reviewed

#36170 [Mailer] Use %d instead of %s for error code in error messages
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
Labels: Mailer, Status: Needs Review

#36154 [Notifier][Slack] Add fields on Slack Section block
  src/Symfony/Component/Notifier/Bridge/Slack/Block/SlackSectionBlock.php
Labels: Feature, Status: Reviewed

#36172 [Debug] fix for PHP 7.3.16+/7.4.4+
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/Debug/Tests/ErrorHandlerTest.php
Labels: Bug, Debug, Status: Needs Review

#36137 [HttpClient] Issue notice when NativeHttpClient is used
  src/Symfony/Component/HttpClient/HttpClient.php
Labels: Feature, HttpClient, Status: Reviewed

#36149 [Form] Support customized intl php.ini settings
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php
Labels: Bug, Status: Needs Review

#36177 Fix typo on deprecated parameter typehint on UPGRADE-5.1.md file
  UPGRADE-5.1.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
Labels: Status: Needs Review

#36176 [Security] Check if firewall is stateless before checking for session/previous session
  src/Symfony/Component/Security/Guard/GuardAuthenticatorHandler.php
  src/Symfony/Component/Security/Guard/Tests/GuardAuthenticatorHandlerTest.php
Labels: Bug, Status: Needs Review

#36173 [Http Foundation] Fix clear cookie samesite
  src/Symfony/Component/HttpFoundation/ResponseHeaderBag.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseHeaderBagTest.php
Labels: Bug, Status: Reviewed

#36175 [Security/Http] Remember me: allow to set the samesite cookie flag
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/RememberMeFactory.php
  src/Symfony/Component/Security/Http/RememberMe/AbstractRememberMeServices.php
  src/Symfony/Component/Security/Http/RememberMe/PersistentTokenBasedRememberMeServices.php
  src/Symfony/Component/Security/Http/RememberMe/TokenBasedRememberMeServices.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentTokenBasedRememberMeServicesTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/TokenBasedRememberMeServicesTest.php
Labels: Bug, Status: Needs Review

#36169 [HttpKernel] fix locking for PHP 7.4+
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, HttpKernel, Status: Needs Review

#36180 [Uid] work around buggy libuuid
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Bug, Status: Reviewed

#34984 [Form] Allowing plural message on extra data validation failure
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
Labels: Feature, Status: Reviewed

#36183 [Form] conflict with translation contracts < 1.1.7
  src/Symfony/Component/Form/composer.json
Labels: Bug, Form, Status: Needs Review

#36192 [Validator] Add french "at least" constraint translations
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
Labels: Status: Reviewed, Validator

#36232 Release v4.4.6
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#36240 Release v5.0.6
  CHANGELOG-5.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#36200 [Validator] add German translations
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
Labels: Ready, Status: Reviewed, Validator

#36218 [Validator] Add missing Lithuanian translations
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
Labels: Ready, Status: Reviewed, Validator

#36206 Fixed some typos
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SetAclCommandTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ContainerControllerResolverTest.php
  src/Symfony/Component/Routing/Matcher/Dumper/PhpMatcherDumper.php
  src/Symfony/Component/Routing/Tests/RouteCollectionBuilderTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Ready, Status: Reviewed

#36222 [Console] Fix OutputStream for PHP 7.4
  src/Symfony/Component/Console/Output/StreamOutput.php
  src/Symfony/Component/Console/Tests/Fixtures/stream_output_file.txt
  src/Symfony/Component/Console/Tests/Output/StreamOutputTest.php
Labels: Bug, Console, Ready, Status: Reviewed

#36214 [HttpClient] Fix TraceableHttpClient::stream that not works
  src/Symfony/Component/HttpClient/Tests/TraceableHttpClientTest.php
  src/Symfony/Component/HttpClient/TraceableHttpClient.php
Labels: Bug, HttpClient, Ready, Status: Reviewed

#36244 [Typo] Rename occurence to occurrence
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/DeprecationGroup.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/DeprecationNotice.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/DeprecationNoticeTest.php
Labels: Bug, Status: Reviewed

#36221 [Validator] Add the missing translations for the Arabic (ar) locale
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
Labels: Ready, Status: Reviewed, Validator

#36233 [Validator] Add missing vietnamese translations
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
Labels: Status: Reviewed, Validator

#36216 [Validator] Assert Valid with many groups
  src/Symfony/Component/Validator/Tests/Validator/AbstractTest.php
  src/Symfony/Component/Validator/Validator/RecursiveContextualValidator.php
Labels: Bug, Status: Reviewed, Validator

#36241 update Italian translation
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Status: Reviewed, Validator

#36181 [BrowserKit] fixed missing post request parameters in file uploads
  src/Symfony/Component/BrowserKit/HttpBrowser.php
  src/Symfony/Component/BrowserKit/Tests/HttpBrowserTest.php
Labels: BrowserKit, Bug, Status: Reviewed

#36260 Release v3.4.39
  CHANGELOG-3.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#36259 [DomCrawler] Fix BC break in assertions breaking Panther
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorTextContains.php
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorTextSame.php
Labels: Bug, DomCrawler, Ready, Status: Reviewed

#36261 [FrameworkBundle] revert to legacy wiring of the session when circular refs are detected
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/SessionPass.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/SessionPassTest.php
Labels: Bug, FrameworkBundle, Ready, Status: Reviewed

#36252 [Security/Http] Allow setting cookie security settings for delete_cookies
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Component/Security/Http/Logout/CookieClearingLogoutHandler.php
  src/Symfony/Component/Security/Http/Tests/Logout/CookieClearingLogoutHandlerTest.php
  src/Symfony/Component/Security/Http/composer.json
  src/Symfony/Component/Security/composer.json
Labels: Bug, Ready, Security, Status: Reviewed

#36262 [DI] fix generating TypedReference from PriorityTaggedServiceTrait
  src/Symfony/Component/DependencyInjection/Compiler/PriorityTaggedServiceTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/PriorityTaggedServiceTraitTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveTaggedIteratorArgumentPassTest.php
Labels: Bug, DependencyInjection, Ready, Status: Reviewed

#36268 Release v4.4.7
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#36269 Release v5.0.7
  CHANGELOG-5.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#36283 [Security] forward multiple attributes voting flag
  src/Symfony/Component/Security/Core/Authorization/TraceableAccessDecisionManager.php
Labels: Bug, Security, Status: Reviewed

#36267 [Uid] Improve the code
  src/Symfony/Component/Uid/BinaryUtil.php
  src/Symfony/Component/Uid/Uuid.php
  src/Symfony/Component/Uid/UuidV1.php
  src/Symfony/Component/Uid/UuidV6.php
Labels: Status: Reviewed

#36265 Fix the reporting of deprecations in twig:lint
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
Labels: Bug, Status: Reviewed

#36245 [Validator] Fixed calling getters before resolving groups
  src/Symfony/Component/Validator/Context/ExecutionContext.php
  src/Symfony/Component/Validator/Tests/Fixtures/EntityWithGroupedConstraintOnMethods.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
  src/Symfony/Component/Validator/Validator/LazyProperty.php
  src/Symfony/Component/Validator/Validator/RecursiveContextualValidator.php
Labels: Bug, Status: Reviewed, Validator

#36239 [HttpKernel][LoggerDataCollector] Prevent keys collisions in the sanitized logs processing
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/LoggerDataCollectorTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#36193 [DI] dump factory files as classes
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/container_alias_deprecation.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_constructor_without_arguments.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_with_mandatory_constructor_arguments.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_with_optional_constructor_arguments.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_without_constructor.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services1-1.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services1.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services12.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services13.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services19.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services24.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services26.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services33.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services8.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_adawson.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_array_params.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_base64_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_csv_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_dedup_lazy_proxy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_deep_graph.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_default_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_env_in_id.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_errored_definition.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_requires.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_self_ref.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_json_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_locator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_private_frozen.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_private_in_expression.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_query_string_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_tsantos.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_uninitialized_ref.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_unsupported_characters.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_url_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither.php
Labels: DependencyInjection, Status: Needs Review

#36186 [FrameworkBundle] Dump kernel extension configuration
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/AbstractConfigCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDumpReferenceCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ConfigDumpReferenceCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Component/DependencyInjection/Compiler/ValidateEnvPlaceholdersPass.php
Labels: Feature, Status: Needs Review

#36129 [HttpFoundation][HttpKernel][Security] Improve UnexpectedSessionUsageException backtrace
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.xml
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Session/Session.php
  src/Symfony/Component/HttpFoundation/Session/SessionBagProxy.php
  src/Symfony/Component/HttpFoundation/Tests/Session/SessionTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
Labels: Feature, HttpFoundation, HttpKernel, Security, Status: Reviewed

#36257 [HttpKernel] Deprecate single-colon notation for controllers
  UPGRADE-5.1.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/WebProfilerBundle/Tests/Controller/ProfilerControllerTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Functional/WebProfilerBundleKernel.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ContainerControllerResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ContainerControllerResolverTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: Deprecation, HttpKernel, Status: Reviewed
