Repository symfony/symfony, pull requests merged in 2020-07, with the labels that each got.

#37295 Move event alias mappings to their components
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Console/ConsoleEvents.php
  src/Symfony/Component/Console/Tests/ConsoleEventsTest.php
  src/Symfony/Component/Form/FormEvents.php
  src/Symfony/Component/HttpKernel/KernelEvents.php
  src/Symfony/Component/Security/Core/AuthenticationEvents.php
  src/Symfony/Component/Security/Http/SecurityEvents.php
  src/Symfony/Component/Workflow/WorkflowEvents.php
Labels: Status: Reviewed

#36487 [HttpClient] Add MockResponse::getRequestMethod() and getRequestUrl() to allow inspecting which request has been sent
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Tests/Response/MockResponseTest.php
Labels: Deprecation, Feature, HttpClient, Status: Reviewed

#36364 [HttpKernel][WebProfilerBundle] Add session profiling
  src/Symfony/Bundle/FrameworkBundle/Resources/config/collectors.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/request.html.twig
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RequestDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
Labels: Feature, HttpKernel, Status: Reviewed, WebProfilerBundle

#37472 [TwigBundle] Fix translator argument for twig.extension.trans
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
Labels: Bug, Status: Reviewed, TwigBundle

#37466 [Console] Do not check for "stty" using "exec" if that function is disabled
  src/Symfony/Component/Console/Terminal.php
Labels: Bug, Status: Reviewed

#37482 [HttpClient] always yield a LastChunk in AsyncResponse on destruction
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
Labels: Bug, HttpClient, Status: Reviewed

#37484 [HttpClient][CurlHttpClient] Fix http_version option usage
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: Bug, HttpClient, Status: Needs Review

#37486 [HttpClient] fix parsing response headers in CurlResponse
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, HttpClient, Status: Needs Review

#37483 [PropertyAccess] Remove inflector component
  src/Symfony/Component/PropertyAccess/composer.json
Labels: Bug, PropertyAccess, Status: Needs Review

#37470 [Workflow] Normalize workflow changelog
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Component/Workflow/CHANGELOG.md
Labels: Status: Needs Review, Workflow

#37469 [Console] always use stty when possible to ask hidden questions
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Bug, Console, Ready, Status: Reviewed

#37491 [HttpClient] Fix promise behavior in HttplugClient
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Response/HttplugPromise.php
  src/Symfony/Component/HttpClient/Tests/HttplugClientTest.php
Labels: Bug, HttpClient, Status: Reviewed

#37494 Use ">=" for the "php" requirement
  src/Symfony/Component/Asset/composer.json
  src/Symfony/Component/CssSelector/composer.json
  src/Symfony/Component/Dotenv/composer.json
  src/Symfony/Component/Finder/composer.json
  src/Symfony/Component/OptionsResolver/composer.json
  src/Symfony/Component/Process/composer.json
  src/Symfony/Component/Routing/composer.json
  src/Symfony/Component/VarExporter/composer.json
  src/Symfony/Contracts/EventDispatcher/composer.json
  src/Symfony/Contracts/HttpClient/composer.json
  src/Symfony/Contracts/Translation/composer.json
Labels: Status: Needs Review

#37499 [Form] Missing return in loadValuesForChoices method
  src/Symfony/Component/Form/ChoiceList/Factory/Cache/ChoiceLoader.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/Cache/ChoiceLoaderTest.php
Labels: Bug, Form, Status: Reviewed

#37497 No need to create an issue when creating a PR
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#37385 [Console] Fixes question input encoding on Windows
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Bug, Console, Status: Reviewed

#37505 [Form] fix handling null as empty data
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/NumberTypeTest.php
Labels: Bug, Form, Status: Needs Review

#37461 [Process] Fix Permission Denied error when writing sf_proc_00 lock files on Windows
  src/Symfony/Component/Process/Pipes/WindowsPipes.php
Labels: Bug, Process, Status: Reviewed

#37504 [Security\Http] Skip remember-me logout on empty token
  src/Symfony/Component/Security/Http/EventListener/RememberMeLogoutListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/RememberMeLogoutListenerTest.php
Labels: Bug, Security, Status: Reviewed

#37492 [ErrorHandler] Allow override of the default non-debug template
  src/Symfony/Component/ErrorHandler/CHANGELOG.md
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorHandler/README.md
Labels: ErrorHandler, Feature, Status: Reviewed

#37516 [Cache] Fix compat wth DBAL v3
  src/Symfony/Component/Cache/Traits/PdoTrait.php
Labels: Cache, Status: Reviewed

#37513 [PhpUnitBridge] ExcludeList usage for PHPUnit 9.4
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, Status: Needs Review

#37514 [String] throw when Alpine is used and translit fails
  src/Symfony/Component/String/AbstractUnicodeString.php
Labels: Bug, Status: Needs Review, String

#37512 [String] Added a help message when translation-contracts is not installed
  src/Symfony/Component/String/Slugger/AsciiSlugger.php
Labels: Bug, Status: Needs Review, String

#37506 [HttpClient] fix buffering AsyncResponse with no passthru
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
Labels: Bug, HttpClient, Status: Needs Review

#37526 [Cache][Config] ensure compatibility with PHP 8 stack traces
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Config/Resource/ClassExistenceResource.php
Labels: Bug, Cache, Config, Status: Reviewed

#37528 clean up HHVM instructions
  .travis.yml
Labels: Status: Reviewed

#37515 [PhpUnitBridge] Fix expectDeprecation() in isolation
  src/Symfony/Bridge/PhpUnit/Legacy/ExpectDeprecationTraitBeforeV8_4.php
  src/Symfony/Bridge/PhpUnit/Legacy/ExpectDeprecationTraitForV8_4.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/PhpUnit/Tests/ExpectDeprecationTraitTest.php
  src/Symfony/Bridge/PhpUnit/Tests/FailTests/ExpectDeprecationTraitTestFail.php
  src/Symfony/Bridge/PhpUnit/Tests/expectdeprecationfail.phpt
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, Status: Reviewed

#37536 [Form] add german translation of the html5 color validation
  src/Symfony/Component/Form/Resources/translations/validators.de.xlf
Labels: Form, Status: Reviewed

#37543 [PhpUnitBridge] consider traits imported in parent classes
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#37524 [Form] sync translations from master branch
  src/Symfony/Component/Form/Resources/translations/validators.en.xlf
  src/Symfony/Component/Form/Resources/translations/validators.fr.xlf
Labels: Form, Status: Needs Review

#37520 [Form] silently ignore uninitialized properties when mapping data to forms
  src/Symfony/Component/Form/Extension/Core/DataMapper/PropertyPathMapper.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataMapper/PropertyPathMapperTest.php
  src/Symfony/Component/Form/Tests/Fixtures/TypehintedPropertiesCar.php
Labels: Bug, Form, Status: Reviewed

#37548 [Form] Add vietnamese translation for html5 color validation
  src/Symfony/Component/Form/Resources/translations/validators.vi.xlf
Labels: Form, Status: Reviewed

#37549 [Form] fix tests
  src/Symfony/Component/Form/composer.json
Labels: Form, Status: Needs Review

#36178 [Mime] allow non-ASCII characters in local part of email
  src/Symfony/Component/Mailer/DelayedEnvelope.php
  src/Symfony/Component/Mailer/Envelope.php
  src/Symfony/Component/Mailer/Tests/EnvelopeTest.php
  src/Symfony/Component/Mime/Encoder/IdnAddressEncoder.php
  src/Symfony/Component/Mime/Tests/Header/MailboxHeaderTest.php
  src/Symfony/Component/Mime/Tests/Header/MailboxListHeaderTest.php
  src/Symfony/Component/Mime/Tests/Header/PathHeaderTest.php
Labels: Feature, Mime, Status: Reviewed

#37557 [Form] Add missing vietnamese translations
  src/Symfony/Component/Form/Resources/translations/validators.vi.xlf
Labels: Form, Status: Reviewed

#37555 Add Tagalog translations for new form messages
  src/Symfony/Component/Form/Resources/translations/validators.tl.xlf
Labels: Status: Needs Review

#37552 [Form] sync translations from master
  src/Symfony/Component/Form/Resources/translations/validators.en.xlf
Labels: Form, Status: Reviewed

#37550 [OptionsResolver] Fix force prepend normalizer
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: Bug, OptionsResolver, Status: Reviewed

#37521 [Form] Fix ChoiceType translation domain
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
Labels: Bug, Form, Status: Reviewed

#37563 Fix DBAL deprecation
  src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php
  src/Symfony/Bridge/Doctrine/Tests/Security/RememberMe/DoctrineTokenProviderTest.php
  src/Symfony/Component/Cache/Traits/PdoTrait.php
Labels: Bug, Status: Needs Review

#37562 [Cache] Use the default expiry when saving (not when creating) items
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Cache/Tests/Adapter/ChainAdapterTest.php
  src/Symfony/Component/Cache/Tests/Fixtures/ExternalAdapter.php
Labels: Bug, Cache, Status: Reviewed

#36799 Remove some magic from TypeValidator logic and OptionsResolver type verify logic
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/composer.json
  src/Symfony/Component/Validator/Constraints/TypeValidator.php
  src/Symfony/Component/Validator/composer.json
Labels: Bug, Status: Needs Review, Validator

#37571 Update MimeTypes.php
  src/Symfony/Component/Mime/MimeTypes.php
Labels: Status: Reviewed

#37422 [Mime] switching source of mime types from Apache to "MIME-db"
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Resources/bin/update_mime_types.php
Labels: Mime, Status: Reviewed

#37511 [DependencyInjection][Config] Use several placeholder unique prefixes for dynamic placeholder values
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/DependencyInjection/Compiler/MergeExtensionConfigurationPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/MergeExtensionConfigurationPassTest.php
Labels: Bug, Config, DependencyInjection, Status: Reviewed

#37580 [Mime] Keep Sender full address when used by non-SMTP transports
  src/Symfony/Component/Mailer/Envelope.php
  src/Symfony/Component/Mailer/Tests/EnvelopeTest.php
Labels: Bug, Mime, Status: Reviewed

#37581 [Mime] Fix compat with HTTP requests
  src/Symfony/Component/Mime/Header/ParameterizedHeader.php
  src/Symfony/Component/Mime/Part/TextPart.php
Labels: Bug, Mime, Status: Reviewed

#37527 [Mailer] Fix reply-to functionality in the SendgridApiTransport
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
Labels: Bug, Mailer, Status: Reviewed

#37479 [HttpFoundation] Added File::getContent()
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/File/File.php
  src/Symfony/Component/HttpFoundation/Tests/File/FileTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#36888 [Mailer] Fix mandrill raw http request setting from email/name
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Tests/Transport/MandrillHttpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillHttpTransport.php
Labels: Bug, Mailer, Status: Reviewed

#37567 [PhpUnitBridge] Polyfill new phpunit 9.1 assertions
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/Legacy/PolyfillAssertTrait.php
Labels: Feature, PhpUnitBridge, Status: Reviewed

#37431 [HttpKernel] hide "_password" in request data collector raw content
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RequestDataCollectorTest.php
Labels: HttpKernel, Status: Reviewed

#37576 [WebProfilerBundle] modified url generation to use absolute urls
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#37594 Use hexadecimal numerals instead of hexadecimals in strings to repres…
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
Labels: Bug, Status: Needs Review

#37611 [Mailer] Fix failover transport
  src/Symfony/Component/Mailer/Tests/Transport/FailoverTransportTest.php
  src/Symfony/Component/Mailer/Transport/FailoverTransport.php
  src/Symfony/Component/Mailer/Transport/RoundRobinTransport.php
Labels: Bug, Mailer, Status: Needs Review

#37592 [SCA] Minor fixes on tests
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/UserPasswordEncoderCommandTest.php
  src/Symfony/Component/Debug/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/DefinitionTest.php
  src/Symfony/Component/DomCrawler/Tests/FormTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/ParserCache/ParserCacheAdapterTest.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MongoDbSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/PhpBridgeSessionStorageTest.php
  src/Symfony/Component/HttpKernel/Tests/Event/FilterControllerArgumentsEventTest.php
  src/Symfony/Component/HttpKernel/Tests/Profiler/FileProfilerStorageTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/LdapManagerTest.php
  src/Symfony/Component/Process/Tests/PhpExecutableFinderTest.php
  src/Symfony/Component/Templating/Tests/PhpEngineTest.php
  src/Symfony/Component/Translation/Tests/PluralizationRulesTest.php
Labels: Status: Reviewed

#37607 Fix checks for phpunit releases on Composer 2
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit
Labels: Bug, Status: Reviewed

#37558 Removed @internal from Composite
  src/Symfony/Component/Validator/Constraints/Composite.php
Labels: Feature, Status: Needs Review, Validator

#37587 [WebProfileBundle] Readability update
  src/Symfony/Bundle/WebProfilerBundle/Csp/ContentSecurityPolicyHandler.php
Labels: Status: Needs Review

#37572 [FrameworkBundle] set default session.handler alias if handler_id is not provided
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Status: Reviewed

#37629 [Messenger] fix ignored account & endpoint options amazon sqs connection
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#37628 [Serializer] Support multiple levels of discriminator mapping
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Bug, Serializer, Status: Reviewed

#37595 Require PHPUnit 9.3 on PHP 8
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, Status: Needs Review

#37635 [Cache] fix catching auth errors
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Needs Review

#37566 [3.4] Fix PHPUnit 8.5 deprecations
  src/Symfony/Bundle/TwigBundle/Tests/Loader/FilesystemLoaderTest.php
  src/Symfony/Component/Config/Tests/Resource/DirectoryResourceTest.php
  src/Symfony/Component/Config/Tests/Resource/FileResourceTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveChildDefinitionsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveInstanceofConditionalsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Proxy/SessionHandlerProxyTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ContainerControllerResolverTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorCollectionTest.php
  src/Symfony/Component/Routing/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Security/Guard/Tests/Provider/GuardAuthenticationProviderTest.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Status: Reviewed

#37624 [Cache] Connect to RedisCluster with password auth
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Deprecation, Feature, Status: Needs Review

#37569 [Messenger] Allow same middleware to be used multiple times with different arguments
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, Status: Reviewed

#37583 [Mime] Fix EmailHeaderSame to make use of decoded value
  src/Symfony/Component/Mime/Test/Constraint/EmailHeaderSame.php
Labels: Bug, Status: Reviewed

#37642 [Lock][Cache] Fix Redis tests
  src/Symfony/Component/Cache/Tests/Adapter/AbstractRedisAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/AbstractRedisCacheTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisArrayStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisStoreTest.php
Labels: Bug, Cache, Lock, Status: Needs Review

#37640 [DoctrineBridge] Bump doctrine/data-fixtures
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
Labels: Status: Reviewed

#37639 Allow doctrine/persistence 2
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Messenger/composer.json
Labels: Status: Reviewed

#37638 [HttpClient] Fix bad testRetryTransportError in AsyncDecoratorTraitTest
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
Labels: Bug, HttpClient, Status: Reviewed

#37590 Allows RedisClusterProxy instance in Lock RedisStore
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Lock/Store/RedisStore.php
  src/Symfony/Component/Lock/Tests/Store/StoreFactoryTest.php
Labels: Bug, Status: Reviewed

#37648 Release v4.4.11
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#37649 Release v5.0.11
  CHANGELOG-5.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#37650 Release v5.1.3
  CHANGELOG-5.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#37675 Fix RedisStore constructor signature
  src/Symfony/Component/Lock/Store/RedisStore.php
Labels: Bug, Lock, Status: Reviewed

#37692 KernelBrowser::getContainer cannot return null anymore
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
Labels: Status: Reviewed

#37693 Removed redundant strtolower in ConsumeMessagesCommand
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
Labels: Status: Reviewed

#37688 Minor improvement
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: Status: Reviewed

#37690 HttpClient profiler error
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/http_client.html.twig
Labels: Bug, Status: Reviewed

#37697 [Messenger] reduce column length for MySQL 5.6 compatibility
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Messenger, Status: Needs Review

#37517 Fix author for class CachePoolClearerCacheWarmer
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/CachePoolClearerCacheWarmer.php
Labels: FrameworkBundle, Status: Reviewed

#37682 Update UPGRADE-5.0.md
  UPGRADE-5.0.md
Labels: Status: Needs Review, WebServerBundle

#37696 [Routing] Allow inline definition of requirements and defaults for host
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Routing/Tests/RouteTest.php
Labels: Feature, Routing, Status: Reviewed

#37705 [Mailer] Added the missing reset tag to mailer.logger_message_listener
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.xml
Labels: Bug, Mailer, Status: Reviewed

#37687 Fix getTranslationNodeVisitor() return type
  UPGRADE-5.2.md
  src/Symfony/Bridge/Twig/Extension/TranslationExtension.php
Labels: Status: Reviewed

#37703 Update StopwatchPeriod.php
  src/Symfony/Component/Stopwatch/StopwatchEvent.php
  src/Symfony/Component/Stopwatch/StopwatchPeriod.php
Labels: Feature, Status: Reviewed, Stopwatch

#37654 [Messenger] Fix invalid option sslmode in AmazonSqs bridge
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#37711 [Router] allow to use \A and \z as regex start and end
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Routing/Tests/RouteTest.php
Labels: Bug, Status: Reviewed

#37700 [VarDumper] Improve previous fix on light array coloration
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
Labels: Bug, Status: Reviewed, VarDumper

#37620 [Security] Use NullToken while checking authorization
  UPGRADE-5.2.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authentication/AuthenticationTrustResolver.php
  src/Symfony/Component/Security/Core/Authentication/Token/NullToken.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AuthorizationCheckerTest.php
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Feature, Security, Status: Reviewed

#37560 [Finder] Fix GitIgnore parser when dealing with (sub)directories and take order of lines into account
  src/Symfony/Component/Finder/Gitignore.php
  src/Symfony/Component/Finder/Tests/GitignoreTest.php
Labels: Bug, Finder, Status: Reviewed

#37542 [Mailer] Updated README for the Mailer component
  src/Symfony/Component/Mailer/README.md
Labels: Mailer, Status: Reviewed

#37538 Add the name of the env to RuntimeException
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
Labels: Bug, Status: Reviewed

#37102 [WebProfilerBundle] Fix error with custom function and web profiler routing tab
  src/Symfony/Bundle/WebProfilerBundle/Controller/RouterController.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/profiler.xml
Labels: Bug, Status: Reviewed

#36929 Added a FrenchInflector for the String component
  src/Symfony/Component/String/CHANGELOG.md
  src/Symfony/Component/String/Inflector/FrenchInflector.php
  src/Symfony/Component/String/Tests/FrenchInflectorTest.php
Labels: Status: Reviewed

#36691 [FrameworkBundle] Deprecate some public services to private
  UPGRADE-5.2.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/form.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/identity_translator.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/security_csrf.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/validation_annotations.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/validation_annotations.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/validation_annotations.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/BundlePathsTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolsTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SerializerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/BundlePaths/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Serializer/config.yml
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#37415 [Console] added info method to symfony style
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/command/command_2.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/output/output_2.txt
Labels: Console, Status: Reviewed

#37243 [DependencyInjection] Resolve parameters in tag arguments
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#36352 [Validator] Added support for cascade validation on typed properties
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Cascade.php
  src/Symfony/Component/Validator/Mapping/ClassMetadata.php
  src/Symfony/Component/Validator/Mapping/GenericMetadata.php
  src/Symfony/Component/Validator/Tests/Fixtures/CascadedChild.php
  src/Symfony/Component/Validator/Tests/Fixtures/CascadingEntity.php
  src/Symfony/Component/Validator/Tests/Mapping/ClassMetadataTest.php
  src/Symfony/Component/Validator/Tests/Validator/AbstractTest.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
Labels: Feature, Status: Reviewed, Validator

#33729 [Console] Add signal event
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/ConsoleEvents.php
  src/Symfony/Component/Console/Event/ConsoleSignalEvent.php
  src/Symfony/Component/Console/SignalRegistry/SignalRegistry.php
  src/Symfony/Component/Console/Tests/SignalRegistry/SignalRegistryTest.php
Labels: Console, Feature, Status: Reviewed

#37671 [Cache] fix saving no-expiry items with ArrayAdapter
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
Labels: Bug, Cache, Status: Reviewed
