Repository symfony/symfony, pull requests merged in 2020-11, with the labels that each got.

#38905 Update Galician translations.
  src/Symfony/Component/Form/Resources/translations/validators.gl.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.gl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.gl.xlf
Labels: Bug, Missing translations, Status: Reviewed

#38918 Add missing translations for Afrikaans
  src/Symfony/Component/Form/Resources/translations/validators.af.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.af.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.af.xlf
Labels: Bug, Missing translations, Status: Reviewed

#38908 [Security] Added missing Lithuanian translations
  src/Symfony/Component/Security/Core/Resources/translations/security.lt.xlf
Labels: Bug, Missing translations, Security, Status: Reviewed

#38907 [Form] Added missing Lithuanian translations
  src/Symfony/Component/Form/Resources/translations/validators.lt.xlf
Labels: Bug, Form, Missing translations, Status: Reviewed

#38936 Fix not well-formed validators.gl.xf
  src/Symfony/Component/Form/Resources/translations/validators.gl.xlf
Labels: Bug, Status: Reviewed

#38912 Fix transiant tests
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/FormLoginTest.php
Labels: Bug, Status: Reviewed

#38931 Set constant visibility in tests to private where possible
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypePerformanceTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineFooType.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Security/FirewallMapTest.php
  src/Symfony/Component/EventDispatcher/Tests/EventDispatcherTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/BooleanToStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/ViolationMapperTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MemcachedSessionHandlerTest.php
  src/Symfony/Component/Intl/Tests/Data/Bundle/Reader/BundleEntryReaderTest.php
  src/Symfony/Component/Intl/Tests/Util/GitRepositoryTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyPathBuilderTest.php
  src/Symfony/Component/Security/Core/Tests/Encoder/Argon2iPasswordEncoderTest.php
  src/Symfony/Component/Security/Core/Tests/Encoder/BCryptPasswordEncoderTest.php
  src/Symfony/Component/Security/Core/Tests/Validator/Constraints/UserPasswordValidatorTest.php
  src/Symfony/Component/Security/Csrf/Tests/TokenGenerator/UriSafeTokenGeneratorTest.php
  src/Symfony/Component/Security/Csrf/Tests/TokenStorage/NativeSessionTokenStorageTest.php
  src/Symfony/Component/Security/Csrf/Tests/TokenStorage/SessionTokenStorageTest.php
  src/Symfony/Component/Security/Guard/Tests/Authenticator/FormLoginAuthenticatorTest.php
  src/Symfony/Component/Serializer/Tests/Encoder/ChainDecoderTest.php
  src/Symfony/Component/Serializer/Tests/Encoder/ChainEncoderTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/DataUriNormalizerTest.php
  src/Symfony/Component/Stopwatch/Tests/StopwatchEventTest.php
  src/Symfony/Component/Stopwatch/Tests/StopwatchTest.php
  src/Symfony/Component/Validator/Tests/Mapping/ClassMetadataTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Factory/LazyLoadingMetadataFactoryTest.php
  src/Symfony/Component/Validator/Tests/Mapping/GetterMetadataTest.php
  src/Symfony/Component/Validator/Tests/Mapping/PropertyMetadataTest.php
Labels: Status: Reviewed

#38938 Remove translations that does not exists in English
  src/Symfony/Component/Security/Core/Resources/translations/security.af.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.bs.xlf
Labels: Security, Status: Reviewed

#38926 Update validators.da.xlf
  src/Symfony/Component/Form/Resources/translations/validators.da.xlf
Labels: Missing translations, Status: Reviewed

#38928 Update validators.da.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.da.xlf
Labels: Missing translations, Status: Reviewed

#38927 Update security.da.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.da.xlf
Labels: Missing translations, Status: Reviewed

#38939 Validate XLIFF files in tests using the XSD
  src/Symfony/Component/Form/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Security/Core/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Validator/Tests/Resources/TranslationFilesTest.php
Labels: Form, Security, Status: Reviewed, Validator

#38919 [Console] Make error message more verbose
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Tests/Input/ArgvInputTest.php
Labels: Console, Feature, Status: Reviewed

#38948 Add symfony/translation to the dev dependencies of symfony/security
  src/Symfony/Component/Security/composer.json
Labels: Bug, Security, Status: Reviewed

#38947 [Messenger] Fixed tests with doctrine 3
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineReceiverTest.php
Labels: Messenger, Status: Reviewed

#38924 fix: updating translation issues
  src/Symfony/Component/Form/Resources/translations/validators.pt.xlf
Labels: Bug, Missing translations, Status: Reviewed

#38955 Missing translations for Catalan (ca)
  src/Symfony/Component/Form/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
Labels: Missing translations, Status: Reviewed

#38951 [Validator] Add missing Azerbaijani translation
  src/Symfony/Component/Validator/Resources/translations/validators.az.xlf
Labels: Missing translations, Status: Reviewed, Validator

#38952 [Security] Add missing Azerbaijani translation
  src/Symfony/Component/Security/Core/Resources/translations/security.az.xlf
Labels: Missing translations, Security, Status: Reviewed

#38953 [Form] Add missing Azerbaijani translation
  src/Symfony/Component/Form/Resources/translations/validators.az.xlf
Labels: Form, Missing translations, Status: Reviewed

#38911 Fix transiant tests in 4.4
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
  src/Symfony/Component/Routing/Tests/Loader/DependencyInjection/ServiceRouterLoaderTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/SimpleAuthenticationHandlerTest.php
Labels: Bug, Status: Reviewed

#38945 [Finder] Force set access time in test
  src/Symfony/Component/Finder/Tests/Iterator/SortableIteratorTest.php
Labels: Finder, Status: Reviewed

#38932 [Validator] Merge RecursiveValidatorTest with its parents
  src/Symfony/Component/Validator/Tests/Validator/AbstractTest.php
  src/Symfony/Component/Validator/Tests/Validator/AbstractValidatorTest.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
Labels: Status: Reviewed, Validator

#38962 Update security.he.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.he.xlf
Labels: Missing translations, Status: Reviewed

#38961 Update validators.he.xlf
  src/Symfony/Component/Form/Resources/translations/validators.he.xlf
Labels: Missing translations, Status: Reviewed

#38963 Update validators.he.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.he.xlf
Labels: Status: Reviewed

#38930 translating the validators for european portuguese language
  src/Symfony/Component/Form/Resources/translations/validators.pt.xlf
Labels: Bug, Missing translations, Status: Needs Review

#38917 Fixing some Mongolian
  src/Symfony/Component/Validator/Resources/translations/validators.mn.xlf
Labels: Missing translations, Status: Needs Work

#38921 [PHPUnitBridge] Fixed crash on Windows with PHP 8
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#38950 [Process] Dont test TTY if there is no TTY support
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Process, Status: Reviewed

#38882 [DependencyInjection] fix performances in circular refs detection
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Performance, Status: Reviewed

#38910 [HttpKernel] Fix session initialized several times
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#38842 [Notifier] Add unit tests for NullMessage, NullTransport and NullTransportFactory
  src/Symfony/Component/Notifier/Tests/Message/DummyMessageWithTransport.php
  src/Symfony/Component/Notifier/Tests/Message/DummyMessageWithoutTransport.php
  src/Symfony/Component/Notifier/Tests/Message/EmailMessageTest.php
  src/Symfony/Component/Notifier/Tests/Message/NullMessageTest.php
  src/Symfony/Component/Notifier/Tests/Message/SmsMessageTest.php
  src/Symfony/Component/Notifier/Tests/Transport/DummyMessage.php
  src/Symfony/Component/Notifier/Tests/Transport/NullTransportFactoryTest.php
  src/Symfony/Component/Notifier/Tests/Transport/NullTransportTest.php
  src/Symfony/Component/Notifier/composer.json
Labels: Notifier, Status: Reviewed

#38941 [FrameworkBundle] Register AddErrorDetailsStampListener from the Messenger component as event subscriber
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#38967 Switch nightly run to 8.0snapshot
  .travis.yml
Labels: Status: Reviewed

#38971 [PhpUnitBridge] fix replaying skipped tests
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Component/Intl/Tests/DateFormatter/Verification/IntlDateFormatterTest.php
Labels: Bug, Status: Needs Review

#38978 Rename security.pt_PT.xlf to security.pt.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.pt.xlf
Labels: Bug, Status: Reviewed

#38977 [HttpClient] Check status code before decoding content in TraceableResponse
  src/Symfony/Component/HttpClient/Response/TraceableResponse.php
  src/Symfony/Component/HttpClient/Tests/TraceableHttpClientTest.php
Labels: Bug, HttpClient, Status: Reviewed

#38954 [HttpFundation][FrameworkBundle] Deprecate the HEADER_X_FORWARDED_ALL constant
  UPGRADE-5.2.md
  UPGRADE-6.0.md
  src/Symfony/Bridge/Monolog/Tests/Processor/WebProcessorTest.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
Labels: Deprecation, HttpFoundation, Status: Reviewed

#38940 [Messenger] Improve formatting of exception in failed message
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesShowCommandTest.php
Labels: Feature, Messenger, Status: Reviewed

#38850 [Messenger] Do not call getQueueUrl when the url is known in AmazonSqs transport
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Feature, Messenger, Status: Reviewed

#38995 [Security] Fix docblock
  src/Symfony/Component/Security/Core/Authentication/Token/Storage/TokenStorageInterface.php
Labels: Bug, Status: Reviewed

#38986 [DoctrineBridge] accept converting Uid-as-strings to db-values
  src/Symfony/Bridge/Doctrine/Tests/Types/UlidBinaryTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UlidTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UuidBinaryTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UuidTypeTest.php
  src/Symfony/Bridge/Doctrine/Types/AbstractBinaryUidType.php
  src/Symfony/Bridge/Doctrine/Types/AbstractUidType.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#38980 [DependencyInjection] Fix circular reference with Factory + Lazy Iterrator
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_almost_circular.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
Labels: Bug, DependencyInjection, Status: Reviewed

#38991 [Console] Fix ANSI when stdErr is not a tty
  src/Symfony/Component/Console/Output/ConsoleOutput.php
  src/Symfony/Component/Console/Tests/Output/ConsoleOutputTest.php
Labels: Bug, Console, Status: Reviewed

#39009 [CI] Fix invalid Doctrine parameter syntax
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineIntegrationTest.php
Labels: Messenger, Status: Reviewed

#39017 [ProxyManagerBridge] replace ProxyManager\Version by feature detection
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
Labels: Status: Reviewed

#39025 [DoctrineBridge] Fix DBAL deprecations in middlewares
  src/Symfony/Bridge/Doctrine/Messenger/DoctrinePingConnectionMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrinePingConnectionMiddlewareTest.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#39026 [Messenger] Fix DBAL deprecations in PostgreSqlConnection
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/PostgreSqlConnection.php
Labels: Bug, Messenger, Status: Reviewed

#39002 [Validator] Override the default option of the choice constraint
  src/Symfony/Component/Validator/Constraints/Choice.php
  src/Symfony/Component/Validator/Tests/Constraints/ChoiceTest.php
  src/Symfony/Component/Validator/Tests/Fixtures/ConstraintChoiceWithPreset.php
Labels: Bug, Status: Reviewed, Validator

#39022 [FrameworkBundle] Allow to use attribute-based configuration of routing/serializer without doctrine/annotations
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Feature, FrameworkBundle, Status: Reviewed

#39032 [Validator] Allow load mappings from attributes without doctrine/annotations
  UPGRADE-5.2.md
  UPGRADE-6.0.md
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/ValidatorCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Tests/Constraints/ValidValidatorTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/PropertyInfoLoaderTest.php
  src/Symfony/Component/Validator/Tests/ValidatorBuilderTest.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Deprecation, Feature, Status: Reviewed

#39038 [DoctrineBridge] also reset id readers
  src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#39029 Adds constants for YamlEncoder options
  src/Symfony/Component/Serializer/Encoder/YamlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/YamlEncoderTest.php
Labels: Serializer, Status: Reviewed

#39031 [Ldap] Fix pagination
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php
Labels: Bug, Ldap, Status: Reviewed

#39021 [DependencyInjection] Optimize circular collection by removing flattening
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Reviewed

#38628 [DoctrineBridge] indexBy could reference to association columns
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineDummy.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineRelation.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#39004 [Messenger] Fix JSON deserialization of ErrorDetailsStamp and normalization of FlattenException::$statusText
  src/Symfony/Component/Messenger/EventListener/AddErrorDetailsStampListener.php
  src/Symfony/Component/Messenger/Stamp/ErrorDetailsStamp.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesShowCommandTest.php
  src/Symfony/Component/Messenger/Tests/EventListener/AddErrorDetailsStampListenerTest.php
  src/Symfony/Component/Messenger/Tests/Stamp/ErrorDetailsStampTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/Normalizer/FlattenExceptionNormalizerTest.php
  src/Symfony/Component/Messenger/Transport/Serialization/Normalizer/FlattenExceptionNormalizer.php
Labels: Bug, Messenger, Status: Reviewed

#39043 Release v5.2.0-RC1
  CHANGELOG-5.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#38974 [Intl] deprecate polyfills in favor of symfony/polyfill-intl-icu
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/Intl/Collator/Collator.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/AmPmTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/DayOfWeekTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/DayOfYearTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/DayTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/FullTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/Hour1200Transformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/Hour1201Transformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/Hour2400Transformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/Hour2401Transformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/HourTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/MinuteTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/MonthTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/QuarterTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/SecondTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/TimezoneTransformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/Transformer.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/YearTransformer.php
  src/Symfony/Component/Intl/DateFormatter/IntlDateFormatter.php
  src/Symfony/Component/Intl/Exception/MethodArgumentNotImplementedException.php
  src/Symfony/Component/Intl/Exception/MethodArgumentValueNotImplementedException.php
  src/Symfony/Component/Intl/Exception/MethodNotImplementedException.php
  src/Symfony/Component/Intl/Exception/NotImplementedException.php
  src/Symfony/Component/Intl/Globals/IntlGlobals.php
  src/Symfony/Component/Intl/Locale/Locale.php
  src/Symfony/Component/Intl/NumberFormatter/NumberFormatter.php
  src/Symfony/Component/Intl/README.md
  src/Symfony/Component/Intl/Resources/functions.php
  src/Symfony/Component/Intl/Resources/stubs/Collator.php
  src/Symfony/Component/Intl/Resources/stubs/IntlDateFormatter.php
  src/Symfony/Component/Intl/Resources/stubs/Locale.php
  src/Symfony/Component/Intl/Resources/stubs/NumberFormatter.php
  src/Symfony/Component/Intl/Tests/Collator/CollatorTest.php
  src/Symfony/Component/Intl/Tests/DateFormatter/AbstractIntlDateFormatterTest.php
  src/Symfony/Component/Intl/Tests/DateFormatter/IntlDateFormatterTest.php
  src/Symfony/Component/Intl/Tests/Globals/AbstractIntlGlobalsTest.php
  src/Symfony/Component/Intl/Tests/Globals/IntlGlobalsTest.php
  src/Symfony/Component/Intl/Tests/Globals/Verification/IntlGlobalsTest.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/AbstractNumberFormatterTest.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/NumberFormatterTest.php
  src/Symfony/Component/Intl/composer.json
  src/Symfony/Contracts/Translation/Test/TranslatorTest.php
Labels: Deprecation, Status: Needs Review

#38998 [Messenger][SQS] Make sure one can enable debug logs
  composer.json
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/composer.json
Labels: Feature, Messenger, Status: Reviewed

#38596 [BrowserKit] Add jsonRequest function to the browser-kit client
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/BrowserKit/CHANGELOG.md
  src/Symfony/Component/BrowserKit/Tests/AbstractBrowserTest.php
Labels: BrowserKit, Feature, Status: Reviewed

#39059 [Filesystem] fix cleaning up tmp files when dumpFile() fails
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Bug, Filesystem, Status: Reviewed

#39047 [MimeType] Add missing alias for service @mime_type
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mime_type.xml
Labels: Bug, FrameworkBundle, Status: Reviewed

#39058 [DependencyInjection] Fix circular detection with multiple paths
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_almost_circular.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
Labels: Bug, DependencyInjection, Status: Reviewed

#38898 [Cache] Add tests on CacheDataCollector
  src/Symfony/Component/Cache/Tests/DataCollector/CacheDataCollectorTest.php
  src/Symfony/Component/Cache/composer.json
Labels: Cache, Status: Reviewed

#38999 [DependencyInjection] autoconfigure behavior describing tags on decorators
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInstanceofConditionalsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveInstanceofConditionalsPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#38387 [Validator] prevent hash collisions caused by reused object hashes
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/Validator/Context/ExecutionContext.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
  src/Symfony/Component/Validator/Validator/RecursiveContextualValidator.php
Labels: Bug, Status: Reviewed, Validator

#39073 [HttpKernel] Update doc block on ExceptionEvent
  src/Symfony/Component/HttpKernel/Event/ExceptionEvent.php
Labels: HttpKernel, Status: Reviewed

#39070 [Validator] Remove IsinValidator's validator dependency
  src/Symfony/Component/Validator/Constraints/IsinValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/IsinValidatorTest.php
Labels: Bug, Status: Reviewed, Validator

#39072 [FrameworkBundle] [Notifier] fix firebase transport factory DI tag type
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.xml
Labels: Bug, FrameworkBundle, Status: Reviewed

#39060 [BrowserKit] [Browserkit] Add changelog entry for request parameters string cast
  src/Symfony/Component/BrowserKit/CHANGELOG.md
Labels: BrowserKit, Status: Reviewed

#39080 [Yaml] remove unreachable code
  src/Symfony/Component/Yaml/Parser.php
Labels: Status: Reviewed, Yaml

#38846 [Messenger] Make all the dependencies of AmazonSqsTransport injectable
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsTransportTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsTransport.php
Labels: Feature, Messenger, Status: Reviewed

#38614 [HttpFoundation] Fix for virtualhosts based on URL path
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#39092 Fix critical extension when reseting paged control
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php
Labels: Bug, Status: Reviewed

#39091 [Config] Recheck glob brace support after GlobResource was serialized
  src/Symfony/Component/Config/Resource/GlobResource.php
  src/Symfony/Component/Config/Tests/Resource/GlobResourceTest.php
Labels: Bug, Config, Status: Reviewed

#39030 [LDAP] Add ldap tests to github CI
  .github/workflows/tests.yml
  .travis.yml
  phpunit.xml.dist
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/LdapManagerTest.php
  src/Symfony/Component/Ldap/Tests/Fixtures/conf/slapd.conf
  src/Symfony/Component/Ldap/Tests/Fixtures/data/base.ldif
  src/Symfony/Component/Ldap/Tests/LdapTestCase.php
  src/Symfony/Component/Ldap/phpunit.xml.dist
Labels: Bug, Status: Reviewed

#39094 [Ldap] Fix undefined variable $con
  src/Symfony/Component/Ldap/Adapter/ExtLdap/EntryManager.php
Labels: Bug, Ldap, Status: Reviewed

#39093 [Finder] Minor : Removed typo (extra "the" term) in hasResults() method documentation
  src/Symfony/Component/Finder/Finder.php
Labels: Finder, Status: Reviewed

#39077 [PhpUnitBridge] Fix test fixture filename
  src/Symfony/Bridge/PhpUnit/Tests/Fixtures/coverage/tests/SutNotFoundTest.php
Labels: PhpUnitBridge, Status: Reviewed

#39095 [Cache] Run Redis Sentinel tests in GithubAction
  .github/workflows/tests.yml
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
Labels: Bug, Cache, Status: Reviewed

#39083 [Dotenv] Check if method inheritEnvironmentVariables exists
  src/Symfony/Component/Dotenv/Dotenv.php
Labels: Bug, Dotenv, Status: Reviewed

#39101 [HttpKernel] do not depend on the actual time to fix a transient test
  src/Symfony/Component/HttpKernel/Tests/HttpCache/ResponseCacheStrategyTest.php
Labels: HttpKernel, Status: Reviewed

#39111 [Security] Update password upgrader listener to work with the new UserBadge
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/PasswordUpgradeBadge.php
  src/Symfony/Component/Security/Http/EventListener/PasswordMigratingListener.php
  src/Symfony/Component/Security/Http/EventListener/UserProviderListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
Labels: Bug, Security, Status: Reviewed

#33763 [Yaml] fix lexing nested sequences/mappings
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#39115 [HttpClient] don't fallback to HTTP/1.1 when HTTP/2 streams break
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, HttpClient, Status: Reviewed

#39113 [DoctrineBridge] drop binary variants of UID types
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterUidTypePass.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UlidBinaryTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UlidTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UuidBinaryTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UuidTypeTest.php
  src/Symfony/Bridge/Doctrine/Types/AbstractBinaryUidType.php
  src/Symfony/Bridge/Doctrine/Types/AbstractUidType.php
  src/Symfony/Bridge/Doctrine/Types/UlidBinaryType.php
  src/Symfony/Bridge/Doctrine/Types/UuidBinaryType.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#38982 [Console][Yaml] Linter: add Github annotations format for errors
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/CI/GithubActionReporter.php
  src/Symfony/Component/Console/Tests/CI/GithubActionReporterTest.php
  src/Symfony/Component/Yaml/CHANGELOG.md
  src/Symfony/Component/Yaml/Command/LintCommand.php
  src/Symfony/Component/Yaml/Tests/Command/LintCommandTest.php
Labels: Console, Feature, Status: Reviewed, Yaml

#39075 [Messenger]  Allow InMemoryTransport to serialize message
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Tests/Transport/InMemoryTransportFactoryTest.php
  src/Symfony/Component/Messenger/Tests/Transport/InMemoryTransportTest.php
  src/Symfony/Component/Messenger/Transport/InMemoryTransport.php
  src/Symfony/Component/Messenger/Transport/InMemoryTransportFactory.php
Labels: Feature, Messenger, Status: Reviewed

#39121 [HttpFoundation] Typo on deprecation package name
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: HttpFoundation, Status: Reviewed

#39131 [Cache] Fix CI because of Couchbase version
  .github/workflows/tests.yml
  src/Symfony/Component/Cache/Adapter/CouchbaseBucketAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/CouchbaseBucketAdapterTest.php
Labels: Bug, Cache, Status: Reviewed

#39133 Release v5.2.0-RC2
  CHANGELOG-5.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#39138 [Security] Removing Unused AnonymousPassport
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/AnonymousPassport.php
  src/Symfony/Component/Security/Http/Tests/EventListener/UserProviderListenerTest.php
Labels: Bug, Security, Status: Reviewed

#39158 Fix typo in comment
  src/Symfony/Component/Routing/Matcher/Dumper/CompiledUrlMatcherDumper.php
Labels: Status: Needs Review

#39155 [VarDumper] fix casting resources turned into objects on PHP 8
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Bug, Status: Reviewed, VarDumper

#39168 [Console] Fix console closing tag
  src/Symfony/Component/Console/Formatter/OutputFormatter.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/command/command_20.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/output/output_20.txt
Labels: Bug, Console, Status: Reviewed

#39170 Improve return value for phpdoc of Normalizer
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateIntervalNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeZoneNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ProblemNormalizer.php
Labels: Status: Reviewed

#39160 [Console] Use a partial buffer in SymfonyStyle
  src/Symfony/Component/Console/Output/TrimmedBufferOutput.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tests/Style/SymfonyStyleTest.php
Labels: Bug, Console, Status: Reviewed

#38597 [PhpUnitBridge] Fix qualification of deprecations triggered by the debug class loader
  src/Symfony/Bridge/PhpUnit/.gitignore
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/debug_class_loader_autoload.phpt
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/fake_app/BarService.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/fake_vendor/acme/lib/ExtendsDeprecatedClassFromOtherVendor.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/fake_vendor/composer/autoload_real.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/fake_vendor/fcy/lib/DeprecatedClass.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/fake_vendor/symfony/error-handler/.gitkeep
  src/Symfony/Bridge/PhpUnit/composer.json
Labels: Bug, PhpUnitBridge, Status: Reviewed

#39180 [Serializer] Fix denormalizing scalar with UnwrappingDenormalizer
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Bug, Serializer, Status: Reviewed

#39187 [Security] Support for SwitchUserToken instances serialized with 4.4/5.1
  src/Symfony/Component/Security/Core/Authentication/Token/SwitchUserToken.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/Fixtures/switch-user-token-4.4.txt
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/SwitchUserTokenTest.php
Labels: Bug, Security, Status: Reviewed

#39154 [Yaml] fix lexing strings containing escaped quotation characters
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#39146 [Console] Added Invalid constant into Command Class
  src/Symfony/Component/Console/Command/Command.php
Labels: Console, Status: Reviewed

#39128 [HttpFoundation] Deprecate BinaryFileResponse::create()
  UPGRADE-5.2.md
  UPGRADE-6.0.md
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
Labels: Deprecation, HttpFoundation, Status: Reviewed

#39118 [DoctrineBridge] Require doctrine/persistence 2
  composer.json
  src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php
  src/Symfony/Bridge/Doctrine/Form/Type/EntityType.php
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Bridge/Doctrine/composer.json
Labels: DoctrineBridge, Status: Needs Review

#39099 [Form] ignore the pattern attribute for textareas
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Form/Extension/Core/Type/TextareaType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
Labels: Bug, Form, Status: Reviewed

#39119 [Form] prevent duplicated error message for file upload limits
  src/Symfony/Component/Form/Extension/Core/Type/FileType.php
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationMapper.php
  src/Symfony/Component/Form/FileUploadError.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/ViolationMapperTest.php
Labels: Bug, Form, Status: Reviewed

#39068 [DependencyInjection][Translator] Silent deprecation triggered by libxml_disable_entity_loader
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/Form/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Security/Core/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Translation/Util/XliffUtils.php
  src/Symfony/Component/Validator/Tests/Resources/TranslationFilesTest.php
Labels: Bug, DependencyInjection, Status: Reviewed, Translator

#39037 [Ldap] Ldap Entry case-sensitive attribute key option
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Ldap/Entry.php
  src/Symfony/Component/Ldap/Tests/EntryTest.php
Labels: Feature, Ldap, Status: Reviewed

#39097 [DomCrawler] Cache discovered namespaces
  src/Symfony/Component/DomCrawler/Crawler.php
Labels: Bug, DomCrawler, Performance, Status: Reviewed

#39036 Add Romanian missing translations
  src/Symfony/Component/Form/Resources/translations/validators.ro.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.ro.xlf
Labels: Missing translations, Status: Reviewed

#39193 Release v3.4.47
  CHANGELOG-3.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#39200 [Semaphore] Allow symfony/semaphore on PHP8
  src/Symfony/Component/Semaphore/composer.json
Labels: Bug, Semaphore, Status: Reviewed

#39199 [FrameworkBundle] [minor] adjust Client::getProfile() typehint
  src/Symfony/Bundle/FrameworkBundle/Client.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#39129 [DependencyInjection] Fix circular in DI with lazy + byContruct loop
  src/Symfony/Component/DependencyInjection/Compiler/AnalyzeServiceReferencesPass.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_almost_circular.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
Labels: Bug, DependencyInjection, Status: Reviewed

#38923 fix: solving pt-br translation issues
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
Labels: Bug, Missing translations, Status: Needs Work

#39197 [Validation] updating pt translations
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
Labels: Missing translations, Status: Needs Review

#39209 [Console] Fix parameter order
  src/Symfony/Component/Console/Output/TrimmedBufferOutput.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
Labels: Bug, Console, Status: Reviewed

#39198 [FrameworkBundle] [minor] adjust KernelBrowser::getProfile() typehint
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#39211 [HttpClient] fix binding to network interfaces
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
Labels: Bug, HttpClient, Status: Needs Review

#39212 [HttpClient] fix binding to network interfaces
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpClient/Internal/AmpClientState.php
Labels: Bug, HttpClient, Status: Needs Review

#39210 [DoctrineBridge] Fix form EntityType with filter on UID
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/ORMQueryBuilderLoader.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/UlidIdEntity.php
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/ORMQueryBuilderLoaderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UlidTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UuidTypeTest.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#39166 [Messenger] Fix mssql compatibility for doctrine transport.
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#39215 Release v4.4.17
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#39216 Release v5.1.9
  CHANGELOG-5.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#39213 [Security] [DX] Automatically add PasswordUpgradeBadge + default support() impl in AbstractFormLoginAuthenticator
  src/Symfony/Component/Security/Http/Authenticator/AbstractLoginFormAuthenticator.php
  src/Symfony/Component/Security/Http/EventListener/CheckCredentialsListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/CheckCredentialsListenerTest.php
Labels: DX, Feature, Security, Status: Reviewed

#39224 Release v5.2.0
  CHANGELOG-5.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#39243 [Filesystem] File existence check before calling unlink method
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: Bug, Filesystem, Status: Reviewed

#39241 [Yaml] fix lexing inline sequences/mappings with trailing whitespaces
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#39223 [Console] Re-enable hyperlinks in Konsole/Yakuake
  src/Symfony/Component/Console/Formatter/OutputFormatterStyle.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Bug, Console, Status: Reviewed

#39247 [Security] remove return type definition in order to avoid type juggling
  src/Symfony/Component/Security/Core/Authorization/Voter/TraceableVoter.php
Labels: Bug, Security, Status: Reviewed
