Repository symfony/symfony, pull requests merged in 2021-01, with the labels that each got.

#39674 [Messenger] fix postgres transport when the retry table is the same
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/PostgreSqlConnection.php
Labels: Bug, Messenger, Status: Reviewed

#39668 [Yaml] do not dump extra trailing newlines for multiline blocks
  src/Symfony/Component/Yaml/Dumper.php
  src/Symfony/Component/Yaml/Tests/DumperTest.php
  src/Symfony/Component/Yaml/Tests/Fixtures/multiple_lines_as_literal_block.yml
  src/Symfony/Component/Yaml/Tests/Fixtures/multiple_lines_as_literal_block_leading_space_in_first_line.yml
Labels: Bug, Status: Reviewed, Yaml

#39608 [Messenger] Setup queues once in AMQP
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Feature, Messenger, Status: Reviewed

#39577 [Serializer] Migrate ArrayDenormalizer to DenormalizerAwareInterface
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ArrayDenormalizerTest.php
Labels: Deprecation, Serializer, Status: Reviewed

#39660 [Messenger] Deprecate option prefetch_count
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/Messenger/Bridge/Amqp/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Deprecation, Messenger, Status: Reviewed

#39666 [FrameworkBundle][HttpFoundation] add assertResponseFormatSame()
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Test/BrowserKitAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Test/WebTestCaseTest.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseFormatSame.php
  src/Symfony/Component/HttpFoundation/Tests/Test/Constraint/ResponseFormatSameTest.php
Labels: Feature, FrameworkBundle, HttpFoundation, Status: Reviewed

#39684 [DomCrawler] deprecate parents() in favor of ancestors()
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTest.php
  src/Symfony/Component/DomCrawler/composer.json
Labels: Deprecation, DomCrawler, Feature, Status: Reviewed

#39686 [Lock] Fix config merging in lock
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Bug, Lock, Status: Reviewed

#39670 [Form] disable error bubbling by default when inherit_data is configured
  src/Symfony/Component/Form/Extension/Core/Type/FormType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FormTypeTest.php
Labels: Bug, Form, Status: Reviewed

#39683 [Yaml] keep trailing newlines when dumping multi-line strings
  src/Symfony/Component/Yaml/Dumper.php
  src/Symfony/Component/Yaml/Tests/DumperTest.php
  src/Symfony/Component/Yaml/Tests/Fixtures/multiple_lines_as_literal_block.yml
Labels: Bug, Status: Reviewed, Yaml

#39694 [PropertyAccess] remove unneeded sprintf() call
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: PropertyAccess, Status: Reviewed

#39692 [FrameworkBundle] Dump abstract arguments
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/ObjectsProvider.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_arguments.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_arguments.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_1.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_1.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_1.xml
Labels: Bug, FrameworkBundle, Status: Reviewed

#39696 [DoctrineBridge] Deprecate internal test helpers in Test namespace
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Test/DoctrineTestHelper.php
  src/Symfony/Bridge/Doctrine/Test/TestRepositoryFactory.php
  src/Symfony/Bridge/Doctrine/Tests/DoctrineTestHelper.php
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/ORMQueryBuilderLoaderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypePerformanceTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
  src/Symfony/Bridge/Doctrine/Tests/TestRepositoryFactory.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
Labels: Deprecation, DoctrineBridge, Status: Reviewed

#39706 [HttpKernel] harden test to not depend on the actual time
  src/Symfony/Component/HttpKernel/Tests/Profiler/FileProfilerStorageTest.php
Labels: HttpKernel, Status: Reviewed

#39704 [Finder] actually compare the order of entries when any sorting is applied
  src/Symfony/Component/Finder/Tests/FinderTest.php
Labels: Finder, Status: Reviewed

#39705 [ProxyManager] fix tests
  composer.json
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/Fixtures/proxy-implem.php
  src/Symfony/Bridge/ProxyManager/composer.json
Labels: Status: Reviewed

#39709 fix code style
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/AbstractDescriptorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/workflows.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/ClassAliasExampleClass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Validation/Category.php
  src/Symfony/Bundle/SecurityBundle/Tests/DataCollector/SecurityDataCollectorTest.php
  src/Symfony/Component/DomCrawler/Tests/Html5ParserCrawlerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/StringToFloatTransformerTest.php
  src/Symfony/Component/HttpClient/Tests/Exception/HttpExceptionTraitTest.php
  src/Symfony/Component/Mailer/Test/TransportFactoryTestCase.php
  src/Symfony/Component/Mailer/Tests/Transport/DsnTest.php
  src/Symfony/Component/Mailer/Tests/TransportTest.php
  src/Symfony/Component/Routing/Tests/Loader/ObjectLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/ObjectRouteLoaderTest.php
Labels: Status: Reviewed

#39713 [Cache] use the clock mock to make test more resilient
  src/Symfony/Component/Cache/Tests/Messenger/EarlyExpirationHandlerTest.php
Labels: Cache, Status: Reviewed

#39711 Cleanup CI scripts
  .appveyor.yml
  .github/build-packages.php
  .github/rm-invalid-lowest-lock-files.php
  .github/workflows/tests.yml
  .travis.yml
  src/Symfony/Component/Cache/composer.json
Labels: Status: Needs Review

#39710 fix code style
  src/Symfony/Bridge/Monolog/Handler/FingersCrossed/HttpCodeActivationStrategy.php
  src/Symfony/Component/Config/Definition/Processor.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/Foo.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/DeprecatedClass.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FactoryDummy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/MultipleArgumentsOptionalScalarNotReallyOptional.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DomCrawler/Tests/Html5ParserCrawlerTest.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/FinalClasses.php
  src/Symfony/Component/Form/Extension/Core/Type/TimeType.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/StringToFloatTransformerTest.php
  src/Symfony/Component/Ldap/Tests/LdapTestCase.php
  src/Symfony/Component/Mailer/Test/TransportFactoryTestCase.php
  src/Symfony/Component/Mailer/Tests/Transport/DsnTest.php
  src/Symfony/Component/Mailer/Tests/TransportTest.php
  src/Symfony/Component/Messenger/RoutableMessageBus.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/Fixtures/long_receiver.php
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/ConnectionTest.php
  src/Symfony/Component/Mime/Test/Constraint/EmailAddressContains.php
  src/Symfony/Component/Validator/Tests/Fixtures/PropertyGetter.php
  src/Symfony/Contracts/HttpClient/Test/Fixtures/web/index.php
Labels: Status: Reviewed

#39707 [Validator] mistake
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
Labels: Status: Needs Review, Validator

#39708 [WebProfilerBundle] take query and request parameters into account when matching routes
  src/Symfony/Bundle/WebProfilerBundle/Controller/RouterController.php
Labels: Bug, Status: Reviewed, WebProfilerBundle

#39691 [DomCrawler] fix tests to run assertions on returned Crawler instances
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTest.php
Labels: DomCrawler, Status: Needs Review

#39649 [Validator] propagate groups to nested constraints
  src/Symfony/Component/Validator/Constraints/AtLeastOneOfValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/AtLeastOneOfValidatorTest.php
Labels: Bug, Status: Needs Review, Validator

#39695 [PropertyAccess] throw type error when incompatible types are passed
  UPGRADE-6.0.md
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: Bug, PropertyAccess, Status: Reviewed

#39672 [FrameworkBundle] Fix UidNormalizer priority
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#39715 [Cache] allow HttpKernel 5.x
  src/Symfony/Component/Cache/composer.json
Labels: Cache, Status: Reviewed

#39717 [TwigBridge] Remove full head content in HTML to text converter
  src/Symfony/Bridge/Twig/Mime/BodyRenderer.php
  src/Symfony/Bridge/Twig/Tests/Mime/BodyRendererTest.php
Labels: Bug, Status: Reviewed, TwigBridge

#39703 [Finder] apply the sort callback on the whole search result
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
  src/Symfony/Component/Finder/Tests/Iterator/IteratorTestCase.php
Labels: Bug, Finder, Status: Reviewed

#39701 [Lock] Create flock directory
  src/Symfony/Component/Lock/Store/FlockStore.php
  src/Symfony/Component/Lock/Tests/Store/FlockStoreTest.php
Labels: Feature, Lock, Status: Reviewed

#39051 [WebProfilerBundle] Possibility to dynamically set mode
  src/Symfony/Bundle/WebProfilerBundle/EventListener/WebDebugToolbarListener.php
Labels: Status: Reviewed

#39716 [DependencyInjection] do not break when loading schemas from network paths on Windows
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
Labels: Bug, DependencyInjection, Status: Reviewed

#39642 [Console] Support binary / negatable options
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Component/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Component/Console/Descriptor/TextDescriptor.php
  src/Symfony/Component/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Input/ArrayInput.php
  src/Symfony/Component/Console/Input/InputDefinition.php
  src/Symfony/Component/Console/Input/InputOption.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/Command/ListCommandTest.php
  src/Symfony/Component/Console/Tests/Fixtures/application_1.json
  src/Symfony/Component/Console/Tests/Fixtures/application_1.md
  src/Symfony/Component/Console/Tests/Fixtures/application_1.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_1.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_2.json
  src/Symfony/Component/Console/Tests/Fixtures/application_2.md
  src/Symfony/Component/Console/Tests/Fixtures/application_2.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_2.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_filtered_namespace.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_mbstring.md
  src/Symfony/Component/Console/Tests/Fixtures/application_mbstring.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_run1.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_run2.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_run3.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_run5.txt
  src/Symfony/Component/Console/Tests/Fixtures/command_2.md
  src/Symfony/Component/Console/Tests/Fixtures/command_mbstring.md
  src/Symfony/Component/Console/Tests/Fixtures/input_definition_3.md
  src/Symfony/Component/Console/Tests/Fixtures/input_definition_4.md
  src/Symfony/Component/Console/Tests/Fixtures/input_option_1.md
  src/Symfony/Component/Console/Tests/Fixtures/input_option_2.md
  src/Symfony/Component/Console/Tests/Fixtures/input_option_3.md
  src/Symfony/Component/Console/Tests/Fixtures/input_option_4.md
  src/Symfony/Component/Console/Tests/Fixtures/input_option_5.md
  src/Symfony/Component/Console/Tests/Fixtures/input_option_6.md
  src/Symfony/Component/Console/Tests/Fixtures/input_option_with_default_inf_value.md
  src/Symfony/Component/Console/Tests/Fixtures/input_option_with_style.md
  src/Symfony/Component/Console/Tests/Fixtures/input_option_with_style_array.md
  src/Symfony/Component/Console/Tests/Input/ArgvInputTest.php
  src/Symfony/Component/Console/Tests/Input/InputOptionTest.php
  src/Symfony/Component/Console/Tests/Input/InputTest.php
  src/Symfony/Component/Console/Tests/phpt/single_application/help_name.phpt
Labels: Console, Feature, Status: Reviewed

#39723 [Console] Handle duplicate negatable options
  src/Symfony/Component/Console/Input/InputDefinition.php
  src/Symfony/Component/Console/Tests/Input/InputDefinitionTest.php
Labels: Bug, Console, Status: Reviewed

#39681 [HttpFoundation] parse cookie values containing the equal sign
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
  src/Symfony/Component/HttpFoundation/Tests/CookieTest.php
  src/Symfony/Component/HttpFoundation/Tests/HeaderUtilsTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#39729 [Uid] Use the Uuid constructor when reconstructing an Ulid from its RFC-4122 version
  src/Symfony/Component/Uid/Ulid.php
Labels: Bug, Status: Reviewed, Uid

#39728 stop using void in test files
  src/Symfony/Component/Form/Tests/Extension/Core/Type/NumberTypeTest.php
Labels: Status: Needs Review

#39720 make some time dependent tests more resilient
  src/Symfony/Component/Config/Tests/Resource/DirectoryResourceTest.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/SmtpTransportTest.php
Labels: Status: Needs Review

#39098 [PhpUnitBridge] Add log file option for deprecations
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/log_file.phpt
Labels: Feature, PhpUnitBridge, Status: Reviewed

#39727 fix code style
  src/Symfony/Bridge/Monolog/Tests/Handler/FingersCrossed/HttpCodeActivationStrategyTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/FingersCrossed/NotFoundActivationStrategyTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/http_client_retry.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/workflow_with_no_events_to_dispatch.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/workflow_with_specified_events_to_dispatch.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
  src/Symfony/Component/BrowserKit/Tests/RequestTest.php
  src/Symfony/Component/Config/Definition/ArrayNode.php
  src/Symfony/Component/Console/Tests/SignalRegistry/SignalRegistryTest.php
  src/Symfony/Component/HttpClient/Response/TraceableResponse.php
  src/Symfony/Component/HttpClient/Tests/Response/MockResponseTest.php
  src/Symfony/Component/Lock/Tests/Store/PostgreSqlDbalStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/PostgreSqlStoreTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsSenderTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Tests/EventListener/AddErrorDetailsStampListenerTest.php
  src/Symfony/Component/Messenger/Tests/Stamp/ErrorDetailsStampTest.php
  src/Symfony/Component/Notifier/Tests/Transport/TransportsTest.php
  src/Symfony/Component/Notifier/Tests/TransportFactoryTestCase.php
  src/Symfony/Component/Notifier/Tests/TransportTestCase.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ConstructorExtractorTest.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/ClassMetadataFactoryCompilerTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/CompiledClassMetadataFactoryTest.php
  src/Symfony/Component/Serializer/Tests/NameConverter/MetadataAwareNameConverterTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/UidNormalizerTest.php
  src/Symfony/Component/Translation/Tests/PseudoLocalizationTranslatorTest.php
  src/Symfony/Component/Validator/Constraints/Regex.php
  src/Symfony/Component/Validator/Constraints/Timezone.php
  src/Symfony/Component/Validator/Constraints/Type.php
  src/Symfony/Component/Validator/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LanguageValidatorTest.php
  src/Symfony/Component/Validator/Tests/Fixtures/ConstraintChoiceWithPreset.php
Labels: Status: Reviewed

#39731 fix code style
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/php_errors_log_levels.php
  src/Symfony/Component/Console/Tests/Input/InputTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsTransportTest.php
  src/Symfony/Component/Notifier/Transport/TransportInterface.php
Labels: Status: Reviewed

#39609 [Notifier] Add tests for SlackOptions
  src/Symfony/Component/Notifier/Bridge/Slack/SlackOptions.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackOptionsTest.php
Labels: Notifier, Status: Reviewed

#39457 [Notifier] [DX] Dsn::getRequiredOption()
  src/Symfony/Component/Notifier/Bridge/Discord/DiscordTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Esendex/EsendexTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Esendex/Tests/EsendexTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/FreeMobileTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Infobip/InfobipTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Infobip/Tests/InfobipTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Iqsms/IqsmsTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/MattermostTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/Tests/MattermostTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Nexmo/NexmoTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Nexmo/Tests/NexmoTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/OvhCloudTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/Tests/RocketChatTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Sendinblue/SendinblueTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Sendinblue/Tests/SendinblueTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Sinch/SinchTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Sinch/Tests/SinchTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/SmsapiTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/Tests/SmsapiTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/TwilioTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/TwilioTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Zulip/Tests/ZulipTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Zulip/ZulipTransportFactory.php
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/Notifier/Exception/MissingRequiredOptionException.php
  src/Symfony/Component/Notifier/Tests/Transport/DsnTest.php
  src/Symfony/Component/Notifier/Tests/TransportFactoryTestCase.php
  src/Symfony/Component/Notifier/Transport/Dsn.php
  src/Symfony/Component/Notifier/Transport/TransportFactoryInterface.php
Labels: DX, Feature, Notifier, Status: Needs Review

#39742 [Serializer] Drop extra space
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
Labels: Bug, Serializer, Status: Reviewed

#39745 Fix CI: Use full path to binaries in dockerized steps
  .github/workflows/tests.yml
Labels: Bug, Status: Reviewed

#39741 [Notifier] Add missing space in changelog (5.3)
  src/Symfony/Component/Notifier/CHANGELOG.md
Labels: Notifier, Status: Reviewed

#39746 [DependencyInjection] Fix InvalidParameterTypeException for function parameters
  src/Symfony/Component/DependencyInjection/Exception/InvalidParameterTypeException.php
  src/Symfony/Component/DependencyInjection/Tests/Exception/InvalidParameterTypeExceptionTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#39738 [VarDumper] fix mutating $GLOBALS while cloning it
  src/Symfony/Component/VarDumper/Cloner/Data.php
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
Labels: Bug, Status: Reviewed, VarDumper

#39751 [FrameworkBundle] Rename parameter of magic method configureContainer
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: FrameworkBundle, Status: Needs Review

#39747 [DependencyInjection] Support PHP 8 builtin types in CheckTypeDeclarationsPass
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/UnionConstructor.php
Labels: Bug, DependencyInjection, Status: Reviewed

#39740 [Notifier] Cleanup changelog (5.2)
  src/Symfony/Component/Notifier/CHANGELOG.md
Labels: Notifier, Status: Reviewed

#39739 [Notifier] Cleanup changelog (5.1)
  src/Symfony/Component/Notifier/CHANGELOG.md
Labels: Notifier, Status: Reviewed

#39675 [Serializer] [UidNormalizer] Add normalization formats
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/UidNormalizerTest.php
Labels: Feature, Serializer, Status: Reviewed

#39756 [DependencyInjection] fix PHP 8 compatibility
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
Labels: DependencyInjection, Status: Reviewed

#39749 [Notifier] Use abstract test cases in 5.x
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Esendex/Tests/EsendexTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Esendex/Tests/EsendexTransportTest.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Infobip/Tests/InfobipTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Iqsms/Tests/IqsmsTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Iqsms/Tests/IqsmsTransportTest.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Tests/LinkedInTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Sendinblue/Tests/SendinblueTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Sendinblue/Tests/SendinblueTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/Tests/SmsapiTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Zulip/Tests/ZulipTransportFactoryTest.php
Labels: Notifier, Status: Reviewed

#39769 [Yaml] quote all dumped unicode spaces
  src/Symfony/Component/Yaml/Escaper.php
  src/Symfony/Component/Yaml/Tests/DumperTest.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Status: Reviewed, Yaml

#39762 [Form] Update AbstractType.php
  src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php
  src/Symfony/Component/Form/AbstractType.php
  src/Symfony/Component/Form/Tests/Fixtures/ChoiceSubType.php
Labels: Form, Status: Reviewed

#39777 Remove "requires PHP 7.2" annotations
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
Labels: Status: Reviewed

#39783 Use ::class keyword when possible
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/ORMQueryBuilderLoaderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/DoctrineOrmTypeGuesserTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/FingersCrossed/HttpCodeActivationStrategyTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Component/Console/Tests/Helper/TableCellStyleTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/FragmentHandlerTest.php
  src/Symfony/Component/Mime/Tests/Header/PathHeaderTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ConstructorExtractorTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/PreAuthenticatedAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/RememberMeAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/UserAuthenticationProviderTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/UsernamePasswordFormAuthenticationListenerTest.php
  src/Symfony/Component/Semaphore/Tests/Store/RedisArrayStoreTest.php
  src/Symfony/Component/Validator/Tests/Constraints/BicValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeTest.php
  src/Symfony/Component/Validator/Tests/Mapping/GetterMetadataTest.php
Labels: Status: Needs Review

#39785 Use ::class keyword when possible
  src/Symfony/Bridge/PhpUnit/bootstrap.php
  src/Symfony/Component/Asset/Tests/VersionStrategy/JsonManifestVersionStrategyTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
  src/Symfony/Component/Console/Tests/Input/ArgvInputTest.php
  src/Symfony/Component/Console/Tests/Input/InputDefinitionTest.php
  src/Symfony/Component/Console/Tests/Input/InputOptionTest.php
  src/Symfony/Component/Lock/Tests/Store/FlockStoreTest.php
  src/Symfony/Component/PropertyInfo/Tests/TypeTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AccessDecisionManagerTest.php
Labels: Status: Needs Review

#39389 [Security]  Move the handleAuthenticationSuccess logic outside try/catch block
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/EventListener/UserCheckerListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/UserCheckerListenerTest.php
Labels: Bug, Security, Status: Reviewed

#39795 Dont allow unserializing classes with a destructor - 5.1
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/String/UnicodeString.php
Labels: Bug, Status: Reviewed

#39794 Dont allow unserializing classes with a destructor - 4.4
  src/Symfony/Bridge/Monolog/Handler/ElasticsearchLogstashHandler.php
  src/Symfony/Component/ErrorHandler/BufferingLogger.php
  src/Symfony/Component/HttpClient/Chunk/ErrorChunk.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
  src/Symfony/Component/Mime/Part/DataPart.php
Labels: Bug, Status: Reviewed

#39796 Dont allow unserializing classes with a destructor - 5.2
  src/Symfony/Component/HttpClient/Response/CommonResponseTrait.php
  src/Symfony/Component/HttpClient/Response/TraceableResponse.php
  src/Symfony/Component/RateLimiter/Policy/TokenBucket.php
Labels: Bug, Status: Reviewed

#39788 [Cache] fix possible collision when writing tmp file in filesystem adapter
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
Labels: Bug, Cache, Status: Needs Review

#39787 [Yaml] a colon followed by spaces exclusively separates mapping keys and values
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#39779 Contracts: Remove ellipsis
  src/Symfony/Contracts/README.md
Labels: Status: Reviewed

#39743 [Mailer] Fix missing BCC recipients in SES bridge
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesHttpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpTransport.php
Labels: Bug, Mailer, Status: Reviewed

#39764 [Config]  fix handling float-like key attribute values
  src/Symfony/Component/Config/Definition/PrototypedArrayNode.php
  src/Symfony/Component/Config/Tests/Definition/NormalizationTest.php
Labels: Bug, Config, Status: Reviewed

#39760 [HttpClient] Fix transient test with HttpClient jitter
  src/Symfony/Component/HttpClient/Tests/Retry/GenericRetryStrategyTest.php
Labels: Bug, HttpClient, Status: Reviewed

#39797 Dont allow unserializing classes with a destructor
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/AbstractConfigurator.php
  src/Symfony/Component/Form/Util/OrderedHashMapIterator.php
  src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php
  src/Symfony/Component/Lock/Lock.php
  src/Symfony/Component/Process/Pipes/UnixPipes.php
  src/Symfony/Component/Process/Pipes/WindowsPipes.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Routing/Loader/Configurator/CollectionConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/ImportConfigurator.php
Labels: Bug, Status: Reviewed

#39800 [Semaphore] Dont allow unserializing classes with a destructor
  src/Symfony/Component/Semaphore/Semaphore.php
Labels: Bug, Status: Reviewed

#39803 [SecurityBundle] Remove invalid service definition
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
Labels: Bug, SecurityBundle, Status: Reviewed

#39805 [SecurityBundle] Remove dead condition
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
Labels: SecurityBundle, Status: Needs Review

#39735 [Serializer] Rename normalize param
  src/Symfony/Component/Serializer/Normalizer/ProblemNormalizer.php
Labels: Bug, Serializer, Status: Reviewed

#39810 [Form] remove unused argument
  src/Symfony/Component/Form/Extension/Core/Type/PercentType.php
Labels: Form, Status: Reviewed

#39812 Make EmailMessage & SmsMessage transport nullable
  src/Symfony/Component/Notifier/Message/EmailMessage.php
  src/Symfony/Component/Notifier/Message/SmsMessage.php
Labels: Bug, Status: Reviewed

#39825 [Notifier] Add me as a Notifier code owner
  .github/CODEOWNERS
Labels: Notifier, Status: Reviewed

#39585 [Notifier] Change Dsn api
  src/Symfony/Component/Notifier/Bridge/Esendex/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/LinkedIn/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Mattermost/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Zulip/CHANGELOG.md
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/Notifier/Tests/Transport/DsnTest.php
  src/Symfony/Component/Notifier/Tests/Transport/NullTransportFactoryTest.php
  src/Symfony/Component/Notifier/Tests/TransportFactoryTestCase.php
  src/Symfony/Component/Notifier/Transport.php
  src/Symfony/Component/Notifier/Transport/Dsn.php
Labels: Bug, Feature, Notifier, Status: Reviewed

#39824 No patch version in CHANGELOG
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Component/Asset/CHANGELOG.md
  src/Symfony/Component/BrowserKit/CHANGELOG.md
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Amqp/CHANGELOG.md
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Discord/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Esendex/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Firebase/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/FreeMobile/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/GoogleChat/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Infobip/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Iqsms/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/LinkedIn/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Mattermost/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Mobyt/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Nexmo/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/OvhCloud/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/RocketChat/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Sendinblue/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Sinch/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Slack/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Smsapi/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Telegram/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Twilio/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Zulip/CHANGELOG.md
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Yaml/CHANGELOG.md
Labels: Status: Reviewed

#39568 [Notifier] Add GatewayApi bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/GatewayApi/.gitattributes
  src/Symfony/Component/Notifier/Bridge/GatewayApi/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/GatewayApi/GatewayApiTransport.php
  src/Symfony/Component/Notifier/Bridge/GatewayApi/GatewayApiTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/GatewayApi/LICENSE
  src/Symfony/Component/Notifier/Bridge/GatewayApi/README.md
  src/Symfony/Component/Notifier/Bridge/GatewayApi/Tests/GatewayApiTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/GatewayApi/Tests/GatewayApiTransportTest.php
  src/Symfony/Component/Notifier/Bridge/GatewayApi/composer.json
  src/Symfony/Component/Notifier/Bridge/GatewayApi/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Status: Needs Review

#39702 [Notifier] Add Octopush notifier transport
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Octopush/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Octopush/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Octopush/LICENSE
  src/Symfony/Component/Notifier/Bridge/Octopush/OctopushTransport.php
  src/Symfony/Component/Notifier/Bridge/Octopush/OctopushTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Octopush/README.md
  src/Symfony/Component/Notifier/Bridge/Octopush/Tests/OctopushTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Octopush/Tests/OctopushTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Octopush/composer.json
  src/Symfony/Component/Notifier/Bridge/Octopush/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#39617 [Notifier] Add AllMySms Bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/AllMySms/.gitattributes
  src/Symfony/Component/Notifier/Bridge/AllMySms/AllMySmsTransport.php
  src/Symfony/Component/Notifier/Bridge/AllMySms/AllMySmsTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/AllMySms/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/AllMySms/LICENSE
  src/Symfony/Component/Notifier/Bridge/AllMySms/README.md
  src/Symfony/Component/Notifier/Bridge/AllMySms/Tests/AllMySmsTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/AllMySms/Tests/AllMySmsTransportTest.php
  src/Symfony/Component/Notifier/Bridge/AllMySms/composer.json
  src/Symfony/Component/Notifier/Bridge/AllMySms/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#39822 Update sl_SI translations
  src/Symfony/Component/Form/Resources/translations/validators.sl.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.sl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf
Labels: Missing translations, Status: Reviewed

#39816 [HttpFoundation] use atomic writes in MockFileSessionStorage
  src/Symfony/Component/HttpFoundation/Session/Storage/MockFileSessionStorage.php
Labels: Bug, Status: Reviewed

#39772 Simplify PHP CS Fixer config
  .php_cs.dist
Labels: Status: Reviewed

#39792 [Config] Add \Symfony\Component\Config\Loader::load() return type
  src/Symfony/Component/Config/Loader/LoaderInterface.php
Labels: Bug, Config, Status: Reviewed

#39821 [DependencyInjection] Don't trigger notice for deprecated aliases pointing to deprecated definitions
  src/Symfony/Component/DependencyInjection/Compiler/ResolveReferencesToAliasesPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveReferencesToAliasesPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#39823 [travis] use PHP 8.0 to patch return types and run deps=low
  .github/patch-types.php
  .github/rm-invalid-lowest-lock-files.php
  .travis.yml
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/DependencyInjection/Tests/Loader/GlobFileLoaderTest.php
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Lock/composer.json
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Routing/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Validator/composer.json
  src/Symfony/Component/VarDumper/composer.json
Labels: Status: Needs Review

#39799 [DoctrineBridge] Fix circular loop with EntityManager
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPass.php
  src/Symfony/Bridge/Doctrine/Tests/ContainerAwareEventManagerTest.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPassTest.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#39844 [travis] always install ext-mongodb
  .travis.yml
Labels: Status: Needs Review

#39832 [Notifier] [Octopush] Use the correct provider
  src/Symfony/Component/Notifier/Bridge/Octopush/Tests/OctopushTransportFactoryTest.php
Labels: Notifier, Status: Reviewed

#39667 [DoctrineBridge] Take into account that indexBy="person_id" could be a db column name, for a referenced entity
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineDummy.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineGeneratedValue.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineRelation.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#39848 [Notifier] [GoogleChat] Fix wrong test
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportFactoryTest.php
Labels: Notifier, Status: Reviewed

#39839 [Messenger] [AmazonSqs] Fix auto-setup for fifo queue
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Bug, Messenger, Status: Needs Review

#39579 [Notifier] [GoogleChat] [BC BREAK] Rename threadKey parameter to thread_key + set parameter via ctor
  src/Symfony/Component/Notifier/Bridge/GoogleChat/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatTransport.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/README.md
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportTest.php
Labels: BC Break, Notifier, Status: Reviewed

#39849 [Notifier] Fix underline
  src/Symfony/Component/Notifier/Bridge/GatewayApi/README.md
Labels: Notifier, Status: Needs Review

#39859 [Security] Replace message data in JSON security error response
  src/Symfony/Component/Security/Http/Authenticator/JsonLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/JsonLoginAuthenticatorTest.php
Labels: Bug, Security, Status: Reviewed

#39862 [Security] Replace message data in JSON security error response
  src/Symfony/Component/Security/Http/Firewall/UsernamePasswordJsonAuthenticationListener.php
Labels: Bug, Security, Status: Reviewed

#39861 [DependencyInjection] Skip deprecated definitions in CheckTypeDeclarationsPass
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/Deprecated.php
Labels: Bug, DependencyInjection, Status: Reviewed

#39855 [HttpFoundation] deprecate the NamespacedAttributeBag class
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Session/Attribute/NamespacedAttributeBag.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Attribute/NamespacedAttributeBagTest.php
Labels: Deprecation, HttpFoundation, Status: Reviewed

#39852 [Security] RoleHierarchy returns an unique array of roles
  src/Symfony/Component/Security/Core/Role/RoleHierarchy.php
  src/Symfony/Component/Security/Core/Tests/Role/RoleHierarchyTest.php
Labels: Feature, Security, Status: Reviewed

#39843 [FrameworkBundle] Add renderForm() helper setting the appropriate HTTP status code
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#39858 Fix problem when SYMFONY_PHPUNIT_VERSION is empty string value
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, Status: Reviewed

#39865 [Asset] Fix JsonManifest when there is no dependency on HttpClient
  src/Symfony/Bundle/FrameworkBundle/Resources/config/assets.php
  src/Symfony/Component/Asset/Tests/VersionStrategy/JsonManifestVersionStrategyTest.php
  src/Symfony/Component/Asset/VersionStrategy/JsonManifestVersionStrategy.php
Labels: Asset, Bug, Status: Reviewed

#39873 [DependencyInjection] Fix container injection with TypedReference
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10_as_files.txt
Labels: Bug, DependencyInjection, Status: Reviewed

#39886 [HttpFoundation] Revert #38614 and add assert to avoid regressions
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#39889 [HttpClient] Add check for constant in Curl client
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: Bug, HttpClient, Status: Reviewed

#39806 [DependencyInjection] Add a remove() method to the PHP configurator
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/Configurator/AbstractServiceConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ServiceConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ServicesConfigurator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/remove.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/remove.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Status: Reviewed

#39891 [Validator] fix spelling
  src/Symfony/Component/Validator/Resources/translations/validators.he.xlf
Labels: Missing translations, Status: Reviewed, Validator

#39868 Update PHP CS Fixer config to v2.18
  .php_cs.dist
Labels: Bug, Deprecation, Feature, Status: Reviewed

#39863 [Form][Uid] Add UlidType and UuidType form types
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/DataTransformer/UlidToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/UuidToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/UlidType.php
  src/Symfony/Component/Form/Extension/Core/Type/UuidType.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/UlidToStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/UuidToStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/UlidTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/UuidTypeTest.php
  src/Symfony/Component/Form/composer.json
Labels: Feature, Form, Status: Reviewed, Uid

#39892 [Uid] Clarify the format returned by getTime()
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/UuidV1.php
  src/Symfony/Component/Uid/UuidV6.php
Labels: Status: Reviewed

#39633 [HttpFoundation] Drop int return type from parseFilesize()
  .appveyor.yml
  src/Symfony/Component/Form/Extension/Core/Type/FileType.php
  src/Symfony/Component/HttpFoundation/File/UploadedFile.php
  src/Symfony/Component/HttpFoundation/Tests/File/UploadedFileTest.php
  src/Symfony/Component/Validator/Constraints/FileValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#39895 [Translator] Added $translator->addLoader() to README example
  src/Symfony/Component/Translation/README.md
Labels: Bug, Status: Reviewed, Translator

#39880 [DoctrineBridge] Add username to UserNameNotFoundException
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/SecuredPageBundle/Security/Core/User/ArrayUserProvider.php
  src/Symfony/Component/Ldap/Security/LdapUserProvider.php
  src/Symfony/Component/Security/Guard/Provider/GuardAuthenticationProvider.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#39342 [Notifier] Add mercure bridge
  composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Mercure/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Mercure/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Mercure/LICENSE
  src/Symfony/Component/Notifier/Bridge/Mercure/MercureOptions.php
  src/Symfony/Component/Notifier/Bridge/Mercure/MercureTransport.php
  src/Symfony/Component/Notifier/Bridge/Mercure/MercureTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mercure/README.md
  src/Symfony/Component/Notifier/Bridge/Mercure/Tests/MercureOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Mercure/Tests/MercureTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Mercure/Tests/MercureTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Mercure/composer.json
  src/Symfony/Component/Notifier/Bridge/Mercure/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Feature, Notifier, Status: Reviewed

#39838 [Notifier] Add Gitter Bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Gitter/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Gitter/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Gitter/GitterTransport.php
  src/Symfony/Component/Notifier/Bridge/Gitter/GitterTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Gitter/LICENSE
  src/Symfony/Component/Notifier/Bridge/Gitter/README.md
  src/Symfony/Component/Notifier/Bridge/Gitter/Tests/GitterTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Gitter/Tests/GitterTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Gitter/composer.json
  src/Symfony/Component/Notifier/Bridge/Gitter/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#39851 [Console] enable describing commands in ways that make the `list` command lazy
  src/Symfony/Bridge/Monolog/Command/ServerLogCommand.php
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bundle/DebugBundle/Resources/config/services.php
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolDeleteCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolListCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolPruneCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheWarmupCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDumpReferenceCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/EventDispatcherDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterMatchCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsDecryptToLocalCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsEncryptFromLocalCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsGenerateKeysCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsListCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsRemoveCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsSetCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Bundle/SecurityBundle/Command/UserPasswordEncoderCommand.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/console.php
  src/Symfony/Bundle/TwigBundle/Resources/config/console.php
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Command/LazyCommand.php
  src/Symfony/Component/Console/DependencyInjection/AddConsoleCommandPass.php
  src/Symfony/Component/Console/Tests/DependencyInjection/AddConsoleCommandPassTest.php
  src/Symfony/Component/Form/Command/DebugCommand.php
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Command/DebugCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRemoveCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Messenger/Command/SetupTransportsCommand.php
  src/Symfony/Component/Messenger/Command/StopWorkersCommand.php
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Validator/Command/DebugCommand.php
  src/Symfony/Component/VarDumper/Command/ServerDumpCommand.php
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Console, Feature, Status: Reviewed

#39903 [FrameworkBundle] do not fail when MercureBundle is not installed
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#39898 [MonologBridge] Typo in consoleFormatterOptions property name
  src/Symfony/Bridge/Monolog/Handler/ConsoleHandler.php
Labels: Bug, MonologBridge, Status: Needs Review

#39904 [Console] add option `--short` to the `list` command
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/XliffLintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/YamlLintCommand.php
  src/Symfony/Bundle/TwigBundle/Command/LintCommand.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/ListCommand.php
  src/Symfony/Component/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Component/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Component/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Component/Console/Tests/Command/HelpCommandTest.php
  src/Symfony/Component/Console/Tests/Fixtures/application_1.json
  src/Symfony/Component/Console/Tests/Fixtures/application_1.md
  src/Symfony/Component/Console/Tests/Fixtures/application_1.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_2.json
  src/Symfony/Component/Console/Tests/Fixtures/application_2.md
  src/Symfony/Component/Console/Tests/Fixtures/application_2.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_mbstring.md
  src/Symfony/Component/Console/Tests/Fixtures/application_renderexception2.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_run2.txt
  src/Symfony/Component/Console/Tests/Fixtures/application_run3.txt
Labels: Console, Feature, Status: Needs Review

#39850 [Uid] Add fromBase58(), fromBase32(), fromRfc4122() and fromBinary() methods
  src/Symfony/Component/Uid/AbstractUid.php
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/Tests/UlidTest.php
  src/Symfony/Component/Uid/Tests/UuidTest.php
Labels: Feature, Status: Reviewed, Uid

#39906 [Notifier] Fix HttpClient TransportException handling
  src/Symfony/Component/Notifier/Bridge/Mercure/MercureTransport.php
  src/Symfony/Component/Notifier/Bridge/Mercure/Tests/MercureTransportTest.php
Labels: Bug, Notifier, Status: Reviewed

#39918 [FrameworkBundle][TwigBundle] slightly clarify command descriptions
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/XliffLintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/YamlLintCommand.php
  src/Symfony/Bundle/TwigBundle/Command/LintCommand.php
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: FrameworkBundle, Status: Reviewed, TwigBundle

#39917 [Uid] split success and failure tests
  src/Symfony/Component/Uid/Tests/UlidTest.php
  src/Symfony/Component/Uid/Tests/UuidTest.php
Labels: Status: Reviewed, Uid

#39923 [SecurityBundle] Remove wrong test
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/CsrfFormLoginTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#39871 [Notifier] [OvhCloud] “Invalid signature” for message with slashes
  src/Symfony/Component/Notifier/Bridge/OvhCloud/OvhCloudTransport.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportTest.php
Labels: Bug, Notifier, Status: Reviewed

#39930 Use class const in test
  src/Symfony/Bundle/WebProfilerBundle/Tests/DependencyInjection/WebProfilerExtensionTest.php
  src/Symfony/Component/Console/Tests/Logger/ConsoleLoggerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
Labels: Status: Reviewed

#39931 Use class const in test
  src/Symfony/Component/Security/Http/Tests/Authenticator/FormLoginAuthenticatorTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/LogoutListenerTest.php
Labels: HttpFoundation, Security, Status: Reviewed

#39932 [Console] [Command] Fix Closure code binding when it is a static anonymous function
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
Labels: Bug, Console, Status: Reviewed

#39938 "export-ignore" contracts and phpunit-bridge
  .gitattributes
Labels: Status: Reviewed

#39896 [PropertyInfo] Fix breaking change with has*(arguments...) methods
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
Labels: Bug, PropertyInfo, Status: Reviewed

#39940 [Notifier] fix test
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportTest.php
Labels: Notifier, Status: Reviewed

#39944 [HttpKernel] Configure the ErrorHandler even when it is overriden
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
Labels: Bug, HttpKernel, Status: Reviewed

#39909 [PhpUnitBridge] Allow relative path to composer cache
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Feature, PhpUnitBridge, Status: Reviewed

#39936 [Validator] Fix DebugCommand
  src/Symfony/Component/Validator/Command/DebugCommand.php
  src/Symfony/Component/Validator/Tests/Dummy/TraitPass.php
Labels: Bug, Status: Reviewed, Validator

#39911 [RateLimiter] Fix infinite values with NoLimiter
  src/Symfony/Component/RateLimiter/Policy/NoLimiter.php
  src/Symfony/Component/RateLimiter/Tests/Policy/NoLimiterTest.php
Labels: Bug, RateLimiter, Status: Reviewed

#39951 [Form] check parent types for label_format and translation_domain
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationMapper.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/ViolationMapperTest.php
Labels: Bug, Form, Status: Reviewed

#39905 [Notifier] Check for MercureBundle in MercureTransportFactory
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Notifier/Bridge/Mercure/MercureTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mercure/Tests/MercureTransportFactoryTest.php
Labels: Bug, Notifier, Status: Reviewed

#39587 [Notifier] [Mobyt] Change ctor signature and validate message types
  src/Symfony/Component/Notifier/Bridge/Mobyt/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytOptions.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytTransport.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/README.md
  src/Symfony/Component/Notifier/Bridge/Mobyt/Tests/MobytOptionsTest.php
Labels: BC Break, Notifier, Status: Reviewed

#39956 [Uid] fix checking for valid UUIDs
  src/Symfony/Component/Uid/BinaryUtil.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Bug, Status: Reviewed, Uid

#39962 Changed private static array-properties to const (5.1)
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterGlobalSecurityEventListenersPass.php
  src/Symfony/Component/Cache/Adapter/MemcachedAdapter.php
  src/Symfony/Component/String/Inflector/EnglishInflector.php
Labels: Status: Needs Review

#39965 Changed private static array-properties to const (5.2)
  src/Symfony/Component/String/Inflector/FrenchInflector.php
Labels: Status: Needs Review

#39966 Fix typo in test
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/DelegatingLoaderTest.php
Labels: Status: Reviewed

#38922 [Notifier] Add notifier for Clickatell
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Clickatell/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Clickatell/ClickatellTransport.php
  src/Symfony/Component/Notifier/Bridge/Clickatell/ClickatellTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Clickatell/LICENSE
  src/Symfony/Component/Notifier/Bridge/Clickatell/README.md
  src/Symfony/Component/Notifier/Bridge/Clickatell/Tests/ClickatellTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Clickatell/Tests/ClickatellTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Clickatell/composer.json
  src/Symfony/Component/Notifier/Bridge/Clickatell/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#39968 [FrameworkBundle] add doctrine/persistence as a dev requirement
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Reviewed

#39971 [Cache] Change PDO cache table collate from utf8_bin to utf8mb4_bin
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Lock/Store/PdoStore.php
Labels: Cache, Status: Reviewed

#39970 [Messenger] Fix transporting non-UTF8 payloads by encoding them using base 64
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/PhpSerializerTest.php
  src/Symfony/Component/Messenger/Transport/Serialization/PhpSerializer.php
Labels: Bug, Messenger, Status: Reviewed

#39973 allow Doctrine persistence 2 too
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Status: Reviewed
