Repository symfony/symfony, pull requests merged in 2021-06, with the labels that each got.

#41477 Release v4.4.25
  CHANGELOG-4.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41449 [Lock][Semaphore] Add union types
  src/Symfony/Component/Lock/Store/MongoDbStore.php
  src/Symfony/Component/Lock/Store/PdoStore.php
  src/Symfony/Component/Lock/Store/PostgreSqlStore.php
  src/Symfony/Component/Lock/Store/RedisStore.php
  src/Symfony/Component/Lock/Store/StoreFactory.php
  src/Symfony/Component/Semaphore/Store/RedisStore.php
  src/Symfony/Component/Semaphore/Store/StoreFactory.php
Labels: Lock, Semaphore, Status: Needs Review

#41475 [Security] Fix setUsername() deprecation message
  src/Symfony/Component/Security/Core/Exception/UserNotFoundException.php
Labels: Bug, Security, Status: Reviewed

#41446 [HttpKernel] Provide migration path for TestSessionListener
  UPGRADE-5.4.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/test.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/EventListener/AbstractTestSessionListener.php
  src/Symfony/Component/HttpKernel/EventListener/TestSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TestSessionListenerTest.php
Labels: HttpKernel, Status: Reviewed

#41486 [HttpKernel] Fix sessionListener when factory is injected without session
  src/Symfony/Component/HttpKernel/EventListener/SessionListener.php
Labels: Bug, HttpKernel, Status: Reviewed

#41488 Release v5.2.10
  CHANGELOG-5.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41490 [Messenger] Add union types
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineReceiver.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransport.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Envelope.php
  src/Symfony/Component/Messenger/Exception/ValidationFailedException.php
  src/Symfony/Component/Messenger/HandleTrait.php
  src/Symfony/Component/Messenger/MessageBus.php
  src/Symfony/Component/Messenger/MessageBusInterface.php
  src/Symfony/Component/Messenger/Middleware/ActivationMiddleware.php
  src/Symfony/Component/Messenger/Middleware/StackMiddleware.php
  src/Symfony/Component/Messenger/Retry/RetryStrategyInterface.php
  src/Symfony/Component/Messenger/RoutableMessageBus.php
  src/Symfony/Component/Messenger/Stamp/ErrorDetailsStamp.php
  src/Symfony/Component/Messenger/Stamp/HandledStamp.php
  src/Symfony/Component/Messenger/Stamp/TransportMessageIdStamp.php
  src/Symfony/Component/Messenger/Stamp/ValidationStamp.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRetryCommandTest.php
  src/Symfony/Component/Messenger/Tests/MessageBusTest.php
  src/Symfony/Component/Messenger/TraceableMessageBus.php
  src/Symfony/Component/Messenger/Transport/InMemoryTransport.php
  src/Symfony/Component/Messenger/Transport/Receiver/ListableReceiverInterface.php
  src/Symfony/Component/Messenger/Transport/Serialization/Normalizer/FlattenExceptionNormalizer.php
Labels: Messenger, Status: Needs Review

#41485 [HttpKernel] fix ArgumentMetadataFactory messes up controller arguments with attributes
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactory.php
  src/Symfony/Component/HttpKernel/Tests/ControllerMetadata/ArgumentMetadataFactoryTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/Controller/AttributeController.php
Labels: Bug, HttpKernel, Status: Reviewed

#41495 [HttpFoundation] Add ReturnTypeWillChange to SessionHandlers
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/AbstractSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/StrictSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Proxy/SessionHandlerProxy.php
Labels: Bug, HttpFoundation, Status: Reviewed

#41510 Release v5.3.1
  CHANGELOG-5.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41431 [Yaml] Leverage array_is_list()
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/composer.json
Labels: Status: Reviewed, Yaml

#41512 Relax requirement on symfony/runtime
  composer.json
Labels: Bug, Status: Reviewed

#41523 [Notifier] [Bridge] Remove hidden dependency on HttpFoundation for SmsBiurasTransport
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/SmsBiurasTransport.php
Labels: Bug, Notifier, Status: Reviewed

#41453 [Form] Document null support in NumberToLocalizedStringTransformer
  src/Symfony/Component/Form/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
Labels: Form, Status: Needs Review

#41386 [Console] Escape synopsis output
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
  src/Symfony/Component/Console/Tests/Fixtures/application_rendersynopsis_escapesline.txt
Labels: Bug, Console, Status: Reviewed

#41509 [SecurityBundle] Link UserProviderListener to correct firewall dispatcher
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AuthenticatorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AuthenticatorBundle/LoginFormAuthenticator.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AuthenticatorBundle/SecurityController.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Authenticator/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Authenticator/multiple_firewall_user_provider.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Authenticator/routing.yml
Labels: Bug, SecurityBundle, Status: Reviewed

#41505 [FrameworkBundle] fix KernelBrowser::loginUser with a stateless firewall
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Security/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Security/routing.yml
Labels: Bug, FrameworkBundle, Status: Reviewed

#41218 [DependencyInjection] Update loader’s directory when calling ContainerConfigurator::withPath
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
Labels: Bug, DependencyInjection, Status: Needs Review

#41472 [Validator] remove service if its class doesn't exist
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, Status: Reviewed, Validator

#41507 [WebLink] Added missing types
  composer.json
  src/Symfony/Component/WebLink/GenericLinkProvider.php
  src/Symfony/Component/WebLink/Link.php
  src/Symfony/Component/WebLink/composer.json
Labels: Status: Reviewed, WebLink

#41535 [Console] Fix negated options not accessible
  src/Symfony/Component/Console/Input/Input.php
  src/Symfony/Component/Console/Tests/Input/InputTest.php
Labels: Bug, Console, Status: Reviewed

#41543 [SecurityBundle] Fix call to deprecated getUsername() in tests
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AuthenticatorBundle/SecurityController.php
Labels: SecurityBundle, Status: Reviewed

#41549 [Security] Fix opcache preload with alias classes
  src/Symfony/Component/Security/Core/Authorization/TraceableAccessDecisionManager.php
Labels: Bug, Security, Status: Reviewed

#41550 [Messenger] Fix opcache preload with alias classes - for 5.2
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpFactory.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpReceivedStamp.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpReceiver.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpSender.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpStamp.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpTransport.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineReceivedStamp.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineReceiver.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineSender.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransport.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisReceivedStamp.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisReceiver.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisSender.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisTransport.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisTransportFactory.php
Labels: Bug, Messenger, Status: Needs Review

#41551 [Security] Fix opcache preload with alias classes - for 5.3
  src/Symfony/Component/Security/Core/Exception/UserNotFoundException.php
  src/Symfony/Component/Security/Core/User/InMemoryUserChecker.php
Labels: Bug, Security, Status: Needs Review

#41561 [String] Fix implicit float-to-int casts
  src/Symfony/Component/String/AbstractUnicodeString.php
Labels: Bug, Status: Needs Review, String

#41558 [Messenger] Fix broken mock
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsTransportTest.php
Labels: Bug, Messenger, Status: Reviewed

#41557 [DependencyInjection] Don't pass null to trim()
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: Bug, DependencyInjection, Status: Reviewed

#41556 Add return types to JsonSerializable implementations
  src/Symfony/Component/HttpFoundation/Tests/JsonResponseTest.php
  src/Symfony/Component/Serializer/Tests/Fixtures/JsonSerializableDummy.php
Labels: Bug, Status: Needs Review

#41554 Fix Serializable deprecations triggered by token mocks
  src/Symfony/Bridge/Twig/Tests/AppVariableTest.php
  src/Symfony/Bridge/Twig/Tests/Fixtures/TokenInterface.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/TokenInterface.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/GlobalVariablesTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Fixtures/TokenInterface.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/EventAliasTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/SecurityUserValueResolverTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/AuthenticationProviderManagerTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/AuthenticationTrustResolverTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/AnonymousAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/PreAuthenticatedAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/RememberMeAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/SimpleAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/UserAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/Storage/UsageTrackingTokenStorageTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AccessDecisionManagerTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/TraceableAccessDecisionManagerTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/AuthenticatedVoterTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/ExpressionVoterTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/RoleVoterTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/TraceableVoterTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/VoterTest.php
  src/Symfony/Component/Security/Core/Tests/Fixtures/TokenInterface.php
  src/Symfony/Component/Security/Core/Tests/Role/SwitchUserRoleTest.php
  src/Symfony/Component/Security/Core/Tests/SecurityTest.php
  src/Symfony/Component/Security/Core/Tests/Validator/Constraints/UserPasswordValidatorTest.php
  src/Symfony/Component/Security/Guard/Tests/Firewall/GuardAuthenticationListenerTest.php
  src/Symfony/Component/Security/Guard/Tests/Fixtures/GuardTokenInterface.php
  src/Symfony/Component/Security/Guard/Tests/Fixtures/TokenInterface.php
  src/Symfony/Component/Security/Guard/Tests/GuardAuthenticatorHandlerTest.php
  src/Symfony/Component/Security/Guard/Tests/Provider/GuardAuthenticationProviderTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/DefaultAuthenticationSuccessHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/SimpleAuthenticationHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AbstractPreAuthenticatedListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AnonymousAuthenticationListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/BasicAuthenticationListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ExceptionListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/LogoutListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/RememberMeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SimplePreAuthenticationListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/UsernamePasswordJsonAuthenticationListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/TokenInterface.php
  src/Symfony/Component/Security/Http/Tests/Logout/CookieClearingLogoutHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/Logout/CsrfTokenClearingLogoutHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/Logout/SessionLogoutHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/AbstractRememberMeServicesTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentTokenBasedRememberMeServicesTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/TokenBasedRememberMeServicesTest.php
  src/Symfony/Component/Security/Http/Tests/Session/SessionAuthenticationStrategyTest.php
Labels: Bug, Status: Reviewed

#41533 [Security] Added missing translations for Croatian (hr)
  src/Symfony/Component/Security/Core/Resources/translations/security.hr.xlf
Labels: Missing translations, Security, Status: Reviewed

#41530 [FrameworkBundle] Deprecate the public `profiler` service to private
  UPGRADE-5.4.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/profiling.php
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#41555 Fix incompatible implicit float-to-int conversions
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
  src/Symfony/Component/Lock/Tests/Store/PdoStoreTest.php
  src/Symfony/Component/VarDumper/Command/Descriptor/CliDescriptor.php
  src/Symfony/Component/VarDumper/Command/Descriptor/HtmlDescriptor.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Status: Reviewed

#41559 [Asset] Don't pass null to strpos()
  src/Symfony/Component/Asset/VersionStrategy/JsonManifestVersionStrategy.php
Labels: Asset, Bug, Status: Needs Review

#41562 [Translation] Don't pass null to strtoupper()
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
Labels: Bug, Status: Needs Review, Translation

#41567 [Security] Fix SerializableUser fixture
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
Labels: Bug, Security, Status: Reviewed

#41570 [travis] fix travis hopefuly
  .travis.yml
Labels: Status: Needs Work

#41565 [FrameworkBundle][WebProfilerBundle] Don't pass null to string parameters
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/ConcreteMicroKernel.php
  src/Symfony/Bundle/WebProfilerBundle/EventListener/WebDebugToolbarListener.php
Labels: Bug, FrameworkBundle, Status: Needs Review, WebProfilerBundle

#41572 [PasswordHasher] Prevent PHP fatal error when using auto algorithm
  src/Symfony/Component/PasswordHasher/Hasher/PasswordHasherFactory.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/PasswordHasherFactoryTest.php
Labels: Bug, PasswordHasher, Status: Reviewed

#41581 Fix tests (bis)
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/HttpFoundation/Tests/File/MimeType/MimeTypeTest.php
  src/Symfony/Component/Mime/Tests/FileBinaryMimeTypeGuesserTest.php
  src/Symfony/Contracts/HttpClient/Test/Fixtures/web/index.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
  src/Symfony/Contracts/HttpClient/Test/TestHttpServer.php
Labels: FrameworkBundle, Status: Needs Review, WebProfilerBundle

#41585 fix tests (ter)
  .github/workflows/tests.yml
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Status: Needs Review

#41591 fix tests (quater)
  .travis.yml
Labels: Status: Needs Review

#41596 [FrameworkBundle] Remove duplicate catch block
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolsTest.php
Labels: FrameworkBundle, Status: Reviewed

#41588 Add missing translations for Thai
  src/Symfony/Component/Security/Core/Resources/translations/security.th.xlf
Labels: Missing translations, Status: Reviewed

#41589 Add missing translations for Swedish
  src/Symfony/Component/Security/Core/Resources/translations/security.sv.xlf
Labels: Missing translations, Status: Reviewed

#41553 [Messenger] fix BC for FrameworkBundle 4.4 with a non-existence alias being used
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
Labels: Bug, Messenger, Status: Reviewed

#41597 [DependencyInjection] fix `when@{env}` inside imported files
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services29.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services30.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services29.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services30.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: Bug, Status: Needs Review

#41617 [HttpClient] Remove obsolete handling of curl resources
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: HttpClient, Status: Needs Review

#41628 [HttpClient] Remove bindto workaround completely
  src/Symfony/Component/HttpClient/NativeHttpClient.php
Labels: HttpClient, Status: Reviewed

#41627 [VarExporter] Fix test on PHP 8.1
  src/Symfony/Component/VarExporter/Tests/InstantiatorTest.php
Labels: Bug, Status: Reviewed, VarExporter

#41629 [Intl] Add union types
  src/Symfony/Component/Intl/Countries.php
  src/Symfony/Component/Intl/Data/Bundle/Writer/BundleWriterInterface.php
  src/Symfony/Component/Intl/Data/Bundle/Writer/JsonBundleWriter.php
  src/Symfony/Component/Intl/Data/Bundle/Writer/PhpBundleWriter.php
  src/Symfony/Component/Intl/Data/Bundle/Writer/TextBundleWriter.php
  src/Symfony/Component/Intl/Data/Generator/RegionDataGenerator.php
  src/Symfony/Component/Intl/Data/Util/ArrayAccessibleResourceBundle.php
  src/Symfony/Component/Intl/Data/Util/RecursiveArrayAccess.php
  src/Symfony/Component/Intl/Data/Util/RingBuffer.php
  src/Symfony/Component/Intl/Exception/UnexpectedTypeException.php
  src/Symfony/Component/Intl/Languages.php
  src/Symfony/Component/Intl/Locales.php
  src/Symfony/Component/Intl/Resources/bin/common.php
  src/Symfony/Component/Intl/Scripts.php
Labels: Intl, Status: Needs Review

#41563 [Translation][Uid][VarExporter] add union types
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPathsPass.php
  src/Symfony/Component/Translation/Dumper/MoFileDumper.php
  src/Symfony/Component/Translation/Dumper/PoFileDumper.php
  src/Symfony/Component/Translation/Extractor/AbstractFileExtractor.php
  src/Symfony/Component/Translation/Extractor/ChainExtractor.php
  src/Symfony/Component/Translation/Extractor/ExtractorInterface.php
  src/Symfony/Component/Translation/Extractor/PhpExtractor.php
  src/Symfony/Component/Translation/Loader/ArrayLoader.php
  src/Symfony/Component/Translation/Loader/CsvFileLoader.php
  src/Symfony/Component/Translation/Loader/FileLoader.php
  src/Symfony/Component/Translation/Loader/IcuDatFileLoader.php
  src/Symfony/Component/Translation/Loader/IcuResFileLoader.php
  src/Symfony/Component/Translation/Loader/IniFileLoader.php
  src/Symfony/Component/Translation/Loader/JsonFileLoader.php
  src/Symfony/Component/Translation/Loader/LoaderInterface.php
  src/Symfony/Component/Translation/Loader/MoFileLoader.php
  src/Symfony/Component/Translation/Loader/PhpFileLoader.php
  src/Symfony/Component/Translation/Loader/PoFileLoader.php
  src/Symfony/Component/Translation/Loader/QtFileLoader.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/Loader/YamlFileLoader.php
  src/Symfony/Component/Translation/MessageCatalogue.php
  src/Symfony/Component/Translation/MetadataAwareInterface.php
  src/Symfony/Component/Translation/Provider/Dsn.php
  src/Symfony/Component/Translation/Translator.php
  src/Symfony/Component/Translation/Writer/TranslationWriter.php
  src/Symfony/Component/Uid/AbstractUid.php
  src/Symfony/Component/Uid/Factory/UuidFactory.php
  src/Symfony/Component/VarExporter/VarExporter.php
Labels: Status: Needs Review, Translation, Uid, VarExporter

#41568 [Stopwatch][String][Templating] add union types
  src/Symfony/Component/Stopwatch/StopwatchPeriod.php
  src/Symfony/Component/String/Slugger/AsciiSlugger.php
  src/Symfony/Component/Templating/DelegatingEngine.php
  src/Symfony/Component/Templating/EngineInterface.php
  src/Symfony/Component/Templating/Helper/SlotsHelper.php
  src/Symfony/Component/Templating/Loader/FilesystemLoader.php
  src/Symfony/Component/Templating/PhpEngine.php
  src/Symfony/Component/Templating/StreamingEngineInterface.php
  src/Symfony/Component/Templating/TemplateNameParser.php
  src/Symfony/Component/Templating/TemplateNameParserInterface.php
Labels: Status: Needs Review, Stopwatch, String, Templating

#41569 [Routing] add union types
  src/Symfony/Component/Routing/CompiledRoute.php
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
  src/Symfony/Component/Routing/Loader/AnnotationDirectoryLoader.php
  src/Symfony/Component/Routing/Loader/AnnotationFileLoader.php
  src/Symfony/Component/Routing/Loader/ClosureLoader.php
  src/Symfony/Component/Routing/Loader/Configurator/CollectionConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/ImportConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/RouteConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/RoutingConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/Traits/AddTrait.php
  src/Symfony/Component/Routing/Loader/Configurator/Traits/HostTrait.php
  src/Symfony/Component/Routing/Loader/Configurator/Traits/LocalizedRouteTrait.php
  src/Symfony/Component/Routing/Loader/Configurator/Traits/PrefixTrait.php
  src/Symfony/Component/Routing/Loader/Configurator/Traits/RouteTrait.php
  src/Symfony/Component/Routing/Loader/ContainerLoader.php
  src/Symfony/Component/Routing/Loader/DirectoryLoader.php
  src/Symfony/Component/Routing/Loader/GlobFileLoader.php
  src/Symfony/Component/Routing/Loader/ObjectLoader.php
  src/Symfony/Component/Routing/Loader/PhpFileLoader.php
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Routing/Matcher/Dumper/CompiledUrlMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/Dumper/StaticPrefixCollection.php
  src/Symfony/Component/Routing/RequestContext.php
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Routing/RouteCollection.php
  src/Symfony/Component/Routing/Router.php
Labels: Routing, Status: Needs Review

#41630 [Config] Backport type declarations
  src/Symfony/Component/Config/Definition/ArrayNode.php
  src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php
  src/Symfony/Component/Config/Definition/Builder/ExprBuilder.php
  src/Symfony/Component/Config/Definition/Builder/NumericNodeDefinition.php
  src/Symfony/Component/Config/Definition/Dumper/XmlReferenceDumper.php
  src/Symfony/Component/Config/Definition/EnumNode.php
  src/Symfony/Component/Config/Definition/NumericNode.php
  src/Symfony/Component/Config/Definition/PrototypedArrayNode.php
  src/Symfony/Component/Config/Tests/ConfigCacheTest.php
  src/Symfony/Component/Config/Tests/Definition/ArrayNodeTest.php
  src/Symfony/Component/Config/Tests/Definition/BaseNodeTest.php
  src/Symfony/Component/Config/Tests/Definition/BooleanNodeTest.php
  src/Symfony/Component/Config/Tests/Definition/Builder/ArrayNodeDefinitionTest.php
  src/Symfony/Component/Config/Tests/Definition/Builder/ExprBuilderTest.php
  src/Symfony/Component/Config/Tests/Definition/Dumper/YamlReferenceDumperTest.php
  src/Symfony/Component/Config/Tests/Definition/FloatNodeTest.php
  src/Symfony/Component/Config/Tests/Definition/IntegerNodeTest.php
  src/Symfony/Component/Config/Tests/Definition/NormalizationTest.php
  src/Symfony/Component/Config/Tests/Definition/PrototypedArrayNodeTest.php
  src/Symfony/Component/Config/Tests/Definition/ScalarNodeTest.php
  src/Symfony/Component/Config/Tests/FileLocatorTest.php
  src/Symfony/Component/Config/Tests/Fixtures/Builder/NodeBuilder.php
  src/Symfony/Component/Config/Tests/Fixtures/Configuration/CustomNode.php
  src/Symfony/Component/Config/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/Config/Tests/Resource/DirectoryResourceTest.php
  src/Symfony/Component/Config/Tests/Resource/ReflectionClassResourceTest.php
  src/Symfony/Component/Config/Tests/Resource/ResourceStub.php
  src/Symfony/Component/Config/Tests/Util/XmlUtilsTest.php
Labels: Config, Status: Reviewed

#41635 Bump Contracts to 2.5
  composer.json
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpClient/AsyncDecoratorTrait.php
  src/Symfony/Component/HttpClient/CachingHttpClient.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/DecoratorTrait.php
  src/Symfony/Component/HttpClient/MockHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/ScopingHttpClient.php
  src/Symfony/Component/HttpClient/TraceableHttpClient.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/String/composer.json
  src/Symfony/Contracts/Cache/ItemInterface.php
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/Deprecation/composer.json
  src/Symfony/Contracts/EventDispatcher/composer.json
  src/Symfony/Contracts/HttpClient/HttpClientInterface.php
  src/Symfony/Contracts/HttpClient/composer.json
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/Translation/composer.json
  src/Symfony/Contracts/composer.json
Labels: Status: Needs Review

#41636 [Validator] Fix tests by making constraint options dumps order consistent
  src/Symfony/Component/Validator/Command/DebugCommand.php
  src/Symfony/Component/Validator/Tests/Command/DebugCommandTest.php
Labels: Bug, Status: Reviewed, Validator

#41634 [Ldap] Add union types
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Collection.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
Labels: Ldap, Status: Needs Review

#41626 [HttpFoundation] Handle new tentative return types
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MigratingSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/NullSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MigratingSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PdoSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/StrictSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Proxy/SessionHandlerProxyTest.php
Labels: Bug, HttpFoundation, Status: Needs Review

#41621 [Process] Fix incorrect parameter type
  src/Symfony/Component/Process/Pipes/WindowsPipes.php
Labels: Bug, Process, Status: Needs Review

#41644 [Config] fix tracking attributes in ReflectionClassResource
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/Config/Tests/Resource/ReflectionClassResourceTest.php
Labels: Bug, Config, Status: Reviewed

#41656 [HttpClient] throw exception when AsyncDecoratorTrait gets an already consumed response
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
Labels: Bug, HttpClient, Status: Needs Review

#41678 [PasswordHasher] Fix missing PasswordHasherAwareInterface allowed type
  src/Symfony/Component/PasswordHasher/Hasher/PasswordHasherFactoryInterface.php
  src/Symfony/Component/PasswordHasher/Hasher/UserPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/UserPasswordHasherInterface.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/PasswordHasherFactoryTest.php
Labels: Bug, PasswordHasher, Status: Reviewed

#41679 Remove Debug component from patch-types.php
  .github/patch-types.php
Labels: Status: Reviewed

#41682 [PasswordHasher] Remove PasswordHasherAwareInterface type from UserPasswordHasherInterface API
  src/Symfony/Component/PasswordHasher/Hasher/UserPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/UserPasswordHasherInterface.php
Labels: PasswordHasher, Status: Reviewed

#41640 [PasswordHasher] Add union types
  src/Symfony/Component/PasswordHasher/Hasher/PasswordHasherFactory.php
  src/Symfony/Component/PasswordHasher/Hasher/PasswordHasherFactoryInterface.php
  src/Symfony/Component/PasswordHasher/Hasher/UserPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/UserPasswordHasherInterface.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/UserPasswordHasherTest.php
Labels: PasswordHasher, Status: Reviewed

#41680 [Console] fix managing signals when commands are lazy loaded
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Bug, Console, Status: Reviewed

#41677 [Uid] Realign inspect commands labels
  src/Symfony/Component/Uid/Command/InspectUlidCommand.php
  src/Symfony/Component/Uid/Command/InspectUuidCommand.php
  src/Symfony/Component/Uid/Tests/Command/InspectUlidCommandTest.php
  src/Symfony/Component/Uid/Tests/Command/InspectUuidCommandTest.php
Labels: Status: Reviewed, Uid

#41540 [VarDumper] Add casters for Symfony UUIDs and ULIDs
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/SymfonyCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Caster/SymfonyCasterTest.php
  src/Symfony/Component/VarDumper/composer.json
Labels: Feature, Status: Reviewed, VarDumper

#41674 [HttpClient] fix compat with cURL <= 7.37
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: Bug, HttpClient, Status: Reviewed

#41675 [Runtime] fix overriding --env|-e with single-command apps
  src/Symfony/Component/Runtime/SymfonyRuntime.php
  src/Symfony/Component/Runtime/Tests/phpt/command.php
Labels: Bug, Runtime, Status: Needs Review

#41659 [Serializer] Fix call to `expectExceptionMessage()`
  src/Symfony/Component/Serializer/Tests/Normalizer/UidNormalizerTest.php
Labels: Bug, Serializer, Status: Needs Review

#41673 [DependencyInjection] fix parsing classes for attributes
  src/Symfony/Component/DependencyInjection/Compiler/RegisterAutoconfigureAttributesPass.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterAutoconfigureAttributesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: Bug, DependencyInjection, Status: Needs Review

#41686 [Console] Fix using #[AsCommand] without DI
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
Labels: Bug, Console, Status: Reviewed

#41695 [String] conflict with Translation contracts 1.x
  src/Symfony/Component/String/composer.json
Labels: Bug, Status: Reviewed, String

#41692 [Form] remove deprecated constants
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
Labels: Form, Status: Reviewed

#41720 [FrameworkBundle] Minor typo in PHPDoc comment
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
Labels: FrameworkBundle, Status: Needs Review

#41712 [Validator] Fix some typos in Greek language
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
Labels: Bug, Status: Reviewed, Validator

#41719 [FrameworkBundle] fix Could not find service "test.service_container"
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#41616 [Messenger] Remove TLS related options when not using TLS
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Messenger, Status: Reviewed

#41716 [Messenger] Fix RequestContext not updated
  src/Symfony/Component/Messenger/Middleware/RouterContextMiddleware.php
  src/Symfony/Component/Messenger/Tests/Middleware/RouterContextMiddlewareTest.php
Labels: Bug, Messenger, Status: Needs Review

#41703 [Security] Restore extension point in MessageDigestPasswordEncoder
  src/Symfony/Component/Security/Core/Encoder/MessageDigestPasswordEncoder.php
  src/Symfony/Component/Security/Core/Tests/Encoder/Fixtures/MyMessageDigestPasswordEncoder.php
  src/Symfony/Component/Security/Core/Tests/Encoder/MessageDigestPasswordEncoderTest.php
Labels: Bug, Security, Status: Reviewed

#41700 [Security] Fix deprecation notice on TokenInterface::getUser() stringable return
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
Labels: Bug, Security, Status: Reviewed

#41693 [Uid] fix performance and prevent collisions with the real clock_seq
  src/Symfony/Component/Uid/Factory/UuidFactory.php
  src/Symfony/Component/Uid/NilUuid.php
  src/Symfony/Component/Uid/Tests/Factory/UuidFactoryTest.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/Uuid.php
  src/Symfony/Component/Uid/UuidV1.php
  src/Symfony/Component/Uid/UuidV6.php
Labels: Status: Reviewed, Uid

#41728 Release v5.3.2
  CHANGELOG-5.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41740 [Security] make the getter usable if no user identifier is set
  src/Symfony/Component/Security/Core/Exception/UserNotFoundException.php
  src/Symfony/Component/Security/Core/Tests/Exception/UserNotFoundExceptionTest.php
Labels: Bug, Security, Status: Reviewed

#41744 [Security] Fix invalid cookie when migrating to new Security
  src/Symfony/Component/Security/Http/RememberMe/RememberMeDetails.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/RememberMeAuthenticatorTest.php
Labels: Bug, Security, Status: Reviewed

#41741 [Security] Fix invalid RememberMe value after update
  src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentRememberMeHandlerTest.php
Labels: Bug, Security, Status: Reviewed

#41747 [Security] Fixed 'security.command.debug_firewall' not found
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
Labels: Bug, Security, Status: Reviewed

#41751 [Messenger] prevent reflection usages when classes do not exist
  src/Symfony/Component/Messenger/Envelope.php
  src/Symfony/Component/Messenger/Tests/EnvelopeTest.php
Labels: Bug, Messenger, Status: Reviewed

#41758 Remove code for old libxml versions
  src/Symfony/Component/Config/Tests/Util/XmlUtilsTest.php
  src/Symfony/Component/Config/Util/XmlUtils.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/Form/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Security/Core/Tests/Resources/TranslationFilesTest.php
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Translation/Tests/Loader/XliffFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Resources/TranslationFilesTest.php
Labels: Status: Reviewed

#41670 [HttpFoundation] allow savePath of NativeFileSessionHandler to be null
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/SessionHandlerFactory.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/SessionHandlerFactoryTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#41755 [PasswordHasher] UserPasswordHasher only calls getSalt when method exists
  src/Symfony/Component/PasswordHasher/Hasher/UserPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Tests/Fixtures/TestLegacyPasswordAuthenticatedUser.php
  src/Symfony/Component/PasswordHasher/Tests/Fixtures/TestPasswordAuthenticatedUser.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/UserPasswordHasherTest.php
Labels: Bug, PasswordHasher, Status: Reviewed

#41763 [WebLink] fix types on Link::withAttribute()
  src/Symfony/Component/WebLink/Link.php
Labels: Status: Reviewed, WebLink

#41780 [PhpUnitBridge] fix handling the COMPOSER_BINARY env var when using simple-phpunit
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, Status: Reviewed

#41776 [ErrorHandler] [DebugClassLoader] Do not check Phake mocks classes
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
Labels: Bug, ErrorHandler, Status: Reviewed

#41787 [Security] Implement fluent interface on RememberMeBadge::disable()
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/RememberMeBadge.php
Labels: Bug, Security, Status: Reviewed

#41779 [DependencyInjection] throw proper exception when decorating a synthetic service
  src/Symfony/Component/DependencyInjection/Compiler/DecoratorServicePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/DecoratorServicePassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#41795 [FrameworkBundle] Replace var_export with VarExporter to use array short syntax in secrets list files
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#41790 Pin masterminds/html5 to the master branch for PHP 8.1
  .github/workflows/tests.yml
Labels: Bug, Status: Reviewed

#41701 [VarDumper] Fix tests for PHP 8.1
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
Labels: Bug, Status: Reviewed, VarDumper

#41737 [Security] Fix special char used to create cache key
  src/Symfony/Component/Security/Core/Authentication/RememberMe/CacheTokenVerifier.php
  src/Symfony/Component/Security/Core/Tests/Authentication/RememberMe/CacheTokenVerifierTest.php
Labels: Bug, Security, Status: Reviewed

#41432 [WebProfilerBundle] Improved the light/dark theme switching
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/settings.html.twig
Labels: Feature, Status: Reviewed, WebProfilerBundle

#41784 [Security] Fix references to CheckRememberMeConditionsListener in doc blocks
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/RememberMeBadge.php
Labels: Bug, Security, Status: Reviewed

#41786 [FrameworkBundle] Add commented base64 version of secrets' keys
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
Labels: FrameworkBundle, Status: Reviewed

#41739 Avoid broken action URL in text notification mail
  src/Symfony/Bridge/Twig/Resources/views/Email/zurb_2/notification/body.txt.twig
Labels: Bug, Status: Needs Review

#41663 [HttpKernel] [HttpCache] Keep s-maxage=0 from ESI sub-responses
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/ResponseCacheStrategyTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#41262 [Notifier] Improve the error on email channel sender
  src/Symfony/Component/Notifier/Channel/EmailChannel.php
Labels: DX, Notifier, Ready, Status: Reviewed

#41593 [MonologBridge] Fix the server:log help --filter sample
  src/Symfony/Bridge/Monolog/Command/ServerLogCommand.php
  src/Symfony/Bundle/WebServerBundle/Command/ServerLogCommand.php
Labels: Bug, MonologBridge, Status: Reviewed

#41205 [TwigBridge] Add `encore_entry_*_tags()` to UndefinedCallableHandler, as no-op
  src/Symfony/Bridge/Twig/UndefinedCallableHandler.php
Labels: Bug, Status: Reviewed, TwigBridge

#41770 [HttpClient] Add default base_uri to MockHttpClient
  src/Symfony/Component/HttpClient/MockHttpClient.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/ScopingHttpClientTest.php
Labels: HttpClient, Status: Reviewed

#41655 [Mailer] fix encoding of addresses using SmtpTransport
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/SmtpTransportTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
Labels: Bug, Mailer, Status: Reviewed

#41773 [Cache] Disable locking on Windows by default
  src/Symfony/Component/Cache/LockRegistry.php
Labels: Bug, Cache, Status: Reviewed

#41326 [Translation][Validator] Add ExpressionLanguageSyntax English and French
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
Labels: Status: Needs Review, Translation, Validator

#41172 [Notifier] Add Telnyx notifier bridge
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Telnyx/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Telnyx/.gitignore
  src/Symfony/Component/Notifier/Bridge/Telnyx/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Telnyx/LICENSE
  src/Symfony/Component/Notifier/Bridge/Telnyx/README.md
  src/Symfony/Component/Notifier/Bridge/Telnyx/TelnyxTransport.php
  src/Symfony/Component/Notifier/Bridge/Telnyx/TelnyxTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Telnyx/Tests/TelnyxTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Telnyx/Tests/TelnyxTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Telnyx/composer.json
  src/Symfony/Component/Notifier/Bridge/Telnyx/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#41804 [Cache] fix eventual consistency when using RedisTagAwareAdapter with a cluster
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
  src/Symfony/Component/Cache/Tests/LockRegistryTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Needs Review

#41793 [Cache] handle prefixed redis connections when clearing pools
  src/Symfony/Component/Cache/Tests/Adapter/AbstractRedisAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisRedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisTagAwareAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisTagAwareClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisTagAwareAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisTagAwareArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisTagAwareClusterAdapterTest.php
  src/Symfony/Component/Cache/Traits/RedisClusterNodeProxy.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Needs Review

#41803 [Uid] Prevent double validation in Uuid::fromString() with base32 values
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Status: Reviewed, Uid

#41801 [Uid] Fix fromString() with low base58 values
  src/Symfony/Component/Uid/AbstractUid.php
  src/Symfony/Component/Uid/Tests/UlidTest.php
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Bug, Status: Reviewed, Uid

#41777 [DependencyInjection] accept service locator definitions with no class
  src/Symfony/Component/DependencyInjection/Compiler/CheckDefinitionValidityPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckDefinitionValidityPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#41768 [DependencyInjection] Fix binding "iterable $foo" when using the PHP-DSL
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/BindTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Prototype/Foo.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/defaults.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/defaults.php
Labels: Bug, DependencyInjection, Status: Reviewed

#41767 [Config] fix tracking default values that reference the parent class
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/Config/Tests/Resource/ReflectionClassResourceTest.php
Labels: Bug, Config, Status: Needs Review

#41761 [DependencyInjection] fix accepted types on FactoryTrait::factory()
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/FactoryTrait.php
Labels: DependencyInjection, Status: Needs Review

#40857 [DependencyInjection] Add support of PHP enumerations
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/XmlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/YamlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FooClassWithEnumAttribute.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FooUnitEnum.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_enumeration.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_invalid_enumeration.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_enumeration.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_invalid_enumeration.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/Fixtures/FooUnitEnum.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#41735 [Runtime] Fix project dir variable when vendor not in project root
  src/Symfony/Component/Runtime/Internal/ComposerPlugin.php
Labels: Bug, Runtime, Status: Needs Review

#41807 [HttpClient] fix Psr18Client when allow_url_fopen=0
  src/Symfony/Component/HttpClient/Response/StreamWrapper.php
Labels: Bug, HttpClient, Status: Reviewed

#41760 [ErrorHandler] fix handling buffered SilencedErrorContext
  src/Symfony/Component/ErrorHandler/Resources/views/logs.html.php
  src/Symfony/Component/ErrorHandler/ThrowableUtils.php
Labels: Bug, ErrorHandler, Status: Reviewed

#41665 [HttpKernel] Keep max lifetime also when part of the responses don't set it
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/ResponseCacheStrategyTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#41860 [Validator] Add missing translations for Russian
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
Labels: Missing translations, Status: Reviewed, Validator

#41857 [Validator] Add missing Czech translations
  src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf
Labels: Status: Reviewed, Validator

#41861 [Validator] Add missing translations for Lithuania
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
Labels: Status: Reviewed, Validator

#41854 [Validator] Missing translations for Brazilian Portuguese (pt_BR)
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
Labels: Status: Reviewed, Validator

#41848 [Validator] Add missing translation for Polish
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Missing translations, Status: Reviewed, Validator

#41841 [Validator] (#41826) missing translations for portuguese
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
Labels: Missing translations, Status: Reviewed, Validator

#41808 [Security] Added missing translations for Armenian (hy)
  src/Symfony/Component/Security/Core/Resources/translations/security.hy.xlf
Labels: Security, Status: Reviewed

#41846 [SecurityBundle] [5.3] Closing tag typo
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/logout_delete_cookies.xml
Labels: Bug, SecurityBundle, Status: Needs Review

#41847 PHPUnit on GitHub Actions
  .appveyor.yml
  .github/workflows/integration-tests.yml
  .github/workflows/intl-data-tests.yml
  .github/workflows/psalm.yml
  .github/workflows/unit-tests.yml
  .travis.yml
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MemcachedSessionHandlerTest.php
  src/Symfony/Component/Messenger/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
  src/Symfony/Contracts/Translation/Test/TranslatorTest.php
Labels: Status: Needs Review

#41872 * validators.(ru|lt).xlf - wrong trans-unit ids
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
Labels: Status: Reviewed

#41871 [Validators] Add new translation in Hungarian
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
Labels: Status: Reviewed

#41802 [Uid] Add NilUlid
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/NilUlid.php
  src/Symfony/Component/Uid/Tests/UlidTest.php
  src/Symfony/Component/Uid/Ulid.php
Labels: Feature, Status: Reviewed, Uid

#41870 [Validator] Added missing spanish translation
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
Labels: Status: Reviewed, Validator

#41868 [FrameworkBundle][Notifier] Fix Telnyx service registration (fixes build)
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Notifier, Status: Reviewed

#41242 [SecurityBundle] Change information label from red to yellow
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
Labels: SecurityBundle, Status: Needs Review

#41875 [travis] raise concurrency
  .travis.yml
Labels: Status: Needs Review

#41878 [Messenger] leverage union types
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageToFailureTransportListener.php
  src/Symfony/Component/Messenger/Middleware/StackMiddleware.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRemoveCommandTest.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesShowCommandTest.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageToFailureTransportListenerTest.php
  src/Symfony/Component/Messenger/Tests/FailureIntegrationTest.php
  src/Symfony/Component/Messenger/Transport/Serialization/Normalizer/FlattenExceptionNormalizer.php
  src/Symfony/Component/Messenger/Transport/Serialization/PhpSerializer.php
Labels: Messenger, Status: Reviewed

#41885 [FrameworkBundle] fix tests
  .github/workflows/unit-tests.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/ObjectsProvider.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/event_dispatcher_1_event1.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/event_dispatcher_1_event1.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/event_dispatcher_1_event1.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/event_dispatcher_1_event1.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/event_dispatcher_1_events.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/event_dispatcher_1_events.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/event_dispatcher_1_events.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/event_dispatcher_1_events.xml
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml
Labels: FrameworkBundle, Status: Needs Review

#41889 [FrameworkBundle] add telnyx-notifier as dev-dep
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Needs Review

#41896 [Messenger] fix FlattenExceptionNormalizer
  src/Symfony/Component/Messenger/Transport/Serialization/Normalizer/FlattenExceptionNormalizer.php
Labels: Bug, Messenger, Status: Needs Review

#41898 [Routing] add missing types
  src/Symfony/Component/Routing/Loader/ClosureLoader.php
  src/Symfony/Component/Routing/Loader/Configurator/RouteConfigurator.php
  src/Symfony/Component/Routing/Loader/ContainerLoader.php
  src/Symfony/Component/Routing/Matcher/Dumper/CompiledUrlMatcherDumper.php
  src/Symfony/Component/Routing/Route.php
Labels: Routing, Status: Needs Review

#41895 update Italian translation
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Status: Reviewed
