Repository symfony/symfony, pull requests merged in 2021-11, with the labels that each got.

#43862 Add missing validators translation in Brazillian Portuguese
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
Labels: Status: Needs Review

#43847 [RateLimiter] Increase delta in limiter tests
  src/Symfony/Component/RateLimiter/Tests/Policy/FixedWindowLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/Policy/SlidingWindowLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/Policy/TokenBucketLimiterTest.php
Labels: Bug, Status: Reviewed, RateLimiter

#43846 Add completion for debug:twig
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/Tests/Command/DebugCommandTest.php
Labels: Feature, Status: Reviewed

#43867 [VarDumper] Make dumping DateInterval instances timezone-independent
  src/Symfony/Component/VarDumper/Caster/DateCaster.php
Labels: Bug, VarDumper, Status: Reviewed

#43878 [Security] Uncomment `AuthenticatorInterface::authenticate()` return type
  src/Symfony/Component/Security/Http/Authenticator/AuthenticatorInterface.php
Labels: Security, Status: Needs Review

#43880 [Contracts] Add mixed type
  src/Symfony/Contracts/Deprecation/function.php
Labels: Status: Needs Review, Contracts

#43879 [HttpFoundation] Fix `Request::getUserInfo()` return type
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Bug, HttpFoundation, Status: Reviewed

#43875 [TwigBundle] Add types to private properties
  src/Symfony/Bundle/TwigBundle/CacheWarmer/TemplateCacheWarmer.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configurator/EnvironmentConfigurator.php
  src/Symfony/Bundle/TwigBundle/TemplateIterator.php
Labels: TwigBundle, Status: Reviewed

#43871 [FrameworkBundle] Backport type fixes
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/CachePoolClearerCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolDeleteCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolListCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolPruneCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterMatchCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/Resources/bin/check-unused-known-tags.php
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/UnusedTagsPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
Labels: FrameworkBundle, Status: Needs Review

#43869 [FrameworkBundle] Add types to private properties
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AbstractPhpFileCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AnnotationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/CachePoolClearerCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ConfigBuilderCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/RouterCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/SerializerCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/TranslationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ValidatorCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolDeleteCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolListCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolPruneCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheWarmupCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/EventDispatcherDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterMatchCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsDecryptToLocalCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsEncryptFromLocalCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsGenerateKeysCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsListCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsRemoveCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsSetCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Controller/RedirectController.php
  src/Symfony/Bundle/FrameworkBundle/Controller/TemplateController.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/HttpCache/HttpCache.php
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Bundle/FrameworkBundle/Resources/bin/check-unused-known-tags.php
  src/Symfony/Bundle/FrameworkBundle/Routing/DelegatingLoader.php
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/DotenvVault.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Test/TestBrowserToken.php
  src/Symfony/Bundle/FrameworkBundle/Test/TestContainer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/UnusedTagsPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
Labels: FrameworkBundle, Status: Needs Review

#43851 Improve Thai translation (fix typo & gramar)
  src/Symfony/Component/Validator/Resources/translations/validators.th.xlf
Labels: Status: Needs Review

#43754 [DoctrineBridge] Determine attribute or annotation type for directories
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Attribute/UuidIdEntity.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#43837 [Finder] Add .gitignore nested negated patterns support
  src/Symfony/Component/Finder/Gitignore.php
  src/Symfony/Component/Finder/Iterator/VcsIgnoredFilterIterator.php
  src/Symfony/Component/Finder/Tests/GitignoreTest.php
  src/Symfony/Component/Finder/Tests/Iterator/VcsIgnoredFilterIteratorTest.php
Labels: Finder, Status: Reviewed

#43881 [Validator] Added missing translations for Estonian (et)
  src/Symfony/Component/Validator/Resources/translations/validators.et.xlf
Labels: Validator, Status: Reviewed

#43886 [Security] Remove outdated `createAuthenticatedToken()` leftover
  src/Symfony/Component/Security/Http/Authenticator/Debug/TraceableAuthenticator.php
Labels: Security, Status: Needs Review

#43894 Update validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
Labels: Status: Reviewed

#43884 [Console] Runtime conflict for psr/log >= 3.0 instead of composer conflict
  src/Symfony/Component/Console/Logger/ConsoleLogger.php
  src/Symfony/Component/Console/composer.json
Labels: Bug, Console, Status: Reviewed

#43870 Fix misleading error on missing provider with authenticator manager
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Bug, Status: Reviewed

#43848 [FrameworkBundle] Add completion for workflow:dump
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/WorkflowDumpCommandTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#43896 Fix typos
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
Labels: Status: Reviewed

#43900 [Security] Fix TypeError message in ChainUserProvider
  src/Symfony/Component/Security/Core/User/ChainUserProvider.php
Labels: Security, Bug, Status: Reviewed

#41257 [WebProfilerBundle] Load toolbar "forever", allow users to cancel
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/cancel.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar_js.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#43898 [Security] Make the abstract Voter class implement CacheableVoterInterface
  src/Symfony/Component/Security/Core/Authorization/Voter/Voter.php
Labels: Security, Feature, Status: Reviewed

#43897 [Security] Fix deprecation layer
  src/Symfony/Component/Security/Http/Firewall/ChannelListener.php
Labels: Security, Bug, Status: Reviewed

#43908 [Console] Restore psr/log >= 3.0 conflict
  src/Symfony/Component/Console/Logger/ConsoleLogger.php
  src/Symfony/Component/Console/composer.json
Labels: Console, Status: Needs Review

#43910 [SecurityBundle] Remove dead "encoder" complex type
  src/Symfony/Bundle/SecurityBundle/Resources/config/schema/security-1.0.xsd
Labels: SecurityBundle, Status: Needs Review

#43891 [Messenger] Add completion to command messenger:consume
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
Labels: Feature, Status: Reviewed, Messenger

#43909 [VarExporter] escape unicode chars involved in directionality
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Bug, Status: Reviewed, VarExporter

#43912 [PropertyInfo] Bump phpstan/phpdoc-parser
  composer.json
  src/Symfony/Component/PropertyInfo/composer.json
Labels: Status: Reviewed, PropertyInfo

#43857 [Framework] Add completion to debug:container
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
Labels: Feature, Status: Reviewed

#43914 [5.4][WebProfiler] Fixing missing full_stack variable that's needed by toolbar.html.twig
  src/Symfony/Bundle/WebProfilerBundle/EventListener/WebDebugToolbarListener.php
Labels: Bug, Status: Reviewed

#43901 [SecurityBundle] Default access_decision_manager.strategy option with merge
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/MainConfigurationTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#43899 [Security][SecurityBundle] Backport type fixes
  src/Symfony/Bundle/SecurityBundle/CacheWarmer/ExpressionCacheWarmer.php
  src/Symfony/Component/Security/Core/Role/RoleHierarchy.php
  src/Symfony/Component/Security/Core/User/ChainUserProvider.php
  src/Symfony/Component/Security/Core/User/InMemoryUserProvider.php
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/Logout/LogoutUrlGenerator.php
Labels: Security, SecurityBundle, Status: Reviewed

#43915 [Messenger] Fix tests
  src/Symfony/Component/Messenger/Tests/Transport/InMemoryTransportFactoryTest.php
  src/Symfony/Component/Messenger/Tests/Transport/InMemoryTransportTest.php
Labels: Bug, Status: Reviewed, Messenger

#43920 [PropertyInfo] Drop support for old PHPDoc parser versions
  composer.json
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/composer.json
Labels: Status: Reviewed, PropertyInfo

#43663 [Messenger] Add command completion for failed messages
  .php-cs-fixer.dist.php
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRemoveCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRemoveCommandTest.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRetryCommandTest.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesShowCommandTest.php
Labels: Feature, Status: Reviewed, Messenger

#43923 [Console] Open CompleteCommand for custom outputs
  src/Symfony/Component/Console/Command/CompleteCommand.php
  src/Symfony/Component/Console/Tests/Command/CompleteCommandTest.php
  src/Symfony/Component/Console/Tests/Fixtures/application_1.json
  src/Symfony/Component/Console/Tests/Fixtures/application_1.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_2.json
  src/Symfony/Component/Console/Tests/Fixtures/application_2.xml
Labels: Console, Status: Reviewed

#43922 [DependencyInjection] only allow `ReflectionNamedType` for `ServiceSubscriberTrait`
  src/Symfony/Contracts/Service/ServiceSubscriberTrait.php
  src/Symfony/Contracts/Tests/Fixtures/TestServiceSubscriberUnion.php
  src/Symfony/Contracts/Tests/Service/ServiceSubscriberTraitTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#43924 Fix CS
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Output/TrimmedBufferOutput.php
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationMapper.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
  src/Symfony/Component/HttpFoundation/IpUtils.php
  src/Symfony/Component/HttpFoundation/Tests/ParameterBagTest.php
  src/Symfony/Component/Intl/Data/Util/RingBuffer.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/ConnectionOptions.php
  src/Symfony/Component/Mime/Encoder/Rfc2231Encoder.php
  src/Symfony/Component/Mime/Header/AbstractHeader.php
  src/Symfony/Component/Process/Tests/PipeStdinInStdoutStdErrStreamSelect.php
  src/Symfony/Component/Routing/Loader/AnnotationDirectoryLoader.php
  src/Symfony/Component/Routing/RouteCompiler.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Translation/Loader/MoFileLoader.php
Labels: Status: Reviewed

#38464 [Routing] Add support for aliasing routes
  src/Symfony/Component/Routing/Alias.php
  src/Symfony/Component/Routing/Exception/InvalidArgumentException.php
  src/Symfony/Component/Routing/Exception/RouteCircularReferenceException.php
  src/Symfony/Component/Routing/Exception/RuntimeException.php
  src/Symfony/Component/Routing/Generator/CompiledUrlGenerator.php
  src/Symfony/Component/Routing/Generator/Dumper/CompiledUrlGeneratorDumper.php
  src/Symfony/Component/Routing/Loader/Configurator/AliasConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/Traits/AddTrait.php
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Routing/Loader/schema/routing/routing-1.0.xsd
  src/Symfony/Component/Routing/RouteCollection.php
  src/Symfony/Component/Routing/RouteCompiler.php
  src/Symfony/Component/Routing/Router.php
  src/Symfony/Component/Routing/Tests/Fixtures/alias/alias.php
  src/Symfony/Component/Routing/Tests/Fixtures/alias/alias.xml
  src/Symfony/Component/Routing/Tests/Fixtures/alias/alias.yaml
  src/Symfony/Component/Routing/Tests/Fixtures/alias/expected.php
  src/Symfony/Component/Routing/Tests/Fixtures/alias/invalid-alias.yaml
  src/Symfony/Component/Routing/Tests/Fixtures/alias/invalid-deprecated-no-package.xml
  src/Symfony/Component/Routing/Tests/Fixtures/alias/invalid-deprecated-no-package.yaml
  src/Symfony/Component/Routing/Tests/Fixtures/alias/invalid-deprecated-no-version.xml
  src/Symfony/Component/Routing/Tests/Fixtures/alias/invalid-deprecated-no-version.yaml
  src/Symfony/Component/Routing/Tests/Fixtures/alias/override.yaml
  src/Symfony/Component/Routing/Tests/Fixtures/nonvalid-deprecated-route.xml
  src/Symfony/Component/Routing/Tests/Generator/Dumper/CompiledUrlGeneratorDumperTest.php
  src/Symfony/Component/Routing/Tests/Generator/UrlGeneratorTest.php
  src/Symfony/Component/Routing/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Matcher/RedirectableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Feature, Routing, Status: Reviewed, Deprecation

#43838 feat: add completion for DebugAutowiring search argument
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/DebugAutowiringCommandTest.php
Labels: Feature, Status: Reviewed

#43933 [DependencyInjection] mark test as legacy
  src/Symfony/Contracts/Tests/Service/ServiceSubscriberTraitTest.php
Labels: DependencyInjection, Status: Reviewed

#43850 Add completion for DebugConfig name and path arguments
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ConfigDebugCommandTest.php
Labels: Feature, Status: Reviewed

#43932 Remove return types that confuse our types patching script
  src/Symfony/Component/Form/Util/OrderedHashMapIterator.php
  src/Symfony/Component/Intl/Data/Util/RingBuffer.php
Labels: Bug, Status: Needs Review

#43916 [PropertyInfo] Support the list pseudo-type
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
  src/Symfony/Component/PropertyInfo/Util/PhpStanTypeHelper.php
Labels: Feature, Status: Reviewed, PropertyInfo

#43934 [DependencyInjection] clean up merge issue
  src/Symfony/Contracts/Service/ServiceSubscriberTrait.php
  src/Symfony/Contracts/Tests/Fixtures/TestServiceSubscriberUnion.php
  src/Symfony/Contracts/Tests/Service/ServiceSubscriberTraitTest.php
Labels: DependencyInjection, Status: Needs Review

#43361 [Security] Add getter for attributes property
  src/Symfony/Component/Security/Http/Authenticator/Passport/Passport.php
Labels: Security, Status: Reviewed

#43937 Release v5.4.0-BETA1
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#43939 Release v6.0.0-BETA1
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#43946 [HttpKernel] Make sure a serialized DumpDataCollector can be unserialized
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/DumpDataCollectorTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#43945 [Runtime] fix defining APP_DEBUG when Dotenv is not enabled
  src/Symfony/Component/Runtime/SymfonyRuntime.php
Labels: Bug, Status: Reviewed, Runtime

#43947 [HttpKernel] Make sure FileLinkFormatter can be serialized
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
  src/Symfony/Component/HttpKernel/Tests/Debug/FileLinkFormatterTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#43940 [FrameworkBundle] Fix logic in workflow:dump between workflow name and workflow id
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#43944 [Yaml] revert using functions provided by polyfill packages
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/composer.json
Labels: Bug, Yaml, Status: Reviewed

#43948 [Asset][Security] Fixed leftover deprecations PHP 8.1
  src/Symfony/Component/Asset/VersionStrategy/JsonManifestVersionStrategy.php
  src/Symfony/Component/Security/Http/Authenticator/JsonLoginAuthenticator.php
Labels: Security, Bug, Asset, Status: Needs Review

#43930 [DependencyInjection] Fix support for unions/intersections together with `ServiceSubscriberInterface`
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/RegisterServiceSubscribersPass.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestServiceSubscriberIntersection.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestServiceSubscriberIntersectionWithTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestServiceSubscriberUnion.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TestServiceSubscriberUnionWithTrait.php
Labels: DependencyInjection, Bug, Status: Reviewed

#43952 [SecurityBundle] Fix compat with symfony/security-core:^6
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
Labels: Bug, SecurityBundle, Status: Reviewed

#43955 [TwigBundle] Remove php 8.0 polyfill
  src/Symfony/Bundle/TwigBundle/composer.json
Labels: Bug, TwigBundle, Status: Reviewed

#43961 [HttpClient] Curl http client has to reinit curl multi handle on reset
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
Labels: Bug, Status: Reviewed, HttpClient

#43949 [Validator] Add Swedish translation for issue #43737
  src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf
Labels: Validator, Status: Reviewed

#43967 [Loco] Fix Loco Provider ID and pull & push local messages reading
  src/Symfony/Component/Translation/Bridge/Loco/LocoProvider.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Command/TranslationTrait.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPullCommandTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPushCommandTest.php
Labels: Bug, Status: Reviewed

#43964 [Validator] Missing translations for Greek (el)
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
Labels: Validator, Status: Reviewed, Missing translations

#43979 [Validator] translate for japanese 101,102,103
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
Labels: Validator, Status: Reviewed, Missing translations

#43983 [HttpKernel] allow ignoring kernel.reset methods that don't exist
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DependencyInjection/ResettableServicePass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/ServicesResetter.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/ResettableServicePassTest.php
Labels: Bug, Feature, HttpKernel, Status: Reviewed

#43987 [PhpUnitBridge] Fix Uncaught ValueError
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#43971 Use symfony-*-bridge instead of symfony-bridge for component bridges
  src/Symfony/Component/Mailer/Bridge/Amazon/composer.json
  src/Symfony/Component/Mailer/Bridge/Google/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailchimp/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailgun/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/composer.json
  src/Symfony/Component/Mailer/Bridge/OhMySmtp/composer.json
  src/Symfony/Component/Mailer/Bridge/Postmark/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendgrid/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendinblue/composer.json
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/composer.json
  src/Symfony/Component/Messenger/Bridge/Amqp/composer.json
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/composer.json
  src/Symfony/Component/Messenger/Bridge/Doctrine/composer.json
  src/Symfony/Component/Messenger/Bridge/Redis/composer.json
  src/Symfony/Component/Notifier/Bridge/AllMySms/composer.json
  src/Symfony/Component/Notifier/Bridge/AmazonSns/composer.json
  src/Symfony/Component/Notifier/Bridge/Clickatell/composer.json
  src/Symfony/Component/Notifier/Bridge/Discord/composer.json
  src/Symfony/Component/Notifier/Bridge/Esendex/composer.json
  src/Symfony/Component/Notifier/Bridge/Expo/composer.json
  src/Symfony/Component/Notifier/Bridge/FakeChat/composer.json
  src/Symfony/Component/Notifier/Bridge/FakeSms/composer.json
  src/Symfony/Component/Notifier/Bridge/Firebase/composer.json
  src/Symfony/Component/Notifier/Bridge/FreeMobile/composer.json
  src/Symfony/Component/Notifier/Bridge/GatewayApi/composer.json
  src/Symfony/Component/Notifier/Bridge/Gitter/composer.json
  src/Symfony/Component/Notifier/Bridge/GoogleChat/composer.json
  src/Symfony/Component/Notifier/Bridge/Infobip/composer.json
  src/Symfony/Component/Notifier/Bridge/Iqsms/composer.json
  src/Symfony/Component/Notifier/Bridge/LightSms/composer.json
  src/Symfony/Component/Notifier/Bridge/LinkedIn/composer.json
  src/Symfony/Component/Notifier/Bridge/Mailjet/composer.json
  src/Symfony/Component/Notifier/Bridge/Mattermost/composer.json
  src/Symfony/Component/Notifier/Bridge/Mercure/composer.json
  src/Symfony/Component/Notifier/Bridge/MessageBird/composer.json
  src/Symfony/Component/Notifier/Bridge/MessageMedia/composer.json
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/composer.json
  src/Symfony/Component/Notifier/Bridge/Mobyt/composer.json
  src/Symfony/Component/Notifier/Bridge/Nexmo/composer.json
  src/Symfony/Component/Notifier/Bridge/Octopush/composer.json
  src/Symfony/Component/Notifier/Bridge/OneSignal/composer.json
  src/Symfony/Component/Notifier/Bridge/OvhCloud/composer.json
  src/Symfony/Component/Notifier/Bridge/RocketChat/composer.json
  src/Symfony/Component/Notifier/Bridge/Sendinblue/composer.json
  src/Symfony/Component/Notifier/Bridge/Sinch/composer.json
  src/Symfony/Component/Notifier/Bridge/Slack/composer.json
  src/Symfony/Component/Notifier/Bridge/Sms77/composer.json
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/composer.json
  src/Symfony/Component/Notifier/Bridge/Smsapi/composer.json
  src/Symfony/Component/Notifier/Bridge/Smsc/composer.json
  src/Symfony/Component/Notifier/Bridge/SpotHit/composer.json
  src/Symfony/Component/Notifier/Bridge/Telegram/composer.json
  src/Symfony/Component/Notifier/Bridge/Telnyx/composer.json
  src/Symfony/Component/Notifier/Bridge/TurboSms/composer.json
  src/Symfony/Component/Notifier/Bridge/Twilio/composer.json
  src/Symfony/Component/Notifier/Bridge/Yunpian/composer.json
  src/Symfony/Component/Notifier/Bridge/Zulip/composer.json
  src/Symfony/Component/Translation/Bridge/Crowdin/composer.json
  src/Symfony/Component/Translation/Bridge/Loco/composer.json
  src/Symfony/Component/Translation/Bridge/Lokalise/composer.json
Labels: Status: Reviewed

#43988 [DoctrineBridge] add support for the JSON type
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#43981 [FrameworkBundle] fix registering late resettable services
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#43985 [HttpClient] Implement ResetInterface for all http clients
  src/Symfony/Component/HttpClient/CachingHttpClient.php
  src/Symfony/Component/HttpClient/DecoratorTrait.php
  src/Symfony/Component/HttpClient/EventSourceHttpClient.php
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Internal/NativeClientState.php
  src/Symfony/Component/HttpClient/MockHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/Psr18Client.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: Status: Reviewed, HttpClient

#43993 [FrameworkBundle] fix deprecation message
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#44018 [Config] Add missing use statement in generated config builder classes
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
Labels: Bug, Config, Status: Needs Review

#44002 [Cache] Fix Memory leak
  src/Symfony/Component/Cache/Traits/AbstractTrait.php
Labels: Bug, Status: Needs Review, Cache

#44012 [DependencyInjection] fix inlining when non-shared services are involved
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
Labels: DependencyInjection, Bug, Status: Needs Review

#44027 [FrameworkBundle] Add comment about design decision
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#44016 [SecurityBundle] Fix listing listeners in profiler when authenticator manager is disabled
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Bundle/SecurityBundle/Security/FirewallConfig.php
Labels: Bug, SecurityBundle, Status: Reviewed

#44028 [ErrorHandler] Fix FlattenException::setPrevious argument typing
  src/Symfony/Component/ErrorHandler/Exception/FlattenException.php
Labels: Bug, Status: Reviewed, ErrorHandler

#44010 [DependencyInjection] fix auto-refresh when inline_factories is enabled
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
Labels: DependencyInjection, Bug, Status: Needs Review

#44013 [ErrorHandler] fix parsing `@param` with dollars in the description
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/ErrorHandler/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/InterfaceWithAnnotatedParameters.php
Labels: Bug, Status: Reviewed, ErrorHandler

#44036 Fix CI by removing ext-mongodb
  .github/workflows/unit-tests.yml
Labels: Status: Needs Review

#44034 [Yaml] don't try to replace references in quoted strings
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Yaml, Status: Reviewed

#44042 Fix DateIntervalToStringTransformer::transform() doc
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateIntervalToStringTransformer.php
Labels: Bug, Status: Needs Review

#44048 Release v5.4.0-BETA2
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#44050 [Notifier] Fix package names
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/AllMySms/composer.json
  src/Symfony/Component/Notifier/Bridge/GatewayApi/composer.json
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
Labels: Bug, Status: Reviewed, Notifier

#44051 [Notifier] Fix package name
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/TurboSms/composer.json
Labels: Bug, Status: Reviewed, Notifier

#44052 Release v6.0.0-BETA2
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#44053 [FrameworkBundle] deprecate notifier service aliases that dont follow the convention
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: FrameworkBundle, Status: Needs Review, Deprecation

#44056 [DependencyInjection] Fix YamlFileLoader return type
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
Labels: DependencyInjection, Bug, Status: Reviewed

#44037 Never rely on dynamic properties
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/ProxyDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/StdClassDecorator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/classes.php
  src/Symfony/Component/EventDispatcher/Tests/EventDispatcherTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/KernelForTest.php
  src/Symfony/Component/Mime/Part/DataPart.php
  src/Symfony/Component/Mime/Part/SMimePart.php
  src/Symfony/Component/Mime/Part/TextPart.php
  src/Symfony/Component/Security/Core/Exception/AuthenticationException.php
  src/Symfony/Component/Security/Core/Tests/Exception/CustomUserMessageAuthenticationExceptionTest.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraint.php
  src/Symfony/Component/Validator/Constraints/Composite.php
  src/Symfony/Component/Validator/Mapping/ClassMetadata.php
  src/Symfony/Component/Validator/Mapping/MemberMetadata.php
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Internal/Registry.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Status: Reviewed

#44063 [DependencyInjection] fix creating 2nd container instances
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
Labels: DependencyInjection, Bug, Status: Needs Review

#44064 [Cache] fix releasing not acquired locks
  src/Symfony/Component/Cache/LockRegistry.php
Labels: Bug, Status: Needs Review, Cache

#44015 [Cache] Decrease the probability of invalidation loss on tag eviction
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
Labels: Status: Reviewed, Cache

#44043 [Cache] fix dbindex Redis
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Reviewed, Cache

#43990 [Translation] [Loco] Generate id parameter instead of letting Loco do it
  src/Symfony/Component/Translation/Bridge/Loco/LocoProvider.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Bridge/Loco/composer.json
Labels: Bug, Translation, Status: Reviewed

#44060 [Cache] Fix calculate ttl in couchbase sdk 3.0
  src/Symfony/Component/Cache/Adapter/CouchbaseCollectionAdapter.php
Labels: Bug, Ready, Status: Reviewed, Cache

#43181 Allow AbstractDoctrineExtension implementations to support the newer bundle structure
  UPGRADE-5.4.md
  UPGRADE-6.0.md
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
Labels: Feature, Ready, Status: Reviewed, Deprecation

#44068 Fix typos in a test message
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Status: Reviewed

#44072 Improve CI script a bit
  .github/workflows/unit-tests.yml
Labels: Status: Reviewed

#44069 DoctrineDbalAdapter: Fix deprecation message placeholders
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
Labels: Status: Reviewed

#44070 [Process] intersect with getenv() to populate default envs
  src/Symfony/Component/Process/Process.php
Labels: Bug, Process, Status: Needs Review

#44096 Make ExpressionVoter Cacheable
  src/Symfony/Component/Security/Core/Authorization/Voter/ExpressionVoter.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AccessDecisionManagerTest.php
Labels: Feature, Status: Reviewed

#44097 Update validators.uz.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uz.xlf
Labels: Feature, Status: Needs Review

#44088 [ExpressionLanguage] Fix LexerTest number types
  src/Symfony/Component/ExpressionLanguage/Tests/LexerTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/ParserTest.php
Labels: ExpressionLanguage, Status: Reviewed

#44065 [FrameworkBundle] Add framework config for DBAL cache adapter
  UPGRADE-5.4.md
  UPGRADE-6.0.md
  src/Symfony/Bridge/Doctrine/SchemaListener/DoctrineDbalCacheAdapterSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/PdoCacheAdapterDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/DoctrineDbalCacheAdapterSchemaSubscriberTest.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/PdoCacheAdapterDoctrineSchemaSubscriberTest.php
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
  src/Symfony/Component/Cache/Adapter/DoctrineSchemaConfiguratorInterface.php
  src/Symfony/Component/Cache/LockRegistry.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#44098 [DependencyInjection] fix preloading
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
Labels: DependencyInjection, Bug, Status: Needs Review

#44104 [FrameworkBundle] Fix API gateway service name
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#44102 [HttpClient] Improve recommendation message for "composer req"
  src/Symfony/Component/HttpClient/CachingHttpClient.php
Labels: Status: Needs Review, HttpClient

#44099 Update validators.lv.xlf - Typo fix
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
Labels: Bug, Feature, Status: Needs Review, Deprecation

#44111 [Serializer] fix support for unset properties on PHP < 7.4
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#44114 Remove more dynamic properties
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/CacheClearCommandTest.php
  src/Symfony/Component/HttpClient/Internal/AmpBody.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/RateLimiter/Policy/TokenBucket.php
Labels: Status: Needs Review

#44108 [FrameworkBundle][Messenger] remove `FlattenExceptionNormalizer` definition if serializer not available
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed, Messenger

#44121 [Serializer] fix support for lazy properties
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#44122 [Serializer] fix reading unset properties
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
Labels: Serializer, Status: Needs Review

#44110 [FrameworkBundle] Fix default PHP attributes support in validation and serializer configuration when doctrine/annotations is not installed with PHP 8
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#44001 [Serializer] Return unique attributes in PropertyNormalizer extractAttributes function
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
Labels: Serializer, Status: Needs Review

#44125 Add a setter on DateTimeNormalizer to change the default context at runtime
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
Labels: Feature, Status: Reviewed

#44129 Release v6.0.0-BETA3
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#42323 [TwigBridge] do not merge label classes into expanded choice labels
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/foundation_5_layout.html.twig
Labels: Bug, Ready, Status: Reviewed, TwigBridge

#44131 [Yaml] properly parse quoted strings tagged with !!str
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Yaml, Status: Reviewed

#44130 [SecurityBundle] Remove outdated conditions based on authenticatorManagerEnabled
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
Labels: Bug, SecurityBundle, Status: Reviewed

#43917 Allow autodetecting mapping type for any object
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
Labels: Bug, Status: Reviewed

#44139 [WebProfilerBundle] Prevent installation of incompatible mailer component versions
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: Bug, WebProfilerBundle, Status: Reviewed

#44119 [HttpClient][Mime] Add correct IDN flags for IDNA2008 compliance
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
  src/Symfony/Component/Mime/Encoder/IdnAddressEncoder.php
  src/Symfony/Component/Mime/Tests/Encoder/IdnAddressEncoderTest.php
Labels: Bug, Status: Reviewed, Mime, HttpClient

#44143 Missing translations in Portuguese for Validator
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
Labels: Status: Reviewed

#44158 [Tests] Remove some unused fixtures
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/BaseBundle/BaseBundle.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/BaseBundle/Resources/views/base.format.engine
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/BaseBundle/Resources/views/controller/base.format.engine
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/BaseBundle/Resources/views/this.is.a.template.format.engine
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
  src/Symfony/Component/Cache/Tests/Fixtures/PrunableCache.php
Labels: Status: Reviewed

#44157 [FrameworkBundle] Remove code relating to old StoreInterface
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: FrameworkBundle, Status: Reviewed

#44165 [Serializer] [Tests] Remove some unused fixtures
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Status: Reviewed

#44164 Remove obsolete PHP version checks
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/Config/Tests/Resource/ReflectionClassResourceTest.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckArgumentsValidityPass.php
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Status: Reviewed

#44172 [Security] Guard is incompatible with Symfony 6
  src/Symfony/Component/Security/Guard/composer.json
Labels: Security, Bug, Status: Reviewed

#44174 [SecurityBundle] There is no Guard 6
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: Bug, SecurityBundle, Status: Reviewed

#44175 [Ldap] Add missing security-http dependency
  src/Symfony/Component/Ldap/Tests/Security/CheckLdapCredentialsListenerTest.php
  src/Symfony/Component/Ldap/composer.json
Labels: Bug, Status: Reviewed, Ldap

#44177 [SecurityBundle] Remove Guard
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: Bug, SecurityBundle, Status: Reviewed

#44169 [Tests] Remove some unused fixtures
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
  src/Symfony/Component/Security/Core/Tests/SecurityTest.php
Labels: Status: Reviewed

#44153 [Mailer] drop dev dependency on the HttpClient component
  src/Symfony/Component/Mailer/Bridge/Google/Tests/Transport/GmailTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Google/composer.json
Labels: Status: Reviewed, Mailer

#44167 [DependencyInjection][FrameworkBundle] Leverage array_is_list
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/composer.json
Labels: DependencyInjection, FrameworkBundle, Status: Reviewed

#44179 [WebProfilerBundle] Fix JS error when toolbar is reloaded
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#44176 [Console] Default ansi option to null
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Tests/Fixtures/application_1.md
  src/Symfony/Component/Console/Tests/Fixtures/application_2.md
  src/Symfony/Component/Console/Tests/Fixtures/application_mbstring.md
Labels: Bug, Console, Status: Reviewed

#44188 [VarExporter] fix exporting declared but unset properties when __sleep() is implemented
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Bug, Status: Needs Review, VarExporter

#44154 Resync UPGRADE-6.0
  UPGRADE-6.0.md
Labels: Status: Needs Review

#44191 Replace PHP_EOL by \n to generate same code on Win/Lin
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
Labels: Bug, Status: Needs Review

#44192 [Config] Add test for missing use statement
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeys/BazConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeysConfig.php
Labels: Config, Status: Needs Review

#44194 Release v5.3.11
  CHANGELOG-5.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#44208 [Process] exclude argv/argc from possible default env vars
  src/Symfony/Component/Process/Process.php
Labels: Bug, Process, Status: Needs Review

#44205 [Validator] Add missing Czech translations
  src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf
Labels: Validator, Status: Needs Review

#44204 [HttpClient] fix closing curl multi handle when destructing client
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
Labels: Bug, Status: Needs Review, HttpClient

#44214 [Config] Fix config test
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Messenger/ReceivingConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Messenger/RoutingConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/TranslatorConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeys/BarConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeys/BazConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeys/FooConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues/Symfony/Config/NodeInitialValues/Messenger/TransportsConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues/Symfony/Config/NodeInitialValues/SomeCleverNameConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/Placeholders/Symfony/Config/PlaceholdersConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/PrimitiveTypes/Symfony/Config/PrimitiveTypesConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/VariableType/Symfony/Config/VariableTypeConfig.php
  src/Symfony/Component/Config/Tests/Builder/GeneratedConfigTest.php
Labels: Bug, Config, Status: Reviewed

#44219 [HttpFoundation] Add Laravel as a backer to the README
  src/Symfony/Component/HttpFoundation/README.md
Labels: HttpFoundation, Status: Reviewed

#44220 [Console][HttpKernel] Add Les-Tilleuls.coop as a backer to the README
  src/Symfony/Component/Console/README.md
  src/Symfony/Component/HttpKernel/README.md
Labels: Console, HttpKernel, Status: Reviewed

#44221 [Messenger][Process] Add SensioLabs as a backer to the README
  src/Symfony/Component/Messenger/README.md
  src/Symfony/Component/Process/README.md
Labels: Process, Status: Reviewed, Messenger

#44223 [Security] Add SymfonyCasts as a backer to the READMEs
  src/Symfony/Component/Security/Core/README.md
  src/Symfony/Component/Security/Csrf/README.md
  src/Symfony/Component/Security/Guard/README.md
  src/Symfony/Component/Security/Http/README.md
Labels: Security, Status: Reviewed

#44224 [Translation] Add Crowdin as a backer to the READMEs
  src/Symfony/Component/Translation/Bridge/Crowdin/README.md
  src/Symfony/Component/Translation/README.md
Labels: Translation, Status: Reviewed
