Repository symfony/symfony, pull requests merged in 2021-02, with the labels that each got.

#40047 [HttpClient] Remove unnecessary "?" in url query
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
Labels: Bug, HttpClient, Status: Reviewed

#40055 [Messenger] Fix Doctrine setup when using a migration
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/PostgreSqlConnection.php
Labels: Bug, Messenger, Status: Needs Review

#40062 [Mime] Fix case-sensitive handling of header names
  src/Symfony/Component/Mime/Header/Headers.php
  src/Symfony/Component/Mime/Tests/Header/HeadersTest.php
Labels: Bug, Mime, Status: Reviewed

#39954 [Mailer][Mime] Fix case-sensitive handling of header names
  src/Symfony/Component/Mailer/EventListener/MessageListener.php
  src/Symfony/Component/Mailer/Tests/EventListener/MessageListenerTest.php
  src/Symfony/Component/Mime/Header/Headers.php
  src/Symfony/Component/Mime/Tests/Header/HeadersTest.php
Labels: Bug, Mailer, Mime, Status: Reviewed

#40045 [Yaml] Delete unused comparison operation
  src/Symfony/Component/Yaml/Dumper.php
Labels: Bug, Status: Reviewed, Yaml

#38973 [Messenger] Allow to limit consumer to specific queues
  .github/composer-config.json
  src/Symfony/Component/Messenger/Bridge/Amqp/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpReceiver.php
  src/Symfony/Component/Messenger/Bridge/Amqp/composer.json
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Transport/Receiver/QueueReceiverInterface.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Feature, Messenger, Status: Reviewed

#40035 Streamline dataproviders
  src/Symfony/Bridge/Twig/Tests/Extension/HttpFoundationExtensionTest.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpFoundation/Tests/UrlHelperTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/CallbacksTestTrait.php
Labels: Status: Needs Review

#40060 fix validator when we have false returned by the current element of the iterator
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php
Labels: Bug, Status: Reviewed

#40074 Release v5.2.3
  CHANGELOG-5.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#39948 [Notifier] [SpotHit] Add the bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/SpotHit/README.md
  src/Symfony/Component/Notifier/Bridge/SpotHit/SpotHitTransport.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/SpotHitTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/Tests/SpotHitTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/Tests/SpotHitTransportTest.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/composer.json
  src/Symfony/Component/Notifier/Bridge/SpotHit/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Feature, Notifier, Status: Reviewed

#40065 [ErrorHandler] fix handling messages with null bytes from anonymous classes
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
Labels: Bug, ErrorHandler, Status: Needs Review

#40066 [ErrorHandler] fix parsing return types in DebugClassLoader
  phpunit
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
Labels: Bug, ErrorHandler, Status: Needs Review

#40067 [PhpUnitBridge] fix reporting deprecations when they come from DebugClassLoader
  src/Symfony/Bridge/PhpUnit/.gitignore
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/DeprecationTest.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/debug_class_loader_autoload.phpt
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/fake_vendor/symfony/error-handler/.gitkeep
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/weak_vendors_on_vendor.phpt
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, PhpUnitBridge, Status: Needs Review

#40042 [Doctrine] Restore priority for EventSubscribers
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/Tests/ContainerAwareEventManagerTest.php
Labels: Bug, Doctrine, Status: Reviewed

#40089 [SecurityBundle] role_names variable instead of roles
  src/Symfony/Bundle/SecurityBundle/CacheWarmer/ExpressionCacheWarmer.php
  src/Symfony/Bundle/SecurityBundle/Tests/CacheWarmer/ExpressionCacheWarmerTest.php
Labels: Bug, Status: Reviewed

#40080 Fix Request with DNS issue not retried
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
Labels: Bug, Status: Reviewed

#40096 Allow psr/cache v2
  composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/composer.json
Labels: Status: Reviewed

#40099 [Notifier] Fix typo in AllMySmsTransport namespace
  src/Symfony/Component/Notifier/Bridge/AllMySms/AllMySmsTransport.php
Labels: Bug, Notifier, Status: Reviewed

#40100 Updated README.md
  src/Symfony/Component/Notifier/Bridge/Zulip/README.md
Labels: Bug, Deprecation, Feature, Status: Reviewed

#40059 [PhpUnitBridge] Add SYMFONY_PHPUNIT_REQUIRE env variable
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Feature, PhpUnitBridge, Status: Reviewed

#40050 [FrameworkBundle][Translator] Fixed updating catalogue metadata from Intl domain
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Component/Translation/Catalogue/MergeOperation.php
  src/Symfony/Component/Translation/Catalogue/TargetOperation.php
  src/Symfony/Component/Translation/Tests/Catalogue/MergeOperationTest.php
  src/Symfony/Component/Translation/Tests/Catalogue/TargetOperationTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed, Translator

#39980 [Mailer][Mime] Update inline part names with newly generated ContentId
  src/Symfony/Component/Mime/Email.php
Labels: Bug, Status: Needs Review

#39893 [HttpKernel] Show full URI when route not found
  src/Symfony/Component/HttpKernel/EventListener/RouterListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/RouterListenerTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#39732 [Routing] don't decode nor double-encode already encoded slashes when generating URLs
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Generator/UrlGenerator.php
  src/Symfony/Component/Routing/Tests/Generator/UrlGeneratorTest.php
Labels: Feature, Routing, Status: Reviewed

#40101 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review

#40098 [DependencyInjection] fix tracking of changes to vendor/ dirs
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/GlobFileLoaderTest.php
Labels: Bug, Config, DependencyInjection, Status: Reviewed

#40105 Remove EOLed 5.1 branch from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#40106 Allow psr/cache v3 but on symfony/cache
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/composer.json
Labels: HttpFoundation, Status: Needs Review

#40104 [HttpKernel] [Kernel] Silence failed deprecations logs writes
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, HttpKernel, Status: Reviewed

#39978 [DoctrineBridge] Make subscriber and listeners prioritizable
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPass.php
  src/Symfony/Bridge/Doctrine/Tests/ContainerAwareEventManagerTest.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPassTest.php
Labels: DoctrineBridge, Status: Reviewed

#40086 Provide implemented packages of replaced dependencies
  composer.json
  src/Symfony/Component/Cache/composer.json
Labels: Bug, Status: Reviewed

#40093 Always autoload string functions on symfony/symfony
  composer.json
Labels: Bug, Status: Reviewed

#40118 Fix kafka tests
  .github/workflows/tests.yml
Labels: Bug, Status: Reviewed

#40113 [HttpFoundation] Fix FQDN class
  src/Symfony/Component/HttpFoundation/Exception/SessionNotFoundException.php
Labels: Bug, HttpFoundation, Status: Reviewed

#40124 [Form] merge translation parameters with value configured for parent form
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationMapper.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/ViolationMapperTest.php
Labels: Bug, Form, Status: Reviewed

#40125 Don't "replace" mailer bridges in "symfony/symfony"
  .gitattributes
  composer.json
Labels: Status: Reviewed

#40116 [FrameworkBundle][Translator] scan directories for translations sequentially
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/translations/security.en.yaml
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed, Translator

#40134 Add some information about the username in CONTRIBUTORS
  CONTRIBUTORS.md
Labels: Status: Reviewed

#40137 [Form] forward the label_html option to expanded choice fields
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
Labels: Bug, Form, Status: Reviewed

#40138 [FrameworkBundle] fix registering "annotations.cache" on the "container.hot_path"
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.xml
Labels: Bug, FrameworkBundle, Status: Reviewed

#40135 [FrameworkBundle] Fix freshness checks with boolean parameters on routes
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/Fixtures/with_condition.yaml
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/RouterTest.php
Labels: Bug, FrameworkBundle, Routing, Status: Reviewed

#40147 [HttpKernel] fix transient test
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: HttpKernel, Status: Needs Review

#40148 Re-enable triggering deprecations about return types
  phpunit
Labels: Status: Needs Review

#40102 [Notifier] [Firebase] Add data field to options
  src/Symfony/Component/Notifier/Bridge/Firebase/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Firebase/FirebaseOptions.php
  src/Symfony/Component/Notifier/Bridge/Firebase/FirebaseTransport.php
Labels: Feature, Notifier, Status: Reviewed

#40141 [RateLimiter] Fix sliding_window misbehaving with stale records
  src/Symfony/Component/RateLimiter/Policy/SlidingWindow.php
  src/Symfony/Component/RateLimiter/Tests/Strategy/SlidingWindowTest.php
Labels: Bug, RateLimiter, Status: Reviewed

#39688 [FrameworkBundle][Messenger] Added RouterContextMiddleware
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Middleware/RouterContextMiddleware.php
  src/Symfony/Component/Messenger/Stamp/RouterContextStamp.php
  src/Symfony/Component/Messenger/Tests/Middleware/RouterContextMiddlewareTest.php
  src/Symfony/Component/Messenger/composer.json
Labels: Feature, FrameworkBundle, Messenger, Status: Reviewed

#39507 [Uid] Add UidFactory to create Ulid and Uuid from timestamps and randomness/nodes
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/IdGenerator/UlidGenerator.php
  src/Symfony/Bridge/Doctrine/IdGenerator/UuidGenerator.php
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/UlidGeneratorTest.php
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/UuidGeneratorTest.php
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Resources/config/uid.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/Uid/BinaryUtil.php
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/Factory/NameBasedUuidFactory.php
  src/Symfony/Component/Uid/Factory/RandomBasedUuidFactory.php
  src/Symfony/Component/Uid/Factory/TimeBasedUuidFactory.php
  src/Symfony/Component/Uid/Factory/UlidFactory.php
  src/Symfony/Component/Uid/Factory/UuidFactory.php
  src/Symfony/Component/Uid/Tests/Factory/UlidFactoryTest.php
  src/Symfony/Component/Uid/Tests/Factory/UuidFactoryTest.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/UuidV1.php
  src/Symfony/Component/Uid/UuidV6.php
Labels: Feature, Ready, Status: Reviewed, Uid

#40144 [Filesystem] Remove dirs atomically if possible
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: Bug, Filesystem, Ready, Status: Reviewed

#40114 [HttpFoundation] Fix consistency in sessions not found exceptions
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Bug, HttpFoundation, Ready, Status: Reviewed

#40143 [Filesystem] improve messages on failure
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: Filesystem, Ready, Status: Reviewed

#40157 Modernize func_get_args() calls to variadic parameters
  src/Symfony/Component/ExpressionLanguage/ExpressionFunction.php
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Intl/Tests/Locale/AbstractLocaleTest.php
  src/Symfony/Component/Intl/Tests/Locale/LocaleTest.php
  src/Symfony/Component/Intl/Tests/Locale/Verification/LocaleTest.php
Labels: Status: Reviewed

#40040 [Finder] Use a lazyIterator to close files descriptors when no longer used
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Iterator/LazyIterator.php
  src/Symfony/Component/Finder/Tests/Iterator/LazyIteratorTest.php
Labels: Bug, Finder, Status: Reviewed

#40161 [Finder] add missing return type declaration
  src/Symfony/Component/Finder/Iterator/LazyIterator.php
Labels: Finder, Status: Needs Review

#40166 [HttpFoundation] Fix typo in exception message
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#40163 [Finder] mark the LazyIterator class as internal
  src/Symfony/Component/Finder/Iterator/LazyIterator.php
Labels: Finder, Status: Reviewed

#40169 [DependencyInjection] Negated (not:) env var processor
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterEnvVarProcessorsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#40160 [PropertyInfo] fix extracting mixed type-hinted property types
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php80Dummy.php
Labels: Bug, PropertyInfo, Status: Reviewed

#40167 [DependencyInjection] Definition::removeMethodCall should remove all matching calls
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/DependencyInjection/Tests/DefinitionTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#40181 [PasswordHasher] Fix: Typo
  src/Symfony/Component/PasswordHasher/Command/UserPasswordHashCommand.php
Labels: Bug, Status: Needs Review

#40176 [PasswordHasher] Use bcrypt as default hash algorithm for "native" and "auto"
  src/Symfony/Component/PasswordHasher/CHANGELOG.md
  src/Symfony/Component/PasswordHasher/Hasher/NativePasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/PasswordHasherFactory.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/NativePasswordHasherTest.php
Labels: Feature, Status: Reviewed

#40182 [PasswordHasher] Fix: Run 'php-cs-fixer fix'
  src/Symfony/Component/PasswordHasher/Command/UserPasswordHashCommand.php
  src/Symfony/Component/PasswordHasher/Exception/InvalidPasswordException.php
  src/Symfony/Component/PasswordHasher/Exception/LogicException.php
  src/Symfony/Component/PasswordHasher/Hasher/MigratingPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/PasswordHasherFactoryInterface.php
  src/Symfony/Component/PasswordHasher/Hasher/SodiumPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Tests/Command/UserPasswordHashCommandTest.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/MessageDigestPasswordHasherTest.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/PasswordHasherFactoryTest.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/Pbkdf2PasswordHasherTest.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/UserPasswordHasherTest.php
Labels: Bug, Status: Reviewed

#40183 [PasswordHasher] Fix: Use algorithm instead of algo
  src/Symfony/Component/PasswordHasher/Hasher/NativePasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/PasswordHasherFactory.php
Labels: Bug, Status: Reviewed

#40186 Fix package name
  src/Symfony/Component/Notifier/Bridge/SpotHit/composer.json
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Bug, Status: Needs Review

#40188 [HttpFoundation] Fix PHP 8.1 null values
  src/Symfony/Component/HttpFoundation/Response.php
Labels: Bug, HttpFoundation, Status: Reviewed

#39659 [Form] keep valid submitted choices when additional choices are submitted
  src/Symfony/Bundle/FrameworkBundle/Resources/config/form.xml
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
Labels: Bug, Form, Status: Reviewed

#40187 [Console] Fix PHP 8.1 null error for preg_match flag
  src/Symfony/Component/Console/Input/StringInput.php
Labels: Bug, Console, Status: Reviewed

#40180 Fix: Article
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/Config/Definition/Dumper/XmlReferenceDumper.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveClassPass.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/BindTrait.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveClassPassTest.php
  src/Symfony/Component/DomCrawler/Field/ChoiceFormField.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToHtml5LocalDateTimeTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/Form/Extension/Core/Type/TimeType.php
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php
  src/Symfony/Component/Lock/Store/PdoStore.php
  src/Symfony/Component/Mime/Header/ParameterizedHeader.php
  src/Symfony/Component/Security/Http/RememberMe/RememberMeServicesInterface.php
  src/Symfony/Component/Security/Http/SecurityEvents.php
  src/Symfony/Component/Serializer/Mapping/Loader/XmlFileLoader.php
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Translation/Loader/MoFileLoader.php
  src/Symfony/Component/WebLink/HttpHeaderSerializer.php
Labels: Bug, Status: Reviewed, Translator

#39671 [Worflow] Fixed GuardListener when using the new Security system
  src/Symfony/Component/Workflow/EventListener/GuardListener.php
  src/Symfony/Component/Workflow/Exception/InvalidTokenConfigurationException.php
Labels: Bug, Status: Needs Work

#40202 [Workflow] Deprecate InvalidTokenConfigurationException
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Exception/InvalidTokenConfigurationException.php
Labels: Deprecation, Status: Reviewed, Workflow

#40201 [Workflow] Re-add InvalidTokenConfigurationException for BC
  src/Symfony/Component/Workflow/Exception/InvalidTokenConfigurationException.php
Labels: Status: Reviewed, Workflow

#40172 [Translation] Allow using dashes in locale when linting Xliff files
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Translation/Tests/Command/XliffLintCommandTest.php
Labels: Bug, Status: Reviewed, Translation

#40175 [PropertyInfo]  use the right context for properties defined in traits
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/TraitUsage/DummyTrait.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/TraitUsage/DummyUsedInTrait.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/TraitUsage/DummyUsingTrait.php
Labels: Bug, PropertyInfo, Status: Reviewed

#39399 [Serializer] Allow to provide (de)normalization context in mapping
  src/Symfony/Component/Serializer/Annotation/Context.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Mapping/AttributeMetadata.php
  src/Symfony/Component/Serializer/Mapping/AttributeMetadataInterface.php
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/XmlFileLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/schema/dic/serializer-mapping/serializer-mapping-1.0.xsd
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Annotation/ContextTest.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/BadMethodContextDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/ContextDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/ContextDummyParent.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/BadMethodContextDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/ContextDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/ContextDummyParent.php
  src/Symfony/Component/Serializer/Tests/Fixtures/serialization.xml
  src/Symfony/Component/Serializer/Tests/Fixtures/serialization.yml
  src/Symfony/Component/Serializer/Tests/Mapping/AttributeMetadataTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/Features/ContextMappingTestTrait.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ContextMetadataTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Feature, Serializer, Status: Reviewed

#38473 [Framework] Add tag assets.package to register asset packages
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/assets.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Asset/Packages.php
  src/Symfony/Component/Asset/Tests/PackagesTest.php
Labels: Feature, Ready, Status: Reviewed

#39809 Symfony Armenian Translations
  src/Symfony/Component/Form/Resources/translations/validators.hy.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.hy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hy.xlf
Labels: Missing translations, Status: Needs Review

#40174 [Mailer] AWS SES transport Source ARN header support
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesApiAsyncAwsTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesHttpAsyncAwsTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesHttpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiAsyncAwsTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpAsyncAwsTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpTransport.php
  src/Symfony/Component/Mailer/CHANGELOG.md
Labels: Feature, Mailer, Status: Reviewed

#40206 Ignore indirect deprecation triggered by doctrine/orm
  .appveyor.yml
  .travis.yml
Labels: Status: Needs Review

#39804 [DependencyInjection] Add `#[Autoconfigure]` to help define autoconfiguration rules
  src/Symfony/Component/DependencyInjection/Attribute/Autoconfigure.php
  src/Symfony/Component/DependencyInjection/Attribute/AutoconfigureTag.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Compiler/RegisterAutoconfigureAttributesPass.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterAutoconfigureAttributesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutoconfigureAttributed.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutoconfiguredInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Prototype/FooInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: Bug, DependencyInjection, Ready, Status: Reviewed

#40203 [String] Check if function exists before declaring it
  src/Symfony/Component/String/Resources/functions.php
  src/Symfony/Component/Translation/Resources/functions.php
Labels: Bug, Status: Reviewed, String

#40192 [Console] fix QuestionHelper::getHiddenResponse() not working with space in project directory name
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Bug, Console, Status: Needs Review

#40209 [WebLink] Escape double quotes in attributes values
  src/Symfony/Component/WebLink/HttpHeaderSerializer.php
  src/Symfony/Component/WebLink/Tests/HttpHeaderSerializerTest.php
Labels: Bug, Status: Reviewed, WebLink

#40208 [PropertyInfo] fix resolving self to name of the analyzed class
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/ParentDummy.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php7Dummy.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php7ParentDummy.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
Labels: Bug, PropertyInfo, Status: Reviewed

#40217 [Security] Fix some broken BC layers
  src/Symfony/Component/Security/Core/Encoder/UserPasswordEncoderInterface.php
  src/Symfony/Component/Security/Guard/Provider/GuardAuthenticationProvider.php
  src/Symfony/Component/Security/Http/EventListener/PasswordMigratingListener.php
Labels: Bug, Security, Status: Reviewed

#40211 [Validator] fix taking error message from the correct violation
  src/Symfony/Component/Validator/Constraints/AtLeastOneOfValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/AtLeastOneOfValidatorTest.php
Labels: Bug, Status: Reviewed, Validator

#40222 install compatible versions of mongodb/mongodb only
  .travis.yml
Labels: Status: Reviewed

#40162 [Intl] fix Locale::getFallback() throwing exception on long $locale
  src/Symfony/Component/Intl/Locale.php
  src/Symfony/Component/Intl/Tests/LocaleTest.php
Labels: Bug, Intl, Status: Reviewed

#39897 [DependencyInjection] Autoconfigurable attributes
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AttributeAutoconfigurationPass.php
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Attribute/CustomAutoconfiguration.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TaggedService1.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TaggedService2.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TaggedService3.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TaggedService3Configurator.php
  src/Symfony/Component/EventDispatcher/Attribute/EventListener.php
  src/Symfony/Component/EventDispatcher/CHANGELOG.md
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
  src/Symfony/Component/EventDispatcher/Tests/Fixtures/CustomEvent.php
  src/Symfony/Component/EventDispatcher/Tests/Fixtures/TaggedInvokableListener.php
  src/Symfony/Component/EventDispatcher/Tests/Fixtures/TaggedMultiListener.php
Labels: DependencyInjection, Feature, Ready, Status: Reviewed

#40243 [EventDispatcher] add missing "dispatcher" property on #[EventListener]
  src/Symfony/Component/EventDispatcher/Attribute/EventListener.php
Labels: EventDispatcher, Status: Needs Review

#40245 [PropertyInfo] fix direct deprecation
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
Labels: PropertyInfo, Status: Needs Review

#40246 [EventDispatcher] fix registering subscribers twice on edge-case
  src/Symfony/Component/EventDispatcher/DependencyInjection/RegisterListenersPass.php
Labels: Bug, EventDispatcher, Status: Needs Review

#40250 Stop using deprecated ArrayCache from Doctrine
  src/Symfony/Bridge/Doctrine/Test/DoctrineTestHelper.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Intl, Status: Needs Review

#40234 [Console] Add `ConsoleCommand` attribute for declaring commands on PHP 8
  src/Symfony/Component/Console/Attribute/ConsoleCommand.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
  src/Symfony/Component/EventDispatcher/CHANGELOG.md
Labels: Console, Feature, Ready, Status: Reviewed

#39326 [Security] Added debug:firewall command
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Command/DebugFirewallCommand.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/debug_console.php
Labels: Feature, Security, Status: Reviewed

#40257 [Intl] Add `Currencies::getCashFractionDigits()` and `Currencies::getCashRoundingIncrement()`
  src/Symfony/Component/Intl/CHANGELOG.md
  src/Symfony/Component/Intl/Currencies.php
Labels: Feature, Intl, Status: Reviewed

#40253 [BrowserKit] Add different header notations to tests
  src/Symfony/Component/BrowserKit/Tests/HttpBrowserTest.php
Labels: BrowserKit, Status: Reviewed

#40223 Add Symfony Armenian Translations
  src/Symfony/Component/Form/Resources/translations/validators.hy.xlf
Labels: Missing translations, Status: Reviewed

#40258 [Form] Ignoring invalid forms from delete_empty behavior in CollectionType
  src/Symfony/Component/Form/Extension/Core/EventListener/ResizeFormListener.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/ResizeFormListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CollectionTypeTest.php
Labels: Bug, Form, Status: Reviewed

#40214 [FrameworkBundle] allow container/routing configurators to vary by env
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/Config/Loader/Loader.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/ClosureLoader.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/IniFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/when-env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/ini/when-env.ini
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/when-env.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/when-env.yaml
  src/Symfony/Component/DependencyInjection/Tests/Loader/ClosureLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/IniFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/Routing/Annotation/Route.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
  src/Symfony/Component/Routing/Loader/ClosureLoader.php
  src/Symfony/Component/Routing/Loader/Configurator/RoutingConfigurator.php
  src/Symfony/Component/Routing/Loader/ContainerLoader.php
  src/Symfony/Component/Routing/Loader/ObjectLoader.php
  src/Symfony/Component/Routing/Loader/PhpFileLoader.php
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Routing/Loader/schema/routing/routing-1.0.xsd
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/RouteWithEnv.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributeFixtures/RouteWithEnv.php
  src/Symfony/Component/Routing/Tests/Fixtures/when-env.php
  src/Symfony/Component/Routing/Tests/Fixtures/when-env.xml
  src/Symfony/Component/Routing/Tests/Fixtures/when-env.yml
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderWithAnnotationsTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderWithAttributesTest.php
  src/Symfony/Component/Routing/Tests/Loader/ClosureLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/ObjectLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Routing/composer.json
Labels: Feature, FrameworkBundle, Ready, Status: Reviewed

#40273 [Cache] fix setting items' metadata on commit()
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/FilesystemTagAwareAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PdoAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PdoDbalAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PdoPruneableTrait.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisTagAwareAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisTagAwareClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisTagAwareAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisTagAwareArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisTagAwareClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareTestTrait.php
  src/Symfony/Component/Cache/Tests/Simple/PdoCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/PdoDbalCacheTest.php
Labels: Bug, Cache, Status: Reviewed

#40244 [Routing] fix conflict with param named class in attribute
  src/Symfony/Component/Routing/Loader/AnnotationFileLoader.php
  src/Symfony/Component/Routing/Tests/Fixtures/Attributes/FooAttributes.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamAfterCommaController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamAfterParenthesisController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamInlineAfterCommaController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamInlineAfterParenthesisController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamInlineQuotedAfterCommaController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamInlineQuotedAfterParenthesisController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamQuotedAfterCommaController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamQuotedAfterParenthesisController.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationFileLoaderTest.php
Labels: Bug, Routing, Status: Reviewed

#40271 Switched to non-null defaults in exception constructors
  src/Symfony/Bundle/FrameworkBundle/Routing/DelegatingLoader.php
  src/Symfony/Component/Config/Exception/FileLoaderImportCircularReferenceException.php
  src/Symfony/Component/Config/Exception/FileLoaderLoadException.php
  src/Symfony/Component/Config/Loader/DelegatingLoader.php
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/Config/Loader/Loader.php
  src/Symfony/Component/Config/Tests/Exception/LoaderLoadExceptionTest.php
  src/Symfony/Component/Console/Exception/CommandNotFoundException.php
  src/Symfony/Component/HttpKernel/Exception/AccessDeniedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/BadRequestHttpException.php
  src/Symfony/Component/HttpKernel/Exception/ConflictHttpException.php
  src/Symfony/Component/HttpKernel/Exception/GoneHttpException.php
  src/Symfony/Component/HttpKernel/Exception/HttpException.php
  src/Symfony/Component/HttpKernel/Exception/LengthRequiredHttpException.php
  src/Symfony/Component/HttpKernel/Exception/MethodNotAllowedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/NotAcceptableHttpException.php
  src/Symfony/Component/HttpKernel/Exception/NotFoundHttpException.php
  src/Symfony/Component/HttpKernel/Exception/PreconditionFailedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/PreconditionRequiredHttpException.php
  src/Symfony/Component/HttpKernel/Exception/ServiceUnavailableHttpException.php
  src/Symfony/Component/HttpKernel/Exception/TooManyRequestsHttpException.php
  src/Symfony/Component/HttpKernel/Exception/UnauthorizedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/UnprocessableEntityHttpException.php
  src/Symfony/Component/HttpKernel/Exception/UnsupportedMediaTypeHttpException.php
  src/Symfony/Component/HttpKernel/Tests/Exception/AccessDeniedHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/BadRequestHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/ConflictHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/GoneHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/HttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/LengthRequiredHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/MethodNotAllowedHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/NotAcceptableHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/NotFoundHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/PreconditionFailedHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/PreconditionRequiredHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/ServiceUnavailableHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/TooManyRequestsHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/UnauthorizedHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/UnprocessableEntityHttpExceptionTest.php
  src/Symfony/Component/HttpKernel/Tests/Exception/UnsupportedMediaTypeHttpExceptionTest.php
  src/Symfony/Component/Mailer/Exception/HttpTransportException.php
  src/Symfony/Component/Routing/Exception/MethodNotAllowedException.php
  src/Symfony/Component/Routing/RouteCollectionBuilder.php
  src/Symfony/Component/Yaml/Exception/ParseException.php
Labels: Bug, Status: Reviewed

#39599 [Cache] Fix Redis TLS scheme `rediss` for Redis connection
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Cache, Feature, Status: Reviewed

#40272 [Console] Handle calls to mb_ functions with non string arguments
  src/Symfony/Component/Console/Helper/Helper.php
Labels: Bug, Console, Status: Reviewed

#40281 [FrameworkBundle] Allow x-forwarded-prefix trusted header in config
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#40285 Remove service session.storage.mock_file when user configure factory
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, Status: Reviewed

#40287 [Config] Switched to non-null defaults in exception constructors
  src/Symfony/Component/Config/Exception/LoaderLoadException.php
Labels: Bug, Config, Status: Reviewed

#40286 [Security] #[CurrentUser] arguments should resolve to null for "anon."
  src/Symfony/Component/Security/Http/Controller/UserValueResolver.php
  src/Symfony/Component/Security/Http/Tests/Controller/UserValueResolverTest.php
Labels: Bug, Security, Status: Reviewed

#40283 [Translation] Make `name` attribute optional in xliff2
  src/Symfony/Component/Translation/Dumper/XliffFileDumper.php
  src/Symfony/Component/Translation/Tests/Dumper/XliffFileDumperTest.php
  src/Symfony/Component/Translation/Tests/fixtures/resources-2.0-clean.xlf
Labels: Bug, Translation

#40298 [Form] Remove hard dependency on symfony/intl
  UPGRADE-5.3.md
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/CountryType.php
  src/Symfony/Component/Form/Extension/Core/Type/CurrencyType.php
  src/Symfony/Component/Form/Extension/Core/Type/LanguageType.php
  src/Symfony/Component/Form/Extension/Core/Type/LocaleType.php
  src/Symfony/Component/Form/Extension/Core/Type/TimezoneType.php
  src/Symfony/Component/Form/composer.json
Labels: Deprecation, Form, Status: Reviewed

#40288 Deprecate passing null as $message or $code to exceptions
  src/Symfony/Component/Config/Exception/FileLoaderImportCircularReferenceException.php
  src/Symfony/Component/Config/Exception/LoaderLoadException.php
  src/Symfony/Component/HttpKernel/Exception/AccessDeniedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/BadRequestHttpException.php
  src/Symfony/Component/HttpKernel/Exception/ConflictHttpException.php
  src/Symfony/Component/HttpKernel/Exception/GoneHttpException.php
  src/Symfony/Component/HttpKernel/Exception/HttpException.php
  src/Symfony/Component/HttpKernel/Exception/LengthRequiredHttpException.php
  src/Symfony/Component/HttpKernel/Exception/MethodNotAllowedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/NotAcceptableHttpException.php
  src/Symfony/Component/HttpKernel/Exception/NotFoundHttpException.php
  src/Symfony/Component/HttpKernel/Exception/PreconditionFailedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/PreconditionRequiredHttpException.php
  src/Symfony/Component/HttpKernel/Exception/ServiceUnavailableHttpException.php
  src/Symfony/Component/HttpKernel/Exception/TooManyRequestsHttpException.php
  src/Symfony/Component/HttpKernel/Exception/UnauthorizedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/UnprocessableEntityHttpException.php
  src/Symfony/Component/HttpKernel/Exception/UnsupportedMediaTypeHttpException.php
  src/Symfony/Component/Mailer/Exception/HttpTransportException.php
  src/Symfony/Component/Routing/Exception/MethodNotAllowedException.php
Labels: Deprecation, Status: Reviewed

#40266 [Routing] Construct Route annotations using named arguments
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  composer.json
  src/Symfony/Component/Routing/Annotation/Route.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Tests/Annotation/RouteTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationFileLoaderTest.php
  src/Symfony/Component/Routing/composer.json
Labels: Deprecation, Routing, Status: Reviewed

#40304 [TwigBridge] Install symfony/intl to run tests on Travis
  src/Symfony/Bridge/Twig/composer.json
Labels: Status: Reviewed, TwigBridge

#40140 [DependencyInjection] Add ContainerBuilder::willBeAvailable() to help with conditional configuration
  src/Symfony/Bundle/DebugBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AbstractRecursivePass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: DependencyInjection, Feature, Ready, Status: Reviewed

#40291 Adding a Github action to run Psalm
  .github/psalm/cache/.gitignore
  .github/psalm/psalm.baseline.xml
  .github/workflows/psalm.yml
  psalm.xml
Labels: Status: Reviewed

#39883 [Uid] Add Generate and Inspect commands
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/UidNormalizerTest.php
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/Command/GenerateUlidCommand.php
  src/Symfony/Component/Uid/Command/GenerateUuidCommand.php
  src/Symfony/Component/Uid/Command/InspectUlidCommand.php
  src/Symfony/Component/Uid/Command/InspectUuidCommand.php
  src/Symfony/Component/Uid/Tests/Command/GenerateUlidCommandTest.php
  src/Symfony/Component/Uid/Tests/Command/GenerateUuidCommandTest.php
  src/Symfony/Component/Uid/Tests/Command/InspectUlidCommandTest.php
  src/Symfony/Component/Uid/Tests/Command/InspectUuidCommandTest.php
  src/Symfony/Component/Uid/composer.json
Labels: Feature, Status: Reviewed, Uid

#40308 Make sure the Psalm review CI job is working
  .github/workflows/psalm.yml
Labels: Status: Needs Review

#40231 [HttpFoundation][HttpKernel] Configure `session.cookie_secure` earlier
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
  src/Symfony/Component/HttpKernel/EventListener/SessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
Labels: Bug, HttpFoundation, HttpKernel, Status: Reviewed

#40306 [HttpClient] Add `HttpClientInterface::withOptions()`
  composer.json
  src/Symfony/Component/HttpClient/AsyncDecoratorTrait.php
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/EventSourceHttpClient.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
  src/Symfony/Component/HttpClient/MockHttpClient.php
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/ScopingHttpClient.php
  src/Symfony/Component/HttpClient/TraceableHttpClient.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Contracts/CHANGELOG.md
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/Deprecation/composer.json
  src/Symfony/Contracts/EventDispatcher/composer.json
  src/Symfony/Contracts/HttpClient/HttpClientInterface.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
  src/Symfony/Contracts/HttpClient/composer.json
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/Translation/composer.json
  src/Symfony/Contracts/composer.json
Labels: Feature, HttpClient, Status: Reviewed

#40309 Fix deprecation messages
  src/Symfony/Component/Security/Core/Encoder/BasePasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/EncoderFactory.php
  src/Symfony/Component/Security/Core/Encoder/EncoderFactoryInterface.php
  src/Symfony/Component/Security/Core/Encoder/MessageDigestPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/MigratingPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/NativePasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/PasswordEncoderInterface.php
  src/Symfony/Component/Security/Core/Encoder/Pbkdf2PasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/PlaintextPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/SelfSaltingEncoderInterface.php
  src/Symfony/Component/Security/Core/Encoder/SodiumPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/UserPasswordEncoder.php
  src/Symfony/Component/Security/Core/Encoder/UserPasswordEncoderInterface.php
Labels: Bug, Deprecation, Status: Reviewed

#40299 [Cache] Add server-commands support for Predis Replication Environments
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Reviewed

#40311 Speedup psalm
  .github/psalm/.gitignore
  .github/workflows/intl-data-tests.yml
  .github/workflows/phpunit-bridge.yml
  .github/workflows/psalm.yml
  .github/workflows/tests.yml
Labels: Status: Reviewed

#39607 [Messenger] Add `rediss://` DSN scheme support for TLS to Redis transport
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/Messenger/Bridge/Redis/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/Transport/TransportFactory.php
Labels: Feature, Messenger, Status: Reviewed

#40284 [RateLimiter][Security] Allow to use no lock in the rate limiter/login throttling
  UPGRADE-5.3.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/rate_limiter.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/PhpFrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
Labels: Feature, RateLimiter, Security, Status: Reviewed

#40239 MockResponse total_time should not be simulated when provided
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Tests/Response/MockResponseTest.php
Labels: Bug, Status: Reviewed

#40314 improve exception message if symfony/security-csrf is missing
  src/Symfony/Component/Form/FormRenderer.php
Labels: Status: Reviewed

#40307 [HttpKernel] Handle multi-attribute controller arguments
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/HttpKernel/Attribute/ArgumentInterface.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadata.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactory.php
  src/Symfony/Component/HttpKernel/Tests/ControllerMetadata/ArgumentMetadataFactoryTest.php
  src/Symfony/Component/HttpKernel/Tests/ControllerMetadata/ArgumentMetadataTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/Attribute/Foo.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/Controller/AttributeController.php
  src/Symfony/Component/Security/Http/Attribute/CurrentUser.php
  src/Symfony/Component/Security/Http/Controller/UserValueResolver.php
  src/Symfony/Component/Security/Http/Tests/Controller/UserValueResolverTest.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Deprecation, Feature, HttpKernel, Ready, Status: Reviewed
