Repository symfony/symfony, pull requests merged in 2021-07, with the labels that each got.

#41907 [FrameworkBundle] add union types
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/CachePoolClearerCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Command/EventDispatcherDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerResolver.php
  src/Symfony/Bundle/FrameworkBundle/DataCollector/RouterDataCollector.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddDebugLogProcessorPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/HttpCache/HttpCache.php
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Bundle/FrameworkBundle/Routing/AnnotatedRouteControllerLoader.php
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
  src/Symfony/Bundle/FrameworkBundle/Test/BrowserKitAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Test/TestContainer.php
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
Labels: FrameworkBundle, Ready, Status: Needs Review

#41911 [Security] add union types
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/AnonymousToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/NullToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/SwitchUserToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
  src/Symfony/Component/Security/Core/Authorization/AccessDecisionManager.php
  src/Symfony/Component/Security/Core/Authorization/AccessDecisionManagerInterface.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationCheckerInterface.php
  src/Symfony/Component/Security/Core/Authorization/TraceableAccessDecisionManager.php
  src/Symfony/Component/Security/Core/Authorization/Voter/AuthenticatedVoter.php
  src/Symfony/Component/Security/Core/Authorization/Voter/ExpressionVoter.php
  src/Symfony/Component/Security/Core/Authorization/Voter/RoleVoter.php
  src/Symfony/Component/Security/Core/Authorization/Voter/TraceableVoter.php
  src/Symfony/Component/Security/Core/Authorization/Voter/Voter.php
  src/Symfony/Component/Security/Core/Authorization/Voter/VoterInterface.php
  src/Symfony/Component/Security/Core/Event/VoteEvent.php
  src/Symfony/Component/Security/Core/Exception/AccessDeniedException.php
  src/Symfony/Component/Security/Core/Security.php
  src/Symfony/Component/Security/Core/User/ChainUserProvider.php
  src/Symfony/Component/Security/Core/Validator/Constraints/UserPassword.php
  src/Symfony/Component/Security/Core/Validator/Constraints/UserPasswordValidator.php
  src/Symfony/Component/Security/Csrf/CsrfTokenManager.php
  src/Symfony/Component/Security/Guard/AuthenticatorInterface.php
  src/Symfony/Component/Security/Guard/PasswordAuthenticatedInterface.php
  src/Symfony/Component/Security/Guard/Token/PreAuthenticationGuardToken.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Credentials/CustomCredentials.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Passport.php
  src/Symfony/Component/Security/Http/EventListener/CheckCredentialsListener.php
  src/Symfony/Component/Security/Http/EventListener/PasswordMigratingListener.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/HttpUtils.php
  src/Symfony/Component/Security/Http/Tests/HttpUtilsTest.php
Labels: Ready, Security, Status: Needs Review

#41929 Revert CI workaround for masterminds/html5
  .github/workflows/unit-tests.yml
Labels: Bug, Status: Reviewed

#41926 [Serializer] add union types
  src/Symfony/Component/Serializer/Annotation/Context.php
  src/Symfony/Component/Serializer/Annotation/DiscriminatorMap.php
  src/Symfony/Component/Serializer/Annotation/Groups.php
  src/Symfony/Component/Serializer/Annotation/MaxDepth.php
  src/Symfony/Component/Serializer/Annotation/SerializedName.php
  src/Symfony/Component/Serializer/CacheWarmer/CompiledClassMetadataCacheWarmer.php
  src/Symfony/Component/Serializer/Encoder/ChainEncoder.php
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Encoder/EncoderInterface.php
  src/Symfony/Component/Serializer/Encoder/JsonEncode.php
  src/Symfony/Component/Serializer/Encoder/JsonEncoder.php
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Encoder/YamlEncoder.php
  src/Symfony/Component/Serializer/Mapping/ClassDiscriminatorFromClassMetadata.php
  src/Symfony/Component/Serializer/Mapping/ClassDiscriminatorMapping.php
  src/Symfony/Component/Serializer/Mapping/ClassDiscriminatorResolverInterface.php
  src/Symfony/Component/Serializer/Mapping/Factory/CacheClassMetadataFactory.php
  src/Symfony/Component/Serializer/Mapping/Factory/ClassMetadataFactory.php
  src/Symfony/Component/Serializer/Mapping/Factory/ClassMetadataFactoryInterface.php
  src/Symfony/Component/Serializer/Mapping/Factory/ClassResolverTrait.php
  src/Symfony/Component/Serializer/Mapping/Factory/CompiledClassMetadataFactory.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ContextAwareDenormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/ContextAwareNormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/CustomNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateIntervalNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeZoneNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizableInterface.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/FormErrorNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/JsonSerializableNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/MimeMessageNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ProblemNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/UnwrappingDenormalizer.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Serializer/SerializerInterface.php
  src/Symfony/Component/Serializer/Tests/Annotation/DiscriminatorMapTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/GroupsTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/MaxDepthTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/SerializedNameTest.php
  src/Symfony/Component/Serializer/Tests/Fixtures/AbstractNormalizerDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DenormalizableDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Dummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/NormalizableTraversableDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/ScalarDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/StaticConstructorNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/UnwrappinDenormalizerTest.php
Labels: Serializer, Status: Needs Review

#41887 [PhpUnitBridge] Fix deprecation handler with PHPUnit 10
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
Labels: Bug, PhpUnitBridge, Status: Needs Work

#41923 [EventDispatcher] Deprecate configuring tags on RegisterListenersPass
  src/Symfony/Component/EventDispatcher/DependencyInjection/RegisterListenersPass.php
Labels: Deprecation, EventDispatcher, Status: Reviewed

#41939 uzb translation 4.4 version
  src/Symfony/Component/Validator/Resources/translations/validators.uz.xlf
Labels: Feature, Status: Needs Review

#41375 [Notifier] Add MessageMedia Bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/MessageMedia/.gitattributes
  src/Symfony/Component/Notifier/Bridge/MessageMedia/.gitignore
  src/Symfony/Component/Notifier/Bridge/MessageMedia/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/MessageMedia/LICENSE
  src/Symfony/Component/Notifier/Bridge/MessageMedia/MessageMediaTransport.php
  src/Symfony/Component/Notifier/Bridge/MessageMedia/MessageMediaTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/MessageMedia/README.md
  src/Symfony/Component/Notifier/Bridge/MessageMedia/Tests/MessageMediaTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/MessageMedia/Tests/MessageMediaTransportTest.php
  src/Symfony/Component/Notifier/Bridge/MessageMedia/composer.json
  src/Symfony/Component/Notifier/Bridge/MessageMedia/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#41934 [DependencyInjection] Fix doc blocks
  src/Symfony/Component/DependencyInjection/Exception/ParameterNotFoundException.php
  src/Symfony/Component/DependencyInjection/TypedReference.php
Labels: Bug, DependencyInjection, Status: Reviewed

#41930 [GHA] restore phpunit-bridge job
  .github/workflows/phpunit-bridge.yml
Labels: Status: Reviewed

#41933 [DependencyInjection] Turn $defaultDeprecationTemplate into a constant
  src/Symfony/Component/DependencyInjection/Alias.php
  src/Symfony/Component/DependencyInjection/Definition.php
Labels: DependencyInjection, Status: Reviewed

#41874 [SecurityBundle] Hide security toolbar if no firewall matched
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
Labels: Bug, SecurityBundle, Status: Reviewed

#41869 [Form] better form doc types to support static analysis
  src/Symfony/Component/Form/FormBuilderInterface.php
  src/Symfony/Component/Form/FormConfigInterface.php
  src/Symfony/Component/Form/FormTypeInterface.php
Labels: Form, Status: Reviewed

#41912 [Console] add union types
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Command/LazyCommand.php
  src/Symfony/Component/Console/Descriptor/Descriptor.php
  src/Symfony/Component/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Component/Console/Descriptor/TextDescriptor.php
  src/Symfony/Component/Console/Helper/Dumper.php
  src/Symfony/Component/Console/Helper/FormatterHelper.php
  src/Symfony/Component/Console/Helper/Helper.php
  src/Symfony/Component/Console/Helper/ProcessHelper.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Input/ArrayInput.php
  src/Symfony/Component/Console/Input/Input.php
  src/Symfony/Component/Console/Input/InputArgument.php
  src/Symfony/Component/Console/Input/InputDefinition.php
  src/Symfony/Component/Console/Input/InputInterface.php
  src/Symfony/Component/Console/Input/InputOption.php
  src/Symfony/Component/Console/Output/ConsoleSectionOutput.php
  src/Symfony/Component/Console/Output/NullOutput.php
  src/Symfony/Component/Console/Output/Output.php
  src/Symfony/Component/Console/Output/OutputInterface.php
  src/Symfony/Component/Console/Output/TrimmedBufferOutput.php
  src/Symfony/Component/Console/Question/ChoiceQuestion.php
  src/Symfony/Component/Console/Question/Question.php
  src/Symfony/Component/Console/Style/OutputStyle.php
  src/Symfony/Component/Console/Style/StyleInterface.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
Labels: Console, Ready, Status: Reviewed

#41949 [Console] fix type annotations on InputInterface
  src/Symfony/Component/Console/Input/InputInterface.php
Labels: Console, Status: Reviewed

#41957 [Validator] add translation for Vietnamese
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
Labels: Status: Needs Review, Validator

#41953 Add Bulgarian translation for the validator
  src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf
Labels: Status: Needs Review

#41945 [Form] update changelog
  src/Symfony/Component/Form/CHANGELOG.md
Labels: Form, Status: Reviewed

#41924 [EventDispatcher] Add types to private properties
  src/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcher.php
  src/Symfony/Component/EventDispatcher/Debug/WrappedListener.php
  src/Symfony/Component/EventDispatcher/DependencyInjection/AddEventAliasesPass.php
  src/Symfony/Component/EventDispatcher/DependencyInjection/RegisterListenersPass.php
  src/Symfony/Component/EventDispatcher/EventDispatcher.php
  src/Symfony/Component/EventDispatcher/ImmutableEventDispatcher.php
Labels: EventDispatcher, RFC, Status: Reviewed

#41944 [TwigBundle] Improve comment on error silencing
  src/Symfony/Bundle/TwigBundle/CacheWarmer/TemplateCacheWarmer.php
Labels: Status: Reviewed, TwigBundle

#41917 Rethrow exception in `DoctrineTokenProvider`
  src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php
Labels: Bug, Status: Reviewed

#41154 [Validator] Add support for `ConstraintViolationList::createFromMessage()`
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/ConstraintViolationList.php
  src/Symfony/Component/Validator/Tests/ConstraintViolationListTest.php
Labels: Status: Reviewed, Validator

#41292 [Workflow] Add support for getting updated context after a transition
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Marking.php
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
  src/Symfony/Component/Workflow/Workflow.php
Labels: Feature, Status: Reviewed, Workflow

#39623 [Messenger] Added StopWorkerException
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnCustomStopExceptionListener.php
  src/Symfony/Component/Messenger/Exception/StopWorkerException.php
  src/Symfony/Component/Messenger/Exception/StopWorkerExceptionInterface.php
  src/Symfony/Component/Messenger/Tests/EventListener/StopWorkerOnCustomStopExceptionListenerTest.php
Labels: Feature, Messenger, Status: Reviewed

#41951 [5.3] Backport type fixes
  src/Symfony/Bundle/FrameworkBundle/Command/EventDispatcherDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Component/DependencyInjection/Argument/ServiceLocator.php
  src/Symfony/Component/DependencyInjection/ContainerInterface.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ContainerBag.php
  src/Symfony/Component/DependencyInjection/ServiceLocator.php
  src/Symfony/Component/HttpFoundation/Exception/SessionNotFoundException.php
  src/Symfony/Component/Notifier/Bridge/Mercure/Tests/MercureOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Mercure/Tests/MercureTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytOptions.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/MetadataAwareInterface.php
Labels: Status: Needs Review

#41952 [Console] fix handling positional arguments
  src/Symfony/Component/Console/Input/Input.php
  src/Symfony/Component/Console/Tests/Input/InputTest.php
Labels: Bug, Console, Status: Reviewed

#41937 [EventDispatcher] Remove ability to configure tags on RegisterListenersPass
  src/Symfony/Component/EventDispatcher/DependencyInjection/RegisterListenersPass.php
Labels: EventDispatcher, Status: Needs Review

#41657 [Serializer] Remove deprecation layer
  src/Symfony/Component/Serializer/Annotation/Context.php
  src/Symfony/Component/Serializer/Annotation/DiscriminatorMap.php
  src/Symfony/Component/Serializer/Annotation/Groups.php
  src/Symfony/Component/Serializer/Annotation/MaxDepth.php
  src/Symfony/Component/Serializer/Annotation/SerializedName.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/DependencyInjection/SerializerPass.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/Tests/Annotation/ContextTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/DiscriminatorMapTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/GroupsTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/MaxDepthTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/SerializedNameTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ArrayDenormalizerTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Status: Needs Review

#41851 Add TesterTrait::assertCommandIsSuccessful() helper
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/YamlLintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/ApplicationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolClearCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolListCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Tester/Constraint/CommandIsSuccessful.php
  src/Symfony/Component/Console/Tester/TesterTrait.php
  src/Symfony/Component/Console/Tests/Tester/ApplicationTesterTest.php
  src/Symfony/Component/Console/Tests/Tester/CommandTesterTest.php
  src/Symfony/Component/Console/Tests/Tester/Constraint/CommandIsSuccessfulTest.php
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Form/composer.json
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Component/Translation/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Component/Translation/composer.json
Labels: Feature, Status: Needs Review

#41964 [Security] Don't skip UserPasswordValidatorTest
  src/Symfony/Component/Security/Core/Tests/Validator/Constraints/UserPasswordValidatorTest.php
Labels: Security, Status: Needs Review

#41967 [Validator] Add missing translations for Japanese.
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
Labels: Status: Needs Review, Validator

#41961 [Serializer] Need to clear cache when updating Annotation Groups on Entities
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Serializer, Status: Reviewed

#41905 [EventDispatcher] Correct the called event listener method case
  src/Symfony/Component/EventDispatcher/DependencyInjection/RegisterListenersPass.php
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
Labels: Bug, DX, EventDispatcher, Status: Reviewed

#41705 [Notifier] add Mailjet SMS bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Mailjet/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Mailjet/.gitignore
  src/Symfony/Component/Notifier/Bridge/Mailjet/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Mailjet/LICENSE
  src/Symfony/Component/Notifier/Bridge/Mailjet/MailjetTransport.php
  src/Symfony/Component/Notifier/Bridge/Mailjet/MailjetTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mailjet/README.md
  src/Symfony/Component/Notifier/Bridge/Mailjet/Tests/MailjetTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Mailjet/Tests/MailjetTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Mailjet/composer.json
  src/Symfony/Component/Notifier/Bridge/Mailjet/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#41966 [Console] Revert "bug #41952 fix handling positional arguments"
  src/Symfony/Component/Console/Input/Input.php
  src/Symfony/Component/Console/Input/InputInterface.php
  src/Symfony/Component/Console/Tests/Input/InputTest.php
Labels: Bug, Console, Status: Needs Review

#41384 Fix SkippedTestSuite
  src/Symfony/Component/Cache/Tests/Adapter/AbstractRedisAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/MemcachedAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PdoAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PdoDbalAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisRedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Simple/AbstractRedisCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/MemcachedCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/PdoCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/PdoDbalCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/RedisArrayCacheTest.php
  src/Symfony/Component/Cache/Tests/Simple/RedisClusterCacheTest.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseFunctionalTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/AbstractSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/RedisClusterSessionHandlerTest.php
  src/Symfony/Component/Lock/Tests/Store/MemcachedStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/PredisStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisArrayStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisClusterStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisStoreTest.php
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentTokenBasedRememberMeServicesTest.php
Labels: Bug, Status: Reviewed

#40529 [Translation] Missing translations from traits
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPathsPass.php
Labels: Bug, Status: Needs Review, Translation

#41969 [FrameworkBundle] Only run Notifier bridge test in fullstack suites
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Reviewed

#41963 [HttpKernel] remove deprecated features
  src/Symfony/Bundle/FrameworkBundle/Test/TestContainer.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/deprecated_alias_definitions_without_package_and_version.xml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/HttpKernel/Attribute/ArgumentInterface.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ContainerControllerResolver.php
  src/Symfony/Component/HttpKernel/Controller/ControllerResolver.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadata.php
  src/Symfony/Component/HttpKernel/DependencyInjection/ControllerArgumentValueResolverPass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/FragmentRendererPass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterLocaleAwareServicesPass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RemoveEmptyControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/ResettableServicePass.php
  src/Symfony/Component/HttpKernel/Event/KernelEvent.php
  src/Symfony/Component/HttpKernel/Exception/AccessDeniedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/BadRequestHttpException.php
  src/Symfony/Component/HttpKernel/Exception/ConflictHttpException.php
  src/Symfony/Component/HttpKernel/Exception/GoneHttpException.php
  src/Symfony/Component/HttpKernel/Exception/HttpException.php
  src/Symfony/Component/HttpKernel/Exception/LengthRequiredHttpException.php
  src/Symfony/Component/HttpKernel/Exception/MethodNotAllowedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/NotAcceptableHttpException.php
  src/Symfony/Component/HttpKernel/Exception/NotFoundHttpException.php
  src/Symfony/Component/HttpKernel/Exception/PreconditionFailedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/PreconditionRequiredHttpException.php
  src/Symfony/Component/HttpKernel/Exception/ServiceUnavailableHttpException.php
  src/Symfony/Component/HttpKernel/Exception/TooManyRequestsHttpException.php
  src/Symfony/Component/HttpKernel/Exception/UnauthorizedHttpException.php
  src/Symfony/Component/HttpKernel/Exception/UnprocessableEntityHttpException.php
  src/Symfony/Component/HttpKernel/Exception/UnsupportedMediaTypeHttpException.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/KernelInterface.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ContainerControllerResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/ResettableServicePassTest.php
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Ldap/Entry.php
  src/Symfony/Component/Runtime/Tests/phpt/kernel.php
Labels: Feature, HttpKernel, Status: Reviewed

#41717 Allow TranslatableMessage object in form option 'help'
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/FormType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
Labels: Feature, Status: Reviewed

#40908 [Cache] Deprecate DoctrineProvider
  UPGRADE-5.4.md
  UPGRADE-6.0.md
  composer.json
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AnnotationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/AnnotationsCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/DoctrineProvider.php
  src/Symfony/Component/Cache/Tests/DoctrineProviderTest.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
  src/Symfony/Component/Validator/composer.json
Labels: Cache, Deprecation, Status: Reviewed

#41972 [Security] [Security\Core] Fix wrong deprecation message in UserPasswordValidator
  src/Symfony/Component/Security/Core/Validator/Constraints/UserPasswordValidator.php
Labels: Bug, Security, Status: Reviewed

#41976 [Cache] Remove DoctrineProvider
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/DoctrineProvider.php
  src/Symfony/Component/Cache/Tests/DoctrineProviderTest.php
Labels: Cache, Status: Reviewed

#40830 [Serializer] Add support of PHP backed enumerations
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/BackedEnumNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/IntegerBackedEnumDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/StringBackedEnumDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/UnitEnumDummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/BackedEnumNormalizerTest.php
Labels: Feature, Serializer, Status: Reviewed

#41986 [Notifier] Fix TransportTestCase
  src/Symfony/Component/Notifier/Test/TransportTestCase.php
Labels: Bug, Notifier, Status: Reviewed

#41962 add ability to style doubles and integers independently
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Feature, Status: Reviewed

#41992 [Console][DependencyInjection] tighten types
  src/Symfony/Component/Console/Input/InputArgument.php
  src/Symfony/Component/Console/Input/InputDefinition.php
  src/Symfony/Component/Console/Input/InputInterface.php
  src/Symfony/Component/Console/Input/InputOption.php
  src/Symfony/Component/Console/Question/Question.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/ContainerInterface.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ContainerBag.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBagInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
Labels: Console, DependencyInjection, Status: Reviewed

#41991 [Console][DependencyInjection] tighten types
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Input/ArrayInput.php
  src/Symfony/Component/Console/Input/InputArgument.php
  src/Symfony/Component/Console/Input/InputDefinition.php
  src/Symfony/Component/Console/Input/InputInterface.php
  src/Symfony/Component/Console/Input/InputOption.php
  src/Symfony/Component/Console/Question/Question.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/ContainerInterface.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ContainerBag.php
  src/Symfony/Component/DependencyInjection/ParameterBag/FrozenParameterBag.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBagInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
Labels: Console, DependencyInjection, Status: Needs Review

#41990 [Lock] fix derivating semaphore from key
  src/Symfony/Component/Lock/Store/SemaphoreStore.php
Labels: Lock, Status: Reviewed

#41984 [FrameworkBundle] Move ServiceSessionFactory in FrameworkBundle
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.php
  src/Symfony/Bundle/FrameworkBundle/Session/ServiceSessionFactory.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#41985 Fix: Mailjet bridge tests
  src/Symfony/Component/Notifier/Bridge/Mailjet/Tests/MailjetTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Mailjet/Tests/MailjetTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Mailjet/composer.json
Labels: Status: Reviewed

#41987 [Console] SymfonyStyle - add string type to confirm() $question by co…
  src/Symfony/Component/Console/Style/SymfonyStyle.php
Labels: Console, Status: Reviewed

#41974 [Asset] Add types to private properties
  src/Symfony/Component/Asset/Context/RequestStackContext.php
  src/Symfony/Component/Asset/Package.php
  src/Symfony/Component/Asset/Packages.php
  src/Symfony/Component/Asset/PathPackage.php
  src/Symfony/Component/Asset/UrlPackage.php
  src/Symfony/Component/Asset/VersionStrategy/JsonManifestVersionStrategy.php
  src/Symfony/Component/Asset/VersionStrategy/StaticVersionStrategy.php
Labels: Asset, Status: Needs Review

#41975 [BrowserKit] Add types to private properties
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/BrowserKit/Cookie.php
  src/Symfony/Component/BrowserKit/HttpBrowser.php
  src/Symfony/Component/BrowserKit/Response.php
  src/Symfony/Component/BrowserKit/Test/Constraint/BrowserCookieValueSame.php
  src/Symfony/Component/BrowserKit/Test/Constraint/BrowserHasCookie.php
Labels: BrowserKit, Status: Reviewed

#41977 [Config] Add types to private properties
  src/Symfony/Component/Config/Builder/ClassBuilder.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/Builder/Method.php
  src/Symfony/Component/Config/Builder/Property.php
  src/Symfony/Component/Config/ConfigCache.php
  src/Symfony/Component/Config/ConfigCacheFactory.php
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/Config/Definition/Builder/EnumNodeDefinition.php
  src/Symfony/Component/Config/Definition/Dumper/XmlReferenceDumper.php
  src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php
  src/Symfony/Component/Config/Definition/EnumNode.php
  src/Symfony/Component/Config/Definition/Exception/InvalidConfigurationException.php
  src/Symfony/Component/Config/Definition/PrototypedArrayNode.php
  src/Symfony/Component/Config/Exception/FileLocatorFileNotFoundException.php
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/Config/Loader/LoaderResolver.php
  src/Symfony/Component/Config/Loader/ParamConfigurator.php
  src/Symfony/Component/Config/Resource/ClassExistenceResource.php
  src/Symfony/Component/Config/Resource/ComposerResource.php
  src/Symfony/Component/Config/Resource/DirectoryResource.php
  src/Symfony/Component/Config/Resource/FileExistenceResource.php
  src/Symfony/Component/Config/Resource/FileResource.php
  src/Symfony/Component/Config/Resource/GlobResource.php
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/Config/ResourceCheckerConfigCache.php
  src/Symfony/Component/Config/ResourceCheckerConfigCacheFactory.php
Labels: Config, Status: Needs Review

#41978 [CssSelector] Add types to private properties
  src/Symfony/Component/CssSelector/CssSelectorConverter.php
  src/Symfony/Component/CssSelector/Node/AbstractNode.php
  src/Symfony/Component/CssSelector/Node/AttributeNode.php
  src/Symfony/Component/CssSelector/Node/ClassNode.php
  src/Symfony/Component/CssSelector/Node/CombinedSelectorNode.php
  src/Symfony/Component/CssSelector/Node/ElementNode.php
  src/Symfony/Component/CssSelector/Node/FunctionNode.php
  src/Symfony/Component/CssSelector/Node/HashNode.php
  src/Symfony/Component/CssSelector/Node/NegationNode.php
  src/Symfony/Component/CssSelector/Node/PseudoNode.php
  src/Symfony/Component/CssSelector/Node/SelectorNode.php
  src/Symfony/Component/CssSelector/Node/Specificity.php
  src/Symfony/Component/CssSelector/Parser/Handler/HashHandler.php
  src/Symfony/Component/CssSelector/Parser/Handler/IdentifierHandler.php
  src/Symfony/Component/CssSelector/Parser/Handler/NumberHandler.php
  src/Symfony/Component/CssSelector/Parser/Handler/StringHandler.php
  src/Symfony/Component/CssSelector/Parser/Parser.php
  src/Symfony/Component/CssSelector/Parser/Reader.php
  src/Symfony/Component/CssSelector/Parser/Token.php
  src/Symfony/Component/CssSelector/Parser/TokenStream.php
  src/Symfony/Component/CssSelector/Parser/Tokenizer/Tokenizer.php
  src/Symfony/Component/CssSelector/Parser/Tokenizer/TokenizerEscaping.php
  src/Symfony/Component/CssSelector/Parser/Tokenizer/TokenizerPatterns.php
  src/Symfony/Component/CssSelector/XPath/Extension/NodeExtension.php
  src/Symfony/Component/CssSelector/XPath/Translator.php
  src/Symfony/Component/CssSelector/XPath/XPathExpr.php
Labels: CssSelector, Status: Needs Review

#41980 [Dotenv] Add types to private properties
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/Exception/FormatException.php
  src/Symfony/Component/Dotenv/Exception/FormatExceptionContext.php
Labels: Dotenv, Status: Needs Review

#42001 Prepare PasswordUpgraderInterface implementations for 6.0 signature
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Component/Ldap/Security/LdapUserProvider.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/DaoAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/User/ChainUserProvider.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/Fixtures/PasswordUpgraderProvider.php
Labels: Status: Reviewed

#41999 Stop using service "session" in our tests
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/RequestTrackerBundle/DependencyInjection/RequestTrackerExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/RequestTrackerBundle/EventSubscriber/RequestTrackerSubscriber.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/RequestTrackerBundle/RequestTrackerBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityRoutingIntegrationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/StandardFormLogin/bundles.php
Labels: Bug, Status: Needs Review

#42006 [Cache] Adding missing class name in deprecation notice
  src/Symfony/Component/Cache/DoctrineProvider.php
Labels: Bug, Cache, Status: Reviewed

#42008 [Security] Make fixture compatible with both 5.x and 6.x
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
Labels: Security, Status: Needs Review

#41290 [Cache] Implement psr/cache 3
  composer.json
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/AdapterInterface.php
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/NullAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Cache/Tests/Adapter/MaxIdLengthAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Cache/composer.json
Labels: Cache, Feature, Status: Reviewed

#42014 [Cache] Remove MemcachedTrait
  src/Symfony/Component/Cache/Traits/MemcachedTrait.php
Labels: Bug, Cache, Status: Needs Review

#42016 [Cache] backport type fixes
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  src/Symfony/Component/Cache/Adapter/RedisAdapter.php
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Cache/Simple/RedisCache.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
  src/Symfony/Component/Lock/Store/RedisStore.php
Labels: Cache, Status: Needs Review

#42015 [Cache] Leverage union types
  src/Symfony/Component/Cache/Adapter/AdapterInterface.php
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/CouchbaseBucketAdapter.php
  src/Symfony/Component/Cache/Adapter/MemcachedAdapter.php
  src/Symfony/Component/Cache/Adapter/NullAdapter.php
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Adapter/RedisAdapter.php
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Cache/Messenger/EarlyExpirationMessage.php
  src/Symfony/Component/Cache/Psr16Cache.php
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Cache/Traits/RedisClusterNodeProxy.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Cache/composer.json
Labels: Cache, Status: Needs Review

#41782 [FrameworkBundle] fix removing "action" from route names
  src/Symfony/Bundle/FrameworkBundle/Routing/AnnotatedRouteControllerLoader.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/AnnotatedControllerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Controller/AnnotatedController.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#42018 [DomCrawler] Backport type fixes
  src/Symfony/Component/DomCrawler/AbstractUriElement.php
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Form.php
Labels: Bug, DomCrawler, Status: Reviewed

#42027 [Validator] Added Ukrainian translations
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
Labels: Status: Reviewed, Validator

#42028 [ErrorHandle] Remove a link from the exception page
  src/Symfony/Bundle/TwigBundle/Resources/views/images/icon-support.svg
  src/Symfony/Bundle/TwigBundle/Resources/views/layout.html.twig
  src/Symfony/Component/ErrorHandler/Resources/views/exception_full.html.php
Labels: Status: Reviewed

#42007 [GHA] Clarify some bits in the deps=high script
  .github/workflows/unit-tests.yml
Labels: Status: Reviewed

#41965 [Security] Deprecate "always authenticate" and "exception on no token"
  UPGRADE-5.4.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authorization/AuthorizationCheckerTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/ExpressionLanguageTest.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
Labels: Deprecation, Security, Status: Reviewed

#41989 [Cache] make `LockRegistry` use semaphores when possible
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/LockRegistry.php
Labels: Cache, Feature, Status: Reviewed

#41981 [DomCrawler] Add types to private properties
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Field/ChoiceFormField.php
  src/Symfony/Component/DomCrawler/Form.php
  src/Symfony/Component/DomCrawler/FormFieldRegistry.php
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorAttributeValueSame.php
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorExists.php
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorTextContains.php
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorTextSame.php
Labels: DomCrawler, Status: Reviewed

#42009 [Console] Fix save correct name in setDefaultCommand() for PHP8
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
Labels: Bug, Console, Status: Reviewed

#42035 [Messenger] Fix use_notify default value for PostgreSqlConnection
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/PostgreSqlConnection.php
Labels: Bug, Messenger, Status: Reviewed

#42040 do not mock event classes
  src/Symfony/Bridge/Monolog/Tests/Processor/ConsoleCommandProcessorTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/AddRequestFormatsListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SaveSessionListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AbstractPreAuthenticatedListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/BasicAuthenticationListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ChannelListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/LogoutListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/RememberMeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SimplePreAuthenticationListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/UsernamePasswordFormAuthenticationListenerTest.php
Labels: Status: Reviewed

#42032 [HttpKernel] recover from failed deserializations
  src/Symfony/Component/HttpKernel/HttpCache/Store.php
Labels: Bug, HttpKernel, Status: Needs Review

#42043 do not mock the Request class
  src/Symfony/Bundle/WebProfilerBundle/Tests/EventListener/WebDebugToolbarListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/DisallowRobotsIndexingListenerTest.php
Labels: Status: Needs Review

#41982 [Security] Remove getPassword() and getSalt() from UserInterface
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/User.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Ldap/Security/LdapUserProvider.php
  src/Symfony/Component/Security/Core/Authentication/Provider/DaoAuthenticationProvider.php
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/DaoAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/User/ChainUserProvider.php
  src/Symfony/Component/Security/Core/User/PasswordUpgraderInterface.php
  src/Symfony/Component/Security/Core/User/UserInterface.php
  src/Symfony/Component/Security/Core/Validator/Constraints/UserPasswordValidator.php
  src/Symfony/Component/Security/Guard/Provider/GuardAuthenticationProvider.php
  src/Symfony/Component/Security/Http/EventListener/CheckCredentialsListener.php
  src/Symfony/Component/Security/Http/EventListener/PasswordMigratingListener.php
  src/Symfony/Component/Security/Http/RememberMe/TokenBasedRememberMeServices.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/Fixtures/PasswordUpgraderProvider.php
Labels: Security, Status: Reviewed

#42025 [Cache] Add types to private properties
  src/Symfony/Component/Cache/Adapter/ApcuAdapter.php
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/CouchbaseBucketAdapter.php
  src/Symfony/Component/Cache/Adapter/DoctrineAdapter.php
  src/Symfony/Component/Cache/Adapter/MemcachedAdapter.php
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/Adapter/Psr16Adapter.php
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/DataCollector/CacheDataCollector.php
  src/Symfony/Component/Cache/Marshaller/DefaultMarshaller.php
  src/Symfony/Component/Cache/Marshaller/DeflateMarshaller.php
  src/Symfony/Component/Cache/Marshaller/SodiumMarshaller.php
  src/Symfony/Component/Cache/Marshaller/TagAwareMarshaller.php
  src/Symfony/Component/Cache/Messenger/EarlyExpirationDispatcher.php
  src/Symfony/Component/Cache/Messenger/EarlyExpirationHandler.php
  src/Symfony/Component/Cache/Messenger/EarlyExpirationMessage.php
  src/Symfony/Component/Cache/Psr16Cache.php
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Cache/Traits/ContractsTrait.php
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
  src/Symfony/Component/Cache/Traits/FilesystemTrait.php
  src/Symfony/Component/Cache/Traits/ProxyTrait.php
  src/Symfony/Component/Cache/Traits/RedisClusterNodeProxy.php
  src/Symfony/Component/Cache/Traits/RedisClusterProxy.php
  src/Symfony/Component/Cache/Traits/RedisProxy.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Cache, Status: Needs Review

#42047 clean up remaining event mocks
  src/Symfony/Bundle/FrameworkBundle/Tests/Templating/TimedPhpEngineTest.php
  src/Symfony/Component/Security/Guard/Tests/Firewall/GuardAuthenticationListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/RememberMeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/FirewallTest.php
  src/Symfony/Component/Stopwatch/Tests/StopwatchTest.php
Labels: Status: Reviewed

#42046 [Serializer] fetch type information only once
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Feature, Serializer, Status: Reviewed

#42019 [DependencyInjection] Fix TaggedLocator attribute without indexAttribute argument
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/LocatorConsumerWithoutIndex.php
Labels: Bug, DependencyInjection, Status: Needs Review

#42048 do not mock event classes
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
Labels: Status: Reviewed

#42049 [TwigBridge] do not render the same label id attribute twice
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4LayoutTest.php
Labels: Bug, Status: Reviewed, TwigBridge

#42055 Remove internal from setContainer
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
Labels: Status: Reviewed

#42060 [Messenger] AmqpTransport implements QueueReceiverInterface
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpTransport.php
Labels: Bug, Messenger, Status: Needs Review

#41319 [Messenger] Removed deprecated code
  src/Symfony/Component/Messenger/Bridge/Amqp/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Redis/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Stamp/RedeliveryStamp.php
  src/Symfony/Component/Messenger/Tests/Stamp/RedeliveryStampTest.php
Labels: Messenger, Status: Needs Review

#42059 [Messenger] Fixed BC layer for RedeliveryStamp
  src/Symfony/Component/Messenger/Stamp/RedeliveryStamp.php
  src/Symfony/Component/Messenger/Tests/Stamp/RedeliveryStampTest.php
Labels: Messenger, Status: Needs Review

#41454 [Messenger] Make sure bridge packages have correct dependencies
  src/Symfony/Component/Messenger/Bridge/Amqp/composer.json
  src/Symfony/Component/Messenger/Bridge/Doctrine/composer.json
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisTransportFactoryTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/composer.json
Labels: Messenger, Status: Needs Review

#42065 [Messenger] clarify RedisStore::evaluate()
  src/Symfony/Component/Lock/Store/RedisStore.php
Labels: Messenger, Status: Reviewed

#42054 [DoctrineBridge] fix setting default mapping type to attribute/annotation on php 8/7 respectively
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#41650 [FrameworkBundle] Make AbstractDataCollector extend DataCollector to reduce boilerplate
  src/Symfony/Bundle/FrameworkBundle/DataCollector/AbstractDataCollector.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#42063 [FrameworkBundle] distinguish system and app cache dirs
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#42066 [TwigBridge]  skip Bootstrap 4 tests that do not apply to the Bootstrap 5 form theme
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5LayoutTest.php
Labels: Status: Needs Review, TwigBridge

#42067 [Messenger] [Redis] Make `auth` option works
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#42078 [DoctrineBridge] [Doctrine Bridge] Fix an exception message
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#42079 [FrameworkBundle] Fixed file operations in Sodium vault seal
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#42069 [Contracts] Bump to 2.5 on branch 5.4
  composer.json
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/Deprecation/composer.json
  src/Symfony/Contracts/EventDispatcher/composer.json
  src/Symfony/Contracts/HttpClient/composer.json
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/Translation/composer.json
  src/Symfony/Contracts/composer.json
Labels: Contracts, Status: Reviewed

#42085 Fix minor typos
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/AbstractDescriptorTest.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageForRetryListenerTest.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/ConnectionTest.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
Labels: Bug, Status: Needs Review

#42084 [WebProfilerBundle] Fix the values of some CSS properties
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/exception.css.twig
Labels: Bug, Status: Needs Review, WebProfilerBundle

#42080 [Yaml] Fixed an exception message
  src/Symfony/Component/Yaml/Inline.php
Labels: Bug, Status: Needs Review, Yaml

#42074 Fix ctype_digit deprecation
  src/Symfony/Component/Yaml/Inline.php
Labels: Bug, Status: Reviewed

#42068 Add a Special Case for Translating Choices in en_US_POSIX
  src/Symfony/Component/Translation/PluralizationRules.php
  src/Symfony/Contracts/Translation/Test/TranslatorTest.php
  src/Symfony/Contracts/Translation/TranslatorTrait.php
Labels: Bug, Status: Reviewed

#42082 [Messenger] Fixed an exception message
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
Labels: Bug, Messenger, Status: Needs Review

#42086 Fix typos in error messages for SQS connection
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Bug, Status: Needs Review

#42090 [Notifier] [Slack] Include additional errors to slack notifier error message
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransport.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
Labels: Feature, Notifier, Status: Reviewed

#42092 [Workflow] qa: add missing type-hints to workflow `Transition`
  src/Symfony/Component/Workflow/Transition.php
Labels: Status: Needs Review, Workflow

#42103 [Form] Remove duplicated array entry
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
Labels: Bug, Form, Status: Reviewed

#42050 [Security] Deprecate `TokenInterface::isAuthenticated()`
  UPGRADE-5.4.md
  UPGRADE-6.0.md
  src/Symfony/Bridge/Monolog/Processor/AbstractTokenProcessor.php
  src/Symfony/Bridge/Monolog/Tests/Processor/TokenProcessorTest.php
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/AnonymousToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/NullToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/RememberMeToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
  src/Symfony/Component/Security/Core/Authentication/Token/UsernamePasswordToken.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AnonymousTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/PreAuthenticatedTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/RememberMeTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/SwitchUserTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/UsernamePasswordTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AuthorizationCheckerTest.php
  src/Symfony/Component/Security/Guard/Provider/GuardAuthenticationProvider.php
  src/Symfony/Component/Security/Guard/Token/PostAuthenticationGuardToken.php
  src/Symfony/Component/Security/Guard/Token/PreAuthenticationGuardToken.php
  src/Symfony/Component/Security/Http/Authenticator/Token/PostAuthenticationToken.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Event/DeauthenticatedEvent.php
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
  src/Symfony/Component/Security/Http/Firewall/BasicAuthenticationListener.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
Labels: Feature, Security, Status: Reviewed

#41995 [EventDispatcher] Declare return type of `getSubscribedEvents()`
  src/Symfony/Component/EventDispatcher/EventSubscriberInterface.php
Labels: Status: Reviewed

#42011 [Cache] Support decorated Dbal drivers in PdoAdapter
  .github/patch-types.php
  src/Symfony/Component/Cache/Tests/Adapter/PdoDbalAdapterTest.php
  src/Symfony/Component/Cache/Tests/Fixtures/DriverWrapper.php
  src/Symfony/Component/Cache/Traits/PdoTrait.php
Labels: Cache, Feature, Status: Reviewed

#42094 [Notifier] [Slack] Throw error if maximum block limit is reached for slack message options
  src/Symfony/Component/Notifier/Bridge/Slack/SlackOptions.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackOptionsTest.php
Labels: DX, Feature, Notifier, Status: Reviewed

#42099 [VarDumper] Support for intersection types
  .github/patch-types.php
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/ReflectionIntersectionTypeFixture.php
Labels: Bug, Status: Needs Review, VarDumper

#42105 [Filesystem] Add types to private properties
  src/Symfony/Component/Filesystem/Exception/IOException.php
Labels: Filesystem, Status: Needs Review

#42114 [HttpFoundation] Fix return types of SessionHandler::gc()
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MemcachedSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MigratingSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MongoDbSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/NullSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/RedisSessionHandler.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/AbstractRedisSessionHandlerTestCase.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/common.inc
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MemcachedSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MongoDbSessionHandlerTest.php
Labels: Bug, HttpFoundation, Status: Needs Review

#42115 [Uid] Add types to private properties
  src/Symfony/Component/Uid/Command/GenerateUlidCommand.php
  src/Symfony/Component/Uid/Command/GenerateUuidCommand.php
  src/Symfony/Component/Uid/Factory/NameBasedUuidFactory.php
  src/Symfony/Component/Uid/Factory/RandomBasedUuidFactory.php
  src/Symfony/Component/Uid/Factory/TimeBasedUuidFactory.php
  src/Symfony/Component/Uid/Factory/UuidFactory.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/UuidV1.php
  src/Symfony/Component/Uid/UuidV6.php
Labels: Status: Reviewed, Uid

#42116 [WebLink] Add types to private properties
  src/Symfony/Component/WebLink/EventListener/AddLinkHeaderListener.php
  src/Symfony/Component/WebLink/GenericLinkProvider.php
  src/Symfony/Component/WebLink/Link.php
Labels: Status: Reviewed, WebLink

#42117 [String] Add types to private properties
  src/Symfony/Component/String/LazyString.php
  src/Symfony/Component/String/Resources/WcswidthDataGenerator.php
  src/Symfony/Component/String/Slugger/AsciiSlugger.php
Labels: Status: Needs Review, String

#42118 [Yaml] Add types to private properties
  src/Symfony/Component/Yaml/Command/LintCommand.php
  src/Symfony/Component/Yaml/Exception/ParseException.php
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tag/TaggedValue.php
Labels: Status: Needs Review, Yaml

#42119 [Yaml] Remove compat code for MB function overloading
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Parser.php
Labels: Status: Needs Review, Yaml

#42120 [ProxyManagerBridge] Add types to private properties
  src/Symfony/Bridge/ProxyManager/LazyProxy/Instantiator/LazyLoadingValueHolderFactory.php
  src/Symfony/Bridge/ProxyManager/LazyProxy/Instantiator/RuntimeInstantiator.php
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
Labels: ProxyManagerBridge, Status: Needs Review

#42113 [Finder] Fix iterator return types
  src/Symfony/Component/Finder/Iterator/RecursiveDirectoryIterator.php
  src/Symfony/Component/Finder/Tests/Iterator/FileTypeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/FilenameFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/MockSplFileInfo.php
  src/Symfony/Component/Finder/Tests/Iterator/SizeRangeFilterIteratorTest.php
Labels: Bug, Finder, Status: Needs Review

#42097 [DependencyInjection] Support for intersection types
  .github/patch-types.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Dumper/Preloader.php
  src/Symfony/Component/DependencyInjection/LazyProxy/ProxyHelper.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PreloaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/IntersectionConstructor.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/WaldoFoo.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Preload/F.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Preload/G.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Preload/IntersectionDummy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/intersectiontype_classes.php
Labels: Bug, DependencyInjection, Status: Needs Review

#42110 [Form] Backport type fixes
  src/Symfony/Component/Form/AbstractExtension.php
  src/Symfony/Component/Form/AbstractRendererEngine.php
  src/Symfony/Component/Form/Button.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/BaseDateTimeTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateIntervalToArrayTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToArrayTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/PercentToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/DateIntervalType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/Form/Extension/Core/Type/TimeType.php
  src/Symfony/Component/Form/Extension/Csrf/Type/FormTypeCsrfExtension.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/FormBuilder.php
  src/Symfony/Component/Form/FormFactory.php
  src/Symfony/Component/Form/FormFactoryBuilder.php
  src/Symfony/Component/Form/FormFactoryInterface.php
  src/Symfony/Component/Form/FormRegistry.php
  src/Symfony/Component/Form/FormTypeGuesserChain.php
  src/Symfony/Component/Form/Guess/Guess.php
  src/Symfony/Component/Form/ResolvedFormType.php
  src/Symfony/Component/Form/Tests/ResolvedFormTypeTest.php
Labels: Bug, Form, Status: Reviewed

#42127 [ExpressionLanguage] Store compiler and evaluator as closures
  src/Symfony/Component/ExpressionLanguage/ExpressionFunction.php
Labels: ExpressionLanguage, Feature, Status: Reviewed

#42132 [FrameworkBundle] Fix broken mock
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTraitTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#42131 [PhpUnitBridge] Fix composer resolution on Windows
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, PhpUnitBridge, Status: Needs Review

#42104 [ExpressionLanguage] Add types to private properties
  src/Symfony/Component/ExpressionLanguage/Compiler.php
  src/Symfony/Component/ExpressionLanguage/ExpressionFunction.php
  src/Symfony/Component/ExpressionLanguage/ExpressionLanguage.php
  src/Symfony/Component/ExpressionLanguage/Node/ConstantNode.php
  src/Symfony/Component/ExpressionLanguage/ParsedExpression.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/SerializedParsedExpression.php
  src/Symfony/Component/ExpressionLanguage/TokenStream.php
Labels: ExpressionLanguage, Status: Reviewed

#42133 [FrameworkBundle] Remove deprecated options in translation:update command
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
Labels: FrameworkBundle, Status: Reviewed

#42121 [Contracts] Add types to private properties
  src/Symfony/Contracts/EventDispatcher/Event.php
  src/Symfony/Contracts/Service/ServiceLocatorTrait.php
  src/Symfony/Contracts/Translation/TranslatorTrait.php
Labels: Contracts, Status: Reviewed

#42112 [HttpFoundation] fix FileBag under PHP 8.1
  src/Symfony/Component/HttpFoundation/FileBag.php
  src/Symfony/Component/HttpFoundation/Tests/FileBagTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#42139 [PasswordHasher] Add types to private properties
  src/Symfony/Component/PasswordHasher/Command/UserPasswordHashCommand.php
  src/Symfony/Component/PasswordHasher/Hasher/MessageDigestPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/MigratingPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/NativePasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/PasswordHasherFactory.php
  src/Symfony/Component/PasswordHasher/Hasher/Pbkdf2PasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/PlaintextPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/SodiumPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/UserPasswordHasher.php
Labels: PasswordHasher, Status: Reviewed

#42142 [Security] Remove CSRF deprecations
  src/Symfony/Component/Security/Csrf/CHANGELOG.md
  src/Symfony/Component/Security/Csrf/Tests/TokenStorage/SessionTokenStorageTest.php
  src/Symfony/Component/Security/Csrf/TokenStorage/SessionTokenStorage.php
Labels: Feature, Security, Status: Reviewed

#42141 [Validator] Backport type fixes
  src/Symfony/Component/Validator/ConstraintViolation.php
  src/Symfony/Component/Validator/Context/ExecutionContext.php
  src/Symfony/Component/Validator/Validator/LazyProperty.php
Labels: Bug, Status: Reviewed, Validator

#42144 [RateLimiter] Remove redundant properties
  src/Symfony/Component/RateLimiter/Policy/FixedWindowLimiter.php
  src/Symfony/Component/RateLimiter/Policy/SlidingWindowLimiter.php
  src/Symfony/Component/RateLimiter/Policy/TokenBucketLimiter.php
Labels: Bug, RateLimiter, Status: Needs Review

#42140 [RateLimiter] Add types to private properties
  src/Symfony/Component/RateLimiter/CompoundLimiter.php
  src/Symfony/Component/RateLimiter/Exception/MaxWaitDurationExceededException.php
  src/Symfony/Component/RateLimiter/Exception/RateLimitExceededException.php
  src/Symfony/Component/RateLimiter/Policy/FixedWindowLimiter.php
  src/Symfony/Component/RateLimiter/Policy/Rate.php
  src/Symfony/Component/RateLimiter/Policy/ResetLimiterTrait.php
  src/Symfony/Component/RateLimiter/Policy/SlidingWindow.php
  src/Symfony/Component/RateLimiter/Policy/SlidingWindowLimiter.php
  src/Symfony/Component/RateLimiter/Policy/TokenBucket.php
  src/Symfony/Component/RateLimiter/Policy/TokenBucketLimiter.php
  src/Symfony/Component/RateLimiter/Policy/Window.php
  src/Symfony/Component/RateLimiter/RateLimit.php
  src/Symfony/Component/RateLimiter/RateLimiterFactory.php
  src/Symfony/Component/RateLimiter/Reservation.php
  src/Symfony/Component/RateLimiter/Storage/CacheStorage.php
  src/Symfony/Component/RateLimiter/Storage/InMemoryStorage.php
Labels: RateLimiter, Status: Reviewed

#42145 [Templating] Add types to private properties
  src/Symfony/Component/Templating/PhpEngine.php
Labels: Status: Reviewed, Templating

#42143 [Security] [Csrf] Add types to private properties
  src/Symfony/Component/Security/Csrf/CsrfToken.php
  src/Symfony/Component/Security/Csrf/CsrfTokenManager.php
  src/Symfony/Component/Security/Csrf/TokenGenerator/UriSafeTokenGenerator.php
  src/Symfony/Component/Security/Csrf/TokenStorage/NativeSessionTokenStorage.php
  src/Symfony/Component/Security/Csrf/TokenStorage/SessionTokenStorage.php
Labels: Security, Status: Reviewed

#42138 [Validator] Add types to private properties
  src/Symfony/Component/Validator/Command/DebugCommand.php
  src/Symfony/Component/Validator/ConstraintViolation.php
  src/Symfony/Component/Validator/ConstraintViolationList.php
  src/Symfony/Component/Validator/Constraints/AbstractComparisonValidator.php
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Constraints/EmailValidator.php
  src/Symfony/Component/Validator/Constraints/ExpressionLanguageSyntaxValidator.php
  src/Symfony/Component/Validator/Constraints/ExpressionValidator.php
  src/Symfony/Component/Validator/Constraints/NotCompromisedPasswordValidator.php
  src/Symfony/Component/Validator/Constraints/RangeValidator.php
  src/Symfony/Component/Validator/ContainerConstraintValidatorFactory.php
  src/Symfony/Component/Validator/Context/ExecutionContext.php
  src/Symfony/Component/Validator/Context/ExecutionContextFactory.php
  src/Symfony/Component/Validator/DataCollector/ValidatorDataCollector.php
  src/Symfony/Component/Validator/Exception/InvalidOptionsException.php
  src/Symfony/Component/Validator/Exception/MissingOptionsException.php
  src/Symfony/Component/Validator/Exception/UnexpectedValueException.php
  src/Symfony/Component/Validator/Exception/ValidationFailedException.php
  src/Symfony/Component/Validator/Mapping/ClassMetadata.php
  src/Symfony/Component/Validator/Mapping/Loader/PropertyInfoLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Validator/Mapping/MemberMetadata.php
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
  src/Symfony/Component/Validator/Validator/LazyProperty.php
  src/Symfony/Component/Validator/Validator/RecursiveContextualValidator.php
  src/Symfony/Component/Validator/Validator/TraceableValidator.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilder.php
Labels: Status: Reviewed, Validator

#42152 fix LDAP command usage
  .github/workflows/integration-tests.yml
Labels: Status: Reviewed

#42156 Fix missing assignment
  src/Symfony/Component/Security/Core/Authentication/RememberMe/CacheTokenVerifier.php
Labels: Bug, Status: Reviewed

#41897 [Security] fix #41891 Save hashed tokenValue in RememberMe cookie
  src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php
Labels: Bug, Security, Status: Reviewed

#42154 [Validator] Add German expression language syntax constraint violation message
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
Labels: Status: Reviewed, Validator

#42164 [Finder] Improve ComparatorTest
  src/Symfony/Component/Finder/Tests/Comparator/ComparatorTest.php
Labels: Finder, Status: Reviewed

#42151 Use is_iterable() function when possible
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Translation/Dumper/XliffFileDumper.php
Labels: Status: Reviewed

#42106 [Finder] Add types to private properties
  src/Symfony/Component/Finder/Comparator/Comparator.php
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Iterator/CustomFilterIterator.php
  src/Symfony/Component/Finder/Iterator/DateRangeFilterIterator.php
  src/Symfony/Component/Finder/Iterator/DepthRangeFilterIterator.php
  src/Symfony/Component/Finder/Iterator/ExcludeDirectoryFilterIterator.php
  src/Symfony/Component/Finder/Iterator/FileTypeFilterIterator.php
  src/Symfony/Component/Finder/Iterator/LazyIterator.php
  src/Symfony/Component/Finder/Iterator/RecursiveDirectoryIterator.php
  src/Symfony/Component/Finder/Iterator/SizeRangeFilterIterator.php
  src/Symfony/Component/Finder/Iterator/SortableIterator.php
  src/Symfony/Component/Finder/SplFileInfo.php
Labels: Finder, Status: Reviewed

#42153 [Validator] backport type fixes
  src/Symfony/Component/Validator/Context/ExecutionContext.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilder.php
Labels: Bug, Status: Reviewed, Validator

#42158 Optimized some strlen() calls when possible
  src/Symfony/Component/Config/Definition/ArrayNode.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Input/StringInput.php
  src/Symfony/Component/Mime/Header/AbstractHeader.php
  src/Symfony/Component/Validator/Mapping/Loader/XmlFileLoader.php
Labels: Status: Reviewed

#42013 [Form] backport type fixes
  src/Symfony/Component/Form/ChoiceList/Factory/CachingFactoryDecorator.php
  src/Symfony/Component/Form/Extension/Core/DataAccessor/PropertyPathAccessor.php
  src/Symfony/Component/Form/Tests/VersionAwareTest.php
Labels: Form, Status: Reviewed
