Repository symfony/symfony, pull requests merged in 2021-05, with the labels that each got.

#41013 [Console] Remove spaces between arguments GithubActionReporter
  src/Symfony/Component/Console/CI/GithubActionReporter.php
  src/Symfony/Component/Console/Tests/CI/GithubActionReporterTest.php
  src/Symfony/Component/Yaml/Tests/Command/LintCommandTest.php
Labels: Console, Status: Reviewed

#41008 [Security] Do not try to rehash null-passwords
  src/Symfony/Component/Security/Http/EventListener/PasswordMigratingListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
Labels: Bug, Security, Status: Reviewed

#41004 [FrameworkBundle] Use more explicite wording for debug:container command
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/AbstractDescriptorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_arguments.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_public.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_tag1.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_priority_tag.txt
Labels: Feature, FrameworkBundle, Status: Reviewed

#39913 [OptionsResolver] Add prototype definition support for nested options
  src/Symfony/Component/OptionsResolver/CHANGELOG.md
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: Feature, OptionsResolver, Ready, Status: Reviewed

#41015 run tests against doctrine/persistence 2.2 again
  .travis.yml
Labels: Status: Needs Review

#41009 [Config ]Remove log message when no configuration is found in ConfigBuilder
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ConfigBuilderCacheWarmer.php
Labels: Status: Reviewed

#41014 [Routing] allow extending Route attribute
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
Labels: Routing, Status: Reviewed

#41002 [FrameworkBundle][HttpKernel] Move IDE file link formats from FrameworkExtension to FileLinkFormatter
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
  src/Symfony/Component/HttpKernel/Tests/Debug/FileLinkFormatterTest.php
Labels: FrameworkBundle, HttpKernel, Status: Reviewed

#41003 [Security] Add missing French translations for logging throttling
  src/Symfony/Component/Security/Core/Resources/translations/security.en.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.fr.xlf
Labels: Security, Status: Reviewed

#41017 Release v4.4.22
  CHANGELOG-4.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41018 Release v5.2.7
  CHANGELOG-5.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41019 Release v5.3.0-BETA2
  CHANGELOG-5.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41074 [Security] Add missing Vietnamese translations
  src/Symfony/Component/Security/Core/Resources/translations/security.vi.xlf
Labels: Security, Status: Reviewed

#40767 [Routing] Fix localized paths
  src/Symfony/Component/Routing/Annotation/Route.php
  src/Symfony/Component/Routing/Tests/Annotation/RouteTest.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/FooController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributeFixtures/FooController.php
Labels: Bug, Routing, Status: Reviewed

#40994 [Config] More accurate message on invalid config builder
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AcmeConfig.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AcmeConfig/NestedConfig.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AcmeConfigBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/config_builder.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/nested_bundle_config.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
Labels: Config, Status: Reviewed

#41069 Update Romanian Translation based on English
  src/Symfony/Component/Security/Core/Resources/translations/security.ro.xlf
Labels: Missing translations, Status: Reviewed

#41073 [Security] Add missing Hungarian translations
  src/Symfony/Component/Security/Core/Resources/translations/security.hu.xlf
Labels: Missing translations, Security, Status: Reviewed

#41068 [Security] Update Security Arabic Translations
  src/Symfony/Component/Security/Core/Resources/translations/security.ar.xlf
Labels: Missing translations, Security, Status: Reviewed

#41077 [Security] Add missing Dutch translations
  src/Symfony/Component/Security/Core/Resources/translations/security.nl.xlf
Labels: Missing translations, Security, Status: Reviewed

#41096 Make Serializable implementation internal and final
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authentication/Token/NullToken.php
Labels: Bug, Status: Reviewed

#41076 [Security] Add missing German translations
  src/Symfony/Component/Security/Core/Resources/translations/security.de.xlf
Labels: Missing translations, Security, Status: Reviewed

#41075 [ErrorHandler] Skip "same vendor" `@method` deprecations for `Symfony\*` classes unless symfony/symfony is being tested
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
Labels: Bug, ErrorHandler, Status: Reviewed

#41107 [Lock] Expand `LockConflictedException` docs
  src/Symfony/Component/Lock/Exception/LockConflictedException.php
Labels: Bug, Lock, Status: Reviewed

#41093 [Security] Update Czech translations
  src/Symfony/Component/Security/Core/Resources/translations/security.cs.xlf
Labels: Bug, Missing translations, Security, Status: Needs Review

#41100 [Security] Add missing Spanish translations
  src/Symfony/Component/Security/Core/Resources/translations/security.es.xlf
Labels: Security, Status: Reviewed

#41105 [Inflector][String] Fixed singularize `edges` > `edge`
  src/Symfony/Component/Inflector/Inflector.php
  src/Symfony/Component/Inflector/Tests/InflectorTest.php
Labels: Bug, Inflector, Status: Reviewed, String

#41091 ref #41087: missing security turksih translations
  src/Symfony/Component/Security/Core/Resources/translations/security.tr.xlf
Labels: Missing translations, Status: Reviewed

#41090 [Security] Added translations for pt security file.
  src/Symfony/Component/Security/Core/Resources/translations/security.pt.xlf
Labels: Missing translations, Security, Status: Reviewed

#41022 [PasswordHasher] Improved BC layer
  src/Symfony/Component/PasswordHasher/Hasher/PasswordHasherFactory.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/PasswordHasherFactoryTest.php
  src/Symfony/Component/PasswordHasher/composer.json
  src/Symfony/Component/Security/Core/Encoder/EncoderFactory.php
  src/Symfony/Component/Security/Core/Encoder/LegacyPasswordHasherEncoder.php
  src/Symfony/Component/Security/Core/Encoder/PasswordHasherAdapter.php
  src/Symfony/Component/Security/Core/Encoder/PasswordHasherEncoder.php
  src/Symfony/Component/Security/Core/Tests/Encoder/EncoderFactoryTest.php
Labels: Bug, PasswordHasher, Status: Reviewed

#41092 [Security] Missing translations pt_BR
  src/Symfony/Component/Security/Core/Resources/translations/security.pt_BR.xlf
Labels: Missing translations, Security, Status: Reviewed

#41109 [HttpFoundation] Request::getProtocolVersion may return null
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Bug, HttpFoundation, Status: Reviewed

#41079 [Security] Added missing Polish translations
  src/Symfony/Component/Security/Core/Resources/translations/security.pl.xlf
Labels: Missing translations, Security, Status: Reviewed

#41117 [Security] Add missing Italian translations
  src/Symfony/Component/Security/Core/Resources/translations/security.it.xlf
Labels: Security, Status: Reviewed

#39157 [TwigBridge] Add form templates for Bootstrap 5
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_5_horizontal_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_5_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_base_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5HorizontalLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap5HorizontalLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap5LayoutTest.php
Labels: Feature, Status: Reviewed, TwigBridge

#41078 [Notifier] Make FailoverTransport always pick the first transport
  src/Symfony/Component/Notifier/Tests/Transport/FailoverTransportTest.php
  src/Symfony/Component/Notifier/Transport/FailoverTransport.php
  src/Symfony/Component/Notifier/Transport/RoundRobinTransport.php
Labels: Bug, Notifier, Status: Reviewed

#41104 Fix return type in isAllowedProperty method on ReflectionExtractor class
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
Labels: Bug, Status: Reviewed

#41122 [Security] Added missing Japanese translations
  src/Symfony/Component/Security/Core/Resources/translations/security.ja.xlf
Labels: Security, Status: Reviewed

#40992 [Notifier] Add SlackOptions::threadTs() to send message as reply
  src/Symfony/Component/Notifier/Bridge/Slack/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Slack/SlackOptions.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackOptionsTest.php
Labels: Feature, Notifier, Status: Needs Review

#41072 [VarExporter] Add support of PHP enumerations
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/FooUnitEnum.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/unit-enum.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
  src/Symfony/Component/VarExporter/VarExporter.php
Labels: Bug, Status: Reviewed, VarExporter

#41125 [DoctrineBridge] added missing `
  UPGRADE-5.3.md
Labels: DoctrineBridge, Status: Reviewed

#40972 Avoid regenerating the remember me token if it is still fresh
  src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php
Labels: Status: Reviewed

#40982 [Notifier] Fix return SentMessage then Messenger not used
  src/Symfony/Component/Notifier/Chatter.php
  src/Symfony/Component/Notifier/Tests/ChatterTest.php
  src/Symfony/Component/Notifier/Tests/TexterTest.php
  src/Symfony/Component/Notifier/Texter.php
  src/Symfony/Component/Notifier/composer.json
Labels: Bug, Notifier, Status: Reviewed

#40931 [Translation] [CI] Set default locale for IdentityTranslatorTest
  src/Symfony/Component/Translation/Tests/IdentityTranslatorTest.php
Labels: Status: Reviewed, Translation

#41099 [Cache] Check if phpredis version is compatible with stream parameter
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Cache, Status: Needs Review

#40957 [PhpUnitBridge] Fix tests with `@doesNotPerformAssertions` annotations
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/PhpUnit/Tests/FailTests/NoAssertionsTestRisky.php
  src/Symfony/Bridge/PhpUnit/Tests/expectrisky.phpt
Labels: Bug, PhpUnitBridge, Status: Needs Review

#41016 [Mime] update types map
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Resources/bin/update_mime_types.php
Labels: Mime, Status: Needs Review

#40991 [Mime] Add support for application/vnd.etsi.asic-e+zip mime type
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Resources/bin/update_mime_types.php
Labels: Mime, Status: Reviewed

#40874 [PropertyInfo] fix attribute namespace with recursive traits
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/DummyTraitExternal.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/TraitUsage/DummyTrait.php
Labels: Bug, PropertyInfo, Status: Reviewed

#40699 [PropertyInfo] Make ReflectionExtractor correctly extract nullability
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php74Dummy.php
Labels: Bug, PropertyInfo, Status: Reviewed

#40917 [Config][DependencyInjection] Uniformize trailing slash handling
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/Config/Tests/Fixtures/ExcludeTrailingSlash/bar.txt
  src/Symfony/Component/Config/Tests/Fixtures/ExcludeTrailingSlash/exclude/baz.txt
  src/Symfony/Component/Config/Tests/Fixtures/ExcludeTrailingSlash/foo.txt
  src/Symfony/Component/Config/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/Config/Tests/Resource/GlobResourceTest.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: Bug, Config, DependencyInjection, Status: Reviewed

#41129 Remove code that deals with legacy behavior of PHP_Incomplete_Class
  src/Symfony/Component/ErrorHandler/Exception/FlattenException.php
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/VarExporter.php
Labels: Status: Needs Review

#40943 [PropertyInfo] PhpDocExtractor: Handle "true" and "false" property types
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/ParentDummy.php
  src/Symfony/Component/PropertyInfo/Type.php
Labels: Bug, PropertyInfo, Status: Reviewed

#40955 [Notifier] [Bridge] Fix missed messageId for SendMessage object in slack notifier
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransport.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
Labels: Bug, Notifier, Status: Reviewed

#40980 [TwigBridge] Fix HTML for translatable custom-file label in Bootstrap 4 theme
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
Labels: Bug, Status: Reviewed, TwigBridge

#40902 [SecurityBundle] Allow ips parameter in access_control to accept comma-separated string
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Bug, SecurityBundle, Status: Needs Review

#41113 [Console] Fix Windows code page support
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Bug, Console, Status: Needs Review

#41132 [Runtime] don't display the shebang on the CLI
  src/Symfony/Component/Runtime/Internal/autoload_runtime.template
Labels: Bug, Runtime, Status: Reviewed

#40763 Fix/Rewrite .gitignore regex builder
  src/Symfony/Component/Finder/Gitignore.php
  src/Symfony/Component/Finder/Tests/GitignoreTest.php
Labels: Bug, Status: Reviewed

#41131 [Serializer] Fix duplicated legacy test
  src/Symfony/Component/Serializer/Tests/Annotation/SerializedNameTest.php
Labels: Serializer, Status: Reviewed

#40758 [Security] NullToken signature
  src/Symfony/Component/Security/Core/Authentication/Token/NullToken.php
Labels: Bug, Security, Status: Needs Decision, Status: Reviewed

#40930 [DependencyInjection] Better exception when a configurator is not type hinted
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
Labels: DependencyInjection, Ready, Status: Reviewed

#41116 [Translation] Refactored LocoProvider
  src/Symfony/Component/Translation/Bridge/Loco/LocoProvider.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
Labels: Ready, Status: Reviewed, Translation

#40947 [Translation] Added Crowdin Translation Provider
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation_providers.php
  src/Symfony/Component/Translation/Bridge/Crowdin/.gitattributes
  src/Symfony/Component/Translation/Bridge/Crowdin/.gitignore
  src/Symfony/Component/Translation/Bridge/Crowdin/CHANGELOG.md
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProvider.php
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Crowdin/LICENSE
  src/Symfony/Component/Translation/Bridge/Crowdin/README.md
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderTest.php
  src/Symfony/Component/Translation/Bridge/Crowdin/composer.json
  src/Symfony/Component/Translation/Bridge/Crowdin/phpunit.xml.dist
  src/Symfony/Component/Translation/Exception/UnsupportedSchemeException.php
Labels: Ready, Status: Reviewed, Translation

#41144 Release v5.3.0-BETA3
  CHANGELOG-5.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41146 [Translation] improve CrowdinProvider
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProvider.php
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderTest.php
  src/Symfony/Component/Translation/Bridge/Loco/LocoProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderFactoryTest.php
Labels: Status: Reviewed, Translation

#41137 [Security] Reset limiters on successful login
  src/Symfony/Component/Security/Http/EventListener/LoginThrottlingListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/LoginThrottlingListenerTest.php
Labels: Bug, Security, Status: Reviewed

#40926 [Translation] Added PoEditor Provider
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation_providers.php
  src/Symfony/Component/Translation/Bridge/Crowdin/README.md
  src/Symfony/Component/Translation/Bridge/Loco/README.md
  src/Symfony/Component/Translation/Bridge/PoEditor/.gitattributes
  src/Symfony/Component/Translation/Bridge/PoEditor/.gitignore
  src/Symfony/Component/Translation/Bridge/PoEditor/CHANGELOG.md
  src/Symfony/Component/Translation/Bridge/PoEditor/LICENSE
  src/Symfony/Component/Translation/Bridge/PoEditor/PoEditorProvider.php
  src/Symfony/Component/Translation/Bridge/PoEditor/PoEditorProviderFactory.php
  src/Symfony/Component/Translation/Bridge/PoEditor/README.md
  src/Symfony/Component/Translation/Bridge/PoEditor/Tests/PoEditorProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/PoEditor/Tests/PoEditorProviderTest.php
  src/Symfony/Component/Translation/Bridge/PoEditor/composer.json
  src/Symfony/Component/Translation/Bridge/PoEditor/phpunit.xml.dist
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Translation/Test/ProviderTestCase.php
Labels: Ready, Status: Reviewed, Translation

#41155 [Translation] Improved Translation Providers
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderTest.php
  src/Symfony/Component/Translation/Bridge/Crowdin/composer.json
  src/Symfony/Component/Translation/Bridge/Loco/composer.json
  src/Symfony/Component/Translation/Bridge/Lokalise/LokaliseProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Lokalise/composer.json
  src/Symfony/Component/Translation/Bridge/PoEditor/PoEditorProvider.php
  src/Symfony/Component/Translation/Bridge/PoEditor/composer.json
Labels: Status: Reviewed, Translation

#41156 [Security] Make Login Rate Limiter case insensitive
  src/Symfony/Component/Security/Http/RateLimiter/DefaultLoginRateLimiter.php
  src/Symfony/Component/Security/Http/Tests/EventListener/LoginThrottlingListenerTest.php
Labels: Bug, Security, Status: Reviewed

#41160 [HttpClient] Don't prepare the request in ScopingHttpClient
  src/Symfony/Component/HttpClient/ScopingHttpClient.php
Labels: Bug, HttpClient, Status: Needs Review

#41147 [Inflector][String] wrong plural form of words ending by "pectus"
  src/Symfony/Component/Inflector/Inflector.php
  src/Symfony/Component/Inflector/Tests/InflectorTest.php
Labels: Bug, Inflector, Status: Needs Review, String

#41159 [Translation] remove credentials from PoEditorProvider
  src/Symfony/Component/Translation/Bridge/Lokalise/LokaliseProviderFactory.php
  src/Symfony/Component/Translation/Bridge/PoEditor/PoEditorHttpClient.php
  src/Symfony/Component/Translation/Bridge/PoEditor/PoEditorProvider.php
  src/Symfony/Component/Translation/Bridge/PoEditor/PoEditorProviderFactory.php
  src/Symfony/Component/Translation/Bridge/PoEditor/Tests/PoEditorProviderTest.php
Labels: Status: Reviewed, Translation

#41164 [FrameworkBundle] fix debug:event-dispatcher and debug:firewall
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/debug_console.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#40963 [Mailer][Notifier][Translation] Add tests for UnsupportedSchemeException
  src/Symfony/Component/Mailer/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Mailer/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Translation/Tests/Exception/UnsupportedSchemeExceptionTest.php
Labels: Help wanted, Mailer, Notifier, Status: Reviewed, Translation

#36864 [Messenger] Ability to distinguish retry and delay actions
  src/Symfony/Component/Messenger/Bridge/Amqp/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/AmqpExtIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpSender.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpStamp.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Feature, Messenger, Ready, Status: Needs Review

#41170 [DependencyInjection] Don't try to load YamlFileLoader if it's not actually needed
  src/Symfony/Component/DependencyInjection/Compiler/RegisterAutoconfigureAttributesPass.php
Labels: Bug, DependencyInjection, Status: Reviewed

#41173 [Security] Make Login Rate Limiter also case insensitive for non-ascii user identifiers
  src/Symfony/Component/Security/Http/RateLimiter/DefaultLoginRateLimiter.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Bug, Security, Status: Reviewed

#41177 [DependencyInjection] fix empty instanceof-conditionals created by AttributeAutoconfigurationPass
  src/Symfony/Component/DependencyInjection/Compiler/AttributeAutoconfigurationPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AttributeAutoconfigurationPassTest.php
Labels: Bug, DependencyInjection, Status: Needs Review

#41166 [PhpUnitBridge] fix test on appveyor
  src/Symfony/Bridge/PhpUnit/Tests/expectrisky.phpt
Labels: PhpUnitBridge, Status: Needs Review

#41181 [FrameworkBundle] improve AbstractController::handleForm()
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: FrameworkBundle, Status: Reviewed

#41180 [Security] Add missing Finnish translations
  src/Symfony/Component/Security/Core/Resources/translations/security.fi.xlf
Labels: Security, Status: Reviewed

#41182 [DependencyInjection] allow PHP-DSL files to be env-conditional
  src/Symfony/Component/DependencyInjection/Attribute/When.php
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/config_builder.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/env_configurator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/nested_bundle_config.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/when_env.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#41186 [FrameworkBundle] fix AbstractController::handleForm()
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: FrameworkBundle, Status: Needs Review

#41178 [FrameworkBundle] Introduce `AbstractController::renderForm()` instead of `handleForm()`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#41187 [Translation] Fix Crowdin Translation Provider DSN example
  src/Symfony/Component/Translation/Bridge/Crowdin/README.md
Labels: Status: Reviewed, Translation

#41190 [FrameworkBundle] improve AbstractController::renderForm()
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: FrameworkBundle, Status: Reviewed

#41193 Release v3.4.48
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41194 Release v4.4.23
  CHANGELOG-4.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41195 Release v5.2.8
  CHANGELOG-5.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41196 Release v5.3.0-BETA4
  CHANGELOG-5.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41183 [CI][Psalm] Install stable/released PHPUnit
  .github/workflows/psalm.yml
Labels: Status: Reviewed

#41201 [Mailer][Notifier] Sort transport factories alphabetically
  src/Symfony/Component/Mailer/Transport.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Mailer, Notifier, Status: Reviewed

#41197 [Translation] Fix LokaliseProviderTest NS
  src/Symfony/Component/Translation/Bridge/Lokalise/Tests/LokaliseProviderTest.php
Labels: Status: Reviewed, Translation

#41210 [Console] Fix Windows code page support
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Bug, Console, Status: Needs Review

#41211 [Notifier] Add missing charset to content-type for Slack notifier
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransport.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
Labels: Bug, Notifier, Status: Reviewed

#41097 [Security] Missing lt translations
  src/Symfony/Component/Security/Core/Resources/translations/security.lt.xlf
Labels: Missing translations, Security, Status: Reviewed

#41214 [Console] fix registering command aliases when using the new "cmd|alias" syntax for names
  src/Symfony/Component/Console/DependencyInjection/AddConsoleCommandPass.php
  src/Symfony/Component/Console/Tests/DependencyInjection/AddConsoleCommandPassTest.php
Labels: Bug, Console, Status: Reviewed

#41216 [Security\Guard][Security\Http] Fix test
  src/Symfony/Component/Security/Guard/Tests/Firewall/GuardAuthenticationListenerTest.php
  src/Symfony/Component/Security/Guard/composer.json
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerTest.php
Labels: Status: Needs Review

#41228 Introduce SYMFONY_FEATURE_BRANCH variable in Travis config
  .travis.yml
Labels: Status: Reviewed

#41231 [Security] Added and improved Bulgarian translations
  src/Symfony/Component/Security/Core/Resources/translations/security.bg.xlf
Labels: Missing translations, Security, Status: Reviewed

#41192 [Security] Added Ukrainian translations
  src/Symfony/Component/Security/Core/Resources/translations/security.uk.xlf
Labels: Missing translations, Security, Status: Reviewed

#41233 [DependencyInjection][ProxyManagerBridge] Don't call class_exists() on null
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/LazyLoadingValueHolderGenerator.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
Labels: Bug, DependencyInjection, ProxyManagerBridge, Status: Reviewed

#41224 [HttpClient] fix adding query string to relative URLs with scoped clients
  src/Symfony/Component/HttpClient/ScopingHttpClient.php
  src/Symfony/Component/HttpClient/Tests/ScopingHttpClientTest.php
Labels: Bug, HttpClient, Status: Reviewed

#41080 Add a GitHub Action for tests against PHP 8.1
  .github/workflows/tests.yml
Labels: Status: Reviewed

#41238 [Form] Replace broken ServerParams mock
  src/Symfony/Component/Form/Tests/AbstractRequestHandlerTest.php
Labels: Bug, Form, Status: Needs Review

#41241 [Finder] Fix gitignore regex build with "**"
  src/Symfony/Component/Finder/Gitignore.php
  src/Symfony/Component/Finder/Tests/GitignoreTest.php
Labels: Bug, Finder, Status: Reviewed

#41240 Fixed deprecation warnings about passing null as parameter
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
  src/Symfony/Component/BrowserKit/Cookie.php
  src/Symfony/Component/CssSelector/XPath/Extension/NodeExtension.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/RegisterServiceSubscribersPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DomCrawler/AbstractUriElement.php
  src/Symfony/Component/Finder/Comparator/NumberComparator.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/EventListener/RouterListener.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
  src/Symfony/Component/Mime/Email.php
  src/Symfony/Component/Routing/Generator/UrlGenerator.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/LdapBindAuthenticationProviderTest.php
  src/Symfony/Component/Security/Http/Firewall/UsernamePasswordJsonAuthenticationListener.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/Translator.php
  src/Symfony/Component/Validator/Constraints/IpValidator.php
  src/Symfony/Component/Yaml/Parser.php
Labels: Bug, Status: Reviewed

#41206 [Mailer] Fix SES API call with UTF-8 Addresses
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesApiAsyncAwsTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiAsyncAwsTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiTransport.php
Labels: Bug, Mailer, Status: Reviewed

#41243 Migrate configuration file for PHP CS Fixer 2.19/3.0
  .gitignore
  .php-cs-fixer.dist.php
Labels: Status: Reviewed

#41244 [Security] Keep Bulgarian wording consistent across all texts
  src/Symfony/Component/Security/Core/Resources/translations/security.bg.xlf
Labels: Security, Status: Reviewed

#41230 [FrameworkBundle][Validator] Fix deprecations from Doctrine Annotations+Cache
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AnnotationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/AnnotationsCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/AutowiringTypesTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Validator/Tests/Mapping/Cache/DoctrineCacheTest.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
  src/Symfony/Component/Validator/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed, Validator

#41259 [FrameworkBundle] Fix missing unused known tag
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
Labels: FrameworkBundle, Status: Reviewed

#41258 [Workflow] Remove useless call to `Definition#addTag()`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Status: Needs Review, Workflow

#41139 [Security] [DataCollector] Remove allows anonymous information in datacollector
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
  src/Symfony/Bundle/SecurityBundle/Tests/DataCollector/SecurityDataCollectorTest.php
Labels: Bug, Security, Status: Reviewed

#41246 [Security] Missing translations for Chinese (zh_TW & zh_CN)
  src/Symfony/Component/Security/Core/Resources/translations/security.zh_CN.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.zh_TW.xlf
Labels: Missing translations, Security, Status: Reviewed

#41269 [SecurityBundle] Remove invalid unused service
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator_login_link.php
  src/Symfony/Component/Security/Http/Authenticator/InteractiveAuthenticatorInterface.php
Labels: Bug, SecurityBundle, Status: Reviewed

#41275 Fixes Undefined method call
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: Bug, Status: Needs Review

#41263 [Security] Added missing translations for Serbian (sr_Cyrl)
  src/Symfony/Component/Security/Core/Resources/translations/security.sr_Cyrl.xlf
Labels: Missing translations, Security, Status: Reviewed

#41276 Release v3.4.49
  CHANGELOG-3.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41278 Release v4.4.24
  CHANGELOG-4.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41279 Release v5.2.9
  CHANGELOG-5.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41283 Release v5.3.0-RC1
  CHANGELOG-5.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#41281 Add 5.3 in github PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#41285 Add sponsors for 5.3
  README.md
  src/Symfony/Component/Routing/README.md
Labels: Status: Needs Review

#41286 Add sponsors for 5.4
  README.md
Labels: Status: Needs Review

#41288 Add sponsors for 6.0
  README.md
Labels: Status: Needs Review

#41289 Remove obsolete 5.x files
  CHANGELOG-5.0.md
  CHANGELOG-5.1.md
  CHANGELOG-5.2.md
  CHANGELOG-5.3.md
  UPGRADE-5.0.md
  UPGRADE-5.1.md
  UPGRADE-5.2.md
  UPGRADE-5.3.md
Labels: Status: Reviewed

#41297 Remove always-true requirement
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Proxy/SessionHandlerProxyTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
Labels: Status: Reviewed

#41293 Fix the detection of the stable Symfony branch
  .travis.yml
Labels: Bug, Status: Needs Review

#41328 Improve .travis.yml
  .travis.yml
Labels: Status: Needs Review

#41311 Add missing dependency
  src/Symfony/Component/Mailer/composer.json
Labels: Bug, Status: Reviewed

#41331 [Runtime] allow "|^6.0" deps
  src/Symfony/Component/Runtime/composer.json
Labels: Runtime, Status: Needs Review

#41333 doctrine/doctrine-bundle should not be a dep
  composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: Status: Reviewed

#41335 [Security][SecurityBundle] Fix deprecations triggered in tests
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/EventAliasTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/DaoAuthenticationProviderTest.php
Labels: Bug, Security, SecurityBundle, Status: Needs Review

#41336 [Security] Add UserAuthenticationProviderTest to legacy group
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/UserAuthenticationProviderTest.php
Labels: Bug, Security, Status: Needs Review

#41345 [FrameworkBundle] Return early
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: FrameworkBundle, Status: Reviewed

#41344 [VarDumper] Don't pass null to parse_url()
  src/Symfony/Component/VarDumper/VarDumper.php
Labels: Bug, Status: Reviewed, VarDumper

#41347 Fake PHP version on PHP nightly builds
  .github/workflows/tests.yml
Labels: Status: Needs Review

#41309 [Notifier] Add missing deprecation entry
  UPGRADE-5.1.md
  UPGRADE-5.2.md
  UPGRADE-6.0.md
Labels: Notifier, Status: Reviewed

#41346 [WebProfilerBundle] Wrapping exception js in Sfjs check and also loading base_js Sfjs if needed
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Component/ErrorHandler/Resources/assets/js/exception.js
Labels: Bug, Status: Reviewed, WebProfilerBundle

#41348 Fix PHP 8.1 deprecations
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Ldap/Tests/Security/CheckLdapCredentialsListenerTest.php
  src/Symfony/Component/String/Slugger/AsciiSlugger.php
Labels: Bug, Status: Reviewed

#41296 [Console] Fix invalid PhpDoc for InputOption::VALUE_NEGATABLE
  src/Symfony/Component/Console/Input/InputOption.php
Labels: Console, Status: Reviewed

#41366 [Ldap] Report the correct package in the deprecation message
  src/Symfony/Component/Ldap/Security/LdapUser.php
Labels: Bug, Ldap, Status: Reviewed

#41367 [Ldap] Avoid calling the deprecated getUsername()
  src/Symfony/Component/Ldap/Security/LdapUser.php
Labels: Bug, Ldap, Status: Reviewed

#41372 [Routing] Remove legacy group from Doctrine Annotations test
  src/Symfony/Component/Routing/Tests/Annotation/RouteTest.php
Labels: Bug, Routing, Status: Reviewed

#41313 [Console] Add missing entry to console upgrade log
  UPGRADE-5.3.md
  UPGRADE-6.0.md
Labels: Console, Status: Reviewed

#41203 [FrameworkBundle] Add autowiring alias for `HttpCache\StoreInterface`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#39847 [Messenger] Fix merging PrototypedArrayNode associative values
  composer.json
  src/Symfony/Component/Config/Definition/PrototypedArrayNode.php
  src/Symfony/Component/Config/Tests/Definition/PrototypedArrayNodeTest.php
  src/Symfony/Component/Config/composer.json
Labels: Bug, Messenger, Status: Reviewed

#41307 [Mailer] Remove dead code
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesTransportFactory.php
Labels: Mailer, Status: Reviewed

#41298 [Notifier] Remove deprecation in slack-notifier
  src/Symfony/Component/Notifier/Bridge/Slack/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Slack/SlackOptions.php
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/composer.json
Labels: Notifier, Status: Reviewed
