Repository symfony/symfony, pull requests merged in 2021-04, with the labels that each got.

#40650 [Validator] Delete obsolete statement in Regex::getHtmlPattern() phpDoc
  src/Symfony/Component/Validator/Constraints/Regex.php
Labels: Bug, Status: Reviewed, Validator

#40643 Use symfony/deprecation-contracts instead of trigger_error
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/composer.json
Labels: Deprecation, Status: Reviewed

#40649 [FrameworkBundle] Remove author comments for configuration and extension
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: FrameworkBundle, Status: Reviewed

#40668 Update references to the ContainerConfigurator
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: Status: Needs Review

#40666 Doc: Fix unclosed backtick in UPGRADE-6.0.md
  UPGRADE-6.0.md
Labels: Status: Needs Review

#40604 Improve ExtractorInterface phpdoc
  src/Symfony/Component/Form/FormView.php
  src/Symfony/Component/Translation/Extractor/ExtractorInterface.php
Labels: Status: Needs Review

#40669 [Notifier] [FakeSms] Add missing LICENSE and .gitattributes file
  src/Symfony/Component/Notifier/Bridge/FakeSms/.gitattributes
  src/Symfony/Component/Notifier/Bridge/FakeSms/LICENSE
Labels: Notifier, Status: Needs Review

#40670 [FrameworkBundle] fix test
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelTraitTest.php
Labels: FrameworkBundle, Status: Needs Review

#40645 [FrameworkBundle] Dont store cache misses on warmup
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AnnotationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ValidatorCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/AnnotationsCacheWarmerTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#40658 [RateLimiter] Fix sleep value
  src/Symfony/Component/RateLimiter/RateLimit.php
Labels: Bug, RateLimiter, Ready, Status: Reviewed

#40603 [Config] Fixed support for nodes not extending BaseNode
  src/Symfony/Component/Config/Definition/ArrayNode.php
  src/Symfony/Component/Config/Definition/Builder/NodeDefinition.php
  src/Symfony/Component/Config/Definition/Dumper/XmlReferenceDumper.php
  src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php
  src/Symfony/Component/Config/Tests/Definition/Dumper/XmlReferenceDumperTest.php
  src/Symfony/Component/Config/Tests/Definition/Dumper/YamlReferenceDumperTest.php
  src/Symfony/Component/Config/Tests/Fixtures/Configuration/CustomNode.php
  src/Symfony/Component/Config/Tests/Fixtures/Configuration/CustomNodeDefinition.php
  src/Symfony/Component/Config/Tests/Fixtures/Configuration/ExampleConfiguration.php
Labels: Bug, Config, Status: Reviewed

#40610 Fixed bugs found by psalm
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bridge/Twig/Mime/WrappedTemplatedEmail.php
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/VarDumper/Command/ServerDumpCommand.php
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Contracts/Service/ServiceSubscriberTrait.php
Labels: Bug, Ready, Status: Reviewed

#40503 [Yaml] fix parsing some block sequences
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/Fixtures/YtsBasicTests.yml
Labels: Bug, Status: Reviewed, Yaml

#40675 Remove unused import
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
Labels: Status: Reviewed

#40641 LoginLink create get Request Locale
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkHandler.php
  src/Symfony/Component/Security/Http/Tests/LoginLink/LoginLinkHandlerTest.php
Labels: Bug, Status: Reviewed

#40685 remove references to "Silex"
  src/Symfony/Component/HttpFoundation/Session/Storage/MockFileSessionStorage.php
  src/Symfony/Component/HttpKernel/README.md
Labels: Bug, Status: Reviewed

#40703 [Mailer][Notifier] Added missing gitattributes and gitignore files
  src/Symfony/Component/Mailer/Bridge/Mailjet/.gitattributes
  src/Symfony/Component/Mailer/Bridge/Mailjet/.gitignore
  src/Symfony/Component/Notifier/Bridge/Discord/.gitignore
  src/Symfony/Component/Notifier/Bridge/Esendex/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Esendex/.gitignore
  src/Symfony/Component/Notifier/Bridge/Firebase/.gitignore
  src/Symfony/Component/Notifier/Bridge/FreeMobile/.gitignore
  src/Symfony/Component/Notifier/Bridge/GoogleChat/.gitignore
  src/Symfony/Component/Notifier/Bridge/Infobip/.gitignore
  src/Symfony/Component/Notifier/Bridge/LinkedIn/.gitattributes
  src/Symfony/Component/Notifier/Bridge/LinkedIn/.gitignore
  src/Symfony/Component/Notifier/Bridge/Mattermost/.gitignore
  src/Symfony/Component/Notifier/Bridge/Mobyt/.gitignore
  src/Symfony/Component/Notifier/Bridge/Nexmo/.gitignore
  src/Symfony/Component/Notifier/Bridge/OvhCloud/.gitignore
  src/Symfony/Component/Notifier/Bridge/RocketChat/.gitignore
  src/Symfony/Component/Notifier/Bridge/Sendinblue/.gitignore
  src/Symfony/Component/Notifier/Bridge/Sinch/.gitignore
  src/Symfony/Component/Notifier/Bridge/Slack/.gitignore
  src/Symfony/Component/Notifier/Bridge/Smsapi/.gitignore
  src/Symfony/Component/Notifier/Bridge/Telegram/.gitignore
  src/Symfony/Component/Notifier/Bridge/Twilio/.gitignore
  src/Symfony/Component/Notifier/Bridge/Zulip/.gitignore
Labels: Mailer, Notifier, Status: Reviewed

#40702 [HttpClient] allow CurlHttpClient on Windows
  src/Symfony/Component/HttpClient/HttpClient.php
Labels: Bug, HttpClient, Status: Reviewed

#40693 [Security] Mark ExpiredLoginLinkStorage as experimental
  src/Symfony/Component/Security/Http/LoginLink/ExpiredLoginLinkStorage.php
Labels: Security, Status: Reviewed

#40672 [Security] [Passport] improve dx and document AuthenticationException
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/UserBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Passport.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/UserPassportInterface.php
Labels: Feature, Security, Status: Reviewed

#40679 [Debug][ErrorHandler] Avoid warning with Xdebug 3 with develop mode disabled
  src/Symfony/Component/Debug/Exception/FatalErrorException.php
  src/Symfony/Component/ErrorHandler/Error/FatalError.php
Labels: Bug, Debug, ErrorHandler, Status: Reviewed

#40671 [Notifier] Mercure bridge: bump mercure dependency to 0.5
  composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Notifier/Bridge/Mercure/MercureTransport.php
  src/Symfony/Component/Notifier/Bridge/Mercure/MercureTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mercure/README.md
  src/Symfony/Component/Notifier/Bridge/Mercure/Tests/MercureTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Mercure/Tests/MercureTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Mercure/composer.json
Labels: Feature, Notifier, Status: Needs Review

#40607 [Notifier] Add LightSms notifier bridge
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/LightSms/.gitattributes
  src/Symfony/Component/Notifier/Bridge/LightSms/.gitignore
  src/Symfony/Component/Notifier/Bridge/LightSms/LICENSE
  src/Symfony/Component/Notifier/Bridge/LightSms/LightSmsTransport.php
  src/Symfony/Component/Notifier/Bridge/LightSms/LightSmsTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/LightSms/README.md
  src/Symfony/Component/Notifier/Bridge/LightSms/Tests/LightSmsTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/LightSms/Tests/LightSmsTransportTest.php
  src/Symfony/Component/Notifier/Bridge/LightSms/composer.json
  src/Symfony/Component/Notifier/Bridge/LightSms/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Reviewed

#40647 [Notifier] [FakeChat] Added the bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/.gitattributes
  src/Symfony/Component/Notifier/Bridge/FakeChat/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/FakeChat/FakeChatEmailTransport.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/FakeChatTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/LICENSE
  src/Symfony/Component/Notifier/Bridge/FakeChat/README.md
  src/Symfony/Component/Notifier/Bridge/FakeChat/Tests/FakeChatEmailTransportTest.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/Tests/FakeChatTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/composer.json
  src/Symfony/Component/Notifier/Bridge/FakeChat/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Feature, Notifier, Status: Needs Review

#40716 [FrameworkBundle] Fix fragment.uri_generator definition
  src/Symfony/Bundle/FrameworkBundle/Resources/config/fragment_renderer.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#40712 [Notifier]  Simplify LightSms implementation
  src/Symfony/Component/Notifier/Bridge/LightSms/LightSmsTransport.php
Labels: Notifier, Status: Needs Review

#40727 [CS] Replace easy occurences of ?: with ??
  src/Symfony/Bridge/Monolog/Formatter/VarDumperFormatter.php
  src/Symfony/Bridge/Twig/Extension/DumpExtension.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
  src/Symfony/Bundle/WebProfilerBundle/Twig/WebProfilerExtension.php
  src/Symfony/Component/Asset/Package.php
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/Config/Definition/Builder/TreeBuilder.php
  src/Symfony/Component/Console/Formatter/OutputFormatterStyleStack.php
  src/Symfony/Component/Console/Output/Output.php
  src/Symfony/Component/CssSelector/Parser/Parser.php
  src/Symfony/Component/CssSelector/XPath/Translator.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
  src/Symfony/Component/ExpressionLanguage/ExpressionLanguage.php
  src/Symfony/Component/Form/Extension/Core/CoreExtension.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToArrayTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Extension/Csrf/EventListener/CsrfValidationListener.php
  src/Symfony/Component/Form/Extension/HttpFoundation/HttpFoundationRequestHandler.php
  src/Symfony/Component/Form/Extension/HttpFoundation/Type/FormTypeHttpFoundationExtension.php
  src/Symfony/Component/Form/FormFactoryBuilder.php
  src/Symfony/Component/Form/NativeRequestHandler.php
  src/Symfony/Component/HttpFoundation/Session/Session.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TestSessionListenerTest.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
  src/Symfony/Component/Messenger/Tests/Transport/AmqpExt/AmqpTransportTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineTransportTest.php
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/RedisTransportTest.php
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
  src/Symfony/Component/Routing/Router.php
  src/Symfony/Component/Routing/Tests/Matcher/CompiledRedirectableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/CompiledUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/DumpedRedirectableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/DumpedUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/RedirectableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/TraceableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
  src/Symfony/Component/Security/Core/Authentication/Provider/SimpleAuthenticationProvider.php
  src/Symfony/Component/Security/Csrf/CsrfTokenManager.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Firewall/SimplePreAuthenticationListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ExceptionListenerTest.php
  src/Symfony/Component/Serializer/Encoder/JsonEncoder.php
  src/Symfony/Component/Serializer/Encoder/YamlEncoder.php
  src/Symfony/Component/Serializer/Normalizer/CustomNormalizer.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
  src/Symfony/Component/Workflow/Definition.php
  src/Symfony/Component/Workflow/Metadata/InMemoryMetadataStore.php
  src/Symfony/Component/Workflow/StateMachine.php
  src/Symfony/Component/Workflow/Tests/EventListener/GuardListenerTest.php
  src/Symfony/Component/Workflow/Workflow.php
Labels: Status: Reviewed

#40729 [CS] [5.2] Replace easy occurrences of ?: with ??
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsTransportTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Esendex/Tests/EsendexTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Firebase/Tests/FirebaseTransportTest.php
  src/Symfony/Component/Notifier/Bridge/FreeMobile/Tests/FreeMobileTransportTest.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Infobip/Tests/InfobipTransportTest.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/Tests/LinkedInTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/Tests/MattermostTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/Tests/MobytTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Nexmo/Tests/NexmoTransportTest.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportTest.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/Tests/RocketChatTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Sendinblue/Tests/SendinblueTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Sinch/Tests/SinchTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/Tests/SmsapiTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/TwilioTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Zulip/Tests/ZulipTransportTest.php
Labels: Status: Reviewed

#40704 Update README.md
  README.md
Labels: Status: Reviewed

#40733 * LightSmsTransport.php - suggestion for pull request #40712
  src/Symfony/Component/Notifier/Bridge/LightSms/LightSmsTransport.php
Labels: Status: Needs Review

#40730 [Notifier] [CS] [5.x] Replace easy occurrences of ?: with ??
  src/Symfony/Component/Notifier/Bridge/AllMySms/Tests/AllMySmsTransportTest.php
  src/Symfony/Component/Notifier/Bridge/GatewayApi/Tests/GatewayApiTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Gitter/Tests/GitterTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Iqsms/Tests/IqsmsTransportTest.php
  src/Symfony/Component/Notifier/Bridge/LightSms/Tests/LightSmsTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Octopush/Tests/OctopushTransportTest.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/Tests/SpotHitTransportTest.php
Labels: Notifier, Status: Reviewed

#40700 [CI] Make sure packages contain all metafiles
  .github/get-modified-packages.php
  .github/workflows/package-tests.yml
Labels: Status: Reviewed

#40698 [Console] Add Helper::width() and Helper::length()
  src/Symfony/Component/Console/Helper/Helper.php
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Bug, Console, Ready, Status: Reviewed

#40710 [Serializer] Construct annotations using named arguments
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/Serializer/Annotation/Context.php
  src/Symfony/Component/Serializer/Annotation/DiscriminatorMap.php
  src/Symfony/Component/Serializer/Annotation/Groups.php
  src/Symfony/Component/Serializer/Annotation/MaxDepth.php
  src/Symfony/Component/Serializer/Annotation/SerializedName.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Tests/Annotation/ContextTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/DiscriminatorMapTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/GroupsTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/MaxDepthTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/SerializedNameTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Deprecation, Serializer, Status: Reviewed

#40728 [PHPDoc] Fix some union type cases
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Component/BrowserKit/Response.php
  src/Symfony/Component/Console/Descriptor/Descriptor.php
  src/Symfony/Component/Console/Descriptor/TextDescriptor.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php
  src/Symfony/Component/HttpFoundation/HeaderBag.php
  src/Symfony/Component/Mailer/EventListener/EnvelopeListener.php
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Mime/Address.php
  src/Symfony/Component/Mime/Header/Headers.php
  src/Symfony/Component/Mime/Part/Multipart/FormDataPart.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Security/Core/User/UserInterface.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Validator/Validator/ContextualValidatorInterface.php
  src/Symfony/Component/Validator/Validator/RecursiveContextualValidator.php
  src/Symfony/Component/Validator/Validator/ValidatorInterface.php
  src/Symfony/Contracts/HttpClient/ResponseInterface.php
Labels: Status: Reviewed

#39007 [Notifier] Add notifier for Microsoft Teams
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/.gitattributes
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/.gitignore
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/LICENSE
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/MicrosoftTeamsTransport.php
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/MicrosoftTeamsTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/README.md
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/Tests/MicrosoftTeamsTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/Tests/MicrosoftTeamsTransportTest.php
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/composer.json
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Status: Needs Review

#40736 [Notifier] Fix LightSms package name
  src/Symfony/Component/Notifier/Bridge/LightSms/composer.json
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Bug, Notifier, Status: Reviewed

#40737 [Notifier] Added missing changelog
  src/Symfony/Component/Notifier/Bridge/LightSms/CHANGELOG.md
Labels: Notifier, Status: Reviewed

#40735 [Notifier] LightSMS duplicated $errorCode variable fix
  src/Symfony/Component/Notifier/Bridge/LightSms/LightSmsTransport.php
Labels: Notifier, Status: Reviewed

#40707 [Yaml] Fixed infinite loop when parser goes through an additional and invalid closing tag
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#40660 [Form] Fix 'invalid_message' use in multiple ChoiceType
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
Labels: Bug, Form, Status: Reviewed

#40695 [Console] Deprecate Helper::strlen() for width() and length()
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Component/Console/Descriptor/TextDescriptor.php
  src/Symfony/Component/Console/Helper/FormatterHelper.php
  src/Symfony/Component/Console/Helper/Helper.php
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Output/ConsoleSectionOutput.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
Labels: Console, Deprecation, Feature, Status: Reviewed

#40766 [Notifier] [Bridge] Remove hidden dependency on HttpFoundation
  src/Symfony/Component/Notifier/Bridge/Gitter/GitterTransport.php
  src/Symfony/Component/Notifier/Bridge/LightSms/LightSmsTransport.php
Labels: Bug, Notifier, Status: Reviewed

#40760 Simplified condition and removed unused code from AbstractSessionListener::onKernelRequest
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
Labels: Status: Needs Review

#40754 [PhpUnitBridge] Fix phpunit symlink on Windows
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#40755 [Routing] Better inline requirements and defaults parsing
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Routing/Tests/RouteTest.php
Labels: Bug, Routing, Status: Reviewed

#40740 [Cache][FrameworkBundle] Fix logging for TagAwareAdapter
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/cache.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/cache.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/LockRegistry.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
Labels: Bug, Cache, FrameworkBundle, Status: Reviewed

#40768 [HttpClient] [PHPDoc] Fix 2 remaining return mixed
  src/Symfony/Component/HttpClient/Response/HttplugPromise.php
  src/Symfony/Contracts/HttpClient/ResponseInterface.php
Labels: HttpClient, Status: Reviewed

#40682 [DependencyInjection] Add env() and EnvConfigurator in the PHP-DSL
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/Configurator/AbstractConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/EnvConfigurator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/env_configurator.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/Configurator/EnvConfiguratorTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#40772 [TwigBundle] Require TwigBridge 5.3 for SerializerExtension
  src/Symfony/Bundle/TwigBundle/composer.json
Labels: Bug, Status: Reviewed, TwigBundle

#40775 [HttpClient] Revert "minor #40768 [PHPDoc] Fix 2 remaining return mixed
  src/Symfony/Component/HttpClient/Response/HttplugPromise.php
Labels: HttpClient, Status: Reviewed

#40776 [DependencyInjection] improve phpdoc for registerAttributeForAutoconfiguration()
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: DependencyInjection, Status: Needs Review

#40777 [HttpKernel] Minor fixes and tweaks in the Symfony Welcome Page
  src/Symfony/Component/HttpKernel/Resources/welcome.html.php
Labels: Bug, HttpKernel, Status: Reviewed

#40739 [Notifier] Inject Mailer instead of service locator for FakeSms and FakeChat
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/.gitignore
  src/Symfony/Component/Notifier/Bridge/FakeChat/FakeChatEmailTransport.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/FakeChatTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/README.md
  src/Symfony/Component/Notifier/Bridge/FakeChat/Tests/FakeChatEmailTransportTest.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/Tests/FakeChatTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/FakeSms/FakeSmsEmailTransport.php
  src/Symfony/Component/Notifier/Bridge/FakeSms/FakeSmsTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/FakeSms/README.md
  src/Symfony/Component/Notifier/Bridge/FakeSms/Tests/FakeSmsEmailTransportTest.php
  src/Symfony/Component/Notifier/Bridge/FakeSms/Tests/FakeSmsTransportFactoryTest.php
  src/Symfony/Component/Notifier/Tests/Fixtures/TestOptions.php
  src/Symfony/Component/Notifier/Tests/Mailer/DummyMailer.php
Labels: Bug, Notifier, Status: Reviewed

#40780 [Cache] Apply NullAdapter as Null Object
  src/Symfony/Component/Cache/Adapter/NullAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/NullAdapterTest.php
Labels: Bug, Cache, Status: Reviewed

#40330 [SecurityBundle] Empty line starting with dash under "access_control" causes all rules to be skipped
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#40718 [Messenger] Add X-Ray trace header support to the SQS transport
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsSenderTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsSender.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsXrayTraceHeaderStamp.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Feature, Messenger, Status: Reviewed

#40785 [Security] Deprecate using UsageTrackingTokenStorage outside the request-response cycle
  UPGRADE-5.3.md
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Authentication/Token/Storage/UsageTrackingTokenStorage.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/Storage/UsageTrackingTokenStorageTest.php
Labels: Bug, Deprecation, Security, Status: Reviewed

#40770 Update README.md
  src/Symfony/Bundle/WebServerBundle/README.md
Labels: Status: Reviewed

#40786 [Serializer][Validator] Update some phpDoc relative to "getters"
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Validator/Mapping/ClassMetadata.php
  src/Symfony/Component/Validator/Mapping/GetterMetadata.php
Labels: Bug, Serializer, Status: Reviewed, Validator

#40761 [MonologBridge] Reset loggers on workers
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Messenger/ResetLoggersWorkerSubscriber.php
  src/Symfony/Bridge/Monolog/Tests/Messenger/ResetLoggersWorkerSubscriberTest.php
  src/Symfony/Bridge/Monolog/composer.json
Labels: Feature, MonologBridge, Status: Reviewed

#40779 [DependencyInjection] Allow calling custom processors directly on EnvConfigurator
  src/Symfony/Component/DependencyInjection/Loader/Configurator/EnvConfigurator.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/Configurator/EnvConfiguratorTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#40171 [Workflow] Add Mermaid.js dumper
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Dumper/MermaidDumper.php
  src/Symfony/Component/Workflow/Tests/Dumper/MermaidDumperTest.php
Labels: Feature, Status: Reviewed, Workflow

#40795 Fixed the deprecation message about Master/Main requests
  src/Symfony/Component/HttpKernel/Event/KernelEvent.php
  src/Symfony/Component/Security/Http/Event/LazyResponseEvent.php
Labels: Bug, Status: Reviewed

#40788 [Security] [LoginLink] remove experimental
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginLinkFactory.php
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Http/Authenticator/LoginLinkAuthenticator.php
  src/Symfony/Component/Security/Http/LoginLink/Exception/ExpiredLoginLinkException.php
  src/Symfony/Component/Security/Http/LoginLink/Exception/InvalidLoginLinkAuthenticationException.php
  src/Symfony/Component/Security/Http/LoginLink/Exception/InvalidLoginLinkException.php
  src/Symfony/Component/Security/Http/LoginLink/Exception/InvalidLoginLinkExceptionInterface.php
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkDetails.php
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkHandler.php
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkHandlerInterface.php
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkNotification.php
Labels: Security, Status: Reviewed

#40792 [Security] Stop using a shared changelog for our security packages
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Csrf/CHANGELOG.md
  src/Symfony/Component/Security/Guard/CHANGELOG.md
  src/Symfony/Component/Security/Http/CHANGELOG.md
Labels: Security, Status: Reviewed

#40791 [WebProfilerBundle] Use ControllerReference instead of URL in twig render()
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/exception.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/router.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig
Labels: Bug, Status: Reviewed, WebProfilerBundle

#40600 [Config][DependencyInjection] Add configuration builder for writing PHP config
  src/Symfony/Component/Config/Builder/ClassBuilder.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGeneratorInterface.php
  src/Symfony/Component/Config/Builder/ConfigBuilderInterface.php
  src/Symfony/Component/Config/Builder/Method.php
  src/Symfony/Component/Config/Builder/Property.php
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList.config.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList.output.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues.config.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues.output.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/PrimitiveTypes.config.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/PrimitiveTypes.output.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/PrimitiveTypes.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/VariableType.config.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/VariableType.output.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/VariableType.php
  src/Symfony/Component/Config/Tests/Builder/GeneratedConfigTest.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AcmeConfigBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/config_builder.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/config_builder.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/AcmeExtension.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Config, DependencyInjection, Feature, Ready, Status: Reviewed

#40406 [DependencyInjection] Autowire arguments using attributes
  src/Symfony/Component/DependencyInjection/Attribute/TaggedIterator.php
  src/Symfony/Component/DependencyInjection/Attribute/TaggedLocator.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AttributeAutoconfigurationPass.php
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/IteratorConsumer.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/LocatorConsumer.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/LocatorConsumerConsumer.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/LocatorConsumerFactory.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/MultipleArgumentBindings.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
Labels: DependencyInjection, Feature, Ready, Status: Reviewed

#40691 [Notifier] Add SmsBiuras notifier bridge
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/.gitattributes
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/.gitignore
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/LICENSE
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/README.md
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/SmsBiurasTransport.php
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/SmsBiurasTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/Tests/SmsBiurasTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/Tests/SmsBiurasTransportTest.php
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/composer.json
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Ready, Status: Reviewed

#40690 [Form] Add support for sorting fields
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/BaseType.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FormTypeTest.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.txt
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_2.txt
Labels: DX, Feature, Form, Ready, Status: Reviewed

#40814 Remove the experimental flag from the authenticator system 🚀
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AuthenticatorFactoryInterface.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/CustomAuthenticatorFactory.php
  src/Symfony/Bundle/SecurityBundle/RememberMe/FirewallAwareRememberMeHandler.php
  src/Symfony/Bundle/SecurityBundle/Security/UserAuthenticator.php
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Ldap/Security/LdapAuthenticator.php
  src/Symfony/Component/Ldap/Security/LdapBadge.php
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Core/Signature/ExpiredSignatureStorage.php
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManagerInterface.php
  src/Symfony/Component/Security/Http/Authentication/UserAuthenticatorInterface.php
  src/Symfony/Component/Security/Http/Authenticator/AbstractAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/AbstractLoginFormAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/AbstractPreAuthenticatedAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/AuthenticatorInterface.php
  src/Symfony/Component/Security/Http/Authenticator/FormLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/HttpBasicAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/JsonLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/BadgeInterface.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/CsrfTokenBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/PasswordUpgradeBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/PreAuthenticatedUserBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/RememberMeBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/UserBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Credentials/CredentialsInterface.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Credentials/CustomCredentials.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Credentials/PasswordCredentials.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Passport.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/PassportInterface.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/PassportTrait.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/SelfValidatingPassport.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/UserPassportInterface.php
  src/Symfony/Component/Security/Http/Authenticator/X509Authenticator.php
  src/Symfony/Component/Security/Http/EventListener/CheckCredentialsListener.php
  src/Symfony/Component/Security/Http/EventListener/CheckRememberMeConditionsListener.php
  src/Symfony/Component/Security/Http/EventListener/CsrfProtectionListener.php
  src/Symfony/Component/Security/Http/EventListener/LoginThrottlingListener.php
  src/Symfony/Component/Security/Http/EventListener/PasswordMigratingListener.php
  src/Symfony/Component/Security/Http/EventListener/RememberMeListener.php
  src/Symfony/Component/Security/Http/EventListener/UserCheckerListener.php
  src/Symfony/Component/Security/Http/EventListener/UserProviderListener.php
  src/Symfony/Component/Security/Http/Firewall/AuthenticatorManagerListener.php
  src/Symfony/Component/Security/Http/RateLimiter/DefaultLoginRateLimiter.php
  src/Symfony/Component/Security/Http/RememberMe/AbstractRememberMeHandler.php
  src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php
  src/Symfony/Component/Security/Http/RememberMe/RememberMeDetails.php
  src/Symfony/Component/Security/Http/RememberMe/RememberMeHandlerInterface.php
  src/Symfony/Component/Security/Http/RememberMe/SignatureRememberMeHandler.php
Labels: Status: Reviewed

#40798 Fix CS in IsbnValidator and IssnValidator
  src/Symfony/Component/Validator/Constraints/IsbnValidator.php
  src/Symfony/Component/Validator/Constraints/IssnValidator.php
Labels: Status: Reviewed

#40816 [FrameworkBundle] Fix missing class in messenger service locator definitions
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.xml
Labels: Bug, FrameworkBundle, Status: Needs Review

#40809 Improve deprecation message for session
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/SessionPass.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.php
  src/Symfony/Bundle/FrameworkBundle/Session/DeprecatedSessionFactory.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SessionTest.php
Labels: Feature, Status: Reviewed

#40808 [DependencyInjection][Routing] Access environment in PHP config
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/when-env.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/Configurator/RoutingConfigurator.php
  src/Symfony/Component/Routing/Tests/Fixtures/when-env.php
  src/Symfony/Component/Routing/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Feature, Ready, Routing, Status: Reviewed

#40804 [Config][FrameworkBundle] Add CacheWarmer for ConfigBuilder
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ConfigBuilderCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
Labels: Config, Feature, FrameworkBundle, Ready, Status: Reviewed

#40805 [Config] Don't regenerate the ConfigBuilders if they already exists
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
Labels: Config, Feature, Ready, Status: Reviewed

#40801 [Routing] Fix supporting string "methods" and "schemes" on the Route annotation
  src/Symfony/Component/Routing/Annotation/Route.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/MethodsAndSchemes.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributeFixtures/MethodsAndSchemes.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderTest.php
Labels: Bug, Routing, Status: Needs Review

#40811 [PropertyInfo] Use the right context for methods defined in traits
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/TraitUsage/DummyTrait.php
Labels: Bug, PropertyInfo, Status: Reviewed

#40646 [Notifier] Add MessageBird notifier bridge
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/MessageBird/.gitattributes
  src/Symfony/Component/Notifier/Bridge/MessageBird/.gitignore
  src/Symfony/Component/Notifier/Bridge/MessageBird/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/MessageBird/LICENSE
  src/Symfony/Component/Notifier/Bridge/MessageBird/MessageBirdTransport.php
  src/Symfony/Component/Notifier/Bridge/MessageBird/MessageBirdTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/MessageBird/README.md
  src/Symfony/Component/Notifier/Bridge/MessageBird/Tests/MessageBirdTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/MessageBird/Tests/MessageBirdTransportTest.php
  src/Symfony/Component/Notifier/Bridge/MessageBird/composer.json
  src/Symfony/Component/Notifier/Bridge/MessageBird/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Notifier, Ready, Status: Reviewed

#40807 RequestMatcher issue when `_controller` is a closure
  src/Symfony/Component/HttpFoundation/RequestMatcher.php
  src/Symfony/Component/HttpFoundation/Tests/RequestMatcherTest.php
Labels: Bug, Status: Reviewed

#40834 [Notifier] Microsoft Teams: JSON structure error fix for simple message
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/MicrosoftTeamsTransport.php
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/Tests/MicrosoftTeamsTransportTest.php
Labels: Bug, Notifier, Status: Reviewed

#40793 [DoctrineBridge] Add support for a driver type "attribute"
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
Labels: Bug, DoctrineBridge, Status: Reviewed

#40799 [FrameworkBundle] Add AbstractController::handleForm() helper
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: Feature, FrameworkBundle, Ready, Status: Reviewed

#40836 [Mailer] Fix SocketStreamTest for windows
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/Stream/SocketStreamTest.php
Labels: Mailer, Status: Needs Review

#40802 [FrameworkBundle] Fix array controller link in debug:router
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#40833 [Console] added phpdocs to InputOption constants
  src/Symfony/Component/Console/Input/InputOption.php
Labels: Console, Status: Needs Review

#40840 [Security] Add passport to AuthenticationTokenCreatedEvent
  src/Symfony/Component/Security/CHANGELOG.md
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/Event/AuthenticationTokenCreatedEvent.php
Labels: Feature, Ready, Security, Status: Reviewed

#40843 [FrameworkBundle] Add missing notifier transport factories to framework extension
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#40782 [DependencyInjection] Add `#[When(env: 'foo')]` to skip autoregistering a class when the env doesn't match
  src/Symfony/Component/DependencyInjection/Attribute/When.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Prototype/Foo.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: DependencyInjection, Feature, Ready, Status: Reviewed

#40846 Fix typo
  src/Symfony/Component/Runtime/Internal/HttpKernel/HttpKernelInterfaceRuntime.php
Labels: Bug, Status: Needs Review

#40844 [FrameworkBundle] Add basic tests for the notifier framework bundle integration
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier_without_mailer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier_without_messenger.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier_without_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/notifier.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/notifier_without_mailer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/notifier_without_messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/notifier_without_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/notifier.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/notifier_without_mailer.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/notifier_without_messenger.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/notifier_without_transports.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Reviewed

#40850 [FrameworkBundle][Notifier] Fix wrong class name usage
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Notifier, Status: Reviewed

#40838 [SecurityBundle] Deprecate public services to private
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Controller/SecurityController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Security/config.yml
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/SecurityHelper/config.yml
Labels: Deprecation, SecurityBundle, Status: Reviewed

#40845 [Notifier] Notifier add test for adding transport factories to framework extension
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/notifier.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Notifier, Status: Reviewed

#40853 Release v5.3.0-BETA1
  CHANGELOG-5.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#40852 [Notifier] Add missing entries in scheme to package map
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Bug, Notifier, Status: Needs Review

#40859 [Config] Support extensions without configuration in ConfigBuilder warmup
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ConfigBuilderCacheWarmer.php
Labels: Bug, Config, Status: Reviewed

#40800 [DependencyInjection] Add `#[Target]` to tell how a dependency is used and hint named autowiring aliases
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Component/DependencyInjection/Attribute/Target.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/WithTarget.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: DependencyInjection, Feature, Ready, Status: Reviewed

#40867 [VarDumper] Add PHP 8.1 enums tests
  src/Symfony/Component/VarDumper/Tests/Cloner/VarClonerTest.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/BackedEnumFixture.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/Php81Enums.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/UnitEnumFixture.php
Labels: Status: Reviewed, VarDumper

#40876 [DependencyInjection] Add conflict rules for incompatible ext-psr versions
  composer.json
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/composer.json
Labels: DependencyInjection, Status: Reviewed

#40872 [DependencyInjection] [AliasDeprecatedPublicServicesPass] Noop when the service is private
  src/Symfony/Component/DependencyInjection/Compiler/AliasDeprecatedPublicServicesPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AliasDeprecatedPublicServicesPassTest.php
Labels: Bug, DependencyInjection, Status: Reviewed

#40848 [DependencyInjection] Improve autowiring errors when named autowiring aliases exist
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
Labels: DependencyInjection, Status: Reviewed

#40884 [Semaphore] Inline lua scripts used by semaphore
  src/Symfony/Component/Semaphore/Store/RedisStore.php
  src/Symfony/Component/Semaphore/Store/Resources/redis_delete.lua
  src/Symfony/Component/Semaphore/Store/Resources/redis_put_off_expiration.lua
  src/Symfony/Component/Semaphore/Store/Resources/redis_save.lua
Labels: Feature, Semaphore, Status: Reviewed

#40878 [Config] Use plural name on array values
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList.config.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues.config.php
  src/Symfony/Component/Config/Tests/Builder/GeneratedConfigTest.php
Labels: BC Break, Bug, Config, Status: Needs Review

#40877 [Config] Make sure one can build cache on Windows and then run in (Docker) Linux
  src/Symfony/Component/Config/Builder/ClassBuilder.php
Labels: Bug, Config, Status: Reviewed

#40875 [FrameworkBundle] Deprecate creating public workflow services
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/workflow.php
Labels: Deprecation, FrameworkBundle, Status: Reviewed

#38475 [Translation] Adding Translation Providers
  UPGRADE-5.3.md
  UPGRADE-6.0.md
  link
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation_providers.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/Translation/Bridge/Loco/.gitattributes
  src/Symfony/Component/Translation/Bridge/Loco/.gitignore
  src/Symfony/Component/Translation/Bridge/Loco/CHANGELOG.md
  src/Symfony/Component/Translation/Bridge/Loco/LICENSE
  src/Symfony/Component/Translation/Bridge/Loco/Provider/LocoProvider.php
  src/Symfony/Component/Translation/Bridge/Loco/Provider/LocoProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Loco/README.md
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Bridge/Loco/composer.json
  src/Symfony/Component/Translation/Bridge/Loco/phpunit.xml.dist
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Catalogue/AbstractOperation.php
  src/Symfony/Component/Translation/Command/TranslationPullCommand.php
  src/Symfony/Component/Translation/Command/TranslationPushCommand.php
  src/Symfony/Component/Translation/Command/TranslationTrait.php
  src/Symfony/Component/Translation/DataCollectorTranslator.php
  src/Symfony/Component/Translation/Exception/IncompleteDsnException.php
  src/Symfony/Component/Translation/Exception/ProviderException.php
  src/Symfony/Component/Translation/Exception/ProviderExceptionInterface.php
  src/Symfony/Component/Translation/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/LoggingTranslator.php
  src/Symfony/Component/Translation/Provider/AbstractProviderFactory.php
  src/Symfony/Component/Translation/Provider/Dsn.php
  src/Symfony/Component/Translation/Provider/FilteringProvider.php
  src/Symfony/Component/Translation/Provider/NullProvider.php
  src/Symfony/Component/Translation/Provider/NullProviderFactory.php
  src/Symfony/Component/Translation/Provider/ProviderFactoryInterface.php
  src/Symfony/Component/Translation/Provider/ProviderInterface.php
  src/Symfony/Component/Translation/Provider/TranslationProviderCollection.php
  src/Symfony/Component/Translation/Provider/TranslationProviderCollectionFactory.php
  src/Symfony/Component/Translation/Tests/Command/TranslationProviderTestCase.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPullCommandTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPushCommandTest.php
  src/Symfony/Component/Translation/Tests/DependencyInjection/TranslationPathsPassTest.php
  src/Symfony/Component/Translation/Tests/Loader/XliffFileLoaderTest.php
  src/Symfony/Component/Translation/Tests/Provider/DsnTest.php
  src/Symfony/Component/Translation/Tests/Provider/NullProviderFactoryTest.php
  src/Symfony/Component/Translation/Tests/ProviderFactoryTestCase.php
  src/Symfony/Component/Translation/Tests/ProviderTestCase.php
  src/Symfony/Component/Translation/Tests/TranslatorBagTest.php
  src/Symfony/Component/Translation/Translator.php
  src/Symfony/Component/Translation/TranslatorBag.php
  src/Symfony/Component/Translation/TranslatorBagInterface.php
  src/Symfony/Component/Translation/composer.json
Labels: Feature, Status: Reviewed, Translation

#40897 [Config] Improve exception messages when extension could not be found
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
Labels: Bug, Config, Status: Needs Review

#40910 [FrameworkBundle] Bump symfony/translation
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed

#40911 [Translation] Move ProviderTestCase out of the Tests namespace
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Test/ProviderTestCase.php
Labels: Bug, Status: Reviewed, Translation

#40913 [Translation] Move ProviderFactoryTestCase out of the Tests namespace
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderFactoryTest.php
  src/Symfony/Component/Translation/Test/ProviderFactoryTestCase.php
Labels: Bug, Status: Needs Review, Translation

#40914 [Translation] The tests for the Loco bridge require symfony/config
  src/Symfony/Component/Translation/Bridge/Loco/composer.json
Labels: Bug, Status: Reviewed, Translation

#40514 [Yaml] Allow tabs as separators between tokens
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed

#40919 [Mailer] use correct spelling when accessing the SMTP php.ini value
  src/Symfony/Component/Mailer/Tests/Transport/NativeTransportFactoryTest.php
  src/Symfony/Component/Mailer/Transport/NativeTransportFactory.php
Labels: Bug, Mailer, Status: Reviewed

#40924 [Yaml] make fabbot happy
  src/Symfony/Component/Yaml/Parser.php
Labels: Status: Reviewed, Yaml

#40932 [CI] Make sure to restore default locale
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
  src/Symfony/Component/Intl/Tests/Data/Provider/AbstractDataProviderTest.php
  src/Symfony/Component/Intl/Tests/ResourceBundleTestCase.php
  src/Symfony/Contracts/Translation/Test/TranslatorTest.php
Labels: Status: Reviewed

#40936 [DependencyInjection] Add missing bool type in procesValue()
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
Labels: DependencyInjection, Status: Needs Review

#40934 [Translation] [CI] Specify terminal width
  src/Symfony/Component/Translation/Tests/Command/TranslationPullCommandTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPushCommandTest.php
Labels: Status: Reviewed, Translation

#40915 [PasswordHasher] fix copy paste typos from UserPasswordEncoderInterface
  src/Symfony/Component/PasswordHasher/Hasher/UserPasswordHasherInterface.php
Labels: Bug, PasswordHasher, Status: Reviewed

#40903 [Config] Builder: Remove typehints and allow for EnvConfigurator
  src/Symfony/Component/Config/Builder/ClassBuilder.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/Loader/ParamConfigurator.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/Placeholders.config.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/Placeholders.output.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/Placeholders.php
  src/Symfony/Component/Config/Tests/Builder/GeneratedConfigTest.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/AbstractConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/EnvConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
Labels: Bug, Config, Status: Reviewed

#40950 [Config] Remove double semicolons from autogenerated config classes
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
Labels: Bug, Config, Status: Reviewed

#40928 [CI] Sort packages by length to match modified package better
  .github/get-modified-packages.php
Labels: Status: Reviewed

#40960 [Translation] [Loco] Simplify namespace
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation_providers.php
  src/Symfony/Component/Translation/Bridge/Loco/LocoProvider.php
  src/Symfony/Component/Translation/Bridge/Loco/LocoProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Translation/Tests/Command/TranslationProviderTestCase.php
Labels: Status: Reviewed, Translation

#40962 [Mime] DataPart: remove confusing fix-me comment
  src/Symfony/Component/Mime/Part/DataPart.php
Labels: Mime, Status: Reviewed

#40946 [DoctrineBridge] run tests against doctrine/persistence 2.1
  .travis.yml
Labels: DoctrineBridge, Status: Reviewed

#40964 [HttpFoundation] Fixes for PHP 8.1 deprecations
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/Fixtures/response-functional/cookie_raw_urlencode.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#40956 [Config] [ConfigBuilder] Set FQCN as properties type instead of class name
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList.config.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList.output.php
Labels: Bug, Config, Ready, Status: Reviewed

#40967 [Translation] [Loco] Remove SCHEME const
  src/Symfony/Component/Translation/Bridge/Loco/LocoProvider.php
  src/Symfony/Component/Translation/Bridge/Loco/LocoProviderFactory.php
Labels: Status: Reviewed, Translation

#40968 [Config] Remove unused sprintf + coding standards
  src/Symfony/Component/Config/Builder/ClassBuilder.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
Labels: Bug, Config, Status: Reviewed

#40983 [Mailer] Move CHANGELOG entry
  src/Symfony/Component/Mailer/Bridge/Amazon/CHANGELOG.md
  src/Symfony/Component/Mailer/CHANGELOG.md
Labels: Mailer, Status: Reviewed

#40966 [Messenger] fix manual amqp setup when autosetup disabled
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Bug, Messenger, Status: Reviewed

#40951 [FrameworkBundle] Make debug:event-dispatcher search case insensitive
  src/Symfony/Bundle/FrameworkBundle/Command/EventDispatcherDebugCommand.php
Labels: Feature, FrameworkBundle, Status: Needs Work

#40923 [Yaml] expose references detected in inline notation structures
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed, Yaml

#40986 [Console] Negatable option are null by default
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Input/InputOption.php
  src/Symfony/Component/Console/Tests/Input/ArgvInputTest.php
  src/Symfony/Component/Console/Tests/Input/InputOptionTest.php
Labels: Bug, Console, Status: Reviewed

#40993 [Security] [Security/Core] fix checking for bcrypt
  src/Symfony/Component/Security/Core/Encoder/NativePasswordEncoder.php
Labels: Bug, Security, Status: Needs Review

#40920 [PasswordHasher] accept hashing passwords with nul bytes or longer than 72 bytes when using bcrypt
  src/Symfony/Component/PasswordHasher/Hasher/NativePasswordHasher.php
  src/Symfony/Component/PasswordHasher/Hasher/SodiumPasswordHasher.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/NativePasswordHasherTest.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/SodiumPasswordHasherTest.php
Labels: Bug, PasswordHasher, Status: Reviewed

#40973 [HttpFoundation] Small phpdoc improvement
  src/Symfony/Component/HttpFoundation/Request.php
Labels: HttpFoundation, Status: Reviewed
