Repository symfony/symfony, pull requests merged in 2021-09, with the labels that each got.

#42820 remove unneeded eval given PHP 8 in 6.0
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
Labels: Status: Reviewed

#42819 Fix tests failing with DBAL 3
  composer.json
  src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php
  src/Symfony/Bridge/Doctrine/Tests/DataCollector/DoctrineDataCollectorTest.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrinePingConnectionMiddlewareTest.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Cache/Traits/PdoTrait.php
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/ConnectionTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/DoctrineIntegrationTest.php
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Status: Reviewed

#42776 [Security] Do not deauthenticate token on user change if not an AbstractToken
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
Labels: Security, Bug, Status: Reviewed

#42815 [DependencyInjection] Fix circular reference in autowired decorators
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
Labels: DependencyInjection, Bug, Status: Reviewed

#42808 [Translation] Throw exception if symfony/finder is not installed for PhpExtractor
  src/Symfony/Component/Translation/Extractor/PhpExtractor.php
Labels: Translation, DX, Status: Reviewed

#42755 [SecurityBundle] Remove invalid template variable for Debug Collector
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
Labels: Bug, SecurityBundle, Status: Reviewed

#42830 [HttpKernel] Fix empty timeline in profiler
  src/Symfony/Component/HttpKernel/DataCollector/TimeDataCollector.php
Labels: Bug, HttpKernel, Status: Reviewed

#42831 [Mime] Update mime types
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Resources/bin/update_mime_types.php
Labels: Status: Reviewed, Mime

#42835 [Cache] Fix implicit float to int cast
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
Labels: Bug, Status: Reviewed, Cache

#42862 [Framework] Clean "about" command help after Environment section was removed
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
Labels: Bug, Status: Reviewed

#42877 [PasswordHasher] Fix documentation link
  src/Symfony/Component/PasswordHasher/README.md
Labels: Status: Reviewed, PasswordHasher

#42872 [Mime] Update mime types
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Resources/bin/update_mime_types.php
Labels: Feature, Status: Reviewed, Mime

#42856 [Security] Avoid extra warning when preloading file when EL is not installed
  src/Symfony/Component/Security/Core/Authorization/ExpressionLanguage.php
Labels: Security, Status: Reviewed

#42876 [HttpKernel] Backport type declaration fixes
  src/Symfony/Component/HttpKernel/CacheClearer/ChainCacheClearer.php
  src/Symfony/Component/HttpKernel/CacheClearer/Psr6CacheClearer.php
  src/Symfony/Component/HttpKernel/CacheWarmer/CacheWarmerAggregate.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver.php
  src/Symfony/Component/HttpKernel/DependencyInjection/LazyLoadingFragmentHandler.php
  src/Symfony/Component/HttpKernel/DependencyInjection/MergeExtensionConfigurationPass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/ServicesResetter.php
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
  src/Symfony/Component/HttpKernel/EventListener/RouterListener.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Log/Logger.php
Labels: Bug, HttpKernel, Status: Reviewed

#42834 Run PHP 8.1 CI with all extensions
  .github/workflows/unit-tests.yml
Labels: Status: Reviewed

#42879 fixed a typo in the upgrade guide
  UPGRADE-5.4.md
Labels: Status: Reviewed

#42887 Add missing Romanian translations
  src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf
Labels: Status: Reviewed, Missing translations

#42800 Display the roles of the logged-in user in the Web Debug Toolbar
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
Labels: Feature, Status: Reviewed, Deprecation

#41390 [HttpKernel] Add session cookie handling in cli context
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/test.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/EventListener/AbstractTestSessionListener.php
  src/Symfony/Component/HttpKernel/EventListener/SessionListener.php
  src/Symfony/Component/HttpKernel/EventListener/TestSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TestSessionListenerTest.php
Labels: HttpKernel, Status: Reviewed

#42902 [Security] Fix tests
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
Labels: Security, Bug, Status: Needs Review

#42900 [HttpFoundation] Add a flag to hasSession to distinguished session from factory
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#42906 Make test.session.listener compatible with SF 6.0 SessionListener
  src/Symfony/Bundle/FrameworkBundle/Resources/config/test.php
Labels: Feature, Status: Reviewed

#42901 [Security] Relax return type on VoterInterface
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Security/Core/Authorization/Voter/VoterInterface.php
Labels: Security, Status: Reviewed

#42903 [HttpKernel] Fix broken mock
  src/Symfony/Component/HttpKernel/Tests/CacheClearer/Psr6CacheClearerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#42896 [HttpClient] Fix handling timeouts when responses are destructed
  src/Symfony/Component/HttpClient/Internal/ClientState.php
  src/Symfony/Component/HttpClient/Response/ResponseTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/NativeHttpClientTest.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Bug, Translation, Status: Needs Review

#42904 [Cache] Make sure PdoAdapter::prune() always returns a bool
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
  src/Symfony/Component/Cache/Traits/PdoTrait.php
Labels: Bug, Status: Reviewed, Cache

#42098 [PropertyInfo] Support for intersection types
  psalm.xml
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php81Dummy.php
Labels: Bug, Status: Reviewed, PropertyInfo, Status: Needs Decision

#42771 [FrameworkBundle] Match 5.3 and 5.1 mailer configuration
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_debug.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#41410 [DependencyInjection] Improve array phpdoc of `ContainerBuilder`
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Status: Reviewed

#42907 Fix tests when security-http 5.4 uses security-core 6.0
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
Labels: Bug, Status: Reviewed

#42881 [Console] Add more context when CommandIsSuccessful fails
  src/Symfony/Component/Console/Tester/Constraint/CommandIsSuccessful.php
  src/Symfony/Component/Console/Tests/Tester/Constraint/CommandIsSuccessfulTest.php
Labels: Console, Status: Reviewed

#42918 [Translation] Backport type fixes
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Translation/DataCollectorTranslator.php
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPathsPass.php
  src/Symfony/Component/Translation/Exception/ProviderException.php
  src/Symfony/Component/Translation/Extractor/PhpExtractor.php
  src/Symfony/Component/Translation/LoggingTranslator.php
  src/Symfony/Component/Translation/Provider/TranslationProviderCollection.php
  src/Symfony/Component/Translation/Provider/TranslationProviderCollectionFactory.php
  src/Symfony/Component/Translation/PseudoLocalizationTranslator.php
  src/Symfony/Component/Translation/Reader/TranslationReader.php
  src/Symfony/Component/Translation/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Component/Translation/Tests/Exception/ProviderExceptionTest.php
  src/Symfony/Component/Translation/Translator.php
  src/Symfony/Component/Translation/Writer/TranslationWriter.php
  src/Symfony/Component/Translation/composer.json
Labels: Bug, Translation, Status: Needs Review

#42913 Turn `@method` annotations into real method declarations
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelTraitTest.php
  src/Symfony/Component/HttpClient/MockHttpClient.php
  src/Symfony/Component/HttpClient/ScopingHttpClient.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
  src/Symfony/Component/Security/Core/User/UserProviderInterface.php
  src/Symfony/Component/Translation/TranslatorBagInterface.php
  src/Symfony/Contracts/HttpClient/HttpClientInterface.php
  src/Symfony/Contracts/Translation/TranslatorInterface.php
Labels: Status: Needs Review

#42202 [Translation] add types to private properties
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProvider.php
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Loco/LocoProvider.php
  src/Symfony/Component/Translation/Bridge/Loco/LocoProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Lokalise/LokaliseProvider.php
  src/Symfony/Component/Translation/Bridge/Lokalise/LokaliseProviderFactory.php
  src/Symfony/Component/Translation/Command/TranslationPullCommand.php
  src/Symfony/Component/Translation/Command/TranslationPushCommand.php
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Translation/DataCollector/TranslationDataCollector.php
  src/Symfony/Component/Translation/DataCollectorTranslator.php
  src/Symfony/Component/Translation/DependencyInjection/TranslationDumperPass.php
  src/Symfony/Component/Translation/DependencyInjection/TranslationExtractorPass.php
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPass.php
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPathsPass.php
  src/Symfony/Component/Translation/Dumper/CsvFileDumper.php
  src/Symfony/Component/Translation/Dumper/YamlFileDumper.php
  src/Symfony/Component/Translation/Exception/ProviderException.php
  src/Symfony/Component/Translation/Extractor/ChainExtractor.php
  src/Symfony/Component/Translation/Extractor/PhpExtractor.php
  src/Symfony/Component/Translation/Formatter/MessageFormatter.php
  src/Symfony/Component/Translation/Loader/CsvFileLoader.php
  src/Symfony/Component/Translation/Loader/PhpFileLoader.php
  src/Symfony/Component/Translation/LoggingTranslator.php
  src/Symfony/Component/Translation/MessageCatalogue.php
  src/Symfony/Component/Translation/Provider/Dsn.php
  src/Symfony/Component/Translation/Provider/FilteringProvider.php
  src/Symfony/Component/Translation/Provider/TranslationProviderCollectionFactory.php
  src/Symfony/Component/Translation/PseudoLocalizationTranslator.php
  src/Symfony/Component/Translation/Reader/TranslationReader.php
  src/Symfony/Component/Translation/TranslatableMessage.php
  src/Symfony/Component/Translation/Translator.php
  src/Symfony/Component/Translation/TranslatorBag.php
  src/Symfony/Component/Translation/Writer/TranslationWriter.php
Labels: Translation, Status: Reviewed

#42917 [HttpFoundation] Backport type fixes
  src/Symfony/Component/HttpFoundation/Cookie.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Session/Storage/MockFileSessionStorage.php
Labels: Bug, HttpFoundation, Status: Needs Review

#42146 [HttpFoundation] Add types to private properties
  src/Symfony/Component/HttpFoundation/AcceptHeader.php
  src/Symfony/Component/HttpFoundation/AcceptHeaderItem.php
  src/Symfony/Component/HttpFoundation/Cookie.php
  src/Symfony/Component/HttpFoundation/ExpressionRequestMatcher.php
  src/Symfony/Component/HttpFoundation/File/UploadedFile.php
  src/Symfony/Component/HttpFoundation/IpUtils.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/RequestMatcher.php
  src/Symfony/Component/HttpFoundation/RequestStack.php
  src/Symfony/Component/HttpFoundation/Session/Attribute/AttributeBag.php
  src/Symfony/Component/HttpFoundation/Session/Flash/AutoExpireFlashBag.php
  src/Symfony/Component/HttpFoundation/Session/Flash/FlashBag.php
  src/Symfony/Component/HttpFoundation/Session/Session.php
  src/Symfony/Component/HttpFoundation/Session/SessionBagProxy.php
  src/Symfony/Component/HttpFoundation/Session/SessionFactory.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/AbstractSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MarshallingSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MemcachedSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MigratingSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MongoDbSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/RedisSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/StrictSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/MetadataBag.php
  src/Symfony/Component/HttpFoundation/Session/Storage/MockFileSessionStorage.php
  src/Symfony/Component/HttpFoundation/Session/Storage/MockFileSessionStorageFactory.php
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorageFactory.php
  src/Symfony/Component/HttpFoundation/Session/Storage/PhpBridgeSessionStorageFactory.php
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/RequestAttributeValueSame.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseCookieValueSame.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseFormatSame.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseHasCookie.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseHasHeader.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseHeaderSame.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseStatusCodeSame.php
  src/Symfony/Component/HttpFoundation/UrlHelper.php
Labels: HttpFoundation, Status: Reviewed

#42925 [DoctrineBridge] Remove DoctrineTestHelper and TestRepositoryFactory
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Test/DoctrineTestHelper.php
  src/Symfony/Bridge/Doctrine/Test/TestRepositoryFactory.php
  src/Symfony/Bridge/Doctrine/Tests/DoctrineTestHelper.php
  src/Symfony/Bridge/Doctrine/Tests/TestRepositoryFactory.php
Labels: Feature, Status: Needs Review, DoctrineBridge

#42926 [MonologBridge] Add types to private properties
  src/Symfony/Bridge/Monolog/Command/ServerLogCommand.php
  src/Symfony/Bridge/Monolog/Formatter/ConsoleFormatter.php
  src/Symfony/Bridge/Monolog/Formatter/VarDumperFormatter.php
  src/Symfony/Bridge/Monolog/Handler/ChromePhpHandler.php
  src/Symfony/Bridge/Monolog/Handler/ConsoleHandler.php
  src/Symfony/Bridge/Monolog/Handler/ElasticsearchLogstashHandler.php
  src/Symfony/Bridge/Monolog/Handler/FingersCrossed/NotFoundActivationStrategy.php
  src/Symfony/Bridge/Monolog/Handler/FirePHPHandler.php
  src/Symfony/Bridge/Monolog/Handler/MailerHandler.php
  src/Symfony/Bridge/Monolog/Handler/NotifierHandler.php
  src/Symfony/Bridge/Monolog/Handler/ServerLogHandler.php
  src/Symfony/Bridge/Monolog/Messenger/ResetLoggersWorkerSubscriber.php
  src/Symfony/Bridge/Monolog/Processor/ConsoleCommandProcessor.php
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bridge/Monolog/Processor/RouteProcessor.php
Labels: MonologBridge, Status: Needs Review

#42924 [DoctrineBridge] Add types to private properties
  src/Symfony/Bridge/Doctrine/CacheWarmer/ProxyCacheWarmer.php
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php
  src/Symfony/Bridge/Doctrine/DataCollector/ObjectParameter.php
  src/Symfony/Bridge/Doctrine/DataFixtures/ContainerAwareLoader.php
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/DoctrineValidationPass.php
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPass.php
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterMappingsPass.php
  src/Symfony/Bridge/Doctrine/DependencyInjection/Security/UserProvider/EntityFactory.php
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/DoctrineChoiceLoader.php
  src/Symfony/Bridge/Doctrine/IdGenerator/UlidGenerator.php
  src/Symfony/Bridge/Doctrine/IdGenerator/UuidGenerator.php
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineClearEntityManagerWorkerSubscriber.php
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/SchemaListener/MessengerTransportDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/PdoCacheAdapterDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/RememberMeTokenProviderDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php
  src/Symfony/Bridge/Doctrine/Validator/DoctrineLoader.php
Labels: Status: Needs Review, DoctrineBridge

#42855 [DependencyInjection] Optimize PHP preloading
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/Preloader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
Labels: DependencyInjection, Status: Needs Review, Performance

#41566 [FrameworkBundle] Introduced new method for getting bundles config path
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#42927 [TwigBridge] Add types to private properties
  src/Symfony/Bridge/Twig/AppVariable.php
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bridge/Twig/DataCollector/TwigDataCollector.php
  src/Symfony/Bridge/Twig/ErrorRenderer/TwigErrorRenderer.php
  src/Symfony/Bridge/Twig/Extension/AssetExtension.php
  src/Symfony/Bridge/Twig/Extension/CodeExtension.php
  src/Symfony/Bridge/Twig/Extension/CsrfRuntime.php
  src/Symfony/Bridge/Twig/Extension/DumpExtension.php
  src/Symfony/Bridge/Twig/Extension/FormExtension.php
  src/Symfony/Bridge/Twig/Extension/HttpFoundationExtension.php
  src/Symfony/Bridge/Twig/Extension/HttpKernelRuntime.php
  src/Symfony/Bridge/Twig/Extension/LogoutUrlExtension.php
  src/Symfony/Bridge/Twig/Extension/ProfilerExtension.php
  src/Symfony/Bridge/Twig/Extension/RoutingExtension.php
  src/Symfony/Bridge/Twig/Extension/SecurityExtension.php
  src/Symfony/Bridge/Twig/Extension/SerializerRuntime.php
  src/Symfony/Bridge/Twig/Extension/StopwatchExtension.php
  src/Symfony/Bridge/Twig/Extension/TranslationExtension.php
  src/Symfony/Bridge/Twig/Extension/WebLinkExtension.php
  src/Symfony/Bridge/Twig/Extension/WorkflowExtension.php
  src/Symfony/Bridge/Twig/Form/TwigRendererEngine.php
  src/Symfony/Bridge/Twig/Mime/BodyRenderer.php
  src/Symfony/Bridge/Twig/Mime/NotificationEmail.php
  src/Symfony/Bridge/Twig/Mime/TemplatedEmail.php
  src/Symfony/Bridge/Twig/Mime/WrappedTemplatedEmail.php
  src/Symfony/Bridge/Twig/Node/DumpNode.php
  src/Symfony/Bridge/Twig/NodeVisitor/Scope.php
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationDefaultDomainNodeVisitor.php
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationNodeVisitor.php
  src/Symfony/Bridge/Twig/Translation/TwigExtractor.php
Labels: Status: Needs Review, TwigBridge

#42934 [VarDumper] Backport type fixes
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Command/Descriptor/CliDescriptor.php
  src/Symfony/Component/VarDumper/Server/Connection.php
  src/Symfony/Component/VarDumper/Server/DumpServer.php
  src/Symfony/Component/VarDumper/VarDumper.php
Labels: Bug, VarDumper, Status: Needs Review

#42931 [Ldap] Backport refactorings
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/UpdateOperation.php
  src/Symfony/Component/Ldap/Entry.php
Labels: Status: Needs Review, Ldap

#41615 [Serializer] Add option to skip uninitialized typed properties
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/SkipUninitializedValuesTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/TypedPropertiesObject.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Feature, Status: Reviewed

#42937 [Routing] Backport type fixes
  src/Symfony/Component/Routing/Matcher/Dumper/CompiledUrlMatcherTrait.php
  src/Symfony/Component/Routing/RouteCollection.php
Labels: Routing, Status: Needs Review

#42938 [Intl] Add types to private properties
  src/Symfony/Component/Intl/Data/Bundle/Compiler/GenrbCompiler.php
  src/Symfony/Component/Intl/Data/Bundle/Reader/BufferedBundleReader.php
  src/Symfony/Component/Intl/Data/Bundle/Reader/BundleEntryReader.php
  src/Symfony/Component/Intl/Data/Generator/AbstractDataGenerator.php
  src/Symfony/Component/Intl/Data/Generator/CurrencyDataGenerator.php
  src/Symfony/Component/Intl/Data/Generator/FallbackTrait.php
  src/Symfony/Component/Intl/Data/Generator/GeneratorConfig.php
  src/Symfony/Component/Intl/Data/Generator/LanguageDataGenerator.php
  src/Symfony/Component/Intl/Data/Generator/LocaleDataGenerator.php
  src/Symfony/Component/Intl/Data/Generator/RegionDataGenerator.php
  src/Symfony/Component/Intl/Data/Generator/ScriptDataGenerator.php
  src/Symfony/Component/Intl/Data/Generator/TimezoneDataGenerator.php
  src/Symfony/Component/Intl/Data/Util/ArrayAccessibleResourceBundle.php
  src/Symfony/Component/Intl/Data/Util/RingBuffer.php
  src/Symfony/Component/Intl/Intl.php
  src/Symfony/Component/Intl/Locale.php
  src/Symfony/Component/Intl/ResourceBundle.php
  src/Symfony/Component/Intl/Util/GitRepository.php
Labels: Intl, Status: Needs Review

#42930 [Ldap] Add types to private properties
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Adapter.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Collection.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/EntryManager.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/UpdateOperation.php
  src/Symfony/Component/Ldap/Entry.php
  src/Symfony/Component/Ldap/Ldap.php
  src/Symfony/Component/Ldap/Security/CheckLdapCredentialsListener.php
  src/Symfony/Component/Ldap/Security/LdapAuthenticator.php
  src/Symfony/Component/Ldap/Security/LdapBadge.php
  src/Symfony/Component/Ldap/Security/LdapUser.php
  src/Symfony/Component/Ldap/Security/LdapUserProvider.php
Labels: Status: Needs Review, Ldap

#42933 [VarDumper] Add types to private properties
  src/Symfony/Component/VarDumper/Caster/ArgsStub.php
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
  src/Symfony/Component/VarDumper/Caster/LinkStub.php
  src/Symfony/Component/VarDumper/Caster/MemcachedCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Cloner/Data.php
  src/Symfony/Component/VarDumper/Cloner/Stub.php
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
  src/Symfony/Component/VarDumper/Command/Descriptor/CliDescriptor.php
  src/Symfony/Component/VarDumper/Command/Descriptor/HtmlDescriptor.php
  src/Symfony/Component/VarDumper/Command/ServerDumpCommand.php
  src/Symfony/Component/VarDumper/Dumper/AbstractDumper.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Dumper/ContextProvider/RequestContextProvider.php
  src/Symfony/Component/VarDumper/Dumper/ContextProvider/SourceContextProvider.php
  src/Symfony/Component/VarDumper/Dumper/ContextualizedDumper.php
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
  src/Symfony/Component/VarDumper/Dumper/ServerDumper.php
  src/Symfony/Component/VarDumper/Server/Connection.php
  src/Symfony/Component/VarDumper/Server/DumpServer.php
  src/Symfony/Component/VarDumper/Test/VarDumperTestTrait.php
Labels: VarDumper, Status: Needs Review

#42936 [Routing] Add types to private properties
  src/Symfony/Component/Routing/CompiledRoute.php
  src/Symfony/Component/Routing/Generator/CompiledUrlGenerator.php
  src/Symfony/Component/Routing/Generator/Dumper/GeneratorDumper.php
  src/Symfony/Component/Routing/Generator/UrlGenerator.php
  src/Symfony/Component/Routing/Loader/Configurator/CollectionConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/ImportConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/RoutingConfigurator.php
  src/Symfony/Component/Routing/Loader/ContainerLoader.php
  src/Symfony/Component/Routing/Loader/YamlFileLoader.php
  src/Symfony/Component/Routing/Matcher/Dumper/CompiledUrlMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/Dumper/CompiledUrlMatcherTrait.php
  src/Symfony/Component/Routing/Matcher/Dumper/MatcherDumper.php
  src/Symfony/Component/Routing/Matcher/Dumper/StaticPrefixCollection.php
  src/Symfony/Component/Routing/Matcher/ExpressionLanguageProvider.php
  src/Symfony/Component/Routing/RequestContext.php
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Routing/RouteCollection.php
  src/Symfony/Component/Routing/Router.php
Labels: Routing, Status: Needs Review

#42943 [Mailer] Add types to private properties
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunHttpTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetApiTransport.php
  src/Symfony/Component/Mailer/Bridge/OhMySmtp/Transport/OhMySmtpApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Transport/SendinblueApiTransport.php
  src/Symfony/Component/Mailer/DataCollector/MessageDataCollector.php
  src/Symfony/Component/Mailer/DelayedEnvelope.php
  src/Symfony/Component/Mailer/Envelope.php
  src/Symfony/Component/Mailer/Event/MessageEvent.php
  src/Symfony/Component/Mailer/Event/MessageEvents.php
  src/Symfony/Component/Mailer/EventListener/EnvelopeListener.php
  src/Symfony/Component/Mailer/EventListener/MessageListener.php
  src/Symfony/Component/Mailer/EventListener/MessageLoggerListener.php
  src/Symfony/Component/Mailer/Exception/HttpTransportException.php
  src/Symfony/Component/Mailer/Exception/TransportException.php
  src/Symfony/Component/Mailer/Header/MetadataHeader.php
  src/Symfony/Component/Mailer/Mailer.php
  src/Symfony/Component/Mailer/Messenger/MessageHandler.php
  src/Symfony/Component/Mailer/Messenger/SendEmailMessage.php
  src/Symfony/Component/Mailer/SentMessage.php
  src/Symfony/Component/Mailer/Test/Constraint/EmailCount.php
  src/Symfony/Component/Mailer/Transport.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
  src/Symfony/Component/Mailer/Transport/Dsn.php
  src/Symfony/Component/Mailer/Transport/FailoverTransport.php
  src/Symfony/Component/Mailer/Transport/RoundRobinTransport.php
  src/Symfony/Component/Mailer/Transport/SendmailTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/AbstractStream.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/ProcessStream.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/SocketStream.php
  src/Symfony/Component/Mailer/Transport/Transports.php
Labels: Status: Needs Review, Mailer

#42939 [Runtime] Relax console command list test
  src/Symfony/Component/Runtime/Tests/phpt/command_list.phpt
Labels: Bug, Status: Reviewed, Runtime

#42932 [Messenger] Support rediss in transport bridge
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisTransportFactoryTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisTransportFactory.php
Labels: Bug, Status: Reviewed, Messenger

#42949 Remove needless TypeErrors
  src/Symfony/Bundle/FrameworkBundle/HttpCache/HttpCache.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
  src/Symfony/Component/Cache/Adapter/CouchbaseBucketAdapter.php
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpClient/AsyncDecoratorTrait.php
  src/Symfony/Component/HttpClient/CachingHttpClient.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/MockHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/TraceableHttpClient.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/SessionHandlerFactory.php
  src/Symfony/Component/Mime/Part/SMimePart.php
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/ByteString.php
Labels: Status: Reviewed

#42953 [Notifier] Add missing types to SmscTransport
  src/Symfony/Component/Notifier/Bridge/Smsc/SmscTransport.php
Labels: Bug, Status: Needs Review, Notifier

#42961 [DoctrineBridge] Remove unused code
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
Labels: Bug, Status: Needs Review, DoctrineBridge

#42960 [Lock] Remove unused variable
  src/Symfony/Component/Lock/Store/CombinedStore.php
Labels: Bug, Status: Needs Review, Lock

#42958 [DoctrineBridge] Replace string with FQCN resolution in EntityType
  src/Symfony/Bridge/Doctrine/Form/Type/EntityType.php
Labels: Status: Needs Review, DoctrineBridge

#42929 [ErrorHandler] Add types to private properties
  src/Symfony/Component/ErrorHandler/BufferingLogger.php
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/ErrorHandler/Error/FatalError.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorHandler/ErrorRenderer/SerializerErrorRenderer.php
  src/Symfony/Component/ErrorHandler/Exception/FlattenException.php
  src/Symfony/Component/ErrorHandler/Exception/SilencedErrorContext.php
Labels: Status: Needs Review, ErrorHandler

#42928 [Lock] Add types to private properties
  src/Symfony/Component/Lock/Key.php
  src/Symfony/Component/Lock/Lock.php
  src/Symfony/Component/Lock/LockFactory.php
  src/Symfony/Component/Lock/Store/CombinedStore.php
  src/Symfony/Component/Lock/Store/FlockStore.php
  src/Symfony/Component/Lock/Store/InMemoryStore.php
  src/Symfony/Component/Lock/Store/MemcachedStore.php
  src/Symfony/Component/Lock/Store/MongoDbStore.php
  src/Symfony/Component/Lock/Store/PdoStore.php
  src/Symfony/Component/Lock/Store/PostgreSqlStore.php
  src/Symfony/Component/Lock/Store/RedisStore.php
  src/Symfony/Component/Lock/Store/ZookeeperStore.php
Labels: Status: Needs Review, Lock

#42965 [Cache] Deprecate support for Doctrine Cache
  UPGRADE-5.4.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/doctrine_cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/cache.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/doctrine_cache.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/cache.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/doctrine_cache.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Cache/Adapter/DoctrineAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Tests/Adapter/DoctrineAdapterTest.php
Labels: Feature, Status: Reviewed, Cache, Deprecation

#40120 [Cache] Add CouchbaseCollectionAdapter compatibility with sdk 3.0.0
  .github/workflows/psalm.yml
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/CouchbaseCollectionAdapter.php
  src/Symfony/Component/Cache/LockRegistry.php
  src/Symfony/Component/Cache/Tests/Adapter/CouchbaseCollectionAdapterTest.php
Labels: Feature, Status: Reviewed, Cache

#42502 [Serializer] Add support for collecting type error during denormalization
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Exception/NotNormalizableValueException.php
  src/Symfony/Component/Serializer/Exception/PartialDenormalizationException.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/Normalizer/BackedEnumNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeZoneNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Php74Full.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Feature, Status: Reviewed

#42968 [HttpKernel] Relax service locator tests. Allow any order
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RemoveEmptyControllerArgumentLocatorsPassTest.php
Labels: HttpKernel, Status: Reviewed

#42941 Implement Message Stream for Postmark Mailer
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Transport/PostmarkApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Transport/PostmarkSmtpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Transport/PostmarkTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/MessageStreamHeader.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkSmtpTransport.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkTransportFactory.php
Labels: Feature, Status: Reviewed

#41858 [Translation] Translate translatable parameters
  src/Symfony/Component/Translation/Tests/TranslatableTest.php
  src/Symfony/Component/Translation/TranslatableMessage.php
Labels: Feature, Translation, Status: Reviewed

#42967 [Cache] Remove support for Doctrine Cache
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/doctrine_cache.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/doctrine_cache.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/doctrine_cache.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Cache/Adapter/DoctrineAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/LockRegistry.php
  src/Symfony/Component/Cache/Tests/Adapter/DoctrineAdapterTest.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CacheCollectorPassTest.php
  src/Symfony/Component/Cache/Tests/Fixtures/ArrayCache.php
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Cache/phpunit.xml.dist
Labels: Feature, Status: Needs Review, Cache

#42935 [ErrorHandler] Reword return type deprecation message
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/ErrorHandler/Tests/DebugClassLoaderTest.php
Labels: ErrorHandler

#41163 [Mesenger] Add support for reseting container services between 2 messages
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_transports.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/EventListener/ResetServicesListener.php
  src/Symfony/Component/Messenger/Tests/EventListener/ResetServicesListenerTest.php
Labels: Feature, Status: Reviewed

#42976 [Mime] Allow array as input for RawMessage
  src/Symfony/Component/Mime/RawMessage.php
  src/Symfony/Component/Mime/Tests/RawMessageTest.php
Labels: Bug, Status: Needs Review, Mime

#42672 [PropertyAccess] Fix Regression in PropertyAccessor::isWritable()
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorArrayAccessTest.php
Labels: Bug, PropertyAccess, Status: Reviewed

#42978 Fix non-existent parameter in test.session.listener
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, Status: Needs Review

#42959 [DependencyInjection] Make auto-aliases private by default
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutoAliasServicePass.php
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Compiler/ReplaceAliasByActualDefinitionPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ReplaceAliasByActualDefinitionPassTest.php
Labels: DependencyInjection, Status: Reviewed, Deprecation

#42979 [FrameworkBundle] fix session-related BC layer triggering deprecation
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#42983 [DebugClassLoader] Ignore __construct() when checking return types
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/ReturnType.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/ReturnTypeParent.php
Labels: Bug, Status: Reviewed

#42990 [Messenger] add return type
  src/Symfony/Component/Messenger/EventListener/ResetServicesListener.php
Labels: Status: Reviewed, Messenger

#43000 Display the roles of the logged-in user in the Web Debug Toolbar -- bugfix for two roles
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
Labels: Bug, Feature, Status: Reviewed

#43002 [Messenger] Add back kernel.event_subscriber tag on StopWorkerOnCustomStopExceptionListener
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
Labels: Bug, Status: Needs Review, Messenger

#42982 Add Session Token to Amazon Mailer
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesApiAsyncAwsTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesHttpAsyncAwsTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesTransportFactory.php
Labels: Feature, Status: Reviewed

#42988 [ErrorHandler] Add helper script to patch type declarations
  src/Symfony/Component/ErrorHandler/Resources/bin/patch-type-declarations
  src/Symfony/Component/ErrorHandler/composer.json
Labels: Feature, Status: Reviewed, ErrorHandler

#43008 [ErrorHandler] Update TentativeTypes
  src/Symfony/Component/ErrorHandler/Internal/TentativeTypes.php
  src/Symfony/Component/ErrorHandler/Resources/bin/extract-tentative-return-types.php
Labels: Status: Needs Review, ErrorHandler

#42969 [FrameworkBundle][Validator] Prepare removing Doctrine Cache from remaining components
  composer.json
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AnnotationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/AnnotationsCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/AutowiringTypesTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Validator/ValidatorBuilder.php
  src/Symfony/Component/Validator/composer.json
Labels: Validator, FrameworkBundle, Status: Needs Review, Deprecation

#43009 [FrameworkBundle][Validator] Remove unused code
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Validator/Tests/ValidatorBuilderTest.php
Labels: Validator, FrameworkBundle, Status: Needs Review

#42992 Added some missing Catalan translations.
  src/Symfony/Component/Security/Core/Resources/translations/security.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
Labels: Status: Reviewed, Missing translations

#43012 [ErrorHandler] Fix wrong path to autoloader, and exclude vendor classes in patch-type script
  src/Symfony/Component/ErrorHandler/Resources/bin/patch-type-declarations
Labels: Bug, Status: Needs Review

#43022 [PhpUnitBridge] Track unsilenced deprecations only for userland
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
Labels: Bug, PhpUnitBridge, Status: Needs Review

#43016 [GHA] Test on PHP 8.2 as experimental and 8.1 as a regular version
  .github/workflows/unit-tests.yml
  src/Symfony/Component/Intl/Tests/DateFormatter/AbstractIntlDateFormatterTest.php
Labels: Status: Reviewed

#43030 Pin ext-redis version in CI
  .github/workflows/unit-tests.yml
Labels: Bug, Status: Needs Review

#43018 [Mailer] Adding support for TagHeader and MetadataHeader to the Sendgrid API transport
  src/Symfony/Component/Mailer/Bridge/Sendgrid/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
Labels: Feature, Status: Reviewed, Mailer

#43041 [RateLimiter][Runtime] Remove experimental from README.md
  src/Symfony/Component/RateLimiter/README.md
  src/Symfony/Component/Runtime/README.md
Labels: Status: Reviewed, RateLimiter, Runtime

#43050 Silence Psalm errors about Enum classes
  psalm.xml
Labels: Status: Reviewed

#43053 [Mailer] [Sendgrid] Fix test
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridApiTransportTest.php
Labels: Bug, Status: Reviewed, Mailer

#42991 [FrameworkBundle] Add configureContainer(), configureRoutes() and getConfigDir() to MicroKernelTrait
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelTraitTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#43058 [WebProfilerBundle] Fix displaying certain configs
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/config.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#43031 [Form] Do not trim unassigned unicode characters
  src/Symfony/Component/Form/Tests/Util/StringUtilTest.php
  src/Symfony/Component/Form/Util/StringUtil.php
Labels: Form, Bug, Status: Needs Review, Help wanted

#43015 [DependencyInjection] Allow injecting tagged iterator as service locator arguments
  src/Symfony/Component/DependencyInjection/Compiler/ServiceLocatorTagPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ServiceLocatorTagPassTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#43062 [Serializer] Don't pass `null` to `preg_match()`
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/DataUriNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#43070 [String] Update wcswidth data with Unicode 14
  src/Symfony/Component/String/Resources/data/wcswidth_table_wide.php
  src/Symfony/Component/String/Resources/data/wcswidth_table_zero.php
Labels: Status: Reviewed, String

#43032 [HttpClient] Add types to private properties
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpClient/CachingHttpClient.php
  src/Symfony/Component/HttpClient/Chunk/DataChunk.php
  src/Symfony/Component/HttpClient/Chunk/ErrorChunk.php
  src/Symfony/Component/HttpClient/Chunk/InformationalChunk.php
  src/Symfony/Component/HttpClient/Chunk/ServerSentEvent.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/DataCollector/HttpClientDataCollector.php
  src/Symfony/Component/HttpClient/DecoratorTrait.php
  src/Symfony/Component/HttpClient/EventSourceHttpClient.php
  src/Symfony/Component/HttpClient/Exception/HttpExceptionTrait.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/HttpOptions.php
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Internal/AmpBody.php
  src/Symfony/Component/HttpClient/Internal/AmpClientState.php
  src/Symfony/Component/HttpClient/Internal/AmpListener.php
  src/Symfony/Component/HttpClient/Internal/AmpResolver.php
  src/Symfony/Component/HttpClient/Internal/Canary.php
  src/Symfony/Component/HttpClient/Internal/ClientState.php
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
  src/Symfony/Component/HttpClient/Internal/DnsCache.php
  src/Symfony/Component/HttpClient/Internal/HttplugWaitLoop.php
  src/Symfony/Component/HttpClient/Internal/PushedResponse.php
  src/Symfony/Component/HttpClient/MockHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/Psr18Client.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Response/AsyncContext.php
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Response/CommonResponseTrait.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Response/HttplugPromise.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Response/ResponseStream.php
  src/Symfony/Component/HttpClient/Response/StreamWrapper.php
  src/Symfony/Component/HttpClient/Response/TraceableResponse.php
  src/Symfony/Component/HttpClient/Response/TransportResponseTrait.php
  src/Symfony/Component/HttpClient/Retry/GenericRetryStrategy.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/ScopingHttpClient.php
  src/Symfony/Component/HttpClient/TraceableHttpClient.php
Labels: Status: Reviewed, HttpClient

#43072 [HttpClient] Remove unused and redundant properties
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
Labels: Status: Needs Review, HttpClient

#43028 [Console] Relax return type on HelperInterface::getName()
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Console/Helper/HelperInterface.php
Labels: Console, Status: Reviewed

#43073 [Notifier] Update FirebaseTransport.php
  src/Symfony/Component/Notifier/Bridge/Firebase/FirebaseTransport.php
Labels: Bug, Status: Needs Review, Notifier

#43087 Add Burmese Translation
  src/Symfony/Component/Form/Resources/translations/validators.my.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.my.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.my.xlf
Labels: Feature, Status: Needs Review

#43017 [HttpFoundation] Map `multipart/form-data` as `form` Content-Type
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#42668 [Yaml] Use more concise float representation in dump
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Feature, Yaml, Status: Reviewed

#43093 [Validator] Add missing thai translation
  src/Symfony/Component/Validator/Resources/translations/validators.th.xlf
Labels: Validator, Status: Reviewed

#43088 [Yaml] remove shortcut e for option exclude of Yaml/LintCommand - solve conflict with --env -e
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Bug, Yaml, Status: Reviewed

#43098 [Validator] Add error's uid to `Count` and `Length` constraints with "exactly" option enabled
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Count.php
  src/Symfony/Component/Validator/Constraints/CountValidator.php
  src/Symfony/Component/Validator/Constraints/Length.php
  src/Symfony/Component/Validator/Constraints/LengthValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/CountValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#43111 Add Slovak lang translation #41081
  src/Symfony/Component/Security/Core/Resources/translations/security.sk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf
Labels: Status: Reviewed

#43094 [Console] Add support of RGB functional notation
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Color.php
  src/Symfony/Component/Console/Tests/ColorTest.php
Labels: Feature, Console, Status: Reviewed

#43095 [Form] Add the EnumType
  .github/patch-types.php
  composer.json
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/EnumType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BaseTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/EnumTypeTest.php
  src/Symfony/Component/Form/Tests/Fixtures/Answer.php
  src/Symfony/Component/Form/Tests/Fixtures/Number.php
  src/Symfony/Component/Form/Tests/Fixtures/Suit.php
  src/Symfony/Component/Form/composer.json
Labels: Form, Feature, Status: Reviewed

#43115 [DependencyInjection] Fix iterator in ServiceConfigurator
  src/Symfony/Component/DependencyInjection/Loader/Configurator/AbstractServiceConfigurator.php
Labels: DependencyInjection, Bug, Status: Reviewed

#42338 [DomCrawler] Added Crawler::innerText() method
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTest.php
Labels: Feature, DomCrawler, Status: Reviewed

#43121 [Notifier] [GoogleChat] remove support for deprecated "threadKey" parameter
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportFactoryTest.php
Labels: Status: Reviewed, Notifier

#43118 [FrameworkBundle] Remove deprecated code
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: FrameworkBundle, Status: Reviewed

#43004 [Serializer] Throw NotNormalizableValueException when type is not known or not in body in discriminator map
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Php74Full.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Feature, Status: Reviewed

#42712 [Serializer] Save missing arguments in MissingConstructorArgumentsException
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Exception/MissingConstructorArgumentsException.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
Labels: Serializer, Status: Reviewed

#39350 [FrameworkBundle] Remove translation data_collector BEFORE adding it to profiler
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#42335 [Messenger] Add `WorkerMetadata` to `Worker` class.
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Tests/WorkerMetadataTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Worker.php
  src/Symfony/Component/Messenger/WorkerMetadata.php
Labels: Feature, Status: Reviewed, Messenger

#43142 [Minor] Fix missing and invalid imports
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatOptions.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/UserBadge.php
  src/Symfony/Component/Semaphore/SemaphoreInterface.php
Labels: Bug, Status: Reviewed

#43139 [Notifier] Mattermost Notifier option to post in an other channel
  src/Symfony/Component/Notifier/Bridge/Mattermost/MattermostOptions.php
  src/Symfony/Component/Notifier/Bridge/Mattermost/README.md
Labels: Feature, Status: Reviewed, Notifier

#43143 [Templating] Relax return type on HelperInterface::getName()
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Templating/Helper/HelperInterface.php
Labels: Templating, Status: Reviewed

#43124 [Messenger] [Redis] Allow authentication with user and password
  src/Symfony/Component/Messenger/Tests/Transport/RedisExt/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#43165 Update README.md
  src/Symfony/Component/Debug/README.md
Labels: Status: Reviewed

#43171 [VarDumper] fix dumping typed references from properties
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
  src/Symfony/Component/VarDumper/Tests/Cloner/VarClonerTest.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/Php74.php
Labels: Bug, VarDumper, Status: Needs Review

#43168 [VarDumper] minor optim on PHP 8.1
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
Labels: VarDumper, Status: Needs Review

#43169 [WebLink] allow psr/link v2
  composer.json
  src/Symfony/Component/WebLink/composer.json
Labels: Status: Needs Review, WebLink

#43148 [Cache] Throw ValueError in debug mode when serialization fails
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.php
  src/Symfony/Component/Cache/Marshaller/DefaultMarshaller.php
  src/Symfony/Component/Cache/Tests/Marshaller/DefaultMarshallerTest.php
Labels: Feature, Status: Reviewed, Cache

#42956 [Config] add types to files generated by ConfigBuilderGenerator
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
Labels: Config, Status: Needs Review

#43137 [FrameworkBundle] Avoid secrets:decrypt-to-local command to fail
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsDecryptToLocalCommand.php
Labels: Bug, FrameworkBundle, Status: Needs Work

#43174 [Messenger] relax parameter type
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Needs Review, Messenger

#43179 [Ldap] Fix `resource` type checks & docblocks on PHP 8.1
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php
Labels: Bug, Status: Reviewed, Ldap

#43158 [Cache] Fix invalidating tags on Redis <5
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
Labels: Bug, Status: Reviewed, Cache

#43146 [SecurityBundle] Fixed LogicException message of FirewallAwareTrait
  src/Symfony/Bundle/SecurityBundle/Security/FirewallAwareTrait.php
  src/Symfony/Bundle/SecurityBundle/Tests/Security/UserAuthenticatorTest.php
Labels: Bug, SecurityBundle, Status: Needs Review

#42354 [Ldap][Security] Make LdapAuthenticator an EntryPoint
  src/Symfony/Component/Ldap/Security/LdapAuthenticator.php
  src/Symfony/Component/Security/Http/EntryPoint/Exception/NotAnEntryPointException.php
  src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php
Labels: Security, Bug, Status: Reviewed, Ldap

#42257 [Messenger] Allow using user's serializer for message do not fit the expected JSON structure
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Fixtures/ExternalMessage.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Fixtures/ExternalMessageSerializer.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisExtIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisReceiverTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisTransportTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisReceiver.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/PhpSerializerTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/SerializerTest.php
  src/Symfony/Component/Messenger/Transport/Serialization/PhpSerializer.php
  src/Symfony/Component/Messenger/Transport/Serialization/Serializer.php
Labels: Bug, Status: Reviewed, Messenger

#41608 [Runtime] Possibility to define the env and/or debug key
  src/Symfony/Component/Runtime/CHANGELOG.md
  src/Symfony/Component/Runtime/GenericRuntime.php
  src/Symfony/Component/Runtime/SymfonyRuntime.php
  src/Symfony/Component/Runtime/Tests/phpt/.env
  src/Symfony/Component/Runtime/Tests/phpt/autoload.php
  src/Symfony/Component/Runtime/Tests/phpt/runtime-options.php
  src/Symfony/Component/Runtime/Tests/phpt/runtime-options.phpt
Labels: Feature, Status: Reviewed, Runtime

#43170 [Serializer] Fix collecting type errors during denormalization with promoted properties
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Php80WithPromotedTypedConstructor.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#43196 [Messenger] Backport type fixes
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsFifoStamp.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/Envelope.php
  src/Symfony/Component/Messenger/MessageBus.php
  src/Symfony/Component/Messenger/Middleware/StackMiddleware.php
  src/Symfony/Component/Messenger/Tests/HandleTraitTest.php
  src/Symfony/Component/Messenger/Transport/TransportFactory.php
Labels: Bug, Status: Reviewed, Messenger

#43201 [Runtime] tweak config for env var names
  src/Symfony/Component/Runtime/CHANGELOG.md
  src/Symfony/Component/Runtime/GenericRuntime.php
  src/Symfony/Component/Runtime/SymfonyRuntime.php
Labels: Status: Reviewed, Runtime

#43150 [Finder] Add recursive .gitignore files support
  src/Symfony/Component/Finder/CHANGELOG.md
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Iterator/VcsIgnoredFilterIterator.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
  src/Symfony/Component/Finder/Tests/Fixtures/gitignore/.gitignore
  src/Symfony/Component/Finder/Tests/Fixtures/gitignore/b.txt
  src/Symfony/Component/Finder/Tests/Fixtures/gitignore/dir/.gitignore
  src/Symfony/Component/Finder/Tests/Fixtures/gitignore/dir/a.txt
  src/Symfony/Component/Finder/Tests/Iterator/DepthRangeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/ExcludeDirectoryFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/FilenameFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/InnerNameIterator.php
  src/Symfony/Component/Finder/Tests/Iterator/RealIteratorTestCase.php
  src/Symfony/Component/Finder/Tests/Iterator/VcsIgnoredFilterIteratorTest.php
Labels: Feature, Finder, Status: Reviewed

#43206 [Workflow] Add missing audit-trail settings in framework workflow con…
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflows.xml
Labels: Bug, Status: Reviewed, Workflow

#43209 Release v4.4.31
  CHANGELOG-4.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#43211 Release v5.3.8
  CHANGELOG-5.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#43229 Release v4.4.32
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#43230 Release v5.3.9
  CHANGELOG-5.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#43224 [Workflow] Remove unused code in XML schemas
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Status: Reviewed, Workflow

#43238 [Mailer] Improve error message when STARTTLS fails
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/SocketStream.php
Labels: Status: Reviewed, Mailer

#43236 [Security] Add alias for FirewallMapInterface to @security.firewall.map
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
Labels: Security, Feature, Status: Reviewed

#43202 Fix framework configuration when messenger uses without console
  UPGRADE-5.4.md
  UPGRADE-6.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/CHANGELOG.md
Labels: Bug, Status: Reviewed, Deprecation
