Repository symfony/symfony, pull requests merged in 2022-07, with the labels that each got.

#46824 Fix typographical error in exception message in InputBag class
  src/Symfony/Component/HttpFoundation/InputBag.php
  src/Symfony/Component/HttpFoundation/Tests/InputBagTest.php
Labels: Bug, Status: Reviewed

#46811 [DoctrineBridge] Fix comment for type on Query::setValue (middlewares)
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Query.php
  src/Symfony/Bridge/Doctrine/Tests/Middleware/Debug/MiddlewareTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#46680 [Serializer] Provide context information from attribute for promoted properties
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/ContextDummyPromotedProperties.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/ContextDummyPromotedProperties.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
Labels: Serializer, Bug, Status: Reviewed

#46830 add missing basque translations
  src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf
Labels: Feature, Status: Reviewed, Deprecation

#46813 [Form] Provide string keys when iterating on a form
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/Tests/CompoundFormTest.php
  src/Symfony/Component/Form/Tests/Util/OrderedHashMapTest.php
  src/Symfony/Component/Form/Util/OrderedHashMap.php
  src/Symfony/Component/Form/Util/OrderedHashMapIterator.php
Labels: Form, Status: Reviewed

#46491 Introduce FlashBagAwareSessionInterface
  src/Symfony/Component/HttpFoundation/Session/FlashBagAwareSessionInterface.php
  src/Symfony/Component/HttpFoundation/Session/Session.php
Labels: Feature, Status: Reviewed

#46656 [DependencyInjection] Add missing use statement in test
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#46843 [Serializer] fix AbstractObjectNormalizer
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Serializer, Bug, Status: Needs Review

#46832 ci: Add GitHub token permissions for workflows
  .github/workflows/integration-tests.yml
  .github/workflows/intl-data-tests.yml
  .github/workflows/phpunit-bridge.yml
  .github/workflows/psalm.yml
  .github/workflows/unit-tests.yml
Labels: Status: Needs Review

#46847 [Serializer] Cannot use Context attribute context in AdvancedNameConverterInterface::denormalize
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
Labels: Serializer, Bug, Status: Reviewed

#46845 [ci] Sync return-type declarations
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Notifier/Bridge/Engagespot/Tests/EngagespotTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Engagespot/Tests/EngagespotTransportTest.php
  src/Symfony/Component/VarExporter/Internal/Exporter.php
Labels: Status: Reviewed

#46852 [VarExporter] Fix accessing readonly properties by reference
  src/Symfony/Component/VarExporter/Hydrator.php
  src/Symfony/Component/VarExporter/Internal/Hydrator.php
Labels: Bug, Status: Needs Review, VarExporter

#46857 Fix Command::run phpdoc
  src/Symfony/Component/Console/Command/Command.php
Labels: Status: Reviewed

#41274 [Security] Add a method in the security helper to ease programmatic login (#40662)
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Bundle/SecurityBundle/Security/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/SecurityHelper/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/SecurityHelper/routing.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Security/SecurityTest.php
Labels: Security, Feature, Ready, Status: Reviewed

#46854 [FrameworkBundle] Make `AbstractController::render()` able to deal with forms and deprecate `renderForm()`
  UPGRADE-6.2.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: Feature, FrameworkBundle, Status: Needs Work, Deprecation

#46808 [HttpFoundation] Fix TypeError on null `$_SESSION` in `NativeSessionStorage::save()`
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/NativeSessionStorageTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#46825 [HttpFoundation] Add session ID regex comment
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
Labels: HttpFoundation, Status: Reviewed

#46884 [Translation] Remove unneeded check and temporary variable
  src/Symfony/Component/Translation/Command/TranslationPullCommand.php
Labels: Translation, Status: Reviewed

#46846 [Notifier] Add Zendesk Notifier Bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Zendesk/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Zendesk/.gitignore
  src/Symfony/Component/Notifier/Bridge/Zendesk/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Zendesk/LICENSE
  src/Symfony/Component/Notifier/Bridge/Zendesk/README.md
  src/Symfony/Component/Notifier/Bridge/Zendesk/Tests/ZendeskTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Zendesk/Tests/ZendeskTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Zendesk/ZendeskOptions.php
  src/Symfony/Component/Notifier/Bridge/Zendesk/ZendeskTransport.php
  src/Symfony/Component/Notifier/Bridge/Zendesk/ZendeskTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Zendesk/composer.json
  src/Symfony/Component/Notifier/Bridge/Zendesk/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#46883 [DependencyInjection] Add `shuffle` env processor
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#46844 [HttpKernel] remove else logic
  src/Symfony/Component/HttpKernel/UriSigner.php
Labels: HttpKernel, Status: Reviewed

#46899 [SecurityBundle] Use correct adjective
  src/Symfony/Bundle/SecurityBundle/Security/Security.php
Labels: SecurityBundle, Status: Reviewed

#46896 Console/SymfonyStyle: Add Multiselect to choice()
  src/Symfony/Component/Console/Style/SymfonyStyle.php
Labels: Feature, Status: Reviewed

#46908 [Mime]  ignore the cached body when comparing e-mails for equality
  src/Symfony/Component/Mime/Tests/MessageConverterTest.php
Labels: Status: Needs Review, Mime

#46907 [Security] Add `#[IsGranted()]`
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/Attribute/IsGranted.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/EventListener/IsGrantedAttributeListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/IsGrantedAttributeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/IsGrantedAttributeController.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/IsGrantedAttributeMethodsController.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Feature, Status: Reviewed

#46906 [TwigBridge] Add `#[Template()]` to describe how to render arrays returned by controllers
  src/Symfony/Bridge/Twig/Attribute/Template.php
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/EventListener/TemplateAttributeListener.php
  src/Symfony/Bridge/Twig/Tests/EventListener/TemplateAttributeListenerTest.php
  src/Symfony/Bridge/Twig/Tests/Fixtures/TemplateAttributeController.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Component/HttpKernel/Event/ControllerArgumentsEvent.php
  src/Symfony/Component/HttpKernel/Event/ViewEvent.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/Security/Http/EventListener/IsGrantedAttributeListener.php
Labels: Feature, Status: Needs Review, TwigBridge

#46915 [Security] Make `#[IsGranted]` final
  src/Symfony/Component/Security/Http/Attribute/IsGranted.php
  src/Symfony/Component/Security/Http/EventListener/IsGrantedAttributeListener.php
Labels: Security, Status: Reviewed

#46751 [VarExporter] Add trait to help implement lazy loading ghost objects
  .github/expected-missing-return-types.diff
  src/Symfony/Component/VarExporter/CHANGELOG.md
  src/Symfony/Component/VarExporter/Instantiator.php
  src/Symfony/Component/VarExporter/Internal/EmptyScope.php
  src/Symfony/Component/VarExporter/Internal/GhostObjectRegistry.php
  src/Symfony/Component/VarExporter/Internal/GhostObjectState.php
  src/Symfony/Component/VarExporter/LazyGhostObjectInterface.php
  src/Symfony/Component/VarExporter/LazyGhostObjectTrait.php
  src/Symfony/Component/VarExporter/README.md
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhostObject/ChildMagicClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhostObject/ChildTestClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhostObject/MagicClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhostObject/NoMagicClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhostObject/TestClass.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostObjectTraitTest.php
Labels: Feature, Status: Reviewed, VarExporter

#46880 [HttpKernel] Add `#[Cache()]` to describe the default HTTP cache headers on controllers
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
  src/Symfony/Component/HttpKernel/Attribute/Cache.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactory.php
  src/Symfony/Component/HttpKernel/Event/ControllerEvent.php
  src/Symfony/Component/HttpKernel/EventListener/CacheAttributeListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/CacheAttributeListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/Controller/CacheAttributeController.php
Labels: Feature, HttpKernel, Status: Reviewed

#46914 [TwigBridge]  Add test on _template attribute for Twig listener
  src/Symfony/Bridge/Twig/Tests/EventListener/TemplateAttributeListenerTest.php
Labels: Status: Needs Review, TwigBridge

#46913 Check for null instead of type
  src/Symfony/Component/Security/Http/Firewall/LogoutListener.php
Labels: Status: Needs Review

#46924 [DependencyInjection] Fix dumping lazy services with parametrized class
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
Labels: DependencyInjection, Bug, Status: Needs Review

#46925 [DependencyInjection] Undeprecate RealServiceInstantiator, it's useful to disable lazy proxies in tests
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/LazyProxy/Instantiator/RealServiceInstantiator.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/LazyProxy/Instantiator/RealServiceInstantiatorTest.php
Labels: DependencyInjection, Status: Needs Review

#46932 Fixed typo: "anntotations" => "annotations"
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
Labels: Bug, Status: Reviewed

#46941 [Messenger] Fix calls to deprecated DBAL methods
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#46927 [VarExporter] do not call `unset()` on unknown variables
  src/Symfony/Component/VarExporter/LazyGhostObjectTrait.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhostObject/ChildStdClass.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostObjectTraitTest.php
Labels: Bug, Status: Reviewed, VarExporter

#46945 [HttpKernel] Declare properties used by CacheAttributeListenerTest explicitly
  src/Symfony/Component/HttpKernel/Tests/EventListener/CacheAttributeListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#46905 [BrowserKit] fix sending request to paths containing multiple slashes
  src/Symfony/Component/BrowserKit/Client.php
  src/Symfony/Component/BrowserKit/Tests/HttpBrowserTest.php
Labels: Bug, BrowserKit, Status: Reviewed

#46901 [Console] Be explicit about the completion API version
  src/Symfony/Component/Console/Command/CompleteCommand.php
  src/Symfony/Component/Console/Command/DumpCompletionCommand.php
  src/Symfony/Component/Console/Resources/completion.bash
  src/Symfony/Component/Console/Resources/completion.fish
  src/Symfony/Component/Console/Tests/Fixtures/application_1.json
  src/Symfony/Component/Console/Tests/Fixtures/application_1.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_2.json
  src/Symfony/Component/Console/Tests/Fixtures/application_2.xml
Labels: Bug, Feature, Console, Status: Reviewed

#46936 Fix deprecation in `InputBag` for non-scalar values
  src/Symfony/Component/HttpFoundation/InputBag.php
  src/Symfony/Component/HttpFoundation/Tests/InputBagTest.php
Labels: Bug, Status: Reviewed

#46839 Fix generated validation error message for wrong exception mapping status code
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, Status: Reviewed

#46947 [Serializer] Prevent that bad Ignore method annotations lead to incorrect results
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/Entity45016.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/Entity45016.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
Labels: Serializer, Bug, Status: Reviewed

#46931 Flush backend output buffer after closing.
  src/Symfony/Component/HttpFoundation/Response.php
Labels: Status: Reviewed

#46969 [Messenger] Update ExceptionInterface.php
  src/Symfony/Component/Messenger/Exception/ExceptionInterface.php
Labels: Bug, Status: Reviewed, Messenger

#46970 [FrameworkBundle] Fix tests that use deprecated callable syntax
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/AbstractDescriptorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/ObjectsProvider.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#46963 [Mime] Fix inline parts when added via attachPart()
  src/Symfony/Component/Mime/Email.php
  src/Symfony/Component/Mime/Tests/EmailTest.php
Labels: Bug, Status: Needs Review, Mime

#45884 [Serializer] Fix inconsistent behaviour of nullable objects in key/value arrays
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/MapDenormalizationTest.php
Labels: Serializer, Bug, Status: Reviewed

#46973 [DependencyInjection] Fail gracefully when attempting to autowire composite types
  src/Symfony/Component/DependencyInjection/LazyProxy/ProxyHelper.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/compositetype_classes.php
Labels: DependencyInjection, Bug, Status: Reviewed

#46967 [VarDumper] Add a test case for nesting intersection and union types
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/ReflectionUnionTypeWithIntersectionFixture.php
Labels: VarDumper, Status: Reviewed

#46960 [FrameworkBundle] Fail gracefully when forms use disabled CSRF
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/form_csrf_disabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/form_csrf_disabled.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/form_csrf_disabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: FrameworkBundle, Status: Reviewed

#46981 [Mime]  quote address names if they contain parentheses
  src/Symfony/Component/Mime/Header/AbstractHeader.php
  src/Symfony/Component/Mime/Tests/Header/MailboxListHeaderTest.php
Labels: Bug, Status: Reviewed, Mime

#46958 [Serializer] Ignore getter with required parameters (Fix #46592)
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/Entity45016.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/IgnoreDummyAdditionalGetter.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/IgnoreDummyAdditionalGetterWithoutIgnoreAnnotations.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/Entity45016.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/IgnoreDummyAdditionalGetter.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/IgnoreDummyAdditionalGetterWithoutIgnoreAnnotations.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
Labels: Serializer, Bug, Status: Reviewed

#46988 fix expected exception message assertion
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Status: Needs Review

#46946 [Form] ChoiceType choices must support TranslatableInterface
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/ChoiceList/Factory/DefaultChoiceListFactory.php
  src/Symfony/Component/Form/ChoiceList/View/ChoiceView.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/DefaultChoiceListFactoryTest.php
Labels: Form, Bug, Status: Reviewed

#46985 [DoctrineBridge] Avoid calling `AbstractPlatform::hasNativeGuidType()`
  src/Symfony/Bridge/Doctrine/Tests/Types/UlidTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UuidTypeTest.php
  src/Symfony/Bridge/Doctrine/Types/AbstractUidType.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#46989 [DependencyInjection] fix expected autowiring exception message
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
Labels: DependencyInjection, Status: Needs Review

#46773 [VarDumper] Add `FFI\CData` and `FFI\CType` types
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/FFICaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Caster/FFICasterTest.php
Labels: Feature, VarDumper, Status: Reviewed

#46792 [Bridge] Corrects bug in test listener trait
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/PhpUnit/Tests/FailTests/NoAssertionsTestNotRisky.php
  src/Symfony/Bridge/PhpUnit/Tests/expectnotrisky.phpt
Labels: Bug, Status: Reviewed

#46211 [Mailer] Add Infobip bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
  src/Symfony/Component/Mailer/Bridge/Infobip/.gitattributes
  src/Symfony/Component/Mailer/Bridge/Infobip/.gitignore
  src/Symfony/Component/Mailer/Bridge/Infobip/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Infobip/LICENSE
  src/Symfony/Component/Mailer/Bridge/Infobip/README.md
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Infobip/Transport/InfobipApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Infobip/Transport/InfobipSmtpTransport.php
  src/Symfony/Component/Mailer/Bridge/Infobip/Transport/InfobipTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Infobip/composer.json
  src/Symfony/Component/Mailer/Bridge/Infobip/phpunit.xml.dist
  src/Symfony/Component/Mailer/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Mailer/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Mailer/Transport.php
Labels: Feature, Status: Reviewed, Mailer

#46502 [Dotenv] Variable filter added to debug command
  src/Symfony/Component/Dotenv/CHANGELOG.md
  src/Symfony/Component/Dotenv/Command/DebugCommand.php
  src/Symfony/Component/Dotenv/Tests/Command/DebugCommandTest.php
Labels: Feature, Status: Reviewed, Dotenv

#46992 Add PHP 8.2 fixtures to patch types exclude list
  .github/patch-types.php
Labels: Bug, Status: Needs Review

#46642 [DoctrineBridge] Add `NAME` const for UID types
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Types/UlidType.php
  src/Symfony/Bridge/Doctrine/Types/UuidType.php
Labels: Feature, Status: Reviewed, DoctrineBridge

#46999 Fix CS
  src/Symfony/Component/Config/Tests/Builder/GeneratedConfigTest.php
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Command/LazyCommand.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
  src/Symfony/Component/HttpClient/DataCollector/HttpClientDataCollector.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Encoder/DecoderInterface.php
  src/Symfony/Component/Serializer/Encoder/EncoderInterface.php
  src/Symfony/Component/Serializer/Encoder/JsonDecode.php
  src/Symfony/Component/Serializer/Encoder/JsonEncode.php
  src/Symfony/Component/Serializer/Encoder/JsonEncoder.php
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Encoder/YamlEncoder.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/CustomNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateIntervalNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeZoneNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/JsonSerializableNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/ProblemNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
Labels: Status: Needs Review

#45945 [Uid] Added toHexString method to AbstractUid class
  src/Symfony/Component/Uid/AbstractUid.php
  src/Symfony/Component/Uid/Command/InspectUlidCommand.php
  src/Symfony/Component/Uid/Command/InspectUuidCommand.php
  src/Symfony/Component/Uid/Tests/Command/InspectUlidCommandTest.php
  src/Symfony/Component/Uid/Tests/Command/InspectUuidCommandTest.php
  src/Symfony/Component/Uid/Tests/UlidTest.php
  src/Symfony/Component/Uid/Tests/UuidTest.php
Labels: Feature, Status: Reviewed, Uid

#45404 [Mailer] allow custom hosts for ses+smtp with amazon mailer
  src/Symfony/Component/Mailer/Bridge/Amazon/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesSmtpTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesTransportFactory.php
Labels: Feature, Status: Reviewed, Mailer

#46229 [Messenger] Make Redis messages countable
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisExtIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisReceiver.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisTransport.php
Labels: Status: Reviewed, Messenger

#46118 [Security] Don't allow empty username or empty password
  UPGRADE-6.2.md
  src/Symfony/Component/Security/Http/Authenticator/JsonLoginAuthenticator.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Tests/Authenticator/JsonLoginAuthenticatorTest.php
Labels: Security, Feature, Status: Reviewed

#46315 [Mailer] `max_per_second` option configurable via DSN
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/EsmtpTransportFactoryTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransportFactory.php
Labels: Status: Reviewed, Mailer

#43854 [DoctrineBridge] Add an Entity Argument Resolver
  src/Symfony/Bridge/Doctrine/ArgumentResolver/EntityValueResolver.php
  src/Symfony/Bridge/Doctrine/Attribute/MapEntity.php
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Tests/ArgumentResolver/EntityValueResolverTest.php
Labels: Feature, Status: Reviewed, DoctrineBridge

#43998 [HttpKernel] [HttpCache] Don't throw on 304 Not Modified
  src/Symfony/Component/HttpKernel/HttpCache/AbstractSurrogate.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/EsiTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#46338 [Security] Allow configuring a target url when switching user
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_listeners.php
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
Labels: Security, Feature, Status: Reviewed

#46971 [Console] Refactor isTtySupported()
  src/Symfony/Component/Console/Cursor.php
  src/Symfony/Component/Console/Tests/CursorTest.php
  src/Symfony/Component/Process/Process.php
Labels: Console, Status: Reviewed

#47000 [ErrorHandler] Fix return type patching for list and class-string pseudo types
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
Labels: Bug, Status: Reviewed, ErrorHandler

#45977 [Validator] Add the match option to the Choice constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Choice.php
  src/Symfony/Component/Validator/Constraints/ChoiceValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/ChoiceValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#46207 [HttpFoundation] Test invalid cookie regeneration
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/common.inc
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/invalid_regenerate.expected
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/invalid_regenerate.php
Labels: HttpFoundation, Status: Reviewed

#47007 Update expected-missing-return-types.diff
  .github/expected-missing-return-types.diff
Labels: Bug, Status: Needs Review

#47008 [Messenger] Add options to `FailedMessagesShowCommand`
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesShowCommandTest.php
Labels: Feature, Status: Needs Review, Messenger

#46814 [FrameworkBundle] Add service and alias deprecation message to debug:container <name> output
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/DeprecatedClass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/alias_with_definition_1.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/alias_with_definition_1.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/alias_with_definition_1.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/alias_with_definition_2.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/alias_with_definition_2.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/alias_with_definition_2.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_arguments.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_arguments.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_arguments.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_public.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_public.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_public.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_tag1.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_tag1.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_tag1.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_tags.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_tags.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_tags.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_priority_tag.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_priority_tag.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_priority_tag.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_1.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_1.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_1.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_2.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_2.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_2.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_1.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_1.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_1.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_2.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_2.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_2.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_with_enum.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_with_enum.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_with_enum.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_without_class.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_without_class.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_without_class.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_without_class.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_without_class.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_without_class.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_1.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_1.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_1.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_2.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_2.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/existing_class_def_2.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/ContainerDebug/config.yml
Labels: Feature, FrameworkBundle, Status: Reviewed

#46580 [SecurityBundle] Add shortcut option to enable logout CSRF protection
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/schema/security-1.0.xsd
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/MainConfigurationTest.php
Labels: Feature, SecurityBundle, Status: Reviewed

#46821 [FrameworkBundle] Add `resolve-env` option to debug:config command
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ConfigDebugCommandTest.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
Labels: Feature, FrameworkBundle, Status: Reviewed

#46599 Add "negate" option to Expression constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Expression.php
  src/Symfony/Component/Validator/Constraints/ExpressionValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/ExpressionTest.php
  src/Symfony/Component/Validator/Tests/Constraints/ExpressionValidatorTest.php
Labels: Feature, Status: Reviewed

#46567 [Security] [LoginLink] Set custom lifetime for login link
  UPGRADE-6.2.md
  src/Symfony/Bundle/SecurityBundle/LoginLink/FirewallAwareLoginLinkHandler.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkHandler.php
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkHandlerInterface.php
  src/Symfony/Component/Security/Http/Tests/LoginLink/LoginLinkHandlerTest.php
Labels: Security, Feature, Status: Reviewed, Deprecation

#44902 Add visibility context option in PropertyNormalizer
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Context/Normalizer/PropertyNormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
  src/Symfony/Component/Serializer/Tests/Context/Normalizer/PropertyNormalizerContextBuilderTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Feature, Status: Reviewed

#47022 [Console] get full command path for command in search path
  src/Symfony/Component/Console/Resources/completion.bash
Labels: Bug, Console, Status: Reviewed

#46806 [Cache][WebProfilerBundle] Add adapter class to Cache `DataCollector`
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/cache.html.twig
  src/Symfony/Component/Cache/Adapter/TraceableAdapter.php
  src/Symfony/Component/Cache/DataCollector/CacheDataCollector.php
Labels: Feature, WebProfilerBundle, Status: Reviewed, Cache

#45034 [HttpFoundation] Rename Request::getContentType to getContentTypeFormat
  UPGRADE-6.2.md
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/Security/Http/Authenticator/FormLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/JsonLoginAuthenticator.php
Labels: Feature, HttpFoundation, Status: Reviewed, Deprecation

#46126 [Finder] Case insensitive file sort
  src/Symfony/Component/Finder/CHANGELOG.md
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Iterator/SortableIterator.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
  src/Symfony/Component/Finder/Tests/Iterator/DateRangeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/DepthRangeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/ExcludeDirectoryFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/FileTypeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/RealIteratorTestCase.php
  src/Symfony/Component/Finder/Tests/Iterator/SortableIteratorTest.php
Labels: Feature, Finder, Status: Reviewed

#46591 [Finder] Add methods to sort by extension & size
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Iterator/SortableIterator.php
Labels: Feature, Finder, Status: Reviewed

#46750 fix query explanation table width restrictions
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Bug, Status: Reviewed

#47026 Explain status codes in comments
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Controller/TemplateController.php
  src/Symfony/Component/BrowserKit/Response.php
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/JsonResponse.php
  src/Symfony/Component/HttpFoundation/RedirectResponse.php
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
  src/Symfony/Component/Security/Http/HttpUtils.php
Labels: Status: Reviewed

#47019 [Console] Fix comparison with completion api version
  src/Symfony/Component/Console/Command/CompleteCommand.php
  src/Symfony/Component/Console/Tests/Command/CompleteCommandTest.php
Labels: Bug, Console, Status: Reviewed

#47014 [Dotenv] Run test in a separate process to have clean global state
  src/Symfony/Component/Dotenv/Command/DebugCommand.php
  src/Symfony/Component/Dotenv/Tests/Command/DebugCommandTest.php
Labels: Status: Reviewed, Dotenv

#47031 [FrameworkBundle] update test fixtures to not trigger deprecations
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/form_csrf_disabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/form_csrf_disabled.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/form_csrf_disabled.yml
Labels: FrameworkBundle, Status: Reviewed

#47030 [SecurityBundle] Fix tests
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
Labels: SecurityBundle, Status: Reviewed

#46745 [DependencyInjection] Update ContainerBag to throw ParameterNotFoundException instead of InvalidArgumentException
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/ContainerInterface.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/closure.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_constructor_without_arguments.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_with_mandatory_constructor_arguments.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_with_optional_constructor_arguments.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/custom_container_class_without_constructor.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services1-1.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services1.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services12.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services13.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services19.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services24.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services26.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services33.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services8.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_adawson.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_array_params.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_base64_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_closure_argument_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_csv_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_dedup_lazy_ghost.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_dedup_lazy_proxy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_deep_graph.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_default_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_env_in_id.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_errored_definition.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_requires.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_self_ref.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_json_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_locator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_new_in_initializer.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_duplicates.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_ghost.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_private_frozen.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_private_in_expression.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_query_string_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_tsantos.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_uninitialized_ref.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_unsupported_characters.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_url_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither_staticreturntype.php
Labels: DependencyInjection, Bug, Status: Reviewed

#47018 [Console] Zsh shell autocompletion
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Command/CompleteCommand.php
  src/Symfony/Component/Console/Command/DumpCompletionCommand.php
  src/Symfony/Component/Console/Completion/Output/ZshCompletionOutput.php
  src/Symfony/Component/Console/Completion/Suggestion.php
  src/Symfony/Component/Console/Resources/completion.zsh
  src/Symfony/Component/Console/Tests/Command/CompleteCommandTest.php
  src/Symfony/Component/Console/Tests/Command/DumpCompletionCommandTest.php
  src/Symfony/Component/Console/Tests/Completion/Output/CompletionOutputTestCase.php
  src/Symfony/Component/Console/Tests/Completion/Output/ZshCompletionOutputTest.php
  src/Symfony/Component/Console/Tests/Fixtures/application_1.json
  src/Symfony/Component/Console/Tests/Fixtures/application_1.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_2.json
  src/Symfony/Component/Console/Tests/Fixtures/application_2.xml
Labels: Feature, Console, Status: Reviewed

#47033 [Validator] fix tests
  src/Symfony/Component/Validator/Tests/Command/DebugCommandTest.php
Labels: Validator, Status: Needs Review

#47034 [Mime] Simplify code
  src/Symfony/Component/Mime/Email.php
  src/Symfony/Component/Mime/Part/TextPart.php
Labels: Feature, Status: Needs Review, Mime

#46957 [HttpFoundation] Fix `\Stringable` support in `InputBag::get()`
  src/Symfony/Component/HttpFoundation/InputBag.php
  src/Symfony/Component/HttpFoundation/Tests/InputBagTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#46944 [Console] Add Ansi8 (256 color) support, improve true color (Ansi24) support detection
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Color.php
  src/Symfony/Component/Console/Output/AnsiColorMode.php
  src/Symfony/Component/Console/Terminal.php
  src/Symfony/Component/Console/Tests/ColorTest.php
  src/Symfony/Component/Console/Tests/Output/AnsiColorModeTest.php
  src/Symfony/Component/Console/Tests/TerminalTest.php
Labels: Feature, Console, Status: Reviewed

#47038 [Notifier] Add Notification::exception()
  src/Symfony/Component/Notifier/Notification/Notification.php
Labels: Feature, Status: Needs Review, Notifier

#46962 [Mime] Add DataPart::setContentId()
  src/Symfony/Component/Mime/Part/DataPart.php
  src/Symfony/Component/Mime/Tests/Part/DataPartTest.php
Labels: Feature, Status: Needs Review, Mime

#46242 [Console] Add support for resuming a ProgressBar
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Feature, Console, Status: Reviewed

#47040 Add a mailer:test command
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.php
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Command/MailerTestCommand.php
  src/Symfony/Component/Mailer/Tests/Command/MailerTestCommandTest.php
Labels: Feature, Status: Reviewed

#47039 Throw error with debug message when ExpressionLanguage Component is not installed
  src/Symfony/Component/Validator/Constraints/ExpressionLanguageSyntaxValidator.php
Labels: Bug, Status: Reviewed

#47049 [Mailer] Throw a more specific exception when a BodyRendererInterface is needed but not configured
  src/Symfony/Component/Mailer/EventListener/MessageListener.php
Labels: Feature, Status: Reviewed, Mailer

#46895 [Notifier] Introduce PHPUnit constraints and assertions for the Notifier
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Test/NotificationAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Controller/NotificationController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Resources/config/routing.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/NotificationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Notifier/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Notifier/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Notifier/routing.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Notifier/services.yml
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/Notifier/Test/Constraint/NotificationCount.php
  src/Symfony/Component/Notifier/Test/Constraint/NotificationIsQueued.php
  src/Symfony/Component/Notifier/Test/Constraint/NotificationSubjectContains.php
  src/Symfony/Component/Notifier/Test/Constraint/NotificationTransportIsEqual.php
Labels: Feature, Status: Reviewed, Notifier

#47051 Fix tests
  src/Symfony/Component/Console/Output/AnsiColorMode.php
  src/Symfony/Component/Console/Tests/Output/AnsiColorModeTest.php
  src/Symfony/Component/Mailer/Command/MailerTestCommand.php
Labels: Bug, Status: Needs Review

#46110 [RateLimiter][Security] Improve performance of login/request rate limiter
  src/Symfony/Component/HttpFoundation/RateLimiter/AbstractRequestRateLimiter.php
  src/Symfony/Component/HttpFoundation/RateLimiter/PeekableRequestRateLimiterInterface.php
  src/Symfony/Component/RateLimiter/Policy/FixedWindowLimiter.php
  src/Symfony/Component/RateLimiter/Policy/SlidingWindowLimiter.php
  src/Symfony/Component/RateLimiter/Policy/TokenBucketLimiter.php
  src/Symfony/Component/RateLimiter/Tests/Policy/FixedWindowLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/Policy/SlidingWindowLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/Policy/TokenBucketLimiterTest.php
  src/Symfony/Component/Security/Http/EventListener/LoginThrottlingListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/LoginThrottlingListenerTest.php
Labels: Security, Feature, Status: Needs Review, RateLimiter

#47050 [Form] Allow TranslatableInterface to the FormType help option
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/FormType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTest.php
Labels: Form, Feature, Status: Reviewed

#47052 [Mailer] Add a comment to avoid the same wrong PR over and over again
  src/Symfony/Component/Mailer/Mailer.php
Labels: Status: Reviewed, Mailer

#47048 [Serializer] Fix XmlEncoder encoding attribute false
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Serializer, Status: Reviewed

#47010 [String] Fix `width` method in `AbstractUnicodeString`
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
Labels: Bug, Status: Reviewed, String

#46142 [ExpressionLanguage] Add support for null coalescing syntax
  src/Symfony/Component/ExpressionLanguage/CHANGELOG.md
  src/Symfony/Component/ExpressionLanguage/Lexer.php
  src/Symfony/Component/ExpressionLanguage/Node/GetAttrNode.php
  src/Symfony/Component/ExpressionLanguage/Node/NullCoalesceNode.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/ParserTest.php
Labels: Feature, ExpressionLanguage, Status: Reviewed

#47058 [ExpressionLanguage] Remove usage of properties
  src/Symfony/Component/ExpressionLanguage/Node/GetAttrNode.php
  src/Symfony/Component/ExpressionLanguage/Node/NullCoalesceNode.php
Labels: ExpressionLanguage, Status: Needs Review

#40828 [BrowserKit] Merge fields and files recursively if they are multidimensional array
  src/Symfony/Component/BrowserKit/HttpBrowser.php
  src/Symfony/Component/BrowserKit/Tests/HttpBrowserTest.php
Labels: Bug, BrowserKit, Status: Reviewed

#47062 [Console] Don't cut Urls wrapped in SymfonyStyle block
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Formatter/OutputFormatter.php
  src/Symfony/Component/Console/Helper/OutputWrapper.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/command/command_13.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/command/command_22.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/output/output_13.txt
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/output/output_22.txt
  src/Symfony/Component/Console/Tests/Helper/OutputWrapperTest.php
Labels: Feature, Console, Status: Reviewed

#47075 [Mime] Change the way we avoid rendering an email twice
  src/Symfony/Bridge/Twig/Mime/BodyRenderer.php
Labels: Bug, Feature, Status: Needs Review, Mime

#47080 [Mailer] Add new events
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Event/FailedMessageEvent.php
  src/Symfony/Component/Mailer/Event/SentMessageEvent.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
Labels: Feature, Status: Needs Review, Mailer

#42355 [HttpKernel] Bugfix/last modified response strategy
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/ResponseCacheStrategyTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#47086 Workaround disabled "var_dump"
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
Labels: Bug, Status: Reviewed

#46715 [Clock] A new component to decouple applications from the system clock
  composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Component/Clock/.gitattributes
  src/Symfony/Component/Clock/.gitignore
  src/Symfony/Component/Clock/CHANGELOG.md
  src/Symfony/Component/Clock/ClockInterface.php
  src/Symfony/Component/Clock/LICENSE
  src/Symfony/Component/Clock/MockClock.php
  src/Symfony/Component/Clock/MonotonicClock.php
  src/Symfony/Component/Clock/NativeClock.php
  src/Symfony/Component/Clock/README.md
  src/Symfony/Component/Clock/Tests/MockClockTest.php
  src/Symfony/Component/Clock/Tests/MonotonicClockTest.php
  src/Symfony/Component/Clock/Tests/NativeClockTest.php
  src/Symfony/Component/Clock/composer.json
  src/Symfony/Component/Clock/phpunit.xml.dist
Labels: Feature, Status: Reviewed

#47083 [Intl] Fix EmojiTransliterator on PHP 8.2
  src/Symfony/Component/Intl/Tests/Transliterator/EmojiTransliteratorTest.php
  src/Symfony/Component/Intl/Transliterator/EmojiTransliterator.php
Labels: Bug, Intl, Status: Needs Review

#43329 [Serializer] Respect default context in DateTimeNormalizer::denormalize
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/DateTimeNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#47097 [ErrorHandler] Don't trigger deprecations for lazy objects extending `@final` classes
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
Labels: Bug, Status: Needs Review, ErrorHandler

#47098 [DoctrineBridge] fix tests
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/EntityManager.php
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/UlidGeneratorTest.php
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/UuidGeneratorTest.php
Labels: Status: Needs Review, DoctrineBridge

#47003 [Cache] Ensured that redis adapter can use multiple redis sentinel hosts
  .github/workflows/integration-tests.yml
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Needs Review, Cache

#47100 [Debug][ErrorHandler] fix operator precedence
  src/Symfony/Component/Debug/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
Labels: Bug, Debug, Status: Reviewed, ErrorHandler

#47104 [Serializer] Fix wrong needsNormalization in TraceableEncoder
  src/Symfony/Component/Serializer/Debug/TraceableEncoder.php
Labels: Serializer, Bug, Status: Reviewed

#46849 [HtmlSanitizer] Allow null for sanitizer option `allowed_link_hosts` and `allowed_media_hosts`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/html_sanitizer_default_allowed_link_and_media_hosts.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/html_sanitizer_default_allowed_link_and_media_hosts.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/html_sanitizer_default_allowed_link_and_media_hosts.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, Status: Reviewed, HtmlSanitizer

#47073 [HttpKernel] Fix non-scalar check in surrogate fragment renderer
  src/Symfony/Component/HttpKernel/Fragment/AbstractSurrogateFragmentRenderer.php
Labels: Bug, HttpKernel, Status: Reviewed

#47069 [Security] Allow redirect after login to absolute URLs
  src/Symfony/Component/Security/Http/Authentication/DefaultAuthenticationFailureHandler.php
  src/Symfony/Component/Security/Http/Authentication/DefaultAuthenticationSuccessHandler.php
  src/Symfony/Component/Security/Http/Tests/Authentication/DefaultAuthenticationFailureHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/DefaultAuthenticationSuccessHandlerTest.php
Labels: Security, Bug, Status: Reviewed

#47108 [Mailer] allow sub-classes to change the way the message id parsed
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
Labels: Status: Reviewed, Mailer

#47106 [Mailer] re-add test
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportTest.php
Labels: Status: Reviewed, Mailer

#46514 [HttpKernel] Add option to render Surrogate fragment with absolute URIs
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Fragment/AbstractSurrogateFragmentRenderer.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/EsiFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/SsiFragmentRendererTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#46683 [Ldap] Deprecate '{username}' parameter use in favour of '{user_identifier}' in LDAP configuration
  UPGRADE-6.2.md
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Ldap/Security/CheckLdapCredentialsListener.php
  src/Symfony/Component/Ldap/Security/LdapAuthenticator.php
  src/Symfony/Component/Ldap/Security/LdapBadge.php
  src/Symfony/Component/Ldap/Security/LdapUser.php
  src/Symfony/Component/Ldap/Security/LdapUserProvider.php
  src/Symfony/Component/Ldap/Tests/Security/CheckLdapCredentialsListenerTest.php
  src/Symfony/Component/Ldap/Tests/Security/LdapUserProviderTest.php
  src/Symfony/Component/Ldap/composer.json
Labels: Bug, Status: Reviewed, Ldap

#47105 Fix deps - fix tests
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/NotificationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/FormLoginTest.php
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Notifier/Bridge/AllMySms/composer.json
  src/Symfony/Component/Notifier/Bridge/AmazonSns/composer.json
  src/Symfony/Component/Notifier/Bridge/Clickatell/composer.json
  src/Symfony/Component/Notifier/Bridge/ContactEveryone/composer.json
  src/Symfony/Component/Notifier/Bridge/Discord/composer.json
  src/Symfony/Component/Notifier/Bridge/Engagespot/composer.json
  src/Symfony/Component/Notifier/Bridge/Esendex/composer.json
  src/Symfony/Component/Notifier/Bridge/Expo/composer.json
  src/Symfony/Component/Notifier/Bridge/FakeChat/composer.json
  src/Symfony/Component/Notifier/Bridge/FakeSms/composer.json
  src/Symfony/Component/Notifier/Bridge/Firebase/composer.json
  src/Symfony/Component/Notifier/Bridge/FortySixElks/composer.json
  src/Symfony/Component/Notifier/Bridge/FreeMobile/composer.json
  src/Symfony/Component/Notifier/Bridge/GatewayApi/composer.json
  src/Symfony/Component/Notifier/Bridge/Gitter/composer.json
  src/Symfony/Component/Notifier/Bridge/GoogleChat/composer.json
  src/Symfony/Component/Notifier/Bridge/Infobip/composer.json
  src/Symfony/Component/Notifier/Bridge/Iqsms/composer.json
  src/Symfony/Component/Notifier/Bridge/KazInfoTeh/composer.json
  src/Symfony/Component/Notifier/Bridge/LightSms/composer.json
  src/Symfony/Component/Notifier/Bridge/LinkedIn/composer.json
  src/Symfony/Component/Notifier/Bridge/Mailjet/composer.json
  src/Symfony/Component/Notifier/Bridge/Mattermost/composer.json
  src/Symfony/Component/Notifier/Bridge/Mercure/composer.json
  src/Symfony/Component/Notifier/Bridge/MessageBird/composer.json
  src/Symfony/Component/Notifier/Bridge/MessageMedia/composer.json
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/composer.json
  src/Symfony/Component/Notifier/Bridge/Mobyt/composer.json
  src/Symfony/Component/Notifier/Bridge/Octopush/composer.json
  src/Symfony/Component/Notifier/Bridge/OneSignal/composer.json
  src/Symfony/Component/Notifier/Bridge/OrangeSms/composer.json
  src/Symfony/Component/Notifier/Bridge/OvhCloud/composer.json
  src/Symfony/Component/Notifier/Bridge/RocketChat/composer.json
  src/Symfony/Component/Notifier/Bridge/Sendberry/composer.json
  src/Symfony/Component/Notifier/Bridge/Sendinblue/composer.json
  src/Symfony/Component/Notifier/Bridge/Sinch/composer.json
  src/Symfony/Component/Notifier/Bridge/Slack/composer.json
  src/Symfony/Component/Notifier/Bridge/Sms77/composer.json
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/composer.json
  src/Symfony/Component/Notifier/Bridge/SmsFactor/composer.json
  src/Symfony/Component/Notifier/Bridge/Smsapi/composer.json
  src/Symfony/Component/Notifier/Bridge/Smsc/composer.json
  src/Symfony/Component/Notifier/Bridge/SpotHit/composer.json
  src/Symfony/Component/Notifier/Bridge/Telegram/composer.json
  src/Symfony/Component/Notifier/Bridge/Telnyx/composer.json
  src/Symfony/Component/Notifier/Bridge/TurboSms/composer.json
  src/Symfony/Component/Notifier/Bridge/Twilio/composer.json
  src/Symfony/Component/Notifier/Bridge/Vonage/composer.json
  src/Symfony/Component/Notifier/Bridge/Yunpian/composer.json
  src/Symfony/Component/Notifier/Bridge/Zulip/composer.json
Labels: Status: Needs Review

#47111 [Finder] fix tests on Windows
  src/Symfony/Component/Finder/Tests/FinderTest.php
Labels: Finder, Status: Needs Review

#47079 Remove .gitignore file from dist package
  src/Symfony/Contracts/.gitattributes
  src/Symfony/Contracts/Cache/.gitattributes
  src/Symfony/Contracts/Deprecation/.gitattributes
  src/Symfony/Contracts/EventDispatcher/.gitattributes
  src/Symfony/Contracts/HttpClient/.gitattributes
  src/Symfony/Contracts/Service/.gitattributes
  src/Symfony/Contracts/Translation/.gitattributes
Labels: Status: Reviewed

#43865 [TwigBridge] Add support for toggle buttons in Bootstrap 5 form theme
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_5_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5LayoutTest.php
Labels: Feature, Status: Reviewed, TwigBridge

#47114 Release v4.4.44
  CHANGELOG-4.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47115 Release v5.4.11
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47116 Release v6.0.11
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47117 Release v6.1.3
  CHANGELOG-6.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47129 [FrameworkBundle] remove the ChatterInterface alias when the chatter service is removed
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed
