Repository symfony/symfony, pull requests merged in 2022-08, with the labels that each got.

#47127 [Config] Add conditional types to conditional builders
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/NestedConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypesConfig.php
Labels: Config, Status: Needs Review

#46571 [Messenger] Add new `messenger:count` command that return a list of transports with their "to be processed" message count.
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/StatsCommand.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/Command/StatsCommandTest.php
Labels: Feature, Status: Reviewed, Messenger

#47130 [HttpFoundation] Fix invalid ID not regenerated with native PHP file sessions
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/StrictSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Proxy/SessionHandlerProxy.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Proxy/SessionHandlerProxyTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#47143 [HttpClient] Fix memory leak when using StreamWrapper
  src/Symfony/Component/HttpClient/Response/StreamWrapper.php
Labels: Bug, Status: Needs Review, HttpClient

#47145 [HttpClient] Fix shared connections not being freed on PHP < 8
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
Labels: Bug, Status: Needs Review, HttpClient

#47139 [Intl] Remove unused code in tests
  src/Symfony/Component/Intl/Tests/Transliterator/EmojiTransliteratorTest.php
Labels: Intl, Status: Needs Review

#45333 [Console] Fix ConsoleEvents::SIGNAL subscriber dispatch
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Bug, Console, Status: Reviewed

#47142 [Mailer] Fix error message in case of an STMP error
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
Labels: Bug, Status: Reviewed, Mailer

#47144 [Security] Remove using multiple attributes with #[IsGranted]
  src/Symfony/Component/Security/Http/Attribute/IsGranted.php
  src/Symfony/Component/Security/Http/EventListener/IsGrantedAttributeListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/IsGrantedAttributeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/IsGrantedAttributeController.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/IsGrantedAttributeMethodsController.php
Labels: Security, Bug, Status: Reviewed

#46739 [Yaml] Improve test coverage in DumperTest and ParserTest
  src/Symfony/Component/Yaml/Tests/DumperTest.php
  src/Symfony/Component/Yaml/Tests/Fixtures/multiple_lines_as_literal_block.yml
  src/Symfony/Component/Yaml/Tests/Fixtures/multiple_lines_as_literal_block_for_tagged_values.yml
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Status: Needs Review

#46190 [Translation] Fix translator overlapse
  src/Symfony/Component/Translation/MessageCatalogue.php
  src/Symfony/Component/Translation/Tests/TranslatorTest.php
Labels: Bug, Translation, Status: Reviewed

#46978 [Security] Allow using expressions with the #[IsGranted] attribute
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/AddExpressionLanguageProvidersPass.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Component/Security/Http/Attribute/IsGranted.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/EventListener/IsGrantedAttributeListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/IsGrantedAttributeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/IsGrantedAttributeMethodsController.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Feature, Status: Reviewed

#47016 Improve some PHPdocs based on existing Symfony stubs in PHPstan and Psalm
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Command/LazyCommand.php
  src/Symfony/Component/Console/Helper/HelperSet.php
  src/Symfony/Component/Console/Output/OutputInterface.php
  src/Symfony/Component/DependencyInjection/Extension/ExtensionInterface.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ContainerBagInterface.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/HttpFoundation/Cookie.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/Messenger/Envelope.php
  src/Symfony/Component/Security/Core/Authorization/Voter/VoterInterface.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Passport.php
  src/Symfony/Component/Serializer/SerializerInterface.php
Labels: Status: Reviewed

#47157 [Messenger] Fix Doctrine transport on MySQL
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Status: Needs Review, Messenger

#47161 [Mailer] Fix logic
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
Labels: Bug, Status: Reviewed, Mailer

#47162 [Mailer] Fix error message in case of an SMTP error
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
Labels: Bug, Status: Needs Review, Mailer

#47169 [Serializer] Fix throwing right exception in ArrayDenormalizer with invalid type
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Php74Full.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#47165 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review

#47171 [TwigBridge] suggest to install the Twig bundle when the required component is already installed
  src/Symfony/Bridge/Twig/UndefinedCallableHandler.php
Labels: Bug, Status: Reviewed, TwigBridge

#47172 [Translation] Fix reading intl-icu domains with LocoProvider
  src/Symfony/Component/Translation/Bridge/Loco/LocoProvider.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
Labels: Bug, Translation, Status: Needs Review

#46835 [DependencyInjection] Show error when a null value is provided in the exclude list
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_prototype_array_with_empty_node.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_prototype_array_with_space_node.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_prototype_with_empty_node.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_prototype_with_null_node.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#47175 [DowCrawler] Fix locale-sensitivity of whitespace normalization
  src/Symfony/Component/DomCrawler/Crawler.php
Labels: Bug, Status: Needs Review

#47170 [Mailer] Use better error code when auth fails
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
Labels: Bug, Feature, Status: Reviewed, Mailer

#47180 Add OSSF scorecards
  .github/workflows/scorecards.yml
Labels: Status: Needs Review

#47181 [Messenger] Remove an unused method
  src/Symfony/Component/Messenger/Transport/Sync/SyncTransport.php
Labels: Status: Reviewed, Messenger

#47185 [String] Fix snake conversion
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Bug, Status: Reviewed, String

#47191 [Mailer] Add a way to inject Stamps when sending an email via Messenger
  src/Symfony/Component/Mailer/Event/MessageEvent.php
  src/Symfony/Component/Mailer/Event/QueuingMessageEvent.php
  src/Symfony/Component/Mailer/Mailer.php
  src/Symfony/Component/Mailer/Tests/MailerTest.php
Labels: Feature, Status: Reviewed, Mailer

#47193 [Notifier] Fix test logic
  src/Symfony/Component/Notifier/Bridge/FakeChat/Tests/FakeChatEmailTransportTest.php
  src/Symfony/Component/Notifier/Bridge/FakeSms/Tests/FakeSmsEmailTransportTest.php
Labels: Status: Reviewed, Notifier

#47195 [FrameworkBundle] fix writes to static $kernel property
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#47196 Allow extending `#[When]` attribute
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Prototype/Foo.php
Labels: Feature, Status: Reviewed

#47189 [Validator] Add additional hint when `egulias/email-validator` needs to be installed
  src/Symfony/Component/Validator/Constraints/EmailValidator.php
Labels: Validator, Bug, Status: Reviewed

#47199 Fix tests
  src/Symfony/Component/Mailer/EventListener/MessageLoggerListener.php
Labels: Bug, Status: Reviewed

#47200 [Form] ignore missing keys when mapping DateTime objects to uninitialized arrays
  src/Symfony/Component/Form/Extension/Core/DataMapper/PropertyPathMapper.php
  src/Symfony/Component/Form/Tests/CompoundFormTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataMapper/PropertyPathMapperTest.php
Labels: Form, Bug, Status: Reviewed

#47204 [Notifier] Rename some arguments in notifier assertions
  src/Symfony/Bundle/FrameworkBundle/Test/NotificationAssertionsTrait.php
Labels: Status: Reviewed, Notifier

#47194 [ExpressionLanguage] fix the version the null coalesce operator will introduced with
  src/Symfony/Component/ExpressionLanguage/CHANGELOG.md
Labels: ExpressionLanguage, Status: Needs Review

#47202 [Serializer] enable JSON_PRESERVE_ZERO_FRACTION by default
  src/Symfony/Component/Serializer/Encoder/JsonEncode.php
Labels: Serializer, Status: Reviewed

#47201 [Mime] Add a way to control the HTML to text conversion
  composer.json
  src/Symfony/Bridge/Twig/Mime/BodyRenderer.php
  src/Symfony/Bridge/Twig/Tests/Mime/BodyRendererTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Mime/HtmlToTextConverter/DefaultHtmlToTextConverter.php
  src/Symfony/Component/Mime/HtmlToTextConverter/HtmlToTextConverterInterface.php
  src/Symfony/Component/Mime/HtmlToTextConverter/LeagueHtmlToMarkdownConverter.php
  src/Symfony/Component/Mime/Tests/HtmlToTextConverter/DefaultHtmlToTextConverterTest.php
  src/Symfony/Component/Mime/Tests/HtmlToTextConverter/LeagueHtmlToMarkdownConverterTest.php
  src/Symfony/Component/Mime/composer.json
Labels: Feature, Status: Reviewed, Mime

#47190 [Mailer] Add a way to change the Bus transport dynamically
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Mailer/EventListener/MessengerTransportListener.php
  src/Symfony/Component/Mailer/Tests/EventListener/MessengerTransportListenerTest.php
  src/Symfony/Component/Mailer/composer.json
Labels: Feature, Status: Reviewed, Mailer

#47214 [Translation] Fix Crowdin documentation urls
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProvider.php
Labels: Translation, Status: Reviewed

#47203 [Form] ignore missing keys when mapping DateTime objects to uninitialized arrrays
  src/Symfony/Component/Form/Extension/Core/DataAccessor/PropertyPathAccessor.php
  src/Symfony/Component/Form/Tests/CompoundFormTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataMapper/DataMapperTest.php
Labels: Form, Status: Reviewed

#47218 [Console] fix dispatch signal event check for compatibility with the contract interface
  src/Symfony/Component/Console/Application.php
Labels: Bug, Console, Status: Reviewed

#47211 [Validator] validate nested constraints only if they are in the same group
  src/Symfony/Component/Validator/Constraints/AtLeastOneOfValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/AtLeastOneOfValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/SequentiallyValidatorTest.php
Labels: Validator, Bug, Status: Reviewed

#47230 [Form] clean up legacy test
  src/Symfony/Component/Form/Tests/CompoundFormTest.php
Labels: Form, Status: Reviewed

#47233 [FrameworkBundle] execute tests with the full range of supported Mailer component releases
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Reviewed

#47209 Always attempt to listen for notifications
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/PostgreSqlConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/PostgreSqlConnection.php
Labels: Bug, Status: Reviewed

#47231 [Validator] add missing changelog entry for the AtLeastOneOf constraint
  src/Symfony/Component/Validator/CHANGELOG.md
Labels: Validator, Status: Needs Review

#47232 [FrameworkBundle] execute tests with the full range of supported Messenger component releases
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Reviewed

#47234 [Mailer] add test assertion for X-Bus-Transport header being actually removed
  src/Symfony/Component/Mailer/Tests/EventListener/MessengerTransportListenerTest.php
Labels: Status: Reviewed, Mailer

#47225 [Mime] Re-allow addIdHeader to be used for 'In-Reply-To' and 'References' headers
  src/Symfony/Component/Mime/Header/Headers.php
  src/Symfony/Component/Mime/Tests/Header/HeadersTest.php
Labels: Feature, Status: Reviewed, Mime

#47237 [FrameworkBundle] conflict with symfony/messenger < 6.2
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Reviewed

#47238 [HttpKernel] Fix passing `null` to `\trim()` method in LoggerDataCollector
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
Labels: Bug, HttpKernel, Status: Reviewed

#47239 Remove wrong PHPDoc
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
Labels: Bug, Status: Reviewed

#46428 [Security] Access Token Authenticator
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AccessTokenFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator_access_token.php
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Security/Factory/AccessTokenFactoryTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AccessTokenTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AccessTokenBundle/AccessTokenBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AccessTokenBundle/Controller/BarController.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AccessTokenBundle/Controller/FooController.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AccessTokenBundle/Security/Handler/AccessTokenHandler.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AccessTokenBundle/Security/Http/JsonAuthenticationFailureHandler.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AccessTokenBundle/Security/Http/JsonAuthenticationSuccessHandler.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/bundles.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_anonymous.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_body_custom.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_body_default.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_header_custom.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_header_default.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_multiple_extractors.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_no_extractors.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_no_handler.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_query_custom.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_query_default.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/routing.yml
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/AccessToken/AccessTokenExtractorInterface.php
  src/Symfony/Component/Security/Http/AccessToken/AccessTokenHandlerInterface.php
  src/Symfony/Component/Security/Http/AccessToken/ChainAccessTokenExtractor.php
  src/Symfony/Component/Security/Http/AccessToken/FormEncodedBodyExtractor.php
  src/Symfony/Component/Security/Http/AccessToken/HeaderAccessTokenExtractor.php
  src/Symfony/Component/Security/Http/AccessToken/QueryAccessTokenExtractor.php
  src/Symfony/Component/Security/Http/Authenticator/AccessTokenAuthenticator.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Tests/Authenticator/AccessToken/ChainedAccessTokenExtractorsTest.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/AccessToken/FormEncodedBodyAccessTokenAuthenticatorTest.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/AccessToken/HeaderAccessTokenAuthenticatorTest.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/AccessToken/QueryAccessTokenAuthenticatorTest.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/InMemoryAccessTokenHandler.php
Labels: Security, Bug, Feature, Ready, Status: Reviewed

#47240 [Cache] Fix type declaration for RedisClusterProxy::$redis
  src/Symfony/Component/Cache/Traits/RedisClusterProxy.php
Labels: Status: Reviewed, Cache

#46000 [Workflow] Mark registry as internal and deprecate the service
  UPGRADE-6.2.md
  UPGRADE-7.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/workflow.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/WorkflowDumpCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Registry.php
Labels: Feature, Status: Reviewed, Deprecation, Workflow

#47262 [String] Add tests for AsciiSlugger
  src/Symfony/Component/String/Tests/Slugger/AsciiSluggerTest.php
Labels: Status: Reviewed, String

#47269 [String] fix AsciiSlugger tests if transliterator_transliterate() isn't present
  src/Symfony/Component/String/Tests/Slugger/AsciiSluggerTest.php
Labels: Status: Reviewed, String

#47270 [Clock] fix transient NativeClock test
  src/Symfony/Component/Clock/NativeClock.php
  src/Symfony/Component/Clock/Tests/NativeClockTest.php
Labels: Status: Reviewed

#47094 [HttpKernel] Use xxh128 algorithm instead of sha256 for http cache store key
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpKernel/HttpCache/Store.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/StoreTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#45418 [Messenger] Add HandlerArgumentsStamp
  src/Symfony/Component/Messenger/Middleware/HandleMessageMiddleware.php
  src/Symfony/Component/Messenger/Stamp/HandlerArgumentsStamp.php
  src/Symfony/Component/Messenger/Tests/Middleware/HandleMessageMiddlewareTest.php
Labels: Feature, Status: Reviewed, Messenger

#47273 [HttpFoundation] Do not send Set-Cookie header twice for deleted session cookie
  src/Symfony/Component/HttpFoundation/Tests/Fixtures/response-functional/deleted_cookie.expected
  src/Symfony/Component/HttpFoundation/Tests/Fixtures/response-functional/deleted_cookie.php
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
Labels: Bug, HttpFoundation, Status: Reviewed

#47293 [Messenger] drop `Redis*Proxy` classes
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisClusterProxy.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisProxy.php
Labels: Status: Reviewed, Messenger

#47297 [Intl] Fixed return type of EmojiTransliterator::create() and some others methods
  src/Symfony/Component/Intl/Transliterator/EmojiTransliterator.php
Labels: Intl, Status: Reviewed

#47264 [String] Add support for emoji in AsciiSlugger
  src/Symfony/Component/String/CHANGELOG.md
  src/Symfony/Component/String/Slugger/AsciiSlugger.php
  src/Symfony/Component/String/Tests/Slugger/AsciiSluggerTest.php
  src/Symfony/Component/String/composer.json
Labels: Feature, Status: Reviewed, String

#47298 Add missing types to BackedEnumNormalizer
  src/Symfony/Component/Serializer/Normalizer/BackedEnumNormalizer.php
Labels: Status: Reviewed

#47300 [Intl] Better DX when intl package is missing
  src/Symfony/Component/Intl/Locale.php
  src/Symfony/Component/Intl/Transliterator/EmojiTransliterator.php
Labels: Intl, Status: Reviewed

#47299 [Console] fix expected command name order with mixed integer and string namespaces
  src/Symfony/Component/Console/Descriptor/ApplicationDescription.php
  src/Symfony/Component/Console/Tests/Descriptor/ApplicationDescriptionTest.php
Labels: Console, Status: Needs Review

#47295 [PhpUnitBridge] add ability to mock the hrtime() function
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/ClockMock.php
  src/Symfony/Bridge/PhpUnit/Tests/ClockMockTest.php
Labels: Feature, PhpUnitBridge, Status: Needs Review

#47306 [HttpFoundation] Fix tests on PHP 8.2
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/AbstractSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/empty_destroys.expected
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/storage.expected
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/with_cookie_and_session.expected
Labels: HttpFoundation, Status: Needs Review

#47242 [DoctrineBridge] Do not ignore null IDs in EntityValueResolver
  src/Symfony/Bridge/Doctrine/ArgumentResolver/EntityValueResolver.php
  src/Symfony/Bridge/Doctrine/Tests/ArgumentResolver/EntityValueResolverTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#47319 revert #47270 to not use microtime() in the NativeClock
  src/Symfony/Component/Clock/NativeClock.php
  src/Symfony/Component/Clock/Tests/NativeClockTest.php
Labels: Status: Reviewed

#47318 [PhpUnitBridge] fix order of returned array values for mocked hrtime()
  src/Symfony/Bridge/PhpUnit/ClockMock.php
  src/Symfony/Bridge/PhpUnit/Tests/ClockMockTest.php
Labels: Bug, PhpUnitBridge, Status: Needs Review

#47328 [Clock] use the clock mock to fix transient MonotonicClock tests
  src/Symfony/Component/Clock/MonotonicClock.php
  src/Symfony/Component/Clock/Tests/MonotonicClockTest.php
Labels: Status: Needs Review

#47128 [Serializer] Throw InvalidArgumentException if the data needed in the constructor doesn't belong to a backedEnum
  src/Symfony/Component/Serializer/Normalizer/BackedEnumNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyObjectWithEnumConstructor.php
  src/Symfony/Component/Serializer/Tests/Normalizer/BackedEnumNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#47283 [HttpFoundation] Prevent accepted rate limits with no remaining token to be preferred over denied ones
  src/Symfony/Component/HttpFoundation/RateLimiter/AbstractRequestRateLimiter.php
  src/Symfony/Component/HttpFoundation/Tests/RateLimiter/AbstractRequestRateLimiterTest.php
  src/Symfony/Component/HttpFoundation/Tests/RateLimiter/MockAbstractRequestRateLimiter.php
  src/Symfony/Component/HttpFoundation/composer.json
Labels: Bug, HttpFoundation, Status: Reviewed

#41171 [Messenger] Add simple transport based rate limiter to Messenger
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_transports.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Event/WorkerRateLimitedEvent.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Worker.php
  src/Symfony/Component/Messenger/composer.json
Labels: Feature, Status: Reviewed, Messenger

#40152 [Messenger] Pass sender details to SendMessageToTransportsEvent
  src/Symfony/Component/Messenger/Event/SendMessageToTransportsEvent.php
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
Labels: Feature, Status: Reviewed, Messenger

#47336 [FrameworkBundle] clean up unused variables
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: FrameworkBundle, Status: Reviewed

#47335 [Security] [AbstractToken] getUserIdentifier() must return a string
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
Labels: Security, Bug, Status: Needs Review

#47329 Email image parts: regex for single closing quote
  src/Symfony/Component/Mime/Email.php
Labels: Bug, Status: Reviewed

#47101 [DependencyInjection] Allow service subscribers to return `SubscribedService[]`
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/RegisterServiceSubscribersPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/TypedReference.php
  src/Symfony/Contracts/CHANGELOG.md
  src/Symfony/Contracts/Service/Attribute/SubscribedService.php
  src/Symfony/Contracts/Service/ServiceSubscriberInterface.php
  src/Symfony/Contracts/Service/ServiceSubscriberTrait.php
  src/Symfony/Contracts/Tests/Service/ServiceSubscriberTraitTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#47337 [Clock] relax some assertions to transient NativeClock tests
  src/Symfony/Component/Clock/Tests/NativeClockTest.php
Labels: Status: Reviewed

#47150 [Serializer] Revert deprecation of `ContextAwareEncoderInterface` and `ContextAwareDecoderInterface`
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Encoder/ChainDecoder.php
  src/Symfony/Component/Serializer/Encoder/ChainEncoder.php
  src/Symfony/Component/Serializer/Encoder/ContextAwareDecoderInterface.php
  src/Symfony/Component/Serializer/Encoder/ContextAwareEncoderInterface.php
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Encoder/DecoderInterface.php
  src/Symfony/Component/Serializer/Encoder/EncoderInterface.php
  src/Symfony/Component/Serializer/Encoder/JsonDecode.php
  src/Symfony/Component/Serializer/Encoder/JsonEncode.php
  src/Symfony/Component/Serializer/Encoder/JsonEncoder.php
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Encoder/YamlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/ChainDecoderTest.php
  src/Symfony/Component/Serializer/Tests/Encoder/ChainEncoderTest.php
Labels: Serializer, Bug, Status: Reviewed

#47304 [Serializer] Fix caching context-aware encoders/decoders in ChainEncoder/ChainDecoder
  src/Symfony/Component/Serializer/Encoder/ChainDecoder.php
  src/Symfony/Component/Serializer/Encoder/ChainEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/ChainDecoderTest.php
  src/Symfony/Component/Serializer/Tests/Encoder/ChainEncoderTest.php
Labels: Serializer, Bug, Status: Reviewed

#47339 [DoctrineBridge] Make EntityValueResolver::supports() more specific
  src/Symfony/Bridge/Doctrine/ArgumentResolver/EntityValueResolver.php
  src/Symfony/Bridge/Doctrine/Tests/ArgumentResolver/EntityValueResolverTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#47368 [Security] Count remember me cookie parts before accessing the second
  src/Symfony/Component/Security/Http/RememberMe/RememberMeDetails.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/RememberMeAuthenticatorTest.php
Labels: Security, Bug, Status: Reviewed

#47391 [LokaliseBridge] Fix push command --delete-missing options when there are no missing messages
  src/Symfony/Component/Translation/Bridge/Lokalise/LokaliseProvider.php
  src/Symfony/Component/Translation/Bridge/Lokalise/Tests/LokaliseProviderTest.php
Labels: Bug, Status: Reviewed

#47381 [FrameworkBundle] fix bad help message in cache warmup command
  src/Symfony/Bundle/FrameworkBundle/Command/CacheWarmupCommand.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#47373 [Notifier] Add Chatwork Notifier Bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Chatwork/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Chatwork/.gitignore
  src/Symfony/Component/Notifier/Bridge/Chatwork/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Chatwork/ChatworkMessageBodyBuilder.php
  src/Symfony/Component/Notifier/Bridge/Chatwork/ChatworkOptions.php
  src/Symfony/Component/Notifier/Bridge/Chatwork/ChatworkTransport.php
  src/Symfony/Component/Notifier/Bridge/Chatwork/ChatworkTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Chatwork/LICENSE
  src/Symfony/Component/Notifier/Bridge/Chatwork/README.md
  src/Symfony/Component/Notifier/Bridge/Chatwork/Tests/ChatworkMessageBodyBuilderTest.php
  src/Symfony/Component/Notifier/Bridge/Chatwork/Tests/ChatworkOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Chatwork/Tests/ChatworkTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Chatwork/Tests/ChatworkTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Chatwork/composer.json
  src/Symfony/Component/Notifier/Bridge/Chatwork/phpunit.xml.dist
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#47372 [Console] Fix OutputFormatterStyleStack::getCurrent return type
  src/Symfony/Component/Console/Formatter/OutputFormatterStyleStack.php
Labels: Bug, Console, Status: Reviewed

#47367 [DependencyInjection] Handle INI arrays
  src/Symfony/Component/DependencyInjection/Loader/IniFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/ini/types.ini
  src/Symfony/Component/DependencyInjection/Tests/Loader/IniFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#47397 Release v4.4.45
  CHANGELOG-4.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47398 Release v5.4.12
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47399 Release v6.0.12
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47400 Release v6.1.4
  CHANGELOG-6.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47395 Replace FILTER_VALIDATE_BOOLEAN by FILTER_VALIDATE_BOOL
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/ApcuAdapter.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/ApcuAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/MemcachedAdapterTest.php
  src/Symfony/Component/Config/ResourceCheckerConfigCache.php
  src/Symfony/Component/Console/Command/CompleteCommand.php
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/ErrorHandler/Debug.php
  src/Symfony/Component/HttpFoundation/ParameterBag.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/AbstractSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
  src/Symfony/Component/HttpFoundation/Tests/Fixtures/response-functional/common.inc
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PdoSessionHandlerTest.php
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/EventListener/ProfilerListener.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/ConfigDataCollectorTest.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetApiTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/Transport/InMemoryTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/OvhCloudTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/SmsBiurasTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/SmsapiTransportFactory.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/Routing/Router.php
  src/Symfony/Component/Runtime/GenericRuntime.php
  src/Symfony/Component/Runtime/Internal/BasicErrorHandler.php
  src/Symfony/Component/Translation/Loader/PhpFileLoader.php
  src/Symfony/Component/VarDumper/Tests/Caster/FFICasterTest.php
Labels: Status: Reviewed

#47403 [Mailer] Fix edge cases in STMP transports
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/SmtpTransportTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
Labels: Bug, Status: Reviewed, Mailer

#47428 [Form][Validator] Fix checking result of DateTime::getLastErrors
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToStringTransformer.php
  src/Symfony/Component/Validator/Constraints/DateTimeValidator.php
Labels: Form, Validator, Bug, Status: Reviewed

#47351 [FrameworkBundle] Do not throw when describing a factory definition
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/ObjectsProvider.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_3.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_3.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_3.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_3.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_3.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_3.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_3.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_3.xml
Labels: Bug, FrameworkBundle, Status: Needs Review

#47434 [HttpFoundation] move flushing outside of Response::closeOutputBuffers
  src/Symfony/Component/HttpFoundation/Response.php
Labels: Bug, HttpFoundation, Status: Reviewed

#47433 [DependencyInjection] fix typo
  src/Symfony/Component/DependencyInjection/Attribute/When.php
Labels: DependencyInjection, Status: Needs Review

#47437 [Mime] Fix email rendering when having inlined parts that are not related to the content
  src/Symfony/Component/Mime/Email.php
  src/Symfony/Component/Mime/Tests/EmailTest.php
Labels: Bug, Status: Reviewed, Mime

#47440 Using identical comparison for path validation
  src/Symfony/Component/Asset/VersionStrategy/StaticVersionStrategy.php
Labels: Status: Reviewed

#47417 [WebProfilerBundle] Fix profile search bar link query params
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#47435 [HttpKernel] lock when writting profiles
  src/Symfony/Component/HttpKernel/Profiler/FileProfilerStorage.php
Labels: Bug, HttpKernel, Status: Reviewed
