Repository symfony/symfony, pull requests merged in 2022-04, with the labels that each got.

#44446 [Mailer] Improve extensibility of `EsmtpTransport`
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/DummyStream.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/EsmtpTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/SmtpTransportTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
Labels: Status: Reviewed, Mailer

#45845 [TwigBundle]  Pre-compile only *.twig files in cache warmup
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/Command/LintCommand.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/Resources/config/console.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
  src/Symfony/Bundle/TwigBundle/TemplateIterator.php
  src/Symfony/Bundle/TwigBundle/Tests/Fixtures/templates/Foo/not-twig.js
  src/Symfony/Bundle/TwigBundle/Tests/TemplateIteratorTest.php
Labels: Bug, TwigBundle, Status: Reviewed

#43239 [Finder] Look for gitignore patterns up to git root
  src/Symfony/Component/Finder/Iterator/VcsIgnoredFilterIterator.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
  src/Symfony/Component/Finder/Tests/Fixtures/gitignore/git_root/search_root/.gitignore
  src/Symfony/Component/Finder/Tests/Fixtures/gitignore/git_root/search_root/b.txt
  src/Symfony/Component/Finder/Tests/Fixtures/gitignore/git_root/search_root/dir/.gitignore
  src/Symfony/Component/Finder/Tests/Fixtures/gitignore/git_root/search_root/dir/a.txt
  src/Symfony/Component/Finder/Tests/Iterator/RealIteratorTestCase.php
  src/Symfony/Component/Finder/composer.json
Labels: Feature, Finder, Status: Reviewed

#45714 [Messenger] Fix cannot select FOR UPDATE from view on Oracle
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Status: Needs Review, Messenger

#45072 [Validator] Allow creating constraints with required arguments
  src/Symfony/Component/Validator/Attribute/HasNamedArguments.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Mapping/Loader/AbstractLoader.php
  src/Symfony/Component/Validator/Tests/Fixtures/ConstraintWithRequiredArgument.php
  src/Symfony/Component/Validator/Tests/Fixtures/Entity_81.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping-required-arg.xml
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping-required-arg.yml
Labels: Validator, Feature, Status: Reviewed

#45908 [Filesystem] Missing return type in getFilenameWithoutExtension function
  src/Symfony/Component/Filesystem/Path.php
Labels: Filesystem, Status: Needs Review

#45909 [Form][TwigBundle] reset Twig form theme resources between requests
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Component/Form/AbstractRendererEngine.php
Labels: Form, Bug, TwigBundle, Status: Reviewed

#45910 [Messenger] reset connection on worker shutdown
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Bug, Status: Reviewed, Messenger

#45656 [Serializer] Add serializer profiler
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer_debug.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/serializer.html.twig
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/DataCollector/SerializerDataCollector.php
  src/Symfony/Component/Serializer/Debug/TraceableEncoder.php
  src/Symfony/Component/Serializer/Debug/TraceableNormalizer.php
  src/Symfony/Component/Serializer/Debug/TraceableSerializer.php
  src/Symfony/Component/Serializer/DependencyInjection/SerializerPass.php
  src/Symfony/Component/Serializer/Encoder/ChainEncoder.php
  src/Symfony/Component/Serializer/Tests/DataCollector/SerializerDataCollectorTest.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableEncoderTest.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableSerializerTest.php
  src/Symfony/Component/Serializer/Tests/DependencyInjection/SerializerPassTest.php
  src/Symfony/Component/Serializer/Tests/Encoder/ChainEncoderTest.php
Labels: Serializer, Feature, Status: Reviewed

#45912 [ExpressionLanguage] Add some more operators
  src/Symfony/Component/ExpressionLanguage/Lexer.php
  src/Symfony/Component/ExpressionLanguage/Node/BinaryNode.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/Resources/bin/generate_operator_regex.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/BinaryNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/ParserTest.php
Labels: Feature, ExpressionLanguage, Status: Reviewed

#45914 Release v4.4.40
  CHANGELOG-4.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#45915 Release v5.4.7
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#45916 Release v6.0.7
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#45921 [PhpUnitBridge] Fix ignoreFile comments
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/ignore.phpt
Labels: Bug, PhpUnitBridge, Status: Needs Review

#45605 [Form] Add prototype_options to CollectionType
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/CollectionType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CollectionTypeTest.php
Labels: Form, Feature, Status: Reviewed

#45927 [VarExporter] Fix syntax that makes psalm crash
  src/Symfony/Component/VarExporter/Internal/Registry.php
Labels: Status: Needs Review, VarExporter

#45923 [PHPUnitBridge] Fix max threshold when only ignoreFile is set in SYMFONY_DEPRECATIONS_HELPER
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
Labels: Bug, Status: Needs Review

#45925 [RateLimiter] Add typecase to SlidingWindow::getExpirationTime
  src/Symfony/Component/RateLimiter/Policy/SlidingWindow.php
  src/Symfony/Component/RateLimiter/Tests/Policy/SlidingWindowTest.php
Labels: Bug, Status: Needs Review, RateLimiter

#45928 [ExpressionLanguage] Fix matching null against a regular expression
  src/Symfony/Component/ExpressionLanguage/Node/BinaryNode.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/BinaryNodeTest.php
Labels: Bug, ExpressionLanguage, Status: Reviewed

#45931 [Process] Fix Process::getEnv() when setEnv() hasn't been called before
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Bug, Process, Status: Needs Review

#45941 [TwigBridge] Make LintCommand::$namePatterns private
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bundle/TwigBundle/Command/LintCommand.php
Labels: Status: Reviewed, TwigBridge

#45942 [ExpressionLanguage] Add missing changelog entry
  src/Symfony/Component/ExpressionLanguage/CHANGELOG.md
Labels: ExpressionLanguage, Status: Reviewed

#45966 Add tests to messenger connection get for OraclePlatform
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/ConnectionTest.php
Labels: Status: Reviewed

#45948 [RateLimiter] Adding default empty string value on Security::LAST_USERNAME
  src/Symfony/Component/Security/Http/RateLimiter/DefaultLoginRateLimiter.php
Labels: Bug, Status: Reviewed, RateLimiter

#45964 Fix use_cookies framework session configuration
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
Labels: Bug, Status: Reviewed

#45970 [Notifier] Improve some type annotations
  src/Symfony/Component/Notifier/Notification/Notification.php
  src/Symfony/Component/Notifier/Notifier.php
Labels: Status: Reviewed, Notifier

#45951 [Notifier] [OvhCloud] Add `no_stop_clause` to DSN
  src/Symfony/Component/Notifier/Bridge/OvhCloud/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/OvhCloud/OvhCloudTransport.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/OvhCloudTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/README.md
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportTest.php
Labels: Feature, Status: Reviewed, Notifier

#45978 Leverage array_is_list(), get_debug_type(), is_countable(), is_iterable(), str_contains() and str_starts_with()
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorTextContains.php
  src/Symfony/Component/ErrorHandler/Resources/views/exception.html.php
  src/Symfony/Component/ErrorHandler/Resources/views/traces.html.php
  src/Symfony/Component/Filesystem/Path.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/HttpClient/MockHttpClient.php
  src/Symfony/Component/Mime/Test/Constraint/EmailHtmlBodyContains.php
  src/Symfony/Component/Mime/Test/Constraint/EmailTextBodyContains.php
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Semaphore/Store/RedisStore.php
  src/Symfony/Component/String/AbstractString.php
Labels: Status: Reviewed

#45565 Fix table header seperator wrapping
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: Bug, Status: Reviewed

#45967 [Messenger] Consume a PSR-14 dispatcher for dispatching events
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageForRetryListener.php
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageForRetryListenerTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Worker.php
  src/Symfony/Component/Messenger/composer.json
Labels: Feature, Status: Reviewed, Messenger

#45724 [FrameworkBundle] Add support to set BinaryFileResponse::trustXSendfileTypeHeader over config
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/full.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Feature, Status: Reviewed

#45803 [Routing] Add EnumRequirement to help generate route requirements from a \BackedEnum
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Requirement/EnumRequirement.php
  src/Symfony/Component/Routing/Tests/Fixtures/Enum/TestIntBackedEnum.php
  src/Symfony/Component/Routing/Tests/Fixtures/Enum/TestStringBackedEnum.php
  src/Symfony/Component/Routing/Tests/Fixtures/Enum/TestStringBackedEnum2.php
  src/Symfony/Component/Routing/Tests/Fixtures/Enum/TestUnitEnum.php
  src/Symfony/Component/Routing/Tests/Requirement/EnumRequirementTest.php
Labels: Feature, Routing, Status: Reviewed

#45998 [HttpClient] Fix sending content-length when streaming the body
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Bug, Status: Reviewed, HttpClient

#45983 [Messenger] DoctrineTransportFactory works with notify and decorated PostgreSQL driver
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineTransportFactoryTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransportFactory.php
Labels: Bug, Status: Reviewed, Messenger

#44155 [FrameworkBundle] Add semaphore configuration
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Resources/config/semaphore.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/semaphore.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/semaphore.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/semaphore_named.yml
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Feature, FrameworkBundle, Status: Reviewed

#46013 [FrameworkBundle] Fix env resolution in lock configuration
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#45093 [Validator] Improve FileValidator sizes factorization edge case
  src/Symfony/Component/Validator/Constraints/FileValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTest.php
Labels: Validator, Status: Reviewed

#46012 [HttpKernel] Fix Symfony not working on SMB share
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, HttpKernel, Status: Reviewed

#46014 [Messenger] Leverage nullsafe operator in worker
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Status: Reviewed, Messenger

#46009 [FrameworkBundle] Add support for first-class callable route controller in MicroKernelTrait
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelTraitTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/flex-style/src/FlexStyleMicroKernel.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#40998 [Form] Use reference date in reverse transform
  src/Symfony/Component/Form/Extension/Core/Type/TimeType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TimeTypeTest.php
Labels: Form, Bug, Status: Reviewed

#45171 [Translation] Allow usage of Provider domains if possible
  src/Symfony/Component/Translation/Command/TranslationPushCommand.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPushCommandTest.php
Labels: Bug, Translation, Status: Needs Review

#46020 Add missing license header
  src/Symfony/Component/DependencyInjection/Tests/Exception/AutowiringFailedExceptionTest.php
Labels: Status: Reviewed

#46021 [Mailer] prefer From header over Return-Path as sender in SES API transport
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiAsyncAwsTransport.php
Labels: Bug, Status: Reviewed, Mailer

#46022 Add missing license header
  src/Symfony/Component/HttpKernel/Tests/Exception/LockedHttpExceptionTest.php
  src/Symfony/Component/Notifier/Bridge/FortySixElks/Tests/FortySixElksTransportFactoryTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/DummyContextChild.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderFactoryWithoutTranslatorBagTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderWithoutTranslatorBagTest.php
Labels: Status: Needs Review

#46024 [FrameworkBundle] Make updates from older versions smooth
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
Labels: FrameworkBundle, Status: Reviewed

#44405 [Routing] Allow using services in the route condition
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Bundle/FrameworkBundle/Routing/Attribute/AsRoutingConditionService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/RoutingConditionServiceBundle/Controller/DefaultController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/RoutingConditionServiceBundle/RoutingConditionServiceBundle.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/RoutingConditionServiceBundle/Service/AutoConfiguredNonAliasedService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/RoutingConditionServiceBundle/Service/AutoConfiguredService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/RoutingConditionServiceBundle/Service/FooOriginalService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/RoutingConditionServiceBundle/Service/FooReplacementService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/RoutingConditionServiceBundle/Service/ManuallyTaggedService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/RoutingConditionServiceTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/RoutingConditionService/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/RoutingConditionService/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/RoutingConditionService/routing.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/RoutingConditionService/services_auto_configured.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/RoutingConditionService/services_manually_configured.yml
Labels: Feature, Routing, Status: Reviewed

#46043 Minor cleanup
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Component/Asset/CHANGELOG.md
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Routing/Requirement/EnumRequirement.php
  src/Symfony/Component/Yaml/CHANGELOG.md
Labels: Status: Needs Review

#45980 [Finder] Add support of no-capture regex modifier in MultiplePcreFilterIterator (available from PHP 8.2)
  src/Symfony/Component/Finder/Iterator/MultiplePcreFilterIterator.php
  src/Symfony/Component/Finder/Tests/Iterator/MultiplePcreFilterIteratorTest.php
Labels: Bug, Finder, Status: Reviewed

#46045 [Translation] Improve LocaleSwitcher a bit
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/ConfigureLocaleSwitcherPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/ConfigureLocaleSwitcherPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Translation/LocaleAwareRequestContextTest.php
  src/Symfony/Bundle/FrameworkBundle/Translation/LocaleAwareRequestContext.php
  src/Symfony/Component/Translation/LocaleSwitcher.php
  src/Symfony/Component/Translation/Tests/LocaleSwitcherTest.php
  src/Symfony/Component/Translation/composer.json
Labels: Translation, Status: Reviewed

#46044 [Security][Validator] Update Hebrew translations
  src/Symfony/Component/Security/Core/Resources/translations/security.he.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.he.xlf
Labels: Validator, Security, Status: Reviewed

#44798 [FrameworkBundle] Integrate the HtmlSanitizer component
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/html_sanitizer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/html_sanitizer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/html_sanitizer.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/html_sanitizer.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Feature, FrameworkBundle, Ready, Status: Reviewed

#46049 Release v6.1.0-BETA1
  CHANGELOG-6.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#46051 Don't replace symfony/security-guard
  composer.json
Labels: Bug, Status: Reviewed

#46050 [Form] Remove useless condition
  src/Symfony/Component/Form/FormBuilder.php
Labels: Form, Status: Reviewed

#45528 [Routing] Add Requirement, a collection of universal regular-expressions constants to use as route parameter requirements
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Requirement/Requirement.php
  src/Symfony/Component/Routing/Tests/Requirement/RequirementTest.php
Labels: Feature, Routing, Status: Reviewed

#46059 [PasswordHasher] Fix composer.json
  src/Symfony/Component/PasswordHasher/composer.json
Labels: Status: Reviewed, PasswordHasher

#46060 Clean skippable tests that are never skipped
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/ORMQueryBuilderLoaderTest.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Bridge/Monolog/Tests/Processor/TokenProcessorTest.php
  src/Symfony/Bridge/Twig/Tests/Command/DebugCommandTest.php
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/HttpFoundationExtensionTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/HttpKernelExtensionTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/WorkflowExtensionTest.php
  src/Symfony/Bundle/DebugBundle/Tests/DependencyInjection/DebugExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/RouterDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Test/WebTestCaseTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/MergeExtensionConfigurationPassTest.php
  src/Symfony/Component/DomCrawler/Tests/Html5ParserCrawlerTest.php
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Form/Tests/FormErrorIteratorTest.php
  src/Symfony/Component/HttpFoundation/Tests/UrlHelperTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/DebugHandlersListenerTest.php
  src/Symfony/Component/Ldap/Tests/Security/CheckLdapCredentialsListenerTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridApiTransportTest.php
  src/Symfony/Component/Messenger/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/PasswordHasher/Tests/Command/UserPasswordHashCommandTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/SerializerExtractorTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPullCommandTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPushCommandTest.php
  src/Symfony/Component/Translation/Tests/DataCollector/TranslationDataCollectorTest.php
  src/Symfony/Component/Uid/Tests/Command/GenerateUlidCommandTest.php
  src/Symfony/Component/Uid/Tests/Command/GenerateUuidCommandTest.php
  src/Symfony/Component/VarDumper/Tests/Command/ServerDumpCommandTest.php
  src/Symfony/Component/Yaml/Tests/Command/LintCommandTest.php
Labels: Status: Reviewed

#46063 [Security] Add test case for user not found
  src/Symfony/Component/Security/Http/Tests/Authenticator/Passport/Badge/UserBadgeTest.php
Labels: Security, Status: Reviewed

#46061 [HtmlSanitizer] Fix documentation of allow* function calls
  src/Symfony/Component/HtmlSanitizer/README.md
Labels: Status: Reviewed, HtmlSanitizer

#46065 [Mailer] README, missing import in example
  src/Symfony/Component/Mailer/README.md
Labels: Status: Reviewed, Mailer

#46062 [HtmlSanitizer] Add HtmlSanitizerConfig::withMaxInputLength()
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Component/HtmlSanitizer/HtmlSanitizer.php
  src/Symfony/Component/HtmlSanitizer/HtmlSanitizerConfig.php
Labels: Status: Reviewed, HtmlSanitizer

#46054 [SecurityBundle] Use config's secret in remember-me signatures
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/RememberMeFactory.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#46052 [TwigBundle] Deprecate option "autoescape", use "autoescape_service[_method]" instead
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/extra.xml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/yml/full.yml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/TwigExtensionTest.php
Labels: TwigBundle, Status: Reviewed, Deprecation

#46030 [Form] do not use mocks in tests when not necessary
  src/Symfony/Component/Form/Tests/AbstractFormTest.php
  src/Symfony/Component/Form/Tests/AbstractRequestHandlerTest.php
  src/Symfony/Component/Form/Tests/ButtonTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/CachingFactoryDecoratorTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/DefaultChoiceListFactoryTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/PropertyAccessDecoratorTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/LazyChoiceListTest.php
  src/Symfony/Component/Form/Tests/CompoundFormTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/BaseDateTimeTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DataTransformerChainTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToArrayTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToHtml5LocalDateTimeTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToRfc3339TransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToTimestampTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/PercentToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FileTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Csrf/EventListener/CsrfValidationListenerTest.php
  src/Symfony/Component/Form/Tests/Extension/Csrf/Type/FormTypeCsrfExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/DataCollector/DataCollectorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/DataCollector/FormDataCollectorTest.php
  src/Symfony/Component/Form/Tests/Extension/DataCollector/FormDataExtractorTest.php
  src/Symfony/Component/Form/Tests/Extension/DataCollector/Type/DataCollectorTypeExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/DependencyInjection/DependencyInjectionExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
  src/Symfony/Component/Form/Tests/Fixtures/ArrayChoiceLoader.php
  src/Symfony/Component/Form/Tests/Fixtures/ConfigurableFormType.php
  src/Symfony/Component/Form/Tests/Fixtures/Map.php
  src/Symfony/Component/Form/Tests/Fixtures/NullFormTypeGuesser.php
  src/Symfony/Component/Form/Tests/FormBuilderTest.php
  src/Symfony/Component/Form/Tests/FormConfigTest.php
  src/Symfony/Component/Form/Tests/FormErrorIteratorTest.php
  src/Symfony/Component/Form/Tests/FormFactoryBuilderTest.php
  src/Symfony/Component/Form/Tests/FormFactoryTest.php
  src/Symfony/Component/Form/Tests/FormRegistryTest.php
  src/Symfony/Component/Form/Tests/FormRendererTest.php
  src/Symfony/Component/Form/Tests/ResolvedFormTypeTest.php
  src/Symfony/Component/Form/Tests/SimpleFormTest.php
Labels: Form, Status: Reviewed

#46095 [Form] do not use mocks in tests when not necessary
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/Cache/ChoiceLoaderTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/CachingFactoryDecoratorTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/DefaultChoiceListFactoryTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/PropertyAccessDecoratorTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Loader/FilterChoiceLoaderDecoratorTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/ViolationMapperTest.php
  src/Symfony/Component/Form/Tests/Fixtures/DummyFormRendererEngine.php
  src/Symfony/Component/Form/Tests/Fixtures/FixedTranslator.php
  src/Symfony/Component/Form/Tests/FormRendererTest.php
Labels: Form, Status: Reviewed

#46096 [Form] improve an assertion
  src/Symfony/Component/Form/Tests/Extension/DataCollector/FormDataCollectorTest.php
Labels: Form, Status: Reviewed

#46091 [VarDumper][WebProfilerBundle] Replace deprecated String.prototype.substr()
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
Labels: Bug, WebProfilerBundle, VarDumper, Status: Reviewed

#46090 [DoctrineBridge] Restore PHP8 features for Doctrine debug middlewares
  src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Connection.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/DebugDataHolder.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Driver.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Middleware.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Query.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Statement.php
  src/Symfony/Bridge/Doctrine/Tests/Middleware/Debug/MiddlewareTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#46097 [Routing] fix router base url when default uri has trailing slash
  src/Symfony/Component/Routing/RequestContext.php
  src/Symfony/Component/Routing/Tests/RequestContextTest.php
Labels: Bug, Routing, Status: Reviewed

#46047 [Notifier] smsapi - send messages in test mode
  src/Symfony/Component/Notifier/Bridge/Smsapi/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Smsapi/README.md
  src/Symfony/Component/Notifier/Bridge/Smsapi/SmsapiTransport.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/SmsapiTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/Tests/SmsapiTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/Tests/SmsapiTransportTest.php
Labels: Status: Reviewed, Notifier

#46056 [PropertyInfo] Add support for promoted properties in PhpStanExtractor
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
Labels: Feature, Status: Reviewed, PropertyInfo

#46102 [VarDumper] Remove casters for mysql link resource and removed DOM classes
  src/Symfony/Component/VarDumper/Caster/DOMCaster.php
  src/Symfony/Component/VarDumper/Caster/ResourceCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: VarDumper, Status: Needs Review

#46106 [String] Fix ansi escape sequences regex
  src/Symfony/Component/String/AbstractUnicodeString.php
Labels: Bug, Status: Needs Review, String

#45834 [DependencyInjection] add AsDecorator class attribute and InnerService parameter attribute
  src/Symfony/Component/DependencyInjection/Attribute/AsDecorator.php
  src/Symfony/Component/DependencyInjection/Attribute/InnerService.php
  src/Symfony/Component/DependencyInjection/Compiler/AutowireAsDecoratorPass.php
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_80.php
Labels: DependencyInjection, Feature, Status: Reviewed

#46121 Fix "Notice: Undefined index: headers" in messenger with Oracle
  src/Symfony/Component/Messenger/Tests/Transport/Doctrine/ConnectionTest.php
  src/Symfony/Component/Messenger/Transport/Doctrine/Connection.php
Labels: Bug, Status: Reviewed

#46130 [SecurityBundle] Remove forgotten unused code
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/RememberMeFactory.php
Labels: SecurityBundle, Status: Reviewed

#46119 [HttpClient]  Add missing return type
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Response/StreamWrapper.php
  src/Symfony/Component/HttpClient/Response/TraceableResponse.php
  src/Symfony/Component/HttpClient/Response/TransportResponseTrait.php
Labels: Status: Reviewed, HttpClient

#46042 [Routing] Add params variable to condition expression
  UPGRADE-6.2.md
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Matcher/Dumper/CompiledUrlMatcherDumper.php
  src/Symfony/Component/Routing/Matcher/Dumper/CompiledUrlMatcherTrait.php
  src/Symfony/Component/Routing/Matcher/TraceableUrlMatcher.php
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Routing/Tests/Fixtures/dumper/compiled_url_matcher3.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/CompiledUrlMatcherDumperTest.php
  src/Symfony/Component/Routing/Tests/Matcher/TraceableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Feature, Routing, Status: Reviewed, Deprecation

#46129 Minor @requires function tests cleanup
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/UlidGeneratorTest.php
  src/Symfony/Bridge/Doctrine/Tests/IdGenerator/UuidGeneratorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/RedirectableCompiledUrlMatcherTest.php
  src/Symfony/Component/Cache/Tests/Messenger/EarlyExpirationDispatcherTest.php
  src/Symfony/Component/Cache/Tests/Messenger/EarlyExpirationHandlerTest.php
  src/Symfony/Component/Cache/Tests/Messenger/EarlyExpirationMessageTest.php
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/DefaultChoiceListFactoryTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/ExceptionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
  src/Symfony/Component/Workflow/Tests/MarkingStore/MethodMarkingStoreTest.php
Labels: Status: Reviewed

#46131 [Routing] Fix changelog & deprecation message for #46042
  UPGRADE-6.1.md
  UPGRADE-6.2.md
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
Labels: Bug, Routing, Status: Reviewed

#46125 [FrameworkBundle] Always add CacheCollectorPass
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#46104 [DoctrineBridge][FrameworkBundle][Messenger] Indicate support for doctrine/persistence 3
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Messenger/composer.json
Labels: Bug, FrameworkBundle, Status: Needs Review, DoctrineBridge, Messenger

#46144 [Form] Remove useless condition
  src/Symfony/Component/Form/Form.php
Labels: Form, Status: Needs Review

#46112 [DependencyInjection] Rename `#[InnerService]` to `#[MapDecorated]`
  src/Symfony/Component/DependencyInjection/Attribute/MapDecorated.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_80.php
Labels: DependencyInjection, Status: Reviewed

#46149 Modify processing of uploaded files to be compatible with PHP 8.1
  src/Symfony/Component/Form/NativeRequestHandler.php
Labels: Bug, Status: Reviewed

#45896 [Cache] Optimize caching of tags
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
Labels: Status: Reviewed, Cache

#46143 [Cache] Prevent fatal errors on php 8 when running concurrently with TagAwareAdapter v6.1
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/TagAwareAdapterTest.php
Labels: Status: Needs Review, Cache

#46170 Fix dumping enums on PHP 8.2
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Component/VarExporter/Internal/Exporter.php
Labels: Bug, Status: Reviewed

#46165 [Config] Improve GlobResource performance
  src/Symfony/Component/Config/Resource/GlobResource.php
Labels: Config, Status: Reviewed

#46171 [VarDumper] Fix dumping floats on PHP8
  src/Symfony/Component/VarDumper/Dumper/AbstractDumper.php
Labels: Bug, VarDumper, Status: Needs Review

#46178 [DependencyInjection] Properly declare #[When] as allowed on functions
  src/Symfony/Component/DependencyInjection/Attribute/When.php
Labels: DependencyInjection, Bug, Status: Needs Review

#46179 [Serializer] Fine-tune `ContextBuilder::withContext()`
  src/Symfony/Component/Serializer/Context/ContextBuilderInterface.php
  src/Symfony/Component/Serializer/Context/ContextBuilderTrait.php
  src/Symfony/Component/Serializer/Context/Encoder/CsvEncoderContextBuilder.php
  src/Symfony/Component/Serializer/Context/Encoder/JsonEncoderContextBuilder.php
  src/Symfony/Component/Serializer/Context/Encoder/XmlEncoderContextBuilder.php
  src/Symfony/Component/Serializer/Context/Encoder/YamlEncoderContextBuilder.php
  src/Symfony/Component/Serializer/Context/Normalizer/AbstractNormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Context/Normalizer/ConstraintViolationListNormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Context/Normalizer/DateIntervalNormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Context/Normalizer/DateTimeNormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Context/Normalizer/FormErrorNormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Context/Normalizer/ProblemNormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Context/Normalizer/UidNormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Context/Normalizer/UnwrappingDenormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Context/SerializerContextBuilder.php
  src/Symfony/Component/Serializer/Tests/Context/ContextBuilderTraitTest.php
Labels: Serializer, Feature, Status: Reviewed

#46180 [Messenger] Add PostgreSqlConnection tests
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrinePostgreSqlIntegrationTest.php
Labels: Status: Reviewed, Messenger

#46191 [Routing] Use the null coalescing operator
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
Labels: Routing, Status: Reviewed

#46154 [Mailer] Restore X-Transport after failure
  src/Symfony/Component/Mailer/Tests/Transport/TransportsTest.php
  src/Symfony/Component/Mailer/Transport/Transports.php
Labels: Bug, Status: Reviewed, Mailer

#46157 [Routing] Remove variadic constructor signature
  src/Symfony/Component/Routing/Requirement/EnumRequirement.php
  src/Symfony/Component/Routing/Tests/Requirement/EnumRequirementTest.php
Labels: Routing, Status: Reviewed

#45282 [Serializer] Support canners in object normalizer
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ObjectDummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Feature, Status: Reviewed

#46192 Release v4.4.41
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#46193 Release v5.4.8
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#46194 Release v6.0.8
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#46195 Release v6.1.0-BETA2
  CHANGELOG-6.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#46167 [VarExporter] Fix exporting DateTime objects on PHP 8.2
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/datetime.php
Labels: VarExporter

#46220 [Console] Fix fish completion script
  src/Symfony/Component/Console/Command/DumpCompletionCommand.php
  src/Symfony/Component/Console/Resources/completion.fish
  src/Symfony/Component/Console/Tests/Descriptor/AbstractDescriptorTest.php
  src/Symfony/Component/Console/Tests/Fixtures/application_1.json
  src/Symfony/Component/Console/Tests/Fixtures/application_1.md
  src/Symfony/Component/Console/Tests/Fixtures/application_1.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_2.json
  src/Symfony/Component/Console/Tests/Fixtures/application_2.md
  src/Symfony/Component/Console/Tests/Fixtures/application_2.xml
  src/Symfony/Component/Console/Tests/Fixtures/application_mbstring.md
Labels: Bug, Console, Status: Reviewed

#46221 [DomCrawler][VarDumper] Fix html-encoding emojis
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTest.php
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
Labels: Bug, DomCrawler, VarDumper, Status: Reviewed

#46216 [Form] fix populating single widget time view data with different timezones
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/TimeType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TimeTypeTest.php
Labels: Form, Bug, Status: Reviewed
