Repository symfony/symfony, pull requests merged in 2022-12, with the labels that each got.

#48416 [FrameworkBundle] don't register the MailerTestCommand symfony/console is not installed
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#48413 [SecurityBundle] Fix class name in UPGRADE-6.2.md
  UPGRADE-6.2.md
Labels: Bug, SecurityBundle, Status: Reviewed

#48414 [Security] Add missing deprecations to `UPGRADE-6.2.md` file
  UPGRADE-6.2.md
Labels: Security, Bug, Feature, Status: Reviewed, Deprecation

#48427 [Security] Fix deprecated namespace
  UPGRADE-6.2.md
Labels: Security, Status: Reviewed

#48431 [FrameworkBundle] Add alximy as backer of v6.2
  src/Symfony/Bundle/FrameworkBundle/README.md
Labels: Bug, FrameworkBundle, Status: Reviewed

#48428 Fixed undefined variable error
  src/Symfony/Component/Console/Completion/Output/ZshCompletionOutput.php
Labels: Bug, Status: Reviewed

#48046 [WebProfilerBundle] Remove redundant code from logger template
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/logger.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#48351 [DependencyInjection][ErrorHandler][FrameworkBundle][HttpKernel][TwigBridge] Fix "a" before "URL"
  src/Symfony/Bridge/Twig/Extension/RoutingExtension.php
  src/Symfony/Bundle/FrameworkBundle/Routing/DelegatingLoader.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/ErrorHandler/Resources/bin/patch-type-declarations
  src/Symfony/Component/HttpKernel/Fragment/FragmentUriGeneratorInterface.php
Labels: DependencyInjection, HttpKernel, FrameworkBundle, Status: Reviewed, TwigBridge, ErrorHandler

#48335 [TwigBridge] Amend `MoneyType` twig to include a space
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_5_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_base_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap4LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap5LayoutTest.php
Labels: Bug, Status: Reviewed, TwigBridge

#48434 [TwigBridge] Fix casing of getCurrentRoute/getCurrentRouteParameters methods
  src/Symfony/Bridge/Twig/AppVariable.php
  src/Symfony/Bridge/Twig/Tests/AppVariableTest.php
Labels: Bug, Feature, Status: Reviewed, Deprecation, TwigBridge

#48435 [TwigBridge] [Twig Bridge] Add PHPdoc information to some email methods
  src/Symfony/Bridge/Twig/Mime/WrappedTemplatedEmail.php
Labels: Status: Reviewed, TwigBridge

#48100 [HttpFoundation][Validator] Leverage `json_validate()`
  composer.json
  src/Symfony/Component/HttpFoundation/RequestMatcher/IsJsonRequestMatcher.php
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/Validator/Constraints/JsonValidator.php
  src/Symfony/Component/Validator/composer.json
Labels: Validator, HttpFoundation, Status: Reviewed

#48053 [Messenger] Improve DX
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
Labels: Status: Reviewed, Messenger

#48084 [Notifier] Add Twitter notifier
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Twitter/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Twitter/.gitignore
  src/Symfony/Component/Notifier/Bridge/Twitter/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Twitter/LICENSE
  src/Symfony/Component/Notifier/Bridge/Twitter/README.md
  src/Symfony/Component/Notifier/Bridge/Twitter/Tests/TwitterTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Twitter/Tests/TwitterTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Twitter/Tests/fixtures.gif
  src/Symfony/Component/Notifier/Bridge/Twitter/TwitterOptions.php
  src/Symfony/Component/Notifier/Bridge/Twitter/TwitterTransport.php
  src/Symfony/Component/Notifier/Bridge/Twitter/TwitterTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Twitter/composer.json
  src/Symfony/Component/Notifier/Bridge/Twitter/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#48399 [Notifier] Add iSendPro bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Isendpro/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Isendpro/.gitignore
  src/Symfony/Component/Notifier/Bridge/Isendpro/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Isendpro/IsendproTransport.php
  src/Symfony/Component/Notifier/Bridge/Isendpro/IsendproTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Isendpro/LICENSE
  src/Symfony/Component/Notifier/Bridge/Isendpro/README.md
  src/Symfony/Component/Notifier/Bridge/Isendpro/Tests/IsendproTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Isendpro/Tests/IsendproTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Isendpro/composer.json
  src/Symfony/Component/Notifier/Bridge/Isendpro/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#48398 [Notifier] Add Termii bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Termii/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Termii/.gitignore
  src/Symfony/Component/Notifier/Bridge/Termii/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Termii/LICENSE
  src/Symfony/Component/Notifier/Bridge/Termii/README.md
  src/Symfony/Component/Notifier/Bridge/Termii/TermiiOptions.php
  src/Symfony/Component/Notifier/Bridge/Termii/TermiiTransport.php
  src/Symfony/Component/Notifier/Bridge/Termii/TermiiTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Termii/Tests/TermiiTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Termii/Tests/TermiiTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Termii/composer.json
  src/Symfony/Component/Notifier/Bridge/Termii/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#48397 [Notifier] Add RingCentral bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/RingCentral/.gitattributes
  src/Symfony/Component/Notifier/Bridge/RingCentral/.gitignore
  src/Symfony/Component/Notifier/Bridge/RingCentral/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/RingCentral/LICENSE
  src/Symfony/Component/Notifier/Bridge/RingCentral/README.md
  src/Symfony/Component/Notifier/Bridge/RingCentral/RingCentralOptions.php
  src/Symfony/Component/Notifier/Bridge/RingCentral/RingCentralTransport.php
  src/Symfony/Component/Notifier/Bridge/RingCentral/RingCentralTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/RingCentral/Tests/RingCentralTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/RingCentral/Tests/RingCentralTransportTest.php
  src/Symfony/Component/Notifier/Bridge/RingCentral/composer.json
  src/Symfony/Component/Notifier/Bridge/RingCentral/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#48394 [Notifier] Add Plivo bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Plivo/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Plivo/.gitignore
  src/Symfony/Component/Notifier/Bridge/Plivo/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Plivo/LICENSE
  src/Symfony/Component/Notifier/Bridge/Plivo/PlivoOptions.php
  src/Symfony/Component/Notifier/Bridge/Plivo/PlivoTransport.php
  src/Symfony/Component/Notifier/Bridge/Plivo/PlivoTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Plivo/README.md
  src/Symfony/Component/Notifier/Bridge/Plivo/Tests/PlivoTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Plivo/Tests/PlivoTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Plivo/composer.json
  src/Symfony/Component/Notifier/Bridge/Plivo/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#48447 [HttpFundation] Typo php doc fix
  src/Symfony/Component/HttpFoundation/Exception/SessionNotFoundException.php
Labels: Status: Needs Review

#48461 [VarExporter] Fix possible memory-leak when using lazy-objects
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/VarDumper/Caster/SymfonyCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectRegistry.php
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
Labels: Bug, Status: Needs Review, VarExporter

#48459 [FrameworkBundle] [Framework] Fix Infobip Mailer transport factory import
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#48450 [WebProfilerBundle] Fix form panel expanders
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/form.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#48455 [FrameworkBundle] Don't suggest deprecated `sensio/generator-bundle`
  src/Symfony/Bundle/FrameworkBundle/EventListener/SuggestMissingPackageSubscriber.php
Labels: FrameworkBundle, Status: Reviewed

#48453 [AbstractController] Using coalescing operator
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
Labels: Status: Reviewed

#48346 [HttpKernel] In DateTimeValueResolver, convert previously defined date attribute to the expected class
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/DateTimeValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/DateTimeValueResolverTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#48379 [HttpKernel] Set a default file link format when none is provided to FileLinkFormatter
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
  src/Symfony/Component/HttpKernel/Tests/Debug/FileLinkFormatterTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#48471 prevent the installation of unstable phpdocumentor/type-resolver releases
  composer.json
  src/Symfony/Component/Serializer/composer.json
Labels: Status: Reviewed

#48473 [Notifier] fix tests
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
Labels: Status: Reviewed, Notifier

#48381 [Validator] Add `Uuid::TIME_BASED_VERSIONS` to match that a UUID being validated embeds a timestamp
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Uuid.php
  src/Symfony/Component/Validator/Constraints/UuidValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/UuidValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#48466 [Notifier] Add Line bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/LineNotify/.gitattributes
  src/Symfony/Component/Notifier/Bridge/LineNotify/.gitignore
  src/Symfony/Component/Notifier/Bridge/LineNotify/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/LineNotify/LICENSE
  src/Symfony/Component/Notifier/Bridge/LineNotify/LineNotifyTransport.php
  src/Symfony/Component/Notifier/Bridge/LineNotify/LineNotifyTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/LineNotify/README.md
  src/Symfony/Component/Notifier/Bridge/LineNotify/Tests/LineNotifyTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/LineNotify/Tests/LineNotifyTransportTest.php
  src/Symfony/Component/Notifier/Bridge/LineNotify/composer.json
  src/Symfony/Component/Notifier/Bridge/LineNotify/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
Labels: Feature, Status: Needs Review, Notifier

#48374 [Notifier] [Telegram] Add support to answer callback queries
  src/Symfony/Component/Notifier/Bridge/Telegram/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramOptions.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
Labels: Feature, Status: Reviewed, Notifier

#48477 [Notifier] [Line] Fix tests
  src/Symfony/Component/Notifier/Bridge/LineNotify/Tests/LineNotifyTransportTest.php
Labels: Status: Needs Review, Notifier

#47680 [DependencyInjection][HttpKernel] Introduce build parameters
  UPGRADE-6.3.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Compiler/RemoveBuildParametersPass.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Exception/ParameterNotFoundException.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RemoveBuildParametersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_requires.php
  src/Symfony/Component/DependencyInjection/Tests/ParameterBag/ParameterBagTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: DependencyInjection, Feature, HttpKernel, Status: Reviewed

#48478 [VarDumper] Add caster for WeakMap
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/SplCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Caster/SplCasterTest.php
Labels: Feature, VarDumper, Status: Reviewed

#48362 [Clock] Add ClockAwareTrait to help write time-sensitive classes
  src/Symfony/Component/Clock/CHANGELOG.md
  src/Symfony/Component/Clock/ClockAwareTrait.php
  src/Symfony/Component/Clock/Tests/ClockAwareTraitTest.php
Labels: Bug, Status: Reviewed, Clock

#48101 [Notifier] Add Mastodon Notifier
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Mastodon/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Mastodon/.gitignore
  src/Symfony/Component/Notifier/Bridge/Mastodon/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Mastodon/LICENSE
  src/Symfony/Component/Notifier/Bridge/Mastodon/MastodonOptions.php
  src/Symfony/Component/Notifier/Bridge/Mastodon/MastodonTransport.php
  src/Symfony/Component/Notifier/Bridge/Mastodon/MastodonTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mastodon/README.md
  src/Symfony/Component/Notifier/Bridge/Mastodon/Tests/MastodonTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Mastodon/Tests/MastodonTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Mastodon/Tests/fixtures.gif
  src/Symfony/Component/Notifier/Bridge/Mastodon/composer.json
  src/Symfony/Component/Notifier/Bridge/Mastodon/phpunit.xml.dist
  src/Symfony/Component/Notifier/Bridge/Twitter/TwitterOptions.php
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#48482 [DependencyInjection] Revert "bug #48027 Don't autoconfigure tag when it's already set with attributes"
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInstanceofConditionalsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#48483 [DependencyInjection] Remove refs that point to container.excluded services when allowed
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInvalidReferencesPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveInvalidReferencesPassTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#48490 [DependencyInjection] Fix typo in `RemoveBuildParametersPassTest`
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RemoveBuildParametersPassTest.php
Labels: DependencyInjection, Status: Reviewed

#48475 [WebProfilerBundle] Fix the dump view panel
  src/Symfony/Bundle/DebugBundle/Resources/views/Profiler/dump.html.twig
Labels: WebProfilerBundle, Status: Reviewed

#48487 [Console] Do no preprend empty line if the buffer is empty
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/command/command_23.php
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/output/output_23.txt
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/output/output_6.txt
Labels: Console, Status: Reviewed

#48505 [Mailer] Fix rendered templates for notifications
  src/Symfony/Bridge/Twig/Mime/BodyRenderer.php
  src/Symfony/Bridge/Twig/Mime/NotificationEmail.php
  src/Symfony/Bridge/Twig/Mime/TemplatedEmail.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
  src/Symfony/Component/Mailer/composer.json
Labels: Bug, Status: Reviewed, Mailer

#48509 [HttpKernel] Fix using entities with the `#[Cache()]` attribute
  src/Symfony/Component/HttpKernel/EventListener/CacheAttributeListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/CacheAttributeListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#48518 Release v6.2.1
  CHANGELOG-6.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#48522 [DependencyInjection] Generate different classes for ghost objects and virtual proxies
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/LazyProxy/Instantiator/LazyServiceInstantiator.php
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/LazyServiceDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_dedup_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_dedup_lazy_proxy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_ghost.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither_lazy.php
Labels: DependencyInjection, Bug, Status: Reviewed

#48521 [FrameworkBundle] fix removing commands if console not available
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#48534 [FrameworkBundle] add `kernel.locale_aware` tag to `LocaleSwitcher`
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#48533 Fix generated changelog for v6.2.1
  CHANGELOG-6.2.md
Labels: Status: Reviewed

#48553 [VarExporter] Fix calling `parent::__wakeup()` when unserializing with LazyProxyTrait
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
Labels: Bug, Status: Needs Review, VarExporter

#48549 [Notifier] Remove dependency `symfony/uid` on Notifier bridges
  src/Symfony/Component/Notifier/Bridge/ContactEveryone/Tests/ContactEveryoneTransportTest.php
  src/Symfony/Component/Notifier/Bridge/ContactEveryone/composer.json
  src/Symfony/Component/Notifier/Bridge/Esendex/Tests/EsendexTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Esendex/composer.json
  src/Symfony/Component/Notifier/Bridge/OrangeSms/composer.json
  src/Symfony/Component/Notifier/Bridge/SmsFactor/SmsFactorTransport.php
  src/Symfony/Component/Notifier/Bridge/SmsFactor/composer.json
Labels: Feature, Status: Reviewed, Notifier

#48546 [Notifier] [FakeSms] Allow missing optional dependency
  src/Symfony/Component/Notifier/Bridge/FakeSms/FakeSmsTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/FakeSms/Tests/FakeSmsTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/FakeSms/composer.json
Labels: Status: Reviewed, Notifier

#48520 [FrameworkBundle] Remove check of undefined service in mailer assertions
  src/Symfony/Bundle/FrameworkBundle/Test/MailerAssertionsTrait.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#48424 [DomCrawler][FrameworkBundle] Add `assertSelectorCount`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Test/DomCrawlerAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Test/WebTestCaseTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorCount.php
Labels: Feature, FrameworkBundle, DomCrawler, Status: Reviewed

#48359 [VarDumper] Ignore \Error in __debugInfo()
  src/Symfony/Component/VarDumper/Caster/Caster.php
  src/Symfony/Component/VarDumper/Tests/Caster/CasterTest.php
Labels: Bug, VarDumper, Status: Reviewed

#48342 [Form] Call `getChoicesForValues()` once, to prevent several SQL queries
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
Labels: Form, Status: Reviewed

#48501 [RateLimiter] Add `int` to `Reservation::wait()`
  src/Symfony/Component/RateLimiter/Reservation.php
Labels: Bug, Status: Needs Review, RateLimiter

#48299 [Console] #47809 remove exit() call in last SignalHandler
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Bug, Console, Status: Reviewed

#48249 Minor (comment only), part 2
  src/Symfony/Component/Security/Core/User/UserInterface.php
Labels: Status: Needs Review

#48232 [Validator] Add `{{pattern}}` to `Regex` constraint violations
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/RegexValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/RegexValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#48206 [Console] Add placeholder formatters per ProgressBar instance
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Feature, Console, Status: Reviewed

#48164 [Serializer] Add encoder option for saving options
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Serializer, Feature, Status: Reviewed

#48503 [Notifier] Add options to `SmsMessage`
  src/Symfony/Component/Notifier/Message/SmsMessage.php
Labels: Feature, Status: Reviewed, Status: Waiting feedback, Notifier

#48421 [HttpFoundation] IPv4-mapped IPv6 addresses incorrectly rejected
  src/Symfony/Component/HttpFoundation/IpUtils.php
  src/Symfony/Component/HttpFoundation/Tests/IpUtilsTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#48560 [Notifier] Remove `ext-json` from `require` section
  src/Symfony/Component/Notifier/Bridge/Gitter/composer.json
  src/Symfony/Component/Notifier/Bridge/Mercure/composer.json
  src/Symfony/Component/Notifier/Bridge/Mobyt/composer.json
  src/Symfony/Component/Notifier/Bridge/Sendinblue/composer.json
  src/Symfony/Component/Notifier/Bridge/Sinch/composer.json
  src/Symfony/Component/Notifier/Bridge/TurboSms/composer.json
Labels: Status: Reviewed, Notifier

#48561 [Cache] sync Redis6Proxy with upstream
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6Proxy.php
Labels: Status: Needs Review, Cache

#48565 [Notifier] [FakeChat] Allow missing optional dependency
  src/Symfony/Component/Notifier/Bridge/FakeChat/FakeChatTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/Tests/FakeChatTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/composer.json
Labels: Status: Reviewed, Notifier

#48578 [Console]  Fix tests
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Bug, Feature, Console, Status: Needs Review, Deprecation

#48554 [Security] Fix invalid deprecation messages in Security constants
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Component/Security/Core/Security.php
Labels: Security, Bug, Status: Reviewed

#39353 [FrameworkBundle][Notifier] Allow to configure or disable the message bus to use
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier_with_disabled_message_bus.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier_with_specific_message_bus.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/notifier_with_disabled_message_bus.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/notifier_with_specific_message_bus.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/notifier_with_disabled_message_bus.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/notifier_with_specific_message_bus.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed, Notifier

#48597 [Contracts] Fix typo "internal" / "interval"
  src/Symfony/Contracts/Translation/Test/TranslatorTest.php
Labels: Status: Reviewed, Contracts

#48599 [VarDumper] Update types for dd()
  src/Symfony/Component/VarDumper/Resources/functions/dump.php
Labels: VarDumper, Status: Reviewed

#48605 [VarExporter] Fix adding a key to an uninitialized array
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
  src/Symfony/Component/VarExporter/Tests/LazyProxyTraitTest.php
Labels: Bug, Status: Needs Review, VarExporter

#48608 [HttpKernel] fix wrong deprecation message
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#48618 [ErrorHandler] [DebugClassLoader] Fix some new return types support
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/ErrorHandler/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/ReturnType.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/ReturnTypeParent.php
Labels: Bug, Status: Needs Review, ErrorHandler

#48613 [Console] Fixed typo
  src/Symfony/Component/Console/Tests/Fixtures/Style/SymfonyStyle/command/command_23.php
Labels: Console, Status: Reviewed

#48624 [ErrorHandler][HttpKernel] Fix reading the SYMFONY_IDE env var
  phpunit.xml.dist
  src/Symfony/Bundle/FrameworkBundle/phpunit.xml.dist
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorHandler/phpunit.xml.dist
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
  src/Symfony/Component/HttpKernel/phpunit.xml.dist
Labels: Bug, HttpKernel, Status: Needs Review, ErrorHandler

#48615 Fix getting the name of closures on PHP 8.1.11+
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/SecurityBundle/Command/DebugFirewallCommand.php
  src/Symfony/Component/ErrorHandler/Internal/TentativeTypes.php
  src/Symfony/Component/EventDispatcher/Debug/WrappedListener.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactory.php
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
  src/Symfony/Component/Messenger/Handler/HandlerDescriptor.php
  src/Symfony/Component/String/LazyString.php
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
Labels: Bug, Status: Reviewed

#48331 [Yaml] fix dumping top-level tagged values
  src/Symfony/Component/Yaml/Dumper.php
  src/Symfony/Component/Yaml/Tests/DumperTest.php
Labels: Bug, Yaml, Status: Needs Review

#48314 [Mime] Fix MessagePart serialization
  src/Symfony/Component/Mime/Part/MessagePart.php
  src/Symfony/Component/Mime/Tests/Part/MessagePartTest.php
Labels: Bug, Status: Reviewed, Mime

#48259 [FrameworkBundle] Allow configuring `framework.exceptions` with a config builder
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/exceptions.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/exceptions_legacy.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/XmlFrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#48625 Use static methods inside data providers
  src/Symfony/Bridge/Monolog/Tests/Handler/FingersCrossed/HttpCodeActivationStrategyTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/FingersCrossed/NotFoundActivationStrategyTest.php
  src/Symfony/Bridge/Monolog/Tests/Processor/DebugProcessorTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Csp/ContentSecurityPolicyHandlerTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
Labels: Status: Needs Review

#48048 [WebProfilerBundle] Fix dump header not being displayed
  src/Symfony/Bundle/WebProfilerBundle/Tests/Twig/WebProfilerExtensionTest.php
  src/Symfony/Bundle/WebProfilerBundle/Twig/WebProfilerExtension.php
Labels: Bug, WebProfilerBundle, Status: Reviewed

#48449 [DependencyInjection] Fix bug when tag name is a text node
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services10.xml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#48580 [Console] Fix missing command not matching namespace error message
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Bug, Console, Status: Reviewed

#48587 [TwigBundle] Alias BodyRendererInterface
  src/Symfony/Bundle/TwigBundle/Resources/config/mailer.php
Labels: Bug, TwigBundle, Status: Needs Review

#48601 [SecurityBundle] Fix authenticator existence check in `Security::login()`
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/SecurityTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#48451 [Translation] Fix extraction when dealing with VariadicPlaceholder parameters
  src/Symfony/Component/Translation/Extractor/Visitor/AbstractVisitor.php
Labels: Bug, Translation, Status: Needs Review

#48524 [HttpKernel] Fix `CacheAttributeListener` priority
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CacheAttributeListenerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CacheAttributeListener/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CacheAttributeListener/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CacheAttributeListener/routing.yml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Security/Http/EventListener/IsGrantedAttributeListener.php
Labels: Bug, HttpKernel, Status: Needs Review

#48559 [ExpressionLanguage] Fix BC of cached SerializedParsedExpression containing GetAttrNode
  src/Symfony/Component/ExpressionLanguage/Node/GetAttrNode.php
Labels: Bug, ExpressionLanguage, Status: Needs Review

#48628 [HttpFoundation] Fix dumping array cookies
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Needs Review

#48233 [Serializer] Prevent `GetSetMethodNormalizer` from creating invalid magic method call
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#48612 [Messenger] [Amqp] Added missing rpc_timeout option
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#47979 Fix dealing with ext-redis' multi/exec returning a bool
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Reviewed

#48602 [HtmlSanitizer] Fix HtmlSanitizer default configuration behavior for allowed schemes
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/HtmlSanitizer/Tests/TextSanitizer/UrlSanitizerTest.php
Labels: Bug, Status: Reviewed, HtmlSanitizer

#48089 [Console] Fix clear line with question in section
  src/Symfony/Component/Console/Output/ConsoleSectionOutput.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tests/Style/SymfonyStyleTest.php
Labels: Bug, Console, Status: Reviewed

#48606 container:debug CLI output improvements for excluded services
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
Labels: Feature, Status: Reviewed

#48126 [Mailer] Include all transports' debug messages in RoundRobin transport exception
  src/Symfony/Component/Mailer/Tests/Transport/RoundRobinTransportTest.php
  src/Symfony/Component/Mailer/Transport/RoundRobinTransport.php
Labels: Bug, Status: Needs Review, Mailer

#48654 [DependencyInjection] Fix undefined class in test
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ServiceLocatorTagPassTest.php
Labels: DependencyInjection, Status: Needs Review

#48591 [DependencyInjection] Shared private services becomes public after a public service is accessed
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/ReverseContainer.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#48651 [HttpKernel] AbstractSessionListener should not override the cache lifetime for private responses
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
Labels: Bug, HttpKernel, Status: Needs Review

#48432 [VarDumper] Add support of named arguments to `dd()` and `dump()` to display a label
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/ScalarStub.php
  src/Symfony/Component/VarDumper/Caster/StubCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Cloner/Data.php
  src/Symfony/Component/VarDumper/Cloner/Stub.php
  src/Symfony/Component/VarDumper/Dumper/ContextualizedDumper.php
  src/Symfony/Component/VarDumper/Resources/functions/dump.php
  src/Symfony/Component/VarDumper/Tests/Caster/StubCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/FunctionsTest.php
  src/Symfony/Component/VarDumper/VarDumper.php
Labels: Feature, VarDumper, Status: Reviewed

#48672 [FrameworkBundle] fix: fix typo about help
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDumpReferenceCommand.php
Labels: FrameworkBundle, Status: Needs Review

#47349 [Notifier] Allow to update Slack messages
  src/Symfony/Component/Notifier/Bridge/Slack/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Slack/SlackOptions.php
  src/Symfony/Component/Notifier/Bridge/Slack/SlackSentMessage.php
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransport.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/UpdateMessageSlackOptions.php
Labels: Feature, Status: Reviewed, Notifier

#48059 [HttpFoundation] Create migration for session table when pdo handler is used
  src/Symfony/Bridge/Doctrine/SchemaListener/AbstractSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/DoctrineDbalCacheAdapterSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/MessengerTransportDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/PdoSessionHandlerSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/RememberMeTokenProviderDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/PdoSessionHandlerSchemaSubscriberTest.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MigratingSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PdoSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransport.php
Labels: Feature, HttpFoundation, Status: Reviewed

#48345 [Validator] Update ValidatorBuilder comment for enableAnnotationMapping
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Validator, Status: Reviewed

#48680 [Cache] fix lazyness of redis when using RedisTagAwareAdapter
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
Labels: Bug, Status: Needs Review, Cache

#48681 [Console] Revert "bug #48089 Fix clear line with question in section (maxbeckers)
  src/Symfony/Component/Console/Output/ConsoleSectionOutput.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tests/Style/SymfonyStyleTest.php
Labels: Bug, Console, Status: Needs Review

#48614 [Messenger] Move Transport/InMemoryTransport to Transport/InMemory/InMemoryTransport
  UPGRADE-6.3.md
  UPGRADE-7.0.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Tests/Transport/InMemory/InMemoryTransportFactoryTest.php
  src/Symfony/Component/Messenger/Tests/Transport/InMemory/InMemoryTransportTest.php
  src/Symfony/Component/Messenger/Transport/InMemory/InMemoryTransport.php
  src/Symfony/Component/Messenger/Transport/InMemory/InMemoryTransportFactory.php
  src/Symfony/Component/Messenger/Transport/InMemoryTransport.php
  src/Symfony/Component/Messenger/Transport/InMemoryTransportFactory.php
Labels: Status: Reviewed, Deprecation, Messenger

#48661 [Serializer] fix context attribute with serializedName
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ObjectDummyWithContextAttribute.php
Labels: Serializer, Bug, Status: Reviewed

#48687 Release v6.2.2
  CHANGELOG-6.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#48694 [Console] Fix a test when pcntl is not available (following #48329)
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Console, Status: Reviewed

#48695 [Console] Fix a test when pcntl is not available
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Console, Status: Reviewed

#48200 [Security] Allow custom user identifier for X509 authenticator
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/X509Factory.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator.php
  src/Symfony/Component/Security/Http/Authenticator/X509Authenticator.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/X509AuthenticatorTest.php
Labels: Security, Feature, Status: Reviewed

#48688 [FrameworkBundle] Add MailPace definition
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#48044 [SecurityBundle] Set request stateless when firewall is stateless
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Security/FirewallMap.php
  src/Symfony/Bundle/SecurityBundle/Tests/Security/FirewallMapTest.php
Labels: Feature, SecurityBundle, Status: Reviewed

#48457 [FrameworkBundle] Improve UX ConfigDebugCommand has not yaml component
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ConfigDebugCommandTest.php
Labels: FrameworkBundle, Status: Reviewed

#48594 [SecurityBundle] Improve support for authenticators that don't need a user provider
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AccessTokenFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/StatelessAuthenticatorFactoryInterface.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AccessTokenTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AccessTokenBundle/Security/Handler/AccessTokenHandler.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_self_contained_token.yml
Labels: Feature, SecurityBundle, Status: Reviewed

#48696 [WebProfilerBundle] Add a title and img role to svg of the web debug toolbar
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/icon.svg
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/cache.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/config.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/exception.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/form.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/logger.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/memory.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/menu.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/redirect.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/time.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/twig.svg
Labels: WebProfilerBundle, Status: Reviewed

#48718 Compatibility with doctrine/annotations 2
  composer.json
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/PhpUnit/bootstrap.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderWithAnnotationsTest.php
  src/Symfony/Component/Routing/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Validator/composer.json
Labels: Bug, Status: Reviewed

#48735 [SecurityBundle] Prevent RuntimeException on profiler
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
Labels: Bug, SecurityBundle, Status: Reviewed

#48742 [VarExporter] Generate proxies for static abstract methods
  src/Symfony/Component/VarExporter/ProxyHelper.php
  src/Symfony/Component/VarExporter/Tests/ProxyHelperTest.php
Labels: Bug, Status: Needs Review, VarExporter

#48710 [DependencyInjection] Add support for nesting autowiring-related attributes into `#[Autowire(...)]`
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_80.php
Labels: DependencyInjection, Feature, Status: Reviewed

#48352 [HttpKernel] Allow using `#[HttpStatus]` for setting status code and headers for HTTP exceptions
  src/Symfony/Component/HttpKernel/Attribute/HttpStatus.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ErrorListenerTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#48746 [Validator] Fix IBAN format for Tunisia and Mauritania
  src/Symfony/Component/Validator/Constraints/IbanValidator.php
Labels: Validator, Bug, Status: Reviewed

#48582 [Security] Make login redirection logic available to programmatic login
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/SecurityTest.php
Labels: Security, Feature, Status: Reviewed

#48121 [Messenger] Do not return fallback senders when other senders were already found
  src/Symfony/Component/Messenger/Tests/Transport/Sender/SendersLocatorTest.php
  src/Symfony/Component/Messenger/Transport/Sender/SendersLocator.php
Labels: Bug, Status: Reviewed, Messenger

#48724 [VarExporter] Fix exporting classes with __unserialize() but not __serialize()
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/__unserialize-but-no-__serialize.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Bug, Status: Needs Review, VarExporter

#48709 Use static methods inside data providers
  src/Symfony/Component/DependencyInjection/Tests/Config/ContainerParametersResourceCheckerTest.php
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTest.php
  src/Symfony/Component/DomCrawler/Tests/Html5ParserCrawlerTest.php
  src/Symfony/Component/DomCrawler/Tests/NativeParserCrawlerTest.php
  src/Symfony/Component/Finder/Tests/GitignoreTest.php
  src/Symfony/Component/Finder/Tests/Iterator/SizeRangeFilterIteratorTest.php
  src/Symfony/Component/Form/Tests/AbstractRequestHandlerTest.php
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Form/Tests/DependencyInjection/FormPassTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToRfc3339TransformerTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/CasterTest.php
Labels: Status: Needs Review

#48642 [Clock] Add `Clock` class and `now()` function
  composer.json
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Clock/CHANGELOG.md
  src/Symfony/Component/Clock/Clock.php
  src/Symfony/Component/Clock/MockClock.php
  src/Symfony/Component/Clock/Resources/now.php
  src/Symfony/Component/Clock/Test/ClockSensitiveTrait.php
  src/Symfony/Component/Clock/Tests/ClockTest.php
  src/Symfony/Component/Clock/composer.json
Labels: Feature, Status: Reviewed, Clock

#48725 Remove calls to `AnnotationRegistry::registerLoader()`
  composer.json
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Bridge/PhpUnit/bootstrap.php
  src/Symfony/Bridge/PhpUnit/composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderWithAnnotationsTest.php
Labels: Status: Reviewed

#48761 Fix integration test gha
  .github/workflows/integration-tests.yml
Labels: Status: Needs Review

#48098 [HttpKernel]  Resolve DateTime value using the Clock
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/DateTimeValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/DateTimeValueResolverTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: Feature, HttpKernel, Status: Reviewed

#48396 [Intl] Add a special locale to strip emojis easily with `EmojiTransliterator`
  src/Symfony/Component/Intl/CHANGELOG.md
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-strip.php
  src/Symfony/Component/Intl/Resources/emoji/build.php
  src/Symfony/Component/Intl/Tests/Transliterator/EmojiTransliteratorTest.php
Labels: Feature, Intl, Status: Reviewed

#48686 [DependencyInjection] Deprecate integer keys in "service_locator" config
  UPGRADE-6.3.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/services_with_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_service_locator_argument.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_service_locator_argument.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Status: Reviewed, Deprecation

#48665 [FrameworkBundle] Deprecate `framework:exceptions` XML tag
  UPGRADE-6.3.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: FrameworkBundle, Status: Reviewed, Deprecation

#48759 [WebProfilerBundle] Misc code updates in controller and templates
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/events.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/form.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/logger.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/mailer.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/messenger.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/serializer.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/translation.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/results.html.twig
Labels: WebProfilerBundle, Status: Reviewed

#48671 [Validator] Add `getConstraint()` method to `ConstraintViolationInterface`
  UPGRADE-6.3.md
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/ConstraintViolationInterface.php
Labels: Validator, Feature, Status: Reviewed, Deprecation

#48387 [SecurityBundle] Rename `firewalls.logout.csrf_token_generator` to `firewalls.logout.csrf_token_manager`
  UPGRADE-6.3.md
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/MainConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/CsrfFormLogin/base_config.yml
Labels: SecurityBundle, Status: Reviewed, Deprecation

#48763 [HttpClient] Remove unused code
  src/Symfony/Component/HttpClient/Response/MockResponse.php
Labels: Status: Needs Review, HttpClient

#48707 [DependencyInjection] Target Attribute must fail if the target does not exist
  src/Symfony/Component/DependencyInjection/Attribute/Target.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#48774 [Translation] Fix undefined variable messages in ConstraintVisitor
  src/Symfony/Component/Translation/Extractor/Visitor/ConstraintVisitor.php
Labels: Bug, Translation, Status: Reviewed

#48771 [CssSelector] Fix escape patterns
  src/Symfony/Component/CssSelector/Parser/Tokenizer/TokenizerPatterns.php
  src/Symfony/Component/CssSelector/Tests/Parser/ParserTest.php
Labels: Bug, CssSelector, Status: Reviewed

#48790 [WebProfilerBundle] fix Mailer detail on click
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#48705 [DependencyInjection] Stop considering empty env vars as populated
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: DependencyInjection, DX, Status: Needs Review

#48802 [DependencyInjection] Cut compilation time
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: DependencyInjection, Status: Reviewed

#48791 [DependencyInjection] Fix deduplicating service instances in circular graphs
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
Labels: DependencyInjection, Bug, Status: Needs Review

#48801 [Form] Make `ButtonType` handle `form_attr` option
  src/Symfony/Component/Form/Extension/Core/Type/BaseType.php
  src/Symfony/Component/Form/Extension/Core/Type/FormType.php
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ButtonTypeTest.php
Labels: Form, Status: Reviewed

#48784 [Console] Correctly overwrite progressbars with different line count per step
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Bug, Console, Status: Reviewed

#48787 [PhpUnitBridge] Use verbose deprecation output for quiet types only when it reaches the threshold
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/ConfigurationTest.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/partially_quiet2.phpt
Labels: Bug, PhpUnitBridge, Status: Reviewed

#48805 [DependencyInjection] Fix resolving parameters when dumping lazy proxies
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/DumperInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
Labels: DependencyInjection, Bug, Status: Needs Review
