Repository symfony/symfony, pull requests merged in 2022-09, with the labels that each got.

#47423 [String] CamelCase/SnakeCase on uppercase word
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Bug, Status: Needs Review, String

#39622 [Messenger] Be able to get raw data when a message in not decodable by the PHP Serializer
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRemoveCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Messenger/Stamp/MessageDecodingFailedStamp.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/PhpSerializerTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/PhpSerializerWithClassNotFoundSupportTest.php
  src/Symfony/Component/Messenger/Transport/Serialization/PhpSerializer.php
Labels: Bug, Feature, Status: Reviewed, Messenger

#47457 [Mailer] Fix test
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Infobip/composer.json
Labels: Status: Reviewed, Mailer

#47455 [Mime] Fix TextPart broken after being serialized
  src/Symfony/Component/Mime/Part/TextPart.php
  src/Symfony/Component/Mime/Tests/Part/TextPartTest.php
Labels: Bug, Status: Reviewed, Mime

#47449 Fix typo in method retrySpecificEnvelopes
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
Labels: Bug, Status: Reviewed

#47394 [Console] [Completion] Make bash completion run in non interactive mode
  src/Symfony/Component/Console/Resources/completion.bash
Labels: Bug, Console, Status: Reviewed

#47458 [FrameworkBundle] fix tests on Windows
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
Labels: FrameworkBundle, Status: Needs Review

#47464 [Console] [Completion] Make zsh completion run in non interactive mode
  src/Symfony/Component/Console/Resources/completion.zsh
Labels: Bug, Console, Status: Reviewed

#47463 [Console] [Completion] Make fish completion run in non interactive mode
  src/Symfony/Component/Console/Resources/completion.fish
Labels: Bug, Console, Status: Reviewed

#47469 [FrameworkBundle] tweak the factory class description for inlined factory services
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/builder_1_services.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_3.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_3.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_3.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_3.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_3.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_3.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_3.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/definition_arguments_3.xml
Labels: FrameworkBundle, Status: Reviewed

#47468 [HttpKernel] Don't cache controller's reflector inside the request
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolverInterface.php
  src/Symfony/Component/HttpKernel/Controller/TraceableArgumentResolver.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactory.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactoryInterface.php
  src/Symfony/Component/HttpKernel/Event/ControllerArgumentsEvent.php
  src/Symfony/Component/HttpKernel/Event/ControllerEvent.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/Event/ControllerEventTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/TestHttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/TestMultipleHttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/TestHttpKernel.php
Labels: Bug, HttpKernel, Status: Reviewed

#47470 CS fixes
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Cache/DataCollector/CacheDataCollector.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/LazyProxy/Instantiator/InstantiatorInterface.php
  src/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcher.php
  src/Symfony/Component/EventDispatcher/Debug/WrappedListener.php
  src/Symfony/Component/EventDispatcher/EventDispatcher.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/EnumTypeTest.php
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
  src/Symfony/Component/HttpKernel/Log/Logger.php
  src/Symfony/Component/Intl/Resources/emoji/build.php
  src/Symfony/Component/Mailer/EventListener/MessageListener.php
  src/Symfony/Component/Messenger/Handler/HandlerDescriptor.php
  src/Symfony/Component/Messenger/Transport/Receiver/ReceiverInterface.php
  src/Symfony/Component/Mime/Header/MailboxListHeader.php
  src/Symfony/Component/Runtime/GenericRuntime.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Serializer/Context/Normalizer/AbstractNormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Translation/Tests/TranslatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/AbstractComparisonValidatorTestCase.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/Yaml/Tests/DumperTest.php
  src/Symfony/Contracts/Cache/CacheInterface.php
Labels: Status: Reviewed

#47465 [VarDumper] skip a transient test on Windows
  src/Symfony/Component/VarDumper/Tests/Server/ConnectionTest.php
Labels: VarDumper, Status: Reviewed

#47482 skip a transient test on AppVeyor
  src/Symfony/Component/VarDumper/Tests/Dumper/ServerDumperTest.php
Labels: Status: Reviewed

#47477 [Clock] sleep in test, 1millisecond to ensure time has changed on fast computers
  src/Symfony/Component/Clock/Tests/MockClockTest.php
Labels: Status: Reviewed, Clock

#47415 [HttpClient] Psr18Client ignore invalid HTTP headers
  src/Symfony/Component/HttpClient/Psr18Client.php
  src/Symfony/Component/HttpClient/Tests/Psr18ClientTest.php
Labels: Bug, Status: Reviewed, HttpClient

#47490 [DependencyInjection] Fix dumping lazy-proxy of interfaces
  src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/LazyProxy/Instantiator/LazyServiceInstantiator.php
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/DumperInterface.php
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/LazyServiceDumper.php
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/NullDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/classes.php
  src/Symfony/Component/DependencyInjection/Tests/LazyProxy/PhpDumper/LazyServiceDumperTest.php
  src/Symfony/Component/VarExporter/ProxyHelper.php
Labels: DependencyInjection, Bug, Status: Reviewed

#47497 [Bridge] Fix mkdir() race condition in ProxyCacheWarmer
  src/Symfony/Bridge/Doctrine/CacheWarmer/ProxyCacheWarmer.php
Labels: Bug, Status: Reviewed

#47494 [Cache] update readme
  src/Symfony/Component/Cache/README.md
  src/Symfony/Component/Cache/composer.json
Labels: Status: Needs Review

#47491 [HttpKernel] Prevent exception in RequestDataCollector if request stack is empty
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RequestDataCollectorTest.php
Labels: Bug, Status: Needs Review

#47499 [Uid][Validator] Stop to first ULID format violation
  src/Symfony/Component/Validator/Constraints/UlidValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/UlidValidatorTest.php
Labels: Validator, Bug, Status: Reviewed, Uid

#47474 [HttpFoundation] Use identical comparison for scheme validation
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Status: Needs Review

#47441 [HttpClient] Fix computing retry delay when using RetryableHttpClient
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
Labels: Bug, Status: Needs Review, HttpClient

#47518 [Uid] Fix validating UUID variant bits
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/Uuid.php
  src/Symfony/Component/Uid/UuidV1.php
  src/Symfony/Component/Uid/UuidV3.php
  src/Symfony/Component/Uid/UuidV4.php
  src/Symfony/Component/Uid/UuidV5.php
  src/Symfony/Component/Uid/UuidV6.php
Labels: Bug, Status: Needs Review, Uid

#47488 [Security] Fix valid remember-me token exposure to the second consequent request
  src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentRememberMeHandlerTest.php
Labels: Security, Bug, Status: Reviewed

#47524 [HttpKernel] add missing allowed interface
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/TraceableValueResolver.php
Labels: Bug, HttpKernel, Status: Needs Review

#47528 [Form] fix UUID tranformer
  src/Symfony/Component/Form/Extension/Core/DataTransformer/UuidToStringTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/UuidToStringTransformerTest.php
Labels: Form, Bug, Status: Reviewed

#47523 [Uid] Ensure ULIDs are monotonic even when the time goes backward
  src/Symfony/Component/Uid/Tests/UlidTest.php
  src/Symfony/Component/Uid/Ulid.php
Labels: Bug, Status: Needs Review, HttpClient

#47529 [Routing] Reject v2 UUIDs
  src/Symfony/Component/Routing/Requirement/Requirement.php
  src/Symfony/Component/Routing/Tests/Requirement/RequirementTest.php
Labels: Bug, Routing, Status: Reviewed

#47525 [Uid] Add UuidV7 and UuidV8
  src/Symfony/Component/Routing/Requirement/Requirement.php
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/Factory/UuidFactory.php
  src/Symfony/Component/Uid/README.md
  src/Symfony/Component/Uid/Tests/Command/InspectUuidCommandTest.php
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/Uuid.php
  src/Symfony/Component/Uid/UuidV1.php
  src/Symfony/Component/Uid/UuidV7.php
  src/Symfony/Component/Uid/UuidV8.php
  src/Symfony/Component/Validator/Constraints/Uuid.php
  src/Symfony/Component/Validator/Constraints/UuidValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/UuidValidatorTest.php
Labels: Feature, Status: Reviewed, Uid

#47530 [HttpFoundation] Always return strings from accept headers
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#47533 [Messenger] decode URL-encoded characters in DSN's usernames/passwords
  src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php
  src/Symfony/Component/Messenger/Transport/RedisExt/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#42593 [Validator] Add the `When` constraint and validator
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/When.php
  src/Symfony/Component/Validator/Constraints/WhenValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/WhenTestWithAttributes.php
  src/Symfony/Component/Validator/Tests/Constraints/WhenTest.php
  src/Symfony/Component/Validator/Tests/Constraints/WhenValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#47541 move changelog entry
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
Labels: Status: Needs Review

#47549 Add a few more ??=
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/MergeCollectionListenerTest.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/Notifier/Channel/EmailChannel.php
Labels: Status: Reviewed

#38996 Remove the default values from setters with a nullable parameter
  UPGRADE-6.2.md
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/ContainerAwareFixture.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerResolverTest.php
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/Builder/NodeBuilder.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Command/LazyCommand.php
  src/Symfony/Component/Console/Formatter/NullOutputFormatterStyle.php
  src/Symfony/Component/Console/Formatter/OutputFormatterStyle.php
  src/Symfony/Component/Console/Formatter/OutputFormatterStyleInterface.php
  src/Symfony/Component/Console/Helper/Helper.php
  src/Symfony/Component/Console/Helper/HelperInterface.php
  src/Symfony/Component/Console/Input/InputArgument.php
  src/Symfony/Component/Console/Input/InputOption.php
  src/Symfony/Component/Console/Question/Question.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/ContainerAwareInterface.php
  src/Symfony/Component/DependencyInjection/ContainerAwareTrait.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerAwareTraitTest.php
  src/Symfony/Component/Form/Button.php
  src/Symfony/Component/Form/ButtonBuilder.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Exception/TransformationFailedException.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/FormConfigBuilder.php
  src/Symfony/Component/Form/FormConfigBuilderInterface.php
  src/Symfony/Component/Form/FormInterface.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/JsonResponse.php
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/Session/Storage/MockArraySessionStorage.php
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/NativeSessionStorageTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/EventListener/RouterListener.php
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php
  src/Symfony/Component/Mime/CHANGELOG.md
  src/Symfony/Component/Mime/Message.php
  src/Symfony/Component/PropertyAccess/CHANGELOG.md
  src/Symfony/Component/PropertyAccess/PropertyAccessorBuilder.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/TestClass.php
  src/Symfony/Component/Security/Core/Authentication/Token/Storage/TokenStorage.php
  src/Symfony/Component/Security/Core/Authentication/Token/Storage/TokenStorageInterface.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/Storage/TokenStorageTest.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Mapping/AttributeMetadata.php
  src/Symfony/Component/Serializer/Mapping/AttributeMetadataInterface.php
  src/Symfony/Component/Serializer/Mapping/ClassMetadata.php
  src/Symfony/Component/Serializer/Mapping/ClassMetadataInterface.php
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/VarDumper.php
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Definition.php
Labels: Status: Reviewed, Deprecation

#47520 [UID] Change author email to better present this contribution was done on company time
  src/Symfony/Component/Uid/TimeBasedUidInterface.php
Labels: Status: Needs Review

#47445 [FrameworkBundle] Allow secrets vaults to be used directly outside Symfony
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Secrets/AbstractVault.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/DotenvVault.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
Labels: Feature, FrameworkBundle

#47472 Removed unused $event param of onKernelFinishRequest from RouterListener
  src/Symfony/Component/HttpKernel/EventListener/RouterListener.php
Labels: Status: Reviewed

#47516 [HttpFoundation] Prevent BinaryFileResponse::prepare from adding content type if no content is sent
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#47542 [Mime] remove unused getDisposition() method
  src/Symfony/Component/Mime/Part/TextPart.php
Labels: Status: Reviewed, Mime

#46064 [Security] Add a `ChainUserChecker` to allow calling multiple user checkers for a firewall
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/User/ChainUserCheckerTest.php
  src/Symfony/Component/Security/Core/User/ChainUserChecker.php
Labels: Security, Feature, Status: Reviewed

#47536 [TwigBundle] add option for configuring custom HTML to text converter services
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/Resources/config/schema/twig-1.0.xsd
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/mailer.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/mailer.xml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/yml/mailer.yml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/TwigExtensionTest.php
Labels: Feature, TwigBundle, Status: Reviewed

#47227 [Messenger] Support for custom handler method containing a Union type tagged with #[AsMessageHandler]
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/TaggedDummyHandlerWithUnionTypes.php
  src/Symfony/Component/Messenger/Tests/Fixtures/UnionTypeOneMessage.php
  src/Symfony/Component/Messenger/Tests/Fixtures/UnionTypeTwoMessage.php
Labels: Bug, Status: Reviewed, Messenger

#47412 [Form] Add generics to DataTransformerInterface
  src/Symfony/Bridge/Doctrine/Form/DataTransformer/CollectionToArrayTransformer.php
  src/Symfony/Component/Form/DataTransformerInterface.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/ArrayToPartsTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/BaseDateTimeTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/BooleanToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/ChoiceToValueTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/ChoicesToValuesTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateIntervalToArrayTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateIntervalToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeImmutableToDateTimeTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToArrayTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToHtml5LocalDateTimeTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToRfc3339Transformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToTimestampTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeZoneToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/IntlTimeZoneToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/PercentToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/StringToFloatTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/UlidToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/UuidToStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/ValueToDuplicatesTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/WeekToArrayTransformer.php
Labels: Form, Status: Reviewed

#47564 [DependencyInjection] Fix lazy-proxying final classes
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/LazyServiceDumper.php
  src/Symfony/Component/DependencyInjection/Tests/LazyProxy/PhpDumper/LazyServiceDumperTest.php
  src/Symfony/Component/VarExporter/ProxyHelper.php
  src/Symfony/Component/VarExporter/Tests/ProxyHelperTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#47535 [TwigBridge] Expose current route in `AppVariable`
  src/Symfony/Bridge/Twig/AppVariable.php
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Tests/AppVariableTest.php
Labels: Feature, Status: Reviewed, TwigBridge

#47565 [Messenger] add tests covering union types in MessengerPass
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/UnionBuiltinTypeArgumentHandler.php
  src/Symfony/Component/Messenger/Tests/Fixtures/UnionTypeArgumentHandler.php
Labels: Status: Needs Review, Messenger

#47589 [VarExporter] Add LazyObjectInterface::isLazyObjectInitialized()
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/LazyObjectInterface.php
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
  src/Symfony/Component/VarExporter/Tests/LazyProxyTraitTest.php
Labels: Status: Needs Review, VarExporter

#47585 [Security][Validator] Add Norwegian translations 🇳🇴
  src/Symfony/Component/Security/Core/Resources/translations/security.nb.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.no.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.no.xlf
Labels: Validator, Security, Bug, Status: Reviewed

#47606 remove no longer needed PHP version requirements from tests
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Validator/Tests/Constraints/ValidTest.php
Labels: Status: Needs Review

#47607 remove no longer needed PHP version requirements from tests
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Status: Reviewed

#47597 [Validator] Improve WhenValidator CS
  src/Symfony/Component/Validator/Constraints/WhenValidator.php
Labels: Validator, Status: Reviewed

#47609 [Form] fix type for choices
  src/Symfony/Component/Form/Extension/Core/DataTransformer/ChoiceToValueTransformer.php
Labels: Form, Status: Reviewed

#47611 [Serializer] Improve performance of AbstractObjectDenormalizer with XML/CSV
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Serializer, Status: Reviewed

#47598 [FrameworkBundle] Deprecate "legacy_error_messages" form config node
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/form_default_csrf.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/csrf.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/form_csrf_sets_field_name.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/form_csrf_under_form_sets_field_name.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/form_default_csrf.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/form_no_csrf.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/form_default_csrf.yml
Labels: FrameworkBundle, Status: Reviewed, Deprecation

#47614 [FrameworkBundle] Fix a phpdoc in mailer assertions
  src/Symfony/Bundle/FrameworkBundle/Test/MailerAssertionsTrait.php
Labels: FrameworkBundle, Status: Reviewed

#47630 [FrameworkBundle] Add semantic config for new terminate_on_cache_hit HttpCache option
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Feature, FrameworkBundle, Status: Reviewed

#47628 [Mime] Improve error message on invalid form field
  src/Symfony/Component/Mime/Part/Multipart/FormDataPart.php
Labels: Status: Reviewed, Mime

#47620 [FrameworkBundle] Run composer with --ignore-platform-req=php+
  .github/workflows/unit-tests.yml
  src/Symfony/Component/Lock/composer.json
  src/Symfony/Component/Messenger/composer.json
Labels: FrameworkBundle, Status: Reviewed

#47647 remove upgrade instructions leftovers of #47150
  UPGRADE-6.1.md
Labels: Bug, Status: Reviewed

#47638 [HttpKernel] Fix LocaleListenerTest Accept-Language headers
  src/Symfony/Component/HttpKernel/Tests/EventListener/LocaleListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#47655 [Cache] Sync `Redis6Proxy::lPos()` return type
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
Labels: Status: Reviewed, Cache

#47656 Remove `non-empty-string` PHPDoc annotations
  src/Symfony/Component/Filesystem/Path.php
Labels: Status: Reviewed

#47649 Add a few more ??=
  src/Symfony/Bridge/Twig/Extension/DumpExtension.php
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/CouchbaseBucketAdapter.php
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php
  src/Symfony/Component/EventDispatcher/DependencyInjection/RegisterListenersPass.php
  src/Symfony/Component/HttpClient/Internal/AmpListener.php
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpFoundation/Session/Storage/MockArraySessionStorage.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/SocketStream.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Notifier/Bridge/Expo/ExpoTransport.php
  src/Symfony/Component/Notifier/Bridge/Firebase/FirebaseTransport.php
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/MicrosoftTeamsTransport.php
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/PropertyInfo/PhpStan/NameScopeFactory.php
  src/Symfony/Component/Runtime/Tests/phpt/autoload.php
  src/Symfony/Component/String/LazyString.php
  src/Symfony/Component/Validator/Constraints/File.php
  src/Symfony/Component/VarDumper/Caster/MemcachedCaster.php
Labels: Status: Reviewed

#47654 Convert switch cases to match expression
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/AccessTokenBundle/Security/Handler/AccessTokenHandler.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Console/Descriptor/Descriptor.php
  src/Symfony/Component/Form/Console/Descriptor/Descriptor.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytOptions.php
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
Labels: Status: Reviewed

#47665 [WebProfilerBundle] [WebProfilerPanel] Update the configuration panel
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/config.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: WebProfilerBundle, Status: Reviewed

#47578 [Security] Fix AbstractFormLoginAuthenticator return types
  src/Symfony/Component/Security/Guard/Authenticator/AbstractFormLoginAuthenticator.php
Labels: Security, Bug, Status: Needs Review

#47588 Add warning for possibly truncated inputs in QuestionHelper (#47586)
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Bug, Status: Reviewed

#47377 [HttpKernel] Use Accept-Language header even if there are no enabled locales
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Component/HttpKernel/EventListener/LocaleListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/LocaleListenerTest.php
Labels: HttpKernel, Status: Reviewed

#47673 [VarDumper] Fix use-after-free with nested FFI::addr() in test
  src/Symfony/Component/VarDumper/Tests/Caster/FFICasterTest.php
Labels: VarDumper, Status: Reviewed

#47674 [VarDumper] Fix memory leak in FFI test
  src/Symfony/Component/VarDumper/Tests/Caster/FFICasterTest.php
Labels: VarDumper, Status: Needs Review

#47635 [DependencyInjection] EnvPlaceholderParameterBag::get() can't return UnitEnum
  src/Symfony/Component/DependencyInjection/ParameterBag/EnvPlaceholderParameterBag.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/StringBackedEnum.php
  src/Symfony/Component/DependencyInjection/Tests/ParameterBag/EnvPlaceholderParameterBagTest.php
Labels: Bug, Status: Needs Review

#47462 [Mime] Simplify adding Parts to an Email
  src/Symfony/Bridge/Twig/Tests/Mime/TemplatedEmailTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Mime/Email.php
  src/Symfony/Component/Mime/MessageConverter.php
  src/Symfony/Component/Mime/Part/BodyFile.php
  src/Symfony/Component/Mime/Part/DataPart.php
  src/Symfony/Component/Mime/Part/TextPart.php
  src/Symfony/Component/Mime/Tests/EmailTest.php
  src/Symfony/Component/Mime/Tests/Fixtures/content.txt
  src/Symfony/Component/Mime/Tests/MessageTest.php
  src/Symfony/Component/Mime/Tests/Part/TextPartTest.php
  src/Symfony/Component/Mime/composer.json
  src/Symfony/Component/Serializer/Normalizer/MimeMessageNormalizer.php
Labels: Feature, Status: Reviewed, Mime

#47627 [VarExporter] Allow creating lazy-loading classes using constructors
  src/Symfony/Component/VarExporter/Internal/LazyObjectRegistry.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectState.php
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
  src/Symfony/Component/VarExporter/ProxyHelper.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/LazyClass.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
  src/Symfony/Component/VarExporter/Tests/LazyProxyTraitTest.php
  src/Symfony/Component/VarExporter/Tests/ProxyHelperTest.php
Labels: Bug, Status: Reviewed, VarExporter

#47547 [Ldap] Do not run ldap_set_option on failed connection
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
Labels: Bug, Status: Reviewed, Ldap

#47704 [Stopwatch] Correct compare float data in tests
  src/Symfony/Component/Stopwatch/Tests/StopwatchPeriodTest.php
  src/Symfony/Component/Stopwatch/composer.json
Labels: Bug, Stopwatch, Status: Reviewed

#45554 [Serializer] Fixed framework.serializer.default_context is not working for JsonEncoder
  src/Symfony/Component/Serializer/Encoder/JsonEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/JsonEncoderTest.php
Labels: Serializer, Bug, Status: Needs Work

#47637 [FrameworkBundle] Fix passing `serializer.default_context` option to normalizers
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SerializerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Serializer/config.yml
Labels: Bug, FrameworkBundle, Status: Reviewed

#47703 [Mailer][Mailjet] Apply the default value of 512 for max depths
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetApiTransport.php
Labels: Bug, Status: Reviewed, Mailer

#47317 [Security] Fix login url matching when app is not run with url rewriting or from a sub folder
  src/Symfony/Component/Security/Http/Authenticator/AbstractLoginFormAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/AbstractLoginFormAuthenticatorTest.php
Labels: Security, Bug, Status: Reviewed

#47243 Add context option to configure the indentation of nested nodes for `YamlEncoder`
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Context/Encoder/YamlEncoderContextBuilder.php
  src/Symfony/Component/Serializer/Encoder/JsonEncode.php
  src/Symfony/Component/Serializer/Encoder/YamlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/YamlEncoderTest.php
Labels: Status: Reviewed

#47308 [Console] Allow limiting the height of a console section
  src/Symfony/Component/Console/Output/ConsoleSectionOutput.php
  src/Symfony/Component/Console/Tests/Output/ConsoleSectionOutputTest.php
Labels: Feature, Console, Ready, Status: Reviewed

#47734 [Validator] add the getCause() to the ConstraintViolationInterface
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/ConstraintViolationInterface.php
Labels: Validator, Feature, Status: Reviewed, Deprecation

#47737 Release v4.4.46
  CHANGELOG-4.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47738 Release v5.4.13
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47739 Release v6.0.13
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47740 Release v6.1.5
  CHANGELOG-6.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47626 [Notifier] [Expo] Throw exception on error-response from expo api
  src/Symfony/Component/Notifier/Bridge/Expo/ExpoTransport.php
Labels: Bug, Status: Reviewed, Notifier

#47748 [Dotenv] Remove code for legacy Process component versions
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/composer.json
Labels: Status: Reviewed, Dotenv

#47746 [HttpFoundation] Fix BinaryFileResponse content type detection logic
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#46956 [FrameworkBundle] Allow to specify `null` for exception mapping configuration values
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/exceptions.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/exceptions.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/exceptions.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
Labels: Bug, FrameworkBundle, Status: Reviewed
