Repository symfony/symfony, pull requests merged in 2022-10, with the labels that each got.

#47751 Norgweiang translations
  src/Symfony/Component/Security/Core/Resources/translations/security.nn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nn.xlf
Labels: Bug, Feature, Status: Reviewed, Deprecation

#47731 [WebProfiler] Fix overflow issue in Forms panel
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/form.html.twig
Labels: Bug, Status: Reviewed

#47643 [WebProfilerBundle] Update the mailer panel
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/mailer.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/attachment.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/download.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/file.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/mailer.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
Labels: WebProfilerBundle, Status: Needs Review

#47460 [Messenger] add dedicated method for disabling instead of passing boolean flags
  src/Symfony/Component/Messenger/Command/FailedMessagesRemoveCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/PhpSerializerWithClassNotFoundSupportTest.php
  src/Symfony/Component/Messenger/Transport/Serialization/PhpSerializer.php
Labels: Feature, Status: Reviewed, Messenger

#47068 [Messenger] Deprecate MessageHandlerInterface and MessageSubscriberInterface
  UPGRADE-6.2.md
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Handler/MessageHandlerInterface.php
  src/Symfony/Component/Messenger/Handler/MessageSubscriberInterface.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Ready, Status: Reviewed, Deprecation, Messenger

#47511 [Form][PropertyAccess] Allow optional property accesses
  UPGRADE-6.2.md
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationPath.php
  src/Symfony/Component/PropertyAccess/CHANGELOG.md
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/PropertyPath.php
  src/Symfony/Component/PropertyAccess/PropertyPathInterface.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
  src/Symfony/Component/PropertyAccess/composer.json
Labels: Form, Feature, PropertyAccess, Status: Reviewed, Deprecation

#47496 [FrameworkBundle] Make the Router `cache_dir` configurable
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#47762 [HttpFoundation]  skip a test if the mime type detection feature will not work
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
Labels: HttpFoundation, Status: Needs Review

#47763 [PropertyInfo] a readonly property must not be reported as being writable
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php81Dummy.php
Labels: Bug, Status: Reviewed, PropertyInfo

#47753 [Mime] sync message serializer code for forward-compatibility
  src/Symfony/Component/Mime/Tests/MessageTest.php
  src/Symfony/Component/Mime/composer.json
  src/Symfony/Component/Serializer/Normalizer/MimeMessageNormalizer.php
Labels: Status: Reviewed, Mime

#47765 [Cache] sync the Redis6Proxy class with latest upstream changes
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6Proxy.php
Labels: Status: Reviewed, Cache

#47766 [Validator] skip tests if the mime type detection feature will not work
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTest.php
Labels: Validator, Status: Needs Review

#47761 [VarExporter] Do initialize ghost objects when setting one of their properties
  .github/expected-missing-return-types.diff
  src/Symfony/Component/VarExporter/Internal/LazyObjectRegistry.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectState.php
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
  src/Symfony/Component/VarExporter/README.md
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
Labels: Status: Needs Review, VarExporter

#47760 Move the new Security helper to the root of SecurityBundle
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/SecurityTest.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Security.php
Labels: Status: Reviewed

#47777 Guard scripts from being run in non-CLI contexts
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
  src/Symfony/Bundle/FrameworkBundle/Resources/bin/check-unused-known-tags.php
  src/Symfony/Component/ExpressionLanguage/Resources/bin/generate_operator_regex.php
  src/Symfony/Component/Intl/Resources/bin/common.php
  src/Symfony/Component/Intl/Resources/bin/update-data.php
  src/Symfony/Component/Mime/Resources/bin/update_mime_types.php
  src/Symfony/Component/Translation/Resources/bin/translation-status.php
  src/Symfony/Component/VarDumper/Resources/bin/var-dump-server
Labels: Status: Reviewed

#47778 Guard scripts from being run in non-CLI contexts
  src/Symfony/Component/ErrorHandler/Resources/bin/extract-tentative-return-types.php
  src/Symfony/Component/ErrorHandler/Resources/bin/patch-type-declarations
  src/Symfony/Component/String/Resources/bin/update-data.php
  src/Symfony/Component/Yaml/Resources/bin/yaml-lint
Labels: Status: Reviewed

#47779 [Console] Fix `Helper::removeDecoration` hyperlink bug
  src/Symfony/Component/Console/Helper/Helper.php
  src/Symfony/Component/Console/Tests/Helper/HelperTest.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: Bug, Console, Status: Reviewed

#47764 [Serializer] fixed traceable decoration priorities
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer_debug.php
  src/Symfony/Component/Serializer/DependencyInjection/SerializerPass.php
  src/Symfony/Component/Serializer/Tests/DependencyInjection/SerializerPassTest.php
Labels: Serializer, Bug, Status: Reviewed

#47790 [Console] Add missing PHPDoc to make Psalm happy
  src/Symfony/Component/Console/Helper/Table.php
Labels: Console, Status: Reviewed

#47733 [TwigBridge] Avoid double render when an exception is thrown in !debug
  src/Symfony/Bridge/Twig/ErrorRenderer/TwigErrorRenderer.php
Labels: Status: Reviewed, TwigBridge

#47811 [WebProfilerBundle] Profiler design fixes
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/open.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/open.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/results.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#47789 [String] Update wcswidth data with Unicode 15
  src/Symfony/Component/String/Resources/data/wcswidth_table_wide.php
  src/Symfony/Component/String/Resources/data/wcswidth_table_zero.php
Labels: Bug, Status: Reviewed, String

#47702 [Messenger] Fix default serializer not handling DateTime objects properly
  src/Symfony/Component/Messenger/Transport/Serialization/Serializer.php
Labels: Bug, Status: Reviewed, Messenger

#47730 Ban DateTime from the codebase
  src/Symfony/Component/BrowserKit/Cookie.php
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Cache/Adapter/ParameterNormalizer.php
  src/Symfony/Component/Cache/Adapter/ProxyAdapter.php
  src/Symfony/Component/Cache/CacheItem.php
  src/Symfony/Component/Console/Logger/ConsoleLogger.php
  src/Symfony/Component/Console/Tests/Logger/ConsoleLoggerTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckTypeDeclarationsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveClassPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/ErrorHandler/BufferingLogger.php
  src/Symfony/Component/Finder/Comparator/DateComparator.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/HttpCache/HttpCache.php
  src/Symfony/Component/HttpKernel/Log/Logger.php
  src/Symfony/Component/HttpKernel/Profiler/Profiler.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/DateTimeValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/ConfigDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RequestDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/CacheAttributeListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpKernelBrowserTest.php
  src/Symfony/Component/HttpKernel/Tests/Log/LoggerTest.php
  src/Symfony/Component/Intl/Tests/TimezonesTest.php
  src/Symfony/Component/Intl/Tests/Util/GitRepositoryTest.php
  src/Symfony/Component/Intl/Util/GitRepository.php
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunApiTransportTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Mime/Tests/Crypto/SMimeEncryptorTest.php
  src/Symfony/Component/Mime/Tests/Crypto/SMimeSignerTest.php
  src/Symfony/Component/Mime/Tests/MessageTest.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordEmbed.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/DiscordOptionsTest.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/ReturnTyped.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/TestClassTypeErrorInsideCall.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/TypeHinted.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/ConstructorDummy.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/ParentDummy.php
  src/Symfony/Component/Uid/Tests/Factory/UlidFactoryTest.php
  src/Symfony/Component/Uid/Tests/Factory/UuidFactoryTest.php
  src/Symfony/Component/VarDumper/Caster/DateCaster.php
  src/Symfony/Component/VarDumper/Caster/ResourceCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/DateCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/SplCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/DateTimeChild.php
  src/Symfony/Component/VarDumper/Tests/Test/VarDumperTestTraitTest.php
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Feature, Status: Reviewed, Deprecation

#47798 [DoctrineBridge] Fix auto mapping for bundles that contain only embeddables
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/FullEmbeddableAnnotationsBundle/Entity/Address.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/FullEmbeddableAnnotationsBundle/FullEmbeddableAnnotationsBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/FullEmbeddableAttributesBundle/Entity/Address.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/FullEmbeddableAttributesBundle/FullEmbeddableAttributesBundle.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#47750 [Console] Show available commands in namespace when running namespace as command
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Feature, Console, Status: Reviewed

#47817 [Security] TraceableAccessDecisionManager: fix inspecting voters of custom access decision managers
  src/Symfony/Component/Security/Core/Authorization/TraceableAccessDecisionManager.php
Labels: Security, Bug, Status: Reviewed

#47808 [HttpClient] Fix seeking in not-yet-initialized requests
  src/Symfony/Component/HttpClient/Response/StreamWrapper.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: Bug, Status: Reviewed, HttpClient

#47567 [Cache] Make FilesystemTagAwareAdapter::prune() remove dangling symlinks
  src/Symfony/Component/Cache/Adapter/FilesystemTagAwareAdapter.php
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
Labels: Status: Needs Review, Cache

#47833 [TwigBridge] Remove empty spaces between choices when using checkbox-inline or checkbox-switch
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_5_layout.html.twig
Labels: Bug, Status: Reviewed, TwigBridge

#47621 [Serializer] Allow getting discriminated type by class name
  src/Symfony/Component/Serializer/Mapping/ClassDiscriminatorMapping.php
  src/Symfony/Component/Serializer/Tests/Mapping/ClassDiscriminatorMappingTest.php
Labels: Serializer, Bug, Status: Reviewed

#47840 Release v5.4.14
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47841 Release v6.0.14
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47842 Release v6.1.6
  CHANGELOG-6.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47843 [HttpFoundation] Fix session tests
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/common.inc
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/regenerate.expected
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/with_samesite_and_migration.expected
Labels: HttpFoundation, Status: Needs Review

#47858 [DoctrineBridge] Implement `EventManager::getAllListeners()`
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/Tests/ContainerAwareEventManagerTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#47821 [WebProfilerBundle] Minor design tweaks and fixes in redesigned panels
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/form.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/mailer.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/messenger.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#47822 [Mailer] fix: use message object from event
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
Labels: Bug, Status: Reviewed, Mailer

#47855 [Routing] TypeError in Router when using UrlGenerator
  src/Symfony/Component/Routing/Router.php
  src/Symfony/Component/Routing/Tests/RouterTest.php
Labels: Bug, Routing, Status: Reviewed

#47860 fix few typos/inconsistencies in latvian translations
  src/Symfony/Component/Form/Resources/translations/validators.lv.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.lv.xlf
Labels: Bug, Status: Reviewed

#47732 [TwigBridge] Adding the new block form_label_content for bootstrap 5 layout
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_5_layout.html.twig
Labels: Status: Reviewed, TwigBridge

#47831 [Messenger] Fix amqp socket lost
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#47863 [DoctrineBridge] Allow doctrine/event-manager 2
  composer.json
  src/Symfony/Bridge/Doctrine/composer.json
Labels: Bug, Status: Reviewed, DoctrineBridge

#47832 [HttpClient] Make HttplugClient implement PSR-17 factories instead of Httplug's
  UPGRADE-6.2.md
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/composer.json
Labels: Status: Reviewed, Deprecation, HttpClient

#47870 [PropertyAccess] update changelog for the null-coalesce operator
  src/Symfony/Component/PropertyAccess/CHANGELOG.md
Labels: PropertyAccess, Status: Reviewed

#47711 [Mime] deprecate attach/embed methods in favor of Email::addPart()
  src/Symfony/Bridge/Twig/Mime/NotificationEmail.php
  src/Symfony/Bridge/Twig/Mime/WrappedTemplatedEmail.php
  src/Symfony/Bridge/Twig/Tests/Mime/TemplatedEmailTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Controller/EmailController.php
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Infobip/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Tests/Transport/SendinblueApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/composer.json
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/SmtpTransportTest.php
  src/Symfony/Component/Mailer/composer.json
  src/Symfony/Component/Mime/Email.php
  src/Symfony/Component/Mime/MessageConverter.php
  src/Symfony/Component/Mime/Tests/Crypto/SMimeSignerTest.php
  src/Symfony/Component/Mime/Tests/EmailTest.php
  src/Symfony/Component/Mime/Tests/MessageConverterTest.php
Labels: Status: Reviewed, Deprecation, Mime

#47864 [DoctrineBridge] Deprecate calling `ContainerAwareEventManager::getListeners()` without event name
  composer.json
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/Tests/ContainerAwareEventManagerTest.php
  src/Symfony/Bridge/Doctrine/composer.json
Labels: Status: Reviewed, Deprecation, DoctrineBridge

#47873 [HttpClient] Deprecation Contracts Dependency
  src/Symfony/Component/HttpClient/composer.json
Labels: Bug, Status: Reviewed, HttpClient

#47875 add missing Azerbaijani translations
  src/Symfony/Component/Security/Core/Resources/translations/security.az.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.az.xlf
Labels: Status: Reviewed

#47884 [Cache] Reserve numeric keys when doing memory leak prevention
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
  src/Symfony/Component/Cache/Traits/AbstractTrait.php
Labels: Bug, Status: Reviewed, Cache

#47883 [Console] Fix error output on windows cli
  src/Symfony/Component/Console/Application.php
Labels: Bug, Console, Status: Needs Review

#47854 [HttpClient] Don't override header if is x-www-form-urlencoded
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
Labels: Bug, Status: Needs Review, HttpClient

#47672 Leverage First-class callable syntax
  src/Symfony/Bridge/Doctrine/Middleware/Debug/DebugDataHolder.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelTraitTest.php
  src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
  src/Symfony/Component/DependencyInjection/Loader/IniFileLoader.php
  src/Symfony/Component/EventDispatcher/Tests/EventDispatcherTest.php
  src/Symfony/Component/Form/Extension/DataCollector/FormDataCollector.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/DefaultChoiceListFactoryTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Constraints/FormValidatorTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/BaseValidatorExtensionTest.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpKernel/Tests/ControllerMetadata/ArgumentMetadataFactoryTest.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RequestDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ResponseListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SurrogateListenerTest.php
  src/Symfony/Component/Messenger/Tests/TraceableMessageBusTest.php
  src/Symfony/Component/String/LazyString.php
  src/Symfony/Component/Validator/Tests/Constraints/UniqueValidatorTest.php
Labels: Status: Reviewed

#47893 s/gargage/garbage
  src/Symfony/Component/Cache/Adapter/RedisTagAwareAdapter.php
Labels: Status: Reviewed

#47894 s/annd/and
  src/Symfony/Component/Form/ChoiceList/ArrayChoiceList.php
Labels: Status: Reviewed

#47801 [DependencyInjection] Allow array for the value of Autowire attribute
  src/Symfony/Component/DependencyInjection/Attribute/Autowire.php
  src/Symfony/Component/DependencyInjection/Tests/Attribute/AutowireTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#47879 [HttpClient] Fix buffering after calling AsyncContext::passthru()
  src/Symfony/Component/HttpClient/Response/AsyncContext.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
Labels: Bug, Status: Reviewed, HttpClient

#47857 [HttpKernel] Fix empty request stack when terminating with exception
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/HttpKernelTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#47467 [HttpKernel] Add request attribute `_handle_all_throwables` to allow `HttpKernel` to handle thrown `Error` in addition to `Exception`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Test/ExceptionSubscriber.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/UidTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Uid/config_disabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/config/framework.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/ConcreteMicroKernel.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/MicroKernelTraitTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Kernel/flex-style/src/FlexStyleMicroKernel.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/Authenticator/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/FirewallEntryPoint/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/config/framework.yml
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/Tests/Functional/WebProfilerBundleKernel.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RequestDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/Debug/TraceableEventDispatcherTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/RouterListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/InlineFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/TestHttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/TestMultipleHttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/HttpKernelTest.php
  src/Symfony/Component/HttpKernel/Tests/TestHttpKernel.php
Labels: HttpKernel, Status: Reviewed

#47902 [DependencyInjection] Add support for tagged iterators/locators exclude option to xml and yaml
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Dumper/XmlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/YamlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_tagged_arguments.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_tagged_argument.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#47906 [DependencyInjection] Allow injecting the current env into php config closures
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/env_param.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/env_param.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed, Deprecation

#47911 Relax tests to make them compatible with Mime v6.2+
  src/Symfony/Bridge/Twig/Tests/Mime/TemplatedEmailTest.php
  src/Symfony/Component/Mime/Tests/MessageTest.php
  src/Symfony/Component/Mime/composer.json
Labels: Status: Needs Review

#47913 [FrameworkBundle] fix deps=low
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Needs Review

#47915 [Notifier] Update README for FreeMobile
  src/Symfony/Component/Notifier/Bridge/FreeMobile/README.md
Labels: Status: Needs Review, Notifier

#47872 [Validator] new email validation option to match with w3c official specification
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Email.php
  src/Symfony/Component/Validator/Constraints/EmailValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailTest.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#47903 [Asset] improve performance of `UrlPackage::chooseBaseUrl()`
  src/Symfony/Component/Asset/Tests/UrlPackageTest.php
  src/Symfony/Component/Asset/UrlPackage.php
Labels: Asset, Status: Reviewed

#47176 [DependencyInjection] Container building optimization
  src/Symfony/Component/DependencyInjection/Compiler/MergeExtensionConfigurationPass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ValidateEnvPlaceholdersPassTest.php
Labels: DependencyInjection, Status: Reviewed, Performance, :snowflake: Feature Freeze

#47483 [HttpKernel] Make Logger implement DebugLoggerInterface
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddDebugLogProcessorPass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/LoggerPass.php
  src/Symfony/Component/HttpKernel/Log/Logger.php
Labels: Feature, HttpKernel, RFC, Status: Reviewed, :snowflake: Feature Freeze

#45907 [SecurityBundle] Allow specifying attributes for `RequestMatcher`
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Feature, SecurityBundle, Status: Reviewed, :snowflake: Feature Freeze

#46053 [Messenger] Add option `allow_no_senders` to enable throwing when a message doesn't have a sender
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTest.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Exception/NoSenderForMessageException.php
  src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
Labels: Feature, Status: Reviewed, :snowflake: Feature Freeze, Messenger

#47921 Validator: fix FileValidator when value is an UploadedFile
  src/Symfony/Component/Validator/Constraints/FileValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTest.php
Labels: Bug, Status: Reviewed

#47929 [Cache] sync Redis6Proxy with upstream implementation
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
Labels: Status: Needs Review, Cache

#47930 [SecurityBundle] adapt tests to reflect the split of the request matchers
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: SecurityBundle, Status: Needs Review

#47931 [SecurityBundle] remove deprecated enable_authenticator_manager option from tests
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: SecurityBundle, Status: Needs Review

#47932 Throw LogicException instead of Error when trying to generate logout-…
  src/Symfony/Component/Security/Http/Logout/LogoutUrlGenerator.php
Labels: Bug, Status: Reviewed

#47928 [Translation] Deprecate PhpStringTokenParser
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Extractor/PhpStringTokenParser.php
Labels: Translation, Status: Reviewed, Deprecation

#47937 [FrameworkBundle] remove DateTime from core Bundles
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#47936 [HttpClient] Add `withOptions()` to `HttplugClient` and `Psr18Client`
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Psr18Client.php
Labels: Status: Reviewed, HttpClient

#47939 Added Urdu Language Translation in Form Component, Security Core and in Validator Component
  src/Symfony/Component/Form/Resources/translations/validators.ur.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.ur.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ur.xlf
Labels: Feature, Status: Needs Review

#47950 [HttpClient] Add support for "friendsofphp/well-known-implementations"
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Psr18Client.php
Labels: Feature, Status: Reviewed, HttpClient

#46224 [Form] Add `hash_property_path` option to `PasswordType`
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/password_hasher.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/PasswordHasher/EventListener/PasswordHasherListener.php
  src/Symfony/Component/Form/Extension/PasswordHasher/PasswordHasherExtension.php
  src/Symfony/Component/Form/Extension/PasswordHasher/Type/FormTypePasswordHasherExtension.php
  src/Symfony/Component/Form/Extension/PasswordHasher/Type/PasswordTypePasswordHasherExtension.php
  src/Symfony/Component/Form/Tests/Extension/PasswordHasher/Type/PasswordTypePasswordHasherExtensionTest.php
  src/Symfony/Component/Form/Tests/Fixtures/User.php
  src/Symfony/Component/Form/composer.json
Labels: Form, Feature, Status: Reviewed, :snowflake: Feature Freeze

#47951 Fix duplicate heading in upgrade notes for Serializer component
  UPGRADE-5.0.md
Labels: Bug, Status: Reviewed

#47943 [Config][Routing] Nicer config syntax for PSR-4 route loading
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Psr4Routing/routing.yml
  src/Symfony/Component/Config/Exception/LoaderLoadException.php
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/Routing/Loader/AnnotationDirectoryLoader.php
  src/Symfony/Component/Routing/Loader/Psr4DirectoryLoader.php
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Routing/Loader/schema/routing/routing-1.0.xsd
  src/Symfony/Component/Routing/Tests/Fixtures/psr4-attributes.xml
  src/Symfony/Component/Routing/Tests/Fixtures/psr4-attributes.yaml
  src/Symfony/Component/Routing/Tests/Loader/Psr4DirectoryLoaderTest.php
  src/Symfony/Component/Routing/composer.json
Labels: Feature, Routing, Config, Status: Reviewed

#47926 [RateLimiter] Move lock component to dev dependency
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/PhpFrameworkExtensionTest.php
  src/Symfony/Component/RateLimiter/CHANGELOG.md
  src/Symfony/Component/RateLimiter/composer.json
Labels: Status: Reviewed, RateLimiter

#47859 [Notifier] Check Discord embed limitations
  src/Symfony/Component/Notifier/Bridge/Discord/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordAuthorEmbedObject.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordEmbed.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordFieldEmbedObject.php
  src/Symfony/Component/Notifier/Bridge/Discord/Embeds/DiscordFooterEmbedObject.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/Embeds/DiscordAuthorEmbedObjectTest.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/Embeds/DiscordEmbedTest.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/Embeds/DiscordFieldEmbedObjectTest.php
  src/Symfony/Component/Notifier/Bridge/Discord/Tests/Embeds/DiscordFooterEmbedObjectTest.php
Labels: Feature, Status: Reviewed, Notifier

#47955 [Security][Serializer] Add missing args to trigger_deprecation
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ArrayDenormalizerTest.php
Labels: Security, Serializer, Bug, Status: Reviewed

#43534 [Serializer] Add `SerializedPath` annotation to flatten nested attributes
  src/Symfony/Component/Serializer/Annotation/SerializedName.php
  src/Symfony/Component/Serializer/Annotation/SerializedPath.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Mapping/AttributeMetadata.php
  src/Symfony/Component/Serializer/Mapping/AttributeMetadataInterface.php
  src/Symfony/Component/Serializer/Mapping/Factory/ClassMetadataFactoryCompiler.php
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/XmlFileLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/schema/dic/serializer-mapping/serializer-mapping-1.0.xsd
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Annotation/SerializedNameTest.php
  src/Symfony/Component/Serializer/Tests/Annotation/SerializedPathTest.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/SerializedPathDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/SerializedPathDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/serialization.xml
  src/Symfony/Component/Serializer/Tests/Fixtures/serialization.yml
  src/Symfony/Component/Serializer/Tests/Mapping/AttributeMetadataTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/ClassMetadataFactoryCompilerTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/NameConverter/MetadataAwareNameConverterTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Feature, Status: Reviewed, :snowflake: Feature Freeze

#47953 [Config][Routing] Fix delegating to PSR-4 loader from subdirectory
  src/Symfony/Component/Config/Loader/DirectoryAwareLoaderInterface.php
  src/Symfony/Component/Config/Loader/FileLoader.php
  src/Symfony/Component/Routing/Loader/Psr4DirectoryLoader.php
  src/Symfony/Component/Routing/Tests/Fixtures/psr4-controllers-redirection.xml
  src/Symfony/Component/Routing/Tests/Fixtures/psr4-controllers-redirection.yaml
  src/Symfony/Component/Routing/Tests/Fixtures/psr4-controllers-redirection/psr4-attributes.xml
  src/Symfony/Component/Routing/Tests/Fixtures/psr4-controllers-redirection/psr4-attributes.yaml
  src/Symfony/Component/Routing/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
Labels: Bug, Routing, Config, Status: Reviewed

#47956 [Notifier] Add support for editing Telegram messages
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramOptions.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
Labels: Feature, Status: Reviewed, Notifier

#47961 Sync Redis6Proxy and RedisCluster6Proxy with upstream implementation
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6Proxy.php
Labels: Status: Reviewed

#47959 [SecurityBundle] Add XML support for new request attribute matcher
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/schema/security-1.0.xsd
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/container1.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/container1.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/container1.yml
Labels: SecurityBundle, Status: Reviewed

#47958 [WebProfilerBundle] Fix profiler search link query params
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#47963 [Routing] Fix nested directory support in `Psr4DirectoryLoader`
  src/Symfony/Component/Routing/Loader/Psr4DirectoryLoader.php
Labels: Bug, Routing, Status: Reviewed, :snowflake: Feature Freeze

#47954 [PropertyAccess] Fix using the nullsafe operator on first level properties
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
Labels: Bug, PropertyAccess, Status: Reviewed, :snowflake: Feature Freeze

#47966 [Cache] Skip testing with ext-redis v6
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
Labels: Status: Needs Review, Cache

#44166 [Config] Use better typehint in PHP Configuration
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php
  src/Symfony/Component/Config/Definition/Builder/ExprBuilder.php
  src/Symfony/Component/Config/Definition/Builder/NodeDefinition.php
  src/Symfony/Component/Config/Definition/Builder/NormalizationBuilder.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypesConfig.php
Labels: Feature, Config, Status: Reviewed

#47964 [FrameworkBundle] Deprecated the `registerRateLimiter()` method
  UPGRADE-6.2.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
Labels: Feature, FrameworkBundle, Status: Reviewed, Deprecation

#47968 [RateLimiter] Decouple from NoLock
  src/Symfony/Component/RateLimiter/Policy/FixedWindowLimiter.php
  src/Symfony/Component/RateLimiter/Policy/ResetLimiterTrait.php
  src/Symfony/Component/RateLimiter/Policy/SlidingWindowLimiter.php
  src/Symfony/Component/RateLimiter/Policy/TokenBucketLimiter.php
  src/Symfony/Component/RateLimiter/RateLimiterFactory.php
Labels: Bug, Status: Needs Review, RateLimiter

#45569 [FrameworkBundle] Add mechanism to prevent using outdated config
  UPGRADE-6.2.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
Labels: FrameworkBundle, Status: Reviewed

#44464 [TwigBridge] Provide a default non-empty label on empty options to validate HTML5
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
Labels: Status: Needs Review, TwigBridge, :snowflake: Feature Freeze

#47364 [DependencyInjection] Allow array attributes for service tags
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/DefaultsConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/TagTrait.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Dumper/XmlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/YamlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_non_scalar_tags.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_array_tags.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_array_tags.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/tag_array_arguments.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed, :snowflake: Feature Freeze

#47972 Release v6.2.0-BETA1
  CHANGELOG-6.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#47982 Update validators.af.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.af.xlf
Labels: Bug, Feature, Status: Needs Review, Deprecation

#47992 [Mailer] Fix BC breaking event name change
  src/Symfony/Component/Mailer/Event/MessageEvent.php
  src/Symfony/Component/Mailer/Event/QueuingMessageEvent.php
  src/Symfony/Component/Mailer/EventListener/MessageLoggerListener.php
  src/Symfony/Component/Mailer/EventListener/MessengerTransportListener.php
  src/Symfony/Component/Mailer/Mailer.php
  src/Symfony/Component/Mailer/Tests/EventListener/MessengerTransportListenerTest.php
  src/Symfony/Component/Mailer/Tests/MailerTest.php
Labels: Bug, Status: Reviewed, Mailer

#48005 [ErrorHandler] s/</br>/<br>
  src/Symfony/Component/ErrorHandler/Resources/views/traces.html.php
Labels: Bug, Status: Reviewed, ErrorHandler

#48001 Shorten Placeholder for Search input
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Bug, Status: Reviewed

#48006 [DomCrawler] remove duplicated catch block
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTest.php
Labels: Bug, DomCrawler, Status: Reviewed

#48009 Fix Typos In Comments 6.1+
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
Labels: Status: Reviewed

#48008 Fix Typos In Comments 6.0+
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: Status: Reviewed

#48010 [Routing] Add tests for loading PSR-4 classes from PHP files
  src/Symfony/Component/Routing/Tests/Fixtures/class-attributes.php
  src/Symfony/Component/Routing/Tests/Fixtures/psr4-attributes.php
  src/Symfony/Component/Routing/Tests/Fixtures/psr4-controllers-redirection.php
  src/Symfony/Component/Routing/Tests/Fixtures/psr4-controllers-redirection/psr4-attributes.php
  src/Symfony/Component/Routing/Tests/Loader/PhpFileLoaderTest.php
Labels: Routing, Status: Reviewed

#47990 [HttpClient] Fix retrying requests when the content is used by the strategy
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
Labels: Bug, Status: Reviewed, HttpClient

#47976 Add padding to HIBP check
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/NotCompromisedPasswordValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/NotCompromisedPasswordValidatorTest.php
Labels: Feature, Status: Reviewed

#48007 Fix Typos In Comments 5.4+
  src/Symfony/Component/Cache/Marshaller/TagAwareMarshaller.php
  src/Symfony/Component/DomCrawler/FormFieldRegistry.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
  src/Symfony/Component/Lock/Store/DoctrineDbalStore.php
  src/Symfony/Component/Mailer/Transport/SendmailTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/SocketStream.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/DockBlockFallback.php
  src/Symfony/Component/Validator/Validator/RecursiveContextualValidator.php
  src/Symfony/Contracts/Translation/Test/TranslatorTest.php
Labels: Status: Reviewed

#48026 [WebProfilerBundle] [WebProfiler Bundle] Avoid translating web debug toolbar contents
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.html.twig
Labels: Bug, Feature, WebProfilerBundle, Status: Reviewed

#48020 [FrameworkBundle] add router cache directory option to XML schema
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, FrameworkBundle, Status: Reviewed

#48028 Release v4.4.48
  CHANGELOG-4.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#48029 Release v5.4.15
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#48030 Release v6.0.15
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#48031 Release v6.1.7
  CHANGELOG-6.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#48033 Release v6.2.0-BETA2
  CHANGELOG-6.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#48051 [Translation] cs fix
  src/Symfony/Component/Translation/Loader/PhpFileLoader.php
Labels: Translation, Status: Reviewed
