Repository symfony/symfony, pull requests merged in 2023-08, with the labels that each got.

#51195 [VarDumper] Remove obsolete PHP version check
  src/Symfony/Component/VarExporter/Tests/LazyProxyTraitTest.php
Labels: VarDumper, Status: Reviewed

#50879 [Notifier] support local development for sns by adding sslmode option
  src/Symfony/Component/Notifier/Bridge/AmazonSns/AmazonSnsTransportFactory.php
Labels: Feature, Status: Reviewed, Notifier

#51193 Avoid inconsistent override of getRecipients
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillApiTransport.php
Labels: Status: Reviewed

#49594 [Serializer] Groups annotation/attribute on class
  src/Symfony/Component/Serializer/Annotation/Groups.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/GroupClassDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/GroupClassDummy.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTestCase.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Feature, Status: Reviewed

#48841 [BrowserKit] Add argument $serverParameters to click() and clickLink()
  UPGRADE-6.4.md
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/BrowserKit/CHANGELOG.md
  src/Symfony/Component/BrowserKit/Tests/AbstractBrowserTest.php
Labels: Feature, BrowserKit, Status: Reviewed, Deprecation

#51092 [Scheduler] make `ScheduledStamp` "send-able"
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/Messenger/ScheduledStamp.php
Labels: Feature, RFC, Status: Reviewed, Scheduler

#49195 [Crawler] Fix regression where cdata nodes will return empty string
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTestCase.php
Labels: Bug, Status: Needs Review

#49231 [Translation] Phrase translation provider
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/translation_providers.php
  src/Symfony/Component/Translation/Bridge/Phrase/.gitattributes
  src/Symfony/Component/Translation/Bridge/Phrase/.gitignore
  src/Symfony/Component/Translation/Bridge/Phrase/CHANGELOG.md
  src/Symfony/Component/Translation/Bridge/Phrase/Config/ReadConfig.php
  src/Symfony/Component/Translation/Bridge/Phrase/Config/WriteConfig.php
  src/Symfony/Component/Translation/Bridge/Phrase/LICENSE
  src/Symfony/Component/Translation/Bridge/Phrase/PhraseProvider.php
  src/Symfony/Component/Translation/Bridge/Phrase/PhraseProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Phrase/README.md
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/Config/ReadConfigTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/Config/WriteConfigTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/PhraseProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/PhraseProviderTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/composer.json
  src/Symfony/Component/Translation/Bridge/Phrase/phpunit.xml.dist
  src/Symfony/Component/Translation/CHANGELOG.md
Labels: Feature, Translation, Status: Needs Work

#50957 [Security] Remove unused code about ROLE_PREVIOUS_ADMIN
  src/Symfony/Bundle/SecurityBundle/Tests/DataCollector/SecurityDataCollectorTest.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
Labels: Security, Status: Reviewed

#51172 [Serializer] Add support for seld/jsonlint
  composer.json
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Encoder/JsonDecode.php
  src/Symfony/Component/Serializer/Tests/Encoder/JsonDecodeTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Feature, Status: Reviewed

#51201 [Workflow] fix MermaidDumper when place contains special char
  src/Symfony/Component/Workflow/Dumper/MermaidDumper.php
  src/Symfony/Component/Workflow/Tests/Dumper/MermaidDumperTest.php
Labels: Bug, Status: Reviewed, Workflow

#51202 [Uid] Add more PHP doc to "export" functions
  src/Symfony/Component/Uid/AbstractUid.php
  src/Symfony/Component/Uid/Ulid.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Status: Reviewed, Uid

#51203 [HttpKernel] Add `reset()` implementation in DataCollector
  .github/expected-missing-return-types.diff
  src/Symfony/Bundle/FrameworkBundle/DataCollector/AbstractDataCollector.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/EventDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/ExceptionDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/DataCollector/CloneVarDataCollector.php
Labels: HttpKernel, Status: Reviewed

#50212 [FrameworkBundle][Serializer] Add TranslatableNormalizer
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SerializerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Serializer/config.yml
  src/Symfony/Component/Serializer/Normalizer/TranslatableNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/TranslatableNormalizerTest.php
Labels: Serializer, Feature, FrameworkBundle, Status: Reviewed

#47715 [Form] Removing self-closing slash from `<input>`
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractLayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/Fixtures/templates/form/theme.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/Fixtures/templates/form/theme_extends.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/Fixtures/templates/form/theme_use.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap4LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap5LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionDivLayoutTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/CsrfFormLoginBundle/Resources/views/Login/after_login.html.twig
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/CsrfFormLoginBundle/Resources/views/Login/login.html.twig
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/FormLoginBundle/Resources/views/Localized/login.html.twig
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/FormLoginBundle/Resources/views/Login/after_login.html.twig
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/FormLoginBundle/Resources/views/Login/login.html.twig
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/templates/base.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/notifier.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base.html.twig
  src/Symfony/Component/ErrorHandler/Resources/views/error.html.php
  src/Symfony/Component/ErrorHandler/Resources/views/exception_full.html.php
  src/Symfony/Component/HttpKernel/Resources/welcome.html.php
Labels: Form, Status: Reviewed

#51173 Add some PHPDoc
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/ProfilerPass.php
  src/Symfony/Component/DependencyInjection/Definition.php
  src/Symfony/Component/Form/Extension/DependencyInjection/DependencyInjectionExtension.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/UidValueResolver.php
  src/Symfony/Component/Uid/Factory/TimeBasedUuidFactory.php
Labels: Status: Reviewed

#47422 [Process] Support using `Process::findExecutable()` independently of `open_basedir`
  src/Symfony/Component/Process/CHANGELOG.md
  src/Symfony/Component/Process/ExecutableFinder.php
  src/Symfony/Component/Process/PhpExecutableFinder.php
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Feature, Process, Status: Reviewed

#51191 [Mime] Update mimetypes
  src/Symfony/Component/Mime/MimeTypes.php
Labels: Feature, Status: Reviewed, Mime

#51073 [Intl] Add support for ISO 3166-1 numeric codes
  src/Symfony/Component/Intl/CHANGELOG.md
  src/Symfony/Component/Intl/Countries.php
  src/Symfony/Component/Intl/Data/Generator/RegionDataGenerator.php
  src/Symfony/Component/Intl/Resources/data/regions/meta.php
  src/Symfony/Component/Intl/Tests/CountriesTest.php
Labels: Feature, Intl, Status: Reviewed

#51168 [Messenger] Add forward compatibily with php-amqp v2
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Status: Reviewed, Messenger

#46828 [HttpKernel] Strip exception file paths from log messages
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ErrorListenerTest.php
Labels: HttpKernel, Status: Reviewed

#51213 [WebProfilerBundle] Fixed CS in Resources/views/Collector/cache.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/cache.html.twig
Labels: WebProfilerBundle, Status: Needs Review

#51216 [Notifier] Document Amazon Notifier options
  src/Symfony/Component/Notifier/Bridge/AmazonSns/README.md
Labels: Status: Reviewed, Notifier

#51217 [Notifier] Document Amazon Notifier SSLMODE option
  src/Symfony/Component/Notifier/Bridge/AmazonSns/README.md
Labels: Status: Reviewed, Notifier

#51219 [DependencyInjection][HttpKernel] Fix using `#[AutowireCallable]` with controller arguments
  src/Symfony/Component/DependencyInjection/Attribute/AutowireCallable.php
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: DependencyInjection, Bug, HttpKernel, Status: Needs Review

#51045 [Form] Use logical ordering for type and extension methods
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Form/AbstractType.php
  src/Symfony/Component/Form/AbstractTypeExtension.php
  src/Symfony/Component/Form/FormTypeExtensionInterface.php
  src/Symfony/Component/Form/FormTypeInterface.php
Labels: Form, DX, Status: Reviewed

#51234 [FrameworkBundle] Remove redundant `interface_exists()` check
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
Labels: FrameworkBundle, Status: Reviewed

#51004 [HttpKernel] Support backed enums in `#[MapQueryParameter]`
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/QueryParameterValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/QueryParameterValueResolverTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#51215 [FrameworkBundle] Enable `json_decode_detailed_errors` in dev by default
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Feature, FrameworkBundle, Status: Reviewed

#51242 [Uid] add additional type information to TimeBaseUuidFactory constructor
  src/Symfony/Component/Uid/Factory/TimeBasedUuidFactory.php
Labels: Status: Reviewed, Uid

#50399 [Security] Add generic to UserProviderInterface
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Component/Ldap/Security/LdapUserProvider.php
  src/Symfony/Component/Security/Core/User/AttributesBasedUserProviderInterface.php
  src/Symfony/Component/Security/Core/User/ChainUserProvider.php
  src/Symfony/Component/Security/Core/User/InMemoryUserProvider.php
  src/Symfony/Component/Security/Core/User/MissingUserProvider.php
  src/Symfony/Component/Security/Core/User/UserProviderInterface.php
Labels: Security, Feature, Status: Reviewed

#51241 [FrameworkBundle] Remove obsolete feature detection from cache warmers
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/SerializerCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ValidatorCacheWarmer.php
Labels: FrameworkBundle, Status: Needs Review

#48485 [Process] Introducing a new `PhpSubprocess` handler
  src/Symfony/Component/Process/CHANGELOG.md
  src/Symfony/Component/Process/PhpSubprocess.php
  src/Symfony/Component/Process/Tests/Fixtures/memory.php
  src/Symfony/Component/Process/Tests/OutputMemoryLimitProcess.php
  src/Symfony/Component/Process/Tests/PhpSubprocessTest.php
Labels: Feature, Process, Status: Needs Work

#51210 [Workflow] Add PHP attributes to register listeners and guards
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Workflow/Attribute/AsAnnounceListener.php
  src/Symfony/Component/Workflow/Attribute/AsCompletedListener.php
  src/Symfony/Component/Workflow/Attribute/AsEnterListener.php
  src/Symfony/Component/Workflow/Attribute/AsEnteredListener.php
  src/Symfony/Component/Workflow/Attribute/AsGuardListener.php
  src/Symfony/Component/Workflow/Attribute/AsLeaveListener.php
  src/Symfony/Component/Workflow/Attribute/AsTransitionListener.php
  src/Symfony/Component/Workflow/Attribute/BuildEventNameTrait.php
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Tests/Attribute/AsListenerTest.php
Labels: Feature, Status: Reviewed, Workflow

#51243 [Scheduler] Add some docs to explain the behavior
  src/Symfony/Component/Scheduler/Trigger/TriggerInterface.php
Labels: Status: Reviewed, Scheduler

#51244 [Scheduler] Add --date to schedule:debug
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
Labels: Feature, Status: Reviewed, Scheduler

#51245 [Scheduler] Only use toString if defined for message
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
Labels: Feature, Status: Reviewed, Scheduler

#51246 [Scheduler] Mark component as non experimental
  src/Symfony/Component/Scheduler/Attribute/AsSchedule.php
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
  src/Symfony/Component/Scheduler/Generator/Checkpoint.php
  src/Symfony/Component/Scheduler/Generator/CheckpointInterface.php
  src/Symfony/Component/Scheduler/Generator/MessageContext.php
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/Generator/MessageGeneratorInterface.php
  src/Symfony/Component/Scheduler/Generator/TriggerHeap.php
  src/Symfony/Component/Scheduler/Messenger/ScheduledStamp.php
  src/Symfony/Component/Scheduler/Messenger/SchedulerTransport.php
  src/Symfony/Component/Scheduler/Messenger/SchedulerTransportFactory.php
  src/Symfony/Component/Scheduler/README.md
  src/Symfony/Component/Scheduler/RecurringMessage.php
  src/Symfony/Component/Scheduler/Schedule.php
  src/Symfony/Component/Scheduler/ScheduleProviderInterface.php
  src/Symfony/Component/Scheduler/Scheduler.php
  src/Symfony/Component/Scheduler/Trigger/CallbackTrigger.php
  src/Symfony/Component/Scheduler/Trigger/CronExpressionTrigger.php
  src/Symfony/Component/Scheduler/Trigger/ExcludeTimeTrigger.php
  src/Symfony/Component/Scheduler/Trigger/PeriodicalTrigger.php
  src/Symfony/Component/Scheduler/Trigger/TriggerInterface.php
Labels: Feature, Status: Reviewed, Scheduler

#51247 [AssetMapper] Mark component as non experimental
  src/Symfony/Component/AssetMapper/AssetDependency.php
  src/Symfony/Component/AssetMapper/AssetMapper.php
  src/Symfony/Component/AssetMapper/AssetMapperCompiler.php
  src/Symfony/Component/AssetMapper/AssetMapperDevServerSubscriber.php
  src/Symfony/Component/AssetMapper/AssetMapperInterface.php
  src/Symfony/Component/AssetMapper/AssetMapperRepository.php
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/Command/AssetMapperCompileCommand.php
  src/Symfony/Component/AssetMapper/Command/DebugAssetMapperCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapExportCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapRemoveCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapRequireCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapUpdateCommand.php
  src/Symfony/Component/AssetMapper/Compiler/AssetCompilerInterface.php
  src/Symfony/Component/AssetMapper/Compiler/AssetCompilerPathResolverTrait.php
  src/Symfony/Component/AssetMapper/Compiler/CssAssetUrlCompiler.php
  src/Symfony/Component/AssetMapper/Compiler/JavaScriptImportPathCompiler.php
  src/Symfony/Component/AssetMapper/Compiler/SourceMappingUrlsCompiler.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapEntry.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapManager.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapRenderer.php
  src/Symfony/Component/AssetMapper/ImportMap/PackageRequireOptions.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JspmResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/PackageResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/PackageResolverInterface.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/ResolvedImportMapPackage.php
  src/Symfony/Component/AssetMapper/MappedAsset.php
  src/Symfony/Component/AssetMapper/MapperAwareAssetPackage.php
  src/Symfony/Component/AssetMapper/README.md
Labels: Feature, Status: Needs Review, AssetMapper

#51248 [Webhook] Mark component as non experimental
  src/Symfony/Component/Webhook/CHANGELOG.md
  src/Symfony/Component/Webhook/Client/AbstractRequestParser.php
  src/Symfony/Component/Webhook/Client/RequestParser.php
  src/Symfony/Component/Webhook/Client/RequestParserInterface.php
  src/Symfony/Component/Webhook/Controller/WebhookController.php
  src/Symfony/Component/Webhook/Exception/ExceptionInterface.php
  src/Symfony/Component/Webhook/Exception/InvalidArgumentException.php
  src/Symfony/Component/Webhook/Exception/LogicException.php
  src/Symfony/Component/Webhook/Exception/RejectWebhookException.php
  src/Symfony/Component/Webhook/Exception/RuntimeException.php
  src/Symfony/Component/Webhook/Messenger/SendWebhookHandler.php
  src/Symfony/Component/Webhook/Messenger/SendWebhookMessage.php
  src/Symfony/Component/Webhook/README.md
  src/Symfony/Component/Webhook/Server/HeaderSignatureConfigurator.php
  src/Symfony/Component/Webhook/Server/HeadersConfigurator.php
  src/Symfony/Component/Webhook/Server/JsonBodyConfigurator.php
  src/Symfony/Component/Webhook/Server/RequestConfiguratorInterface.php
  src/Symfony/Component/Webhook/Server/Transport.php
  src/Symfony/Component/Webhook/Server/TransportInterface.php
  src/Symfony/Component/Webhook/Test/AbstractRequestParserTestCase.php
Labels: Feature, Status: Needs Review, Webhook

#51249 [RemoteEvent] Mark component as non experimental
  src/Symfony/Component/RemoteEvent/Attribute/AsRemoteEventConsumer.php
  src/Symfony/Component/RemoteEvent/CHANGELOG.md
  src/Symfony/Component/RemoteEvent/Consumer/ConsumerInterface.php
  src/Symfony/Component/RemoteEvent/Event/Mailer/AbstractMailerEvent.php
  src/Symfony/Component/RemoteEvent/Event/Mailer/MailerDeliveryEvent.php
  src/Symfony/Component/RemoteEvent/Event/Mailer/MailerEngagementEvent.php
  src/Symfony/Component/RemoteEvent/Event/Sms/SmsEvent.php
  src/Symfony/Component/RemoteEvent/Exception/ExceptionInterface.php
  src/Symfony/Component/RemoteEvent/Exception/InvalidArgumentException.php
  src/Symfony/Component/RemoteEvent/Exception/LogicException.php
  src/Symfony/Component/RemoteEvent/Exception/ParseException.php
  src/Symfony/Component/RemoteEvent/Exception/RuntimeException.php
  src/Symfony/Component/RemoteEvent/Messenger/ConsumeRemoteEventHandler.php
  src/Symfony/Component/RemoteEvent/Messenger/ConsumeRemoteEventMessage.php
  src/Symfony/Component/RemoteEvent/RemoteEvent.php
Labels: Feature, Status: Needs Review, RemoteEvent

#51250 Remove remaining experimental classes
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcUserInfoTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/ServiceTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/TokenHandlerFactoryInterface.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/SignatureAlgorithmFactory.php
  src/Symfony/Component/Security/Core/User/AttributesBasedUserProviderInterface.php
  src/Symfony/Component/Security/Core/User/OidcUser.php
  src/Symfony/Component/Security/Http/AccessToken/Oidc/Exception/InvalidSignatureException.php
  src/Symfony/Component/Security/Http/AccessToken/Oidc/Exception/MissingClaimException.php
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcTokenHandler.php
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcUserInfoTokenHandler.php
Labels: Feature, Status: Needs Review

#51251 [DependencyInjection] Do not add `return` in `LazyClosure` when return type of closure is `void`
  src/Symfony/Component/DependencyInjection/Argument/LazyClosure.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/lazy_closure.php
Labels: DependencyInjection, Bug, Status: Reviewed

#51257 [Scheduler]  fix tests
  src/Symfony/Component/Scheduler/Tests/Command/DebugCommandTest.php
Labels: Status: Needs Review, Scheduler

#51256 [FrameworkBundle] fix minimum required HttpKernel component version
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed

#50502 [RemoteEvent][Webhook] Add Mailjet support
  src/Symfony/Component/Mailer/Bridge/Mailjet/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Mailjet/README.md
  src/Symfony/Component/Mailer/Bridge/Mailjet/RemoteEvent/MailjetPayloadConverter.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/blocked.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/blocked.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/bounce.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/bounce.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/click.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/click.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/open.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/open.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/sent.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/sent.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/spam.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/spam.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/unsub.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/Fixtures/unsub.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Webhook/MailjetRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Webhook/MailjetRequestParser.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/composer.json
Labels: Status: Reviewed, Webhook, RemoteEvent

#51265 [Scheduler] Display friendly dates in debug:schedule
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
Labels: Status: Reviewed, Scheduler

#51264 [RemoteEvent][Webhook] Add Brevo support
  src/Symfony/Component/Mailer/Bridge/Brevo/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Brevo/RemoteEvent/BrevoPayloadConverter.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/BrevoRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/blocked.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/blocked.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/click.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/click.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/complaint.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/complaint.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/defered.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/defered.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/delivered.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/delivered.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/error.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/error.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/hard_bounce.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/hard_bounce.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/invalid_email.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/invalid_email.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/opened.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/opened.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/proxy_open.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/proxy_open.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/request.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/request.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/soft_bounce.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/soft_bounce.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/unique_opened.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/unique_opened.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/unsubscribed.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/unsubscribed.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Webhook/BrevoRequestParser.php
  src/Symfony/Component/Mailer/Bridge/Brevo/composer.json
Labels: Status: Reviewed, Webhook, RemoteEvent

#51240 [MonologBridge][SecurityBundle] Remove calls to `TokenInterface::isAuthenticated()`
  src/Symfony/Bridge/Monolog/Processor/AbstractTokenProcessor.php
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
Labels: SecurityBundle, MonologBridge, Status: Reviewed

#51267 [PsrHttpMessageBridge] Remove HttpFoundation 5.4 compat code
  src/Symfony/Bridge/PsrHttpMessage/Factory/PsrHttpFactory.php
Labels: Status: Reviewed, PsrHttpMessageBridge

#51266 [MonologBridge] Remove Monolog 1 compat from FirePHPHandlerTest
  src/Symfony/Bridge/Monolog/Tests/Handler/FirePHPHandlerTest.php
Labels: MonologBridge, Status: Reviewed

#51269 [Cache] minor cleanup
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Cache/Traits/RelayProxy.php
Labels: Status: Reviewed, Cache

#50951 [FrameworkBundle] Support APP_BUILD_DIR
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#50939 [SecurityBundle] Add `$badges` argument to `Security::login`
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Security.php
Labels: Feature, SecurityBundle, Status: Reviewed

#51263 [Scheduler] Add --all to debug:schedule
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
Labels: Status: Reviewed, Scheduler

#51271 [Scheduler] fix tests
  src/Symfony/Component/Scheduler/Tests/Command/DebugCommandTest.php
Labels: Status: Needs Review, Scheduler

#50306 [DomCrawler][FrameworkBundle] Add `assertAnySelectorText*`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Test/DomCrawlerAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Test/WebTestCaseTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerAnySelectorTextContains.php
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerAnySelectorTextSame.php
  src/Symfony/Component/DomCrawler/Tests/Test/Constraint/CrawlerAnySelectorTextContainsTest.php
  src/Symfony/Component/DomCrawler/Tests/Test/Constraint/CrawlerAnySelectorTextSameTest.php
Labels: Feature, FrameworkBundle, DomCrawler, Status: Reviewed

#51272 [HttpFoundation] fix tests
  src/Symfony/Component/HttpFoundation/Tests/ParameterBagTest.php
Labels: HttpFoundation, Status: Needs Review

#51274 [Scheduler] fix tests
  src/Symfony/Component/Scheduler/Tests/Command/DebugCommandTest.php
Labels: Status: Needs Review, Scheduler

#51278 [Cache] harden LockRegistry tests, consider PHP files only
  src/Symfony/Component/Cache/Tests/LockRegistryTest.php
Labels: Status: Reviewed, Cache

#51279 Add 2 recently missing return types
  .github/expected-missing-return-types.diff
  src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/InMemoryTokenProvider.php
Labels: Status: Needs Review

#51283 [Security] Do not make PasswordUpgraderInterface a generic
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Component/Security/Core/User/PasswordUpgraderInterface.php
Labels: Security, Bug, Status: Reviewed

#51284 [FrameworkBundle][HttpKernel][MonologBridge] Revisit wiring of debug loggers
  .github/expected-missing-return-types.diff
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Logger.php
  src/Symfony/Bridge/Monolog/Tests/Handler/FirePHPHandlerTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/MailerHandlerTest.php
  src/Symfony/Bridge/Monolog/Tests/LoggerTest.php
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddDebugLogProcessorPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/EnableLoggerDebugModePass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorHandler/composer.json
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
  src/Symfony/Component/HttpKernel/DependencyInjection/LoggerPass.php
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
  src/Symfony/Component/HttpKernel/Log/DebugLoggerConfigurator.php
  src/Symfony/Component/HttpKernel/Log/Logger.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/LoggerDataCollectorTest.php
Labels: Feature, HttpKernel, FrameworkBundle, MonologBridge, Status: Needs Review, Deprecation

#51287 Improve upgrade guide 7.0 + remove 6.x guides
  UPGRADE-6.0.md
  UPGRADE-6.1.md
  UPGRADE-6.2.md
  UPGRADE-6.3.md
  UPGRADE-6.4.md
  UPGRADE-7.0.md
Labels: Status: Reviewed

#51285 Add before/after examples to 6.3 UPGRADE guide
  UPGRADE-6.3.md
Labels: Status: Needs Review

#51286 Improve 6.4 UPGRADE guide
  UPGRADE-6.4.md
  UPGRADE-7.0.md
Labels: Status: Reviewed

#51289 [FrameworkBundle][MonologBridge] Remove recently deprecated symbols
  UPGRADE-7.0.md
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Logger.php
  src/Symfony/Bridge/Monolog/Tests/LoggerTest.php
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddDebugLogProcessorPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/EnableLoggerDebugModePass.php
Labels: FrameworkBundle, MonologBridge, Status: Needs Review

#51297 [Process] fix tests
  .github/workflows/unit-tests.yml
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Process, Status: Needs Review

#51288 [Serializer] Make deprecation message more actionable
  src/Symfony/Component/Serializer/Debug/TraceableNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/CustomNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateIntervalNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeZoneNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/JsonSerializableNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/MimeMessageNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ProblemNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
Labels: Serializer, Status: Reviewed

#51299 [PsrHttpMessageBridge] Fix test case
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/PsrHttpFactoryTest.php
Labels: Status: Reviewed, PsrHttpMessageBridge

#51300 [PsrHttpMessageBridge] Don't skip JSON tests
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/PsrHttpFactoryTest.php
Labels: Status: Reviewed, PsrHttpMessageBridge

#51310 [DoctrineBridge] Silence ORM deprecation
  .github/deprecations-baseline.json
  .github/workflows/unit-tests.yml
  src/Symfony/Bridge/Doctrine/Test/DoctrineTestHelper.php
Labels: Status: Needs Review, DoctrineBridge

#51301 [FrameworkBundle] add missing default-doctrine-dbal-provider cache pool attribute to XSD
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, FrameworkBundle, Status: Reviewed

#51304 [FrameworkBundle] [Test] Replace Conditional statements by a simple Null Coalescing Operator ,KernelTestCase::createKernel
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
Labels: FrameworkBundle, Status: Reviewed

#51270 [OptionsResolver] Improve invalid type message on nested option
  src/Symfony/Component/OptionsResolver/CHANGELOG.md
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: Bug, OptionsResolver, Status: Reviewed

#51312 [FrameworkBundle] change default doctrine DBAL provider to XML attribute
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: FrameworkBundle, Status: Reviewed

#51344 Remove me from CODEOWNERS
  .github/CODEOWNERS
Labels: Status: Reviewed

#51328 [Messenger] Always return bool from messenger amqp connection nack
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#51308 Remove unneeded calls to setPublic(false)
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPassTest.php
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/ProxyDumperTest.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/DataCollectorTranslatorPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterCsrfFeaturesPass.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Component/Cache/DependencyInjection/CacheCollectorPass.php
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolClearerPassTest.php
  src/Symfony/Component/Console/Tests/DependencyInjection/AddConsoleCommandPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckDefinitionValidityPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_almost_circular.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_uninitialized_ref.php
  src/Symfony/Component/Form/Tests/DependencyInjection/FormPassTest.php
  src/Symfony/Component/HttpKernel/DependencyInjection/LoggerPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
  src/Symfony/Component/Validator/Tests/DependencyInjection/AddConstraintValidatorsPassTest.php
Labels: Status: Reviewed

#51214 [Workflow] Use TRANSITION_TYPE_WORKFLOW for rendering workflow in profiler
  src/Symfony/Component/Workflow/DataCollector/WorkflowDataCollector.php
  src/Symfony/Component/Workflow/Dumper/MermaidDumper.php
Labels: Status: Reviewed, Workflow

#51315 [Notifier][Webhook] Add Vonage support
  src/Symfony/Component/Notifier/Bridge/Vonage/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Vonage/Tests/Webhook/Fixtures/delivered.json
  src/Symfony/Component/Notifier/Bridge/Vonage/Tests/Webhook/Fixtures/delivered.php
  src/Symfony/Component/Notifier/Bridge/Vonage/Tests/Webhook/Fixtures/rejected.json
  src/Symfony/Component/Notifier/Bridge/Vonage/Tests/Webhook/Fixtures/rejected.php
  src/Symfony/Component/Notifier/Bridge/Vonage/Tests/Webhook/Fixtures/undeliverable.json
  src/Symfony/Component/Notifier/Bridge/Vonage/Tests/Webhook/Fixtures/undeliverable.php
  src/Symfony/Component/Notifier/Bridge/Vonage/Tests/Webhook/VonageRequestParserTest.php
  src/Symfony/Component/Notifier/Bridge/Vonage/Webhook/VonageRequestParser.php
  src/Symfony/Component/Notifier/Bridge/Vonage/composer.json
Labels: Feature, Status: Reviewed, Notifier, Webhook

#51362 [SecurityBundle] Remove unused test files
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/legacy_remember_me_options.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/logout_delete_cookies.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/legacy_remember_me_options.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/logout_delete_cookies.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/legacy_remember_me_options.yml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/logout_delete_cookies.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AbstractTokenCompareRoles/legacy_config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AutowiringTypes/legacy_config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/JsonLogin/legacy_config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/JsonLogin/legacy_custom_handlers.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/SecurityHelper/legacy_config.yml
Labels: SecurityBundle, Status: Reviewed

#51359 [Security] Fix error with lock_factory in login_throttling
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
Labels: Security, Bug, Status: Reviewed

#51358 [Messenger] BatchHandlerTrait - fix phpdoc typo
  src/Symfony/Component/Messenger/Handler/BatchHandlerTrait.php
Labels: Status: Needs Review, Messenger

#51355 [Console] fix section output when multiples section with max height
  src/Symfony/Component/Console/Output/ConsoleSectionOutput.php
  src/Symfony/Component/Console/Tests/Output/ConsoleSectionOutputTest.php
Labels: Bug, Console, Status: Reviewed

#51370 [HttpFoundation] Add a slightly more verbose comment about a warning on UploadedFile
  src/Symfony/Component/HttpFoundation/File/UploadedFile.php
Labels: HttpFoundation, Status: Reviewed

#51376 [Notifier] rename GoIP notifier bridge to GoIp
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/GoIP/GoIpOptions.php
  src/Symfony/Component/Notifier/Bridge/GoIP/GoIpTransport.php
  src/Symfony/Component/Notifier/Bridge/GoIP/GoIpTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/GoIP/Tests/GoIpTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/GoIP/Tests/GoIpTransportTest.php
  src/Symfony/Component/Notifier/Bridge/GoIP/composer.json
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Status: Reviewed, Notifier

#51352 [DependencyInjection] Allow passing an `inline_service` to a `service_locator`
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ServiceLocatorTagPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/services_with_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_service_locator_argument.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_service_locator_argument.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#51307 [DependencyInjection] fix dump xml with array/object/enum default value
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/XmlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/YamlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FooClassWithDefaultArrayAttribute.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FooClassWithDefaultEnumAttribute.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FooClassWithDefaultObjectAttribute.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_default_array.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_default_enumeration.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_default_object.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_default_array.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_default_enumeration.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_default_object.yml
Labels: Bug, Status: Needs Review

#51223 [Console] Fix linewraps in `OutputFormatter`
  src/Symfony/Component/Console/Formatter/OutputFormatter.php
  src/Symfony/Component/Console/Tests/Formatter/OutputFormatterTest.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: Bug, Console, Status: Reviewed

#51345 [AssetMapper] Fixing bug where a circular exception could be thrown while making error message
  src/Symfony/Component/AssetMapper/Compiler/JavaScriptImportPathCompiler.php
  src/Symfony/Component/AssetMapper/Exception/CircularAssetsException.php
  src/Symfony/Component/AssetMapper/Factory/MappedAssetFactory.php
  src/Symfony/Component/AssetMapper/Tests/Compiler/JavaScriptImportPathCompilerTest.php
Labels: Bug, Status: Needs Review, AssetMapper

#51336 [Notifier] [Pushover] Fix invalid method call + improve exception message
  src/Symfony/Component/Notifier/Bridge/Pushover/PushoverTransport.php
Labels: Bug, Status: Needs Review, Notifier

#51377 [Notifier] fix directory casing
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/GoIp/.gitattributes
  src/Symfony/Component/Notifier/Bridge/GoIp/.gitignore
  src/Symfony/Component/Notifier/Bridge/GoIp/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/GoIp/GoIpOptions.php
  src/Symfony/Component/Notifier/Bridge/GoIp/GoIpTransport.php
  src/Symfony/Component/Notifier/Bridge/GoIp/GoIpTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/GoIp/LICENSE
  src/Symfony/Component/Notifier/Bridge/GoIp/README.md
  src/Symfony/Component/Notifier/Bridge/GoIp/Tests/GoIpTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/GoIp/Tests/GoIpTransportTest.php
  src/Symfony/Component/Notifier/Bridge/GoIp/composer.json
  src/Symfony/Component/Notifier/Bridge/GoIp/phpunit.xml.dist
Labels: Status: Needs Review, Notifier

#51385 [Validator]  replace annotations with attributes
  src/Symfony/Component/Validator/Tests/Dummy/DummyClassOne.php
  src/Symfony/Component/Validator/Tests/Dummy/DummyClassTwo.php
Labels: Validator, Status: Needs Review

#51389 [GHA] Disable composer cache-vcs-dir
  .github/composer-config.json
Labels: Status: Needs Review

#51386 [SecurityBundle] remove the deprecated require_previous_session option
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AbstractFactory.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Security/Factory/AbstractFactoryTest.php
Labels: SecurityBundle, Status: Needs Review

#51368 [DomCrawler] Added argument `$default` to method `Crawler::attr()`
  UPGRADE-6.4.md
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTestCase.php
Labels: Feature, DomCrawler, Status: Needs Review

#51378 [Console] avoid multiple new line when message already ends with a new line in section output
  src/Symfony/Component/Console/Output/ConsoleSectionOutput.php
  src/Symfony/Component/Console/Tests/Output/ConsoleSectionOutputTest.php
  src/Symfony/Component/Console/Tests/Style/SymfonyStyleTest.php
Labels: Bug, Console, Status: Reviewed

#51395 Psalm: Ignore UnusedClass errors
  psalm.xml
Labels: Status: Needs Review

#51396 [HttpKernel] Fix missing Request in RequestStack for StreamedResponse
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/HttpKernelTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: Bug, HttpKernel, Status: Reviewed

#51414 Add some missing return types on traits
  .github/expected-missing-return-types.diff
  src/Symfony/Bridge/Monolog/Tests/ClassThatInheritLogger.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizerAwareTrait.php
  src/Symfony/Contracts/Translation/TranslatorTrait.php
Labels: Status: Reviewed

#51413 [Lock] Add some missing return types in tests
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Lock/Tests/Store/AbstractRedisStoreTestCase.php
  src/Symfony/Component/Lock/Tests/Store/BlockingStoreTestTrait.php
  src/Symfony/Component/Lock/Tests/Store/CombinedStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/DoctrineDbalStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/ExpiringStoreTestTrait.php
  src/Symfony/Component/Lock/Tests/Store/MemcachedStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/PdoStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/SharedLockStoreTestTrait.php
  src/Symfony/Component/Lock/Tests/Store/UnserializableTestTrait.php
Labels: Status: Reviewed, Lock

#51412 [Clock] Throw `DateMalformedStringException`/`DateInvalidTimeZoneException` when appropriate
  composer.json
  src/Symfony/Component/Clock/CHANGELOG.md
  src/Symfony/Component/Clock/Clock.php
  src/Symfony/Component/Clock/MockClock.php
  src/Symfony/Component/Clock/MonotonicClock.php
  src/Symfony/Component/Clock/NativeClock.php
  src/Symfony/Component/Clock/Tests/MockClockTest.php
  src/Symfony/Component/Clock/composer.json
Labels: Feature, Status: Reviewed, Clock

#51406 [VarExporter] Remove unused test files
  src/Symfony/Component/VarExporter/Tests/Fixtures/array-iterator-legacy.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/array-object-custom-legacy.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/array-object-legacy.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/final-array-iterator-legacy.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/final-error-legacy.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/spl-object-storage-legacy.php
Labels: Status: Needs Review

#51404 [DependencyInjection] Remove unused test file
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/legacy_invalid_alias_definition.yml
Labels: DependencyInjection, Status: Needs Review

#51418 [FrameworkBundle][Validator] Replace annotation by attribute
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Validation/SubCategory.php
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/ChildA.php
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/ChildB.php
Labels: Validator, FrameworkBundle, Status: Reviewed

#51419 [Validator] Add annotation in Constraint
  src/Symfony/Component/Validator/Constraint.php
Labels: Validator, Bug, Status: Reviewed

#51327 [FrameworkBundle] Add `AbstractController::renderBlock()` and `renderBlockView()`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#51424 [HttpFoundation] Fix base URI detection on IIS with UrlRewriteModule
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Status: Needs Review

#51433 [Form] use `never` return type in form events
  src/Symfony/Component/Form/Event/PostSetDataEvent.php
  src/Symfony/Component/Form/Event/PostSubmitEvent.php
Labels: Form, Status: Reviewed

#51436 [Translation] add @welcomattic as codeowner
  .github/CODEOWNERS
Labels: Translation, Status: Reviewed

#51365 [Clock] Add $modifier argument to the now() helper
  src/Symfony/Component/Clock/CHANGELOG.md
  src/Symfony/Component/Clock/Resources/now.php
  src/Symfony/Component/Clock/Tests/ClockTest.php
Labels: Feature, Status: Reviewed, Clock

#51438 [FrameworkBundle] Deprecate not setting both `framework.session.save_path` and `framework.session.handler_id` at the same time
  UPGRADE-6.4.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: FrameworkBundle, Status: Needs Review, Deprecation

#51457 [HttpKernel] Fix checking for the runtime mode in DebugLoggerConfigurator
  src/Symfony/Component/HttpKernel/Log/DebugLoggerConfigurator.php
Labels: Bug, HttpKernel, Status: Reviewed

#51434 [Security] [Throttling] Hide username and client ip in logs
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
  src/Symfony/Component/Security/Http/RateLimiter/DefaultLoginRateLimiter.php
  src/Symfony/Component/Security/Http/Tests/EventListener/LoginThrottlingListenerTest.php
Labels: Security, Bug, Feature, Status: Reviewed

#51462 [FrameworkBundle] Improve deprecation for handler_id/save_path config options
  UPGRADE-6.4.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: FrameworkBundle, Status: Needs Review

#51445 [Security] FormLoginAuthenticator: fail for non-string password
  src/Symfony/Component/Security/Http/Authenticator/FormLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/FormLoginAuthenticatorTest.php
Labels: Security, Bug, Status: Reviewed

#51456 [Serializer] Fix serialized name with groups during denormalization
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
  src/Symfony/Component/Serializer/Tests/NameConverter/MetadataAwareNameConverterTest.php
Labels: Serializer, Bug, Status: Needs Review

#51369 [Serializer] Fix deserializing object collection properties
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/FooDummyInterface.php
  src/Symfony/Component/Serializer/Tests/Fixtures/FooImplementationDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/FooInterfaceDummyDenormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/ObjectCollectionPropertyDummy.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#51428 [FrameworkBundle] Remove config deprecations
  UPGRADE-7.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: FrameworkBundle, Status: Needs Review

#51454 [Validator] Un-deprecate passing an annotation reader to AnnotationLoader
  UPGRADE-6.4.md
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Validator/Tests/Constraints/WhenTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AnnotationLoaderWithHybridAnnotationsTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AnnotationLoaderWithLegacyAnnotationsTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AttributeLoaderTest.php
Labels: Validator, Feature, Status: Reviewed

#51466 [HtmlSanitizer] Allow league/uri v7
  composer.json
  src/Symfony/Component/HtmlSanitizer/composer.json
Labels: Feature, Status: Needs Review, HtmlSanitizer

#51455 [FrameworkBundle][Validator] Remove remaining deprecations
  UPGRADE-7.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Callback.php
  src/Symfony/Component/Validator/Constraints/When.php
  src/Symfony/Component/Validator/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/AttributeLoader.php
  src/Symfony/Component/Validator/Tests/ConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CallbackValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CountValidatorTestCase.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthTest.php
  src/Symfony/Component/Validator/Tests/Constraints/WhenTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AttributeLoaderTest.php
  src/Symfony/Component/Validator/Tests/ValidatorBuilderTest.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Validator, FrameworkBundle, Status: Needs Work

#51337 [AssetMapper] Improve the error message when a downloaded file is missing
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapManager.php
Labels: Status: Reviewed, AssetMapper

#51473 [VarDumper] Fix managing collapse state in CliDumper
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Tests/Caster/MysqliCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
Labels: Bug, VarDumper, Status: Reviewed

#51477 [FrameworkBundle] Remove compat code
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: FrameworkBundle, Status: Reviewed

#51104 [Security] Fix loading user from UserBadge
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AccessTokenTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_custom_user_loader.yml
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcTokenHandler.php
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcUserInfoTokenHandler.php
  src/Symfony/Component/Security/Http/Authenticator/AccessTokenAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/FallbackUserLoader.php
  src/Symfony/Component/Security/Http/Tests/AccessToken/Oidc/OidcTokenHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/AccessToken/Oidc/OidcUserInfoTokenHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/AccessTokenAuthenticatorTest.php
Labels: Security, Bug, Status: Reviewed

#51350 [Security] Prevent creating session in stateless firewalls
  src/Symfony/Component/Security/Http/Authentication/DefaultAuthenticationFailureHandler.php
  src/Symfony/Component/Security/Http/Authentication/DefaultAuthenticationSuccessHandler.php
  src/Symfony/Component/Security/Http/Tests/Authentication/DefaultAuthenticationFailureHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/DefaultAuthenticationSuccessHandlerTest.php
Labels: Security, Bug, Status: Reviewed

#51494 Fixed attachment base64 content string in MailerSendApiTransport
  src/Symfony/Component/Mailer/Bridge/MailerSend/Transport/MailerSendApiTransport.php
Labels: Bug, Status: Reviewed

#51474 [Serializer] Fix wrong InvalidArgumentException thrown
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Serializer, Bug, Status: Reviewed

#51475 [Serializer] Fix union of enum denormalization
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#51495 Release v5.4.28
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51496 Release v6.3.4
  CHANGELOG-6.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51511 [PasswordHasher] Avoid passing `null` to `hash_pbkdf2()`
  src/Symfony/Component/PasswordHasher/Hasher/Pbkdf2PasswordHasher.php
Labels: Bug, Status: Needs Review, PasswordHasher

#51500 Remove `getUsername` methods in tests
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/BaseUser.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/User.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Component/PasswordHasher/Tests/Fixtures/TestLegacyPasswordAuthenticatedUser.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/PasswordHasherFactoryTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/AuthenticationTrustResolverTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/Fixtures/CustomUser.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
  src/Symfony/Component/Security/Http/Tests/LoginLink/LoginLinkHandlerTest.php
Labels: Status: Reviewed

#51484 [Workflow] deprecate `GuardEvent::getContext` method
  UPGRADE-6.4.md
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Event/GuardEvent.php
Labels: Status: Reviewed, Deprecation, Workflow

#51498 Update phpdoc to not reference removed classes
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AbstractFactory.php
  src/Symfony/Component/Security/Http/Authentication/AuthenticationFailureHandlerInterface.php
  src/Symfony/Component/Security/Http/Firewall/LogoutListener.php
Labels: Status: Reviewed

#51499 [Security] Remove `isAuthenticated` and `setAuthenticated` token methods in tests
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
Labels: Security, Status: Reviewed

#51450 [Mailer] [Smtp] Add DSN param `peer_fingerprint` for fingerprint verification
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/EsmtpTransportFactoryTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransportFactory.php
Labels: Feature, Status: Reviewed, Mailer

#51471 [AssetMapper] Improve message when a downloaded asset is not found
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapManager.php
Labels: Status: Reviewed, AssetMapper

#51486 Update the list of sponsors for Symfony 6.4 🙏
  README.md
  src/Symfony/Bundle/FrameworkBundle/README.md
  src/Symfony/Component/Console/README.md
  src/Symfony/Component/Messenger/README.md
  src/Symfony/Component/Notifier/README.md
  src/Symfony/Component/Security/Core/README.md
  src/Symfony/Component/Security/Csrf/README.md
  src/Symfony/Component/Security/Http/README.md
  src/Symfony/Component/Translation/Bridge/Crowdin/README.md
  src/Symfony/Component/Translation/README.md
  src/Symfony/Component/Workflow/README.md
Labels: Status: Reviewed

#50705 [Mailer][Webhook] Add Sendgrid webhook support
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_webhook.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Sendgrid/README.md
  src/Symfony/Component/Mailer/Bridge/Sendgrid/RemoteEvent/SendgridPayloadConverter.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/Fixtures/webhook.json
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/Fixtures/webhook.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/SendgridMissingSignedRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/SendgridSignedRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/SendgridUnsignedRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/SendgridWrongSecretRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/SendgridWrongSignatureRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Webhook/SendgridRequestParser.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/composer.json
Labels: Feature, Status: Reviewed, Mailer, Webhook

#51493 Remove `GuardEvent::getContext()` method and add `HasContextTrait` trait
  UPGRADE-7.0.md
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Event/AnnounceEvent.php
  src/Symfony/Component/Workflow/Event/CompletedEvent.php
  src/Symfony/Component/Workflow/Event/EnterEvent.php
  src/Symfony/Component/Workflow/Event/EnteredEvent.php
  src/Symfony/Component/Workflow/Event/Event.php
  src/Symfony/Component/Workflow/Event/HasContextTrait.php
  src/Symfony/Component/Workflow/Event/LeaveEvent.php
  src/Symfony/Component/Workflow/Event/TransitionEvent.php
Labels: Status: Reviewed
