Repository symfony/symfony, pull requests merged in 2023-12, with the labels that each got.

#52845 [Routing] Restore aliases removal in RouteCollection::remove()
  src/Symfony/Component/Routing/RouteCollection.php
  src/Symfony/Component/Routing/Tests/RouteCollectionTest.php
Labels: Bug, Routing, Status: Reviewed

#52813 remove duplicated service definition
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services14.xml
Labels: Status: Needs Review

#52804 [Serializer] Fix support of plain object types denormalization
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#52852 [Serializer] Fix TranslatableNormalizer when the Translator is disabled
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/serializer_without_translator.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/serializer_without_translator.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/serializer_without_translator.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: Serializer, Bug, Status: Reviewed

#52814 [Workflow] Add `getEnabledTransition()` to TraceableWorkflow
  src/Symfony/Component/Workflow/Debug/TraceableWorkflow.php
  src/Symfony/Component/Workflow/Tests/Debug/TraceableWorkflowTest.php
  src/Symfony/Component/Workflow/composer.json
Labels: Bug, Status: Reviewed, Workflow

#52857 Release v5.4.33
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#52858 Release v6.3.10
  CHANGELOG-6.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#52859 Release v6.4.1
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#52864 [HttpClient][Mailer][Process] always pass microseconds to usleep as integers
  src/Symfony/Component/HttpClient/Response/AsyncContext.php
  src/Symfony/Component/HttpClient/Response/TransportResponseTrait.php
  src/Symfony/Component/Mailer/Transport/AbstractTransport.php
  src/Symfony/Component/Process/Pipes/WindowsPipes.php
Labels: Bug, Process, Status: Reviewed, HttpClient, Mailer

#52867 [Validator] Only trigger deprecation when Validator annotations are used
  src/Symfony/Component/Validator/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AnnotationLoaderWithHybridAnnotationsTest.php
Labels: Validator, Bug, Status: Reviewed

#52868 [Translation] fix tests on Windows
  src/Symfony/Component/Translation/Tests/Writer/TranslationWriterTest.php
Labels: Translation, Status: Reviewed

#52493 [HttpFoundation] Add `UploadedFile::getClientOriginalPath()` to support directory uploads
  src/Symfony/Component/Form/NativeRequestHandler.php
  src/Symfony/Component/Form/Tests/NativeRequestHandlerTest.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/File/UploadedFile.php
  src/Symfony/Component/HttpFoundation/FileBag.php
  src/Symfony/Component/HttpFoundation/Tests/File/Fixtures/webkitdirectory/nested/test.txt
  src/Symfony/Component/HttpFoundation/Tests/File/Fixtures/webkitdirectory/test.txt
  src/Symfony/Component/HttpFoundation/Tests/File/UploadedFileTest.php
  src/Symfony/Component/HttpFoundation/Tests/FileBagTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#52411 [Messenger] Add `--all` option to `messenger:consume`
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
Labels: Feature, Status: Reviewed, Messenger

#52795 [FrameworkBundle]  do not overwrite an application's default serialization context
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Serializer/CircularReferenceHandler.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Serializer/MaxDepthHandler.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Serializer/config.yml
Labels: Bug, FrameworkBundle, Status: Reviewed

#52897 [Messenger] Fix timing-out test on `messenger:consume` with `--all` option
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
Labels: Bug, Status: Reviewed, Messenger

#52942 Refactor hyper check location
  src/Symfony/Component/Console/Output/StreamOutput.php
Labels: Status: Reviewed

#52941 [Console] Fix xterm detection
  src/Symfony/Component/Console/Output/StreamOutput.php
Labels: Bug, Console, Status: Reviewed

#52935 [Validator] Missing translations for Slovak (sk) #51954
  src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf
Labels: Validator, Bug, Status: Reviewed

#52927 [Dotenv] Properly handle `SYMFONY_DOTENV_VARS` being the empty string
  src/Symfony/Component/Dotenv/Command/DebugCommand.php
  src/Symfony/Component/Dotenv/Tests/Command/DebugCommandTest.php
Labels: Bug, Status: Reviewed, Dotenv

#52923 Avoid incompatibility with symfony/console 7
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, Status: Reviewed

#52896 [Messenger] Avoid reconnecting active Redis connections.
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#52915 [Messenger] Fix missing `@throws` phpdoc on MiddlewareInterface, MessageBusInterface and SenderInterface
  src/Symfony/Component/Messenger/MessageBusInterface.php
  src/Symfony/Component/Messenger/Middleware/MiddlewareInterface.php
  src/Symfony/Component/Messenger/Transport/Sender/SenderInterface.php
Labels: Bug, Status: Needs Review, Messenger

#52879 [PropertyAccess][Serializer] Fix "type unknown" on denormalize
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/PropertyAccess/Exception/InvalidTypeException.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Bug, PropertyAccess, Status: Reviewed

#52940 [Console] Fix color support check on non-Windows platforms
  src/Symfony/Component/Console/Output/StreamOutput.php
Labels: Bug, Console, Status: Reviewed

#52916 [Mailer] Dispatch event for Postmark's "inactive recipient" API error
  src/Symfony/Component/Mailer/Bridge/Postmark/Event/PostmarkDeliveryEvent.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Event/PostmarkDeliveryEventFactory.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Event/PostmarkEvents.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Event/PostmarkDeliveryEventFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Transport/PostmarkApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkApiTransport.php
  src/Symfony/Component/Mailer/CHANGELOG.md
Labels: Feature, Status: Reviewed, Mailer

#52946 [HttpClient] Add HttpOptions->addHeader as a shortcut to add an header in an existing options object
  src/Symfony/Component/HttpClient/HttpOptions.php
  src/Symfony/Component/HttpClient/Tests/HttpOptionsTest.php
Labels: Feature, Status: Reviewed, HttpClient

#52937 [WebProfilerBundle] Fix "Copy as cURL"
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar_js.html.twig
Labels: Bug, WebProfilerBundle, Status: Needs Review, Hack Day

#52842 [Mailer] Add Azure bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Mailer/Bridge/Azure/.gitattributes
  src/Symfony/Component/Mailer/Bridge/Azure/.gitignore
  src/Symfony/Component/Mailer/Bridge/Azure/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Azure/LICENSE
  src/Symfony/Component/Mailer/Bridge/Azure/README.md
  src/Symfony/Component/Mailer/Bridge/Azure/Tests/Transport/AzureApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Azure/Tests/Transport/AzureTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Azure/Transport/AzureApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Azure/Transport/AzureTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Azure/composer.json
  src/Symfony/Component/Mailer/Bridge/Azure/phpunit.xml.dist
  src/Symfony/Component/Mailer/Transport.php
Labels: Feature, Status: Reviewed, Mailer

#52966 [FrameworkBundle] Fix profiling command in web context
  src/Symfony/Bundle/FrameworkBundle/EventListener/ConsoleProfilerListener.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/profiling.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#52963 [FrameworkBundle] Fix profiling commands without router
  src/Symfony/Bundle/FrameworkBundle/EventListener/ConsoleProfilerListener.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/profiling.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#52965 [Mailer] Stop using the (local) AWS shared configuration in PHPUnit
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesApiAsyncAwsTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesHttpAsyncAwsTransportTest.php
Labels: Bug, Status: Reviewed, Hack Day, Mailer

#52964 [ExpressionLanguage] Fix null coalescing propagation
  src/Symfony/Component/ExpressionLanguage/Node/NullCoalesceNode.php
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
Labels: Bug, ExpressionLanguage, Status: Reviewed, Hack Day

#39438 [Form] Errors Property Paths mismatch CollectionType children when removing an entry
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/EventListener/ResizeFormListener.php
  src/Symfony/Component/Form/Extension/Core/Type/CollectionType.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/FormTypeValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Fixtures/Organization.php
Labels: Form, Feature, Status: Reviewed

#52959 [String] Skip a test when an issue is detected in PCRE2
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
Labels: Bug, Status: Reviewed, Hack Day, String

#52584 [WebProfilerBundle] Fix intercept external redirects
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar_redirect.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#52961 [Security][SecurityBundle] Add `#[IsCsrfTokenValid]` attribute
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterCsrfFeaturesPass.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/Attribute/IsCsrfTokenValid.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/EventListener/IsCsrfTokenValidAttributeListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/IsCsrfTokenValidAttributeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/IsCsrfTokenValidAttributeController.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/IsCsrfTokenValidAttributeMethodsController.php
Labels: Security, SecurityBundle, Status: Reviewed, Hack Day

#52968 [VarDumper] Test intl formatter broken since dumper does not replace the nnbsp character by standard space
  src/Symfony/Component/VarDumper/Tests/Caster/IntlCasterTest.php
Labels: VarDumper, Status: Reviewed

#52978 [Webhook] [Framework] Added missing XML attribute in config XSD
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, Status: Reviewed, Webhook

#52982 [HttpKernel] fix tests
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
Labels: HttpKernel, Status: Needs Review

#52983 [Messenger] Fix Redis integration tests data provider
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisExtIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#52984 [FrameworkBundle] fix registering the Azure transport factory service
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
  src/Symfony/Component/Mailer/Bridge/Azure/.gitignore
Labels: Bug, FrameworkBundle, Status: Needs Review

#52979 [WebProfilerBundle] Fix "Copy as cURL" dark style
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, WebProfilerBundle, Status: Needs Review

#52971 [Messenger] Make `#[AsMessageHandler]` final
  UPGRADE-7.1.md
  src/Symfony/Component/Messenger/Attribute/AsMessageHandler.php
  src/Symfony/Component/Messenger/CHANGELOG.md
Labels: Status: Reviewed, Deprecation, Hack Day, Messenger

#52999 [Notifier] [Clickatell] Fixed minor typo
  src/Symfony/Component/Notifier/Bridge/Clickatell/ClickatellTransport.php
Labels: Status: Reviewed, Notifier

#52996 [Validator] add missing translation
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
Labels: Validator, Bug, Status: Reviewed

#53007 [FrameworkBundle] Fix webhook parser service removal and add notifier parser service removal
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#53004 [FrameworkBundle] Add missing webhook parsers
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_webhook.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#52991 [Messenger] Add missing Redis cleanup in tests
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisExtIntegrationTest.php
Labels: Status: Reviewed, Messenger

#52992 [Serializer] Make sure Serializer::denormalize() shows what exception it throws
  src/Symfony/Component/Serializer/Serializer.php
Labels: Serializer, Status: Reviewed

#52974 [Cache] Deprecate `CouchbaseBucketAdapter`, use `CouchbaseCollectionAdapter`
  UPGRADE-7.1.md
  src/Symfony/Component/Cache/Adapter/CouchbaseBucketAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Tests/Adapter/CouchbaseBucketAdapterTest.php
Labels: Status: Reviewed, Cache, Deprecation

#52962 [FrameworkBundle] Move Router cache directory to `kernel.build_dir`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/RouterCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/RouterCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#52775 [HttpClient] Allow mocking `start_time` info in `MockResponse`
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: Feature, Status: Reviewed, HttpClient

#52990 [TwigBridge] don't use deprecated and internal Twig functions
  src/Symfony/Bridge/Twig/Node/SearchAndRenderBlockNode.php
  src/Symfony/Bridge/Twig/Tests/Node/SearchAndRenderBlockNodeTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Twig/WebProfilerExtensionTest.php
  src/Symfony/Bundle/WebProfilerBundle/Twig/WebProfilerExtension.php
Labels: Status: Reviewed, TwigBridge

#53083 [Notifier] Add Bluesky notifier bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Bluesky/.gitignore
  src/Symfony/Component/Notifier/Bridge/Bluesky/BlueskyTransport.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/BlueskyTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Bluesky/LICENSE
  src/Symfony/Component/Notifier/Bridge/Bluesky/README.md
  src/Symfony/Component/Notifier/Bridge/Bluesky/Tests/BlueskyTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/Tests/BlueskyTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/composer.json
  src/Symfony/Component/Notifier/Bridge/Bluesky/phpunit.xml.dist
Labels: Feature, Status: Reviewed, Notifier

#53069 Add missing FR translation
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
Labels: Status: Reviewed

#53066 [Validator] add missing Turkish translation and correct grammar
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
Labels: Validator, Status: Reviewed

#53084 Add missing spanish translation
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
Labels: Status: Reviewed

#53082 [Validator] Update Hungarian translations
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
Labels: Validator, Status: Reviewed

#53031 [Validator] Added missing dutch translation
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
Labels: Validator, Status: Reviewed

#53052 [Validator] add missing lv translation
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
Labels: Validator, Bug, Status: Reviewed

#53053 Add missing translation into validators.pl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Bug, Status: Reviewed

#53062 Missing translations for Ukrainian (uk) #53050
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
Labels: Bug, Status: Reviewed

#53065 [Validator] Add missing Croation translation
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
Labels: Validator, Status: Reviewed

#53078 [Validator] ro_RO translation trans-unit id 110
  src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf
Labels: Validator, Status: Reviewed

#53101 [Validator] Add missing translations for Vietnamese (vi)
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
Labels: Validator, Status: Reviewed

#53095 [Validator] Add missing translation for Russia (ru)
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
Labels: Validator, Status: Reviewed

#53100 [Validator] Add missing translation for Japanese (ja)
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
Labels: Validator, Status: Reviewed

#53099 [Validator] Add missing translation for Greek (el)
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
Labels: Validator, Status: Reviewed

#53092 [Notifier] Add Unifonic notifier bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Unifonic/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Unifonic/.gitignore
  src/Symfony/Component/Notifier/Bridge/Unifonic/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Unifonic/LICENSE
  src/Symfony/Component/Notifier/Bridge/Unifonic/README.md
  src/Symfony/Component/Notifier/Bridge/Unifonic/Tests/UnifonicTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Unifonic/Tests/UnifonicTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Unifonic/UnifonicTransport.php
  src/Symfony/Component/Notifier/Bridge/Unifonic/UnifonicTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Unifonic/composer.json
  src/Symfony/Component/Notifier/Bridge/Unifonic/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
Labels: Feature, Status: Reviewed, Notifier

#53102 Add missing translations for Indonesian (id)
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
Labels: Bug, Status: Reviewed

#53093 [Validator] add missing Azerbaijani translation
  src/Symfony/Component/Validator/Resources/translations/validators.az.xlf
Labels: Validator, Status: Reviewed

#52989 allow Twig 4
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/VarDumper/composer.json
Labels: Feature, Status: Reviewed

#52970 [HttpClient] Add `JsonMockResponse::fromFile()` and `MockResponse::fromFile()` shortcuts
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Response/JsonMockResponse.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Tests/Response/Fixtures/invalid_json.json
  src/Symfony/Component/HttpClient/Tests/Response/Fixtures/response.json
  src/Symfony/Component/HttpClient/Tests/Response/Fixtures/response.txt
  src/Symfony/Component/HttpClient/Tests/Response/JsonMockResponseTest.php
  src/Symfony/Component/HttpClient/Tests/Response/MockResponseTest.php
Labels: Feature, Status: Reviewed, Hack Day, HttpClient

#53057 [HttpKernel] Move `@internal` from `AbstractSessionListener` class to its methods and properties
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
Labels: Bug, HttpKernel, Status: Reviewed

#52948 Use faster hashing algorithms when possible
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationDefaultDomainNodeVisitor.php
  src/Symfony/Bundle/FrameworkBundle/EventListener/ConsoleProfilerListener.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTestCase.php
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolPassTest.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/LazyServiceDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/lazy_autowire_attribute.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/lazy_autowire_attribute_with_intersection.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_dedup_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_duplicates.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_ghost.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_public.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither_lazy_non_shared.php
  src/Symfony/Component/DomCrawler/Field/FileFormField.php
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/Session/Storage/MockArraySessionStorage.php
  src/Symfony/Component/HttpKernel/Debug/TraceableEventDispatcher.php
  src/Symfony/Component/HttpKernel/Profiler/Profiler.php
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/PhraseProviderTest.php
  src/Symfony/Component/Translation/Dumper/XliffFileDumper.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPullCommandTest.php
  src/Symfony/Component/Translation/Tests/Fixtures/resources-2.0+intl-icu.xlf
  src/Symfony/Component/Translation/Tests/Fixtures/resources-2.0-clean.xlf
  src/Symfony/Component/Translation/Tests/Fixtures/resources-clean.xlf
  src/Symfony/Component/Translation/Tests/Fixtures/resources-clean.xliff
  src/Symfony/Component/Translation/Tests/Fixtures/resources-notes-meta.xlf
  src/Symfony/Component/Translation/Tests/Fixtures/resources-target-attributes.xlf
  src/Symfony/Component/Translation/Tests/Fixtures/resources-tool-info.xlf
  src/Symfony/Component/Translation/Translator.php
Labels: Feature, Status: Needs Review, Hack Day, Performance

#52891 [HttpKernel] Fix request attribute value ignored with pinned resolvers
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolverTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#53113 [Validator] update Italian translation
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Validator, Status: Reviewed

#53112 [HttpKernel] Fix ArgumentResolverTest
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolverTest.php
Labels: Bug, HttpKernel, Status: Needs Review

#53114 [Serializer] Move dummy to fixtures folder
  src/Symfony/Component/Serializer/Tests/Fixtures/Php80Dummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Status: Reviewed

#53118 [Notifier] add Bluesky to the `UnsupportedSchemeException`
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
Labels: Bug, Status: Reviewed, Notifier

#53127 [FrameworkBundle][SecurityBundle][Translation] fix tests
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTestCase.php
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/PhraseProviderTest.php
Labels: Translation, Status: Needs Review

#53124 [Cache] Fix CI failing tests
  src/Symfony/Component/Cache/Tests/Adapter/CouchbaseCollectionAdapterTest.php
  src/Symfony/Component/Cache/composer.json
Labels: Bug, Status: Needs Review, Cache

#53125 [Mailer] add the MailPace transport to the UnsupportedSchemeException
  src/Symfony/Component/Mailer/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Mailer/Tests/Exception/UnsupportedSchemeExceptionTest.php
Labels: Bug, Status: Needs Review, Mailer

#53120 [Translation] add the Phrase translation provider to the UnsupportedSchemeException
  src/Symfony/Component/Translation/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Translation/Tests/Exception/UnsupportedSchemeExceptionTest.php
Labels: Bug, Translation, Status: Reviewed

#53110 [Mime] Update .gitattributes
  src/Symfony/Component/Mime/.gitattributes
Labels: Status: Needs Review, Mime

#53129 [Intl] [Tests] Use static data providers
  src/Symfony/Component/Intl/Tests/ResourceBundleTestCase.php
Labels: Intl, Status: Reviewed

#53119 Code updates
  .github/get-modified-packages.php
  src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/SecurityBundle/Security/FirewallMap.php
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Filesystem/Path.php
  src/Symfony/Component/Form/Console/Descriptor/Descriptor.php
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Util/OrderedHashMapIterator.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpFoundation/Cookie.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Mime/CharacterStream.php
  src/Symfony/Component/Notifier/Bridge/Ntfy/NtfyOptions.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/Security/Core/Authorization/Voter/RoleVoter.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/HttpUtils.php
  src/Symfony/Component/Security/Http/Session/SessionAuthenticationStrategy.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Validator/Constraints/UniqueValidator.php
  src/Symfony/Component/VarDumper/Dumper/AbstractDumper.php
  src/Symfony/Component/Yaml/Dumper.php
  src/Symfony/Component/Yaml/Escaper.php
Labels: Status: Reviewed

#53128 Change ProxyCacheWarmer::warmUp signature
  UPGRADE-6.4.md
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/CacheWarmer/ProxyCacheWarmer.php
Labels: Bug, Status: Reviewed

#53123 [VarDumper] Added default message for dd function
  src/Symfony/Component/VarDumper/Resources/functions/dump.php
Labels: Feature, VarDumper, Status: Reviewed

#53115 [Serializer] Fix partial denormalization with missing constructor arguments
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Php80WithOptionalConstructorParameter.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#53061 [Mailer] [Mailjet] Disable tls for mailjet as it should use STARTTLS
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetSmtpTransport.php
Labels: Bug, Status: Needs Review, Mailer

#53135 fix tests
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
Labels: Status: Reviewed

#53134 remove unneeded @requires PHP from tests
  src/Symfony/Component/DependencyInjection/Tests/Dumper/YamlDumperTest.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
  src/Symfony/Component/Validator/Tests/Constraints/WhenTest.php
Labels: Status: Reviewed

#53142 [CI] Use stable version of psalm
  .github/workflows/psalm.yml
Labels: Status: Reviewed

#53141 [CI] Show exit code when job fails
  .github/workflows/unit-tests.yml
Labels: Status: Reviewed

#53079 [DoctrineBridge] Add check for lazy object interface
  src/Symfony/Bridge/Doctrine/ManagerRegistry.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#53143 [Notifier] Mention `postAt()` in the Slack bridge README
  src/Symfony/Component/Notifier/Bridge/Slack/README.md
Labels: Status: Reviewed, Notifier

#53091 [FrameworkBundle][RateLimiter] add `rate_limiter` tag to rate limiter services
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/PhpFrameworkExtensionTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed, RateLimiter

#53111 [Intl] Update .gitattributes
  src/Symfony/Component/Intl/.gitattributes
Labels: Intl, Status: Reviewed

#53003 [AssetMapper] Fix URL pattern when importing es-module-shims
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#52817 [Serializer] Do not instantiate object if it is not instantiable
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#53149 Add missing translation for Uzbek (uz)
  src/Symfony/Component/Validator/Resources/translations/validators.uz.xlf
Labels: Status: Reviewed

#52998 [Notifier] [Bridges] Provide EventDispatcher and HttpClient to the transport
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/FakeChatTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/FakeSms/FakeSmsTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Mercure/MercureTransportFactory.php
Labels: Bug, Status: Reviewed, Notifier

#52954 [Validator] Add `list` and `associative_array` types to `Type` constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/TypeValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/TypeValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#53150 [Contracts] Allow psr/container 1.1 again
  src/Symfony/Contracts/Service/composer.json
Labels: Status: Reviewed, Contracts

#53153 [WebProfilerBundle] Fix JS error when evaluating scripts
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#53156 [FrameworkBundle] don't fail when optional dependencies are not present
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#53166 [Workflow] Fix test
  src/Symfony/Component/Workflow/Tests/Validator/StateMachineValidatorTest.php
Labels: Status: Reviewed, Workflow

#53173 [FrameworkBundle] add missing webhook services for Brevo and Mailjet
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_webhook.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#53168 [Validator] Updated Portuguese translation
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
Labels: Validator, Status: Reviewed

#53169 [Validator] Updated Macedonian translation
  src/Symfony/Component/Validator/Resources/translations/validators.mk.xlf
Labels: Validator, Status: Reviewed

#53176 Fix and add test
  src/Symfony/Component/Validator/Tests/Constraints/CssColorValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTestCase.php
Labels: Status: Reviewed

#53182 [Serializer] fix tests
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
Labels: Serializer, Status: Needs Review

#52881 [DoctrineBridge] Global query time always at 0.00 ms on profiler
  src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php
  src/Symfony/Bridge/Doctrine/Tests/DataCollector/DoctrineDataCollectorTest.php
  src/Symfony/Bridge/Doctrine/Tests/DataCollector/DoctrineDataCollectorTestTrait.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#53185 Fix expected return type file
  .github/expected-missing-return-types.diff
Labels: Bug, Status: Reviewed

#53172 [SecurityBundle] Prevent to login/logout without a request context
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/SecurityTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#53196 [Validator] Add missing italian translation
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Validator, Status: Reviewed, Missing translations

#53190 [Process] Suppress warnings from `is_executable`
  src/Symfony/Component/Process/ExecutableFinder.php
Labels: Bug, Process, Status: Reviewed

#53201 [Security] Reduce log level in case of UserNotFoundException in ContextListener
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
Labels: Security, Status: Reviewed

#53133 [Validator] Fix using known option names as field names
  src/Symfony/Component/Validator/Constraints/Collection.php
  src/Symfony/Component/Validator/Tests/Constraints/CollectionTest.php
Labels: Validator, Bug, Status: Reviewed

#53187 [Messenger] Fix using negative delay
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#53180 [Validator] updated Albanian translation
  src/Symfony/Component/Validator/Resources/translations/validators.sq.xlf
Labels: Validator, Status: Reviewed, Missing translations

#53148 [Notifier] Add Smsbox notifier bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Smsbox/.gitignore
  src/Symfony/Component/Notifier/Bridge/Smsbox/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Smsbox/LICENSE
  src/Symfony/Component/Notifier/Bridge/Smsbox/README.md
  src/Symfony/Component/Notifier/Bridge/Smsbox/SmsboxOptions.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/SmsboxTransport.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/SmsboxTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/Tests/SmsboxOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/Tests/SmsboxTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/Tests/SmsboxTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/composer.json
  src/Symfony/Component/Notifier/Bridge/Smsbox/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#53210 [Notifier] fix return type
  src/Symfony/Component/Notifier/Bridge/Smsbox/SmsboxOptions.php
Labels: Status: Reviewed, Notifier

#53208 [Validator] Add missing arabic translation
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
Labels: Validator, Status: Needs Review

#53197 [Validator] Add missing Serbian translation
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
Labels: Validator, Status: Reviewed, Missing translations

#53200 Added missing Serbian (sr_Cyrl) translation
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf
Labels: Status: Needs Review

#53184 [DoctrineBridge] Adapt deprecation message to include ODM bundle attribute name
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPass.php
  src/Symfony/Bridge/Doctrine/Tests/ContainerAwareEventManagerTest.php
Labels: Status: Needs Review, DoctrineBridge

#53181 [Clock] Fix calling `mockTime()` in `setUpBeforeClass()`
  src/Symfony/Component/Clock/Test/ClockSensitiveTrait.php
  src/Symfony/Component/Clock/Tests/ClockBeforeClassTest.php
Labels: Bug, Status: Needs Review, Clock

#53211 [Notifier] Rework the Smsbox bridge
  src/Symfony/Component/Notifier/Bridge/Smsbox/Enum/Charset.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/Enum/Day.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/Enum/Encoding.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/Enum/Mode.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/Enum/Strategy.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/Enum/Udh.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/README.md
  src/Symfony/Component/Notifier/Bridge/Smsbox/SmsboxOptions.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/SmsboxTransport.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/SmsboxTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/Tests/SmsboxOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/Tests/SmsboxTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/composer.json
Labels: Bug, Status: Reviewed, Notifier

#53178 [Translation][Crowdin] Use project language mapping
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProvider.php
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderTest.php
Labels: Bug, Translation, Status: Needs Review

#53060 [Uid] Add `UuidV1::toV6()`, `UuidV1::toV7()` and `UuidV6::toV7()`
  src/Symfony/Component/Uid/BinaryUtil.php
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/UuidV1.php
  src/Symfony/Component/Uid/UuidV6.php
Labels: Feature, Status: Reviewed, Uid

#53203 [Intl] [Emoji] Fix emoji files (remove wrong characters / add missing data)
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-ar_sa.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-de_ch.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-en_001.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-en_au.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-en_ca.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-en_gb.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-en_in.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-es_419.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-es_mx.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-es_us.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-fr_ca.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-ha_ne.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-hi_latn.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-nn.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-pa_arab.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-pt_pt.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-qu.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-sr_cyrl.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-sr_cyrl_ba.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-sr_latn_ba.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-sw_ke.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-yo_bj.php
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/emoji-zh_hant_hk.php
  src/Symfony/Component/Intl/Resources/emoji/build.php
Labels: Bug, Intl, Status: Needs Review

#53223 [Messenger] consistently use dates in UTC in Doctrine connection tests
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineIntegrationTest.php
Labels: Status: Needs Review

#53212 [HttpKernel] Add `HttpException::fromStatusCode()`
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
  src/Symfony/Component/HttpKernel/Exception/HttpException.php
  src/Symfony/Component/HttpKernel/Tests/Exception/HttpExceptionTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#53191 [HttpKernel] Allow `#[WithHttpStatus]` and `#[WithLogLevel]` to take effect on interfaces
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ErrorListenerTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#53218 [HttpClient] rename `addHeader()` to `setHeader()`
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttpOptions.php
  src/Symfony/Component/HttpClient/Tests/HttpOptionsTest.php
Labels: Status: Reviewed, HttpClient

#52869 [AssetMapper] Improve link generation script
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapRenderer.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapRendererTest.php
Labels: Status: Reviewed, AssetMapper

#53215 [VarExporter] Nitpicking in README.md
  src/Symfony/Component/VarExporter/README.md
Labels: Status: Reviewed, VarExporter

#53225 [WebProfilerBundle] Fix the design of the compact toolbar button
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig
Labels: Bug, WebProfilerBundle, Status: Needs Review

#53154 [Validator] Add the `Charset` constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Charset.php
  src/Symfony/Component/Validator/Constraints/CharsetValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/CharsetTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CharsetValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#53227 [Translation] relax assertion
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderTest.php
Labels: Translation, Status: Needs Review

#53231 Fix typo
  src/Symfony/Component/HttpFoundation/RequestMatcher.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatTransport.php
Labels: Bug, Status: Reviewed

#53246 [EventDispatcher] Fix Typo
  src/Symfony/Component/EventDispatcher/GenericEvent.php
Labels: Bug, EventDispatcher, Status: Reviewed

#53240 [Translation] [Bridges] Use CPP
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProvider.php
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Loco/LocoProvider.php
  src/Symfony/Component/Translation/Bridge/Loco/LocoProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Lokalise/LokaliseProvider.php
  src/Symfony/Component/Translation/Bridge/Lokalise/LokaliseProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Phrase/PhraseProvider.php
  src/Symfony/Component/Translation/Bridge/Phrase/PhraseProviderFactory.php
  src/Symfony/Component/Translation/Util/ArrayConverter.php
Labels: Translation, Status: Reviewed

#53252 [PsrHttpMessageBridge] Fix links in composer.json
  src/Symfony/Bridge/PsrHttpMessage/composer.json
Labels: Status: Reviewed, PsrHttpMessageBridge

#53245 [ExpressionLanguage] Fix typo
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/SerializedParsedExpression.php
  src/Symfony/Component/ExpressionLanguage/Token.php
Labels: Bug, ExpressionLanguage, Status: Reviewed

#53238 Remove `#StandWithUkraine`
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
Labels: Bug, Status: Reviewed

#53247 Fix typo
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTestCase.php
  src/Symfony/Component/CssSelector/Tests/XPath/TranslatorTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerTest.php
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/ErrorHandler/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorEnhancer/ClassNotFoundErrorEnhancerTest.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorEnhancer/UndefinedFunctionErrorEnhancerTest.php
  src/Symfony/Component/HttpFoundation/Tests/HeaderBagTest.php
  src/Symfony/Component/Uid/AbstractUid.php
Labels: Status: Needs Review

#53232 [Notifier] [Smsc] Require login and password
  src/Symfony/Component/Notifier/Bridge/Smsc/SmscTransport.php
Labels: Bug, Status: Reviewed, Notifier
