Repository symfony/symfony, pull requests merged in 2023-03, with the labels that each got.

#49546 [TwigBridge] Fix TwigDataCollector::getTime() return type
  src/Symfony/Bridge/Twig/DataCollector/TwigDataCollector.php
Labels: Bug, Status: Reviewed, TwigBridge

#49541 [Security] Remove `@internal` tag on `TraceableAuthenticator::getAuthenticator()`
  src/Symfony/Component/Security/Http/Authenticator/Debug/TraceableAuthenticator.php
Labels: Security, Bug, Status: Reviewed

#49580 [HttpClient] Fix encoding "+" in URLs
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
Labels: Bug, Status: Reviewed, HttpClient

#49529 [Console] Add support for managing exit code while handling signals
  .github/expected-missing-return-types.diff
  UPGRADE-6.3.md
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/SignalableCommandInterface.php
  src/Symfony/Component/Console/Event/ConsoleSignalEvent.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/ConsoleEventsTest.php
  src/Symfony/Component/Console/Tests/Fixtures/application_signalable.php
  src/Symfony/Component/Console/Tests/SignalRegistry/SignalRegistryTest.php
  src/Symfony/Component/Console/Tests/phpt/signal/command_exit.phpt
Labels: Bug, Feature, Console, Status: Reviewed, Deprecation

#49599 [HttpFoundation][HttpKernel] Add missing void PHPdoc return types
  .github/expected-missing-return-types.diff
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Bundle/TwigBundle/Tests/Functional/EmptyAppTest.php
  src/Symfony/Bundle/TwigBundle/Tests/Functional/NoTemplatingEntryTest.php
  src/Symfony/Component/HttpFoundation/Session/Attribute/AttributeBagInterface.php
  src/Symfony/Component/HttpFoundation/Session/Flash/FlashBagInterface.php
  src/Symfony/Component/HttpFoundation/Session/SessionBagInterface.php
  src/Symfony/Component/HttpFoundation/Session/SessionInterface.php
  src/Symfony/Component/HttpFoundation/Session/Storage/SessionStorageInterface.php
  src/Symfony/Component/HttpKernel/CacheClearer/CacheClearerInterface.php
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategyInterface.php
  src/Symfony/Component/HttpKernel/HttpCache/StoreInterface.php
  src/Symfony/Component/HttpKernel/HttpCache/SurrogateInterface.php
  src/Symfony/Component/HttpKernel/KernelInterface.php
  src/Symfony/Component/HttpKernel/Log/DebugLoggerInterface.php
  src/Symfony/Component/HttpKernel/Profiler/ProfilerStorageInterface.php
  src/Symfony/Component/HttpKernel/RebootableInterface.php
  src/Symfony/Component/HttpKernel/TerminableInterface.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/ConfigDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/Logger.php
Labels: HttpFoundation, HttpKernel, Status: Reviewed

#49610 [DoctrineBridge] deprecate doctrine schema subscribers in favor of listeners
  UPGRADE-6.3.md
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/SchemaListener/AbstractSchemaListener.php
  src/Symfony/Bridge/Doctrine/SchemaListener/DoctrineDbalCacheAdapterSchemaListener.php
  src/Symfony/Bridge/Doctrine/SchemaListener/DoctrineDbalCacheAdapterSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/LockStoreSchemaListener.php
  src/Symfony/Bridge/Doctrine/SchemaListener/MessengerTransportDoctrineSchemaListener.php
  src/Symfony/Bridge/Doctrine/SchemaListener/MessengerTransportDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/SchemaListener/PdoSessionHandlerSchemaListener.php
  src/Symfony/Bridge/Doctrine/SchemaListener/RememberMeTokenProviderDoctrineSchemaListener.php
  src/Symfony/Bridge/Doctrine/SchemaListener/RememberMeTokenProviderDoctrineSchemaSubscriber.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/DoctrineDbalCacheAdapterSchemaSubscriberTest.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/MessengerTransportDoctrineSchemaSubscriberTest.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/PdoSessionHandlerSchemaListenerTest.php
Labels: Bug, Ready, Status: Reviewed, Deprecation, DoctrineBridge

#49602 [TwigBridge] Fix flagged malicious url
  src/Symfony/Bridge/Twig/Resources/views/Email/zurb_2/main.css
Labels: Status: Reviewed, TwigBridge

#49548 [Messenger] Fix `TransportNamesStamp` deserialization
  src/Symfony/Component/Messenger/Stamp/TransportNamesStamp.php
  src/Symfony/Component/Messenger/Tests/Stamp/TransportNamesStampTest.php
Labels: Bug, Status: Needs Review, Messenger

#48992 [HttpKernel] Introduce pinnable value resolvers with `#[ValueResolver]` and `#[AsPinnedValueResolver]`
  src/Symfony/Bridge/Doctrine/Attribute/MapEntity.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Component/HttpKernel/Attribute/AsPinnedValueResolver.php
  src/Symfony/Component/HttpKernel/Attribute/MapDateTime.php
  src/Symfony/Component/HttpKernel/Attribute/ValueResolver.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver.php
  src/Symfony/Component/HttpKernel/DependencyInjection/ControllerArgumentValueResolverPass.php
  src/Symfony/Component/HttpKernel/Exception/ResolverNotFoundException.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolverTest.php
  src/Symfony/Component/Security/Http/Attribute/CurrentUser.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Feature, HttpKernel, Ready, Status: Reviewed

#49623 [Translation] Decouple TranslatorPathsPass from "debug." convention
  src/Symfony/Component/EventDispatcher/DependencyInjection/RegisterListenersPass.php
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPathsPass.php
Labels: Translation, Status: Needs Review

#49609 [Translation] Wrap call to \Locale::setDefault from LocaleSwitcher in a class_exists call
  src/Symfony/Component/Translation/LocaleSwitcher.php
Labels: Bug, Translation, Status: Reviewed

#49626 [GHA] use stubs instead of extensions for psalm job
  .github/workflows/integration-tests.yml
  .github/workflows/psalm.yml
Labels: Status: Needs Review

#49625 [DependencyInjection] Keep track of decorated ids
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Component/DependencyInjection/Compiler/DecoratorServicePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/DecoratorServicePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/anonymous.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/child.expected.yml
Labels: DependencyInjection, Feature, Status: Needs Review

#49636 [HttpKernel] Renamed "pinned" to "targeted" for value resolvers
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
  src/Symfony/Component/HttpKernel/Attribute/AsTargetedValueResolver.php
  src/Symfony/Component/HttpKernel/Attribute/ValueResolver.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver.php
  src/Symfony/Component/HttpKernel/DependencyInjection/ControllerArgumentValueResolverPass.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolverTest.php
Labels: HttpKernel, Status: Reviewed

#49624 [Tests] Replace `setMethods()` by `onlyMethods()` and `addMethods()`
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/ORMQueryBuilderLoaderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Logger/DbalLoggerTest.php
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/ConsoleHandlerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/AnnotationsCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/RouterCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/KernelBrowserTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/RouterTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/EventListener/VoteListenerTest.php
  src/Symfony/Component/Cache/Tests/Adapter/ChainAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/MaxIdLengthAdapterTest.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/MergeExtensionConfigurationPassTest.php
  src/Symfony/Component/DomCrawler/Tests/FormTest.php
  src/Symfony/Component/Form/Test/Traits/ValidatorExtensionTrait.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MemcachedSessionHandlerTest.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/LoggerDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/Debug/TraceableEventDispatcherTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/LocaleListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/EsiTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/SsiTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpKernelBrowserTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpKernelTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/HttpKernel/Tests/Profiler/ProfilerTest.php
  src/Symfony/Component/Process/Tests/ProcessFailedExceptionTest.php
  src/Symfony/Component/Routing/Tests/Loader/ObjectLoaderTest.php
  src/Symfony/Component/Routing/Tests/Matcher/CompiledRedirectableUrlMatcherTest.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/CompiledUrlMatcherDumperTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/AuthenticationProviderManagerTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/AnonymousAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/DaoAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/PreAuthenticatedAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/RememberMeAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/UserAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/Storage/UsageTrackingTokenStorageTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/TraceableAccessDecisionManagerTest.php
  src/Symfony/Component/Security/Guard/Tests/GuardAuthenticatorHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/DefaultAuthenticationFailureHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/CheckCredentialsListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
  src/Symfony/Contracts/Tests/Cache/CacheTraitTest.php
Labels: Status: Reviewed

#49628 [DependencyInjection] Add support for autowiring services as closures using attributes
  src/Symfony/Component/DependencyInjection/Attribute/Autowire.php
  src/Symfony/Component/DependencyInjection/Attribute/AutowireCallable.php
  src/Symfony/Component/DependencyInjection/Attribute/AutowireServiceClosure.php
  src/Symfony/Component/DependencyInjection/Attribute/TaggedIterator.php
  src/Symfony/Component/DependencyInjection/Attribute/TaggedLocator.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/autowire_closure.php
Labels: DependencyInjection, Feature, Status: Reviewed

#49649 [Dotenv] Improve `Dotenv::usePutenv` phpdoc
  src/Symfony/Component/Dotenv/Dotenv.php
Labels: Status: Needs Review, Dotenv

#49621 [Tests] Remove occurrences of `withConsecutive()`
  src/Symfony/Bridge/Twig/Tests/Extension/StopwatchExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/ApplicationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Translation/TranslatorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/CacheWarmer/ExpressionCacheWarmerTest.php
  src/Symfony/Component/Cache/Tests/Adapter/MaxIdLengthAdapterTest.php
  src/Symfony/Component/DependencyInjection/Tests/Config/ContainerParametersResourceCheckerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/StrictSessionHandlerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/DebugHandlersListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/LocaleAwareListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/Intl/Tests/Data/Bundle/Reader/BundleEntryReaderTest.php
  src/Symfony/Component/Ldap/Tests/Security/CheckLdapCredentialsListenerTest.php
  src/Symfony/Component/Lock/Tests/Store/DoctrineDbalStoreTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRemoveCommandTest.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRetryCommandTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/DispatchAfterCurrentBusMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/TraceableMiddlewareTest.php
  src/Symfony/Component/Messenger/Tests/Transport/Serialization/SerializerTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Notifier/Tests/Event/FailedMessageEventTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorCollectionTestCase.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/LdapBindAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AccessDecisionManagerTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/DefaultAuthenticationFailureHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
  src/Symfony/Component/Security/Http/Tests/LoginLink/LoginLinkHandlerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ArrayDenormalizerTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Bridge/Lokalise/Tests/LokaliseProviderTest.php
Labels: Status: Needs Review

#49604 [Mailer] STDOUT blocks infinitely under Windows when STDERR is filled
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/ProcessStream.php
Labels: Bug, Status: Needs Review, Mailer

#49650 [Security] Add missing void PHPdoc return types
  .github/expected-missing-return-types.diff
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/User.php
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/ORMQueryBuilderLoaderTest.php
  src/Symfony/Bundle/SecurityBundle/Debug/WrappedLazyListener.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Compiler/SortFirewallListenersPassTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/RememberMeBundle/Security/StaticTokenProvider.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/TokenProviderInterface.php
  src/Symfony/Component/Security/Core/Authentication/Token/NullToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/Storage/TokenStorageInterface.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
  src/Symfony/Component/Security/Core/Tests/Authentication/AuthenticationTrustResolverTest.php
  src/Symfony/Component/Security/Core/User/UserCheckerInterface.php
  src/Symfony/Component/Security/Core/User/UserInterface.php
  src/Symfony/Component/Security/Csrf/TokenStorage/ClearableTokenStorageInterface.php
  src/Symfony/Component/Security/Csrf/TokenStorage/TokenStorageInterface.php
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
  src/Symfony/Component/Security/Http/Firewall/FirewallListenerInterface.php
  src/Symfony/Component/Security/Http/Session/SessionAuthenticationStrategyInterface.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
Labels: Security, Status: Reviewed

#49655 [Messenger] Fix `evaluate()` calls in `WorkerTest`
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
Labels: Bug, Status: Needs Review, Messenger

#49539 [Messenger] make StopWorkerOnSignalsListener listen by default on SIGTERM and SIGINT
  UPGRADE-6.3.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnSignalsListener.php
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnSigtermSignalListener.php
Labels: Feature, Ready, Status: Reviewed, Deprecation, Messenger

#49291 [Serializer] Add methods `getSupportedTypes` to allow better performance
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Messenger/Transport/Serialization/Normalizer/FlattenExceptionNormalizer.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Debug/TraceableNormalizer.php
  src/Symfony/Component/Serializer/Debug/TraceableSerializer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/Normalizer/BackedEnumNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/CacheableSupportsMethodInterface.php
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/CustomNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateIntervalNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeZoneNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/FormErrorNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/JsonSerializableNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/MimeMessageNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ProblemNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/UnwrappingDenormalizer.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableSerializerTest.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
  src/Symfony/Component/Serializer/Tests/Fixtures/AbstractNormalizerDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/EnvelopeNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/EnvelopedMessageNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/UpcomingDenormalizerInterface.php
  src/Symfony/Component/Serializer/Tests/Fixtures/UpcomingNormalizerInterface.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ArrayDenormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/TestDenormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/TestNormalizer.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Feature, Ready, Status: Reviewed, Deprecation

#49596 [Validator] Add the `exclude` option to the `Cascade` constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Cascade.php
  src/Symfony/Component/Validator/Mapping/ClassMetadata.php
  src/Symfony/Component/Validator/Tests/Mapping/ClassMetadataTest.php
Labels: Validator, Feature, Ready, Status: Reviewed

#49306 [Security] Add logout configuration for Clear-Site-Data header
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/schema/security-1.0.xsd
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_listeners.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTestCase.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/logout_clear_site_data.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/logout_clear_site_data.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/logout_clear_site_data.yml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
  src/Symfony/Component/Security/Http/EventListener/ClearSiteDataLogoutListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/ClearSiteDataLogoutListenerTest.php
Labels: Security, Feature, Ready, Status: Reviewed

#48990 [DependencyInjection] deprecate the `@required` annotation
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowireRequiredMethodsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/AutowireRequiredPropertiesPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowireRequiredMethodsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowireRequiredPropertiesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveBindingsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/WitherAnnotationStaticReturnType.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/WitherStaticReturnType.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_74.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither_annotation.php
Labels: DependencyInjection, Feature, Status: Needs Review, Deprecation

#49662 [Tests] Remove `withConsecutive()` calls from tests
  src/Symfony/Bridge/Twig/Tests/EventListener/TemplateAttributeListenerTest.php
  src/Symfony/Component/Ldap/Tests/Security/CheckLdapCredentialsListenerTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderWithoutTranslatorBagTest.php
Labels: Status: Needs Review

#49663 [Tests] Remove `withConsecutive()` calls from tests
  src/Symfony/Component/HttpKernel/Tests/Debug/ErrorHandlerConfiguratorTest.php
Labels: Status: Needs Review

#49669 [DomCrawler] Improve html5Parser tests
  src/Symfony/Component/DomCrawler/Tests/Html5ParserCrawlerTest.php
Labels: DomCrawler, Status: Needs Work

#48128 [HttpFoundation] Add support for the 103 status code (Early Hints) and other 1XX statuses
  UPGRADE-6.3.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web_link.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
  src/Symfony/Component/HttpFoundation/Tests/StreamedResponseTest.php
  src/Symfony/Component/WebLink/EventListener/AddLinkHeaderListener.php
Labels: Feature, HttpFoundation, Status: Reviewed, Deprecation

#49673 [VarDumper] Fixed dumping of CutStub
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
Labels: Bug, VarDumper, Status: Reviewed

#49674 [FrameworkBundle] Rename limiter’s `strategy` to `policy` in XSD
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/rate_limiter.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/XmlFrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#49657 [HttpKernel] Change limit argument from string to integer for Profiler
  src/Symfony/Component/HttpKernel/Profiler/Profiler.php
Labels: Bug, HttpKernel, Status: Reviewed

#49667 [Form] Improve exception for unsubmitted form
  src/Symfony/Component/Form/Form.php
Labels: Form, Status: Reviewed

#49620 [ErrorHander] Display exception properties in the HTML error page
  src/Symfony/Component/ErrorHandler/CHANGELOG.md
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorHandler/Exception/FlattenException.php
  src/Symfony/Component/ErrorHandler/Resources/assets/css/exception.css
  src/Symfony/Component/ErrorHandler/Resources/views/exception.html.php
  src/Symfony/Component/ErrorHandler/Resources/views/traces.html.php
Labels: Feature, Status: Reviewed

#49684 [DependencyInjection] Use weak references in ContainerBuilder
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: DependencyInjection, Status: Needs Review

#49696 Fix DI logic when mailer is available but webhook is not
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, Status: Needs Review

#49691 [FrameworkBundle] Add scoped httplug clients and deprecate httplugs use like psr18 client
  UPGRADE-6.3.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client.php
Labels: Feature, FrameworkBundle, Status: Needs Review, Deprecation

#49694 [Validator] Add PHPDoc void return types
  .github/expected-missing-return-types.diff
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php
  src/Symfony/Component/Validator/ConstraintValidatorInterface.php
  src/Symfony/Component/Validator/ConstraintViolationListInterface.php
  src/Symfony/Component/Validator/Constraints/NoSuspiciousCharactersValidator.php
  src/Symfony/Component/Validator/Context/ExecutionContextInterface.php
  src/Symfony/Component/Validator/ObjectInitializerInterface.php
  src/Symfony/Component/Validator/Tests/ConstraintValidatorTest.php
  src/Symfony/Component/Validator/Tests/Fixtures/DummyConstraintValidator.php
  src/Symfony/Component/Validator/Tests/Fixtures/FailingConstraintValidator.php
  src/Symfony/Component/Validator/Tests/Test/ConstraintValidatorTestCaseTest.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilderInterface.php
Labels: Validator, Status: Needs Review

#49676 [Config] Improve performance of GlobResource
  src/Symfony/Component/Config/Resource/GlobResource.php
  src/Symfony/Component/Config/Tests/Resource/GlobResourceTest.php
Labels: Config, Status: Needs Review, Performance

#49707 [ErrorHandler] Fixed tests
  src/Symfony/Component/ErrorHandler/Tests/Exception/FlattenExceptionTest.php
Labels: Status: Needs Review, ErrorHandler

#47112 [Messenger] Add a scheduler component
  composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/scheduler.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_schedule.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_schedule.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_transports.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Messenger/DummySchedule.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SchedulerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Scheduler/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Scheduler/config.yml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Messenger/Transport/Receiver/ReceiverInterface.php
  src/Symfony/Component/Scheduler/.gitattributes
  src/Symfony/Component/Scheduler/.gitignore
  src/Symfony/Component/Scheduler/Attribute/AsSchedule.php
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/DependencyInjection/AddScheduleMessengerPass.php
  src/Symfony/Component/Scheduler/Exception/ExceptionInterface.php
  src/Symfony/Component/Scheduler/Exception/InvalidArgumentException.php
  src/Symfony/Component/Scheduler/Exception/LogicException.php
  src/Symfony/Component/Scheduler/Generator/Checkpoint.php
  src/Symfony/Component/Scheduler/Generator/CheckpointInterface.php
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/Generator/MessageGeneratorInterface.php
  src/Symfony/Component/Scheduler/Generator/TriggerHeap.php
  src/Symfony/Component/Scheduler/LICENSE
  src/Symfony/Component/Scheduler/Messenger/ScheduledStamp.php
  src/Symfony/Component/Scheduler/Messenger/SchedulerTransport.php
  src/Symfony/Component/Scheduler/Messenger/SchedulerTransportFactory.php
  src/Symfony/Component/Scheduler/README.md
  src/Symfony/Component/Scheduler/RecurringMessage.php
  src/Symfony/Component/Scheduler/Schedule.php
  src/Symfony/Component/Scheduler/ScheduleProviderInterface.php
  src/Symfony/Component/Scheduler/Tests/Generator/CheckpointTest.php
  src/Symfony/Component/Scheduler/Tests/Generator/MessageGeneratorTest.php
  src/Symfony/Component/Scheduler/Tests/Messenger/SchedulerTransportFactoryTest.php
  src/Symfony/Component/Scheduler/Tests/Messenger/SchedulerTransportTest.php
  src/Symfony/Component/Scheduler/Tests/Trigger/ExcludeTimeTriggerTest.php
  src/Symfony/Component/Scheduler/Tests/Trigger/PeriodicalTriggerTest.php
  src/Symfony/Component/Scheduler/Trigger/CallbackTrigger.php
  src/Symfony/Component/Scheduler/Trigger/CronExpressionTrigger.php
  src/Symfony/Component/Scheduler/Trigger/ExcludeTimeTrigger.php
  src/Symfony/Component/Scheduler/Trigger/PeriodicalTrigger.php
  src/Symfony/Component/Scheduler/Trigger/TriggerInterface.php
  src/Symfony/Component/Scheduler/composer.json
  src/Symfony/Component/Scheduler/phpunit.xml.dist
Labels: Feature, RFC, Status: Reviewed, Messenger

#49715 [FrameworkBundle] explicitly set the HTTP method override option to false
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/rate_limiter.xml
Labels: FrameworkBundle, Status: Needs Review

#49717 [Scheduler] Remove unused variable in AddScheduleMessengerPass
  src/Symfony/Component/Scheduler/DependencyInjection/AddScheduleMessengerPass.php
Labels: Bug, Status: Reviewed

#49695 [Notifier] Add "retry" and "expire" options to Pushover bridge
  src/Symfony/Component/Notifier/Bridge/Pushover/PushoverOptions.php
Labels: Bug, Status: Needs Review

#49716 [Scheduler] Fix some minor bugs
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/Generator/MessageGeneratorInterface.php
  src/Symfony/Component/Scheduler/RecurringMessage.php
Labels: Bug, Status: Needs Review

#49697 [Validator] Update BIC validator IBAN mappings
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/BicValidatorTest.php
Labels: Validator, Bug, Status: Needs Review

#49681 [String] Correct inflection of 'codes' and 'names'
  src/Symfony/Component/String/Inflector/EnglishInflector.php
  src/Symfony/Component/String/Tests/Inflector/EnglishInflectorTest.php
Labels: Bug, Status: Reviewed, String

#49720 [Serializer] GetSetMethodNormalizer::supportss should not check ignored methods
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#49714 [Validator] add translations for the filename max length validator option
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
Labels: Validator, Status: Needs Review

#49690 [WebProfilerBundle] replace helper with _self in serializer.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/serializer.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#49722 [HttpClient] Encode and decode curly brackets {}
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
Labels: Bug, Status: Needs Review, HttpClient

#49728 [Serializer] skip test using attributes on PHP 7
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/ClassWithIgnoreAttribute.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
Labels: Serializer, Status: Needs Review

#49727 [Serializer] re-allow phpdocumentor/type-resolver 1.7
  composer.json
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Status: Needs Review

#49725 [Messenger] Add support for the DelayStamp in InMemoryTransport
  src/Symfony/Component/Messenger/Tests/Transport/InMemory/InMemoryTransportTest.php
  src/Symfony/Component/Messenger/Transport/InMemory/InMemoryTransport.php
Labels: Feature, Status: Reviewed, Messenger

#49729 [Scheduler] Add a simple Scheduler class for when the component is used standalone
  src/Symfony/Component/Scheduler/Scheduler.php
Labels: Feature, Status: Reviewed

#49731 [FrameworkBundle] Fix registration of the Scheduler component
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Scheduler/Schedule.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#48525 [HttpFoundation] Add `ParameterBag::getString()` and deprecate accepting invalid values
  UPGRADE-6.3.md
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/InputBag.php
  src/Symfony/Component/HttpFoundation/ParameterBag.php
  src/Symfony/Component/HttpFoundation/Tests/InputBagTest.php
  src/Symfony/Component/HttpFoundation/Tests/ParameterBagTest.php
Labels: Feature, HttpFoundation, Ready, Status: Reviewed, Deprecation

#49740 [Scheduler] Rename argument name for more consistency
  src/Symfony/Component/Scheduler/Tests/Trigger/PeriodicalTriggerTest.php
  src/Symfony/Component/Scheduler/Trigger/ExcludeTimeTrigger.php
  src/Symfony/Component/Scheduler/Trigger/PeriodicalTrigger.php
Labels: Bug, Status: Reviewed

#49639 [DependencyInjection] Add support for generating lazy closures
  src/Symfony/Component/DependencyInjection/Argument/LazyClosure.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/lazy_closure.php
Labels: DependencyInjection, Ready, Status: Reviewed

#47793 [WebLink] Add relations defined in RFC 8631
  src/Symfony/Component/WebLink/Link.php
Labels: Status: Reviewed, WebLink

#49737 [FrameworkBundle] fix tests
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_disabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_disabled.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_disabled.yml
Labels: FrameworkBundle, Status: Needs Review

#49730 [Messenger] Add Clock support in Worker
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Worker.php
  src/Symfony/Component/Messenger/composer.json
Labels: Feature, Status: Reviewed, Messenger

#49685 [DependencyInjection] Add support for `#[Autowire(lazy: true)]`
  src/Symfony/Component/DependencyInjection/Attribute/Autowire.php
  src/Symfony/Component/DependencyInjection/Attribute/AutowireCallable.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/autowire_closure.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/lazy_autowire_attribute.php
Labels: DependencyInjection, Feature, Ready, Status: Reviewed

#49742 [Webhook] Add readonly modifier where this possible
  src/Symfony/Component/Webhook/Controller/WebhookController.php
  src/Symfony/Component/Webhook/Server/HeaderSignatureConfigurator.php
  src/Symfony/Component/Webhook/Server/HeadersConfigurator.php
  src/Symfony/Component/Webhook/Subscriber.php
Labels: Feature, Status: Needs Review, Webhook

#49739 [Scheduler] Add DateIntervalTrigger and DatePeriodTrigger
  src/Symfony/Component/Scheduler/RecurringMessage.php
  src/Symfony/Component/Scheduler/Tests/Trigger/AbstractTriggerTest.php
  src/Symfony/Component/Scheduler/Tests/Trigger/DateIntervalTriggerTest.php
  src/Symfony/Component/Scheduler/Tests/Trigger/DatePeriodTriggerTest.php
  src/Symfony/Component/Scheduler/Tests/Trigger/PeriodicalTriggerTest.php
  src/Symfony/Component/Scheduler/Trigger/DateIntervalTrigger.php
  src/Symfony/Component/Scheduler/Trigger/DatePeriodTrigger.php
  src/Symfony/Component/Scheduler/Trigger/PeriodicalTrigger.php
Labels: Feature, Status: Reviewed

#49743 [RemoteEvent] Add readonly modifier where this possible
  src/Symfony/Component/RemoteEvent/Messenger/ConsumeRemoteEventMessage.php
  src/Symfony/Component/RemoteEvent/RemoteEvent.php
Labels: Feature, Status: Needs Review, RemoteEvent

#49721 [Security] Add argument `$exceptionCode` to `#[IsGranted]`
  src/Symfony/Component/Security/Core/Exception/AccessDeniedException.php
  src/Symfony/Component/Security/Http/Attribute/IsGranted.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/EventListener/IsGrantedAttributeListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/IsGrantedAttributeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/IsGrantedAttributeMethodsController.php
Labels: Security, Feature, Status: Needs Review

#49734 [Messenger] Add a way to redispatch a message
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Handler/RedispatchMessageHandler.php
  src/Symfony/Component/Messenger/Message/RedispatchMessage.php
Labels: Feature, Status: Reviewed, Messenger

#49702 [FrameworkBundle] Make StopWorkerOnSignalsListener configurable via messenger's config
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#49746 [ErrorHandler] Rewrite logic to dump exception properties and fix serializing FlattenException
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorHandler/Exception/FlattenException.php
  src/Symfony/Component/ErrorHandler/Resources/views/traces.html.php
  src/Symfony/Component/ErrorHandler/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/HttpKernel/DataCollector/ExceptionDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/ExceptionDataCollectorTest.php
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
Labels: Bug, Status: Needs Review, ErrorHandler

#49617 [CssSelector] Add support for :scope
  src/Symfony/Component/CssSelector/CHANGELOG.md
  src/Symfony/Component/CssSelector/Exception/SyntaxErrorException.php
  src/Symfony/Component/CssSelector/Parser/Parser.php
  src/Symfony/Component/CssSelector/Tests/Parser/ParserTest.php
  src/Symfony/Component/CssSelector/Tests/XPath/TranslatorTest.php
  src/Symfony/Component/CssSelector/XPath/Extension/PseudoClassExtension.php
Labels: CssSelector, Status: Reviewed

#49747 [FrameworkBundle]  fix tests
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier_without_messenger.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/notifier_without_messenger.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/notifier_without_messenger.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: FrameworkBundle, Status: Needs Review

#49758 [HttpFoundation] Use separate caches for IpUtils checkIp4 and checkIp6
  src/Symfony/Component/HttpFoundation/IpUtils.php
  src/Symfony/Component/HttpFoundation/Tests/IpUtilsTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#49797 [Messenger] Fix timezone in appveyor tests
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
Labels: Status: Reviewed, Messenger

#49799 [Scheduler] Make some properties readonly
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/Scheduler.php
  src/Symfony/Component/Scheduler/Tests/Generator/CheckpointTest.php
  src/Symfony/Component/Scheduler/Tests/Messenger/SchedulerTransportFactoryTest.php
  src/Symfony/Component/Scheduler/Trigger/CronExpressionTrigger.php
  src/Symfony/Component/Scheduler/Trigger/DatePeriodTrigger.php
Labels: Status: Reviewed, Scheduler

#49791 [HttpClient] Add hint about `timeout` and `max_duration` options
  src/Symfony/Contracts/HttpClient/HttpClientInterface.php
Labels: Bug, Status: Reviewed, Deprecation, HttpClient

#49781 [Translation] Improve message extraction performance for big code bases
  src/Symfony/Component/Translation/Extractor/PhpAstExtractor.php
  src/Symfony/Component/Translation/Extractor/Visitor/ConstraintVisitor.php
Labels: Feature, Translation, Status: Reviewed

#49762 [Console] Use file system completion for redirect operators
  src/Symfony/Component/Console/Resources/completion.bash
Labels: Bug, Console, Status: Reviewed

#49783 Improve security factory signatures
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AuthenticatorFactoryInterface.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FirewallListenerFactoryInterface.php
Labels: Status: Reviewed

#49782 [Notifier] Add bridge documentation
  src/Symfony/Component/Notifier/Bridge/Discord/README.md
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/README.md
  src/Symfony/Component/Notifier/Bridge/Slack/README.md
  src/Symfony/Component/Notifier/Bridge/Telegram/README.md
Labels: Status: Reviewed, Notifier

#49805 [Mailer] Update default Mailgun port
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunSmtpTransport.php
  src/Symfony/Component/Mailer/CHANGELOG.md
Labels: Feature, Status: Reviewed, Mailer

#49705 [FrameworkBundle] Add support to easily clear all cache pools
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolClearCommandTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#49682 [FrameworkBundle] Workflow - Fix LogicException about a wrong configuration of "enabled" node
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#49274 [VarDumper] Disable links for IntelliJ platform
  src/Symfony/Component/Console/Formatter/OutputFormatterStyle.php
  src/Symfony/Component/Console/Tests/Formatter/OutputFormatterTest.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Bug, VarDumper, Status: Reviewed

#49189 [FrameworkBundle] Improve documentation about translation:extract --sort option
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
Labels: FrameworkBundle, Status: Needs Review

#49795 add `debug:scheduler` command
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
  src/Symfony/Component/Scheduler/Trigger/CronExpressionTrigger.php
Labels: Feature, Status: Reviewed

#49811 [Notifier] Update documentation for telegram bridge notifier
  src/Symfony/Component/Notifier/Bridge/Telegram/README.md
Labels: Status: Reviewed, Notifier

#49810 [Scheduler] Tweak debug:scheduler command output
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
Labels: Status: Reviewed, Scheduler

#49819 [FrameworkBundle] remove scheduler debug command definition if the component is not installed
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#49789 [Validator] New `PasswordStrength` constraint
  composer.json
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/PasswordStrength.php
  src/Symfony/Component/Validator/Constraints/PasswordStrengthValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/PasswordStrengthTest.php
  src/Symfony/Component/Validator/Tests/Constraints/PasswordStrengthValidatorTest.php
  src/Symfony/Component/Validator/composer.json
Labels: Validator, Feature, Status: Reviewed

#49829 [Console][DoctrineBridge] Remove backticks from exception messages
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/DoctrineChoiceLoader.php
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/DoctrineChoiceLoaderTest.php
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
  src/Symfony/Component/Console/Application.php
Labels: Console, Status: Reviewed, DoctrineBridge

#49745 [FrameworkBundle] Fix wiring session.handler when handler_id is null
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/session.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/NativeFileSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#49763 Replace "use-by-ref" by static vars when possible in closures
  src/Symfony/Component/Cache/Adapter/ChainAdapter.php
  src/Symfony/Component/Console/Question/Question.php
  src/Symfony/Component/Form/ChoiceList/ArrayChoiceList.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/AsyncDecoratorTraitTest.php
  src/Symfony/Component/HttpFoundation/AcceptHeader.php
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/LazyString.php
Labels: Status: Needs Review

#49841 [Form] Use static closures when possible
  src/Symfony/Component/Form/ChoiceList/Factory/CachingFactoryDecorator.php
  src/Symfony/Component/Form/ChoiceList/Factory/DefaultChoiceListFactory.php
  src/Symfony/Component/Form/ChoiceList/Factory/PropertyAccessDecorator.php
  src/Symfony/Component/Form/Command/DebugCommand.php
  src/Symfony/Component/Form/Console/Descriptor/Descriptor.php
  src/Symfony/Component/Form/Extension/Core/Type/CheckboxType.php
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Extension/Core/Type/CollectionType.php
  src/Symfony/Component/Form/Extension/Core/Type/ColorType.php
  src/Symfony/Component/Form/Extension/Core/Type/CountryType.php
  src/Symfony/Component/Form/Extension/Core/Type/CurrencyType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateIntervalType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/Form/Extension/Core/Type/FileType.php
  src/Symfony/Component/Form/Extension/Core/Type/FormType.php
  src/Symfony/Component/Form/Extension/Core/Type/LanguageType.php
  src/Symfony/Component/Form/Extension/Core/Type/LocaleType.php
  src/Symfony/Component/Form/Extension/Core/Type/MoneyType.php
  src/Symfony/Component/Form/Extension/Core/Type/NumberType.php
  src/Symfony/Component/Form/Extension/Core/Type/TimeType.php
  src/Symfony/Component/Form/Extension/Core/Type/TimezoneType.php
  src/Symfony/Component/Form/Extension/Core/Type/WeekType.php
  src/Symfony/Component/Form/Extension/DataCollector/FormDataCollector.php
  src/Symfony/Component/Form/Extension/Validator/Type/BaseValidatorExtension.php
  src/Symfony/Component/Form/Extension/Validator/Type/FormTypeValidatorExtension.php
  src/Symfony/Component/Form/Extension/Validator/Type/RepeatedTypeValidatorExtension.php
  src/Symfony/Component/Form/Extension/Validator/Type/UploadValidatorExtension.php
  src/Symfony/Component/Form/Extension/Validator/ValidatorTypeGuesser.php
  src/Symfony/Component/Form/FormTypeGuesserChain.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/default_option_with_normalizer.txt
Labels: Form, Status: Needs Review

#49632 [DependencyInjection] Add support for casting callables into single-method interfaces
  src/Symfony/Component/DependencyInjection/Argument/LazyClosure.php
  src/Symfony/Component/DependencyInjection/Attribute/AutowireCallable.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/FromCallableConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ServiceConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/FromCallableTrait.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/from_callable.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/from_callable.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/callable_adapter_consumer.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/closure_proxy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/from_callable.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/from_callable.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Needs Review, Status: Reviewed

#49843 [FrameworkBundle] Add missing monolog channel tag for messenger services
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#49765 [Console] Add missing ZSH mention in DumpCompletionCommand help
  src/Symfony/Component/Console/Command/DumpCompletionCommand.php
Labels: Console, Status: Reviewed

#49852 [VarDumper] Add Caster::PATTERN_PRIVATE to help builing key
  src/Symfony/Component/VarDumper/Caster/Caster.php
Labels: Feature, VarDumper, Status: Reviewed

#49807 [Scheduler] `debug:schedule` refinements
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
  src/Symfony/Component/Scheduler/Trigger/CronExpressionTrigger.php
Labels: Bug, Status: Reviewed, Scheduler

#49847 [Cache] Fix DBAL deprecations and stop using NUL chars in tags prefix
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/ORMQueryBuilderLoaderTest.php
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
Labels: Status: Reviewed, Cache

#48495 [Notifier] Add SimpleTextin bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/.gitattributes
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/.gitignore
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/LICENSE
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/README.md
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/SimpleTextinOptions.php
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/SimpleTextinTransport.php
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/SimpleTextinTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/Tests/SimpleTextinOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/Tests/SimpleTextinTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/Tests/SimpleTextinTransportTest.php
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/composer.json
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#49848 [Cache] Fix storing binary keys when using pgsql
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
Labels: Bug, Status: Reviewed, Cache

#49862 [Cache] Fix php7 compat on 5.4: null coalescing assignment operator
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
Labels: Bug, Status: Needs Review, Cache

#49798 [HttpClient] Add ServerSentEvent::getArrayData() to get the SSE's data decoded as an array directly
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Chunk/ServerSentEvent.php
  src/Symfony/Component/HttpClient/Tests/Chunk/ServerSentEventTest.php
Labels: Feature, Status: Reviewed, HttpClient

#49867 [DependencyInjection] Filter "container.excluded" services when using `findTaggedServiceIds()`
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#49850 [FrameworkBundle] Fix auto-discovering validator constraints
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPass.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#49796 [HttpClient] Fix not calling the on progress callback when canceling a MockResponse
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: Bug, Status: Reviewed, HttpClient

#49878 [Notifier] fix tests
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/Tests/SimpleTextinTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/Tests/SimpleTextinTransportTest.php
Labels: Status: Reviewed, Notifier

#49856 [Validator] Remove `bjeavons/zxcvbn-php` in favor of a builtin solution
  composer.json
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/PasswordStrength.php
  src/Symfony/Component/Validator/Constraints/PasswordStrengthValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/PasswordStrengthTest.php
  src/Symfony/Component/Validator/Tests/Constraints/PasswordStrengthValidatorTest.php
  src/Symfony/Component/Validator/composer.json
Labels: Validator, Bug, Feature, Status: Reviewed

#49679 [FrameworkBundle] enable metadata cache when annotation is disabled
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/serializer_mapping_without_annotations.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/serializer_mapping_without_annotations.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/serializer_mapping_without_annotations.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#49401 [TwigBridge] Fix raw content rendering in HTML notification emails
  src/Symfony/Bridge/Twig/Resources/views/Email/zurb_2/notification/body.html.twig
Labels: Bug, Status: Reviewed, TwigBridge

#49618 [Serializer] Preserve array keys while denormalize variadic parameters
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#49849 [FrameworkBundle] Fix services usages output for text descriptor
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#49835 [Form] CollectionType apply prototypeOptions to ResizeFormListener new fields
  src/Symfony/Component/Form/Extension/Core/EventListener/ResizeFormListener.php
  src/Symfony/Component/Form/Extension/Core/Type/CollectionType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CollectionTypeTest.php
Labels: Form, Bug, Status: Needs Review

#49882 Release v5.4.22
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review
