Repository symfony/symfony, pull requests merged in 2023-11, with the labels that each got.

#52398 DX: re-apply PHP CS Fixer, partially
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/ProxyDumperTest.php
  src/Symfony/Bundle/DebugBundle/DependencyInjection/DebugExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TestBundle.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Psr18Client.php
  src/Symfony/Component/Ldap/Adapter/ConnectionInterface.php
  src/Symfony/Component/Ldap/LdapInterface.php
  src/Symfony/Component/Validator/Resources/bin/sync-iban-formats.php
Labels: Status: Needs Review

#52399 Remove unused code from Process
  src/Symfony/Component/Process/Process.php
Labels: Bug, Status: Reviewed

#52404 [Mailer] relax constraints to also run tests with symfony/webhook 6.3
  src/Symfony/Component/Mailer/Bridge/Brevo/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/composer.json
Labels: Status: Needs Review, Mailer

#52416 [DependencyInjection] clean up legacy test
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/ini/types_legacy.ini
  src/Symfony/Component/DependencyInjection/Tests/Loader/IniFileLoaderTest.php
Labels: DependencyInjection, Status: Reviewed

#52417 remove invalid group
  src/Symfony/Component/Form/Tests/Resources/TranslationFilesTest.php
Labels: Status: Needs Review

#52418 [HttpClient] add native argument for the test server working directory
  src/Symfony/Contracts/HttpClient/Test/TestHttpServer.php
Labels: Status: Reviewed, HttpClient

#52408 [Yaml] Fix block scalar array parsing
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Yaml, Status: Reviewed

#52421 [PasswordHasher] [Tests] Do not invoke methods with additional arguments in tests
  src/Symfony/Component/PasswordHasher/Tests/Hasher/NativePasswordHasherTest.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/PasswordHasherFactoryTest.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/SodiumPasswordHasherTest.php
Labels: Status: Reviewed, PasswordHasher

#52427 [Console][Process] do not let context classes extend the message classes
  src/Symfony/Component/Console/Messenger/RunCommandContext.php
  src/Symfony/Component/Process/Messenger/RunProcessContext.php
  src/Symfony/Component/Process/Tests/Messenger/RunProcessMessageHandlerTest.php
Labels: Process, Status: Needs Review

#52428 [HttpKernel] Preventing error 500 when function putenv is disabled
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Bug, HttpKernel, Status: Reviewed

#52336 [HttpFoundation][Lock] Makes MongoDB adapters usable with `ext-mongodb` only
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MongoDbSessionHandler.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MongoDbSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/stubs/mongodb.php
  src/Symfony/Component/HttpFoundation/phpunit.xml.dist
  src/Symfony/Component/Lock/CHANGELOG.md
  src/Symfony/Component/Lock/Store/MongoDbStore.php
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreFactoryTest.php
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/stubs/mongodb.php
Labels: Feature, HttpFoundation, Status: Reviewed, Lock, :snowflake: Feature Freeze

#52438 [HttpKernel] Fix uninitialized property in Bundle class
  src/Symfony/Component/HttpKernel/Bundle/Bundle.php
Labels: Bug, HttpKernel, Status: Reviewed

#52444 Remove full DSNs from exception messages
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Adapter/CouchbaseBucketAdapter.php
  src/Symfony/Component/Cache/Adapter/CouchbaseCollectionAdapter.php
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
  src/Symfony/Component/Cache/Adapter/MemcachedAdapter.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/SessionHandlerFactory.php
  src/Symfony/Component/Lock/Store/DoctrineDbalPostgreSqlStore.php
  src/Symfony/Component/Lock/Store/DoctrineDbalStore.php
  src/Symfony/Component/Lock/Store/StoreFactory.php
  src/Symfony/Component/Lock/Store/ZookeeperStore.php
  src/Symfony/Component/Mailer/Tests/Transport/DsnTest.php
  src/Symfony/Component/Mailer/Tests/TransportTest.php
  src/Symfony/Component/Mailer/Transport.php
  src/Symfony/Component/Mailer/Transport/Dsn.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineTransportFactoryTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Messenger/Transport/TransportFactory.php
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/MicrosoftTeamsTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/OvhCloudTransport.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/OvhCloud/Tests/OvhCloudTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransportFactory.php
  src/Symfony/Component/Notifier/Tests/Transport/DsnTest.php
  src/Symfony/Component/Notifier/Transport/AbstractTransportFactory.php
  src/Symfony/Component/Notifier/Transport/Dsn.php
  src/Symfony/Component/Semaphore/Store/StoreFactory.php
  src/Symfony/Component/Translation/Provider/AbstractProviderFactory.php
  src/Symfony/Component/Translation/Provider/Dsn.php
  src/Symfony/Component/Translation/Tests/Provider/DsnTest.php
Labels: Status: Reviewed

#52442 Disable the "Copy as cURL" button when the debug info are disabled
  src/Symfony/Component/HttpClient/DataCollector/HttpClientDataCollector.php
Labels: Bug, Status: Reviewed

#52429 [HttpClient] Replace `escapeshellarg` to prevent overpassing `ARG_MAX`
  src/Symfony/Component/HttpClient/DataCollector/HttpClientDataCollector.php
  src/Symfony/Component/HttpClient/Tests/DataCollector/HttpClientDataCollectorTest.php
Labels: Bug, Status: Reviewed, HttpClient

#52313 [FrameworkBundle][Scheduler] Add test for autoconfigured schedule
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Messenger/DummyTask.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SchedulerTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Reviewed, Scheduler

#52449 [TwigBridge] Mark CodeExtension as @internal
  src/Symfony/Bridge/Twig/Extension/CodeExtension.php
Labels: Status: Reviewed, TwigBridge

#52458 [Cache] Fix property types in PdoAdapter
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
Labels: Status: Reviewed, Cache

#52443 [Yaml] Fix uid binary parsing
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Yaml, Status: Reviewed

#52463 [Cache] fix tests
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
Labels: Status: Needs Review, Cache

#52464 fix test fixture
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/GlobalDefaultsClass.php
Labels: Status: Needs Review

#52455 [Process] Fix OutputMemoryLimitProcess.php cannot be executable
  src/Symfony/Component/Process/Tests/OutputMemoryLimitProcess.php
Labels: Process, Status: Needs Review

#52457 [Cache][HttpFoundation][Lock] Fix empty username/password for PDO PostgreSQL
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
  src/Symfony/Component/Lock/Store/PdoStore.php
  src/Symfony/Component/Lock/Store/PostgreSqlStore.php
Labels: Bug, HttpFoundation, Status: Needs Review, Cache, Lock

#52432 [Validator] Updated Greek translation
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
Labels: Validator, Status: Needs Review, Missing translations

#52472 [HttpClient][WebProfilerBundle] Do not generate cURL command when files are uploaded
  src/Symfony/Component/HttpClient/DataCollector/HttpClientDataCollector.php
  src/Symfony/Component/HttpClient/Tests/DataCollector/HttpClientDataCollectorTest.php
Labels: Bug, WebProfilerBundle, Status: Needs Review, HttpClient

#52466 [AssetMapper] render newline in front of all script elements
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapRenderer.php
Labels: Status: Needs Review, AssetMapper

#52474 [HttpFoundation] ensure string type with mbstring func overloading enabled
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
Labels: Bug, HttpFoundation, Status: Needs Review

#52434 [Console][FrameworkBundle] Fix missing `profile` option for console commands
  src/Symfony/Bundle/FrameworkBundle/EventListener/ConsoleProfilerListener.php
Labels: Bug, Console, FrameworkBundle, Status: Reviewed

#52377 [SecurityBundle] Remove method for Sf 5.4 compatibility
  src/Symfony/Component/Ldap/Security/LdapAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/DummyAuthenticator.php
Labels: SecurityBundle, Status: Reviewed

#52473 [HttpKernel] Fix quotes expectations in tests
  src/Symfony/Component/HttpClient/Tests/DataCollector/HttpClientDataCollectorTest.php
Labels: Bug, HttpKernel, Status: Needs Review

#52476 [Messenger] fix compatibility with Doctrine DBAL 4
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Status: Reviewed, Messenger

#52480 [Serializer] Fix `@method` annotation
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerInterface.php
Labels: Serializer, Bug, Status: Reviewed

#52471 [HttpKernel] Add `ControllerResolver::allowControllers()` to define which callables are legit controllers when the `_check_controller_is_allowed` request attribute is set
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
  src/Symfony/Component/HttpKernel/Attribute/AsController.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ControllerResolver.php
  src/Symfony/Component/HttpKernel/EventListener/FragmentListener.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ControllerResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/FragmentListenerTest.php
Labels: Feature, HttpKernel, Status: Reviewed, :snowflake: Feature Freeze

#52469 Check whether secrets are empty and mark them all as sensitive
  src/Symfony/Component/HttpFoundation/UriSigner.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Webhook/BrevoRequestParser.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Webhook/MailgunRequestParser.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Webhook/MailjetRequestParser.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Webhook/PostmarkRequestParser.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Webhook/SendgridRequestParser.php
  src/Symfony/Component/Mailer/Transport/Smtp/Auth/CramMd5Authenticator.php
  src/Symfony/Component/Notifier/Bridge/Twilio/Webhook/TwilioRequestParser.php
  src/Symfony/Component/Notifier/Bridge/Vonage/Webhook/VonageRequestParser.php
  src/Symfony/Component/Security/Core/Authentication/Token/RememberMeToken.php
  src/Symfony/Component/Security/Core/Signature/SignatureHasher.php
  src/Symfony/Component/Security/Http/Authenticator/RememberMeAuthenticator.php
  src/Symfony/Component/Security/Http/RateLimiter/DefaultLoginRateLimiter.php
  src/Symfony/Component/Webhook/Client/AbstractRequestParser.php
  src/Symfony/Component/Webhook/Client/RequestParser.php
  src/Symfony/Component/Webhook/Client/RequestParserInterface.php
  src/Symfony/Component/Webhook/Server/HeaderSignatureConfigurator.php
  src/Symfony/Component/Webhook/Server/HeadersConfigurator.php
  src/Symfony/Component/Webhook/Server/JsonBodyConfigurator.php
  src/Symfony/Component/Webhook/Server/RequestConfiguratorInterface.php
  src/Symfony/Component/Webhook/Subscriber.php
Labels: Bug, Status: Reviewed, :snowflake: Feature Freeze

#52484 [TwigBundle][WebProfilerBundle] Add conflicts with 7.0
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: WebProfilerBundle, TwigBundle, Status: Reviewed

#52483 Move CodeExtension from TwigBridge to WebProfilerBundle
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
  src/Symfony/Bundle/WebProfilerBundle/Profiler/CodeExtension.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/profiler.php
Labels: Status: Needs Review, :snowflake: Feature Freeze

#52488 [HttpKernel] Fix PHP deprecation
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
Labels: Bug, HttpKernel, Status: Reviewed

#52497 [Webhook] check that the secret passed to RequestParser is not empty
  src/Symfony/Component/Webhook/Client/RequestParser.php
Labels: Status: Needs Review, Webhook

#52500 [HttpKernel] Fix DebugLoggerConfigurator
  src/Symfony/Component/HttpKernel/Log/DebugLoggerConfigurator.php
Labels: HttpKernel, Status: Reviewed

#52501 [HttpKernel] Check controllers are allowed when using the fallback surrogate strategy
  src/Symfony/Component/HttpKernel/Fragment/AbstractSurrogateFragmentRenderer.php
  src/Symfony/Component/HttpKernel/Fragment/InlineFragmentRenderer.php
Labels: HttpKernel, Status: Needs Review

#52491 [String] Method toByteString conversion using iconv is unreachable
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Bug, Status: Reviewed, String

#52502 [Config] Prefixing `FileExistenceResource::__toString()` to avoid conflict with `FileResource`
  src/Symfony/Component/Config/Resource/FileExistenceResource.php
  src/Symfony/Component/Config/Tests/Resource/FileExistenceResourceTest.php
Labels: Bug, Config, Status: Needs Review

#52496 [VarDumper] Accept mixed key on `DsPairStub`
  src/Symfony/Component/VarDumper/Caster/DsPairStub.php
Labels: Bug, VarDumper, Status: Needs Review

#52505 [String] remove error handler not needed on PHP 8
  src/Symfony/Component/String/AbstractString.php
Labels: Status: Needs Review, String

#52506 [SecurityBundle] wire the secret for Symfony 6.4 compatibility
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
Labels: Bug, SecurityBundle, Status: Needs Review

#52507 do not emit an error if an issue suppression handler was not used
  psalm.xml
Labels: Status: Needs Review

#52514 [FrameworkBundle] Don't reference SYMFONY_IDE env var in non-debug mode
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ConfigDebugCommandTest.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#52534 Release v4.4.51
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#52535 Release v5.4.31
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51666 [RateLimiter] CompoundLimiter was accepting requests even when some limiters already consumed all tokens
  src/Symfony/Component/RateLimiter/CompoundLimiter.php
  src/Symfony/Component/RateLimiter/Tests/CompoundLimiterTest.php
Labels: Bug, Status: Reviewed, RateLimiter

#52536 Release v6.3.8
  CHANGELOG-6.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#52508 [AssetMapper] Fix jsdelivr import parsing with no imported value
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
Labels: Bug, Status: Needs Review, AssetMapper

#52521 [AssetMapper] Improving exception if a vendor asset's path is not mapped
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapGenerator.php
Labels: Feature, Status: Needs Review, AssetMapper

#52523 [AssetMapper] avoid caching MappedAsset inside JavaScript Import
  src/Symfony/Component/AssetMapper/Compiler/JavaScriptImportPathCompiler.php
  src/Symfony/Component/AssetMapper/Factory/CachedMappedAssetFactory.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapGenerator.php
  src/Symfony/Component/AssetMapper/ImportMap/JavaScriptImport.php
  src/Symfony/Component/AssetMapper/MappedAsset.php
  src/Symfony/Component/AssetMapper/Tests/Compiler/JavaScriptImportPathCompilerTest.php
  src/Symfony/Component/AssetMapper/Tests/Factory/CachedMappedAssetFactoryTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapGeneratorTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/JavaScriptImportTest.php
  src/Symfony/Component/AssetMapper/Tests/MappedAssetTest.php
Labels: Bug, Status: Needs Review, AssetMapper

#52524 [AssetMapper] Only download a CSS file if it is explicitly advertised
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
Labels: Bug, Status: Needs Review, AssetMapper

#52538 Release v6.4.0-BETA3
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#52541 Release v7.0.0-BETA3
  CHANGELOG-7.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#52509 [Validator] Updated Lithuanian translations
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
Labels: Validator, Status: Reviewed

#52560 [Mailer] Update default Mailjet port
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetSmtpTransport.php
  src/Symfony/Component/Mailer/CHANGELOG.md
Labels: Feature, Status: Reviewed, Mailer

#52544 [Routing] Extend old Annotations from new Attributes
  src/Symfony/Component/Routing/Annotation/Route.php
  src/Symfony/Component/Routing/Attribute/Route.php
  src/Symfony/Component/Serializer/Annotation/Context.php
  src/Symfony/Component/Serializer/Annotation/DiscriminatorMap.php
  src/Symfony/Component/Serializer/Annotation/Groups.php
  src/Symfony/Component/Serializer/Annotation/Ignore.php
  src/Symfony/Component/Serializer/Annotation/MaxDepth.php
  src/Symfony/Component/Serializer/Annotation/SerializedName.php
  src/Symfony/Component/Serializer/Annotation/SerializedPath.php
  src/Symfony/Component/Serializer/Attribute/Context.php
  src/Symfony/Component/Serializer/Attribute/DiscriminatorMap.php
  src/Symfony/Component/Serializer/Attribute/Groups.php
  src/Symfony/Component/Serializer/Attribute/Ignore.php
  src/Symfony/Component/Serializer/Attribute/MaxDepth.php
  src/Symfony/Component/Serializer/Attribute/SerializedName.php
  src/Symfony/Component/Serializer/Attribute/SerializedPath.php
Labels: Routing, Status: Reviewed

#52568 [VarExporter] Deprecate per-property lazy-initializers
  UPGRADE-6.4.md
  src/Symfony/Component/VarExporter/CHANGELOG.md
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/README.md
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
  src/Symfony/Component/VarExporter/composer.json
Labels: Status: Reviewed, Deprecation, :snowflake: Feature Freeze, VarExporter

#52581 [Messenger] attach all required parameters to query
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Bug, Status: Needs Review, Messenger

#52579 [DomCrawler] UriResolver support path with colons
  src/Symfony/Component/DomCrawler/Tests/UriResolverTest.php
  src/Symfony/Component/DomCrawler/UriResolver.php
Labels: Bug, DomCrawler, Status: Reviewed

#52567 [AssetMapper] Fixing js sourceMappingURL extraction when sourceMappingURL used in code
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
Labels: Bug, Status: Needs Review, AssetMapper

#52569 [VarExporter] Drop support for partially initialized lazy object
  UPGRADE-7.0.md
  src/Symfony/Component/VarExporter/Internal/LazyObjectRegistry.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectState.php
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
  src/Symfony/Component/VarExporter/composer.json
Labels: Status: Needs Review, VarExporter

#52588 [Messenger] Use extension_loaded call to check if pcntl extension is loaded, as SIGTERM might be set be swoole
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnSignalsListener.php
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnSigtermSignalListener.php
Labels: Bug, Status: Reviewed, Messenger

#52597 [DependencyInjection] Fix dumping containers with null-referenced services
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_deprecated_parameters_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
Labels: DependencyInjection, Bug, Status: Needs Review

#52598 [7.0] minor cleanup
  src/Symfony/Bridge/Doctrine/DependencyInjection/Security/UserProvider/EntityFactory.php
  src/Symfony/Component/Routing/Attribute/Route.php
  src/Symfony/Component/Serializer/Attribute/Context.php
  src/Symfony/Component/Serializer/Attribute/DiscriminatorMap.php
  src/Symfony/Component/Serializer/Attribute/Groups.php
  src/Symfony/Component/Serializer/Attribute/Ignore.php
  src/Symfony/Component/Serializer/Attribute/MaxDepth.php
  src/Symfony/Component/Serializer/Attribute/SerializedName.php
  src/Symfony/Component/Serializer/Attribute/SerializedPath.php
Labels: Status: Needs Review

#52599 Release v6.4.0-RC1
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#52601 Update Github template for 7.1
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review

#52602 [HttpClient] Revert "minor #52418 add native argument for the test server working directory"
  src/Symfony/Contracts/HttpClient/Test/TestHttpServer.php
Labels: Status: Reviewed, HttpClient

#52605 [Console] Support `ProgressBar::iterate()` on empty array
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Bug, Console, Status: Reviewed

#52618 [VarExporter] Fix handling mangled property names returned by __sleep()
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/var-on-sleep.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
  src/Symfony/Component/VarExporter/VarExporter.php
Labels: Bug, Status: Needs Review, VarExporter

#52606 [DoctrineBridge] Fix use "attribute" driver by default
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
Labels: Bug, Status: Needs Review, DoctrineBridge

#52631 [DomCrawler] Revert "bug #52579 UriResolver support path with colons"
  src/Symfony/Component/DomCrawler/Tests/UriResolverTest.php
  src/Symfony/Component/DomCrawler/UriResolver.php
Labels: Bug, DomCrawler, Status: Needs Review

#52400 [Process] Fix memory limit in `PhpSubprocess` test
  src/Symfony/Component/Process/Tests/PhpSubprocessTest.php
Labels: Process, Status: Reviewed

#52039 [Scheduler] Continue with stored `Checkpoint::$time` on lock
  src/Symfony/Component/Scheduler/Generator/Checkpoint.php
  src/Symfony/Component/Scheduler/Tests/Generator/CheckpointTest.php
Labels: Bug, Status: Needs Review, Scheduler

#50922 [Form] Deprecate not configuring the `default_protocol` option of the `UrlType`
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/UrlType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TextTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/UrlTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/UrlTypeValidatorExtensionTest.php
  src/Symfony/Component/Form/composer.json
Labels: Form, Status: Reviewed, Deprecation

#52604 [FrameworkBundle] register the virtual request stack together with common profiling services
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/VirtualRequestStackPass.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/profiling.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#52531 [WebProfilerBundle] Mark CodeExtension as non-internal
  src/Symfony/Bundle/WebProfilerBundle/Profiler/CodeExtension.php
Labels: WebProfilerBundle, Status: Reviewed

#52633 Hint that changing input arguments has no effect
  src/Symfony/Component/Console/Event/ConsoleCommandEvent.php
Labels: Status: Needs Review

#52526 Add some more non-countable English nouns
  src/Symfony/Component/String/Inflector/EnglishInflector.php
Labels: Bug, Status: Reviewed

#52369 [DependencyInjection] Add `urlencode` function to `EnvVarProcessor`
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterEnvVarProcessorsPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#52198 [String] New locale aware casing methods
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/CHANGELOG.md
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
Labels: Feature, Status: Reviewed, String

#52646 [Serializer] Remove wrong final tags
  src/Symfony/Component/Serializer/Attribute/Context.php
  src/Symfony/Component/Serializer/Attribute/DiscriminatorMap.php
  src/Symfony/Component/Serializer/Attribute/Groups.php
  src/Symfony/Component/Serializer/Attribute/Ignore.php
  src/Symfony/Component/Serializer/Attribute/MaxDepth.php
  src/Symfony/Component/Serializer/Attribute/SerializedName.php
  src/Symfony/Component/Serializer/Attribute/SerializedPath.php
Labels: Serializer, Status: Reviewed

#52636 [DependencyInjection] Prepend extension config with `ContainerConfigurator`
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Tests/Extension/AbstractExtensionTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/AcmeFooBundle/AcmeFooBundle.php
Labels: DependencyInjection, Feature, DX, Status: Reviewed

#52648 [Form] Add missing whitespace in Changelog
  src/Symfony/Component/Form/CHANGELOG.md
Labels: Form, Status: Needs Review

#52578 [Serializer] Fix denormalize constructor arguments
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Php74Full.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ConstructorArgumentsTestTrait.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#52626 [Serializer] Fix denormalizing date intervals having both weeks and days
  src/Symfony/Component/Serializer/Normalizer/DateIntervalNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/DateIntervalNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#52649 [Validator] Updated Turkish translation
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
Labels: Validator, Status: Needs Review

#52241 [Validator] Added missing Turkish (tr) translations
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
Labels: Validator, Bug, Status: Needs Review, Missing translations

#52656 [FrameworkBundle] Add TemplateController to the list of allowed controllers for fragments
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#52664 [Cache] name exception being caught as it is accessed in the catch block
  src/Symfony/Component/Lock/Store/PdoStore.php
Labels: Bug, Status: Needs Review, Cache

#52665 [Serializer] fix tests
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Status: Needs Review

#52666 [Cache] name exception being caught as it is accessed in the catch block
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
Labels: Bug, Status: Needs Review, Cache

#52667 [Cache][Lock] `PdoAdapter`/`PdoStore` minor cleanup
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Lock/Store/PdoStore.php
Labels: Status: Needs Review, Cache, Lock

#52661 [Security] remove conflict with symfony/security-guard
  src/Symfony/Component/Security/Core/composer.json
Labels: Security, Status: Reviewed

#52670 update the default branch for scorecards
  .github/workflows/scorecards.yml
Labels: Status: Needs Review

#52629 [Messenger] Fix support for Redis Sentinel using php-redis 6.0.0
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#52639 [Messenger] Add `SKIP LOCKED` to the query that retrieves messages
  src/Symfony/Component/Messenger/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Feature, Status: Reviewed, Messenger

#52409 [Process] Pass the commandline as array to `proc_open()`
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/Process/Exception/ProcessStartFailedException.php
  src/Symfony/Component/Process/Messenger/RunProcessContext.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/Messenger/RunProcessMessageHandlerTest.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Feature, Process, Status: Needs Review, Performance

#51797 [MonologBridge] Fix error cannot use object of type as array
  src/Symfony/Bridge/Monolog/Formatter/ConsoleFormatter.php
Labels: Bug, MonologBridge, Status: Needs Review

#52674 [Translation] Fix Translation changelog for Phrase provider
  src/Symfony/Component/Translation/CHANGELOG.md
Labels: Translation, Status: Needs Review

#52686 [Cache] fix detecting the server version with Doctrine DBAL 4
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
Labels: Bug, Status: Reviewed, Cache

#52660 [Form] Clean unused code
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/PercentToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/FormBuilder.php
Labels: Form, Status: Reviewed

#52128 [HttpKernel] Introduce `ExceptionEvent::isKernelTerminating()` to skip error rendering when kernel is terminating
  UPGRADE-7.1.md
  src/Symfony/Component/HttpKernel/Event/ExceptionEvent.php
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ErrorListenerTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#52589 [Serializer] Fix XML attributes not added on empty node
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Serializer, Bug, Status: Reviewed

#52689 [DependencyInjection] Fix tests on configuration prepend
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/MergeExtensionConfigurationPassTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/AcmeFooBundle/AcmeFooBundle.php
Labels: DependencyInjection, Bug, Status: Reviewed

#52707 [HttpKernel] Fix logging deprecations to the "php" channel when channel "deprecation" is not defined
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.php
Labels: Bug, HttpKernel, Status: Needs Review

#52683 [Serializer] Fix constructor deserialization path
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
Labels: Serializer, Bug, Status: Needs Review

#52711 [AssetMapper] Fix windows ci fail
  src/Symfony/Component/AssetMapper/Tests/Compiler/JavaScriptImportPathCompilerTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#52713 [Serializer] Fix deserialization_path missing using contructor
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#52710 [HttpKernel] document added method in the changelog rather than the upgrade files
  UPGRADE-7.1.md
  src/Symfony/Component/HttpKernel/CHANGELOG.md
Labels: HttpKernel, Status: Needs Review

#52680 [Serializer] Fix access to private properties/getters when using the `@Ignore` annotation
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#52681 [Serializer] Fix support for DiscriminatorMap in PropertyNormalizer
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#52684 [PropertyInfo] Fixed promoted property type detection for `PhpStanExtractor`
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php80Dummy.php
Labels: Bug, Status: Reviewed, PropertyInfo

#52693 [Messenger] Fix message handlers with multiple `from_transports`
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
  src/Symfony/Component/Messenger/Tests/Fixtures/TaggedDummyHandler.php
  src/Symfony/Component/Messenger/Tests/Fixtures/ThirdMessage.php
Labels: Bug, Status: Needs Review, Messenger

#52172 [Serializer] Fix denormalizing empty string into `object|null` parameter
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyString.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyWithNotNormalizable.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyWithObjectOrBool.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyWithObjectOrNull.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyWithStringObject.php
  src/Symfony/Component/Serializer/Tests/Fixtures/NotNormalizableDummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Needs Review

#52714 [Serializer] Remove incompatible type declaration with PHP 7.2
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#52688 [Cache] Add url decoding of password in `RedisTrait` DSN
  .github/workflows/integration-tests.yml
  src/Symfony/Component/Cache/Tests/Traits/RedisTraitTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Feature, Status: Needs Review, Cache

#52715 [Cache] fix detecting the database server version
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
Labels: Bug, Status: Needs Review, Cache

#52716 [Serializer] do not detect the deserialization_path context value twice
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
Labels: Serializer, Status: Needs Review

#52717 [Cache] Get TRUNCATE statement from platform
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
Labels: Status: Needs Review, Cache

#52677 [Translation] [Lokalise] Fix language format on Lokalise Provider
  src/Symfony/Component/Translation/Bridge/Lokalise/LokaliseProvider.php
  src/Symfony/Component/Translation/Bridge/Lokalise/Tests/LokaliseProviderTest.php
Labels: Bug, Translation, Status: Needs Review

#52726 [Serializer] add return types to test fixtures
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyString.php
  src/Symfony/Component/Serializer/Tests/Fixtures/NotNormalizableDummy.php
Labels: Serializer, Status: Needs Review

#52719 [Mime] Add `TemplatedEmail::$locale` to the serialized props
  src/Symfony/Bridge/Twig/Mime/TemplatedEmail.php
  src/Symfony/Bridge/Twig/Tests/Mime/TemplatedEmailTest.php
Labels: Bug, Status: Reviewed, Mime

#52702 [AssetMapper] Fix eager imports are not deduplicated
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapGenerator.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapGeneratorTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#52725 [AssetMapper] Fix: also download files referenced by url() in CSS
  src/Symfony/Component/AssetMapper/Command/ImportMapInstallCommand.php
  src/Symfony/Component/AssetMapper/ImportMap/RemotePackageDownloader.php
  src/Symfony/Component/AssetMapper/ImportMap/RemotePackageStorage.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/PackageResolverInterface.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageDownloaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageStorageTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
Labels: Bug, Status: Needs Review, AssetMapper

#52712 [AssetMapper] Exclude dot files
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/asset_mapper.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/AssetMapper/AssetMapperRepository.php
  src/Symfony/Component/AssetMapper/Tests/AssetMapperRepositoryTest.php
  src/Symfony/Component/AssetMapper/Tests/Fixtures/dot_file/.dotfile
Labels: Bug, Feature, Status: Reviewed, AssetMapper

#52617 [AssetMapper] Fix resolving jsdeliver default + other exports from modules
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#52728 [Serializer] fix tests
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Serializer, Status: Reviewed

#52729 fix GitHub workflows
  .github/workflows/unit-tests.yml
Labels: Status: Needs Review

#52735 Remove obsolete PHP version checks
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/Validator/Tests/ConstraintValidatorTest.php
Labels: Status: Reviewed

#52720 [Cache] Remove database server version detection
  UPGRADE-7.0.md
  src/Symfony/Component/Cache/Adapter/DoctrineDbalAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
Labels: Status: Reviewed, Cache

#52737 Remove obsolete PHP version checks
  src/Symfony/Component/Clock/DatePoint.php
  src/Symfony/Component/HttpKernel/Controller/ControllerResolver.php
  src/Symfony/Component/Workflow/DataCollector/WorkflowDataCollector.php
Labels: Status: Reviewed

#52727 [String] Fix Inflector for 'icon'
  src/Symfony/Component/String/Inflector/EnglishInflector.php
  src/Symfony/Component/String/Tests/Inflector/EnglishInflectorTest.php
Labels: Bug, Status: Needs Review, String

#52724 [Security] make secret required for DefaultLoginRateLimiter
  src/Symfony/Component/Security/Http/RateLimiter/DefaultLoginRateLimiter.php
Labels: Security, Bug, Status: Needs Review, Deprecation

#52741 [TwigBridge][TwigBundle][VarDumper] Remove legacy Twig_ namespace support
  src/Symfony/Bridge/Twig/DataCollector/TwigDataCollector.php
  src/Symfony/Bridge/Twig/Tests/Node/TransNodeTest.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
Labels: TwigBundle, VarDumper, Status: Reviewed, TwigBridge

#52736 CS: typo fix
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Status: Reviewed

#52743 Release v7.0.0-RC2
  CHANGELOG-7.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#52747 [Security] Document BC break with $secret parameter introduction
  UPGRADE-6.4.md
Labels: Security, Status: Reviewed

#52755 [VarDumper]  remove not needed method existance check
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
Labels: VarDumper, Status: Reviewed

#52745 [Serializer] Fix DebugCommandTest
  src/Symfony/Component/Serializer/Tests/Command/DebugCommandTest.php
Labels: Serializer, Status: Reviewed

#52767 [Serializer] Fix normalization relying on allowed attributes only
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#52759 [VarExporter] Fix serializing objects that implement __sleep() and that are made lazy
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
Labels: Bug, Status: Reviewed, VarExporter

#52762 [VarExporter] Work around php/php-src#12695 for lazy objects, fixing nullsafe-related behavior
  src/Symfony/Component/VarExporter/Internal/Hydrator.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectState.php
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/ProxyHelper.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
Labels: Bug, Status: Needs Review, VarExporter

#52761 [Validator][Translation] Add missing translations for Bulgarian #51931
  src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf
Labels: Validator, Status: Needs Review

#52773 [AssetMapper] Minor @var doc update
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapAuditor.php
Labels: Status: Reviewed, AssetMapper

#52740 [Validator] Made tests forward-compatible with ICU 72.1
  src/Symfony/Component/Validator/Tests/ConstraintValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/EqualToValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanOrEqualValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/IdenticalToValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanOrEqualValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/NotEqualToValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/NotIdenticalToValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeValidatorTest.php
  src/Symfony/Component/Validator/Tests/IcuCompatibilityTrait.php
Labels: Validator, Status: Reviewed

#52781 [HttpClient] Add Innovative Web AG (i-web) as sponsor of version 6.4/7.0
  src/Symfony/Component/HttpClient/README.md
Labels: Status: Reviewed, HttpClient
