Repository symfony/symfony, pull requests merged in 2023-04, with the labels that each got.

#49889 [FrameworkBundle] Fix registering ExpressionValidator
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#49879 [Validator] Improve entropy estimation in PasswordStrengthValidator
  src/Symfony/Component/Validator/Constraints/PasswordStrength.php
  src/Symfony/Component/Validator/Constraints/PasswordStrengthValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/PasswordStrengthValidatorTest.php
Labels: Validator, Status: Needs Review

#49895 Apply align_multiline_comment PHP-CS-Fixer rule
  src/Symfony/Component/Lock/Store/DoctrineDbalStore.php
  src/Symfony/Component/Lock/Store/PdoStore.php
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
Labels: Status: Needs Review

#49897 Apply operator_linebreak PHP-CS-Fixer rule
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Twig/Extension/RoutingExtension.php
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationNodeVisitor.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/DependencyInjection/Loader/IniFileLoader.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/Guess/Guess.php
  src/Symfony/Component/Mailer/Test/Constraint/EmailCount.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/PostgreSqlConnection.php
  src/Symfony/Component/Mime/Header/AbstractHeader.php
  src/Symfony/Component/Mime/MessageConverter.php
  src/Symfony/Component/Notifier/Test/Constraint/NotificationCount.php
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Validator/Constraints/TimezoneValidator.php
  src/Symfony/Component/Yaml/Parser.php
Labels: Status: Reviewed

#49896 Apply no_null_property_initialization PHP-CS-Fixer rule
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntity.php
  src/Symfony/Bridge/Monolog/Tests/Handler/MailerHandlerTest.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/TextDescriptorTest.php
  src/Symfony/Component/BrowserKit/Tests/TestClient.php
  src/Symfony/Component/BrowserKit/Tests/TestHttpClient.php
  src/Symfony/Component/Config/Tests/ConfigCacheTest.php
  src/Symfony/Component/Config/Tests/ResourceCheckerConfigCacheTest.php
  src/Symfony/Component/Console/Completion/CompletionInput.php
  src/Symfony/Component/Console/Helper/Helper.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTestCase.php
  src/Symfony/Component/Finder/Tests/Iterator/MockSplFileInfo.php
  src/Symfony/Component/Notifier/Tests/Mailer/DummyMailer.php
  src/Symfony/Component/Process/InputStream.php
  src/Symfony/Component/Routing/Tests/RouterTest.php
  src/Symfony/Component/Validator/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/StaticMethodLoaderTest.php
Labels: Status: Needs Review

#49887 [WebProfilerBundle] Add clickable entry view to debug toolbar
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/twig.html.twig
Labels: Feature, WebProfilerBundle, Status: Reviewed

#49915 [Console] Add Les-Tilleuls.coop as a backer of version 6.3
  src/Symfony/Component/Console/README.md
Labels: Console, Status: Reviewed

#49916 [Security] Add SymfonyCasts as a backer of version 6.3
  src/Symfony/Component/Security/Core/README.md
  src/Symfony/Component/Security/Csrf/README.md
  src/Symfony/Component/Security/Http/README.md
Labels: Security, Status: Reviewed

#49923 [FrameworkBundle] alximy renewed their sponsorship for v6.3
  src/Symfony/Bundle/FrameworkBundle/README.md
Labels: FrameworkBundle, Status: Needs Review

#49922 [Translation] Crowdin renewed their sponsorship for v6.3
  src/Symfony/Component/Translation/Bridge/Crowdin/README.md
  src/Symfony/Component/Translation/README.md
Labels: Translation, Status: Needs Review

#49921 [Notifier] Fix registering many bridges
  src/Symfony/Component/Notifier/Bridge/Mastodon/composer.json
  src/Symfony/Component/Notifier/Bridge/Twitter/composer.json
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Bug, Status: Reviewed, Notifier

#49926 [HttpClient] Fix canceling MockResponse
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/Response/MockResponseTest.php
Labels: Bug, Status: Reviewed, HttpClient

#49491 [Mailer] Add new attributes to Infobip API transport
  src/Symfony/Component/Mailer/Bridge/Infobip/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Infobip/Transport/InfobipApiTransport.php
Labels: Feature, Status: Reviewed, Mailer

#49954 [Serializer] Add missing upgrade note
  UPGRADE-6.3.md
Labels: Serializer, Status: Reviewed

#49951 [Serializer] Cleanup `static` uses when classes are final
  src/Symfony/Component/Serializer/Normalizer/FormErrorNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/MimeMessageNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
Labels: Serializer, Status: Reviewed

#49948 Fix intl data tests
  .github/workflows/intl-data-tests.yml
  src/Symfony/Component/Intl/Tests/CurrenciesTest.php
Labels: Status: Reviewed

#49940 Fix the test for casting FlattenException on Windows
  src/Symfony/Component/VarDumper/Tests/Caster/ExceptionCasterTest.php
Labels: Status: Reviewed

#49945 [FrameworkBundle] Reduce aliasing for etc bridges
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
Labels: FrameworkBundle, Status: Reviewed

#49944 [Serializer] Make `ProblemNormalizer` give details about `ValidationFailedException` and `PartialDenormalizationException`
  .github/expected-missing-return-types.diff
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Exception/PartialDenormalizationException.php
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/MimeMessageNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ProblemNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/UnwrappingDenormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ConstraintViolationListNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ProblemNormalizerTest.php
Labels: Serializer, Feature, Status: Reviewed

#49964 [Scheduler] Allow messages from the SchedulerTransport to be rejected
  src/Symfony/Component/Scheduler/Messenger/SchedulerTransport.php
  src/Symfony/Component/Scheduler/Tests/Messenger/SchedulerTransportTest.php
Labels: Bug, Status: Reviewed, Scheduler

#49929 Harmonize command formats and ensure autocompletion is same
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDumpReferenceCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/EventDispatcherDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterDebugCommand.php
  src/Symfony/Component/Form/Command/DebugCommand.php
  src/Symfony/Component/Translation/Command/XliffLintCommand.php
  src/Symfony/Component/Uid/Command/GenerateUlidCommand.php
  src/Symfony/Component/Uid/Command/GenerateUuidCommand.php
  src/Symfony/Component/Yaml/Command/LintCommand.php
Labels: Status: Reviewed

#49980 [Notifier] Document Firebase options object in readme
  src/Symfony/Component/Notifier/Bridge/Firebase/README.md
Labels: Status: Reviewed, Notifier

#49963 Update the upgrade guide for the deprecation of `@required`
  UPGRADE-6.3.md
Labels: Status: Reviewed, Deprecation

#49949 [Intl] Improve the description of the Intl component
  src/Symfony/Component/Intl/README.md
  src/Symfony/Component/Intl/composer.json
Labels: Intl, Status: Reviewed

#49918 [DoctrineBridge] Deprecate passing doctrine subscribers to ContainerAwareEventManager
  UPGRADE-6.3.md
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPass.php
  src/Symfony/Bridge/Doctrine/Tests/ContainerAwareEventManagerTest.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/CompilerPass/RegisterEventListenersAndSubscribersPassTest.php
Labels: Status: Reviewed, Deprecation, DoctrineBridge

#49936 [DependencyInjection] Add more precise types in `EnvVarProcessorInterface`
  src/Symfony/Component/DependencyInjection/EnvVarProcessorInterface.php
Labels: DependencyInjection, Status: Reviewed

#49953 [Serializer] Mark `ObjectNormalizer` as final for 7.0
  UPGRADE-6.3.md
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
Labels: Serializer, Status: Reviewed, Deprecation

#49881 [Validator] Throw Symfony/OutOfBounds exception instead of default one in ConstraintViolationList
  src/Symfony/Component/Validator/ConstraintViolationList.php
  src/Symfony/Component/Validator/ConstraintViolationListInterface.php
Labels: Validator, Status: Reviewed

#49839 [BrowserKit] Improve the error message when `submitForm()` can't find the form
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/BrowserKit/Tests/AbstractBrowserTest.php
Labels: BrowserKit, Status: Reviewed

#48343 [Form] [ChoiceType] Add a `placeholder_attr` option
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/foundation_5_layout.html.twig
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.txt
Labels: Form, Feature, Status: Reviewed

#49217 [Security] deprecate the $secret argument of the PersistentRememberMeHandler constructor
  UPGRADE-6.3.md
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator_remember_me.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentRememberMeHandlerTest.php
Labels: Security, Status: Reviewed, Deprecation

#49950 [Serializer] Marking some Normalizer classes as final
  UPGRADE-6.3.md
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/CustomNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateIntervalNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeZoneNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/JsonSerializableNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/PropertyNormalizer.php
Labels: Serializer, Status: Reviewed, Deprecation

#49983 [DomCrawler] Avoid passing null to substr/strrpos methods
  src/Symfony/Component/DomCrawler/Tests/UriResolverTest.php
  src/Symfony/Component/DomCrawler/UriResolver.php
Labels: Bug, DomCrawler, Status: Reviewed

#49957 [ErrorHandler] Fix sending `Vary` header with `SerializerErrorRenderer`
  src/Symfony/Component/ErrorHandler/ErrorRenderer/SerializerErrorRenderer.php
Labels: Bug, Status: Reviewed, ErrorHandler

#49993 [Serializer] fix deprecations caused by ObjectNormalizer marked as final
  src/Symfony/Component/Serializer/Tests/Fixtures/FormatAndContextAwareNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/StaticConstructorNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Status: Needs Review

#49913 [TwigBridge][TwigBundle] Add current locale to `AppVariable`
  src/Symfony/Bridge/Twig/AppVariable.php
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Tests/AppVariableTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
Labels: Feature, TwigBundle, Status: Reviewed, TwigBridge

#49997 [SecurityBundle] Set request stateless only if the attribute is not defined
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Security/FirewallMap.php
  src/Symfony/Bundle/SecurityBundle/Tests/Security/FirewallMapTest.php
Labels: Bug, SecurityBundle, Status: Needs Review

#49987 [Console] Restoring the ability to output unicode text to the Win10 console
  src/Symfony/Component/Console/Terminal.php
Labels: Console, Status: Needs Review

#49986 [Notifier] Add options to Telegram Bridge
  src/Symfony/Component/Notifier/Bridge/Telegram/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Telegram/README.md
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramOptions.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
Labels: Bug, Feature, Status: Needs Review, Notifier

#50012 Release v6.2.9
  CHANGELOG-6.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#48272 [Security] Add OidcUserInfoTokenHandler and OidcUser
  composer.json
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcUserInfoTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/ServiceTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/TokenHandlerFactoryInterface.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AccessTokenFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/SignatureAlgorithmFactory.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator_access_token.php
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Security/Factory/AccessTokenFactoryTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AccessTokenTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_oidc.yml
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/User/OidcUserTest.php
  src/Symfony/Component/Security/Core/User/AttributesBasedUserProviderInterface.php
  src/Symfony/Component/Security/Core/User/OidcUser.php
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/Http/AccessToken/Oidc/Exception/InvalidSignatureException.php
  src/Symfony/Component/Security/Http/AccessToken/Oidc/Exception/MissingClaimException.php
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcTokenHandler.php
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcTrait.php
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcUserInfoTokenHandler.php
  src/Symfony/Component/Security/Http/Authenticator/AccessTokenAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/UserBadge.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Passport.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Tests/AccessToken/Oidc/OidcTokenHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/AccessToken/Oidc/OidcUserInfoTokenHandlerTest.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Feature, Status: Needs Review

#50015 [Serializer] Fix serializer normalize attribute context
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#50010 [Serializer] Add missing return types
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Serializer/Mapping/AttributeMetadata.php
  src/Symfony/Component/Serializer/Mapping/AttributeMetadataInterface.php
  src/Symfony/Component/Serializer/Mapping/ClassMetadata.php
  src/Symfony/Component/Serializer/Mapping/ClassMetadataInterface.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizerAwareInterface.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerAwareInterface.php
  src/Symfony/Component/Serializer/SerializerAwareInterface.php
Labels: Serializer, Status: Reviewed

#49138 [HttpKernel] Create Attributes `#[MapRequestPayload]` and `#[MapQueryString]` to map Request input to typed objects
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ApiAttributesTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/ApiAttributesTest/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/ApiAttributesTest/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/ApiAttributesTest/routing.yml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/HttpKernel/Attribute/MapQueryString.php
  src/Symfony/Component/HttpKernel/Attribute/MapRequestPayload.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Exception/UnsupportedFormatException.php
  src/Symfony/Component/Serializer/Serializer.php
Labels: Feature, HttpKernel, Ready, Status: Reviewed

#50004 [HttpClient] fix proxied redirects in curl client
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Contracts/HttpClient/Test/Fixtures/web/index.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Bug, Status: Reviewed, HttpClient

#48568 [Serializer] Add Debug command
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Component/Serializer/Command/DebugCommand.php
  src/Symfony/Component/Serializer/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Serializer/Tests/Dummy/DummyClassOne.php
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Feature, Status: Reviewed

#49900 [Mailer] Allow overriding default eSMTP authenticators
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/DummyStream.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/EsmtpTransportTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
Labels: Feature, Status: Reviewed, Mailer

#50002 [VarDumper] Add missing return types
  .github/expected-missing-return-types.diff
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/DumpListenerTest.php
  src/Symfony/Component/VarDumper/Caster/ClassStub.php
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
  src/Symfony/Component/VarDumper/Caster/LinkStub.php
  src/Symfony/Component/VarDumper/Caster/StubCaster.php
  src/Symfony/Component/VarDumper/Cloner/Data.php
  src/Symfony/Component/VarDumper/Cloner/DumperInterface.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Dumper/ContextualizedDumper.php
  src/Symfony/Component/VarDumper/Dumper/DataDumperInterface.php
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
  src/Symfony/Component/VarDumper/Dumper/ServerDumper.php
  src/Symfony/Component/VarDumper/Server/Connection.php
  src/Symfony/Component/VarDumper/VarDumper.php
Labels: VarDumper, Status: Reviewed

#50006 [Serializer] Update return type for `NormalizableInterface::normalize` to match `NormalizerInterface::normalize`
  src/Symfony/Component/Serializer/Normalizer/NormalizableInterface.php
Labels: Serializer, Status: Reviewed

#49824 [Mime] Added getDispostion() to TextPart to get current content disposition.
  src/Symfony/Component/Mime/CHANGELOG.md
  src/Symfony/Component/Mime/Part/TextPart.php
Labels: Feature, Status: Reviewed, Mime

#50024 [Serializer] Fix denormalization of object with typed constructor arg (not castable) and with COLLECT_DENORMALIZATION_ERRORS
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Php74Full.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#50019 [HttpKernel] Merge PartialDenormalizationException errors and validation errors together
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: Feature, HttpKernel, Status: Reviewed

#50031 [Routing] Convert BackedEnums passed as controller action parameters to their value
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/DefaultValueController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributeFixtures/DefaultValueController.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderTestCase.php
Labels: Feature, Routing, Status: Needs Review

#50034 [Security] Fix OIDC-related test cases
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AccessTokenTest.php
  src/Symfony/Component/Security/Http/Tests/AccessToken/Oidc/OidcTokenHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/AccessToken/Oidc/OidcUserInfoTokenHandlerTest.php
Labels: Security, Status: Needs Review

#50009 [Validator] Add `value_length` parameter to `Length` constraint
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ApiAttributesTest.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/LengthValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#50036 [ErrorHandler] Don't throw deprecations for HttplugClient
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
Labels: Serializer, Status: Needs Review

#49134 [HttpKernel] Add `#[MapQueryParameter]` to map and validate individual query parameters to controller arguments
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
  src/Symfony/Component/HttpKernel/Attribute/MapQueryParameter.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/QueryParameterValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/QueryParameterValueResolverTest.php
Labels: Feature, HttpKernel, Ready, Status: Reviewed

#49009 [Form] Cast choices value callback result to string
  src/Symfony/Component/Form/ChoiceList/Loader/AbstractChoiceLoader.php
  src/Symfony/Component/Form/Tests/ChoiceList/Loader/CallbackChoiceLoaderTest.php
Labels: Form, Bug, Status: Needs Review

#48108 [PropertyAccess] Readonly properties must have no PropertyWriteInfo
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
Labels: Bug, PropertyAccess, Status: Reviewed

#49317 [Messenger] Fix warning message on failed messenger show command
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Bug, Status: Needs Review, Messenger

#48837 [Messenger] [Redis] Fixed problem where worker stops handling messages on first empty message
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisExtIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisReceiver.php
Labels: Bug, Status: Reviewed, Messenger

#50047 [VarDumper] Make the server TCP connection sync
  src/Symfony/Component/VarDumper/Server/Connection.php
Labels: Bug, VarDumper, Status: Needs Review

#50048 [PhpUnitBridge] Fix PHPUnit 10.1 compatibility
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
Labels: Bug, PhpUnitBridge, Status: Needs Review

#47505 Form field values with integer keys not resolved correctly
  src/Symfony/Component/Mime/Part/Multipart/FormDataPart.php
  src/Symfony/Component/Mime/Tests/Part/Multipart/FormDataPartTest.php
Labels: Bug, Status: Reviewed

#48886 [Console] Fix computing column width containing multibyte chars
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: Bug, Console, Status: Needs Review

#49356 [Process] Path resolution changes for PHP in the cgi-fcgi mode
  src/Symfony/Component/Process/PhpExecutableFinder.php
Labels: Bug, Process, Status: Needs Review

#48848 [HttpKernel] Tests for DataCollector
  src/Symfony/Component/HttpKernel/DataCollector/TimeDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RouterDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/TimeDataCollectorTest.php
Labels: HttpKernel, Status: Needs Review

#50041 [Notifier] Fix PagerDutyTransport
  src/Symfony/Component/Notifier/Bridge/PagerDuty/PagerDutyTransport.php
Labels: Bug, Status: Reviewed, Notifier

#50055 [Intl] Allow compressing emoji and data maps
  .github/workflows/intl-data-tests.yml
  src/Symfony/Component/Intl/CHANGELOG.md
  src/Symfony/Component/Intl/Data/Bundle/Reader/PhpBundleReader.php
  src/Symfony/Component/Intl/Resources/bin/compress
  src/Symfony/Component/Intl/Resources/emoji/build.php
  src/Symfony/Component/Intl/Transliterator/EmojiTransliterator.php
  src/Symfony/Component/Intl/Util/GzipStreamWrapper.php
Labels: Feature, Intl, Status: Reviewed

#50053 [BrowserKit][HttpClient] Update the value of some user agents to comply with the RFC 9110 specification
  UPGRADE-6.3.md
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/BrowserKit/Tests/AbstractBrowserTest.php
  src/Symfony/Component/BrowserKit/Tests/HttpBrowserTest.php
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Tests/DataCollector/HttpClientDataCollectorTest.php
Labels: Bug, BrowserKit, Status: Reviewed, HttpClient

#50017 [Validator] Fix support of Enum to `ConstraintValidator::formatValue`
  src/Symfony/Component/Validator/ConstraintValidator.php
  src/Symfony/Component/Validator/Tests/ConstraintValidatorTest.php
Labels: Validator, Bug, Status: Needs Review

#50060 [Mime] regenerate test certificates
  src/Symfony/Component/Mime/Tests/_data/ca.crt
  src/Symfony/Component/Mime/Tests/_data/ca.key
  src/Symfony/Component/Mime/Tests/_data/create-cert.sh
  src/Symfony/Component/Mime/Tests/_data/encrypt.crt
  src/Symfony/Component/Mime/Tests/_data/encrypt.key
  src/Symfony/Component/Mime/Tests/_data/encrypt2.crt
  src/Symfony/Component/Mime/Tests/_data/encrypt2.key
  src/Symfony/Component/Mime/Tests/_data/intermediate.crt
  src/Symfony/Component/Mime/Tests/_data/intermediate.key
  src/Symfony/Component/Mime/Tests/_data/sign.crt
  src/Symfony/Component/Mime/Tests/_data/sign.key
  src/Symfony/Component/Mime/Tests/_data/sign2.crt
  src/Symfony/Component/Mime/Tests/_data/sign2.key
  src/Symfony/Component/Mime/Tests/_data/sign3.crt
  src/Symfony/Component/Mime/Tests/_data/sign3.key
Labels: Status: Reviewed, Mime

#50059 [Form] Don't render seconds for HTML5 date pickers unless "with_seconds" is explicitly set
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTestCase.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToHtml5LocalDateTimeTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Extension/Core/Type/TimeType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTestCase.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToHtml5LocalDateTimeTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
  src/Symfony/Component/Form/composer.json
Labels: Form, Bug, Feature, Status: Reviewed

#50022 [DependencyInjection] Fallback to default value when autowiring undefined parameters for optional arguments
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_80.php
Labels: DependencyInjection, Bug, Status: Reviewed

#49588 [Form] Deprecate not configuring the "widget" option of date/time form types
  UPGRADE-6.3.md
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3HorizontalLayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4HorizontalLayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap4LayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5HorizontalLayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5LayoutTestCase.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/DateTimeType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/Form/Extension/Core/Type/TimeType.php
  src/Symfony/Component/Form/Tests/AbstractLayoutTestCase.php
  src/Symfony/Component/Form/Tests/Extension/Core/CoreExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BirthdayTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TimeTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/BirthdayTypeValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/DateTimeTypeValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/DateTypeValidatorExtensionTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/TimeTypeValidatorExtensionTest.php
Labels: Form, Feature, Status: Reviewed

#50061 [DependencyInjection] Fix support for inner collections when using `<bind>`
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/bindings_and_inner_collections.xml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#45721 [Serializer] Add types to private and internal properties
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AccessTokenFactory.php
  src/Symfony/Component/Form/ChoiceList/View/ChoiceGroupView.php
  src/Symfony/Component/Serializer/Annotation/Context.php
  src/Symfony/Component/Serializer/Annotation/DiscriminatorMap.php
  src/Symfony/Component/Serializer/Annotation/Groups.php
  src/Symfony/Component/Serializer/Annotation/MaxDepth.php
  src/Symfony/Component/Serializer/Annotation/SerializedName.php
  src/Symfony/Component/Serializer/CacheWarmer/CompiledClassMetadataCacheWarmer.php
  src/Symfony/Component/Serializer/Encoder/ChainDecoder.php
  src/Symfony/Component/Serializer/Encoder/ChainEncoder.php
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Encoder/JsonDecode.php
  src/Symfony/Component/Serializer/Encoder/JsonEncode.php
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Encoder/YamlEncoder.php
  src/Symfony/Component/Serializer/Exception/ExtraAttributesException.php
  src/Symfony/Component/Serializer/Exception/NotNormalizableValueException.php
  src/Symfony/Component/Serializer/Extractor/ObjectPropertyListExtractor.php
  src/Symfony/Component/Serializer/Mapping/AttributeMetadata.php
  src/Symfony/Component/Serializer/Mapping/ClassDiscriminatorFromClassMetadata.php
  src/Symfony/Component/Serializer/Mapping/ClassDiscriminatorMapping.php
  src/Symfony/Component/Serializer/Mapping/ClassMetadata.php
  src/Symfony/Component/Serializer/Mapping/ClassMetadataInterface.php
  src/Symfony/Component/Serializer/Mapping/Factory/CacheClassMetadataFactory.php
  src/Symfony/Component/Serializer/Mapping/Factory/ClassMetadataFactory.php
  src/Symfony/Component/Serializer/Mapping/Factory/CompiledClassMetadataFactory.php
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/LoaderChain.php
  src/Symfony/Component/Serializer/Mapping/Loader/XmlFileLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Serializer/NameConverter/CamelCaseToSnakeCaseNameConverter.php
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ConstraintViolationListNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DataUriNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateIntervalNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/MimeMessageNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/UnwrappingDenormalizer.php
  src/Symfony/Component/Serializer/Serializer.php
Labels: Serializer, Status: Needs Review

#49151 [HttpKernel] Collect data from every event dispatcher
  src/Symfony/Bundle/FrameworkBundle/Resources/config/collectors.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/events.html.twig
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/EventDataCollector.php
Labels: Feature, HttpKernel, Status: Needs Review, Deprecation

#49809 [HttpClient] Allow using multiple base_uri as array for retries
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
Labels: Feature, Status: Reviewed, HttpClient

#50062 [HttpClient] Improve MockHttpClient exception message
  src/Symfony/Component/HttpClient/MockHttpClient.php
  src/Symfony/Component/HttpClient/Tests/MockHttpClientTest.php
Labels: Status: Needs Review, HttpClient

#49801 [Cache] Support Redis cluster connections with predis/predis:^2.0
  composer.json
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PredisClusterSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/Lock/composer.json
  src/Symfony/Component/Semaphore/composer.json
Labels: Feature, Status: Needs Review, Cache

#50029 [HttpKernel] Enhance MapRequestPayload adding format and validation group
  src/Symfony/Component/HttpKernel/Attribute/MapRequestPayload.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: Feature, HttpKernel, Ready, Status: Reviewed

#50044 [HttpClient] Add `JsonMockResponse`
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Response/JsonMockResponse.php
  src/Symfony/Component/HttpClient/Tests/Response/JsonMockResponseTest.php
Labels: Feature, Status: Needs Review, HttpClient

#50040 [Translation] Crowdin Bridge: Fix locale vs LanguageId
  src/Symfony/Component/Translation/Bridge/Crowdin/CrowdinProvider.php
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderTest.php
Labels: Bug, Translation, Status: Reviewed

#50069 [Security] Added error code to `UserPassword` constraint
  src/Symfony/Component/Security/Core/Tests/Validator/Constraints/UserPasswordValidatorTestCase.php
  src/Symfony/Component/Security/Core/Validator/Constraints/UserPassword.php
  src/Symfony/Component/Security/Core/Validator/Constraints/UserPasswordValidator.php
Labels: Security, Feature, Status: Reviewed

#50072 [HttpClient] Fix global state preventing two CurlHttpClient instances from working together
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, Status: Needs Review, HttpClient

#50070 [RemoteEvent] Cleanup some leftover
  src/Symfony/Component/Webhook/Client/RequestParser.php
Labels: Status: Reviewed, RemoteEvent

#49911 [HttpClient] Support file uploads by nesting resource streams in `body` option
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
Labels: Feature, Ready, Status: Reviewed, HttpClient

#49966 [Security] Create Controller Argument Resolver for Security Token
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Controller/SecurityTokenValueResolver.php
  src/Symfony/Component/Security/Http/Tests/Controller/SecurityTokenValueResolverTest.php
Labels: Security, Feature, Ready, Status: Reviewed

#49614 [HttpFoundation] add `Request::getPayload()`
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Feature, HttpFoundation, Ready, Status: Reviewed

#49851 [Workflow] Adding PHP docs return types
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Workflow/Event/Event.php
  src/Symfony/Component/Workflow/MarkingStore/MarkingStoreInterface.php
  src/Symfony/Component/Workflow/Metadata/GetMetadataTrait.php
  src/Symfony/Component/Workflow/Metadata/MetadataStoreInterface.php
  src/Symfony/Component/Workflow/Tests/Dumper/GraphvizDumperTest.php
  src/Symfony/Component/Workflow/Tests/Dumper/MermaidDumperTest.php
  src/Symfony/Component/Workflow/Tests/Dumper/PlantUmlDumperTest.php
  src/Symfony/Component/Workflow/Tests/EventListener/GuardListenerTest.php
  src/Symfony/Component/Workflow/Tests/MarkingStore/MethodMarkingStoreTest.php
  src/Symfony/Component/Workflow/Tests/RegistryTest.php
  src/Symfony/Component/Workflow/Tests/Subject.php
  src/Symfony/Component/Workflow/Tests/SupportStrategy/InstanceOfSupportStrategyTest.php
  src/Symfony/Component/Workflow/Tests/WorkflowBuilderTrait.php
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
  src/Symfony/Component/Workflow/Validator/DefinitionValidatorInterface.php
Labels: Status: Reviewed, Workflow

#50080 [HttpFoundation] Add note on Request::getPayload()
  src/Symfony/Component/HttpFoundation/Request.php
Labels: HttpFoundation, Status: Reviewed

#50082 [HttpKernel] Enhance MapQueryString adding validation group
  src/Symfony/Component/HttpKernel/Attribute/MapQueryString.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#50086 [VarExporter] Fix forwarding references to proxied classes
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/Redis5Proxy.php
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster5Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6Proxy.php
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/VarExporter/ProxyHelper.php
  src/Symfony/Component/VarExporter/Tests/ProxyHelperTest.php
Labels: Bug, Status: Needs Review, VarExporter

#50087 [Config] Improve GlobResource performance
  src/Symfony/Component/Config/Resource/GlobResource.php
Labels: Config, Status: Reviewed

#50092 [Security] Fix return type of AuthenticationSuccessHandlerInterface::onAuthenticationSuccess()
  src/Symfony/Component/Security/Http/Authentication/AuthenticationSuccessHandlerInterface.php
Labels: Security, Bug, Status: Reviewed

#50091 Fix the semaphore tests
  src/Symfony/Component/Semaphore/Tests/SemaphoreFactoryTest.php
Labels: Status: Reviewed

#50099 [Cache] Fix success interpretation when pruning cache
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Cache/Traits/FilesystemTrait.php
Labels: Security, Bug, Status: Reviewed

#50103 [Webhook] Rename AbstractRequestParserTest
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Webhook/MailgunRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Webhook/PostmarkRequestParserTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/Webhook/TwilioRequestParserTest.php
  src/Symfony/Component/Webhook/Test/AbstractRequestParserTestCase.php
Labels: Status: Reviewed, Webhook

#50097 Fix tests for the Lock component
  src/Symfony/Component/Lock/Tests/LockFactoryTest.php
  src/Symfony/Component/Lock/Tests/LockTest.php
Labels: Status: Reviewed

#50101 [DependencyInjection] Fix support for empty env vars
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#50104 [Contracts] Rename ServiceLocatorTest
  src/Symfony/Component/DependencyInjection/Tests/ServiceLocatorTest.php
  src/Symfony/Contracts/Service/Test/ServiceLocatorTest.php
  src/Symfony/Contracts/Service/Test/ServiceLocatorTestCase.php
Labels: Bug, Status: Reviewed, Contracts

#49832 [Serializer] Fix MissingConstructorArgumentsException returning missing argument one by one
  UPGRADE-6.3.md
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Exception/MissingConstructorArgumentException.php
  src/Symfony/Component/Serializer/Exception/MissingConstructorArgumentsException.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ConstructorArgumentsTestTrait.php
Labels: Serializer, Bug, Status: Needs Review

#50089 [DependencyInjection] More predictable EnvVarProcessor CSV empty string parsing
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: DependencyInjection, Status: Needs Review

#50106 [BrowserKit][HttpClient] [BrowserKit, HttpClient] Minor updates in the default user agents
  UPGRADE-6.3.md
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/BrowserKit/Tests/AbstractBrowserTest.php
  src/Symfony/Component/BrowserKit/Tests/HttpBrowserTest.php
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Tests/DataCollector/HttpClientDataCollectorTest.php
Labels: Bug, BrowserKit, Status: Needs Review, HttpClient

#50074 [Cache] Send Predis SSL options in the $hosts parameter
  src/Symfony/Component/Cache/Tests/Adapter/PredisAdapterTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Reviewed, Cache

#50110 [Console] Fix the usage of the zsh completion through the fpath discovery
  src/Symfony/Component/Console/Command/DumpCompletionCommand.php
  src/Symfony/Component/Console/Resources/completion.zsh
Labels: Bug, Console, Status: Reviewed

#50113 [Scheduler] add basic `SchedulerTest`
  src/Symfony/Component/Scheduler/Tests/SchedulerTest.php
Labels: Status: Reviewed, Scheduler

#50111 Fix the list of supported shells for completions in a phar
  src/Symfony/Component/Console/Command/DumpCompletionCommand.php
Labels: Bug, Status: Reviewed

#49439 Add CI check ensuring interfaces have return types
  .github/expected-missing-return-types.diff
  .github/patch-types.php
  .github/workflows/unit-tests.yml
  src/Symfony/Component/Console/Output/OutputInterface.php
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationMapperInterface.php
  src/Symfony/Component/Intl/Data/Bundle/Compiler/BundleCompilerInterface.php
  src/Symfony/Component/Intl/Data/Bundle/Writer/BundleWriterInterface.php
  src/Symfony/Component/Ldap/Adapter/ConnectionInterface.php
  src/Symfony/Component/Ldap/LdapInterface.php
  src/Symfony/Component/Mime/Header/HeaderInterface.php
  src/Symfony/Component/PropertyAccess/PropertyAccessorInterface.php
  src/Symfony/Component/Routing/Generator/ConfigurableRequirementsInterface.php
  src/Symfony/Component/Routing/RequestContextAwareInterface.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizableInterface.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Dummy.php
  src/Symfony/Component/Templating/Helper/HelperInterface.php
  src/Symfony/Component/Templating/StreamingEngineInterface.php
  src/Symfony/Component/Templating/Tests/DelegatingEngineTest.php
  src/Symfony/Component/Translation/CatalogueMetadataAwareInterface.php
Labels: Status: Reviewed

#50114 [Serializer] Fix tests
  src/Symfony/Component/Serializer/Tests/Fixtures/DenormalizableDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/NormalizableTraversableDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/ScalarDummy.php
Labels: Serializer, Status: Reviewed

#50119 [DependencyInjection] Fix code generating lazy closures
  src/Symfony/Component/DependencyInjection/Argument/LazyClosure.php
  src/Symfony/Component/DependencyInjection/composer.json
Labels: DependencyInjection, Bug, Status: Needs Review

#50115 [FrameworkBundle] Make service edges unique
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#50116 [Scheduler] add @kbond to CODEOWNERS
  .github/CODEOWNERS
Labels: Status: Needs Review, Scheduler

#50117 [Scheduler] fix brittle test
  src/Symfony/Component/Scheduler/Tests/SchedulerTest.php
Labels: Status: Needs Review, Scheduler

#50123 [HttpClient] Adjust `JsonMockResponse` exception
  src/Symfony/Component/HttpClient/Response/JsonMockResponse.php
Labels: Status: Needs Review, HttpClient

#50126 [Form] Move `*LayoutTestCase` classes to Twig bridge
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractDivLayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractLayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractTableLayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionDivLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionTableLayoutTest.php
Labels: Form, Status: Reviewed

#50066 [Dumper] Trim leading newlines when checking if value begins with a space
  src/Symfony/Component/Yaml/Dumper.php
  src/Symfony/Component/Yaml/Tests/DumperTest.php
Labels: Bug, Status: Reviewed

#49863 [Scheduler] have `TriggerInterface` extend `\Stringable`
  src/Symfony/Component/Scheduler/Tests/Generator/MessageGeneratorTest.php
  src/Symfony/Component/Scheduler/Trigger/CallbackTrigger.php
  src/Symfony/Component/Scheduler/Trigger/CronExpressionTrigger.php
  src/Symfony/Component/Scheduler/Trigger/DatePeriodTrigger.php
  src/Symfony/Component/Scheduler/Trigger/ExcludeTimeTrigger.php
  src/Symfony/Component/Scheduler/Trigger/TriggerInterface.php
Labels: Feature, Status: Reviewed, Scheduler

#50130 [Scheduler] Make `MessageGenerator` yield some scheduling context
  src/Symfony/Component/Scheduler/Generator/MessageContext.php
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/Generator/MessageGeneratorInterface.php
  src/Symfony/Component/Scheduler/Messenger/ScheduledStamp.php
  src/Symfony/Component/Scheduler/Messenger/SchedulerTransport.php
  src/Symfony/Component/Scheduler/Tests/Generator/MessageGeneratorTest.php
  src/Symfony/Component/Scheduler/Tests/Messenger/SchedulerTransportTest.php
Labels: Feature, Status: Reviewed, Scheduler

#50132 [Scheduler] Add the possibility to override the default CallbackTrigger description
  src/Symfony/Component/Scheduler/Tests/Trigger/CallbackTriggerTest.php
  src/Symfony/Component/Scheduler/Trigger/CallbackTrigger.php
Labels: Feature, Status: Reviewed, Scheduler

#50121 Add remaining missing return types to safe methods
  .github/expected-missing-return-types.diff
  src/Symfony/Bridge/Monolog/Handler/NotifierHandler.php
  src/Symfony/Bridge/Monolog/Handler/ServerLogHandler.php
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/Command/LintCommand.php
  src/Symfony/Bridge/Twig/Extension/WorkflowExtension.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/SecurityBundle/Debug/TraceableListenerTrait.php
  src/Symfony/Bundle/WebProfilerBundle/Csp/ContentSecurityPolicyHandler.php
  src/Symfony/Component/Cache/LockRegistry.php
  src/Symfony/Component/Cache/Marshaller/DefaultMarshaller.php
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Cache/Traits/ContractsTrait.php
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
  src/Symfony/Component/Console/Descriptor/Descriptor.php
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/DependencyInjection/Compiler/RegisterAutoconfigureAttributesPass.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ExpressionLanguage/Node/ConditionalNode.php
  src/Symfony/Component/ExpressionLanguage/Node/FunctionNode.php
  src/Symfony/Component/ExpressionLanguage/Node/UnaryNode.php
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Response/CommonResponseTrait.php
  src/Symfony/Component/Intl/Data/Generator/AbstractDataGenerator.php
  src/Symfony/Component/Intl/Data/Util/ArrayAccessibleResourceBundle.php
  src/Symfony/Component/Intl/Data/Util/RecursiveArrayAccess.php
  src/Symfony/Component/Mailer/Transport/Dsn.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineTransportFactoryTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/PostgreSqlConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Handler/HandlerDescriptor.php
  src/Symfony/Component/Messenger/Transport/Serialization/PhpSerializer.php
  src/Symfony/Component/Mime/Header/Headers.php
  src/Symfony/Component/Notifier/Transport/Dsn.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/RateLimiter/Policy/Window.php
  src/Symfony/Component/Routing/CompiledRoute.php
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Http/Authenticator/JsonLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Event/LazyResponseEvent.php
  src/Symfony/Component/Security/Http/Firewall/AccessListener.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php
  src/Symfony/Component/Translation/Provider/Dsn.php
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tag/TaggedValue.php
Labels: Status: Reviewed

#50139 Check if trace.curlCommand is defined in profiler
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/http_client.html.twig
Labels: Bug, Status: Needs Review

#50133 [Validator] Update the name of a password strength level
  src/Symfony/Component/Validator/Constraints/PasswordStrength.php
  src/Symfony/Component/Validator/Constraints/PasswordStrengthValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/PasswordStrengthValidatorTest.php
Labels: Validator, Status: Reviewed

#50143 [Console] trim(): Argument #1 () must be of type string, bool given
  src/Symfony/Component/Console/Terminal.php
Labels: Bug, Console, Status: Reviewed

#50155 [Scheduler] add schedule name to `MessageContext`
  src/Symfony/Component/Scheduler/Generator/MessageContext.php
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/Messenger/SchedulerTransportFactory.php
  src/Symfony/Component/Scheduler/Tests/Messenger/SchedulerTransportTest.php
Labels: Feature, Status: Reviewed, Scheduler

#50163 [HttpClient] Add PSR-18 to HttplugClient since HTTPlug is deprecated
  src/Symfony/Component/HttpClient/HttplugClient.php
Labels: Status: Reviewed, :snowflake: Feature Freeze, HttpClient

#50172 [Notifier] Remove strict_types=1 from test
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramOptionsTest.php
Labels: Status: Needs Review, Notifier

#50175 [Scheduler] Fix CallbackTriggerTest fail on AppVeyor
  src/Symfony/Component/Scheduler/Tests/Trigger/CallbackTriggerTest.php
Labels: Status: Reviewed, Scheduler

#50174 [Contracts] Fix ServiceLocatorTestCase name
  src/Symfony/Contracts/Service/Test/ServiceLocatorTestCase.php
Labels: Bug, Status: Reviewed, Contracts

#50166 [Mime] Fix method name in Changelog
  src/Symfony/Component/Mime/CHANGELOG.md
Labels: Status: Reviewed, Mime

#50187 Release v5.4.23
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#50189 Release v6.2.10
  CHANGELOG-6.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#50138 [DependencyInjection][DomCrawler][ExpressionLanguage][Filesystem][Form] Add missing return types
  .github/expected-missing-return-types.diff
  src/Symfony/Component/DependencyInjection/Argument/ReferenceSetArgumentTrait.php
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Extension/Extension.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/ParameterBag/FrozenParameterBag.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_deprecated_parameters_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
  src/Symfony/Component/DomCrawler/AbstractUriElement.php
  src/Symfony/Component/DomCrawler/Field/FormField.php
  src/Symfony/Component/ExpressionLanguage/Compiler.php
  src/Symfony/Component/ExpressionLanguage/Node/Node.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/SerializedParsedExpression.php
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Form/AbstractType.php
  src/Symfony/Component/Form/ButtonBuilder.php
  src/Symfony/Component/Form/Extension/Core/DataAccessor/PropertyPathAccessor.php
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/Form/Extension/Core/Type/FileType.php
  src/Symfony/Component/Form/Extension/Core/Type/MoneyType.php
  src/Symfony/Component/Form/Extension/Validator/ViolationMapper/ViolationPathIterator.php
Labels: Form, DependencyInjection, DomCrawler, Filesystem, ExpressionLanguage, Status: Reviewed, :snowflake: Feature Freeze
