Repository symfony/symfony, pull requests merged in 2023-07, with the labels that each got.

#50841 Readme: Replace Stack Overflow with GitHub Discussions
  README.md
Labels: Status: Reviewed

#50849 [WebProfilerBundle] Fix minify test after JS refactor
  src/Symfony/Bundle/WebProfilerBundle/Tests/Resources/MinifyTest.php
Labels: WebProfilerBundle, Status: Needs Review

#50837 [DependencyInjection] Fix autocasting null env values to empty string
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#50838 [DoctrineBridge] Remove outdated comment
  src/Symfony/Bridge/Doctrine/Form/ChoiceList/DoctrineChoiceLoader.php
Labels: Status: Reviewed, DoctrineBridge

#50770 [TwigBridge] Allow to change element for `form_help` block
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
Labels: Feature, Status: Reviewed, TwigBridge

#50855 [FrameworkBundle] fix tests
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerResolverTest.php
Labels: FrameworkBundle, Status: Needs Review

#50839 Remove BC layers related to new methods and new parameters
  .github/expected-missing-return-types.diff
  UPGRADE-7.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandTest.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Input/InputInterface.php
  src/Symfony/Component/Console/Tests/EventListener/ErrorListenerTest.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/DumperInterface.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/Filesystem/CHANGELOG.md
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolverInterface.php
  src/Symfony/Component/HttpKernel/Controller/TraceableArgumentResolver.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactoryInterface.php
  src/Symfony/Component/HttpKernel/Tests/Controller/TraceableArgumentResolverTest.php
  src/Symfony/Component/PropertyAccess/CHANGELOG.md
  src/Symfony/Component/PropertyAccess/PropertyPathInterface.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Passport.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/LoginLink/LoginLinkHandlerInterface.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerInterface.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/ConstraintViolationInterface.php
  src/Symfony/Component/Validator/ConstraintViolationListInterface.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilderInterface.php
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/VarDumper.php
  src/Symfony/Contracts/HttpClient/Test/TestHttpServer.php
Labels: Status: Reviewed

#50865 [VarDumper] enforce UTC timezone in test
  src/Symfony/Component/VarDumper/Tests/Caster/DateCasterTest.php
Labels: VarDumper, Status: Reviewed

#50868 [SecurityBundle] Deprecate `Security::*` consts and other cleanups
  .github/patch-types.php
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Component/Security/Core/Security.php
Labels: Feature, SecurityBundle, Status: Reviewed

#50859 [Security] Remove ArgumentValueResolverInterface from UserValueResolver
  src/Symfony/Component/Security/Http/Controller/UserValueResolver.php
Labels: Security, Status: Needs Review

#50862 [HttpClient] Remove implementing `Http\Message\RequestFactory` from `HttplugClient`
  UPGRADE-7.0.md
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Internal/LegacyHttplugInterface.php
  src/Symfony/Component/HttpClient/composer.json
Labels: Status: Needs Review, HttpClient

#50866 [Security] Remove deprecated code paths
  .github/expected-missing-return-types.diff
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FormLoginFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AuthenticatorTest.php
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Ldap/Security/LdapBadge.php
  src/Symfony/Component/Ldap/Security/LdapUser.php
  src/Symfony/Component/Ldap/Security/LdapUserProvider.php
  src/Symfony/Component/Ldap/Tests/Security/CheckLdapCredentialsListenerTest.php
  src/Symfony/Component/Ldap/composer.json
  src/Symfony/Component/Security/Core/Authentication/Token/Storage/TokenStorage.php
  src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/Storage/TokenStorageTest.php
  src/Symfony/Component/Security/Core/Tests/SecurityTest.php
  src/Symfony/Component/Security/Core/User/ChainUserProvider.php
  src/Symfony/Component/Security/Core/User/InMemoryUserProvider.php
  src/Symfony/Component/Security/Http/Authenticator/JsonLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/Token/PostAuthenticationToken.php
  src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/JsonLoginAuthenticatorTest.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Feature, Status: Needs Review

#50858 [HttpKernel] Remove deprecated code paths
  UPGRADE-7.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/BackedEnumValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/DateTimeValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/DefaultValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/NotTaggedControllerValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestAttributeValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/ServiceValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/SessionValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/TraceableValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/UidValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/VariadicValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentValueResolverInterface.php
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/EventListener/StreamedResponseListener.php
  src/Symfony/Component/HttpKernel/HttpCache/AbstractSurrogate.php
  src/Symfony/Component/HttpKernel/HttpCache/HttpCache.php
  src/Symfony/Component/HttpKernel/HttpKernelInterface.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/BackedEnumValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/DateTimeValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/NotTaggedControllerValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/ServiceValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/TraceableValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/UidValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpKernelTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/Security/Http/Controller/UserValueResolver.php
  src/Symfony/Component/Security/Http/Tests/Controller/UserValueResolverTest.php
Labels: Feature, HttpKernel, Status: Needs Review

#50872 document BC breaking changes
  UPGRADE-6.4.md
  src/Symfony/Component/ErrorHandler/CHANGELOG.md
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/Security/Http/CHANGELOG.md
Labels: Status: Needs Review

#50878 [6.4] Fix remainings from previous deprecations
  UPGRADE-6.4.md
  src/Symfony/Bridge/Doctrine/Tests/Middleware/Debug/MiddlewareTest.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Messenger/EarlyExpirationHandler.php
  src/Symfony/Component/Config/Tests/Resource/ReflectionClassResourceTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Fixtures/long_receiver.php
Labels: Status: Needs Review

#50869 [Mime] remove deprecated methods in Mime Component
  UPGRADE-7.0.md
  src/Symfony/Component/Mime/CHANGELOG.md
  src/Symfony/Component/Mime/Email.php
  src/Symfony/Component/Mime/Message.php
Labels: Status: Reviewed, Deprecation, Mime

#50853 [Security] `random_bytes` length should be an int greater than 7
  src/Symfony/Component/Security/Csrf/Tests/TokenGenerator/UriSafeTokenGeneratorTest.php
  src/Symfony/Component/Security/Csrf/TokenGenerator/UriSafeTokenGenerator.php
Labels: Security, Bug, Status: Reviewed

#50870 Add more details to the UPGRADE guide
  UPGRADE-7.0.md
Labels: Status: Reviewed

#50881 [Messenger] Fix passing options set via tags to handler descriptors
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Tests/Transport/SendinblueApiTransportTest.php
  src/Symfony/Component/Messenger/DependencyInjection/MessengerPass.php
  src/Symfony/Component/Messenger/Tests/DependencyInjection/MessengerPassTest.php
Labels: Bug, Status: Needs Review, Messenger

#50818 [Scheduler] Fix `PeriodicalTrigger` from argument for stateful run dates
  src/Symfony/Component/Scheduler/Tests/Trigger/PeriodicalTriggerTest.php
  src/Symfony/Component/Scheduler/Trigger/PeriodicalTrigger.php
Labels: Bug, Status: Reviewed, Scheduler

#50842 Add missing return types to magic methods
  .github/expected-missing-return-types.diff
  .github/patch-types.php
  src/Symfony/Bridge/Monolog/Handler/ElasticsearchLogstashHandler.php
  src/Symfony/Bundle/SecurityBundle/Debug/WrappedListener.php
  src/Symfony/Bundle/SecurityBundle/Security/LazyFirewallContext.php
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Cache/Messenger/EarlyExpirationDispatcher.php
  src/Symfony/Component/Cache/Messenger/EarlyExpirationHandler.php
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
  src/Symfony/Component/Cache/Traits/ValueWrapper.php
  src/Symfony/Component/Config/Resource/ClassExistenceResource.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/AbstractConfigurator.php
  src/Symfony/Component/DependencyInjection/ServiceLocator.php
  src/Symfony/Component/ErrorHandler/BufferingLogger.php
  src/Symfony/Component/Form/Util/OrderedHashMapIterator.php
  src/Symfony/Component/HttpClient/Chunk/ErrorChunk.php
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Response/CommonResponseTrait.php
  src/Symfony/Component/HttpClient/Response/TraceableResponse.php
  src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php
  src/Symfony/Component/Lock/Lock.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/PostgreSqlConnection.php
  src/Symfony/Component/Messenger/Handler/RedispatchMessageHandler.php
  src/Symfony/Component/Mime/Part/DataPart.php
  src/Symfony/Component/Mime/Part/MessagePart.php
  src/Symfony/Component/Mime/Part/TextPart.php
  src/Symfony/Component/Process/Pipes/UnixPipes.php
  src/Symfony/Component/Process/Pipes/WindowsPipes.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Routing/Loader/Configurator/CollectionConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/ImportConfigurator.php
  src/Symfony/Component/Security/Http/Authenticator/Debug/TraceableAuthenticator.php
  src/Symfony/Component/Security/Http/Firewall/AbstractListener.php
  src/Symfony/Component/Semaphore/Semaphore.php
  src/Symfony/Component/String/UnicodeString.php
  src/Symfony/Component/Translation/DataCollectorTranslator.php
  src/Symfony/Component/Translation/LoggingTranslator.php
  src/Symfony/Component/Validator/Constraint.php
  src/Symfony/Component/Validator/Constraints/File.php
  src/Symfony/Component/VarDumper/Cloner/Data.php
Labels: Status: Reviewed, Deprecation

#50889 [Security] Add native return type to `Firewall::getSubscribedEvents()`
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Firewall.php
Labels: Security, Status: Needs Review

#50884 [Finder] Fix initial directory is opened twice
  src/Symfony/Component/Finder/Iterator/RecursiveDirectoryIterator.php
  src/Symfony/Component/Finder/Tests/Iterator/RecursiveDirectoryIteratorTest.php
Labels: Bug, Finder, Status: Needs Review

#50890 Add native return types to fix compat with v7
  .github/expected-missing-return-types.diff
  .github/patch-types.php
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Logger.php
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Debug/TraceableEventDispatcher.php
  src/Symfony/Component/HttpKernel/DependencyInjection/MergeExtensionConfigurationPass.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
Labels: Status: Needs Review

#50902 [DomCrawler][HttpFoundation] Add planned arguments to Crawler::innerText() and sendHeaders() methods
  UPGRADE-7.0.md
  src/Symfony/Component/DomCrawler/CHANGELOG.md
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
Labels: HttpFoundation, DomCrawler, Status: Needs Review

#50905 [DepdencyInjection] Fix costly logic when checking errored definitions
  src/Symfony/Component/DependencyInjection/Compiler/DefinitionErrorExceptionPass.php
Labels: Bug, Status: Needs Review

#50885 [Finder] Fix children condition in ExcludeDirectoryFilterIterator
  src/Symfony/Component/Finder/Iterator/ExcludeDirectoryFilterIterator.php
Labels: Bug, Finder, Status: Needs Review

#50813 [DoctrineBridge] Load refreshed user proxy
  src/Symfony/Bridge/Doctrine/Security/User/EntityUserProvider.php
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#50804 [Serializer] Fix Normalizer not utilizing converted name for index variadic param
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#50729 [CssSelector] Tests on Xpath translator will always pass
  src/Symfony/Component/CssSelector/Tests/XPath/Fixtures/ids.html
  src/Symfony/Component/CssSelector/Tests/XPath/TranslatorTest.php
Labels: Bug, CssSelector, Status: Needs Review

#50595 [DependencyInjection] Don't ignore attributes on the actual decorator
  src/Symfony/Component/DependencyInjection/Compiler/ResolveInstanceofConditionalsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveInstanceofConditionalsPassTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#50582 [Security/Http] Fix false-string handling in `RememberMeAuthenticator`
  src/Symfony/Component/Security/Http/Authenticator/RememberMeAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/RememberMeAuthenticatorTest.php
Labels: Bug, Status: Needs Review

#47252 [PhpUnitBridge] Use triggering class to generate baseline for deprecation messages from DebugClassLoader
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/ConfigurationTest.php
Labels: Bug, PhpUnitBridge, Status: Needs Review

#50475 [FrameworkBundle] Prevent `cache:clear` to lose files on subsequent runs
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#50893 [Notifier] Fix Esendex messages serialization
  src/Symfony/Component/Notifier/Bridge/Esendex/EsendexTransport.php
  src/Symfony/Component/Notifier/Bridge/Esendex/Tests/EsendexTransportTest.php
Labels: Bug, Status: Reviewed, Notifier

#50200 [Mailer] Adds `assertEmailSubjectContains` and `assertEmailSubjectNotContains` methods
  src/Symfony/Bundle/FrameworkBundle/Test/MailerAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/MailerTest.php
  src/Symfony/Component/Mime/Test/Constraint/EmailSubjectContains.php
Labels: Bug, Feature, Status: Reviewed, Deprecation, Mailer

#50148 [Mailer] Add X-Infobip-Track header to be able to disable tracking
  src/Symfony/Component/Mailer/Bridge/Infobip/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Infobip/Transport/InfobipApiTransport.php
Labels: Feature, Status: Reviewed, Mailer

#50916 [Mailer] Remove the Sendinblue bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/.gitattributes
  src/Symfony/Component/Mailer/Bridge/Sendinblue/.gitignore
  src/Symfony/Component/Mailer/Bridge/Sendinblue/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Sendinblue/LICENSE
  src/Symfony/Component/Mailer/Bridge/Sendinblue/README.md
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Tests/Transport/SendinblueApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Tests/Transport/SendinblueTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Transport/SendinblueApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Transport/SendinblueSmtpTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Transport/SendinblueTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendinblue/phpunit.xml.dist
  src/Symfony/Component/Mailer/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Mailer/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Mailer/Transport.php
Labels: Feature, Status: Needs Review, Mailer

#50915 [Mailer] Fix Brevo transport factory registration
  src/Symfony/Component/Mailer/Transport.php
Labels: Bug, Status: Needs Review, Mailer

#50918 FrameworkBundle] Fix tests
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Status: Needs Review

#50807 [HttpClient] Add an HAR response factory for testing
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Test/HarFileResponseFactory.php
  src/Symfony/Component/HttpClient/Tests/Fixtures/har/graphql.github.io_archive.har
  src/Symfony/Component/HttpClient/Tests/Fixtures/har/invalid_archive.har
  src/Symfony/Component/HttpClient/Tests/Fixtures/har/symfony.com_archive.har
  src/Symfony/Component/HttpClient/Tests/Test/HarFileResponseFactoryTest.php
Labels: Feature, Status: Reviewed, HttpClient

#50420 [Console] add support for catching `\Throwable` errors
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Feature, Console, Status: Reviewed

#50954 [PhpUnitBridge] Kill the last concurrent process when it stales for more than 60s
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: PhpUnitBridge, Status: Reviewed

#50943 [Intl] Taking into account bibliographic + overlong
  src/Symfony/Component/Intl/Data/Generator/LanguageDataGenerator.php
  src/Symfony/Component/Intl/Resources/bin/update-data.php
  src/Symfony/Component/Intl/Resources/data/languages/meta.php
  src/Symfony/Component/Intl/Tests/LanguagesTest.php
Labels: Bug, Intl, Status: Reviewed

#50960 [VarDumper] Fix dumping `ArrayObject` with `DumpDataCollector`
  src/Symfony/Component/VarDumper/Caster/SplCaster.php
  src/Symfony/Component/VarDumper/Dumper/ContextProvider/SourceContextProvider.php
  src/Symfony/Component/VarDumper/Tests/Caster/SplCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/functions/dump_data_collector_with_spl_array.phpt
  src/Symfony/Component/VarDumper/composer.json
  src/Symfony/Component/VarDumper/phpunit.xml.dist
Labels: Bug, VarDumper, Status: Reviewed

#50295 [PropertyAccess] Auto-cast from/to DateTime/Immutable when appropriate
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/TypeHinted.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
Labels: Feature, PropertyAccess, Ready, Status: Reviewed

#50727 [DependencyInjection] Make better use of memory and CPU during auto-discovery
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
Labels: DependencyInjection, Ready, Status: Reviewed, Performance

#50718 [DependencyInjection] Improve reporting named autowiring aliases
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/DebugAutowiringCommandTest.php
  src/Symfony/Component/DependencyInjection/Attribute/Target.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/WithTargetAnonymous.php
  src/Symfony/Component/Workflow/WorkflowInterface.php
Labels: DependencyInjection, Feature, Ready, Status: Reviewed

#50883 [TwigBundle] Allow omitting the `autoescape_service_method` option when `autoescape_service` is set to an invokable service id
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
Labels: Feature, TwigBundle, Status: Reviewed

#50290 [Security] Make `PersistentToken` immutable and tell `TokenProviderInterface::updateToken()` implementations should accept `DateTimeInterface`
  UPGRADE-6.4.md
  src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php
  src/Symfony/Bridge/Doctrine/Tests/Security/RememberMe/DoctrineTokenProviderTest.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Security/Core/Authentication/RememberMe/InMemoryTokenProvider.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/PersistentToken.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/PersistentTokenInterface.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/TokenProviderInterface.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authentication/RememberMe/CacheTokenVerifierTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/RememberMe/InMemoryTokenProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/RememberMe/PersistentTokenTest.php
  src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentRememberMeHandlerTest.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Ready, Status: Reviewed

#49070 [RateLimiter] fix incorrect retryAfter of FixedWindow
  src/Symfony/Component/RateLimiter/Policy/FixedWindowLimiter.php
  src/Symfony/Component/RateLimiter/Policy/Window.php
  src/Symfony/Component/RateLimiter/Tests/Policy/FixedWindowLimiterTest.php
Labels: Bug, Status: Reviewed, RateLimiter

#50944 [FrameworkBundle] Add missing monolog channel tag to the `messenger:failed:retry` command
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#50937 [Form] fetch all known ChoiceType values at once
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
Labels: Form, Bug, Status: Reviewed

#50913 [HttpKernel][WebProfilerBundle] Fix search feature
  src/Symfony/Component/HttpKernel/Profiler/FileProfilerStorage.php
Labels: Bug, HttpKernel, WebProfilerBundle, Status: Needs Review

#50945 [DebugBundle][FrameworkBundle] Fix using the framework without the Console component
  src/Symfony/Bundle/DebugBundle/DependencyInjection/DebugExtension.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, DebugBundle, Status: Needs Review

#50935 [Validator] Do not mock metadata factory on debug command tests
  src/Symfony/Component/Validator/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Validator/Tests/Dummy/DummyClassOne.php
  src/Symfony/Component/Validator/Tests/Dummy/DummyClassTwo.php
Labels: Validator, Status: Needs Review

#50921 [Finder] Fix phpdoc about glob syntax
  src/Symfony/Component/Finder/Finder.php
Labels: Bug, Finder, Status: Needs Review

#50552 [Security] Allow custom scheme to be used as redirection URIs
  src/Symfony/Component/Security/Http/HttpUtils.php
  src/Symfony/Component/Security/Http/Tests/HttpUtilsTest.php
Labels: Security, Bug, Status: Reviewed

#50968 [PropertyAccess] Fix access to undefined "file" key when checking stack frames
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
Labels: Bug, PropertyAccess, Status: Needs Review

#50988 [DependencyInjection] Run the `ResolveFactoryClassPass` when `lint:container` builds the container from a dump
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
Labels: DependencyInjection, Bug, Status: Reviewed

#50994 [ErrorHandler][Runtime] Don't mess with ini_set('assert.warning')
  src/Symfony/Component/ErrorHandler/Debug.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
  src/Symfony/Component/Runtime/Internal/BasicErrorHandler.php
Labels: Bug, Status: Needs Review, ErrorHandler, Runtime

#50985 [DependencyInjection] Fix fetching lazy non-shared services multiple times
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_public.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither_lazy_non_shared.php
Labels: DependencyInjection, Bug, Status: Needs Review

#50996 [DependencyInjection] Fix fetching lazy non-shared services multiple times with as files `true`
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_non_shared_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_lazy_public.php
Labels: DependencyInjection, Bug, Status: Needs Review

#51000 [WebProfilerBundle] Fix error in case of 'Content-Type' set null in dev environment with no debug
  src/Symfony/Bundle/WebProfilerBundle/EventListener/WebDebugToolbarListener.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/EventListener/WebDebugToolbarListenerTest.php
Labels: Bug, WebProfilerBundle, Status: Reviewed

#51015 [Form] Remove duplicated `attr` option in FormType
  src/Symfony/Component/Form/Extension/Core/Type/FormType.php
Labels: Form, Status: Reviewed

#50997 [Messenger] Deprecate `StopWorkerOnSignalsListener`
  UPGRADE-6.4.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnSignalsListener.php
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnSigtermSignalListener.php
Labels: Status: Needs Review, Deprecation, Messenger

#51031 Fix deprecations on PHP 8.3
  src/Symfony/Component/Console/Tests/TerminalTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterAutoconfigureAttributesPassTest.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Needs Review

#51032 [HttpFoundation][HttpKernel] Fix deprecations when `Content-Type` is `null`
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/DumpDataCollectorTest.php
Labels: Bug, HttpFoundation, HttpKernel, Status: Needs Review

#51017 [VarExporter] Fix exporting classes with __serialize() but not __unserialize()
  src/Symfony/Component/VarExporter/Internal/Exporter.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/__serialize-but-no-__unserialize.php
  src/Symfony/Component/VarExporter/Tests/VarExporterTest.php
Labels: Bug, Status: Needs Review, VarExporter

#51009 [DependencyInjection] Improve type of factories in `ServiceLocatorTrait`
  src/Symfony/Contracts/Service/ServiceLocatorTrait.php
Labels: Status: Reviewed

#51030 [Intl] Fixed directory traversal in emoji compression tool
  .github/workflows/intl-data-tests.yml
  src/Symfony/Component/Intl/Resources/bin/compress
Labels: Bug, Intl, Status: Needs Review

#51049 [Form] Relax assertions for ICU 72.1
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
Labels: Form, Status: Reviewed

#51051 [TwigBridge] Accomodate for changes in Twig
  src/Symfony/Bridge/Twig/Tests/Node/FormThemeTest.php
Labels: Status: Needs Review, TwigBridge

#51043 [Form] Deprecate `FormEvent::setData()` for events that do not allow it
  UPGRADE-6.4.md
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Event/PostSetDataEvent.php
  src/Symfony/Component/Form/Event/PostSubmitEvent.php
Labels: Form, Status: Reviewed, Deprecation

#51065 [AssetMapper] Fixing import parsing from jsdelivr
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
Labels: Bug, Status: Needs Review, AssetMapper

#51060 Fix htaccess sample to use index.php instead of app.php
  src/Symfony/Component/HttpFoundation/ServerBag.php
Labels: Bug, Status: Reviewed

#51056 [SecurityBundle] Add `firewalls.logout.csrf_token_manager` to XSD
  src/Symfony/Bundle/SecurityBundle/Resources/config/schema/security-1.0.xsd
Labels: Bug, SecurityBundle, Status: Reviewed

#51044 [Form] Fix form events phpdocs
  src/Symfony/Component/Form/Event/PostSetDataEvent.php
  src/Symfony/Component/Form/Event/PreSetDataEvent.php
Labels: Form, Status: Reviewed

#51042 [Mailer] [Mailgun] Disable tls for mailgun as it should use STARTTLS
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunSmtpTransport.php
Labels: Bug, Status: Reviewed, Mailer

#51075 [Serializer] More intuitive Logic Exception message
  src/Symfony/Component/Serializer/Encoder/YamlEncoder.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
Labels: Serializer, DX, Status: Reviewed

#51050 [FrameworkBundle] Remove doctrine/annotations integration
  UPGRADE-7.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AnnotationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/annotations.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/AnnotationsCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/legacy_annotations.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/validation_legacy_annotations.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/legacy_annotations.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/validation_legacy_annotations.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/legacy_annotations.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/validation_legacy_annotations.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/AutowiringTypesTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/AutowiringTypes/AutowiredServices.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/AutowiringTypes/no_annotations_cache.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/AutowiringTypes/with_annotations.yml
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Feature, FrameworkBundle, Status: Needs Review

#50982 [Validator] Deprecate annotations in favor of attributes
  UPGRADE-6.4.md
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/ValidatorCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Validation/Category.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/GroupSequence.php
  src/Symfony/Component/Validator/Constraints/GroupSequenceProvider.php
  src/Symfony/Component/Validator/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Validator/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Validator/Tests/Constraints/ExpressionValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/ValidValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/WhenTest.php
  src/Symfony/Component/Validator/Tests/Dummy/DummyClassOne.php
  src/Symfony/Component/Validator/Tests/Dummy/DummyClassTwo.php
  src/Symfony/Component/Validator/Tests/Fixtures/GroupSequenceProviderChildEntity.php
  src/Symfony/Component/Validator/Tests/Fixtures/NestedAttribute/Entity.php
  src/Symfony/Component/Validator/Tests/Fixtures/PropertyInfoLoaderEntity.php
  src/Symfony/Component/Validator/Tests/Fixtures/PropertyInfoLoaderNoAutoMappingEntity.php
  src/Symfony/Component/Validator/Tests/Mapping/ClassMetadataTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Factory/LazyLoadingMetadataFactoryTest.php
  src/Symfony/Component/Validator/Tests/Mapping/GetterMetadataTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AnnotationLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AnnotationLoaderWithHybridAnnotationsTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AnnotationLoaderWithLegacyAnnotationsTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/FilesLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/PropertyInfoLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/bad-format.yml
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping-non-strings.xml
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping.xml
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping.yml
  src/Symfony/Component/Validator/Tests/Mapping/Loader/mapping-with-constants.yml
  src/Symfony/Component/Validator/Tests/Mapping/Loader/withdoctype.xml
  src/Symfony/Component/Validator/Tests/Mapping/MemberMetadataTest.php
  src/Symfony/Component/Validator/Tests/Mapping/PropertyMetadataTest.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
  src/Symfony/Component/Validator/Tests/ValidatorBuilderTest.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Validator, Feature, Status: Needs Review, Deprecation

#49358 [Routing] Deprecate annotations in favor of attributes
  UPGRADE-6.4.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotatedClasses/AbstractClass.php
  src/Symfony/Component/Routing/Tests/Fixtures/OtherAnnotatedClasses/VariadicClass.php
  src/Symfony/Component/Routing/Tests/Fixtures/TraceableAnnotationClassLoader.php
  src/Symfony/Component/Routing/Tests/Loader/AbstractAnnotationLoaderTestCase.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderTestCase.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderWithAnnotationsTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderWithAttributesTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationDirectoryLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/DirectoryLoaderTest.php
Labels: Feature, Routing, Status: Needs Review, Deprecation

#51080 [Serializer] Remove Doctrine annotations support
  UPGRADE-7.0.md
  src/Symfony/Component/Serializer/Annotation/Context.php
  src/Symfony/Component/Serializer/Annotation/DiscriminatorMap.php
  src/Symfony/Component/Serializer/Annotation/Groups.php
  src/Symfony/Component/Serializer/Annotation/Ignore.php
  src/Symfony/Component/Serializer/Annotation/MaxDepth.php
  src/Symfony/Component/Serializer/Annotation/SerializedName.php
  src/Symfony/Component/Serializer/Annotation/SerializedPath.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/AbstractDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/AbstractDummyFirstChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/AbstractDummySecondChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/AbstractDummyThirdChild.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/BadMethodContextDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/ContextDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/ContextDummyParent.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/ContextDummyPromotedProperties.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/Entity45016.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/GroupDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/GroupDummyInterface.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/GroupDummyParent.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/IgnoreDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/IgnoreDummyAdditionalGetter.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/IgnoreDummyAdditionalGetterWithoutIgnoreAnnotations.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/MaxDepthDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/SerializedNameDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/SerializedPathDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Annotations/SerializedPathInConstructorDummy.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderWithAttributesTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderWithDoctrineAnnotationsTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Feature, Status: Needs Review

#51055 [Scheduler] Fix NPE in `debug:scheduler` command
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
  src/Symfony/Component/Scheduler/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Scheduler/composer.json
Labels: Bug, Status: Reviewed, Scheduler

#50931 [Form] Support Translatable Enum
  src/Symfony/Component/Form/Extension/Core/Type/EnumType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/EnumTypeTest.php
  src/Symfony/Component/Form/Tests/Fixtures/TranslatableTextAlign.php
Labels: Form, Feature, Status: Reviewed

#51089 [FrameworkBundle][Workflow] Remove unused code
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
Labels: FrameworkBundle, Status: Needs Review, Workflow

#51087 [FrameworkBundle][Workflow] Clean code
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflows.xml
  src/Symfony/Component/Workflow/Tests/MarkingStore/MethodMarkingStoreTest.php
Labels: Status: Needs Review, Workflow

#51093 [FrameworkBundle] Fix using messenger 7.0
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: FrameworkBundle, Status: Reviewed

#51082 [Routing] Remove Doctrine annotations support
  UPGRADE-7.0.md
  composer.json
  src/Symfony/Component/Routing/Annotation/Route.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php
  src/Symfony/Component/Routing/Tests/Annotation/RouteTest.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/AbstractClassController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/ActionPathController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/BazClass.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/DefaultValueController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/EncodingClass.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/ExplicitLocalizedActionPathController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/FooController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/GlobalDefaultsClass.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/InvokableController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/InvokableLocalizedController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/InvokableMethodController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/LocalizedActionPathController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/LocalizedMethodActionControllers.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/LocalizedPrefixLocalizedActionController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/LocalizedPrefixMissingLocaleActionController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/LocalizedPrefixMissingRouteLocaleActionController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/LocalizedPrefixWithRouteWithoutLocale.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/MethodActionControllers.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/MethodsAndSchemes.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/MissingRouteNameController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/NothingButNameController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/PrefixedActionLocalizedRouteController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/PrefixedActionPathController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/RequirementsWithoutPlaceholderNameController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/RouteWithEnv.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/RouteWithPrefixController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/Utf8ActionControllers.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributeFixtures/AbstractClassController.php
  src/Symfony/Component/Routing/Tests/Fixtures/OtherAnnotatedClasses/AnonymousClassInTrait.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderWithAnnotationsTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationClassLoaderWithAttributesTest.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationFileLoaderTest.php
  src/Symfony/Component/Routing/composer.json
Labels: Feature, Routing, Status: Reviewed

#51077 [SecurityBundle] Remove deprecated XSD definitions
  src/Symfony/Bundle/SecurityBundle/Resources/config/schema/security-1.0.xsd
Labels: SecurityBundle, Status: Reviewed

#51076 [Form] Remove deprecations in form events
  UPGRADE-7.0.md
  src/Symfony/Component/Form/Event/PostSetDataEvent.php
  src/Symfony/Component/Form/Event/PostSubmitEvent.php
Labels: Form, Status: Reviewed

#51111 [Runtime] Fix property must not be accessed before initialization on SymfonyRuntime
  src/Symfony/Component/Runtime/SymfonyRuntime.php
Labels: Bug, Status: Reviewed, Runtime

#51120 [Mailer] fix deprecation versions
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Transport/SendinblueApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Transport/SendinblueSmtpTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Transport/SendinblueTransportFactory.php
Labels: Status: Needs Review, Mailer

#51119 [Mailer] update the Brevo SMTP host
  src/Symfony/Component/Mailer/Bridge/Brevo/Transport/BrevoSmtpTransport.php
Labels: Bug, Status: Needs Review, Mailer

#51117 Remove \ReflectionProperty::setAccessible(true) calls
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SerializerTest.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcher.php
  src/Symfony/Component/Mailer/Tests/Transport/RoundRobinTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/SmtpTransportTest.php
  src/Symfony/Component/Mime/Tests/MessageConverterTest.php
  src/Symfony/Component/Notifier/Bridge/Chatwork/Tests/ChatworkMessageBodyBuilderTest.php
  src/Symfony/Component/Scheduler/Tests/Trigger/PeriodicalTriggerTest.php
Labels: Status: Reviewed

#51114 [Serializer] Fix denormalizing abstract part headers in MimeMessageNormalizer
  src/Symfony/Component/Mime/Tests/MessageTest.php
  src/Symfony/Component/Mime/composer.json
  src/Symfony/Component/Serializer/Normalizer/MimeMessageNormalizer.php
Labels: Serializer, Bug, Status: Reviewed

#51102 [Webhook] Allow slash in webhook type
  src/Symfony/Bundle/FrameworkBundle/Resources/config/routing/webhook.xml
Labels: Bug, Status: Reviewed, Webhook

#51096 Use more "First class callable syntax" + Normalize set_error_handler/set_exception_handler calls
  src/Symfony/Bridge/Monolog/Handler/ServerLogHandler.php
  src/Symfony/Bridge/Twig/Extension/HttpKernelExtension.php
  src/Symfony/Component/Cache/LockRegistry.php
  src/Symfony/Component/Cache/Tests/Marshaller/DefaultMarshallerTest.php
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/DebugHandlersListenerTest.php
  src/Symfony/Component/Routing/Matcher/Dumper/StaticPrefixCollection.php
  src/Symfony/Component/VarDumper/Server/Connection.php
Labels: Status: Needs Review

#51064 [Messenger] Remove deprecated `StopWorkerOnSignalsListener`
  UPGRADE-7.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Fixtures/long_receiver.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnSignalsListener.php
Labels: Status: Reviewed, Messenger

#51071 [VarExporter] Fix calling scope detection inside magic accessors
  src/Symfony/Component/VarExporter/Internal/LazyObjectRegistry.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyProxy/TestOverwritePropClass.php
  src/Symfony/Component/VarExporter/Tests/LazyProxyTraitTest.php
Labels: Bug, Status: Needs Review, VarExporter

#51129 Ensure all properties have a type
  src/Symfony/Component/Cache/Tests/Adapter/AbstractRedisAdapterTestCase.php
  src/Symfony/Component/Cache/Tests/Adapter/PhpArrayAdapterTest.php
  src/Symfony/Component/Console/Cursor.php
  src/Symfony/Component/Console/Input/Input.php
  src/Symfony/Component/Console/Output/StreamOutput.php
  src/Symfony/Component/Console/Tests/CursorTest.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
  src/Symfony/Component/Console/Tests/Output/ConsoleSectionOutputTest.php
  src/Symfony/Component/Console/Tests/Output/StreamOutputTest.php
  src/Symfony/Component/Form/Console/Descriptor/Descriptor.php
  src/Symfony/Component/Form/Tests/AbstractRequestHandlerTestCase.php
  src/Symfony/Component/HttpClient/Internal/AmpClientState.php
  src/Symfony/Component/HttpClient/Internal/AmpListener.php
  src/Symfony/Component/HttpClient/Response/AsyncContext.php
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Response/CommonResponseTrait.php
  src/Symfony/Component/HttpClient/Response/NativeResponse.php
  src/Symfony/Component/HttpClient/Response/TransportResponseTrait.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseFunctionalTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/AbstractSessionHandlerTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/SubRequestHandlerTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/AbstractStream.php
  src/Symfony/Component/Messenger/Tests/Middleware/HandleMessageMiddlewareTest.php
  src/Symfony/Component/Mime/Part/AbstractPart.php
  src/Symfony/Component/Mime/Part/TextPart.php
  src/Symfony/Component/Process/Pipes/AbstractPipes.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/ProcessUtils.php
  src/Symfony/Component/PropertyAccess/Tests/TestPluralAdderRemoverAndSetter.php
  src/Symfony/Component/PropertyAccess/Tests/TestPluralAdderRemoverAndSetterSameSingularAndPlural.php
  src/Symfony/Component/Security/Http/Tests/LoginLink/LoginLinkHandlerTest.php
  src/Symfony/Component/Translation/Tests/TranslatorTest.php
  src/Symfony/Component/Validator/Constraints/Choice.php
  src/Symfony/Component/Validator/Constraints/Email.php
  src/Symfony/Component/Validator/Constraints/Ip.php
  src/Symfony/Component/Validator/Constraints/Length.php
  src/Symfony/Component/Validator/Constraints/NotBlank.php
  src/Symfony/Component/Validator/Constraints/Regex.php
  src/Symfony/Component/Validator/Constraints/Unique.php
  src/Symfony/Component/Validator/Constraints/Url.php
  src/Symfony/Component/Validator/Constraints/Uuid.php
  src/Symfony/Component/VarDumper/Dumper/AbstractDumper.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
  src/Symfony/Component/VarExporter/Internal/Hydrator.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectRegistry.php
  src/Symfony/Component/VarExporter/Internal/Reference.php
  src/Symfony/Component/VarExporter/Internal/Registry.php
Labels: Status: Needs Review

#51126 [Serializer] Fix tests for extended Context attributes
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ContextMetadataTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/DummyContextChild.php
Labels: Serializer, Bug, Status: Needs Review

#51134 [Serializer] Remove obsolete annotation from fixture
  src/Symfony/Component/Serializer/Tests/Fixtures/ChildOfGroupsAnnotationDummy.php
Labels: Serializer, Status: Needs Review

#51091 [MonologBridge] Remove support for monolog < 3.0
  UPGRADE-7.0.md
  composer.json
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Command/ServerLogCommand.php
  src/Symfony/Bridge/Monolog/Formatter/CompatibilityFormatter.php
  src/Symfony/Bridge/Monolog/Formatter/ConsoleFormatter.php
  src/Symfony/Bridge/Monolog/Formatter/VarDumperFormatter.php
  src/Symfony/Bridge/Monolog/Handler/CompatibilityHandler.php
  src/Symfony/Bridge/Monolog/Handler/CompatibilityProcessingHandler.php
  src/Symfony/Bridge/Monolog/Handler/ConsoleHandler.php
  src/Symfony/Bridge/Monolog/Handler/ElasticsearchLogstashHandler.php
  src/Symfony/Bridge/Monolog/Handler/FingersCrossed/HttpCodeActivationStrategy.php
  src/Symfony/Bridge/Monolog/Handler/FingersCrossed/NotFoundActivationStrategy.php
  src/Symfony/Bridge/Monolog/Handler/MailerHandler.php
  src/Symfony/Bridge/Monolog/Handler/NotifierHandler.php
  src/Symfony/Bridge/Monolog/Handler/ServerLogHandler.php
  src/Symfony/Bridge/Monolog/Processor/AbstractTokenProcessor.php
  src/Symfony/Bridge/Monolog/Processor/CompatibilityProcessor.php
  src/Symfony/Bridge/Monolog/Processor/ConsoleCommandProcessor.php
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bridge/Monolog/Processor/RouteProcessor.php
  src/Symfony/Bridge/Monolog/Tests/Formatter/ConsoleFormatterTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/ConsoleHandlerTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/ElasticsearchLogstashHandlerTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/FingersCrossed/HttpCodeActivationStrategyTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/FingersCrossed/NotFoundActivationStrategyTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/MailerHandlerTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/ServerLogHandlerTest.php
  src/Symfony/Bridge/Monolog/Tests/LoggerTest.php
  src/Symfony/Bridge/Monolog/Tests/Processor/DebugProcessorTest.php
  src/Symfony/Bridge/Monolog/Tests/Processor/RouteProcessorTest.php
  src/Symfony/Bridge/Monolog/Tests/Processor/WebProcessorTest.php
  src/Symfony/Bridge/Monolog/Tests/RecordFactory.php
  src/Symfony/Bridge/Monolog/composer.json
Labels: MonologBridge, Status: Needs Review

#51128 [SecurityBundle] Allow an array of `pattern` in firewall configuration
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTestCase.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/firewall_patterns.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/firewall_patterns.yml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/XmlCompleteConfigurationTest.php
Labels: Feature, SecurityBundle, Status: Reviewed

#51148 [FrameworkBundle] Simplify marking store configuration
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/workflow_with_specified_events_to_dispatch.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflow_with_specified_events_to_dispatch.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/workflow_with_specified_events_to_dispatch.yml
Labels: Feature, FrameworkBundle, Status: Reviewed

#51137 Add generics to the progress bar iteration methods
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
Labels: Status: Reviewed

#49813 [Messenger][Process] add `RunProcessMessage` and `RunProcessMessageHandler`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/process.php
  src/Symfony/Component/Process/CHANGELOG.md
  src/Symfony/Component/Process/Exception/RunProcessFailedException.php
  src/Symfony/Component/Process/Messenger/RunProcessContext.php
  src/Symfony/Component/Process/Messenger/RunProcessMessage.php
  src/Symfony/Component/Process/Messenger/RunProcessMessageHandler.php
  src/Symfony/Component/Process/Tests/Messenger/RunProcessMessageHandlerTest.php
Labels: Feature, Process, Status: Reviewed, Messenger

#51157 [Contracts] Revert changes with 3.4
  .github/expected-missing-return-types.diff
  src/Symfony/Contracts/CHANGELOG.md
  src/Symfony/Contracts/HttpClient/Test/TestHttpServer.php
  src/Symfony/Contracts/Service/ResetInterface.php
  src/Symfony/Contracts/Service/ServiceSubscriberTrait.php
  src/Symfony/Contracts/Service/Test/ServiceLocatorTest.php
  src/Symfony/Contracts/Tests/Service/ServiceSubscriberTraitTest.php
  src/Symfony/Contracts/Translation/LocaleAwareInterface.php
  src/Symfony/Contracts/Translation/TranslatorTrait.php
Labels: Bug, Status: Reviewed, Contracts

#51138 [Scheduler] Postpone schedule creation
  composer.json
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/Messenger/SchedulerTransportFactory.php
  src/Symfony/Component/Scheduler/Tests/Generator/MessageGeneratorTest.php
  src/Symfony/Component/Scheduler/Tests/Messenger/SchedulerTransportFactoryTest.php
Labels: Bug, Status: Reviewed, Scheduler

#51160 Release v5.4.26
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51161 [Scheduler] Remove PHP <8.2 BC layer
  src/Symfony/Component/Scheduler/Trigger/CronExpressionTrigger.php
Labels: Status: Reviewed, Scheduler

#51163 Release v6.2.13
  CHANGELOG-6.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51164 Release v6.3.2
  CHANGELOG-6.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51165 Remove 6.2 from the list of potential branch targets
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#51150 Use Stringable interface as much as possible
  src/Symfony/Component/Config/Resource/ResourceInterface.php
  src/Symfony/Component/CssSelector/Node/NodeInterface.php
  src/Symfony/Component/Form/FormErrorIterator.php
  src/Symfony/Component/HttpFoundation/HeaderBag.php
  src/Symfony/Component/Mailer/Transport/TransportInterface.php
  src/Symfony/Component/Notifier/Transport/TransportInterface.php
  src/Symfony/Component/PropertyAccess/PropertyPathInterface.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
  src/Symfony/Component/Security/Core/User/InMemoryUser.php
  src/Symfony/Component/Templating/TemplateReferenceInterface.php
  src/Symfony/Component/Translation/Provider/ProviderInterface.php
  src/Symfony/Component/Uid/AbstractUid.php
  src/Symfony/Component/VarDumper/Cloner/Data.php
Labels: Status: Reviewed

#49815 [HttpClient][Messenger] add `PingWebhookMessage` and `PingWebhookMessageHandler`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client.php
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/Messenger/PingWebhookMessage.php
  src/Symfony/Component/HttpClient/Messenger/PingWebhookMessageHandler.php
  src/Symfony/Component/HttpClient/Tests/Messenger/PingWebhookMessageHandlerTest.php
  src/Symfony/Component/HttpClient/composer.json
Labels: Feature, Status: Reviewed, Messenger, HttpClient

#51100 [PsrHttpMessageBridge] Import the bridge into the monorepo
  composer.json
  src/Symfony/Bridge/PsrHttpMessage/.gitattributes
  src/Symfony/Bridge/PsrHttpMessage/.gitignore
  src/Symfony/Bridge/PsrHttpMessage/ArgumentValueResolver/PsrServerRequestResolver.php
  src/Symfony/Bridge/PsrHttpMessage/ArgumentValueResolver/ValueResolverInterface.php
  src/Symfony/Bridge/PsrHttpMessage/CHANGELOG.md
  src/Symfony/Bridge/PsrHttpMessage/EventListener/PsrResponseListener.php
  src/Symfony/Bridge/PsrHttpMessage/Factory/HttpFoundationFactory.php
  src/Symfony/Bridge/PsrHttpMessage/Factory/PsrHttpFactory.php
  src/Symfony/Bridge/PsrHttpMessage/Factory/UploadedFile.php
  src/Symfony/Bridge/PsrHttpMessage/HttpFoundationFactoryInterface.php
  src/Symfony/Bridge/PsrHttpMessage/HttpMessageFactoryInterface.php
  src/Symfony/Bridge/PsrHttpMessage/LICENSE
  src/Symfony/Bridge/PsrHttpMessage/README.md
  src/Symfony/Bridge/PsrHttpMessage/Tests/ArgumentValueResolver/PsrServerRequestResolverTest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/EventListener/PsrResponseListenerTest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/HttpFoundationFactoryTest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/PsrHttpFactoryTest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/App/Controller/PsrRequestController.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/App/Kernel.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/Message.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/Response.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/ServerRequest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/Stream.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/UploadedFile.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/Uri.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Functional/ControllerTest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Functional/CovertTest.php
  src/Symfony/Bridge/PsrHttpMessage/composer.json
  src/Symfony/Bridge/PsrHttpMessage/phpunit.xml.dist
Labels: Feature, Status: Reviewed

#51167 [PsrHttpMessageBridge] Remove ArgumentValueResolverInterface from PsrServerRequestResolver
  UPGRADE-6.4.md
  src/Symfony/Bridge/PsrHttpMessage/ArgumentValueResolver/PsrServerRequestResolver.php
  src/Symfony/Bridge/PsrHttpMessage/ArgumentValueResolver/ValueResolverInterface.php
  src/Symfony/Bridge/PsrHttpMessage/CHANGELOG.md
  src/Symfony/Bridge/PsrHttpMessage/Tests/ArgumentValueResolver/PsrServerRequestResolverTest.php
  src/Symfony/Bridge/PsrHttpMessage/composer.json
Labels: Feature, BC Break, Status: Needs Review, PsrHttpMessageBridge

#51166 [Scheduler] Remove obsolete closure wrapper
  src/Symfony/Component/Scheduler/Trigger/CronExpressionTrigger.php
Labels: Status: Reviewed, Scheduler

#51158 [Notifier] [Docs] Fix update slack messages documentation
  src/Symfony/Component/Notifier/Bridge/Slack/README.md
Labels: Bug, Status: Reviewed, Notifier

#51169 [PsrHttpMessageBridge] Add native types where possible
  src/Symfony/Bridge/PsrHttpMessage/EventListener/PsrResponseListener.php
  src/Symfony/Bridge/PsrHttpMessage/Factory/HttpFoundationFactory.php
  src/Symfony/Bridge/PsrHttpMessage/Factory/PsrHttpFactory.php
  src/Symfony/Bridge/PsrHttpMessage/Factory/UploadedFile.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/PsrHttpFactoryTest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/App/Controller/PsrRequestController.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/Message.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/Response.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/ServerRequest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/Stream.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/UploadedFile.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/Uri.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Functional/CovertTest.php
Labels: Status: Reviewed, PsrHttpMessageBridge

#51014 [Mailer] Add Scaleway bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
  src/Symfony/Component/Mailer/Bridge/Scaleway/.gitattributes
  src/Symfony/Component/Mailer/Bridge/Scaleway/.gitignore
  src/Symfony/Component/Mailer/Bridge/Scaleway/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Scaleway/LICENSE
  src/Symfony/Component/Mailer/Bridge/Scaleway/README.md
  src/Symfony/Component/Mailer/Bridge/Scaleway/Tests/Transport/ScalewayApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Scaleway/Tests/Transport/ScalewayTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Scaleway/Transport/ScalewayApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Scaleway/Transport/ScalewaySmtpTransport.php
  src/Symfony/Component/Mailer/Bridge/Scaleway/Transport/ScalewayTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Scaleway/composer.json
  src/Symfony/Component/Mailer/Bridge/Scaleway/phpunit.xml.dist
  src/Symfony/Component/Mailer/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Mailer/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Mailer/Transport.php
Labels: Feature, Status: Reviewed, Mailer

#51144 [Templating] deprecate the component
  UPGRADE-6.4.md
  src/Symfony/Component/Templating/CHANGELOG.md
  src/Symfony/Component/Templating/DelegatingEngine.php
  src/Symfony/Component/Templating/EngineInterface.php
  src/Symfony/Component/Templating/Helper/Helper.php
  src/Symfony/Component/Templating/Helper/HelperInterface.php
  src/Symfony/Component/Templating/Helper/SlotsHelper.php
  src/Symfony/Component/Templating/Loader/CacheLoader.php
  src/Symfony/Component/Templating/Loader/ChainLoader.php
  src/Symfony/Component/Templating/Loader/FilesystemLoader.php
  src/Symfony/Component/Templating/Loader/Loader.php
  src/Symfony/Component/Templating/Loader/LoaderInterface.php
  src/Symfony/Component/Templating/PhpEngine.php
  src/Symfony/Component/Templating/Storage/FileStorage.php
  src/Symfony/Component/Templating/Storage/Storage.php
  src/Symfony/Component/Templating/Storage/StringStorage.php
  src/Symfony/Component/Templating/StreamingEngineInterface.php
  src/Symfony/Component/Templating/TemplateNameParser.php
  src/Symfony/Component/Templating/TemplateNameParserInterface.php
  src/Symfony/Component/Templating/TemplateReference.php
  src/Symfony/Component/Templating/TemplateReferenceInterface.php
  src/Symfony/Component/Templating/Tests/DelegatingEngineTest.php
  src/Symfony/Component/Templating/Tests/Helper/HelperTest.php
  src/Symfony/Component/Templating/Tests/Helper/SlotsHelperTest.php
  src/Symfony/Component/Templating/Tests/Loader/CacheLoaderTest.php
  src/Symfony/Component/Templating/Tests/Loader/ChainLoaderTest.php
  src/Symfony/Component/Templating/Tests/Loader/FilesystemLoaderTest.php
  src/Symfony/Component/Templating/Tests/Loader/LoaderTest.php
  src/Symfony/Component/Templating/Tests/PhpEngineTest.php
  src/Symfony/Component/Templating/Tests/Storage/FileStorageTest.php
  src/Symfony/Component/Templating/Tests/Storage/StorageTest.php
  src/Symfony/Component/Templating/Tests/Storage/StringStorageTest.php
  src/Symfony/Component/Templating/Tests/TemplateNameParserTest.php
  src/Symfony/Component/Templating/composer.json
Labels: Templating, Status: Reviewed, Deprecation

#51130 [VarDumper] Dump uninitialized properties
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/Caster.php
  src/Symfony/Component/VarDumper/Caster/UninitializedStub.php
  src/Symfony/Component/VarDumper/Caster/XmlReaderCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/ExceptionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/MysqliCasterTest.php
  src/Symfony/Component/VarDumper/composer.json
Labels: Feature, VarDumper, Status: Reviewed

#50907 [Validator] Update `Type` constraint, add `number`, `finite-float` and `finite-number` validations
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/TypeValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/TypeValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#50136 [Notifier] [SpotHit] Support `smslong` and `smslongnbr` API parameters
  src/Symfony/Component/Notifier/Bridge/SpotHit/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/SpotHit/README.md
  src/Symfony/Component/Notifier/Bridge/SpotHit/SpotHitTransport.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/SpotHitTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/Tests/SpotHitTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/Tests/SpotHitTransportTest.php
Labels: Feature, Status: Reviewed, Notifier

#50911 [HttpKernel] Enhance exception if possible
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: HttpKernel, Status: Reviewed

#50978 [Messenger] Allow accessing all options on a handler descriptor
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Handler/HandlerDescriptor.php
  src/Symfony/Component/Messenger/Tests/Handler/HandleDescriptorTest.php
Labels: Feature, Status: Reviewed, Messenger

#49814 [Console][Messenger] add `RunCommandMessage` and `RunCommandMessageHandler`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Exception/RunCommandFailedException.php
  src/Symfony/Component/Console/Messenger/RunCommandContext.php
  src/Symfony/Component/Console/Messenger/RunCommandMessage.php
  src/Symfony/Component/Console/Messenger/RunCommandMessageHandler.php
  src/Symfony/Component/Console/Tests/Messenger/RunCommandMessageHandlerTest.php
  src/Symfony/Component/Console/composer.json
Labels: Feature, Console, Status: Reviewed, Messenger

#51151 [5.4] Fix symfony/deprecation-contracts require
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Component/Ldap/composer.json
  src/Symfony/Component/PasswordHasher/composer.json
  src/Symfony/Component/Security/Csrf/composer.json
  src/Symfony/Component/Security/Guard/composer.json
  src/Symfony/Component/Workflow/composer.json
Labels: Bug, Status: Needs Review

#51174 [6.3] Fix symfony/deprecation-contracts require
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Messenger/composer.json
  src/Symfony/Component/Mime/composer.json
  src/Symfony/Component/Notifier/Bridge/GoogleChat/composer.json
  src/Symfony/Component/Routing/composer.json
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/Translation/composer.json
  src/Symfony/Component/VarDumper/composer.json
  src/Symfony/Component/Workflow/composer.json
  src/Symfony/Component/Yaml/composer.json
Labels: Status: Needs Review

#51176 Fix symfony/deprecation-contracts require
  src/Symfony/Component/Mailer/Bridge/Sendinblue/composer.json
  src/Symfony/Component/Notifier/Bridge/Sendinblue/composer.json
Labels: Status: Needs Review

#51175 CI: Disable Psalm's `findUnusedBaselineEntry` feature
  psalm.xml
Labels: Status: Needs Review

#51177 Fix requiring symfony/deprecation-contracts in symfony/routing
  src/Symfony/Component/Routing/composer.json
Labels: Status: Needs Review

#51146 More short closures
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDumpReferenceCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsListCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/UnusedTagsPassTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/SecurityBundle/Command/DebugFirewallCommand.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcUserInfoTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AccessTokenFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/MessengerConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Translator/BooksConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeysConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues/Symfony/Config/NodeInitialValues/MessengerConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/NestedConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypesConfig.php
  src/Symfony/Component/Lock/Tests/Store/DoctrineDbalStoreTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
  src/Symfony/Contracts/Service/Test/ServiceLocatorTestCase.php
Labels: Status: Reviewed

#51179 [Templating] Fix CI
  src/Symfony/Component/Templating/Tests/DelegatingEngineTest.php
  src/Symfony/Component/Templating/Tests/Fixtures/MyStreamingEngine.php
  src/Symfony/Component/Templating/Tests/Fixtures/ProjectTemplateCacheLoader.php
  src/Symfony/Component/Templating/Tests/Fixtures/ProjectTemplateChainLoader.php
  src/Symfony/Component/Templating/Tests/Fixtures/ProjectTemplateEngine.php
  src/Symfony/Component/Templating/Tests/Fixtures/ProjectTemplateEngineLoader.php
  src/Symfony/Component/Templating/Tests/Fixtures/ProjectTemplateFilesystemLoader.php
  src/Symfony/Component/Templating/Tests/Fixtures/ProjectTemplateHelper.php
  src/Symfony/Component/Templating/Tests/Fixtures/ProjectTemplateLoader.php
  src/Symfony/Component/Templating/Tests/Fixtures/ProjectTemplateLoaderVar.php
  src/Symfony/Component/Templating/Tests/Fixtures/TestEngine.php
  src/Symfony/Component/Templating/Tests/Fixtures/TestStorage.php
  src/Symfony/Component/Templating/Tests/Helper/HelperTest.php
  src/Symfony/Component/Templating/Tests/Loader/CacheLoaderTest.php
  src/Symfony/Component/Templating/Tests/Loader/ChainLoaderTest.php
  src/Symfony/Component/Templating/Tests/Loader/FilesystemLoaderTest.php
  src/Symfony/Component/Templating/Tests/Loader/LoaderTest.php
  src/Symfony/Component/Templating/Tests/PhpEngineTest.php
  src/Symfony/Component/Templating/Tests/Storage/StorageTest.php
Labels: Templating, Status: Needs Review

#51170 [Templating] Remove the component
  UPGRADE-7.0.md
  composer.json
  src/Symfony/Component/Templating/.gitattributes
  src/Symfony/Component/Templating/.gitignore
  src/Symfony/Component/Templating/CHANGELOG.md
  src/Symfony/Component/Templating/DelegatingEngine.php
  src/Symfony/Component/Templating/EngineInterface.php
  src/Symfony/Component/Templating/Helper/Helper.php
  src/Symfony/Component/Templating/Helper/HelperInterface.php
  src/Symfony/Component/Templating/Helper/SlotsHelper.php
  src/Symfony/Component/Templating/LICENSE
  src/Symfony/Component/Templating/Loader/CacheLoader.php
  src/Symfony/Component/Templating/Loader/ChainLoader.php
  src/Symfony/Component/Templating/Loader/FilesystemLoader.php
  src/Symfony/Component/Templating/Loader/Loader.php
  src/Symfony/Component/Templating/Loader/LoaderInterface.php
  src/Symfony/Component/Templating/PhpEngine.php
  src/Symfony/Component/Templating/README.md
  src/Symfony/Component/Templating/Storage/FileStorage.php
  src/Symfony/Component/Templating/Storage/Storage.php
  src/Symfony/Component/Templating/Storage/StringStorage.php
  src/Symfony/Component/Templating/StreamingEngineInterface.php
  src/Symfony/Component/Templating/TemplateNameParser.php
  src/Symfony/Component/Templating/TemplateNameParserInterface.php
  src/Symfony/Component/Templating/TemplateReference.php
  src/Symfony/Component/Templating/TemplateReferenceInterface.php
  src/Symfony/Component/Templating/Tests/DelegatingEngineTest.php
  src/Symfony/Component/Templating/Tests/Fixtures/SimpleHelper.php
  src/Symfony/Component/Templating/Tests/Fixtures/templates/foo.php
  src/Symfony/Component/Templating/Tests/Helper/HelperTest.php
  src/Symfony/Component/Templating/Tests/Helper/SlotsHelperTest.php
  src/Symfony/Component/Templating/Tests/Loader/CacheLoaderTest.php
  src/Symfony/Component/Templating/Tests/Loader/ChainLoaderTest.php
  src/Symfony/Component/Templating/Tests/Loader/FilesystemLoaderTest.php
  src/Symfony/Component/Templating/Tests/Loader/LoaderTest.php
  src/Symfony/Component/Templating/Tests/PhpEngineTest.php
  src/Symfony/Component/Templating/Tests/Storage/FileStorageTest.php
  src/Symfony/Component/Templating/Tests/Storage/StorageTest.php
  src/Symfony/Component/Templating/Tests/Storage/StringStorageTest.php
  src/Symfony/Component/Templating/Tests/TemplateNameParserTest.php
  src/Symfony/Component/Templating/composer.json
  src/Symfony/Component/Templating/phpunit.xml.dist
Labels: Feature, Templating, Status: Reviewed

#51178 [Finder] Revert "Fix children condition in ExcludeDirectoryFilterIterator"
  src/Symfony/Component/Finder/Iterator/ExcludeDirectoryFilterIterator.php
Labels: Bug, Finder, Status: Reviewed

#51184 Release v5.4.27
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51185 Release v6.3.3
  CHANGELOG-6.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51186 Release v6.2.14
  CHANGELOG-6.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51188 [PsrHttpMessageBridge] Streamline README.md with other components
  src/Symfony/Bridge/PsrHttpMessage/README.md
Labels: Status: Reviewed, PsrHttpMessageBridge

#51190 [Clock] load function only if not loaded before
  src/Symfony/Component/Clock/Resources/now.php
Labels: Bug, Status: Reviewed, Clock

#51189 [VarExporter] Remove obsolete PHP version check
  src/Symfony/Component/VarExporter/Internal/Exporter.php
Labels: Status: Reviewed, VarExporter

#51142 [Mailer] Precise AbstractApiTransport::getRecipients signature
  src/Symfony/Component/Mailer/Transport/AbstractApiTransport.php
Labels: Status: Reviewed, Mailer

#51061 [DoctrineBridge] Bugfix - Allow to remove LazyLoaded listeners by object
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/Tests/ContainerAwareEventManagerTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#51152 [Scheduler] Add `AbstractTriggerDecorator`
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/Tests/Trigger/AbstractDecoratedTriggerTest.php
  src/Symfony/Component/Scheduler/Trigger/AbstractDecoratedTrigger.php
  src/Symfony/Component/Scheduler/Trigger/ExcludeTimeTrigger.php
  src/Symfony/Component/Scheduler/Trigger/JitterTrigger.php
  src/Symfony/Component/Scheduler/Trigger/PeriodicalTrigger.php
Labels: Feature, Status: Reviewed, Scheduler

#51194 do not declare the PSR-7 bridge to be replaced by symfony/symfony
  composer.json
Labels: Bug, Status: Reviewed
