Repository symfony/symfony, pull requests merged in 2023-09, with the labels that each got.

#51535 [Security] always use `getUserIdentifier` in `InMemoryTokenProvider`
  src/Symfony/Component/Security/Core/Authentication/RememberMe/InMemoryTokenProvider.php
Labels: Security, Bug, Feature, Status: Needs Review, Deprecation

#51560 UrlHelper: minor code style fix
  src/Symfony/Component/HttpFoundation/UrlHelper.php
Labels: Status: Reviewed

#51549 [Workflow] Remove `GuardEvent::getContext()` method without replacement
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Event/GuardEvent.php
Labels: Status: Reviewed, Workflow

#51374 [Messenger] Fix PHPDoc template for `TransportFactoryInterface`
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/AmqpTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Transport/BeanstalkdTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/RedisTransportFactory.php
  src/Symfony/Component/Messenger/Transport/InMemory/InMemoryTransportFactory.php
  src/Symfony/Component/Messenger/Transport/Sync/SyncTransportFactory.php
  src/Symfony/Component/Messenger/Transport/TransportFactory.php
  src/Symfony/Component/Messenger/Transport/TransportFactoryInterface.php
  src/Symfony/Component/Scheduler/Messenger/SchedulerTransportFactory.php
Labels: Status: Reviewed, Messenger

#51568 [Mailer] bug - fix EsmtpTransport variable $code definition
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/EsmtpTransportTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransport.php
Labels: Bug, Status: Reviewed, Mailer

#51587 [DoctrineBridge][Messenger] Always use `executeStatement` method
  src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php
  src/Symfony/Bridge/Doctrine/Tests/Security/RememberMe/DoctrineTokenProviderTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Status: Reviewed, DoctrineBridge, Messenger

#51607 [PropertyInfo] Remove checking if `AttributeMetadataInterface::setIgnore` method exists
  src/Symfony/Component/PropertyInfo/Extractor/SerializerExtractor.php
Labels: Status: Reviewed, PropertyInfo

#51606 [FrameworkBundle][VarDumper] Remove checking if `OutputFormatterStyle::setHref` method exist
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Component/VarDumper/Tests/Command/Descriptor/CliDescriptorTest.php
Labels: FrameworkBundle, VarDumper, Status: Reviewed

#51605 [DebugBundle][HttpKernel] Remove checking if `CliDumper::setDisplayOptions` method exists
  src/Symfony/Bundle/DebugBundle/DependencyInjection/DebugExtension.php
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
Labels: HttpKernel, DebugBundle, Status: Reviewed

#51534 [DoctrineBridge][Security] Rename `loadUserByUsername` tests to `loadUserByIdentifier`
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
  src/Symfony/Component/Security/Core/Tests/User/ChainUserProviderTest.php
  src/Symfony/Component/Security/Core/Tests/User/InMemoryUserProviderTest.php
Labels: Security, Status: Reviewed, DoctrineBridge

#51569 [DoctrineBridge] Remove LazyGhost feature detection
  src/Symfony/Bridge/Doctrine/Tests/DoctrineTestHelper.php
  src/Symfony/Bridge/Doctrine/Tests/Middleware/Debug/MiddlewareTest.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/Tests/Security/RememberMe/DoctrineTokenProviderTest.php
Labels: Status: Reviewed, DoctrineBridge

#51545 [AssetMapper] Make importmap:install command download the same version
  src/Symfony/Bundle/FrameworkBundle/Resources/config/asset_mapper.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapManager.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapManagerTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#51541 [FrameworkBundle] Remove references to `annotation_reader`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/AddAnnotationsCachedReaderPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/DependencyInjection/AnnotationReaderPass.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TestBundle.php
Labels: FrameworkBundle, Status: Reviewed

#51523 [AssetMapper] Allow specifying packages to update with importmap:update
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/Command/ImportMapUpdateCommand.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapManager.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapManagerTest.php
Labels: Feature, Status: Reviewed, AssetMapper

#47221 [Serializer] Fallback looking for DiscriminatorMap on interfaces
  src/Symfony/Component/Serializer/Mapping/ClassDiscriminatorFromClassMetadata.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyMessageInterface.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyMessageNumberThree.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#51585 [Security] Add badge resolution to profiler
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
  src/Symfony/Component/Security/Http/Authenticator/Debug/TraceableAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/Debug/TraceableAuthenticatorManagerListener.php
Labels: Security, Feature, DX, Status: Reviewed

#51615 [Doctrine][Messenger] Remove obsolete DBAL 2 compat code
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineIntegrationTest.php
Labels: Doctrine, Status: Reviewed, Messenger

#51614 [Doctrine][HttpFoundation][Lock][Messenger] Remove DBAL 3 feature detection
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/SessionHandlerFactory.php
  src/Symfony/Component/Lock/Tests/Store/DoctrineDbalStoreTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/PostgreSqlConnection.php
Labels: Doctrine, HttpFoundation, Status: Reviewed, Lock, Messenger

#51613 [TwigBridge] Remove obsolete Workflow feature detection
  src/Symfony/Bridge/Twig/Tests/Extension/WorkflowExtensionTest.php
Labels: Status: Reviewed, TwigBridge

#51612 [Security] Fix for TraceableAuthenticator debug when no Auth
  src/Symfony/Component/Security/Http/Authenticator/Debug/TraceableAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/Debug/TraceableAuthenticatorTest.php
Labels: Security, Bug, Status: Reviewed

#51616 [DebugBundle] Remove obsolete VarDumper feature detection
  src/Symfony/Bundle/DebugBundle/DependencyInjection/DebugExtension.php
Labels: DebugBundle, Status: Needs Review

#51611 [Console] Remove `Process::fromShellCommandline()` detection
  src/Symfony/Component/Console/Tests/Helper/ProcessHelperTest.php
Labels: Console, Status: Reviewed

#51609 [Form][Security][Validator] Add mk translations
  src/Symfony/Component/Form/Resources/translations/validators.mk.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.mk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mk.xlf
Labels: Form, Validator, Security, Status: Needs Review, Missing translations

#51617 [PsrHttpMessageBridge] Remove `Cookie::create()` detection
  src/Symfony/Bridge/PsrHttpMessage/Tests/Functional/CovertTest.php
Labels: Status: Needs Review, PsrHttpMessageBridge

#51619 [TwigBridge] Remove duck typing from `AppVariable::getFlashes()`
  src/Symfony/Bridge/Twig/AppVariable.php
Labels: Status: Reviewed, TwigBridge

#51624 [Messenger] Fix DoctrineIntegrationTest
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineIntegrationTest.php
Labels: Bug, Status: Needs Review, Messenger

#51626 [TwigBridge][TwigBundle] Drop support for Twig 2
  UPGRADE-7.0.md
  composer.json
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/VarDumper/composer.json
Labels: Feature, TwigBundle, RFC, Status: Reviewed, TwigBridge

#51627 [Security] Fix security tests
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: Security, Bug, Status: Reviewed

#51586 [ErrorHandler] Handle PHP 8.3 `highlight_file` function output changes
  src/Symfony/Bridge/Twig/Extension/CodeExtension.php
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
Labels: Bug, Status: Reviewed, ErrorHandler

#51621 [WebProfilerBundle] Replace last "old" icon + delete ICONS_LICENCE.txt
  src/Symfony/Bundle/WebProfilerBundle/Resources/ICONS_LICENSE.txt
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/messenger.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/chevron-down.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/images/icon-minus-square.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/images/icon-plus-square.svg
Labels: WebProfilerBundle, Status: Reviewed

#51622 [CI] Make tests green again
  src/Symfony/Component/Cache/Traits/RelayProxy.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/SendgridSignedRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/SendgridWrongSecretRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/SendgridWrongSignatureRequestParserTest.php
  src/Symfony/Component/Process/Tests/Messenger/RunProcessMessageHandlerTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
Labels: Status: Reviewed

#51634 [Validator] Make v7 conflict with doctrine-bridge < v7
  src/Symfony/Component/Validator/composer.json
Labels: Validator, Status: Reviewed

#51633 chore: fix ci deprecations
  .github/workflows/integration-tests.yml
  .github/workflows/intl-data-tests.yml
  .github/workflows/package-tests.yml
  .github/workflows/phpunit-bridge.yml
  .github/workflows/psalm.yml
  .github/workflows/unit-tests.yml
Labels: Status: Reviewed

#51635 [Security] Fixing deprecation message
  src/Symfony/Bundle/SecurityBundle/Security.php
Labels: Security, Bug, Status: Reviewed

#51631 [FrameworkBundle] Fix missing PhraseProviderFactory import
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#50438 Add is_valid function to Expression constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/ExpressionValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/ExpressionValidatorTest.php
Labels: Feature, Status: Reviewed

#51640 [WebProfilerBundle] Fix Form profiler toggles
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/form.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#51645 [String] Update wcswidth data with Unicode 15.1
  src/Symfony/Component/String/Resources/WcswidthDataGenerator.php
  src/Symfony/Component/String/Resources/data/wcswidth_table_wide.php
  src/Symfony/Component/String/Resources/data/wcswidth_table_zero.php
Labels: Status: Needs Review, String

#51476 [Serializer] Allow Context to target classes
  src/Symfony/Component/Serializer/Annotation/Context.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ContextMetadataTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/DummyContextChild.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Feature, Status: Reviewed

#51598 [Cache] fix using multiple Redis Sentinel hosts when the first one is not resolvable
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Needs Review, Cache

#51558 [HttpClient] Enable using EventSourceHttpClient::connect() for both GET and POST
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/EventSourceHttpClient.php
  src/Symfony/Component/HttpClient/Tests/EventSourceHttpClientTest.php
Labels: Bug, Status: Reviewed, HttpClient

#51663 [Scheduler] Speed up tests
  src/Symfony/Component/Scheduler/Tests/SchedulerTest.php
Labels: Status: Needs Review, Scheduler

#51638 [FrameworkBundle] [Test] add token attributes in `KernelBrowser::loginUser()`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
Labels: FrameworkBundle, Status: Reviewed

#51651 [Scheduler] Fix stateful scheduler
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/Generator/Checkpoint.php
  src/Symfony/Component/Scheduler/Generator/CheckpointInterface.php
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/RecurringMessage.php
  src/Symfony/Component/Scheduler/Tests/Generator/CheckpointTest.php
  src/Symfony/Component/Scheduler/Tests/Trigger/PeriodicalTriggerTest.php
  src/Symfony/Component/Scheduler/Trigger/AbstractDecoratedTrigger.php
  src/Symfony/Component/Scheduler/Trigger/PeriodicalTrigger.php
  src/Symfony/Component/Scheduler/Trigger/StatefulTriggerInterface.php
Labels: Bug, Status: Reviewed, Scheduler

#51674 [Scheduler] Match next run timezone with "from" timezone
  src/Symfony/Component/Scheduler/Tests/Trigger/PeriodicalTriggerTest.php
  src/Symfony/Component/Scheduler/Trigger/PeriodicalTrigger.php
Labels: Bug, Status: Reviewed, Scheduler

#51672 Fix incompatibility between security-bundle 6.4 and security-http 7.0
  src/Symfony/Bundle/SecurityBundle/composer.json
Labels: Bug, SecurityBundle, Status: Reviewed

#51629 [Notifier] Fix Smsmode HttpClient mandatory headers
  src/Symfony/Component/Notifier/Bridge/Smsmode/SmsmodeTransport.php
  src/Symfony/Component/Notifier/Bridge/Smsmode/Tests/SmsmodeTransportTest.php
Labels: Bug, Status: Needs Review, Notifier

#51659 [HttpClient] Fix TraceableResponse if response has no destruct method
  src/Symfony/Component/HttpClient/Response/TraceableResponse.php
Labels: Bug, Status: Needs Review, HttpClient

#51671 [FrameworkBundle] Fix support for `translator.default_path` in XML
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
Labels: Bug, FrameworkBundle, Status: Needs Review

#51684 [Translation] Give current locale to `LocaleSwitcher::runWithLocale()`'s callback
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/LocaleSwitcher.php
  src/Symfony/Component/Translation/Tests/LocaleSwitcherTest.php
Labels: Feature, Translation, Status: Reviewed

#51601 [Mime] Allow to add some headers as a strings
  src/Symfony/Component/Mime/Header/Headers.php
  src/Symfony/Component/Mime/Tests/Header/HeadersTest.php
Labels: Feature, Status: Reviewed, Mime

#51153 [Translation] Add `--as-tree` option to `translation:pull` command
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Command/TranslationPullCommand.php
  src/Symfony/Component/Translation/Tests/Command/TranslationProviderTestCase.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPullCommandTest.php
Labels: Bug, Feature, Translation, Status: Needs Review

#51198 [DependencyInjection] Fix autocasting `null` env values to empty string with `container.env_var_processors_locator`
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/EnvVarProcessorInterface.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#51675 [Messenger] Fix cloned TraceableStack not unstacking the stack independently
  src/Symfony/Component/Messenger/Middleware/TraceableMiddleware.php
  src/Symfony/Component/Messenger/Tests/Middleware/TraceableMiddlewareTest.php
Labels: Bug, Status: Reviewed, Messenger

#51706 [Translation] [Phrase] Refacto ReadConfig and WriteConfig into arrays
  src/Symfony/Component/Translation/Bridge/Phrase/Config/ReadConfig.php
  src/Symfony/Component/Translation/Bridge/Phrase/PhraseProvider.php
  src/Symfony/Component/Translation/Bridge/Phrase/PhraseProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/Config/ReadConfigTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/Config/WriteConfigTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/PhraseProviderTest.php
Labels: Feature, Translation, Status: Needs Review

#51712 Deprecate `Kernel::stripComments()`
  UPGRADE-6.4.md
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Status: Reviewed

#51721 [Notifier][Telegram] Add escaping for slashes
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
Labels: Status: Reviewed, Notifier

#51727 Remove `setAccessible` reflection call in tests
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/HttpFoundationFactoryTest.php
Labels: Status: Reviewed

#51745 Minor CS fixes
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcTokenHandlerFactory.php
  src/Symfony/Component/Console/Messenger/RunCommandMessage.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/ConsoleEventsTest.php
  src/Symfony/Component/Console/Tests/SignalRegistry/SignalRegistryTest.php
  src/Symfony/Component/Console/Tests/Style/SymfonyStyleTest.php
  src/Symfony/Component/DependencyInjection/LazyProxy/Instantiator/InstantiatorInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/IniFileLoaderTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/ViolationMapper/ViolationMapperTest.php
  src/Symfony/Component/Form/Tests/FormFactoryTest.php
  src/Symfony/Component/HttpClient/Retry/GenericRetryStrategy.php
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/Lock/LockFactory.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Webhook/BrevoRequestParser.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Webhook/PostmarkRequestParser.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsTransport.php
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnSignalsListener.php
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnSigtermSignalListener.php
  src/Symfony/Component/Notifier/Bridge/MicrosoftTeams/MicrosoftTeamsTransport.php
  src/Symfony/Component/Notifier/Bridge/Mobyt/MobytTransport.php
  src/Symfony/Component/Notifier/Bridge/PagerDuty/PagerDutyTransport.php
  src/Symfony/Component/Notifier/Bridge/RocketChat/RocketChatTransport.php
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransport.php
  src/Symfony/Component/Notifier/Bridge/Smsmode/Tests/SmsmodeTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
  src/Symfony/Component/Notifier/Bridge/Twilio/TwilioTransport.php
  src/Symfony/Component/Notifier/Bridge/Zendesk/ZendeskTransport.php
  src/Symfony/Component/Process/Messenger/RunProcessMessage.php
  src/Symfony/Component/PropertyAccess/PropertyAccessorInterface.php
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/RecurringMessage.php
  src/Symfony/Component/Scheduler/Tests/Messenger/SchedulerTransportTest.php
  src/Symfony/Component/Scheduler/Trigger/PeriodicalTrigger.php
  src/Symfony/Component/Scheduler/Trigger/StatefulTriggerInterface.php
  src/Symfony/Component/Templating/StreamingEngineInterface.php
  src/Symfony/Component/Validator/Command/DebugCommand.php
  src/Symfony/Component/Validator/Constraints/Cascade.php
  src/Symfony/Component/Validator/Tests/Constraints/NotCompromisedPasswordValidatorTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/MemberMetadataTest.php
  src/Symfony/Component/Validator/Tests/Mapping/PropertyMetadataTest.php
  src/Symfony/Component/Validator/Tests/Validator/RecursiveValidatorTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/FiberCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/XmlReaderCasterTest.php
  src/Symfony/Component/WebLink/Link.php
  src/Symfony/Component/Workflow/Tests/Dumper/MermaidDumperTest.php
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Contracts/Cache/CacheTrait.php
Labels: Status: Needs Review

#51703 [PhpUnitBridge] Add some more native types
  src/Symfony/Bridge/PhpUnit/ClassExistsMock.php
  src/Symfony/Bridge/PhpUnit/ClockMock.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Configuration.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/DeprecationGroup.php
  src/Symfony/Bridge/PhpUnit/DnsMock.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
Labels: PhpUnitBridge

#51747 [Finder] Disable failing test about open_basedir
  src/Symfony/Component/Finder/Tests/FinderOpenBasedirTest.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
Labels: Finder, Status: Needs Review

#51553 [Scheduler] Allow modifying the schedule at runtime and recalculate heap
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/Schedule.php
  src/Symfony/Component/Scheduler/Tests/Generator/MessageGeneratorTest.php
Labels: Feature, Status: Reviewed, Scheduler

#51415 [Clock] Add `DatePoint`: an immutable DateTime implementation with stricter error handling and return types
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Clock/CHANGELOG.md
  src/Symfony/Component/Clock/Clock.php
  src/Symfony/Component/Clock/ClockAwareTrait.php
  src/Symfony/Component/Clock/DatePoint.php
  src/Symfony/Component/Clock/MockClock.php
  src/Symfony/Component/Clock/MonotonicClock.php
  src/Symfony/Component/Clock/NativeClock.php
  src/Symfony/Component/Clock/Resources/now.php
  src/Symfony/Component/Clock/Tests/ClockAwareTraitTest.php
  src/Symfony/Component/Clock/Tests/ClockTest.php
  src/Symfony/Component/Clock/Tests/DatePointTest.php
Labels: Feature, Status: Reviewed, Clock

#51542 [Scheduler] Trigger unique messages at runtime
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/RecurringMessage.php
  src/Symfony/Component/Scheduler/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Scheduler/Tests/Trigger/CallbackMessageProviderTest.php
  src/Symfony/Component/Scheduler/Trigger/CallbackMessageProvider.php
  src/Symfony/Component/Scheduler/Trigger/MessageProviderInterface.php
  src/Symfony/Component/Scheduler/Trigger/StaticMessageProvider.php
Labels: Feature, Status: Reviewed, Scheduler

#51754 [Cache] Fix Redis6Proxy
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Needs Review, Cache

#51761 [Validator] Fix registering "is_valid()" for `#[Expression]`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.php
  src/Symfony/Component/Validator/Constraints/ExpressionLanguageProvider.php
  src/Symfony/Component/Validator/Constraints/ExpressionValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/ExpressionValidatorTest.php
Labels: Validator, Bug, Status: Needs Review

#51726 [Validator] NoSuspiciousCharacters custom error messages fix
  src/Symfony/Component/Validator/Constraints/NoSuspiciousCharacters.php
Labels: Validator, Bug, Status: Reviewed

#51774 [HttpKernel] Remove deprecated Kernel::stripComment() method
  UPGRADE-7.0.md
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: HttpKernel, Status: Needs Review

#51775 [Cache] Fix two initializations of Redis Sentinel
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Reviewed, Cache

#51776 Replace usages of SkippedTestSuiteError with markTestSkipped() call
  src/Symfony/Component/Cache/Tests/Adapter/AbstractRedisAdapterTestCase.php
  src/Symfony/Component/Cache/Tests/Adapter/CouchbaseBucketAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/DoctrineDbalAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/MemcachedAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PdoAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisAdapterSentinelTest.php
  src/Symfony/Component/Cache/Tests/Adapter/PredisRedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisArrayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RedisClusterAdapterTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RelayAdapterSentinelTest.php
  src/Symfony/Component/Cache/Tests/Adapter/RelayAdapterTest.php
  src/Symfony/Component/Cache/Tests/Traits/RedisTraitTest.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseFunctionalTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/AbstractSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/RedisClusterSessionHandlerTest.php
  src/Symfony/Component/Lock/Tests/Store/MemcachedStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/PredisStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisArrayStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisClusterStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/RelayStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/PredisStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/RedisArrayStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/RedisClusterStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/RedisStoreTest.php
  src/Symfony/Component/Semaphore/Tests/Store/RelayStoreTest.php
Labels: Status: Needs Review

#51529 [Mailer] [Mailgun] fix parsing of payload timestamp to event date value (DateTimeImmutable) in MailgunPayloadConverter
  src/Symfony/Component/Mailer/Bridge/Mailgun/RemoteEvent/MailgunPayloadConverter.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Webhook/Fixtures/clicks.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Webhook/Fixtures/delivered_messages.json
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Webhook/Fixtures/delivered_messages.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Webhook/Fixtures/opens.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Webhook/Fixtures/permanent_failure.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Webhook/Fixtures/spam_complaints.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Webhook/Fixtures/suppression_failure.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Webhook/Fixtures/temporary_failure.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Webhook/Fixtures/unsubscribes.php
Labels: Bug, Status: Reviewed, Mailer

#51489 [Mime] Fix email (de)serialization issues
  src/Symfony/Component/Mime/Part/DataPart.php
  src/Symfony/Component/Mime/Part/TextPart.php
  src/Symfony/Component/Mime/Tests/EmailTest.php
  src/Symfony/Component/Mime/Tests/Fixtures/foo_attachment.txt
Labels: Bug, Status: Reviewed, Mime

#49700 [Serializer] Fix reindex normalizedData array in AbstractObjectNormalizer::denormalize()
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#51710 [Validator] Fix `File::$extensions`’ PHPDoc
  src/Symfony/Component/Validator/Constraints/File.php
Labels: Validator, Bug

#50787 [Messenger] Fix exiting `messenger:failed:retry` command
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/composer.json
Labels: Bug, Status: Reviewed, Messenger

#51701 [Serializer] Fix parsing XML root node attributes
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Serializer, Bug, Status: Reviewed

#51518 [HttpClient] Fix Static Code Analyzer issue with JsonMockResponse
  src/Symfony/Component/HttpClient/Response/JsonMockResponse.php
Labels: Status: Needs Review, HttpClient

#51468 [Messenger] Fix forced bus name gone after an error in delayed message handling
  src/Symfony/Component/Messenger/Exception/DelayedMessageHandlingException.php
  src/Symfony/Component/Messenger/Middleware/DispatchAfterCurrentBusMiddleware.php
  src/Symfony/Component/Messenger/Tests/FailureIntegrationTest.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Bug, Status: Needs Review, Messenger

#51508 [Messenger] Fix routing to multiple fallback transports
  src/Symfony/Component/Messenger/Tests/Transport/Sender/SendersLocatorTest.php
  src/Symfony/Component/Messenger/Transport/Sender/SendersLocator.php
Labels: Bug, Status: Needs Review, Messenger

#50761 [DoctrineBridge] Ignore invalid stores in `LockStoreSchemaListener` raised by `StoreFactory`
  src/Symfony/Bridge/Doctrine/SchemaListener/LockStoreSchemaListener.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/LockStoreSchemaListenerTest.php
Labels: Bug, Status: Needs Review, DoctrineBridge

#51778 [Console][Form][FrameworkBundle][HttpKernel][PropertyInfo][Validator][WebProfilerBundle] Remove optional before required param
  .github/expected-missing-return-types.diff
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/AutowiringTypes/AutowiredServices.php
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Controller/RouterController.php
  src/Symfony/Component/Console/Tests/CI/GithubActionReporterTest.php
  src/Symfony/Component/Form/Extension/DataCollector/FormDataCollector.php
  src/Symfony/Component/HttpKernel/Fragment/AbstractSurrogateFragmentRenderer.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/Validator/Context/ExecutionContext.php
  src/Symfony/Component/Validator/Context/ExecutionContextInterface.php
Labels: Form, Validator, Console, HttpKernel, FrameworkBundle, WebProfilerBundle, Status: Reviewed, PropertyInfo

#51733 [Validator] remove an unreachable code branch
  src/Symfony/Component/Validator/Context/ExecutionContext.php
Labels: Validator, Status: Reviewed

#51593 [Messenger] Add the `--all` option to the `messenger:failed:remove` command
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/FailedMessagesRemoveCommand.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRemoveCommandTest.php
Labels: Feature, Status: Reviewed, Messenger

#51543 [AssetMapper] Add support for CSS files in the importmap
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/ImportMapRuntime.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/asset_mapper.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/XmlFrameworkExtensionTest.php
  src/Symfony/Component/AssetMapper/AssetDependency.php
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/Command/AssetMapperCompileCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapExportCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapRequireCommand.php
  src/Symfony/Component/AssetMapper/Compiler/CssAssetUrlCompiler.php
  src/Symfony/Component/AssetMapper/Compiler/JavaScriptImportPathCompiler.php
  src/Symfony/Component/AssetMapper/Compiler/SourceMappingUrlsCompiler.php
  src/Symfony/Component/AssetMapper/Event/PreAssetsCompileEvent.php
  src/Symfony/Component/AssetMapper/Factory/CachedMappedAssetFactory.php
  src/Symfony/Component/AssetMapper/Factory/MappedAssetFactory.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapConfigReader.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapEntries.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapEntry.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapManager.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapRenderer.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapType.php
  src/Symfony/Component/AssetMapper/ImportMap/JavaScriptImport.php
  src/Symfony/Component/AssetMapper/ImportMap/PackageRequireOptions.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JspmResolver.php
  src/Symfony/Component/AssetMapper/MappedAsset.php
  src/Symfony/Component/AssetMapper/Tests/Command/AssetMapperCompileCommandTest.php
  src/Symfony/Component/AssetMapper/Tests/Compiler/CssAssetUrlCompilerTest.php
  src/Symfony/Component/AssetMapper/Tests/Compiler/JavaScriptImportPathCompilerTest.php
  src/Symfony/Component/AssetMapper/Tests/Compiler/SourceMappingUrlsCompilerTest.php
  src/Symfony/Component/AssetMapper/Tests/Factory/CachedMappedAssetFactoryTest.php
  src/Symfony/Component/AssetMapper/Tests/Factory/MappedAssetFactoryTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapConfigReaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapEntriesTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapManagerTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapRendererTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/JavaScriptImportTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JspmResolverTest.php
  src/Symfony/Component/AssetMapper/Tests/MappedAssetTest.php
  src/Symfony/Component/AssetMapper/Tests/fixtures/dir1/file2.js
  src/Symfony/Component/AssetMapper/Tests/fixtures/dir2/file3.css
  src/Symfony/Component/AssetMapper/Tests/fixtures/download/assets/vendor/lodash.js
  src/Symfony/Component/AssetMapper/Tests/fixtures/download/importmap.php
  src/Symfony/Component/AssetMapper/Tests/fixtures/importmap.php
  src/Symfony/Component/AssetMapper/Tests/fixtures/importmaps/assets2/app2.js
  src/Symfony/Component/AssetMapper/Tests/fixtures/importmaps/assets2/styles/app.css
  src/Symfony/Component/AssetMapper/Tests/fixtures/importmaps/assets2/styles/app2.css
  src/Symfony/Component/AssetMapper/Tests/fixtures/importmaps/assets2/styles/other.css
  src/Symfony/Component/AssetMapper/Tests/fixtures/importmaps/assets2/styles/other2.css
  src/Symfony/Component/AssetMapper/Tests/fixtures/importmaps/assets2/styles/sunshine.css
  src/Symfony/Component/AssetMapper/Tests/fixtures/importmaps/importmap.php
  src/Symfony/Component/AssetMapper/Tests/fixtures/test_public/final-assets/importmap.preload.json
  src/Symfony/Component/AssetMapper/composer.json
Labels: Feature, Status: Reviewed, AssetMapper

#51697 [PropertyInfo] Make isWriteable() more consistent with isReadable() when checking snake_case properties
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/SnakeCaseDummy.php
Labels: Feature, Status: Reviewed, PropertyInfo

#51711 Update InteractiveAuthenticatorInterface description wording to match documentation
  src/Symfony/Component/Security/Http/Authenticator/InteractiveAuthenticatorInterface.php
Labels: Security

#51729 [AssetMapper] Allow simple, relative paths in importmap.php
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapConfigReader.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapEntry.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapManager.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapConfigReaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapManagerTest.php
Labels: Feature, Status: Reviewed, AssetMapper

#51787 Release v5.4.29
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51788 Release v6.3.5
  CHANGELOG-6.3.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#51772 [WebProfilerBundle] Support `!` negation operator in url filter
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Profiler/FileProfilerStorage.php
  src/Symfony/Component/HttpKernel/Tests/Profiler/FileProfilerStorageTest.php
Labels: Feature, WebProfilerBundle, Status: Reviewed

#51779 [Serializer] Make `ProblemNormalizer` give details about Messenger’s `ValidationFailedException`
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/ProblemNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ProblemNormalizerTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Feature, Status: Reviewed

#51756 [Messenger] RejectRedeliveredMessageException should not be retried
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Exception/RejectRedeliveredMessageException.php
Labels: Feature, Status: Reviewed, Messenger
