Repository symfony/symfony, pull requests merged in 2023-02, with the labels that each got.

#49178 Release v4.4.50
  CHANGELOG-4.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#49179 Release v5.4.20
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#49180 Release v6.0.20
  CHANGELOG-6.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#49181 Release v6.1.12
  CHANGELOG-6.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#49182 Release v6.2.6
  CHANGELOG-6.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#49185 [Workflow] remove unused parameter transitionId in MermaidDumper
  src/Symfony/Component/Workflow/Dumper/MermaidDumper.php
Labels: Status: Reviewed, Workflow

#49128 [DependencyInjection] Fix combinatory explosion when autowiring union and intersection types
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
Labels: DependencyInjection, Bug, Status: Needs Review

#49187 [Ldap] Allow multiple values on `extra_fields`
  src/Symfony/Component/Ldap/Security/LdapUserProvider.php
  src/Symfony/Component/Ldap/Tests/Security/LdapUserProviderTest.php
Labels: Bug, Status: Reviewed, Ldap

#49159 [String] Remove duplicates in fold maps
  src/Symfony/Component/String/AbstractUnicodeString.php
Labels: Bug, Status: Needs Review, String

#49146 [PropertyInfo] fail with a meaningful error when a needed package is missing
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
Labels: Bug, Status: Reviewed, PropertyInfo

#48988 [Tests] New iteration of removing `$this` occurrences in future static data providers
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/AbstractDescriptorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/JsonDescriptorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/MarkdownDescriptorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/TextDescriptorTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/XmlDescriptorTest.php
  src/Symfony/Component/Asset/Tests/VersionStrategy/JsonManifestVersionStrategyTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/AbstractNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/ArgumentsNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/ArrayNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/BinaryNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/ConditionalNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/ConstantNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/FunctionNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/GetAttrNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/NameNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/UnaryNodeTest.php
  src/Symfony/Component/Finder/Tests/Iterator/DateRangeFilterIteratorTest.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RequestDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/DataCollector/DummyController.php
  src/Symfony/Component/Intl/Tests/DateFormatter/AbstractIntlDateFormatterTest.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/AbstractNumberFormatterTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorArrayAccessTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorArrayObjectTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorArrayTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorNonTraversableArrayObjectTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTraversableArrayObjectTest.php
  src/Symfony/Component/Security/Core/Test/AccessDecisionStrategyTestCase.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Strategy/AffirmativeStrategyTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Strategy/ConsensusStrategyTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Strategy/PriorityStrategyTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Strategy/UnanimousStrategyTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/DefaultAuthenticationSuccessHandlerTest.php
Labels: Bug, Status: Reviewed

#49107 [6.2] Remove mentions of v6.1 backers
  src/Symfony/Component/HttpClient/README.md
  src/Symfony/Component/Notifier/README.md
  src/Symfony/Component/Process/README.md
  src/Symfony/Component/Runtime/README.md
Labels: Status: Reviewed

#49129 [Translation] Crowdin renewed their sponsorship for v6.2
  src/Symfony/Component/Translation/Bridge/Crowdin/README.md
  src/Symfony/Component/Translation/README.md
Labels: Translation, Status: Reviewed

#49130 [Notifier] Mention Prisma Media as backer of v6.2
  src/Symfony/Component/Notifier/README.md
Labels: Status: Reviewed, Notifier

#49162 Clarifies when to update UPGRADE-7.0.md
  UPGRADE-7.0.md
Labels: Status: Reviewed

#49205 [WebProfilerBundle] Remove obsolete elements and attributes
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/form.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/logger.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/notifier.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.html.twig
Labels: WebProfilerBundle, Status: Reviewed

#49226 [WebProfilerBundle] Disable Turbo for debug toolbar links
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#49224 [WebProfilerBundle] Fix an accessibility issue in the search form of the header
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/header.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#49220 [Validator] Make ConstraintValidatorTestCase compatible with PHPUnit 10
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
Labels: Validator, Bug, Status: Reviewed

#49210 [Mailer] [MailPace] Fix undefined key in error response
  src/Symfony/Component/Mailer/Bridge/MailPace/Tests/Transport/MailPaceApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/MailPace/Transport/MailPaceApiTransport.php
Labels: Bug, Status: Reviewed, Mailer

#49208 [Form] Fix `PasswordHasherListener` to work with empty data
  src/Symfony/Component/Form/Extension/PasswordHasher/EventListener/PasswordHasherListener.php
  src/Symfony/Component/Form/Tests/Extension/PasswordHasher/Type/PasswordTypePasswordHasherExtensionTest.php
Labels: Form, Bug, Status: Reviewed

#49207 [PropertyInfo] Add meaningful message when `phpstan/phpdoc-parser` is not installed when using `PhpStanExtractor`
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
Labels: Bug, Status: Reviewed, PropertyInfo

#49232 Remove 6.0 and 6.1 from the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#48880 [Response] `getMaxAge()` returns non-negative integer
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
  src/Symfony/Component/HttpKernel/HttpCache/HttpCache.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: Bug, Status: Reviewed

#49164 [Yaml] Feature #48920 Allow milliseconds and microseconds in dates
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/DumperTest.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Feature, Yaml, Status: Reviewed

#49098 [Config] Allow enum values in EnumNode
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/Dumper/XmlReferenceDumper.php
  src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php
  src/Symfony/Component/Config/Definition/EnumNode.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/PrimitiveTypes.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/PrimitiveTypes/Symfony/Config/PrimitiveTypesConfig.php
  src/Symfony/Component/Config/Tests/Definition/Dumper/XmlReferenceDumperTest.php
  src/Symfony/Component/Config/Tests/Definition/Dumper/YamlReferenceDumperTest.php
  src/Symfony/Component/Config/Tests/Definition/EnumNodeTest.php
  src/Symfony/Component/Config/Tests/Fixtures/Configuration/ExampleConfiguration.php
  src/Symfony/Component/Config/Tests/Fixtures/TestEnum.php
  src/Symfony/Component/Config/Tests/Fixtures/TestEnum2.php
Labels: Feature, Config, Status: Reviewed

#49235 [ErrorHandler] fix test
  src/Symfony/Component/ErrorHandler/Tests/ErrorRenderer/HtmlErrorRendererTest.php
Labels: Status: Needs Review, ErrorHandler

#49241 Misc code improvements and optimizations
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/Validator/Constraints/Cidr.php
  src/Symfony/Component/Yaml/Dumper.php
Labels: Status: Reviewed

#49248 [Config] Fix phpdoc nullable
  src/Symfony/Component/Config/Definition/Processor.php
Labels: Bug, Config, Status: Reviewed

#49247 [Translator] Replace deprecated/removed way to configure enabled_locales
  src/Symfony/Component/Translation/Command/TranslationPushCommand.php
Labels: Bug, Status: Reviewed

#49249 [Dotenv] Fix phpdoc Dotenv
  src/Symfony/Component/Dotenv/Dotenv.php
Labels: Status: Reviewed, Dotenv

#49236 stop using `assertObjectHasAttribute()`/`assertObjectHasNotAttribute()`
  src/Symfony/Bridge/Doctrine/Tests/ManagerRegistryTest.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
  src/Symfony/Component/HttpFoundation/Tests/StreamedResponseTest.php
Labels: Status: Reviewed

#49240 [Lock] Fix some typos in MongoDbStore
  UPGRADE-6.3.md
  src/Symfony/Component/Lock/CHANGELOG.md
  src/Symfony/Component/Lock/Store/MongoDbStore.php
  src/Symfony/Component/Lock/composer.json
Labels: Status: Reviewed, Deprecation, Lock

#49239 Fix some typos
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Config/Resource/ClassExistenceResource.php
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Status: Needs Review

#49255 [Cache] Fix Redis proxies
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/Redis5Proxy.php
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster5Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6Proxy.php
Labels: Bug, Status: Needs Review, Cache

#49244 [Tests] Migrate data providers to static ones
  src/Symfony/Bridge/Doctrine/Tests/Form/DoctrineOrmTypeGuesserTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DataCollector/SecurityDataCollectorTest.php
  src/Symfony/Component/Console/Tests/Descriptor/AbstractDescriptorTest.php
  src/Symfony/Component/Console/Tests/Descriptor/JsonDescriptorTest.php
  src/Symfony/Component/Console/Tests/Descriptor/MarkdownDescriptorTest.php
  src/Symfony/Component/Console/Tests/Descriptor/TextDescriptorTest.php
  src/Symfony/Component/Console/Tests/Descriptor/XmlDescriptorTest.php
  src/Symfony/Component/CssSelector/Tests/Node/AbstractNodeTest.php
  src/Symfony/Component/CssSelector/Tests/Node/AttributeNodeTest.php
  src/Symfony/Component/CssSelector/Tests/Node/ClassNodeTest.php
  src/Symfony/Component/CssSelector/Tests/Node/CombinedSelectorNodeTest.php
  src/Symfony/Component/CssSelector/Tests/Node/ElementNodeTest.php
  src/Symfony/Component/CssSelector/Tests/Node/FunctionNodeTest.php
  src/Symfony/Component/CssSelector/Tests/Node/HashNodeTest.php
  src/Symfony/Component/CssSelector/Tests/Node/NegationNodeTest.php
  src/Symfony/Component/CssSelector/Tests/Node/PseudoNodeTest.php
  src/Symfony/Component/CssSelector/Tests/Node/SelectorNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/ParserTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ContainerControllerResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ControllerResolverTest.php
  src/Symfony/Component/Intl/Tests/DateFormatter/AbstractIntlDateFormatterTest.php
  src/Symfony/Component/Intl/Tests/DateFormatter/IntlDateFormatterTest.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/AbstractNumberFormatterTest.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/NumberFormatterTest.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/Verification/NumberFormatterTest.php
  src/Symfony/Component/Translation/Tests/PseudoLocalizationTranslatorTest.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Status: Reviewed

#49245 [Serializer] Fix CsvEncoder decode on empty data
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
Labels: Serializer, Status: Needs Review

#49243 [TwigBridge] Improve form_errors of bootstrap5 form theme
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_5_layout.html.twig
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5HorizontalLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5LayoutTest.php
Labels: Feature, Status: Reviewed, TwigBridge

#49147 [Intl] Generate all emoji short name returned by slack api
  src/Symfony/Component/Intl/Resources/data/transliterator/emoji/slack-emoji.php
  src/Symfony/Component/Intl/Resources/emoji/Makefile
  src/Symfony/Component/Intl/Resources/emoji/build.php
Labels: Bug, Intl, Status: Needs Review

#49278 Remove unused data provider
  src/Symfony/Component/Filesystem/Tests/PathTest.php
Labels: Status: Needs Review

#49193 [Security] Return 403 instead of 500 when no firewall is defined
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ErrorListenerTest.php
  src/Symfony/Component/Security/Core/Exception/AccessDeniedException.php
  src/Symfony/Component/Security/Core/Exception/AuthenticationException.php
  src/Symfony/Component/Security/Http/EntryPoint/Exception/NotAnEntryPointException.php
Labels: Security, Feature, Status: Reviewed

#49282 [VarExporter] Fix lazy-proxying readonly classes on PHP 8.3
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/Redis5Proxy.php
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster5Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6Proxy.php
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_dedup_lazy.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_wither_lazy.php
  src/Symfony/Component/DependencyInjection/composer.json
  src/Symfony/Component/VarDumper/Caster/SymfonyCaster.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectRegistry.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectState.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectTrait.php
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
  src/Symfony/Component/VarExporter/ProxyHelper.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/ReadOnlyClass.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
  src/Symfony/Component/VarExporter/Tests/LazyProxyTraitTest.php
  src/Symfony/Component/VarExporter/Tests/ProxyHelperTest.php
Labels: Bug, Status: Needs Review, VarExporter

#49284 [Cache] Sync RelayProxy with latest lazy-proxy changes
  .github/workflows/unit-tests.yml
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/RelayProxy.php
  src/Symfony/Component/Semaphore/Tests/Store/AbstractStoreTestCase.php
Labels: Status: Needs Review, Cache

#49289 [FrameworkBundle] Fix symfony/dom-crawler conflict
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Reviewed

#49290 [FrameworkBundle][Yaml] Remove some unused code
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Yaml/Command/LintCommand.php
  src/Symfony/Component/Yaml/Tests/Command/LintCommandTest.php
Labels: FrameworkBundle, Yaml, Status: Reviewed

#49214 [Mailer] add Sender to the list of bypassed headers
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Transport/SendinblueApiTransport.php
Labels: Bug, Status: Reviewed, Mailer

#49314 [HttpClient] Revert support for "friendsofphp/well-known-implementations"
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Psr18Client.php
Labels: Bug, Status: Needs Review, HttpClient

#49299 [HttpClient] Fix over-encoding of URL parts to match browser's behavior
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
  src/Symfony/Component/Notifier/Bridge/SmsBiuras/Tests/SmsBiurasTransportTest.php
Labels: Bug, Status: Needs Review

#49267 [Form] Check for `RepeatedType` child in `PasswordHasherListener`
  src/Symfony/Component/Form/Extension/PasswordHasher/EventListener/PasswordHasherListener.php
  src/Symfony/Component/Form/Tests/Extension/PasswordHasher/Type/PasswordTypePasswordHasherExtensionTest.php
  src/Symfony/Component/Form/Tests/Fixtures/RepeatedPasswordField.php
Labels: Form, Bug, Status: Reviewed

#49310 [Notifier][WebProfilerBundle] Ignore messages whose `getNotification` returns `null`
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/notifier.html.twig
Labels: Bug, WebProfilerBundle, Status: Needs Work, Notifier

#49216 [Validator] LuhnValidator code optimization
  src/Symfony/Component/Validator/Constraints/LuhnValidator.php
Labels: Validator, Status: Reviewed, Performance

#49301 [HttpClient] Fix data collector
  src/Symfony/Component/HttpClient/DataCollector/HttpClientDataCollector.php
Labels: Bug, Status: Needs Review, HttpClient

#49321 Use xxh128 instead of md5
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/MaxIdLengthAdapterTest.php
  src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
  src/Symfony/Component/Config/Resource/DirectoryResource.php
  src/Symfony/Component/Config/Resource/GlobResource.php
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/DependencyInjection/Config/ContainerParametersResource.php
  src/Symfony/Component/DependencyInjection/ParameterBag/EnvPlaceholderParameterBag.php
  src/Symfony/Component/DependencyInjection/Tests/Config/ContainerParametersResourceTest.php
  src/Symfony/Component/HttpClient/Internal/AmpClientState.php
  src/Symfony/Component/HttpKernel/DataCollector/LoggerDataCollector.php
  src/Symfony/Component/Intl/Transliterator/EmojiTransliterator.php
  src/Symfony/Component/Lock/Store/SemaphoreStore.php
  src/Symfony/Component/Notifier/Bridge/Twitter/TwitterTransport.php
  src/Symfony/Component/Security/Csrf/CsrfTokenManager.php
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/VarDumper/Cloner/VarCloner.php
Labels: Status: Reviewed

#49288 [Tests] Migrate tests to static data providers
  src/Symfony/Bridge/Doctrine/Tests/Form/DoctrineOrmTypeGuesserTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Controller/ProfilerControllerTest.php
  src/Symfony/Component/Console/Tests/Descriptor/AbstractDescriptorTestCase.php
  src/Symfony/Component/DomCrawler/Tests/Html5ParserCrawlerTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/GetAttrNodeTest.php
  src/Symfony/Component/Filesystem/Tests/PathTest.php
  src/Symfony/Component/Finder/Tests/Iterator/DepthRangeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/ExcludeDirectoryFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/FileTypeFilterIteratorTest.php
  src/Symfony/Component/Finder/Tests/Iterator/SortableIteratorTest.php
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreFactoryTest.php
  src/Symfony/Component/Lock/Tests/Store/RedisProxyStoreFactoryTest.php
  src/Symfony/Component/Lock/Tests/Store/StoreFactoryTest.php
  src/Symfony/Component/Lock/Tests/Store/ZookeeperStoreFactoryTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Strategy/AffirmativeStrategyTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Strategy/ConsensusStrategyTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Strategy/PriorityStrategyTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Strategy/UnanimousStrategyTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/DummyAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/DummyToken.php
  src/Symfony/Component/Validator/Tests/Constraints/AbstractComparisonValidatorTestCase.php
  src/Symfony/Component/Validator/Tests/Constraints/DivisibleByValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/EqualToValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanOrEqualValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanOrEqualValidatorWithPositiveOrZeroConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanValidatorWithPositiveConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/IdenticalToValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanOrEqualValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanOrEqualValidatorWithNegativeOrZeroConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanValidatorWithNegativeConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/NotEqualToValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/NotIdenticalToValidatorTest.php
  src/Symfony/Component/Workflow/Tests/Dumper/GraphvizDumperTest.php
  src/Symfony/Component/Workflow/Tests/Dumper/MermaidDumperTest.php
  src/Symfony/Component/Workflow/Tests/Dumper/PlantUmlDumperTest.php
  src/Symfony/Component/Workflow/Tests/WorkflowBuilderTrait.php
Labels: Bug, Status: Needs Review

#49286 Split and clean up tests
  src/Symfony/Bundle/SecurityBundle/Tests/DataCollector/SecurityDataCollectorTest.php
Labels: Bug, Status: Needs Review

#47946 [FrameworkBundle] Fix checkboxes check assertions
  src/Symfony/Bundle/FrameworkBundle/Test/DomCrawlerAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Test/WebTestCaseTest.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#49313 Add warning about Symfony 5.2 changing pcntl_async_signals
  UPGRADE-5.2.md
Labels: Status: Needs Review

#49328 [Tests] Fix static calls and Mock var annotation
  src/Symfony/Bundle/WebProfilerBundle/Tests/Controller/ProfilerControllerTest.php
  src/Symfony/Component/Console/Tests/Descriptor/AbstractDescriptorTestCase.php
Labels: Bug, Status: Reviewed

#49327 [Notifier] Introduce FromNotificationInterface for MessageInterface implementations
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/Notifier/Message/ChatMessage.php
  src/Symfony/Component/Notifier/Message/EmailMessage.php
  src/Symfony/Component/Notifier/Message/FromNotificationInterface.php
  src/Symfony/Component/Notifier/Message/PushMessage.php
  src/Symfony/Component/Notifier/Message/SmsMessage.php
Labels: Feature, Status: Reviewed, Notifier

#49261 Smsapi - Make "from" optional
  src/Symfony/Component/Notifier/Bridge/Smsapi/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Smsapi/README.md
  src/Symfony/Component/Notifier/Bridge/Smsapi/SmsapiTransport.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/SmsapiTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/Tests/SmsapiTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/Tests/SmsapiTransportTest.php
Labels: Feature, Status: Reviewed

#49330 [FrameworkBundle] Improve error message in MicroKernelTrait when using deprecated configureRoutes(RouteCollectionBuilder) with symfony/routing >= 6.0
  src/Symfony/Bundle/FrameworkBundle/Kernel/MicroKernelTrait.php
Labels: FrameworkBundle, Status: Needs Review

#49335 fix tests
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderWithoutTranslatorBagTest.php
  src/Symfony/Component/Translation/Bridge/Loco/composer.json
Labels: Status: Needs Review

#49334 [DependencyInjection] keep `proxy` tag on original definition when decorating
  src/Symfony/Component/DependencyInjection/Compiler/DecoratorServicePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/DecoratorServicePassTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#49337 Fix some phpdoc
  src/Symfony/Component/ExpressionLanguage/Token.php
  src/Symfony/Component/Filesystem/Tests/Fixtures/MockStream/MockStream.php
  src/Symfony/Component/Finder/Comparator/NumberComparator.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/IntegerToLocalizedStringTransformer.php
Labels: Status: Reviewed

#49346 [ErrorHandler] Do not patch return statements in closures
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
Labels: Bug, Status: Reviewed, ErrorHandler

#49353 [Cache] Only validate dbindex parameter when applicable
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Needs Review, Cache

#49345 [Tests] Migrate tests to static data providers
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AccessDecisionManagerTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/TraceableAccessDecisionManagerTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/ExpressionVoterTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/VoterTest.php
  src/Symfony/Component/Security/Core/Tests/Fixtures/DummyVoter.php
  src/Symfony/Component/Security/Csrf/Tests/CsrfTokenManagerTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/DummySupportsAuthenticator.php
  src/Symfony/Component/Semaphore/Tests/Store/StoreFactoryTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CountValidatorArrayTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CountValidatorCountableTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CountValidatorTestCase.php
  src/Symfony/Component/Validator/Tests/Constraints/IpValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/IsbnValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/IssnValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/TypeValidatorTest.php
Labels: Bug, Status: Reviewed

#49265 [HttpKernel] Fix setting the session on the main request when it's started by a subrequest
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
Labels: Bug, HttpKernel, Status: Needs Review

#49001 Speed up Psalm tests
  .github/workflows/psalm.yml
Labels: Status: Needs Review

#49326 [Notifier] Fix notifier profiler when transport name is null
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/notifier.html.twig
  src/Symfony/Component/Notifier/Event/NotificationEvents.php
Labels: Bug, Status: Needs Review, Notifier

#49371 Fix PHPDoc (wrong order)
  src/Symfony/Component/Translation/Test/ProviderTestCase.php
Labels: Bug, Status: Reviewed

#49372 [Yaml] Fix parsing sub-second dates on x86
  src/Symfony/Component/Yaml/CHANGELOG.md
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Yaml, Status: Needs Review

#49378 [Notifier] Add missing use statement
  src/Symfony/Component/Notifier/Test/TransportFactoryTestCase.php
Labels: Bug, Status: Reviewed, Notifier

#49381 Fix PHPUnit 9.6 deprecations
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunHttpTransportTest.php
Labels: Bug, Status: Reviewed

#49391 [ExpressionLanguage] add missing variable
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
Labels: ExpressionLanguage, Status: Reviewed

#49393 [Config] cleanup exception message on missing class
  src/Symfony/Component/Config/Resource/ClassExistenceResource.php
Labels: Config, Status: Reviewed

#49395 fix trying to load Memcached before checking we can
  src/Symfony/Component/Cache/Adapter/MemcachedAdapter.php
Labels: Bug, Status: Reviewed

#49377 [DependencyInjection] Add doc for `RUNTIME_EXCEPTION_ON_INVALID_REFERENCE` behavior
  src/Symfony/Component/DependencyInjection/Container.php
Labels: DependencyInjection, Status: Needs Review

#49363 [Twig] Remove Twig templates from preloading
  src/Symfony/Bundle/TwigBundle/CacheWarmer/TemplateCacheWarmer.php
Labels: Bug, Status: Reviewed

#49233 Use PHPUnit 9.6 to run Symfony's test suite
  phpunit
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/ConfigurationTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ButtonTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FormTypeTest.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/AbstractNumberFormatterTest.php
Labels: Status: Needs Review

#49406 Fix expected missing return types
  .github/expected-missing-return-types.diff
Labels: Status: Needs Review

#49407 [Contracts] Add missing return types
  .github/expected-missing-return-types.diff
  .github/workflows/unit-tests.yml
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/UploadValidatorExtensionTest.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Contracts/Service/ResetInterface.php
  src/Symfony/Contracts/Translation/LocaleAwareInterface.php
Labels: Status: Needs Review, Contracts

#49379 [DependencyInjection] Fix autowire attribute with nullable parameters
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_80.php
Labels: DependencyInjection, Bug, Status: Needs Review

#49408 remove not needed PHP version switch
  phpunit
Labels: Status: Reviewed

#49416 [Form] Add missing return types to interfaces
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Form/DataMapperInterface.php
  src/Symfony/Component/Form/Extension/DataCollector/FormDataCollectorInterface.php
  src/Symfony/Component/Form/FormRendererEngineInterface.php
  src/Symfony/Component/Form/FormRendererInterface.php
  src/Symfony/Component/Form/FormTypeExtensionInterface.php
  src/Symfony/Component/Form/RequestHandlerInterface.php
  src/Symfony/Component/Form/ResolvedFormTypeInterface.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FormTypeTest.php
Labels: Form, Status: Needs Review

#49414 Fix Request locale property doc types
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Status: Needs Review

#49419 [Intl] use TestCase suffix for abstract tests in Tests directories
  src/Symfony/Component/Intl/Tests/Collator/AbstractCollatorTestCase.php
  src/Symfony/Component/Intl/Tests/Collator/CollatorTest.php
  src/Symfony/Component/Intl/Tests/Collator/Verification/CollatorTest.php
  src/Symfony/Component/Intl/Tests/DateFormatter/AbstractIntlDateFormatterTestCase.php
  src/Symfony/Component/Intl/Tests/DateFormatter/IntlDateFormatterTest.php
  src/Symfony/Component/Intl/Tests/DateFormatter/Verification/IntlDateFormatterTest.php
  src/Symfony/Component/Intl/Tests/Globals/AbstractIntlGlobalsTestCase.php
  src/Symfony/Component/Intl/Tests/Globals/IntlGlobalsTest.php
  src/Symfony/Component/Intl/Tests/Globals/Verification/IntlGlobalsTest.php
  src/Symfony/Component/Intl/Tests/Locale/AbstractLocaleTestCase.php
  src/Symfony/Component/Intl/Tests/Locale/LocaleTest.php
  src/Symfony/Component/Intl/Tests/Locale/Verification/LocaleTest.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/AbstractNumberFormatterTestCase.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/NumberFormatterTest.php
  src/Symfony/Component/Intl/Tests/NumberFormatter/Verification/NumberFormatterTest.php
Labels: Intl, Status: Reviewed

#49400 [WebProfilerBundle] Tweak Mailer panel rendering
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/mailer.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#49423 [Translation] fix tests
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderWithoutTranslatorBagTest.php
Labels: Translation, Status: Needs Review

#49424 [Notifier] remove invalid test
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportFactoryTest.php
Labels: Status: Needs Review, Notifier

#49425 fix some version constraints
  src/Symfony/Component/Mailer/Bridge/Infobip/composer.json
  src/Symfony/Component/Mailer/Bridge/MailPace/composer.json
  src/Symfony/Component/Translation/Bridge/Loco/composer.json
Labels: Status: Needs Review

#49437 [Notifier] fix tests
  src/Symfony/Component/Notifier/Bridge/Bandwidth/Tests/BandwidthTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Isendpro/Tests/IsendproTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/LineNotify/Tests/LineNotifyTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Mastodon/Tests/MastodonTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/PagerDuty/Tests/PagerDutyTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Plivo/Tests/PlivoTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/RingCentral/Tests/RingCentralTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Smsapi/Tests/SmsapiTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Termii/Tests/TermiiTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Twitter/Tests/TwitterTransportFactoryTest.php
Labels: Status: Needs Review, Notifier

#49411 [DependencyInjection] Add AsAlias attribute
  src/Symfony/Component/DependencyInjection/Attribute/AsAlias.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/PrototypeAsAlias/AliasBarInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/PrototypeAsAlias/AliasFooInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/PrototypeAsAlias/WithAsAlias.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/PrototypeAsAlias/WithAsAliasDuplicate.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/PrototypeAsAlias/WithAsAliasIdMultipleInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/PrototypeAsAlias/WithAsAliasInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/PrototypeAsAlias/WithAsAliasMultiple.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/PrototypeAsAlias/WithAsAliasMultipleInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#49331 [PropertyAccess] Allow escaping in PropertyPath
  src/Symfony/Component/PropertyAccess/CHANGELOG.md
  src/Symfony/Component/PropertyAccess/PropertyPath.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyPathTest.php
Labels: Feature, PropertyAccess, Status: Reviewed

#48897 [Console] fix clear of section with question
  src/Symfony/Component/Console/Output/ConsoleSectionOutput.php
  src/Symfony/Component/Console/Style/SymfonyStyle.php
  src/Symfony/Component/Console/Tests/Style/SymfonyStyleTest.php
Labels: Bug, Console, Status: Reviewed

#49420 improve deprecation message
  src/Symfony/Component/Validator/Constraints/Email.php
Labels: Status: Reviewed

#49432 Fix phpdocs in HttpClient, HttpFoundation, HttpKernel, Intl components
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpFoundation/Cookie.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Session/SessionInterface.php
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/NativeFileSessionHandler.php
  src/Symfony/Component/HttpFoundation/Session/Storage/MetadataBag.php
  src/Symfony/Component/HttpFoundation/Session/Storage/SessionStorageInterface.php
  src/Symfony/Component/HttpKernel/Fragment/HIncludeFragmentRenderer.php
  src/Symfony/Component/HttpKernel/HttpCache/SurrogateInterface.php
  src/Symfony/Component/Intl/DateFormatter/DateFormat/HourTransformer.php
  src/Symfony/Component/Intl/DateFormatter/IntlDateFormatter.php
  src/Symfony/Component/Intl/Locale/Locale.php
  src/Symfony/Component/Intl/NumberFormatter/NumberFormatter.php
  src/Symfony/Component/Intl/ResourceBundle.php
Labels: Status: Reviewed

#49427 [WebProfilerBundle] Render original (not encoded) email headers
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/mailer.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#49272 [Workflow] remove new lines from workflow metadata
  src/Symfony/Component/Workflow/Dumper/MermaidDumper.php
  src/Symfony/Component/Workflow/Dumper/PlantUmlDumper.php
  src/Symfony/Component/Workflow/Tests/Dumper/StateMachineGraphvizDumperTest.php
  src/Symfony/Component/Workflow/Tests/WorkflowBuilderTrait.php
Labels: Bug, Status: Reviewed, Workflow

#49456 [Clock] Fix documentation url in README.md
  src/Symfony/Component/Clock/README.md
Labels: Bug, Status: Needs Review, Clock

#49435 Remove unused local variable
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/LockRegistry.php
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpKernel/Event/ControllerEvent.php
Labels: Status: Needs Review

#49431 [Mailer][Translation] Remove some `static` occurrences that may cause unstable tests
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Google/Tests/Transport/GmailTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/MailPace/Tests/Transport/MailPaceTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Tests/Transport/MandrillTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Transport/MailjetTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/OhMySmtp/Tests/Transport/OhMySmtpTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Transport/PostmarkTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Tests/Transport/SendinblueTransportFactoryTest.php
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Test/TransportFactoryTestCase.php
  src/Symfony/Component/Mailer/Tests/Command/MailerTestCommandTest.php
  src/Symfony/Component/Mailer/Tests/Transport/NullTransportFactoryTest.php
  src/Symfony/Component/Mailer/Tests/Transport/SendmailTransportFactoryTest.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/EsmtpTransportFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderWithoutTranslatorBagTest.php
  src/Symfony/Component/Translation/Bridge/Lokalise/Tests/LokaliseProviderTest.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Test/ProviderTestCase.php
Labels: Bug, Translation, Status: Reviewed, Mailer

#49442 [TwigBundle] Add alias deprecation for `Twig_Environment`
  src/Symfony/Bundle/TwigBundle/CHANGELOG.md
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
Labels: TwigBundle, Status: Reviewed, Deprecation

#49459 [Form] Skip password hashing on empty password
  src/Symfony/Component/Form/Extension/PasswordHasher/EventListener/PasswordHasherListener.php
  src/Symfony/Component/Form/Tests/Extension/PasswordHasher/Type/PasswordTypePasswordHasherExtensionTest.php
Labels: Form, Bug, Status: Reviewed

#49421 [TwigBridge] do not drop embed label classes
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/foundation_5_layout.html.twig
Labels: Bug, Status: Needs Review, TwigBridge

#49412 [DependencyInjection] Allow trimming service parameters value in XML configuration files
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services2.xml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#49405 [MonologBridge] FirePHPHandler::onKernelResponse throws PHP 8.1 deprecation when no user agent is set
  src/Symfony/Bridge/Monolog/Handler/FirePHPHandler.php
  src/Symfony/Bridge/Monolog/Tests/Handler/FirePHPHandlerTest.php
Labels: Bug, MonologBridge, Status: Needs Review

#49446 [SecurityBundle] Fix `Security::login()` on specific firewall
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/SecurityHelper/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/SecurityHelper/routing.yml
  src/Symfony/Bundle/SecurityBundle/Tests/SecurityTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#49426 [DependencyInjection] Improve dumping closure of service closure
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/closure.php
Labels: DependencyInjection, Status: Reviewed

#49467 Update Redis version to 6.2.8 for integrationtests
  .github/workflows/integration-tests.yml
Labels: Bug, Status: Needs Review

#49433 [DependencyInjection] allow extending `Autowire` attribute
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_80.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
Labels: DependencyInjection, Feature, Status: Needs Review

#49429 [Mailer] Add option to enable Sandbox via dsn option sandbox=true
  src/Symfony/Component/Mailer/Bridge/Mailjet/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Mailjet/README.md
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Transport/MailjetApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetTransportFactory.php
Labels: Feature, Status: Reviewed, Mailer

#49428 [Messenger] Allow to define batch size when using `BatchHandlerTrait` with `getBatchSize()`
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Handler/BatchHandlerTrait.php
  src/Symfony/Component/Messenger/Tests/Middleware/HandleMessageMiddlewareTest.php
Labels: Feature, Status: Reviewed, Messenger

#49318 [HttpKernel] Add `skip_response_headers` to the `HttpCache` options
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/HttpCache/HttpCache.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#49300 [Validator] Add a `NoSuspiciousCharacters` constraint to validate a string is not suspicious
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/NoSuspiciousCharacters.php
  src/Symfony/Component/Validator/Constraints/NoSuspiciousCharactersValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/NoSuspiciousCharactersValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#49464 [Validator] Implement countUnit option for Length constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Length.php
  src/Symfony/Component/Validator/Constraints/LengthValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LengthValidatorTest.php
Labels: Validator, Feature, Status: Needs Review

#49470 Include value type when unable to dump a service container
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Dumper/YamlDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/XmlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/YamlDumperTest.php
Labels: Feature, Status: Reviewed

#49472 [DependencyInjection] Only dump array keys when value is not a list
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_adawson.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_uninitialized_ref.php
Labels: DependencyInjection, Status: Needs Review

#49474 [DependencyInjection] Remove static from closures
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/closure.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services10_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_closure_argument_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_errored_definition.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_requires.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_locator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_duplicates.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_uninitialized_ref.php
Labels: DependencyInjection, Status: Needs Review

#49475 [DependencyInjection] Use short arrow closure for EmptyIterator
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_as_files.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_private.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_almost_circular_public.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_errored_definition.php
Labels: DependencyInjection, Status: Needs Review

#49476 [DependencyInjection] Make some functions static again
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services9_lazy_inlined_factories.txt
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_inline_requires.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_duplicates.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
Labels: DependencyInjection, Status: Needs Review

#49471 [DependencyInjection] Only include `$containerRef` in compiled container when needed
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_closure_argument_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_locator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_uninitialized_ref.php
Labels: DependencyInjection, Status: Needs Review

#49275 [FrameworkBundle][HttpKernel] Configure `ErrorHandler` on boot
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/HttpKernel/Debug/ErrorHandlerConfigurator.php
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
  src/Symfony/Component/HttpKernel/Tests/Debug/ErrorHandlerConfiguratorTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/DebugHandlersListenerTest.php
Labels: Feature, HttpKernel, FrameworkBundle, Status: Needs Review

#49481 Remove unused local variable
  src/Symfony/Bridge/Monolog/Handler/MailerHandler.php
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Component/Mailer/Transport/AbstractHttpTransport.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsSender.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatOptions.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Translation/Loader/QtFileLoader.php
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
Labels: Status: Needs Review

#49482 Fix phpdocs in components
  src/Symfony/Component/Lock/Store/MongoDbStore.php
  src/Symfony/Component/Mime/FileinfoMimeTypeGuesser.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/RateLimiter/LimiterInterface.php
  src/Symfony/Component/RateLimiter/Policy/TokenBucketLimiter.php
  src/Symfony/Component/Serializer/Normalizer/CustomNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
  src/Symfony/Component/Serializer/Normalizer/NormalizerInterface.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Translation/Loader/IcuResFileLoader.php
  src/Symfony/Component/Translation/MessageCatalogueInterface.php
  src/Symfony/Component/VarDumper/Caster/Caster.php
  src/Symfony/Component/VarExporter/VarExporter.php
  src/Symfony/Component/Yaml/Inline.php
Labels: Status: Needs Review

#49477 [WebProfilerBundle] Fix the rendering of query explanation with Postgresql
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Bug, WebProfilerBundle, Status: Needs Review

#49479 [Mailer] Reflect sandbox state in `MailjetApiTransport::__toString()`
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Transport/MailjetApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/Transport/MailjetApiTransport.php
Labels: Bug, Status: Needs Review, Mailer

#49487 [FrameworkBundle] Allow disabling dumping of container to XML to improve performance
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/BuildDebugContainerTrait.php
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/ContainerBuilderDebugDumpPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#49485 [String] Use same alphabet in ByteString::fromRandom test
  src/Symfony/Component/String/Tests/ByteStringTest.php
Labels: Status: Needs Review, String

#49480 [FrameworkBundle] Add `framework.http_cache.skip_response_headers` option
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/HttpClient/CachingHttpClient.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#49417 [Validator] Add the option filenameMaxLength to the File constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/File.php
  src/Symfony/Component/Validator/Constraints/FileValidator.php
  src/Symfony/Component/Validator/Constraints/Image.php
  src/Symfony/Component/Validator/Tests/Constraints/FileValidatorTestCase.php
Labels: Validator, Feature, Status: Reviewed

#49139 [FrameworkBundle][HttpKernel] Display warmers duration on debug verbosity for `cache:clear` command
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Component/HttpKernel/CacheWarmer/CacheWarmerAggregate.php
  src/Symfony/Component/HttpKernel/Tests/CacheWarmer/CacheWarmerAggregateTest.php
Labels: Feature, HttpKernel, FrameworkBundle, Status: Reviewed

#48998 [Validator] Sync IBAN formats with Swift IBAN registry
  src/Symfony/Component/Validator/.gitattributes
  src/Symfony/Component/Validator/Constraints/IbanValidator.php
  src/Symfony/Component/Validator/Resources/bin/sync-iban-formats.php
  src/Symfony/Component/Validator/Tests/Constraints/IbanValidatorTest.php
Labels: Bug, Status: Needs Review

#49484 [Validator] Fix translation of AtLeastOneOf constraint message
  src/Symfony/Component/Validator/Constraints/AtLeastOneOfValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/AtLeastOneOfValidatorTest.php
Labels: Validator, Bug, Status: Needs Review

#49501 [String] Remove unused private constant
  src/Symfony/Component/String/AbstractUnicodeString.php
Labels: Status: Needs Review, String

#49493 [FrameworkBundle] Fix denyAccessUnlessGranted for mixed attributes
  src/Symfony/Bundle/FrameworkBundle/Controller/AbstractController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#49492 [DependencyInjection] Add support for Exclude attribute
  src/Symfony/Component/DependencyInjection/Attribute/Exclude.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Utils/NotAService.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#49292 [VarDumper] Fix error when reflected class has default Enum parameter in constructor
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
Labels: Bug, VarDumper, Status: Needs Review

#49509 [DependencyInjection] Exclude current id from non-existent references alternatives
  src/Symfony/Component/DependencyInjection/Compiler/CheckExceptionOnInvalidReferenceBehaviorPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/CheckExceptionOnInvalidReferenceBehaviorPassTest.php
Labels: DependencyInjection, Ready, Status: Reviewed

#49454 [Notifier] Add Pushover bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Pushover/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Pushover/.gitignore
  src/Symfony/Component/Notifier/Bridge/Pushover/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Pushover/LICENSE
  src/Symfony/Component/Notifier/Bridge/Pushover/PushoverOptions.php
  src/Symfony/Component/Notifier/Bridge/Pushover/PushoverTransport.php
  src/Symfony/Component/Notifier/Bridge/Pushover/PushoverTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Pushover/README.md
  src/Symfony/Component/Notifier/Bridge/Pushover/Tests/PushoverTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Pushover/Tests/PushoverTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Pushover/composer.json
  src/Symfony/Component/Notifier/Bridge/Pushover/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Needs Review, Notifier

#48833 [Translation] Handle the translation of empty strings
  src/Symfony/Bridge/Twig/Extension/TranslationExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/TranslationExtensionTest.php
Labels: Bug, Translation, Status: Reviewed

#49122 Add cache contracts template annotations
  src/Symfony/Contracts/Cache/CacheInterface.php
  src/Symfony/Contracts/Cache/CallbackInterface.php
Labels: Status: Reviewed

#49013 [Serializer] Replace the MissingConstructorArgumentsException class with MissingConstructorArgumentException
  .github/expected-missing-return-types.diff
  UPGRADE-6.3.md
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Exception/MissingConstructorArgumentException.php
  src/Symfony/Component/Serializer/Exception/MissingConstructorArgumentsException.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ConstructorArgumentsTestTrait.php
Labels: Serializer, Feature, Status: Reviewed, Deprecation

#49517 Remove unused private methods
  src/Symfony/Component/ErrorHandler/Tests/Exception/FlattenExceptionTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/DefaultChoiceListFactoryTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Routing/Loader/Configurator/CollectionConfigurator.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
Labels: Status: Needs Review

#49302 [HttpClient] Add `UriTemplateHttpClient`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/HttpOptions.php
  src/Symfony/Component/HttpClient/Tests/UriTemplateHttpClientTest.php
  src/Symfony/Component/HttpClient/UriTemplateHttpClient.php
Labels: Feature, Status: Reviewed, HttpClient

#49516 [Workflow] display label with new lines + colours properly when rendering a PUML dump
  src/Symfony/Component/Workflow/Dumper/PlantUmlDumper.php
  src/Symfony/Component/Workflow/Tests/fixtures/puml/arrow/complex-state-machine-marking.puml
  src/Symfony/Component/Workflow/Tests/fixtures/puml/arrow/complex-state-machine-nomarking.puml
Labels: Bug, Status: Reviewed, Workflow

#48899 [Security] Add remember me option for JSON logins
  src/Symfony/Component/Security/Http/Authenticator/JsonLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/RememberMeBadge.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/EventListener/CheckRememberMeConditionsListener.php
  src/Symfony/Component/Security/Http/ParameterBagUtils.php
  src/Symfony/Component/Security/Http/Tests/EventListener/CheckRememberMeConditionsListenerTest.php
Labels: Security, Feature, Ready, Status: Reviewed

#49513 [FrameworkBundle][HttpClient] Refactor http_client decoration strategy
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/http_client.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: FrameworkBundle, Status: Reviewed, HttpClient

#49523 [DependencyInjection] Optimize out "current()" when it's used as service factory
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_current_factory_inlining.php
Labels: DependencyInjection, Status: Needs Review

#49528 [Console] Fix fatal error when accessing Application::signalRegistry without pcntl
  src/Symfony/Component/Console/Application.php
Labels: Bug, Console, Status: Reviewed
