Repository symfony/symfony, pull requests merged in 2023-10, with the labels that each got.

#51793 [FrameworkBundle] Change BrowserKitAssertionsTrait::getClient() to be protected
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Test/BrowserKitAssertionsTrait.php
Labels: Feature, FrameworkBundle, Status: Needs Review

#47342 Change incorrect message, when the sender in the global envelope or the from header of asEmailMessage() is not defined.
  src/Symfony/Component/Notifier/Channel/EmailChannel.php
Labels: Feature, Status: Needs Review

#51794 [Notifier] Tweak some phpdocs
  src/Symfony/Component/Notifier/Channel/EmailChannel.php
  src/Symfony/Component/Notifier/Channel/SmsChannel.php
Labels: Status: Needs Review, Notifier

#51795 [Scheduler] Make debug:scheduler output more useful
  src/Symfony/Component/Scheduler/Command/DebugCommand.php
  src/Symfony/Component/Scheduler/RecurringMessage.php
Labels: Feature, Status: Needs Review, Scheduler

#51525 [Messenger][Scheduler] Add AsCronTask & AsPeriodicTask attributes
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/scheduler.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Messenger/DummyTask.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Scheduler/config.yml
  src/Symfony/Component/Messenger/Message/RedispatchMessage.php
  src/Symfony/Component/Scheduler/Attribute/AsCronTask.php
  src/Symfony/Component/Scheduler/Attribute/AsPeriodicTask.php
  src/Symfony/Component/Scheduler/DependencyInjection/AddScheduleMessengerPass.php
  src/Symfony/Component/Scheduler/Messenger/ServiceCallMessage.php
  src/Symfony/Component/Scheduler/Messenger/ServiceCallMessageHandler.php
Labels: Feature, Status: Reviewed, Messenger, Scheduler

#51791 [Messenger] Check if PCNTL is installed
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
Labels: Bug, Status: Reviewed, Messenger

#51690 [Mime] Add `TemplatedEmail::locale()` to set the locale for the email rendering
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Mime/BodyRenderer.php
  src/Symfony/Bridge/Twig/Mime/TemplatedEmail.php
  src/Symfony/Bridge/Twig/Tests/Mime/BodyRendererTest.php
  src/Symfony/Bridge/Twig/Tests/Mime/TemplatedEmailTest.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/composer.json
Labels: Feature, Status: Reviewed, Mime

#51653 [Messenger] Add WrappedExceptionsInterface for nested exceptions
  UPGRADE-6.4.md
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineTransactionMiddleware.php
  src/Symfony/Component/Mailer/Mailer.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageForRetryListener.php
  src/Symfony/Component/Messenger/EventListener/StopWorkerOnCustomStopExceptionListener.php
  src/Symfony/Component/Messenger/Exception/DelayedMessageHandlingException.php
  src/Symfony/Component/Messenger/Exception/HandlerFailedException.php
  src/Symfony/Component/Messenger/Exception/WrappedExceptionsInterface.php
  src/Symfony/Component/Messenger/Exception/WrappedExceptionsTrait.php
  src/Symfony/Component/Messenger/Tests/Exception/HandlerFailedExceptionTest.php
  src/Symfony/Component/Notifier/EventListener/SendFailedMessageToNotifierListener.php
Labels: Feature, Status: Reviewed, Deprecation, Messenger

#51538 [HttpFoundation] Support root-level Generator in StreamedJsonResponse
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/StreamedJsonResponse.php
  src/Symfony/Component/HttpFoundation/Tests/StreamedJsonResponseTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#51676 [RateLimiter] Add SlidingWindowLimiter::reserve()
  UPGRADE-6.4.md
  src/Symfony/Component/RateLimiter/CHANGELOG.md
  src/Symfony/Component/RateLimiter/Policy/SlidingWindow.php
  src/Symfony/Component/RateLimiter/Policy/SlidingWindowLimiter.php
  src/Symfony/Component/RateLimiter/Tests/Policy/SlidingWindowLimiterTest.php
  src/Symfony/Component/RateLimiter/Tests/Policy/SlidingWindowTest.php
Labels: Bug, Feature, Status: Reviewed, Deprecation, RateLimiter

#50321 [TwigBridge] Add `AppVariable::getEnabledLocales()`
  src/Symfony/Bridge/Twig/AppVariable.php
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Tests/AppVariableTest.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
Labels: Feature, Status: Reviewed, TwigBridge

#50141 Allow sending scheduled messages through the slack API
  src/Symfony/Component/Notifier/Bridge/Slack/SlackOptions.php
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransport.php
Labels: Feature, Status: Reviewed

#50109 [FrameworkBundle] Add --show-aliases option to debug:router command
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/RouterDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/RouterDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/RouterDebug/routing.yml
Labels: Feature, FrameworkBundle, Status: Reviewed

#50030 Add new twig bridge function to generate impersonation path
  src/Symfony/Bridge/Twig/Extension/SecurityExtension.php
  src/Symfony/Component/Security/Http/Impersonate/ImpersonateUrlGenerator.php
Labels: Feature, Status: Reviewed

#50127 [TwigBridge] Add `FormLayoutTestCase` class
  src/Symfony/Bridge/Twig/Test/FormLayoutTestCase.php
  src/Symfony/Bridge/Twig/Test/Traits/RuntimeLoaderProvider.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractLayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap3HorizontalLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap3LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap4HorizontalLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap4LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap5HorizontalLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap5LayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionDivLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionTableLayoutTest.php
  src/Symfony/Bridge/Twig/Tests/Node/FormThemeTest.php
Labels: Feature, Status: Reviewed, TwigBridge

#51806 Fix Twig tests
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/TwigExtensionTest.php
Labels: Status: Reviewed

#51804 [Security] Make `impersonation_path()` argument mandatory and add `impersonation_url()`
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/SecurityExtension.php
  src/Symfony/Component/Security/Http/Impersonate/ImpersonateUrlGenerator.php
Labels: Security, Bug, Status: Reviewed

#51809 [Messenger] Fix tests
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Messenger/Tests/Exception/HandlerFailedExceptionTest.php
Labels: Status: Reviewed, Messenger

#51801 [Messenger] Fix WrappedExceptionsTrait
  src/Symfony/Component/Messenger/Exception/DelayedMessageHandlingException.php
  src/Symfony/Component/Messenger/Exception/HandlerFailedException.php
  src/Symfony/Component/Messenger/Exception/WrappedExceptionsTrait.php
Labels: Status: Reviewed, Messenger

#51818 Fix duplicate component in UPGRADE-6.3.md
  UPGRADE-6.3.md
Labels: Status: Reviewed

#51276 [Notifier] Transport possible to have null
  src/Symfony/Bundle/FrameworkBundle/Test/NotificationAssertionsTrait.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/Controller/NotificationController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/NotificationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Notifier/config.yml
  src/Symfony/Component/Notifier/Message/NullMessage.php
  src/Symfony/Component/Notifier/Test/Constraint/NotificationTransportIsEqual.php
Labels: Feature, Status: Reviewed, Notifier

#51811 Add "dev" keyword to symfony/symfony package
  composer.json
  src/Symfony/Contracts/composer.json
Labels: Status: Reviewed

#51812 [HttpFoundation] Fix type of properties in Request class
  src/Symfony/Component/Config/Definition/Builder/TreeBuilder.php
  src/Symfony/Component/HttpClient/Response/MockResponse.php
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Bug, HttpFoundation, Status: Reviewed

#51821 Add test for 0 and '0' in PeriodicalTrigger and fix '0' case error
  src/Symfony/Component/Scheduler/Tests/Trigger/PeriodicalTriggerTest.php
  src/Symfony/Component/Scheduler/Trigger/PeriodicalTrigger.php
Labels: Bug, Status: Reviewed

#51831 [Notifier] Fix failing testcase
  src/Symfony/Component/Notifier/Tests/Message/NullMessageTest.php
Labels: Bug, Status: Reviewed, Notifier

#51848 [Messenger] Resend failed retries back to failure transport
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageToFailureTransportListener.php
Labels: Bug, Feature, Status: Reviewed, Messenger

#51843 [FrameworkBundle] Fix call to invalid method in NotificationAssertionsTrait
  src/Symfony/Bundle/FrameworkBundle/Test/NotificationAssertionsTrait.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#51841 [Validator] Add missing italian translations
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Validator, Status: Reviewed

#51808 [Mailer] Use idn encoded address otherwise Brevo throws an error
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Transport/BrevoApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Transport/BrevoApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Tests/Transport/SendinblueApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Transport/SendinblueApiTransport.php
Labels: Bug, Status: Reviewed, Mailer

#51800 [DoctrineBridge] Pass `Request` to `EntityValueResolver`'s expression
  src/Symfony/Bridge/Doctrine/ArgumentResolver/EntityValueResolver.php
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Tests/ArgumentResolver/EntityValueResolverTest.php
Labels: Feature, Status: Reviewed, DoctrineBridge

#51771 Update the design of the Symfony Welcome Page
  src/Symfony/Component/HttpKernel/Resources/welcome.html.php
Labels: Feature, Status: Reviewed

#51650 [AssetMapper] Add audit command
  src/Symfony/Bundle/FrameworkBundle/Resources/config/asset_mapper.php
  src/Symfony/Component/AssetMapper/Command/ImportMapAuditCommand.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapAuditor.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapConfigReader.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapEntry.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapPackageAudit.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapPackageAuditVulnerability.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JspmResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/PackageResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/PackageResolverInterface.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/ResolvedImportMapPackage.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapAuditorTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JspmResolverTest.php
Labels: Feature, Status: Reviewed, AssetMapper

#50934 [Form] Add `duplicate_preferred_choices` option to `ChoiceType`
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5LayoutTestCase.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/ChoiceList/Factory/CachingFactoryDecorator.php
  src/Symfony/Component/Form/ChoiceList/Factory/ChoiceListFactoryInterface.php
  src/Symfony/Component/Form/ChoiceList/Factory/DefaultChoiceListFactory.php
  src/Symfony/Component/Form/ChoiceList/Factory/PropertyAccessDecorator.php
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.json
  src/Symfony/Component/Form/Tests/Fixtures/Descriptor/resolved_form_type_1.txt
Labels: Form, Feature, Status: Reviewed

#51860 [FrameworkBundle] Remove ContainerAware leftover
  .github/patch-types.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/ContainerAwareController.php
Labels: FrameworkBundle, Status: Needs Review

#51858 [Security] Fix resetting traceable listeners
  src/Symfony/Bundle/SecurityBundle/Debug/TraceableFirewallListener.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_debug.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/Authenticator/Debug/TraceableAuthenticatorManagerListener.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Bug, Status: Needs Review

#51786 [AssetMapper] Always downloading vendor files
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/asset_mapper.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/asset_mapper.xml
  src/Symfony/Component/AssetMapper/AssetMapperRepository.php
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/Command/ImportMapInstallCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapRequireCommand.php
  src/Symfony/Component/AssetMapper/Compiler/JavaScriptImportPathCompiler.php
  src/Symfony/Component/AssetMapper/Factory/MappedAssetFactory.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapAuditor.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapConfigReader.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapEntry.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapManager.php
  src/Symfony/Component/AssetMapper/ImportMap/PackageRequireOptions.php
  src/Symfony/Component/AssetMapper/ImportMap/RemotePackageDownloader.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JspmResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/PackageResolver.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/PackageResolverInterface.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/ResolvedImportMapPackage.php
  src/Symfony/Component/AssetMapper/MappedAsset.php
  src/Symfony/Component/AssetMapper/Tests/Command/AssetMapperCompileCommandTest.php
  src/Symfony/Component/AssetMapper/Tests/Compiler/JavaScriptImportPathCompilerTest.php
  src/Symfony/Component/AssetMapper/Tests/Factory/MappedAssetFactoryTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapAuditorTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapConfigReaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapManagerTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageDownloaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JspmResolverTest.php
  src/Symfony/Component/AssetMapper/Tests/fixtures/AssetMapperTestAppKernel.php
  src/Symfony/Component/AssetMapper/Tests/fixtures/assets/vendor/installed.php
  src/Symfony/Component/AssetMapper/Tests/fixtures/assets/vendor/lodash.js
  src/Symfony/Component/AssetMapper/Tests/fixtures/assets/vendor/stimulus.js
  src/Symfony/Component/AssetMapper/Tests/fixtures/importmap.php
  src/Symfony/Component/AssetMapper/Tests/fixtures/importmaps/importmap.php
  src/Symfony/Component/AssetMapper/composer.json
Labels: Bug, Feature, Status: Reviewed, AssetMapper

#49044 [Messenger] Mention the transport which failed during the setup command
  src/Symfony/Component/Messenger/Command/SetupTransportsCommand.php
  src/Symfony/Component/Messenger/Tests/Command/SetupTransportsCommandTest.php
Labels: Status: Needs Review, Messenger

#51881 [Form] Make `FormPerformanceTestCase` compatible with PHPUnit 10
  src/Symfony/Component/Form/Test/FormPerformanceTestCase.php
  src/Symfony/Component/Form/Test/Traits/RunTestTrait.php
Labels: Form, Bug, Status: Reviewed

#51871 Fix typo in method resolvePackages
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
Labels: Status: Reviewed, :snowflake: Feature Freeze

#51880 [AssetMapper] Fix entrypoint scripts are not preloaded
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapManager.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapManagerTest.php
Labels: Status: Reviewed, :snowflake: Feature Freeze, AssetMapper

#51876 [HttpClient] Fix type error with http_version 1.1
  src/Symfony/Component/HttpClient/AmpHttpClient.php
Labels: Bug, Status: Reviewed, HttpClient

#51825 Fix order array sum normalizedData and nestedData
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Bug, Status: Reviewed

#51879 Avoid calling getInvocationCount()
  src/Symfony/Component/HttpKernel/Tests/EventListener/LocaleAwareListenerTest.php
Labels: Status: Reviewed

#51864 [AssetMapper] Update README documentation link
  src/Symfony/Component/AssetMapper/README.md
Labels: Status: Reviewed, AssetMapper

#51878 Avoid calling TestCase::__construct()
  src/Symfony/Bridge/Doctrine/Tests/LegacyManagerRegistryTest.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/Dumper/PhpDumperTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolverTest.php
Labels: Status: Reviewed

#51892 [Serializer] replace annotation with attribute
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Status: Reviewed

#51891 [Cache] synchronize the Relay fixture
  src/Symfony/Component/Cache/Traits/RelayProxy.php
Labels: Status: Reviewed, Cache

#51889 [Form] Remove RunTestTrait
  src/Symfony/Component/Form/Test/FormPerformanceTestCase.php
  src/Symfony/Component/Form/Test/Traits/RunTestTrait.php
Labels: Form, Status: Reviewed

#51915 [AssetMapper] fix CHANGELOG
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/Command/ImportMapAuditCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapInstallCommand.php
Labels: Status: Reviewed, AssetMapper

#51922 fix typo in ImportMapConfigReader.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapConfigReader.php
Labels: Status: Reviewed

#51917 [Serializer] Fix deprecation package name
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
Labels: Serializer, Bug, Status: Reviewed

#51921 [CS] Fix command descriptions (code conventions)
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/XliffLintCommand.php
  src/Symfony/Component/AssetMapper/Command/AssetMapperCompileCommand.php
  src/Symfony/Component/AssetMapper/Command/DebugAssetMapperCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapAuditCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapInstallCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapRemoveCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapRequireCommand.php
  src/Symfony/Component/AssetMapper/Command/ImportMapUpdateCommand.php
  src/Symfony/Component/Dotenv/Command/DebugCommand.php
  src/Symfony/Component/Dotenv/Command/DotenvDumpCommand.php
Labels: Status: Reviewed

#51717 [Notifier] [Telegram] Extend options for `location`, `document`, `audio`, `video`, `venue`, `photo`, `animation`, `sticker` & `contact`
  src/Symfony/Component/Notifier/Bridge/Telegram/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Telegram/README.md
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramOptions.php
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/fixtures.png
  src/Symfony/Component/Notifier/Exception/MultipleExclusiveOptionsUsedException.php
Labels: Feature, Status: Reviewed, :snowflake: Feature Freeze, Notifier

#44766 [RateLimiter] TokenBucket policy fix for adding tokens with a predefined frequency
  src/Symfony/Component/RateLimiter/Policy/Rate.php
  src/Symfony/Component/RateLimiter/Policy/TokenBucket.php
  src/Symfony/Component/RateLimiter/Policy/TokenBucketLimiter.php
  src/Symfony/Component/RateLimiter/Tests/Policy/TokenBucketLimiterTest.php
Labels: Bug, Status: Reviewed, RateLimiter

#50537 [Console] Add placeholders to ProgressBar for exact times
  src/Symfony/Component/Console/Helper/Helper.php
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Helper/ProgressIndicator.php
  src/Symfony/Component/Console/Tests/Helper/HelperTest.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Feature, Console, Status: Reviewed, :snowflake: Feature Freeze

#51904 [HttpFoundation] do not access properties before initialization
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Bug, HttpFoundation, Status: Reviewed

#51887 [HttpFoundation] Fix type of properties in Request class
  src/Symfony/Component/HttpFoundation/Request.php
Labels: Bug, HttpFoundation, Status: Reviewed

#51925 [PhpUnitBridge] Add keyword `dev` to leverage composer hint
  src/Symfony/Bridge/PhpUnit/composer.json
Labels: PhpUnitBridge, Status: Reviewed

#51973 Fix the link to the docs
  src/Symfony/Component/AssetMapper/README.md
Labels: Status: Reviewed

#51978 [Translation][Validator] Add missing translations for pt_BR (104-109)
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
Labels: Validator, Translation, Status: Reviewed

#51976 [Workflow] Revert deprecation about Registry
  UPGRADE-6.2.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/workflow.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Registry.php
Labels: Feature, Status: Reviewed, Workflow

#51845 [AssetMapper] Add outdated command
  src/Symfony/Bundle/FrameworkBundle/Resources/config/asset_mapper.php
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/Command/ImportMapOutdatedCommand.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapConfigReader.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapEntry.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapUpdateChecker.php
  src/Symfony/Component/AssetMapper/ImportMap/PackageUpdateInfo.php
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapConfigReaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapManagerTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapUpdateCheckerTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/PackageUpdateInfoTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
Labels: Feature, Status: Reviewed, :snowflake: Feature Freeze, AssetMapper

#51977 [Translation][Validator] Add missing translations for Japanese (104 - 109)
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
Labels: Validator, Translation, Status: Needs Review

#51979 [Translation] remove blank line
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
Labels: Translation, Status: Reviewed

#51058 [FrameworkBundle] Add `--exclude` option to the `cache:pool:clear` command
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/CachePoolClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolClearCommandTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#51888 [WebProfiler] Profiler improvements / extract Font from stylesheet
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/routing/profiler.xml
  src/Symfony/Bundle/WebProfilerBundle/Resources/fonts/JetBrainsMono.woff2
  src/Symfony/Bundle/WebProfilerBundle/Resources/fonts/LICENSE.txt
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/fonts.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/header.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Router/panel.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Tests/Controller/ProfilerControllerTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Functional/WebProfilerBundleKernel.php
Labels: DX, Status: Reviewed

#51011 [FrameworkBundle] Add parameters deprecations to the output of `debug:container` command
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/Descriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/AbstractDescriptorTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/ObjectsProvider.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecated_parameter.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecated_parameter.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecated_parameter.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecated_parameter.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecated_parameters.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecated_parameters.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecated_parameters.txt
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Descriptor/deprecated_parameters.xml
Labels: Feature, FrameworkBundle, Status: Reviewed

#51985 [WebProfilerBundle] Fix markup to make link to profiler appear on errored WDT
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, WebProfilerBundle, Status: Needs Review

#51829 [AssetMapper] Automatically preload CSS files if WebLink available
  src/Symfony/Bundle/FrameworkBundle/Resources/config/asset_mapper.php
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapRenderer.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapRendererTest.php
  src/Symfony/Component/AssetMapper/composer.json
Labels: Feature, Status: Reviewed, :snowflake: Feature Freeze, AssetMapper

#50877 [Finder] Add early directory prunning filter support
  src/Symfony/Component/Finder/CHANGELOG.md
  src/Symfony/Component/Finder/Finder.php
  src/Symfony/Component/Finder/Iterator/ExcludeDirectoryFilterIterator.php
  src/Symfony/Component/Finder/Tests/FinderTest.php
  src/Symfony/Component/Finder/Tests/Iterator/VfsIteratorTestTrait.php
Labels: Feature, Status: Reviewed

#49893 [Serializer] Add `XmlEncoder::CDATA_WRAPPING` context option
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Context/Encoder/XmlEncoderContextBuilder.php
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Context/Encoder/XmlEncoderContextBuilderTest.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Serializer, Feature, Status: Reviewed

#51984 [Translation][Validator] Add missing translations for Russian
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
Labels: Validator, Translation, Status: Reviewed

#51990 [Translation][Validator] Add missing dutch translations
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
Labels: Validator, Translation, Status: Reviewed

#51991 [Validator] Add missing Spanish (es) translations #51956
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
Labels: Validator, Status: Reviewed

#51970 [Validator] Add missing Persian(fa) translations
  src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf
Labels: Validator, Status: Reviewed

#51968 [HttpFoundation]  Improve PHPDoc of Cache attribute
  src/Symfony/Component/HttpKernel/Attribute/Cache.php
Labels: HttpFoundation, Status: Reviewed

#52004 [Validator] Add missing translations for Indonesian (id)
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
Labels: Validator, Status: Reviewed

#52003 [Validator] Add missing translations for Vietnamese (VI)
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
Labels: Validator, Status: Reviewed

#51999 [Translation][Validator] Add missing translations for Croatian (hr)
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
Labels: Validator, Translation, Status: Reviewed

#52010 Revert "dev" keyword on PhpUnitBridge
  src/Symfony/Bridge/PhpUnit/composer.json
Labels: Bug, Status: Needs Review

#51916 [DependencyInjection] Simplify using DI attributes with `ServiceLocator/Iterator`'s
  src/Symfony/Component/DependencyInjection/Attribute/AutowireIterator.php
  src/Symfony/Component/DependencyInjection/Attribute/AutowireLocator.php
  src/Symfony/Component/DependencyInjection/Compiler/RegisterServiceSubscribersPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutowireIteratorConsumer.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutowireLocatorConsumer.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: DependencyInjection, Feature, Status: Needs Review

#52011 [FrameworkBundle] Fix registering workflow.registry
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#52007 [Translation][Validator] Add missing Ukrainian (uk) translations
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
Labels: Validator, Translation, Status: Needs Review

#52000 [AssetMapper] Remove deprecation layer for url key in `ImportMapConfigReader`
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapConfigReader.php
Labels: Status: Reviewed, Deprecation, AssetMapper

#51969 [FrameworkBundle] Fix calling `Kernel::warmUp()` when running `cache:warmup`
  src/Symfony/Bundle/FrameworkBundle/Command/CacheWarmupCommand.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#52009 [FrameworkBundle] Configure `logger` as error logger if the Monolog Bundle is not registered
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/ErrorLoggerCompilerPass.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: FrameworkBundle, Status: Needs Review

#52017 [Mailer] Capitalize sender header for Mailgun
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunHttpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunHttpTransport.php
Labels: Bug, Status: Needs Review, Mailer

#51972 [HttpKernel] Handle nullable callback of `StreamedResponse`
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
  src/Symfony/Component/HttpKernel/HttpKernel.php
Labels: Bug, HttpKernel, Status: Needs Review

#51947 [Cache][Doctrine][DoctrineBridge][Lock][Messenger] Compatibility with ORM 3 and DBAL 4
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Test/TestRepositoryFactory.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/LegacyQueryMock.php
  src/Symfony/Bridge/Doctrine/Tests/Form/ChoiceList/ORMQueryBuilderLoaderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Form/DoctrineOrmTypeGuesserTest.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
  src/Symfony/Bridge/Doctrine/Validator/DoctrineLoader.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Cache/Tests/Fixtures/DriverWrapper.php
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/Lock/Tests/Store/DoctrineDbalStoreTest.php
  src/Symfony/Component/Lock/composer.json
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineTransportFactoryTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/composer.json
Labels: Doctrine, Status: Needs Review, Cache, DoctrineBridge, Lock, Messenger

#52020 Fix deps=low
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/Security/Http/composer.json
Labels: Status: Needs Review

#52022 [Doctrine][DoctrineBridge][HttpFoundation][VarDumper] Run tests with ORM 3 and DBAL 4
  .github/patch-types.php
  composer.json
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Statement.php
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/VarDumper/Tests/Caster/DoctrineCasterTest.php
Labels: Bug, Doctrine, HttpFoundation, VarDumper, Status: Needs Review, DoctrineBridge

#51986 [Security] Do not match request twice in `HttpUtils`
  src/Symfony/Component/Security/Http/HttpUtils.php
  src/Symfony/Component/Security/Http/Tests/HttpUtilsTest.php
Labels: Security, Bug, Status: Reviewed, Performance

#52027 [Serializer] fix tests
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderWithDoctrineAnnotationsTest.php
Labels: Serializer, Status: Needs Review

#52029 [DoctrineBridge] fix tests, partially reverts 1333caf89af4630e03f792c45b62c4dee6b5bf3a
  src/Symfony/Bridge/Doctrine/Tests/Validator/DoctrineLoaderTest.php
Labels: Status: Needs Review, DoctrineBridge

#52023 [FrameworkBundle] Fix merge error with `ErrorLoggerCompilerPass`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/ErrorLoggerCompilerPass.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#51994 [Notifier] [Telegram] Fix version and exception signature
  src/Symfony/Component/Notifier/Bridge/Telegram/TelegramTransport.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/composer.json
  src/Symfony/Component/Notifier/Exception/MultipleExclusiveOptionsUsedException.php
  src/Symfony/Component/Notifier/Tests/Exception/MultipleExclusiveOptionsUsedExceptionTest.php
Labels: Bug, Status: Reviewed, Notifier

#52030 [TwigBundle] fix detecting the installed FrameworkBundle version
  src/Symfony/Bundle/TwigBundle/Tests/Functional/NoTemplatingEntryTest.php
Labels: TwigBundle, Status: Needs Review

#52036 [Cache][VarExporter] Fix proxy generation to deal with edgy behaviors of internal classes
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6Proxy.php
  src/Symfony/Component/Cache/Traits/RelayProxy.php
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/VarExporter/ProxyHelper.php
Labels: Bug, Status: Needs Review, Cache, VarExporter

#52038 [Console] Dispatch `ConsoleTerminateEvent` when exiting on signal
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Event/ConsoleTerminateEvent.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Feature, Console, Status: Reviewed

#52035 [DoctrineBridge] Fix DBAL 4 compatibility
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.php
  src/Symfony/Bridge/Doctrine/Messenger/DoctrinePingConnectionMiddleware.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Connection.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/DBAL3/Connection.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/DBAL3/Statement.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Driver.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Query.php
  src/Symfony/Bridge/Doctrine/Middleware/Debug/Statement.php
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/DataCollector/DoctrineDataCollectorWithDebugStackTest.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/SingleIntIdEntity.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Type/StringWrapperType.php
  src/Symfony/Bridge/Doctrine/Tests/Logger/DbalLoggerTest.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrinePingConnectionMiddlewareTest.php
  src/Symfony/Bridge/Doctrine/Tests/Middleware/Debug/MiddlewareTest.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/Fixtures/DoctrineFooType.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/MessengerTransportDoctrineSchemaSubscriberTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/UlidTypeTest.php
  src/Symfony/Bridge/Doctrine/Types/AbstractUidType.php
Labels: Bug, Status: Needs Review, DoctrineBridge

#52025 [Validator] Update Slovenian translations (sl)
  src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf
Labels: Validator, Bug, Status: Reviewed

#52046 [Validator] #51928 Missing translations for Belarusian (be)
  src/Symfony/Component/Validator/Resources/translations/validators.be.xlf
Labels: Validator, Status: Reviewed

#52045 Fix CI
  src/Symfony/Bridge/Twig/Tests/Mime/BodyRendererTest.php
  src/Symfony/Component/Clock/Test/ClockSensitiveTrait.php
  src/Symfony/Component/Clock/Tests/DatePointTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/IntegrationTest.php
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
Labels: Status: Needs Review

#52005 [Translation] Prevent creating empty keys when key ends with a period
  src/Symfony/Component/Translation/Tests/Util/ArrayConverterTest.php
  src/Symfony/Component/Translation/Util/ArrayConverter.php
Labels: Bug, Translation, Status: Reviewed

#52062 [Translation] Add missing return type
  src/Symfony/Component/Translation/Util/ArrayConverter.php
Labels: Translation, Status: Reviewed

#52057 [Validator] add missing catalan translations
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
Labels: Validator, Bug, Status: Reviewed

#52061 [FrameworkBundle] Remove deprecation layer for `KernelBrowser::loginUser()`
  UPGRADE-7.0.md
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
Labels: FrameworkBundle, Status: Reviewed

#50946 [Routing][SecurityBundle] Add `LogoutRouteLoader`
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Bundle/SecurityBundle/Routing/LogoutRouteLoader.php
  src/Symfony/Bundle/SecurityBundle/Tests/Routing/LogoutRouteLoaderTest.php
Labels: Feature, Routing, SecurityBundle, Status: Reviewed, :snowflake: Feature Freeze

#51926 [Mime] Forbid messages that are generators to be used more than once
  src/Symfony/Component/Mime/RawMessage.php
  src/Symfony/Component/Mime/Tests/RawMessageTest.php
Labels: Bug, Status: Needs Work, Mime

#52063 [Mime] Update mime types
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Resources/bin/update_mime_types.php
Labels: Feature, Status: Reviewed, :snowflake: Feature Freeze, Mime

#52071 [Scheduler] Fix dev requirements
  src/Symfony/Component/Scheduler/composer.json
Labels: Bug, Status: Reviewed, Scheduler

#52002 [HttpFoundation] Cookies Having Independent Partitioned State (CHIPS)
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Cookie.php
  src/Symfony/Component/HttpFoundation/Tests/CookieTest.php
Labels: Feature, HttpFoundation, Status: Reviewed, :snowflake: Feature Freeze

#52075 [Messenger] Fix DoctrineOpenTransactionLoggerMiddleware
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineOpenTransactionLoggerMiddleware.php
Labels: Bug, Status: Reviewed, Messenger

#52067 Proofread UPGRADE guide
  UPGRADE-6.4.md
  UPGRADE-7.0.md
Labels: Status: Reviewed

#52066 Proofread UPGRADE guide
  UPGRADE-7.0.md
Labels: Status: Reviewed

#52031 [Notifier] [Telegram] Rework tests
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/Fixtures/image.png
  src/Symfony/Component/Notifier/Bridge/Telegram/Tests/TelegramTransportTest.php
Labels: Status: Reviewed, Notifier

#52068 [SecurityBundle] Fix LogoutRouteLoader PHPDoc
  src/Symfony/Bundle/SecurityBundle/Routing/LogoutRouteLoader.php
Labels: SecurityBundle, Status: Reviewed

#52048 [Doctrine] Allow DBAL 4
  composer.json
Labels: Doctrine, Status: Reviewed

#52070 [HttpFoundation] Cache trusted values
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: HttpFoundation, Status: Reviewed, Performance, :snowflake: Feature Freeze

#52060 [Form] Remove deprecation layer for duplicated preferred choices
  UPGRADE-7.0.md
  src/Symfony/Component/Form/ChoiceList/Factory/CachingFactoryDecorator.php
  src/Symfony/Component/Form/ChoiceList/Factory/ChoiceListFactoryInterface.php
  src/Symfony/Component/Form/ChoiceList/Factory/DefaultChoiceListFactory.php
  src/Symfony/Component/Form/ChoiceList/Factory/PropertyAccessDecorator.php
Labels: Form, Status: Reviewed

#50734 [ErrorHandler] Improve fileLinkFormat handling
  UPGRADE-6.4.md
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/Extension/CodeExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/CodeExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Command/DebugAutowiringCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/RouterDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Helper/DescriptorHelper.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug_prod.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/Descriptor/TextDescriptorTest.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/profiler.php
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/ErrorHandler/ErrorRenderer/FileLinkFormatter.php
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorRenderer/FileLinkFormatterTest.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorRenderer/HtmlErrorRendererTest.php
  src/Symfony/Component/Form/Command/DebugCommand.php
  src/Symfony/Component/Form/Console/Descriptor/TextDescriptor.php
  src/Symfony/Component/Form/Console/Helper/DescriptorHelper.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/DumpDataCollector.php
  src/Symfony/Component/HttpKernel/Debug/FileLinkFormatter.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/DumpDataCollectorTest.php
  src/Symfony/Component/HttpKernel/UriSigner.php
  src/Symfony/Component/VarDumper/Dumper/ContextProvider/SourceContextProvider.php
  src/Symfony/Component/VarDumper/VarDumper.php
Labels: Status: Reviewed, ErrorHandler

#51828 [AssetMapper] Put importmap in polyfill so it can be hosted locally easily
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapManager.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapRenderer.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapRendererTest.php
Labels: Feature, Status: Reviewed, :snowflake: Feature Freeze, AssetMapper

#51478 [Process] Fix bug where $this->callback is never null, resulting in bad argument
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Bug, Process, Status: Reviewed

#52080 [Messenger] Fix graceful exit
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
Labels: Bug, Status: Reviewed, Messenger

#52086 [Messenger] Simplify code
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
Labels: Status: Reviewed, Messenger

#52085 [Scheduler] postRun event test is missing
  src/Symfony/Component/Scheduler/Tests/EventListener/DispatchSchedulerEventListenerTest.php
Labels: Status: Reviewed, Scheduler

#52088 [ErrorHandler] Fix file link format call in trace view
  src/Symfony/Component/ErrorHandler/Resources/views/trace.html.php
Labels: Bug, Status: Needs Review, ErrorHandler

#51907 [Serializer] Fix collecting only first missing constructor argument
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Php80WithPromotedTypedConstructor.php
  src/Symfony/Component/Serializer/Tests/Fixtures/WithTypedConstructor.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ConstructorArgumentsTestTrait.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#52095 [Notifier][Sendinblue] Handle error responses without a message key
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Transport/SendinblueApiTransport.php
  src/Symfony/Component/Notifier/Bridge/Sendinblue/SendinblueTransport.php
Labels: Bug, Status: Reviewed, Notifier

#51819 [HttpFoundation] Do not swallow trailing `=` in cookie value
  src/Symfony/Component/HttpFoundation/HeaderUtils.php
  src/Symfony/Component/HttpFoundation/Tests/CookieTest.php
  src/Symfony/Component/HttpFoundation/Tests/HeaderUtilsTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#52087 [Scheduler] Add `FailureEvent`
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/Event/FailureEvent.php
  src/Symfony/Component/Scheduler/EventListener/DispatchSchedulerEventListener.php
  src/Symfony/Component/Scheduler/Schedule.php
  src/Symfony/Component/Scheduler/Scheduler.php
  src/Symfony/Component/Scheduler/Tests/EventListener/DispatchSchedulerEventListenerTest.php
Labels: Feature, Status: Reviewed, Scheduler

#52021 [Form] Fix merging params & files when "multiple" is enabled
  src/Symfony/Component/Form/Extension/HttpFoundation/HttpFoundationRequestHandler.php
  src/Symfony/Component/Form/NativeRequestHandler.php
  src/Symfony/Component/Form/Tests/AbstractRequestHandlerTestCase.php
  src/Symfony/Component/Form/Util/FormUtil.php
Labels: Form, Bug, Status: Reviewed

#50391 [FrameworkBundle][HttpKernel] Introduce `$buildDir` argument to `WarmableInterface::warmup` to warm read-only artefacts in `build_dir`
  .github/expected-missing-return-types.diff
  src/Symfony/Bridge/Doctrine/CacheWarmer/ProxyCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AbstractPhpFileCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AnnotationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/CachePoolClearerCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ConfigBuilderCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/RouterCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/SerializerCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/TranslationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ValidatorCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheWarmupCommand.php
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/ConfigBuilderCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/Fixture/TestAppKernel.php
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
  src/Symfony/Bundle/SecurityBundle/CacheWarmer/ExpressionCacheWarmer.php
  src/Symfony/Bundle/TwigBundle/CacheWarmer/TemplateCacheWarmer.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/CacheWarmer/CacheWarmerAggregate.php
  src/Symfony/Component/HttpKernel/CacheWarmer/WarmableInterface.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/CacheWarmer/CacheWarmerAggregateTest.php
  src/Symfony/Component/HttpKernel/Tests/CacheWarmer/CacheWarmerTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/Serializer/CacheWarmer/CompiledClassMetadataCacheWarmer.php
  src/Symfony/Component/Translation/DataCollectorTranslator.php
Labels: Feature, HttpKernel, FrameworkBundle, Status: Reviewed, :snowflake: Feature Freeze

#52098 Fix markdown in README files
  src/Symfony/Component/HtmlSanitizer/README.md
  src/Symfony/Component/Mailer/Bridge/MailerSend/README.md
  src/Symfony/Component/Notifier/Bridge/Bandwidth/README.md
  src/Symfony/Component/Notifier/Bridge/Brevo/README.md
  src/Symfony/Component/Notifier/Bridge/GoIp/README.md
  src/Symfony/Component/Notifier/Bridge/Plivo/README.md
  src/Symfony/Component/Notifier/Bridge/Pushover/README.md
  src/Symfony/Component/Notifier/Bridge/Redlink/README.md
  src/Symfony/Component/Scheduler/README.md
  src/Symfony/Component/Translation/Bridge/Phrase/README.md
Labels: Status: Needs Review

#52103 [ErrorHandler] Fix expected missing return types
  .github/expected-missing-return-types.diff
Labels: Bug, Status: Needs Review, ErrorHandler

#52089 [Tests] Use `JsonMockResponse` where applicable
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapAuditorTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapUpdateCheckerTest.php
  src/Symfony/Component/AssetMapper/composer.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Transport/BrevoApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Brevo/composer.json
  src/Symfony/Component/Mailer/Bridge/MailPace/Tests/Transport/MailPaceApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/MailPace/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Tests/Transport/MandrillApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Tests/Transport/MandrillHttpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/composer.json
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Transport/MailerSendApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunHttpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/composer.json
  src/Symfony/Component/Mailer/Bridge/OhMySmtp/Tests/Transport/OhMySmtpApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/OhMySmtp/composer.json
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Transport/PostmarkApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/composer.json
  src/Symfony/Component/Mailer/Bridge/Scaleway/Tests/Transport/ScalewayApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Scaleway/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendinblue/Tests/Transport/SendinblueApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendinblue/composer.json
  src/Symfony/Component/Notifier/Bridge/SpotHit/Tests/SpotHitTransportTest.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/composer.json
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderTest.php
  src/Symfony/Component/Translation/Bridge/Crowdin/composer.json
  src/Symfony/Component/Translation/Bridge/Lokalise/Tests/LokaliseProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Lokalise/Tests/LokaliseProviderTest.php
  src/Symfony/Component/Translation/Bridge/Lokalise/composer.json
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/PhraseProviderTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/composer.json
Labels: Status: Needs Review

#52094 [Mailer][Bridges] Allow Symfony 7
  src/Symfony/Component/Mailer/Bridge/Brevo/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/composer.json
Labels: Feature, Status: Needs Review, Mailer

#52096 [Notifier] [Brevo] Handle error responses without a message key
  src/Symfony/Component/Mailer/Bridge/Brevo/Transport/BrevoApiTransport.php
  src/Symfony/Component/Notifier/Bridge/Brevo/BrevoTransport.php
Labels: Bug, Status: Reviewed, Notifier

#52093 [Notifier][Bridges] Allow Symfony 7
  src/Symfony/Component/Notifier/Bridge/Brevo/composer.json
  src/Symfony/Component/Notifier/Bridge/GoIp/composer.json
  src/Symfony/Component/Notifier/Bridge/Ntfy/composer.json
  src/Symfony/Component/Notifier/Bridge/Redlink/composer.json
Labels: Feature, Status: Needs Review, Notifier

#52033 [Mime] Throw InvalidArgumentException on invalid form field type inside array
  src/Symfony/Component/Mime/Part/Multipart/FormDataPart.php
  src/Symfony/Component/Mime/Tests/Part/Multipart/FormDataPartTest.php
Labels: Status: Reviewed, Mime

#52107 [Translation] [Phrase] Allow Symfony 7
  src/Symfony/Component/Translation/Bridge/Phrase/composer.json
Labels: Feature, Translation, Status: Reviewed

#52072 Adds translations for Portuguese (pt)
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
Labels: Status: Needs Review

#52108 [AssetMapper] Link needs as="style"
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapRenderer.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapRendererTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#52100 [AssetMapper] Disable profiler when the "dev server" respond
  src/Symfony/Bundle/FrameworkBundle/Resources/config/asset_mapper.php
  src/Symfony/Component/AssetMapper/AssetMapperDevServerSubscriber.php
  src/Symfony/Component/AssetMapper/Tests/AssetMapperDevServerSubscriberFunctionalTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/JavaScriptImportTest.php
Labels: Feature, Status: Reviewed, AssetMapper

#47416 [Console][FrameworkBundle][HttpKernel][WebProfilerBundle] Enable profiling commands
  src/Symfony/Bundle/DebugBundle/Resources/config/services.php
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/EventListener/ConsoleProfilerListener.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/collectors.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/debug.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/profiling.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/ApplicationTest.php
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/command.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/time.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/command.svg
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/_command_summary.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/_request_summary.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/header.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/results.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/search.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Tests/Controller/ProfilerControllerTest.php
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/Console/Command/TraceableCommand.php
  src/Symfony/Component/Console/DataCollector/CommandDataCollector.php
  src/Symfony/Component/Console/Debug/CliRequest.php
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DataCollector/EventDataCollector.php
  src/Symfony/Component/HttpKernel/Debug/VirtualRequestStack.php
  src/Symfony/Component/HttpKernel/Profiler/FileProfilerStorage.php
  src/Symfony/Component/HttpKernel/Profiler/Profile.php
  src/Symfony/Component/HttpKernel/Profiler/Profiler.php
  src/Symfony/Component/HttpKernel/Profiler/ProfilerStorageInterface.php
  src/Symfony/Component/HttpKernel/Tests/Profiler/FileProfilerStorageTest.php
Labels: Feature, Console, HttpKernel, FrameworkBundle, WebProfilerBundle, Status: Reviewed, :snowflake: Feature Freeze

#51470 [FrameworkBundle][Serializer] Deprecate annotations
  UPGRADE-6.4.md
  src/Symfony/Bridge/Twig/Tests/Extension/SerializerExtensionTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/PropertyInfo/Tests/Extractor/SerializerExtractorTest.php
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/AttributeLoader.php
  src/Symfony/Component/Serializer/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/ClassMetadataFactoryCompilerTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/ClassMetadataFactoryTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderWithDoctrineAnnotationsTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AttributeLoaderTestCase.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AttributeLoaderWithAttributesTest.php
  src/Symfony/Component/Serializer/Tests/NameConverter/MetadataAwareNameConverterTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ContextMetadataTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/MapDenormalizationTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, FrameworkBundle, Status: Needs Review, Deprecation, :snowflake: Feature Freeze

#52111 [HttpKernel] Fix CacheWarmerAggregateTest
  src/Symfony/Component/HttpKernel/Tests/CacheWarmer/CacheWarmerAggregateTest.php
Labels: Bug, HttpKernel, Status: Needs Review

#52105 [Cache] Remove temporary cache item file on `rename()` failure
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
Labels: Bug, Status: Needs Review, Cache

#52112 [HttpKernel] Fix missing argument `$statusCode` in `ProfilerStorageInterface::find()`
  src/Symfony/Component/HttpKernel/Profiler/ProfilerStorageInterface.php
Labels: Bug, HttpKernel, Status: Needs Review

#52113 [Serializer] Fix Serializer deprecations merge
  UPGRADE-7.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Mapping/Loader/AttributeLoader.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AnnotationLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AttributeLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AttributeLoaderWithAttributesTest.php
Labels: Serializer, Bug, Status: Needs Review
