Repository symfony/symfony, pull requests merged in 2024-07, with the labels that each got.

#57607 [AssetMapper] Remove unreachable code line
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageStorageTest.php
Labels: Status: Needs Review, AssetMapper

#57610 [PsrHttpMessageBridge] Remove a redundant check in HttpFoundationFactory class
  src/Symfony/Bridge/PsrHttpMessage/Factory/HttpFoundationFactory.php
Labels: Status: Reviewed, PsrHttpMessageBridge

#57613 [PsrHttpMessageBridge] Remove `uniqid()` from `tempnam()` calls
  src/Symfony/Bridge/PsrHttpMessage/Factory/HttpFoundationFactory.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/HttpFoundationFactoryTest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/PsrHttpFactoryTest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Functional/CovertTest.php
Labels: Status: Needs Review, PsrHttpMessageBridge

#57614 Remove useless `uniqid` in tempnam calls in tests
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/log_file.phpt
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/ConfigBuilderCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandCompletionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationUpdateCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/BundlePathsTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Routing/RouterTest.php
  src/Symfony/Component/Config/Tests/Builder/GeneratedConfigTest.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/CompiledUrlMatcherDumperTest.php
  src/Symfony/Component/Routing/Tests/RouterTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/ClassMetadataFactoryCompilerTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationProviderTestCase.php
Labels: Status: Needs Review

#57608 [TwigBridge] Remove random file name for `lint:twig` output in case of error
  src/Symfony/Bridge/Twig/Command/LintCommand.php
Labels: Status: Reviewed, TwigBridge

#57603 [Translation] fix TranslationLintCommand test
  src/Symfony/Component/Translation/Tests/Command/TranslationLintCommandTest.php
Labels: Translation, Status: Reviewed

#57609 [TwigBridge]  Use constant var name to cache `trans_default_domain` expression result
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationDefaultDomainNodeVisitor.php
Labels: Status: Reviewed, TwigBridge

#57616 [String] Revert "Fixed u()->snake(), b()->snake() and s()->snake() methods"
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Bug, Status: Reviewed, String

#57621 [Mailer]  force HTTP 1.1 for Mailgun API requests
  src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunApiTransport.php
Labels: Bug, Status: Reviewed, Mailer

#57638 [Security] Verify Hungarian translation
  src/Symfony/Component/Security/Core/Resources/translations/security.hu.xlf
Labels: Security, Status: Needs Review

#57642 [Routing] Remove dead `is_object()` check
  src/Symfony/Component/Routing/Loader/ObjectLoader.php
Labels: Routing, Status: Reviewed

#57647 [Serializer] Remove `ArrayDenormalizer::setDenormalizer()`
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
Labels: Serializer, Status: Reviewed

#57645 [Routing] Discard in-memory cache of routes when writing the file-based cache
  src/Symfony/Component/Routing/Router.php
Labels: Bug, Routing, Status: Reviewed

#57650 [Translation] enhance the locale handling when linting translations
  src/Symfony/Component/Translation/Command/TranslationLintCommand.php
Labels: Translation, Status: Reviewed

#57633 [Notifier] Unify composer.json
  src/Symfony/Component/Notifier/Bridge/Bandwidth/composer.json
  src/Symfony/Component/Notifier/Bridge/Brevo/composer.json
  src/Symfony/Component/Notifier/Bridge/ClickSend/composer.json
  src/Symfony/Component/Notifier/Bridge/Plivo/composer.json
  src/Symfony/Component/Notifier/Bridge/Pushover/composer.json
  src/Symfony/Component/Notifier/Bridge/Pushy/composer.json
  src/Symfony/Component/Notifier/Bridge/RingCentral/composer.json
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/composer.json
  src/Symfony/Component/Notifier/Bridge/Smsmode/composer.json
  src/Symfony/Component/Notifier/Bridge/Termii/composer.json
Labels: Status: Reviewed, Notifier

#54057 [Messenger] Passing actual `Envelope` to `WorkerMessageRetriedEvent`
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageForRetryListener.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageForRetryListenerTest.php
Labels: Bug, Status: Reviewed, Messenger

#57243 [String] Add `TruncateMode` mode to `truncate` methods
  UPGRADE-7.2.md
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/CHANGELOG.md
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
  src/Symfony/Component/String/TruncateMode.php
Labels: Feature, Status: Reviewed, Deprecation, String

#57617 [PropertyInfo] Handle collection in PhpStan same as PhpDoc
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/DummyCollection.php
  src/Symfony/Component/PropertyInfo/Util/PhpStanTypeHelper.php
Labels: Bug, Status: Reviewed, PropertyInfo

#57627 [Notifier] Add Sipgate bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Sipgate/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Sipgate/.gitignore
  src/Symfony/Component/Notifier/Bridge/Sipgate/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Sipgate/LICENSE
  src/Symfony/Component/Notifier/Bridge/Sipgate/README.md
  src/Symfony/Component/Notifier/Bridge/Sipgate/SipgateTransport.php
  src/Symfony/Component/Notifier/Bridge/Sipgate/SipgateTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Sipgate/Tests/SipgateTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Sipgate/Tests/SipgateTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Sipgate/composer.json
  src/Symfony/Component/Notifier/Bridge/Sipgate/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#57658 [Notifier] Remove the Gitter bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Gitter/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Gitter/.gitignore
  src/Symfony/Component/Notifier/Bridge/Gitter/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Gitter/GitterTransport.php
  src/Symfony/Component/Notifier/Bridge/Gitter/GitterTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Gitter/LICENSE
  src/Symfony/Component/Notifier/Bridge/Gitter/README.md
  src/Symfony/Component/Notifier/Bridge/Gitter/Tests/GitterTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Gitter/Tests/GitterTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Gitter/composer.json
  src/Symfony/Component/Notifier/Bridge/Gitter/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#57665 [Config][Lock][SecurityBundle]  do not use uniqid() in tests
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/CsrfFormLoginTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/LogoutTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Component/Config/Tests/Resource/ReflectionClassResourceTest.php
  src/Symfony/Component/Lock/Tests/LockTest.php
  src/Symfony/Component/Lock/Tests/Store/AbstractRedisStoreTestCase.php
  src/Symfony/Component/Lock/Tests/Store/AbstractStoreTestCase.php
  src/Symfony/Component/Lock/Tests/Store/BlockingStoreTestTrait.php
  src/Symfony/Component/Lock/Tests/Store/CombinedStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/DoctrineDbalPostgreSqlStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/DoctrineDbalStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/ExpiringStoreTestTrait.php
  src/Symfony/Component/Lock/Tests/Store/MongoDbStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/PdoStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/PostgreSqlStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/SemaphoreStoreTest.php
  src/Symfony/Component/Lock/Tests/Store/SharedLockStoreTestTrait.php
  src/Symfony/Component/Lock/Tests/Store/UnserializableTestTrait.php
Labels: Config, SecurityBundle, Status: Reviewed, Lock

#57628 [String] test: kebab-case to snake_case
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Bug, Status: Reviewed, String

#57663 [Cache] use copy() instead of rename() on Windows
  src/Symfony/Component/Cache/Traits/FilesystemCommonTrait.php
Labels: Bug, Status: Reviewed, Cache

#57668 [Filesystem][Messenger][PsrHttpMessageBridge] do not use uniqid() in tests
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/HttpFoundationFactoryTest.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
Labels: Filesystem, Status: Reviewed, Messenger, PsrHttpMessageBridge

#57669 [Lock] fix tests
  src/Symfony/Component/Lock/Tests/Store/AbstractRedisStoreTestCase.php
  src/Symfony/Component/Lock/Tests/Store/AbstractStoreTestCase.php
  src/Symfony/Component/Lock/Tests/Store/ExpiringStoreTestTrait.php
  src/Symfony/Component/Lock/Tests/Store/SharedLockStoreTestTrait.php
Labels: Status: Needs Review, Lock

#57671 [Messenger] Let WrappedExceptionsInterface extend the native Throwable interface
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Exception/WrappedExceptionsInterface.php
Labels: Feature, Status: Reviewed, Messenger

#57675 [AssetMapper] Split test dirs in tests
  src/Symfony/Component/AssetMapper/Tests/CompiledAssetMapperConfigReaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapConfigReaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapGeneratorTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapManagerTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageDownloaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageStorageTest.php
  src/Symfony/Component/AssetMapper/Tests/MapperAwareAssetPackageIntegrationTest.php
  src/Symfony/Component/AssetMapper/Tests/Path/LocalPublicAssetsFilesystemTest.php
Labels: Status: Reviewed, AssetMapper

#57670 [FrameworkBundle] Add `exit` option to `secrets:decrypt-to-local` command
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsDecryptToLocalCommand.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#57684 Fix typo
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsDecryptToLocalCommand.php
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/LocaleListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
Labels: Status: Reviewed

#57685 [ExpressionLanguage] Allow passing any iterable as `$providers` list
  src/Symfony/Component/ExpressionLanguage/CHANGELOG.md
  src/Symfony/Component/ExpressionLanguage/ExpressionLanguage.php
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
Labels: Feature, ExpressionLanguage, Status: Reviewed

#57679 [WebProfilerBundle] Change incorrect check for the `stateless` request attribute
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
Labels: Bug, WebProfilerBundle, Status: Reviewed

#57678 [Validator] Add `setGroupProvider` to `AttributeLoader`
  src/Symfony/Component/Validator/Mapping/Loader/AttributeLoader.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AttributeLoaderTest.php
Labels: Validator, Bug, Status: Reviewed

#57680 [WebProfilerBundle] Format workflow calls duration
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/workflow.html.twig
Labels: Feature, WebProfilerBundle, Status: Reviewed

#57688 [Security] Cleanup useless mocks in UserValueResolverTest
  src/Symfony/Component/Security/Http/Tests/Controller/UserValueResolverTest.php
Labels: Security, Status: Reviewed

#57693 [ExpressionLanguage] Use `assertSame()` instead of `assertEquals()`
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
Labels: ExpressionLanguage, Status: Reviewed

#57687 Support for PHP-CS-Fixer's parallel runner
  .php-cs-fixer.dist.php
Labels: Status: Reviewed

#57697 use more entropy with uniqid()
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/log_file.phpt
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/AnnotationsCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/ConfigBuilderCacheWarmerTest.php
  src/Symfony/Component/Notifier/Bridge/Iqsms/IqsmsTransport.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/CompiledUrlMatcherDumperTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/ClassMetadataFactoryCompilerTest.php
Labels: Status: Reviewed

#57692 [SecurityBundle] Link to the profile the token was (de)authenticated
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
Labels: Feature, SecurityBundle, Status: Reviewed

#57696 [PropertyInfo]  add tests for TypeInfo types
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
Labels: Status: Reviewed, PropertyInfo

#57674 [Cache] Improve `dbindex` DSN parameter parsing
  src/Symfony/Component/Cache/Tests/Traits/RedisTraitTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Reviewed, Cache

#57694 [SecurityBundle] Update web-token/jwt-library version and adjust checker parameters
  composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcTokenHandler.php
  src/Symfony/Component/Security/Http/composer.json
Labels: SecurityBundle, Status: Reviewed

#57657 [Messenger] [SQS] Allow to pass `sslmode` as an option
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
Labels: Status: Reviewed, Messenger

#57726 use more entropy with `uniqid()`
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/HttpFoundationFactoryTest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Factory/PsrHttpFactoryTest.php
  src/Symfony/Bridge/PsrHttpMessage/Tests/Functional/CovertTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Serializer/Debug/TraceableSerializer.php
Labels: Status: Reviewed

#57646 [Serializer] Raise correct exception in `ArrayDenormalizer` when called without a nested denormalizer
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ArrayDenormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#57723 [Cache] fix compatibility with Redis Relay 0.8.1
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/RelayProxy.php
  src/Symfony/Component/Cache/Traits/RelayProxyTrait.php
Labels: Status: Needs Review, Cache

#57745 [Cache] do not use LazyProxyTrait in RelayProxyTrait
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/RelayProxyTrait.php
Labels: Status: Reviewed, Cache

#57729 Use `createMock`
  src/Symfony/Bridge/Doctrine/Tests/ArgumentResolver/EntityValueResolverTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/CacheAttributeListenerTest.php
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
Labels: Status: Reviewed

#57716 [Validator] Add the `WordCount` constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/WordCount.php
  src/Symfony/Component/Validator/Constraints/WordCountValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/WordCountTest.php
  src/Symfony/Component/Validator/Tests/Constraints/WordCountValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#57752 [Validator] add validation message translations for the WordCount constraint
  src/Symfony/Component/Validator/Resources/translations/validators.af.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.az.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.be.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.da.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.et.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.gl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.he.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.my.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.no.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sq.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.th.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ur.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uz.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf
Labels: Validator, Status: Reviewed

#57720 [Validator] Add German translation for `WordCount` constraint
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
Labels: Validator, Status: Reviewed

#57717 [Validator] Add `WordCount` constraint French translation
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
Labels: Validator, Status: Reviewed

#57755 [Validator] Fix constraints on `WordCount` properties
  src/Symfony/Component/Validator/Constraints/WordCount.php
  src/Symfony/Component/Validator/Tests/Constraints/WordCountTest.php
Labels: Validator, Bug, Status: Reviewed

#57753 [ErrorHandler] restrict the maximum length of the X-Debug-Exception header
  src/Symfony/Component/ErrorHandler/ErrorRenderer/HtmlErrorRenderer.php
  src/Symfony/Component/ErrorHandler/ErrorRenderer/SerializerErrorRenderer.php
Labels: Bug, Status: Reviewed, ErrorHandler

#57759 Fix typo in typo fix
  UPGRADE-7.1.md
Labels: Status: Reviewed

#57762 [Validator] Use CPP in `ConstraintViolation`
  src/Symfony/Component/Form/Tests/Extension/DataCollector/FormDataExtractorTest.php
  src/Symfony/Component/Validator/ConstraintViolation.php
Labels: Validator, Status: Reviewed

#57761 [Validator] Unwrap useless cast
  src/Symfony/Component/Validator/Constraints/ChoiceValidator.php
  src/Symfony/Component/Validator/Constraints/CountValidator.php
  src/Symfony/Component/Validator/Constraints/LengthValidator.php
Labels: Validator, Status: Reviewed

#57746 do not use `uniqid()` for generating dev tool tokens
  src/Symfony/Bundle/FrameworkBundle/EventListener/ConsoleProfilerListener.php
  src/Symfony/Component/HttpKernel/Debug/TraceableEventDispatcher.php
  src/Symfony/Component/HttpKernel/Profiler/Profiler.php
  src/Symfony/Component/Serializer/Debug/TraceableSerializer.php
Labels: Status: Reviewed

#57760 [Validator] Add WordCount constraint Lithuanian translation
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
Labels: Validator, Status: Reviewed

#57758 [Console] Remove a redundant check in `ErrorListener`
  src/Symfony/Component/Console/EventListener/ErrorListener.php
Labels: Console, Status: Reviewed

#57771 [Validator] added Polish translation for units 114 and 115
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Validator, Status: Reviewed

#57763 [HttpFoundation] Remove always false condition in `BinaryFileResponse`
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#57774 [Form] fix tests
  src/Symfony/Component/Form/Tests/Extension/DataCollector/FormDataExtractorTest.php
Labels: Form, Status: Needs Review

#57790 [Validator] Use CPP in AbstractComparisonValidator, BicValidator, Ran…
  src/Symfony/Component/Validator/Constraints/AbstractComparisonValidator.php
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Constraints/RangeValidator.php
Labels: Validator, Status: Reviewed

#57792 Replace `TestCase::assertTrue(true)` with `TestCase::expectNotToPerformAssertions()`
  src/Symfony/Component/Console/Tests/Command/CompleteCommandTest.php
  src/Symfony/Component/Finder/Tests/Iterator/RecursiveDirectoryIteratorTest.php
  src/Symfony/Component/Mailer/Tests/MailerTest.php
  src/Symfony/Component/Validator/Tests/Constraints/NotCompromisedPasswordValidatorTest.php
Labels: Status: Reviewed

#57789 [String] add test to prevent future regressions
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Status: Reviewed, String

#57798 [Console] be explicit about the signal to reset
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/ConsoleEventsTest.php
  src/Symfony/Component/Console/Tests/SignalRegistry/SignalRegistryTest.php
Labels: Console, Status: Needs Review

#57797 [FrameworkBundle]  terminate with non-zero exit code when a secret could not be read
  UPGRADE-7.2.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsDecryptToLocalCommand.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#57748 [SecurityBundle] use firewall-specific user checkers when manually logging in users
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/SecurityTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#57801 [Cache] Use tempnam() instead of uniquid() to produce a temporary file
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
Labels: Status: Reviewed, Cache

#57794 fix test using the ftp wrapper by switching the server being used
  src/Symfony/Component/Finder/Tests/Iterator/RecursiveDirectoryIteratorTest.php
Labels: Status: Reviewed

#57818 [Validator] Add Catalan and Spanish translation for `WordCount` const…
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
Labels: Validator, Status: Reviewed

#57809 [BrowserKit][HttpKernel] make use of the `@template` annotation to improve type information
  src/Symfony/Component/BrowserKit/AbstractBrowser.php
  src/Symfony/Component/BrowserKit/HttpBrowser.php
  src/Symfony/Component/HttpKernel/HttpKernelBrowser.php
Labels: HttpKernel, BrowserKit, Status: Reviewed

#57773 [Security] pass the current token to the `checkPostAuth()` method of user checkers
  UPGRADE-7.2.md
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/User/ChainUserChecker.php
  src/Symfony/Component/Security/Core/User/UserCheckerInterface.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/EventListener/UserCheckerListener.php
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/UserCheckerListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
Labels: Security, Feature, Status: Reviewed

#57778 [String] fix truncating in WordBefore mode with length after last space
  UPGRADE-7.2.md
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
Labels: Bug, Status: Reviewed, String

#57775 [HttpFoundation][HttpKernel] Remove unused code and useless casts
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/RouterCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/TranslationsCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/RouterCacheWarmerTest.php
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/File/File.php
  src/Symfony/Component/HttpFoundation/HeaderBag.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseCookieValueSame.php
  src/Symfony/Component/HttpKernel/Attribute/AsController.php
  src/Symfony/Component/HttpKernel/CacheWarmer/CacheWarmerAggregate.php
  src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/Translation/DataCollectorTranslator.php
Labels: HttpFoundation, HttpKernel, Status: Reviewed

#57702 [Cache] Stop defaulting to `igbinary` in `DefaultMarshaller`
  src/Symfony/Component/Cache/Marshaller/DefaultMarshaller.php
  src/Symfony/Component/Cache/Tests/Marshaller/DefaultMarshallerTest.php
Labels: Bug, Status: Reviewed, Cache

#57618 [TypeInfo] Add `PhpDocAwareReflectionTypeResolver`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/TypeInfo/CHANGELOG.md
  src/Symfony/Component/TypeInfo/Tests/Fixtures/DummyWithPhpDoc.php
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/PhpDocAwareReflectionTypeResolverTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/TypeResolverTest.php
  src/Symfony/Component/TypeInfo/TypeResolver/PhpDocAwareReflectionTypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/TypeResolver.php
Labels: Feature, Status: Reviewed, TypeInfo

#57525 [SecurityBundle] Improve profiler’s authenticators tab
  src/Symfony/Bundle/SecurityBundle/Resources/views/Collector/security.html.twig
  src/Symfony/Component/Security/Http/Authenticator/Debug/TraceableAuthenticator.php
Labels: Feature, SecurityBundle, Status: Reviewed

#54593 [PhpUnitBridge] Add `ExpectUserDeprecationMessageTrait`
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/ExpectUserDeprecationMessageTrait.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/TwigExtensionTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapConfigReaderTest.php
  src/Symfony/Component/Cache/Tests/Adapter/CouchbaseBucketAdapterTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveReferencesToAliasesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/ParameterBag/FrozenParameterBagTest.php
  src/Symfony/Component/DependencyInjection/Tests/ParameterBag/ParameterBagTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/UrlTypeTest.php
  src/Symfony/Component/Routing/Tests/Generator/Dumper/CompiledUrlGeneratorDumperTest.php
  src/Symfony/Component/Routing/Tests/Generator/UrlGeneratorTest.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Feature, PhpUnitBridge, Status: Reviewed

#57832 [DependencyInjection] Do not try to load default method name on interface
  src/Symfony/Component/DependencyInjection/Compiler/PriorityTaggedServiceTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/PriorityTaggedServiceTraitTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#57825 [PropertyInfo] fix tests
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
Labels: Status: Reviewed, PropertyInfo

#57796 [Security] Update web-token/jwt-library version and adjust checker parameters
  composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcTokenHandler.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Bug, Status: Reviewed

#57802 [PropertyInfo] Fix nullable value returned from extractFromMutator on CollectionType
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Php74Dummy.php
Labels: Bug, Status: Reviewed, PropertyInfo

#57772 [WebProfilerBundle] Add word wrap in tables in dialog to see all the text in workflow listeners dialog
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/workflow.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#57741 [Translations][Core] Fix & Enhance security Arabic translation.
  src/Symfony/Component/Security/Core/Resources/translations/security.ar.xlf
Labels: Status: Reviewed

#57836 [Cache] Add optional ClockInterface to ArrayAdapter
  src/Symfony/Component/Cache/Adapter/ArrayAdapter.php
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Tests/Adapter/ArrayAdapterTest.php
  src/Symfony/Component/Cache/composer.json
Labels: Feature, Status: Reviewed, Cache

#57837 [PropertyInfo] fix tests
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
Labels: Status: Reviewed, PropertyInfo

#57823 [Validator] properly set up constraint options
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanOrEqualValidatorWithPositiveOrZeroConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanValidatorWithPositiveConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanOrEqualValidatorWithNegativeOrZeroConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanValidatorWithNegativeConstraintTest.php
Labels: Validator, Status: Needs Review

#57799 [ErrorHandler][VarDumper] Remove PHP 8.4 deprecations
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
  src/Symfony/Component/VarDumper/Caster/DOMCaster.php
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
Labels: VarDumper, Status: Reviewed, ErrorHandler

#57816 [DoctrineBridge] fix messenger bus dispatch inside an active transaction
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineOpenTransactionLoggerMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineOpenTransactionLoggerMiddlewareTest.php
Labels: Bug, Status: Needs Review, DoctrineBridge

#57812 [Validator] treat uninitialized properties referenced by property paths as null
  src/Symfony/Component/Validator/Constraints/AbstractComparisonValidator.php
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Constraints/RangeValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/AbstractComparisonValidatorTestCase.php
  src/Symfony/Component/Validator/Tests/Constraints/BicValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/BicTypedDummy.php
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/MinMaxTyped.php
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/TypedDummy.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanOrEqualValidatorWithNegativeOrZeroConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanValidatorWithNegativeConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeValidatorTest.php
  src/Symfony/Component/Validator/composer.json
Labels: Validator, Bug, Status: Reviewed

#57714 [HttpFoundation] Add tests for uncovered sections
  src/Symfony/Component/HttpFoundation/Tests/InputBagTest.php
  src/Symfony/Component/HttpFoundation/Tests/RateLimiter/AbstractRequestRateLimiterTest.php
Labels: HttpFoundation, Status: Reviewed

#57828 [Translation] Fix CSV escape char in `CsvFileLoader` on PHP >= 7.4
  src/Symfony/Component/Translation/Loader/CsvFileLoader.php
Labels: Translation, Status: Needs Work

#57815 [Console][PhpUnitBridge][VarDumper] Fix `NO_COLOR` empty value handling
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
  src/Symfony/Component/Console/Output/StreamOutput.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Bug, Console, VarDumper, PhpUnitBridge, Status: Needs Review

#57803 [FrameworkBundle] move adding detailed JSON error messages to the validate phase
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#57732 [HttpFoundation] Add tests for `MethodRequestMatcher` and `SchemeRequestMatcher`
  src/Symfony/Component/HttpFoundation/Tests/RequestMatcher/MethodRequestMatcherTest.php
  src/Symfony/Component/HttpFoundation/Tests/RequestMatcher/SchemeRequestMatcherTest.php
Labels: HttpFoundation, Status: Needs Review

#57767 [Process] Fix ProcessTest - testIgnoringSignal for local
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Process, Status: Needs Work

#57841 [ErrorHandler] Fix `E_STRICT` logging level
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
Labels: Bug, Status: Needs Review, ErrorHandler

#57814 [Cache][Config][Console][DependencyInjection][FrameworkBundle] Remove unused code and useless casts
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/AbstractPhpFileCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Cache/Adapter/AbstractTagAwareAdapter.php
  src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php
  src/Symfony/Component/Config/Definition/PrototypedArrayNode.php
  src/Symfony/Component/Config/Util/XmlUtils.php
  src/Symfony/Component/Console/Command/CompleteCommand.php
  src/Symfony/Component/Console/Descriptor/ReStructuredTextDescriptor.php
  src/Symfony/Component/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Component/Console/Output/AnsiColorMode.php
  src/Symfony/Component/Console/Output/TrimmedBufferOutput.php
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Loader/UndefinedExtensionHandler.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
Labels: DependencyInjection, Console, Config, FrameworkBundle, Status: Reviewed, Cache

#57806 [DomCrawler][Filesystem] stop using uniqid() to create temporary files
  src/Symfony/Component/DomCrawler/Field/FileFormField.php
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: DomCrawler, Filesystem, Status: Reviewed

#57843 Release v5.4.42
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#57844 Release v6.4.10
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#57845 Release v7.0.10
  CHANGELOG-7.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#57846 Release v7.1.3
  CHANGELOG-7.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#57839 [Form] Deprecate VersionAwareTest trait
  UPGRADE-7.2.md
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5LayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractLayoutTestCase.php
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BaseTypeTestCase.php
  src/Symfony/Component/Form/Tests/VersionAwareTest.php
Labels: Form, Feature, Status: Reviewed, Deprecation

#57625 [DoctrineBridge] Make `EntityValueResolver` return `null` if a composite ID value is `null`
  src/Symfony/Bridge/Doctrine/ArgumentResolver/EntityValueResolver.php
  src/Symfony/Bridge/Doctrine/Tests/ArgumentResolver/EntityValueResolverTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#57856 replace `uniqid()` with `random_bytes()` to create identifiers
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
  src/Symfony/Component/Notifier/Bridge/Iqsms/IqsmsTransport.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/VarDumper/Command/Descriptor/HtmlDescriptor.php
Labels: Status: Reviewed

#57870 [HttpClient] Disable HTTP/2 PUSH by default when using curl
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
Labels: Bug, Status: Reviewed, HttpClient

#57864 [Cache] document igbinary changes in the Cache component
  UPGRADE-7.2.md
  src/Symfony/Component/Cache/CHANGELOG.md
Labels: Status: Reviewed, Cache

#57865 [DomCrawler] fix test on Windows
  src/Symfony/Component/DomCrawler/Tests/Field/FileFormFieldTest.php
Labels: DomCrawler, Status: Needs Review

#57882 Adjust PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#57887 [Uid] Ensure UuidV1 is created in lowercase
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/UuidV1.php
Labels: Status: Needs Review, Uid
