Repository symfony/symfony, pull requests merged in 2024-12, with the labels that each got.

#59058 [TwigBridge] fix Twig 3.17 compatibility
  src/Symfony/Bridge/Twig/Tests/Node/SearchAndRenderBlockNodeTest.php
Labels: Status: Reviewed, TwigBridge

#59059 [TwigBridge] generate conflict-free variable names
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationDefaultDomainNodeVisitor.php
Labels: Bug, Status: Reviewed, TwigBridge

#59090 Add CI job for PHP 8.5
  .github/workflows/unit-tests.yml
Labels: Status: Reviewed

#59026 [VarDumper] Add caster for Socket instances
  src/Symfony/Component/VarDumper/Caster/SocketCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Feature, VarDumper, Status: Reviewed

#59020 [AssetMapper] add support for assets pre-compression
  .github/workflows/unit-tests.yml
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/asset_mapper.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/Command/CompressAssetsCommand.php
  src/Symfony/Component/AssetMapper/Compressor/BrotliCompressor.php
  src/Symfony/Component/AssetMapper/Compressor/ChainCompressor.php
  src/Symfony/Component/AssetMapper/Compressor/CompressorInterface.php
  src/Symfony/Component/AssetMapper/Compressor/CompressorTrait.php
  src/Symfony/Component/AssetMapper/Compressor/GzipCompressor.php
  src/Symfony/Component/AssetMapper/Compressor/SupportedCompressorInterface.php
  src/Symfony/Component/AssetMapper/Compressor/ZopfliCompressor.php
  src/Symfony/Component/AssetMapper/Compressor/ZstandardCompressor.php
  src/Symfony/Component/AssetMapper/Path/LocalPublicAssetsFilesystem.php
  src/Symfony/Component/AssetMapper/Tests/Compressor/BrotliCompressorTest.php
  src/Symfony/Component/AssetMapper/Tests/Compressor/ChainCompressorTest.php
  src/Symfony/Component/AssetMapper/Tests/Compressor/GzipCompressorTest.php
  src/Symfony/Component/AssetMapper/Tests/Compressor/ZstandardCompressorTest.php
  src/Symfony/Component/AssetMapper/Tests/Path/LocalPublicAssetsFilesystemTest.php
  src/Symfony/Component/AssetMapper/composer.json
Labels: Feature, Status: Reviewed, AssetMapper

#59070 [PropertyInfo] evaluate access flags for properties with asymmetric visibility
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
Labels: Bug, Status: Reviewed, PropertyInfo

#59099 [sendgrid-mailer] Fix null check on region
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridSmtpTransport.php
Labels: Bug, Status: Reviewed

#59098 [DoctrineBridge] add test covering associated entities referenced by their primary key
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/AssociatedEntityDto.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
Labels: Status: Reviewed, DoctrineBridge

#59086 [FrameworkBundle] Make uri_signer lazy and improve error when kernel.secret is empty
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#59105 [FrameworkBundle] Rename TranslationUpdateCommand to TranslationExtract command to match the command name
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationExtractCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationExtractCommandCompletionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationExtractCommandTest.php
Labels: FrameworkBundle, Status: Reviewed, Deprecation

#59112 [Scheduler] Move properties above `__construct()` method
  src/Symfony/Component/Scheduler/Schedule.php
Labels: Status: Reviewed, Scheduler

#59095 chore: fix CS
  src/Symfony/Bridge/Doctrine/Tests/Security/RememberMe/DoctrineTokenProviderPostgresTest.php
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Component/Cache/Traits/Relay/MoveTrait.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/NoPrivateNetworkHttpClientTest.php
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/Messenger/Attribute/AsMessage.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/TypeInfo/Type/UnionType.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
Labels: Status: Reviewed

#59107 [ErrorHandler] Fix error message in test with PHP 8.5
  src/Symfony/Component/ErrorHandler/Tests/phpt/fatal_with_nested_handlers.phpt
Labels: Bug, Status: Reviewed, ErrorHandler

#59116 [TwigBridge] Add tests covering `trans_default_domain` with dynamic expressions
  src/Symfony/Bridge/Twig/Tests/Extension/TranslationExtensionTest.php
Labels: Status: Reviewed, TwigBridge

#59114 [ErrorHandler] support non-empty-string/non-empty-list when patching return types
  src/Symfony/Component/ErrorHandler/DebugClassLoader.php
Labels: Feature, Status: Reviewed, ErrorHandler

#59075 [Uid] Add `@return non-empty-string` annotations to `AbstractUid` and relevant functions
  src/Symfony/Component/Uid/AbstractUid.php
Labels: Feature, Status: Reviewed, Uid

#59115 [Mailer] add test covering null regions
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridSmtpTransportTest.php
Labels: Status: Reviewed, Mailer

#59121 [Scheduler] remove unused code
  src/Symfony/Component/Scheduler/Tests/RecurringMessageTest.php
  src/Symfony/Component/Scheduler/Tests/Trigger/CronExpressionTriggerTest.php
Labels: Status: Needs Review, Hack Day, Scheduler

#59124 [FrameworkBundle] fix: notifier push channel bus abstract arg
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#59122 [Notifier] fix desktop channel bus abstract arg
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier.php
Labels: Bug, Status: Reviewed, Notifier

#59108 [AssetMapper] Fix missing return type
  src/Symfony/Component/AssetMapper/Compressor/ZopfliCompressor.php
Labels: Bug, Status: Reviewed, AssetMapper

#48142 [Security][SecurityBundle] User authorization checker
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Core/Authentication/Token/OfflineTokenInterface.php
  src/Symfony/Component/Security/Core/Authentication/Token/UserAuthorizationCheckerToken.php
  src/Symfony/Component/Security/Core/Authorization/UserAuthorizationChecker.php
  src/Symfony/Component/Security/Core/Authorization/UserAuthorizationCheckerInterface.php
  src/Symfony/Component/Security/Core/Authorization/Voter/AuthenticatedVoter.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/UserAuthorizationCheckerTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/UserAuthorizationCheckerTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/AuthenticatedVoterTest.php
Labels: Security, Feature, SecurityBundle, Status: Reviewed

#59127 [Console] fix risky test that doesn't perform any assertions
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Console, Status: Reviewed

#59130 [AssetMapper] minor fixes for pre-compression
  src/Symfony/Component/AssetMapper/Compressor/GzipCompressor.php
Labels: Bug, Status: Reviewed, AssetMapper

#59140 [WebProfilerBundle] fix: white-space in highlighted code
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/open.css.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#59133 Remove ServiceSubscriberInterface implementation from Service façade
  src/Symfony/Bundle/SecurityBundle/Security.php
Labels: Status: Reviewed

#59134 [HttpKernel] Denormalize request data using the csv format when using "#[MapQueryString]" or "#[MapRequestPayload]" (except for content data)
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#59149 [TypeInfo] Fix outdated README
  src/Symfony/Component/TypeInfo/README.md
Labels: Bug, Status: Reviewed, TypeInfo

#59100 [HttpClient] Test POST to GET redirects
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Contracts/HttpClient/Test/Fixtures/web/index.php
Labels: Status: Reviewed, HttpClient

#59012 [PropertyInfo] Fix interface handling in `PhpStanTypeHelper`
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/DummyGeneric.php
  src/Symfony/Component/PropertyInfo/Util/PhpStanTypeHelper.php
Labels: Bug, Status: Reviewed, PropertyInfo

#58946 [Console] Add support of millisecondes for `formatTime`
  src/Symfony/Component/Console/Helper/Helper.php
  src/Symfony/Component/Console/Tests/Helper/HelperTest.php
Labels: Feature, Console, Status: Reviewed

#59158 [Console] Fix time display in tests
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Bug, Console, Status: Reviewed

#59154 [HttpFoundation] Support iterable of string in `StreamedResponse`
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/StreamedResponse.php
  src/Symfony/Component/HttpFoundation/Tests/StreamedResponseTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#59152 [TypeInfo] Remove useless dependencies and conflicts
  src/Symfony/Component/TypeInfo/composer.json
Labels: Bug, Status: Reviewed, TypeInfo

#59162 [JsonEncoder] Fix timezone on `DateTimeNormalizerTest` fixture
  src/Symfony/Component/JsonEncoder/Tests/Encode/Normalizer/DateTimeNormalizerTest.php
Labels: Bug, Status: Reviewed

#59160 [BeanstalkMessenger] Round delay to an integer to avoid deprecation warning
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Transport/Connection.php
Labels: Bug, Status: Reviewed

#59164 [JsonEncoder] remove some unnecessary recomputations in LazyInstantiator
  src/Symfony/Component/JsonEncoder/Decode/LazyInstantiator.php
Labels: Status: Reviewed

#59165 [Console] Fix tests
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/ConsoleEventsTest.php
  src/Symfony/Component/Console/Tests/SignalRegistry/SignalRegistryTest.php
Labels: Console, Status: Needs Review

#59156 [PropertyInfo] [7.1] Fix interface handling in PhpStanTypeHelper
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
Labels: Bug, Status: Reviewed, PropertyInfo

#59151 [Workflow] Fix union to intersection for mock type
  src/Symfony/Component/Workflow/Tests/Debug/TraceableWorkflowTest.php
Labels: Status: Reviewed, Workflow

#59145 [TypeInfo] Make `Type::nullable` method no-op on every nullable type
  src/Symfony/Component/TypeInfo/Tests/TypeFactoryTest.php
  src/Symfony/Component/TypeInfo/TypeFactoryTrait.php
Labels: Bug, Status: Reviewed, TypeInfo

#59066 Fix resolve enum in string type resolver
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/StringTypeResolverTest.php
  src/Symfony/Component/TypeInfo/TypeResolver/ReflectionTypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
Labels: Bug, Status: Reviewed

#58515 [JsonEncoder] Wire services
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/json_encoder.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/json_encoder.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/json_encoder.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/full.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/json_encoder.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/JsonEncoderTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/JsonEncoder/Dto/Dummy.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/JsonEncoder/RangeNormalizer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/JsonEncoder/bundles.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/JsonEncoder/config.yml
Labels: Feature, Status: Reviewed

#59174 [FrameworkBundle] Add `symfony/json-encoder` to dev requirements
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed

#59173 chore: PHP CS Fixer fixes
  src/Symfony/Bridge/Doctrine/Tests/Form/DataTransformer/CollectionToArrayTransformerTest.php
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
  src/Symfony/Bundle/FrameworkBundle/Command/AboutCommand.php
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Config/ConfigCache.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveAutowireInlineAttributesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Finder/Tests/Iterator/RecursiveDirectoryIteratorTest.php
  src/Symfony/Component/HttpClient/DataCollector/HttpClientDataCollector.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpFoundation/ResponseHeaderBag.php
  src/Symfony/Component/HttpKernel/DataCollector/ConfigDataCollector.php
  src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
  src/Symfony/Component/Mailer/Transport/NativeTransportFactory.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Mime/Part/Multipart/FormDataPart.php
  src/Symfony/Component/Mime/Tests/Encoder/QpContentEncoderTest.php
  src/Symfony/Component/Mime/Tests/RawMessageTest.php
  src/Symfony/Component/Notifier/Bridge/Lox24/Tests/Lox24TransportTest.php
  src/Symfony/Component/Notifier/Bridge/TurboSms/TurboSmsTransport.php
  src/Symfony/Component/Process/ExecutableFinder.php
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
  src/Symfony/Component/PropertyInfo/Util/PhpStanTypeHelper.php
  src/Symfony/Component/RateLimiter/RateLimiterFactory.php
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
  src/Symfony/Component/Validator/Constraints/ChoiceValidator.php
  src/Symfony/Component/Validator/Constraints/WeekValidator.php
  src/Symfony/Component/VarDumper/Resources/functions/dump.php
  src/Symfony/Component/Yaml/Escaper.php
Labels: Status: Reviewed

#59182 [PropertyInfo] Fix generic enum type extraction test
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
Labels: Bug, Status: Reviewed, PropertyInfo

#59194 [PropertyInfo] bump lowest required TypeInfo component version
  src/Symfony/Component/PropertyInfo/composer.json
Labels: Status: Needs Review, PropertyInfo

#59195 [Mailer] fix NativeTransportFactoryTest
  src/Symfony/Component/Mailer/Transport/NativeTransportFactory.php
Labels: Status: Needs Review, Mailer

#59176 [FrameworkBundle] Fix `symfony/translation` conflict
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: Bug, FrameworkBundle, Status: Reviewed

#59203 [JsonEncoder] Reuse decodeString in NativeDecoder
  src/Symfony/Component/JsonEncoder/Decode/NativeDecoder.php
Labels: Status: Reviewed

#59212 Remove 5.4 branch from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#59210 chore: PHP CS Fixer fixes
  .php-cs-fixer.dist.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
  src/Symfony/Component/JsonEncoder/Decode/PhpAstBuilder.php
  src/Symfony/Component/JsonEncoder/Encode/PhpAstBuilder.php
  src/Symfony/Component/JsonEncoder/Mapping/GenericTypePropertyMetadataLoader.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/StaticPrefixCollectionTest.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Tests/Attribute/ContextTest.php
  src/Symfony/Component/VarDumper/Tests/Command/Descriptor/HtmlDescriptorTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Status: Reviewed

#59125 [Scheduler] Fix optional `$count` variable in `testGetNextRunDates`
  src/Symfony/Component/Scheduler/Tests/Trigger/PeriodicalTriggerTest.php
Labels: Bug, Status: Reviewed, Scheduler

#59180 [FrameworkBundle] do not allow symfony/json-encoder 7.4 yet
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Reviewed

#59189 [Routing] Validate "namespace" (when using `Psr4DirectoryLoader`)
  src/Symfony/Component/Routing/Loader/Psr4DirectoryLoader.php
  src/Symfony/Component/Routing/Tests/Loader/Psr4DirectoryLoaderTest.php
Labels: Feature, Routing, Status: Reviewed

#59214 [Security][SecurityBundle] rename userIsGranted() to isGrantedForUser()
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Component/Security/Core/Authorization/UserAuthorizationChecker.php
  src/Symfony/Component/Security/Core/Authorization/UserAuthorizationCheckerInterface.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authorization/UserAuthorizationCheckerTest.php
Labels: Security, SecurityBundle, Status: Reviewed

#59060 [Validator] set the violation path only if the `errorPath` option is set
  src/Symfony/Component/Validator/Constraints/UniqueValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/UniqueValidatorTest.php
Labels: Validator, Bug, Status: Reviewed

#59113 [FrameworkBundle][Translation] fix translation lint compatibility with the `PseudoLocalizationTranslator`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TranslationLintCommandPass.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Component/Translation/PseudoLocalizationTranslator.php
Labels: Bug, Translation, FrameworkBundle, Status: Reviewed

#59213 [FrameworkBundle] don't require fake notifier transports to be installed as non-dev dependencies
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#59234 [Notifier] unsupported options exception
  src/Symfony/Component/Notifier/Bridge/GoIp/GoIpTransport.php
  src/Symfony/Component/Notifier/Bridge/GoIp/composer.json
  src/Symfony/Component/Notifier/Bridge/GoogleChat/GoogleChatTransport.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/Tests/GoogleChatTransportTest.php
  src/Symfony/Component/Notifier/Bridge/GoogleChat/composer.json
  src/Symfony/Component/Notifier/Bridge/JoliNotif/JoliNotifTransport.php
  src/Symfony/Component/Notifier/Bridge/JoliNotif/composer.json
  src/Symfony/Component/Notifier/Bridge/LinkedIn/LinkedInTransport.php
  src/Symfony/Component/Notifier/Bridge/LinkedIn/composer.json
  src/Symfony/Component/Notifier/Bridge/Mercure/MercureTransport.php
  src/Symfony/Component/Notifier/Bridge/Mercure/composer.json
  src/Symfony/Component/Notifier/Bridge/Ntfy/NtfyTransport.php
  src/Symfony/Component/Notifier/Bridge/Ntfy/composer.json
  src/Symfony/Component/Notifier/Exception/UnsupportedOptionsException.php
Labels: Status: Reviewed, Notifier

#59192 [PropertyInfo] Add non-*-int missing types for PhpStanExtractor
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/PhpStanPseudoTypesDummy.php
  src/Symfony/Component/PropertyInfo/Util/PhpStanTypeHelper.php
Labels: Feature, Status: Reviewed, PropertyInfo

#59226 [FrameworkBundle] require the writer to implement getFormats() in the translation:extract
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/TranslationUpdateCommandPass.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#59178 [AssetMapper] Adding 'Everything up to date' message
  src/Symfony/Component/AssetMapper/Command/ImportMapOutdatedCommand.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapOutdatedCommandTest.php
Labels: Status: Reviewed, AssetMapper

#59022 [HttpFoundation] Generate url-safe hashes for signed urls
  src/Symfony/Bridge/Twig/Tests/Extension/HttpKernelExtensionTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/FragmentTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/HttpFoundation/Tests/UriSignerTest.php
  src/Symfony/Component/HttpFoundation/UriSigner.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/EsiFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/HIncludeFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/SsiFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: Feature, HttpFoundation, Status: Reviewed

#59103 [Messenger] ensure exception on rollback does not hide previous exception
  src/Symfony/Bridge/Doctrine/Messenger/DoctrineTransactionMiddleware.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineTransactionMiddlewareTest.php
Labels: Bug, Status: Reviewed, Messenger

#59261 [HttpKernel] relax assertions on generated hashes
  src/Symfony/Bridge/Twig/Tests/Extension/HttpKernelExtensionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/FragmentTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/EsiFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/HIncludeFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/SsiFragmentRendererTest.php
Labels: HttpKernel, Status: Reviewed

#59254 [JsonEncoder] Remove chunk size definition
  src/Symfony/Bundle/FrameworkBundle/Resources/config/json_encoder.php
  src/Symfony/Component/JsonEncoder/CacheWarmer/EncoderDecoderCacheWarmer.php
  src/Symfony/Component/JsonEncoder/DataModel/Encode/ObjectNode.php
  src/Symfony/Component/JsonEncoder/Encode/EncoderGenerator.php
  src/Symfony/Component/JsonEncoder/Encode/PhpAstBuilder.php
  src/Symfony/Component/JsonEncoder/JsonEncoder.php
  src/Symfony/Component/JsonEncoder/Tests/DataModel/Encode/CompositeNodeTest.php
  src/Symfony/Component/JsonEncoder/Tests/Encode/EncoderGeneratorTest.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/backed_enum.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/bool.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/bool_list.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/dict.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/iterable_dict.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/iterable_list.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/list.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/mixed.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/null.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/null_list.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/nullable_backed_enum.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/nullable_object.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/nullable_object_dict.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/nullable_object_list.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/object.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/object_dict.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/object_in_object.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/object_in_object.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/object_list.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/object_with_normalizer.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/object_with_union.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/scalar.stream.php
  src/Symfony/Component/JsonEncoder/Tests/Fixtures/encoder/union.stream.php
  src/Symfony/Component/JsonEncoder/Tests/JsonEncoderTest.php
Labels: Feature, Status: Reviewed, JsonEncoder

#59266 [Cache] Update PhpFilesAdapter.php, remove goto statement
  src/Symfony/Component/Cache/Adapter/PhpFilesAdapter.php
Labels: Status: Reviewed, Cache

#59250 [HttpClient] Fix a typo in NoPrivateNetworkHttpClient
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/Tests/NoPrivateNetworkHttpClientTest.php
Labels: Bug, Status: Reviewed, HttpClient

#59129 [SecurityBundle][TwigBridge] Add `is_granted_for_user()` function
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/SecurityExtension.php
  src/Symfony/Bridge/Twig/UndefinedCallableHandler.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/templating_twig.php
Labels: Feature, SecurityBundle, Status: Reviewed, TwigBridge

#59269 [Security/Csrf] Trust "Referer" at the same level as "Origin"
  src/Symfony/Component/Security/Csrf/SameOriginCsrfTokenManager.php
  src/Symfony/Component/Security/Csrf/Tests/SameOriginCsrfTokenManagerTest.php
Labels: Bug, Status: Reviewed

#59271 [TypeInfo] Fix PHPDoc resolving of union with mixed
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/StringTypeResolverTest.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
Labels: Bug, Status: Reviewed, TypeInfo

#59310 [Validator] the "max" option can be zero
  src/Symfony/Component/Validator/Constraints/Count.php
Labels: Validator, Bug, Status: Reviewed

#59285 [Validators] Update validators.fa.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf
Labels: Status: Needs Review, Missing translations

#59265 [Validator] Validate SVG ratio in Image validator
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/ImageValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_landscape.svg
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_landscape_height.svg
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_landscape_width.svg
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_landscape_width_height.svg
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_no_size.svg
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_portrait.svg
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_square.svg
  src/Symfony/Component/Validator/Tests/Constraints/ImageValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#59291 [TypeInfo] Add `accepts` method
  src/Symfony/Component/TypeInfo/CHANGELOG.md
  src/Symfony/Component/TypeInfo/Tests/Type/BackedEnumTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/BuiltinTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/CollectionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/EnumTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/GenericTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/IntersectionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/NullableTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/ObjectTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/TemplateTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/UnionTypeTest.php
  src/Symfony/Component/TypeInfo/Type.php
  src/Symfony/Component/TypeInfo/Type/BuiltinType.php
  src/Symfony/Component/TypeInfo/Type/CollectionType.php
  src/Symfony/Component/TypeInfo/Type/NullableType.php
  src/Symfony/Component/TypeInfo/Type/ObjectType.php
Labels: Feature, Status: Reviewed, TypeInfo

#59321 [HtmlSanitizer] reject URLs containing whitespaces
  src/Symfony/Component/HtmlSanitizer/Tests/TextSanitizer/UrlSanitizerTest.php
  src/Symfony/Component/HtmlSanitizer/TextSanitizer/UrlSanitizer.php
Labels: Bug, Status: Reviewed, HtmlSanitizer

#59318 [Finder] Fix using `==` as default operator in `DateComparator`
  src/Symfony/Component/Finder/Comparator/DateComparator.php
  src/Symfony/Component/Finder/Tests/Comparator/DateComparatorTest.php
Labels: Bug, Finder, Status: Reviewed

#59228 [HttpFoundation] Avoid mime type guess with temp files in `BinaryFileResponse`
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#59220 [Messenger] choose the correctly cased class name for the MariaDB platform
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
Labels: Status: Reviewed, Messenger

#59278 [SecurityBundle] Do not replace authenticators service by their traceable version
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
Labels: Bug, SecurityBundle, Status: Reviewed

#59252 [Stopwatch] bug #54854 undefined key error when trying to fetch a mis…
  src/Symfony/Component/Stopwatch/Stopwatch.php
  src/Symfony/Component/Stopwatch/Tests/StopwatchTest.php
Labels: Bug, Stopwatch, Status: Reviewed

#59304 [PropertyInfo] Remove `@internal` from `PropertyReadInfo` and `PropertyWriteInfo`
  src/Symfony/Component/PropertyInfo/PropertyReadInfo.php
  src/Symfony/Component/PropertyInfo/PropertyWriteInfo.php
Labels: Bug, Status: Reviewed, PropertyInfo

#59336 Release v6.4.17
  CHANGELOG-6.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#59337 Release v7.1.10
  CHANGELOG-7.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#59338 Release v7.2.2
  CHANGELOG-7.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review
