Repository symfony/symfony, pull requests merged in 2024-11, with the labels that each got.

#58735 [Process] Return built-in cmd.exe commands directly in ExecutableFinder
  src/Symfony/Component/Process/ExecutableFinder.php
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Bug, Process, Status: Reviewed

#58748 [Process] ignore case of built-in cmd.exe commands
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Process, Status: Reviewed

#58746 [Process] Improve test cleanup by unlinking in a `finally` block
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Process, Status: Reviewed

#58747 [Process] fix the directory separator being used
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Process, Status: Needs Review

#58750 [Process] fix the path separator being used
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Process, Status: Needs Review

#58751 [Process] fix the constant being used
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Process, Status: Needs Review

#58752 [Process] Fix escaping /X arguments on Windows
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Bug, Process, Status: Needs Review

#58745 [Notifier] Fix test with hard coded date in `SmsboxTransportTest`
  src/Symfony/Component/Notifier/Bridge/Smsbox/Tests/SmsboxTransportTest.php
Labels: Bug, Status: Reviewed, Notifier

#58739 [WebProfilerBoundle] form data collector check passed and resolved options are defined
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/form.html.twig
Labels: Bug, Status: Needs Review

#58731 [Validator] Fix 58691 (missing plural-options in serbian language translation)
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
Labels: Validator, Bug, Status: Needs Review

#58728 [WebProfilerBundle] Re-add missing Profiler shortcuts on Profiler homepage
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/results.html.twig
Labels: Bug, WebProfilerBundle, Status: Needs Review

#58713 [Config] Handle Phar absolute path in `FileLocator`
  src/Symfony/Component/Config/FileLocator.php
  src/Symfony/Component/Config/Tests/FileLocatorTest.php
Labels: Bug, Config, Status: Reviewed

#58695 [Runtime] Remove unused `SKIPIF` from `dotenv_overload.phpt`
  src/Symfony/Component/Runtime/Tests/phpt/dotenv_overload.phpt
Labels: Status: Reviewed, Runtime

#58753 [Cache] Fix clear() when using Predis
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Needs Review, Cache

#58754 [Security] Store original token in token storage when implicitly exiting impersonation
  src/Symfony/Component/Security/Http/Firewall/SwitchUserListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
Labels: Security, Bug, Status: Reviewed

#58710 [Process] On Windows, don't rely on the OS to find executables
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessFailedExceptionTest.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Process, Status: Reviewed

#58762 [WebProfilerBundle] re-add missing profiler shortcuts on profiler homepage
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/results.html.twig
Labels: Bug, WebProfilerBundle, Status: Needs Review

#58712 [HttpFoundation] Fix support for `\SplTempFileObject` in `BinaryFileResponse`
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php
Labels: Bug, HttpFoundation, Status: Needs Review

#58585 Rename annotations to attributes in `AttributeLoader`
  src/Symfony/Component/Serializer/Mapping/Loader/AttributeLoader.php
  src/Symfony/Component/Serializer/Tests/Attribute/ContextTest.php
  src/Symfony/Component/Serializer/Tests/Attribute/DiscriminatorMapTest.php
  src/Symfony/Component/Serializer/Tests/Attribute/GroupsTest.php
  src/Symfony/Component/Serializer/Tests/Attribute/MaxDepthTest.php
  src/Symfony/Component/Serializer/Tests/Attribute/SerializedNameTest.php
  src/Symfony/Component/Serializer/Tests/Attribute/SerializedPathTest.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/GroupDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/IgnoreDummyAdditionalGetterWithoutIgnoreAttributes.php
  src/Symfony/Component/Serializer/Tests/Fixtures/ChildOfGroupsAttributeDummy.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AttributeLoaderTest.php
Labels: Status: Reviewed

#58584 [Routing] Rename annotations to attribute in `AttributeClassLoader`
  .github/expected-missing-return-types.diff
  UPGRADE-7.2.md
  src/Symfony/Bundle/FrameworkBundle/Routing/AttributeRouteControllerLoader.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/AttributeClassLoader.php
  src/Symfony/Component/Routing/Tests/Fixtures/AnnotationFixtures/InvokableFQCNAliasConflictController.php
  src/Symfony/Component/Routing/Tests/Fixtures/TraceableAttributeClassLoader.php
  src/Symfony/Component/Routing/Tests/Loader/AttributeClassLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/Psr4DirectoryLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
Labels: Routing, Status: Needs Review

#58764 [Mime] Don't require passing the encoder name to `TextPart`
  src/Symfony/Component/Mime/Part/TextPart.php
  src/Symfony/Component/Mime/Tests/Part/TextPartTest.php
Labels: Status: Reviewed, Mime

#58757 [RateLimiter] Fix DateInterval normalization
  src/Symfony/Component/RateLimiter/RateLimiterFactory.php
  src/Symfony/Component/RateLimiter/Tests/RateLimiterFactoryTest.php
  src/Symfony/Component/RateLimiter/Util/TimeUtil.php
Labels: Bug, Status: Reviewed, RateLimiter

#58765 [VarDumper] fix detecting anonymous exception classes on Windows and PHP 7
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/Exception/FlattenException.php
  src/Symfony/Component/VarDumper/Caster/ClassStub.php
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
Labels: Bug, VarDumper, Status: Needs Review

#58706 [TwigBridge] use reproducible variable names in the default domain node visitor
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationDefaultDomainNodeVisitor.php
Labels: Feature, Status: Reviewed, TwigBridge

#58772 [DoctrineBridge] Backport detection fix of Xml/Yaml driver in DoctrineExtension
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
Labels: Bug, Status: Needs Review, DoctrineBridge

#58776 [DependencyInjection][HttpClient][Routing] Reject URIs that contain invalid characters
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
  src/Symfony/Component/Routing/RequestContext.php
  src/Symfony/Component/Routing/Tests/RequestContextTest.php
Labels: DependencyInjection, Routing, Status: Needs Review, HttpClient

#58777 Release v5.4.46
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#58779 Release v7.1.7
  CHANGELOG-7.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#58780 Release v7.2.0-BETA2
  CHANGELOG-7.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#58784 [Process] normalize paths to avoid failures if a path is referenced by different names
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Process, Status: Reviewed

#58783 [Console] skip autocomplete test when stty is not available
  src/Symfony/Component/Console/Tests/Helper/QuestionHelperTest.php
Labels: Console, Status: Needs Review

#58721 switch from AppVeyor to GitHub Actions to run tests on Windows
  .appveyor.yml
  .github/workflows/windows.yml
Labels: Status: Reviewed

#58800 [PropertyInfo] fix support for phpstan/phpdoc-parser 2
  composer.json
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/composer.json
Labels: Bug, Status: Reviewed, PropertyInfo

#58793 fix referencing the SYMFONY_VERSION env var
  .github/workflows/windows.yml
Labels: Status: Reviewed

#58812 relax format assertions for fstat() results on Windows
  src/Symfony/Component/VarDumper/Tests/Caster/SplCasterTest.php
Labels: Status: Needs Review

#58791 [RateLimiter] handle error results of DateTime::modify()
  src/Symfony/Component/RateLimiter/RateLimiterFactory.php
Labels: Bug, Status: Reviewed, RateLimiter

#58813 [HttpFoundation] require Cache component versions compatible with Redis 6.1
  src/Symfony/Component/HttpFoundation/composer.json
Labels: HttpFoundation, Status: Reviewed

#58816 chore: update readme code typo
  src/Symfony/Component/TypeInfo/README.md
Labels: Status: Reviewed

#58810 [Validator] Improve type for the `mode` property of the Bic constraint
  src/Symfony/Component/Validator/Constraints/Bic.php
Labels: Validator, Status: Reviewed, :snowflake: Feature Freeze

#58795 `Definition::$class` may not be `class-string`
  src/Symfony/Component/DependencyInjection/Definition.php
Labels: Bug, Status: Needs Review

#58788 [Mailer] use microsecond precision SMTP logging
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/AbstractStream.php
Labels: Status: Reviewed, Mailer

#58785 [Runtime] Negate `register_argc_argv` when `On`
  src/Symfony/Component/Runtime/SymfonyRuntime.php
Labels: Status: Reviewed, Runtime

#58767 [Messenger] use official YAML media type
  src/Symfony/Component/Messenger/Transport/Serialization/Serializer.php
Labels: Bug, Status: Reviewed, Messenger

#58763 [Messenger][RateLimiter] fix additional message handled when using a rate limiter
  src/Symfony/Component/Messenger/Tests/WorkerTest.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Bug, Status: Reviewed, Messenger, RateLimiter

#58705 [Serializer] Revert Default groups
  src/Symfony/Component/PropertyInfo/Extractor/SerializerExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/SerializerExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/IgnorePropertyDummy.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/GroupDummy.php
  src/Symfony/Component/Serializer/Tests/Mapping/TestClassMetadataFactory.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/GroupsTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#58658 [Notifier] [Twitter] Fix post INIT upload
  src/Symfony/Component/Notifier/Bridge/Twitter/Tests/TwitterTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Twitter/TwitterTransport.php
Labels: Bug, Status: Reviewed, Notifier

#58659 [AssetMapper] Fix `JavaScriptImportPathCompiler` regex for non-latin characters
  src/Symfony/Component/AssetMapper/Compiler/JavaScriptImportPathCompiler.php
  src/Symfony/Component/AssetMapper/Tests/Compiler/JavaScriptImportPathCompilerTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#58601 [RateLimiter] Fix bucket size reduced when previously created with bigger size
  src/Symfony/Component/RateLimiter/Policy/TokenBucketLimiter.php
  src/Symfony/Component/RateLimiter/Tests/Policy/TokenBucketLimiterTest.php
Labels: Bug, Status: Reviewed, RateLimiter

#58483 [Messenger] Extend SQS visibility timeout for messages that are still being processed
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/CHANGELOG.md
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsReceiverTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsTransportTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsReceiver.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/AmazonSqsTransport.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/composer.json
Labels: Feature, Status: Reviewed, Messenger

#56868 [Serializer] fixed object normalizer for a class with `cancel` method
  src/Symfony/Component/Serializer/Mapping/Loader/AttributeLoader.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Attributes/AccessorishGetters.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AttributeLoaderTestCase.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#58807 [Mime] Update mime types
  src/Symfony/Component/Mime/MimeTypes.php
  src/Symfony/Component/Mime/Resources/bin/update_mime_types.php
Labels: Status: Reviewed, Mime

#58823 [TwigBridge] Fix emojify as function in Undefined Handler
  src/Symfony/Bridge/Twig/UndefinedCallableHandler.php
Labels: Bug, Status: Reviewed, TwigBridge

#58799 [String] Fix some spellings in `EnglishInflector`
  src/Symfony/Component/Inflector/Tests/InflectorTest.php
  src/Symfony/Component/Inflector/composer.json
  src/Symfony/Component/String/Inflector/EnglishInflector.php
  src/Symfony/Component/String/Tests/Inflector/EnglishInflectorTest.php
Labels: Bug, Status: Reviewed, String

#58849 Release v6.4.15
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#58850 [HttpClient] fix PHP 7.2 compatibility
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
Labels: Bug, Status: Needs Review, HttpClient

#58842 [Routing] Fix: lost priority when defining hosts in configuration
  src/Symfony/Component/Routing/Loader/Configurator/Traits/HostTrait.php
  src/Symfony/Component/Routing/Tests/Fixtures/locale_and_host/priorized-host.yml
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
Labels: Bug, Routing, Status: Reviewed

#58828 [PhpUnitBridge] fix dumping tests to skip with data providers
  src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#58818 [Messenger] silence PHP warnings issued by `Redis::connect()`
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#58851 Release v7.1.8
  CHANGELOG-7.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#57630 [TypeInfo] Redesign Type methods and nullability
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/TypeInfo/CHANGELOG.md
  src/Symfony/Component/TypeInfo/Tests/Type/BackedEnumTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/BuiltinTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/CollectionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/EnumTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/GenericTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/IntersectionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/NullableTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/ObjectTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/UnionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeFactoryTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/StringTypeResolverTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeTest.php
  src/Symfony/Component/TypeInfo/Type.php
  src/Symfony/Component/TypeInfo/Type/BackedEnumType.php
  src/Symfony/Component/TypeInfo/Type/BuiltinType.php
  src/Symfony/Component/TypeInfo/Type/CollectionType.php
  src/Symfony/Component/TypeInfo/Type/CompositeTypeInterface.php
  src/Symfony/Component/TypeInfo/Type/CompositeTypeTrait.php
  src/Symfony/Component/TypeInfo/Type/GenericType.php
  src/Symfony/Component/TypeInfo/Type/IntersectionType.php
  src/Symfony/Component/TypeInfo/Type/NullableType.php
  src/Symfony/Component/TypeInfo/Type/ObjectType.php
  src/Symfony/Component/TypeInfo/Type/TemplateType.php
  src/Symfony/Component/TypeInfo/Type/UnionType.php
  src/Symfony/Component/TypeInfo/Type/WrappingTypeInterface.php
  src/Symfony/Component/TypeInfo/TypeFactoryTrait.php
  src/Symfony/Component/TypeInfo/TypeIdentifier.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
  src/Symfony/Component/TypeInfo/composer.json
  src/Symfony/Component/Validator/Mapping/Loader/PropertyInfoLoader.php
  src/Symfony/Component/Validator/composer.json
Labels: Feature, Status: Reviewed, :snowflake: Feature Freeze, TypeInfo

#58852 [TypeInfo] Remove `@experimental` tag
  src/Symfony/Component/PropertyInfo/Extractor/ConstructorExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/PropertyInfoCacheExtractor.php
  src/Symfony/Component/PropertyInfo/PropertyInfoExtractor.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
  src/Symfony/Component/TypeInfo/CHANGELOG.md
  src/Symfony/Component/TypeInfo/Exception/ExceptionInterface.php
  src/Symfony/Component/TypeInfo/Exception/InvalidArgumentException.php
  src/Symfony/Component/TypeInfo/Exception/LogicException.php
  src/Symfony/Component/TypeInfo/Exception/RuntimeException.php
  src/Symfony/Component/TypeInfo/Exception/UnsupportedException.php
  src/Symfony/Component/TypeInfo/Type.php
  src/Symfony/Component/TypeInfo/Type/BackedEnumType.php
  src/Symfony/Component/TypeInfo/Type/BuiltinType.php
  src/Symfony/Component/TypeInfo/Type/CollectionType.php
  src/Symfony/Component/TypeInfo/Type/CompositeTypeInterface.php
  src/Symfony/Component/TypeInfo/Type/EnumType.php
  src/Symfony/Component/TypeInfo/Type/GenericType.php
  src/Symfony/Component/TypeInfo/Type/IntersectionType.php
  src/Symfony/Component/TypeInfo/Type/NullableType.php
  src/Symfony/Component/TypeInfo/Type/ObjectType.php
  src/Symfony/Component/TypeInfo/Type/TemplateType.php
  src/Symfony/Component/TypeInfo/Type/UnionType.php
  src/Symfony/Component/TypeInfo/Type/WrappingTypeInterface.php
  src/Symfony/Component/TypeInfo/TypeContext/TypeContext.php
  src/Symfony/Component/TypeInfo/TypeContext/TypeContextFactory.php
  src/Symfony/Component/TypeInfo/TypeFactoryTrait.php
  src/Symfony/Component/TypeInfo/TypeIdentifier.php
  src/Symfony/Component/TypeInfo/TypeResolver/PhpDocAwareReflectionTypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/ReflectionParameterTypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/ReflectionPropertyTypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/ReflectionReturnTypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/ReflectionTypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/TypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/TypeResolverInterface.php
Labels: Status: Needs Review, TypeInfo

#58836 Work around `parse_url()` bug (bis)
  src/Symfony/Component/DomCrawler/Tests/UriResolverTest.php
  src/Symfony/Component/DomCrawler/UriResolver.php
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Contracts/HttpClient/Test/Fixtures/web/index.php
Labels: Bug, Status: Needs Review

#58853 Release v7.2.0-RC1
  CHANGELOG-7.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#58854 [Routing] fix merge
  src/Symfony/Component/Routing/Tests/Fixtures/locale_and_host/priorized-host.yml
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
Labels: Routing, Status: Needs Review

#58834 [FrameworkBundle] ensure `validator.translation_domain` parameter is always set
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#58856 [HttpClient] Stream request body in HttplugClient and Psr18Client
  src/Symfony/Component/HttpClient/HttplugClient.php
  src/Symfony/Component/HttpClient/Psr18Client.php
Labels: Bug, Status: Reviewed, HttpClient

#58860 [HttpClient] Fix catching some invalid Location headers
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Contracts/HttpClient/Test/Fixtures/web/index.php
Labels: Bug, Status: Needs Review, HttpClient

#58862 [Notifier] Fix GoIpTransport
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Notifier/Bridge/GoIp/GoIpTransport.php
Labels: Bug, Status: Needs Review, Notifier

#58866 [Validator] fix compatibility with PHP < 8.2.4
  src/Symfony/Component/Validator/Constraints/NoSuspiciousCharactersValidator.php
Labels: Validator, Bug, Status: Needs Review

#58869 [TypeInfo] tighten conflict rules
  src/Symfony/Component/TypeInfo/composer.json
Labels: Status: Reviewed, TypeInfo

#58874 [TypeInfo] Remove conflict with other components
  src/Symfony/Component/TypeInfo/composer.json
Labels: Bug, Status: Reviewed, TypeInfo

#58875 [HttpClient] Removed body size limit
  src/Symfony/Component/HttpClient/AmpHttpClient.php
Labels: Status: Needs Review, HttpClient

#58872 [PropertyInfo][Serializer][Validator] TypeInfo 7.2 compatibility
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Validator/Mapping/Loader/PropertyInfoLoader.php
Labels: Validator, Serializer, Bug, Status: Needs Review, PropertyInfo

#58882 [TwigBridge] Remove leftover code
  src/Symfony/Bridge/Twig/TokenParser/TransTokenParser.php
Labels: Status: Needs Review, TwigBridge

#58870 [Serializer][Validator] prevent failures around not existing TypeInfo classes
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Validator/Mapping/Loader/PropertyInfoLoader.php
Labels: Validator, Serializer, Bug, Status: Reviewed

#58867 [Messenger] fix version check to include dev versions
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Status: Needs Review, Messenger

#58885 [PropertyInfo][Serializer][TypeInfo][Validator] TypeInfo 7.1 compatibility
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/TypeInfo/composer.json
  src/Symfony/Component/Validator/Mapping/Loader/PropertyInfoLoader.php
  src/Symfony/Component/Validator/composer.json
Labels: Validator, Serializer, Bug, Status: Needs Review, PropertyInfo, TypeInfo

#58844 [Translation] fix class name
  UPGRADE-7.2.md
  src/Symfony/Component/Translation/CHANGELOG.md
Labels: Translation, Status: Reviewed

#58894 [TypeInfo] remove experimental information from README
  src/Symfony/Component/TypeInfo/README.md
Labels: Status: Reviewed, TypeInfo

#58893 [TypeInfo] add BC breaking TypeInfo changes to upgrade file
  UPGRADE-7.2.md
  src/Symfony/Component/TypeInfo/CHANGELOG.md
Labels: Status: Reviewed, TypeInfo

#58905 Fixing message Too many failed login attempts in LV language
  src/Symfony/Component/Security/Core/Resources/translations/security.lv.xlf
Labels: Bug, Status: Reviewed

#58888 [Mailer][Notifier] Sweego is backing their bridges, thanks to them!
  src/Symfony/Component/Mailer/Bridge/Sweego/README.md
  src/Symfony/Component/Mailer/README.md
  src/Symfony/Component/Notifier/Bridge/Sweego/README.md
  src/Symfony/Component/Notifier/README.md
Labels: Bug, Status: Reviewed, Mailer, Notifier

#58892 [Validator] update italian translations
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Validator, Status: Reviewed

#58887 [Validator] review latvian translations
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
Labels: Validator, Bug, Status: Reviewed

#58832 Updated Dutch translations for validator
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
Labels: Status: Reviewed

#58919 [WebProfilerBundle] Twig deprecations
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/notifier.html.twig
Labels: Bug, WebProfilerBundle, Status: Needs Review

#58915 [HttpClient] Fix option "resolve" with IPv6 addresses
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Internal/AmpListener.php
  src/Symfony/Component/HttpClient/Internal/AmpResolver.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
  src/Symfony/Contracts/HttpClient/Test/TestHttpServer.php
Labels: Bug, Status: Needs Review, HttpClient

#58924 [HttpClient] Fix empty hosts in option "resolve"
  src/Symfony/Component/HttpClient/HttpClientTrait.php
Labels: Bug, Status: Needs Review, HttpClient

#58933 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review

#58936 [Validator] review italian translations
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Validator, Status: Reviewed

#58938 [Cache] make RelayProxyTrait compatible with relay extension 0.9.0
  src/Symfony/Component/Cache/Traits/Relay/CopyTrait.php
  src/Symfony/Component/Cache/Traits/Relay/GeosearchTrait.php
  src/Symfony/Component/Cache/Traits/Relay/GetrangeTrait.php
  src/Symfony/Component/Cache/Traits/Relay/HsetTrait.php
  src/Symfony/Component/Cache/Traits/Relay/MoveTrait.php
  src/Symfony/Component/Cache/Traits/Relay/NullableReturnTrait.php
  src/Symfony/Component/Cache/Traits/Relay/PfcountTrait.php
  src/Symfony/Component/Cache/Traits/RelayProxy.php
  src/Symfony/Component/Cache/Traits/RelayProxyTrait.php
Labels: Bug, Status: Reviewed, Cache

#58908 [DoctrineBridge] don't call `EntityManager::initializeObject()` with scalar values
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#58921 [HttpKernel] Ensure `HttpCache::getTraceKey()` does not throw exception
  src/Symfony/Component/HttpKernel/HttpCache/HttpCache.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
Labels: Bug, HttpKernel, Status: Needs Review

#58865 Dynamically fix compatibility with doctrine/data-fixtures v2
  composer.json
  src/Symfony/Bridge/Doctrine/DataFixtures/AddFixtureImplementation.php
  src/Symfony/Bridge/Doctrine/DataFixtures/ContainerAwareLoader.php
  src/Symfony/Bridge/Doctrine/composer.json
Labels: Bug, Status: Reviewed

#58822 [DependencyInjection] Fix checking for interfaces in ContainerBuilder::getReflectionClass()
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: DependencyInjection, Bug, Status: Needs Review

#58917 [OptionsResolver] Allow Union/Intersection Types in Resolved Closures
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: Bug, OptionsResolver, Status: Reviewed

#58859 [AssetMapper] ignore missing directory in `isVendor()`
  src/Symfony/Component/AssetMapper/Factory/MappedAssetFactory.php
  src/Symfony/Component/AssetMapper/Tests/Factory/MappedAssetFactoryTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#58937 [FrameworkBundle] Don't auto-register form/csrf when the corresponding components are not installed
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/form_csrf_disabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/form_no_csrf.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/form_csrf_disabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/form_no_csrf.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/full.yml
Labels: Bug, FrameworkBundle, Status: Reviewed

#58943 [FrameworkBundle] Revert " Don't auto-register form/csrf when the corresponding components are not installed"
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/form_csrf_disabled.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/form_no_csrf.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/form_csrf_disabled.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/form_no_csrf.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/form_csrf_disabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/form_no_csrf.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/full.yml
Labels: Bug, FrameworkBundle, Status: Reviewed

#58947 update the default branch for the scorecards workflow
  .github/workflows/scorecards.yml
Labels: Status: Needs Review

#58949 [HttpClient] resolve IPv6 addresses with amphp/http-client 5
  src/Symfony/Component/HttpClient/Internal/AmpResolverV5.php
Labels: Bug, Status: Needs Review, HttpClient

#58953 [HttpClient] Fix computing stats for PUSH with Amp
  src/Symfony/Component/HttpClient/Response/AmpResponseV4.php
  src/Symfony/Component/HttpClient/Response/AmpResponseV5.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/TestLogger.php
Labels: Bug, Status: Needs Review, HttpClient

#58952 [Cache] silence warnings issued by Redis Sentinel on connection issues
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Needs Review, Cache

#58951 add comment explaining why HttpClient tests are run separately
  .github/workflows/windows.yml
Labels: Status: Reviewed

#58950 [FrameworkBundle] Revert " Deprecate making `cache.app` adapter taggable"
  UPGRADE-7.2.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/cache_cacheapp_tagaware.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/cache_cacheapp_tagaware.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/cache_cacheapp_tagaware.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#58964 [TwigBridge] do not add child nodes to EmptyNode instances
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationDefaultDomainNodeVisitor.php
Labels: Bug, Status: Reviewed, TwigBridge

#58972 chore: fix some typos
  src/Symfony/Component/Mime/Address.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Bug, Feature, Status: Reviewed, Deprecation

#58969 [HttpClient] Various cleanups after recent changes
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Response/AsyncContext.php
  src/Symfony/Component/HttpClient/Response/AsyncResponse.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Tests/NoPrivateNetworkHttpClientTest.php
  src/Symfony/Component/HttpClient/TraceableHttpClient.php
  src/Symfony/Contracts/HttpClient/HttpClientInterface.php
Labels: Status: Needs Review, HttpClient

#58976 CS: re-apply trailing_comma_in_multiline
  .php-cs-fixer.dist.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRetryCommandTest.php
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Status: Reviewed

#58959 [PropertyInfo] consider write property visibility to decide whether a property is writable
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/AsymmetricVisibility.php
Labels: Bug, Status: Reviewed, PropertyInfo

#58956 [DoctrineBridge] Fix `Connection::createSchemaManager()` for Doctrine DBAL v2
  src/Symfony/Bridge/Doctrine/SchemaListener/AbstractSchemaListener.php
Labels: Bug, Status: Needs Review, DoctrineBridge

#58931 CS: apply minor indentation fixes
  src/Symfony/Bridge/Twig/EventListener/TemplateAttributeListener.php
  src/Symfony/Component/Intl/Tests/TimezonesTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Webhook/MailchimpRequestParser.php
Labels: Status: Reviewed

#58982 [HttpClient] Remove unrelevant test
  src/Symfony/Component/HttpClient/Tests/NoPrivateNetworkHttpClientTest.php
Labels: Bug, Status: Needs Review, HttpClient

#58984 [HttpClient] More consistency cleanups
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
Labels: Status: Reviewed, HttpClient

#58983 [Translation] [Bridge][Lokalise] Fix empty keys array in PUT, DELETE requests causing Lokalise API error
  src/Symfony/Component/Translation/Bridge/Lokalise/LokaliseProvider.php
  src/Symfony/Component/Translation/Bridge/Lokalise/Tests/LokaliseProviderTest.php
Labels: Bug, Translation, Status: Reviewed

#58963 [PropertyInfo] Fix write visibility for Asymmetric Visibility and Virtual Properties
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/VirtualProperties.php
Labels: Bug, Status: Needs Review, PropertyInfo

#58977 [Messenger] fix `Envelope::all()` conditional return docblock
  src/Symfony/Component/Messenger/Envelope.php
Labels: Bug, Status: Needs Review, Messenger

#58990 [Cache] fix test
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisTransportFactoryTest.php
Labels: Status: Needs Review, Cache

#58899 Proofread UPGRADE guide
  UPGRADE-7.2.md
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Webhook/CHANGELOG.md
Labels: Status: Reviewed, :snowflake: Feature Freeze

#59006 Reviewed and Translated zh_CN
  src/Symfony/Component/Security/Core/Resources/translations/security.zh_CN.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf
Labels: Status: Reviewed

#59008 [PropertyInfo] remove conflict with symfony/serializer < 6.4
  src/Symfony/Component/PropertyInfo/composer.json
Labels: Status: Needs Review, PropertyInfo

#59010 [PropertyInfo] ensure that tests are run with lowest supported Serializer versions
  src/Symfony/Component/PropertyInfo/Tests/Extractor/SerializerExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/IgnorePropertyDummy.php
  src/Symfony/Component/PropertyInfo/composer.json
Labels: Status: Reviewed, PropertyInfo

#59007 [Dotenv] read runtime config from composer.json in debug dotenv command
  src/Symfony/Component/Dotenv/Command/DebugCommand.php
Labels: Bug, Status: Reviewed, Dotenv

#58562 [HttpClient] Close gracefull when the server closes the connection abruptly
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, Status: Needs Review, HttpClient

#59013 [HttpClient] Fix checking for private IPs before connecting
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/Response/AmpResponse.php
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
  src/Symfony/Component/HttpClient/Tests/AmpHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/NativeHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/NoPrivateNetworkHttpClientTest.php
Labels: Bug, Status: Needs Review, HttpClient

#59014 [Form] Allow integer for the `calendar` option of `DateType`
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
Labels: Form, Bug, Status: Reviewed

#59016 Release v5.4.48
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#59017 Release v6.4.16
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#59019 Release v7.1.9
  CHANGELOG-7.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#59023 [HttpClient] Fix streaming and redirecting with NoPrivateNetworkHttpClient
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/Tests/DataCollector/HttpClientDataCollectorTest.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/HttplugClientTest.php
  src/Symfony/Component/HttpClient/Tests/Psr18ClientTest.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/TraceableHttpClientTest.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Bug, Status: Reviewed, HttpClient

#58989 [VarDumper] Add caster for `AddressInfo` objects
  src/Symfony/Component/VarDumper/Caster/AddressInfoCaster.php
  src/Symfony/Component/VarDumper/Caster/ConstStub.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Caster/AddressInfoCasterTest.php
Labels: Feature, VarDumper, Status: Reviewed

#59031 Release v5.4.49
  CHANGELOG-5.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#59032 Release v7.2.0
  CHANGELOG-7.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review
