Repository symfony/symfony, pull requests merged in 2024-09, with the labels that each got.

#58136 CS: re-apply `trailing_comma_in_multiline`
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Type/StringWrapper.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_multiple_failure_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_multiple_failure_transports_global.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier_with_disabled_message_bus.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier_with_specific_message_bus.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier_without_mailer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/notifier_without_messenger.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/profiler.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/profiler_collect_serializer_data.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AcmeConfig.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutoconfigureAttributed.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/FooClassWithDefaultArrayAttribute.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TaggedLocatorConsumerConsumer.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TaggedLocatorConsumerFactory.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TaggedService4.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/TaggedService5.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/WithTarget.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/WithTargetAnonymous.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/env_configurator.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_non_scalar_tags.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_80.php
  src/Symfony/Component/ErrorHandler/Tests/DebugClassLoaderTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/RepeatedTypeTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/clicked.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/clicked_unique.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/opened.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/opened_unique.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/unsubscribed.php
  src/Symfony/Component/Mailer/Bridge/Resend/Tests/Webhook/Fixtures/sent.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/DummyPropertyAndGetterWithDifferentTypes.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamAfterCommaController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamAfterParenthesisController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamQuotedAfterCommaController.php
  src/Symfony/Component/Routing/Tests/Fixtures/AttributesFixtures/AttributesClassParamQuotedAfterParenthesisController.php
  src/Symfony/Component/Validator/Tests/Constraints/AtLeastOneOfValidatorTest.php
  src/Symfony/Component/Validator/Tests/Fixtures/NestedAttribute/Entity.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/LotsOfAttributes.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/ReadOnlyClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/RegularClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyProxy/ReadOnlyClass.php
Labels: Status: Reviewed

#58138 [Security] Improve translation for `zh_TW`
  src/Symfony/Component/Security/Core/Resources/translations/security.zh_TW.xlf
Labels: Security, Status: Reviewed

#58139 [Validator] Improve `zh_TW` translation
  src/Symfony/Component/Form/Resources/translations/validators.zh_TW.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf
Labels: Validator, Status: Needs Review

#58072 [Translation] [Loco] Ability to configure value of `status` query-variable
  src/Symfony/Component/Translation/Bridge/Loco/CHANGELOG.md
  src/Symfony/Component/Translation/Bridge/Loco/LocoProvider.php
  src/Symfony/Component/Translation/Bridge/Loco/LocoProviderFactory.php
  src/Symfony/Component/Translation/Bridge/Loco/README.md
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderWithoutTranslatorBagTest.php
Labels: Feature, Translation, Status: Reviewed

#58145 allow Twig 4
  composer.json
  src/Symfony/Bridge/Twig/Tests/Node/TransNodeTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/VarDumper/composer.json
Labels: Feature, Status: Reviewed

#58147 [TwigBridge] fix package name in deprecation
  src/Symfony/Bridge/Twig/Node/FormThemeNode.php
Labels: Bug, Status: Reviewed, TwigBridge

#58152 [AssetMapper] fix tests on Windows
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageStorageTest.php
Labels: Status: Reviewed, AssetMapper

#58142 [HttpClient] fix supported `amphp/http-client` version detection
  src/Symfony/Component/HttpClient/HttpClient.php
Labels: Bug, Status: Reviewed, HttpClient

#58154 [HttpFoundation] Add `PRIVATE_SUBNETS` as a shortcut for private IP address ranges to `Request::setTrustedProxies()`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#58160 stop using `TestCase::iniSet()`
  src/Symfony/Component/Emoji/Tests/EmojiTransliteratorTest.php
  src/Symfony/Component/Finder/Tests/FinderOpenBasedirTest.php
  src/Symfony/Component/HttpFoundation/Tests/UriSignerTest.php
Labels: Status: Reviewed

#58165 [FrameworkBundle] Remove default value for `gc_probability` config option
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: FrameworkBundle, Status: Reviewed

#58172 Remove no-op `ReflectionProperty::setAccessible()` calls
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
  src/Symfony/Component/Mailer/Tests/Transport/SendmailTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/Tests/BlueskyTransportTest.php
Labels: Status: Reviewed

#58178 [HttpFoundation] let test fail if an expected exception is not thrown
  src/Symfony/Component/HttpFoundation/Tests/Test/Constraint/ResponseStatusCodeSameTest.php
Labels: HttpFoundation, Status: Reviewed

#58173 [Validator] Add Catalan and Spanish translation for `Week` constraint
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
Labels: Validator, Status: Needs Review

#58182 make test case classes compatible with PHPUnit 10+
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Test/TransportFactoryTestCase.php
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/Notifier/Test/TransportFactoryTestCase.php
  src/Symfony/Component/Notifier/Test/TransportTestCase.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Test/AccessDecisionStrategyTestCase.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Test/ProviderFactoryTestCase.php
  src/Symfony/Component/Translation/Test/ProviderTestCase.php
  src/Symfony/Component/Webhook/CHANGELOG.md
  src/Symfony/Component/Webhook/Test/AbstractRequestParserTestCase.php
  src/Symfony/Contracts/CHANGELOG.md
  src/Symfony/Contracts/Cache/composer.json
  src/Symfony/Contracts/Deprecation/composer.json
  src/Symfony/Contracts/EventDispatcher/composer.json
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
  src/Symfony/Contracts/HttpClient/composer.json
  src/Symfony/Contracts/Service/composer.json
  src/Symfony/Contracts/Translation/Test/TranslatorTest.php
  src/Symfony/Contracts/Translation/composer.json
  src/Symfony/Contracts/composer.json
Labels: Feature, Status: Reviewed

#58146 [Bundles] Fix configurations info consistency
  src/Symfony/Bundle/DebugBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/CustomAuthenticatorFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configuration.php
Labels: Status: Reviewed

#58143 [Ldap] Fix extension deprecation
  src/Symfony/Component/Ldap/Tests/LdapTestCase.php
Labels: Bug, Status: Reviewed, Ldap

#58169 [Cache] Fix compatibility with Redis 6.1.0 pre-releases
  src/Symfony/Component/Cache/Traits/Redis6ProxyTrait.php
  src/Symfony/Component/Cache/Traits/RedisCluster6ProxyTrait.php
Labels: Bug, Status: Reviewed, Cache

#58188 Don't use is_resource() on non-streams
  src/Symfony/Component/Console/Terminal.php
  src/Symfony/Component/HttpKernel/Log/Logger.php
  src/Symfony/Component/Process/Process.php
Labels: Status: Reviewed

#58144 [Ldap] fail if `whoami()` is called before `saslBind()`
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
Labels: Bug, Status: Reviewed, Ldap

#58189 [Process] Fix backwards compatibility for invalid commands
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Bug, Process, Status: Reviewed

#58198 [TwigBundle] Add support for resetting globals between HTTP requests
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
Labels: Bug, TwigBundle, Status: Reviewed

#58190 Mitigate PHPUnit deprecations (5.4)
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineCloseConnectionMiddlewareTest.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrinePingConnectionMiddlewareTest.php
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineTransactionMiddlewareTest.php
  src/Symfony/Component/Mailer/Tests/Transport/FailoverTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/RoundRobinTransportTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/DispatchAfterCurrentBusMiddlewareTest.php
  src/Symfony/Component/Notifier/Tests/Transport/FailoverTransportTest.php
Labels: Status: Reviewed

#58191 Mitigate PHPUnit deprecations (6.4)
  src/Symfony/Bridge/Doctrine/Tests/ArgumentResolver/EntityValueResolverTest.php
  src/Symfony/Component/Messenger/Tests/Command/SetupTransportsCommandTest.php
Labels: Status: Reviewed

#58203 [FrameworkBundle] Remove obsolete requires annotation
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Psr4RoutingTest.php
Labels: FrameworkBundle, Status: Reviewed

#58207 [TwigBridge] Avoid calling deprecated mergeGlobals()
  src/Symfony/Bridge/Twig/Form/TwigRendererEngine.php
Labels: Bug, Status: Reviewed, TwigBridge

#58206 [Cache] Fix missing class import
  src/Symfony/Component/Cache/Tests/Traits/RedisTraitTest.php
Labels: Bug, Status: Reviewed, Cache

#58187 Pass `validator.translation_domain` to `RequestPayloadValueResolver`
  src/Symfony/Bundle/FrameworkBundle/Resources/config/web.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
Labels: Feature, Status: Reviewed

#58218 Work around `parse_url()` bug
  src/Symfony/Bundle/FrameworkBundle/Controller/RedirectController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/RedirectControllerTest.php
  src/Symfony/Component/DomCrawler/Tests/UriResolverTest.php
  src/Symfony/Component/DomCrawler/UriResolver.php
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/NativeHttpClient.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
  src/Symfony/Component/Security/Http/Impersonate/ImpersonateUrlGenerator.php
Labels: Bug, Status: Reviewed

#58211 [Ldap] Clean `ldap_connect()` call in `LdapTestCase`
  src/Symfony/Component/Ldap/Tests/LdapTestCase.php
Labels: Status: Reviewed, Ldap

#58195 [Process] Fix the removal of host-specific configuration when managing the ini settings in `PhpSubprocess`
  src/Symfony/Component/Process/PhpSubprocess.php
Labels: Bug, Process, Status: Needs Review

#58231 [String] Update wcswidth data with Unicode 16
  src/Symfony/Component/String/Resources/data/wcswidth_table_wide.php
  src/Symfony/Component/String/Resources/data/wcswidth_table_zero.php
Labels: Status: Needs Review, String

#58193 [Translation] [Loco] Document `status` query variable
  src/Symfony/Component/Translation/Bridge/Loco/README.md
Labels: Translation, Status: Reviewed

#58153 [Filesystem] Add a warning about `chown()` and `chgrp()` on Windows
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: Filesystem, Status: Needs Review

#58235 [TwigBridge] use DeprecatedCallableInfo for Twig callables if possible
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
Labels: Status: Reviewed, TwigBridge

#58233 [Mime] Cache finfo objects to reduce open file handles and optimize perf
  src/Symfony/Component/Mime/FileinfoMimeTypeGuesser.php
Labels: Status: Reviewed, Mime

#58181 [HttpFoundation] Update links for `X-Accel-Redirect` and fail properly when `X-Accel-Mapping` is missing
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
Labels: HttpFoundation, Ready, Status: Reviewed

#58265 [Webhook] add `WebhookController` tests
  src/Symfony/Component/Webhook/Tests/Controller/WebhookControllerTest.php
Labels: Status: Reviewed, Webhook

#58262 [HttpFoundation] move setting deprecation session options into a legacy group test
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/NativeSessionStorageTest.php
Labels: HttpFoundation, Status: Reviewed

#58266 [HttpKernel] pass CSV escape characters explicitly
  src/Symfony/Component/HttpKernel/Profiler/FileProfilerStorage.php
  src/Symfony/Component/HttpKernel/Tests/Profiler/FileProfilerStorageTest.php
  src/Symfony/Component/Translation/Dumper/CsvFileDumper.php
  src/Symfony/Component/Validator/Resources/bin/sync-iban-formats.php
Labels: HttpKernel, Status: Reviewed

#58277 [VarDumper] Fix `DOMCaster` test dumps
  src/Symfony/Component/VarDumper/Tests/Caster/DOMCasterTest.php
Labels: Bug, VarDumper, Status: Reviewed

#58245 [VarDumper] Fix dumping `ext-dom` virtual properties
  src/Symfony/Component/VarDumper/Tests/Caster/DOMCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/XmlReaderCasterTest.php
Labels: Bug, VarDumper, Status: Reviewed

#58240 [FrameworkBundle] Fix service reset between tests
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/TestBundle/TestServiceContainer/ResettableService.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/KernelTestCaseTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TestServiceContainer/services.yml
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/DependencyInjection/Container.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#58274 [Dotenv] throw a meaningful exception when parsing dotenv files with BOM
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
  src/Symfony/Component/Dotenv/Tests/fixtures/file_with_bom
Labels: Bug, Status: Reviewed, Dotenv

#58278 [HttpClient] Fix setting `CURLMOPT_MAXCONNECTS`
  .github/workflows/integration-tests.yml
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/Fixtures/response-functional/index.php
Labels: Bug, Status: Needs Review, HttpClient

#58260 [Cache] Fix RedisSentinel param types
  src/Symfony/Component/Cache/Tests/Adapter/RedisAdapterSentinelTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Reviewed, Cache

#58258 [Process] Add Laravel Herd php detection path
  src/Symfony/Component/Process/PhpExecutableFinder.php
Labels: Feature, Process, Status: Reviewed

#58246 [Serializer][Uid] Add the `Uuid::FORMAT_RFC_9562` and `UidNormalizer::NORMALIZATION_FORMAT_RFC9562` constants
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Feature, Status: Needs Review, Uid

#58242 [Notifier][TurboSMS] Process partial accepted response from transport
  src/Symfony/Component/Notifier/Bridge/TurboSms/Tests/TurboSmsTransportTest.php
  src/Symfony/Component/Notifier/Bridge/TurboSms/TurboSmsTransport.php
Labels: Bug, Status: Reviewed, Notifier

#58238 [Serializer][Uid][Validator] Mention RFC 9562
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
  src/Symfony/Component/Uid/AbstractUid.php
  src/Symfony/Component/Uid/BinaryUtil.php
  src/Symfony/Component/Uid/Uuid.php
  src/Symfony/Component/Validator/Constraints/Uuid.php
  src/Symfony/Component/Validator/Constraints/UuidValidator.php
Labels: Validator, Serializer, Status: Reviewed, Uid

#58226 [Serializer] Fix for method named `get()`
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
Labels: Serializer, Bug, Status: Needs Review

#58185 [Filesystem] make sure temp files can be cleaned up on Windows
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Bug, Filesystem, Status: Reviewed

#58244 [HttpFoundation] Deprecate more options in `NativeSessionStorage`
  UPGRADE-7.2.md
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/Fixtures/common.inc
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/NativeSessionStorageTest.php
  src/Symfony/Component/HttpFoundation/composer.json
Labels: HttpFoundation, Status: Needs Review, Deprecation

#58199 [FrameworkBundle] Add `--resolve-env-vars` option to `lint:container` command
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#58289 [HttpKernel] Skip logging uncaught exceptions in `ErrorHandler`, assume `$kernel->terminateWithException()` will do it
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
Labels: Bug, HttpKernel, Status: Needs Review

#58279 [Yaml] parse empty sequence elements as null
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Yaml, Status: Reviewed

#58291 [Process] Fix finding executables independently of open_basedir
  src/Symfony/Component/Process/ExecutableFinder.php
  src/Symfony/Component/Process/PhpExecutableFinder.php
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
Labels: Bug, Process, Status: Reviewed

#58290 [FrameworkBundle] fix XSD to allow to configure locks without resources
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/lock.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: FrameworkBundle, Status: Reviewed

#58298 fix functional tests
  .github/workflows/integration-tests.yml
Labels: Status: Needs Review

#58304 [Ldap] Fix deprecated signature call for `ldap_connect()`
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
Labels: Bug, Status: Reviewed, Ldap

#58280 [Notifier] [TurboSms] Better tests
  src/Symfony/Component/Notifier/Bridge/TurboSms/Tests/TurboSmsTransportTest.php
Labels: Status: Reviewed, Notifier

#58259 [TypeInfo] Return bound type as base type in `TemplateType`
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/TypeInfo/Type/TemplateType.php
Labels: Bug, Status: Reviewed, TypeInfo

#58252 [Mailer] add Mailtrap bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
  src/Symfony/Component/Mailer/Bridge/Mailtrap/.gitattributes
  src/Symfony/Component/Mailer/Bridge/Mailtrap/.gitignore
  src/Symfony/Component/Mailer/Bridge/Mailtrap/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Mailtrap/LICENSE
  src/Symfony/Component/Mailer/Bridge/Mailtrap/README.md
  src/Symfony/Component/Mailer/Bridge/Mailtrap/Tests/Transport/MailtrapApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailtrap/Tests/Transport/MailtrapSmtpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailtrap/Tests/Transport/MailtrapTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailtrap/Transport/MailtrapApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailtrap/Transport/MailtrapSmtpTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailtrap/Transport/MailtrapTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Mailtrap/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailtrap/phpunit.xml.dist
  src/Symfony/Component/Mailer/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Mailer/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Mailer/Transport.php
Labels: Feature, Status: Reviewed, Mailer

#58228 [String] Add Spanish inflector with some rules
  src/Symfony/Component/String/Inflector/SpanishInflector.php
  src/Symfony/Component/String/Tests/Inflector/SpanishInflectorTest.php
Labels: Feature, Status: Reviewed, String

#58205 [Translation] Added segment-attributes metadata for Xliff2 files to preserve the "state" attribute of translations
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Dumper/XliffFileDumper.php
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/Tests/Dumper/XliffFileDumperTest.php
  src/Symfony/Component/Translation/Tests/Fixtures/resources-2.0-segment-attributes.xlf
  src/Symfony/Component/Translation/Tests/Loader/XliffFileLoaderTest.php
Labels: Feature, Translation, Status: Reviewed

#58166 [Security][SecurityBundle] Allow passing attributes to passport via `Security::login()`
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Security/UserAuthenticator.php
  src/Symfony/Bundle/SecurityBundle/Tests/SecurityTest.php
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/Authentication/UserAuthenticatorInterface.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerTest.php
Labels: Security, Feature, SecurityBundle, Status: Reviewed

#58249 [FrameworkBundle] Add ability to use existing service as lock/semaphore resource
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/lock_service.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/semaphore_service.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/lock_service.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/semaphore_service.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/lock_service.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/semaphore_service.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#58316 [Form] Don't call the constructor of LogicalOr
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
Labels: Form, Bug, Status: Reviewed

#58315 [AssetMapper] Use static data providers
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapAuditorTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapGeneratorTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapUpdateCheckerTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/PackageUpdateInfoTest.php
Labels: Status: Reviewed, AssetMapper

#56823 [Serializer] Introduce named serializers
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer_debug.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/full.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/serializer.html.twig
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/DataCollector/SerializerDataCollector.php
  src/Symfony/Component/Serializer/Debug/TraceableEncoder.php
  src/Symfony/Component/Serializer/Debug/TraceableNormalizer.php
  src/Symfony/Component/Serializer/Debug/TraceableSerializer.php
  src/Symfony/Component/Serializer/DependencyInjection/SerializerPass.php
  src/Symfony/Component/Serializer/Tests/DataCollector/SerializerDataCollectorTest.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableEncoderTest.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableSerializerTest.php
  src/Symfony/Component/Serializer/Tests/DependencyInjection/SerializerPassTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Feature, Status: Reviewed

#58317 [PhpUnitBridge] Only allow exact matches in expectUserDeprecationMessage()
  src/Symfony/Bridge/PhpUnit/ExpectUserDeprecationMessageTrait.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#58314 Switch to ExpectUserDeprecationMessageTrait
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/NativeSessionStorageTest.php
  src/Symfony/Component/Serializer/Tests/Context/Encoder/CsvEncoderContextBuilderTest.php
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
  src/Symfony/Component/Translation/Tests/Loader/CsvFileLoaderTest.php
Labels: Status: Reviewed

#58318 [Notifier] Make data providers static
  src/Symfony/Component/Notifier/Bridge/Bandwidth/Tests/BandwidthTransportTest.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/Tests/FakeChatTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/FakeSms/Tests/FakeSmsTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/GoIp/Tests/GoIpTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Plivo/Tests/PlivoTransportTest.php
  src/Symfony/Component/Notifier/Bridge/SimpleTextin/Tests/SimpleTextinTransportTest.php
  src/Symfony/Component/Notifier/Bridge/SpotHit/Tests/SpotHitTransportTest.php
Labels: Status: Reviewed, Notifier

#58319 [Notifier] add missing namespace declarations
  src/Symfony/Component/Notifier/Bridge/Lox24/Tests/Lox24OptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Lox24/Tests/Lox24TransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Lox24/Tests/Lox24TransportTest.php
Labels: Status: Reviewed, Notifier

#58324 Make more data providers static
  src/Symfony/Component/Process/Tests/ProcessTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/ReflectionTypeResolverTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/StringTypeResolverTest.php
Labels: Status: Reviewed

#58326 Mutate remaining data providers to static ones
  src/Symfony/Component/Console/Tests/Formatter/OutputFormatterTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/Factory/CachingFactoryDecoratorTest.php
  src/Symfony/Component/Intl/Tests/LocalesTest.php
  src/Symfony/Component/Intl/Tests/ResourceBundleTestCase.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
Labels: Status: Reviewed

#58323 Make more data providers static
  src/Symfony/Component/DependencyInjection/Tests/Attribute/AutowireTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MongoDbSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Test/Constraint/ResponseHeaderLocationSameTest.php
  src/Symfony/Component/Mime/Tests/MessageTest.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/AccessTokenAuthenticatorTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/PhraseProviderTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CssColorValidatorTest.php
Labels: Status: Reviewed

#58337 [Serializer] fix tests
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Status: Reviewed

#58334 [Notifier][LineNotify] Add missing namespace
  src/Symfony/Component/Notifier/Bridge/LineNotify/Tests/LineNotifyTransportFactoryTest.php
Labels: Status: Reviewed, Notifier

#58333 [Notifier] clean up duplicated test
  src/Symfony/Component/Notifier/Bridge/Primotexto/Tests/PrimotextoTransportTest.php
Labels: Status: Reviewed, Notifier

#58327 [FrameworkBundle] Do not access the container when the kernel is shut down
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#58320 [Runtime] Adapt test to support the `--silent` option introduced in Symfony 7.2
  src/Symfony/Component/Runtime/Tests/phpt/command_list.phpt
Labels: Status: Reviewed, Runtime

#58339 [Notifier] allow the Novu bridge to be used with symfony/notifier 7.x
  src/Symfony/Component/Notifier/Bridge/Novu/composer.json
Labels: Bug, Status: Reviewed, Notifier

#58329 [Routing][Uid] [6.4] Mention RFC 9562
  src/Symfony/Component/Routing/Requirement/Requirement.php
  src/Symfony/Component/Uid/AbstractUid.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Routing, Status: Reviewed, Uid

#58292 [Emoji] documentation link in readme
  src/Symfony/Component/Emoji/README.md
Labels: Bug, Status: Reviewed, Emoji

#58344 Release v5.4.44
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#58345 Release v6.4.12
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#58346 Release v7.1.5
  CHANGELOG-7.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#58336 [Routing] Add the `Requirement::UID_RFC9562` constant
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Requirement/Requirement.php
  src/Symfony/Component/Routing/Tests/Requirement/RequirementTest.php
Labels: Feature, Routing, Status: Reviewed

#58347 fix tests to not depend on the installation of the redis extension
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/lock_service.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/semaphore_service.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/lock_service.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/semaphore_service.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/lock_service.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/semaphore_service.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: Status: Reviewed

#58353 [Emoji] fix Emoji documentation URL
  src/Symfony/Component/Emoji/README.md
Labels: Status: Reviewed, Emoji

#58360 [Serializer] Fix test expectation
  src/Symfony/Component/Validator/Tests/Mapping/Loader/PropertyInfoLoaderTest.php
Labels: Serializer, Bug, Status: Reviewed

#58364 [Yaml] Use CPP in `Dumper`
  src/Symfony/Component/Yaml/Dumper.php
Labels: Yaml, Status: Reviewed

#58365 [Cache] silence warnings issued by Redis Sentinel on connection issues
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Reviewed, Cache

#58371 [PropertyInfo] Fix bigint extraction with type info
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
Labels: Bug, Status: Reviewed, PropertyInfo

#58363 [DependencyInjection] Rename non-empty parameter methods
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/ParameterBag/FrozenParameterBag.php
  src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_nonempty_parameters.php
  src/Symfony/Component/DependencyInjection/Tests/ParameterBag/ParameterBagTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#58368 [Serializer] Readd AdvancedNameConverterInterface to MetadataAwareNameConverter
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
Labels: Serializer, Bug, Status: Reviewed

#58373 Fix `$this` calls to static ones when relevant
  src/Symfony/Component/Console/Command/DumpCompletionCommand.php
  src/Symfony/Component/Console/EventListener/ErrorListener.php
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Workflow/MarkingStore/MethodMarkingStore.php
Labels: Status: Reviewed

#58358 Remove calls to `getExpectedException()`
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
  src/Symfony/Contracts/Service/Test/ServiceLocatorTestCase.php
Labels: Status: Reviewed

#58372 Tweak error/exception handler registration
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
  src/Symfony/Component/Runtime/GenericRuntime.php
  src/Symfony/Component/Runtime/Internal/BasicErrorHandler.php
  src/Symfony/Component/Runtime/Internal/SymfonyErrorHandler.php
Labels: Status: Reviewed

#58161 [FrameworkBundle][HttpKernel] Add support for `SYMFONY_TRUSTED_PROXIES`, `SYMFONY_TRUSTED_HEADERS`, `SYMFONY_TRUST_X_SENDFILE_TYPE_HEADER` and `SYMFONY_TRUSTED_HOSTS` env vars
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: Feature, HttpKernel, FrameworkBundle, Ready, Status: Reviewed

#58356 [Serializer] make data provider static
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/ContextMetadataTestTrait.php
Labels: Serializer, Status: Reviewed

#58389 get rid of `getInvocationCount()` calls in tests
  src/Symfony/Component/Mailer/Tests/Transport/FailoverTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/RoundRobinTransportTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/DispatchAfterCurrentBusMiddlewareTest.php
  src/Symfony/Component/Notifier/Tests/Transport/FailoverTransportTest.php
Labels: Status: Reviewed

#58391 relax mock class name matching
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorCollectionTestCase.php
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerTest.php
  src/Symfony/Component/Security/Http/Tests/Controller/UserValueResolverTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/DoctrineCasterTest.php
Labels: Status: Reviewed

#58390 fix named parameters in data providers
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ApiAttributesTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/PhraseProviderTest.php
Labels: Status: Reviewed

#58396 Assert on string equality instead of regexes
  src/Symfony/Component/Messenger/Tests/Middleware/SendMessageMiddlewareTest.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorCollectionTestCase.php
  src/Symfony/Component/Security/Http/Tests/Controller/UserValueResolverTest.php
Labels: Status: Reviewed

#58400 [Mailer] Fix exception message on invalid event in `SendgridPayloadConverter`
  src/Symfony/Component/Mailer/Bridge/Sendgrid/RemoteEvent/SendgridPayloadConverter.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/RemoteEvent/SendgridPayloadConverterTest.php
Labels: Bug, Status: Reviewed, Mailer

#58402 [Translation] Verify translation for Bulgarian
  src/Symfony/Component/Security/Core/Resources/translations/security.bg.xlf
Labels: Translation, Status: Reviewed

#58386 [WebProfilerBundle] Update the contents of the Config panel
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/config.html.twig
Labels: Feature, WebProfilerBundle, Status: Reviewed

#58303 Miscellaneous tests improvements
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractDivLayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionDivLayoutTest.php
  src/Symfony/Component/Cache/Tests/DataCollector/CacheDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/LoggerDataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/Event/ControllerArgumentsEventTest.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
  src/Symfony/Component/Messenger/Tests/Stamp/TransportNamesStampTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
  src/Symfony/Contracts/Tests/Cache/CacheTraitTest.php
  src/Symfony/Contracts/Translation/Test/TranslatorTest.php
Labels: Status: Reviewed

#58141 [AssetMapper] Search & filter assets in `debug:asset-mapper` command
  src/Symfony/Component/AssetMapper/Command/DebugAssetMapperCommand.php
  src/Symfony/Component/AssetMapper/Tests/Command/DebugAssetsMapperCommandTest.php
Labels: Feature, Status: Reviewed, AssetMapper

#57270 [Messenger] Allow to skip message in `FailedMessagesRetryCommand`
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Event/WorkerMessageSkipEvent.php
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageToFailureTransportListener.php
  src/Symfony/Component/Messenger/Tests/Command/FailedMessagesRetryCommandTest.php
Labels: Feature, Status: Reviewed, Messenger

#58393 [Dotenv] Default value can be empty
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Dotenv/Tests/DotenvTest.php
Labels: Bug, Status: Reviewed, Dotenv

#58248 [Webhook] Allow request parsers to return multiple `RemoteEvent`'s
  UPGRADE-7.2.md
  src/Symfony/Component/Webhook/CHANGELOG.md
  src/Symfony/Component/Webhook/Client/AbstractRequestParser.php
  src/Symfony/Component/Webhook/Client/RequestParserInterface.php
  src/Symfony/Component/Webhook/Controller/WebhookController.php
  src/Symfony/Component/Webhook/Test/AbstractRequestParserTestCase.php
  src/Symfony/Component/Webhook/Tests/Controller/WebhookControllerTest.php
Labels: Feature, Status: Reviewed, Webhook

#58352 [Translation] deprecate the ProviderFactoryTestCase
  UPGRADE-7.2.md
  src/Symfony/Component/Translation/Bridge/Crowdin/Tests/CrowdinProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Crowdin/composer.json
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Loco/Tests/LocoProviderFactoryWithoutTranslatorBagTest.php
  src/Symfony/Component/Translation/Bridge/Loco/composer.json
  src/Symfony/Component/Translation/Bridge/Lokalise/Tests/LokaliseProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Lokalise/composer.json
  src/Symfony/Component/Translation/Bridge/Phrase/Tests/PhraseProviderFactoryTest.php
  src/Symfony/Component/Translation/Bridge/Phrase/composer.json
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Test/AbstractProviderFactoryTestCase.php
  src/Symfony/Component/Translation/Test/IncompleteDsnTestTrait.php
  src/Symfony/Component/Translation/Test/ProviderFactoryTestCase.php
Labels: Translation, Status: Reviewed, Deprecation

#58374 Remove useless parent method calls in tests
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Bridge/Doctrine/Tests/Middleware/Debug/MiddlewareTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractLayoutTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/UidTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/DependencyInjection/WebProfilerExtensionTest.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Profiler/TemplateManagerTest.php
  src/Symfony/Component/Cache/Tests/Adapter/AdapterTestCase.php
  src/Symfony/Component/Cache/Tests/Psr16CacheProxyTest.php
  src/Symfony/Component/Cache/Tests/Psr16CacheTest.php
  src/Symfony/Component/Cache/Tests/Psr16CacheWithExternalAdapter.php
  src/Symfony/Component/Config/Tests/Builder/GeneratedConfigTest.php
  src/Symfony/Component/Console/Tests/Question/QuestionTest.php
  src/Symfony/Component/Form/Tests/ChoiceList/AbstractChoiceListTestCase.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToRfc3339TransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/MoneyTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/NumberTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/PercentTypeTest.php
  src/Symfony/Component/Form/Tests/NativeRequestHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Flash/AutoExpireFlashBagTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Flash/FlashBagTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/AbstractRedisSessionHandlerTestCase.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MemcachedSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/MongoDbSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PdoSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/MetadataBagTest.php
  src/Symfony/Component/Intl/Tests/IntlTest.php
  src/Symfony/Component/Mailer/Tests/Transport/NativeTransportFactoryTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/AmqpExtIntegrationTest.php
  src/Symfony/Component/Routing/Tests/Generator/Dumper/CompiledUrlGeneratorDumperTest.php
  src/Symfony/Component/Routing/Tests/Loader/AttributeClassLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/AttributeDirectoryLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/AttributeFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/DirectoryLoaderTest.php
  src/Symfony/Component/Routing/Tests/Matcher/Dumper/CompiledUrlMatcherDumperTest.php
  src/Symfony/Component/Security/Csrf/Tests/CsrfTokenManagerTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationProviderTestCase.php
  src/Symfony/Component/Translation/Tests/LocaleSwitcherTest.php
  src/Symfony/Component/VarDumper/Tests/Caster/DateCasterTest.php
Labels: Status: Needs Review

#58366 [HttpKernel] Improve accessibility
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Icon/symfony.svg
  src/Symfony/Component/HttpKernel/Resources/welcome.html.php
Labels: Feature, HttpKernel, Status: Reviewed

#58362 [HttpKernel] do not use the Test suffix for non test classes
  src/Symfony/Component/Form/Test/FormPerformanceTestCase.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BaseTypeTestCase.php
  src/Symfony/Component/Form/Tests/VersionAwareTestTrait.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/KernelForTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/KernelForTestWithLoadClassCache.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: HttpKernel, Status: Reviewed

#58401 [Mailer][Webhook] Fix SendGrid Webhook parsing
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/Fixtures/batch.json
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/Fixtures/batch.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/Fixtures/webhook.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Webhook/SendgridSignedRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Webhook/SendgridRequestParser.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/composer.json
Labels: Bug, Status: Reviewed, Mailer, Webhook

#58404 [TwigBridge] Remove usage of `Node()` instantiations
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationDefaultDomainNodeVisitor.php
  src/Symfony/Bridge/Twig/Tests/Node/DumpNodeTest.php
  src/Symfony/Bridge/Twig/Tests/Node/FormThemeTest.php
  src/Symfony/Bridge/Twig/Tests/Node/SearchAndRenderBlockNodeTest.php
  src/Symfony/Bridge/Twig/Tests/NodeVisitor/TranslationNodeVisitorTest.php
  src/Symfony/Bridge/Twig/Tests/NodeVisitor/TwigNodeProvider.php
Labels: Bug, Status: Reviewed, TwigBridge

#58409 [Translation] Fix extracting of message from ->trans() method with named params
  src/Symfony/Component/Translation/Extractor/Visitor/TransMethodVisitor.php
  src/Symfony/Component/Translation/Tests/Fixtures/extractor-ast/translation.html.php
Labels: Bug, Translation, Status: Reviewed

#58395 [TwigBridge] Fixed a parameterized choice label translation
  src/Symfony/Bridge/Twig/Extension/FormExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionFieldHelpersTest.php
Labels: Bug, Status: Reviewed, TwigBridge

#58357 [Form] do not override the final `runTest()` method
  src/Symfony/Component/Form/Test/FormPerformanceTestCase.php
Labels: Form, Status: Needs Review

#58351 [Mailer] deprecate the TransportFactoryTestCase
  UPGRADE-7.2.md
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/composer.json
  src/Symfony/Component/Mailer/Bridge/Azure/Tests/Transport/AzureTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Azure/composer.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Transport/BrevoTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Brevo/composer.json
  src/Symfony/Component/Mailer/Bridge/Google/Tests/Transport/GmailTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Google/composer.json
  src/Symfony/Component/Mailer/Bridge/Infobip/Tests/Transport/InfobipApiTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Infobip/composer.json
  src/Symfony/Component/Mailer/Bridge/MailPace/Tests/Transport/MailPaceTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/MailPace/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Tests/Transport/MandrillTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/composer.json
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Transport/MailerSendTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailjet/Tests/Transport/MailjetTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailjet/composer.json
  src/Symfony/Component/Mailer/Bridge/Mailomat/Tests/Transport/MailomatTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Mailtrap/Tests/Transport/MailtrapTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Postal/Tests/Transport/PostalTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Transport/PostmarkTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/composer.json
  src/Symfony/Component/Mailer/Bridge/Resend/Tests/Transport/ResendTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Resend/composer.json
  src/Symfony/Component/Mailer/Bridge/Scaleway/Tests/Transport/ScalewayTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Scaleway/composer.json
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/composer.json
  src/Symfony/Component/Mailer/Bridge/Sweego/Tests/Transport/SweegoTransportFactoryTest.php
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Test/AbstractTransportFactoryTestCase.php
  src/Symfony/Component/Mailer/Test/IncompleteDsnTestTrait.php
  src/Symfony/Component/Mailer/Test/TransportFactoryTestCase.php
  src/Symfony/Component/Mailer/Tests/Transport/NullTransportFactoryTest.php
  src/Symfony/Component/Mailer/Tests/Transport/SendmailTransportFactoryTest.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/EsmtpTransportFactoryTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/EsmtpTransportFactory.php
Labels: Status: Needs Review, Deprecation, Mailer

#58349 Add missing Albanian translations for Security and Validator components
  src/Symfony/Component/Security/Core/Resources/translations/security.sq.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sq.xlf
Labels: Status: Needs Review

#58343 [HttpClient] Add `crypto_method` to scoped client options
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: Bug, Status: Needs Review, HttpClient

#58342 [ExpressionLanguage] Use script to generate regex
  src/Symfony/Component/ExpressionLanguage/Lexer.php
  src/Symfony/Component/ExpressionLanguage/Resources/bin/generate_operator_regex.php
  src/Symfony/Component/ExpressionLanguage/Tests/LexerTest.php
Labels: ExpressionLanguage, Status: Needs Review

#58332 [Console] Suppress `proc_open` errors within `Terminal::readFromProcess`
  src/Symfony/Component/Console/Terminal.php
Labels: Bug, Console, Status: Reviewed

#58299 [DependencyInjection] Fix `XmlFileLoader` not respecting when env for services
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/RemoteCaller.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/RemoteCallerHttp.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/RemoteCallerSocket.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/when-env-services.xml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#58411 [TwigBridge] Remove `VersionAwareTest` from `AbstractLayoutTestCase`
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap3LayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractBootstrap5LayoutTestCase.php
  src/Symfony/Bridge/Twig/Tests/Extension/AbstractLayoutTestCase.php
  src/Symfony/Component/Form/Test/FormPerformanceTestCase.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BaseTypeTestCase.php
Labels: Bug, Status: Reviewed, TwigBridge

#58369 [DependencyInjection] Add coverage for error cases of `LazyClosure` and `AutowireLocator`
  src/Symfony/Component/DependencyInjection/Tests/Argument/LazyClosureTest.php
  src/Symfony/Component/DependencyInjection/Tests/Attribute/AutowireLocatorTest.php
Labels: DependencyInjection, Status: Needs Review

#58283 [Contracts] closure to arrow functions
  src/Symfony/Contracts/Tests/Cache/CacheTraitTest.php
Labels: Status: Reviewed, Contracts

#58412 [Finder] do not use `assertCount()` with generators
  src/Symfony/Component/Finder/Tests/Iterator/LazyIteratorTest.php
Labels: Finder, Status: Reviewed

#58413 [WebProfilerBundle] do not base services on PHPUnit mocks
  src/Symfony/Bundle/WebProfilerBundle/Tests/DependencyInjection/WebProfilerExtensionTest.php
Labels: WebProfilerBundle, Status: Reviewed

#58385 [String] Add the `AbstractString::kebab()` method
  src/Symfony/Component/String/AbstractString.php
  src/Symfony/Component/String/CHANGELOG.md
  src/Symfony/Component/String/Tests/AbstractAsciiTestCase.php
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
Labels: Feature, Status: Reviewed, Deprecation, String
