Repository symfony/symfony, pull requests merged in 2024-08, with the labels that each got.

#57896 [Mime] Fix `RawMessage` constructor argument type
  src/Symfony/Component/Mime/RawMessage.php
  src/Symfony/Component/Mime/Tests/RawMessageTest.php
Labels: Bug, Status: Reviewed, Mime

#54819 [Serializer] Rework `XmlEncoderTest`
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Serializer, Status: Reviewed

#57909 [HttpFoundation] Add `$requests` parameter to `RequestStack` constructor
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/RequestStack.php
  src/Symfony/Component/HttpFoundation/Tests/RequestStackTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#57894 [Validator] Add `tldMessage` parameter to `Url` constraint constructor
  src/Symfony/Component/Validator/Constraints/Url.php
Labels: Validator, Bug, Status: Needs Review

#57899 [String] [EnglishInflector] Fix words ending with `le`, e.g., `articles`
  src/Symfony/Component/String/Inflector/EnglishInflector.php
  src/Symfony/Component/String/Tests/Inflector/EnglishInflectorTest.php
Labels: Bug, Status: Reviewed, String

#57905 [Validator] allow more unicode characters in URL paths
  src/Symfony/Component/Validator/Constraints/UrlValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
Labels: Validator, Bug, Status: Reviewed

#57891 [Validator] Add Dutch translation for `WordCount` constraint
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
Labels: Validator, Status: Needs Review

#57895 [Finder] do not duplicate directory separators
  src/Symfony/Component/Finder/Iterator/RecursiveDirectoryIterator.php
  src/Symfony/Component/Finder/Tests/Iterator/RecursiveDirectoryIteratorTest.php
Labels: Bug, Finder, Status: Reviewed

#57888 [Routing] Add tests for `Requirement::UUID_V7` & `UuidV8`
  src/Symfony/Component/Routing/Tests/Requirement/RequirementTest.php
Labels: Routing, Status: Reviewed

#57840 [Validator] review latvian translations
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
Labels: Validator, Bug, Status: Reviewed

#57916 [Notifier] Fix KazInfoTeh package in UnsupportedSchemeException
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
Labels: Bug, Status: Reviewed, Notifier

#57875 [String] Fixed Quorum plural, and Quora singular in EnglishInflector
  src/Symfony/Component/String/Inflector/EnglishInflector.php
  src/Symfony/Component/String/Tests/Inflector/EnglishInflectorTest.php
Labels: Bug, Status: Reviewed, String

#57879 [AssetMapper] Truncate public digests to 8 characters
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/Factory/MappedAssetFactory.php
  src/Symfony/Component/AssetMapper/Tests/AssetMapperDevServerSubscriberFunctionalTest.php
  src/Symfony/Component/AssetMapper/Tests/Command/AssetMapperCompileCommandTest.php
  src/Symfony/Component/AssetMapper/Tests/Factory/MappedAssetFactoryTest.php
  src/Symfony/Component/AssetMapper/Tests/MapperAwareAssetPackageIntegrationTest.php
Labels: Bug, Feature, Status: Reviewed, AssetMapper

#57897 Remove unused code and unnecessary `else` branches
  src/Symfony/Bridge/Monolog/Formatter/ConsoleFormatter.php
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler/Deprecation.php
  src/Symfony/Bridge/PsrHttpMessage/Factory/PsrHttpFactory.php
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationDefaultDomainNodeVisitor.php
  src/Symfony/Bundle/FrameworkBundle/Controller/ControllerResolver.php
  src/Symfony/Component/Config/Builder/ClassBuilder.php
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Helper/ProgressIndicator.php
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Output/AnsiColorMode.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/Dotenv/Dotenv.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateIntervalToArrayTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/DataTransformer/PercentToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php
  src/Symfony/Component/Intl/Data/Generator/CurrencyDataGenerator.php
  src/Symfony/Component/Intl/Data/Generator/LanguageDataGenerator.php
  src/Symfony/Component/Intl/Data/Generator/TimezoneDataGenerator.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiAsyncAwsTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpAsyncAwsTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/Auth/CramMd5Authenticator.php
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Command/SetupTransportsCommand.php
  src/Symfony/Component/Messenger/Transport/Serialization/Normalizer/FlattenExceptionNormalizer.php
  src/Symfony/Component/Mime/Header/ParameterizedHeader.php
  src/Symfony/Component/Notifier/Bridge/Sipgate/SipgateTransport.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/SmsboxTransport.php
  src/Symfony/Component/Notifier/Bridge/TurboSms/TurboSmsTransport.php
  src/Symfony/Component/PasswordHasher/Command/UserPasswordHashCommand.php
  src/Symfony/Component/Routing/RouteCompiler.php
  src/Symfony/Component/Security/Core/User/ChainUserProvider.php
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Translation/Dumper/MoFileDumper.php
  src/Symfony/Component/Validator/Constraints/ChoiceValidator.php
  src/Symfony/Component/Validator/Constraints/EmailValidator.php
  src/Symfony/Component/Validator/Constraints/Regex.php
  src/Symfony/Component/Validator/Constraints/UrlValidator.php
  src/Symfony/Component/VarExporter/ProxyHelper.php
  src/Symfony/Component/Workflow/DataCollector/WorkflowDataCollector.php
Labels: Status: Reviewed

#57919 Fix multiple CS errors
  src/Symfony/Bridge/Doctrine/Tests/ArgumentResolver/EntityValueResolverTest.php
  src/Symfony/Bridge/PhpUnit/ClockMock.php
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsDecryptToLocalCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/services.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Component/AssetMapper/Tests/Factory/MappedAssetFactoryTest.php
  src/Symfony/Component/Cache/Adapter/PhpArrayAdapter.php
  src/Symfony/Component/Cache/Tests/Traits/RedisTraitTest.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ServicesConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DomCrawler/Test/Constraint/CrawlerSelectorExists.php
  src/Symfony/Component/ErrorHandler/Resources/views/exception_full.html.php
  src/Symfony/Component/Form/Tests/Extension/DataCollector/FormDataExtractorTest.php
  src/Symfony/Component/HttpFoundation/Tests/RateLimiter/AbstractRequestRateLimiterTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Proxy/AbstractProxyTest.php
  src/Symfony/Component/Mailer/Bridge/Mailomat/RemoteEvent/MailomatPayloadConverter.php
  src/Symfony/Component/Mailer/Bridge/Mailomat/Transport/MailomatApiTransport.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Fixtures/long_receiver.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Envelope.php
  src/Symfony/Component/Mime/Header/ParameterizedHeader.php
  src/Symfony/Component/Notifier/Bridge/FakeChat/FakeChatEmailTransport.php
  src/Symfony/Component/Notifier/Bridge/Sipgate/SipgateTransport.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/Runtime/Internal/ComposerPlugin.php
  src/Symfony/Component/Security/Http/Authenticator/AbstractPreAuthenticatedAuthenticator.php
  src/Symfony/Component/Security/Http/Authenticator/Debug/TraceableAuthenticatorManagerListener.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
  src/Symfony/Component/Translation/DataCollectorTranslator.php
  src/Symfony/Component/Translation/LoggingTranslator.php
  src/Symfony/Component/TypeInfo/TypeResolver/PhpDocAwareReflectionTypeResolver.php
  src/Symfony/Component/Validator/Constraints/Ulid.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanOrEqualValidatorWithNegativeOrZeroConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanValidatorWithNegativeConstraintTest.php
  src/Symfony/Component/Validator/Tests/Constraints/WordCountTest.php
  src/Symfony/Component/Validator/Tests/Constraints/WordCountValidatorTest.php
  src/Symfony/Component/VarDumper/Caster/FrameStub.php
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
Labels: Status: Reviewed

#57926 [AssetMaper] Fix entropy of hash in public path
  src/Symfony/Component/AssetMapper/Factory/MappedAssetFactory.php
  src/Symfony/Component/AssetMapper/Tests/AssetMapperDevServerSubscriberFunctionalTest.php
  src/Symfony/Component/AssetMapper/Tests/Command/AssetMapperCompileCommandTest.php
  src/Symfony/Component/AssetMapper/Tests/MapperAwareAssetPackageIntegrationTest.php
Labels: Bug, Status: Reviewed

#57918 [Notifier] synchronize unsupported scheme tests
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
Labels: Status: Reviewed, Notifier

#57921 [Finder] do not duplicate directory separators
  src/Symfony/Component/Finder/Iterator/RecursiveDirectoryIterator.php
Labels: Finder, Status: Reviewed

#57937 [DependencyInjection] Fix importing PHP configs in the prepend extension method
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#57861 [Form] NumberType: Fix parsing of numbers in exponential notation with negative exponent
  src/Symfony/Component/Form/Extension/Core/DataTransformer/NumberToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/NumberToLocalizedStringTransformerTest.php
Labels: Form, Bug, Status: Needs Review

#57885 [Cache] fix compatibility with redis extension 6.0.3+
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Cache/Traits/Redis6ProxyTrait.php
  src/Symfony/Component/Cache/Traits/RedisCluster6Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6ProxyTrait.php
Labels: Bug, Status: Needs Review, Cache

#57917 [HttpKernel] [WebProfileBundle] Fix Routing panel for URLs with a colon
  src/Symfony/Bundle/WebProfilerBundle/Controller/RouterController.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/Controller/RouterControllerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#57920 [Form] Fix handling empty data in ValueToDuplicatesTransformer
  src/Symfony/Component/Form/Extension/Core/DataTransformer/ValueToDuplicatesTransformer.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/ValueToDuplicatesTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/RepeatedTypeTest.php
Labels: Form, Bug, Status: Reviewed

#57933 [Messenger] Prevent waiting time to overflow when using long delays
  src/Symfony/Component/Messenger/Retry/MultiplierRetryStrategy.php
  src/Symfony/Component/Messenger/Tests/Retry/MultiplierRetryStrategyTest.php
Labels: Bug, Status: Needs Review, Messenger

#57903 [Mailer] Implement Postal mailer
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
  src/Symfony/Component/Mailer/Bridge/Postal/.gitattributes
  src/Symfony/Component/Mailer/Bridge/Postal/.gitignore
  src/Symfony/Component/Mailer/Bridge/Postal/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Postal/LICENSE
  src/Symfony/Component/Mailer/Bridge/Postal/README.md
  src/Symfony/Component/Mailer/Bridge/Postal/Tests/Transport/PostalApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Postal/Tests/Transport/PostalTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Postal/Transport/PostalApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Postal/Transport/PostalTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Postal/composer.json
  src/Symfony/Component/Mailer/Bridge/Postal/phpunit.xml.dist
  src/Symfony/Component/Mailer/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Mailer/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Mailer/Transport.php
Labels: Feature, Status: Reviewed, Mailer

#57925 [Validator] reset the validation context after validating nested constraints
  src/Symfony/Component/Validator/Constraints/AtLeastOneOfValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/AtLeastOneOfValidatorTest.php
Labels: Validator, Bug, Status: Reviewed

#57965 [Console] fix permitted data type of the default choice
  src/Symfony/Component/Console/Question/ChoiceQuestion.php
Labels: Bug, Console, Status: Reviewed

#57934 [DependencyInjection] Deprecate `!tagged` tag, use `!tagged_iterator` instead
  UPGRADE-7.2.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_deprecated_tagged.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/tagged_deprecated.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Status: Reviewed, Deprecation

#57950 Fix invalid phpdoc in ContainerBuilder
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: Status: Reviewed

#57968 [Yaml] :bug: throw ParseException on invalid date
  src/Symfony/Component/Yaml/Inline.php
  src/Symfony/Component/Yaml/Tests/InlineTest.php
Labels: Bug, Yaml, Status: Reviewed

#57973 [TwigBridge] fix tests using Twig 3.12
  src/Symfony/Bridge/Twig/Tests/Extension/HttpKernelExtensionTest.php
Labels: Status: Reviewed, TwigBridge

#57972 [FrameworkBundle] Re-remove redundant name attribute from `default_context`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
Labels: FrameworkBundle, Status: Needs Review

#57966 [Form] skip tests requiring the intl extension if it's not installed
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/NumberToLocalizedStringTransformerTest.php
Labels: Form, Status: Needs Work

#57868 Remove useless code
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Component/Form/Extension/Core/Type/TimeType.php
  src/Symfony/Component/Intl/Data/Generator/TimezoneDataGenerator.php
  src/Symfony/Component/Lock/Store/PostgreSqlStore.php
  src/Symfony/Component/Mailer/Bridge/Azure/Transport/AzureApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunApiTransportTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsReceiverTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Tests/Transport/BeanstalkdReceiverTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineReceiverTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Mime/Test/Constraint/EmailAttachmentCount.php
  src/Symfony/Component/Notifier/Bridge/FakeSms/Tests/FakeSmsLoggerTransportTest.php
  src/Symfony/Component/Notifier/Bridge/PagerDuty/PagerDutyOptions.php
  src/Symfony/Component/Notifier/Bridge/PagerDuty/composer.json
  src/Symfony/Component/Routing/RouteCompiler.php
  src/Symfony/Component/Security/Core/User/InMemoryUser.php
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
  src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php
  src/Symfony/Component/Security/Http/RememberMe/AbstractRememberMeHandler.php
  src/Symfony/Component/Security/Http/Tests/EventListener/UserCheckerListenerTest.php
  src/Symfony/Component/String/ByteString.php
  src/Symfony/Component/TypeInfo/Type/GenericType.php
  src/Symfony/Component/TypeInfo/Type/IntersectionType.php
  src/Symfony/Component/TypeInfo/Type/UnionType.php
  src/Symfony/Component/Validator/Constraint.php
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
  src/Symfony/Component/Workflow/Dumper/PlantUmlDumper.php
  src/Symfony/Component/Yaml/Inline.php
Labels: Status: Reviewed

#57947 [ExpressionLanguage] Improve test coverage
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/BinaryNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/NodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/ParserTest.php
Labels: ExpressionLanguage, Status: Reviewed

#57974 [Serializer] Remove useless calls to `func_get_arg()`
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
Labels: Serializer, Status: Reviewed

#57961 [Form] Replace class-string by `::class` for `BaseTypeTestCase::TESTED_TYPE`
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BirthdayTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ButtonTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CheckboxTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/ChoiceTypeTranslationTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CollectionTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CountryTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CurrencyTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTimeTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FileTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/FormTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/IntegerTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/LanguageTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/LocaleTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/MoneyTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/NumberTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/PasswordTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/RepeatedTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/SubmitTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TextTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TimeTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/TimezoneTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/UrlTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/WeekTypeTest.php
Labels: Form, Status: Reviewed

#57941 DX: simplify PHP CS Fixer config towards v3.62
  .php-cs-fixer.dist.php
Labels: DX, Status: Reviewed

#57975 [Mime] remove constructor argument type-hint
  src/Symfony/Component/Mime/RawMessage.php
Labels: Status: Reviewed, Mime

#57978 [VarDumper] Fix generator dump format for PHP 8.4
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
Labels: Bug, VarDumper, Status: Reviewed

#57985 [DependencyInjection] fix tests on Windows
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
Labels: DependencyInjection, Status: Needs Review

#57986 [Validator] Add French translation for the `Week` constraint
  src/Symfony/Component/Validator/Resources/translations/validators.af.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.az.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.be.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.da.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.et.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.gl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.he.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.my.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.no.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sq.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.th.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ur.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uz.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf
Labels: Validator, Status: Needs Review

#57983 [Messenger] skip transient Redis integration tests on AppVeyor
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisExtIntegrationTest.php
Labels: Status: Needs Review, Messenger

#57981 [HttpClient] reject malformed URLs with a meaningful exception
  src/Symfony/Component/HttpClient/HttpClientTrait.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTraitTest.php
Labels: Bug, Status: Reviewed, HttpClient

#57988 [Validator]  change default Week constraint messages
  src/Symfony/Component/Validator/Constraints/Week.php
Labels: Validator, Status: Needs Review

#57989 [Validator] sync Week constraint messages translations
  src/Symfony/Component/Validator/Resources/translations/validators.af.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.az.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.be.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.da.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.et.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.gl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.he.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.my.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.no.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sq.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.th.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ur.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uz.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf
Labels: Validator, Status: Needs Review

#57984 [Validator] Add `D` regex modifier in relevant validators
  src/Symfony/Component/Validator/Constraints/CardSchemeValidator.php
  src/Symfony/Component/Validator/Constraints/CssColorValidator.php
  src/Symfony/Component/Validator/Constraints/DateValidator.php
  src/Symfony/Component/Validator/Constraints/EmailValidator.php
  src/Symfony/Component/Validator/Constraints/TimeValidator.php
  src/Symfony/Component/Validator/Constraints/UrlValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/CardSchemeValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CssColorValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/DateValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/IbanValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/TimeValidatorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
Labels: Validator, Status: Reviewed

#57948 [Config][DependencyInjection] Optimize dumped resources for tracking
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: DependencyInjection, Config, Status: Reviewed

#57944 [DoctrineBridge] Fix the `LockStoreSchemaListener`
  src/Symfony/Bridge/Doctrine/SchemaListener/LockStoreSchemaListener.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/LockStoreSchemaListenerTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#57940 [Uid] Add support for binary, base-32 and base-58 representations in `Uuid::isValid()`
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/Tests/UuidTest.php
  src/Symfony/Component/Uid/Uuid.php
Labels: Feature, Status: Reviewed, Uid

#57928 [Serializer] fix denormalizing mixed collection values
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#57915 [Messenger] Allow setting retry delay by RecoverableExceptionInterface
  UPGRADE-7.2.md
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/EventListener/SendFailedMessageForRetryListener.php
  src/Symfony/Component/Messenger/Exception/RecoverableExceptionInterface.php
  src/Symfony/Component/Messenger/Exception/RecoverableMessageHandlingException.php
  src/Symfony/Component/Messenger/Tests/EventListener/SendFailedMessageForRetryListenerTest.php
Labels: Feature, Status: Reviewed, Messenger

#57892 [Mime] Add tests on constraints
  src/Symfony/Component/Mime/Tests/AddressTest.php
  src/Symfony/Component/Mime/Tests/Encoder/IdnAddressEncoderTest.php
  src/Symfony/Component/Mime/Tests/Encoder/QpContentEncoderTest.php
  src/Symfony/Component/Mime/Tests/MessageTest.php
  src/Symfony/Component/Mime/Tests/Part/Multipart/FormDataPartTest.php
  src/Symfony/Component/Mime/Tests/Test/Constraint/EmailAddressContainsTest.php
  src/Symfony/Component/Mime/Tests/Test/Constraint/EmailAttachmentCountTest.php
  src/Symfony/Component/Mime/Tests/Test/Constraint/EmailHasHeaderTest.php
  src/Symfony/Component/Mime/Tests/Test/Constraint/EmailHtmlBodyContainsTest.php
  src/Symfony/Component/Mime/Tests/Test/Constraint/EmailTextBodyContainsTest.php
Labels: Status: Reviewed, Mime

#57990 [Validator] Pass required `requireTld` option to `Url` in tests
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
Labels: Validator, Bug, Status: Needs Review

#57991 [Validator] Add test for `D` regex modifier in `TimeValidator`
  src/Symfony/Component/Validator/Tests/Constraints/TimeValidatorTest.php
Labels: Validator, Status: Needs Review

#57992 [Validator] fix test
  src/Symfony/Component/Validator/Tests/Constraints/WeekValidatorTest.php
Labels: Validator, Status: Needs Review

#57994 [Mime]  fix test
  src/Symfony/Component/Mime/Tests/Part/Multipart/FormDataPartTest.php
Labels: Status: Reviewed, Mime

#57777 [Console][PhpUnitBridge][VarDumper] Add support for `FORCE_COLOR` environment variable
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Output/StreamOutput.php
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
Labels: Feature, Console, VarDumper, PhpUnitBridge, Status: Needs Review

#57804 [FrameworkBundle] enable detailed error messages by default when debug enabled
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: Feature, FrameworkBundle, Status: Needs Review

#57999 skip transient Redis integration tests on AppVeyor
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisExtIntegrationTest.php
Labels: Status: Needs Review

#57996 [HttpFoundation] Use typed property
  src/Symfony/Component/HttpFoundation/Request.php
Labels: HttpFoundation, Status: Reviewed

#58006 [Validator] added Polish translation for units 116-119
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Validator, Status: Reviewed

#57881 [Webhook] decouple the Webhook component from the Serializer component
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/webhook.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Webhook/CHANGELOG.md
  src/Symfony/Component/Webhook/Server/JsonBodyConfigurator.php
  src/Symfony/Component/Webhook/Server/NativeJsonPayloadSerializer.php
  src/Symfony/Component/Webhook/Server/PayloadSerializerInterface.php
  src/Symfony/Component/Webhook/Server/SerializerPayloadSerializer.php
  src/Symfony/Component/Webhook/Tests/Server/JsonBodyConfiguratorTest.php
  src/Symfony/Component/Webhook/composer.json
Labels: Feature, Status: Reviewed, Webhook

#58010 [PsrHttpMessageBridge] Fix conversion of partitioned cookies in the PSR-7 bridge
  src/Symfony/Bridge/PsrHttpMessage/Factory/HttpFoundationFactory.php
Labels: Bug, Status: Reviewed, PsrHttpMessageBridge

#58004 [DependencyInjection] Add `ContainerBuilder::registerChild()` shortcut method
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#58002 [Security] Revert stateless check for ContextListener
  src/Symfony/Component/Security/Http/Firewall/ContextListener.php
Labels: Security, Bug, Status: Reviewed

#58013 [Serializer] Remove redundant @internal tags from traceable classes
  src/Symfony/Component/Serializer/DataCollector/SerializerDataCollector.php
  src/Symfony/Component/Serializer/Debug/TraceableEncoder.php
  src/Symfony/Component/Serializer/Debug/TraceableNormalizer.php
  src/Symfony/Component/Serializer/Debug/TraceableSerializer.php
Labels: Serializer, Status: Reviewed

#58020 [TwigBridge] fix compatibility with Twig 3.12 and 4.0
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationDefaultDomainNodeVisitor.php
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationNodeVisitor.php
  src/Symfony/Bridge/Twig/Tests/Node/SearchAndRenderBlockNodeTest.php
  src/Symfony/Bridge/Twig/Tests/NodeVisitor/TranslationNodeVisitorTest.php
  src/Symfony/Bridge/Twig/Tests/NodeVisitor/TwigNodeProvider.php
Labels: Status: Reviewed, TwigBridge

#58017 [SecurityBundle] Revert adding `_stateless` attribute to the request when firewall is stateless and the attribute is not already set
  src/Symfony/Bundle/SecurityBundle/Security/FirewallMap.php
  src/Symfony/Bundle/SecurityBundle/Tests/Security/FirewallMapTest.php
Labels: Feature, SecurityBundle, Status: Reviewed

#58015 [HttpKernel] ESI fragment content may be missing in conditional requests
  src/Symfony/Component/HttpKernel/HttpCache/HttpCache.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#58011 [HttpKernel] Improve and add tests for `Last-Modified` computation with ESI responses
  src/Symfony/Component/HttpKernel/Tests/HttpCache/ResponseCacheStrategyTest.php
Labels: HttpKernel, Status: Reviewed

#57713 [TypeInfo] Add tests for uncovered conditions
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/ReflectionParameterTypeResolverTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/ReflectionReturnTypeResolverTest.php
Labels: Status: Needs Review, TypeInfo

#58021 [Serializer] remove custom CSV escape character from tests
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
Labels: Serializer, Status: Reviewed

#57705 [Workflow] Clearer `NotEnabledTransitionException` message
  src/Symfony/Component/Workflow/Exception/NotEnabledTransitionException.php
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
Labels: Status: Reviewed, Workflow

#58026 [FrameworkBundle][Webhook] Fix comment
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed, Webhook

#58027 [Serializer] clean up PHP version checks
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
Labels: Serializer, Status: Reviewed

#58024 [TypeInfo] Add Documentation link in README
  src/Symfony/Component/TypeInfo/README.md
Labels: Status: Reviewed, TypeInfo

#58032 [Security] Fix Italian translation
  src/Symfony/Component/Security/Core/Resources/translations/security.it.xlf
Labels: Security, Status: Reviewed

#58028 [TwigBridge] Render a `block` via the `#[Template]` attribute
  src/Symfony/Bridge/Twig/Attribute/Template.php
  src/Symfony/Bridge/Twig/EventListener/TemplateAttributeListener.php
  src/Symfony/Bridge/Twig/Tests/EventListener/TemplateAttributeListenerTest.php
Labels: Feature, Status: Reviewed, TwigBridge

#58025 [Mailer] [Brevo] Support the `unique_proxy_open` event
  src/Symfony/Component/Mailer/Bridge/Brevo/RemoteEvent/BrevoPayloadConverter.php
Labels: Bug, Status: Reviewed, Mailer

#57431 [Mailer] Add Sweego bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_transports.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer_webhook.php
  src/Symfony/Component/Mailer/Bridge/Sweego/.gitattributes
  src/Symfony/Component/Mailer/Bridge/Sweego/.gitignore
  src/Symfony/Component/Mailer/Bridge/Sweego/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Sweego/LICENSE
  src/Symfony/Component/Mailer/Bridge/Sweego/README.md
  src/Symfony/Component/Mailer/Bridge/Sweego/RemoteEvent/SweegoPayloadConverter.php
  src/Symfony/Component/Mailer/Bridge/Sweego/Tests/Transport/SweegoApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sweego/Tests/Transport/SweegoTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Sweego/Tests/Webhook/Fixtures/delivered.json
  src/Symfony/Component/Mailer/Bridge/Sweego/Tests/Webhook/Fixtures/delivered.php
  src/Symfony/Component/Mailer/Bridge/Sweego/Tests/Webhook/Fixtures/sent.json
  src/Symfony/Component/Mailer/Bridge/Sweego/Tests/Webhook/Fixtures/sent.php
  src/Symfony/Component/Mailer/Bridge/Sweego/Tests/Webhook/SweegoRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Sweego/Transport/SweegoApiTransport.php
  src/Symfony/Component/Mailer/Bridge/Sweego/Transport/SweegoSmtpTransport.php
  src/Symfony/Component/Mailer/Bridge/Sweego/Transport/SweegoTransportFactory.php
  src/Symfony/Component/Mailer/Bridge/Sweego/Webhook/SweegoRequestParser.php
  src/Symfony/Component/Mailer/Bridge/Sweego/composer.json
  src/Symfony/Component/Mailer/Bridge/Sweego/phpunit.xml.dist
  src/Symfony/Component/Mailer/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Mailer/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Mailer/Transport.php
Labels: Feature, Status: Reviewed, Mailer

#57890 [AssetMapper] Leverage Filesystem
  src/Symfony/Component/AssetMapper/CompiledAssetMapperConfigReader.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapConfigReader.php
  src/Symfony/Component/AssetMapper/ImportMap/RemotePackageDownloader.php
  src/Symfony/Component/AssetMapper/ImportMap/RemotePackageStorage.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapManagerTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageDownloaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageStorageTest.php
Labels: Status: Reviewed, AssetMapper

#58007 [Security] Deprecate empty user identifier
  UPGRADE-7.2.md
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/User/UserInterface.php
  src/Symfony/Component/Security/Http/Authenticator/Passport/Badge/UserBadge.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Tests/Authenticator/Passport/Badge/UserBadgeTest.php
Labels: Security, Status: Reviewed, Deprecation

#57827 [Serializer][Translation] Deprecate passing a non-empty CSV escape char
  UPGRADE-7.2.md
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Context/Encoder/CsvEncoderContextBuilder.php
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Tests/Context/Encoder/CsvEncoderContextBuilderTest.php
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Loader/CsvFileLoader.php
  src/Symfony/Component/Translation/Tests/Loader/CsvFileLoaderTest.php
  src/Symfony/Component/Translation/composer.json
Labels: Serializer, Translation, Status: Reviewed, Deprecation

#58001 [Scheduler] Add capability to skip missed periodic tasks, only the last schedule will be called
  src/Symfony/Component/Scheduler/CHANGELOG.md
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/Schedule.php
  src/Symfony/Component/Scheduler/Tests/Generator/MessageGeneratorTest.php
Labels: Feature, Status: Reviewed, Scheduler

#57493 [SecurityBundle] Make security schema deterministic
  src/Symfony/Bundle/SecurityBundle/Resources/config/schema/security-1.0.xsd
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/Authenticator/CustomAuthenticator.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/UserProvider/CustomProvider.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/custom_authenticator_under_own_namespace.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/custom_authenticator_under_security_namespace.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/custom_provider_under_own_namespace.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/custom_provider_under_security_namespace.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/XmlCustomAuthenticatorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/XmlCustomProviderTest.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
Labels: Bug, SecurityBundle, Status: Reviewed

#57577 [FrameworkBundle][HttpKernel] Let `RequestPayloadValueResolver` consider mapped argument type
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ApiAttributesTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/ApiAttributesTest/routing.yml
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
Labels: Feature, HttpKernel, FrameworkBundle, Status: Reviewed

#54179 [HttpClient] Add support for amphp/http-client v5
  .github/patch-types.php
  composer.json
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/HttpClient.php
  src/Symfony/Component/HttpClient/Internal/AmpBodyV4.php
  src/Symfony/Component/HttpClient/Internal/AmpBodyV5.php
  src/Symfony/Component/HttpClient/Internal/AmpClientStateV4.php
  src/Symfony/Component/HttpClient/Internal/AmpClientStateV5.php
  src/Symfony/Component/HttpClient/Internal/AmpListenerV4.php
  src/Symfony/Component/HttpClient/Internal/AmpListenerV5.php
  src/Symfony/Component/HttpClient/Internal/AmpResolverV4.php
  src/Symfony/Component/HttpClient/Internal/AmpResolverV5.php
  src/Symfony/Component/HttpClient/Response/AmpResponseV4.php
  src/Symfony/Component/HttpClient/Response/AmpResponseV5.php
  src/Symfony/Component/HttpClient/Tests/HttpClientTestCase.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Feature, Status: Needs Review, HttpClient

#52951 [Messenger] Add previous to the exception output
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
Labels: Feature, Status: Reviewed, Messenger

#57298 [DependencyInjection] Fix handling of repeated `#[Autoconfigure]` attributes
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterAutoconfigureAttributesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutoconfigureRepeated.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutoconfigureRepeatedBindings.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutoconfigureRepeatedCalls.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutoconfigureRepeatedOverwrite.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutoconfigureRepeatedProperties.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/AutoconfigureRepeatedTag.php
Labels: DependencyInjection, Bug, Status: Reviewed

#58022 update from Postgres 10 to 16
  .github/workflows/integration-tests.yml
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Fixtures/pgbouncer/pgbouncer.ini
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Fixtures/pgbouncer/userlist.txt
Labels: Status: Needs Review

#58040 [SecurityBundle]  fix tests
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/Authenticator/CustomAuthenticator.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/UserProvider/CustomProvider.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/custom_authenticator_under_own_namespace.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/custom_authenticator_under_security_namespace.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/custom_provider_under_own_namespace.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/custom_provider_under_security_namespace.xml
Labels: SecurityBundle, Status: Needs Review

#58046 [AssetMapper] Fix JsDeliver import regexp
  src/Symfony/Component/AssetMapper/ImportMap/Resolver/JsDelivrEsmResolver.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/Resolver/JsDelivrEsmResolverTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#58044 [HttpClient] Do not overwrite the host to request when using option "resolve"
  src/Symfony/Component/HttpClient/CurlHttpClient.php
  src/Symfony/Component/HttpClient/Tests/CurlHttpClientTest.php
Labels: Bug, Status: Needs Review, HttpClient

#58000 [DependencyInjection] Fix issue between decorator and service locator index
  src/Symfony/Component/DependencyInjection/Compiler/DecoratorServicePass.php
  src/Symfony/Component/DependencyInjection/Compiler/PriorityTaggedServiceTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/DecoratorServicePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/PriorityTaggedServiceTraitTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/anonymous.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/child.expected.yml
Labels: DependencyInjection, Bug, Status: Reviewed, Status: Waiting feedback

#57960 [Form] Add support for the `calendar` option in `DateType`
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTypeTest.php
Labels: Form, Feature, Status: Reviewed

#57833 [VarDumper] Add support for virtual properties
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/Caster.php
  src/Symfony/Component/VarDumper/Caster/VirtualStub.php
  src/Symfony/Component/VarDumper/Dumper/CliDumper.php
  src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php
  src/Symfony/Component/VarDumper/Tests/Caster/StubCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/HtmlDumperTest.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/VirtualProperty.php
Labels: Feature, VarDumper, Status: Reviewed

#58043 [DependencyInjection] fix tests
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Status: Needs Review

#58055 [Form] Fix info for the `calendar` option of the `DateType` form type
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
Labels: Form, Bug, Status: Reviewed

#58057 [Serializer] more precise type for CamelCaseToSnakeCaseNameConverter::$attributes
  src/Symfony/Component/Serializer/NameConverter/CamelCaseToSnakeCaseNameConverter.php
Labels: Serializer, Status: Reviewed

#49547 [Validator] Add `CompoundConstraintTestCase` to ease testing Compound Constraints
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Test/CompoundConstraintTestCase.php
  src/Symfony/Component/Validator/Tests/Constraints/CompoundValidatorTest.php
  src/Symfony/Component/Validator/Tests/Fixtures/DummyCompoundConstraint.php
  src/Symfony/Component/Validator/Tests/Fixtures/DummyCompoundConstraintWithGroups.php
  src/Symfony/Component/Validator/Tests/Test/CompoundConstraintTestCaseTest.php
Labels: Validator, Feature, Status: Reviewed

#58064 [Validator] Add `@template` on `CompoundConstraintTestCase`
  src/Symfony/Component/Validator/Test/CompoundConstraintTestCase.php
  src/Symfony/Component/Validator/Tests/Test/CompoundConstraintTestCaseTest.php
Labels: Validator, Feature, Status: Needs Review

#58061 [Serializer] Fix CamelCaseToSnakeCaseNameConverterTest::testDenormalizeWithContext
  src/Symfony/Component/Serializer/Tests/NameConverter/CamelCaseToSnakeCaseNameConverterTest.php
Labels: Serializer, Status: Reviewed

#58060 [Serializer] Add SnakeCaseToCamelCaseNameConverter
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/NameConverter/SnakeCaseToCamelCaseNameConverter.php
  src/Symfony/Component/Serializer/Tests/NameConverter/SnakeCaseToCamelCaseNameConverterTest.php
Labels: Serializer, Feature, Status: Reviewed

#58038 [HttpFoundation] Add optional `$v4Bytes` and `$v6Bytes` parameters to `IpUtils::anonymize()`
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/IpUtils.php
  src/Symfony/Component/HttpFoundation/Tests/IpUtilsTest.php
Labels: Feature, HttpFoundation, Status: Reviewed

#58049 [Validator] Add more precise PHPDoc on constraints
  src/Symfony/Component/Validator/Constraints/CardScheme.php
  src/Symfony/Component/Validator/Constraints/Cascade.php
  src/Symfony/Component/Validator/Constraints/Choice.php
  src/Symfony/Component/Validator/Constraints/Count.php
  src/Symfony/Component/Validator/Constraints/CssColor.php
  src/Symfony/Component/Validator/Constraints/DateTime.php
  src/Symfony/Component/Validator/Constraints/Expression.php
  src/Symfony/Component/Validator/Constraints/ExpressionSyntax.php
  src/Symfony/Component/Validator/Constraints/File.php
  src/Symfony/Component/Validator/Constraints/Image.php
  src/Symfony/Component/Validator/Constraints/Length.php
  src/Symfony/Component/Validator/Constraints/NotCompromisedPassword.php
  src/Symfony/Component/Validator/Constraints/Range.php
  src/Symfony/Component/Validator/Constraints/Week.php
  src/Symfony/Component/Validator/Constraints/WordCount.php
Labels: Validator, Status: Reviewed

#58062 [Validator] Add $groups and $payload to Compound constructor
  src/Symfony/Component/Validator/Constraints/Compound.php
  src/Symfony/Component/Validator/Tests/Constraints/CompoundTest.php
Labels: Validator, Feature, Status: Reviewed

#58067 [Runtime] fix ComposerPlugin
  src/Symfony/Component/Runtime/Internal/ComposerPlugin.php
Labels: Bug, Status: Needs Review, Runtime

#58052 [ExpressionLanguage] Add support for `<<`, `>>`, and `~` bitwise operators
  src/Symfony/Component/ExpressionLanguage/CHANGELOG.md
  src/Symfony/Component/ExpressionLanguage/Lexer.php
  src/Symfony/Component/ExpressionLanguage/Node/BinaryNode.php
  src/Symfony/Component/ExpressionLanguage/Node/UnaryNode.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/Tests/LexerTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/BinaryNodeTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/UnaryNodeTest.php
Labels: Feature, ExpressionLanguage, Status: Reviewed

#58066 [Messenger] Improve type annotation of `WrappedExceptionsTrait`
  src/Symfony/Component/Messenger/Exception/WrappedExceptionsInterface.php
  src/Symfony/Component/Messenger/Exception/WrappedExceptionsTrait.php
Labels: Status: Needs Review, Messenger

#58058 [Form] Remove stalled PHP bug mentions
  src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/DateType.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php
Labels: Form, Status: Needs Review

#58047 [Webhook] Pass original request to `RequestParserInterface`
  src/Symfony/Component/Webhook/CHANGELOG.md
  src/Symfony/Component/Webhook/Client/AbstractRequestParser.php
  src/Symfony/Component/Webhook/Client/RequestParserInterface.php
  src/Symfony/Component/Webhook/Controller/WebhookController.php
Labels: Feature, Status: Reviewed, Webhook

#58078 [TwigBridge] Fix Twig deprecation notice
  src/Symfony/Bridge/Twig/Tests/NodeVisitor/TwigNodeProvider.php
Labels: Status: Reviewed, TwigBridge

#58090 [Messenger] Fix conditional type on WrappedExceptionsInterface
  src/Symfony/Component/Messenger/Exception/WrappedExceptionsInterface.php
  src/Symfony/Component/Messenger/Exception/WrappedExceptionsTrait.php
Labels: Bug, Status: Reviewed, Messenger

#58084 [ExpressionLanguage] Fix typo in exception message
  src/Symfony/Component/DependencyInjection/ExpressionLanguageProvider.php
Labels: ExpressionLanguage, Status: Needs Review

#58096 [DependencyInjection] Fix error message typo in `YamlFileLoader`
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
Labels: DependencyInjection, Bug, Status: Reviewed

#58094 Use Stringable whenever possible
  src/Symfony/Component/BrowserKit/HttpBrowser.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/ErrorHandler/BufferingLogger.php
  src/Symfony/Component/HttpFoundation/JsonResponse.php
  src/Symfony/Component/Routing/Generator/UrlGenerator.php
  src/Symfony/Component/Security/Core/Authorization/TraceableAccessDecisionManager.php
  src/Symfony/Component/Security/Http/Authenticator/FormLoginAuthenticator.php
Labels: Status: Reviewed

#58081 [Translation] Review Serbian translations
  src/Symfony/Component/Security/Core/Resources/translations/security.sr_Cyrl.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.sr_Latn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
Labels: Status: Needs Review

#58035 [DependencyInjection] Add support for `key-type` in `XmlFileLoader`
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/key_type_argument.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/key_type_incorrect_bin.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/key_type_property.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/key_type_wrong_constant.xml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#57683 [Notifier] Support for desktop notifications via `jolicode/JoliNotif`
  composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/JoliNotif/.gitattributes
  src/Symfony/Component/Notifier/Bridge/JoliNotif/.gitignore
  src/Symfony/Component/Notifier/Bridge/JoliNotif/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/JoliNotif/JoliNotifOptions.php
  src/Symfony/Component/Notifier/Bridge/JoliNotif/JoliNotifTransport.php
  src/Symfony/Component/Notifier/Bridge/JoliNotif/JoliNotifTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/JoliNotif/LICENSE
  src/Symfony/Component/Notifier/Bridge/JoliNotif/README.md
  src/Symfony/Component/Notifier/Bridge/JoliNotif/Tests/JoliNotifOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/JoliNotif/Tests/JoliNotifTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/JoliNotif/Tests/JoliNotifTransportTest.php
  src/Symfony/Component/Notifier/Bridge/JoliNotif/composer.json
  src/Symfony/Component/Notifier/Bridge/JoliNotif/phpunit.xml.dist
  src/Symfony/Component/Notifier/CHANGELOG.md
  src/Symfony/Component/Notifier/Channel/DesktopChannel.php
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Message/DesktopMessage.php
  src/Symfony/Component/Notifier/Notification/DesktopNotificationInterface.php
  src/Symfony/Component/Notifier/Tests/Message/DesktopMessageTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#58099 [FrameworkBundle] Fix low-deps tests
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#58097 [Routing] Fix typos
  src/Symfony/Component/Routing/Loader/AnnotationFileLoader.php
  src/Symfony/Component/Routing/Tests/Loader/AnnotationFileLoaderTest.php
Labels: Routing, Status: Reviewed

#58101 [DependencyInjection] Fix test paths on Windows
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#58098 [HttpKernel] Fix method naming collision of dummy logger implementations
  src/Symfony/Component/HttpKernel/Tests/EventListener/ErrorListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/Logger.php
Labels: HttpKernel, Status: Reviewed

#58089 [Uid] Rework internal format conversion
  src/Symfony/Component/Uid/Uuid.php
Labels: Status: Needs Review, Uid

#58112 fix Twig 3.12 compatibility
  src/Symfony/Bridge/Twig/Node/DumpNode.php
  src/Symfony/Bridge/Twig/Node/FormThemeNode.php
  src/Symfony/Bridge/Twig/Node/StopwatchNode.php
  src/Symfony/Bridge/Twig/Node/TransDefaultDomainNode.php
  src/Symfony/Bridge/Twig/Node/TransNode.php
  src/Symfony/Bridge/Twig/Tests/TokenParser/FormThemeTokenParserTest.php
Labels: Status: Reviewed

#58117 [VarDumper] fix compatibility with Twig 3.12
  src/Symfony/Component/VarDumper/Tests/Fixtures/Twig.php
Labels: VarDumper, Status: Reviewed

#58118 [Messenger] fix test to be compatible with DBAL 4.2
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/PostgreSqlConnectionTest.php
Labels: Status: Reviewed, Messenger

#58113 [DependencyInjection] Fix bug on windows, memory exhausted on cache clear, impossible to install new project
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: Bug, Status: Needs Review

#58127 [Validator] synchronize IBAN formats
  src/Symfony/Component/Validator/Constraints/IbanValidator.php
  src/Symfony/Component/Validator/Resources/bin/sync-iban-formats.php
  src/Symfony/Component/Validator/Tests/Constraints/IbanValidatorTest.php
Labels: Validator, Bug, Status: Reviewed

#58129 [VarExporter] Allow reinitializing lazy objects with a new initializer
  src/Symfony/Component/VarExporter/CHANGELOG.md
  src/Symfony/Component/VarExporter/Internal/LazyObjectState.php
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/RegularClass.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
  src/Symfony/Component/VarExporter/Tests/LazyProxyTraitTest.php
Labels: Feature, Status: Needs Review, VarExporter

#58121 [AssetMapper] Load es-module-shims only if importmap is not supported
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapRenderer.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapRendererTest.php
Labels: Status: Needs Review, AssetMapper

#58116 bump requirement for Twig to 3.12+
  UPGRADE-7.2.md
  composer.json
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Node/DumpNode.php
  src/Symfony/Bridge/Twig/Node/FormThemeNode.php
  src/Symfony/Bridge/Twig/Node/StopwatchNode.php
  src/Symfony/Bridge/Twig/Node/TransDefaultDomainNode.php
  src/Symfony/Bridge/Twig/Node/TransNode.php
  src/Symfony/Bridge/Twig/Tests/Node/FormThemeTest.php
  src/Symfony/Bridge/Twig/Tests/Node/SearchAndRenderBlockNodeTest.php
  src/Symfony/Bridge/Twig/Tests/NodeVisitor/TranslationNodeVisitorTest.php
  src/Symfony/Bridge/Twig/Tests/NodeVisitor/TwigNodeProvider.php
  src/Symfony/Bridge/Twig/Tests/TokenParser/FormThemeTokenParserTest.php
  src/Symfony/Bridge/Twig/TokenParser/FormThemeTokenParser.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Bundle/TwigBundle/composer.json
  src/Symfony/Bundle/WebProfilerBundle/composer.json
  src/Symfony/Component/HttpKernel/composer.json
  src/Symfony/Component/VarDumper/composer.json
Labels: Feature, Status: Reviewed

#58110 [PropertyAccess] Fix handling property names with a `.`
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
Labels: Bug, PropertyAccess, Status: Reviewed

#58103 [HttpKernel][Security] Minor cleanups
  src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php
  src/Symfony/Component/Security/Csrf/CsrfTokenManager.php
Labels: Security, HttpKernel, Status: Needs Review

#58074 [Console][Process] Add `$verbosity` argument to `mustRun` helper method
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Helper/ProcessHelper.php
Labels: Feature, Console, Process, Status: Needs Review

#58042 [Ldap] Add support for sasl_bind and whoami LDAP operations
  UPGRADE-7.2.md
  src/Symfony/Component/Ldap/Adapter/ConnectionInterface.php
  src/Symfony/Component/Ldap/Adapter/ExtLdap/Connection.php
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Ldap/Ldap.php
  src/Symfony/Component/Ldap/LdapInterface.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/AdapterTest.php
Labels: Bug, Feature, Status: Reviewed, Ldap

#57949 [Config] Generate a meta file in JSON format for resource tracking
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/ConfigCache.php
  src/Symfony/Component/Config/Resource/SkippingResourceChecker.php
  src/Symfony/Component/Config/ResourceCheckerConfigCache.php
  src/Symfony/Component/Config/Tests/ResourceCheckerConfigCacheTest.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Feature, Config, Status: Reviewed

#57793 [Serializer] Support subclasses of `DateTime` and `DateTimeImmutable`
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/DateTimeNormalizerTest.php
Labels: Serializer, Feature, Status: Reviewed

#58131 Release v5.4.43
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#58132 Release v6.4.11
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#58133 Release v7.1.4
  CHANGELOG-7.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review
