Repository symfony/symfony, pull requests merged in 2024-03, with the labels that each got.

#54129 [Clock] Add attributes to support PHPUnit 10 + 11
  src/Symfony/Component/Clock/Test/ClockSensitiveTrait.php
Labels: Bug, Status: Reviewed, Clock

#54086 [Security][Tests] Update functional tests to better reflect end-user scenarios
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AuthenticatorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/CsrfFormLoginTest.php
Labels: Security, Status: Reviewed

#54125 [AssetMapper] Deprecate unused method `splitPackageNameAndFilePath`
  UPGRADE-7.1.md
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapConfigReader.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapConfigReaderTest.php
  src/Symfony/Component/AssetMapper/composer.json
Labels: Status: Reviewed, Deprecation, AssetMapper

#54113 [AssetMapper] Throw exception in Javascript compiler when PCRE error
  src/Symfony/Component/AssetMapper/Compiler/JavaScriptImportPathCompiler.php
  src/Symfony/Component/AssetMapper/Tests/Compiler/JavaScriptImportPathCompilerTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#54110 [Mailer] Simplify MailerTestCommand
  src/Symfony/Component/Mailer/Command/MailerTestCommand.php
Labels: Status: Reviewed, Mailer

#54157 Release v5.4.37
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#54158 Release v6.4.5
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#54159 Release v7.0.5
  CHANGELOG-7.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#54146 [HttpClient] Preserve float in JsonMockResponse
  src/Symfony/Component/HttpClient/Response/JsonMockResponse.php
  src/Symfony/Component/HttpClient/Tests/Response/JsonMockResponseTest.php
Labels: Bug, Status: Reviewed, HttpClient

#53851 [Security] Ignore empty username or password login attempts
  src/Symfony/Component/Security/Http/Authenticator/FormLoginAuthenticator.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Tests/Authenticator/FormLoginAuthenticatorTest.php
Labels: Security, Feature, Status: Reviewed

#54167 [Messenger] [Amqp] Handle AMQPConnectionException when publishing a message.
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#54188 Add an experimental CI job for PHP 8.4
  .github/workflows/unit-tests.yml
Labels: Status: Reviewed

#54187 [FrameworkBundle] Fix PHP 8.4 deprecation on `ReflectionMethod`
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
Labels: FrameworkBundle, Status: Reviewed

#54204 [String] Leverage `Randomizer::getBytesFromString()`
  src/Symfony/Component/String/ByteString.php
Labels: Feature, Status: Reviewed, String

#54184 [Clock] rename get/setMicroseconds() to get/setMicrosecond()
  src/Symfony/Component/Clock/CHANGELOG.md
  src/Symfony/Component/Clock/DatePoint.php
  src/Symfony/Component/Clock/Tests/DatePointTest.php
Labels: Status: Reviewed, Clock

#54107 [HttpKernel] Improve error reporting when requiring the wrong Request class
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestValueResolver.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/ServiceValueResolver.php
  src/Symfony/Component/HttpKernel/Exception/NearMissValueResolverException.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/ServiceValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolverTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#54181 [AssetMapper] create `PreAssetsCompileEvent` using `SymfonyStyle`
  src/Symfony/Component/AssetMapper/Command/AssetMapperCompileCommand.php
Labels: Feature, Status: Reviewed, AssetMapper

#54137 [Validator] UniqueValidator - normalize before reducing keys
  src/Symfony/Component/Validator/Constraints/UniqueValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/UniqueValidatorTest.php
Labels: Validator, Bug, Status: Reviewed

#54217 [Validator] backport NoSuspiciousCharactersValidator test
  src/Symfony/Component/Validator/Tests/Constraints/NoSuspiciousCharactersValidatorTest.php
Labels: Validator, Status: Reviewed

#54149 [Console] Document argv arrays for static analysis
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Input/StringInput.php
Labels: Console, Status: Reviewed

#51227 [FrameworkBundle][Workflow] Attach the workflow's configuration to the `workflow` tag
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: Feature, FrameworkBundle, Status: Reviewed, Workflow, Status: Needs Decision

#54244 [TwigBridge] Use CPP
  src/Symfony/Bridge/Twig/Command/DebugCommand.php
  src/Symfony/Bridge/Twig/DataCollector/TwigDataCollector.php
  src/Symfony/Bridge/Twig/ErrorRenderer/TwigErrorRenderer.php
  src/Symfony/Bridge/Twig/Extension/AssetExtension.php
  src/Symfony/Bridge/Twig/Extension/CsrfRuntime.php
  src/Symfony/Bridge/Twig/Extension/DumpExtension.php
  src/Symfony/Bridge/Twig/Extension/FormExtension.php
  src/Symfony/Bridge/Twig/Extension/HttpFoundationExtension.php
  src/Symfony/Bridge/Twig/Extension/HttpKernelRuntime.php
  src/Symfony/Bridge/Twig/Extension/ImportMapRuntime.php
  src/Symfony/Bridge/Twig/Extension/LogoutUrlExtension.php
  src/Symfony/Bridge/Twig/Extension/ProfilerExtension.php
  src/Symfony/Bridge/Twig/Extension/RoutingExtension.php
  src/Symfony/Bridge/Twig/Extension/SecurityExtension.php
  src/Symfony/Bridge/Twig/Extension/SerializerRuntime.php
  src/Symfony/Bridge/Twig/Extension/StopwatchExtension.php
  src/Symfony/Bridge/Twig/Extension/TranslationExtension.php
  src/Symfony/Bridge/Twig/Extension/WebLinkExtension.php
  src/Symfony/Bridge/Twig/Extension/WorkflowExtension.php
  src/Symfony/Bridge/Twig/Form/TwigRendererEngine.php
  src/Symfony/Bridge/Twig/Mime/BodyRenderer.php
  src/Symfony/Bridge/Twig/Mime/WrappedTemplatedEmail.php
  src/Symfony/Bridge/Twig/Node/DumpNode.php
  src/Symfony/Bridge/Twig/NodeVisitor/Scope.php
  src/Symfony/Bridge/Twig/TokenParser/StopwatchTokenParser.php
  src/Symfony/Bridge/Twig/Translation/TwigExtractor.php
Labels: Status: Reviewed, TwigBridge

#54209 Missing translations for Greek (el) #53768
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
Labels: Status: Needs Review

#54189 [ErrorHandler] Fix exit code when an exception occurs and the exception handler has been unregistered
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
Labels: Bug, Status: Needs Review, ErrorHandler

#54239 [Mailer] Fix sendmail transport not handling failure
  src/Symfony/Component/Mailer/Tests/Transport/Fixtures/fake-failing-sendmail.php
  src/Symfony/Component/Mailer/Tests/Transport/SendmailTransportTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/AbstractStream.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/ProcessStream.php
Labels: Bug, Status: Reviewed, Mailer

#54175 [Validator] Review Arabic translations and add correct translations.
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
Labels: Validator, Status: Needs Review

#54219 [Validator] Allow BICs’ first four characters to be digits
  src/Symfony/Component/Validator/Constraints/BicValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/BicValidatorTest.php
Labels: Validator, Bug, Status: Reviewed

#54251 [DoctrineBridge] Add missing return type
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/ContainerAwareFixture.php
Labels: Status: Reviewed, DoctrineBridge

#54254 [HttpKernel] Fix creating `ReflectionMethod` with only one argument
  src/Symfony/Component/HttpKernel/Event/ControllerEvent.php
Labels: HttpKernel, Status: Needs Review

#54257 [CI] Remove experimental flag on PHP 8.4 job
  .github/workflows/unit-tests.yml
Labels: Status: Needs Review

#54258 [ErrorHandler] Fix tests
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
Labels: Status: Reviewed, ErrorHandler

#54124 [Messenger] trigger retry logic when message is a redelivery
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Exception/RejectRedeliveredMessageException.php
Labels: Bug, Status: Needs Review, Messenger

#54264 [Serializer] fix: typo
  src/Symfony/Component/Serializer/Tests/Annotation/ContextTest.php
Labels: Serializer, Status: Needs Review

#54265 [VarDumper] prevent error in value to Typed property must not be accessed before initialization
  src/Symfony/Component/VarDumper/Cloner/Stub.php
Labels: Bug, VarDumper, Status: Needs Review

#54252 [Lock] compatiblity with redis cluster 7
  src/Symfony/Component/Lock/Store/RedisStore.php
Labels: Bug, Status: Needs Review, Lock

#54270 [ErrorHandler] Fix `ErrorHandlerTest::tearDown()` visibility
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
Labels: Status: Reviewed, ErrorHandler

#54201 [Lock] Check the correct SQLSTATE error code for MySQL
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Lock/Store/PdoStore.php
Labels: Bug, Status: Needs Review, Lock

#54194 [PropertyAccess] Fix checking for missing properties
  src/Symfony/Component/PropertyAccess/PropertyAccessor.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/TestClassMagicGet.php
  src/Symfony/Component/PropertyAccess/Tests/PropertyAccessorTest.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
Labels: Bug, PropertyAccess, Status: Reviewed

#54191 [Validator] add missing invalid extension error entry
  src/Symfony/Component/Validator/Constraints/File.php
Labels: Validator, Bug, Status: Needs Review

#54277 [FrameworkBundle] Fix typo
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
Labels: FrameworkBundle, Status: Reviewed

#54260 [Validator] Use CPP
  src/Symfony/Component/Validator/Command/DebugCommand.php
  src/Symfony/Component/Validator/ConstraintValidatorFactory.php
  src/Symfony/Component/Validator/Constraints/Length.php
  src/Symfony/Component/Validator/ContainerConstraintValidatorFactory.php
  src/Symfony/Component/Validator/Context/ExecutionContext.php
  src/Symfony/Component/Validator/Context/ExecutionContextFactory.php
  src/Symfony/Component/Validator/DataCollector/ValidatorDataCollector.php
  src/Symfony/Component/Validator/Exception/InvalidOptionsException.php
  src/Symfony/Component/Validator/Exception/MissingOptionsException.php
  src/Symfony/Component/Validator/Exception/UnexpectedValueException.php
  src/Symfony/Component/Validator/Exception/ValidationFailedException.php
  src/Symfony/Component/Validator/Mapping/Factory/LazyLoadingMetadataFactory.php
  src/Symfony/Component/Validator/Mapping/Loader/FileLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/LoaderChain.php
  src/Symfony/Component/Validator/Mapping/Loader/PropertyInfoLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/StaticMethodLoader.php
  src/Symfony/Component/Validator/Validator/LazyProperty.php
  src/Symfony/Component/Validator/Validator/RecursiveContextualValidator.php
  src/Symfony/Component/Validator/Validator/RecursiveValidator.php
  src/Symfony/Component/Validator/Validator/TraceableValidator.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilder.php
Labels: Validator, Status: Needs Review

#54274 Update `changed-translation-files` step with native git diff command
  .github/workflows/integration-tests.yml
Labels: Status: Needs Review

#54279 [HttpFoundation] Improve the return type of ParameterBag::getEnum
  src/Symfony/Component/HttpFoundation/InputBag.php
  src/Symfony/Component/HttpFoundation/ParameterBag.php
Labels: HttpFoundation, Status: Reviewed

#54278 [ErrorHandler] Skip failing tests when "xdebug.file_link_format" option is defined
  src/Symfony/Component/ErrorHandler/Tests/ErrorRenderer/FileLinkFormatterTest.php
Labels: Status: Needs Review, ErrorHandler

#54115 [DependencyInjection] Better error message when a param is not defined
  src/Symfony/Component/DependencyInjection/Compiler/MergeExtensionConfigurationPass.php
  src/Symfony/Component/DependencyInjection/Exception/ParameterNotFoundException.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/MergeExtensionConfigurationPassTest.php
Labels: DependencyInjection, Status: Needs Review

#54273 [DependencyInjection] fix XmlDumper when a tag contains also a 'name' property
  src/Symfony/Component/DependencyInjection/Dumper/XmlDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/containers/container_non_scalar_tags.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services_with_array_tags.xml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services_with_array_tags.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#54283 [PhpUnitBridge] Enhance CoverageListenerTests
  src/Symfony/Bridge/PhpUnit/Tests/CoverageListenerTest.php
  src/Symfony/Bridge/PhpUnit/Tests/Fixtures/coverage/phpunit-with-listener.xml.dist
  src/Symfony/Bridge/PhpUnit/Tests/Fixtures/coverage/phpunit-without-listener.xml.dist
Labels: PhpUnitBridge, Status: Reviewed

#54248 [Security] Correctly initialize the voter property
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Bundle/SecurityBundle/Tests/DataCollector/SecurityDataCollectorTest.php
Labels: Security, Bug, Status: Reviewed

#54046 [HttpKernel] Increase log level to "error" at least for all PHP errors
  src/Symfony/Component/ErrorHandler/CHANGELOG.md
  src/Symfony/Component/ErrorHandler/ErrorHandler.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
Labels: Feature, HttpKernel, Status: Reviewed

#54238 [Console] Add `ArgvInput::getRawTokens()`
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Input/ArgvInput.php
Labels: Feature, Console, Status: Reviewed

#54272 [Workflow] Add support for workflows that need to store many tokens in the marking
  UPGRADE-7.1.md
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Marking.php
  src/Symfony/Component/Workflow/Tests/MarkingTest.php
  src/Symfony/Component/Workflow/Tests/WorkflowBuilderTrait.php
  src/Symfony/Component/Workflow/Tests/WorkflowTest.php
Labels: Bug, Status: Reviewed, Workflow

#54298 [Filesystem] Fix str_contains deprecation
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: Bug, Filesystem, Status: Reviewed

#54016 [DependencyInjection] Add `#[AutowireMethodOf]` attribute to autowire a method of a service as a callable
  src/Symfony/Component/DependencyInjection/Attribute/AutowireMethodOf.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/CheckExceptionOnInvalidReferenceBehaviorPass.php
  src/Symfony/Component/DependencyInjection/Tests/Attribute/AutowireMethodOfTest.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/ServiceValueResolver.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/RemoveEmptyControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/ServiceValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RemoveEmptyControllerArgumentLocatorsPassTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#54292 [FrameworkBundle] Fix mailer config with XML
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/mailer_with_dsn.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/mailer_with_dsn.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/mailer_with_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/mailer_with_dsn.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/XmlFrameworkExtensionTest.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#54199 [Mailer] [Brevo] Check that tags is present in payload before calling setTags
  src/Symfony/Component/Mailer/Bridge/Brevo/RemoteEvent/BrevoPayloadConverter.php
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/request_without_tags.json
  src/Symfony/Component/Mailer/Bridge/Brevo/Tests/Webhook/Fixtures/request_without_tags.php
Labels: Bug, Status: Reviewed

#54280 [Mime] Use CPP
  src/Symfony/Component/Mime/Crypto/DkimSigner.php
  src/Symfony/Component/Mime/FileBinaryMimeTypeGuesser.php
  src/Symfony/Component/Mime/FileinfoMimeTypeGuesser.php
  src/Symfony/Component/Mime/Message.php
  src/Symfony/Component/Mime/Part/MessagePart.php
  src/Symfony/Component/Mime/Part/Multipart/FormDataPart.php
  src/Symfony/Component/Mime/Part/Multipart/RelatedPart.php
  src/Symfony/Component/Mime/Part/SMimePart.php
  src/Symfony/Component/Mime/RawMessage.php
  src/Symfony/Component/Mime/Test/Constraint/EmailAddressContains.php
  src/Symfony/Component/Mime/Test/Constraint/EmailAttachmentCount.php
  src/Symfony/Component/Mime/Test/Constraint/EmailHasHeader.php
  src/Symfony/Component/Mime/Test/Constraint/EmailHeaderSame.php
  src/Symfony/Component/Mime/Test/Constraint/EmailHtmlBodyContains.php
  src/Symfony/Component/Mime/Test/Constraint/EmailTextBodyContains.php
  src/Symfony/Component/Mime/Tests/RawMessageTest.php
Labels: Status: Reviewed, Mime

#54305 [Cache][Lock] Identify missing table in pgsql correctly and address failing integration tests
  src/Symfony/Component/Cache/Adapter/PdoAdapter.php
  src/Symfony/Component/Lock/Store/PdoStore.php
Labels: Bug, Status: Needs Review, Cache, Lock

#54312 [Emoji] Set 'linguist-generated' for data
  .gitattributes
Labels: Status: Reviewed, Emoji

#54313 [Mime] Update mime types
  src/Symfony/Component/Mime/MimeTypes.php
Labels: Status: Reviewed, Mime

#54148 [Serializer] Fix object normalizer when properties has the same name as their accessor
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/SamePropertyAsMethodDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/SamePropertyAsMethodWithMethodSerializedNameDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/SamePropertyAsMethodWithPropertySerializedNameDummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#54173 [Filesystem] Add the `readFile()` method
  link
  src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CacheClearCommand/CacheClearCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Secrets/SodiumVaultTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/AssetMapper/CompiledAssetMapperConfigReader.php
  src/Symfony/Component/AssetMapper/Factory/CachedMappedAssetFactory.php
  src/Symfony/Component/AssetMapper/Factory/MappedAssetFactory.php
  src/Symfony/Component/AssetMapper/Tests/Command/AssetMapperCompileCommandTest.php
  src/Symfony/Component/AssetMapper/Tests/CompiledAssetMapperConfigReaderTest.php
  src/Symfony/Component/AssetMapper/Tests/Factory/CachedMappedAssetFactoryTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageDownloaderTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageStorageTest.php
  src/Symfony/Component/AssetMapper/Tests/Path/LocalPublicAssetsFilesystemTest.php
  src/Symfony/Component/AssetMapper/composer.json
  src/Symfony/Component/Config/ResourceCheckerConfigCache.php
  src/Symfony/Component/Config/Util/XmlUtils.php
  src/Symfony/Component/Config/composer.json
  src/Symfony/Component/Emoji/Resources/bin/build.php
  src/Symfony/Component/Emoji/composer.json
  src/Symfony/Component/Filesystem/CHANGELOG.md
  src/Symfony/Component/Filesystem/Filesystem.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Feature, Filesystem, Status: Reviewed

#54106 [AssetMapper] Minor: Reword warning message
  src/Symfony/Component/AssetMapper/Command/AssetMapperCompileCommand.php
Labels: Status: Reviewed, AssetMapper

#52950 [WebProfilerBundle] Set `XDEBUG_IGNORE` option for all XHR
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar_js.html.twig
Labels: Feature, WebProfilerBundle, Status: Reviewed, Hack Day

#53885 [WebProfilerBundle] Allow to search inside profiler tables
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/bag.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/table.html.twig
Labels: Feature, WebProfilerBundle, Status: Reviewed

#54153 [HttpKernel] allow boolean argument support for MapQueryString
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/FilterBoolObject.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/FilterBoolTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/PropertyNormalizerTest.php
Labels: Feature, HttpKernel, Status: Needs Work

#54271 [DoctrineBridge] Fix deprecation warning with ORM 3 when guessing field lengths
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#54190 [Mailer] rework the PostmarkDeliveryEvent implementation
  src/Symfony/Component/Mailer/Bridge/Postmark/Event/PostmarkDeliveryEvent.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Event/PostmarkDeliveryEventFactory.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Event/PostmarkEvents.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Event/PostmarkDeliveryEventFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Tests/Transport/PostmarkApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Postmark/Transport/PostmarkApiTransport.php
Labels: Status: Reviewed, Mailer

#54121 [Messenger] Catch TableNotFoundException in MySQL delete
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#54032 [SecurityBundle] Use "event" monolog channel in traceable firewall event dispatcher
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/MakeFirewallsEventDispatcherTraceablePass.php
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
Labels: Bug, SecurityBundle, Status: Reviewed

#53901 [Mailer] [Amazon] Add support for X-SES-LIST-MANAGEMENT-OPTIONS header
  src/Symfony/Component/Mailer/Bridge/Amazon/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesApiAsyncAwsTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Tests/Transport/SesHttpAsyncAwsTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesApiAsyncAwsTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/Transport/SesHttpAsyncAwsTransport.php
  src/Symfony/Component/Mailer/Bridge/Amazon/composer.json
Labels: Feature, Status: Reviewed, Mailer

#49184 [FrameworkBundle][HttpFoundation] reduce response constraints verbosity
  src/Symfony/Bundle/FrameworkBundle/Test/BrowserKitAssertionsTrait.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseIsRedirected.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseIsSuccessful.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseIsUnprocessable.php
  src/Symfony/Component/HttpFoundation/Test/Constraint/ResponseStatusCodeSame.php
  src/Symfony/Component/HttpFoundation/Tests/Test/Constraint/ResponseIsRedirectedTest.php
  src/Symfony/Component/HttpFoundation/Tests/Test/Constraint/ResponseIsSuccessfulTest.php
  src/Symfony/Component/HttpFoundation/Tests/Test/Constraint/ResponseIsUnprocessableTest.php
  src/Symfony/Component/HttpFoundation/Tests/Test/Constraint/ResponseStatusCodeSameTest.php
Labels: Feature, HttpFoundation, FrameworkBundle, Status: Reviewed

#50128 46867 - add more helpful property path accessor exceptions
  src/Symfony/Component/Form/Extension/Core/DataAccessor/PropertyPathAccessor.php
Labels: Status: Reviewed

#53898 [Serializer] Add context for `CamelCaseToSnakeCaseNameConverter`
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/Serializer/Exception/UnexpectedPropertyException.php
  src/Symfony/Component/Serializer/NameConverter/CamelCaseToSnakeCaseNameConverter.php
  src/Symfony/Component/Serializer/Tests/NameConverter/CamelCaseToSnakeCaseNameConverterTest.php
Labels: Serializer, Feature, Status: Reviewed

#51502 [HttpKernel] Add temporary URI signed
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Exception/ExceptionInterface.php
  src/Symfony/Component/HttpFoundation/Exception/LogicException.php
  src/Symfony/Component/HttpFoundation/Tests/UriSignerTest.php
  src/Symfony/Component/HttpFoundation/UriSigner.php
Labels: Feature, HttpKernel, Status: Reviewed

#54317 Clean PhpCsFixer configuration
  .php-cs-fixer.dist.php
Labels: DX, Status: Reviewed

#54316 Add missing changelog for PR53898
  src/Symfony/Component/Serializer/CHANGELOG.md
Labels: Feature, Status: Reviewed

#54135 [Console] Add a way to use custom lock factory in lockableTrait
  src/Symfony/Component/Console/Command/LockableTrait.php
  src/Symfony/Component/Console/Tests/Command/LockableTraitTest.php
  src/Symfony/Component/Console/Tests/Fixtures/FooLock3Command.php
Labels: Feature, Console, Status: Reviewed

#54329 [DoctrineBridge] Drop a test case in `EntityTypeTest`
  src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#54331 [DoctrineBridge] fix tests
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Form/Tests/Extension/Core/Type/BaseTypeTestCase.php
Labels: Form, Status: Needs Review

#54308 Add more explicit nullable types for default null values
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/ContainerAwareFixture.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Type/StringWrapper.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/ConfigurationTest.php
  src/Symfony/Component/Cache/Tests/Fixtures/DriverWrapper.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Bar.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/BarMethodCall.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/BarOptionalArgument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/CheckTypeDeclarationsPass/Foo.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/OptionalParameter.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/Prototype/Foo.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/Filesystem/Tests/Fixtures/MockStream/MockStream.php
  src/Symfony/Component/Form/Tests/Fixtures/ChoiceList/DeprecatedChoiceListFactory.php
  src/Symfony/Component/Form/Tests/Fixtures/CustomArrayObject.php
  src/Symfony/Component/Form/Tests/Fixtures/FixedTranslator.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/DataCollector/CloneVarDataCollector.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/NonTraversableArrayObject.php
  src/Symfony/Component/PropertyAccess/Tests/Fixtures/TraversableArrayObject.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/Dummy.php
  src/Symfony/Component/Routing/Tests/Fixtures/RedirectableUrlMatcher.php
  src/Symfony/Component/Serializer/Tests/Fixtures/AbstractNormalizerDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DenormalizableDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/Dummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyString.php
  src/Symfony/Component/Serializer/Tests/Fixtures/EnvelopeNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/EnvelopedMessageNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/NormalizableTraversableDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/NotNormalizableDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/ScalarDummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Validator/Tests/Fixtures/CustomArrayObject.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/FooInterface.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/Twig.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/dumb-var.php
Labels: Status: Needs Review

#54335 Make more nullable types explicit
  src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/PhpDumper/Fixtures/proxy-implem.php
  src/Symfony/Component/ErrorHandler/Tests/Fixtures/ClassWithAnnotatedParameters.php
  src/Symfony/Component/HttpFoundation/ParameterBag.php
  src/Symfony/Component/Mailer/Transport.php
  src/Symfony/Component/Messenger/Command/AbstractFailedMessagesCommand.php
  src/Symfony/Component/Messenger/Handler/BatchHandlerInterface.php
  src/Symfony/Component/Messenger/Retry/RetryStrategyInterface.php
  src/Symfony/Component/Notifier/Bridge/Esendex/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/GoogleChat/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Mattermost/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/Security/Core/Authentication/AuthenticationTrustResolverInterface.php
  src/Symfony/Component/Security/Core/Authorization/AccessDecisionManager.php
  src/Symfony/Component/Security/Http/Firewall/ChannelListener.php
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/StubCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/CliDumperTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/HtmlDumperTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/functions/dump_data_collector_with_spl_array.phpt
Labels: Status: Needs Review

#54333 [HttpFoundation] Allow array style callable setting for Request setFactory method
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: HttpFoundation, Status: Reviewed

#54224 [VarExporter] add `#[Ignore]` to proxy-related methods to prevent them from being serialized
  src/Symfony/Component/VarExporter/Internal/LazyObjectTrait.php
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/SimpleObject.php
  src/Symfony/Component/VarExporter/Tests/LazyGhostTraitTest.php
  src/Symfony/Component/VarExporter/Tests/LazyProxyTraitTest.php
Labels: Bug, Status: Reviewed, VarExporter

#54353 [HttpClient] Test with guzzle promises v2
  composer.json
  src/Symfony/Component/HttpClient/composer.json
Labels: Status: Needs Review, HttpClient

#54357 [VarExporter] fix tests
  src/Symfony/Component/VarExporter/composer.json
Labels: Status: Needs Review, VarExporter

#54361 [PropertyInfo] add test using deprecated reflection doc block feature to legacy group
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
Labels: Status: Needs Review, PropertyInfo

#54360 [Mime] use local PHP web server to test HTTP stream wrappers
  src/Symfony/Component/Mime/Tests/Fixtures/web/index.php
  src/Symfony/Component/Mime/Tests/Fixtures/web/logo_symfony_header.png
  src/Symfony/Component/Mime/Tests/Part/DataPartTest.php
  src/Symfony/Component/Mime/composer.json
Labels: Status: Reviewed, Mime

#54362 [Filesystem] preserve the file modification time when mirroring directories
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: Bug, Filesystem, Status: Reviewed

#54347 [Console] Allow to return all tokens after the command name
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/Console/Tests/Input/ArgvInputTest.php
Labels: Feature, Console, Status: Reviewed

#54344 [Workflow] Add EventNameTrait to compute event name strings in subscribers
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Event/AnnounceEvent.php
  src/Symfony/Component/Workflow/Event/CompletedEvent.php
  src/Symfony/Component/Workflow/Event/EnterEvent.php
  src/Symfony/Component/Workflow/Event/EnteredEvent.php
  src/Symfony/Component/Workflow/Event/EventNameTrait.php
  src/Symfony/Component/Workflow/Event/GuardEvent.php
  src/Symfony/Component/Workflow/Event/LeaveEvent.php
  src/Symfony/Component/Workflow/Event/TransitionEvent.php
  src/Symfony/Component/Workflow/Tests/Event/EventNameTraitTest.php
Labels: Feature, Status: Reviewed, Workflow

#54290 [Routing] Use constructor property promotion
  src/Symfony/Component/Routing/CompiledRoute.php
  src/Symfony/Component/Routing/Generator/CompiledUrlGenerator.php
  src/Symfony/Component/Routing/Generator/Dumper/GeneratorDumper.php
  src/Symfony/Component/Routing/Generator/UrlGenerator.php
  src/Symfony/Component/Routing/Loader/AttributeFileLoader.php
  src/Symfony/Component/Routing/Loader/Configurator/AliasConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/CollectionConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/ImportConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/RouteConfigurator.php
  src/Symfony/Component/Routing/Loader/Configurator/RoutingConfigurator.php
  src/Symfony/Component/Routing/Loader/ContainerLoader.php
  src/Symfony/Component/Routing/Matcher/Dumper/MatcherDumper.php
  src/Symfony/Component/Routing/Matcher/ExpressionLanguageProvider.php
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
Labels: Routing, Status: Reviewed

#54320 [VarDumper] Add support for new DOM extension classes in `DOMCaster`
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Caster/DOMCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Caster/DOMCasterTest.php
Labels: Feature, VarDumper, Status: Reviewed

#54367 [DependencyInjection] Update an error message
  src/Symfony/Component/DependencyInjection/ParameterBag/EnvPlaceholderParameterBag.php
Labels: DependencyInjection, Feature, Status: Reviewed

#54326 [Yaml] prefix examples with #
  src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php
  src/Symfony/Component/Config/Tests/Definition/Dumper/YamlReferenceDumperTest.php
Labels: Bug, Yaml, Status: Reviewed

#54364 [WebProfilerBundle] [WebProfilerPanel] Update the design of the workflow profiler panel
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/workflow.html.twig
Labels: Feature, WebProfilerBundle, Status: Reviewed

#54372 [Config] Fix `YamlReferenceDumper` handling of array examples
  src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php
  src/Symfony/Component/Config/Tests/Definition/Dumper/XmlReferenceDumperTest.php
  src/Symfony/Component/Config/Tests/Definition/Dumper/YamlReferenceDumperTest.php
  src/Symfony/Component/Config/Tests/Fixtures/Configuration/ExampleConfiguration.php
Labels: Bug, Config, Status: Reviewed

#54381 [Messenger] Allow extending attribute class `AsMessageHandler`
  UPGRADE-7.1.md
  src/Symfony/Component/Messenger/Attribute/AsMessageHandler.php
  src/Symfony/Component/Messenger/CHANGELOG.md
Labels: Feature, Status: Needs Review, Messenger

#54382 [FrameworkBundle] Remove custom handler for Workflow listener attributes
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
Labels: FrameworkBundle, Status: Needs Review

#54380 [DependencyInjection]  fix test
  src/Symfony/Component/DependencyInjection/Tests/ParameterBag/EnvPlaceholderParameterBagTest.php
Labels: DependencyInjection, Status: Needs Review

#54315 [Serializer] Fixed BackedEnumNormalizer priority for translatable enum
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/TranslatableBackedEnum.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#54389 [HttpFoundation] fix UriSigner tests
  src/Symfony/Component/HttpFoundation/Tests/UriSignerTest.php
Labels: HttpFoundation, Status: Reviewed

#54387 [Filesystem]  fix tests on Windows
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
Labels: Filesystem, Status: Reviewed

#54422 [TypeInfo] Fix missing explicit nullable type
  src/Symfony/Component/TypeInfo/Tests/Fixtures/ReflectionExtractableDummy.php
Labels: Status: Reviewed, TypeInfo

#54410 [Cache] synchronize Redis proxy traits for different versions
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Cache/Traits/Redis6ProxyTrait.php
  src/Symfony/Component/Cache/Traits/RedisCluster6Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6ProxyTrait.php
Labels: Status: Needs Review

#54426 stop marking parameters implicitly as nullable
  src/Symfony/Bridge/PsrHttpMessage/Tests/Fixtures/ServerRequest.php
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/DumperInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_80.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/classes.php
  src/Symfony/Component/Form/Tests/Fixtures/TranslatableTextAlign.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/Routing/Tests/Fixtures/TraceableAttributeClassLoader.php
  src/Symfony/Component/Serializer/Tests/Fixtures/FooInterfaceDummyDenormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/FormatAndContextAwareNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/StaticConstructorNormalizer.php
  src/Symfony/Component/Validator/Tests/Fixtures/ConstraintWithRequiredArgument.php
Labels: Status: Needs Review

#53969 [Mailer] include message id provided by the MTA when dispatching the `SentMessageEvent`
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/DummyStream.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/SmtpTransportTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/SmtpTransport.php
Labels: Bug, Status: Reviewed, Mailer

#54431 Fix implicit nullable parameters
  src/Symfony/Component/Routing/Tests/Fixtures/AttributeFixtures/ExtendedRoute.php
Labels: Status: Reviewed

#54420 [WebProfilerBundle] Update main menu to display active panels first
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Feature, WebProfilerBundle, Status: Reviewed

#54419 Fix TypeError on ProgressBar
  src/Symfony/Component/Console/Helper/ProgressBar.php
Labels: Bug, Status: Reviewed

#54435 [Console] respect multi-byte characters when rendering vertical-style tables
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: Bug, Console, Status: Reviewed
