Repository symfony/symfony, pull requests merged in 2024-05, with the labels that each got.

#54760 [Validator] handle union and intersection types for cascaded validations
  src/Symfony/Component/Validator/Mapping/ClassMetadata.php
  src/Symfony/Component/Validator/Tests/Fixtures/CascadingEntityIntersection.php
  src/Symfony/Component/Validator/Tests/Fixtures/CascadingEntityUnion.php
  src/Symfony/Component/Validator/Tests/Mapping/ClassMetadataTest.php
Labels: Validator, Bug, Status: Needs Review

#54759 [Filesystem] better distinguish URL schemes and Windows drive letters
  src/Symfony/Component/Filesystem/Path.php
  src/Symfony/Component/Filesystem/Tests/PathTest.php
Labels: Bug, Filesystem, Status: Reviewed

#54790 [TypeInfo] end/current instead of array_pop
  src/Symfony/Component/TypeInfo/TypeContext/TypeContextFactory.php
Labels: Status: Reviewed, TypeInfo

#54758 [Validator] handle edge cases when constructing constraints with named arguments
  src/Symfony/Component/Validator/Mapping/Loader/AbstractLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/XmlFileLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/Fixtures/ConstraintWithNamedArguments.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/Fixtures/ConstraintWithoutValueWithNamedArguments.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping.xml
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping.yml
Labels: Validator, Bug, Status: Reviewed

#54775 [Messenger] accept AbstractAsset instances when filtering schemas
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#54770 [Form] rename the model_type option to input and rework it
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformer.php
  src/Symfony/Component/Form/Extension/Core/Type/MoneyType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/MoneyTypeTest.php
Labels: Form, Status: Reviewed, :snowflake: Feature Freeze

#54714 [Serializer] convert empty CSV header names into numeric keys
  src/Symfony/Component/Serializer/Encoder/CsvEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/CsvEncoderTest.php
Labels: Serializer, Bug, Status: Reviewed

#54794 [Strings][EnglishInflector] Fix incorrect pluralisation of 'Album'
  src/Symfony/Component/String/Inflector/EnglishInflector.php
  src/Symfony/Component/String/Tests/Inflector/EnglishInflectorTest.php
Labels: Bug, Status: Needs Review

#54800 [WebProfilerBundle] fix compatibility with Twig 3.10
  src/Symfony/Bundle/WebProfilerBundle/Tests/Twig/WebProfilerExtensionTest.php
  src/Symfony/Bundle/WebProfilerBundle/Twig/WebProfilerExtension.php
Labels: Bug, WebProfilerBundle, Status: Reviewed

#54788 [TypeInfo] mark classes as experimental
  src/Symfony/Component/TypeInfo/CHANGELOG.md
  src/Symfony/Component/TypeInfo/Exception/ExceptionInterface.php
  src/Symfony/Component/TypeInfo/Exception/InvalidArgumentException.php
  src/Symfony/Component/TypeInfo/Exception/LogicException.php
  src/Symfony/Component/TypeInfo/Exception/RuntimeException.php
  src/Symfony/Component/TypeInfo/Exception/UnsupportedException.php
  src/Symfony/Component/TypeInfo/README.md
  src/Symfony/Component/TypeInfo/Type.php
  src/Symfony/Component/TypeInfo/Type/BackedEnumType.php
  src/Symfony/Component/TypeInfo/Type/BuiltinType.php
  src/Symfony/Component/TypeInfo/Type/CollectionType.php
  src/Symfony/Component/TypeInfo/Type/EnumType.php
  src/Symfony/Component/TypeInfo/Type/GenericType.php
  src/Symfony/Component/TypeInfo/Type/IntersectionType.php
  src/Symfony/Component/TypeInfo/Type/ObjectType.php
  src/Symfony/Component/TypeInfo/Type/TemplateType.php
  src/Symfony/Component/TypeInfo/Type/UnionType.php
  src/Symfony/Component/TypeInfo/TypeContext/TypeContext.php
  src/Symfony/Component/TypeInfo/TypeContext/TypeContextFactory.php
  src/Symfony/Component/TypeInfo/TypeFactoryTrait.php
  src/Symfony/Component/TypeInfo/TypeIdentifier.php
  src/Symfony/Component/TypeInfo/TypeResolver/TypeResolver.php
  src/Symfony/Component/TypeInfo/TypeResolver/TypeResolverInterface.php
Labels: Status: Reviewed, TypeInfo

#54789 [PropertyInfo] remove deprecations, mark TypeInfo as experimental
  UPGRADE-7.1.md
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/Extractor/ConstructorExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/PropertyInfoCacheExtractor.php
  src/Symfony/Component/PropertyInfo/PropertyInfoExtractor.php
  src/Symfony/Component/PropertyInfo/PropertyTypeExtractorInterface.php
  src/Symfony/Component/PropertyInfo/Type.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
Labels: Status: Reviewed, PropertyInfo

#54670 [TypeInfo] Ease getting base type on nullable types
  src/Symfony/Component/TypeInfo/Tests/Type/BackedEnumTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/BuiltinTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/CollectionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/EnumTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/GenericTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/IntersectionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/ObjectTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/UnionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeTest.php
  src/Symfony/Component/TypeInfo/Type/CompositeTypeTrait.php
  src/Symfony/Component/TypeInfo/Type/IntersectionType.php
  src/Symfony/Component/TypeInfo/Type/UnionType.php
Labels: Status: Reviewed, :snowflake: Feature Freeze, TypeInfo

#54674 [FrameworkBundle] revert implementing LoggerAwareInterface in HTTP client decorators
  src/Symfony/Component/HttpClient/CachingHttpClient.php
  src/Symfony/Component/HttpClient/EventSourceHttpClient.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/ThrottlingHttpClient.php
  src/Symfony/Component/HttpClient/UriTemplateHttpClient.php
Labels: FrameworkBundle, Status: Reviewed, :snowflake: Feature Freeze

#54720 [Routing] Add `{foo:bar}` syntax to define a mapping between a route parameter and its corresponding request attribute
  src/Symfony/Component/HttpKernel/EventListener/RouterListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/RouterListenerTest.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Matcher/UrlMatcher.php
  src/Symfony/Component/Routing/Route.php
  src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php
Labels: Feature, Routing, Status: Reviewed

#52820 [DependencyInjection] Add `#[AutowireInline]` attribute to allow service definition at the class level
  src/Symfony/Component/DependencyInjection/Attribute/AutowireCallable.php
  src/Symfony/Component/DependencyInjection/Attribute/AutowireInline.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveAutowireInlineAttributesPass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Attribute/AutowireInlineTest.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveAutowireInlineAttributesPassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/PhpDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_80.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/inline_adapter_consumer.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/lazy_autowire_attribute.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/lazy_autowire_attribute_with_intersection.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_deep_graph.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_non_shared_duplicates.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_rot13_env.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_service_locator_argument.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_subscriber.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services_tsantos.php
Labels: DependencyInjection, Ready, Status: Reviewed, :snowflake: Feature Freeze

#54455 [DoctrineBridge] Deprecate auto-mapping of entities in favor of mapped route parameters
  src/Symfony/Bridge/Doctrine/ArgumentResolver/EntityValueResolver.php
  src/Symfony/Bridge/Doctrine/Attribute/MapEntity.php
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Tests/ArgumentResolver/EntityValueResolverTest.php
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadata.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactory.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/ControllerMetadata/ArgumentMetadataFactoryTest.php
Labels: Feature, Status: Reviewed, DoctrineBridge

#54802 [Filesystem] Run high-deps tests with Process 7
  src/Symfony/Component/Filesystem/composer.json
Labels: Filesystem, Status: Reviewed

#54666 [DependencyInjection] Reset env vars when resetting the container
  UPGRADE-7.1.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/secrets.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Container.php
  src/Symfony/Component/DependencyInjection/EnvVarProcessor.php
  src/Symfony/Component/DependencyInjection/StaticEnvVarLoader.php
  src/Symfony/Component/DependencyInjection/Tests/EnvVarProcessorTest.php
  src/Symfony/Component/DependencyInjection/Tests/StaticEnvVarLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#54606 [Messenger] Messenger: avoid DELETE statement flood when using Doctrine+MySQL backend
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#54808 [TwigBundle] Remove obsolete class_exists() call
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configurator/EnvironmentConfigurator.php
Labels: TwigBundle, Status: Reviewed

#54804 [Serializer] separate the property info and write info extractors
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#54809 JoliCode is sponsoring Symfony 7.1, thanks to them! \o/
  README.md
Labels: Status: Needs Review

#54806 [HttpClient]  deprecate setLogger() methods of decorating clients
  UPGRADE-7.1.md
  src/Symfony/Component/HttpClient/CHANGELOG.md
  src/Symfony/Component/HttpClient/NoPrivateNetworkHttpClient.php
  src/Symfony/Component/HttpClient/ScopingHttpClient.php
  src/Symfony/Component/HttpClient/TraceableHttpClient.php
Labels: Status: Reviewed, Deprecation, HttpClient

#54669 [TypeInfo] rework isA to handle class names and improve isNullable
  src/Symfony/Component/TypeInfo/Tests/Type/BackedEnumTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/BuiltinTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/CollectionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/EnumTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/GenericTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/ObjectTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeTest.php
  src/Symfony/Component/TypeInfo/Type.php
  src/Symfony/Component/TypeInfo/Type/BuiltinType.php
  src/Symfony/Component/TypeInfo/Type/CollectionType.php
  src/Symfony/Component/TypeInfo/Type/CompositeTypeTrait.php
  src/Symfony/Component/TypeInfo/Type/GenericType.php
  src/Symfony/Component/TypeInfo/Type/ObjectType.php
  src/Symfony/Component/TypeInfo/Type/TemplateType.php
Labels: Status: Reviewed, :snowflake: Feature Freeze, TypeInfo

#54810 [TwigBundle] Fix deprecation warnings about base_template_class
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/php/templateClass.php
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/extra.xml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/xml/templateClass.xml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/yml/full.yml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/Fixtures/yml/templateClass.yml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/TwigExtensionTest.php
Labels: Bug, TwigBundle, Status: Needs Review

#54812 [Security] SymfonyCasts is backing the security components for v7.1, thanks to them! \o/
  src/Symfony/Component/Security/Core/README.md
  src/Symfony/Component/Security/Csrf/README.md
  src/Symfony/Component/Security/Http/README.md
Labels: Security, Status: Needs Review

#54814 [DoctrineBridge] fix test
  src/Symfony/Bridge/Doctrine/ArgumentResolver/EntityValueResolver.php
Labels: Status: Needs Review, DoctrineBridge

#54815 add missing deprecation contracts dependency
  src/Symfony/Component/HttpClient/composer.json
Labels: Bug, Status: Needs Review

#54816 [Cache] Fix support for predis/predis:^2.0
  composer.json
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Cache/composer.json
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Handler/PredisClusterSessionHandlerTest.php
  src/Symfony/Component/HttpFoundation/composer.json
  src/Symfony/Component/Lock/composer.json
  src/Symfony/Component/Semaphore/composer.json
Labels: Bug, Status: Needs Review, Cache

#54820 Release v7.1.0-BETA1
  CHANGELOG-7.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#54828 [Serializer] Fix `GetSetMethodNormalizer` not working with setters with optional args
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#54832 [DependencyInjection] remove no longer needed PHP version check
  src/Symfony/Component/DependencyInjection/LazyProxy/PhpDumper/LazyServiceDumper.php
Labels: DependencyInjection, Status: Reviewed

#54830 [HttpClient] Fix cURL default options for PHP 8.4
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, Status: Reviewed, HttpClient

#54834 [Validator] Check `Locale` class existence before using it
  src/Symfony/Component/Validator/Test/ConstraintValidatorTestCase.php
Labels: Validator, Bug, Status: Reviewed

#54839 Fix exception thrown during `LDAP_MODIFY_BATCH_REMOVE_ALL` batch operations
  src/Symfony/Component/Ldap/Adapter/ExtLdap/UpdateOperation.php
  src/Symfony/Component/Ldap/Tests/Adapter/ExtLdap/LdapManagerTest.php
Labels: Bug, Status: Reviewed

#54824 Fix various warnings across components test suite
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/AbstractWebTestCase.php
  src/Symfony/Component/DependencyInjection/Tests/Config/ContainerParametersResourceCheckerTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Generator/Dumper/CompiledUrlGeneratorDumperTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/CallbacksTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/CircularReferenceTestTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/Features/SkipUninitializedValuesTestTrait.php
Labels: Bug, Status: Reviewed

#54837 [Mailer] [Sendgrid] Use `DataPart::getContentId()` when `DataPart::setContentId()` is used
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
Labels: Bug, Status: Reviewed, Mailer

#54838 [WebProfilerBundle] Fix assignment to constant variable
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#54842 [Messenger] Don't drop stamps when message validation fails
  src/Symfony/Component/Messenger/Exception/DelayedMessageHandlingException.php
  src/Symfony/Component/Messenger/Exception/EnvelopeAwareExceptionInterface.php
  src/Symfony/Component/Messenger/Exception/EnvelopeAwareExceptionTrait.php
  src/Symfony/Component/Messenger/Exception/HandlerFailedException.php
  src/Symfony/Component/Messenger/Exception/ValidationFailedException.php
  src/Symfony/Component/Messenger/Middleware/ValidationMiddleware.php
  src/Symfony/Component/Messenger/Tests/FailureIntegrationTest.php
  src/Symfony/Component/Messenger/Worker.php
Labels: Bug, Status: Reviewed, Messenger

#54844 [Validator] Update translation for Dutch (nl)
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
Labels: Validator, Status: Reviewed

#54857 [Messenger] Fix missing import
  src/Symfony/Component/Messenger/Tests/FailureIntegrationTest.php
Labels: Bug, Status: Reviewed, Messenger

#54850 [VarExporter] fix `ProxyHelper::generateLazyProxy()` when a method returns null
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
  src/Symfony/Component/VarDumper/Tests/Fixtures/Php82NullStandaloneReturnType.php
  src/Symfony/Component/VarExporter/ProxyHelper.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyProxy/Php82NullStandaloneReturnType.php
  src/Symfony/Component/VarExporter/Tests/ProxyHelperTest.php
Labels: Bug, Status: Reviewed, VarExporter

#54859 [Messenger] Don't mark `EnvelopeAwareExceptionInterface` internal
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Exception/EnvelopeAwareExceptionInterface.php
Labels: Feature, Status: Reviewed, Messenger

#54858 [PasswordHasher] Make bcrypt nul byte hash test tolerant to PHP related failures
  src/Symfony/Component/PasswordHasher/Tests/Hasher/NativePasswordHasherTest.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/SodiumPasswordHasherTest.php
Labels: Bug, Status: Reviewed, PasswordHasher

#54884 replace wurstmeister Docker images for Kafka and Zookeeper
  .github/workflows/integration-tests.yml
Labels: Status: Reviewed

#54860 [HttpClient] Revert fixing curl default options
  src/Symfony/Component/HttpClient/Response/CurlResponse.php
Labels: Bug, Status: Reviewed, HttpClient

#54908 [DependencyInjection] Fix "Cannot replace arguments" errors caused by ResolveAutowireInlineAttributesPass
  src/Symfony/Component/DependencyInjection/Compiler/ResolveAutowireInlineAttributesPass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveAutowireInlineAttributesPassTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#54906 PHP 8.4 nullability deprecation
  src/Symfony/Component/Validator/Validation.php
  src/Symfony/Contracts/HttpClient/Test/TestHttpServer.php
Labels: Bug, Status: Reviewed

#54863 [Process] Return `false` when `open_basedir` prevents access to `/dev/tty`
  src/Symfony/Component/Process/Process.php
Labels: Bug, Process, Status: Reviewed

#54930 [PropertyInfo] remove no longer needed deprecation contracts
  src/Symfony/Component/PropertyInfo/composer.json
Labels: Status: Reviewed, PropertyInfo

#54909 [HttpFoundation] add test for JSON response with null as content
  src/Symfony/Component/HttpFoundation/Tests/JsonResponseTest.php
Labels: HttpFoundation, Status: Reviewed

#54745 Remove calls to `getMockForAbstractClass()`
  src/Symfony/Bridge/Doctrine/Tests/Security/User/EntityUserProviderTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Security/Factory/AbstractFactoryTest.php
  src/Symfony/Component/Config/Tests/Definition/BaseNodeTest.php
  src/Symfony/Component/Console/Tests/Question/QuestionTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/Proxy/AbstractProxyTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/TestSessionListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/RoutableFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/Mailer/Tests/Transport/Smtp/SmtpTransportTest.php
  src/Symfony/Component/Routing/Tests/Loader/AbstractAnnotationLoaderTestCase.php
  src/Symfony/Component/Routing/Tests/Matcher/RedirectableUrlMatcherTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/UserAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/AccessDecisionManagerTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/TraceableVoterTest.php
  src/Symfony/Component/Security/Core/Tests/User/ChainUserProviderTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AbstractPreAuthenticatedListenerTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/AbstractRememberMeServicesTest.php
  src/Symfony/Component/Templating/Tests/DelegatingEngineTest.php
  src/Symfony/Component/Validator/Tests/Constraints/UuidValidatorTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/FilesLoaderTest.php
Labels: Config, Status: Reviewed

#54785 Remove calls to `TestCase::iniSet()` and calls to deprecated methods of `MockBuilder`
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/MockableRepository.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/HttpKernelExtensionTest.php
  src/Symfony/Bridge/Twig/Tests/Extension/RuntimeLoaderProvider.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/Fixtures/MockableAppliationWithTerminalWidth.php
  src/Symfony/Component/Form/Test/Traits/ValidatorExtensionTrait.php
  src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/NativeSessionStorageTest.php
  src/Symfony/Component/HttpFoundation/Tests/Session/Storage/PhpBridgeSessionStorageTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/ErrorListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/KernelForTestWithLoadClassCache.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/MockableUploadFileWithClientSize.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/FragmentHandlerTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/InlineFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpKernelBrowserTest.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
  src/Symfony/Component/HttpKernel/Tests/UriSignerTest.php
  src/Symfony/Component/Process/Tests/ExecutableFinderTest.php
  src/Symfony/Component/Routing/Tests/Loader/ObjectLoaderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Provider/UserAuthenticationProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Fixtures/MockableUsernamePasswordTokenWithRoles.php
  src/Symfony/Component/Security/Csrf/Tests/TokenGenerator/UriSafeTokenGeneratorTest.php
  src/Symfony/Component/Security/Guard/Tests/GuardAuthenticatorHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
  src/Symfony/Component/VarDumper/Tests/Command/Descriptor/HtmlDescriptorTest.php
Labels: Status: Reviewed

#54835 [DoctrineBridge]  fix setting validated fields not using the options array
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntity.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#54925 [VarDumper]  adapt namespace changes for new DOM extension classes
  src/Symfony/Component/VarDumper/Caster/DOMCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Caster/DOMCasterTest.php
Labels: Bug, VarDumper, Status: Reviewed

#54888 [String] Fix folded in compat mode
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
Labels: Bug, Feature, Status: Needs Review, String

#54919 [ErrorHandler] Do not call xdebug_get_function_stack() with xdebug >= 3.0 when not in develop mode
  src/Symfony/Component/ErrorHandler/Error/FatalError.php
Labels: Bug, Status: Needs Review, ErrorHandler

#54807 [TwigBridge][WebProfilerBundle] Require Twig 3.10
  composer.json
  src/Symfony/Bridge/Twig/Node/TransNode.php
  src/Symfony/Bridge/Twig/Tests/Node/TransNodeTest.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/WebProfilerBundle/Twig/WebProfilerExtension.php
  src/Symfony/Bundle/WebProfilerBundle/composer.json
Labels: WebProfilerBundle, Status: Reviewed, TwigBridge

#54934 [Security] add missing plural translation messages
  .github/workflows/integration-tests.yml
  src/Symfony/Component/Security/Core/Resources/translations/security.af.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.ar.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.az.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.be.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.bg.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.bs.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.ca.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.cs.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.cy.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.da.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.de.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.el.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.en.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.es.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.et.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.eu.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.fa.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.fi.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.fr.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.gl.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.he.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.hr.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.hu.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.hy.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.id.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.it.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.ja.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.lb.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.lt.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.lv.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.mk.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.mn.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.my.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.nb.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.nl.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.nn.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.no.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.pl.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.pt.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.pt_BR.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.ro.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.ru.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.sk.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.sl.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.sq.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.sr_Cyrl.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.sr_Latn.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.sv.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.th.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.tl.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.tr.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.uk.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.ur.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.uz.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.vi.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.zh_CN.xlf
  src/Symfony/Component/Security/Core/Resources/translations/security.zh_TW.xlf
Labels: Security, Bug, Status: Reviewed

#54924 [Validator] IBAN Check digits should always between 2 and 98
  src/Symfony/Component/Validator/Constraints/IbanValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/IbanValidatorTest.php
Labels: Validator, Bug, Status: Reviewed

#54878 [Filesystem] Fix dumpFile `stat failed` error hitting custom handler
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: Filesystem, Status: Reviewed

#54797 [PhpUnitBridge] Fix `DeprecationErrorHandler` with PhpUnit 10
  src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php
Labels: Bug, PhpUnitBridge, Status: Needs Review

#54941 Les-Tilleuls.coop is sponsoring Symfony 7.1, thanks to them! \o/
  README.md
Labels: Status: Needs Review

#54913 [Serializer] Fix CurrentType for missing property
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Reviewed

#54960 [Serializer] add missing deprecation contracts dependency
  src/Symfony/Component/Serializer/composer.json
Labels: Serializer, Bug, Status: Needs Review

#54851 [Serializer] Fixed "Warning: Attempt to read property "value" on string"
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#54694 [PropertyInfo] Update DoctrineExtractor for new DBAL 4 BIGINT type
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
Labels: Bug, Status: Reviewed, PropertyInfo

#49186 [Serializer] Improve exception message in UnwrappingDenormalizer
  src/Symfony/Component/Serializer/Context/Normalizer/UnwrappingDenormalizerContextBuilder.php
Labels: Serializer, Status: Reviewed

#54970 [DependencyInjection] Process PHP configs using the ContainerConfigurator
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/config_builder_env_configurator.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Needs Review

#54976 Release v7.1.0-RC1
  CHANGELOG-7.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#54985 [Security] Reviewed Polish translation of key 20
  src/Symfony/Component/Security/Core/Resources/translations/security.pl.xlf
Labels: Security, Status: Needs Review

#56822 [Security] review: RU translation
  src/Symfony/Component/Security/Core/Resources/translations/security.ru.xlf
Labels: Security, Status: Needs Review

#56488 [VarExporter] Fix exporting default values involving global constants
  src/Symfony/Component/VarExporter/ProxyHelper.php
  src/Symfony/Component/VarExporter/Tests/ProxyHelperTest.php
Labels: Bug, Status: Reviewed, VarExporter

#56826 [Security] reviewed Latvian translation of key 20
  src/Symfony/Component/Security/Core/Resources/translations/security.lv.xlf
Labels: Security, Status: Needs Review

#55029 Review Indonesian (id) translation
  src/Symfony/Component/Security/Core/Resources/translations/security.id.xlf
Labels: Status: Needs Review

#54977 [DependencyInjection] Fix prepending strategy for php config loader
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/config_builder.expected.yml
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/config_builder.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/nested_config_builder.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#56827 Fix CharsetValidator with string encoding
  src/Symfony/Component/Validator/Constraints/CharsetValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/CharsetValidatorTest.php
Labels: Bug, Status: Reviewed

#54979 [Cache] Fix irrelevant deprecation when connecting to Couchbase
  src/Symfony/Component/Cache/Adapter/AbstractAdapter.php
  src/Symfony/Component/Cache/Tests/Adapter/CouchbaseCollectionAdapterTest.php
Labels: Bug, Status: Reviewed, Cache

#54971 [Serializer] Cache readability/writability computation
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
Labels: Serializer, Bug, Status: Reviewed

#56831 [SecurityBundle] Use %container.build_hash% instead of %kernel.secret% with the rate-limiter
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
Labels: SecurityBundle, Status: Reviewed

#54968 Reviewed translation for French (fr)
  src/Symfony/Component/Security/Core/Resources/translations/security.fr.xlf
Labels: Status: Reviewed

#56847 [Security] Reviewed Ukrainian translation of key 20
  src/Symfony/Component/Security/Core/Resources/translations/security.uk.xlf
Labels: Security, Status: Reviewed

#56839 [HttpKernel] Clarify deprecations around annotated classes
  UPGRADE-7.1.md
  src/Symfony/Component/HttpKernel/CHANGELOG.md
Labels: HttpKernel, Status: Reviewed

#56838 [Security] Deprecate argument $secret of RememberMeToken and RememberMeAuthenticator
  UPGRADE-7.2.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/RememberMeFactory.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator_remember_me.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Core/Authentication/Token/RememberMeToken.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authentication/AuthenticationTrustResolverTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/RememberMeTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/ExpressionLanguageTest.php
  src/Symfony/Component/Security/Core/Tests/Authorization/Voter/AuthenticatedVoterTest.php
  src/Symfony/Component/Security/Core/composer.json
  src/Symfony/Component/Security/Http/Authenticator/RememberMeAuthenticator.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Tests/Authenticator/RememberMeAuthenticatorTest.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Status: Reviewed, Deprecation

#56848 [DoctrineBridge] Undeprecate DoctrineExtractor::getTypes()
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#56840 [SecurityBundle] Allow configuring the secret used to sign login links
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginLinkFactory.php
Labels: SecurityBundle, Status: Reviewed

#54869 [HttpFoundation] inline variable
  src/Symfony/Component/HttpFoundation/Request.php
Labels: HttpFoundation, Status: Reviewed

#54854 [Stopwatch] Add `ROOT` constant to make it easier to reference
  src/Symfony/Component/Stopwatch/CHANGELOG.md
  src/Symfony/Component/Stopwatch/Stopwatch.php
Labels: Feature, Stopwatch, Status: Reviewed

#54756 [Notifier] [Bluesky] Allow to attach image
  src/Symfony/Component/Notifier/Bridge/Bluesky/BlueskyOptions.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/BlueskyTransport.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Bluesky/Tests/BlueskyTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/Tests/fixtures.gif
  src/Symfony/Component/Notifier/Bridge/Bluesky/composer.json
Labels: Feature, Status: Reviewed, Notifier

#54678 [FrameworkBundle] Add support for setting `headers` with `TemplateController`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Controller/TemplateController.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Controller/TemplateControllerTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#56869 [Security] Reviewed Greek translation of key 20
  src/Symfony/Component/Security/Core/Resources/translations/security.el.xlf
Labels: Security, Status: Needs Review

#56833 [Security] Fix Croatian translation
  src/Symfony/Component/Security/Core/Resources/translations/security.hr.xlf
Labels: Security, Bug, Status: Needs Review

#56878 [VarExporter] Fix test expectation
  src/Symfony/Component/VarExporter/Tests/ProxyHelperTest.php
Labels: Bug, Status: Needs Review, VarExporter

#56884 update the default branch for scorecards
  .github/workflows/scorecards.yml
Labels: Status: Needs Review

#57070 [Cache] sync Relay proxy
  src/Symfony/Component/Cache/Traits/RelayProxy.php
Labels: Status: Reviewed, Cache

#57105 remove empty PHP file
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/SignatureAlgorithmFactory.php
Labels: Status: Needs Review

#57106 [SecurityBundle][TwigBundle] use constructor property promotion
  src/Symfony/Bundle/SecurityBundle/CacheWarmer/ExpressionCacheWarmer.php
  src/Symfony/Bundle/SecurityBundle/Command/DebugFirewallCommand.php
  src/Symfony/Bundle/SecurityBundle/DataCollector/SecurityDataCollector.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.php
  src/Symfony/Bundle/SecurityBundle/EventListener/FirewallListener.php
  src/Symfony/Bundle/SecurityBundle/EventListener/VoteListener.php
  src/Symfony/Bundle/SecurityBundle/RememberMe/DecoratedRememberMeHandler.php
  src/Symfony/Bundle/SecurityBundle/Security/FirewallContext.php
  src/Symfony/Bundle/SecurityBundle/Security/FirewallMap.php
  src/Symfony/Bundle/SecurityBundle/Security/LazyFirewallContext.php
  src/Symfony/Bundle/TwigBundle/CacheWarmer/TemplateCacheWarmer.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Configurator/EnvironmentConfigurator.php
  src/Symfony/Bundle/TwigBundle/TemplateIterator.php
  src/Symfony/Contracts/Service/ServiceLocatorTrait.php
Labels: TwigBundle, SecurityBundle, Status: Reviewed

#57109 [Notifier] keep boolean options when their value is false
  src/Symfony/Component/Notifier/Bridge/Slack/SlackTransport.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackTransportTest.php
Labels: Bug, Status: Reviewed, Notifier

#57099 [Notifier] use a clock to create datetime instances
  src/Symfony/Component/Notifier/Bridge/Bluesky/BlueskyTransport.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/Tests/BlueskyTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Bluesky/composer.json
  src/Symfony/Component/Notifier/Bridge/Ntfy/NtfyOptions.php
  src/Symfony/Component/Notifier/Bridge/Ntfy/composer.json
  src/Symfony/Component/Notifier/Bridge/PagerDuty/PagerDutyOptions.php
  src/Symfony/Component/Notifier/Bridge/PagerDuty/composer.json
  src/Symfony/Component/Notifier/Bridge/Smsbox/SmsboxOptions.php
  src/Symfony/Component/Notifier/Bridge/Smsbox/composer.json
Labels: Feature, Status: Reviewed, Notifier

#57069 [Config] gracefully handle cases when no resolver is set
  src/Symfony/Component/Config/Exception/LogicException.php
  src/Symfony/Component/Config/Loader/Loader.php
  src/Symfony/Component/Config/Tests/Loader/LoaderTest.php
  src/Symfony/Component/Routing/Exception/LogicException.php
  src/Symfony/Component/Routing/Loader/AttributeClassLoader.php
  src/Symfony/Component/Routing/Tests/Loader/AttributeClassLoaderTest.php
Labels: Bug, Config, Status: Reviewed

#57073 [AssetMapper][FrameworkBundle] Do not require `http_client` service
  src/Symfony/Bundle/FrameworkBundle/Resources/config/asset_mapper.php
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapUpdateChecker.php
Labels: Bug, FrameworkBundle, Status: Reviewed, AssetMapper

#56985 [FrameworkBundle] Derivate `kernel.secret` from the decryption secret when its env var is not defined
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/secrets.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/SodiumVault.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Secrets/SodiumVaultTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#57191 [VarDumper] Fix generator dump on PHP 8.4
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
Labels: Bug, VarDumper, Status: Needs Review

#57199 [VarDumper] fix tests
  src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php
Labels: VarDumper, Status: Needs Review

#57201 [Cache] fix integration tests
  phpunit.xml.dist
  src/Symfony/Component/Cache/phpunit.xml.dist
Labels: Status: Needs Review

#57065 [Mime] Fixed `Mime\Message::ensureValidity()` when a required header is set, but has an empty body
  src/Symfony/Component/Mime/Message.php
  src/Symfony/Component/Mime/Tests/MessageTest.php
Labels: Bug, Status: Needs Review, Mime

#57228 [Mime] fix PHP 7 compatibility
  src/Symfony/Component/Mime/Message.php
Labels: Bug, Status: Reviewed, Mime

#54572 [Mailer] Fix sendmail transport failure handling and interactive mode
  src/Symfony/Component/Mailer/Tests/Transport/Fixtures/fake-failing-sendmail.php
  src/Symfony/Component/Mailer/Tests/Transport/SendmailTransportTest.php
  src/Symfony/Component/Mailer/Transport/SendmailTransport.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/ProcessStream.php
Labels: Bug, Status: Reviewed, Mailer

#57248 [DoctrineBridge] Revert deprecating by-{id} mapping of entities
  src/Symfony/Bridge/Doctrine/ArgumentResolver/EntityValueResolver.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#57242 Add missing UPGRADE notes for 7.1
  UPGRADE-7.1.md
  src/Symfony/Component/ExpressionLanguage/ExpressionLanguage.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/PropertyInfo/Extractor/ConstructorArgumentTypeExtractorInterface.php
  src/Symfony/Component/PropertyInfo/PropertyInfoCacheExtractor.php
Labels: Status: Reviewed

#57101 [Translation] Add `lint:translations` command
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/Command/TranslationLintCommand.php
  src/Symfony/Component/Translation/Tests/Command/TranslationLintCommandTest.php
Labels: Feature, Translation, Status: Reviewed, Deprecation

#57226 [DoctrineBridge][MonologBridge][TwigBridge] use constructor property promotion
  src/Symfony/Bridge/Doctrine/ContainerAwareEventManager.php
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterMappingsPass.php
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmExtension.php
  src/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.php
  src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php
  src/Symfony/Bridge/Doctrine/Messenger/AbstractDoctrineMiddleware.php
  src/Symfony/Bridge/Doctrine/Validator/DoctrineInitializer.php
  src/Symfony/Bridge/Monolog/Handler/ConsoleHandler.php
  src/Symfony/Bridge/Monolog/Handler/ElasticsearchLogstashHandler.php
  src/Symfony/Bridge/Monolog/Handler/MailerHandler.php
  src/Symfony/Bridge/Monolog/Handler/NotifierHandler.php
  src/Symfony/Bridge/Monolog/Processor/ConsoleCommandProcessor.php
  src/Symfony/Bridge/Monolog/Processor/DebugProcessor.php
  src/Symfony/Bridge/Monolog/Processor/RouteProcessor.php
  src/Symfony/Bridge/Twig/Node/DumpNode.php
Labels: MonologBridge, Status: Reviewed, DoctrineBridge, TwigBridge

#56876 [Security] Reviewed Romanian translation
  src/Symfony/Component/Security/Core/Resources/translations/security.ro.xlf
Labels: Security, Status: Needs Review

#54894 [PropertyInfo] Adds static cache to `PhpStanExtractor`
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/PhpStan/NameScopeFactory.php
Labels: Status: Reviewed, PropertyInfo, Performance

#54975 [Mime] Support custom encoders in mime parts
  src/Symfony/Component/Mime/Part/TextPart.php
  src/Symfony/Component/Mime/Tests/Part/TextPartTest.php
Labels: Feature, Status: Reviewed, Mime

#54747 [Notifier] Add Primotexto bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Primotexto/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Primotexto/.gitignore
  src/Symfony/Component/Notifier/Bridge/Primotexto/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Primotexto/LICENSE
  src/Symfony/Component/Notifier/Bridge/Primotexto/PrimotextoErrorCode.php
  src/Symfony/Component/Notifier/Bridge/Primotexto/PrimotextoOptions.php
  src/Symfony/Component/Notifier/Bridge/Primotexto/PrimotextoTransport.php
  src/Symfony/Component/Notifier/Bridge/Primotexto/PrimotextoTransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Primotexto/README.md
  src/Symfony/Component/Notifier/Bridge/Primotexto/Tests/PrimotextoOptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Primotexto/Tests/PrimotextoTransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Primotexto/Tests/PrimotextoTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Primotexto/composer.json
  src/Symfony/Component/Notifier/Bridge/Primotexto/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#54757 [ExpressionLanguage] Support non-existent names when followed by null coalescing
  src/Symfony/Component/ExpressionLanguage/CHANGELOG.md
  src/Symfony/Component/ExpressionLanguage/Node/NullCoalescedNameNode.php
  src/Symfony/Component/ExpressionLanguage/Parser.php
  src/Symfony/Component/ExpressionLanguage/Tests/ExpressionLanguageTest.php
  src/Symfony/Component/ExpressionLanguage/Tests/Node/NullCoalescedNameNodeTest.php
Labels: Feature, ExpressionLanguage, Status: Reviewed

#54737 [Notifier] [Slack] Add button block element and `emoji`/`verbatim` options to section block
  src/Symfony/Component/Notifier/Bridge/Slack/Block/SlackActionsBlock.php
  src/Symfony/Component/Notifier/Bridge/Slack/Block/SlackButtonBlockElement.php
  src/Symfony/Component/Notifier/Bridge/Slack/Block/SlackSectionBlock.php
  src/Symfony/Component/Notifier/Bridge/Slack/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/Block/SlackSectionBlockTest.php
  src/Symfony/Component/Notifier/Bridge/Slack/Tests/SlackOptionsTest.php
Labels: Feature, Status: Reviewed, Notifier

#54679 [TypeInfo] Proxies methods to non-nullable and fail gracefully
  src/Symfony/Component/TypeInfo/Tests/Type/CollectionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/GenericTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/Type/UnionTypeTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeTest.php
  src/Symfony/Component/TypeInfo/Type.php
  src/Symfony/Component/TypeInfo/Type/UnionType.php
Labels: Feature, Status: Reviewed, TypeInfo

#57253 Release v7.1.0
  CHANGELOG-7.1.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#57256 [Mailer] fix test
  src/Symfony/Component/Mailer/Tests/Transport/SendmailTransportTest.php
  src/Symfony/Component/Mailer/Transport/Smtp/Stream/ProcessStream.php
Labels: Status: Needs Review, Mailer

#57188 [DoctrineBridge] Fix `UniqueEntityValidator` with proxy object
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/SingleIntIdWithPrivateNameEntity.php
  src/Symfony/Bridge/Doctrine/Tests/Validator/Constraints/UniqueEntityValidatorTest.php
  src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#57197 [Serializer] Fix denormalizing a collection of union types
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#57263 [SecurityBundle] Fix `container.build_hash` parameter binding
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LoginThrottlingFactory.php
Labels: Bug, SecurityBundle, Status: Reviewed

#57260 [Mime] fix test
  src/Symfony/Component/Mime/Tests/Part/TextPartTest.php
Labels: Status: Needs Review, Mime

#57272 Remove subtree split checks
  src/Symfony/Component/Emoji/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Emoji/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/Mailer/Bridge/Azure/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Mailer/Bridge/Azure/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/Mailer/Bridge/Resend/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Mailer/Bridge/Resend/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/Notifier/Bridge/Bluesky/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Notifier/Bridge/Bluesky/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/Notifier/Bridge/Lox24/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Notifier/Bridge/Lox24/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/Notifier/Bridge/Pushy/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Notifier/Bridge/Pushy/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/Notifier/Bridge/Sevenio/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Notifier/Bridge/Sevenio/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/Notifier/Bridge/SmsSluzba/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Notifier/Bridge/SmsSluzba/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/Notifier/Bridge/Smsbox/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Notifier/Bridge/Smsbox/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/Notifier/Bridge/Smsense/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Notifier/Bridge/Smsense/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/Notifier/Bridge/Unifonic/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Notifier/Bridge/Unifonic/.github/workflows/check-subtree-split.yml
  src/Symfony/Component/TypeInfo/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/TypeInfo/.github/workflows/check-subtree-split.yml
Labels: Status: Needs Review

#57271 [Notifier] [Slack] Add README examples about button block element and emoji/verbatim options
  src/Symfony/Component/Notifier/Bridge/Slack/README.md
Labels: Status: Reviewed, Notifier
