Repository symfony/symfony, pull requests merged in 2024-04, with the labels that each got.

#54400 [HttpClient] stop all server processes after tests have run
  src/Symfony/Component/HttpClient/Tests/DataCollector/HttpClientDataCollectorTest.php
  src/Symfony/Component/HttpClient/Tests/HttplugClientTest.php
  src/Symfony/Component/HttpClient/Tests/Psr18ClientTest.php
  src/Symfony/Component/HttpClient/Tests/RetryableHttpClientTest.php
  src/Symfony/Component/HttpClient/Tests/TraceableHttpClientTest.php
  src/Symfony/Component/HttpClient/composer.json
  src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php
  src/Symfony/Contracts/HttpClient/Test/TestHttpServer.php
  src/Symfony/Contracts/composer.json
Labels: Status: Reviewed, HttpClient

#54451 [HttpClient]  fix contracts constraint
  src/Symfony/Component/HttpClient/composer.json
Labels: Status: Needs Review, HttpClient

#54462 Release v5.4.38
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#54466 Release v6.4.6
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#54468 [Translation] Fix LocaleSwitcher throws when intl not loaded
  src/Symfony/Component/Translation/LocaleSwitcher.php
Labels: Bug, Translation, Status: Reviewed

#54441 [Emoji] Add the gitlab locale
  src/Symfony/Component/Emoji/CHANGELOG.md
  src/Symfony/Component/Emoji/EmojiTransliterator.php
  src/Symfony/Component/Emoji/Resources/bin/Makefile
  src/Symfony/Component/Emoji/Resources/bin/build.php
  src/Symfony/Component/Emoji/Resources/data/emoji-gitlab.php
  src/Symfony/Component/Emoji/Resources/data/gitlab-emoji.php
  src/Symfony/Component/Emoji/Tests/EmojiTransliteratorTest.php
Labels: Feature, Status: Reviewed, :snowflake: Feature Freeze, Emoji

#53682 [Security] Support RSA algorithm signature for OIDC tokens
  composer.json
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/SignatureAlgorithmFactory.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator_access_token.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Security/Factory/AccessTokenFactoryTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_oidc.yml
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcTokenHandler.php
  src/Symfony/Component/Security/Http/Tests/AccessToken/Oidc/OidcTokenHandlerTest.php
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Feature, Status: Reviewed, :snowflake: Feature Freeze

#54388 [Filesystem] use local PHP web server to test HTTP stream wrappers
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
  src/Symfony/Component/Filesystem/Tests/Fixtures/web/index.php
  src/Symfony/Component/Filesystem/Tests/Fixtures/web/logo_symfony_header.png
  src/Symfony/Component/Filesystem/composer.json
  src/Symfony/Component/Mime/Tests/Part/DataPartTest.php
Labels: Filesystem, Status: Reviewed

#54460 [Validator] Update internal phpdoc
  src/Symfony/Component/Validator/Context/ExecutionContext.php
  src/Symfony/Component/Validator/Violation/ConstraintViolationBuilder.php
Labels: Validator, Status: Reviewed

#54440 [Console] return null when message with name is not set
  src/Symfony/Component/Console/Helper/ProgressBar.php
  src/Symfony/Component/Console/Tests/Helper/ProgressBarTest.php
Labels: Bug, Console, Status: Reviewed

#54403 [FrameworkBundle] [Command] Fix #54402: Suppress PHP warning when is_readable() tries to access dirs outside of open_basedir restrictions
  src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#54479 [Validator] set the password strength as a violation parameter
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/PasswordStrengthValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/PasswordStrengthValidatorTest.php
Labels: Validator, Feature, Status: Needs Review

#54471 [Filesystem] Strengthen the check of file permissions in `dumpFile`
  src/Symfony/Component/Filesystem/Filesystem.php
Labels: Bug, Filesystem, Status: Needs Review

#54484 [Serializer] reset backed_enum priority, and re-prioritise translatable
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: Serializer, Bug, Status: Reviewed

#54456 [DomCrawler] Encode html entities only if nessecary
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTestCase.php
Labels: Bug, DomCrawler, Status: Reviewed

#54414 [DependencyInjection] Improve the error message when there is no extension to load some configuration
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/UndefinedExtensionHandler.php
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Loader/YamlFileLoader.php
Labels: DependencyInjection, Feature, Status: Reviewed, :snowflake: Feature Freeze

#54487 [Validator] Accept `Stringable` in `ExecutionContext::build/addViolation()`
  src/Symfony/Component/Validator/Context/ExecutionContext.php
Labels: Validator, Bug, Status: Reviewed

#54242 [HttpClient] [EventSourceHttpClient] Fix consuming SSEs with \r\n separator
  src/Symfony/Component/HttpClient/EventSourceHttpClient.php
  src/Symfony/Component/HttpClient/Tests/EventSourceHttpClientTest.php
Labels: Bug, Status: Reviewed, HttpClient

#54408 [Validator] Add a `requireTld` option to `Url` constraint
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Url.php
  src/Symfony/Component/Validator/Constraints/UrlValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlTest.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
Labels: Validator, Feature, Status: Reviewed, :snowflake: Feature Freeze

#53160 [PropertyInfo] Deprecate PropertyInfo Type
  UPGRADE-7.1.md
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
  src/Symfony/Bridge/Doctrine/Validator/DoctrineLoader.php
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/PropertyInfoTest.php
  src/Symfony/Component/PropertyInfo/CHANGELOG.md
  src/Symfony/Component/PropertyInfo/Extractor/ConstructorArgumentTypeExtractorInterface.php
  src/Symfony/Component/PropertyInfo/Extractor/ConstructorExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpDocExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Symfony/Component/PropertyInfo/PropertyInfoCacheExtractor.php
  src/Symfony/Component/PropertyInfo/PropertyInfoExtractor.php
  src/Symfony/Component/PropertyInfo/PropertyTypeExtractorInterface.php
  src/Symfony/Component/PropertyInfo/Tests/AbstractPropertyInfoExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ConstructorExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpDocExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/ReflectionExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/DummyExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/NullExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/PropertyInfoCacheExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/TypeTest.php
  src/Symfony/Component/PropertyInfo/Type.php
  src/Symfony/Component/PropertyInfo/Util/PhpDocTypeHelper.php
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Serializer/Exception/NotNormalizableValueException.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php
  src/Symfony/Component/Serializer/Normalizer/BackedEnumNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/DateTimeZoneNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/UidNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Serializer/composer.json
  src/Symfony/Component/TypeInfo/Tests/TypeFactoryTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/StringTypeResolverTest.php
  src/Symfony/Component/TypeInfo/TypeIdentifier.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
  src/Symfony/Component/TypeInfo/composer.json
  src/Symfony/Component/Validator/Mapping/Loader/PropertyInfoLoader.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/PropertyInfoLoaderTest.php
  src/Symfony/Component/Validator/composer.json
Labels: Status: Reviewed, PropertyInfo, Deprecation, :snowflake: Feature Freeze

#54105 [Messenger] Improve deadlock handling on `ack()` and `reject()`
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrinePostgreSqlIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrinePostgreSqlRegularIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineReceiverTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/DoctrineReceiver.php
Labels: Bug, Status: Reviewed, Messenger

#52986 [HttpFoundation] Similar locale selection
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/HttpFoundation/Tests/RequestTest.php
Labels: Bug, HttpFoundation, Ready, Status: Reviewed

#52511 [ErrorHandler] Do not use hyphens in exception message
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
  src/Symfony/Component/ErrorHandler/Resources/assets/css/exception.css
Labels: Feature, Status: Reviewed, :snowflake: Feature Freeze, ErrorHandler

#54423 [WebProfilerBundle] Update the search links in the profiler layout
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/results.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/search.html.twig
Labels: Feature, WebProfilerBundle, Status: Reviewed, :snowflake: Feature Freeze

#54346 [Serializer] Fix: Report Xml warning/error instead of silently returning a wrong xml
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Serializer, Bug, Status: Reviewed

#54493 [Security] Fix Danish translations
  src/Symfony/Component/Security/Core/Resources/translations/security.da.xlf
Labels: Status: Needs Review

#53968 [Process] allow to ignore signals when executing a process
  src/Symfony/Component/Process/CHANGELOG.md
  src/Symfony/Component/Process/Process.php
  src/Symfony/Component/Process/Tests/ProcessTest.php
Labels: Feature, Process, Status: Reviewed

#54443 [Security] Add support for dynamic CSRF id with Expression in `#[IsCsrfTokenValid]`
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/RegisterCsrfFeaturesPass.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security.php
  src/Symfony/Component/Security/Http/Attribute/IsCsrfTokenValid.php
  src/Symfony/Component/Security/Http/EventListener/IsCsrfTokenValidAttributeListener.php
  src/Symfony/Component/Security/Http/Tests/EventListener/IsCsrfTokenValidAttributeListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/IsCsrfTokenValidAttributeMethodsController.php
Labels: Security, Feature, Status: Reviewed, :snowflake: Feature Freeze

#52698 [Serializer] Fix XML scalar to object denormalization
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#54432 [TwigBridge] Add `emojify` twig filter
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/EmojiExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/EmojiExtensionTest.php
  src/Symfony/Bridge/Twig/UndefinedCallableHandler.php
  src/Symfony/Bridge/Twig/composer.json
  src/Symfony/Bundle/TwigBundle/DependencyInjection/Compiler/ExtensionPass.php
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
  src/Symfony/Bundle/TwigBundle/composer.json
Labels: Feature, Status: Reviewed, TwigBridge, :snowflake: Feature Freeze

#54495 [Process] Don't call sigprocmask if there is no ignored signals
  src/Symfony/Component/Process/Process.php
Labels: Bug, Process, Status: Needs Review

#54481 [DependencyInjection] Document BC break in UPGRADE file
  UPGRADE-7.1.md
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
Labels: DependencyInjection, Status: Reviewed, :snowflake: Feature Freeze

#54504 [HttpClient] fix syntax for PHP 7.2
  src/Symfony/Component/HttpClient/Tests/EventSourceHttpClientTest.php
Labels: Status: Needs Review, HttpClient

#54505 [Serializer]  initialize serializer in trait with null
  src/Symfony/Component/Serializer/SerializerAwareTrait.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#54506 [HttpFoundation] Set content-type header in RedirectResponse
  src/Symfony/Component/HttpFoundation/RedirectResponse.php
  src/Symfony/Component/HttpFoundation/Tests/RedirectResponseTest.php
Labels: Bug, HttpFoundation, Status: Reviewed

#54385 [HttpKernel] Map a list of items with `MapRequestPayload` attribute
  src/Symfony/Component/HttpKernel/Attribute/MapRequestPayload.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/RequestPayloadValueResolverTest.php
Labels: Feature, HttpKernel, Status: Reviewed, :snowflake: Feature Freeze

#54513 [HtmlSanitizer] Ignore Processing Instructions
  src/Symfony/Component/HtmlSanitizer/Tests/HtmlSanitizerAllTest.php
  src/Symfony/Component/HtmlSanitizer/Visitor/DomVisitor.php
Labels: Bug, Status: Reviewed, HtmlSanitizer

#54503 [Validator] add translations for the requireTld constraint option message
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
Labels: Validator, Status: Reviewed

#54392 [Messenger] Make Doctrine connection ignore unrelated tables on setup
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineIntegrationTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#54510 [Console] Handle SIGQUIT signal
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
Labels: Console, Status: Reviewed

#54063 [FrameworkBundle] Fix registration of the bundle path to translation
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#52917 [Serializer] Fix unexpected allowed attributes
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/GetSetMethodNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#53801 [HttpKernel] Deprecate `AddAnnotatedClassesToCachePass` and related code infrastructure
  UPGRADE-7.1.md
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DependencyInjection/AddAnnotatedClassesToCachePass.php
  src/Symfony/Component/HttpKernel/DependencyInjection/Extension.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/AddAnnotatedClassesToCachePassTest.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/MergeExtensionConfigurationPassTest.php
  src/Symfony/Component/HttpKernel/composer.json
Labels: HttpKernel, Ready, Status: Reviewed, Deprecation, :snowflake: Feature Freeze

#54424 [WebProfilerBundle] Inline flowchart-only Mermaid version
  src/Symfony/Bundle/WebProfilerBundle/.gitattributes
  src/Symfony/Bundle/WebProfilerBundle/.gitignore
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/workflow.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Script/Mermaid/Makefile
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Script/Mermaid/mermaid-flowchart-v2.min.js
Labels: WebProfilerBundle, Status: Reviewed, :snowflake: Feature Freeze

#54517 [HttpClient] Let curl handle transfer encoding
  src/Symfony/Component/HttpClient/CurlHttpClient.php
Labels: Bug, Status: Needs Review, HttpClient

#54442 [Clock] Add a polyfill for DateTimeImmutable::createFromTimestamp()
  src/Symfony/Component/Clock/DatePoint.php
  src/Symfony/Component/Clock/Tests/DatePointTest.php
Labels: Feature, Status: Needs Review, :snowflake: Feature Freeze, Clock

#54529 [Validator] add missing lv translation
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
Labels: Validator, Bug, Status: Needs Review

#54044 [Mailer] Add support for allowing some users even if `recipients` is defined in `EnvelopeListener`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/mailer_with_dsn.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/mailer_with_transports.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/mailer_with_dsn.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/mailer_with_transports.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/mailer_with_dsn.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/mailer_with_transports.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/EventListener/EnvelopeListener.php
  src/Symfony/Component/Mailer/Tests/EventListener/EnvelopeListenerTest.php
Labels: Feature, Status: Reviewed, Mailer

#54528 [HttpFoundation] defer addition of new method argument to 8.0
  src/Symfony/Component/HttpFoundation/UriSigner.php
Labels: Bug, HttpFoundation, Status: Reviewed

#54535 [Validator] Deprecate `Bic::INVALID_BANK_CODE_ERROR`
  UPGRADE-7.1.md
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Bic.php
Labels: Validator, Status: Reviewed, Deprecation

#54540 [TwigBundle] re-allow Twig bridge 6.4 and 7.0
  src/Symfony/Bundle/TwigBundle/composer.json
Labels: TwigBundle, Status: Reviewed

#54522 [Validator] added missing Polish translation
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Validator, Status: Needs Review

#54547 [HttpKernel] Force non lazy controller services
  src/Symfony/Component/HttpKernel/DependencyInjection/RegisterControllerArgumentLocatorsPass.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
Labels: Bug, HttpKernel

#54536 [Validator] Fill in trans-unit id 113: This URL does not contain a TLD.
  .github/sync-translations.php
  .github/workflows/integration-tests.yml
  src/Symfony/Component/Translation/Resources/bin/translation-status.php
  src/Symfony/Component/Validator/Resources/translations/validators.af.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.az.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.be.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.da.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.et.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.gl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.he.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.my.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.no.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sq.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.th.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ur.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uz.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf
Labels: Validator, Status: Needs Review

#54527 [Messenger] fix tests
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/ConnectionTest.php
Labels: Status: Needs Review, Messenger

#54530 [Clock] initialize the current time with midnight before modifying the date
  src/Symfony/Component/Clock/DatePoint.php
  src/Symfony/Component/Clock/Tests/DatePointTest.php
Labels: Bug, Status: Reviewed, Clock

#54059 [Security] Validate that CSRF token in form login is string similar to username/password
  src/Symfony/Component/Security/Http/Authenticator/FormLoginAuthenticator.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/FormLoginAuthenticatorTest.php
Labels: Security, Bug, Status: Reviewed

#54579 [Cache] Always select database for persistent redis connections
  src/Symfony/Component/Cache/Tests/Traits/RedisTraitTest.php
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Needs Review, Cache

#54564 [Translation] Skip state=needs-translation entries only when source == target
  src/Symfony/Component/Translation/Loader/XliffFileLoader.php
  src/Symfony/Component/Translation/Tests/Loader/XliffFileLoaderTest.php
Labels: Bug, Translation

#54395 [Serializer] Fixing PHP warning in the ObjectNormalizer with MaxDepth enabled
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Needs Review

#54072 [HttpKernel] Fix datacollector caster for reference object property
  src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/DataCollectorTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/UsePropertyInDestruct.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/WithPublicObjectProperty.php
Labels: Bug, HttpKernel, Status: Needs Review

#54583 [HttpKernel] fix low deps tests
  src/Symfony/Component/HttpKernel/composer.json
Labels: HttpKernel, Status: Needs Review

#54584 [Serializer] explicitly mark nullable parameters as nullable
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Status: Needs Review

#54586 [Security] fix password parameter name
  src/Symfony/Component/Security/Http/Tests/Authenticator/FormLoginAuthenticatorTest.php
Labels: Security, Status: Needs Review

#54421 [WebProfilerBundle] Improve performance
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/profiler.css.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed, :snowflake: Feature Freeze

#54574 [Validator] Document `Compound::getConstraints` options
  src/Symfony/Component/Validator/Constraint.php
  src/Symfony/Component/Validator/Constraints/Compound.php
Labels: Validator, Status: Reviewed

#53971 Cast env vars to null or bool when referencing them using `#[Autowire(env: '...')]` depending on the signature of the corresponding parameter
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes_80.php
Labels: Feature, Ready, Status: Reviewed, :snowflake: Feature Freeze

#54473 [Validator] Add support for types (`ALL*`, `LOCAL_*`, `UNIVERSAL_*`, `UNICAST_*`, `MULTICAST_*`, `BROADCAST`) in `MacAddress` constraint
  src/Symfony/Component/Validator/Constraints/MacAddress.php
  src/Symfony/Component/Validator/Constraints/MacAddressValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/MacAddressTest.php
  src/Symfony/Component/Validator/Tests/Constraints/MacAddressValidatorTest.php
Labels: Validator, Feature, Status: Reviewed

#54587 [PasswordHasher] Skip test assertions that are no longer valid with PHP >= 8.2.18/8.3.5
  src/Symfony/Component/PasswordHasher/Tests/Hasher/NativePasswordHasherTest.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/SodiumPasswordHasherTest.php
Labels: Status: Reviewed, PasswordHasher

#54356 [Notifier] LOX24 SMS bridge
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Lox24/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Lox24/.gitignore
  src/Symfony/Component/Notifier/Bridge/Lox24/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Lox24/LICENSE
  src/Symfony/Component/Notifier/Bridge/Lox24/Lox24Options.php
  src/Symfony/Component/Notifier/Bridge/Lox24/Lox24Transport.php
  src/Symfony/Component/Notifier/Bridge/Lox24/Lox24TransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Lox24/README.md
  src/Symfony/Component/Notifier/Bridge/Lox24/Tests/Lox24OptionsTest.php
  src/Symfony/Component/Notifier/Bridge/Lox24/Tests/Lox24TransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Lox24/Tests/Lox24TransportTest.php
  src/Symfony/Component/Notifier/Bridge/Lox24/Tests/Webhook/Lox24RequestParserTest.php
  src/Symfony/Component/Notifier/Bridge/Lox24/Type.php
  src/Symfony/Component/Notifier/Bridge/Lox24/VoiceLanguage.php
  src/Symfony/Component/Notifier/Bridge/Lox24/Webhook/LOX24RequestParser.php
  src/Symfony/Component/Notifier/Bridge/Lox24/composer.json
  src/Symfony/Component/Notifier/Bridge/Lox24/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#54585 [WebProfilerBundle] Use CPP
  src/Symfony/Bundle/WebProfilerBundle/Controller/ExceptionPanelController.php
  src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php
  src/Symfony/Bundle/WebProfilerBundle/Controller/RouterController.php
  src/Symfony/Bundle/WebProfilerBundle/Csp/ContentSecurityPolicyHandler.php
  src/Symfony/Bundle/WebProfilerBundle/EventListener/WebDebugToolbarListener.php
  src/Symfony/Bundle/WebProfilerBundle/Profiler/CodeExtension.php
  src/Symfony/Bundle/WebProfilerBundle/Profiler/TemplateManager.php
  src/Symfony/Bundle/WebProfilerBundle/Tests/DependencyInjection/WebProfilerExtensionTest.php
Labels: WebProfilerBundle, Status: Reviewed

#54590 [HttpFoundation] Remove unused code (minor)
  src/Symfony/Component/HttpFoundation/Response.php
Labels: HttpFoundation, Status: Reviewed

#54614 Adjust pretty name of closures on PHP 8.4
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/JsonDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/MarkdownDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/SecurityBundle/Command/DebugFirewallCommand.php
  src/Symfony/Component/ErrorHandler/Tests/ErrorHandlerTest.php
  src/Symfony/Component/EventDispatcher/Debug/WrappedListener.php
  src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactory.php
  src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php
  src/Symfony/Component/HttpKernel/Tests/DataCollector/RequestDataCollectorTest.php
  src/Symfony/Component/Messenger/Handler/HandlerDescriptor.php
  src/Symfony/Component/String/LazyString.php
  src/Symfony/Component/String/Tests/LazyStringTest.php
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
Labels: Status: Needs Review

#54598 [TwigBridge]  implement NodeVisitorInterface instead of extending AbstractNodeVisitor
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationDefaultDomainNodeVisitor.php
  src/Symfony/Bridge/Twig/NodeVisitor/TranslationNodeVisitor.php
Labels: Status: Reviewed, TwigBridge

#54618 Bump ext-redis in CI on PHP >= 8.4
  .github/workflows/unit-tests.yml
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Status: Needs Review

#54622 Fix CI
  src/Symfony/Component/Cache/Tests/Traits/RedisTraitTest.php
  src/Symfony/Component/Filesystem/Tests/FilesystemTest.php
  src/Symfony/Component/Mime/Tests/Part/DataPartTest.php
Labels: Status: Needs Review

#54626 [Serializer] add missing return type-hints
  src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
Labels: Serializer, Status: Needs Review

#54625 [Intl] Remove resources data from classmap generation
  src/Symfony/Component/Intl/composer.json
Labels: Bug, Intl, Status: Reviewed

#54609 [Validator] Update `@internal` description
  src/Symfony/Component/Validator/Context/ExecutionContextFactory.php
Labels: Validator, Status: Reviewed

#54624 [Validator] Update the "no TLD" error message
  src/Symfony/Component/Validator/Constraints/Url.php
Labels: Validator, Status: Reviewed

#54628 [Validator] Update message translations for unit 113 (TLD)
  src/Symfony/Component/Validator/Resources/translations/validators.af.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.az.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.be.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.da.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.et.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.gl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.he.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.my.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.no.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sq.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.th.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ur.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uz.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf
Labels: Validator, Status: Needs Review

#54629 Add hint which version of Symfony not longer require proxy manager bridge
  src/Symfony/Bridge/ProxyManager/README.md
Labels: Status: Reviewed

#54588 [Validator] prepare for changing the default value of the requireTld option
  UPGRADE-7.1.md
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Url.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlTest.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlValidatorTest.php
  src/Symfony/Component/Validator/composer.json
Labels: Validator, Status: Reviewed, Deprecation

#54589 [Messenger] forward a Clock instance to the created InMemoryTransport
  src/Symfony/Bundle/FrameworkBundle/Resources/config/messenger.php
  src/Symfony/Component/Messenger/CHANGELOG.md
  src/Symfony/Component/Messenger/Transport/InMemory/InMemoryTransportFactory.php
Labels: Feature, Status: Reviewed, Messenger

#54531 [Serializer] add $class, $format and $context arguments to NameConverterInterface methods
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/NameConverter/CamelCaseToSnakeCaseNameConverter.php
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
  src/Symfony/Component/Serializer/NameConverter/NameConverterInterface.php
Labels: Serializer, Status: Reviewed

#54630 [Validator] Update Indonesian (id) translation
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
Labels: Validator, Status: Needs Review

#54623 [Validator] Missing translations for Hungarian (hu)
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
Labels: Validator, Status: Needs Review

#54599 [Validator] Review Ukrainian translations
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
Labels: Status: Needs Review

#54597 [Validator] Missing translations for Croatian (hr)
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
Labels: Validator, Status: Needs Review

#54633 [Validator] reviewed Polish translation for unit 113
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Validator, Status: Reviewed

#54525 [Mailer] [Resend] Add Resend webhook signature verification
  src/Symfony/Component/Mailer/Bridge/Resend/Tests/Transport/ResendApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Resend/Tests/Transport/ResendTransportFactoryTest.php
  src/Symfony/Component/Mailer/Bridge/Resend/Tests/Webhook/Fixtures/sent.json
  src/Symfony/Component/Mailer/Bridge/Resend/Tests/Webhook/Fixtures/sent.php
  src/Symfony/Component/Mailer/Bridge/Resend/Tests/Webhook/ResendRequestParserTest.php
  src/Symfony/Component/Mailer/Bridge/Resend/Webhook/ResendRequestParser.php
Labels: Feature, Status: Reviewed, :snowflake: Feature Freeze, Mailer

#54639 [Cache] Fix test failure related to Redis6Proxy on appveyor
  src/Symfony/Component/Cache/Tests/Traits/RedisProxiesTest.php
  src/Symfony/Component/Cache/Traits/Redis5Proxy.php
  src/Symfony/Component/Cache/Traits/Redis6Proxy.php
  src/Symfony/Component/Cache/Traits/Redis6ProxyTrait.php
  src/Symfony/Component/Cache/Traits/RedisCluster5Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6Proxy.php
  src/Symfony/Component/Cache/Traits/RedisCluster6ProxyTrait.php
Labels: Status: Needs Review, Cache

#54637 [Messenger] Fix reading pending messages with Redis
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Needs Review, Messenger

#54635 [Serializer] Revert "Fix object normalizer when properties has the same name as their accessor" - it was a BC Break
  src/Symfony/Component/Serializer/Mapping/Loader/AnnotationLoader.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/SamePropertyAsMethodDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/SamePropertyAsMethodWithMethodSerializedNameDummy.php
  src/Symfony/Component/Serializer/Tests/Fixtures/SamePropertyAsMethodWithPropertySerializedNameDummy.php
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#54644 [Serializer] add method parameters in final class
  src/Symfony/Component/Serializer/NameConverter/CamelCaseToSnakeCaseNameConverter.php
  src/Symfony/Component/Serializer/NameConverter/MetadataAwareNameConverter.php
Labels: Serializer, Status: Needs Review

#54645 [Serializer] fix tests
  src/Symfony/Component/Serializer/Tests/NameConverter/CamelCaseToSnakeCaseNameConverterTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractNormalizerTest.php
Labels: Serializer, Status: Needs Review

#54646 [Validator] review German translation
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
Labels: Validator, Status: Needs Review

#54647 [Mailer] fix constraints
  src/Symfony/Component/Mailer/Bridge/Resend/composer.json
Labels: Status: Needs Review, Mailer

#53365 [DoctrineBridge] Allow `EntityValueResolver` to return a list of entities
  src/Symfony/Bridge/Doctrine/ArgumentResolver/EntityValueResolver.php
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Tests/ArgumentResolver/EntityValueResolverTest.php
Labels: Feature, Status: Reviewed, DoctrineBridge, :snowflake: Feature Freeze

#49978 [HttpKernel] Introduce `#[MapUploadedFile]` controller argument attribute
  src/Symfony/Component/HttpKernel/Attribute/MapUploadedFile.php
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/UploadedFileValueResolverTest.php
  src/Symfony/Component/HttpKernel/Tests/Fixtures/Controller/ArgumentResolver/UploadedFile/file-big.txt
  src/Symfony/Component/HttpKernel/Tests/Fixtures/Controller/ArgumentResolver/UploadedFile/file-small.txt
Labels: Feature, HttpKernel, Status: Reviewed

#54665 Add test for AccessTokenHeaderRegex and adjust regex
  src/Symfony/Component/Security/Http/AccessToken/HeaderAccessTokenExtractor.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/AccessTokenAuthenticatorTest.php
Labels: Bug, Status: Reviewed

#54668 [HttpClient] Implemented LoggerAwareInterface in HttpClientInterface decorators
  src/Symfony/Component/HttpClient/CachingHttpClient.php
  src/Symfony/Component/HttpClient/EventSourceHttpClient.php
  src/Symfony/Component/HttpClient/RetryableHttpClient.php
  src/Symfony/Component/HttpClient/ThrottlingHttpClient.php
  src/Symfony/Component/HttpClient/UriTemplateHttpClient.php
Labels: Status: Reviewed, HttpClient

#54662 [Validator] Review translations for Indonesian (id)
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
Labels: Validator, Status: Needs Review

#54685 [Validator] Updated Lithuanian translations
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
Labels: Validator, Status: Needs Review

#54673 [Messenger] explicitly cast boolean SSL stream options
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#54675 [PropertyInfo] Fix PHPStan properties type in trait
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/TraitUsage/AnotherNamespace/DummyInAnotherNamespace.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/TraitUsage/AnotherNamespace/DummyTraitInAnotherNamespace.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/TraitUsage/DummyUsingTrait.php
Labels: Bug, Status: Reviewed, PropertyInfo

#54697 [Validator] Update spanish and catalan translations
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
Labels: Status: Needs Review

#54692 [Serializer] Add `AbstractNormalizerContextBuilder::defaultConstructorArguments()`method
  src/Symfony/Component/Serializer/Context/Normalizer/AbstractNormalizerContextBuilder.php
  src/Symfony/Component/Serializer/Tests/Context/Normalizer/AbstractNormalizerContextBuilderTest.php
Labels: Serializer, Status: Reviewed

#54681 [Validator] review: FR translation
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
Labels: Validator, Status: Needs Review

#54706 [Yaml] call substr() with integer offsets
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
Labels: Bug, Yaml, Status: Needs Review

#54708 Fix french translation
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
Labels: Bug, Status: Needs Review

#54688 [TypeInfo] Support `\Stringable` objects in `StringTypeResolver`
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/StringTypeResolverTest.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
Labels: Status: Needs Review, TypeInfo

#54721 Reviewed italian translation
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
Labels: Status: Needs Review

#54715 [Validator] Review Bulgarian (bg) translation
  src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf
Labels: Validator, Status: Needs Review

#54716 [Validator] add missing HasNamedArguments attribute
  src/Symfony/Component/Validator/Constraints/Charset.php
  src/Symfony/Component/Validator/Constraints/MacAddress.php
Labels: Validator, Bug, Status: Needs Review

#53214 [DoctrineBridge] Idle connection listener for long running runtime
  phpunit.xml.dist
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/Middleware/IdleConnection/Driver.php
  src/Symfony/Bridge/Doctrine/Middleware/IdleConnection/Listener.php
  src/Symfony/Bridge/Doctrine/Tests/Middleware/IdleConnection/DriverTest.php
  src/Symfony/Bridge/Doctrine/Tests/Middleware/IdleConnection/ListenerTest.php
  src/Symfony/Bridge/Doctrine/phpunit.xml.dist
Labels: Bug, Ready, Status: Reviewed, DoctrineBridge, :snowflake: Feature Freeze

#54736 [Security] Remove workflow from empty folder
  src/Symfony/Component/Security/Guard/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Security/Guard/.github/workflows/check-subtree-split.yml
Labels: Security, Status: Reviewed

#54751 [Validator]  detect wrong e-mail validation modes
  src/Symfony/Component/Validator/Constraints/Email.php
  src/Symfony/Component/Validator/Tests/Constraints/EmailTest.php
Labels: Validator, Bug, Status: Reviewed

#54750 [Validator] detect wrong usages of minMessage/maxMessage in options
  src/Symfony/Component/Validator/Constraints/Range.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeTest.php
  src/Symfony/Component/Validator/Tests/Constraints/RangeValidatorTest.php
Labels: Validator, Bug, Status: Reviewed

#54712 [RemoteEvent] Fix date parsing remote event payload converter
  src/Symfony/Component/Mailer/Bridge/MailerSend/RemoteEvent/MailerSendPayloadConverter.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/clicked.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/clicked_unique.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/delivered.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/hard_bounced.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/opened.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/opened_unique.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/sent.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/soft_bounced.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/spam_complaint.php
  src/Symfony/Component/Mailer/Bridge/MailerSend/Tests/Webhook/Fixtures/unsubscribed.php
  src/Symfony/Component/Mailer/Bridge/Resend/Tests/Webhook/Fixtures/sent.php
Labels: Bug, Status: Reviewed, RemoteEvent

#54724 [AssetMapper] Check asset/vendor directory is writable
  src/Symfony/Component/AssetMapper/ImportMap/RemotePackageStorage.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapManagerTest.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/RemotePackageStorageTest.php
Labels: Bug, Status: Reviewed, AssetMapper

#54691 [Finder] Also consider .git inside the basedir of in() directory
  src/Symfony/Component/Finder/Iterator/VcsIgnoredFilterIterator.php
  src/Symfony/Component/Finder/Tests/Iterator/VcsIgnoredFilterIteratorTest.php
Labels: Bug, Finder, Status: Reviewed

#54699 [DoctrineBridge] Update AbstractSchemaListener to adjust more database params
  src/Symfony/Bridge/Doctrine/SchemaListener/AbstractSchemaListener.php
Labels: Bug, Status: Reviewed, DoctrineBridge

#54755 [FrameworkBundle] Fix indentation
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: FrameworkBundle, Status: Reviewed

#54764 Release v5.4.39
  CHANGELOG-5.4.md
  CONTRIBUTORS.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#54765 Release v6.4.7
  CHANGELOG-6.4.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#54766 Release v7.0.7
  CHANGELOG-7.0.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#54700 [Dotenv] show overridden vars too when running debug:dotenv
  src/Symfony/Component/Dotenv/Command/DebugCommand.php
  src/Symfony/Component/Dotenv/Tests/Command/DebugCommandTest.php
Labels: Bug, Status: Reviewed, Dotenv

#54776 [Cache] fix: remove unwanted cast to int
  src/Symfony/Component/Cache/Traits/RedisTrait.php
Labels: Bug, Status: Reviewed, Cache

#54661 [TypeInfo] Handle custom collection objects properly
  src/Symfony/Component/TypeInfo/Tests/Fixtures/DummyCollection.php
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/StringTypeResolverTest.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
Labels: Status: Reviewed, :snowflake: Feature Freeze, TypeInfo

#54768 Remove calls to `onConsecutiveCalls()`
  src/Symfony/Bridge/Doctrine/Tests/Messenger/DoctrineOpenTransactionLoggerMiddlewareTest.php
  src/Symfony/Bridge/Monolog/Tests/Handler/ConsoleHandlerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Translation/TranslatorTest.php
  src/Symfony/Component/Config/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/Config/Tests/Util/XmlUtilsTest.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/SessionListenerTest.php
  src/Symfony/Component/HttpKernel/Tests/Fragment/InlineFragmentRendererTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/EsiTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/SsiTest.php
  src/Symfony/Component/Lock/Tests/LockTest.php
  src/Symfony/Component/Mailer/Tests/Transport/FailoverTransportTest.php
  src/Symfony/Component/Mailer/Tests/Transport/RoundRobinTransportTest.php
  src/Symfony/Component/Messenger/Bridge/AmazonSqs/Tests/Transport/AmazonSqsSenderTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/AmqpSenderTest.php
  src/Symfony/Component/Messenger/Bridge/Amqp/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Beanstalkd/Tests/Transport/BeanstalkdSenderTest.php
  src/Symfony/Component/Messenger/Bridge/Doctrine/Tests/Transport/DoctrineSenderTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisSenderTest.php
  src/Symfony/Component/Messenger/Tests/Command/SetupTransportsCommandTest.php
  src/Symfony/Component/Messenger/Tests/Middleware/DispatchAfterCurrentBusMiddlewareTest.php
  src/Symfony/Component/Notifier/Tests/Transport/FailoverTransportTest.php
  src/Symfony/Component/PasswordHasher/Tests/Hasher/UserPasswordHasherTest.php
  src/Symfony/Component/Security/Core/Tests/Encoder/UserPasswordEncoderTest.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/PropertyInfoLoaderTest.php
Labels: Status: Reviewed

#54779 [Dotenv]  restore deprecated properties
  src/Symfony/Component/Dotenv/Command/DebugCommand.php
Labels: Status: Needs Review, Dotenv
