Repository symfony/symfony, pull requests merged in 2025-06, with the labels that each got.

#60617 [HttpKernel] pass log level instead of exception to resolve the logger
  src/Symfony/Component/HttpKernel/EventListener/ErrorListener.php
Labels: Bug, HttpKernel, Status: Reviewed

#60616 [PhpUnitBridge] skip interactive questions asked by Composer
  src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#60623 Add table of contents in `UPGRADE-7.3.md`
  UPGRADE-7.3.md
Labels: Status: Needs Review

#60600 [Translation] Validate pt_BR translation
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
Labels: Translation, Status: Reviewed

#60647 also test patched components with 6.4
  .github/workflows/unit-tests.yml
Labels: Status: Needs Review

#60648 [Yaml] fix support for years outside of the 32b range on x86 arch on PHP 8.4
  src/Symfony/Component/Yaml/Inline.php
Labels: Bug, Yaml, Status: Needs Review

#60674 re-add accidentally removed changelog examples
  src/Symfony/Component/Validator/CHANGELOG.md
Labels: Status: Reviewed

#60655 [TypeInfo] Handle `key-of` and `value-of` types
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/StringTypeResolverTest.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
Labels: Bug, Status: Reviewed, TypeInfo

#60646 [FrameworkBundle] don't register `SchedulerTriggerNormalizer` without `symfony/serializer`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#60645 [PhpUnitBridge] Skip bootstrap for PHPUnit >=10
  src/Symfony/Bridge/PhpUnit/bootstrap.php
Labels: Bug, PhpUnitBridge, Status: Reviewed

#60564 [FrameworkBundle] ensureKernelShutdown in tearDownAfterClass
  src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#60641 [TypeInfo] Fix type alias resolving
  src/Symfony/Component/TypeInfo/Tests/Fixtures/DummyWithTypeAliases.php
  src/Symfony/Component/TypeInfo/Tests/TypeContext/TypeContextFactoryTest.php
  src/Symfony/Component/TypeInfo/TypeContext/TypeContextFactory.php
Labels: Bug, Status: Reviewed, TypeInfo

#60668 [JsonPath] Always use brackets notation with `JsonPath::key()`
  src/Symfony/Component/JsonPath/JsonPath.php
  src/Symfony/Component/JsonPath/Tests/JsonCrawlerTest.php
  src/Symfony/Component/JsonPath/Tests/JsonPathTest.php
Labels: Bug, Status: Reviewed, JsonPath

#60714 [Security] conflict with event-subscriber v8
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Status: Needs Review

#60713 [HttpClient] Suggest amphp/http-client v5 by default
  src/Symfony/Component/HttpClient/AmpHttpClient.php
  src/Symfony/Component/HttpClient/HttpClient.php
  src/Symfony/Component/HttpClient/composer.json
Labels: Status: Needs Review, HttpClient

#60671 [JsonPath] Fix typo in comment in JsonCrawler
  src/Symfony/Component/JsonPath/JsonCrawler.php
Labels: Bug, Status: Reviewed, JsonPath

#60424 [PhpUnitBridge] Add `strtotime()` to `ClockMock`
  src/Symfony/Bridge/PhpUnit/CHANGELOG.md
  src/Symfony/Bridge/PhpUnit/ClockMock.php
  src/Symfony/Bridge/PhpUnit/Tests/ClockMockTest.php
Labels: Feature, PhpUnitBridge, Status: Reviewed

#60721 [Console] Remove deprecated code
  UPGRADE-8.0.md
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/Command/InvokableCommand.php
  src/Symfony/Component/Console/DependencyInjection/AddConsoleCommandPass.php
  src/Symfony/Component/Console/Output/OutputInterface.php
  src/Symfony/Component/Console/Style/OutputStyle.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
  src/Symfony/Component/Console/composer.json
  src/Symfony/Component/Scheduler/DependencyInjection/AddScheduleMessengerPass.php
Labels: Feature, Console, Status: Needs Review

#60723 [OptionsResolver] Remove support for nested options definition via `setDefault()`, use `setOptions()` instead
  UPGRADE-8.0.md
  src/Symfony/Component/OptionsResolver/CHANGELOG.md
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
  src/Symfony/Component/OptionsResolver/Tests/OptionsResolverTest.php
Labels: Feature, OptionsResolver, Status: Reviewed

#60716 [VarExporter] Remove `LazyGhostTrait` and `LazyProxyTrait` in favor of native lazy objects
  UPGRADE-8.0.md
  src/Symfony/Bundle/FrameworkBundle/Resources/config/json_streamer.php
  src/Symfony/Component/JsonStreamer/CacheWarmer/LazyGhostCacheWarmer.php
  src/Symfony/Component/JsonStreamer/Tests/CacheWarmer/LazyGhostCacheWarmerTest.php
  src/Symfony/Component/VarExporter/CHANGELOG.md
  src/Symfony/Component/VarExporter/Internal/LazyDecoratorTrait.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectRegistry.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectState.php
  src/Symfony/Component/VarExporter/Internal/LazyObjectTrait.php
  src/Symfony/Component/VarExporter/LazyGhostTrait.php
  src/Symfony/Component/VarExporter/LazyProxyTrait.php
  src/Symfony/Component/VarExporter/ProxyHelper.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/ChildMagicClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/ChildStdClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/ChildTestClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/ClassWithUninitializedObjectProperty.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/LazyClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/MagicClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/NoMagicClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/RegularClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyGhost/TestClass.php
  src/Symfony/Component/VarExporter/Tests/Fixtures/LazyProxy/RegularClass.php
  src/Symfony/Component/VarExporter/Tests/LazyProxyTraitTest.php
  src/Symfony/Component/VarExporter/Tests/LegacyLazyGhostTraitTest.php
  src/Symfony/Component/VarExporter/composer.json
Labels: Feature, Status: Needs Review, VarExporter

#60694 [Intl] Add missing currency (NOK) localization (en_NO)
  src/Symfony/Component/Intl/Resources/data/currencies/en_NO.php
Labels: Bug, Intl, Status: Needs Review

#60732 [DependencyInjection] Improve docblock on compile()
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
Labels: DependencyInjection, Status: Needs Review

#60737 [Security] remove no longer needed conflict rule on symfony/event-dispatcher
  src/Symfony/Component/Security/Http/composer.json
Labels: Security, Status: Reviewed

#60736 [DoctrineBridge] require PropertyInfo 8.0+ in the Doctrine bridge
  src/Symfony/Bridge/Doctrine/composer.json
  src/Symfony/Component/Validator/Tests/Mapping/Loader/PropertyInfoLoaderTest.php
Labels: Status: Reviewed, DoctrineBridge

#60638 [Form] Fix `keep_as_list` when data is not an array
  src/Symfony/Component/Form/Extension/Core/EventListener/ResizeFormListener.php
  src/Symfony/Component/Form/Tests/Extension/Core/EventListener/ResizeFormListenerTest.php
Labels: Form, Bug, Status: Reviewed

#59910 [Form] Keep submitted values when `keep_as_list` option of collection type is enabled
  src/Symfony/Component/Form/Extension/Core/EventListener/ResizeFormListener.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/FormTypeValidatorExtensionTest.php
Labels: Form, Bug, Status: Reviewed

#60719 [JsonPath] Fix support for comma separated indices
  src/Symfony/Component/JsonPath/JsonCrawler.php
  src/Symfony/Component/JsonPath/Tests/JsonCrawlerTest.php
Labels: Bug, Status: Reviewed, JsonPath

#60394 [Console][FrameworkBundle] Simplify using invokable commands when the component is used standalone
  UPGRADE-7.4.md
  src/Symfony/Bridge/Twig/Tests/Command/DebugCommandTest.php
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/AboutCommand/AboutCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CachePoolClearCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CachePoolDeleteCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/CachePruneCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/RouterMatchCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationExtractCommandCompletionTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/TranslationExtractCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/WorkflowDumpCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/YamlLintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Console/ApplicationTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/BundlePathsTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolClearCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/CachePoolListCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ConfigDebugCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ConfigDumpReferenceCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/DebugAutowiringCommandTest.php
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/SingleCommandApplication.php
  src/Symfony/Component/Console/Tests/ApplicationTest.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
  src/Symfony/Component/Console/Tests/Command/CompleteCommandTest.php
  src/Symfony/Component/Console/Tests/Command/HelpCommandTest.php
  src/Symfony/Component/Console/Tests/Command/ListCommandTest.php
  src/Symfony/Component/Console/Tests/ConsoleEventsTest.php
  src/Symfony/Component/Console/Tests/Descriptor/ApplicationDescriptionTest.php
  src/Symfony/Component/Console/Tests/Fixtures/DescriptorApplication2.php
  src/Symfony/Component/Console/Tests/Fixtures/DescriptorApplicationMbString.php
  src/Symfony/Component/Console/Tests/Tester/CommandTesterTest.php
  src/Symfony/Component/Console/Tests/phpt/alarm/command_exit.phpt
  src/Symfony/Component/Console/Tests/phpt/signal/command_exit.phpt
  src/Symfony/Component/Dotenv/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Dotenv/Tests/Command/DotenvDumpCommandTest.php
  src/Symfony/Component/ErrorHandler/Tests/Command/ErrorDumpCommandTest.php
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
  src/Symfony/Component/Messenger/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Runtime/SymfonyRuntime.php
  src/Symfony/Component/Runtime/Tests/phpt/application.php
  src/Symfony/Component/Runtime/Tests/phpt/command_list.php
  src/Symfony/Component/Translation/Tests/Command/TranslationLintCommandTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPullCommandTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPushCommandTest.php
  src/Symfony/Component/Translation/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Component/Uid/Tests/Command/GenerateUlidCommandTest.php
  src/Symfony/Component/Uid/Tests/Command/GenerateUuidCommandTest.php
  src/Symfony/Component/VarDumper/Resources/bin/var-dump-server
  src/Symfony/Component/Yaml/Resources/bin/yaml-lint
  src/Symfony/Component/Yaml/Tests/Command/LintCommandTest.php
Labels: Feature, Console, FrameworkBundle, Status: Reviewed, Deprecation

#60502 [HttpCache] Hit the backend only once after waiting for the cache lock
  src/Symfony/Component/HttpKernel/HttpCache/CacheWasLockedException.php
  src/Symfony/Component/HttpKernel/HttpCache/HttpCache.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php
  src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTestCase.php
Labels: Bug, Status: Reviewed

#60779 Silence E_DEPRECATED and E_USER_DEPRECATED
  src/Symfony/Component/ErrorHandler/Debug.php
  src/Symfony/Component/Runtime/Internal/BasicErrorHandler.php
  src/Symfony/Component/Runtime/Internal/SymfonyErrorHandler.php
Labels: Bug, Status: Needs Review

#60504 [JsonPath] Fix subexpression evaluation in filters
  src/Symfony/Component/JsonPath/JsonCrawler.php
  src/Symfony/Component/JsonPath/Tests/JsonCrawlerTest.php
Labels: Bug, Status: Reviewed, JsonPath

#60695 [JsonPath] Test against official compliance test suite
  src/Symfony/Component/JsonPath/Tests/Fixtures/Makefile
  src/Symfony/Component/JsonPath/Tests/Fixtures/cts.json
  src/Symfony/Component/JsonPath/Tests/JsonPathComplianceTestSuiteTest.php
Labels: Status: Reviewed, JsonPath

#60776 [Console][FrameworkBundle] Remove deprecated `Application::add()` methods
  UPGRADE-8.0.md
  src/Symfony/Bridge/Twig/Tests/Command/DebugCommandTest.php
  src/Symfony/Bridge/Twig/Tests/Command/LintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Console/Application.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/WorkflowDumpCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/YamlLintCommandTest.php
  src/Symfony/Bundle/FrameworkBundle/composer.json
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Dotenv/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Dotenv/Tests/Command/DotenvDumpCommandTest.php
  src/Symfony/Component/ErrorHandler/Tests/Command/ErrorDumpCommandTest.php
  src/Symfony/Component/Form/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
  src/Symfony/Component/Messenger/Tests/Command/DebugCommandTest.php
  src/Symfony/Component/Runtime/SymfonyRuntime.php
  src/Symfony/Component/Runtime/Tests/phpt/application.php
  src/Symfony/Component/Runtime/Tests/phpt/command_list.php
  src/Symfony/Component/Runtime/composer.json
  src/Symfony/Component/Translation/Tests/Command/TranslationLintCommandTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPullCommandTest.php
  src/Symfony/Component/Translation/Tests/Command/TranslationPushCommandTest.php
  src/Symfony/Component/Translation/Tests/Command/XliffLintCommandTest.php
  src/Symfony/Component/Uid/Tests/Command/GenerateUlidCommandTest.php
  src/Symfony/Component/Uid/Tests/Command/GenerateUuidCommandTest.php
  src/Symfony/Component/VarDumper/Resources/bin/var-dump-server
  src/Symfony/Component/VarDumper/composer.json
  src/Symfony/Component/Yaml/Resources/bin/yaml-lint
  src/Symfony/Component/Yaml/Tests/Command/LintCommandTest.php
  src/Symfony/Component/Yaml/composer.json
Labels: Console, FrameworkBundle, Status: Reviewed

#60767 [Console] Allow Usages to be specified via #[AsCommand] attribute
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Attribute/AsCommand.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/Command.php
  src/Symfony/Component/Console/DependencyInjection/AddConsoleCommandPass.php
  src/Symfony/Component/Console/Tests/Command/CommandTest.php
  src/Symfony/Component/Console/Tests/DependencyInjection/AddConsoleCommandPassTest.php
Labels: Feature, Console, Status: Reviewed

#60791 [Routing] replace expectDeprecation() with expectUserDeprecationMessage()
  src/Symfony/Component/Routing/Tests/Generator/UrlGeneratorTest.php
Labels: Routing, Status: Needs Review

#60789 [Cache] fix compatibility with Relay 0.11
  src/Symfony/Component/Cache/Traits/Relay/BgsaveTrait.php
  src/Symfony/Component/Cache/Traits/RelayProxy.php
Labels: Bug, Status: Needs Review, Cache

#60774 [FrameworkBundle] Fixes getting a type error when the secret you are trying to reveal could not be decrypted
  src/Symfony/Bundle/FrameworkBundle/Command/SecretsRevealCommand.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/AbstractVault.php
  src/Symfony/Bundle/FrameworkBundle/Secrets/DotenvVault.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Command/SecretsRevealCommandTest.php
Labels: Bug, FrameworkBundle, Status: Needs Review

#60775 [Validator] flip excluded properties with keys with Doctrine-style constraint config
  src/Symfony/Component/Validator/Constraints/Cascade.php
  src/Symfony/Component/Validator/Tests/Constraints/CascadeTest.php
Labels: Validator, Bug, Status: Needs Review

#60781 [DomCrawler] Allow selecting `button`s by their `value`
  src/Symfony/Component/DomCrawler/Crawler.php
  src/Symfony/Component/DomCrawler/Tests/AbstractCrawlerTestCase.php
Labels: Bug, DomCrawler, Status: Needs Review

#60785 [Security] Handle non-callable implementations of `FirewallListenerInterface`
  src/Symfony/Component/Security/Http/Firewall.php
  src/Symfony/Component/Security/Http/Tests/FirewallTest.php
Labels: Security, Bug, Status: Needs Review

#60793 [JsonPath] skip the remaining failing compliance tests
  src/Symfony/Component/JsonPath/Tests/JsonPathComplianceTestSuiteTest.php
Labels: Status: Needs Review, JsonPath

#60762 Improve-callable-typing
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/TextDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Console/Descriptor/XmlDescriptor.php
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
  src/Symfony/Component/Console/Helper/QuestionHelper.php
  src/Symfony/Component/Console/Question/Question.php
  src/Symfony/Component/Console/Style/StyleInterface.php
Labels: Status: Needs Review

#60742 [Ldap][Security] Remove deprecated `eraseCredentials()` from (User|Token)Interface
  UPGRADE-8.0.md
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/User.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Component/Ldap/CHANGELOG.md
  src/Symfony/Component/Ldap/Security/LdapUser.php
  src/Symfony/Component/PasswordHasher/Tests/Fixtures/TestLegacyPasswordAuthenticatedUser.php
  src/Symfony/Component/Security/Core/Authentication/Token/AbstractToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/NullToken.php
  src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authentication/AuthenticationTrustResolverTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/AbstractTokenTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/Token/Fixtures/CustomUser.php
  src/Symfony/Component/Security/Core/Tests/User/InMemoryUserTest.php
  src/Symfony/Component/Security/Core/User/InMemoryUser.php
  src/Symfony/Component/Security/Core/User/OAuth2User.php
  src/Symfony/Component/Security/Core/User/OidcUser.php
  src/Symfony/Component/Security/Core/User/UserInterface.php
  src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerBCTest.php
  src/Symfony/Component/Security/Http/Tests/Authentication/AuthenticatorManagerTest.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/CustomUser.php
  src/Symfony/Component/Security/Http/Tests/LoginLink/LoginLinkHandlerTest.php
Labels: Security, Status: Reviewed, Ldap

#60759 [Messenger] Fix float value for worker memory limit
  src/Symfony/Component/Messenger/Command/ConsumeMessagesCommand.php
  src/Symfony/Component/Messenger/Tests/Command/ConsumeMessagesCommandTest.php
Labels: Bug, Feature, Status: Reviewed, Messenger

#60811 [VarDumper] GdImage objects are handled by GdCaster
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
Labels: Bug, VarDumper, Status: Reviewed

#60810 [VarDumper] Fix ResourceCaster deprecation messages
  src/Symfony/Component/VarDumper/Caster/ResourceCaster.php
Labels: Bug, VarDumper, Status: Needs Review

#60806 [HttpClient] Limit curl's connection cache size
  src/Symfony/Component/HttpClient/Internal/CurlClientState.php
Labels: Bug, Status: Reviewed, HttpClient

#60819 [DependencyInjection] Allow extending `#[AsAlias]` attribute
  src/Symfony/Component/DependencyInjection/Attribute/AsAlias.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/FileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/PrototypeAsAlias/WithCustomAsAlias.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#60812 [VarDumper] Remove deprecated resource casters
  src/Symfony/Component/VarDumper/Caster/ResourceCaster.php
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Caster/ResourceCasterTest.php
Labels: Feature, VarDumper, Status: Needs Review

#60817 [DoctrineBridge][PasswordHasher] fix tests when run with symfony/security-core 7.4
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/User.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/SecurityTest.php
  src/Symfony/Component/Ldap/composer.json
  src/Symfony/Component/PasswordHasher/Tests/Fixtures/TestLegacyPasswordAuthenticatedUser.php
  src/Symfony/Component/Security/Http/Tests/EventListener/PasswordMigratingListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Fixtures/CustomUser.php
  src/Symfony/Component/Security/Http/Tests/LoginLink/LoginLinkHandlerTest.php
Labels: Status: Needs Review

#60780 [FrameworkBundle] Fix argument not provided to `add_bus_name_stamp_middleware`
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/messenger_bus_name_stamp.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/messenger_bus_name_stamp.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/messenger_bus_name_stamp.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
Labels: Bug, FrameworkBundle, Status: Reviewed

#60832 [ObjectMapper] Fix assert parameter order
  src/Symfony/Component/ObjectMapper/Tests/ObjectMapperTest.php
Labels: Bug, Status: Reviewed, ObjectMapper

#60837 [Cache] Fix assert parameter order
  src/Symfony/Component/Cache/Tests/DataCollector/CacheDataCollectorTest.php
Labels: Bug, Status: Needs Review, Cache

#60830 [Validator] Remove comment to GitHub issue
  src/Symfony/Component/Validator/Constraints/CollectionValidator.php
Labels: Validator, Status: Needs Review

#60511 [Serializer] Add support for discriminator map in property normalizer
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyMessageInterface.php
  src/Symfony/Component/Serializer/Tests/Fixtures/DummyMessageNumberFour.php
  src/Symfony/Component/Serializer/Tests/Normalizer/AbstractObjectNormalizerTest.php
Labels: Serializer, Bug, Status: Reviewed

#60831 [ObjectMapper] Fix class-level transformation has wrong source class
  src/Symfony/Component/ObjectMapper/ObjectMapper.php
  src/Symfony/Component/ObjectMapper/Tests/Fixtures/InstanceCallbackWithArguments/A.php
  src/Symfony/Component/ObjectMapper/Tests/Fixtures/InstanceCallbackWithArguments/B.php
  src/Symfony/Component/ObjectMapper/Tests/ObjectMapperTest.php
Labels: Bug, Status: Reviewed, ObjectMapper

#60788 [FrameworkBundle] Allow to un-verbose all the method in `BrowserKitAssertionsTrait`
  src/Symfony/Bundle/FrameworkBundle/Test/BrowserKitAssertionsTrait.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#60842 [DependencyInjection] Fix generating adapters of functional interfaces
  src/Symfony/Component/DependencyInjection/Argument/LazyClosure.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php
  src/Symfony/Component/DependencyInjection/Tests/Argument/LazyClosureTest.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/autowiring_classes.php
Labels: DependencyInjection, Bug, Status: Needs Review

#60685 [HttpFoundation] Use lowercase utf-8 as default response charset
  src/Symfony/Component/HttpFoundation/Response.php
  src/Symfony/Component/HttpFoundation/Tests/ResponseTest.php
Labels: HttpFoundation, Status: Reviewed

#60845 [DependencyInjection] Remove `#[TaggedIterator]` and `#[TaggedLocator]` attributes
  UPGRADE-8.0.md
  src/Symfony/Component/DependencyInjection/Attribute/TaggedIterator.php
  src/Symfony/Component/DependencyInjection/Attribute/TaggedLocator.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Tests/Compiler/RegisterServiceSubscribersPassTest.php
  src/Symfony/Component/HttpKernel/Tests/DependencyInjection/RegisterControllerArgumentLocatorsPassTest.php
Labels: DependencyInjection, Feature, Status: Reviewed

#60851 [Yaml] raise a parse error for duplicate keys
  UPGRADE-8.0.md
  src/Symfony/Component/Yaml/CHANGELOG.md
  src/Symfony/Component/Yaml/Parser.php
  src/Symfony/Component/Yaml/Tests/ParserTest.php
  src/Symfony/Component/Yaml/composer.json
Labels: Feature, Yaml, Status: Needs Review

#60850 [Mailer] remove useless @legacy annotation
  src/Symfony/Component/Mailer/Bridge/Mailgun/Tests/Transport/MailgunApiTransportTest.php
Labels: Status: Reviewed, Mailer

#60852 [Notifier] remove the Sms77 Notifier bridge
  UPGRADE-8.0.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/notifier_transports.php
  src/Symfony/Component/Notifier/Bridge/Sms77/.gitattributes
  src/Symfony/Component/Notifier/Bridge/Sms77/.github/PULL_REQUEST_TEMPLATE.md
  src/Symfony/Component/Notifier/Bridge/Sms77/.github/workflows/close-pull-request.yml
  src/Symfony/Component/Notifier/Bridge/Sms77/.gitignore
  src/Symfony/Component/Notifier/Bridge/Sms77/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Sms77/LICENSE
  src/Symfony/Component/Notifier/Bridge/Sms77/README.md
  src/Symfony/Component/Notifier/Bridge/Sms77/Sms77Transport.php
  src/Symfony/Component/Notifier/Bridge/Sms77/Sms77TransportFactory.php
  src/Symfony/Component/Notifier/Bridge/Sms77/Tests/Sms77TransportFactoryTest.php
  src/Symfony/Component/Notifier/Bridge/Sms77/Tests/Sms77TransportTest.php
  src/Symfony/Component/Notifier/Bridge/Sms77/composer.json
  src/Symfony/Component/Notifier/Bridge/Sms77/phpunit.xml.dist
  src/Symfony/Component/Notifier/Exception/UnsupportedSchemeException.php
  src/Symfony/Component/Notifier/Tests/Exception/UnsupportedSchemeExceptionTest.php
  src/Symfony/Component/Notifier/Transport.php
Labels: Feature, Status: Reviewed, Notifier

#60866 [Mailer] Remove deprecated TransportFactoryTestCase
  UPGRADE-8.0.md
  src/Symfony/Component/Mailer/CHANGELOG.md
  src/Symfony/Component/Mailer/Test/TransportFactoryTestCase.php
Labels: Status: Reviewed, Mailer

#60865 [Serializer] Remove deprecated withDefaultContructorArguments method
  UPGRADE-8.0.md
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Context/Normalizer/AbstractNormalizerContextBuilder.php
Labels: Serializer, Status: Reviewed

#60862 [Routing] Remove deprecated AttributeClassLoader property and setter
  UPGRADE-8.0.md
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/AttributeClassLoader.php
Labels: Routing, Status: Reviewed, Deprecation

#60871 [HttpKernel][VarDumper] remove version numbers from @internal annotations
  src/Symfony/Component/HttpKernel/DependencyInjection/Extension.php
  src/Symfony/Component/VarDumper/Caster/AddressInfoCaster.php
  src/Symfony/Component/VarDumper/Caster/AmqpCaster.php
  src/Symfony/Component/VarDumper/Caster/Caster.php
  src/Symfony/Component/VarDumper/Caster/DOMCaster.php
  src/Symfony/Component/VarDumper/Caster/DateCaster.php
  src/Symfony/Component/VarDumper/Caster/DoctrineCaster.php
  src/Symfony/Component/VarDumper/Caster/ExceptionCaster.php
  src/Symfony/Component/VarDumper/Caster/GmpCaster.php
  src/Symfony/Component/VarDumper/Caster/ImagineCaster.php
  src/Symfony/Component/VarDumper/Caster/IntlCaster.php
  src/Symfony/Component/VarDumper/Caster/MemcachedCaster.php
  src/Symfony/Component/VarDumper/Caster/PdoCaster.php
  src/Symfony/Component/VarDumper/Caster/PgSqlCaster.php
  src/Symfony/Component/VarDumper/Caster/ProxyManagerCaster.php
  src/Symfony/Component/VarDumper/Caster/RdKafkaCaster.php
  src/Symfony/Component/VarDumper/Caster/RedisCaster.php
  src/Symfony/Component/VarDumper/Caster/ReflectionCaster.php
  src/Symfony/Component/VarDumper/Caster/SplCaster.php
  src/Symfony/Component/VarDumper/Caster/StubCaster.php
  src/Symfony/Component/VarDumper/Caster/SymfonyCaster.php
  src/Symfony/Component/VarDumper/Caster/UuidCaster.php
  src/Symfony/Component/VarDumper/Caster/XmlReaderCaster.php
  src/Symfony/Component/VarDumper/Caster/XmlResourceCaster.php
  src/Symfony/Component/VarDumper/composer.json
Labels: HttpKernel, VarDumper, Status: Needs Review

#60861 [DependencyInjection] Remove unused and non-existent Factory attribute use
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/StaticConstructorAutoconfigure.php
Labels: DependencyInjection, Bug, Status: Reviewed

#60859 [TwigBundle] fix preload unlinked class `BinaryOperatorExpressionParser`
  src/Symfony/Bundle/TwigBundle/Resources/config/twig.php
Labels: Bug, TwigBundle, Status: Needs Review

#60876 [HttpFoundation] Deprecate using `Request::sendHeaders()` after headers have already been sent
  UPGRADE-7.4.md
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Response.php
Labels: HttpFoundation, Status: Needs Review

#60614 [Security] Deprecate callable firewall listeners
  UPGRADE-7.4.md
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Debug/TraceableFirewallListener.php
  src/Symfony/Bundle/SecurityBundle/Security/FirewallContext.php
  src/Symfony/Bundle/SecurityBundle/Security/LazyFirewallContext.php
  src/Symfony/Bundle/SecurityBundle/Tests/DataCollector/SecurityDataCollectorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Debug/TraceableFirewallListenerTest.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/Firewall.php
  src/Symfony/Component/Security/Http/Firewall/AbstractListener.php
  src/Symfony/Component/Security/Http/Tests/Firewall/AccessListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ChannelListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/ContextListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/LogoutListenerTest.php
  src/Symfony/Component/Security/Http/Tests/Firewall/SwitchUserListenerTest.php
  src/Symfony/Component/Security/Http/Tests/FirewallTest.php
Labels: Security, Status: Reviewed, Deprecation

#60882 [Security] Document `FirewallListenerInterface` as a firewall listener type
  src/Symfony/Bundle/SecurityBundle/Security/FirewallContext.php
  src/Symfony/Component/Security/Http/FirewallMap.php
  src/Symfony/Component/Security/Http/FirewallMapInterface.php
Labels: Security, Feature, Status: Reviewed

#60884 [Console] Cleanup test for invokable command
  src/Symfony/Component/Console/Tests/ApplicationTest.php
Labels: Console, Status: Reviewed

#60878 [AssetMapper] Remove `ImportMapConfigReader::splitPackageNameAndFilePath()`
  UPGRADE-8.0.md
  src/Symfony/Component/AssetMapper/CHANGELOG.md
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapConfigReader.php
  src/Symfony/Component/AssetMapper/Tests/ImportMap/ImportMapConfigReaderTest.php
Labels: Status: Reviewed, AssetMapper

#60872 Update GitHub PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review

#60887 [String] Leverage grapheme_str_split()
  composer.json
  src/Symfony/Component/String/AbstractUnicodeString.php
  src/Symfony/Component/String/Tests/AbstractUnicodeTestCase.php
  src/Symfony/Component/String/composer.json
Labels: Status: Reviewed, String

#60888 [Intl] Fix locale validator when canonicalize is true
  src/Symfony/Component/Validator/Constraints/LocaleValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/LocaleValidatorTest.php
Labels: Bug, Intl, Status: Needs Review

#60911 [DoctrineBridge] use native lazy objects on PHP 8.4+ when available
  src/Symfony/Bridge/Doctrine/Tests/DoctrineTestHelper.php
  src/Symfony/Bridge/Doctrine/Tests/PropertyInfo/DoctrineExtractorTest.php
Labels: Status: Needs Review, DoctrineBridge

#60909 [TypeInfo] use an EOL-agnostic approach to parse class uses
  src/Symfony/Component/TypeInfo/.gitattributes
  src/Symfony/Component/TypeInfo/Tests/Fixtures/DummyWithUsesWindowsLineEndings.php
  src/Symfony/Component/TypeInfo/Tests/TypeContext/TypeContextFactoryTest.php
  src/Symfony/Component/TypeInfo/TypeContext/TypeContextFactory.php
Labels: Bug, Status: Reviewed, TypeInfo

#60914 [Console] Fix command option mode (InputOption::VALUE_REQUIRED)
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Command/TranslationUpdateCommand.php
  src/Symfony/Component/Mailer/Command/MailerTestCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRemoveCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesRetryCommand.php
  src/Symfony/Component/Messenger/Command/FailedMessagesShowCommand.php
  src/Symfony/Component/Translation/Command/TranslationPullCommand.php
  src/Symfony/Component/Translation/Command/TranslationPushCommand.php
Labels: Bug, Console, Status: Reviewed

#60908 [Uid] Improve entropy of the increment for UUIDv7
  src/Symfony/Component/Uid/UuidV7.php
Labels: Bug, Status: Needs Review, Uid

#60895 [BrowserKit] Add `isFirstPage()` and `isLastPage()` methods to History
  src/Symfony/Component/BrowserKit/CHANGELOG.md
  src/Symfony/Component/BrowserKit/History.php
  src/Symfony/Component/BrowserKit/Tests/AbstractBrowserTest.php
  src/Symfony/Component/BrowserKit/Tests/HistoryTest.php
Labels: Feature, BrowserKit, Status: Reviewed

#60820 [TypeInfo] Fix handling `ConstFetchNode`
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/composer.json
  src/Symfony/Component/Serializer/Tests/Normalizer/ObjectNormalizerTest.php
  src/Symfony/Component/TypeInfo/Tests/Fixtures/DummyWithConstants.php
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/StringTypeResolverTest.php
  src/Symfony/Component/TypeInfo/TypeResolver/StringTypeResolver.php
Labels: Bug, Status: Reviewed, TypeInfo

#60922 [Form] Change `UrlType` default protocol
  UPGRADE-8.0.md
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/UrlType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/UrlTypeTest.php
  src/Symfony/Component/Form/Tests/Extension/Validator/Type/UrlTypeValidatorExtensionTest.php
Labels: Form, Status: Reviewed

#60413 [Serializer] Fix collect_denormalization_errors flag in defaultContext
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Needs Review

#60483 [HttpKernel] Fix `#[MapUploadedFile]` handling for optional file uploads
  src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/RequestPayloadValueResolver.php
  src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolver/UploadedFileValueResolverTest.php
Labels: Bug, HttpKernel, Status: Needs Review

#60480 [VarDumper] Add support for adding more default casters to `AbstractCloner::addDefaultCasters()`
  src/Symfony/Component/VarDumper/CHANGELOG.md
  src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php
  src/Symfony/Component/VarDumper/Tests/Cloner/VarClonerTest.php
Labels: Feature, VarDumper, Status: Needs Review

#60803 [SecurityBundle] Don't break `security.http_utils` service decoration
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/AddSessionDomainConstraintPass.php
  src/Symfony/Bundle/SecurityBundle/SecurityBundle.php
Labels: Bug, SecurityBundle, Status: Reviewed

#60594 [Cache] Fix using a `ChainAdapter` as an adapter for a pool
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolPassTest.php
Labels: Bug, Status: Reviewed, Cache

#60042 [Console] Table counts wrong number of padding symbols in `renderCell()` method when cell contain unicode variant selector
  src/Symfony/Component/Console/Application.php
  src/Symfony/Component/Console/Helper/Helper.php
  src/Symfony/Component/Console/Helper/Table.php
  src/Symfony/Component/Console/Tests/Helper/TableTest.php
Labels: Bug, Console, Status: Needs Review

#60927 Streamline UPGRADE-8.0.md file
  UPGRADE-8.0.md
Labels: Status: Needs Review

#60923 [Validator] Remove deprecated `INVALID_BANK_CODE_ERROR` constant
  UPGRADE-8.0.md
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Bic.php
Labels: Validator, Status: Reviewed

#60937 Release v7.2.8
  CHANGELOG-7.2.md
  src/Symfony/Component/HttpKernel/Kernel.php
Labels: Status: Needs Review

#60942 [FrameworkBundle] fix `lint:container` command
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
  src/Symfony/Component/DependencyInjection/Alias.php
Labels: Bug, Status: Needs Review

#60941 [SecurityBundle] Deprecate the `security.authentication.hide_user_not_found` parameter
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
Labels: SecurityBundle, Status: Reviewed, Deprecation

#60507 [Console][Messenger] Fix: Allow `UnrecoverableExceptionInterface` to bypass retry in `RunCommandMessageHandler`
  src/Symfony/Component/Console/Messenger/RunCommandMessageHandler.php
  src/Symfony/Component/Console/Tests/Messenger/RunCommandMessageHandlerTest.php
Labels: Bug, Console, Status: Reviewed, Messenger

#60950 Fix indentation in diff in UPGRADE file
  UPGRADE-8.0.md
Labels: Status: Reviewed

#60958 [Serializer] remove return type from `AbstractObjectNormalizer::getAllowedAttributes()`
  .github/expected-missing-return-types.diff
  src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php
Labels: Serializer, Bug, Status: Reviewed

#60956 [TypeInfo] Fix `Type::fromValue` incorrectly setting object type instead of enum
  src/Symfony/Component/TypeInfo/Tests/TypeFactoryTest.php
  src/Symfony/Component/TypeInfo/TypeFactoryTrait.php
Labels: Status: Reviewed, TypeInfo

#60951 [OptionsResolver] Remove internal BC layer leftovers for `$deprecatedNestedOptions`
  src/Symfony/Component/OptionsResolver/OptionsResolver.php
Labels: OptionsResolver, Status: Reviewed

#60948 [FrameworkBundle] Minor remove unused `Container` use statement in `ContainerLintCommand`
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerLintCommand.php
Labels: FrameworkBundle, Status: Reviewed

#60962 [HttpKernel] Make `ServicesResetter` class `final`
  UPGRADE-8.0.md
  src/Symfony/Component/HttpKernel/CHANGELOG.md
  src/Symfony/Component/HttpKernel/DependencyInjection/ServicesResetter.php
Labels: HttpKernel, Status: Reviewed

#60965 [SecurityBundle] Make `ExpressionCacheWarmer` class `final`
  UPGRADE-8.0.md
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/CacheWarmer/ExpressionCacheWarmer.php
Labels: SecurityBundle, Status: Reviewed

#60966 [FrameworkBundle] Make `Router` class `final`
  UPGRADE-8.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Routing/Router.php
Labels: FrameworkBundle, Status: Reviewed

#60969 [FrameworkBundle] Make `Translator` class `final`
  UPGRADE-8.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/Translation/Translator.php
Labels: FrameworkBundle, Status: Reviewed

#60971 [FrameworkBundle] Make `ValidatorCacheWarmer` class `final`
  UPGRADE-8.0.md
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ValidatorCacheWarmer.php
Labels: FrameworkBundle, Status: Reviewed

#60973 [Translation] Make `DataCollectorTranslator` class `final`
  UPGRADE-8.0.md
  src/Symfony/Component/Translation/CHANGELOG.md
  src/Symfony/Component/Translation/DataCollectorTranslator.php
Labels: Translation, Status: Reviewed

#60929 [SecurityBundle] Remove deprecated OIDC token handler options `algorithm` and `key`
  UPGRADE-8.0.md
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Security/Factory/AccessTokenFactoryTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_oidc_jwe.yml
Labels: SecurityBundle, Status: Needs Review
