Repository symfony/symfony, pull requests merged in 2025-10, with the labels that each got.

#61903 [Validator] Add missing Polish plural form for word count validator
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Validator, Bug, Status: Reviewed

#61905 [HtmlSanitizer] Remove redundant assignment to promoted property $con…
  src/Symfony/Component/HtmlSanitizer/HtmlSanitizer.php
Labels: Feature, Status: Reviewed, HtmlSanitizer

#61859 [Intl] Support time in generated data in currencies validity
  src/Symfony/Component/Intl/Data/Generator/CurrencyDataGenerator.php
  src/Symfony/Component/Intl/Resources/data/currencies/meta.php
Labels: Feature, Intl, Status: Reviewed

#61837 [Form] Add new `active_at`, `not_active_at` and `legal_tender` options to `CurrencyType`
  UPGRADE-7.4.md
  src/Symfony/Component/Form/CHANGELOG.md
  src/Symfony/Component/Form/Extension/Core/Type/CurrencyType.php
  src/Symfony/Component/Form/Tests/Extension/Core/Type/CurrencyTypeTest.php
  src/Symfony/Component/Intl/Currencies.php
Labels: Form, Feature, Status: Reviewed

#60568 [DependencyInjection][Routing] Deprecate XML configuration format
  UPGRADE-7.4.md
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/XmlFrameworkExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/XmlCompleteConfigurationTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/XmlCustomAuthenticatorTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/XmlCustomProviderTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/FirewallEntryPointBundle/DependencyInjection/FirewallEntryPointExtension.php
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/FirewallEntryPointBundle/Resources/config/services.xml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/Bundle/FirewallEntryPointBundle/Resources/config/services.yml
  src/Symfony/Bundle/TwigBundle/Tests/DependencyInjection/TwigExtensionTest.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/AutowirePassTest.php
  src/Symfony/Component/DependencyInjection/Tests/CrossCheckTest.php
  src/Symfony/Component/DependencyInjection/Tests/Dumper/XmlDumperTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/ini/ini_with_wrong_ext.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/services2.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/xml_with_wrong_ext.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/yaml/services4.yml
  src/Symfony/Component/DependencyInjection/Tests/Loader/FileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/XmlFileLoader.php
  src/Symfony/Component/Routing/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Routing, Status: Reviewed, Deprecation

#61907 [Meta] Better exception when symfony link cannot read a JSON
  link
Labels: Status: Reviewed

#61920 [Form] do not install symfony/intl < 7.4
  src/Symfony/Component/Form/composer.json
Labels: Form, Bug, Status: Reviewed

#61919 [DependencyInjection] Deprecate `ExtensionInterface::getXsdValidationBasePath()` and `getNamespace()`
  UPGRADE-7.4.md
  src/Symfony/Bundle/DebugBundle/DependencyInjection/DebugExtension.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/ConfigBuilderCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/ExtensionWithoutConfigTestBundle/DependencyInjection/ExtensionWithoutConfigTestExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/WebProfilerBundle/DependencyInjection/WebProfilerExtension.php
  src/Symfony/Component/Config/Tests/Fixtures/some.phar
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Extension/Extension.php
  src/Symfony/Component/DependencyInjection/Extension/ExtensionInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/AcmeExtension.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/ProjectExtension.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/ProjectWithXsdExtension.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/ProjectWithXsdExtensionInPhar.phar
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/createphar.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: DependencyInjection, Status: Needs Review, Deprecation

#61931 Ensure branch 7.4 will remain compatible with 8.0 once XML loaders are removed
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/HttpKernel/Kernel.php
  src/Symfony/Component/Routing/Tests/RouteCollectionTest.php
Labels: Status: Needs Review

#61933 [Workflow] Move the dump command to the component
  .github/CODEOWNERS
  UPGRADE-7.4.md
  src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/console.php
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/Command/WorkflowDumpCommand.php
  src/Symfony/Component/Workflow/Tests/Command/WorkflowDumpCommandTest.php
  src/Symfony/Component/Workflow/composer.json
Labels: Status: Reviewed, Deprecation, Workflow

#61947 [Cache] fix Relay Cluster 0.12 compatibility
  src/Symfony/Component/Cache/Traits/Relay/WaitaofTrait.php
  src/Symfony/Component/Cache/Traits/RelayClusterProxy.php
Labels: Bug, Status: Needs Review, Cache

#61944 [Config] Generate the array-shape of the current node instead of the whole root node in Config classes
  src/Symfony/Component/Config/Builder/ClassBuilder.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Messenger/ReceivingConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Messenger/RoutingConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/MessengerConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Translator/Books/PageConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Translator/BooksConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/TranslatorConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeys/BarConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeys/BazConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeys/FooConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayValues/Symfony/Config/ArrayValues/ErrorPagesConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayValues/Symfony/Config/ArrayValues/TransportsConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues/Symfony/Config/NodeInitialValues/Messenger/TransportsConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues/Symfony/Config/NodeInitialValues/MessengerConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues/Symfony/Config/NodeInitialValues/SomeCleverNameConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/KeyedListObjectConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/ListObjectConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/Nested/NestedListObjectConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/Nested/NestedObjectConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/NestedConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/ObjectConfig.php
  src/Symfony/Component/Config/Tests/Builder/GeneratedConfigTest.php
Labels: Bug, Config, Status: Reviewed

#61952 [Cache] bump ext-relay to 0.12+
  src/Symfony/Component/Cache/CHANGELOG.md
  src/Symfony/Component/Cache/Traits/RedisTrait.php
  src/Symfony/Component/Cache/Traits/Relay/Relay12Trait.php
  src/Symfony/Component/Cache/Traits/Relay/WaitaofTrait.php
  src/Symfony/Component/Cache/Traits/RelayClusterProxy.php
  src/Symfony/Component/Cache/Traits/RelayProxy.php
  src/Symfony/Component/Cache/Traits/RelayProxyTrait.php
  src/Symfony/Component/Cache/composer.json
Labels: Feature, Status: Reviewed, Cache

#61943 [TypeInfo] ArrayShape can resolve key type as callable instead of string
  src/Symfony/Component/TypeInfo/Tests/TypeFactoryTest.php
  src/Symfony/Component/TypeInfo/Type/ArrayShapeType.php
Labels: Bug, Status: Reviewed, TypeInfo

#61956 [Console] Update CHANGELOG to reflect attribute name changes for interactive invokable commands
  src/Symfony/Component/Console/CHANGELOG.md
Labels: Console, Status: Reviewed

#61954 [TypeInfo] Fix type alias with template resolving
  src/Symfony/Component/TypeInfo/Tests/Fixtures/DummyWithTemplateTypeAlias.php
  src/Symfony/Component/TypeInfo/Tests/TypeContext/TypeContextFactoryTest.php
  src/Symfony/Component/TypeInfo/Tests/TypeResolver/StringTypeResolverTest.php
  src/Symfony/Component/TypeInfo/TypeContext/TypeContextFactory.php
Labels: Bug, Status: Reviewed, TypeInfo

#61252 [FrameworkBundle] Add support for union types on `#[AsEventListener]`
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/EventDispatcher/Tests/DependencyInjection/RegisterListenersPassTest.php
  src/Symfony/Component/EventDispatcher/Tests/Fixtures/DummyEvent.php
  src/Symfony/Component/EventDispatcher/Tests/Fixtures/TaggedUnionTypeListener.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#61960 [WebProfilerBundle] ”finish” errored requests
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar_js.html.twig
Labels: Bug, WebProfilerBundle, Status: Reviewed

#60660 [Security] Add security:oidc-token:generate command
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_authenticator_access_token.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Security/Factory/AccessTokenFactoryTest.php
  src/Symfony/Component/Security/Http/AccessToken/Oidc/OidcTokenGenerator.php
  src/Symfony/Component/Security/Http/Command/OidcTokenGenerateCommand.php
  src/Symfony/Component/Security/Http/Tests/AccessToken/Oidc/OidcTokenGeneratorTest.php
Labels: Security, Feature, Status: Reviewed

#61940 [DependencyInjection] Register a custom autoloader to generate `*Config` classes when they don't exist yet
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
Labels: DependencyInjection, Feature, Status: Reviewed

#61968 [Console] Specify types of interactive question choices - add Stringable
  src/Symfony/Component/Console/Question/ChoiceQuestion.php
Labels: Bug, Console, Status: Reviewed

#61973 [Cache] fix compatibility with RelayCluster 0.12
  src/Symfony/Component/Cache/Traits/RelayClusterProxy.php
Labels: Bug, Status: Needs Review, Cache

#61977 [Validator] remove legacy tests
  src/Symfony/Component/Validator/Tests/Constraints/AbstractComparisonTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CallbackTest.php
  src/Symfony/Component/Validator/Tests/Constraints/CssColorTest.php
  src/Symfony/Component/Validator/Tests/Constraints/DateTimeTest.php
  src/Symfony/Component/Validator/Tests/Constraints/DivisibleByTest.php
  src/Symfony/Component/Validator/Tests/Constraints/EqualToTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanOrEqualTest.php
  src/Symfony/Component/Validator/Tests/Constraints/GreaterThanTest.php
  src/Symfony/Component/Validator/Tests/Constraints/IdenticalToTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanOrEqualTest.php
  src/Symfony/Component/Validator/Tests/Constraints/LessThanTest.php
  src/Symfony/Component/Validator/Tests/Constraints/NotEqualToTest.php
  src/Symfony/Component/Validator/Tests/Constraints/NotIdenticalToTest.php
  src/Symfony/Component/Validator/Tests/Constraints/TimezoneTest.php
Labels: Validator, Status: Needs Review

#61986 [DependencyInjection] remove getNamespace() and getXsdValidationBasePath() from ExtensionInterface
  UPGRADE-8.0.md
  src/Symfony/Bundle/DebugBundle/DependencyInjection/DebugExtension.php
  src/Symfony/Bundle/FrameworkBundle/Command/ConfigDumpReferenceCommand.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/CacheWarmer/ConfigBuilderCacheWarmerTest.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/ExtensionWithoutConfigTestBundle/DependencyInjection/ExtensionWithoutConfigTestExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php
  src/Symfony/Bundle/WebProfilerBundle/DependencyInjection/WebProfilerExtension.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Extension/Extension.php
  src/Symfony/Component/DependencyInjection/Extension/ExtensionInterface.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/AcmeExtension.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/includes/ProjectExtension.php
  src/Symfony/Component/HttpKernel/Tests/KernelTest.php
Labels: DependencyInjection, Feature, Status: Needs Work

#61989 [Config][DependencyInjection][Routing] remove ability to access $this and the loader's internal state
  UPGRADE-8.0.md
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/Loader/DefinitionFileLoader.php
  src/Symfony/Component/Config/Tests/Definition/Loader/DefinitionFileLoaderTest.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/PhpFileLoader.php
  src/Symfony/Component/Routing/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Feature, Routing, Config, Status: Needs Review

#61991 remove getNamespace() and getXsdValidationBasePath() from ExtensionInterface
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/Bundle/ExtensionWithoutConfigTestBundle/DependencyInjection/ExtensionWithoutConfigTestExtension.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/AppKernel.php
  src/Symfony/Component/DependencyInjection/Tests/Compiler/MergeExtensionConfigurationPassTest.php
Labels: Status: Needs Review

#62004 [Console] skip hidden question tests on Windows
  src/Symfony/Component/Console/Tests/Fixtures/InvokableWithInteractiveAttributesTestCommand.php
  src/Symfony/Component/Console/Tests/Fixtures/InvokableWithInteractiveHiddenQuestionAttributeTestCommand.php
  src/Symfony/Component/Console/Tests/Tester/CommandTesterTest.php
Labels: Console, Status: Reviewed

#62000 use PHPUnit 12.4
  phpunit
Labels: Status: Reviewed

#62005 [ObjectMapper] remove not needed legacy test group
  src/Symfony/Component/ObjectMapper/Tests/ObjectMapperTest.php
Labels: Status: Needs Review, ObjectMapper

#61993 [DoctrineBridge] Remove `AbstractDoctrineExtension`
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/DoctrineExtensionTest.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/AnnotationsBundle/AnnotationsBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/AnnotationsBundle/Entity/Person.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/AnnotationsOneLineBundle/AnnotationsOneLineBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/AnnotationsOneLineBundle/Entity/Person.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/AttributesBundle/AnnotatedEntity/Person.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/AttributesBundle/AttributesBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/AttributesBundle/Entity/Person.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/FullEmbeddableAnnotationsBundle/Entity/Address.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/FullEmbeddableAnnotationsBundle/FullEmbeddableAnnotationsBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/FullEmbeddableAttributesBundle/Entity/Address.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/FullEmbeddableAttributesBundle/FullEmbeddableAttributesBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/NewAnnotationsBundle/src/Entity/Person.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/NewAnnotationsBundle/src/NewAnnotationsBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/NewXmlBundle/config/doctrine/Person.orm.xml
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/NewXmlBundle/src/Entity/Person.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/NewXmlBundle/src/NewXmlBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/PhpBundle/Entity/Person.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/PhpBundle/PhpBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/PhpBundle/Resources/config/doctrine/Person.orm.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/SrcXmlBundle/src/Entity/Person.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/SrcXmlBundle/src/Resources/config/doctrine/Person.orm.xml
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/SrcXmlBundle/src/SrcXmlBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/XmlBundle/Entity/Person.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/XmlBundle/Resources/config/doctrine/Person.orm.xml
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/XmlBundle/XmlBundle.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/YamlBundle/Entity/Person.php
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/YamlBundle/Resources/config/doctrine/Person.orm.yml
  src/Symfony/Bridge/Doctrine/Tests/Fixtures/Bundles/YamlBundle/YamlBundle.php
Labels: Status: Reviewed, DoctrineBridge
