Repository symfony/symfony, pull requests merged in 2025-09, with the labels that each got.

#61574 [Serializer] fix tests
  src/Symfony/Component/Serializer/Tests/Normalizer/DateTimeNormalizerTest.php
Labels: Serializer, Status: Needs Review

#60766 [DependencyInjection] Respect original service class when a proxy is defined
  src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/ProxyAndInheritance/Application.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/ProxyAndInheritance/Foo.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/ProxyAndInheritance/RepackedApplication.php
Labels: DependencyInjection, Bug, Status: Needs Review

#61571 [Serializer] Fix dealing with asymmetric visilibity for properties
  src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php
  src/Symfony/Component/Serializer/Tests/Fixtures/AsymmetricVisibilityDummy.php
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Bug, Status: Needs Review

#61568 [Console] Harden array type for test-related user inputs
  src/Symfony/Component/Console/Tester/TesterTrait.php
Labels: Console, Status: Needs Review

#61585 [HttpFoundation][SQLSRV] Change column type from `TEXT` to `STRING`
  src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php
Labels: Bug, HttpFoundation, Status: Needs Review

#61232 [Messenger] Firebird Database - incompatibility with expected lowercase columns
  src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php
Labels: Bug, Status: Reviewed, Messenger

#61598 fix Resources translations validators.pt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
Labels: Status: Reviewed

#61592 [Runtime] Expose the runtime class in `$_SERVER['APP_RUNTIME']`
  src/Symfony/Component/Runtime/CHANGELOG.md
  src/Symfony/Component/Runtime/Internal/autoload_runtime.template
Labels: Feature, Status: Reviewed, Runtime

#61580 [JsonStreamer] Fix encoding iterable lists
  src/Symfony/Component/JsonStreamer/Tests/JsonStreamWriterTest.php
  src/Symfony/Component/JsonStreamer/Write/PhpAstBuilder.php
Labels: Bug, Status: Reviewed, JsonStreamer

#61595 [Security] Pass attributes to nested `ChainUserProvider`s
  src/Symfony/Component/Security/Core/Tests/User/ChainUserProviderTest.php
  src/Symfony/Component/Security/Core/User/ChainUserProvider.php
Labels: Security, Bug, Status: Reviewed

#59042 [Validator] Add `Video` constraint for validating video files
  .github/workflows/unit-tests.yml
  .github/workflows/windows.yml
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/Video.php
  src/Symfony/Component/Validator/Constraints/VideoValidator.php
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test.mp4
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_16by9.mp4
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_4by3.mp4
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_corrupted.mp4
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_landscape.mp4
  src/Symfony/Component/Validator/Tests/Constraints/Fixtures/test_portrait.mp4
  src/Symfony/Component/Validator/Tests/Constraints/VideoTest.php
  src/Symfony/Component/Validator/Tests/Constraints/VideoValidatorTest.php
  src/Symfony/Component/Validator/composer.json
Labels: Validator, Feature, Status: Reviewed

#61591 [Validator] Update translation for the Video constraint
  src/Symfony/Component/Validator/Constraints/Range.php
  src/Symfony/Component/Validator/Resources/translations/validators.af.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.az.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.be.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.bs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.cy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.da.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.de.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.el.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.en.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.es.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.et.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.gl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.he.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.hy.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.id.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.it.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.mn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.my.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nb.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.nn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.no.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sq.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.th.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tl.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.ur.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.uz.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf
  src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf
Labels: Validator, Status: Needs Review

#61599 [Cache] Make `TagAwareAdapter` registrable as a service
  src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php
  src/Symfony/Component/Cache/Tests/DependencyInjection/CachePoolPassTest.php
Labels: Feature, Status: Needs Review, Cache

#61607 [Config] Fix `ReflectionClassResource` hash validation
  src/Symfony/Component/Config/Resource/ReflectionClassResource.php
  src/Symfony/Component/Config/Tests/Fixtures/FakeVendor/Base.php
  src/Symfony/Component/Config/Tests/Resource/ReflectionClassResourceTest.php
Labels: Bug, Config, Status: Needs Review

#61379 [Security][TwigBridge] Add `access_decision()` and `access_decision_for_user()`
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Extension/SecurityExtension.php
  src/Symfony/Bridge/Twig/Tests/Extension/SecurityExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Security.php
  src/Symfony/Bundle/SecurityBundle/Tests/SecurityTest.php
Labels: Security, Feature, Status: Reviewed, TwigBridge

#61615 [DependencyInjection] Fix optimizing ClassExistenceResource
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/DependencyInjection/Tests/ContainerBuilderTest.php
Labels: DependencyInjection, Bug, Status: Reviewed

#61601 [DependencyInjection] Add test case to ensure XML parse exception message includes filename and position
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/services31.xml
  src/Symfony/Component/DependencyInjection/Tests/Loader/XmlFileLoaderTest.php
Labels: DependencyInjection, Status: Needs Review

#61582 [DoctrineBridge] Use a single table in isSameDatabaseChecker
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/SchemaListener/AbstractSchemaListener.php
  src/Symfony/Bridge/Doctrine/Tests/SchemaListener/AbstractSchemaListenerTest.php
Labels: Bug, Feature, Status: Reviewed, DoctrineBridge

#61528 [Validator] Allow using attributes to declare compile-time constraint metadata
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/ValidatorCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/UnusedTagsPass.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/validator.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Component/Form/Extension/Validator/Constraints/Form.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraint.php
  src/Symfony/Component/Validator/DependencyInjection/AttributeMetadataPass.php
  src/Symfony/Component/Validator/Mapping/Loader/AttributeLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/XmlFileLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Validator/Tests/DependencyInjection/AttributeMetadataPassTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AttributeLoaderTest.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Validator, Feature, Status: Reviewed

#61532 [Serializer] Allow using attributes to declare compile-time serialization metadata
  UPGRADE-7.4.md
  src/Symfony/Bundle/FrameworkBundle/CacheWarmer/SerializerCacheWarmer.php
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/serializer.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/serializer_mapping_without_annotations.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/serializer_mapping_without_annotations.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/serializer_mapping_without_annotations.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/FrameworkExtensionTestCase.php
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/DependencyInjection/AttributeMetadataPass.php
  src/Symfony/Component/Serializer/Mapping/Factory/ClassMetadataFactoryCompiler.php
  src/Symfony/Component/Serializer/Mapping/Loader/AttributeLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/XmlFileLoader.php
  src/Symfony/Component/Serializer/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Serializer/Tests/DependencyInjection/AttributeMetadataPassTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Factory/ClassMetadataFactoryCompilerTest.php
  src/Symfony/Component/Serializer/Tests/Mapping/Loader/AttributeLoaderTest.php
Labels: Serializer, Feature, Status: Needs Review, Deprecation

#61617 [Validator] fall back to legacy options handling if configured named arguments do not match
  src/Symfony/Component/Validator/Mapping/Loader/AbstractLoader.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping-exactly-value.xml
Labels: Validator, Bug, Status: Needs Review

#61646 [PhpUnitBridge] run tests with PHPUnit 11.5
  .github/workflows/unit-tests.yml
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/ConfigurationTest.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/DeprecationGroupTest.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/DeprecationNoticeTest.php
  src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/DeprecationTest.php
Labels: PhpUnitBridge, Status: Needs Review

#61648 [Validator] review the French translations
  src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf
Labels: Validator, Status: Needs Review

#61658 [Messenger] map legacy options to the "sentinel" key when parsing DSNs
  src/Symfony/Component/Messenger/Bridge/Redis/Transport/Connection.php
Labels: Bug, Status: Needs Review, Messenger

#61655 [Messenger] fix setup to actually run Redis Sentinel/Cluster integration tests
  .github/workflows/integration-tests.yml
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/RedisExtIntegrationTest.php
Labels: Status: Reviewed, Messenger

#61663 [Validator] Review translations for Polish language(pl)
  src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf
Labels: Validator, Status: Needs Work

#61656 [DependencyInjection] Allow `Class::function(...)` and `global_function(...)` closures in PHP DSL for factories
  src/Symfony/Component/DependencyInjection/Loader/Configurator/AbstractConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/ConfiguratorTrait.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/FactoryTrait.php
  src/Symfony/Component/DependencyInjection/Loader/Configurator/Traits/FromCallableTrait.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/named_closure.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/services9.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/php/named_closure_compiled.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/Configurator/AbstractConfiguratorTest.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
Labels: Feature, Status: Reviewed

#61662 use the empty string instead of null as an array offset
  src/Symfony/Component/Cache/Adapter/TagAwareAdapter.php
  src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php
  src/Symfony/Component/Console/Input/ArgvInput.php
  src/Symfony/Component/DependencyInjection/Compiler/CheckTypeDeclarationsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/DefinitionErrorExceptionPass.php
  src/Symfony/Component/DependencyInjection/Compiler/InlineServiceDefinitionsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveBindingsPass.php
  src/Symfony/Component/DependencyInjection/Compiler/ResolveHotPathPass.php
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/Form/Tests/Fixtures/FixedDataTransformer.php
  src/Symfony/Component/Form/Tests/Fixtures/FixedFilterListener.php
  src/Symfony/Component/HttpFoundation/ResponseHeaderBag.php
  src/Symfony/Component/Security/Http/Logout/LogoutUrlGenerator.php
  src/Symfony/Component/Serializer/Serializer.php
  src/Symfony/Component/String/Slugger/AsciiSlugger.php
  src/Symfony/Component/Translation/DependencyInjection/TranslatorPathsPass.php
Labels: Status: Reviewed

#61034 [Security][SecurityBundle] Dump role hierarchy as mermaid chart
  src/Symfony/Bundle/SecurityBundle/CHANGELOG.md
  src/Symfony/Bundle/SecurityBundle/Command/SecurityRoleHierarchyDumpCommand.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/security_role_hierarchy_dump_command.php
  src/Symfony/Bundle/SecurityBundle/Tests/Command/SecurityRoleHierarchyDumpCommandTest.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/SecurityExtensionTest.php
  src/Symfony/Bundle/SecurityBundle/composer.json
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Dumper/MermaidDirectionEnum.php
  src/Symfony/Component/Security/Core/Dumper/MermaidDumper.php
  src/Symfony/Component/Security/Core/Tests/Dumper/MermaidDumperTest.php
Labels: Security, Feature, SecurityBundle, Status: Reviewed

#61478 [Console] Add `#[Input]` attribute to support DTOs in invokable commands
  src/Symfony/Component/Console/Attribute/Argument.php
  src/Symfony/Component/Console/Attribute/Input.php
  src/Symfony/Component/Console/Attribute/Option.php
  src/Symfony/Component/Console/Attribute/Reflection/ReflectionMember.php
  src/Symfony/Component/Console/CHANGELOG.md
  src/Symfony/Component/Console/Command/InvokableCommand.php
  src/Symfony/Component/Console/Tests/Fixtures/InvokableWithInputTestCommand.php
  src/Symfony/Component/Console/Tests/Tester/CommandTesterTest.php
Labels: Feature, Console, DX, Status: Reviewed

#61669 [Validator] Review Croatian translations
  src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf
Labels: Validator, Status: Reviewed

#61670 [Validator] Review Turkish translations
  src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf
Labels: Validator, Bug, Status: Reviewed

#61674 [Messenger] fix test setup
  src/Symfony/Component/Messenger/Bridge/Redis/Tests/Transport/ConnectionTest.php
Labels: Messenger

#61683 [Serializer] Remove `#[RequiresPhp('8.4')]`
  src/Symfony/Component/Serializer/Tests/SerializerTest.php
Labels: Serializer, Status: Reviewed

#61671 [Serializer] add correct psalm and phpstan return types for `DenormalizerInterface`
  src/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.php
Labels: Serializer, Status: Reviewed

#61696 [Finder] Add better type information using PHPDoc
  src/Symfony/Component/Finder/Finder.php
Labels: Status: Needs Review

#61697 [Form] Add better type information using PHPDoc
  src/Symfony/Component/Form/AbstractType.php
  src/Symfony/Component/Form/AbstractTypeExtension.php
  src/Symfony/Component/Form/Event/PostSetDataEvent.php
  src/Symfony/Component/Form/Event/PostSubmitEvent.php
  src/Symfony/Component/Form/Event/PreSetDataEvent.php
  src/Symfony/Component/Form/Event/PreSubmitEvent.php
  src/Symfony/Component/Form/Event/SubmitEvent.php
  src/Symfony/Component/Form/Form.php
  src/Symfony/Component/Form/FormBuilderInterface.php
  src/Symfony/Component/Form/FormConfigBuilderInterface.php
  src/Symfony/Component/Form/FormConfigInterface.php
  src/Symfony/Component/Form/FormEvent.php
  src/Symfony/Component/Form/FormFactoryInterface.php
  src/Symfony/Component/Form/FormInterface.php
  src/Symfony/Component/Form/FormTypeExtensionInterface.php
  src/Symfony/Component/Form/FormTypeInterface.php
  src/Symfony/Component/Form/FormView.php
Labels: Form, Status: Reviewed

#61704 [Validator] Review Slovak translations
  src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf
Labels: Validator, Status: Needs Review

#61705 Remove needless calls to defined()
  src/Symfony/Bridge/Twig/Extension/YamlExtension.php
  src/Symfony/Component/Routing/Loader/AttributeFileLoader.php
Labels: Status: Needs Review

#61654 [Security] Deprecate `PersistentToken::getClass()` and `RememberMeDetails::getUserFqcn()` in order to remove the user FQCN from the remember-me cookie in 8.0
  UPGRADE-7.4.md
  src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/InMemoryTokenProvider.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/PersistentToken.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/PersistentTokenInterface.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authentication/RememberMe/PersistentTokenTest.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php
  src/Symfony/Component/Security/Http/RememberMe/RememberMeDetails.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentRememberMeHandlerTest.php
Labels: Security, Status: Reviewed, Deprecation

#61311 [WebProfilerBundle] Show `EventSource` requests in debug toolbar
  src/Symfony/Bundle/WebProfilerBundle/CHANGELOG.md
  src/Symfony/Bundle/WebProfilerBundle/EventListener/WebDebugToolbarListener.php
  src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar_js.html.twig
  src/Symfony/Bundle/WebProfilerBundle/Tests/EventListener/WebDebugToolbarListenerTest.php
Labels: Bug, Feature, WebProfilerBundle, Status: Reviewed

#61545 [Validator] Add `#[ExtendsValidationFor]` to declare new constraints for a class
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php
  src/Symfony/Component/Validator/Attribute/ExtendsValidationFor.php
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/DependencyInjection/AttributeMetadataPass.php
  src/Symfony/Component/Validator/Mapping/Loader/AttributeLoader.php
  src/Symfony/Component/Validator/Tests/DependencyInjection/AttributeMetadataPassTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/AttributeLoaderTest.php
  src/Symfony/Component/Validator/ValidatorBuilder.php
Labels: Validator, Feature, Status: Reviewed

#61712 [Config] Fix generics on TreeBuilder and ArrayNodeDefinition
  src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php
  src/Symfony/Component/Config/Definition/Builder/NodeBuilder.php
  src/Symfony/Component/Config/Definition/Builder/TreeBuilder.php
Labels: Config, Status: Needs Review

#61132 [JsonPath] Make the component RFC compliant
  src/Symfony/Component/JsonPath/JsonCrawler.php
  src/Symfony/Component/JsonPath/Tests/JsonCrawlerTest.php
  src/Symfony/Component/JsonPath/Tests/JsonPathComplianceTestSuiteTest.php
  src/Symfony/Component/JsonPath/Tests/Tokenizer/JsonPathTokenizerTest.php
  src/Symfony/Component/JsonPath/Tokenizer/JsonPathTokenizer.php
Labels: Bug, Status: Reviewed, JsonPath

#61714 [SecurityBundle] Fix semantic configuration for singulars/plurals in XML
  src/Symfony/Bundle/DebugBundle/Resources/config/schema/debug-1.0.xsd
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/CasTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/AccessToken/OidcUserInfoTokenHandlerFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AccessTokenFactory.php
  src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/RememberMeFactory.php
  src/Symfony/Bundle/SecurityBundle/Resources/config/schema/security-1.0.xsd
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/CompleteConfigurationTestCase.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/access_token_oidc.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/access_token_oidc_encryption.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/access_token_oidc_user_info_discovery.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/access_token_oidc.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/access_token_oidc_encryption.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/access_token_oidc_user_info_discovery.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/argon2i_hasher.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/bcrypt_hasher.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/container1.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/firewall_provider.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/firewall_undefined_provider.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/listener_provider.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/listener_undefined_provider.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/migrating_hasher.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/remember_me_options.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/xml/sodium_hasher.xml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/access_token_oidc.yml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/access_token_oidc_encryption.yml
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/yml/access_token_oidc_user_info_discovery.yml
  src/Symfony/Bundle/TwigBundle/Resources/config/schema/twig-1.0.xsd
  src/Symfony/Bundle/WebProfilerBundle/Resources/config/schema/webprofiler-1.0.xsd
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayValues.php
Labels: Bug, SecurityBundle, Status: Reviewed

#61110 [FrameworkBundle] Prepare session in functionnal tests
  src/Symfony/Bundle/FrameworkBundle/CHANGELOG.md
  src/Symfony/Bundle/FrameworkBundle/KernelBrowser.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/SessionTest.php
Labels: Feature, FrameworkBundle, Status: Reviewed

#61724 [Console] Fix handling of `\E` in Bash completion
  src/Symfony/Component/Console/Resources/completion.bash
Labels: Bug, Console, Status: Reviewed

#60808 [HttpFoundation] Handle error when expected directory is a file
  src/Symfony/Component/HttpFoundation/File/File.php
Labels: HttpFoundation, Status: Needs Review

#61752 [PropertyInfo] Fix getting type from constructor of parent class in `PhpStanExtractor`
  src/Symfony/Component/PropertyInfo/Extractor/PhpStanExtractor.php
  src/Symfony/Component/PropertyInfo/Tests/Extractor/PhpStanExtractorTest.php
  src/Symfony/Component/PropertyInfo/Tests/Fixtures/ParentDummy.php
Labels: Bug, Status: Needs Review, PropertyInfo

#61368 [HttpKernel] Refine Vary header check to skip special handling of 'Accept-Language' when it's the only entry and '_vary_by_language' is `true` in `CacheAttributeListener`
  src/Symfony/Component/HttpKernel/EventListener/CacheAttributeListener.php
  src/Symfony/Component/HttpKernel/Tests/EventListener/CacheAttributeListenerTest.php
Labels: Bug, HttpKernel, Status: Reviewed

#61758 [Mailer][Sendgrid] Add support for `global` region
  src/Symfony/Component/Mailer/Bridge/Sendgrid/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridSmtpTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridSmtpTransport.php
Labels: Feature, Status: Reviewed, Mailer

#61766 Fix ord()-related PHP 8.5 deprecations
  src/Symfony/Component/HttpFoundation/BinaryFileResponse.php
  src/Symfony/Component/Mime/Encoder/QpContentEncoder.php
  src/Symfony/Component/Mime/Encoder/QpEncoder.php
Labels: Bug, Status: Needs Review

#60114 [Workflow] Add support for `BackedEnum` in `MethodMarkingStore`
  src/Symfony/Component/Workflow/CHANGELOG.md
  src/Symfony/Component/Workflow/MarkingStore/MethodMarkingStore.php
  src/Symfony/Component/Workflow/Tests/MarkingStore/MethodMarkingStoreTest.php
  src/Symfony/Component/Workflow/Tests/MarkingStore/SubjectWithEnum.php
  src/Symfony/Component/Workflow/Tests/MarkingStore/TestEnum.php
Labels: Feature, Status: Reviewed, Workflow

#61769 [Mailer][Sendgrid] Add support for `global` region (api transport)
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Tests/Transport/SendgridApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Sendgrid/Transport/SendgridApiTransport.php
Labels: Feature, Status: Reviewed, Mailer

#61774 [ObjectMapper] fix documentation link
  src/Symfony/Component/ObjectMapper/README.md
Labels: Status: Reviewed, ObjectMapper

#61765 [TypeInfo] Add result cache to `TypeContextFactory`
  src/Symfony/Component/TypeInfo/Tests/TypeContext/TypeContextFactoryTest.php
  src/Symfony/Component/TypeInfo/TypeContext/TypeContextFactory.php
Labels: Status: Reviewed, TypeInfo

#60228 [Serializer] Support preserving array keys with `XmlEncoder`
  src/Symfony/Component/Serializer/CHANGELOG.md
  src/Symfony/Component/Serializer/Context/Encoder/XmlEncoderContextBuilder.php
  src/Symfony/Component/Serializer/Encoder/XmlEncoder.php
  src/Symfony/Component/Serializer/Mapping/Loader/schema/serialization.schema.json
  src/Symfony/Component/Serializer/Tests/Encoder/XmlEncoderTest.php
Labels: Serializer, Feature, Status: Reviewed

#61777 [Notifier][Twilio] WhatsApp number validation
  src/Symfony/Component/Notifier/Bridge/Twilio/CHANGELOG.md
  src/Symfony/Component/Notifier/Bridge/Twilio/Tests/TwilioTransportTest.php
  src/Symfony/Component/Notifier/Bridge/Twilio/TwilioTransport.php
Labels: Feature, Status: Reviewed, Notifier

#61784 [Security] make test forward compatible
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentRememberMeHandlerTest.php
Labels: Security, Status: Needs Review

#61775 [Mailer][Mandrill] Add `subaccount` to the payload
  src/Symfony/Component/Mailer/Bridge/Mailchimp/CHANGELOG.md
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Tests/Transport/MandrillApiTransportTest.php
  src/Symfony/Component/Mailer/Bridge/Mailchimp/Transport/MandrillApiTransport.php
Labels: Feature, Status: Reviewed, Mailer

#61760 [Security] remove the user FQCN from remember me cookies
  UPGRADE-8.0.md
  src/Symfony/Component/Security/Core/Authentication/RememberMe/InMemoryTokenProvider.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/PersistentToken.php
  src/Symfony/Component/Security/Core/Authentication/RememberMe/PersistentTokenInterface.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authentication/RememberMe/CacheTokenVerifierTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/RememberMe/InMemoryTokenProviderTest.php
  src/Symfony/Component/Security/Core/Tests/Authentication/RememberMe/PersistentTokenTest.php
  src/Symfony/Component/Security/Http/CHANGELOG.md
  src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php
  src/Symfony/Component/Security/Http/RememberMe/RememberMeDetails.php
  src/Symfony/Component/Security/Http/RememberMe/SignatureRememberMeHandler.php
  src/Symfony/Component/Security/Http/Tests/Authenticator/RememberMeAuthenticatorTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/PersistentRememberMeHandlerTest.php
  src/Symfony/Component/Security/Http/Tests/RememberMe/SignatureRememberMeHandlerTest.php
Labels: Security, Feature, Status: Reviewed

#61785 [ObjectMapper] Preserve non-promoted constructor parameters
  src/Symfony/Component/ObjectMapper/ObjectMapper.php
  src/Symfony/Component/ObjectMapper/Tests/Fixtures/InitializedConstructor/C.php
  src/Symfony/Component/ObjectMapper/Tests/Fixtures/InitializedConstructor/D.php
  src/Symfony/Component/ObjectMapper/Tests/ObjectMapperTest.php
Labels: Bug, Status: Reviewed, ObjectMapper

#61790 [FrameworkBundle][SecurityBundle] clean up test config files
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/php/full.php
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/full.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/workflow_glob_places.xml
  src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/yml/full.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/BundlePaths/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePoolClear/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/redis_config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/CachePools/redis_custom_config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/ConfigDump/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/ContainerDump/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Fragment/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/HttpClient/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/JsonStreamer/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Mailer/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Profiler/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/ProfilerCollectParameter/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Serializer/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Slugger/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TestServiceContainer/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TestServiceContainer/test_disabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TransDebug/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/TypeInfo/config.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Uid/config_disabled.yml
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Uid/config_enabled.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_anonymous.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_body_default.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_cas.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_custom_user_loader.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_header_default.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_multiple_extractors.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_oauth2.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_oidc.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_oidc_jwe.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_query_default.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/AccessToken/config_self_contained_token.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/JsonLogin/config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/RememberMe/stateless_config.yml
  src/Symfony/Bundle/SecurityBundle/Tests/Functional/app/StandardFormLogin/login_throttling.yml
Labels: FrameworkBundle, SecurityBundle, Status: Reviewed

#61795 [Validator] Expression constraint docblock incorrectly states default value for negate
  src/Symfony/Component/Validator/Constraints/Expression.php
Labels: Validator, Bug, Status: Reviewed

#61798 [DependencyInjection] Improve services.schema.json
  src/Symfony/Component/DependencyInjection/Loader/schema/services.schema.json
Labels: DependencyInjection, Bug, Status: Reviewed

#61799 [Config] Add `Node::getDeprecationMessage()` with full message
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/Definition/BaseNode.php
  src/Symfony/Component/Config/Definition/Dumper/XmlReferenceDumper.php
  src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/TranslatorConfig.php
  src/Symfony/Component/Config/Tests/Definition/ArrayNodeTest.php
  src/Symfony/Component/Config/Tests/Definition/Builder/BooleanNodeDefinitionTest.php
  src/Symfony/Component/Config/Tests/Definition/Builder/EnumNodeDefinitionTest.php
  src/Symfony/Component/Config/Tests/Definition/ScalarNodeTest.php
Labels: Feature, Config, Status: Reviewed

#61793 [AssetMapper] Prevent duplicate entries in module preloads
  src/Symfony/Component/AssetMapper/ImportMap/ImportMapRenderer.php
Labels: Status: Needs Review

#61801 [Console] Specify types of interactive question choices
  src/Symfony/Component/Console/Question/ChoiceQuestion.php
Labels: Bug, Console, Status: Needs Review

#61813 [SecurityBundle] Remove legacy parameter in SecurityDataCollectorTest
  src/Symfony/Bundle/SecurityBundle/Tests/DataCollector/SecurityDataCollectorTest.php
Labels: SecurityBundle, Status: Needs Review

#60085 [Security] improve VoteObject adding extraData for give more possibilities to AccessDecicsionStrategy
  UPGRADE-7.4.md
  src/Symfony/Component/Security/Core/Authorization/AccessDecisionManager.php
  src/Symfony/Component/Security/Core/Authorization/Strategy/AccessDecisionStrategyInterface.php
  src/Symfony/Component/Security/Core/Authorization/Strategy/AffirmativeStrategy.php
  src/Symfony/Component/Security/Core/Authorization/Strategy/ConsensusStrategy.php
  src/Symfony/Component/Security/Core/Authorization/Strategy/PriorityStrategy.php
  src/Symfony/Component/Security/Core/Authorization/Strategy/UnanimousStrategy.php
  src/Symfony/Component/Security/Core/Authorization/Voter/Vote.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
  src/Symfony/Component/Security/Core/Tests/Authorization/AccessDecisionManagerTest.php
Labels: Security, Feature, Status: Reviewed

#60237 [DoctrineBridge] Add new `DayPointType` and `TimePointType` Doctrine type
  src/Symfony/Bridge/Doctrine/CHANGELOG.md
  src/Symfony/Bridge/Doctrine/DependencyInjection/CompilerPass/RegisterDatePointTypePass.php
  src/Symfony/Bridge/Doctrine/Tests/DependencyInjection/CompilerPass/RegisterDatePointTypePassTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/DayPointTypeTest.php
  src/Symfony/Bridge/Doctrine/Tests/Types/TimePointTypeTest.php
  src/Symfony/Bridge/Doctrine/Types/DayPointType.php
  src/Symfony/Bridge/Doctrine/Types/TimePointType.php
Labels: Status: Reviewed, DoctrineBridge

#61823 [Validator] Reviewed and corrected Ukrainian translations for the Val…
  src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf
Labels: Validator, Status: Reviewed

#60902 [TwigBridgeRessources] add aria-invalid and aria-describedby on form inputs when validation failure exist
  src/Symfony/Bridge/Twig/CHANGELOG.md
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_horizontal_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_horizontal_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_5_horizontal_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_5_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/form_table_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/foundation_5_layout.html.twig
  src/Symfony/Bridge/Twig/Resources/views/Form/tailwind_2_layout.html.twig
Labels: Feature, Status: Reviewed

#61824 [Config][DependencyInjection][HttpFoundation][Security] declare new method parameters explicitly
  UPGRADE-8.0.md
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/Builder/NodeBuilder.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/ContainerBuilder.php
  src/Symfony/Component/HttpFoundation/CHANGELOG.md
  src/Symfony/Component/HttpFoundation/Request.php
  src/Symfony/Component/Security/Core/Authorization/Strategy/AccessDecisionStrategyInterface.php
  src/Symfony/Component/Security/Core/CHANGELOG.md
Labels: Security, DependencyInjection, HttpFoundation, Config, Status: Needs Review

#61826 [Validator] allow the asterisk to be passed as a string
  src/Symfony/Component/Validator/Constraints/Url.php
  src/Symfony/Component/Validator/Tests/Constraints/UrlTest.php
Labels: Validator, Status: Reviewed

#61791 [Validator] deprecate implicit constraint option names in YAML/XML mapping files
  UPGRADE-7.4.md
  src/Symfony/Bundle/FrameworkBundle/Tests/Fixtures/Validation/Resources/categories.yml
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Mapping/Loader/AbstractLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/XmlFileLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping-value-option.xml
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping-value-option.yml
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping.xml
  src/Symfony/Component/Validator/Tests/Mapping/Loader/constraint-mapping.yml
Labels: Validator, Status: Reviewed, Deprecation

#61807 [Uid] Add `MockUuidFactory` for deterministic UUID generation in tests
  src/Symfony/Component/Uid/CHANGELOG.md
  src/Symfony/Component/Uid/Factory/MockUuidFactory.php
  src/Symfony/Component/Uid/Tests/Factory/MockUuidFactoryTest.php
Labels: Feature, Status: Reviewed, Uid

#61840 [Console] fix transient Console output related test
  src/Symfony/Component/Console/Tests/Helper/ProcessHelperTest.php
Labels: Console, Status: Reviewed

#61848 [MonologBridge] remove the deprecated NotFoundActivationStrategy class
  UPGRADE-8.0.md
  src/Symfony/Bridge/Monolog/CHANGELOG.md
  src/Symfony/Bridge/Monolog/Handler/FingersCrossed/NotFoundActivationStrategy.php
  src/Symfony/Bridge/Monolog/Tests/Handler/FingersCrossed/NotFoundActivationStrategyTest.php
  src/Symfony/Bridge/Monolog/composer.json
Labels: Feature, MonologBridge, Status: Reviewed

#61850 [Validator] remove support for passing associative arrays to GroupSequence
  UPGRADE-8.0.md
  src/Symfony/Component/Validator/CHANGELOG.md
  src/Symfony/Component/Validator/Constraints/GroupSequence.php
  src/Symfony/Component/Validator/Tests/Constraints/GroupSequenceTest.php
Labels: Validator, Feature, Status: Needs Review

#61853 [Validator] clean up the XML schema definition
  src/Symfony/Component/Validator/Mapping/Loader/XmlFileLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/YamlFileLoader.php
  src/Symfony/Component/Validator/Mapping/Loader/schema/dic/constraint-mapping/constraint-mapping-1.0.xsd
Labels: Validator, Status: Reviewed

#61856 [Console] do not pass the empty string to ord()
  src/Symfony/Component/Console/Helper/QuestionHelper.php
Labels: Console, Status: Reviewed

#61869 [JsonPath] do not pass more than one byte to ord()
  src/Symfony/Component/JsonPath/Tokenizer/JsonPathTokenizer.php
Labels: Bug, Status: Reviewed, JsonPath

#61870 [JsonPath] Add @alexandre-daubois as code owner
  .github/CODEOWNERS
Labels: Status: Reviewed, JsonPath

#61862 [HttpKernel] Remove legacy BC layer
  src/Symfony/Component/HttpKernel/EventListener/DebugHandlersListener.php
Labels: HttpKernel, Status: Reviewed

#61858 [Config] Config builders should accept booleans for array nodes that can be enabled or disabled
  src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayValues/Symfony/Config/ArrayValuesConfig.php
Labels: Bug, Config, Status: Reviewed

#61884 do not use deprecated PHPUnit features
  src/Symfony/Component/DependencyInjection/Tests/Compiler/MergeExtensionConfigurationPassTest.php
  src/Symfony/Component/Routing/Tests/Loader/DirectoryLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/XmlFileLoaderTest.php
  src/Symfony/Component/Routing/Tests/Loader/YamlFileLoaderTest.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableEncoderTest.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableNormalizerTest.php
  src/Symfony/Component/Serializer/Tests/Debug/TraceableSerializerTest.php
  src/Symfony/Component/Translation/Tests/Loader/XliffFileLoaderTest.php
  src/Symfony/Component/VarDumper/Tests/Dumper/ContextualizedDumperTest.php
Labels: Status: Reviewed

#61879 [Config] Add array-shapes to generated config builders
  src/Symfony/Component/Config/Builder/ArrayShapeGenerator.php
  src/Symfony/Component/Config/Builder/ConfigBuilderGenerator.php
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/NumericNode.php
  src/Symfony/Component/Config/Tests/Builder/ArrayShapeGeneratorTest.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Messenger/ReceivingConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Messenger/RoutingConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/MessengerConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Translator/Books/PageConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/Translator/BooksConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToList/TranslatorConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/AddToList/Symfony/Config/AddToListConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeys/BarConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeys/BazConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeys/FooConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayExtraKeys/Symfony/Config/ArrayExtraKeysConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayValues/Symfony/Config/ArrayValues/ErrorPagesConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayValues/Symfony/Config/ArrayValues/TransportsConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ArrayValues/Symfony/Config/ArrayValuesConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues/Symfony/Config/NodeInitialValues/Messenger/TransportsConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues/Symfony/Config/NodeInitialValues/MessengerConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues/Symfony/Config/NodeInitialValues/SomeCleverNameConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/NodeInitialValues/Symfony/Config/NodeInitialValuesConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/Placeholders/Symfony/Config/PlaceholdersConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/PrimitiveTypes/Symfony/Config/PrimitiveTypesConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/KeyedListObjectConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/ListObjectConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/Nested/NestedListObjectConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/Nested/NestedObjectConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/NestedConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypes/ObjectConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/ScalarNormalizedTypes/Symfony/Config/ScalarNormalizedTypesConfig.php
  src/Symfony/Component/Config/Tests/Builder/Fixtures/VariableType/Symfony/Config/VariableTypeConfig.php
Labels: Config, Status: Reviewed

#61888 [FrameworkBundle] remove deprecated --show-arguments from debug:container command
  UPGRADE-8.0.md
  src/Symfony/Bundle/FrameworkBundle/Command/ContainerDebugCommand.php
  src/Symfony/Bundle/FrameworkBundle/Tests/Functional/ContainerDebugCommandTest.php
Labels: FrameworkBundle, Status: Reviewed, Deprecation

#61874 [Scheduler] Don’t get next run date from `null`
  src/Symfony/Component/Scheduler/Generator/MessageGenerator.php
  src/Symfony/Component/Scheduler/Tests/Generator/MessageGeneratorTest.php
Labels: Bug, Status: Needs Review, Scheduler

#61863 [PhpUnitBridge] Move Doctrine deprecations setup to extension
  src/Symfony/Bridge/PhpUnit/SymfonyExtension.php
  src/Symfony/Bridge/PhpUnit/bootstrap.php
Labels: PhpUnitBridge, Status: Reviewed

#61860 [Config][DependencyInjection][Routing] Deprecate using `$this` or the internal scope of the loader from PHP config files
  UPGRADE-7.4.md
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/argon2i_hasher.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/bcrypt_hasher.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/merge.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/migrating_hasher.php
  src/Symfony/Bundle/SecurityBundle/Tests/DependencyInjection/Fixtures/php/sodium_hasher.php
  src/Symfony/Component/Config/CHANGELOG.md
  src/Symfony/Component/Config/Definition/Loader/DefinitionFileLoader.php
  src/Symfony/Component/Config/Tests/Definition/Loader/DefinitionFileLoaderTest.php
  src/Symfony/Component/Config/Tests/Fixtures/Loader/legacy_internal_scope.php
  src/Symfony/Component/DependencyInjection/CHANGELOG.md
  src/Symfony/Component/DependencyInjection/Loader/PhpFileLoader.php
  src/Symfony/Component/DependencyInjection/Tests/Fixtures/config/legacy_internal_scope.php
  src/Symfony/Component/DependencyInjection/Tests/Loader/PhpFileLoaderTest.php
  src/Symfony/Component/Routing/CHANGELOG.md
  src/Symfony/Component/Routing/Loader/PhpFileLoader.php
  src/Symfony/Component/Routing/Tests/Fixtures/legacy_internal_scope.php
  src/Symfony/Component/Routing/Tests/Loader/PhpFileLoaderTest.php
Labels: DependencyInjection, Feature, Routing, Config, Status: Needs Review

#61897 [Validator] Review and fix Czech translations
  src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf
Labels: Validator, Status: Needs Review
